Repository duneanalytics/spellbook, changes with the labels that .github/labeler.yml gives for each.
All labels: dbt: daily, dbt: dex, dbt: hourly, dbt: nft, dbt: solana, dbt: tokens

.github/labeler.yml:

"dbt: daily":
- changed-files:
    - any-glob-to-any-file: 'dbt_subprojects/daily_spellbook/**'

"dbt: dex":
- changed-files:
    - any-glob-to-any-file: 'dbt_subprojects/dex/**'

"dbt: hourly":
- changed-files:
    - any-glob-to-any-file: 'dbt_subprojects/hourly_spellbook/**'

"dbt: nft":
- changed-files:
    - any-glob-to-any-file: 'dbt_subprojects/nft/**'

"dbt: solana":
- changed-files:
    - any-glob-to-any-file: 'dbt_subprojects/solana/**'

"dbt: tokens":
- changed-files:
    - any-glob-to-any-file: 'dbt_subprojects/tokens/**'

add simple tokens readme
  dbt_subprojects/tokens/README.md
Labels: dbt: tokens

init ethereum RWA balances
  dbt_subprojects/daily_spellbook/models/_sector/rwa/ethereum/rwa_ethereum_balances.sql
  dbt_subprojects/daily_spellbook/models/_sector/rwa/ethereum/rwa_ethereum_schema.yml
  dbt_subprojects/tokens/models/tokens/ethereum/tokens_ethereum_rwa.sql
  dbt_subprojects/tokens/models/tokens/ethereum/tokens_ethereum_schema.yml
  sources/_subprojects_outputs/tokens/_sources.yml
Labels: dbt: daily, dbt: tokens

name change
  dbt_subprojects/daily_spellbook/models/_sector/rwa/ethereum/rwa_ethereum_schema.yml
  dbt_subprojects/tokens/models/tokens/ethereum/tokens_ethereum_rwa.sql
Labels: dbt: daily, dbt: tokens

feat: add apeiron token to ronin erc20
  dbt_subprojects/tokens/models/tokens/ronin/tokens_ronin_erc20.sql
Labels: dbt: tokens

Update tokens_ronin_erc20.sql
  dbt_subprojects/tokens/models/tokens/ronin/tokens_ronin_erc20.sql
Labels: dbt: tokens

Update dex_info.sql
  dbt_subprojects/dex/models/dex_info.sql
Labels: dbt: dex

Update _schema.yml
  dbt_subprojects/dex/models/trades/polygon/_schema.yml
Labels: dbt: dex

Update dex_polygon_base_trades.sql
  dbt_subprojects/dex/models/trades/polygon/dex_polygon_base_trades.sql
Labels: dbt: dex

Create gravity_finance_polygon_base_trades.sql
  dbt_subprojects/dex/models/trades/polygon/platforms/gravity_finance_polygon_base_trades.sql
Labels: dbt: dex

Update _schema.yml
  dbt_subprojects/dex/seeds/trades/_schema.yml
Labels: dbt: dex

Create gravity_finance_polygon_base_trades_seed.csv
  dbt_subprojects/dex/seeds/trades/gravity_finance_polygon_base_trades_seed.csv
Labels: dbt: dex

Update _sources.yml
  sources/_sector/dex/trades/polygon/_sources.yml
Labels: none

add amount_usd to the main model
  dbt_subprojects/daily_spellbook/models/_projects/bungee/bungee_bridges.sql
Labels: dbt: daily

add flag
  dbt_subprojects/daily_spellbook/README.md
  dbt_subprojects/dex/README.md
  dbt_subprojects/tokens/dbt_project.yml
Labels: dbt: daily, dbt: dex, dbt: tokens

add flag (#7327)
  dbt_subprojects/daily_spellbook/README.md
  dbt_subprojects/dex/README.md
  dbt_subprojects/tokens/dbt_project.yml
Labels: dbt: daily, dbt: dex, dbt: tokens

add require_certificate_validation flags
  dbt_subprojects/daily_spellbook/dbt_project.yml
  dbt_subprojects/dex/dbt_project.yml
  dbt_subprojects/hourly_spellbook/dbt_project.yml
  dbt_subprojects/nft/dbt_project.yml
  dbt_subprojects/solana/dbt_project.yml
Labels: dbt: daily, dbt: dex, dbt: hourly, dbt: nft, dbt: solana

add require_certificate_validation flags (#7328)
  dbt_subprojects/daily_spellbook/dbt_project.yml
  dbt_subprojects/dex/dbt_project.yml
  dbt_subprojects/hourly_spellbook/dbt_project.yml
  dbt_subprojects/nft/dbt_project.yml
  dbt_subprojects/solana/dbt_project.yml
Labels: dbt: daily, dbt: dex, dbt: hourly, dbt: nft, dbt: solana

Update gravity_finance_polygon_base_trades_seed.csv
  dbt_subprojects/dex/seeds/trades/gravity_finance_polygon_base_trades_seed.csv
Labels: dbt: dex

Update gravity_finance_polygon_base_trades_seed.csv
  dbt_subprojects/dex/seeds/trades/gravity_finance_polygon_base_trades_seed.csv
Labels: dbt: dex

test rerun of erc4626_token_prices
  dbt_subprojects/hourly_spellbook/models/_project/balancer/erc4626_tokens/ethereum/balancer_v3_ethereum_erc4626_token_prices.sql
  dbt_subprojects/hourly_spellbook/models/_project/balancer/erc4626_tokens/gnosis/balancer_v3_gnosis_erc4626_token_prices.sql
Labels: dbt: hourly

fix group by
  dbt_subprojects/hourly_spellbook/models/_project/balancer/erc4626_tokens/ethereum/balancer_v3_ethereum_erc4626_token_prices.sql
  dbt_subprojects/hourly_spellbook/models/_project/balancer/erc4626_tokens/gnosis/balancer_v3_gnosis_erc4626_token_prices.sql
Labels: dbt: hourly

Update oneinch_mapped_contracts_macro.sql
  dbt_subprojects/daily_spellbook/macros/project/oneinch/_meta/oneinch_mapped_contracts_macro.sql
Labels: dbt: daily

add arkham exchange
  dbt_subprojects/hourly_spellbook/models/_sector/cex/addresses/chains/bitcoin/cex_bitcoin_addresses.sql
  dbt_subprojects/hourly_spellbook/models/_sector/cex/addresses/chains/cex_evms_addresses.sql
Labels: dbt: hourly

Add apeiron token to ronin erc20 (#7323)
  dbt_subprojects/tokens/models/tokens/ronin/tokens_ronin_erc20.sql
Labels: dbt: tokens

Update oneinch_mapped_contracts_macro.sql (#7330)
  dbt_subprojects/daily_spellbook/macros/project/oneinch/_meta/oneinch_mapped_contracts_macro.sql
Labels: dbt: daily

Continue work of PR #7255, add amount_usd to the main model (#7325)
  dbt_subprojects/daily_spellbook/models/_projects/bungee/bungee_bridges.sql
Labels: dbt: daily

Balance improvements (#7290)
  dbt_macros/shared/balances_incremental_subset_daily.sql
  dbt_subprojects/daily_spellbook/models/_projects/safe/balances/_schema.yml
  dbt_subprojects/daily_spellbook/models/_projects/safe/balances/safe_arbitrum_balances.sql
  dbt_subprojects/daily_spellbook/models/_projects/safe/balances/safe_avalanche_c_balances.sql
  dbt_subprojects/daily_spellbook/models/_projects/safe/balances/safe_base_balances.sql
  dbt_subprojects/daily_spellbook/models/_projects/safe/balances/safe_ethereum_balances.sql
  dbt_subprojects/daily_spellbook/models/_projects/safe/balances/safe_linea_balances.sql
  dbt_subprojects/daily_spellbook/models/_projects/safe/balances/safe_optimism_balances.sql
  dbt_subprojects/daily_spellbook/models/_projects/safe/balances/safe_polygon_balances.sql
  dbt_subprojects/daily_spellbook/models/_projects/safe/balances/safe_scroll_balances.sql
  dbt_subprojects/hourly_spellbook/models/_project/safe/arbitrum/safe_arbitrum_schema.yml
  dbt_subprojects/hourly_spellbook/models/_project/safe/avalanche_c/safe_avalanche_c_schema.yml
  dbt_subprojects/hourly_spellbook/models/_project/safe/base/safe_base_schema.yml
  dbt_subprojects/hourly_spellbook/models/_project/safe/ethereum/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_project/safe/linea/safe_linea_schema.yml
  dbt_subprojects/hourly_spellbook/models/_project/safe/optimism/safe_optimism_schema.yml
  dbt_subprojects/hourly_spellbook/models/_project/safe/polygon/safe_polygon_schema.yml
  dbt_subprojects/hourly_spellbook/models/_project/safe/scroll/safe_scroll_schema.yml
  sources/_subprojects_outputs/hourly_spellbook/_sources.yml
Labels: dbt: daily, dbt: hourly

Update dbt_subprojects/dex/models/trades/ethereum/platforms/fluid_v1_ethereum_base_trades.sql
  dbt_subprojects/dex/models/trades/ethereum/platforms/fluid_v1_ethereum_base_trades.sql
Labels: dbt: dex

Update _schema.yml
  dbt_subprojects/hourly_spellbook/models/_project/balancer/erc4626_tokens/ethereum/_schema.yml
Labels: dbt: hourly

Update _schema.yml
  dbt_subprojects/hourly_spellbook/models/_project/balancer/erc4626_tokens/gnosis/_schema.yml
Labels: dbt: hourly

Update _schema.yml
  dbt_subprojects/hourly_spellbook/models/_project/balancer/erc4626_tokens/_schema.yml
Labels: dbt: hourly

Update balancer_v3_ethereum_erc4626_token_prices.sql
  dbt_subprojects/hourly_spellbook/models/_project/balancer/erc4626_tokens/ethereum/balancer_v3_ethereum_erc4626_token_prices.sql
Labels: dbt: hourly

Update balancer_v3_gnosis_erc4626_token_prices.sql
  dbt_subprojects/hourly_spellbook/models/_project/balancer/erc4626_tokens/gnosis/balancer_v3_gnosis_erc4626_token_prices.sql
Labels: dbt: hourly

Update balancer_v3_erc4626_token_prices.sql
  dbt_subprojects/hourly_spellbook/models/_project/balancer/erc4626_tokens/balancer_v3_erc4626_token_prices.sql
Labels: dbt: hourly

Update _schema for balancer models (#7331)
  dbt_subprojects/hourly_spellbook/models/_project/balancer/erc4626_tokens/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_project/balancer/erc4626_tokens/balancer_v3_erc4626_token_prices.sql
  dbt_subprojects/hourly_spellbook/models/_project/balancer/erc4626_tokens/ethereum/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_project/balancer/erc4626_tokens/ethereum/balancer_v3_ethereum_erc4626_token_prices.sql
  dbt_subprojects/hourly_spellbook/models/_project/balancer/erc4626_tokens/gnosis/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_project/balancer/erc4626_tokens/gnosis/balancer_v3_gnosis_erc4626_token_prices.sql
Labels: dbt: hourly

add celo back to schema yml file
  dbt_subprojects/daily_spellbook/models/_metrics/transactions/chains/evm/_schema.yml
Labels: dbt: daily

update furucombo name on gc and arbitrum
  dbt_subprojects/hourly_spellbook/models/_project/cow_protocol/arbitrum/cow_protocol_arbitrum_solvers.sql
  dbt_subprojects/hourly_spellbook/models/_project/cow_protocol/gnosis/cow_protocol_gnosis_solvers.sql
Labels: dbt: hourly

Update dbt_subprojects/dex/models/trades/polygon/_schema.yml
  dbt_subprojects/dex/models/trades/polygon/_schema.yml
Labels: dbt: dex

batman
  dbt_subprojects/daily_spellbook/models/babylon/bitcoin/babylon_bitcoin_finality_providers.sql
  dbt_subprojects/daily_spellbook/models/babylon/bitcoin/schema.yml
Labels: dbt: daily

comment fix
  dbt_subprojects/daily_spellbook/models/babylon/bitcoin/babylon_bitcoin_finality_providers.sql
Labels: dbt: daily
