Repository duneanalytics/spellbook, changes with the labels that .github/labeler.yml gives for each.
All labels: dbt: daily, dbt: dex, dbt: hourly, dbt: nft, dbt: solana, dbt: tokens

yaml fixes
  dbt_subprojects/daily_spellbook/models/babylon/bitcoin/schema.yml
Labels: dbt: daily

by the rivers of babylon
  dbt_subprojects/daily_spellbook/models/babylon/bitcoin/babylon_bitcoin_staking_outputs.sql
Labels: dbt: daily

incremental attempt
  dbt_subprojects/daily_spellbook/models/babylon/bitcoin/babylon_bitcoin_staking_outputs.sql
  dbt_subprojects/daily_spellbook/models/babylon/bitcoin/schema.yml
Labels: dbt: daily

minor fixes, incremental fix
  dbt_subprojects/daily_spellbook/models/babylon/bitcoin/babylon_bitcoin_staking_outputs.sql
  dbt_subprojects/daily_spellbook/models/babylon/bitcoin/schema.yml
Labels: dbt: daily

typo fix
  dbt_subprojects/daily_spellbook/models/babylon/bitcoin/babylon_bitcoin_staking_outputs.sql
Labels: dbt: daily

prayers
  dbt_subprojects/daily_spellbook/models/babylon/bitcoin/babylon_bitcoin_staking_outputs.sql
Labels: dbt: daily

another typo
  dbt_subprojects/daily_spellbook/models/babylon/bitcoin/babylon_bitcoin_staking_outputs.sql
Labels: dbt: daily

literal facepalm
  dbt_subprojects/daily_spellbook/models/babylon/bitcoin/babylon_bitcoin_staking_outputs.sql
Labels: dbt: daily

can't keep facepalming
  dbt_subprojects/daily_spellbook/models/babylon/bitcoin/babylon_bitcoin_staking_outputs.sql
Labels: dbt: daily

add seed test
  dbt_subprojects/daily_spellbook/models/babylon/bitcoin/schema.yml
  dbt_subprojects/daily_spellbook/seeds/babylon/bitcoin/babylon_bitcoin_staking_outputs_seed.csv
  dbt_subprojects/daily_spellbook/seeds/babylon/bitcoin/schema.yml
Labels: dbt: daily

rename schema
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/platforms/nova_solana_bot_trades.sql
Labels: dbt: solana

chore: add openocean aggregator trades
  dbt_subprojects/dex/models/bot_trades/flokibot/ethereum/flokibot_ethereum_bot_trades.sql
Labels: dbt: dex

fix: fix table name
  dbt_subprojects/dex/models/bot_trades/flokibot/ethereum/flokibot_ethereum_bot_trades.sql
Labels: dbt: dex

fix: add missing sources
  sources/openocean/ethereum/openocean_ethereum_sources.yml
Labels: none

Update prices_avalanche_c_tokens.sql
  dbt_subprojects/tokens/models/prices/avalanche_c/prices_avalanche_c_tokens.sql
Labels: dbt: tokens

add sanji
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/_schema.yml
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/platforms/sanji_solana_bot_trades.sql
  dbt_subprojects/solana/seeds/sanji/sanji_solana_trades_seed.csv
Labels: dbt: solana

fixed seed
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/dex_solana_bot_trades.sql
  dbt_subprojects/solana/seeds/sanji/sanji_solana_trades_seed.csv
Labels: dbt: solana

create labels and sources
  dbt_subprojects/daily_spellbook/models/_sector/labels/addresses/__single_category_labels__/beethoven_x/labels_beethoven_x_pools_sonic.sql
  dbt_subprojects/daily_spellbook/models/_sector/labels/addresses/__single_category_labels__/beethoven_x/labels_beethoven_x_schema.yml
  sources/beethoven_x/sonic/beethoven_x_sonic_sources.yml
Labels: dbt: daily

Update prices_avalanche_c_tokens.sql
  dbt_subprojects/tokens/models/prices/avalanche_c/prices_avalanche_c_tokens.sql
Labels: dbt: tokens

Update prices_avalanche_c_tokens.sql
  dbt_subprojects/tokens/models/prices/avalanche_c/prices_avalanche_c_tokens.sql
Labels: dbt: tokens

.github/labeler.yml:

"dbt: daily":
- changed-files:
    - any-glob-to-any-file: 'dbt_subprojects/daily_spellbook/**'

"dbt: dex":
- changed-files:
    - any-glob-to-any-file: 'dbt_subprojects/dex/**'

"dbt: hourly":
- changed-files:
    - any-glob-to-any-file: 'dbt_subprojects/hourly_spellbook/**'

"dbt: nft":
- changed-files:
    - any-glob-to-any-file: 'dbt_subprojects/nft/**'

"dbt: solana":
- changed-files:
    - any-glob-to-any-file: 'dbt_subprojects/solana/**'

"dbt: tokens":
- changed-files:
    - any-glob-to-any-file: 'dbt_subprojects/tokens/**'
