Repository duneanalytics/spellbook, pull requests merged in 2022-09, with the labels that each got.

#1460 Tornado Cash: Fix sources, lowercase and improve materialization strategy
  macros/alter_table_properties.sql
  models/ens/ens_ethereum_sources.yml
  models/sudoswap/ethereum/sudoswap_ethereum_sources.yml
  models/tornado_cash/tornado_cash_deposits.sql
  models/tornado_cash/tornado_cash_schema.yml
  models/tornado_cash/tornado_cash_sources.yml
  models/tornado_cash/tornado_cash_withdrawals.sql
  models/uniswap/ethereum/uniswap_ethereum_sources.yml
  models/uniswap/optimism/uniswap_optimism_sources.yml
Labels: v2_engine

#1479 Update avalanche identifier
  macros/alter_table_properties.sql
  models/nft/avalanche/nft_avalanche_schema.yml
Labels: v2_engine

#1437 sudoswap improved price calculations
  README.md
  dbt_project.yml
  models/nft/nft_schema.yml
  models/sudoswap/ethereum/sudoswap_ethereum_events.sql
  models/sudoswap/ethereum/sudoswap_ethereum_schema.yml
  models/sudoswap/ethereum/sudoswap_ethereum_sources.yml
  seeds/sudoswap/sudoswap_ethereum_example_trades.csv
  tests/sudoswap/ethereum/sudoswap_ethereum_assert_samples.sql
Labels: v2_engine

#1496 Replace OpenSea's `Buy Now` with `Buy` for consistency with other marketplaces
  models/seaport/ethereum/seaport_ethereum_schema.yml
  models/seaport/ethereum/seaport_ethereum_transfers.sql
  models/seaport/ethereum/seaport_ethereum_view_transactions.sql
Labels: v2_engine

#1473 Add Archipelago market to nft.trades
  dbt_project.yml
  macros/alter_table_properties.sql
  macros/optimize_tables.sql
  models/archipelago/ethereum/archipelago_ethereum_events.sql
  models/archipelago/ethereum/archipelago_ethereum_fees.sql
  models/archipelago/ethereum/archipelago_ethereum_schema.yml
  models/archipelago/ethereum/archipelago_ethereum_sources.yml
  models/archipelago/ethereum/archipelago_ethereum_trades.sql
  models/nft/nft_events.sql
  models/nft/nft_fees.sql
  models/nft/nft_trades.sql
  tests/archipelago/ethereum/archipelago_ethereum_assert_trades.sql
Labels: v2_engine

#1477 [Easy] Add missing tokens
  deprecated-dune-v1-abstractions/ethereum/erc20/tokens.sql
  models/tokens/ethereum/tokens_ethereum_erc20.sql
Labels: v2_engine

#1434 Adding aave interests abstraction in Dune v2
  dbt_project.yml
  models/aave/ethereum/aave_ethereum_schema.yml
  models/aave/ethereum/aave_ethereum_sources.yml
  models/aave/ethereum/aave_v2_ethereum_interest_rates.sql
  tests/aave/ethereum/aave_interests_test.sql
Labels: v2_engine

#1457 Add nft linked addresses
  dbt_project.yml
  macros/alter_table_properties.sql
  models/nft/nft_linked_addresses.sql
  models/nft/nft_schema.yml
  seeds/nft/nft_linked_addresses_postgres.csv
  tests/nft/nft_linked_addresses_assert.sql
Labels: v2_engine

#1517 remove uniqueness test on hash for optimism transactions
  models/base_sources/optimism_base_sources.yml
Labels: v2_engine

#1442 migrating view_pools for curvefi on ethereum to spellbook
  dbt_project.yml
  models/base_sources/ethereum_base_sources.yml
  models/curvefi/ethereum/curvefi_ethereum_pool_details.sql
  models/curvefi/ethereum/curvefi_ethereum_schema.yml
  models/curvefi/ethereum/curvefi_ethereum_sources.yml
  models/curvefi/ethereum/curvefi_ethereum_view_pools.sql
  seeds/curvefi/ethereum/curvefi_ethereum_view_pools_postgres.csv
  tests/curvefi/ethereum/curvefi_ethereum_view_pools_test.sql
Labels: v2_engine

#1512 Add static cex labels
  dbt_project.yml
  models/labels/cex/labels_cex.sql
  models/labels/cex/labels_cex_ethereum.sql
  models/labels/cex/labels_cex_schema.yml
  models/labels/labels_all.sql
  models/labels/labels_all_schema.yml
Labels: v2_engine

#1513 Add query nft trades labels
  dbt_project.yml
  models/labels/labels_all.sql
  models/labels/labels_all_schema.yml
  models/labels/nft/labels_nft.sql
  models/labels/nft/labels_nft_schema.yml
  models/labels/nft/labels_nft_traders_transactions.sql
  models/labels/nft/labels_nft_traders_volume_usd.sql
  models/labels/nft/labels_nft_users_platforms.sql
Labels: v2_engine

#1531 fix block_number in seed causing issues with sudoswap tests
  dbt_project.yml
  seeds/sudoswap/sudoswap_ethereum_example_trades.csv
  tests/sudoswap/ethereum/sudoswap_ethereum_assert_samples.sql
Labels: v2_engine

#1530 T 16269 possible fix
  models/balances/ethereum/balances_ethereum_schema.yml
  models/balances/ethereum/erc721/balances_ethereum_erc721_day.sql
  models/balances/ethereum/erc721/balances_ethereum_erc721_hour.sql
  models/balances/ethereum/erc721/balances_ethereum_erc721_latest.sql
  models/transfers/ethereum/erc721/transfers_ethereum_erc721_agg_day.sql
  models/transfers/ethereum/erc721/transfers_ethereum_erc721_agg_hour.sql
  models/transfers/ethereum/erc721/transfers_ethereum_erc721_rolling_day.sql
  models/transfers/ethereum/erc721/transfers_ethereum_erc721_rolling_hour.sql
  models/transfers/ethereum/transfers_ethereum_schema.yml
Labels: v2_engine

#1525 WIP T 16269 broken erc721 balances tables
  models/balances/ethereum/balances_ethereum_schema.yml
  models/balances/ethereum/erc721/balances_ethereum_erc721_day.sql
  models/balances/ethereum/erc721/balances_ethereum_erc721_hour.sql
  models/balances/ethereum/erc721/balances_ethereum_erc721_latest.sql
  models/transfers/ethereum/erc721/transfers_ethereum_erc721.sql
  models/transfers/ethereum/erc721/transfers_ethereum_erc721_agg_day.sql
  models/transfers/ethereum/erc721/transfers_ethereum_erc721_agg_hour.sql
  models/transfers/ethereum/erc721/transfers_ethereum_erc721_rolling_day.sql
  models/transfers/ethereum/erc721/transfers_ethereum_erc721_rolling_hour.sql
  models/transfers/ethereum/transfers_ethereum_schema.yml
  tests/balances/ethereum/balances_ethereum_erc721_day_assert_nomultipleholders.sql
  tests/balances/ethereum/balances_ethereum_erc721_hour_assert_nomultipleholders.sql
Labels: v2_engine

#1526 AB details table
  dbt_project.yml
  models/nft/ethereum/metadata/nft_ethereum_metadata.yml
  models/nft/ethereum/metadata/nft_ethereum_metadata_art_blocks_collections.sql
  models/nft/ethereum/metadata/nft_ethereum_metadata_ringers.sql
  models/nft/ethereum/nft_ethereum_schema.yml
Labels: v2_engine

#1523 Add cryptopunks to engine v2 + extend generic test framework
  dbt_project.yml
  macros/alter_table_properties.sql
  macros/optimize_tables.sql
  models/cryptopunks/ethereum/cryptopunks_ethereum_events.sql
  models/cryptopunks/ethereum/cryptopunks_ethereum_schema.yml
  models/cryptopunks/ethereum/cryptopunks_ethereum_sources.yml
  models/cryptopunks/ethereum/cryptopunks_ethereum_trades.sql
  models/nft/nft_events.sql
  models/nft/nft_trades.sql
  seeds/cryptopunks/cryptopunks_trades_buys_bids_seed.csv
  tests/generic/compare_column_values_to_seed_values.sql
Labels: v2_engine

#1538 Remove erc20 join that causes duplicate entries
  models/cryptopunks/ethereum/cryptopunks_ethereum_events.sql
Labels: v2_engine

#1535 Add gnosis safe airdrop address data
  dbt_project.yml
  macros/alter_table_properties.sql
  models/addresses/ethereum/addresses_ethereum_safe_airdrop.sql
Labels: v2_engine

#1537 BNB NFTs
  macros/alter_table_properties.sql
  models/tokens/bnb/tokens_bnb_nft.sql
  models/tokens/bnb/tokens_bnb_schema.yml
  models/tokens/tokens_nft.sql
Labels: v2_engine

#1549 Update labels_submitted_contracts.sql
  models/labels/submitted_contracts/labels_submitted_contracts.sql
Labels: v2_engine

#1543 Add Foundation NFT Marketplace
  dbt_project.yml
  macros/alter_table_properties.sql
  macros/optimize_tables.sql
  models/foundation/ethereum/foundation_ethereum_burns.sql
  models/foundation/ethereum/foundation_ethereum_events.sql
  models/foundation/ethereum/foundation_ethereum_fees.sql
  models/foundation/ethereum/foundation_ethereum_mints.sql
  models/foundation/ethereum/foundation_ethereum_schema.yml
  models/foundation/ethereum/foundation_ethereum_sources.yml
  models/foundation/ethereum/foundation_ethereum_trades.sql
  models/nft/nft_burns.sql
  models/nft/nft_events.sql
  models/nft/nft_fees.sql
  models/nft/nft_mints.sql
  models/nft/nft_trades.sql
  tests/foundation/ethereum/foundation_ethereum_assert_trades.sql
Labels: v2_engine

#1587 V2: Add CoW Protocol Batches
  macros/alter_table_properties.sql
  macros/optimize_tables.sql
  models/cow_protocol/ethereum/cow_protocol_ethereum_batches.sql
  models/cow_protocol/ethereum/cow_protocol_ethereum_schema.yml
  models/cow_protocol/ethereum/cow_protocol_ethereum_sources.yml
Labels: v2_engine

#1596 dont make views of new dependencies
  scripts/pr_job_utils.py
Labels: v2_engine

#1591 [CoW] Consolidate <network>_trades table and conform to dex_trades
  models/cow_protocol/cow_protocol_trades.sql
  models/cow_protocol/cow_protocol_trades_schema.yml
  models/cow_protocol/ethereum/cow_protocol_ethereum_trades.sql
Labels: v2_engine

#1472 Create a perpetuals swaps/trades aggregated table on Dune V2
  dbt_project.yml
  macros/optimize_tables.sql
  models/perpetual/perpetual_schema.yml
  models/perpetual/perpetual_trades.sql
  models/perpetual_protocol/optimism/perpetual_protocol_optimism_schema.yml
  models/perpetual_protocol/optimism/perpetual_protocol_optimism_sources.yml
  models/perpetual_protocol/optimism/perpetual_protocol_optimism_trades.sql
  models/perpetual_protocol/optimism/perpetual_protocol_v2_optimism_trades.sql
  models/perpetual_protocol/perpetual_protocol_schema.yml
  models/perpetual_protocol/perpetual_protocol_trades.sql
  models/pika/optimism/pika_optimism_schema.yml
  models/pika/optimism/pika_optimism_sources.yml
  models/pika/optimism/pika_optimism_trades.sql
  models/pika/optimism/pika_v1_optimism_trades.sql
  models/pika/optimism/pika_v2_optimism_trades.sql
  models/pika/optimism/pika_v3_optimism_trades.sql
  models/pika/pika_trades.sql
  models/pika/pika_trades_schema.yml
  models/synthetix/optimism/synthetix_optimism_schema.yml
  models/synthetix/optimism/synthetix_optimism_sources.yml
  models/synthetix/optimism/synthetix_optimism_trades.sql
  models/synthetix/synthetix_schema.yml
  models/synthetix/synthetix_trades.sql
  seeds/perpetual/trades/perpetual_trades_seed.csv
  tests/generic/perpetual_trades_market_address.sql
Labels: v2_engine

#1626 [Easy] Add block_date to both trades and batches
  models/cow_protocol/cow_protocol_trades.sql
  models/cow_protocol/cow_protocol_trades_schema.yml
  models/cow_protocol/ethereum/cow_protocol_ethereum_batches.sql
  models/cow_protocol/ethereum/cow_protocol_ethereum_schema.yml
  models/cow_protocol/ethereum/cow_protocol_ethereum_trades.sql
Labels: v2_engine

#1628 [Prices] Add wstETH, rETH and TEMPLE
  models/prices/prices_tokens.sql
Labels: enhancement, easy, v2_engine

#1636 Add some more aggregators
  models/nft/ethereum/nft_ethereum_aggregators.sql
Labels: v2_engine

#1638 [Bug] select LOWER missing on token tables
  models/prices/prices_tokens.sql
  models/tokens/ethereum/tokens_ethereum_erc20.sql
  models/tokens/gnosis/tokens_gnosis_erc20.sql
Labels: bug

#1583 Add Curvefi to dex.trades on Spellbook
  macros/optimize_tables.sql
  models/curvefi/ethereum/curvefi_ethereum_schema.yml
  models/curvefi/ethereum/curvefi_ethereum_sources.yml
  models/curvefi/ethereum/curvefi_ethereum_trades.sql
  models/dex/dex_trades.sql
  scripts/pr_job_utils.py
  seeds/dex/trades/dex_trades_seed.csv
Labels: v2_engine

#1640 update/upgrade sources for contract labels
  models/base_sources/arbitrum_base_sources.yml
  models/base_sources/avalanche_c_base_sources.yml
  models/base_sources/bnb_base_sources.yml
  models/base_sources/gnosis_base_sources.yml
  models/base_sources/optimism_base_sources.yml
  models/labels/contracts/labels_contracts.sql
  models/labels/contracts/labels_contracts_schema.yml
  models/labels/labels_all.sql
  models/labels/submitted_contracts/labels_decoded_contracts_sources.yml
Labels: v2_engine

#1601 Add spell for sudoswap pool stats
  macros/optimize_tables.sql
  models/sudoswap/ethereum/sudoswap_ethereum_pool_balance_changes.sql
  models/sudoswap/ethereum/sudoswap_ethereum_pool_trades.sql
  models/sudoswap/ethereum/sudoswap_ethereum_pools.sql
  models/sudoswap/ethereum/sudoswap_ethereum_schema.yml
  models/sudoswap/ethereum/sudoswap_ethereum_sources.yml
Labels: v2_engine

#1622 Spellbook Workshop Submission
  README.md
  dbt_project.yml
  models/balancer/ethereum/balancer_ethereum_balances.sql
  models/balancer/ethereum/balancer_ethereum_schema.yml
  models/balancer/ethereum/balancer_ethereum_sources.yml
Labels: v2_engine

#1629 [ERC20] Add Missing Tokens
  deprecated-dune-v1-abstractions/ethereum/erc20/tokens.sql
  models/tokens/ethereum/tokens_ethereum_erc20.sql
Labels: easy, v2_engine

#1643 Add post_hook to curvefi view pools
  models/curvefi/ethereum/curvefi_ethereum_view_pools.sql
  scripts/pr_job_utils.py
Labels: v2_engine

#1564 [Aztec] add additional contracts to label table
  deprecated-dune-v1-abstractions/ethereum/aztec_v2/contract_labels.sql
  models/labels/aztec_v2/labels_aztec_v2_contracts_ethereum.sql
  models/labels/aztec_v2/labels_aztec_v2_contracts_schema.yml
  models/labels/labels_all.sql
  models/labels/labels_all_schema.yml
Labels: v2_engine

#1652 Add multisig labels on Ethereum
  models/labels/labels_all.sql
  models/labels/multisig/labels_multisig_ethereum.sql
  models/labels/multisig/labels_multisig_schema.yml
Labels: v2_engine

#1616 Add IronBank mint, redeem, borrow, repayBorrow and liquidation on Optimism
  models/ironbank/optimism/ironbank_optimism_borrow.sql
  models/ironbank/optimism/ironbank_optimism_liquidation.sql
  models/ironbank/optimism/ironbank_optimism_mint.sql
  models/ironbank/optimism/ironbank_optimism_redeem.sql
  models/ironbank/optimism/ironbank_optimism_repay.sql
  models/ironbank/optimism/ironbank_optimism_schema.yml
  models/ironbank/optimism/ironbank_optimism_sources.yml
Labels: v2_engine

#1641 [Easy] Removed post_hook from `cow_protocol_ethereum_trades.sql` to not have double columns
  models/cow_protocol/ethereum/cow_protocol_ethereum_trades.sql
Labels: v2_engine, WIP

#1668 Add hackers labels
  models/labels/hackers/labels_hackers_ethereum.sql
  models/labels/hackers/labels_hackers_schema.yml
  models/labels/labels_all.sql
Labels: v2_engine

#1667 Add OP airdrop labels
  models/labels/airdrop_receivers/labels_airdrop_1_receivers_optimism.sql
  models/labels/airdrop_receivers/labels_airdrop_1_receivers_optimism_schema.yml
  models/labels/labels_all.sql
Labels: v2_engine

#1670 Update labels_hackers_schema.yml
  models/labels/hackers/labels_hackers_schema.yml
  models/labels/multisig/labels_multisig_ethereum.sql
Labels: v2_engine

#1669 Add airswap to dex trades
  dbt_project.yml
  macros/optimize_tables.sql
  models/airswap/ethereum/airswap_ethereum_schema.yml
  models/airswap/ethereum/airswap_ethereum_sources.yml
  models/airswap/ethereum/airswap_ethereum_trades.sql
  models/dex/dex_trades.sql
Labels: v2_engine

#1675 Fix nonzero perpetual trade filter for Synthetix/Kwenta on Optimism.
  models/perpetual_protocol/optimism/perpetual_protocol_v2_optimism_trades.sql
  models/pika/optimism/pika_v1_optimism_trades.sql
  models/pika/optimism/pika_v2_optimism_trades.sql
  models/pika/optimism/pika_v3_optimism_trades.sql
  models/synthetix/optimism/synthetix_optimism_trades.sql
Labels: v2_engine

#1676 [ERC20] Missing Tokens
  deprecated-dune-v1-abstractions/ethereum/erc20/tokens.sql
  models/tokens/ethereum/tokens_ethereum_erc20.sql
Labels: enhancement, easy, v2_engine
