Repository duneanalytics/spellbook, pull requests merged in 2022-10, with the labels that each got.

#1681 Tornado Cash adding missing pools
  models/tornado_cash/tornado_cash_deposits.sql
  models/tornado_cash/tornado_cash_schema.yml
  models/tornado_cash/tornado_cash_sources.yml
  models/tornado_cash/tornado_cash_withdrawals.sql
Labels: v2_engine

#1586 Gem for Seaport
  models/seaport/ethereum/seaport_ethereum_schema.yml
  models/seaport/ethereum/seaport_ethereum_transfers.sql
Labels: v2_engine

#1694 Update synthetix_optimism_trades.sql
  models/synthetix/optimism/synthetix_optimism_trades.sql
Labels: v2_engine

#1693 Identify direct LooksRare & X2Y2 trades from Gem
  models/looksrare/ethereum/looksrare_ethereum_events.sql
  models/looksrare/ethereum/looksrare_ethereum_schema.yml
  models/x2y2/ethereum/x2y2_ethereum_events.sql
  models/x2y2/ethereum/x2y2_ethereum_schema.yml
Labels: ready_for_review

#1631 Add aave supply and borrow abstractions in dune v2
  models/aave/ethereum/aave_ethereum_borrow.sql
  models/aave/ethereum/aave_ethereum_interest_rates.sql
  models/aave/ethereum/aave_ethereum_schema.yml
  models/aave/ethereum/aave_ethereum_sources.yml
  models/aave/ethereum/aave_ethereum_supply.sql
  models/aave/ethereum/aave_v1_ethereum_borrow.sql
  models/aave/ethereum/aave_v1_ethereum_supply.sql
  models/aave/ethereum/aave_v2_ethereum_borrow.sql
  models/aave/ethereum/aave_v2_ethereum_interest_rates.sql
  models/aave/ethereum/aave_v2_ethereum_supply.sql
  tests/aave/ethereum/aave_borrow_test.sql
  tests/aave/ethereum/aave_supply_test.sql
Labels: ready-for-merging

#1689 Add borrow, mint, repay, redeem and liquidation event on ethereum
  models/ironbank/ethereum/ironbank_ethereum_borrow.sql
  models/ironbank/ethereum/ironbank_ethereum_liquidation.sql
  models/ironbank/ethereum/ironbank_ethereum_mint.sql
  models/ironbank/ethereum/ironbank_ethereum_redeem.sql
  models/ironbank/ethereum/ironbank_ethereum_repay.sql
  models/ironbank/ethereum/ironbank_ethereum_schema.yml
  models/ironbank/ethereum/ironbank_ethereum_sources.yml
Labels: ready-for-merging

#1687 [CoW Protocol] Add seasolver to solver abstraction
  deprecated-dune-v1-abstractions/ethereum/gnosis_protocol_v2/view_solvers.sql
  models/cow_protocol/ethereum/cow_protocol_ethereum_solvers.sql
Labels: ready-for-merging

#1699 Add rarible aggregator
  models/nft/ethereum/nft_ethereum_aggregators.sql
Labels: ready-for-merging

#1692 GMX Arbitrum Abstractions Updates
  models/gmx/arbitrum/glp/gmx_arbitrum_glp_components.sql
  models/gmx/arbitrum/glp/gmx_arbitrum_glp_fees.sql
  models/gmx/arbitrum/glp/gmx_arbitrum_glp_float.sql
  models/gmx/arbitrum/glp/gmx_arbitrum_glp_schema.yml
  models/gmx/arbitrum/glp/gmx_arbitrum_glp_sources.yml
  models/gmx/arbitrum/vault/gmx_arbitrum_vault_balances.sql
Labels: ready-for-review

#1696 Sudoswap smol fix
  models/sudoswap/ethereum/sudoswap_ethereum_events.sql
Labels: ready-for-merging

#1697 Element smol fix
  models/element/ethereum/element_ethereum_events.sql
Labels: ready-for-merging

#1645 sudoswap pool spells [rework]
  models/sudoswap/ethereum/sudoswap_ethereum_pool_balance_agg_day.sql
  models/sudoswap/ethereum/sudoswap_ethereum_pool_balance_changes.sql
  models/sudoswap/ethereum/sudoswap_ethereum_pool_creations.sql
  models/sudoswap/ethereum/sudoswap_ethereum_pool_settings_latest.sql
  models/sudoswap/ethereum/sudoswap_ethereum_pool_trades.sql
  models/sudoswap/ethereum/sudoswap_ethereum_pool_trades_agg_day.sql
  models/sudoswap/ethereum/sudoswap_ethereum_pool_view.sql
  models/sudoswap/ethereum/sudoswap_ethereum_pools.sql
  models/sudoswap/ethereum/sudoswap_ethereum_schema.yml
Labels: ready-for-merging

#1746 fix bnb validators labels
  models/labels/validators/labels_validators_bnb.sql
Labels: ready-for-review

#1720 [Easy] Update Erc20 Tokens
  deprecated-dune-v1-abstractions/ethereum/erc20/tokens.sql
  models/tokens/ethereum/tokens_ethereum_erc20.sql
Labels: easy, ready-for-review

#1735 add stMatic and MaticX prices
  deprecated-dune-v1-abstractions/prices/polygon/coingecko.yaml
Labels: ready-for-merging, v1_engine

#1744 [Polygon Seaport] pull price from event table not call table
  deprecated-dune-v1-abstractions/polygon/seaport/insert_transactions.sql
  deprecated-dune-v1-abstractions/polygon/seaport/insert_transfers.sql
Labels: v1_engine

#1743 fix dupes in airswap dex trades
  models/airswap/ethereum/airswap_ethereum_schema.yml
  models/airswap/ethereum/airswap_ethereum_trades.sql
Labels: ready-for-merging

#1705 dex.trades Clipper integration
  dbt_project.yml
  models/clipper/ethereum/clipper_ethereum_schema.yml
  models/clipper/ethereum/clipper_ethereum_sources.yml
  models/clipper/ethereum/clipper_ethereum_trades.sql
  models/clipper/ethereum/clipper_v1_ethereum_trades.sql
  models/clipper/ethereum/clipper_v2_ethereum_trades.sql
  models/clipper/ethereum/clipper_v3_ethereum_trades.sql
  models/dex/dex_trades.sql
  seeds/dex/trades/dex_trades_seed.csv
Labels: ready-for-merging

#1703 add arbitrage trader labels for Ethereum
  Pipfile.lock
  models/labels/arbitrage_traders/ethereum/labels_arbitrage_traders_ethereum.sql
  models/labels/arbitrage_traders/ethereum/labels_arbitrage_traders_schema.yml
  models/labels/arbitrage_traders/labels_arbitrage_traders.sql
  models/labels/labels_all.sql
Labels: WIP

#1711 Add bnb transfers to spellbook
  dbt_project.yml
  models/airswap/ethereum/airswap_ethereum_schema.yml
  models/transfers/bnb/bep20/transfers_bnb_bep20_agg_day.sql
  models/transfers/bnb/bep20/transfers_bnb_bep20_agg_hour.sql
  models/transfers/bnb/bep20/transfers_bnb_bep20_rolling_day.sql
  models/transfers/bnb/bep20/transfers_bnb_bep20_rolling_hour.sql
  models/transfers/bnb/transfers_bnb_schema.yml
  models/transfers/bnb/transfers_bnb_sources.yml
  seeds/dex/trades/dex_trades_seed.csv
  seeds/transfers/bnb/transfers_bnb_bep20_agg_day_v2.csv
  seeds/transfers/bnb/transfers_bnb_bep20_agg_hour_v2.csv
  seeds/transfers/ethereum/transfers_ethereum_erc1155_transfersingle.csv
  tests/generic/transfers_wallet_token.sql
Labels: ready-for-merging

#1768 Integration of PMON for prices
  models/prices/prices_tokens.sql
Labels: ready-for-merging

#1767 [CoW Protocol] Add Solver List for Gnosis Chain
  dbt_project.yml
  models/cow_protocol/ethereum/cow_protocol_ethereum_solvers.sql
  models/cow_protocol/gnosis/cow_protocol_gnosis_schema.yml
  models/cow_protocol/gnosis/cow_protocol_gnosis_solvers.sql
  models/cow_protocol/gnosis/cow_protocol_gnosis_sources.yml
  tests/cow_protocol/gnosis/cow_protocol_gnosis_assert_solvers.sql
Labels: easy, v2_engine, ready-for-merging, gnosis_chain

#1717 OVM `contract_mapping` - migrate v1 `get_contracts`
  dbt_project.yml
  models/contracts/optimism/contracts_optimism_contract_creator_address_list.sql
  models/contracts/optimism/contracts_optimism_contract_mapping.sql
  models/contracts/optimism/contracts_optimism_contract_overrides.sql
  models/contracts/optimism/contracts_optimism_project_name_mappings.sql
  models/contracts/optimism/contracts_optimism_schema.yml
  models/contracts/optimism/contracts_optimism_self_destruct_contracts.sql
  models/contracts/optimism/contracts_optimism_sources.yml
Labels: ready-for-merging

#1730 update OP tokens and prices lookups in spellbook
  models/prices/prices_tokens.sql
  models/tokens/optimism/tokens_optimism_erc20.sql
  models/tokens/optimism/tokens_optimism_nft.sql
Labels: ready-for-merging

#1757 dex.trades shibaswap integration
  dbt_project.yml
  models/dex/dex_trades.sql
  models/shibaswap/ethereum/shibaswap_ethereum_schema.yml
  models/shibaswap/ethereum/shibaswap_ethereum_sources.yml
  models/shibaswap/ethereum/shibaswap_ethereum_trades.sql
  seeds/dex/trades/dex_trades_seed.csv
Labels: ready-for-merging, dework

#1733 Add aave supply and borrow abstractions for optimism in Dune v2
  models/aave/optimism/aave_optimism_borrow.sql
  models/aave/optimism/aave_optimism_interest_rates.sql
  models/aave/optimism/aave_optimism_schema.yml
  models/aave/optimism/aave_optimism_sources.yml
  models/aave/optimism/aave_optimism_supply.sql
  models/aave/optimism/aave_v3_optimism_borrow.sql
  models/aave/optimism/aave_v3_optimism_interest_rates.sql
  models/aave/optimism/aave_v3_optimism_supply.sql
  tests/aave/optimism/aave_optimism_borrow_test.sql
  tests/aave/optimism/aave_optimism_supply_test.sql
Labels: ready-for-merging

#1787 Add OpenLeverage OLE token to table prices.usd
  models/prices/prices_tokens.sql
Labels: ready-for-merging

#1794 remove STARL due to bad price feed
  deprecated-dune-v1-abstractions/prices/ethereum/coinpaprika.yaml
  models/prices/prices_tokens.sql
Labels: bug, v2_engine, ready-for-merging, v1_engine

#1725 enhance performance for SuperRare nft events
  models/superrare/superrare_ethereum_events.sql
Labels: ready-for-merging

#1742 Optimism - Add Chainlink Oracles
  dbt_project.yml
  models/chainlink/chainlink_price_feeds_hourly.sql
  models/chainlink/chainlink_price_feeds_schema.yml
  models/chainlink/optimism/chainlink_optimism_oracle_addresses.sql
  models/chainlink/optimism/chainlink_optimism_oracle_token_mapping.sql
  models/chainlink/optimism/chainlink_optimism_price_feeds.sql
  models/chainlink/optimism/chainlink_optimism_price_feeds_hourly.sql
  models/chainlink/optimism/chainlink_optimism_schema.yml
  models/chainlink/optimism/readme.md
Labels: ready-for-merging

#1812 Change Curve project name to lowercase for consistency
  models/curvefi/ethereum/curvefi_ethereum_trades.sql
Labels: ready-for-merging

#1804 [Easy] add 12 and 13 missing tokens to v1 and v2 respectively
  deprecated-dune-v1-abstractions/ethereum/erc20/tokens.sql
  models/tokens/ethereum/tokens_ethereum_erc20.sql
Labels: v2_engine, ready-for-merging, v1_engine

#1793 fix symbol, add ibJPY and ibCHF
  models/prices/prices_tokens.sql
Labels: ready-for-merging

#1803 update insert_quotation_trades.sql :fixed cron.job tasks
  deprecated-dune-v1-abstractions/ethereum/nxm/insert_quotation_trades.sql
Labels: v1_engine

#1822 Fix Aztec block processing logic
  deprecated-dune-v1-abstractions/ethereum/aztec_v2/fn_process_block.sql
Labels: v1_engine

#1827 Quick fixes to get swapr addition to dex.trades by cryptoleishen ready for merging
  dbt_project.yml
  models/dex/dex_trades.sql
  models/swapr/ethereum/swapr_ethereum_schema.yml
  models/swapr/ethereum/swapr_ethereum_sources.yml
  models/swapr/ethereum/swapr_ethereum_trades.sql
  seeds/dex/trades/dex_trades_seed.csv
Labels: ready-for-merging

#1824 Fix LooksRare Duplicate
  models/looksrare/ethereum/looksrare_ethereum_events.sql
Labels: ready-for-merging

#1760 Defiswap ethereum integration
  dbt_project.yml
  models/defiswap/ethereum/defiswap_ethereum_schema.yml
  models/defiswap/ethereum/defiswap_ethereum_sources.yml
  models/defiswap/ethereum/defiswap_ethereum_trades.sql
  models/dex/dex_trades.sql
  seeds/dex/trades/dex_trades_seed.csv
Labels: ready-for-merging, dework

#1709 Add native (ie, non-platform) NFT mints on Ethereum to nft.mints
  models/addresses/ethereum/addresses_ethereum_defi.sql
  models/addresses/ethereum/addresses_ethereum_schema.yml
  models/nft/ethereum/nft_ethereum_native_mints.sql
  models/nft/ethereum/nft_ethereum_schema.yml
  models/nft/nft_events.sql
  models/nft/nft_mints.sql
  models/nft/nft_schema.yml
  tests/nft/ethereum/nft_ethereum_native_mints.sql
Labels: ready-for-review

#1536 Some fixes for OpenSea, Seaport, LooksRare and X2Y2
  models/looksrare/ethereum/looksrare_ethereum_events.sql
  models/looksrare/ethereum/looksrare_ethereum_schema.yml
  models/opensea/ethereum/opensea_ethereum_schema.yml
  models/opensea/ethereum/opensea_v1_ethereum_events.sql
  models/seaport/ethereum/seaport_ethereum_transfers.sql
  models/x2y2/ethereum/x2y2_ethereum_events.sql
Labels: ready-for-merging

#1837 Update OP v1 Tokens
  deprecated-dune-v1-abstractions/optimism2/erc20/tokens.sql
  deprecated-dune-v1-abstractions/optimism2/nft/tokens.sql
Labels: v1_engine

#1818 Add DFX to DEX Trades Spell
  dbt_project.yml
  models/dex/dex_trades.sql
  models/dfx/ethereum/dfx_ethereum_schema.yml
  models/dfx/ethereum/dfx_ethereum_sources.yml
  models/dfx/ethereum/dfx_ethereum_trades.sql
  seeds/dex/trades/dex_trades_seed.csv
Labels: ready-for-merging

#1828 Identify Blur direct trades w/ OS & LR
  models/looksrare/ethereum/looksrare_ethereum_events.sql
  models/seaport/ethereum/seaport_ethereum_transfers.sql
Labels: ready-for-review

#1838 Add Blur.io into nft.trades on v2
  dbt_project.yml
  models/blur/ethereum/blur_ethereum_burns.sql
  models/blur/ethereum/blur_ethereum_events.sql
  models/blur/ethereum/blur_ethereum_fees.sql
  models/blur/ethereum/blur_ethereum_mints.sql
  models/blur/ethereum/blur_ethereum_schema.yml
  models/blur/ethereum/blur_ethereum_sources.yml
  models/blur/ethereum/blur_ethereum_trades.sql
  models/nft/nft_burns.sql
  models/nft/nft_events.sql
  models/nft/nft_fees.sql
  models/nft/nft_mints.sql
  models/nft/nft_trades.sql
  tests/blur/ethereum/blur_ethereum_assert_trades.sql
Labels: ready-for-review

#1833 Extend nft_ethereum.native_mints to before block 14801608
  models/nft/ethereum/nft_ethereum_native_mints.sql
  tests/nft/ethereum/nft_ethereum_native_mints.sql
Labels: WIP

#1848 [Easy] Add missing tokens
  deprecated-dune-v1-abstractions/ethereum/erc20/tokens.sql
  models/tokens/ethereum/tokens_ethereum_erc20.sql
Labels: ready-for-merging

#1791 Velodrome tokenlist
  models/prices/prices_tokens.sql
  models/tokens/optimism/tokens_optimism_erc20.sql
  pull_request_template.md
Labels: ready-for-merging

#1623 Create nft.wash_trades
  CONTRIBUTING.md
  dbt_project.yml
  models/addresses_events/ethereum/addresses_events_ethereum_first_funded_by.sql
  models/addresses_events/ethereum/addresses_events_ethereum_schema.yml
  models/nft/nft_schema.yml
  models/nft/nft_wash_trades.sql
  tests/generic/is_unique_filtered.sql
Labels: ready-for-merging

#1783 Reaper Vaults
  dbt_project.yml
  models/reaper/optimism/reaper_optimism_all_vaults.sql
  models/reaper/optimism/reaper_optimism_all_vaults_schema.yml
Labels: in review

#1691 Add Dodo to dex.trades in Dune v2 for Ethereum Mainnet.
  dbt_project.yml
  models/dex/dex_trades.sql
  models/dodo/ethereum/dodo_ethereum_schema.yml
  models/dodo/ethereum/dodo_ethereum_sources.yml
  models/dodo/ethereum/dodo_ethereum_trades.sql
  seeds/dex/trades/dex_trades_seed.csv
Labels: ready-for-merging, dework

#1831 Optimism gas spell
  dbt_project.yml
  models/gas/avalanche_c/gas_avalanche_c_fees.sql
  models/gas/gas_fees.sql
  models/gas/gas_fees_schema.yml
  models/gas/optimism/gas_optimism_fees.sql
  models/gas/optimism/gas_optimism_schema.yml
Labels: ready-for-review

#1834 Move docs on Optimism Contract Mapping to yaml
  dbt_project.yml
  models/contracts/optimism/README.md
  models/contracts/optimism/contracts_optimism_schema.yml
  models/overview.md
Labels: ready-for-merging

#1844 Updates to static tables
  models/nft/ethereum/metadata/nft_ethereum_metadata_art_blocks_collections.sql
  models/nft/ethereum/metadata/nft_ethereum_metadata_braindrops.sql
  models/nft/ethereum/metadata/nft_ethereum_metadata_bright_moments.sql
  models/nft/ethereum/metadata/nft_ethereum_metadata_chromie_squiggle.sql
  models/nft/ethereum/metadata/nft_ethereum_metadata_cryptodickbutts.sql
  models/nft/ethereum/metadata/nft_ethereum_metadata_mirage_gallery_curated.sql
  models/nft/ethereum/metadata/nft_ethereum_metadata_proof_grails_i.sql
  models/nft/ethereum/metadata/nft_ethereum_metadata_proof_grails_ii.sql
  models/nft/ethereum/metadata/nft_ethereum_metadata_ringers.sql
  models/nft/ethereum/metadata/nft_ethereum_metadata_schema.yml
  models/nft/ethereum/metadata/nft_ethereum_metadata_terraforms.sql
Labels: ready-for-merging

#1843 update balancer v2 pool labels
  deprecated-dune-v1-abstractions/labels/ethereum/balancer_v2_pools.sql
Labels: ready-for-review, v1_engine

#1845 Add Labels
  models/labels/labels_all.sql
  models/labels/labels_all_schema.yml
  models/labels/superrare/ethereum/labels_superrare_ethereum.sql
  models/labels/superrare/ethereum/labels_superrare_ethereum_schema.yml
Labels: ready-for-merging

#1846 OP Static Table Updates
  models/contracts/optimism/contracts_optimism_contract_creator_address_list.sql
  models/tokens/optimism/tokens_optimism_erc20.sql
  models/tokens/optimism/tokens_optimism_nft.sql
Labels: ready-for-merging

#1850 Detect X2Y2-routed Blur trades
  models/x2y2/ethereum/x2y2_ethereum_events.sql
Labels: ready-for-merging

#1852 Add tokens to prices_tokens
  models/prices/prices_tokens.sql
Labels: ready-for-merging

#1854 [Easy] Add avalanche_c.logs and avalanche_c.traces to avalanche base sources
  models/base_sources/avalanche_c_base_sources.yml
Labels: ready-for-merging
