Repository duneanalytics/spellbook, pull requests merged in 2022-11, with the labels that each got.

#1830 [Tight deadline] Adding new spell (DAO sector) that allows to view the DAO addresses and DAO transactions. [Ready for merging]
  dbt_project.yml
  models/base_sources/gnosis_base_sources.yml
  models/daos/addresses/daos_addresses.sql
  models/daos/addresses/daos_addresses_schema.yml
  models/daos/addresses/ethereum/daos_addresses_ethereum.sql
  models/daos/addresses/ethereum/daos_addresses_ethereum_aragon.sql
  models/daos/addresses/ethereum/daos_addresses_ethereum_daohaus.sql
  models/daos/addresses/ethereum/daos_addresses_ethereum_schema.yml
  models/daos/addresses/ethereum/daos_addresses_ethereum_sources.yml
  models/daos/addresses/ethereum/daos_addresses_ethereum_syndicate.sql
  models/daos/addresses/ethereum/daos_addresses_ethereum_zodiac.sql
  models/daos/addresses/gnosis/daos_addresses_gnosis.sql
  models/daos/addresses/gnosis/daos_addresses_gnosis_aragon.sql
  models/daos/addresses/gnosis/daos_addresses_gnosis_colony.sql
  models/daos/addresses/gnosis/daos_addresses_gnosis_daohaus.sql
  models/daos/addresses/gnosis/daos_addresses_gnosis_schema.yml
  models/daos/transactions/daos_transactions.sql
  models/daos/transactions/daos_transactions_schema.yml
  models/daos/transactions/ethereum/daos_transactions_ethereum_erc20.sql
  models/daos/transactions/ethereum/daos_transactions_ethereum_eth.sql
  models/daos/transactions/ethereum/daos_transactions_ethereum_schema.yml
  models/daos/transactions/gnosis/daos_transactions_gnosis_erc20.sql
  models/daos/transactions/gnosis/daos_transactions_gnosis_eth.sql
  models/daos/transactions/gnosis/daos_transactions_gnosis_schema.yml
  seeds/daos/daos_addresses_seed.csv
  seeds/daos/daos_transactions_seed.csv
  tests/generic/daos_addresses_creator_tool.sql
  tests/generic/daos_transactions_creator_tool.sql
Labels: ready-for-merging

#1865 Remove overshooting price feed.
  models/prices/prices_tokens.sql
Labels: ready-for-merging

#1874 Polygon prices
  models/prices/prices_tokens.sql
Labels: ready-for-merging

#1771 add second run / test for incremental models in gh action
  .github/workflows/dbt_slim_ci.yml
Labels: ready-for-merging

#1877 remove prices not returned by coinpaprika api
  models/prices/prices_tokens.sql
Labels: ready-for-merging

#1867 macros to alter table locations
  .gitignore
  dbt_project.yml
  macros/dune/create_seed_as.sql
  macros/dune/create_table_as.sql
  macros/dune/macros_schema.yml
  models/integration_test/test_table.sql
  scripts/alter_table_locations.py
Labels: in review

#1861 Add contract mapping for L1 NFT bridged to Optimism
  models/tokens/optimism/tokens_optimism_nft_bridged_mapping.sql
  models/tokens/optimism/tokens_optimism_schema.yml
  models/tokens/optimism/tokens_optimism_source.yml
  models/tokens/tokens_nft.sql
Labels: ready-for-merging

#1872 Fix x2y2's trade_id
  models/x2y2/ethereum/x2y2_ethereum_events.sql
Labels: ready-for-merging

#1868 [minor] Fix formatting of sandwich attacker labels docs
  models/labels/sandwich_attackers/README.md
  models/labels/sandwich_attackers/labels_sandwich_attackers_schema.yml
Labels: ready-for-merging

#1883 [quick update] fix contract address + add new projects
  models/nft/ethereum/metadata/nft_ethereum_metadata_art_blocks_collections.sql
Labels: ready-for-merging

#1879 Text glow up and language consistency
  pull_request_template.md
Labels: ready-for-merging

#1881 Add 2 new aggregator addresses for gem
  models/nft/ethereum/nft_ethereum_aggregators.sql
Labels: ready-for-merging

#1880 Fix wash filter
  models/nft/nft_wash_trades.sql
Labels: help wanted

#1892 Update kyber usd amount on v1 dex trades
  deprecated-dune-v1-abstractions/binance_smart_chain/dex/trades/insert_kyber.sql
  deprecated-dune-v1-abstractions/ethereum/dex/trades/insert_kyber.sql
  deprecated-dune-v1-abstractions/optimism2/dex/insert_kyber.sql
  deprecated-dune-v1-abstractions/polygon/dex/trades/insert_kyber.sql
Labels: ready-for-merging, v1_engine

#1853 Dex trades Fraxswap Avalanche (C-Chain)
  dbt_project.yml
  models/dex/dex_trades.sql
  models/fraxswap/avalanche_c/fraxswap_avalanche_c_schema.yml
  models/fraxswap/avalanche_c/fraxswap_avalanche_c_sources.yml
  models/fraxswap/avalanche_c/fraxswap_avalanche_c_trades.sql
  models/fraxswap/fraxswap_trades.sql
  models/fraxswap/fraxswap_trades_schema.yml
  models/prices/prices_tokens.sql
  seeds/dex/trades/dex_trades_seed.csv
Labels: ready-for-merging, dework

#1904 New Alameda Research Labels
  models/labels/funds/labels_funds_ethereum.sql
Labels: ready-for-merging

#1909 Remove redundant brackets in some view definitions
  models/element/avalanche_c/element_avalanche_c_burns.sql
  models/element/avalanche_c/element_avalanche_c_fees.sql
  models/element/avalanche_c/element_avalanche_c_mints.sql
  models/element/bnb/element_bnb_burns.sql
  models/element/bnb/element_bnb_fees.sql
  models/element/bnb/element_bnb_mints.sql
  models/element/ethereum/element_ethereum_burns.sql
  models/element/ethereum/element_ethereum_fees.sql
  models/element/ethereum/element_ethereum_mints.sql
  models/superrare/superrare_ethereum_fees.sql
  models/superrare/superrare_ethereum_trades.sql
  models/zora/ethereum/zora_ethereum_burns.sql
  models/zora/ethereum/zora_ethereum_fees.sql
  models/zora/ethereum/zora_ethereum_mints.sql
  models/zora/ethereum/zora_ethereum_trades.sql
Labels: ready-for-merging

#1752 [Testing] CoW Protocol Batches
  models/cow_protocol/ethereum/cow_protocol_ethereum_batches.sql
  models/cow_protocol/ethereum/cow_protocol_ethereum_trades.sql
  scripts/pr_job_utils.py
  tests/cow_protocol/ethereum/cow_protocol_ethereum_assert_batches.sql
  tests/cow_protocol/ethereum/cow_protocol_ethereum_assert_trades.sql
Labels: v2_engine, blocked

#1917 Update gas_bnb_fees.sql
  models/gas/bnb/gas_bnb_fees.sql
Labels: ready-for-merging

#1784 add hashflow to dex.trades
  dbt_project.yml
  models/dex/dex_trades.sql
  models/hashflow/ethereum/hashflow_ethereum_raw_trades.sql
  models/hashflow/ethereum/hashflow_ethereum_schema.yml
  models/hashflow/ethereum/hashflow_ethereum_sources.yml
  models/hashflow/ethereum/hashflow_ethereum_trades.sql
  seeds/dex/trades/dex_trades_seed.csv
Labels: ready-for-merging, dework

#1903 Fix nft wash trades
  models/nft/nft_wash_trades.sql
Labels: ready-for-review

#1922 add maDAI to v1 and v2
  deprecated-dune-v1-abstractions/ethereum/erc20/tokens.sql
  models/tokens/ethereum/tokens_ethereum_erc20.sql
Labels: ready-for-merging

#1916 added three utility macros
  macros/public/get_chain_explorer.sql
  macros/public/get_chain_explorer_schema.yml
  macros/public/get_chain_native_token.sql
  macros/public/get_chain_native_token_schema.yml
  macros/public/get_href.sql
  macros/public/get_href_schema.yml
  tests/macros/public/get_chain_explorer.sql
  tests/macros/public/get_chain_native_token.sql
  tests/macros/public/get_href.sql
Labels: ready-for-merging

#1930 [CoW Protocol] Fix Batches Table!
  models/cow_protocol/ethereum/cow_protocol_ethereum_batches.sql
Labels: v2_engine, ready-for-merging

#1932 Escape some reserved time related keywords
  models/keep3r_network/ethereum/keep3r_network_ethereum_view_job_liquidity_log.sql
  tests/balances/ethereum/balances_ethereum_erc20_day_assert_samples.sql
  tests/balances/ethereum/balances_ethereum_erc20_hour_assert_samples.sql
  tests/balances/ethereum/balances_ethereum_erc20_hour_assert_specific_wallet.sql
Labels: ready-for-merging

#1934 Minor fix to logo (better contrast in dark mode)
  README.md
Labels: ready-for-merging

#1928 [EASY]Add `nft_optimism_aggregator`
  dbt_project.yml
  models/nft/nft_aggregators.sql
  models/nft/optimism/nft_optimism_aggregators.sql
  models/nft/optimism/nft_optimism_schema.yml
Labels: ready-for-merging

#1926 [quick update] Add new AB collections
  models/nft/ethereum/metadata/nft_ethereum_metadata_art_blocks_collections.sql
Labels: ready-for-merging

#1900 Adding daos addresses to labels
  models/labels/dao/labels_dao.sql
  models/labels/dao/labels_dao_schema.yml
  models/labels/labels_all.sql
Labels: ready-for-review

#1927 Update kyber dex info
  deprecated-dune-v1-abstractions/binance_smart_chain/dex/trades/insert_kyber.sql
  deprecated-dune-v1-abstractions/ethereum/dex/trades/insert_kyber.sql
  deprecated-dune-v1-abstractions/polygon/dex/trades/insert_kyber.sql
Labels: ready-for-review, v1_engine

#1876 Dex.trades platypus finance
  dbt_project.yml
  models/dex/dex_trades.sql
  models/platypus_finance/avalanche_c/platypus_finance_avalanche_c_schema.yml
  models/platypus_finance/avalanche_c/platypus_finance_avalanche_c_sources.yml
  models/platypus_finance/avalanche_c/platypus_finance_avalanche_c_trades.sql
  seeds/dex/trades/dex_trades_seed.csv
  tests/platypus_finance/avalanche_c/platypus_finance_avalanche_c_assert_samples.sql
Labels: ready-for-merging, dework

#1897 Add polygon to tornado cash abstractions
  models/tornado_cash/tornado_cash_deposits.sql
  models/tornado_cash/tornado_cash_schema.yml
  models/tornado_cash/tornado_cash_sources.yml
  models/tornado_cash/tornado_cash_withdrawals.sql
Labels: ready-for-merging

#1924 Adding Curvefi (Avalanche) trades to dex.trades
  dbt_project.yml
  models/curvefi/avalanche_c/curvefi_avalanche_c_schema.yml
  models/curvefi/avalanche_c/curvefi_avalanche_c_sources.yml
  models/curvefi/avalanche_c/curvefi_avalanche_c_trades.sql
  models/curvefi/curvefi_trades.sql
  models/curvefi/curvefi_trades_schema.yml
  models/dex/dex_trades.sql
  seeds/dex/trades/dex_trades_seed.csv
Labels: ready-for-merging, dework, in review

#1945 Metadata updates
  models/nft/ethereum/metadata/nft_ethereum_metadata_art_blocks_collections.sql
  models/nft/ethereum/metadata/nft_ethereum_metadata_art_platform_collections.sql
  models/nft/ethereum/metadata/nft_ethereum_metadata_fellowship_gallery.sql
  models/nft/ethereum/metadata/nft_ethereum_metadata_schema.yml
  models/nft/ethereum/metadata/nft_ethereum_metadata_verse.sql
Labels: ready-for-merging

#1944 Add `tokens.erc20` on Polygon
  dbt_project.yml
  models/tokens/polygon/tokens_polygon_erc20.sql
  models/tokens/polygon/tokens_polygon_schema.yml
  models/tokens/tokens_erc20.sql
Labels: ready-for-merging

#1942 Fix to add `block_number` to `seaport_ethereum.trades`
  models/seaport/ethereum/seaport_ethereum_trades.sql
Labels: ready-for-merging

#1936 OP v2 static updates
  models/contracts/optimism/contracts_optimism_contract_creator_address_list.sql
  models/tokens/optimism/tokens_optimism_nft.sql
Labels: ready-for-merging

#1816 Add 0x table on Ethereum in Dune V2
  dbt_project.yml
  models/zeroex/ethereum/zeroex_api_ethereum_fills.sql
  models/zeroex/ethereum/zeroex_api_ethereum_schema.yml
  models/zeroex/ethereum/zeroex_api_ethereum_sources.yml
  seeds/zeroex/ethereum/zeroex_api_ethereum_fills_sample.csv
  tests/generic/zeroex_api_ethereum_fills_test.sql
Labels: ready-for-merging

#1935 OP v1 Dex Trades - Exclude token prices
  deprecated-dune-v1-abstractions/optimism2/dex/adhoc_backfills/2022_11_09_velo_backfill.sql
  deprecated-dune-v1-abstractions/optimism2/dex/insert_beethoven_x.sql
  deprecated-dune-v1-abstractions/optimism2/dex/insert_clipper.sql
  deprecated-dune-v1-abstractions/optimism2/dex/insert_clipper_coves.sql
  deprecated-dune-v1-abstractions/optimism2/dex/insert_clipper_v2.sql
  deprecated-dune-v1-abstractions/optimism2/dex/insert_curve.sql
  deprecated-dune-v1-abstractions/optimism2/dex/insert_kwenta.sql
  deprecated-dune-v1-abstractions/optimism2/dex/insert_kyber.sql
  deprecated-dune-v1-abstractions/optimism2/dex/insert_oneinch.sql
  deprecated-dune-v1-abstractions/optimism2/dex/insert_rubicon.sql
  deprecated-dune-v1-abstractions/optimism2/dex/insert_slingshot.sql
  deprecated-dune-v1-abstractions/optimism2/dex/insert_sushiswap.sql
  deprecated-dune-v1-abstractions/optimism2/dex/insert_uniswap_v3.sql
  deprecated-dune-v1-abstractions/optimism2/dex/insert_velodrome.sql
  deprecated-dune-v1-abstractions/optimism2/prices/prices_exclude_tokens.sql
Labels: v1_engine, in review

#1950 Proof of reserve labels
  models/labels/cex/labels_cex.sql
  models/labels/cex/labels_cex_bnb.sql
  models/labels/cex/labels_cex_ethereum.sql
  models/labels/cex/labels_cex_schema.yml
Labels: ready-for-review

#1886 UNION to UNION ALL for nft related views
  models/nft/ethereum/metadata/nft_ethereum_metadata_art_platform_collections.sql
  models/nft/nft_aggregators.sql
  models/nft/nft_burns.sql
  models/nft/nft_events.sql
  models/nft/nft_fees.sql
  models/nft/nft_mints.sql
  models/nft/nft_trades.sql
Labels: ready-for-review

#1949 Add 13 Missing erc20-tokens
  deprecated-dune-v1-abstractions/ethereum/erc20/tokens.sql
  deprecated-dune-v1-abstractions/xdai/erc20/extended_tokenlist.sql
  models/tokens/ethereum/tokens_ethereum_erc20.sql
  models/tokens/gnosis/tokens_gnosis_erc20.sql
Labels: v2_engine, ready-for-merging, v1_engine

#1739 Add mStable to dex.trades in Dune v2 for Ethereum Mainnet.
  dbt_project.yml
  models/dex/dex_trades.sql
  models/mstable/ethereum/mstable_ethereum_schema.yml
  models/mstable/ethereum/mstable_ethereum_sources.yml
  models/mstable/ethereum/mstable_ethereum_trades.sql
  seeds/dex/trades/dex_trades_seed.csv
Labels: ready-for-merging, dework

#1959 Update tokens_polygon_erc20.sql
  models/tokens/polygon/tokens_polygon_erc20.sql
Labels: ready-for-merging

#1847 Add Zigzag Arbitrum to dex.trades
  dbt_project.yml
  models/dex/dex_trades.sql
  models/prices/prices_tokens.sql
  models/tokens/arbitrum/tokens_arbitrum_erc20.sql
  models/zigzag/arbitrum/zigzag_arbitrum_schema.yml
  models/zigzag/arbitrum/zigzag_arbitrum_sources.yml
  models/zigzag/arbitrum/zigzag_v1_arbitrum_trades.sql
  models/zigzag/zigzag_schema.yml
  models/zigzag/zigzag_trades.sql
  seeds/dex/trades/dex_trades_seed.csv
Labels: ready-for-merging

#1857 Add Bancor to dex.trades in Dune v2 for Ethereum Mainnet
  dbt_project.yml
  models/bancor/ethereum/bancor_ethereum_schema.yml
  models/bancor/ethereum/bancor_ethereum_sources.yml
  models/bancor/ethereum/bancor_ethereum_trades.sql
  models/dex/dex_trades.sql
  seeds/dex/trades/dex_trades_seed.csv
Labels: ready-for-merging, dework

#1869 Move nexusmutual items from v1 to v2
  dbt_project.yml
  models/nexusmutual/ethereum/nexusmutual_ethereum_quotation_trades.sql
  models/nexusmutual/ethereum/nexusmutual_ethereum_schema.yml
  models/nexusmutual/ethereum/nexusmutual_ethereum_sources.yml
  seeds/nexusmutual/ethereum/nexusmutual_ethereum_trades_seed.csv
  tests/generic/nexusmutual_trades_column_values.sql
Labels: ready-for-merging

#1906 labels added for Alameda
  macros/public/all_evm_chains.sql
  macros/public/all_evm_chains_schema.yml
  models/labels/cex/labels_cex_ethereum.sql
  models/labels/cex/labels_cex_schema.yml
Labels: ready-for-merging

#1885 Dex trades Kyberswap Avalanche (C-Chain)
  dbt_project.yml
  models/dex/dex_trades.sql
  models/kyberswap/avalanche_c/kyberswap_avalanche_c_schema.yml
  models/kyberswap/avalanche_c/kyberswap_avalanche_c_sources.yml
  models/kyberswap/avalanche_c/kyberswap_avalanche_c_trades.sql
  models/kyberswap/kyberswap_trades.sql
  models/kyberswap/kyberswap_trades_schema.yml
  models/prices/prices_tokens.sql
  seeds/dex/trades/dex_trades_seed.csv
Labels: ready-for-merging, dework

#1969 Add FTX Funds Drainer to Labels
  models/labels/hackers/labels_hackers_ethereum.sql
Labels: easy, ready-for-merging

#1967 add more Alameda address
  models/labels/funds/labels_funds_ethereum.sql
Labels: ready-for-merging

#1966 [CoW Protocol] Update solver Quasimodo submission address and name
  deprecated-dune-v1-abstractions/ethereum/gnosis_protocol_v2/view_solvers.sql
  models/cow_protocol/ethereum/cow_protocol_ethereum_solvers.sql
Labels: ready-for-merging

#1933 Add WOOFi Avalanche_C trades to dex.trades
  dbt_project.yml
  models/dex/dex_trades.sql
  models/prices/prices_tokens.sql
  models/tokens/avalanche_c/tokens_avalanche_c_erc20.sql
  models/woofi/avalanche_c/woofi_avalanche_c_schema.yml
  models/woofi/avalanche_c/woofi_avalanche_c_sources.yml
  models/woofi/avalanche_c/woofi_avalanche_c_trades.sql
  seeds/dex/trades/dex_trades_seed.csv
Labels: ready-for-merging, dework

#1984 reveal contract address for every event
  models/ironbank/ethereum/ironbank_ethereum_borrow.sql
  models/ironbank/ethereum/ironbank_ethereum_liquidation.sql
  models/ironbank/ethereum/ironbank_ethereum_mint.sql
  models/ironbank/ethereum/ironbank_ethereum_redeem.sql
  models/ironbank/ethereum/ironbank_ethereum_repay.sql
  models/ironbank/ethereum/ironbank_ethereum_schema.yml
  models/ironbank/optimism/ironbank_optimism_borrow.sql
  models/ironbank/optimism/ironbank_optimism_liquidation.sql
  models/ironbank/optimism/ironbank_optimism_mint.sql
  models/ironbank/optimism/ironbank_optimism_redeem.sql
  models/ironbank/optimism/ironbank_optimism_repay.sql
  models/ironbank/optimism/ironbank_optimism_schema.yml
Labels: ready-for-merging

#1979 [CoW Protocol] --Correction: Update Quasimodo solver name
  deprecated-dune-v1-abstractions/ethereum/gnosis_protocol_v2/view_solvers.sql
  deprecated-dune-v1-abstractions/xdai/gnosis_protocol_v2/view_solvers.sql
  models/cow_protocol/ethereum/cow_protocol_ethereum_solvers.sql
  models/cow_protocol/gnosis/cow_protocol_gnosis_solvers.sql
Labels: ready-for-merging

#1978 Update Missing Transactions in DAO Transactions Table [Easy]
  models/dao/transactions/ethereum/dao_transactions_ethereum_eth.sql
  models/dao/transactions/gnosis/dao_transactions_gnosis_eth.sql
  models/dao/transactions/polygon/dao_transactions_polygon_eth.sql
Labels: ready-for-merging

#1975 [Easy] Migrate `erc20.stablecoins` table to DuneV2
  models/tokens/ethereum/tokens_ethereum_erc20_stablecoins.sql
  models/tokens/ethereum/tokens_ethereum_schema.yml
Labels: ready-for-merging

#1972 Add bb-a-DAI and bb-a-USDT to ERC20 tokens
  models/tokens/ethereum/tokens_ethereum_erc20.sql
Labels: ready-for-merging

#1986 add native chain tokens as table
  models/tokens/tokens_native.sql
  models/tokens/tokens_schema.yml
Labels: in review

#1911 Seaport.trades on Polygon
  dbt_project.yml
  models/seaport/polygon/seaport_polygon_base_pairs.sql
  models/seaport/polygon/seaport_polygon_schema.yml
  models/seaport/polygon/seaport_polygon_sources.yml
  models/seaport/polygon/seaport_polygon_trades.sql
  seeds/seaport/seaport_nft_trades_seed.csv
  tests/generic/nft_trades_column_values_matching_test.sql
Labels: ready-for-merging

#1940 Add Uniswap DAO votes and proposals
  models/dao/dao_proposals.sql
  models/dao/dao_schema.yml
  models/dao/dao_votes.sql
  models/uniswap/ethereum/uniswap_ethereum_schema.yml
  models/uniswap/ethereum/uniswap_ethereum_sources.yml
  models/uniswap/ethereum/uniswap_v3_ethereum_proposals.sql
  models/uniswap/ethereum/uniswap_v3_ethereum_votes.sql
  seeds/uniswap_v3/uniswap_v3_proposals_test.csv
  seeds/uniswap_v3/uniswap_v3_votes_test.csv
  tests/uniswap_v3/uniswap_v3_proposals_test.sql
  tests/uniswap_v3/uniswap_v3_votes_test.sql
Labels: ready-for-review, dune team

#1987 Fix bug in safe.eth_transfers
  models/safe/ethereum/safe_ethereum_eth_transfers.sql
  tests/safe/eth_transfers_check_sum.sql
Labels: ready-for-merging

#1996 Fix NULL Zora trade ids
  models/zora/ethereum/zora_ethereum_events.sql
Labels: ready-for-merging

#1995 Unexpose chain-specific nft.transfers tables
  models/nft/arbitrum/nft_arbitrum_transfers.sql
  models/nft/avalanche_c/nft_avalanche_c_transfers.sql
  models/nft/bnb/nft_bnb_transfers.sql
  models/nft/ethereum/nft_ethereum_transfers.sql
  models/nft/gnosis/nft_gnosis_transfers.sql
  models/nft/optimism/nft_optimism_transfers.sql
  models/nft/polygon/nft_polygon_transfers.sql
Labels: ready-for-merging

#2017 OP Contracts - Fix Space Replace
  models/contracts/optimism/contracts_optimism_contract_mapping.sql
Labels: ready-for-merging

#2009 Update erc20 tokens on Polygon
  models/tokens/polygon/tokens_polygon_erc20.sql
Labels: ready-for-merging

#2012 Adding 34 new CEX addresses
  models/addresses/ethereum/addresses_ethereum_cex.sql
  models/addresses/ethereum/addresses_ethereum_schema.yml
Labels: ready-for-merging

#1998 [Easy]Modify pre-commit-config to point to dune's repo
  .pre-commit-config.yaml
Labels: ready-for-merging

#2019 OP Contract Tables Static Updates
  deprecated-dune-v1-abstractions/optimism2/erc20/tokens.sql
  models/contracts/optimism/contracts_optimism_contract_creator_address_list.sql
  models/contracts/optimism/contracts_optimism_project_name_mappings.sql
  models/tokens/optimism/tokens_optimism_erc20.sql
  models/tokens/optimism/tokens_optimism_nft.sql
Labels: ready-for-merging

#1993 Detect direct aggregator trades
  .github/workflows/dbt_slim_ci.yml
  models/looksrare/ethereum/looksrare_ethereum_events.sql
  models/nft/ethereum/nft_ethereum_aggregators_markers.sql
  models/nft/ethereum/nft_ethereum_schema.yml
  models/seaport/ethereum/seaport_ethereum_transfers.sql
  models/x2y2/ethereum/x2y2_ethereum_events.sql
Labels: ready-for-review

#2040 add tokemak orchestrator file
  deprecated-dune-v1-abstractions/ethereum/tokemak/adhoc_tokemak_orchestator.sql
Labels: ready-for-merging, v1_engine

#2044 Migrate Balancer V2 BPT prices view
  models/balancer/arbitrum/balancer_arbitrum_schema.yml
  models/balancer/arbitrum/balancer_arbitrum_sources.yml
  models/balancer/arbitrum/balancer_v2_arbitrum_bpt_prices.sql
  models/balancer/ethereum/balancer_ethereum_schema.yml
  models/balancer/ethereum/balancer_ethereum_sources.yml
  models/balancer/ethereum/balancer_v2_ethereum_bpt_prices.sql
  models/balancer/optimism/balancer_optimism_schema.yml
  models/balancer/optimism/balancer_optimism_sources.yml
  models/balancer/optimism/balancer_v2_optimism_bpt_prices.sql
  models/balancer/polygon/balancer_polygon_schema.yml
  models/balancer/polygon/balancer_polygon_sources.yml
  models/balancer/polygon/balancer_v2_polygon_bpt_prices.sql
Labels: ready-for-merging

#1962 CryptoPunks - fixes + new tables
  models/cryptopunks/ethereum/cryptopunks_ethereum_current_listings.sql
  models/cryptopunks/ethereum/cryptopunks_ethereum_current_owners_per_token.sql
  models/cryptopunks/ethereum/cryptopunks_ethereum_events.sql
  models/cryptopunks/ethereum/cryptopunks_ethereum_listings_over_time.sql
  models/cryptopunks/ethereum/cryptopunks_ethereum_metadata.sql
  models/cryptopunks/ethereum/cryptopunks_ethereum_owners_over_time.sql
  models/cryptopunks/ethereum/cryptopunks_ethereum_schema.yml
  models/cryptopunks/ethereum/cryptopunks_ethereum_sources.yml
Labels: ready-for-merging

#1990 Add Arbitrum Gas Fees spell
  dbt_project.yml
  models/gas/arbitrum/gas_arbitrum_fees.sql
  models/gas/arbitrum/gas_arbitrum_fees_schema.yml
  models/gas/gas_fees.sql
  models/gas/gas_fees_schema.yml
Labels: ready-for-merging

#2055 Quick fix - typo + new contracts
  models/nft/ethereum/metadata/nft_ethereum_metadata_art_blocks_collections.sql
  models/nft/ethereum/metadata/nft_ethereum_metadata_fellowship_gallery.sql
Labels: ready-for-merging

#2025 Jarvis Network : Synthereum Spell
  dbt_project.yml
  models/jarvis_network/polygon/jarvis_network_polygon_all_transactions.sql
  models/jarvis_network/polygon/jarvis_network_polygon_jfiat_address_mapping.sql
  models/jarvis_network/polygon/jarvis_network_polygon_jfiat_collateral_mapping.sql
  models/jarvis_network/polygon/jarvis_network_polygon_schema.yml
  models/jarvis_network/polygon/jarvis_network_polygon_sources.yml
  seeds/jarvis_network/polygon/jarvis_network_polygon_view_transactions_seed.csv
  tests/jarvis_network/polygon/jarvis_network_polygon_view_all_transactions.sql
Labels: ready-for-merging

#2048 Chainlink Polygon Oracle Price Feed Spell
  dbt_project.yml
  models/chainlink/chainlink_price_feeds_hourly.sql
  models/chainlink/chainlink_price_feeds_schema.yml
  models/chainlink/polygon/chainlink_polygon_oracle_addresses.sql
  models/chainlink/polygon/chainlink_polygon_oracle_token_mapping.sql
  models/chainlink/polygon/chainlink_polygon_price_feeds.sql
  models/chainlink/polygon/chainlink_polygon_price_feeds_hourly.sql
  models/chainlink/polygon/chainlink_polygon_schema.yml
  seeds/chainlink/polygon/chainlink_polygon_get_price.csv
  tests/chainlink/polygon/chainlink_polygon_get_oracle_price.sql
Labels: ready-for-merging

#2028 T-20805 - Get nft.trades to work with Trino SQL
  models/archipelago/ethereum/archipelago_ethereum_trades.sql
  models/blur/ethereum/blur_ethereum_trades.sql
  models/cryptopunks/ethereum/cryptopunks_ethereum_trades.sql
  models/element/bnb/element_bnb_trades.sql
  models/element/element_trades.sql
  models/foundation/ethereum/foundation_ethereum_trades.sql
  models/looksrare/ethereum/looksrare_ethereum_trades.sql
  models/magiceden/magiceden_trades.sql
  models/opensea/ethereum/opensea_ethereum_events.sql
  models/opensea/opensea_trades.sql
  models/sudoswap/ethereum/sudoswap_ethereum_trades.sql
  models/superrare/superrare_ethereum_trades.sql
  models/x2y2/ethereum/x2y2_ethereum_trades.sql
  models/zora/ethereum/zora_ethereum_trades.sql
Labels: WIP

#2057 [CoW Protocol] start counting dex_swaps from dex.trades
  models/cow_protocol/ethereum/cow_protocol_ethereum_batches.sql
  tests/cow_protocol/ethereum/cow_protocol_ethereum_assert_batches.sql
  tests/cow_protocol/ethereum/cow_protocol_ethereum_assert_trades.sql
Labels: easy, v2_engine

#2007 feat(dex.trades): add biswap binance
  dbt_project.yml
  models/biswap/bnb/biswap_bnb_schema.yml
  models/biswap/bnb/biswap_bnb_sources.yml
  models/biswap/bnb/biswap_bnb_trades.sql
  models/dex/dex_trades.sql
  seeds/dex/trades/dex_trades_seed.csv
Labels: ready-for-merging

#2047 [Easy] Seperate mainet tokens from wrapped tokens in DAO Transactions Table [Ready for Review]
  models/dao/transactions/ethereum/dao_transactions_ethereum_eth.sql
  models/dao/transactions/gnosis/dao_transactions_gnosis_eth.sql
  models/dao/transactions/polygon/dao_transactions_polygon_eth.sql
Labels: ready-for-merging

#2064 [Easy] fix dao transactions table dupes [Ready for review]
  models/dao/addresses/dao_addresses.sql
  models/dao/addresses/dao_addresses_schema.yml
  models/dao/addresses/ethereum/dao_addresses_ethereum_schema.yml
  models/dao/addresses/gnosis/dao_addresses_gnosis_schema.yml
  models/dao/addresses/polygon/dao_addresses_polygon_schema.yml
  models/dao/transactions/dao_transactions.sql
  models/dao/transactions/dao_transactions_schema.yml
  models/dao/transactions/ethereum/dao_transactions_ethereum_erc20.sql
  models/dao/transactions/ethereum/dao_transactions_ethereum_eth.sql
  models/dao/transactions/ethereum/dao_transactions_ethereum_schema.yml
  models/dao/transactions/gnosis/dao_transactions_gnosis_erc20.sql
  models/dao/transactions/gnosis/dao_transactions_gnosis_eth.sql
  models/dao/transactions/gnosis/dao_transactions_gnosis_schema.yml
  models/dao/transactions/polygon/dao_transactions_polygon_erc20.sql
  models/dao/transactions/polygon/dao_transactions_polygon_eth.sql
  models/dao/transactions/polygon/dao_transactions_polygon_schema.yml
Labels: ready-for-merging

#2003 Full rewrite of LooksRare abstraction
  models/looksrare/ethereum/looksrare_ethereum_burns.sql
  models/looksrare/ethereum/looksrare_ethereum_events.sql
  models/looksrare/ethereum/looksrare_ethereum_fees.sql
  models/looksrare/ethereum/looksrare_ethereum_mints.sql
  models/looksrare/ethereum/looksrare_ethereum_sources.yml
  models/looksrare/ethereum/looksrare_ethereum_trades.sql
Labels: ready-for-review

#2139 Add Missing ERC20 Tokens
  deprecated-dune-v1-abstractions/ethereum/erc20/tokens.sql
  models/tokens/ethereum/tokens_ethereum_erc20.sql
Labels: easy, v2_engine, ready-for-merging, v1_engine

#2123 T-21495 - Make opensea fees Trino compatible
  models/opensea/ethereum/opensea_ethereum_fees.sql
  models/opensea/opensea_fees.sql
Labels: ready-for-merging, dune team

#2124 T-21495 - Fix looksrare fees to be Trino compatible
  models/looksrare/ethereum/looksrare_ethereum_events.sql
  models/looksrare/ethereum/looksrare_ethereum_fees.sql
Labels: ready-for-merging, dune team

#1977 Add 1inch new router address to dex.trades (V1)
  deprecated-dune-v1-abstractions/ethereum/dex/trades/insert_1inch.sql
Labels: ready-for-merging, v1_engine

#2132 T-21495 - Change blur fees to be Trino compatible
  models/blur/ethereum/blur_ethereum_events.sql
  models/blur/ethereum/blur_ethereum_fees.sql
Labels: ready-for-review, dune team

#2131 T-21495 - Change zora fees to be Trino compatible
  models/zora/ethereum/zora_ethereum_events.sql
  models/zora/ethereum/zora_ethereum_fees.sql
Labels: ready-for-review, dune team

#2130 T-21495 - Change superrare fees to be Trino compatible
  models/superrare/superrare_ethereum_events.sql
  models/superrare/superrare_ethereum_fees.sql
Labels: ready-for-review, dune team

#2129 T-21495 - Change element fees to be Trino compatible
  models/element/avalanche_c/element_avalanche_c_events.sql
  models/element/avalanche_c/element_avalanche_c_fees.sql
  models/element/bnb/element_bnb_events.sql
  models/element/bnb/element_bnb_fees.sql
  models/element/element_fees.sql
  models/element/ethereum/element_ethereum_events.sql
  models/element/ethereum/element_ethereum_fees.sql
Labels: ready-for-review, dune team

#2128 T-21495 - Change archipelago fees to be Trino compatible
  models/archipelago/ethereum/archipelago_ethereum_events.sql
  models/archipelago/ethereum/archipelago_ethereum_fees.sql
Labels: ready-for-review, dune team

#2127 T-21495 - Change foundation fees to be Trino compatible
  models/foundation/ethereum/foundation_ethereum_events.sql
  models/foundation/ethereum/foundation_ethereum_fees.sql
Labels: ready-for-review, dune team

#2125 T-21495 - Change x2y2 fees to be Trino compatible
  models/x2y2/ethereum/x2y2_ethereum_events.sql
  models/x2y2/ethereum/x2y2_ethereum_fees.sql
Labels: ready-for-review, dune team

#2126 T-21495 - Change sudoswap fees to be Trino compatible
  models/sudoswap/ethereum/sudoswap_ethereum_fees.sql
Labels: ready-for-review, dune team

#2134 bnb chain contract mapping
  dbt_project.yml
  models/contracts/bnb/contracts_bnb_contract_mapping.sql
  models/contracts/bnb/contracts_bnb_schema.yml
Labels: ready-for-merging

#2102 Change Avalanche chain explorer from avascan.io to snowtrace.io
  macros/public/get_chain_explorer.sql
Labels: ready-for-merging

#2111 T-26026 - Change hashflow trades model to be Trino compatible
  models/hashflow/avalanche_c/hashflow_avalanche_c_trades.sql
  models/hashflow/ethereum/hashflow_ethereum_trades.sql
  models/hashflow/hashflow_trades.sql
Labels: ready-for-review, dune team

#2113 T-26026 - Change zigzag trades model to be Trino compatible
  models/zigzag/arbitrum/zigzag_v1_arbitrum_trades.sql
  models/zigzag/zigzag_trades.sql
Labels: ready-for-review, dune team

#2114 T-26026 - Change gmx trades model to be Trino compatible
  models/gmx/arbitrum/gmx_arbitrum_trades.sql
  models/gmx/avalanche_c/gmx_avalanche_c_trades.sql
  models/gmx/gmx_trades.sql
Labels: ready-for-review, dune team

#2115 T-26026 - Change biswap_bnb trades model to be Trino compatible
  models/biswap/bnb/biswap_bnb_trades.sql
Labels: ready-for-review, dune team

#2116 T-20626 - Change dex trades model to be Trino compatible
  models/dex/dex_trades.sql
Labels: ready-for-review, dune team

#2085 T-26026 - Change kyberswap trades model to be Trino compatible
  models/kyberswap/avalanche_c/kyberswap_avalanche_c_trades.sql
  models/kyberswap/kyberswap_trades.sql
Labels: WIP, dune team

#2070 [CoW Protocol] Fix V1 Dex Swaps
  deprecated-dune-v1-abstractions/ethereum/gnosis_protocol_v2/insert_batches.sql
Labels: v1_engine, in review

#2142 prices.usd_forward_fill solution for lagging price feeds
  models/prices/prices_schema.yml
  models/prices/prices_usd_forward_fill.sql
Labels: ready-for-review

#2144 Drop SHIH price feed because of anomaly
  models/prices/prices_tokens.sql
Labels: easy, ready-for-review

#1941 aztec_v2 connect spell [Ready for Review]
  dbt_project.yml
  models/aztec/ethereum/aztec_ethereum_schema.yml
  models/aztec/ethereum/aztec_ethereum_sources.yml
  models/aztec/ethereum/aztec_v2_ethereum_bridges.sql
  models/aztec/ethereum/aztec_v2_ethereum_daily_bridge_activity.sql
  models/aztec/ethereum/aztec_v2_ethereum_daily_deposits.sql
  models/aztec/ethereum/aztec_v2_ethereum_daily_estimated_rollup_tvl.sql
  models/aztec/ethereum/aztec_v2_ethereum_deposit_assets.sql
  models/aztec/ethereum/aztec_v2_ethereum_rollupbridge_transfers.sql
Labels: question, in review

#1947 Add Trader Joe Avalanche to dex.trades
  dbt_project.yml
  models/dex/dex_trades.sql
  models/prices/prices_tokens.sql
  models/tokens/avalanche_c/tokens_avalanche_c_erc20.sql
  models/trader_joe/avalanche_c/trader_joe_avalanche_c_schema.yml
  models/trader_joe/avalanche_c/trader_joe_avalanche_c_sources.yml
  models/trader_joe/avalanche_c/trader_joe_avalanche_c_trades.sql
  models/trader_joe/trader_joe_schema.yml
  models/trader_joe/trader_joe_trades.sql
  seeds/dex/trades/dex_trades_seed.csv
Labels: ready-for-merging, dework

#1960 Creating Inorganic Volume Filter Spell
  models/opensea/inorganic_volume_filter/blur/opensea_inorganic_volume_filter_blur.sql
  models/opensea/inorganic_volume_filter/blur/opensea_inorganic_volume_filter_blur_schema.yml
  models/opensea/inorganic_volume_filter/looksrare/opensea_inorganic_volume_filter_looksrare.sql
  models/opensea/inorganic_volume_filter/looksrare/opensea_inorganic_volume_filter_looksrare_schema.yml
  models/opensea/inorganic_volume_filter/wallet_funders/opensea_inorganic_volume_filter_wallet_funders.sql
  models/opensea/inorganic_volume_filter/wallet_funders/opensea_inorganic_volume_filter_wallet_funders_schema.yml
  models/opensea/inorganic_volume_filter/wallet_funders/opensea_inorganic_volume_filter_wallet_funders_wallets.sql
  models/opensea/inorganic_volume_filter/x2y2/opensea_inorganic_volume_filter_x2y2.sql
  models/opensea/inorganic_volume_filter/x2y2/opensea_inorganic_volume_filter_x2y2_schema.yml
  models/opensea/inorganic_volume_filter/x2y2/opensea_inorganic_volume_filter_x2y2_sources.yml
Labels: ready-for-merging
