Repository duneanalytics/spellbook, pull requests merged in 2022-12, with the labels that each got.

#2182 fix element trades
  models/element/avalanche_c/element_avalanche_c_burns.sql
  models/element/avalanche_c/element_avalanche_c_events.sql
  models/element/avalanche_c/element_avalanche_c_fees.sql
  models/element/avalanche_c/element_avalanche_c_mints.sql
  models/element/avalanche_c/element_avalanche_c_trades.sql
  models/element/bnb/element_bnb_burns.sql
  models/element/bnb/element_bnb_events.sql
  models/element/bnb/element_bnb_fees.sql
  models/element/bnb/element_bnb_mints.sql
  models/element/bnb/element_bnb_trades.sql
  models/element/element_burns.sql
  models/element/element_events.sql
  models/element/element_fees.sql
  models/element/element_mints.sql
  models/element/element_trades.sql
  models/element/ethereum/element_ethereum_burns.sql
  models/element/ethereum/element_ethereum_events.sql
  models/element/ethereum/element_ethereum_fees.sql
  models/element/ethereum/element_ethereum_mints.sql
  models/element/ethereum/element_ethereum_trades.sql
  models/nft/nft_trades.sql
Labels: ready-for-review, dune team

#2176 ADD Lido "STMATIC" token to prices_tokens.sql
  models/prices/prices_tokens.sql
Labels: ready-for-merging

#2004 add babyswap on bnb
  dbt_project.yml
  models/babyswap/bnb/babyswap_bnb_schema.yml
  models/babyswap/bnb/babyswap_bnb_sources.yml
  models/babyswap/bnb/babyswap_bnb_trades.sql
  models/dex/dex_trades.sql
  models/tokens/bnb/tokens_bnb_bep20.sql
  seeds/dex/trades/dex_trades_seed.csv
Labels: ready-for-merging, dework

#1982 Add Tigris Spells
  dbt_project.yml
  models/tigris/arbitrum/events/tigris_arbitrum_events_add_margin.sql
  models/tigris/arbitrum/events/tigris_arbitrum_events_asset_added.sql
  models/tigris/arbitrum/events/tigris_arbitrum_events_close_position.sql
  models/tigris/arbitrum/events/tigris_arbitrum_events_liquidate_position.sql
  models/tigris/arbitrum/events/tigris_arbitrum_events_modify_margin.sql
  models/tigris/arbitrum/events/tigris_arbitrum_events_open_position.sql
  models/tigris/arbitrum/events/tigris_arbitrum_events_schema.yml
  models/tigris/arbitrum/events/tigris_arbitrum_events_sources.yml
  models/tigris/arbitrum/positions/tigris_arbitrum_positions_close.sql
  models/tigris/arbitrum/positions/tigris_arbitrum_positions_leverage.sql
  models/tigris/arbitrum/positions/tigris_arbitrum_positions_liquidation.sql
  models/tigris/arbitrum/positions/tigris_arbitrum_positions_margin.sql
  models/tigris/arbitrum/positions/tigris_arbitrum_positions_schema.yml
  models/tigris/arbitrum/tigris_arbitrum_schema.yml
  models/tigris/arbitrum/tigris_arbitrum_trades.sql
  models/tigris/polygon/events/tigris_polygon_events_add_margin.sql
  models/tigris/polygon/events/tigris_polygon_events_asset_added.sql
  models/tigris/polygon/events/tigris_polygon_events_close_position.sql
  models/tigris/polygon/events/tigris_polygon_events_liquidate_position.sql
  models/tigris/polygon/events/tigris_polygon_events_modify_margin.sql
  models/tigris/polygon/events/tigris_polygon_events_open_position.sql
  models/tigris/polygon/events/tigris_polygon_events_schema.yml
  models/tigris/polygon/events/tigris_polygon_events_sources.yml
  models/tigris/polygon/positions/tigris_polygon_positions_close.sql
  models/tigris/polygon/positions/tigris_polygon_positions_leverage.sql
  models/tigris/polygon/positions/tigris_polygon_positions_liquidation.sql
  models/tigris/polygon/positions/tigris_polygon_positions_margin.sql
  models/tigris/polygon/positions/tigris_polygon_positions_schema.yml
  models/tigris/polygon/tigris_polygon_schema.yml
  models/tigris/polygon/tigris_polygon_trades.sql
  models/tigris/tigris_trades.sql
  models/tigris/tigris_trades_schema.yml
Labels: ready-for-merging

#2170 Add OLE token based on the BNB
  models/prices/prices_tokens.sql
Labels: ready-for-merging

#2171 Add Uniswap NFTs to Aggregators
  models/nft/ethereum/nft_ethereum_aggregators.sql
Labels: ready-for-merging

#1912 Seaport.trades on Arbitrum
  dbt_project.yml
  models/seaport/arbitrum/seaport_arbitrum_base_pairs.sql
  models/seaport/arbitrum/seaport_arbitrum_schema.yml
  models/seaport/arbitrum/seaport_arbitrum_sources.yml
  models/seaport/arbitrum/seaport_arbitrum_trades.sql
  seeds/nft/nft_trades_seed.csv
Labels: ready-for-merging

#1913 Seaport.trades on BNB
  dbt_project.yml
  models/seaport/bnb/seaport_bnb_base_pairs.sql
  models/seaport/bnb/seaport_bnb_schema.yml
  models/seaport/bnb/seaport_bnb_sources.yml
  models/seaport/bnb/seaport_bnb_trades.sql
  seeds/nft/nft_trades_seed.csv
Labels: ready-for-merging

#2122 OP Contracts Updates
  models/contracts/optimism/contracts_optimism_contract_creator_address_list.sql
  models/contracts/optimism/contracts_optimism_nondeterministic_contract_creators.sql
  models/contracts/optimism/contracts_optimism_project_name_mappings.sql
  models/contracts/optimism/contracts_optimism_schema.yml
Labels: WIP

#2194 [ERC20] Add Missing Tokens
  deprecated-dune-v1-abstractions/ethereum/erc20/tokens.sql
  models/tokens/ethereum/tokens_ethereum_erc20.sql
Labels: easy, v2_engine, v1_engine

#2198 change seaport seed generic test to be seaport-specific
  dbt_project.yml
  models/seaport/arbitrum/seaport_arbitrum_schema.yml
  models/seaport/avalanche_c/seaport_avalanche_c_schema.yml
  models/seaport/bnb/seaport_bnb_schema.yml
  models/seaport/optimism/seaport_optimism_schema.yml
  models/seaport/polygon/seaport_polygon_schema.yml
  seeds/seaport/seaport_trades_seed.csv
  tests/generic/check_seaport_seed.sql
Labels: ready-for-merging, dune team

#2005 feat(dex.trades): add nomiswap binance smart chain
  dbt_project.yml
  models/dex/dex_trades.sql
  models/nomiswap/bnb/nomiswap_bnb_schema.yml
  models/nomiswap/bnb/nomiswap_bnb_sources.yml
  models/nomiswap/bnb/nomiswap_bnb_trades.sql
  seeds/dex/trades/dex_trades_seed.csv
Labels: ready-for-merging, dework

#2008 feat(dex.trades): add mdex binance
  dbt_project.yml
  models/dex/dex_trades.sql
  models/mdex/bnb/mdex_bnb_schema.yml
  models/mdex/bnb/mdex_bnb_sources.yml
  models/mdex/bnb/mdex_bnb_trades.sql
  seeds/dex/trades/dex_trades_seed.csv
Labels: ready-for-merging, dework

#2038 Add Iziswap to dex.trades
  dbt_project.yml
  models/dex/dex_trades.sql
  models/iziswap/bnb/iziswap_bnb_schema.yml
  models/iziswap/bnb/iziswap_bnb_sources.yml
  models/iziswap/bnb/iziswap_bnb_trades.sql
  models/wombat/bnb/wombat_bnb_schema.yml
  models/wombat/bnb/wombat_bnb_sources.yml
  models/wombat/bnb/wombat_bnb_trades.sql
  seeds/dex/trades/dex_trades_seed.csv
  tests/iziswap/bnb/iziswap_bnb_assert_samples.sql
  tests/wombat/bnb/wombat_bnb_assert_samples.sql
Labels: ready-for-merging, dework

#2191 prices_tokens additions
  models/prices/prices_tokens.sql
Labels: ready-for-merging

#2201 Add Oxalus NFT Aggregator on BNB
  models/nft/bnb/nft_bnb_aggregators.sql
Labels: ready-for-merging

#2200 Add System Address Labels
  models/labels/system_addresses/labels_system_addresses.sql
  models/labels/system_addresses/labels_system_addresses_schema.yml
Labels: ready-for-merging

#2192 Final nft.wash_trades tweaks
  dbt_project.yml
  models/nft/nft_schema.yml
  models/nft/nft_wash_trades.sql
  seeds/nft/nft_seeds_schema.yml
  seeds/nft/nft_wash_trades_refactor_seed.csv
  tests/nft/nft_wash_trades_refactor_test.sql
Labels: ready-for-merging

#2199 fix balancer view liquidity
  deprecated-dune-v1-abstractions/ethereum/balancer_v2/view_liquidity.sql
Labels: v1_engine, in review

#2193 Updated GMX GLP tables
  models/gmx/arbitrum/glp/gmx_arbitrum_glp_aum.sql
  models/gmx/arbitrum/glp/gmx_arbitrum_glp_components.sql
  models/gmx/arbitrum/glp/gmx_arbitrum_glp_components_base.sql
  models/gmx/arbitrum/glp/gmx_arbitrum_glp_exposure.sql
  models/gmx/arbitrum/glp/gmx_arbitrum_glp_fees.sql
  models/gmx/arbitrum/glp/gmx_arbitrum_glp_float.sql
  models/gmx/arbitrum/glp/gmx_arbitrum_glp_schema.yml
  models/gmx/arbitrum/vault/gmx_arbitrum_vault_balances.sql
  models/gmx/arbitrum/vault/gmx_arbitrum_vault_schema.yml
Labels: ready-for-merging

#2206 feat(new_tokens): adds drip, fur and pstn tokens
  models/prices/prices_tokens.sql
Labels: ready-for-merging

#2081 Change one file to table
  models/cryptopunks/ethereum/cryptopunks_ethereum_current_owners_per_token.sql
  models/cryptopunks/ethereum/cryptopunks_ethereum_punk_transfers.sql
  models/cryptopunks/ethereum/cryptopunks_ethereum_schema.yml
Labels: ready-for-merging

#2217 v1 engine tokemak fix
  deprecated-dune-v1-abstractions/ethereum/tokemak/adhoc_tokemak_orchestator.sql
  deprecated-dune-v1-abstractions/ethereum/tokemak/view_tokemak_convex_frax_pool_stats_daily.sql
  deprecated-dune-v1-abstractions/ethereum/tokemak/view_tokemak_convex_pool_stats_daily.sql
  deprecated-dune-v1-abstractions/ethereum/tokemak/view_tokemak_curve_convex_pool_total_supply.sql
  deprecated-dune-v1-abstractions/ethereum/tokemak/view_tokemak_curve_pool_stats_daily.sql
  deprecated-dune-v1-abstractions/ethereum/tokemak/view_tokemak_deployed_asset_balances_daily.sql
  deprecated-dune-v1-abstractions/ethereum/tokemak/view_tokemak_lookup_sources.sql
  deprecated-dune-v1-abstractions/ethereum/tokemak/view_tokemak_lookup_tokens.sql
  deprecated-dune-v1-abstractions/ethereum/tokemak/view_tokemak_wallet_balances_daily.sql
Labels: v1_engine

#2213 Make nft.burns trino compatible + clean up comments and unnecessary casts
  models/nft/nft_trades.sql
  models/opensea/ethereum/opensea_ethereum_burns.sql
  models/x2y2/ethereum/x2y2_ethereum_events.sql
Labels: ready-for-merging

#2220 T-21120 - Make ironbank views trino compatible
  models/ironbank/ethereum/ironbank_ethereum_borrow.sql
  models/ironbank/ethereum/ironbank_ethereum_liquidation.sql
  models/ironbank/ethereum/ironbank_ethereum_mint.sql
  models/ironbank/ethereum/ironbank_ethereum_redeem.sql
  models/ironbank/ethereum/ironbank_ethereum_repay.sql
  models/ironbank/optimism/ironbank_optimism_borrow.sql
  models/ironbank/optimism/ironbank_optimism_liquidation.sql
  models/ironbank/optimism/ironbank_optimism_mint.sql
  models/ironbank/optimism/ironbank_optimism_redeem.sql
  models/ironbank/optimism/ironbank_optimism_repay.sql
Labels: ready-for-merging

#2219 One other view --> table change
  models/cryptopunks/ethereum/cryptopunks_ethereum_owners_over_time.sql
  models/cryptopunks/ethereum/cryptopunks_ethereum_schema.yml
Labels: ready-for-merging

#2210 Bnbcontractmapping
  models/contracts/bnb/contracts_bnb_contract_mapping.sql
Labels: ready-for-merging

#2231 [Easy] - fix dao-transactions-eth
  models/dao/addresses/ethereum/dao_addresses_ethereum.sql
  models/dao/transactions/ethereum/dao_transactions_ethereum_eth.sql
Labels: ready-for-merging

#2215 T-20626 - Make dao.transactions Trino compatible
  models/dao/transactions/ethereum/dao_transactions_ethereum_erc20.sql
  models/dao/transactions/ethereum/dao_transactions_ethereum_eth.sql
  models/dao/transactions/gnosis/dao_transactions_gnosis_erc20.sql
  models/dao/transactions/gnosis/dao_transactions_gnosis_eth.sql
  models/dao/transactions/polygon/dao_transactions_polygon_erc20.sql
  models/dao/transactions/polygon/dao_transactions_polygon_eth.sql
Labels: question, WIP, dune team

#2234 Dune version of hooks
  .pre-commit-config.yaml
Labels: dune team

#2227 Make nft.trades Trino compatible again
  models/opensea/opensea_trades.sql
  models/opensea/solana/opensea_solana_events.sql
  models/x2y2/ethereum/x2y2_ethereum_events.sql
  models/x2y2/ethereum/x2y2_ethereum_trades.sql
  models/zora/ethereum/zora_ethereum_events.sql
  models/zora/ethereum/zora_ethereum_trades.sql
Labels: in review

#2241 Added tokens required for Wombat
  models/prices/prices_tokens.sql
Labels: ready-for-merging

#2246 [BugFix] Fix Native Asset Label on Gnosis Chain
  models/tokens/gnosis/tokens_gnosis_erc20.sql
Labels: bug, easy, v2_engine

#2228 [CoW Protocol] Expose both trade tables in schema
  models/cow_protocol/cow_protocol_trades.sql
  models/cow_protocol/cow_protocol_trades_schema.yml
  models/cow_protocol/ethereum/cow_protocol_ethereum_schema.yml
  models/cow_protocol/ethereum/cow_protocol_ethereum_trades.sql
  models/cow_protocol/gnosis/cow_protocol_gnosis_schema.yml
  models/cow_protocol/gnosis/cow_protocol_gnosis_trades.sql
  models/dex/aggregator/dex_aggregator_trades.sql
  models/dex/dex_trades.sql
Labels: easy, v2_engine, ready-for-merging

#2256 [CoW Protocol] Add Batches spell for Gnosis Chain
  models/cow_protocol/cow_protocol_batches.sql
  models/cow_protocol/cow_protocol_schema.yml
  models/cow_protocol/gnosis/cow_protocol_gnosis_batches.sql
  models/cow_protocol/gnosis/cow_protocol_gnosis_schema.yml
  models/cow_protocol/gnosis/cow_protocol_gnosis_sources.yml
Labels: v2_engine, ready-for-merging

#2045 Add BSC WOOFi trades to dex.trades
  dbt_project.yml
  models/dex/dex_trades.sql
  models/woofi/bnb/woofi_bnb_schema.yml
  models/woofi/bnb/woofi_bnb_sources.yml
  models/woofi/bnb/woofi_bnb_trades.sql
  models/woofi/woofi_schema.yml
  models/woofi/woofi_trades.sql
  seeds/dex/trades/dex_trades_seed.csv
Labels: ready-for-merging

#2257 add two more static tags to tables
  models/airdrop/optimism/airdrop_optimism_addresses_1_schema.yml
  models/tokens/polygon/tokens_polygon_erc20.sql
Labels: dune team

#2266 T-21622 - New macro for hiding unsupported spells in Trino
  macros/expose_spells_hide_trino.sql
  models/balancer/ethereum/balancer_ethereum_balances.sql
  models/balances/ethereum/erc1155/balances_ethereum_erc1155_day.sql
  models/balances/ethereum/erc1155/balances_ethereum_erc1155_hour.sql
  models/balances/ethereum/erc1155/balances_ethereum_erc1155_latest.sql
  models/balances/ethereum/erc20/balances_ethereum_erc20_day.sql
  models/balances/ethereum/erc20/balances_ethereum_erc20_hour.sql
  models/balances/ethereum/erc20/balances_ethereum_erc20_latest.sql
  models/balances/ethereum/erc721/balances_ethereum_erc721_day.sql
  models/balances/ethereum/erc721/balances_ethereum_erc721_hour.sql
  models/balances/ethereum/erc721/balances_ethereum_erc721_latest.sql
  models/ens/ens_view_expirations.sql
  models/keep3r_network/ethereum/keep3r_network_ethereum_view_job_credits_log.sql
  models/keep3r_network/ethereum/keep3r_network_ethereum_view_job_liquidity_log.sql
  models/keep3r_network/ethereum/keep3r_network_ethereum_view_job_log.sql
  models/keep3r_network/ethereum/keep3r_network_ethereum_view_job_migrations.sql
  models/nomad/ethereum/nomad_ethereum_view_bridge_transactions.sql
  models/seaport/ethereum/seaport_ethereum_view_transactions.sql
Labels: ready-for-review

#2247 T-21220 - Make opensea.events trino compatible
  models/opensea/opensea_events.sql
Labels: ready-for-review

#2248 T-21220 - Make nft.burns trino compatible
  models/blur/ethereum/blur_ethereum_events.sql
  models/foundation/ethereum/foundation_ethereum_events.sql
Labels: ready-for-review

#2262 Change token_id of WOM, HAY and BNBx to match coinpaprika
  models/prices/prices_tokens.sql
Labels: ready-for-merging

#2138 OpenSea V1 [Wyvern] rewrite and fixes
  dbt_project.yml
  models/opensea/ethereum/opensea_ethereum_schema.yml
  models/opensea/ethereum/opensea_v1_ethereum_events.sql
  models/opensea/ethereum/opensea_v1_ethereum_excluded_txns.sql
  models/opensea/ethereum/opensea_v1_ethereum_fees.sql
  seeds/opensea/ethereum/opensea_wyvern_trades_samples.csv
  tests/generic/check_seed.sql
Labels: ready-for-merging

#2264 [CoW] Fix solver name casing
  models/cow_protocol/gnosis/cow_protocol_gnosis_solvers.sql
Labels: easy, v2_engine

#2267 Fix for Blur's recent bid support
  models/blur/ethereum/blur_ethereum_events.sql
Labels: easy, ready-for-merging

#2118 Full x2y2 rewrite
  dbt_project.yml
  models/x2y2/ethereum/x2y2_ethereum_events.sql
  models/x2y2/ethereum/x2y2_ethereum_schema.yml
  seeds/x2y2/ethereum/x2y2_ethereum_trades_etherscan.csv
  tests/generic/check_seed.sql
  tests/x2y2/ethereum/x2y2_ethereum_assert_samples.sql
Labels: ready-for-merging

#2277 T-21220 - Fix aztec views to be Trino compatible
  models/aztec/ethereum/aztec_v2_ethereum_bridges.sql
  models/aztec/ethereum/aztec_v2_ethereum_deposit_assets.sql
Labels: ready-for-review

#2275 T-21220 - Make chainlink views Trino compatible
  models/chainlink/bnb/chainlink_bnb_oracle_addresses.sql
  models/chainlink/bnb/chainlink_bnb_oracle_token_mapping.sql
  models/chainlink/polygon/chainlink_polygon_oracle_addresses.sql
  models/chainlink/polygon/chainlink_polygon_oracle_token_mapping.sql
Labels: ready-for-review

#2244 T-20626 - Make dao.transactions Trino compatible round 2
  models/dao/transactions/ethereum/dao_transactions_ethereum_erc20.sql
  models/dao/transactions/gnosis/dao_transactions_gnosis_erc20.sql
  models/dao/transactions/polygon/dao_transactions_polygon_erc20.sql
Labels: ready-for-review, dune team

#2276 T-21622 - Hide more views
  models/balancer/arbitrum/balancer_v2_arbitrum_bpt_prices.sql
  models/balancer/ethereum/balancer_v2_ethereum_bpt_prices.sql
  models/balancer/optimism/balancer_v2_optimism_bpt_prices.sql
  models/balancer/polygon/balancer_v2_polygon_bpt_prices.sql
  models/cow_protocol/tx_hash_labels/stable_to_stable/cow_protocol_tx_hash_labels_stable_to_stable.sql
  models/cryptopunks/ethereum/cryptopunks_ethereum_current_listings.sql
  models/cryptopunks/ethereum/cryptopunks_ethereum_floor_price_over_time.sql
  models/cryptopunks/ethereum/cryptopunks_ethereum_listings_over_time.sql
  models/cryptopunks/ethereum/cryptopunks_ethereum_metadata.sql
  models/cryptopunks/ethereum/cryptopunks_ethereum_owners_over_time.sql
  models/nft/ethereum/nft_ethereum_aggregators_markers.sql
  models/nft/nft_burns.sql
  models/prices/prices_usd_forward_fill.sql
Labels: ready-for-review, dune team

#2270 added posthook tokens_ethereum_erc20_stablecoins
  models/tokens/ethereum/tokens_ethereum_erc20_stablecoins.sql
Labels: dune team

#2272 T-21220 - Make nft.events trino compatible
  models/archipelago/ethereum/archipelago_ethereum_events.sql
  models/cryptopunks/ethereum/cryptopunks_ethereum_events.sql
  models/magiceden/solana/magiceden_solana_events.sql
  models/nft/ethereum/nft_ethereum_native_mints.sql
  models/sudoswap/ethereum/sudoswap_ethereum_events.sql
  models/superrare/superrare_ethereum_events.sql
Labels: ready-for-merging, dune team

#2273 T-21220 - Make nft.fees Trino compatible
  models/sudoswap/ethereum/sudoswap_ethereum_events.sql
  models/sudoswap/ethereum/sudoswap_ethereum_schema.yml
Labels: ready-for-merging, dune team

#2280 [Easy] Add missing tokens
  deprecated-dune-v1-abstractions/ethereum/erc20/tokens.sql
  models/tokens/ethereum/tokens_ethereum_erc20.sql
Labels: ready-for-merging

#2281 [easy] Add new collections to metadata files
  models/nft/ethereum/metadata/nft_ethereum_metadata_art_blocks_collections.sql
  models/nft/ethereum/metadata/nft_ethereum_metadata_bright_moments.sql
  models/nft/ethereum/metadata/nft_ethereum_metadata_chromie_squiggle.sql
  models/nft/ethereum/metadata/nft_ethereum_metadata_verse.sql
Labels: ready-for-merging

#2282 Added `WOM`, `HAY`, `BNBx` to `tokens.erc20`
  models/tokens/bnb/tokens_bnb_bep20.sql
Labels: easy, ready-for-merging

#2284 Fix for OS v1 fees
  dbt_project.yml
  models/opensea/ethereum/opensea_ethereum_schema.yml
  models/opensea/ethereum/opensea_v1_ethereum_events.sql
  seeds/opensea/ethereum/opensea_wyvern_trades_samples.csv
Labels: ready-for-merging

#2205 Init Bridge Transfers: Add Hop & OP Standard Bridge
  dbt_project.yml
  models/bridge/bridge_flows.sql
  models/bridge/bridges_schema.yml
  models/bridge/readme.md
  models/chain_info/chain_ids.sql
  models/chain_info/chain_info_schema.yml
  models/hop_protocol/hop_protocol_addresses.sql
  models/hop_protocol/hop_protocol_flows.sql
  models/hop_protocol/hop_protocol_schema.yml
  models/hop_protocol/optimism/hop_protocol_optimism_flows.sql
  models/hop_protocol/optimism/hop_protocol_optimism_schema.yml
  models/hop_protocol/optimism/hop_protocol_optimism_sources.yml
  models/optimism/cross_domain_messenger/ovm_optimism_cross_domain_messenger_messages.sql
  models/optimism/cross_domain_messenger/ovm_optimism_cross_domain_messenger_schema.yml
  models/optimism/cross_domain_messenger/ovm_optimism_cross_domain_messenger_sources.yml
  models/optimism/standard_bridge/optimism_standard_bridge_flows.sql
  models/optimism/standard_bridge/optimism_standard_bridge_schema.yml
Labels: ready-for-review

#2078 Add GMX GLP on Avalanche
  dbt_project.yml
  models/gmx/avalanche_c/glp/gmx_avalanche_c_glp_aum.sql
  models/gmx/avalanche_c/glp/gmx_avalanche_c_glp_components.sql
  models/gmx/avalanche_c/glp/gmx_avalanche_c_glp_schema.yml
  models/gmx/avalanche_c/glp/gmx_avalanche_c_glp_sources.yml
  seeds/gmx/avalanche_c/gmx_glp_aum_seed.csv
  tests/gmx/avalanche_c/gmx_avalanche_c_glp_aum_assert.sql
Labels: ready-for-merging

#2076 [Easy] Update cow_protocol_labels to include all dexes instead of just cow_protocol trades
  models/cow_protocol/tx_hash_labels/stable_to_stable/ethereum/cow_protocol_tx_hash_labels_stable_to_stable_ethereum.sql
Labels: ready-for-merging

#2174 Create dex.prices table
  models/dex/dex_prices.sql
  models/dex/dex_schema.yml
Labels: ready-for-merging

#2279 Prices add bnb
  models/prices/prices_tokens.sql
  models/tokens/bnb/tokens_bnb_bep20.sql
Labels: question, WIP, in review

#2268 [Easy] - Fixing Aztec spells
  models/aztec/ethereum/aztec_ethereum_schema.yml
  models/aztec/ethereum/aztec_v2_ethereum_bridges.sql
  models/aztec/ethereum/aztec_v2_ethereum_daily_bridge_activity.sql
  models/aztec/ethereum/aztec_v2_ethereum_daily_deposits.sql
  models/aztec/ethereum/aztec_v2_ethereum_daily_estimated_rollup_tvl.sql
  models/aztec/ethereum/aztec_v2_ethereum_deposit_assets.sql
  models/aztec/ethereum/aztec_v2_ethereum_rollupbridge_transfers.sql
Labels: ready-for-merging

#2299 Bnbcontractmapping
  models/contracts/bnb/contracts_bnb_contract_mapping.sql
Labels: in review

#2242 Add spells for Punk bids
  models/cryptopunks/ethereum/cryptopunks_ethereum_all_events.sql
  models/cryptopunks/ethereum/cryptopunks_ethereum_current_bids.sql
  models/cryptopunks/ethereum/cryptopunks_ethereum_current_listings.sql
  models/cryptopunks/ethereum/cryptopunks_ethereum_events.sql
  models/cryptopunks/ethereum/cryptopunks_ethereum_floor_price_over_time.sql
  models/cryptopunks/ethereum/cryptopunks_ethereum_listings_over_time.sql
  models/cryptopunks/ethereum/cryptopunks_ethereum_owners_over_time.sql
  models/cryptopunks/ethereum/cryptopunks_ethereum_punk_bid_events.sql
  models/cryptopunks/ethereum/cryptopunks_ethereum_punk_offer_events.sql
  models/cryptopunks/ethereum/cryptopunks_ethereum_punk_transfers.sql
  models/cryptopunks/ethereum/cryptopunks_ethereum_schema.yml
  models/cryptopunks/ethereum/cryptopunks_ethereum_sources.yml
  models/cryptopunks/ethereum/cryptopunks_ethereum_trades.sql
Labels: ready-for-merging

#2297 Easy - [update aztec labels]
  models/labels/aztec_v2/labels_aztec_v2_contracts_ethereum.sql
  models/labels/aztec_v2/labels_aztec_v2_contracts_schema.yml
Labels: ready-for-merging

#2298 [Easy] - Include dex.prices in dao transactions table
  models/dao/transactions/ethereum/dao_transactions_ethereum_erc20.sql
  models/dao/transactions/ethereum/dao_transactions_ethereum_eth.sql
  models/dao/transactions/gnosis/dao_transactions_gnosis_erc20.sql
  models/dao/transactions/gnosis/dao_transactions_gnosis_eth.sql
  models/dao/transactions/polygon/dao_transactions_polygon_erc20.sql
  models/dao/transactions/polygon/dao_transactions_polygon_eth.sql
Labels: ready-for-merging

#2304 [CoW Protocol] - Add DMA solver
  deprecated-dune-v1-abstractions/ethereum/gnosis_protocol_v2/view_solvers.sql
  models/cow_protocol/ethereum/cow_protocol_ethereum_solvers.sql
Labels: ready-for-merging

#2303 [CoW Protocol] Add Parsed Order Rewards
  models/cow_protocol/ethereum/cow_protocol_ethereum_order_rewards.sql
  models/cow_protocol/ethereum/cow_protocol_ethereum_schema.yml
  models/cow_protocol/ethereum/cow_protocol_ethereum_sources.yml
Labels: v2_engine, ready-for-merging

#2261 [Easy] - curve avalanche temp fix
  models/curvefi/avalanche_c/curvefi_avalanche_c_trades.sql
Labels: ready-for-merging

#2300 [CoW Protocol] Fix Receiver Field
  deprecated-dune-v1-abstractions/ethereum/gnosis_protocol_v2/insert_trades.sql
  models/cow_protocol/ethereum/cow_protocol_ethereum_trades.sql
  models/cow_protocol/gnosis/cow_protocol_gnosis_trades.sql
Labels: v2_engine, ready-for-merging, v1_engine

#2302 [CoW Protocol] Add parsed AppData Spell
  models/cow_protocol/ethereum/cow_protocol_ethereum_app_data.sql
  models/cow_protocol/ethereum/cow_protocol_ethereum_schema.yml
  models/cow_protocol/ethereum/cow_protocol_ethereum_sources.yml
Labels: v2_engine, ready-for-merging

#2307 Add more Ethereum aggregators
  models/nft/ethereum/nft_ethereum_aggregators.sql
  models/nft/ethereum/nft_ethereum_aggregators_markers.sql
Labels: ready-for-merging

#2315 Fix OS v1 test (opensea_ethereum_assert_samples)
  dbt_project.yml
  models/opensea/ethereum/opensea_ethereum_schema.yml
  seeds/opensea/ethereum/opensea_ethereum_trades_postgres.csv
  seeds/opensea/ethereum/opensea_wyvern_trades_samples.csv
  tests/opensea/ethereum/opensea_ethereum_assert_samples.sql
Labels: ready-for-merging

#2290 Make nft.fees, nft.events and nft.mints Trino compatible
  models/blur/ethereum/blur_ethereum_events.sql
  models/element/avalanche_c/element_avalanche_c_events.sql
  models/element/bnb/element_bnb_events.sql
  models/element/ethereum/element_ethereum_events.sql
  models/foundation/ethereum/foundation_ethereum_events.sql
  models/looksrare/ethereum/looksrare_ethereum_events.sql
  models/magiceden/solana/magiceden_solana_events.sql
  models/nft/ethereum/nft_ethereum_native_mints.sql
  models/sudoswap/ethereum/sudoswap_ethereum_events.sql
  models/zora/ethereum/zora_ethereum_events.sql
Labels: ready-for-merging

#2172 nft aggregated models code cleanup
  dbt_project.yml
  models/nft/arbitrum/nft_arbitrum_schema.yml
  models/nft/arbitrum/nft_arbitrum_transfers.sql
  models/nft/avalanche_c/nft_avalanche_c_schema.yml
  models/nft/avalanche_c/nft_avalanche_c_transfers.sql
  models/nft/bnb/nft_bnb_schema.yml
  models/nft/bnb/nft_bnb_transfers.sql
  models/nft/ethereum/metadata/nft_ethereum_metadata_art_platform_collections.sql
  models/nft/ethereum/nft_ethereum_schema.yml
  models/nft/ethereum/nft_ethereum_transfers.sql
  models/nft/gnosis/nft_gnosis_schema.yml
  models/nft/gnosis/nft_gnosis_transfers.sql
  models/nft/nft_aggregators.sql
  models/nft/nft_burns.sql
  models/nft/nft_events.sql
  models/nft/nft_fees.sql
  models/nft/nft_linked_addresses.sql
  models/nft/nft_mints.sql
  models/nft/nft_schema.yml
  models/nft/nft_trades.sql
  models/nft/nft_transfers.sql
  models/nft/optimism/nft_optimism_schema.yml
  models/nft/optimism/nft_optimism_transfers.sql
  models/nft/polygon/nft_polygon_schema.yml
  models/nft/polygon/nft_polygon_transfers.sql
  seeds/nft/nft_linked_addresses_postgres.csv
  tests/nft/nft_linked_addresses_assert.sql
Labels: ready-for-merging

#2327 Closes T-22435 : Unblock nft.linked_addresses
  models/nft/nft_linked_addresses.sql
  models/nft/nft_schema.yml
Labels: ready-for-merging

#2309 [Easy] Metadata updates
  models/nft/ethereum/metadata/nft_ethereum_metadata_art_blocks_collections.sql
  models/nft/ethereum/metadata/nft_ethereum_metadata_chromie_squiggle.sql
Labels: easy, ready-for-merging

#2184 Migrate Balancer `view_pools_tokens_weights` Abstraction
  models/balancer/arbitrum/balancer_arbitrum_pools_tokens_weights.sql
  models/balancer/arbitrum/balancer_arbitrum_schema.yml
  models/balancer/arbitrum/balancer_arbitrum_sources.yml
  models/balancer/arbitrum/balancer_v2_arbitrum_pools_tokens_weights.sql
  models/balancer/ethereum/balancer_ethereum_pools_tokens_weights.sql
  models/balancer/ethereum/balancer_ethereum_schema.yml
  models/balancer/ethereum/balancer_ethereum_sources.yml
  models/balancer/ethereum/balancer_v1_ethereum_pools_tokens_weights.sql
  models/balancer/ethereum/balancer_v2_ethereum_pools_tokens_weights.sql
  models/balancer/optimism/balancer_optimism_pools_tokens_weights.sql
  models/balancer/optimism/balancer_optimism_schema.yml
  models/balancer/optimism/balancer_optimism_sources.yml
  models/balancer/optimism/balancer_v2_optimism_pools_tokens_weights.sql
  models/balancer/polygon/balancer_polygon_pools_tokens_weights.sql
  models/balancer/polygon/balancer_polygon_schema.yml
  models/balancer/polygon/balancer_polygon_sources.yml
  models/balancer/polygon/balancer_v2_polygon_pools_tokens_weights.sql
Labels: ready-for-merging

#2322 [CoW Protocol] Fix AppData <--> OrderUid Mapping
  models/cow_protocol/ethereum/cow_protocol_ethereum_trades.sql
Labels: bug, v2_engine

#2308 Update the prices_tokens model to include the Xen Crypto tokens
  models/prices/prices_tokens.sql
  scripts/token_checker.py
Labels: ready-for-review

#2338 [Easy] Add 13 missing tokens
  models/tokens/ethereum/tokens_ethereum_erc20.sql
Labels: ready-for-review

#2312 [CoW Protocol] Easy Add Solver Address to Reward Table
  models/cow_protocol/ethereum/cow_protocol_ethereum_order_rewards.sql
  models/cow_protocol/ethereum/cow_protocol_ethereum_schema.yml
Labels: easy, v2_engine

#2336 Add Gate to OP CEX
  models/addresses/optimism/addresses_optimism_cex.sql
Labels: ready-for-merging

#2331 [Easy] [Labels] Implement average_trade_values label
  models/labels/average_trade_values/average_trade_values.sql
  models/labels/average_trade_values/average_trade_values_schema.yml
  models/labels/average_trade_values/ethereum/average_trade_values_ethereum.sql
Labels: ready-for-merging

#2329 [Easy] [Labels] Implement trader_dex_diversity label
  models/labels/trader_dex_diversity/ethereum/trader_dex_diversity_ethereum.sql
  models/labels/trader_dex_diversity/trader_dex_diversity.sql
  models/labels/trader_dex_diversity/trader_dex_diversity_schema.yml
Labels: ready-for-review, ready-for-merging

#2344 Fix incremental update of curve.fi on ethereum
  models/curvefi/ethereum/curvefi_ethereum_trades.sql
Labels: bug, easy

#2063 seed test & setup for zeroex_optimism
  Pipfile.lock
  dbt_project.yml
  models/zeroex/optimism/zeroex_api_optimism_fills.sql
  models/zeroex/optimism/zeroex_api_optimism_schema.yml
  models/zeroex/optimism/zeroex_api_optimism_sources.yml
  seeds/zeroex/optimism/zeroex_api_optimism_fills_sample.csv
  tests/zeroex/optimism/zeroex_api_optimism_fills_test.sql
Labels: ready-for-review, ready-for-merging

#2195 Adding Ethereum Genesis balances
  models/balances/ethereum/balances_ethereum_schema.yml
  models/balances/ethereum/genesis/genesis_balances.sql
Labels: ready-for-merging, dune team

#2332 [Easy] [Labels] Implement trader age label
  models/labels/trader_age/ethereum/trader_age_ethereum.sql
  models/labels/trader_age/trader_age.sql
  models/labels/trader_age/trader_age_schema.yml
Labels: easy, v2_engine, ready-for-review

#2328 [Easy] [Labels] Implement trader_portfolios label
  models/labels/trader_portfolios/ethereum/trader_portfolios_ethereum.sql
  models/labels/trader_portfolios/trader_portfolios.sql
  models/labels/trader_portfolios/trader_portfolios_schema.yml
Labels: easy, v2_engine, ready-for-review

#2319 [Easy] [Labels] Implement trader frequency labels
  models/labels/trader_frequencies/ethereum/trader_frequencies_ethereum.sql
  models/labels/trader_frequencies/trader_frequencies.sql
  models/labels/trader_frequencies/trader_frequencies_schema.yml
Labels: easy, v2_engine, ready-for-review

#2318 [Easy] [Labels] Implemented dex aggregator trader label
  models/labels/dex_aggregator_traders/ethereum/labels_dex_aggregator_traders_ethereum.sql
  models/labels/dex_aggregator_traders/labels_dex_aggregator_traders.sql
  models/labels/dex_aggregator_traders/labels_dex_aggregator_traders_schema.yml
Labels: easy, v2_engine, ready-for-review

#2363 T-22855: fix foundation model
  dbt_project.yml
  models/foundation/ethereum/foundation_ethereum_events.sql
  models/foundation/ethereum/foundation_ethereum_schema.yml
  seeds/foundation/ethereum/foundation_trades_samples.csv
  tests/foundation/ethereum/foundation_ethereum_assert_trades.sql
Labels: ready-for-review

#2314 Add missing Aave v2 assets
  models/prices/prices_tokens.sql
Labels: ready-for-review

#2175 Feat/add zeroex nft table
  dbt_project.yml
  models/zeroex/ethereum/erc20/zeroex_api_ethereum_fills.sql
  models/zeroex/ethereum/erc20/zeroex_api_ethereum_schema.yml
  models/zeroex/ethereum/erc20/zeroex_api_ethereum_sources.yml
  models/zeroex/ethereum/nft/zeroex_nft_ethereum_fills.sql
  models/zeroex/ethereum/nft/zeroex_nft_ethereum_schema.yml
  models/zeroex/ethereum/nft/zeroex_nft_ethereum_sources.yml
  seeds/zeroex/ethereum/fills/zeroex_api_ethereum_fills_sample.csv
  seeds/zeroex/ethereum/nfts/zeroex_nft_ethereum_fills_sample.csv
  seeds/zeroex/ethereum/zeroex_api_ethereum_fills_sample.csv
  tests/generic/zeroex_ethereum_fills_test.sql
  tests/generic/zeroex_ethereum_nft_test.sql
Labels: ready-for-review, ready-for-merging

#2358 freshness check
  .github/workflows/dbt_precommit_hooks.yml
  tests/dex/dex_trades_assert_freshness.sql
Labels: dune team

#2341 Chore: update Reserve Rights token address
  models/prices/prices_tokens.sql
Labels: ready-for-review

#2359 dex.trades volume test
  models/dex/dex_schema.yml
  tests/dex/dex_trades_assert_volume.sql
Labels: dune team

#2323 Quote "from" in nft.transfers
  models/nft/nft_transfers.sql
Labels: ready-for-merging

#2379 DBT project cleanup
  dbt_project.yml
  seeds/sudoswap/sudoswap_ethereum_example_trades.csv
Labels: ready-for-review

#2397 re-enable test in slim ci
  .github/workflows/dbt_slim_ci.yml
Labels: ready-for-merging

#2406 Fix seaport polygon duplicates
  models/seaport/ethereum/seaport_ethereum_schema.yml
  models/seaport/polygon/seaport_polygon_trades.sql
  seeds/seaport/seaport_trades_seed.csv
Labels: ready-for-review

#2355 OP Uni - Split out OVM1<>2 Mapping Table
  models/uniswap/optimism/uniswap_optimism_ovm1_pool_mapping.sql
  models/uniswap/optimism/uniswap_optimism_pools.sql
  models/uniswap/optimism/uniswap_optimism_schema.yml
Labels: ready-for-merging

#2405 Tessera initial spells
  dbt_project.yml
  models/tessera/ethereum/tessera_ethereum_bids.sql
  models/tessera/ethereum/tessera_ethereum_distributions.sql
  models/tessera/ethereum/tessera_ethereum_fees.sql
  models/tessera/ethereum/tessera_ethereum_schema.yml
  models/tessera/ethereum/tessera_ethereum_sources.yml
  models/tessera/ethereum/tessera_ethereum_vaults.sql
  seeds/tessera/ethereum/tessera_ethereum_vault_deploy_test_data.csv
Labels: ready-for-merging

#2395 [Easy] Add 11 missing tokens
  models/tokens/ethereum/tokens_ethereum_erc20.sql
Labels: ready-for-merging

#2402 add more cex addresses
  models/addresses/ethereum/addresses_ethereum_cex.sql
Labels: ready-for-merging

#2387 Add two tokens to tokens_arbitrum_erc20.sql
  models/tokens/arbitrum/tokens_arbitrum_erc20.sql
Labels: ready-for-merging

#2386 chore: add RSR pool to curvefi_ethereum_trades
  models/curvefi/ethereum/curvefi_ethereum_sources.yml
  models/curvefi/ethereum/curvefi_ethereum_trades.sql
  models/tokens/ethereum/tokens_ethereum_erc20.sql
Labels: ready-for-merging

#2311 Quix Seaport Trades and Base Pairs
  models/quix/optimism/quix_optimism_schema.yml
  models/quix/optimism/quix_optimism_sources.yml
  models/quix/optimism/quix_optimism_trades.sql
  models/quix/optimism/quix_seaport_optimism_base_pairs.sql
  models/quix/optimism/quix_seaport_optimism_trades.sql
  models/quix/optimism/quix_v1_optimism_events.sql
  models/quix/optimism/quix_v2_optimism_events.sql
  models/quix/optimism/quix_v3_optimism_events.sql
  models/quix/optimism/quix_v4_optimism_events.sql
  models/quix/optimism/quix_v5_optimism_events.sql
  seeds/quix/quix_events_seed.csv
Labels: ready-for-merging

#2178 Migrate Balancer `vebal_balances` abstraction
  models/balancer/ethereum/balancer_ethereum_schema.yml
  models/balancer/ethereum/balancer_ethereum_sources.yml
  models/balancer/ethereum/balancer_ethereum_vebal_balances_day.sql
Labels: ready-for-review, ready-for-merging

#2399 dex freshness convert to hours
  tests/dex/dex_trades_assert_freshness.sql
Labels: ready-for-review

#2394 [Easy] [Label] Implement trader platforms label
  models/labels/trader_platforms/ethereum/trader_platforms_ethereum.sql
  models/labels/trader_platforms/trader_platforms.sql
  models/labels/trader_platforms/trader_platforms_schema.yml
Labels: ready-for-merging
