Repository duneanalytics/spellbook, pull requests merged in 2023-10, with the labels that each got.

#4467 SPE-139 Migrate remaining sushiswap models
  models/sushiswap/optimism/sushiswap_optimism_pool_incentives_config.sql
  models/sushiswap/optimism/sushiswap_optimism_pool_incentives_mappings.sql
  models/sushiswap/optimism/sushiswap_optimism_pool_incentives_rates.sql
Labels: DuneSQL migration

#4466 SPE-137 Migrate Tessera
  models/tessera/ethereum/tessera_ethereum_bids.sql
  models/tessera/ethereum/tessera_ethereum_distributions.sql
  models/tessera/ethereum/tessera_ethereum_fees.sql
  models/tessera/ethereum/tessera_ethereum_schema.yml
  models/tessera/ethereum/tessera_ethereum_vaults.sql
  seeds/tessera/ethereum/_schema.yml
Labels: DuneSQL migration

#4471 SPE-152 Migrate Gamma
  models/gamma/gamma_uniswap_pools.sql
  models/gamma/optimism/gamma_optimism_uniswap_pools.sql
Labels: ready-for-review, DuneSQL migration

#4470 SPE-149 Migrate Jarvis
  models/jarvis_network/polygon/jarvis_network_polygon_all_transactions.sql
  models/jarvis_network/polygon/jarvis_network_polygon_jfiat_address_mapping.sql
  models/jarvis_network/polygon/jarvis_network_polygon_jfiat_collateral_mapping.sql
  seeds/jarvis_network/polygon/_schema.yml
  seeds/jarvis_network/polygon/jarvis_network_polygon_view_transactions_seed.csv
Labels: ready-for-review, DuneSQL migration

#4489 exclude 0x bnb until issues are resolved for high `volume_usd` due to maker/taker address switches
  models/zeroex/bnb/zeroex_bnb_api_fills.sql
  models/zeroex/bnb/zeroex_bnb_api_fills_deduped.sql
  models/zeroex/zeroex_api_fills_deduped.sql
Labels: dune team, hotfix

#4341 SPE-93 Migrate cow_protocol models downstream of dex_trades
  models/cow_protocol/tx_hash_labels/bluechip_investment/cow_protocol_tx_hash_labels_bluechip_investment.sql
  models/cow_protocol/tx_hash_labels/bluechip_investment/cow_protocol_tx_hash_labels_bluechip_investment_legacy.sql
  models/cow_protocol/tx_hash_labels/bluechip_investment/ethereum/cow_protocol_tx_hash_labels_bluechip_investment_ethereum.sql
  models/cow_protocol/tx_hash_labels/cow_protocol_tx_hash_labels_all.sql
  models/cow_protocol/tx_hash_labels/early_investment/cow_protocol_tx_hash_labels_early_investment.sql
  models/cow_protocol/tx_hash_labels/early_investment/ethereum/cow_protocol_tx_hash_labels_early_investment_ethereum.sql
  models/cow_protocol/tx_hash_labels/harvest_yield/cow_protocol_tx_hash_labels_harvest_yield.sql
  models/cow_protocol/tx_hash_labels/harvest_yield/ethereum/cow_protocol_tx_hash_labels_harvest_yield_ethereum.sql
  models/cow_protocol/tx_hash_labels/offramp/cow_protocol_tx_hash_labels_offramp.sql
  models/cow_protocol/tx_hash_labels/offramp/ethereum/cow_protocol_tx_hash_labels_offramp_ethereum.sql
  models/cow_protocol/tx_hash_labels/onramp/cow_protocol_tx_hash_labels_onramp.sql
  models/cow_protocol/tx_hash_labels/onramp/ethereum/cow_protocol_tx_hash_labels_onramp_ethereum.sql
  models/cow_protocol/tx_hash_labels/stable_to_stable/cow_protocol_tx_hash_labels_stable_to_stable.sql
  models/cow_protocol/tx_hash_labels/stable_to_stable/ethereum/cow_protocol_tx_hash_labels_stable_to_stable_ethereum.sql
  models/cow_protocol/tx_hash_labels/staking_token_investment/cow_protocol_tx_hash_labels_staking_token_investment.sql
  models/cow_protocol/tx_hash_labels/staking_token_investment/ethereum/cow_protocol_tx_hash_labels_staking_token_investment_ethereum.sql
  models/cow_protocol/tx_hash_labels/treasury_management/cow_protocol_tx_hash_labels_treasury_management.sql
  models/cow_protocol/tx_hash_labels/treasury_management/ethereum/cow_protocol_tx_hash_labels_treasury_management_ethereum.sql
  models/tokens/ethereum/tokens_ethereum_erc20_stablecoins.sql
  models/tokens/fantom/tokens_fantom_erc20_stablecoins.sql
Labels: ready-for-merging, DuneSQL migration

#4500 SPE-138 Migrate rebase tokens
  models/tokens/ethereum/tokens_ethereum_rebase.sql
  models/tokens/fantom/tokens_fantom_rebase.sql
Labels: DuneSQL migration

#4484 Dao votes proposals
  models/aave/ethereum/aave_ethereum_proposals.sql
  models/aave/ethereum/aave_ethereum_votes.sql
  models/compound/ethereum/compound_v2_ethereum_proposals.sql
  models/compound/ethereum/compound_v2_ethereum_votes.sql
  models/dao/dao_proposals.sql
  models/dao/dao_votes.sql
  models/dydx/ethereum/dydx_ethereum_proposals.sql
  models/dydx/ethereum/dydx_ethereum_votes.sql
  models/ens/ens_ethereum_proposals.sql
  models/ens/ens_ethereum_votes.sql
  models/gitcoin/ethereum/gitcoin_ethereum_proposals.sql
  models/gitcoin/ethereum/gitcoin_ethereum_votes.sql
  models/uniswap/ethereum/uniswap_v3_ethereum_proposals.sql
  models/uniswap/ethereum/uniswap_v3_ethereum_votes.sql
  seeds/uniswap_v3/uniswap_v3_proposals_seed.csv
  seeds/uniswap_v3/uniswap_v3_votes_seed.csv
Labels: ready-for-merging, DuneSQL migration

#4400 [Easy] Add more erc20 missing tokens
  models/tokens/ethereum/tokens_ethereum_erc20.sql
  models/tokens/ethereum/tokens_ethereum_erc20_legacy.sql
Labels: ready-for-merging

#4476 automate fungible token metadata for solana
  models/tokens/solana/tokens_solana.sources.yml
  models/tokens/solana/tokens_solana_fungible.sql
Labels: ready-for-merging

#4455 `dex.info` & `nft.marketplaces_info` column fix
  models/dex/dex_info.sql
  models/dex/dex_schema.yml
  models/nft/nft_marketplaces_info.sql
  models/nft/nft_schema.yml
Labels: easy, ready-for-merging, dex, NFT

#4504 Drop legacy cow_protocol/tx_hash_labels
  models/cow_protocol/tx_hash_labels/bluechip_investment/cow_protocol_tx_hash_labels_bluechip_investment_legacy.sql
  models/cow_protocol/tx_hash_labels/bluechip_investment/ethereum/cow_protocol_tx_hash_labels_bluechip_investment_ethereum_legacy.sql
  models/cow_protocol/tx_hash_labels/cow_protocol_tx_hash_labels_all_legacy.sql
  models/cow_protocol/tx_hash_labels/early_investment/cow_protocol_tx_hash_labels_early_investment_legacy.sql
  models/cow_protocol/tx_hash_labels/early_investment/ethereum/cow_protocol_tx_hash_labels_early_investment_ethereum_legacy.sql
  models/cow_protocol/tx_hash_labels/harvest_yield/cow_protocol_tx_hash_labels_harvest_yield_legacy.sql
  models/cow_protocol/tx_hash_labels/harvest_yield/ethereum/cow_protocol_tx_hash_labels_harvest_yield_ethereum_legacy.sql
  models/cow_protocol/tx_hash_labels/offramp/cow_protocol_tx_hash_labels_offramp_legacy.sql
  models/cow_protocol/tx_hash_labels/offramp/ethereum/cow_protocol_tx_hash_labels_offramp_ethereum_legacy.sql
  models/cow_protocol/tx_hash_labels/onramp/cow_protocol_tx_hash_labels_onramp_legacy.sql
  models/cow_protocol/tx_hash_labels/onramp/ethereum/cow_protocol_tx_hash_labels_onramp_ethereum_legacy.sql
  models/cow_protocol/tx_hash_labels/stable_to_stable/cow_protocol_tx_hash_labels_stable_to_stable_legacy.sql
  models/cow_protocol/tx_hash_labels/stable_to_stable/ethereum/cow_protocol_tx_hash_labels_stable_to_stable_ethereum_legacy.sql
  models/cow_protocol/tx_hash_labels/staking_token_investment/cow_protocol_tx_hash_labels_staking_token_investment_legacy.sql
  models/cow_protocol/tx_hash_labels/staking_token_investment/ethereum/cow_protocol_tx_hash_labels_staking_token_investment_ethereum_legacy.sql
  models/cow_protocol/tx_hash_labels/treasury_management/cow_protocol_tx_hash_labels_treasury_management_legacy.sql
  models/cow_protocol/tx_hash_labels/treasury_management/ethereum/cow_protocol_tx_hash_labels_treasury_management_ethereum_legacy.sql
Labels: ready-for-merging

#4495 zeroex - reorder time/date/month fields
  models/zeroex/arbitrum/zeroex_arbitrum_api_fills_deduped.sql
  models/zeroex/avalanche_c/zeroex_avalanche_c_api_fills_deduped.sql
  models/zeroex/base/zeroex_base_api_fills_deduped.sql
  models/zeroex/bnb/zeroex_bnb_api_fills_deduped.sql
  models/zeroex/ethereum/zeroex_ethereum_api_fills_deduped.sql
  models/zeroex/optimism/zeroex_optimism_api_fills_deduped.sql
  models/zeroex/polygon/zeroex_polygon_api_fills_deduped.sql
  seeds/zeroex/arbitrum/zeroex_arbitrum_api_fills_deduped_sample.csv
  seeds/zeroex/avalanche_c/zeroex_avalanche_c_api_fills_deduped_sample.csv
  seeds/zeroex/optimism/zeroex_optimism_api_fills_deduped_sample.csv
  seeds/zeroex/polygon/zeroex_polygon_api_fills_deduped_sample.csv
Labels: ready-for-merging

#4462 Some dex.sandwiches fixes
  macros/models/_sector/dex/dex_sandwiches.sql
  models/dex/chains/dex_arbitrum_sandwiches.sql
  models/dex/chains/dex_avalanche_c_sandwiches.sql
  models/dex/chains/dex_base_sandwiches.sql
  models/dex/chains/dex_bnb_sandwiches.sql
  models/dex/chains/dex_ethereum_sandwiches.sql
  models/dex/chains/dex_fantom_sandwiches.sql
  models/dex/chains/dex_gnosis_sandwiches.sql
  models/dex/chains/dex_optimism_sandwiches.sql
  models/dex/chains/dex_polygon_sandwiches.sql
  models/dex/chains/dex_schema.yml
  models/dex/dex_sandwiches.sql
  models/dex/dex_schema.yml
Labels: ready-for-merging, dex

#4497 SPE-163 Migrate remaining hashflow models
  models/hashflow/avalanche_c/hashflow_avalanche_c_crosschain_trades.sql
  models/hashflow/bnb/hashflow_bnb_crosschain_trades.sql
  models/hashflow/ethereum/hashflow_ethereum_crosschain_trades.sql
  models/hashflow/hashflow_crosschain_trades.sql
Labels: ready-for-merging, DuneSQL migration

#4385 Update tokens_arbitrum_erc20.sql
  models/tokens/arbitrum/tokens_arbitrum_erc20.sql
Labels: easy, ready-for-merging

#4516 nft.trades fix for `Gem` > `OpenSea Pro` rebranding
  macros/models/_sector/nft/enrich_trades.sql
  macros/models/_sector/nft/enrich_trades_legacy.sql
Labels: ready-for-merging, NFT

#4518 Drop cow protocol legacy
  models/cow_protocol/cow_protocol_batches_legacy.sql
  models/cow_protocol/ethereum/cow_protocol_ethereum_app_data_legacy.sql
  models/cow_protocol/ethereum/cow_protocol_ethereum_batches_legacy.sql
  models/cow_protocol/ethereum/cow_protocol_ethereum_eth_flow_orders_legacy.sql
  models/cow_protocol/ethereum/cow_protocol_ethereum_order_rewards_legacy.sql
  models/cow_protocol/ethereum/cow_protocol_ethereum_referrals_legacy.sql
  models/cow_protocol/ethereum/cow_protocol_ethereum_solvers_legacy.sql
  models/cow_protocol/ethereum/cow_protocol_ethereum_trade_slippage_legacy.sql
  models/cow_protocol/gnosis/cow_protocol_gnosis_batches_legacy.sql
  models/cow_protocol/gnosis/cow_protocol_gnosis_solvers_legacy.sql
Labels: ready-for-merging

#4434 Add gotchiverse tokens
  models/prices/polygon/prices_polygon_tokens.sql
Labels: easy, ready-for-merging

#4437 SPE-126 Migrate `zerion_{chain}.trades` tables
  models/zerion/arbitrum/zerion_arbitrum_trades.sql
  models/zerion/arbitrum/zerion_arbitrum_trades_legacy.sql
  models/zerion/avalanche_c/zerion_avalanche_c_trades.sql
  models/zerion/avalanche_c/zerion_avalanche_c_trades_legacy.sql
  models/zerion/bnb/zerion_bnb_trades.sql
  models/zerion/bnb/zerion_bnb_trades_legacy.sql
  models/zerion/fantom/zerion_fantom_trades.sql
  models/zerion/fantom/zerion_fantom_trades_legacy.sql
  models/zerion/gnosis/zerion_gnosis_trades.sql
  models/zerion/gnosis/zerion_gnosis_trades_legacy.sql
  models/zerion/optimism/zerion_optimism_trades.sql
  models/zerion/optimism/zerion_optimism_trades_legacy.sql
  models/zerion/polygon/zerion_polygon_trades.sql
  models/zerion/polygon/zerion_polygon_trades_legacy.sql
Labels: ready-for-merging, dex, DuneSQL migration

#4454 Update prices_arbitrum_tokens.sql
  models/prices/arbitrum/prices_arbitrum_tokens.sql
Labels: easy, ready-for-merging

#4479 Fix tigris pnl schema - ready for review - easy
  models/tigris/tigris_trades.sql
  models/tigris/tigris_trades_pnl.sql
Labels: ready-for-merging

#4440 `staking_ethereum.deposits` migration & rework
  models/staking/ethereum/staking_ethereum_deposits.sql
  models/staking/ethereum/staking_ethereum_schema.yml
Labels: ready-for-merging, DuneSQL migration

#4491 Add base to contracts mapping
  macros/models/contracts/contract_creator_project_mapping.sql
  models/contracts/chains/contracts_base_contract_creator_project_mapping.sql
  models/contracts/chains/contracts_base_contract_creator_project_mapping_legacy.sql
  models/contracts/chains/contracts_base_find_self_destruct_contracts.sql
  models/contracts/chains/contracts_base_find_self_destruct_contracts_legacy.sql
  models/contracts/chains/contracts_chains_schema.yml
  models/contracts/contracts_contract_mapping.sql
  models/contracts/contracts_predeploys.sql
  models/contracts/contracts_schema.yml
  models/contracts/contracts_self_destruct_contracts.sql
  models/evms/evm_smart_account_method_ids.sql
  models/evms/evm_smart_account_method_ids_legacy.sql
  models/evms/evms_schema.yml
Labels: ready-for-merging

#4526 exclude failing models in prod
  models/lido/liquidity/arbitrum/lido_liquidity_arbitrum_kyberswap_v2_pools.sql
  models/rollup_economics/ethereum/l1_data_fees.sql
Labels: dune team, hotfix

#4493 zeroex - bnb fix
  models/zeroex/bnb/zeroex_bnb_api_fills.sql
  models/zeroex/bnb/zeroex_bnb_api_fills_deduped.sql
  models/zeroex/zeroex_api_fills_deduped.sql
  seeds/zeroex/bnb/zeroex_bnb_api_fills_deduped_sample.csv
  seeds/zeroex/bnb/zeroex_bnb_api_fills_sample.csv
  seeds/zeroex/zeroex_api_fills_deduped_sample.csv
Labels: ready-for-merging, hotfix

#4506 fix zeroex - bridgeFills
  models/zeroex/arbitrum/zeroex_arbitrum_api_fills.sql
  models/zeroex/avalanche_c/zeroex_avalanche_c_api_fills.sql
  models/zeroex/base/zeroex_base_api_fills.sql
  models/zeroex/celo/zeroex_celo_api_fills.sql
  models/zeroex/fantom/zeroex_fantom_api_fills.sql
  models/zeroex/optimism/zeroex_optimism_api_fills.sql
  models/zeroex/polygon/zeroex_polygon_api_fills.sql
  seeds/zeroex/arbitrum/zeroex_arbitrum_api_fills_sample.csv
  seeds/zeroex/avalanche_c/zeroex_avalanche_c_api_fills_sample.csv
  seeds/zeroex/fantom/zeroex_fantom_api_fills_sample.csv
  seeds/zeroex/optimism/zeroex_optimism_api_fills_sample.csv
  seeds/zeroex/polygon/zeroex_polygon_api_fills_sample.csv
Labels: ready-for-merging, hotfix

#4442 Always attempt to parse contributors as JSON
  macros/expose_spells.sql
Labels: ready-for-merging

#4520 NFT cleanup of transfers and washtrades
  dbt_project.yml
  models/_sector/nft/transfers/_schema.yml
  models/_sector/nft/transfers/chains/nft_arbitrum_transfers.sql
  models/_sector/nft/transfers/chains/nft_avalanche_c_transfers.sql
  models/_sector/nft/transfers/chains/nft_base_transfers.sql
  models/_sector/nft/transfers/chains/nft_bnb_transfers.sql
  models/_sector/nft/transfers/chains/nft_celo_transfers.sql
  models/_sector/nft/transfers/chains/nft_ethereum_transfers.sql
  models/_sector/nft/transfers/chains/nft_fantom_transfers.sql
  models/_sector/nft/transfers/chains/nft_gnosis_transfers.sql
  models/_sector/nft/transfers/chains/nft_goerli_transfers.sql
  models/_sector/nft/transfers/chains/nft_optimism_transfers.sql
  models/_sector/nft/transfers/chains/nft_polygon_transfers.sql
  models/_sector/nft/transfers/legacy/nft_arbitrum_transfers_legacy.sql
  models/_sector/nft/transfers/legacy/nft_avalanche_c_transfers_legacy.sql
  models/_sector/nft/transfers/legacy/nft_base_transfers_legacy.sql
  models/_sector/nft/transfers/legacy/nft_bnb_transfers_legacy.sql
  models/_sector/nft/transfers/legacy/nft_celo_transfers_legacy.sql
  models/_sector/nft/transfers/legacy/nft_ethereum_transfers_legacy.sql
  models/_sector/nft/transfers/legacy/nft_fantom_transfers_legacy.sql
  models/_sector/nft/transfers/legacy/nft_gnosis_transfers_legacy.sql
  models/_sector/nft/transfers/legacy/nft_goerli_transfers_legacy.sql
  models/_sector/nft/transfers/legacy/nft_optimism_transfers_legacy.sql
  models/_sector/nft/transfers/legacy/nft_polygon_transfers_legacy.sql
  models/_sector/nft/transfers/legacy/nft_transfers_legacy.sql
  models/_sector/nft/transfers/nft_transfers.sql
  models/_sector/nft/wash_trades/_schema.yml
  models/_sector/nft/wash_trades/chains/nft_arbitrum_wash_trades.sql
  models/_sector/nft/wash_trades/chains/nft_avalanche_c_wash_trades.sql
  models/_sector/nft/wash_trades/chains/nft_bnb_wash_trades.sql
  models/_sector/nft/wash_trades/chains/nft_ethereum_wash_trades.sql
  models/_sector/nft/wash_trades/chains/nft_gnosis_wash_trades.sql
  models/_sector/nft/wash_trades/chains/nft_optimism_wash_trades.sql
  models/_sector/nft/wash_trades/chains/nft_polygon_wash_trades.sql
  models/_sector/nft/wash_trades/legacy/nft_arbitrum_wash_trades_legacy.sql
  models/_sector/nft/wash_trades/legacy/nft_avalanche_c_wash_trades_legacy.sql
  models/_sector/nft/wash_trades/legacy/nft_bnb_wash_trades_legacy.sql
  models/_sector/nft/wash_trades/legacy/nft_ethereum_wash_trades_legacy.sql
  models/_sector/nft/wash_trades/legacy/nft_gnosis_wash_trades_legacy.sql
  models/_sector/nft/wash_trades/legacy/nft_optimism_wash_trades_legacy.sql
  models/_sector/nft/wash_trades/legacy/nft_polygon_wash_trades_legacy.sql
  models/_sector/nft/wash_trades/legacy/nft_wash_trades_legacy.sql
  models/_sector/nft/wash_trades/nft_wash_trades.sql
  models/nft/arbitrum/nft_arbitrum_schema.yml
  models/nft/avalanche_c/nft_avalanche_c_schema.yml
  models/nft/base/nft_base_schema.yml
  models/nft/bnb/nft_bnb_schema.yml
  models/nft/celo/nft_celo_schema.yml
  models/nft/ethereum/nft_ethereum_schema.yml
  models/nft/fantom/nft_fantom_schema.yml
  models/nft/gnosis/nft_gnosis_schema.yml
  models/nft/goerli/nft_goerli_schema.yml
  models/nft/nft_schema.yml
  models/nft/optimism/nft_optimism_schema.yml
  models/nft/polygon/nft_polygon_schema.yml
Labels: ready-for-merging, NFT

#4143 Datasets
  macros/expose_dataset.sql
  models/datasets/reservoir/ethereum/tokens_beta.sql
  models/datasets/reservoir/ethereum/tokens_beta_legacy.sql
Labels: ready-for-merging, dune team

#4194 [READY TO REVIEW] Add kyberswap to sector dex_aggregator
  models/dex/dex_aggregator_trades.sql
Labels: ready-for-merging

#4414 Add first activity macro - ready for review
  macros/models/_sector/addresses_events/addresses_events_first_activity.sql
  models/addresses_events/arbitrum/addresses_events_arbitrum_first_activity.sql
  models/addresses_events/avalanche_c/addresses_events_avalanche_c_first_activity.sql
  models/addresses_events/bnb/addresses_events_bnb_first_activity.sql
  models/addresses_events/ethereum/addresses_events_ethereum_first_activity.sql
  models/addresses_events/fantom/addresses_events_fantom_first_activity.sql
  models/addresses_events/gnosis/addresses_events_gnosis_first_activity.sql
  models/addresses_events/polygon/addresses_events_polygon_first_activity.sql
  seeds/addresses_events/first_activity_seed.csv
Labels: ready-for-merging

#4416 RW-5: cleanup block_date in base trades models
  macros/models/_sector/nft/enrich_trades.sql
  macros/models/_sector/nft/platforms/element_v1_base_trades.sql
  models/_sector/nft/trades/ethereum/platforms/archipelago_ethereum_base_trades.sql
  models/_sector/nft/trades/ethereum/platforms/blur_ethereum_base_trades.sql
  models/_sector/nft/trades/ethereum/platforms/blur_seaport_ethereum_base_trades.sql
  models/_sector/nft/trades/ethereum/platforms/blur_v2_ethereum_base_trades.sql
  models/_sector/nft/trades/ethereum/platforms/collectionswap_ethereum_base_trades.sql
  models/_sector/nft/trades/ethereum/platforms/cryptopunks_ethereum_base_trades.sql
  models/_sector/nft/trades/ethereum/platforms/element_ethereum_base_trades.sql
  models/_sector/nft/trades/ethereum/platforms/foundation_ethereum_base_trades.sql
  models/_sector/nft/trades/ethereum/platforms/legacy/looksrare_v2_ethereum_base_trades_legacy.sql
  models/_sector/nft/trades/ethereum/platforms/looksrare_seaport_ethereum_base_trades.sql
  models/_sector/nft/trades/ethereum/platforms/looksrare_v1_ethereum_base_trades.sql
  models/_sector/nft/trades/ethereum/platforms/looksrare_v2_ethereum_base_trades.sql
  models/_sector/nft/trades/ethereum/platforms/sudoswap_ethereum_base_trades.sql
  models/_sector/nft/trades/ethereum/platforms/superrare_ethereum_base_trades.sql
  models/_sector/nft/trades/ethereum/platforms/x2y2_ethereum_base_trades.sql
  models/_sector/nft/trades/ethereum/platforms/zora_v1_ethereum_base_trades.sql
  models/_sector/nft/trades/ethereum/platforms/zora_v2_ethereum_base_trades.sql
  models/_sector/nft/trades/ethereum/platforms/zora_v3_ethereum_base_trades.sql
  models/_sector/nft/trades/nft_ethereum_trades_beta.sql
  tests/generic/check_column_types.sql
Labels: ready-for-merging, NFT

#4453 Update AlphaSharks name to Magically
  models/nft/ethereum/nft_ethereum_aggregators_manual.sql
  models/nft/ethereum/nft_ethereum_aggregators_manual_legacy.sql
  models/nft/ethereum/nft_ethereum_aggregators_markers.sql
  models/nft/ethereum/nft_ethereum_aggregators_markers_legacy.sql
  models/nft/nft_marketplaces_info.sql
  models/seaport/ethereum/seaport_ethereum_tagging.sql
Labels: ready-for-merging

#4477 contract_address_2
  models/contracts/optimism/contracts_optimism_contract_creator_address_list.sql
Labels: ready-for-merging

#4499 SPE-144 Migrate remaining OP models
  models/op/op_chains/op_chains_optimism_chain_list.sql
  models/op/op_chains/op_chains_optimism_schema.yml
  models/op/op_token/optimism/op_token_optimism_inflation_schedule.sql
  models/op/op_token/optimism/op_token_optimism_initial_allocations.sql
  models/op/op_token/optimism/op_token_optimism_metadata.sql
Labels: ready-for-merging, DuneSQL migration

#4528 Add zksync to base sources
  models/base_sources/zksync_base_sources.yml
Labels: ready-for-merging

#4478 lido liquidity uni v2 pools adding
  models/lido/lido_liquidity.sql
  models/lido/liquidity/ethereum/lido_liquidity_ethereum_sources.yml
  models/lido/liquidity/ethereum/lido_liquidity_ethereum_uniswap_v2_pools.sql
Labels: ready-for-merging

#4540 `labels` remove airdrop until upload source is fixed
  models/labels/addresses/airdrop/labels_airdrop.sql
  models/labels/addresses/airdrop/persona/optimism_rounds/labels_airdrop_1_receivers_optimism.sql
  models/labels/addresses/airdrop/persona/optimism_rounds/labels_airdrop_2_receivers_optimism.sql
  models/labels/addresses/airdrop/persona/optimism_rounds/labels_airdrop_3_receivers_optimism.sql
  models/labels/labels_addresses.sql
Labels: hotfix

#4505 Use different trino cluster
  .github/workflows/dbt_slim_ci.yml
  models/test/trigger_scale.sql
  models/test/trigger_scale_legacy.sql
Labels: ready-for-merging

#4459 SPE-125 Aztec migration
  models/aztec/ethereum/aztec_ethereum_schema.yml
  models/aztec/ethereum/aztec_v2_ethereum_bridges.sql
  models/aztec/ethereum/aztec_v2_ethereum_daily_bridge_activity.sql
  models/aztec/ethereum/aztec_v2_ethereum_daily_deposits.sql
  models/aztec/ethereum/aztec_v2_ethereum_daily_estimated_rollup_tvl.sql
  models/aztec/ethereum/aztec_v2_ethereum_deposit_assets.sql
  models/aztec/ethereum/aztec_v2_ethereum_rollupbridge_transfers.sql
Labels: ready-for-merging, DuneSQL migration

#4542 Revert "Revert "RW-5: cleanup block_date in base trades models (#4416)""
  macros/models/_sector/nft/enrich_trades.sql
  macros/models/_sector/nft/platforms/element_v1_base_trades.sql
  models/_sector/nft/trades/ethereum/platforms/archipelago_ethereum_base_trades.sql
  models/_sector/nft/trades/ethereum/platforms/blur_ethereum_base_trades.sql
  models/_sector/nft/trades/ethereum/platforms/blur_seaport_ethereum_base_trades.sql
  models/_sector/nft/trades/ethereum/platforms/blur_v2_ethereum_base_trades.sql
  models/_sector/nft/trades/ethereum/platforms/collectionswap_ethereum_base_trades.sql
  models/_sector/nft/trades/ethereum/platforms/cryptopunks_ethereum_base_trades.sql
  models/_sector/nft/trades/ethereum/platforms/element_ethereum_base_trades.sql
  models/_sector/nft/trades/ethereum/platforms/foundation_ethereum_base_trades.sql
  models/_sector/nft/trades/ethereum/platforms/legacy/looksrare_v2_ethereum_base_trades_legacy.sql
  models/_sector/nft/trades/ethereum/platforms/looksrare_seaport_ethereum_base_trades.sql
  models/_sector/nft/trades/ethereum/platforms/looksrare_v1_ethereum_base_trades.sql
  models/_sector/nft/trades/ethereum/platforms/looksrare_v2_ethereum_base_trades.sql
  models/_sector/nft/trades/ethereum/platforms/sudoswap_ethereum_base_trades.sql
  models/_sector/nft/trades/ethereum/platforms/superrare_ethereum_base_trades.sql
  models/_sector/nft/trades/ethereum/platforms/x2y2_ethereum_base_trades.sql
  models/_sector/nft/trades/ethereum/platforms/zora_v1_ethereum_base_trades.sql
  models/_sector/nft/trades/ethereum/platforms/zora_v2_ethereum_base_trades.sql
  models/_sector/nft/trades/ethereum/platforms/zora_v3_ethereum_base_trades.sql
  models/_sector/nft/trades/nft_ethereum_trades_beta.sql
  models/sudoswap/ethereum/sudoswap_ethereum_pool_trades_agg_day.sql
  tests/generic/check_column_types.sql
Labels: ready-for-review, dune team, hotfix

#4514 Create `blur_ethereum.blend_events`
  models/blur/ethereum/blur_ethereum_blend_events.sql
  models/blur/ethereum/blur_ethereum_blend_events_legacy.sql
  models/blur/ethereum/blur_ethereum_schema.yml
  models/blur/ethereum/blur_ethereum_sources.yml
Labels: ready-for-merging, NFT

#4515 SPE-145 Misc models migration
  models/arrakis/arrakis_uniswap_pools.sql
  models/arrakis/optimism/arrakis_optimism_uniswap_pools.sql
  models/balances/ethereum/genesis/genesis_balances.sql
  models/bridge/optimism/optimism_standard_bridge_flows.sql
  models/curvefi/curvefi_gauge_mappings.sql
  models/ens/ens_view_expirations.sql
  models/hop_protocol/optimism/hop_protocol_optimism_flows.sql
  models/reaper/optimism/reaper_optimism_all_vaults.sql
  models/rocifi/polygon/rocifi_polygon_test_addresses.sql
  seeds/ens/_schema.yml
  seeds/ens/ens_view_expirations_postgres.csv
  seeds/ens/ens_view_registries_postgres.csv
Labels: DuneSQL migration

#4430 Clean up tigris models
  models/tigris/arbitrum/events/tigris_arbitrum_events_add_margin.sql
  models/tigris/arbitrum/events/tigris_arbitrum_events_close_position.sql
  models/tigris/arbitrum/events/tigris_arbitrum_events_fees_distributed.sql
  models/tigris/arbitrum/events/tigris_arbitrum_events_limit_cancel.sql
  models/tigris/arbitrum/events/tigris_arbitrum_events_limit_order.sql
  models/tigris/arbitrum/events/tigris_arbitrum_events_liquidate_position.sql
  models/tigris/arbitrum/events/tigris_arbitrum_events_modify_margin.sql
  models/tigris/arbitrum/events/tigris_arbitrum_events_open_position.sql
  models/tigris/polygon/events/tigris_polygon_events_add_margin.sql
  models/tigris/polygon/events/tigris_polygon_events_close_position.sql
  models/tigris/polygon/events/tigris_polygon_events_fees_distributed.sql
  models/tigris/polygon/events/tigris_polygon_events_limit_cancel.sql
  models/tigris/polygon/events/tigris_polygon_events_limit_order.sql
  models/tigris/polygon/events/tigris_polygon_events_liquidate_position.sql
  models/tigris/polygon/events/tigris_polygon_events_modify_margin.sql
  models/tigris/polygon/events/tigris_polygon_events_open_position.sql
Labels: in review

#4543 new CI cluster setup: add is_legacy in alias macro
  models/test/trigger_scale.sql
  models/test/trigger_scale_legacy.sql
Labels: ready-for-review

#4563 [Easy] Add more missing erc20 tokens
  models/tokens/ethereum/tokens_ethereum_erc20.sql
Labels: ready-for-merging

#4560 [Update tokens_polygon_erc20.sql]: Add missing token
  models/tokens/polygon/tokens_polygon_erc20.sql
Labels: ready-for-merging

#4549 SPE-143 Opensea Views
  models/opensea/arbitrum/opensea_arbitrum_events.sql
  models/opensea/arbitrum/opensea_arbitrum_fees.sql
  models/opensea/arbitrum/opensea_arbitrum_trades.sql
  models/opensea/ethereum/opensea_ethereum_events.sql
  models/opensea/optimism/opensea_optimism_events.sql
  models/opensea/polygon/opensea_polygon_events.sql
Labels: ready-for-merging, DuneSQL migration

#4534 prices_ethereum_tokens.sql: Add Worldcoin
  models/prices/ethereum/prices_ethereum_tokens.sql
Labels: ready-for-merging

#4517 Add Goerli to `evms` tables
  models/evms/evms_blocks.sql
  models/evms/evms_blocks_legacy.sql
  models/evms/evms_contracts.sql
  models/evms/evms_contracts_legacy.sql
  models/evms/evms_creation_traces.sql
  models/evms/evms_creation_traces_legacy.sql
  models/evms/evms_erc1155_approvalsforall.sql
  models/evms/evms_erc1155_approvalsforall_legacy.sql
  models/evms/evms_erc1155_transfersbatch.sql
  models/evms/evms_erc1155_transfersbatch_legacy.sql
  models/evms/evms_erc1155_transferssingle.sql
  models/evms/evms_erc1155_transferssingle_legacy.sql
  models/evms/evms_erc20_approvals.sql
  models/evms/evms_erc20_approvals_legacy.sql
  models/evms/evms_erc20_transfers.sql
  models/evms/evms_erc20_transfers_legacy.sql
  models/evms/evms_erc721_approvals.sql
  models/evms/evms_erc721_approvals_legacy.sql
  models/evms/evms_erc721_approvalsforall.sql
  models/evms/evms_erc721_approvalsforall_legacy.sql
  models/evms/evms_erc721_transfers.sql
  models/evms/evms_erc721_transfers_legacy.sql
  models/evms/evms_info.sql
  models/evms/evms_logs.sql
  models/evms/evms_logs_decoded.sql
  models/evms/evms_logs_decoded_legacy.sql
  models/evms/evms_logs_legacy.sql
  models/evms/evms_schema.yml
  models/evms/evms_traces.sql
  models/evms/evms_traces_decoded.sql
  models/evms/evms_traces_decoded_legacy.sql
  models/evms/evms_traces_legacy.sql
  models/evms/evms_transactions.sql
  models/evms/evms_transactions_legacy.sql
Labels: ready-for-merging

#4574 SPE-185 - Add retry step on GH workflows that use spellbook-ci
  .github/workflows/commit_manifest.yml
  .github/workflows/dbt_slim_ci.yml
  .github/workflows/translation_status.yml
  models/test/trigger_scale.sql
  models/test/trigger_scale_legacy.sql
  scripts/ensure_cluster.sh
Labels: ready-for-merging, dune team

#4584 Solana balances fix again
  models/solana_utils/solana_utils_daily_balances.sql
  models/solana_utils/solana_utils_schema.yml
  models/solana_utils/solana_utils_token_accounts.sql
Labels: ready-for-review

#4567 small fixes to solana nft and dex
  models/_sector/nft/trades/solana/platforms/magiceden_v2_solana_trades.sql
  models/_sector/nft/trades/solana/platforms/tensorswap_v1_solana_trades.sql
  models/phoenix/phoenix_v1_trades.sql
  models/tokens/solana/tokens_solana_fungible.sql
  models/tokens/solana/tokens_solana_nft.sql
  models/tokens/solana/tokens_solana_schema.yml
  seeds/_sector/nft/solana/magiceden_v2_solana_trades_seed.csv
  seeds/_sector/nft/solana/tensorswap_v1_solana_trades_seed.csv
  seeds/_sector/nft/solana/tensorswap_v2_solana_trades_seed.csv
Labels: ready-for-merging

#4550 SPE-142 Migrate Seaport
  models/seaport/arbitrum/seaport_arbitrum_base_pairs.sql
  models/seaport/arbitrum/seaport_arbitrum_schema.yml
  models/seaport/arbitrum/seaport_arbitrum_trades.sql
  models/seaport/avalanche_c/seaport_avalanche_c_base_pairs.sql
  models/seaport/avalanche_c/seaport_avalanche_c_schema.yml
  models/seaport/avalanche_c/seaport_avalanche_c_trades.sql
  models/seaport/bnb/seaport_bnb_base_pairs.sql
  models/seaport/bnb/seaport_bnb_schema.yml
  models/seaport/bnb/seaport_bnb_trades.sql
  models/seaport/ethereum/seaport_ethereum_base_pairs.sql
  models/seaport/ethereum/seaport_ethereum_schema.yml
  models/seaport/ethereum/seaport_ethereum_trades.sql
  models/seaport/ethereum/seaport_v1_ethereum_trades.sql
  models/seaport/ethereum/seaport_v2_ethereum_trades.sql
  models/seaport/optimism/seaport_optimism_base_pairs.sql
  models/seaport/optimism/seaport_optimism_schema.yml
  models/seaport/optimism/seaport_optimism_trades.sql
  models/seaport/polygon/seaport_polygon_base_pairs.sql
  models/seaport/polygon/seaport_polygon_schema.yml
  models/seaport/polygon/seaport_polygon_trades.sql
  seeds/seaport/_schema.yml
  seeds/seaport/seaport_ethereum_transfers_postgres.csv
  seeds/seaport/seaport_ethereum_view_transactions_postgres.csv
  seeds/seaport/seaport_trades_seed.csv
Labels: NFT, DuneSQL migration

#4569 More misc models
  models/_sector/nft/trades/old/platforms/opensea_events.sql
  models/nexusmutual/ethereum/nexusmutual_ethereum_capital_pool_eth_daily_transaction_summary.sql
  models/nexusmutual/ethereum/nexusmutual_ethereum_product_information.sql
  models/nexusmutual/ethereum/nexusmutual_ethereum_schema.yml
  models/nomad/ethereum/nomad_ethereum_view_bridge_transactions.sql
  models/uniswap/uniswap_liquidity_manager_pools.sql
  models/zerion/zerion_trades.sql
  models/zeroex/ethereum/zeroex_ethereum_nft_fills.sql
  seeds/nexusmutual/ethereum/_schema.yml
  seeds/nexusmutual/ethereum/nexusmutual_ethereum_capital_pool_eth_daily_transaction_summary_seed.csv
  seeds/nexusmutual/ethereum/nexusmutual_ethereum_product_information_seed.csv
  seeds/nomad/ethereum/_schema.yml
  seeds/nomad/ethereum/nomad_ethereum_transactions_etherscan.csv
  seeds/zeroex/ethereum/_schema.yml
  seeds/zeroex/ethereum/zeroex_ethereum_nft_fills_sample.csv
  tests/nomad/ethereum/nomad_ethereum_assert.sql
Labels: DuneSQL migration

#4530 Fix excluded spell
  models/lido/liquidity/arbitrum/lido_liquidity_arbitrum_kyberswap_v2_pools.sql
Labels: ready-for-merging, hotfix

#4342 Maker ethereum migration
  models/maker/ethereum/maker_ethereum_accounting.sql
  tests/maker/ethereum/maker_ethereum_accounting_test.sql
Labels: ready-for-merging, DuneSQL migration

#4481 Create `arkham_ethereum.airdrop_claims`
  models/airdrop/ethereum/airdrop_ethereum_claims.sql
  models/arkham/ethereum/arkham_ethereum_airdrop_claims.sql
  models/arkham/ethereum/arkham_ethereum_airdrop_claims_legacy.sql
  models/arkham/ethereum/arkham_ethereum_schema.yml
  models/arkham/ethereum/arkham_ethereum_sources.yml
Labels: ready-for-merging

#4556 More ETH Stakers + allow for more tagging methods
  models/staking/ethereum/entities/staking_ethereum_entities_binance.sql
  models/staking/ethereum/entities/staking_ethereum_entities_binance_legacy.sql
  models/staking/ethereum/entities/staking_ethereum_entities_chorusone.sql
  models/staking/ethereum/entities/staking_ethereum_entities_chorusone_legacy.sql
  models/staking/ethereum/entities/staking_ethereum_entities_coinbase.sql
  models/staking/ethereum/entities/staking_ethereum_entities_coinbase_legacy.sql
  models/staking/ethereum/entities/staking_ethereum_entities_contracts.sql
  models/staking/ethereum/entities/staking_ethereum_entities_contracts_legacy.sql
  models/staking/ethereum/entities/staking_ethereum_entities_darma_capital.sql
  models/staking/ethereum/entities/staking_ethereum_entities_darma_capital_legacy.sql
  models/staking/ethereum/entities/staking_ethereum_entities_depositor_addresses.sql
  models/staking/ethereum/entities/staking_ethereum_entities_depositor_addresses_legacy.sql
  models/staking/ethereum/entities/staking_ethereum_entities_schema.yml
  models/staking/ethereum/entities/staking_ethereum_entities_tx_from_addresses.sql
  models/staking/ethereum/entities/staking_ethereum_entities_tx_from_addresses_legacy.sql
  models/staking/ethereum/staking_ethereum_deposits.sql
  models/staking/ethereum/staking_ethereum_deposits_legacy.sql
  models/staking/ethereum/staking_ethereum_entities.sql
  models/staking/ethereum/staking_ethereum_entities_addresses_legacy.sql
  models/staking/ethereum/staking_ethereum_entities_legacy.sql
  models/staking/ethereum/staking_ethereum_flows.sql
  models/staking/ethereum/staking_ethereum_info.sql
  models/staking/ethereum/staking_ethereum_schema.yml
Labels: ready-for-merging

#4614 prod hotfix: fix incorrect column dependency on eth staking
  models/labels/addresses/infrastructure/identifier/eth_stakers/labels_eth_stakers.sql
Labels: dune team, hotfix

#4616 SPE-141 Migrate superrare
  models/superrare/superrare_ethereum_usernames.sql
Labels: ready-for-review, DuneSQL migration

#4581 fix: misc contract cleanup
  models/contracts/contracts_contract_creator_address_list.sql
  models/contracts/optimism/contracts_optimism_contract_creator_address_list.sql
Labels: ready-for-merging

#4583 Contracts - Static Mods
  models/contracts/contracts_contract_creator_address_list.sql
  models/contracts/optimism/contracts_optimism_contract_creator_address_list.sql
Labels: easy, ready-for-merging

#4591 Lowercase `dex.flashloans` project names
  models/aave/arbitrum/aave_v3_arbitrum_flashloans.sql
  models/aave/arbitrum/aave_v3_arbitrum_flashloans_legacy.sql
  models/aave/avalanche_c/aave_v2_avalanche_c_flashloans.sql
  models/aave/avalanche_c/aave_v2_avalanche_c_flashloans_legacy.sql
  models/aave/avalanche_c/aave_v3_avalanche_c_flashloans.sql
  models/aave/optimism/aave_v3_optimism_flashloans.sql
  models/aave/polygon/aave_v2_polygon_flashloans.sql
  models/aave/polygon/aave_v3_polygon_flashloans.sql
  models/balancer/avalanche_c/balancer_v2_avalanche_c_flashloans.sql
  models/balancer/base/balancer_v2_base_flashloans.sql
  models/balancer/ethereum/balancer_v2_ethereum_flashloans.sql
  models/balancer/gnosis/balancer_v2_gnosis_flashloans.sql
  models/balancer/optimism/balancer_v2_optimism_flashloans.sql
  models/balancer/polygon/balancer_v2_polygon_flashloans.sql
  models/dydx/ethereum/dydx_ethereum_flashloans.sql
  models/equalizer/bnb/equalizer_bnb_flashloans.sql
  models/equalizer/ethereum/equalizer_ethereum_flashloans.sql
  models/equalizer/optimism/equalizer_optimism_flashloans.sql
  models/equalizer/polygon/equalizer_polygon_flashloans.sql
  models/euler/ethereum/euler_ethereum_flashloans.sql
  models/fiat_dao/ethereum/fiat_dao_ethereum_flashloans.sql
  models/maker/ethereum/maker_ethereum_flashloans.sql
  models/synapse/arbitrum/synapse_arbitrum_flashloans.sql
  models/synapse/avalanche_c/synapse_avalanche_c_flashloans.sql
  models/synapse/bnb/synapse_bnb_flashloans.sql
  models/synapse/ethereum/synapse_ethereum_flashloans.sql
  models/synapse/fantom/synapse_fantom_flashloans.sql
  models/synapse/optimism/synapse_optimism_flashloans.sql
  models/synapse/polygon/synapse_polygon_flashloans.sql
  models/uniswap/arbitrum/uniswap_v3_arbitrum_flashloans.sql
  models/uniswap/celo/uniswap_v3_celo_flashloans.sql
  models/uniswap/ethereum/uniswap_v3_ethereum_flashloans.sql
  models/uniswap/optimism/uniswap_v3_optimism_flashloans.sql
  models/uniswap/polygon/uniswap_v3_polygon_flashloans.sql
Labels: ready-for-merging, dex

#4598 Balancer Pool Labels fix
  models/labels/addresses/__single_category_labels__/balancer_v2/labels_balancer_v2_pools_arbitrum.sql
  models/labels/addresses/__single_category_labels__/balancer_v2/labels_balancer_v2_pools_ethereum.sql
  models/labels/addresses/__single_category_labels__/balancer_v2/labels_balancer_v2_pools_polygon.sql
Labels: ready-for-merging

#4609 [tokens_polygon_erc20.sql] add USDR & wUSDR
  models/tokens/polygon/tokens_polygon_erc20.sql
Labels: ready-for-merging

#4579 Add WardenSwap DEX
  dbt_project.yml
  models/dex/dex_trades.sql
  models/wardenswap/optimism/wardenswap_optimism_schema.yml
  models/wardenswap/optimism/wardenswap_optimism_sources.yml
  models/wardenswap/optimism/wardenswap_optimism_trades.sql
  models/wardenswap/optimism/wardenswap_optimism_trades_legacy.sql
  seeds/dex/trades/dex_trades_seed.csv
  tests/dex/dex_trades_assert_freshness.sql
Labels: ready-for-merging, dex

#4599 Update contracts_contract_creator_address_list.sql
  models/contracts/contracts_contract_creator_address_list.sql
Labels: ready-for-merging

#4620 Add reconciliation exceptions for polygon 20231017
  models/chainlink/polygon/chainlink_polygon_ocr_reconcile_daily.sql
  models/chainlink/polygon/chainlink_polygon_ocr_reward_daily.sql
  models/chainlink/polygon/chainlink_polygon_schema.yml
Labels: ready-for-merging

#4603 Celo Moola
  models/moola/celo/moola_celo_borrow.sql
  models/moola/celo/moola_celo_borrow_legacy.sql
  models/moola/celo/moola_celo_flashloans.sql
  models/moola/celo/moola_celo_flashloans_legacy.sql
  models/moola/celo/moola_celo_interest_rates.sql
  models/moola/celo/moola_celo_interest_rates_legacy.sql
  models/moola/celo/moola_celo_schema.yml
  models/moola/celo/moola_celo_sources.yml
  models/moola/celo/moola_celo_supply.sql
  models/moola/celo/moola_celo_supply_legacy.sql
Labels: ready-for-merging

#4605 feat: add Camelot v3 trades spellbook
  models/camelot/arbitrum/camelot_arbitrum_schema.yml
  models/camelot/arbitrum/camelot_arbitrum_sources.yml
  models/camelot/arbitrum/camelot_arbitrum_trades.sql
  models/camelot/arbitrum/camelot_v3_arbitrum_trades.sql
  models/camelot/arbitrum/camelot_v3_arbitrum_trades_legacy.sql
  models/camelot/camelot_trades_schema.yml
  seeds/dex/trades/dex_trades_seed.csv
Labels: dex, ready-for-final-review

#4606 Celo nft sector additions
  models/_sector/nft/transfers/_schema.yml
  models/_sector/nft/transfers/nft_transfers.sql
  models/_sector/nft/wash_trades/_schema.yml
  models/_sector/nft/wash_trades/chains/nft_celo_wash_trades.sql
  models/_sector/nft/wash_trades/legacy/nft_celo_wash_trades_legacy.sql
  models/_sector/nft/wash_trades/nft_wash_trades.sql
  models/addresses_events/addresses_events_first_activity.sql
  models/addresses_events/celo/addresses_events_celo_first_activity.sql
  models/addresses_events/celo/addresses_events_celo_first_activity_legacy.sql
Labels: NFT

#4630 CI test workflow: remove migration steps
  .github/workflows/dbt_slim_ci.yml
Labels: dune team, DuneSQL migration

#4635 enhance l2_revenue spell & temporarily exclude from prod until resolved
  models/rollup_economics/ethereum/l2_revenue.sql
Labels: WIP, dune team, hotfix

#4626 oneinch: cleanup sources naming
  models/oneinch/ethereum/clipper/oneinch_clipper_ethereum_trades.sql
  models/oneinch/ethereum/clipper/oneinch_clipper_ethereum_trades_legacy.sql
  models/oneinch/ethereum/limit_order_protocol/oneinch_limit_order_protocol_embedded_rfq_ethereum_trades.sql
  models/oneinch/ethereum/limit_order_protocol/oneinch_limit_order_protocol_embedded_rfq_ethereum_trades_legacy.sql
  models/oneinch/ethereum/limit_order_protocol/oneinch_limit_order_protocol_rfq_v1_ethereum_trades.sql
  models/oneinch/ethereum/limit_order_protocol/oneinch_limit_order_protocol_rfq_v1_ethereum_trades_legacy.sql
  models/oneinch/ethereum/limit_order_protocol/oneinch_limit_order_protocol_v1_ethereum_trades.sql
  models/oneinch/ethereum/limit_order_protocol/oneinch_limit_order_protocol_v1_ethereum_trades_legacy.sql
  models/oneinch/ethereum/oneinch_ethereum_sources.yml
  models/oneinch/ethereum/oneinch_ethereum_trades.sql
  models/oneinch/ethereum/oneinch_v1_ethereum_trades.sql
  models/oneinch/ethereum/oneinch_v1_ethereum_trades_legacy.sql
  models/oneinch/ethereum/oneinch_v2_ethereum_trades.sql
  models/oneinch/ethereum/oneinch_v2_ethereum_trades_legacy.sql
  models/oneinch/ethereum/oneinch_v3_ethereum_trades.sql
  models/oneinch/ethereum/oneinch_v3_ethereum_trades_legacy.sql
  models/oneinch/ethereum/oneinch_v4_ethereum_trades.sql
  models/oneinch/ethereum/oneinch_v4_ethereum_trades_legacy.sql
  models/oneinch/ethereum/uniswap/oneinch_uniswap_v3_ethereum_trades.sql
  models/oneinch/ethereum/uniswap/oneinch_uniswap_v3_ethereum_trades_legacy.sql
  models/oneinch/ethereum/unoswap/oneinch_unoswap_v3_ethereum_trades.sql
  models/oneinch/ethereum/unoswap/oneinch_unoswap_v3_ethereum_trades_legacy.sql
  models/oneinch/ethereum/unoswap/oneinch_unoswap_v4_ethereum_trades.sql
  models/oneinch/ethereum/unoswap/oneinch_unoswap_v4_ethereum_trades_legacy.sql
  seeds/dex/aggregator/dex_aggregator_seed.csv
  seeds/dex/aggregator/dex_aggregator_seed_legacy.csv
Labels: WIP, in review

#4529 Add zkSync to `nft.transfers`
  models/_sector/nft/transfers/_schema.yml
  models/_sector/nft/transfers/chains/nft_zksync_transfers.sql
  models/_sector/nft/transfers/nft_transfers.sql
Labels: in review, NFT

#4562 Cleanup aggregators in NFT dir
  dbt_project.yml
  models/_sector/nft/aggregators/_schema.yml
  models/_sector/nft/aggregators/chains/_schema.yml
  models/_sector/nft/aggregators/chains/nft_arbitrum_aggregators.sql
  models/_sector/nft/aggregators/chains/nft_avalanche_c_aggregators.sql
  models/_sector/nft/aggregators/chains/nft_bnb_aggregators.sql
  models/_sector/nft/aggregators/chains/nft_celo_aggregators.sql
  models/_sector/nft/aggregators/chains/nft_ethereum_aggregators.sql
  models/_sector/nft/aggregators/chains/nft_ethereum_aggregators_gem.sql
  models/_sector/nft/aggregators/chains/nft_ethereum_aggregators_manual.sql
  models/_sector/nft/aggregators/chains/nft_ethereum_aggregators_markers.sql
  models/_sector/nft/aggregators/chains/nft_optimism_aggregators.sql
  models/_sector/nft/aggregators/chains/nft_polygon_aggregators.sql
  models/_sector/nft/aggregators/legacy/nft_aggregators_legacy.sql
  models/_sector/nft/aggregators/legacy/nft_arbitrum_aggregators_legacy.sql
  models/_sector/nft/aggregators/legacy/nft_avalanche_c_aggregators_legacy.sql
  models/_sector/nft/aggregators/legacy/nft_bnb_aggregators_legacy.sql
  models/_sector/nft/aggregators/legacy/nft_celo_aggregators_legacy.sql
  models/_sector/nft/aggregators/legacy/nft_ethereum_aggregators_gem_legacy.sql
  models/_sector/nft/aggregators/legacy/nft_ethereum_aggregators_legacy.sql
  models/_sector/nft/aggregators/legacy/nft_ethereum_aggregators_manual_legacy.sql
  models/_sector/nft/aggregators/legacy/nft_ethereum_aggregators_markers_legacy.sql
  models/_sector/nft/aggregators/legacy/nft_optimism_aggregators_legacy.sql
  models/_sector/nft/aggregators/legacy/nft_polygon_aggregators_legacy.sql
  models/_sector/nft/aggregators/nft_aggregators.sql
  models/_sector/nft/approvals/legacy/nft_ethereum_approvals_legacy.sql
  models/nft/arbitrum/nft_arbitrum_schema.yml
  models/nft/avalanche_c/nft_avalanche_c_schema.yml
  models/nft/bnb/nft_bnb_schema.yml
  models/nft/celo/nft_celo_schema.yml
  models/nft/ethereum/nft_ethereum_schema.yml
  models/nft/nft_schema.yml
  models/nft/optimism/nft_optimism_schema.yml
  models/nft/polygon/nft_polygon_schema.yml
Labels: ready-for-merging, dune team, NFT

#4519 Init: Referrals sector
  macros/models/_sector/add_tx_from_and_to.sql
  macros/models/_sector/referral/enrich_referral_rewards.sql
  macros/models/_sector/referral/platforms/rabbithole_referral_rewards.sql
  macros/models/_sector/referral/platforms/soundxyz_referral_rewards.sql
  macros/models/_sector/referral/platforms/zora_referral_rewards.sql
  models/_sector/referral/rewards/_schema.yml
  models/_sector/referral/rewards/platforms/_schema.yml
  models/_sector/referral/rewards/platforms/_sources.yml
  models/_sector/referral/rewards/platforms/rabbithole_arbitrum_rewards.sql
  models/_sector/referral/rewards/platforms/rabbithole_base_rewards.sql
  models/_sector/referral/rewards/platforms/rabbithole_optimism_rewards.sql
  models/_sector/referral/rewards/platforms/rabbithole_polygon_rewards.sql
  models/_sector/referral/rewards/platforms/soundxyz_ethereum_rewards.sql
  models/_sector/referral/rewards/platforms/soundxyz_optimism_rewards.sql
  models/_sector/referral/rewards/platforms/zora_base_rewards.sql
  models/_sector/referral/rewards/platforms/zora_ethereum_rewards.sql
  models/_sector/referral/rewards/platforms/zora_optimism_rewards.sql
  models/_sector/referral/rewards/referral_rewards.sql
  models/_sector/referral/rewards/referral_staging_rewards.sql
Labels: ready-for-merging

#4547 Add zkSync to `tokens`
  models/tokens/zksync/tokens_zksync_erc20.sql
  models/tokens/zksync/tokens_zksync_nft.sql
  models/tokens/zksync/tokens_zksync_nft_curated.sql
  models/tokens/zksync/tokens_zksync_nft_standards.sql
  models/tokens/zksync/tokens_zksync_schema.yml
Labels: in review, blocked

#4617 Feature/read requests
  models/chainlink/arbitrum/chainlink_arbitrum_ocr_operator_admin_meta.sql
  models/chainlink/arbitrum/chainlink_arbitrum_ocr_operator_node_meta.sql
  models/chainlink/arbitrum/chainlink_arbitrum_read_requests_feeds.sql
  models/chainlink/arbitrum/chainlink_arbitrum_read_requests_feeds_daily.sql
  models/chainlink/arbitrum/chainlink_arbitrum_read_requests_logs.sql
  models/chainlink/arbitrum/chainlink_arbitrum_read_requests_requester.sql
  models/chainlink/arbitrum/chainlink_arbitrum_read_requests_requester_daily.sql
  models/chainlink/arbitrum/chainlink_arbitrum_read_requests_requester_meta.sql
  models/chainlink/arbitrum/chainlink_arbitrum_schema.yml
  models/chainlink/avalanche_c/chainlink_avalanche_c_read_requests_feeds.sql
  models/chainlink/avalanche_c/chainlink_avalanche_c_read_requests_feeds_daily.sql
  models/chainlink/avalanche_c/chainlink_avalanche_c_read_requests_logs.sql
  models/chainlink/avalanche_c/chainlink_avalanche_c_read_requests_requester.sql
  models/chainlink/avalanche_c/chainlink_avalanche_c_read_requests_requester_daily.sql
  models/chainlink/avalanche_c/chainlink_avalanche_c_read_requests_requester_meta.sql
  models/chainlink/avalanche_c/chainlink_avalanche_c_schema.yml
  models/chainlink/bnb/chainlink_bnb_ocr_operator_admin_meta.sql
  models/chainlink/bnb/chainlink_bnb_read_requests_feeds.sql
  models/chainlink/bnb/chainlink_bnb_read_requests_feeds_daily.sql
  models/chainlink/bnb/chainlink_bnb_read_requests_logs.sql
  models/chainlink/bnb/chainlink_bnb_read_requests_requester.sql
  models/chainlink/bnb/chainlink_bnb_read_requests_requester_daily.sql
  models/chainlink/bnb/chainlink_bnb_read_requests_requester_meta.sql
  models/chainlink/bnb/chainlink_bnb_schema.yml
  models/chainlink/chainlink_read_requests_feeds.sql
  models/chainlink/chainlink_read_requests_feeds_daily.sql
  models/chainlink/chainlink_read_requests_logs.sql
  models/chainlink/chainlink_read_requests_requester.sql
  models/chainlink/chainlink_read_requests_requester_daily.sql
  models/chainlink/chainlink_schema.yml
  models/chainlink/ethereum/chainlink_ethereum_ocr_operator_admin_meta.sql
  models/chainlink/ethereum/chainlink_ethereum_ocr_operator_node_meta.sql
  models/chainlink/ethereum/chainlink_ethereum_read_requests_feeds.sql
  models/chainlink/ethereum/chainlink_ethereum_read_requests_feeds_daily.sql
  models/chainlink/ethereum/chainlink_ethereum_read_requests_logs.sql
  models/chainlink/ethereum/chainlink_ethereum_read_requests_requester.sql
  models/chainlink/ethereum/chainlink_ethereum_read_requests_requester_daily.sql
  models/chainlink/ethereum/chainlink_ethereum_read_requests_requester_meta.sql
  models/chainlink/ethereum/chainlink_ethereum_schema.yml
  models/chainlink/fantom/chainlink_fantom_ocr_operator_admin_meta.sql
  models/chainlink/fantom/chainlink_fantom_ocr_operator_node_meta.sql
  models/chainlink/optimism/chainlink_optimism_read_requests_feeds.sql
  models/chainlink/optimism/chainlink_optimism_read_requests_feeds_daily.sql
  models/chainlink/optimism/chainlink_optimism_read_requests_logs.sql
  models/chainlink/optimism/chainlink_optimism_read_requests_requester.sql
  models/chainlink/optimism/chainlink_optimism_read_requests_requester_daily.sql
  models/chainlink/optimism/chainlink_optimism_read_requests_requester_meta.sql
  models/chainlink/optimism/chainlink_optimism_schema.yml
  models/chainlink/polygon/chainlink_polygon_ocr_operator_admin_meta.sql
  models/chainlink/polygon/chainlink_polygon_ocr_operator_node_meta.sql
  models/chainlink/polygon/chainlink_polygon_read_requests_feeds.sql
  models/chainlink/polygon/chainlink_polygon_read_requests_feeds_daily.sql
  models/chainlink/polygon/chainlink_polygon_read_requests_logs.sql
  models/chainlink/polygon/chainlink_polygon_read_requests_requester.sql
  models/chainlink/polygon/chainlink_polygon_read_requests_requester_daily.sql
  models/chainlink/polygon/chainlink_polygon_read_requests_requester_meta.sql
  models/chainlink/polygon/chainlink_polygon_schema.yml
Labels: ready-for-merging

#4647 zksync tokens spells: add schemas in config
  models/tokens/zksync/tokens_zksync_erc20.sql
  models/tokens/zksync/tokens_zksync_nft.sql
  models/tokens/zksync/tokens_zksync_nft_curated.sql
  models/tokens/zksync/tokens_zksync_nft_standards.sql
Labels: hotfix

#4660 Change delegate_addresses spell namespace and alias
  models/op/governance/optimism/op_governance_optimism_delegates_addresses.sql
Labels: ready-for-merging

#4657 Add more zksync erc20s
  models/tokens/zksync/tokens_zksync_erc20.sql
Labels: ready-for-merging

#4632 added openocean dex
  models/dex/dex_trades.sql
  models/openocean/optimism/openocean_optimism_schema.yml
  models/openocean/optimism/openocean_optimism_sources.yml
  models/openocean/optimism/openocean_optimism_trades.sql
  seeds/dex/trades/dex_trades_seed.csv
  tests/dex/dex_trades_assert_freshness.sql
Labels: ready-for-merging, dex

#4602 Fix OP Stack L1 Data Fees in `rollup_economics_ethereum`
  models/rollup_economics/ethereum/l1_data_fees.sql
Labels: ready-for-merging

#4589 Fill in `dex.info` entries
  models/dex/dex_info.sql
  models/spookyswap/fantom/spookyswap_fantom_pools.sql
  models/spookyswap/fantom/spookyswap_fantom_pools_legacy.sql
Labels: ready-for-merging

#4551 Add zkSync to `prices`
  models/prices/prices_schema.yml
  models/prices/prices_tokens.sql
  models/prices/prices_usd_forward_fill.sql
  models/prices/prices_usd_latest.sql
  models/prices/zksync/prices_zksync_schema.yml
  models/prices/zksync/prices_zksync_tokens.sql
  scripts/test_token_checker.py
  scripts/token_checker.py
Labels: ready-for-merging

#4641 make smaller
  models/solana_utils/solana_utils_daily_balances.sql
  models/solana_utils/solana_utils_latest_balances.sql
  models/solana_utils/solana_utils_schema.yml
  models/solana_utils/solana_utils_token_accounts.sql
Labels: ready-for-review

#4661 Solana raydium v4 and orca twohop
  models/dex/solana/dex_solana_trades.sql
  models/orca_whirlpool/orca_whirlpool_trades.sql
  models/orca_whirlpool/orca_whirlpool_trades_sources.yml
  models/raydium/raydium_v4_trades.sql
  models/raydium/raydium_v4_trades_legacy.sql
  models/raydium/schema.yml
  models/raydium/sources.yml
  models/solana_utils/solana_utils_token_accounts.sql
Labels: ready-for-review

#4573 RW-3: Fix literal casts in NFT sector
  macros/models/_sector/nft/platforms/element_v1_base_trades.sql
  models/_sector/nft/mints/native/nft_ethereum_native_mints.sql
  models/_sector/nft/mints/native/nft_optimism_native_mints.sql
  models/_sector/nft/trades/ethereum/platforms/archipelago_ethereum_base_trades.sql
  models/_sector/nft/trades/ethereum/platforms/blur_ethereum_base_trades.sql
  models/_sector/nft/trades/ethereum/platforms/blur_seaport_ethereum_base_trades.sql
  models/_sector/nft/trades/ethereum/platforms/blur_v2_ethereum_base_trades.sql
  models/_sector/nft/trades/ethereum/platforms/collectionswap_ethereum_base_trades.sql
  models/_sector/nft/trades/ethereum/platforms/cryptopunks_ethereum_base_trades.sql
  models/_sector/nft/trades/ethereum/platforms/looksrare_seaport_ethereum_base_trades.sql
  models/_sector/nft/trades/ethereum/platforms/looksrare_v1_ethereum_base_trades.sql
  models/_sector/nft/trades/ethereum/platforms/sudoswap_ethereum_base_trades.sql
  models/_sector/nft/trades/ethereum/platforms/superrare_ethereum_base_trades.sql
  models/_sector/nft/trades/ethereum/platforms/x2y2_ethereum_base_trades.sql
  models/_sector/nft/trades/ethereum/platforms/zora_v1_ethereum_base_trades.sql
  models/_sector/nft/trades/ethereum/platforms/zora_v2_ethereum_base_trades.sql
  models/_sector/nft/trades/ethereum/platforms/zora_v3_ethereum_base_trades.sql
  models/_sector/nft/trades/old/platforms/aavegotchi_polygon_events.sql
  models/_sector/nft/trades/old/platforms/element_avalanche_c_events.sql
  models/_sector/nft/trades/old/platforms/element_bnb_events.sql
  models/_sector/nft/trades/old/platforms/element_polygon_events.sql
  models/_sector/nft/trades/old/platforms/fractal_polygon_events.sql
  models/_sector/nft/trades/old/platforms/magiceden_polygon_events.sql
  models/_sector/nft/trades/old/platforms/magiceden_solana_events.sql
  models/_sector/nft/trades/old/platforms/nftb_bnb_events.sql
  models/_sector/nft/trades/old/platforms/nftrade_bnb_events.sql
  models/_sector/nft/trades/old/platforms/pancakeswap_bnb_nft_events.sql
  models/_sector/nft/trades/old/platforms/quix_v1_optimism_events.sql
  models/_sector/nft/trades/old/platforms/quix_v2_optimism_events.sql
  models/_sector/nft/trades/old/platforms/quix_v3_optimism_events.sql
  models/_sector/nft/trades/old/platforms/quix_v4_optimism_events.sql
  models/_sector/nft/trades/old/platforms/quix_v5_optimism_events.sql
  models/_sector/nft/trades/old/platforms/rarible_polygon_events.sql
  models/_sector/nft/trades/old/platforms/stealcam_arbitrum_events.sql
  models/_sector/nft/trades/old/platforms/zonic_optimism_events.sql
Labels: ready-for-merging, dune team

#4672 dex/nft `amount_usd` test: upgrade severity to fail
  models/dex/dex_schema.yml
Labels: dune team, hotfix

#4676 SPE-212 update readme to remove migration info
  README.md
Labels: ready-for-review, dune team, DuneSQL migration

#4679 oneinch: exclude another troubled transaction
  models/oneinch/ethereum/uniswap/oneinch_uniswap_v3_ethereum_trades.sql
  models/oneinch/ethereum/unoswap/oneinch_unoswap_v5_ethereum_trades.sql
Labels: ready-for-merging, hotfix, dex

#4670 Oneinch: add zksync to calls transfers
  models/evms/evms_info.sql
  models/oneinch/oneinch_ar_calls.sql
  models/oneinch/oneinch_ar_calls_transfers_amounts.sql
  models/oneinch/oneinch_calls.sql
  models/oneinch/oneinch_calls_transfers_amounts.sql
  models/oneinch/oneinch_exchange_contracts.sql
  models/oneinch/oneinch_methods.sql
  models/oneinch/oneinch_protocols.sql
  models/oneinch/oneinch_schema.yml
  models/oneinch/zksync/oneinch_zksync_ar_calls_transfers.sql
  models/oneinch/zksync/oneinch_zksync_calls_transfers.sql
  models/oneinch/zksync/oneinch_zksync_schema.yml
Labels: ready-for-merging

#4666 Balancer pools labels fix
  models/labels/addresses/__single_category_labels__/balancer_v2/labels_balancer_v2_pools_arbitrum.sql
  models/labels/addresses/__single_category_labels__/balancer_v2/labels_balancer_v2_pools_avalanche_c.sql
  models/labels/addresses/__single_category_labels__/balancer_v2/labels_balancer_v2_pools_base.sql
  models/labels/addresses/__single_category_labels__/balancer_v2/labels_balancer_v2_pools_ethereum.sql
  models/labels/addresses/__single_category_labels__/balancer_v2/labels_balancer_v2_pools_gnosis.sql
  models/labels/addresses/__single_category_labels__/balancer_v2/labels_balancer_v2_pools_optimism.sql
  models/labels/addresses/__single_category_labels__/balancer_v2/labels_balancer_v2_pools_polygon.sql
Labels: ready-for-merging

#4664 Add $VAL (Valeria) Token To prices model.
  models/prices/ethereum/prices_ethereum_tokens.sql
  models/prices/polygon/prices_polygon_tokens.sql
Labels: ready-for-merging

#4649 update vrf fulfilled tx query
  models/chainlink/arbitrum/chainlink_arbitrum_vrf_fulfilled_transactions.sql
  models/chainlink/avalanche_c/chainlink_avalanche_c_vrf_fulfilled_transactions.sql
  models/chainlink/bnb/chainlink_bnb_vrf_fulfilled_transactions.sql
  models/chainlink/ethereum/chainlink_ethereum_vrf_fulfilled_transactions.sql
  models/chainlink/fantom/chainlink_fantom_vrf_fulfilled_transactions.sql
  models/chainlink/polygon/chainlink_polygon_vrf_fulfilled_transactions.sql
Labels: ready-for-merging

#4642 [CoW Protocol] Add missing Gnosis Chain solvers
  models/cow_protocol/gnosis/cow_protocol_gnosis_solvers.sql
Labels: ready-for-merging

#4690 Staking typo fix
  models/staking/ethereum/entities/staking_ethereum_entities_batch_contracts_tx_from.sql
Labels: easy, ready-for-review

#4650 Celo - more erc20 tokens
  models/tokens/celo/tokens_celo_erc20.sql
Labels: ready-for-merging

#4685 zeroex - OP taker
  models/zeroex/optimism/zeroex_optimism_api_fills.sql
  seeds/zeroex/optimism/zeroex_optimism_api_fills_sample.csv
Labels: ready-for-merging

#4697 add Zora base sources to Spellbook
  models/base_sources/zora_base_sources.yml
Labels: ready-for-review
