Repository duneanalytics/spellbook, pull requests merged in 2023-03, with the labels that each got.

#2855 T-25789: fix trove arbitrum spell
  models/trove/arbitrum/trove_arbitrum_trades.sql
  models/trove/trove_sources.yml
Labels: ready-for-merging, dune team

#2858 CI: test if all models have a custom schema set.
  .github/workflows/dbt_precommit_hooks.yml
  dbt_project.yml
  models/abi/signatures.sql
Labels: dune team

#2824 T-25678 prices file redesign: segment by blockchain
  .github/workflows/prices_check.yml
  models/prices/arbitrum/prices_arbitrum_schema.yml
  models/prices/arbitrum/prices_arbitrum_tokens.sql
  models/prices/avalanche_c/prices_avalanche_c_schema.yml
  models/prices/avalanche_c/prices_avalanche_c_tokens.sql
  models/prices/bnb/prices_bnb_schema.yml
  models/prices/bnb/prices_bnb_tokens.sql
  models/prices/ethereum/prices_ethereum_schema.yml
  models/prices/ethereum/prices_ethereum_tokens.sql
  models/prices/fantom/prices_fantom_schema.yml
  models/prices/fantom/prices_fantom_tokens.sql
  models/prices/gnosis/prices_gnosis_schema.yml
  models/prices/gnosis/prices_gnosis_tokens.sql
  models/prices/optimism/prices_optimism_schema.yml
  models/prices/optimism/prices_optimism_tokens.sql
  models/prices/polygon/prices_polygon_schema.yml
  models/prices/polygon/prices_polygon_tokens.sql
  models/prices/prices_native_tokens.sql
  models/prices/prices_schema.yml
  models/prices/prices_tokens.sql
  models/prices/solana/prices_solana_schema.yml
  models/prices/solana/prices_solana_tokens.sql
  tests/prices/prices_tokens_adhoc_test.sql
Labels: dune team

#2884 [Easy] Add 29 missing tokens
  models/tokens/ethereum/tokens_ethereum_erc20.sql
Labels: ready-for-merging

#2865 Add AXL token
  models/prices/arbitrum/prices_arbitrum_tokens.sql
  models/prices/avalanche_c/prices_avalanche_c_tokens.sql
  models/prices/bnb/prices_bnb_tokens.sql
  models/prices/ethereum/prices_ethereum_tokens.sql
  models/prices/fantom/prices_fantom_tokens.sql
  models/prices/polygon/prices_polygon_tokens.sql
  models/prices/prices_tokens.sql
Labels: ready-for-merging

#2854 [EASY] Update tokens_ethereum_erc20.sql
  models/tokens/ethereum/tokens_ethereum_erc20.sql
Labels: ready-for-merging

#2852 Fix pancakeswap bsc nft marketplace tables' blockchain misclassification
  models/pancakeswap/bnb/pancakeswap_bnb_nft_events.sql
  models/pancakeswap/bnb/pancakeswap_bnb_nft_fees.sql
  models/pancakeswap/bnb/pancakeswap_bnb_nft_trades.sql
  models/pancakeswap/bnb/pancakeswap_bnb_schema.yml
Labels: ready-for-merging, NFT

#2832 add chainflag to zeroex api_fills - alt chains
  models/zeroex/arbitrum/zeroex_arbitrum_api_fills.sql
  models/zeroex/arbitrum/zeroex_arbitrum_schema.yml
  models/zeroex/avalanche_c/zeroex_avalanche_c_api_fills.sql
  models/zeroex/avalanche_c/zeroex_avalanche_c_schema.yml
  models/zeroex/fantom/zeroex_fantom_api_fills.sql
  models/zeroex/fantom/zeroex_fantom_schema.yml
  models/zeroex/optimism/zeroex_optimism_api_fills.sql
  models/zeroex/optimism/zeroex_optimism_schema.yml
Labels: ready-for-merging

#2833 zereox - add chainflag to eth model
  models/zeroex/ethereum/zeroex_ethereum_api_fills.sql
  models/zeroex/ethereum/zeroex_ethereum_schema.yml
Labels: ready-for-merging

#2835 add chainflag zeroex polygon
  models/zeroex/polygon/zeroex_polygon_api_fills.sql
  models/zeroex/polygon/zeroex_polygon_schema.yml
  seeds/zeroex/polygon/zeroex_polygon_api_fills_sample.csv
Labels: ready-for-merging

#2847 Add GNS Token to prices_tokens.sql
  models/prices/polygon/prices_polygon_tokens.sql
Labels: ready-for-merging

#2845 Add PolyDoge on tokens list
  models/prices/polygon/prices_polygon_tokens.sql
Labels: ready-for-merging

#2860 OP Fixed Table Updates
  models/addresses/optimism/addresses_optimism_cex.sql
  models/contracts/optimism/contracts_optimism_contract_creator_address_list.sql
  models/contracts/optimism/contracts_optimism_contract_overrides.sql
  models/contracts/optimism/contracts_optimism_project_name_mappings.sql
  models/tokens/optimism/tokens_optimism_erc20.sql
  models/tokens/optimism/tokens_optimism_nft.sql
Labels: easy, ready-for-final-review

#2856 [Easy] [tx_hash label] Add treasury management tx_hash label
  models/cow_protocol/tx_hash_labels/cow_protocol_tx_hash_labels_all.sql
  models/cow_protocol/tx_hash_labels/treasury_management/cow_protocol_tx_hash_labels_treasury_management.sql
  models/cow_protocol/tx_hash_labels/treasury_management/cow_protocol_tx_hash_labels_treasury_management_schema.yml
  models/cow_protocol/tx_hash_labels/treasury_management/ethereum/cow_protocol_tx_hash_labels_treasury_management_ethereum.sql
Labels: labels, ready-for-final-review

#2868 fix: minor typos
  CONTRIBUTING.md
  README.md
  models/bridge/readme.md
  models/chainlink/optimism/readme.md
  models/curvefi/readme.md
  models/dao/readme.md
  models/labels/dex/Persona/sandwich_attackers/README.md
Labels: ready-for-review

#2870 Fix prices.tokens FLOKI decimals
  models/prices/bnb/prices_bnb_tokens.sql
Labels: ready-for-review

#2888 standardize trace address for dex aggregators
  dbt_project.yml
  models/cow_protocol/cow_protocol_trades.sql
  models/dex/aggregator/dex_aggregator_schema.yml
  models/dex/dex_aggregator_trades.sql
  models/dex/dex_schema.yml
  models/lifi/fantom/lifi_fantom_trades.sql
  models/lifi/fantom/lifi_v2_fantom_trades.sql
  models/lifi/lifi_trades.sql
  models/odos/avalanche_c/odos_avalanche_c_trades.sql
  models/odos/odos_trades.sql
  models/openocean/avalanche_c/openocean_avalanche_c_trades.sql
  models/openocean/avalanche_c/openocean_v2_avalanche_c_trades.sql
  models/openocean/fantom/openocean_fantom_trades.sql
  models/openocean/fantom/openocean_v2_fantom_trades.sql
  models/openocean/openocean_trades.sql
  models/paraswap/avalanche_c/paraswap_avalanche_c_trades.sql
  models/paraswap/avalanche_c/paraswap_v5_avalanche_c_trades.sql
  models/paraswap/fantom/paraswap_fantom_trades.sql
  models/paraswap/fantom/paraswap_v5_fantom_trades.sql
  models/paraswap/paraswap_trades.sql
  models/yield_yak/avalanche_c/yield_yak_avalanche_c_trades.sql
Labels: ready-for-merging, dune team

#2896 [Easy] Add 15 missing tokens
  models/tokens/ethereum/tokens_ethereum_erc20.sql
Labels: easy, ready-for-merging

#2891 Minor Magically (Alpha Sharks) aggregation update 2
  models/nft/ethereum/nft_ethereum_aggregators.sql
Labels: easy, ready-for-merging

#2892 add balancer gnosis
  dbt_project.yml
  models/balancer/balancer_trades.sql
  models/balancer/gnosis/balancer_gnosis_schema.yml
  models/balancer/gnosis/balancer_gnosis_sources.yml
  models/balancer/gnosis/balancer_gnosis_trades.sql
  seeds/dex/trades/dex_trades_seed.csv
Labels: dex

#2733 add trader-joe liquidity book (v2-avalanche_c) to dex trades - Ready for Review
  models/trader_joe/avalanche_c/trader_joe_avalanche_c_schema.yml
  models/trader_joe/avalanche_c/trader_joe_avalanche_c_sources.yml
  models/trader_joe/avalanche_c/trader_joe_avalanche_c_trades.sql
  models/trader_joe/avalanche_c/trader_joe_v1_avalanche_c_trades.sql
  models/trader_joe/avalanche_c/trader_joe_v2_avalanche_c_trades.sql
  models/trader_joe/trader_joe_schema.yml
  models/trader_joe/trader_joe_trades.sql
  seeds/dex/trades/dex_trades_seed.csv
Labels: dex

#2814 Added aavegotchi polygon nft trades
  dbt_project.yml
  models/aavegotchi/polygon/aavegotchi_polygon_events.sql
  models/aavegotchi/polygon/aavegotchi_polygon_fees.sql
  models/aavegotchi/polygon/aavegotchi_polygon_schema.yml
  models/aavegotchi/polygon/aavegotchi_polygon_sources.yml
  models/aavegotchi/polygon/aavegotchi_polygon_trades.sql
  models/nft/nft_events.sql
  models/nft/nft_fees.sql
  models/nft/nft_mints.sql
  models/nft/nft_schema.yml
  models/nft/nft_trades.sql
  tests/aavegotchi/polygon/aavegotchi_polygon_assert_events.sql
Labels: NFT

#2911 fix aavegotchi post hook for table properties
  models/aavegotchi/polygon/aavegotchi_polygon_events.sql
Labels: dune team

#2895 modified the logic in the case statement - zeroex fills
  models/zeroex/ethereum/zeroex_ethereum_api_fills.sql
  tests/generic/ethereum/zeroex_ethereum_fills_test.sql
Labels: ready-for-merging

#2887 Add Sushi to OP dex.trades v2
  dbt_project.yml
  models/sushiswap/optimism/sushiswap_optimism_schema.yml
  models/sushiswap/optimism/sushiswap_optimism_sources.yml
  models/sushiswap/optimism/sushiswap_optimism_trades.sql
  models/sushiswap/sushiswap_trades.sql
  seeds/dex/trades/dex_trades_seed.csv
Labels: ready-for-merging, dex

#2901 Add FRAX and FXS price data to Polygon
  models/prices/polygon/prices_polygon_tokens.sql
Labels: ready-for-merging

#2898 Add AMKT mainnet price support.
  models/prices/ethereum/prices_ethereum_tokens.sql
Labels: ready-for-merging

#2893 made slight updates to maker_ethereum.accounting
  models/maker/ethereum/maker_ethereum_accounting.sql
Labels: ready-for-merging

#2864 Add spell for AVAX transfers of Safes on Avalanche
  models/safe/avalanche_c/safe_avalanche_c_avax_transfers.sql
  models/safe/avalanche_c/safe_avalanche_c_schema.yml
  tests/safe/avalanche_c/safe_avalanche_c_avax_transfers_test.sql
Labels: ready-for-merging

#2863 Add spell for ETH transfers of Safes on Goerli
  models/safe/goerli/safe_goerli_eth_transfers.sql
  models/safe/goerli/safe_goerli_schema.yml
  tests/safe/goerli/safe_goerli_eth_transfers_test.sql
Labels: ready-for-merging

#2917 fix cow trace address bug for dunesql
  models/cow_protocol/cow_protocol_trades.sql
  models/cow_protocol/ethereum/cow_protocol_ethereum_trades.sql
  models/cow_protocol/gnosis/cow_protocol_gnosis_trades.sql
Labels: ready-for-merging, dune team

#2883 Add spell for ERC20 token transfers on Arbitrum
  dbt_project.yml
  models/transfers/arbitrum/erc20/transfers_arbitrum_erc20.sql
  models/transfers/arbitrum/transfers_ethereum_schema.yml
  tests/transfers/arbitrum/transfers_arbitrum_erc20_test.sql
Labels: ready-for-final-review

#2915 Fix grammatical errors in README.md
  README.md
Labels: easy, ready-for-merging

#2916 [CoW Protocol] [Easy] Add new solver address for barn barter
  models/cow_protocol/ethereum/cow_protocol_ethereum_solvers.sql
Labels: ready-for-merging

#2757 [Easy] Add order_type to cow trades spell
  models/cow_protocol/ethereum/cow_protocol_ethereum_schema.yml
  models/cow_protocol/ethereum/cow_protocol_ethereum_trades.sql
Labels: easy, ready-for-merging

#2866 Add spell for BNB transfers of Safes on BSC
  models/safe/bnb/safe_bnb_bnb_transfers.sql
  models/safe/bnb/safe_bnb_schema.yml
  tests/safe/bnb/safe_bnb_bnb_transfers_test.sql
Labels: ready-for-merging

#2867 Add spell for MATIC transfers of Safes on Polygon
  models/safe/polygon/safe_polygon_matic_transfers.sql
  models/safe/polygon/safe_polygon_schema.yml
  tests/safe/polygon/safe_polygon_matic_transfers_test.sql
Labels: ready-for-merging

#2869 Add spell for xdai transfers of Safes on Gnosis chain
  models/safe/gnosis/safe_gnosis_schema.yml
  models/safe/gnosis/safe_gnosis_sources.yml
  models/safe/gnosis/safe_gnosis_xdai_transfers.sql
  tests/safe/gnosis/safe_gnosis_xdai_transfers_test.sql
Labels: ready-for-merging

#2900 adding bnbchain contracts
  models/contracts/bnb/contracts_bnb_contract_mapping.sql
  models/contracts/bnb/contracts_bnb_schema.yml
Labels: ready-for-merging

#2912 OP Contract Types Again
  models/contracts/optimism/contracts_optimism_contract_creator_address_list.sql
  models/contracts/optimism/contracts_optimism_contract_overrides.sql
  models/contracts/optimism/contracts_optimism_nondeterministic_contract_creators.sql
  models/contracts/optimism/contracts_optimism_project_name_mappings.sql
Labels: ready-for-merging

#2923 patch sha length
  .github/workflows/dagster_deploy.yml
Labels: dune team

#2924 OP Contracts - Rename 0x
  models/contracts/optimism/contracts_optimism_contract_creator_address_list.sql
  models/contracts/optimism/contracts_optimism_project_name_mappings.sql
Labels: ready-for-merging

#2931 T 26068 abstraction category
  dbt_project.yml
  macros/dune/macros_schema.yml
  macros/mark_as_spell.sql
Labels: dune team

#2942 CEX Users Label - OP, L1
  models/labels/__single_category_labels__/cex/labels_cex_schema.yml
  models/labels/__single_category_labels__/cex/labels_cex_users.sql
  models/labels/labels_all.sql
Labels: labels

#2973 Fix curvefi pools duplicates
  models/curvefi/optimism/curvefi_optimism_pools.sql
  models/curvefi/optimism/curvefi_optimism_trades.sql
Labels: ready-for-review, hotfix

#2844 Rarible polygon nft trades
  dbt_project.yml
  models/nft/nft_events.sql
  models/nft/nft_fees.sql
  models/nft/nft_mints.sql
  models/nft/nft_schema.yml
  models/nft/nft_trades.sql
  models/rarible/polygon/rarible_polygon_events.sql
  models/rarible/polygon/rarible_polygon_fees.sql
  models/rarible/polygon/rarible_polygon_schema.yml
  models/rarible/polygon/rarible_polygon_sources.yml
  models/rarible/polygon/rarible_polygon_trades.sql
  tests/rarible/polygon/rarible_polygon_assert_events.sql
Labels: ready-for-merging, NFT

#2828 Fractal polygon nft trades
  dbt_project.yml
  models/fractal/polygon/fractal_polygon_events.sql
  models/fractal/polygon/fractal_polygon_fees.sql
  models/fractal/polygon/fractal_polygon_schema.yml
  models/fractal/polygon/fractal_polygon_sources.yml
  models/fractal/polygon/fractal_polygon_trades.sql
  models/nft/nft_events.sql
  models/nft/nft_fees.sql
  models/nft/nft_schema.yml
  models/nft/nft_trades.sql
  seeds/fractal/polygon/fractal_polygon_sample_trades.csv
  tests/fratal/polygon/fractal_polygon_assert_events.sql
Labels: ready-for-merging, NFT

#2919 Fix Non EVM methods
  models/method_ids/evm_non_app_method_ids.sql
Labels: ready-for-merging

#2881 Create `nft_optimism_native_mints`
  models/nft/nft_mints.sql
  models/nft/optimism/nft_optimism_native_mints.sql
  models/nft/optimism/nft_optimism_schema.yml
Labels: ready-for-merging, NFT

#2880 Future-poof method to identify Gem smart contracts
  models/nft/ethereum/nft_ethereum_aggregators.sql
  models/nft/ethereum/nft_ethereum_aggregators_gem.sql
  models/nft/ethereum/nft_ethereum_aggregators_manual.sql
  models/nft/ethereum/nft_ethereum_schema.yml
  models/nft/ethereum/nft_ethereum_sources.yml
Labels: ready-for-merging, NFT

#2849 Magiceden polygon nft trades
  dbt_project.yml
  models/magiceden/magiceden_events.sql
  models/magiceden/magiceden_fees.sql
  models/magiceden/magiceden_trades.sql
  models/magiceden/polygon/magiceden_polygon_events.sql
  models/magiceden/polygon/magiceden_polygon_fees.sql
  models/magiceden/polygon/magiceden_polygon_schema.yml
  models/magiceden/polygon/magiceden_polygon_trades.sql
  tests/magiceden/polygon/magiceden_polygon_assert_events.sql
Labels: ready-for-merging, NFT

#2936 OP Contracts - Mod Factory Logic & Add Trace Field
  models/contracts/optimism/contracts_optimism_contract_mapping.sql
  models/contracts/optimism/contracts_optimism_schema.yml
Labels: ready-for-merging

#2944 Fix Coinbase staking deposits
  models/staking/ethereum/staking_ethereum_entities.sql
Labels: easy, ready-for-merging

#2963 OP Token Distributions Cleanup
  models/addresses/optimism/addresses_optimism_grants_funding.sql
  models/op/token_distributions/optimism/op_token_distributions_optimism_all_distributions_labels.sql
  models/op/token_distributions/optimism/op_token_distributions_optimism_foundation_wallet_approvals.sql
  models/op/token_distributions/optimism/op_token_distributions_optimism_other_distributions_claims.sql
  models/op/token_distributions/optimism/op_token_distributions_optimism_project_name_mapping.sql
  models/op/token_distributions/optimism/op_token_distributions_optimism_project_wallets.sql
  models/op/token_distributions/optimism/op_token_distributions_optimism_transfer_mapping.sql
Labels: easy, ready-for-merging

#2956 Fix erc721 source in nftrade_bnb.events
  models/nftrade/bnb/nftrade_bnb_events.sql
Labels: easy, ready-for-merging, hotfix, NFT

#2961 zeroex - ethereum fills modification - very minor
  models/zeroex/ethereum/zeroex_ethereum_api_fills.sql
Labels: ready-for-merging

#2731 Initialize DEX Incentives & Uniswap Liquidity Managers
  models/arrakis/arrakis_schema.yml
  models/arrakis/arrakis_uniswap_pools.sql
  models/arrakis/optimism/arrakis_optimism_schema.yml
  models/arrakis/optimism/arrakis_optimism_sources.yml
  models/arrakis/optimism/arrakis_optimism_uniswap_pools.sql
  models/balancer/balancer_gauge_mappings.sql
  models/balancer/balancer_schema.yml
  models/balancer/optimism/balancer_optimism_gauge_mappings.sql
  models/balancer/optimism/balancer_optimism_schema.yml
  models/balancer/optimism/balancer_optimism_sources.yml
  models/contracts/optimism/contracts_optimism_project_name_mappings.sql
  models/curvefi/curvefi_gauge_mappings.sql
  models/curvefi/curvefi_trades_schema.yml
  models/curvefi/optimism/curvefi_optimism_gauge_mappings.sql
  models/curvefi/optimism/curvefi_optimism_schema.yml
  models/curvefi/optimism/curvefi_optimism_sources.yml
  models/dex/dex_incentive_mappings.sql
  models/dex/dex_schema.yml
  models/gamma/gamma_schema.yml
  models/gamma/gamma_uniswap_pools.sql
  models/gamma/optimism/gamma_optimism_schema.yml
  models/gamma/optimism/gamma_optimism_uniswap_pools.sql
  models/uniswap/uniswap_liquidity_manager_pools.sql
  models/uniswap/uniswap_schema.yml
  models/velodrome/optimism/velodrome_optimism_bribe_mappings.sql
  models/velodrome/optimism/velodrome_optimism_schema.yml
  models/velodrome/optimism/velodrome_optimism_sources.yml
Labels: ready-for-merging

#2975 Fix labels project wallets
  models/addresses/optimism/addresses_optimism_grants_funding.sql
  models/addresses/optimism/addresses_optimism_schema.yml
Labels: ready-for-merging, hotfix

#2980 [EASY] Adding $ARB to tokens.erc20
  models/tokens/arbitrum/tokens_arbitrum_erc20.sql
Labels: ready-for-merging

#2996 Fix magiceden.events and magiceden.fees
  models/magiceden/polygon/magiceden_polygon_events.sql
Labels: dune team, hotfix

#2907 Feat/balancer v1 liquidity
  models/balancer/ethereum/balancer_ethereum_schema.yml
  models/balancer/ethereum/balancer_v1_ethereum_liquidity.sql
Labels: ready-for-merging

#2932 zeroex - update limit order fee address
  models/zeroex/arbitrum/zeroex_arbitrum_api_fills.sql
  models/zeroex/arbitrum/zeroex_arbitrum_api_fills_deduped.sql
  models/zeroex/arbitrum/zeroex_arbitrum_schema.yml
  models/zeroex/avalanche_c/zeroex_avalanche_c_api_fills.sql
  models/zeroex/avalanche_c/zeroex_avalanche_c_api_fills_deduped.sql
  models/zeroex/avalanche_c/zeroex_avalanche_c_schema.yml
  models/zeroex/ethereum/zeroex_ethereum_api_fills.sql
  models/zeroex/ethereum/zeroex_ethereum_api_fills_deduped.sql
  models/zeroex/ethereum/zeroex_ethereum_schema.yml
  models/zeroex/fantom/zeroex_fantom_api_fills_deduped.sql
  models/zeroex/fantom/zeroex_fantom_schema.yml
  models/zeroex/optimism/zeroex_optimism_api_fills.sql
  models/zeroex/optimism/zeroex_optimism_api_fills_deduped.sql
  models/zeroex/optimism/zeroex_optimism_schema.yml
  models/zeroex/polygon/zeroex_polygon_api_fills.sql
  models/zeroex/polygon/zeroex_polygon_api_fills_deduped.sql
  models/zeroex/polygon/zeroex_polygon_schema.yml
Labels: ready-for-merging

#2986 Maverick on ethereum dex trades
  dbt_project.yml
  models/dex/dex_trades.sql
  models/maverick/ethereum/maverick_ethereum_schema.yml
  models/maverick/ethereum/maverick_ethereum_sources.yml
  models/maverick/ethereum/maverick_v1_ethereum_trades.sql
  models/maverick/maverick_schema.yml
  models/maverick/maverick_trades.sql
  seeds/dex/trades/dex_trades_seed.csv
  tests/dex/dex_trades_assert_freshness.sql
  tests/wombat/bnb/wombat_bnb_assert_samples.sql
Labels: ready-for-merging, dex

#2972 Labels Hackathon: Add Lens posts label
  models/labels/social/labels_social.sql
  models/labels/social/labels_social_schema.yml
  models/labels/social/usage/lens/poster_frequencies/labels_lens_poster_frequencies.sql
  models/labels/social/usage/lens/poster_frequencies/labels_lens_poster_frequencies_schema.yml
  models/labels/social/usage/lens/poster_frequencies/labels_lens_poster_frequencies_sources.yml
Labels: ready-for-merging, labels

#2957 Label: Smart dex trader
  models/labels/dex/Persona/smart_dex_traders/ethereum/labels_smart_dex_traders_ethereum.sql
  models/labels/dex/Persona/smart_dex_traders/labels_smart_dex_traders.sql
  models/labels/dex/Persona/smart_dex_traders/labels_smart_dex_traders_schema.yml
  models/labels/dex/labels_dex.sql
Labels: ready-for-merging, labels

#2889 Add Label for the most three letter ens owner
  models/labels/social/labels_social.sql
  models/labels/social/labels_social_schema.yml
  models/labels/social/persona/ens/labels_three_letter_ens_count.sql
  models/labels/social/persona/ens/labels_three_letter_ens_count_schema.yml
Labels: labels

#2988 foundation: remove distinct
  models/foundation/ethereum/foundation_ethereum_events.sql
Labels: dune team, NFT

#2943 Label all stablecoins
  models/labels/infrastructure/identifier/stablecoins/labels_stablecoins.sql
  models/labels/infrastructure/identifier/stablecoins/labels_stablecoins_schema.yml
  models/labels/infrastructure/labels_infrastructure.sql
  models/labels/infrastructure/labels_infrastructure_schema.yml
Labels: ready-for-merging, labels

#3000 fix: magiceden spell for solana
  models/magiceden/solana/magiceden_solana_events.sql
Labels: ready-for-merging, NFT

#3005 [CoW] Add batch_rewards view
  models/cow_protocol/ethereum/cow_protocol_ethereum_batch_rewards.sql
  models/cow_protocol/ethereum/cow_protocol_ethereum_schema.yml
  models/cow_protocol/ethereum/cow_protocol_ethereum_sources.yml
Labels: ready-for-merging

#2846 dbt_project cleanup: seeds
  dbt_project.yml
  seeds/cryptopunks/schema.yml
  seeds/nexusmutual/ethereum/schema.yml
  seeds/opensea/ethereum/schema.yml
Labels: dune team

#3011 Revert "[CoW] Add batch_rewards view (#3005)"
  models/cow_protocol/ethereum/cow_protocol_ethereum_batch_rewards.sql
  models/cow_protocol/ethereum/cow_protocol_ethereum_schema.yml
  models/cow_protocol/ethereum/cow_protocol_ethereum_sources.yml
Labels: dune team

#2929 [Safe] Add signer threshold spell
  models/safe/ethereum/safe_ethereum_schema.yml
  models/safe/ethereum/safe_ethereum_signer_thresholds.sql
  models/safe/ethereum/safe_ethereum_sources.yml
Labels: in review

#3023 Fix Perps data types for DuneSQL
  models/perpetual_protocol/optimism/perpetual_protocol_v2_optimism_perpetual_trades.sql
  models/synthetix/optimism/synthetix_v1_optimism_perpetual_trades.sql
  models/synthetix/optimism/synthetix_v2_optimism_perpetual_trades.sql
Labels: ready-for-merging, hotfix

#2710 Make `nft.wash_trades` crosschain (EVMs & L2s only)
  models/nft/arbitrum/nft_arbitrum_schema.yml
  models/nft/arbitrum/nft_arbitrum_wash_trades.sql
  models/nft/avalanche_c/nft_avalanche_c_schema.yml
  models/nft/avalanche_c/nft_avalanche_c_wash_trades.sql
  models/nft/bnb/nft_bnb_schema.yml
  models/nft/bnb/nft_bnb_wash_trades.sql
  models/nft/ethereum/nft_ethereum_schema.yml
  models/nft/ethereum/nft_ethereum_wash_trades.sql
  models/nft/gnosis/nft_gnosis_schema.yml
  models/nft/gnosis/nft_gnosis_wash_trades.sql
  models/nft/nft_schema.yml
  models/nft/nft_wash_trades.sql
  models/nft/optimism/nft_optimism_schema.yml
  models/nft/optimism/nft_optimism_wash_trades.sql
  models/nft/polygon/nft_polygon_schema.yml
  models/nft/polygon/nft_polygon_wash_trades.sql
Labels: ready-for-merging, NFT

#2945 add labels_aave_v2_annual_liquidations data model and schema source
  models/labels/__single_category_labels__/aave_v2/labels_aave_v2_annual_liquidations.sql
  models/labels/__single_category_labels__/aave_v2/labels_aave_v2_annual_liquidations_schema.yml
Labels: ready-for-merging, labels

#3036 add ARB token price
  models/prices/arbitrum/prices_arbitrum_tokens.sql
  models/prices/ethereum/prices_ethereum_tokens.sql
Labels: ready-for-merging

#3010 Adding Sphere & Tetu addresses to the tokens list.
  models/tokens/polygon/tokens_polygon_erc20.sql
Labels: ready-for-merging

#3035 [Erc20] Add 19 mainnet tokens
  models/tokens/ethereum/tokens_ethereum_erc20.sql
Labels: easy, ready-for-merging

#3024 Add Attestation Creation Events
  dbt_project.yml
  models/optimism_attestationstation/optimism/optimism_attestationstation_optimism_events.sql
  models/optimism_attestationstation/optimism/optimism_attestationstation_optimism_schema.yml
  models/optimism_attestationstation/optimism/optimism_attestationstation_optimism_sources.yml
Labels: in review

#3041 Materialize dex models
  models/dex/dex_aggregator_trades.sql
  models/dex/dex_schema.yml
  models/dex/dex_trades.sql
Labels: ready-for-merging

#3056 zeroex - update maker/taker symbol field
  models/zeroex/arbitrum/zeroex_arbitrum_api_fills_deduped.sql
  models/zeroex/avalanche_c/zeroex_avalanche_c_api_fills_deduped.sql
  models/zeroex/ethereum/zeroex_ethereum_api_fills_deduped.sql
  models/zeroex/fantom/zeroex_fantom_api_fills_deduped.sql
  models/zeroex/optimism/zeroex_optimism_api_fills_deduped.sql
  models/zeroex/polygon/zeroex_polygon_api_fills_deduped.sql
Labels: ready-for-merging, validate_dunesql_check

#3057 [EAST]Update Datatype for Key
  models/optimism_attestationstation/optimism/optimism_attestationstation_optimism_events.sql
Labels: ready-for-merging

#3034 Fix creator earnings and platform fee on `opensea_ethereum.trades` v4
  models/opensea/ethereum/opensea_ethereum_schema.yml
  models/opensea/ethereum/opensea_v4_ethereum_trades.sql
  seeds/opensea/ethereum/opensea_trades_seed.csv
  tests/generic/check_opensea_seed.sql
Labels: NFT, validate_dunesql_check

#3064 Fix Stealcam blockchain
  dbt_project.yml
Labels: easy, ready-for-merging, hotfix, NFT

#2985 fix blur: remove distinct
  models/blur/ethereum/blur_ethereum_events.sql
Labels: NFT

#2989 looksrare: remove distinct
  models/looksrare/ethereum/looksrare_ethereum_events.sql
  models/looksrare/ethereum/looksrare_ethereum_fees.sql
  models/looksrare/ethereum/looksrare_ethereum_trades.sql
Labels: NFT

#3027 T-23515 enable dunesql check
  .github/workflows/dbt_slim_ci.yml
Labels: dune team

#3052 Label burn addresses
  models/labels/addresses/infrastructure/identifier/burn_addresses/labels_burn_addresses.sql
  models/labels/addresses/infrastructure/identifier/burn_addresses/labels_burn_addresses_schema.yml
  models/labels/addresses/infrastructure/labels_infrastructure.sql
Labels: easy, labels

#3076 Remove English Auction trades from `opensea v4 trades`
  models/opensea/ethereum/opensea_ethereum_schema.yml
  models/opensea/ethereum/opensea_v4_ethereum_trades.sql
  seeds/opensea/ethereum/opensea_trades_seed.csv
  tests/generic/check_opensea_seed.sql
Labels: hotfix, NFT

#3085 Fix some spellbook attributions
  models/curvefi/fantom/curvefi_fantom_schema.yml
  models/ellipsis_finance/bnb/ellipsis_finance_bnb_schema.yml
  models/superrare/superrare_ethereum_usernames.sql
  models/zeroex/arbitrum/zeroex_arbitrum_api_fills.sql
  models/zeroex/arbitrum/zeroex_arbitrum_api_fills_deduped.sql
  models/zeroex/arbitrum/zeroex_arbitrum_schema.yml
  models/zeroex/avalanche_c/zeroex_avalanche_c_api_fills.sql
  models/zeroex/avalanche_c/zeroex_avalanche_c_api_fills_deduped.sql
  models/zeroex/avalanche_c/zeroex_avalanche_c_schema.yml
  models/zeroex/ethereum/zeroex_ethereum_api_fills.sql
  models/zeroex/ethereum/zeroex_ethereum_nft_fills.sql
  models/zeroex/ethereum/zeroex_ethereum_schema.yml
  models/zeroex/fantom/zeroex_fantom_api_fills.sql
  models/zeroex/fantom/zeroex_fantom_api_fills_deduped.sql
  models/zeroex/fantom/zeroex_fantom_schema.yml
  models/zeroex/optimism/zeroex_optimism_api_fills.sql
  models/zeroex/optimism/zeroex_optimism_api_fills_deduped.sql
  models/zeroex/optimism/zeroex_optimism_schema.yml
  models/zeroex/polygon/zeroex_polygon_api_fills.sql
  models/zeroex/polygon/zeroex_polygon_api_fills_deduped.sql
  models/zeroex/polygon/zeroex_polygon_nft_fills.sql
  models/zeroex/polygon/zeroex_polygon_schema.yml
  models/zeroex/zeroex_api_fills.sql
  models/zeroex/zeroex_api_fills_deduped.sql
  models/zeroex/zeroex_schema.yml
Labels: ready-for-merging, hotfix

#3079 added few arbitrum tokens
  models/tokens/arbitrum/tokens_arbitrum_erc20.sql
  models/tokens/arbitrum/tokens_arbitrum_schema.yml
Labels: ready-for-merging

#3078 add chainlink oracle and mapping addresses
  models/chainlink/polygon/chainlink_polygon_oracle_addresses.sql
  models/chainlink/polygon/chainlink_polygon_oracle_token_mapping.sql
Labels: ready-for-merging

#3060 Migrate spell ftm erc20 transfers to incremental
  models/transfers/fantom/erc20/transfers_fantom_erc20.sql
  models/transfers/fantom/erc20/transfers_fantom_schema.yml
Labels: ready-for-merging, validate_dunesql_check

#3094 fix prices native to cast decimals to int
  models/prices/prices_native_tokens.sql
Labels: dune team, hotfix

#3092 cleanup dbt warnings on compile
  models/labels/addresses/dex/usage/trader_dex_diversity/labels_trader_dex_diversity_schema.yml
  models/rarible/polygon/rarible_polygon_schema.yml
Labels: dune team
