Repository duneanalytics/spellbook, pull requests merged in 2023-02, with the labels that each got.

#2608 Add new Program Logs to MagicEden spells
  models/magiceden/solana/magiceden_solana_events.sql
Labels: ready-for-merging

#2512 Enable store_failures for tests
  dbt_project.yml
  macros/dune/generate_alias_name.sql
  macros/test-helpers/check_seed_macro.sql
  seeds/uniswap_v3/uniswap_v3_proposals_seed.csv
  seeds/uniswap_v3/uniswap_v3_votes_seed.csv
  tests/balances/ethereum/balances_ethereum_erc20_noncompliant_assert_LT_500.sql
  tests/balances/ethereum/balances_ethereum_erc721_day_assert_nomultipleholders.sql
  tests/balances/ethereum/balances_ethereum_erc721_hour_assert_nomultipleholders.sql
  tests/iziswap/bnb/iziswap_bnb_assert_samples.sql
  tests/nft/ethereum/nft_ethereum_aggregators_markers_no_collisions.sql
  tests/nft/ethereum/nft_ethereum_native_mints_test.sql
  tests/platypus_finance/avalanche_c/platypus_finance_avalanche_c_assert_samples.sql
  tests/sudoswap/ethereum/sudoswap_ethereum_assert_samples.sql
  tests/uniswap_v3/uniswap_v3_proposals_test.sql
  tests/uniswap_v3/uniswap_v3_votes_test.sql
  tests/wombat/bnb/wombat_bnb_assert_samples.sql
Labels: ready-for-review, do not merge

#2603 Add BUSD & aOptOP to Optimism
  models/prices/prices_tokens.sql
  models/tokens/optimism/tokens_optimism_erc20.sql
Labels: ready-for-merging

#2597 added polygon chain to expose spells
  models/dex/dex_trades.sql
Labels: ready-for-merging

#2594 Add OKX to Optimism NFT Aggregators
  models/nft/optimism/nft_optimism_aggregators.sql
Labels: ready-for-review, NFT

#2636 Add UST and LUNC to Fantom & Polygon
  models/prices/prices_tokens.sql
Labels: ready-for-merging

#2635 Add TerraUSD and Terra Classic for Avalanche Chain
  models/prices/prices_tokens.sql
Labels: ready-for-merging

#2601 revise zeroex optimism naming, directory structure
  dbt_project.yml
  models/zeroex/optimism/zeroex_optimism_api_fills.sql
  models/zeroex/optimism/zeroex_optimism_schema.yml
  models/zeroex/optimism/zeroex_optimism_sources.yml
  seeds/zeroex/optimism/zeroex_optimism_api_fills_sample.csv
  tests/zeroex/optimism/zeroex_optimism_api_fills_test.sql
Labels: ready-for-merging

#2592 Feat/improve Balancer v2 pools labels name
  models/labels/balancer_v2/labels_balancer_v2_pools.sql
Labels: ready-for-merging

#2600 revise zeroex fantom naming, directory structure
  dbt_project.yml
  models/zeroex/fantom/zeroex_fantom_api_fills.sql
  models/zeroex/fantom/zeroex_fantom_schema.yml
  models/zeroex/fantom/zeroex_fantom_sources.yml
  seeds/zeroex/fantom/zeroex_fantom_api_fills_sample.csv
  tests/zeroex/fantom/zeroex_api_fantom_fills_test.sql
Labels: ready-for-merging

#2501 Add Cow protocol price improvement data
  models/cow_protocol/ethereum/cow_protocol_ethereum_price_improvement.sql
  models/cow_protocol/ethereum/cow_protocol_ethereum_schema.yml
Labels: ready-for-review

#2559 [Easy] make trader platform spell crosschain - Ready for Review
  models/labels/trader_platforms/ethereum/trader_platforms_ethereum.sql
  models/labels/trader_platforms/labels_trader_platforms.sql
  models/labels/trader_platforms/labels_trader_platforms_schema.yml
  models/labels/trader_platforms/trader_platforms.sql
Labels: ready-for-merging

#2547 bytea2numeric_v3
  dbt_project.yml
  macros/public/bytea2numeric_v3.sql
  macros/public/bytea2numeric_v3_schema.yml
  seeds/udf/bytea2numeric_samples.csv
  tests/macros/public/bytea2numeric_v3_test.sql
Labels: ready-for-merging

#2577 [Easy] Add fantom labels - Ready for Review
  dbt_project.yml
  models/contracts/fantom/contracts_fantom_contract_mapping.sql
  models/contracts/fantom/contracts_fantom_schema.yml
  models/labels/bridges/labels_bridges.sql
  models/labels/bridges/labels_bridges_fantom.sql
  models/labels/bridges/labels_bridges_schema.yml
  models/labels/cex/labels_cex.sql
  models/labels/cex/labels_cex_fantom.sql
  models/labels/cex/labels_cex_schema.yml
Labels: ready-for-merging

#2557 [Easy] make trader frequencies spell cross chain - Ready for review
  models/labels/trader_frequencies/ethereum/trader_frequencies_ethereum.sql
  models/labels/trader_frequencies/labels_trader_frequencies.sql
  models/labels/trader_frequencies/labels_trader_frequencies_schema.yml
  models/labels/trader_frequencies/trader_frequencies.sql
Labels: ready-for-merging

#2633 feat(prices): add MDB and MDB+
  models/prices/prices_tokens.sql
Labels: ready-for-merging

#2602 revise zeroex polygon naming, directory structure
  dbt_project.yml
  models/zeroex/polygon/erc20/zeroex_api_polygon_schema.yml
  models/zeroex/polygon/erc20/zeroex_api_polygon_sources.yml
  models/zeroex/polygon/zeroex_polygon_api_fills.sql
  models/zeroex/polygon/zeroex_polygon_schema.yml
  models/zeroex/polygon/zeroex_polygon_sources.yml
  seeds/zeroex/polygon/zeroex_polygon_api_fills_sample.csv
  tests/zeroex/polygon/zeroex_polygon_api_fills_test.sql
Labels: ready-for-review

#2648 Add GT Token to prices_tokens.sql
  models/prices/prices_tokens.sql
Labels: ready-for-merging

#2532 add spookyswap fantom to dex trades - Ready for Review
  dbt_project.yml
  models/dex/dex_trades.sql
  models/spookyswap/fantom/spookyswap_fantom_schema.yml
  models/spookyswap/fantom/spookyswap_fantom_source.yml
  models/spookyswap/fantom/spookyswap_fantom_trades.sql
  seeds/dex/trades/dex_trades_seed.csv
Labels: dex

#2537 add spiritswap fantom to dex trades - Ready for review
  dbt_project.yml
  models/dex/dex_trades.sql
  models/spiritswap/fantom/spiritswap_fantom_schema.yml
  models/spiritswap/fantom/spiritswap_fantom_sources.yml
  models/spiritswap/fantom/spiritswap_fantom_trades.sql
  seeds/dex/trades/dex_trades_seed.csv
Labels: dex

#2538 add spartacus exchange fantom trades to dex trades - Ready for Review
  dbt_project.yml
  models/dex/dex_trades.sql
  models/spartacus_exchange/fantom/spartacus_exchange_fantom_schema.yml
  models/spartacus_exchange/fantom/spartacus_exchange_fantom_sources.yml
  models/spartacus_exchange/fantom/spartacus_exchange_fantom_trades.sql
  seeds/dex/trades/dex_trades_seed.csv
Labels: dex

#2584 Add Balancer to dex.trades
  models/balancer/arbitrum/balancer_arbitrum_schema.yml
  models/balancer/arbitrum/balancer_arbitrum_trades.sql
  models/balancer/balancer_schema.yml
  models/balancer/balancer_trades.sql
  models/balancer/ethereum/balancer_ethereum_schema.yml
  models/balancer/ethereum/balancer_ethereum_sources.yml
  models/balancer/ethereum/balancer_ethereum_trades.sql
  models/balancer/ethereum/balancer_v1_ethereum_pools_tokens_weights.sql
  models/balancer/ethereum/balancer_v1_ethereum_trades.sql
  models/balancer/ethereum/balancer_v2_ethereum_trades.sql
  models/balancer/optimism/balancer_optimism_schema.yml
  models/balancer/optimism/balancer_optimism_trades.sql
  models/balancer/polygon/balancer_polygon_schema.yml
  models/balancer/polygon/balancer_polygon_trades.sql
  models/dex/dex_trades.sql
  seeds/dex/trades/dex_trades_seed.csv
Labels: dex

#2670 [Erc20] Add 14 missing tokens
  models/tokens/ethereum/tokens_ethereum_erc20.sql
Labels: easy

#2669 Update price_tokens.sql
  models/prices/prices_tokens.sql
Labels: ready-for-merging

#2609 create nft floor price spell - Ready for review
  models/nft/ethereum/nft_ethereum_collection_stats.sql
  models/nft/ethereum/nft_ethereum_schema.yml
  tests/nft/ethereum/nft_ethereum_collection_stats_test.sql
Labels: ready-for-merging, NFT

#2611 create nft wallet pnl - Ready for review
  models/nft/ethereum/nft_ethereum_schema.yml
  models/nft/ethereum/nft_ethereum_wallet_pnl.sql
Labels: ready-for-merging, NFT

#2618 create nft minters - Ready for review
  models/nft/ethereum/nft_ethereum_schema.yml
  models/nft/ethereum/nft_ethereum_top_minters.sql
Labels: ready-for-merging, NFT

#2640 Add models for Safe singletons across all networks
  dbt_project.yml
  models/safe/arbitrum/safe_arbitrum_schema.yml
  models/safe/arbitrum/safe_arbitrum_singletons.sql
  models/safe/arbitrum/safe_arbitrum_sources.yml
  models/safe/avalanche_c/safe_avalanche_c_schema.yml
  models/safe/avalanche_c/safe_avalanche_c_singletons.sql
  models/safe/avalanche_c/safe_avalanche_c_sources.yml
  models/safe/bnb/safe_bnb_schema.yml
  models/safe/bnb/safe_bnb_singletons.sql
  models/safe/bnb/safe_bnb_sources.yml
  models/safe/ethereum/safe_ethereum_schema.yml
  models/safe/ethereum/safe_ethereum_singletons.sql
  models/safe/ethereum/safe_ethereum_sources.yml
  models/safe/fantom/safe_fantom_schema.yml
  models/safe/fantom/safe_fantom_singletons.sql
  models/safe/fantom/safe_fantom_sources.yml
  models/safe/gnosis/safe_gnosis_schema.yml
  models/safe/gnosis/safe_gnosis_singletons.sql
  models/safe/gnosis/safe_gnosis_sources.yml
  models/safe/optimism/safe_optimism_safes.sql
  models/safe/optimism/safe_optimism_schema.yml
  models/safe/optimism/safe_optimism_singletons.sql
  models/safe/optimism/safe_optimism_sources.yml
  models/safe/polygon/safe_polygon_schema.yml
  models/safe/polygon/safe_polygon_singletons.sql
  models/safe/polygon/safe_polygon_sources.yml
  tests/safe/arbitrum/safe_arbitrum_singletons_test.sql
  tests/safe/avalanche_c/safe_avalanche_c_singletons_test.sql
  tests/safe/bnb/safe_bnb_singletons_test.sql
  tests/safe/ethereum/eth_transfers_check_sum.sql
  tests/safe/ethereum/safe_ethereum_singletons_test.sql
  tests/safe/ethereum/safes_check_count.sql
  tests/safe/fantom/safe_fantom_singletons_test.sql
  tests/safe/gnosis/safe_gnosis_singletons_test.sql
  tests/safe/optimism/safe_optimism_singletons_test.sql
  tests/safe/polygon/safe_polygon_singletons_test.sql
Labels: ready-for-merging

#2546 feat: add spell for Sharky.fi on Solana - Ready for review
  dbt_project.yml
  models/base_sources/solana_base_sources.yml
  models/sharky/solana/sharky_solana_events.sql
  models/sharky/solana/sharky_solana_schema.yml
  seeds/sharky/solana/sharky_solana_loans_solscan.csv
  tests/sharky/solana/sharky_solana_assert_samples.sql
Labels: ready-for-merging

#2681 [Easy] Fix X2Y2 duplicates
  models/x2y2/ethereum/x2y2_ethereum_events.sql
Labels: easy, ready-for-merging

#2700 add solana fungible tokens
  dbt_project.yml
  models/tokens/solana/tokens_solana_fungible.sql
  models/tokens/solana/tokens_solana_schema.yml
Labels: in review

#2717 [labels] downstream impact fixes from redesign
  models/opensea/inorganic_volume_filter/wallet_funders/opensea_inorganic_volume_filter_wallet_funders.sql
Labels: ready-for-review

#2718 order matters lol
  models/labels/nft/usage/transaction_numbers/labels_nft_traders_transactions.sql
Labels: ready-for-merging

#2712 Explicit casting on transfers_ethereum_erc20 for DuneSQL compatibility
  models/transfers/ethereum/erc20/transfers_ethereum_erc20.sql
Labels: ready-for-merging

#2711 Hide DuneSQL not compatible spells
  models/balancer/arbitrum/balancer_v2_arbitrum_liquidity.sql
  models/balancer/ethereum/balancer_v2_ethereum_liquidity.sql
  models/balancer/optimism/balancer_v2_optimism_liquidity.sql
  models/balancer/polygon/balancer_v2_polygon_liquidity.sql
  models/balances/ethereum/genesis/genesis_balances.sql
  models/cow_protocol/ethereum/cow_protocol_ethereum_price_improvement.sql
  models/cow_protocol/ethereum/cow_protocol_ethereum_referrals.sql
  models/nomad/ethereum/nomad_ethereum_view_bridge_transactions.sql
  models/perpetual/perpetual_trades.sql
Labels: ready-for-merging

#2703 [EASY] Adding MATICX to prices.usd
  models/prices/prices_tokens.sql
Labels: ready-for-merging

#2702 fix: lower case decode ix
  models/sharky/solana/sharky_solana_events.sql
Labels: ready-for-merging

#2699 LooksRare fix
  models/looksrare/ethereum/looksrare_ethereum_events.sql
  models/looksrare/ethereum/looksrare_ethereum_sources.yml
  seeds/looksrare/ethereum/looksrare_ethereum_trades_postgres.csv
  tests/looksrare/ethereum/looksrare_ethereum_assert_samples.sql
Labels: ready-for-merging, NFT

#2698 update zeroex poly NFT - weth contract address
  models/zeroex/polygon/zeroex_polygon_nft_fills.sql
Labels: ready-for-merging

#2695 revise zeroex fills fields
  models/zeroex/arbitrum/zeroex_arbitrum_api_fills.sql
  models/zeroex/avalanche_c/zeroex_avalanche_c_api_fills.sql
  models/zeroex/fantom/zeroex_fantom_api_fills.sql
  models/zeroex/optimism/zeroex_optimism_api_fills.sql
Labels: ready-for-merging

#2694 zeroex - poly api fills columns revision
  models/zeroex/polygon/zeroex_polygon_api_fills.sql
  seeds/zeroex/polygon/zeroex_polygon_api_fills_sample.csv
Labels: ready-for-merging

#2693 Add blur to prices.usd
  models/prices/prices_tokens.sql
Labels: ready-for-merging

#2692 Update airswap_ethereum_trades.sql
  models/airswap/ethereum/airswap_ethereum_schema.yml
  models/airswap/ethereum/airswap_ethereum_trades.sql
  seeds/dex/trades/dex_trades_seed.csv
Labels: ready-for-merging, hotfix, dex

#2688 Fix vebal balances
  models/balancer/ethereum/balancer_ethereum_vebal_balances_day.sql
Labels: ready-for-merging

#2650 T-24933: use bytea v3 in sudoswap
  models/sudoswap/ethereum/sudoswap_ethereum_events.sql
Labels: ready-for-merging

#2649 T-24932 use bytea2numeric v3 in superrare
  models/superrare/superrare_ethereum_events.sql
Labels: ready-for-merging

#2582 Add ToFu NFT to Optimism
  dbt_project.yml
  models/nft/nft_events.sql
  models/nft/nft_fees.sql
  models/nft/nft_trades.sql
  models/tofu/optimism/tofu_optimism_events.sql
  models/tofu/optimism/tofu_optimism_fees.sql
  models/tofu/optimism/tofu_optimism_schema.yml
  models/tofu/optimism/tofu_optimism_sources.yml
  models/tofu/optimism/tofu_optimism_trades.sql
  seeds/tofu/optimism/tofu_optimism_trades_samples.csv
Labels: ready-for-merging, NFT

#2544 Add Liquidifty to nft trades
  dbt_project.yml
  models/liquidifty/bnb/liquidifty_bnb_schema.yml
  models/liquidifty/bnb/liquidifty_bnb_sources.yml
  models/liquidifty/bnb/liquidifty_bnb_trades.sql
  models/liquidifty/ethereum/liquidifty_ethereum_schema.yml
  models/liquidifty/ethereum/liquidifty_ethereum_sources.yml
  models/liquidifty/ethereum/liquidifty_ethereum_trades.sql
  models/liquidifty/liquidifty_schema.yml
  models/liquidifty/liquidifty_trades.sql
  models/nft/nft_trades.sql
  seeds/liquidifty/bnb/liquidifty_bnb_nft_trades_samples.csv
  seeds/liquidifty/ethereum/liquidifty_ethereum_nft_trades_samples.csv
Labels: ready-for-merging, NFT

#2722 [ERC20] Add 14 Missing ERC20 Tokens
  models/tokens/ethereum/tokens_ethereum_erc20.sql
Labels: easy

#2713 Explicit casting on tessera models for DuneSQL compatibility
  models/tessera/ethereum/tessera_ethereum_bids.sql
  models/tessera/ethereum/tessera_ethereum_fees.sql
Labels: ready-for-merging

#2726 enhance the PR CI test GH action
  .github/workflows/dbt_slim_ci.yml
Labels: dune team

#2612 create nft top sales - Ready for review
  models/nft/ethereum/nft_ethereum_schema.yml
  models/nft/ethereum/nft_ethereum_top_sales.sql
Labels: ready-for-merging, NFT

#2727 fix wallet pnl - Ready for review
  models/nft/ethereum/nft_ethereum_schema.yml
  models/nft/ethereum/nft_ethereum_wallet_pnl.sql
Labels: ready-for-merging

#2732 fix nft trades underlying spell datatype mismatch
  models/liquidifty/bnb/liquidifty_bnb_trades.sql
  models/liquidifty/ethereum/liquidifty_ethereum_trades.sql
  seeds/liquidifty/bnb/liquidifty_bnb_nft_trades_samples.csv
  seeds/liquidifty/ethereum/liquidifty_ethereum_nft_trades_samples.csv
Labels: bug, NFT

#2740 [Easy] Fix Blur
  models/blur/ethereum/blur_ethereum_events.sql
Labels: easy, NFT

#2704 Update Safes spell on Ethereum
  models/safe/ethereum/safe_ethereum_safes.sql
  tests/safe/ethereum/safe_ethereum_safes_test.sql
Labels: ready-for-merging

#2706 Add Safes singleton + list spell on goerli
  models/safe/goerli/safe_goerli_safes.sql
  models/safe/goerli/safe_goerli_schema.yml
  models/safe/goerli/safe_goerli_singletons.sql
  models/safe/goerli/safe_goerli_sources.yml
  tests/safe/goerli/safe_goerli_safes_test.sql
  tests/safe/goerli/safe_goerli_singletons_test.sql
Labels: ready-for-merging

#2707 Add Safes spell for Gnosis Chain
  models/safe/gnosis/safe_gnosis_safes.sql
  models/safe/gnosis/safe_gnosis_schema.yml
  tests/safe/gnosis/safe_gnosis_safes_test.sql
Labels: ready-for-merging

#2708 Add Safes spell on BNB
  models/safe/bnb/safe_bnb_safes.sql
  models/safe/bnb/safe_bnb_schema.yml
  tests/safe/bnb/safe_bnb_safes_test.sql
Labels: ready-for-merging

#2709 Add Safes spell on Polygon
  models/safe/polygon/safe_polygon_safes.sql
  models/safe/polygon/safe_polygon_schema.yml
  tests/safe/polygon/safe_polygon_safes_test.sql
Labels: ready-for-merging

#2739 Feat/zeroex - deduped fills - multiple chains
  models/zeroex/arbitrum/zeroex_arbitrum_api_fills_deduped.sql
  models/zeroex/arbitrum/zeroex_arbitrum_schema.yml
  models/zeroex/avalanche_c/zeroex_avalanche_c_api_fills_deduped.sql
  models/zeroex/avalanche_c/zeroex_avalanche_c_schema.yml
  models/zeroex/fantom/zeroex_fantom_api_fills_deduped.sql
  models/zeroex/fantom/zeroex_fantom_schema.yml
  models/zeroex/optimism/zeroex_optimism_api_fills_deduped.sql
  models/zeroex/optimism/zeroex_optimism_schema.yml
  models/zeroex/polygon/zeroex_polygon_api_fills_deduped.sql
  models/zeroex/polygon/zeroex_polygon_schema.yml
  seeds/zeroex/arbitrum/zeroex_arbitrum_api_fills_deduped_sample.csv
  seeds/zeroex/avalanche_c/zeroex_avalanche_c_api_fills_deduped_sample.csv
  seeds/zeroex/fantom/zeroex_fantom_api_fills_deduped_sample.csv
  seeds/zeroex/optimism/zeroex_optimism_api_fills_deduped_sample.csv
  seeds/zeroex/polygon/zeroex_polygon_api_fills_deduped_sample.csv
  tests/zeroex/arbitrum/zeroex_arbitrum_api_fills_deduped_test.sql
  tests/zeroex/avalanche_c/zeroex_avalanche_c_api_fills_deduped_test.sql
  tests/zeroex/fantom/zeroex_api_fantom_fills__deduped_test.sql
  tests/zeroex/optimism/zeroex_optimism_api_fills__deduped_test.sql
  tests/zeroex/polygon/zeroex_polygon_api_fills__deduped_test.sql
Labels: ready-for-merging

#2735 Batch fix old generic test in dex.trades
  models/bancor/ethereum/bancor_ethereum_schema.yml
  models/curvefi/curvefi_trades.sql
  models/curvefi/ethereum/curvefi_ethereum_schema.yml
  models/curvefi/ethereum/curvefi_ethereum_trades.sql
  models/curvefi/ethereum/curvefi_ethereum_view_pools.sql
  models/curvefi/optimism/curvefi_optimism_trades.sql
  models/dex/dex_trades.sql
  models/mstable/ethereum/mstable_ethereum_schema.yml
  seeds/dex/trades/dex_trades_seed.csv
Labels: ready-for-merging, dex

#2724 Added models for QuickSwap v3
  dbt_project.yml
  models/dex/dex_trades.sql
  models/quickswap/polygon/quickswap_polygon_schema.yml
  models/quickswap/polygon/quickswap_polygon_sources.yml
  models/quickswap/polygon/quickswap_polygon_trades.sql
  models/quickswap/polygon/quickswap_v3_polygon_trades.sql
  models/quickswap/quickswap_trades.sql
  models/quickswap/quickswap_trades_schema.yml
  seeds/dex/trades/dex_trades_seed.csv
Labels: easy, ready-for-merging, dex

#2660 Feat/balancer v2 lbps abstraction
  models/balancer/ethereum/balancer_ethereum_schema.yml
  models/balancer/ethereum/balancer_ethereum_sources.yml
  models/balancer/ethereum/balancer_v2_ethereum_lbps.sql
  models/balancer/polygon/balancer_polygon_schema.yml
  models/balancer/polygon/balancer_polygon_sources.yml
  models/balancer/polygon/balancer_v2_polygon_lbps.sql
Labels: ready-for-merging

#2647 Use bytea2numeric_v3 in X2Y2
  models/x2y2/ethereum/x2y2_ethereum_events.sql
Labels: ready-for-merging

#2626 Make OP Aave Tables Incremental
  models/aave/optimism/aave_optimism_schema.yml
  models/aave/optimism/aave_v3_optimism_borrow.sql
  models/aave/optimism/aave_v3_optimism_interest_rates.sql
  models/aave/optimism/aave_v3_optimism_supply.sql
  tests/aave/optimism/aave_optimism_interests_test.sql
Labels: ready-for-merging

#2785 T-25470 - Fix cow_protocol solvers
  models/cow_protocol/ethereum/cow_protocol_ethereum_solvers.sql
  models/cow_protocol/gnosis/cow_protocol_gnosis_solvers.sql
Labels: ready-for-merging

#2787 gh action cleanup: remove old paths, remove push to main
  .github/workflows/dbt_precommit_hooks.yml
  .github/workflows/dbt_slim_ci.yml
  .github/workflows/prices_check.yml
  .github/workflows/pytest_automations.yml
Labels: dune team

#2475 add balances table for daos - ready-for-review
  models/dao/balances/dao_balances.sql
  models/dao/balances/dao_balances_schema.yml
Labels: ready-for-merging

#2746 [Labels] [Easy] [Fix] Arbitrage Traders Fix
  models/labels/dex/Persona/arbitrage_traders/ethereum/labels_arbitrage_traders_ethereum.sql
Labels: ready-for-merging, labels

#2545 add paraswap avax & ftm to aggregator trades - Ready for review
  dbt_project.yml
  models/dex/aggregator/dex_aggregator_trades.sql
  models/paraswap/avalanche_c/paraswap_avalanche_c_schema.yml
  models/paraswap/avalanche_c/paraswap_avalanche_c_sources.yml
  models/paraswap/avalanche_c/paraswap_avalanche_c_trades.sql
  models/paraswap/avalanche_c/paraswap_v5_avalanche_c_trades.sql
  models/paraswap/fantom/paraswap_fantom_schema.yml
  models/paraswap/fantom/paraswap_fantom_sources.yml
  models/paraswap/fantom/paraswap_fantom_trades.sql
  models/paraswap/fantom/paraswap_v5_fantom_trades.sql
  models/paraswap/paraswap_trades.sql
  models/paraswap/paraswap_trades_schema.yml
  seeds/dex/aggregator/dex_aggregator_seed.csv
Labels: ready-for-merging, dex

#2687 Add dodo widget(Ethereum & BNBChain)
  models/dodo/bnb/dodo_aggregator_bnb_trades.sql
  models/dodo/bnb/dodo_bnb_sources.yml
  models/dodo/ethereum/dodo_aggregator_ethereum_trades.sql
  models/dodo/ethereum/dodo_ethereum_sources.yml
  seeds/dex/trades/dex_trades_seed.csv
Labels: ready-for-merging, dex

#2716 [easy] make trader-age label crosschain - Ready for review
  models/labels/dex/Usage/trader_age/ethereum/labels_trader_age_ethereum.sql
  models/labels/dex/Usage/trader_age/labels_trader_age.sql
  models/labels/dex/Usage/trader_age/labels_trader_age_schema.yml
Labels: ready-for-merging, labels

#2745 Add Airswap Light_v0 swaps to trades
  models/airswap/ethereum/airswap_ethereum_schema.yml
  models/airswap/ethereum/airswap_ethereum_sources.yml
  models/airswap/ethereum/airswap_ethereum_trades.sql
  seeds/dex/trades/dex_trades_seed.csv
Labels: ready-for-merging, dex

#2725 Add BNB spaceid view registrations
  dbt_project.yml
  models/spaceid/bnb/spaceid_bnb_registrations.sql
  models/spaceid/bnb/spaceid_bnb_schema.yml
  models/spaceid/bnb/spaceid_bnb_sources.yml
  tests/spaceid/bnb/spaceid_registrations_test.sql
Labels: ready-for-merging

#2734 [Quick] update tofu arbitrum events unique trade id - Ready for review
  models/tofu/arbitrum/tofu_arbitrum_events.sql
  seeds/tofu/arbitrum/tofu_arbitrum_nft_trades_samples.csv
Labels: ready-for-merging

#2676 [not easy] - fix balances_erc721 - Ready for review
  models/balances/ethereum/balances_ethereum_schema.yml
  models/balances/ethereum/erc721/balances_ethereum_erc721_day.sql
  models/balances/ethereum/erc721/balances_ethereum_erc721_hour.sql
  models/balances/ethereum/erc721/balances_ethereum_erc721_latest.sql
  models/balances/ethereum/erc721/balances_ethereum_erc721_noncompliant.sql
  models/balances/ethereum/erc721/balances_ethereum_erc721_schema.yml
  models/transfers/ethereum/erc721/transfers_ethereum_erc721_agg_day.sql
  models/transfers/ethereum/erc721/transfers_ethereum_erc721_agg_hour.sql
  models/transfers/ethereum/erc721/transfers_ethereum_erc721_rolling_day.sql
  models/transfers/ethereum/erc721/transfers_ethereum_erc721_rolling_hour.sql
  models/transfers/ethereum/erc721/transfers_ethereum_erc721_schema.yml
  models/transfers/ethereum/transfers_ethereum_schema.yml
  tests/balances/ethereum/balances_ethereum_erc721_day_assert_nomultipleholders.sql
  tests/balances/ethereum/balances_ethereum_erc721_hour_assert_nomultipleholders.sql
  tests/balances/ethereum/balances_ethereum_erc721_latest_assert_nomultipleholders.sql
Labels: ready-for-merging

#2596 Add Trove to nft.trades
  dbt_project.yml
  models/nft/nft_trades.sql
  models/trove/arbitrum/trove_arbitrum_trades.sql
  models/trove/ethereum/trove_ethereum_trades.sql
  models/trove/trove_schema.yml
  models/trove/trove_sources.yml
  models/trove/trove_trades.sql
  seeds/trove/arbitrum/trove_arbitrum_nft_trades_samples.csv
  seeds/trove/ethereum/trove_ethereum_nft_trades_samples.csv
Labels: ready-for-merging, NFT

#2800 [Erc20] Add 18 mainnet tokens
  models/tokens/ethereum/tokens_ethereum_erc20.sql
Labels: easy

#2795 replace bytea2numeric v2 with v3
  models/balancer/arbitrum/balancer_v2_arbitrum_pools_fees.sql
  models/balancer/ethereum/balancer_v2_ethereum_pools_fees.sql
  models/balancer/optimism/balancer_v2_optimism_pools_fees.sql
  models/balancer/polygon/balancer_v2_polygon_pools_fees.sql
  models/cryptopunks/ethereum/cryptopunks_ethereum_punk_transfers.sql
  models/nftrade/bnb/nftrade_bnb_events.sql
  models/zeroex/ethereum/zeroex_ethereum_api_fills.sql
Labels: ready-for-review

#2813 Try to fix trove_arbitrum_trades
  models/trove/arbitrum/trove_arbitrum_trades.sql
Labels: ready-for-merging, hotfix

#2759 T-25470 - Fix aave_optimism.interest
  models/aave/optimism/aave_v3_optimism_interest_rates.sql
Labels: dune team

#2799 [Cow] Make cow community spells trino visible
  models/cow_protocol/ethereum/cow_protocol_ethereum_app_data.sql
  models/cow_protocol/ethereum/cow_protocol_ethereum_order_rewards.sql
Labels: dune team

#2786 Make dex_aggregator.trades DuneSQL compatible
  models/cow_protocol/ethereum/cow_protocol_ethereum_trades.sql
  models/cow_protocol/gnosis/cow_protocol_gnosis_trades.sql
Labels: dune team

#2728 [Easy] make trader platform labels crosschain - Ready for review
  models/labels/dex/Persona/trader_platforms/ethereum/labels_trader_platforms_ethereum.sql
  models/labels/dex/Persona/trader_platforms/labels_trader_platforms.sql
  models/labels/dex/Persona/trader_platforms/labels_trader_platforms_schema.yml
Labels: ready-for-merging, labels

#2773 Add Safe txs spell for arbitrum
  models/safe/arbitrum/safe_arbitrum_schema.yml
  models/safe/arbitrum/safe_arbitrum_transactions.sql
  tests/safe/arbitrum/safe_arbitrum_transactions_test.sql
Labels: ready-for-merging

#2775 Add Safe txs spell for Ethereum
  models/safe/ethereum/safe_ethereum_schema.yml
  models/safe/ethereum/safe_ethereum_transactions.sql
  tests/safe/ethereum/safe_ethereum_transactions_test.sql
Labels: ready-for-merging

#2776 Add Safe txs spell for fantom
  models/safe/fantom/safe_fantom_schema.yml
  models/safe/fantom/safe_fantom_transactions.sql
  tests/safe/fantom/safe_fantom_transactions_test.sql
Labels: ready-for-merging

#2777 Add Safe txs spell for Gnosis chain
  models/safe/gnosis/safe_gnosis_schema.yml
  models/safe/gnosis/safe_gnosis_transactions.sql
  tests/safe/gnosis/safe_gnosis_transactions_test.sql
Labels: ready-for-merging

#2778 Add Safe txs spell for optimism
  models/safe/optimism/safe_optimism_schema.yml
  models/safe/optimism/safe_optimism_transactions.sql
  tests/safe/optimism/safe_optimism_transactions_test.sql
Labels: ready-for-merging

#2780 Add Safe txs spell for Avalanche
  models/safe/avalanche_c/safe_avalanche_c_schema.yml
  models/safe/avalanche_c/safe_avalanche_c_transactions.sql
  tests/safe/avalanche_c/safe_avalanche_c_transactions_test.sql
Labels: ready-for-merging

#2789 Add Safe txs spell for goerli
  models/safe/goerli/safe_goerli_schema.yml
  models/safe/goerli/safe_goerli_transactions.sql
  tests/safe/goerli/safe_goerli_transactions_test.sql
Labels: ready-for-merging

#2774 Add Safe txs spell for bnb
  models/safe/bnb/safe_bnb_schema.yml
  models/safe/bnb/safe_bnb_transactions.sql
  tests/safe/bnb/safe_bnb_transactions_test.sql
Labels: ready-for-merging

#2747 Add NFTEarth NFT to Optimism
  dbt_project.yml
  models/nft/nft_events.sql
  models/nft/nft_fees.sql
  models/nft/nft_trades.sql
  models/nftearth/optimism/nftearth_optimism_base_pairs.sql
  models/nftearth/optimism/nftearth_optimism_events.sql
  models/nftearth/optimism/nftearth_optimism_fees.sql
  models/nftearth/optimism/nftearth_optimism_schema.yml
  models/nftearth/optimism/nftearth_optimism_sources.yml
  models/nftearth/optimism/nftearth_optimism_trades.sql
  models/quix/optimism/quix_optimism_schema.yml
  seeds/nftearth/optimism/nftearth_events_seed.csv
Labels: ready-for-merging, NFT

#2743 [Easy] make dex aggregator & dex traders label crosschain - Ready for review
  models/labels/dex/Persona/dex_aggregator_traders/ethereum/labels_dex_aggregator_traders_ethereum.sql
  models/labels/dex/Persona/dex_aggregator_traders/labels_dex_aggregator_traders.sql
  models/labels/dex/Persona/dex_aggregator_traders/labels_dex_aggregator_traders_schema.yml
  models/labels/dex/Persona/dex_traders/ethereum/labels_dex_traders_ethereum.sql
  models/labels/dex/Persona/dex_traders/labels_dex_traders.sql
  models/labels/dex/Persona/dex_traders/labels_dex_traders_schema.yml
Labels: labels

#2830 Materialize trove nft models
  models/trove/arbitrum/trove_arbitrum_trades.sql
  models/trove/ethereum/trove_ethereum_trades.sql
Labels: NFT

#2826 Fix vebal slopes
  models/balancer/ethereum/balancer_ethereum_vebal_slopes.sql
Labels: ready-for-merging

#2748 [tx_hash label] [Easy] Added new columns and fixed query in tx_hash label
  models/cow_protocol/tx_hash_labels/cow_protocol_tx_hash_labels_all_schema.yml
  models/cow_protocol/tx_hash_labels/stable_to_stable/cow_protocol_tx_hash_labels_stable_to_stable_schema.yml
  models/cow_protocol/tx_hash_labels/stable_to_stable/ethereum/cow_protocol_tx_hash_labels_stable_to_stable_ethereum.sql
Labels: labels

#2749 [tx_hash label] [Easy] Add bluechip_investment tx_hash label
  models/cow_protocol/tx_hash_labels/bluechip_investment/cow_protocol_tx_hash_labels_bluechip_investment.sql
  models/cow_protocol/tx_hash_labels/bluechip_investment/cow_protocol_tx_hash_labels_bluechip_investment_schema.yml
  models/cow_protocol/tx_hash_labels/bluechip_investment/ethereum/cow_protocol_tx_hash_labels_bluechip_investment_ethereum.sql
  models/cow_protocol/tx_hash_labels/cow_protocol_tx_hash_labels_all.sql
  models/cow_protocol/tx_hash_labels/cow_protocol_tx_hash_labels_all_schema.yml
Labels: labels

#2798 [tx_hash label] [Easy] Add onramp tx_hash label
  models/cow_protocol/tx_hash_labels/cow_protocol_tx_hash_labels_all.sql
  models/cow_protocol/tx_hash_labels/onramp/cow_protocol_tx_hash_labels_onramp.sql
  models/cow_protocol/tx_hash_labels/onramp/cow_protocol_tx_hash_labels_onramp_schema.yml
  models/cow_protocol/tx_hash_labels/onramp/ethereum/cow_protocol_tx_hash_labels_onramp_ethereum.sql
Labels: labels

#2804 [tx_hash label] [Easy] Add harvest yield tx_hash label
  models/cow_protocol/tx_hash_labels/cow_protocol_tx_hash_labels_all.sql
  models/cow_protocol/tx_hash_labels/harvest_yield/cow_protocol_tx_hash_labels_harvest_yield.sql
  models/cow_protocol/tx_hash_labels/harvest_yield/cow_protocol_tx_hash_labels_harvest_yield_schema.yml
  models/cow_protocol/tx_hash_labels/harvest_yield/ethereum/cow_protocol_tx_hash_labels_harvest_yield_ethereum.sql
Labels: labels

#2805 [tx_hash label] [Easy] Add staking token investment tx_hash label
  models/cow_protocol/tx_hash_labels/cow_protocol_tx_hash_labels_all.sql
  models/cow_protocol/tx_hash_labels/staking_token_investment/cow_protocol_tx_hash_labels_staking_token_investment.sql
  models/cow_protocol/tx_hash_labels/staking_token_investment/cow_protocol_tx_hash_labels_staking_token_investment_schema.yml
  models/cow_protocol/tx_hash_labels/staking_token_investment/ethereum/cow_protocol_tx_hash_labels_staking_token_investment_ethereum.sql
Labels: labels

#2807 [tx_hash label] [Easy] Add early investment tx_hash label
  models/cow_protocol/tx_hash_labels/cow_protocol_tx_hash_labels_all.sql
  models/cow_protocol/tx_hash_labels/early_investment/cow_protocol_tx_hash_labels_early_investment.sql
  models/cow_protocol/tx_hash_labels/early_investment/cow_protocol_tx_hash_labels_early_investment_schema.yml
  models/cow_protocol/tx_hash_labels/early_investment/ethereum/cow_protocol_tx_hash_labels_early_investment_ethereum.sql
Labels: labels

#2806 Add pancakeswap_v2_ethereum_trades
  dbt_project.yml
  models/pancakeswap/ethereum/pancakeswap_ethereum_schema.yml
  models/pancakeswap/ethereum/pancakeswap_ethereum_sources.yml
  models/pancakeswap/ethereum/pancakeswap_v2_ethereum_trades.sql
  models/pancakeswap/pancakeswap_trades.sql
  models/pancakeswap/pancakeswap_trades_schema.yml
  models/prices/prices_tokens.sql
  seeds/dex/trades/dex_trades_seed.csv
Labels: ready-for-merging, dex

#2741 [easy] - make average trade values label crosschain - Ready for review
  models/labels/dex/Usage/average_trade_values/ethereum/labels_average_trade_values_ethereum.sql
  models/labels/dex/Usage/average_trade_values/labels_average_trade_values.sql
  models/labels/dex/Usage/average_trade_values/labels_average_trade_values_schema.yml
Labels: ready-for-review, labels

#2553 [Easy] add fantom transfers to nft transfers - ready for review
  dbt_project.yml
  models/nft/fantom/nft_fantom_schema.yml
  models/nft/fantom/nft_fantom_transfers.sql
  models/nft/nft_schema.yml
  models/nft/nft_transfers.sql
Labels: WIP
