Repository duneanalytics/spellbook, pull requests merged in 2023-07, with the labels that each got.

#3592 Add macros to enable offline Trino compiles and speed up Trino compiles
  .gitignore
  README.md
  dbt_project.yml
  macros/dune/no-relation-listing.sql
  profiles.yml
Labels: ready-for-merging

#3656 Run optimize on DuneSQL
  macros/optimize_spell.sql
Labels: ready-for-merging

#3638 fix decoded namespaces & enable spells in prod again
  models/arbitrum/arbitrum/arbitrum_arbitrum_airdrop_claims.sql
  models/arbitrum/arbitrum/arbitrum_arbitrum_schema.yml
  models/arbitrum/arbitrum/arbitrum_arbitrum_sources.yml
  models/labels/addresses/__single_category_labels__/balancer_v2/labels_balancer_v2_gauges_arbitrum.sql
  models/labels/addresses/__single_category_labels__/balancer_v2/labels_balancer_v2_sources.yml
  models/thena/bnb/thena_bnb_sources.yml
  models/thena/bnb/thena_fusion_bnb_trades.sql
  models/thena/bnb/thena_v1_bnb_trades.sql
Labels: ready-for-merging

#3669 Add generate legacy script
  scripts/generate_legacy_models.py
Labels: dune team, DuneSQL migration

#3682 small infra fixes
  .github/workflows/dbt_slim_ci.yml
  macros/dune/ref.sql
  macros/dune/source.sql
  macros/test-helpers/check_seed_macro.sql
Labels: dune team, DuneSQL migration

#3673 [Easy] [ERC20] Add missing tokens
  models/tokens/ethereum/tokens_ethereum_erc20.sql
  models/tokens/ethereum/tokens_ethereum_erc20_legacy.sql
Labels: ready-for-merging

#3625 Critical bug fix for `balancer_v2.trades` spells
  models/balancer/arbitrum/balancer_v2_arbitrum_trades.sql
  models/balancer/ethereum/balancer_v2_ethereum_trades.sql
  models/balancer/gnosis/balancer_v2_gnosis_trades.sql
  models/balancer/optimism/balancer_v2_optimism_trades.sql
  models/balancer/polygon/balancer_v2_polygon_trades.sql
Labels: ready-for-merging

#3695 fix missing alias macro on nft parent model
  models/nft/ethereum/nft_ethereum_aggregators_manual.sql
Labels: hotfix

#3691 Remove METIS token from prices_bnb_tokens for bad price feed
  models/prices/bnb/prices_bnb_tokens.sql
Labels: in review

#3718 Fix nft transfers on dunesql
  models/nft/nft_transfers.sql
Labels: hotfix, DuneSQL migration

#3703 [Easy] [ERC20] Add missing tokens
  models/tokens/ethereum/tokens_ethereum_erc20.sql
  models/tokens/ethereum/tokens_ethereum_erc20_legacy.sql
Labels: ready-for-merging

#3713 [CoW] migrate and add new field to cow.order_rewards
  models/cow_protocol/ethereum/cow_protocol_ethereum_order_rewards.sql
  models/cow_protocol/ethereum/cow_protocol_ethereum_order_rewards_legacy.sql
  models/cow_protocol/ethereum/cow_protocol_ethereum_schema.yml
Labels: easy, in review, DuneSQL migration

#3716 [CoW] Migrate Eth Flow Orders
  models/cow_protocol/ethereum/cow_protocol_ethereum_eth_flow_orders.sql
  models/cow_protocol/ethereum/cow_protocol_ethereum_eth_flow_orders_legacy.sql
Labels: ready-for-review, DuneSQL migration

#3717 [CoW] Migrate cow.solvers table
  models/cow_protocol/ethereum/cow_protocol_ethereum_solvers.sql
  models/cow_protocol/ethereum/cow_protocol_ethereum_solvers_legacy.sql
  models/cow_protocol/gnosis/cow_protocol_gnosis_solvers.sql
  models/cow_protocol/gnosis/cow_protocol_gnosis_solvers_legacy.sql
  tests/cow_protocol/ethereum/cow_protocol_ethereum_assert_solvers.sql
  tests/cow_protocol/gnosis/cow_protocol_gnosis_assert_solvers.sql
Labels: ready-for-review, DuneSQL migration

#3745 [CoW] Hotfix - Reintroduce block_number into trades
  models/cow_protocol/ethereum/cow_protocol_ethereum_trades.sql
  models/cow_protocol/gnosis/cow_protocol_gnosis_trades.sql
Labels: easy, ready-for-review, hotfix, DuneSQL migration

#3648 Create `evms.info` static table
  models/evms/evms_info.sql
  models/evms/evms_schema.yml
Labels: easy, in review

#3752 Update ci to reflect legacy tag changes
  .github/workflows/dbt_slim_ci.yml
Labels: DuneSQL migration

#3758 Update dunesql_spark_empty_intersection.sh
  scripts/dunesql_spark_empty_intersection.sh
Labels: dune team, DuneSQL migration

#3753 update readme to remove legacy step(s)
  README.md
Labels: dune team, DuneSQL migration

#3746 [CoW] Migrate Batches Table
  models/cow_protocol/cow_protocol_batches.sql
  models/cow_protocol/cow_protocol_batches_legacy.sql
  models/cow_protocol/ethereum/cow_protocol_ethereum_batches.sql
  models/cow_protocol/ethereum/cow_protocol_ethereum_batches_legacy.sql
  models/cow_protocol/gnosis/cow_protocol_gnosis_batches.sql
  models/cow_protocol/gnosis/cow_protocol_gnosis_batches_legacy.sql
  tests/cow_protocol/ethereum/cow_protocol_ethereum_assert_batches.sql
  tests/cow_protocol/ethereum/cow_protocol_ethereum_assert_trades.sql
Labels: DuneSQL migration

#3748 [CoW] Migrate referrals table
  models/cow_protocol/ethereum/cow_protocol_ethereum_referrals.sql
  models/cow_protocol/ethereum/cow_protocol_ethereum_referrals_legacy.sql
Labels: easy, DuneSQL migration

#3749 [CoW] Migrate trade_slippage
  models/cow_protocol/ethereum/cow_protocol_ethereum_trade_slippage.sql
  models/cow_protocol/ethereum/cow_protocol_ethereum_trade_slippage_legacy.sql
  tests/cow_protocol/ethereum/cow_protocol_ethereum_assert_slippage.sql
Labels: easy, ready-for-final-review, DuneSQL migration

#3774 Revert "Looksrare seaport-routed base trades (#3734)"
  models/_sector/nft/trades/ethereum/platforms/_schema.yml
  models/_sector/nft/trades/ethereum/platforms/looksrare_seaport_ethereum_base_trades.sql
  models/_sector/nft/trades/nft_ethereum_trades_beta.sql
  models/looksrare/ethereum/looksrare_ethereum_schema.yml
  seeds/_sector/nft/_schema.yml
  seeds/_sector/nft/looksrare_seaport_ethereum_base_trades_seed.csv
Labels: dune team, hotfix, DuneSQL migration

#3775 readme update: remove step for applying legacy to downstream refs
  README.md
Labels: dune team, DuneSQL migration

#3747 [Easy] [ERC20] Add missing tokens
  models/tokens/ethereum/tokens_ethereum_erc20.sql
  models/tokens/ethereum/tokens_ethereum_erc20_legacy.sql
  models/tokens/gnosis/tokens_gnosis_erc20.sql
  models/tokens/gnosis/tokens_gnosis_erc20_legacy.sql
Labels: easy, ready-for-merging

#3788 readme: add new section for reading the files setup
  README.md
Labels: dune team, DuneSQL migration

#3744 Update arbitrum tigris trades pair -- quick fix -- ready for review
  models/tigris/arbitrum/events/tigris_arbitrum_events_sources.yml
  models/tigris/arbitrum/events/tigris_v2_arbitrum_events_asset_added.sql
  models/tigris/arbitrum/events/tigris_v2_arbitrum_events_asset_added_legacy.sql
Labels: ready-for-merging, DuneSQL migration

#3765 timeswap: adds arbitrum pools
  models/timeswap/arbitrum/timeswap_arbitrum_pools_legacy.sql
Labels: ready-for-merging

#3802 Migrate OP Uniswap Pools
  models/uniswap/optimism/uniswap_optimism_ovm1_pool_mapping.sql
  models/uniswap/optimism/uniswap_optimism_pools.sql
Labels: DuneSQL migration

#3803 Migrate static addresses
  models/addresses/optimism/addresses_optimism_fee_vaults.sql
  models/addresses/optimism/addresses_optimism_grants_funding.sql
  models/contracts/optimism/contracts_optimism_project_name_mappings.sql
  models/contracts/optimism/contracts_optimism_project_name_mappings_legacy.sql
  models/op/token_distributions/optimism/op_token_distributions_optimism_project_name_mapping.sql
  models/op/token_distributions/optimism/op_token_distributions_optimism_project_name_mapping_legacy.sql
Labels: DuneSQL migration

#3801 Simpler - OP Contracts & Tokens Update
  models/contracts/optimism/contracts_optimism_contract_creator_address_list.sql
  models/contracts/optimism/contracts_optimism_contract_creator_address_list_legacy.sql
  models/contracts/optimism/contracts_optimism_contract_mapping.sql
  models/contracts/optimism/contracts_optimism_contract_mapping_legacy.sql
  models/contracts/optimism/contracts_optimism_contract_overrides.sql
  models/contracts/optimism/contracts_optimism_contract_overrides_legacy.sql
  models/contracts/optimism/contracts_optimism_deterministic_contract_creators.sql
  models/contracts/optimism/contracts_optimism_disperse_contracts.sql
  models/contracts/optimism/contracts_optimism_predeploys.sql
  models/contracts/optimism/contracts_optimism_predeploys_legacy.sql
  models/contracts/optimism/contracts_optimism_schema.yml
  models/contracts/optimism/contracts_optimism_self_destruct_contracts.sql
  models/contracts/optimism/contracts_optimism_system_predeploys.sql
  models/contracts/optimism/contracts_optimism_system_predeploys_legacy.sql
  models/tokens/optimism/tokens_optimism_erc20_curated.sql
  models/tokens/optimism/tokens_optimism_erc20_curated_legacy.sql
  models/tokens/optimism/tokens_optimism_erc20_stablecoins.sql
  models/tokens/optimism/tokens_optimism_nft.sql
  models/tokens/optimism/tokens_optimism_nft_bridged_mapping.sql
  models/tokens/optimism/tokens_optimism_nft_curated.sql
  models/tokens/optimism/tokens_optimism_nft_curated_legacy.sql
Labels: DuneSQL migration

#3807 [OP hotfix] Readd Token Symbol to Contracts
  models/contracts/optimism/contracts_optimism_contract_mapping.sql
  models/contracts/optimism/contracts_optimism_contract_mapping_legacy.sql
Labels: hotfix, DuneSQL migration

#3797 migrate NFT arbitrum models
  macros/models/_sector/nft/platforms/tofu_v1_events.sql
  models/_sector/nft/trades/old/platforms/stealcam_arbitrum_events.sql
  models/_sector/nft/trades/old/platforms/tofu_arbitrum_events.sql
  models/_sector/nft/trades/old/platforms/tofu_arbitrum_schema.yml
  models/_sector/nft/trades/old/platforms/trove_schema.yml
  models/_sector/nft/trades/old/platforms/trove_v1_arbitrum_events.sql
  models/_sector/nft/trades/old/platforms/trove_v2_arbitrum_events.sql
  seeds/tofu/arbitrum/schema.yml
  seeds/trove/arbitrum/schema.yml
Labels: dune team, NFT, DuneSQL migration

#3667 Migrate Uniswap Trades
  models/uniswap/arbitrum/uniswap_arbitrum_schema.yml
  models/uniswap/arbitrum/uniswap_arbitrum_trades.sql
  models/uniswap/arbitrum/uniswap_arbitrum_trades_legacy.sql
  models/uniswap/arbitrum/uniswap_v3_arbitrum_trades.sql
  models/uniswap/arbitrum/uniswap_v3_arbitrum_trades_legacy.sql
  models/uniswap/bnb/uniswap_bnb_schema.yml
  models/uniswap/bnb/uniswap_bnb_trades.sql
  models/uniswap/bnb/uniswap_bnb_trades_legacy.sql
  models/uniswap/bnb/uniswap_v3_bnb_trades.sql
  models/uniswap/bnb/uniswap_v3_bnb_trades_legacy.sql
  models/uniswap/ethereum/uniswap_ethereum_schema.yml
  models/uniswap/ethereum/uniswap_ethereum_trades.sql
  models/uniswap/ethereum/uniswap_ethereum_trades_legacy.sql
  models/uniswap/ethereum/uniswap_v1_ethereum_trades.sql
  models/uniswap/ethereum/uniswap_v1_ethereum_trades_legacy.sql
  models/uniswap/ethereum/uniswap_v2_ethereum_trades.sql
  models/uniswap/ethereum/uniswap_v2_ethereum_trades_legacy.sql
  models/uniswap/ethereum/uniswap_v3_ethereum_trades.sql
  models/uniswap/ethereum/uniswap_v3_ethereum_trades_legacy.sql
  models/uniswap/optimism/uniswap_optimism_pools.sql
  models/uniswap/optimism/uniswap_optimism_schema.yml
  models/uniswap/optimism/uniswap_optimism_trades.sql
  models/uniswap/optimism/uniswap_optimism_trades_legacy.sql
  models/uniswap/optimism/uniswap_v3_optimism_trades.sql
  models/uniswap/optimism/uniswap_v3_optimism_trades_legacy.sql
  models/uniswap/polygon/uniswap_polygon_schema.yml
  models/uniswap/polygon/uniswap_polygon_trades.sql
  models/uniswap/polygon/uniswap_polygon_trades_legacy.sql
  models/uniswap/polygon/uniswap_v3_polygon_trades.sql
  models/uniswap/polygon/uniswap_v3_polygon_trades_legacy.sql
  models/uniswap/uniswap_schema.yml
  models/uniswap/uniswap_trades.sql
  models/uniswap/uniswap_trades_legacy.sql
  seeds/dex/trades/dex_trades_seed.csv
  tests/generic/dex_trades_token_bought.sql
Labels: ready-for-merging, dune team, DuneSQL migration

#3688 Migrate models/labels/addresses/infrastructure/*
  models/addresses/ethereum/addresses_ethereum_bridges.sql
  models/addresses/ethereum/addresses_ethereum_defi.sql
  models/addresses/ethereum/addresses_ethereum_dex.sql
  models/addresses/ethereum/addresses_ethereum_l2_batch_submitters.sql
  models/addresses/ethereum/addresses_ethereum_mev.sql
  models/addresses/ethereum/addresses_ethereum_ofac_sanctioned.sql
  models/addresses/ethereum/addresses_ethereum_safe_airdrop.sql
  models/addresses/optimism/addresses_optimism_grants_funding.sql
  models/labels/addresses/bridge/identifiers/labels_bridges_ethereum.sql
  models/labels/addresses/bridge/identifiers/labels_bridges_fantom.sql
  models/labels/addresses/infrastructure/identifier/burn_addresses/labels_burn_addresses.sql
  models/labels/addresses/infrastructure/identifier/cex_tokens/labels_cex_tokens.sql
  models/labels/addresses/infrastructure/identifier/eth_stakers/labels_eth_stakers.sql
  models/labels/addresses/infrastructure/identifier/l2_batch_submitters/labels_l2_batch_submitters.sql
  models/labels/addresses/infrastructure/identifier/l2_fee_vaults/labels_l2_fee_vaults.sql
  models/labels/addresses/infrastructure/identifier/stablecoins/labels_stablecoins.sql
  models/labels/addresses/infrastructure/identifier/system_addresses/labels_system_addresses.sql
  models/labels/addresses/infrastructure/identifier/validators/labels_validators.sql
  models/labels/addresses/infrastructure/identifier/validators/labels_validators_bnb.sql
  models/labels/addresses/infrastructure/identifier/validators/labels_validators_ethereum.sql
  models/labels/addresses/infrastructure/identifier/validators/labels_validators_solana.sql
  models/labels/addresses/infrastructure/labels_infrastructure.sql
  models/labels/addresses/infrastructure/persona/contract_deployers/labels_contract_deployers.sql
  models/labels/addresses/infrastructure/persona/contract_deployers/labels_contract_deployers_arbitrum.sql
  models/labels/addresses/infrastructure/persona/contract_deployers/labels_contract_deployers_avalanche_c.sql
  models/labels/addresses/infrastructure/persona/contract_deployers/labels_contract_deployers_bnb.sql
  models/labels/addresses/infrastructure/persona/contract_deployers/labels_contract_deployers_ethereum.sql
  models/labels/addresses/infrastructure/persona/contract_deployers/labels_contract_deployers_fantom.sql
  models/labels/addresses/infrastructure/persona/contract_deployers/labels_contract_deployers_gnosis.sql
  models/labels/addresses/infrastructure/persona/contract_deployers/labels_contract_deployers_goerli.sql
  models/labels/addresses/infrastructure/persona/contract_deployers/labels_contract_deployers_optimism.sql
  models/labels/addresses/infrastructure/persona/contract_deployers/labels_contract_deployers_polygon.sql
  models/labels/addresses/infrastructure/persona/flashbots/labels_flashbots_ethereum.sql
  models/labels/addresses/infrastructure/persona/flashloans/labels_flashloans_ethereum.sql
  models/labels/addresses/infrastructure/persona/mev/labels_mev_ethereum.sql
  models/labels/addresses/infrastructure/persona/miners/labels_miners.sql
  models/labels/addresses/infrastructure/token_standard/labels_token_standards.sql
  models/labels/addresses/infrastructure/token_standard/labels_token_standards_arbitrum.sql
  models/labels/addresses/infrastructure/token_standard/labels_token_standards_avalanche_c.sql
  models/labels/addresses/infrastructure/token_standard/labels_token_standards_bnb.sql
  models/labels/addresses/infrastructure/token_standard/labels_token_standards_ethereum.sql
  models/labels/addresses/infrastructure/token_standard/labels_token_standards_fantom.sql
  models/labels/addresses/infrastructure/token_standard/labels_token_standards_gnosis.sql
  models/labels/addresses/infrastructure/token_standard/labels_token_standards_goerli.sql
  models/labels/addresses/infrastructure/token_standard/labels_token_standards_optimism.sql
  models/labels/addresses/infrastructure/token_standard/labels_token_standards_polygon.sql
  models/staking/ethereum/staking_ethereum_entities.sql
Labels: labels, DuneSQL migration

#3811 Migrate bnb NFT models
  models/_sector/nft/trades/old/platforms/_schema.yml
  models/_sector/nft/trades/old/platforms/element_bnb_events.sql
  models/_sector/nft/trades/old/platforms/liquidifty_bnb_events.sql
  models/_sector/nft/trades/old/platforms/liquidifty_bnb_schema.yml
  models/_sector/nft/trades/old/platforms/nftb_bnb_events.sql
  models/_sector/nft/trades/old/platforms/nftb_bnb_schema.yml
  models/_sector/nft/trades/old/platforms/nftrade_bnb_events.sql
  models/_sector/nft/trades/old/platforms/nftrade_bnb_schema.yml
  models/_sector/nft/trades/old/platforms/pancakeswap_bnb_nft_events.sql
  models/_sector/nft/trades/old/platforms/tofu_bnb_events.sql
  models/_sector/nft/trades/old/platforms/tofu_bnb_schema.yml
  seeds/liquidifty/bnb/schema.yml
  seeds/nftb/bnb/schema.yml
  seeds/nftrade/bnb/schema.yml
  seeds/pancakeswap/bnb/schema.yml
  seeds/tofu/bnb/schema.yml
  tests/element/element_avalanche_c_assert_trades.sql
  tests/element/element_bnb_assert_trades.sql
  tests/element/element_polygon_assert_trades.sql
  tests/tofu/bnb/tofu_bnb_assert_trades.sql
Labels: dune team, NFT, DuneSQL migration

#3818 Revert "Removes trace address from legacy files aswell" on uniswap lineage
  models/uniswap/arbitrum/uniswap_arbitrum_trades_legacy.sql
  models/uniswap/arbitrum/uniswap_v3_arbitrum_trades_legacy.sql
  models/uniswap/bnb/uniswap_bnb_trades_legacy.sql
  models/uniswap/bnb/uniswap_v3_bnb_trades_legacy.sql
  models/uniswap/ethereum/uniswap_ethereum_trades_legacy.sql
  models/uniswap/ethereum/uniswap_v1_ethereum_trades_legacy.sql
  models/uniswap/ethereum/uniswap_v2_ethereum_trades_legacy.sql
  models/uniswap/ethereum/uniswap_v3_ethereum_trades_legacy.sql
  models/uniswap/optimism/uniswap_optimism_trades_legacy.sql
  models/uniswap/optimism/uniswap_v3_optimism_trades_legacy.sql
  models/uniswap/polygon/uniswap_polygon_trades_legacy.sql
  models/uniswap/polygon/uniswap_v3_polygon_trades_legacy.sql
  models/uniswap/uniswap_trades_legacy.sql
Labels: dune team, hotfix, dex, DuneSQL migration

#3769 Migrate models/addresses/*.sql and models/addresses_events/*.sql
  models/addresses_events/addresses_events_first_funded_by.sql
  models/addresses_events/arbitrum/addresses_events_arbitrum_first_funded_by.sql
  models/addresses_events/arbitrum/addresses_events_arbitrum_schema.yml
  models/addresses_events/avalanche_c/addresses_events_avalanche_c_first_funded_by.sql
  models/addresses_events/avalanche_c/addresses_events_avalanche_c_schema.yml
  models/addresses_events/bnb/addresses_events_bnb_first_funded_by.sql
  models/addresses_events/bnb/addresses_events_bnb_schema.yml
  models/addresses_events/ethereum/addresses_events_ethereum_first_funded_by.sql
  models/addresses_events/ethereum/addresses_events_ethereum_schema.yml
  models/addresses_events/fantom/addresses_events_fantom_first_funded_by.sql
  models/addresses_events/fantom/addresses_events_fantom_schema.yml
  models/addresses_events/gnosis/addresses_events_gnosis_first_funded_by.sql
  models/addresses_events/gnosis/addresses_events_gnosis_schema.yml
  models/addresses_events/optimism/addresses_events_optimism_first_funded_by.sql
  models/addresses_events/optimism/addresses_events_optimism_schema.yml
  models/addresses_events/polygon/addresses_events_polygon_first_funded_by.sql
  models/addresses_events/polygon/addresses_events_polygon_schema.yml
  models/addresses_events_testnets/addresses_events_testnets_first_funded_by.sql
  models/addresses_events_testnets/goerli/addresses_events_testnets_goerli_first_funded_by.sql
  models/addresses_events_testnets/goerli/addresses_events_testnets_goerli_schema.yml
  seeds/addresses_events/_schema.yml
  seeds/addresses_events/first_funded_by_seed.csv
Labels: DuneSQL migration

#3828 Tweak trino OPTIMIZE configuration
  dbt_project.yml
  macros/set_trino_session_property.sql
Labels: DuneSQL migration

#3759 lido liquidity dune sql migration
  models/lido/liquidity/arbitrum/lido_liquidity_arbitrum_curve_pools.sql
Labels: ready-for-merging, DuneSQL migration

#3760 Lido liquidity dune sql migration
  models/lido/liquidity/arbitrum/lido_liquidity_arbitrum_kyberswap_pools.sql
Labels: ready-for-merging, DuneSQL migration

#3791 oneinch: init fantom calls transfers & migrate upstream spells
  models/oneinch/fantom/oneinch_fantom_calls_transfers.sql
  models/oneinch/fantom/oneinch_fantom_schema.yml
  models/oneinch/oneinch_contract_addresses.sql
  models/oneinch/oneinch_contract_addresses_legacy.sql
  models/oneinch/oneinch_fusion_executors.sql
  models/oneinch/oneinch_schema.yml
Labels: ready-for-merging, DuneSQL migration

#3821 Add gho to tokens list
  models/tokens/ethereum/tokens_ethereum_erc20.sql
  models/tokens/ethereum/tokens_ethereum_erc20_legacy.sql
Labels: ready-for-merging

#3813 [Easy] Add 708 missing erc20 tokens
  models/tokens/ethereum/tokens_ethereum_erc20.sql
  models/tokens/ethereum/tokens_ethereum_erc20_legacy.sql
Labels: easy, ready-for-merging

#3823 Add DirectRouter to Paraswap in Spark
  models/paraswap/arbitrum/paraswap_arbitrum_sources.yml
  models/paraswap/arbitrum/paraswap_v5_arbitrum_trades_legacy.sql
  models/paraswap/avalanche_c/paraswap_avalanche_c_sources.yml
  models/paraswap/avalanche_c/paraswap_v5_avalanche_c_trades_legacy.sql
  models/paraswap/bnb/paraswap_bnb_sources.yml
  models/paraswap/bnb/paraswap_v5_bnb_trades_legacy.sql
  models/paraswap/ethereum/paraswap_ethereum_sources.yml
  models/paraswap/ethereum/paraswap_v5_ethereum_trades_legacy.sql
  models/paraswap/fantom/paraswap_fantom_sources.yml
  models/paraswap/fantom/paraswap_v5_fantom_trades_legacy.sql
  models/paraswap/optimism/paraswap_optimism_sources.yml
  models/paraswap/optimism/paraswap_v5_optimism_trades_legacy.sql
  models/paraswap/polygon/paraswap_polygon_sources.yml
  models/paraswap/polygon/paraswap_v5_polygon_trades_legacy.sql
Labels: ready-for-merging

#3841 [easy] OP Static Updates
  models/addresses/optimism/addresses_optimism_grants_funding.sql
  models/contracts/optimism/contracts_optimism_contract_creator_address_list.sql
  models/contracts/optimism/contracts_optimism_contract_creator_address_list_legacy.sql
  models/contracts/optimism/contracts_optimism_deterministic_contract_creators.sql
  models/contracts/optimism/contracts_optimism_project_name_mappings.sql
  models/contracts/optimism/contracts_optimism_project_name_mappings_legacy.sql
  models/op/token_distributions/optimism/op_token_distributions_optimism_project_name_mapping.sql
  models/tokens/optimism/tokens_optimism_erc20_curated.sql
  models/tokens/optimism/tokens_optimism_erc20_curated_legacy.sql
  models/tokens/optimism/tokens_optimism_nft_curated.sql
  models/tokens/optimism/tokens_optimism_nft_curated_legacy.sql
Labels: ready-for-merging

#3847 Revert "oneinch: init fantom calls transfers & migrate upstream spell…
  models/oneinch/fantom/oneinch_fantom_calls_transfers.sql
  models/oneinch/fantom/oneinch_fantom_schema.yml
  models/oneinch/oneinch_contract_addresses.sql
  models/oneinch/oneinch_contract_addresses_legacy.sql
  models/oneinch/oneinch_fusion_executors.sql
  models/oneinch/oneinch_schema.yml
Labels: hotfix, DuneSQL migration

#3846 Create spell for the latest usd price of every token in dex.trades
  models/dex/dex_prices_latest_legacy.sql
  models/dex/dex_schema.yml
Labels: ready-for-merging, dune team

#3852 Revert "Revert "oneinch: init fantom calls transfers & migrate upstre…
  models/oneinch/fantom/oneinch_fantom_calls_transfers.sql
  models/oneinch/fantom/oneinch_fantom_schema.yml
  models/oneinch/oneinch_contract_addresses.sql
  models/oneinch/oneinch_contract_addresses_legacy.sql
  models/oneinch/oneinch_fusion_executors.sql
  models/oneinch/oneinch_schema.yml
Labels: hotfix, DuneSQL migration

#3855 revert code which creates new schema on dunesql
  models/_sector/nft/trades/ethereum/platforms/_schema.yml
  models/_sector/nft/trades/ethereum/platforms/looksrare_seaport_ethereum_base_trades.sql
  models/_sector/nft/trades/nft_ethereum_trades_beta.sql
  models/looksrare/ethereum/looksrare_ethereum_schema.yml
  models/oneinch/fantom/oneinch_fantom_calls_transfers.sql
  models/oneinch/fantom/oneinch_fantom_schema.yml
  models/oneinch/oneinch_contract_addresses.sql
  models/oneinch/oneinch_contract_addresses_legacy.sql
  models/oneinch/oneinch_fusion_executors.sql
  models/oneinch/oneinch_schema.yml
  seeds/_sector/nft/_schema.yml
  seeds/_sector/nft/looksrare_seaport_ethereum_base_trades_seed.csv
Labels: hotfix, DuneSQL migration

#3815 Migrate labels/addresses/social/*
  models/ens/ens_node_names.sql
  models/ens/ens_resolver_latest.sql
  models/ens/ens_resolver_records.sql
  models/ens/ens_reverse_latest.sql
  models/ens/ens_view_registrations.sql
  models/labels/addresses/social/identifier/ens/labels_ens.sql
  models/labels/addresses/social/labels_social.sql
  models/labels/addresses/social/persona/ens/labels_three_letter_ens_count.sql
  models/labels/addresses/social/usage/lens/poster_frequencies/labels_lens_poster_frequencies.sql
  seeds/ens/_schema.yml
  seeds/ens/ens_view_registrations_postgres.csv
Labels: ready-for-merging, DuneSQL migration

#3857 One more legacy ref to fix
  models/dodo/optimism/dodo_optimism_trades_legacy.sql
Labels: DuneSQL migration

#3862 Disable quotes
  dbt_project.yml
Labels: dune team, DuneSQL migration

#3863 Revert "revert code which creates new schema on dunesql (#3855)"
  models/_sector/nft/trades/ethereum/platforms/_schema.yml
  models/_sector/nft/trades/ethereum/platforms/looksrare_seaport_ethereum_base_trades.sql
  models/_sector/nft/trades/nft_ethereum_trades_beta.sql
  models/looksrare/ethereum/looksrare_ethereum_schema.yml
  models/oneinch/fantom/oneinch_fantom_calls_transfers.sql
  models/oneinch/fantom/oneinch_fantom_schema.yml
  models/oneinch/oneinch_contract_addresses.sql
  models/oneinch/oneinch_contract_addresses_legacy.sql
  models/oneinch/oneinch_fusion_executors.sql
  models/oneinch/oneinch_schema.yml
  seeds/_sector/nft/_schema.yml
  seeds/_sector/nft/looksrare_seaport_ethereum_base_trades_seed.csv
Labels: DuneSQL migration

#3865 revert models to test spark bug
  models/_sector/nft/trades/ethereum/platforms/_schema.yml
  models/_sector/nft/trades/ethereum/platforms/looksrare_seaport_ethereum_base_trades.sql
  models/_sector/nft/trades/nft_ethereum_trades_beta.sql
  models/looksrare/ethereum/looksrare_ethereum_schema.yml
  models/oneinch/fantom/oneinch_fantom_calls_transfers.sql
  models/oneinch/fantom/oneinch_fantom_schema.yml
  models/oneinch/oneinch_contract_addresses.sql
  models/oneinch/oneinch_contract_addresses_legacy.sql
  models/oneinch/oneinch_fusion_executors.sql
  models/oneinch/oneinch_schema.yml
  seeds/_sector/nft/_schema.yml
  seeds/_sector/nft/looksrare_seaport_ethereum_base_trades_seed.csv
Labels: DuneSQL migration

#3871 update nft transfers partition
  macros/models/_sector/nft/nft_transfers.sql
  models/nft/chains/nft_arbitrum_transfers.sql
  models/nft/chains/nft_avalanche_c_transfers.sql
  models/nft/chains/nft_bnb_transfers.sql
  models/nft/chains/nft_ethereum_transfers.sql
  models/nft/chains/nft_fantom_transfers.sql
  models/nft/chains/nft_gnosis_transfers.sql
  models/nft/chains/nft_goerli_transfers.sql
  models/nft/chains/nft_optimism_transfers.sql
  models/nft/chains/nft_polygon_transfers.sql
  models/nft/nft_transfers.sql
Labels: DuneSQL migration

#3875 config dex agg seeds for migration
  seeds/dex/aggregator/_schema.yml
  seeds/dex/aggregator/dex_aggregator_seed_legacy.csv
  tests/generic/check_dex_aggregator_seed_legacy.sql
Labels: dex, DuneSQL migration

#3874 oneinch: add calls_transfers for bnb, fantom & some meta fixes
  models/oneinch/bnb/oneinch_bnb_calls_transfers.sql
  models/oneinch/bnb/oneinch_bnb_calls_transfers_legacy.sql
  models/oneinch/bnb/oneinch_bnb_schema.yml
  models/oneinch/fantom/oneinch_fantom_calls_transfers.sql
  models/oneinch/fantom/oneinch_fantom_calls_transfers_legacy.sql
  models/oneinch/fantom/oneinch_fantom_schema.yml
  models/oneinch/oneinch_contract_addresses.sql
  models/oneinch/oneinch_contract_addresses_legacy.sql
  models/oneinch/oneinch_fusion_executors.sql
  models/oneinch/oneinch_fusion_executors_legacy.sql
  models/oneinch/oneinch_schema.yml
Labels: DuneSQL migration

#3876 Check unique dunesql spells
  .github/workflows/dbt_slim_ci.yml
  scripts/missing_legacy_model.sh
Labels: DuneSQL migration

#3886 Fix dex_aggregators seed and test macro
  macros/test-helpers/check_seed_macro.sql
  seeds/dex/aggregator/_schema.yml
  seeds/dex/aggregator/dex_aggregator_seed.csv
Labels: dune team, DuneSQL migration

#3839 Upload Translation Status
  .github/workflows/translation_status.yml
  scripts/upload_translation_status.py
Labels: dune team, DuneSQL migration

#3883 ethereum pools lido dunesql migration
  models/lido/liquidity/ethereum/lido_liquidity_ethereum_balancer_pools.sql
  models/lido/liquidity/ethereum/lido_liquidity_ethereum_curve_steth_conc_pool.sql
  models/lido/liquidity/ethereum/lido_liquidity_ethereum_curve_steth_frxeth_pool.sql
  models/lido/liquidity/ethereum/lido_liquidity_ethereum_curve_steth_ng_pool.sql
  models/lido/liquidity/ethereum/lido_liquidity_ethereum_curve_steth_pool.sql
  models/lido/liquidity/ethereum/lido_liquidity_ethereum_curve_wsteth_reth_pool.sql
  models/lido/liquidity/ethereum/lido_liquidity_ethereum_kyberswap_pools.sql
  models/lido/liquidity/ethereum/lido_liquidity_ethereum_maverick_pools.sql
  models/lido/liquidity/ethereum/lido_liquidity_ethereum_uniswap_v3_pools.sql
  tests/lido/ethereum/lido_ethereum_liquidity_kyberswap_test.sql
Labels: DuneSQL migration

#3879 migrate NFT Avalanche models
  models/_sector/nft/trades/old/platforms/element_avalanche_c_events.sql
Labels: dune team, NFT, DuneSQL migration

#3751 Create Rollup Economics
  models/base_sources/dune_upload_sources.yml
  models/rollup_economics/ethereum/l1_data_fees.sql
  models/rollup_economics/ethereum/l1_data_fees_legacy.sql
  models/rollup_economics/ethereum/rollup_economics_ethereum_schema.yml
  models/rollup_economics/ethereum/rollup_economics_ethereum_sources.yml
Labels: ready-for-merging

#3750 [CoW] Migrate Airdrop Claims
  models/cow_protocol/ethereum/cow_protocol_ethereum_airdrop_claims.sql
Labels: DuneSQL migration

#3733 Blur v2 Base Trades
  models/_sector/nft/trades/ethereum/platforms/_schema.yml
  models/_sector/nft/trades/ethereum/platforms/_sources.yml
  models/_sector/nft/trades/ethereum/platforms/blur_v2_ethereum_base_trades.sql
  models/_sector/nft/trades/ethereum/platforms/legacy/blur_v2_ethereum_base_trades_legacy.sql
  models/_sector/nft/trades/nft_ethereum_trades_beta.sql
  seeds/_sector/nft/_schema.yml
  seeds/_sector/nft/blur_v2_ethereum_base_trades_seed.csv
Labels: ready-for-merging, in review, do not merge, NFT

#3761 migrating frax_finance bnb to dunesql
  models/frax_finance/bnb/frax_finance_bnb_bribes.sql
  models/frax_finance/bnb/frax_finance_bnb_bribes_legacy.sql
  models/frax_finance/bnb/frax_finance_bnb_schema.yml
  models/frax_finance/bnb/frax_finance_bnb_sources.yml
Labels: in review, DuneSQL migration

#3888 "Migrate oneinch_v1_ethereum_trades to DuneSQL
  models/oneinch/ethereum/oneinch_ethereum_schema.yml
  models/oneinch/ethereum/oneinch_v1_ethereum_trades.sql
  seeds/dex/aggregator/dex_aggregator_seed.csv
Labels: dune team, DuneSQL migration

#3806 optimism pools lido liquidity migration
  models/lido/liquidity/optimism/lido_liquidity_optimism_curve_pools.sql
  models/lido/liquidity/optimism/lido_liquidity_optimism_kyberswap_pools.sql
  models/lido/liquidity/optimism/lido_liquidity_optimism_uniswap_v3_pools.sql
  models/lido/liquidity/optimism/lido_liquidity_optimism_velodrome_pools.sql
Labels: ready-for-merging, DuneSQL migration

#3805 balancer arbi lido liquidity migration
  models/lido/liquidity/arbitrum/lido_liquidity_arbitrum_balancer_pools.sql
Labels: ready-for-merging, DuneSQL migration

#3800 camelot arbitrum lido liquidity migration
  models/lido/liquidity/arbitrum/lido_liquidity_arbitrum_camelot_pools.sql
Labels: ready-for-merging, DuneSQL migration

#3709 lido_liquidity_arbitrum_wombat_pools
  models/lido/liquidity/arbitrum/lido_liquidity_arbitrum_sources.yml
  models/lido/liquidity/arbitrum/lido_liquidity_arbitrum_wombat_pools.sql
Labels: ready-for-merging, DuneSQL migration

#3891 Adds dbt deps step
  .github/workflows/translation_status.yml
Labels: dune team, DuneSQL migration

#3890 upstream lido liquidity spell migration
  models/lido/lido_liquidity.sql
Labels: DuneSQL migration

#3885 Create legacy files for dao creator tools tests - ready for review
  models/aragon/ethereum/aragon_ethereum_schema.yml
  models/aragon/gnosis/aragon_gnosis_schema.yml
  models/aragon/polygon/aragon_polygon_schema.yml
  models/dao/addresses/ethereum/dao_addresses_ethereum_schema.yml
  models/dao/addresses/gnosis/dao_addresses_gnosis_schema.yml
  models/dao/addresses/polygon/dao_addresses_polygon_schema.yml
  models/dao/transactions/ethereum/dao_transactions_ethereum_schema.yml
  models/dao/transactions/gnosis/dao_transactions_gnosis_schema.yml
  models/dao/transactions/polygon/dao_transactions_polygon_schema.yml
  seeds/dao/_schema.yml
  seeds/dao/dao_addresses_seed_legacy.csv
  seeds/dao/dao_transactions_seed_legacy.csv
  tests/generic/dao_addresses_creator_tool_legacy.sql
  tests/generic/dao_transactions_creator_tool_legacy.sql
Labels: DuneSQL migration

#3861 Add carbon to dex.trades
  dbt_project.yml
  models/carbon_defi/ethereum/carbon_defi_ethereum_schema.yml
  models/carbon_defi/ethereum/carbon_defi_ethereum_sources.yml
  models/carbon_defi/ethereum/carbon_defi_ethereum_trades.sql
  models/carbon_defi/ethereum/carbon_defi_ethereum_trades_legacy.sql
  seeds/dex/trades/dex_trades_seed.csv
  seeds/dex/trades/dex_trades_seed_legacy.csv
Labels: DuneSQL migration

#3849 Migrate independent single-category labels
  models/labels/addresses/__single_category_labels__/aztec_v2/labels_aztec_v2_contracts_ethereum.sql
  models/labels/addresses/__single_category_labels__/contracts/labels_contracts.sql
  models/labels/addresses/__single_category_labels__/hackers/labels_hackers_ethereum.sql
  models/labels/addresses/__single_category_labels__/ofac_sanctionned/labels_ofac_sanctionned_ethereum.sql
Labels: DuneSQL migration

#3860 Tornado cash migration
  models/labels/addresses/__single_category_labels__/tornado_cash/labels_tornado_cash.sql
  models/tornado_cash/arbitrum/tornado_cash_arbitrum_deposits.sql
  models/tornado_cash/arbitrum/tornado_cash_arbitrum_withdrawals.sql
  models/tornado_cash/avalanche_c/tornado_cash_avalanche_c_deposits.sql
  models/tornado_cash/avalanche_c/tornado_cash_avalanche_c_withdrawals.sql
  models/tornado_cash/bnb/tornado_cash_bnb_deposits.sql
  models/tornado_cash/bnb/tornado_cash_bnb_withdrawals.sql
  models/tornado_cash/ethereum/tornado_cash_ethereum_airdrop_claims.sql
  models/tornado_cash/ethereum/tornado_cash_ethereum_deposits.sql
  models/tornado_cash/ethereum/tornado_cash_ethereum_withdrawals.sql
  models/tornado_cash/gnosis/tornado_cash_gnosis_deposits.sql
  models/tornado_cash/gnosis/tornado_cash_gnosis_withdrawals.sql
  models/tornado_cash/optimism/tornado_cash_optimism_deposits.sql
  models/tornado_cash/optimism/tornado_cash_optimism_withdrawals.sql
  models/tornado_cash/polygon/tornado_cash_polygon_deposits.sql
  models/tornado_cash/polygon/tornado_cash_polygon_withdrawals.sql
  models/tornado_cash/tornado_cash_deposits.sql
  models/tornado_cash/tornado_cash_withdrawals.sql
Labels: DuneSQL migration

#3835 dao balances fix - add unique test and fix dupes - hot fix - ready for review
  models/dao/balances/dao_balances_legacy.sql
  models/dao/balances/dao_balances_schema.yml
Labels: ready-for-merging, hotfix

#3833 Dao migration - update#2 - colony tables - Ready for review
  dbt_project.yml
  models/colony/gnosis/colony_gnosis_dao_addresses.sql
  models/colony/gnosis/colony_gnosis_dao_addresses_legacy.sql
  models/colony/gnosis/colony_gnosis_dao_addresses_schema.yml
  seeds/dao/dao_addresses_seed.csv
Labels: in review, DuneSQL migration

#3831 Dao migration - update#1 - aragon tables - ready for review
  models/aragon/aragon_dao_addresses.sql
  models/aragon/aragon_dao_addresses_legacy.sql
  models/aragon/aragon_dao_addresses_schema.yml
  models/aragon/ethereum/aragon_ethereum_app_dao_addresses.sql
  models/aragon/ethereum/aragon_ethereum_app_dao_addresses_legacy.sql
  models/aragon/ethereum/aragon_ethereum_client_dao_addresses.sql
  models/aragon/ethereum/aragon_ethereum_client_dao_addresses_legacy.sql
  models/aragon/ethereum/aragon_ethereum_dao_addresses.sql
  models/aragon/ethereum/aragon_ethereum_dao_addresses_legacy.sql
  models/aragon/ethereum/aragon_ethereum_schema.yml
  models/aragon/gnosis/aragon_gnosis_client_dao_addresses.sql
  models/aragon/gnosis/aragon_gnosis_client_dao_addresses_legacy.sql
  models/aragon/gnosis/aragon_gnosis_dao_addresses.sql
  models/aragon/gnosis/aragon_gnosis_dao_addresses_legacy.sql
  models/aragon/gnosis/aragon_gnosis_schema.yml
  models/aragon/polygon/aragon_polygon_app_dao_addresses.sql
  models/aragon/polygon/aragon_polygon_app_dao_addresses_legacy.sql
  models/aragon/polygon/aragon_polygon_client_dao_addresses.sql
  models/aragon/polygon/aragon_polygon_client_dao_addresses_legacy.sql
  models/aragon/polygon/aragon_polygon_dao_addresses.sql
  models/aragon/polygon/aragon_polygon_dao_addresses_legacy.sql
  models/aragon/polygon/aragon_polygon_schema.yml
Labels: in review, DuneSQL migration

#3836 Dao migration - update#4 - zodiac tables - ready for review
  dbt_project.yml
  models/zodiac/ethereum/zodiac_ethereum_dao_addresses.sql
  models/zodiac/ethereum/zodiac_ethereum_dao_addresses_legacy.sql
  models/zodiac/ethereum/zodiac_ethereum_dao_addresses_schema.yml
Labels: DuneSQL migration

#3837 Dao migration - update#5 -syndicate tables - ready for review
  dbt_project.yml
  models/syndicate/ethereum/syndicate_ethereum_dao_addresses.sql
  models/syndicate/ethereum/syndicate_ethereum_dao_addresses_legacy.sql
  models/syndicate/ethereum/syndicate_ethereum_dao_addresses_sources.yml
  models/syndicate/ethereum/syndicate_ethereum_schema.yml
  models/syndicate/polygon/syndicate_polygon_dao_addresses.sql
  models/syndicate/polygon/syndicate_polygon_dao_addresses_legacy.sql
  models/syndicate/polygon/syndicate_polygon_schema.yml
  models/syndicate/polygon/syndicate_polygon_sources.yml
  models/syndicate/syndicate_dao_addresses.sql
  models/syndicate/syndicate_dao_addresses_legacy.sql
  models/syndicate/syndicate_dao_addresses_schema.yml
Labels: DuneSQL migration
