Repository duneanalytics/spellbook, pull requests merged in 2023-05, with the labels that each got.

#3268 To track $TETU price
  models/prices/polygon/prices_polygon_tokens.sql
Labels: easy, ready-for-merging

#3266 Adding Wrapped MEMO and XEX
  models/tokens/avalanche_c/tokens_avalanche_c_erc20.sql
Labels: easy, ready-for-merging

#3271 revert eth erc20 price
  models/prices/ethereum/prices_ethereum_tokens.sql
Labels: dune team, hotfix

#3213 add accepted range usd test on dex/nft schema
  models/dex/dex_schema.yml
  models/nft/nft_schema.yml
  models/prices/ethereum/prices_ethereum_tokens.sql
Labels: dune team, dex, NFT

#3232 Aave Flashloans
  dbt_project.yml
  models/aave/aave_flashloans.sql
  models/aave/aave_schema.yml
  models/aave/arbitrum/aave_arbitrum_flashloans.sql
  models/aave/arbitrum/aave_arbitrum_schema.yml
  models/aave/arbitrum/aave_arbitrum_sources.yml
  models/aave/arbitrum/aave_v3_arbitrum_flashloans.sql
  models/aave/avalanche_c/aave_avalanche_c_flashloans.sql
  models/aave/avalanche_c/aave_avalanche_c_schema.yml
  models/aave/avalanche_c/aave_avalanche_c_sources.yml
  models/aave/avalanche_c/aave_v2_avalanche_c_flashloans.sql
  models/aave/avalanche_c/aave_v3_avalanche_c_flashloans.sql
  models/aave/ethereum/aave_ethereum_flashloans.sql
  models/aave/ethereum/aave_ethereum_schema.yml
  models/aave/ethereum/aave_ethereum_sources.yml
  models/aave/ethereum/aave_v1_ethereum_flashloans.sql
  models/aave/ethereum/aave_v2_ethereum_flashloans.sql
  models/aave/ethereum/aave_v3_ethereum_flashloans.sql
  models/aave/fantom/aave_fantom_flashloans.sql
  models/aave/fantom/aave_fantom_schema.yml
  models/aave/fantom/aave_fantom_sources.yml
  models/aave/fantom/aave_v3_fantom_flashloans.sql
  models/aave/optimism/aave_optimism_flashloans.sql
  models/aave/optimism/aave_optimism_schema.yml
  models/aave/optimism/aave_optimism_sources.yml
  models/aave/optimism/aave_v3_optimism_flashloans.sql
  models/aave/polygon/aave_polygon_flashloans.sql
  models/aave/polygon/aave_polygon_schema.yml
  models/aave/polygon/aave_polygon_sources.yml
  models/aave/polygon/aave_v2_polygon_flashloans.sql
  models/aave/polygon/aave_v3_polygon_flashloans.sql
  models/labels/addresses/infrastructure/persona/flashloans/labels_flashloans_ethereum.sql
  models/labels/addresses/infrastructure/persona/flashloans/labels_flashloans_sources.yml
Labels: ready-for-merging

#3259 Capitial pool eth transactions
  models/nexusmutual/ethereum/nexusmutual_ethereum_capital_pool_eth_daily_transaction_summary.sql
  models/nexusmutual/ethereum/nexusmutual_ethereum_schema.yml
  models/nexusmutual/ethereum/nexusmutual_ethereum_sources.yml
  seeds/nexusmutual/ethereum/nexusmutual_ethereum_capital_pool_eth_daily_transaction_summary_seed.csv
  seeds/nexusmutual/ethereum/schema.yml
Labels: ready-for-merging

#3267 Add new uniswap router to NFT aggregators
  models/nft/arbitrum/nft_arbitrum_aggregators.sql
  models/nft/arbitrum/nft_arbitrum_schema.yml
  models/nft/avalanche_c/nft_avalanche_c_schema.yml
  models/nft/bnb/nft_bnb_aggregators.sql
  models/nft/bnb/nft_bnb_schema.yml
  models/nft/ethereum/nft_ethereum_aggregators_manual.sql
  models/nft/optimism/nft_optimism_aggregators.sql
  models/nft/optimism/nft_optimism_schema.yml
  models/nft/polygon/nft_polygon_aggregators.sql
  models/nft/polygon/nft_polygon_schema.yml
Labels: ready-for-merging

#3269 Adding fBOMB, OATH, spGLCR and SUB
  models/tokens/avalanche_c/tokens_avalanche_c_erc20.sql
Labels: ready-for-merging

#3274 Add EDU, wBETH, RDNT to tokens
  models/tokens/bnb/tokens_bnb_bep20.sql
  models/tokens/ethereum/tokens_ethereum_erc20.sql
Labels: easy, ready-for-merging

#3279 Source rowcount generic test
  models/_sector/nft/trades/ethereum/platforms/_schema.yml
  tests/_sector/nft/check_nft_rowcount_foundation.sql
  tests/generic/equal_rowcount_with_sources.sql
Labels: dune team

#3282 [Easy] [ERC20] Add 117 missing tokens
  models/tokens/ethereum/tokens_ethereum_erc20.sql
Labels: easy

#3159 OP - Add all ERC20 tokens to erc20.tokens
  models/aave/aave_schema.yml
  models/aave/aave_v3_tokens.sql
  models/the_granary/optimism/the_granary_optimism_schema.yml
  models/the_granary/optimism/the_granary_optimism_tokens.sql
  models/tokens/optimism/readme.md
  models/tokens/optimism/tokens_optimism_erc20.sql
  models/tokens/optimism/tokens_optimism_erc20_curated.sql
  models/tokens/optimism/tokens_optimism_erc20_generated.sql
  models/tokens/optimism/tokens_optimism_erc20_stablecoins.sql
  models/tokens/optimism/tokens_optimism_erc20_transfer_source.sql
  models/tokens/optimism/tokens_optimism_schema.yml
  models/tokens/tokens_erc20.sql
  models/yearn/optimism/yearn_optimism_schema.yml
  models/yearn/optimism/yearn_optimism_sources.yml
  models/yearn/optimism/yearn_optimism_vaults.sql
Labels: ready-for-merging

#3290 add prod_exclude tags for models to disable in production
  models/airswap/ethereum/airswap_ethereum_trades.sql
  models/hashflow/ethereum/hashflow_ethereum_raw_trades.sql
  models/odos/avalanche_c/odos_avalanche_c_trades.sql
Labels: dune team

#3307 add exclude list of broken spells to PR CI tests
  .github/workflows/dbt_slim_ci.yml
Labels: dune team, hotfix

#3297 [Erc20] add about 2900 mainnet tokens
  models/tokens/ethereum/tokens_ethereum_erc20.sql
Labels: ready-for-merging

#3296 [Prices] Remove StakeDAO from prices.usd
  models/prices/ethereum/prices_ethereum_tokens.sql
Labels: ready-for-merging

#3306 Update aave token
  models/prices/bnb/prices_bnb_tokens.sql
Labels: ready-for-merging

#3304 Restructure Element to new NFT trades setup
  macros/models/_sector/nft/element_v1_base_trades.sql
  models/_sector/nft/trades/ethereum/platforms/_schema.yml
  models/_sector/nft/trades/ethereum/platforms/element_ethereum_base_trades.sql
  models/_sector/nft/trades/nft_ethereum_trades_beta.sql
  seeds/_sector/nft/element_ethereum_base_trades_seed.csv
Labels: ready-for-merging, dune team, NFT

#3316 exclude another tx in existing bug for oneinch trades
  models/oneinch/ethereum/unoswap/oneinch_unoswap_v5_ethereum_trades.sql
Labels: dune team, hotfix, dex

#3299 Add fees to uniswap v3 trades
  models/uniswap/ethereum/uniswap_v3_ethereum_trades.sql
Labels: dex

#3321 [CoW] ETH Flow - add column environment
  models/cow_protocol/ethereum/cow_protocol_ethereum_eth_flow_orders.sql
  models/cow_protocol/ethereum/cow_protocol_ethereum_schema.yml
Labels: ready-for-final-review

#3314 Restructure x2y2 to new NFT trades setup
  models/_sector/nft/trades/ethereum/platforms/_schema.yml
  models/_sector/nft/trades/ethereum/platforms/x2y2_ethereum_base_trades.sql
  models/_sector/nft/trades/nft_ethereum_trades_beta.sql
  seeds/_sector/nft/_schema.yml
  seeds/_sector/nft/x2y2_ethereum_base_trades_seed.csv
Labels: dune team, NFT

#3349 Exclude zeroex_polygon_api_fills.sql
  models/zeroex/polygon/zeroex_polygon_api_fills.sql
Labels: ready-for-merging, dune team, hotfix

#3354 exclude polygon from 0x trades
  models/zeroex/zeroex_api_fills_deduped.sql
Labels: dune team, hotfix

#3283 Fix Balancer Trades
  models/balancer/arbitrum/balancer_arbitrum_trades.sql
  models/balancer/ethereum/balancer_v2_ethereum_trades.sql
  models/balancer/gnosis/balancer_gnosis_trades.sql
  models/balancer/optimism/balancer_optimism_trades.sql
  models/balancer/polygon/balancer_polygon_trades.sql
Labels: ready-for-merging, dex

#3352 [Bug] Fix Trade Surplus for Partial Fills
  models/cow_protocol/ethereum/cow_protocol_ethereum_schema.yml
  models/cow_protocol/ethereum/cow_protocol_ethereum_trades.sql
Labels: bug

#3285 CoW Protocol: New Solver Addresses
  models/cow_protocol/ethereum/cow_protocol_ethereum_solvers.sql
  models/cow_protocol/gnosis/cow_protocol_gnosis_solvers.sql
Labels: easy, ready-for-merging

#3322 Restructure Zora to new NFT trades setup
  models/_sector/nft/trades/ethereum/platforms/_schema.yml
  models/_sector/nft/trades/ethereum/platforms/zora_v1_ethereum_base_trades.sql
  models/_sector/nft/trades/ethereum/platforms/zora_v2_ethereum_base_trades.sql
  models/_sector/nft/trades/ethereum/platforms/zora_v3_ethereum_base_trades.sql
  models/_sector/nft/trades/nft_ethereum_trades_beta.sql
  models/nft/nft_events.sql
  models/zora/ethereum/zora_ethereum_events.sql
  seeds/_sector/nft/_schema.yml
  seeds/_sector/nft/zora_v1_ethereum_base_trades_seed.csv
  seeds/_sector/nft/zora_v2_ethereum_base_trades_seed.csv
  seeds/_sector/nft/zora_v3_ethereum_base_trades_seed.csv
  tests/_sector/nft/check_nft_rowcount_superrare.sql
  tests/_sector/nft/check_nft_rowcount_zora_v1.sql
  tests/generic/equal_rowcount_with_sources.sql
Labels: ready-for-merging, dune team, NFT

#3323 Add seaport v1.5 to opensea_events
  models/opensea/polygon/opensea_v3_polygon_events.sql
  models/opensea/polygon/opensea_v4_polygon_events.sql
  models/seaport/polygon/seaport_polygon_sources.yml
  seeds/opensea/polygon/opensea_polygon_seaport_trades_samples.csv
Labels: ready-for-merging, NFT

#3325 add iWSTETH to ironbank itokens
  models/ironbank/ethereum/ironbank_ethereum_itokens.sql
Labels: easy, ready-for-merging

#3327 Adding Grain, IBEX, WINE, xSHRAP, RPEPE
  models/tokens/avalanche_c/tokens_avalanche_c_erc20.sql
Labels: easy, ready-for-merging

#3335 fix(doc): replace 404 link
  README.md
Labels: easy, ready-for-merging

#3337 OP Project Name Mappings
  models/contracts/optimism/contracts_optimism_contract_creator_address_list.sql
  models/contracts/optimism/contracts_optimism_project_name_mappings.sql
  models/tokens/optimism/tokens_optimism_erc20_curated.sql
  models/tokens/optimism/tokens_optimism_nft_curated.sql
Labels: easy, ready-for-merging

#3343 [ERC20] Add 511 Mainnet Tokens
  models/tokens/ethereum/tokens_ethereum_erc20.sql
Labels: easy, ready-for-merging

#3345 Add polygon nft aggregators
  models/nft/polygon/nft_polygon_aggregators.sql
Labels: easy, ready-for-merging, NFT

#3347 add verse to prices.usd
  models/prices/ethereum/prices_ethereum_tokens.sql
Labels: easy, ready-for-merging

#3342 Adding DEI and yyAVAX to avalanche_c tokens
  models/tokens/avalanche_c/tokens_avalanche_c_erc20.sql
Labels: easy, ready-for-merging

#3284 Restructure Blur to new NFT trades setup
  models/_sector/nft/trades/MIGRATION.md
  models/_sector/nft/trades/ethereum/platforms/_schema.yml
  models/_sector/nft/trades/ethereum/platforms/blur_ethereum_base_trades.sql
  models/_sector/nft/trades/nft_ethereum_trades_beta.sql
  models/blur/ethereum/blur_ethereum_events.sql
  models/prices/ethereum/prices_ethereum_tokens.sql
  seeds/_sector/nft/_schema.yml
  seeds/_sector/nft/blur_ethereum_base_trades_seed.csv
  tests/_sector/nft/check_nft_rowcount_blur.sql
Labels: ready-for-merging, dune team, NFT

#3355 Rename onceinch_lop_v2 to oneinch schema for decoded tables
  models/oneinch/ethereum/limit_order_protocol/oneinch_limit_order_protocol_rfq_v2_ethereum_trades.sql
  models/oneinch/ethereum/limit_order_protocol/oneinch_limit_order_protocol_v2_ethereum_trades.sql
  models/oneinch/ethereum/oneinch_ethereum_sources.yml
Labels: ready-for-merging, dune team

#3286 Restructure Cryptopunks to new NFT trades setup
  models/_sector/nft/trades/MIGRATION.md
  models/_sector/nft/trades/ethereum/platforms/_schema.yml
  models/_sector/nft/trades/ethereum/platforms/_sources.yml
  models/_sector/nft/trades/ethereum/platforms/cryptopunks_ethereum_base_trades.sql
  models/_sector/nft/trades/nft_ethereum_trades_beta.sql
  seeds/_sector/nft/_schema.yml
  seeds/_sector/nft/cryptopunks_ethereum_base_trades_seed.csv
  tests/_sector/nft/check_nft_migrations_ethereum.sql
Labels: do not merge, dune team, NFT

#3329 Restructure Sudoswap to new NFT trades setup
  models/_sector/nft/trades/ethereum/platforms/_schema.yml
  models/_sector/nft/trades/ethereum/platforms/sudoswap_ethereum_base_trades.sql
  models/_sector/nft/trades/nft_ethereum_trades_beta.sql
  seeds/_sector/nft/sudoswap_ethereum_base_trades_seed.csv
Labels: ready-for-review, dune team, NFT

#3332 Restructure looksrare to new NFT trades setup
  models/_sector/nft/trades/ethereum/platforms/_schema.yml
  models/_sector/nft/trades/ethereum/platforms/looksrare_v1_ethereum_base_trades.sql
  models/_sector/nft/trades/ethereum/platforms/looksrare_v2_ethereum_base_trades.sql
  models/_sector/nft/trades/nft_ethereum_trades_beta.sql
  seeds/_sector/nft/_schema.yml
  seeds/_sector/nft/looksrare_v1_ethereum_base_trades_seed.csv
  seeds/_sector/nft/looksrare_v2_ethereum_base_trades_seed.csv
Labels: ready-for-review, dune team, NFT

#3350 NFT trades backwards compatibility
  macros/models/_sector/nft/enrich_trades.sql
  macros/models/_sector/nft/port_to_old_schema.sql
  models/_sector/nft/trades/nft_ethereum_trades_beta_ported.sql
  models/_sector/nft/trades/schema.yml
  tests/_sector/nft/check_backport_columns.sql
Labels: ready-for-review, dune team, NFT

#3357 NFT Restructuring
  macros/models/_sector/nft/enrich_trades.sql
  macros/models/_sector/nft/port_to_old_schema.sql
  models/_sector/nft/trades/MIGRATION.md
  models/_sector/nft/trades/ethereum/platforms/_schema.yml
  models/_sector/nft/trades/ethereum/platforms/_sources.yml
  models/_sector/nft/trades/ethereum/platforms/collectionswap_ethereum_base_trades.sql
  models/_sector/nft/trades/ethereum/platforms/cryptopunks_ethereum_base_trades.sql
  models/_sector/nft/trades/ethereum/platforms/looksrare_v1_ethereum_base_trades.sql
  models/_sector/nft/trades/ethereum/platforms/looksrare_v2_ethereum_base_trades.sql
  models/_sector/nft/trades/ethereum/platforms/sudoswap_ethereum_base_trades.sql
  models/_sector/nft/trades/nft_ethereum_trades_beta.sql
  models/_sector/nft/trades/nft_ethereum_trades_beta_ported.sql
  models/_sector/nft/trades/schema.yml
  seeds/_sector/nft/_schema.yml
  seeds/_sector/nft/collectionswap_ethereum_base_trades_seed.csv
  seeds/_sector/nft/cryptopunks_ethereum_base_trades_seed.csv
  seeds/_sector/nft/looksrare_v1_ethereum_base_trades_seed.csv
  seeds/_sector/nft/looksrare_v2_ethereum_base_trades_seed.csv
  seeds/_sector/nft/sudoswap_ethereum_base_trades_seed.csv
  tests/_sector/nft/check_backport_columns.sql
  tests/_sector/nft/check_nft_migrations_ethereum.sql
Labels: dune team, NFT

#3318 Add clipper.exchange Coves
  models/clipper/arbitrum/clipper_arbitrum_schema.yml
  models/clipper/arbitrum/clipper_arbitrum_sources.yml
  models/clipper/arbitrum/clipper_arbitrum_trades.sql
  models/clipper/arbitrum/clipper_coves_v1_arbitrum_trades.sql
  models/clipper/polygon/clipper_coves_v1_polygon_trades.sql
  models/clipper/polygon/clipper_polygon_schema.yml
  models/clipper/polygon/clipper_polygon_sources.yml
  models/clipper/polygon/clipper_polygon_trades.sql
  seeds/dex/trades/dex_trades_seed.csv
Labels: dex, ready-for-final-review

#3313 Add Quickswap v2 to dex.trades
  models/prices/polygon/prices_polygon_tokens.sql
  models/quickswap/polygon/quickswap_polygon_schema.yml
  models/quickswap/polygon/quickswap_polygon_sources.yml
  models/quickswap/polygon/quickswap_polygon_trades.sql
  models/quickswap/polygon/quickswap_v2_polygon_trades.sql
  models/quickswap/quickswap_trades.sql
  models/quickswap/quickswap_trades_schema.yml
  models/tokens/polygon/tokens_polygon_erc20.sql
  seeds/dex/trades/dex_trades_seed.csv
Labels: dex, ready-for-final-review

#3358 Adding VINTAGE and NRWL tokens
  models/tokens/avalanche_c/tokens_avalanche_c_erc20.sql
Labels: easy, ready-for-merging

#3338 zeroex - hide single chain tables
  models/zeroex/arbitrum/zeroex_arbitrum_api_fills.sql
  models/zeroex/arbitrum/zeroex_arbitrum_api_fills_deduped.sql
  models/zeroex/avalanche_c/zeroex_avalanche_c_api_fills.sql
  models/zeroex/avalanche_c/zeroex_avalanche_c_api_fills_deduped.sql
  models/zeroex/ethereum/zeroex_ethereum_api_fills.sql
  models/zeroex/ethereum/zeroex_ethereum_api_fills_deduped.sql
  models/zeroex/optimism/zeroex_optimism_api_fills.sql
  models/zeroex/optimism/zeroex_optimism_api_fills_deduped.sql
  models/zeroex/polygon/zeroex_polygon_api_fills.sql
  models/zeroex/polygon/zeroex_polygon_api_fills_deduped.sql
Labels: easy, ready-for-final-review

#3339 ENH: New table to facilitate matching `chain_id -> chain_name` in prices tables
  models/chain_info/chain_info_dune_chains.sql
  models/chain_info/chain_info_schema.yml
Labels: ready-for-final-review

#3281 Add Decoded Contracts to OP Contract mapping
  models/contracts/optimism/contracts_optimism_contract_mapping.sql
Labels: ready-for-final-review

#3362 Revert CI timeout to 90min
  .github/workflows/dbt_slim_ci.yml
Labels: easy, ready-for-merging, dune team

#3326 Rarible polygon direct purchase and direct accept bid updates
  models/_sector/nft/trades/old/platforms/rarible_polygon_events.sql
  models/_sector/nft/trades/old/platforms/rarible_polygon_sources.yml
Labels: NFT

#3366 remove another tx for oneinch bug
  models/oneinch/ethereum/unoswap/oneinch_unoswap_v5_ethereum_trades.sql
Labels: dune team, hotfix

#3294 Balancer, dYdX & Uniswap Flashloans
  models/aave/arbitrum/aave_v3_arbitrum_flashloans.sql
  models/aave/avalanche_c/aave_v2_avalanche_c_flashloans.sql
  models/aave/avalanche_c/aave_v3_avalanche_c_flashloans.sql
  models/aave/ethereum/aave_v1_ethereum_flashloans.sql
  models/aave/ethereum/aave_v2_ethereum_flashloans.sql
  models/aave/ethereum/aave_v3_ethereum_flashloans.sql
  models/aave/fantom/aave_v3_fantom_flashloans.sql
  models/aave/optimism/aave_v3_optimism_flashloans.sql
  models/aave/polygon/aave_v2_polygon_flashloans.sql
  models/aave/polygon/aave_v3_polygon_flashloans.sql
  models/balancer/arbitrum/balancer_arbitrum_schema.yml
  models/balancer/arbitrum/balancer_arbitrum_sources.yml
  models/balancer/arbitrum/balancer_v2_arbitrum_flashloans.sql
  models/balancer/balancer_flashloans.sql
  models/balancer/balancer_schema.yml
  models/balancer/ethereum/balancer_ethereum_schema.yml
  models/balancer/ethereum/balancer_ethereum_sources.yml
  models/balancer/ethereum/balancer_v2_ethereum_flashloans.sql
  models/balancer/gnosis/balancer_gnosis_schema.yml
  models/balancer/gnosis/balancer_gnosis_sources.yml
  models/balancer/gnosis/balancer_v2_gnosis_flashloans.sql
  models/balancer/optimism/balancer_optimism_schema.yml
  models/balancer/optimism/balancer_optimism_sources.yml
  models/balancer/optimism/balancer_v2_optimism_flashloans.sql
  models/balancer/polygon/balancer_polygon_schema.yml
  models/balancer/polygon/balancer_polygon_sources.yml
  models/balancer/polygon/balancer_v2_polygon_flashloans.sql
  models/dex/dex_flashloans.sql
  models/dex/dex_schema.yml
  models/dydx/ethereum/dydx_ethereum_flashloans.sql
  models/dydx/ethereum/dydx_ethereum_schema.yml
  models/dydx/ethereum/dydx_ethereum_sources.yml
  models/labels/addresses/infrastructure/persona/flashloans/labels_flashloans_sources.yml
  models/uniswap/arbitrum/uniswap_arbitrum_schema.yml
  models/uniswap/arbitrum/uniswap_arbitrum_sources.yml
  models/uniswap/arbitrum/uniswap_v3_arbitrum_flashloans.sql
  models/uniswap/bnb/uniswap_bnb_schema.yml
  models/uniswap/bnb/uniswap_bnb_sources.yml
  models/uniswap/bnb/uniswap_v3_bnb_flashloans.sql
  models/uniswap/ethereum/uniswap_ethereum_schema.yml
  models/uniswap/ethereum/uniswap_ethereum_sources.yml
  models/uniswap/ethereum/uniswap_v3_ethereum_flashloans.sql
  models/uniswap/optimism/uniswap_optimism_schema.yml
  models/uniswap/optimism/uniswap_optimism_sources.yml
  models/uniswap/optimism/uniswap_v3_optimism_flashloans.sql
  models/uniswap/polygon/uniswap_polygon_schema.yml
  models/uniswap/polygon/uniswap_polygon_sources.yml
  models/uniswap/polygon/uniswap_v3_polygon_flashloans.sql
  models/uniswap/uniswap_flashloans.sql
  models/uniswap/uniswap_schema.yml
Labels: ready-for-merging, dex

#3365 Adding MMTH, aBASED, agEUR and YFX
  models/tokens/avalanche_c/tokens_avalanche_c_erc20.sql
Labels: easy, ready-for-merging

#3375 [Bug] Fix Trade Surplus for Partial Fills
  models/cow_protocol/ethereum/cow_protocol_ethereum_trades.sql
Labels: ready-for-merging

#3376 [oneinch] fusion executors quotes fix
  models/oneinch/oneinch_fusion_executors.sql
  models/oneinch/oneinch_schema.yml
Labels: ready-for-merging

#3381 [Erc20] Add 514 missing tokens
  models/tokens/ethereum/tokens_ethereum_erc20.sql
Labels: easy

#3363 NFT deprecation 1
  macros/models/_sector/nft/port_to_old_schema.sql
  models/_sector/nft/trades/MIGRATION.md
  models/_sector/nft/trades/ethereum/platforms/_sources.yml
  models/_sector/nft/trades/nft_events.sql
  models/_sector/nft/trades/old/nft_events_old.sql
  models/_sector/nft/trades/old/platforms/_schema.yml
  models/_sector/nft/trades/old/platforms/_sources.yml
  models/_sector/nft/trades/old/platforms/archipelago_ethereum_events.sql
  models/_sector/nft/trades/old/platforms/blur_ethereum_events.sql
  models/_sector/nft/trades/old/platforms/collectionswap_ethereum_events.sql
  models/_sector/nft/trades/old/platforms/cryptopunks_ethereum_events.sql
  models/_sector/nft/trades/old/platforms/element_ethereum_events.sql
  models/_sector/nft/trades/old/platforms/foundation_ethereum_events.sql
  models/_sector/nft/trades/old/platforms/foundation_ethereum_schema.yml
  models/_sector/nft/trades/old/platforms/foundation_ethereum_sources.yml
  models/_sector/nft/trades/old/platforms/looksrare_ethereum_schema.yml
  models/_sector/nft/trades/old/platforms/looksrare_ethereum_sources.yml
  models/_sector/nft/trades/old/platforms/looksrare_v1_ethereum_events.sql
  models/_sector/nft/trades/old/platforms/looksrare_v2_ethereum_events.sql
  models/_sector/nft/trades/old/platforms/sudoswap_ethereum_events.sql
  models/_sector/nft/trades/old/platforms/superrare_ethereum_events.sql
  models/_sector/nft/trades/old/platforms/superrare_ethereum_schema.yml
  models/_sector/nft/trades/old/platforms/superrare_ethereum_sources.yml
  models/_sector/nft/trades/old/platforms/x2y2_ethereum_events.sql
  models/_sector/nft/trades/old/platforms/x2y2_ethereum_schema.yml
  models/_sector/nft/trades/old/platforms/x2y2_ethereum_sources.yml
  models/_sector/nft/trades/old/platforms/zora_ethereum_events.sql
  models/_sector/nft/trades/old/platforms/zora_ethereum_schema.yml
  models/_sector/nft/trades/old/platforms/zora_ethereum_sources.yml
  models/cryptopunks/ethereum/cryptopunks_ethereum_all_events.sql
  models/cryptopunks/ethereum/cryptopunks_ethereum_current_bids.sql
  models/cryptopunks/ethereum/cryptopunks_ethereum_current_listings.sql
  models/cryptopunks/ethereum/cryptopunks_ethereum_floor_price_over_time.sql
  models/cryptopunks/ethereum/cryptopunks_ethereum_listings_over_time.sql
  models/cryptopunks/ethereum/cryptopunks_ethereum_punk_offer_events.sql
  models/sudoswap/ethereum/sudoswap_ethereum_pool_trades_agg_day.sql
  models/sudoswap/ethereum/sudoswap_ethereum_schema.yml
  seeds/sudoswap/sudoswap_ethereum_example_trades.csv
  tests/_sector/nft/check_nft_migrations_ethereum.sql
  tests/archipelago/ethereum/archipelago_ethereum_assert_trades.sql
  tests/blur/ethereum/blur_ethereum_assert_trades.sql
  tests/element/ethereum/element_ethereum_assert_trades.sql
  tests/foundation/ethereum/foundation_ethereum_assert_trades.sql
  tests/sudoswap/ethereum/sudoswap_ethereum_assert_domainhash_example.sql
  tests/sudoswap/ethereum/sudoswap_ethereum_assert_samples.sql
  tests/sudoswap/ethereum/sudoswap_ethereum_assert_swaps.sql
  tests/x2y2/ethereum/x2y2_ethereum_assert_samples.sql
  tests/zora/ethereum/zora_ethereum_assert_trades.sql
Labels: ready-for-merging, dune team, NFT

#3395 Adds an ERC20 token to Arbitrum token table
  models/tokens/arbitrum/tokens_arbitrum_erc20.sql
Labels: ready-for-merging

#3390 zeroex - fix for txs with multiple affiliate addresses [arb, ava, op, bnb, ftm]
  models/zeroex/arbitrum/zeroex_arbitrum_api_fills.sql
  models/zeroex/avalanche_c/zeroex_avalanche_c_api_fills.sql
  models/zeroex/bnb/zeroex_bnb_api_fills.sql
  models/zeroex/fantom/zeroex_fantom_api_fills.sql
  models/zeroex/optimism/zeroex_optimism_api_fills.sql
Labels: ready-for-merging

#3373 ParaSwap - Add missing events and price data
  models/paraswap/avalanche_c/paraswap_avalanche_c_sources.yml
  models/paraswap/avalanche_c/paraswap_v5_avalanche_c_trades.sql
  models/paraswap/bnb/paraswap_bnb_sources.yml
  models/paraswap/bnb/paraswap_v5_bnb_trades.sql
  models/paraswap/fantom/paraswap_fantom_sources.yml
  models/paraswap/fantom/paraswap_v5_fantom_trades.sql
  models/paraswap/polygon/paraswap_v4_polygon_trades.sql
  models/paraswap/polygon/paraswap_v5_polygon_trades.sql
Labels: ready-for-merging

#3406 update manifest commit gh workflow
  .github/workflows/commit_manifest.yml
Labels: dune team, hotfix

#3386 Adds ERC20 token to Arbitrum token model
  models/tokens/arbitrum/tokens_arbitrum_erc20.sql
Labels: ready-for-merging

#3403 remove ANT from bnb feed
  models/prices/bnb/prices_bnb_tokens.sql
Labels: ready-for-merging

#3402 [oneinch] 0x hotfix
  models/oneinch/oneinch_fusion_executors.sql
Labels: ready-for-merging

#3401 add 148 new & missing tokens
  models/tokens/ethereum/tokens_ethereum_erc20.sql
Labels: easy, ready-for-merging

#3399 [update] add wstEth, dQUICK token to prices.usd
  models/prices/arbitrum/prices_arbitrum_tokens.sql
  models/prices/polygon/prices_polygon_tokens.sql
Labels: easy, ready-for-merging

#3392 Enable vacuum on spells
  macros/expose_spells.sql
  macros/expose_spells_hide_trino.sql
Labels: ready-for-merging, dune team

#3391 buffer flow
  models/lido/accounting/ethereum/lido_accounting_ethereum_buffer_inflow.sql
  models/lido/accounting/ethereum/lido_accounting_ethereum_buffer_outflow.sql
  models/lido/accounting/ethereum/lido_accounting_ethereum_revenue.sql
  models/lido/accounting/ethereum/lido_accounting_ethereum_schema.yml
  models/lido/accounting/ethereum/lido_accounting_ethereum_sources.yml
Labels: ready-for-final-review

#3409 Revert "Enable vacuum on spells (#3392)"
  macros/expose_spells.sql
  macros/expose_spells_hide_trino.sql
Labels: dune team, hotfix

#3413 Revert "Revert "Enable vacuum on spells (#3392)" (#3409)"
  macros/expose_spells.sql
  macros/expose_spells_hide_trino.sql
Labels: dune team

#3405 nft.trades parents cast as decimal number_of_items
  models/_sector/nft/trades/ethereum/platforms/collectionswap_ethereum_base_trades.sql
  models/_sector/nft/trades/ethereum/platforms/looksrare_v2_ethereum_base_trades.sql
Labels: ready-for-merging, dune team, hotfix

#3408 remove @ in seed step of ci test
  .github/workflows/dbt_slim_ci.yml
Labels: dune team, hotfix

#3410 T-28397 Fix NFT platform views on Dune explorer
  models/_sector/nft/trades/platform_views/aavegotchi_trades_view.sql
  models/_sector/nft/trades/platform_views/archipelago_trades_view.sql
  models/_sector/nft/trades/platform_views/blur_trades_view.sql
  models/_sector/nft/trades/platform_views/collectionswap_trades_view.sql
  models/_sector/nft/trades/platform_views/cryptopunks_trades_view.sql
  models/_sector/nft/trades/platform_views/element_trades_view.sql
  models/_sector/nft/trades/platform_views/foundation_trades_view.sql
  models/_sector/nft/trades/platform_views/fractal_trades_view.sql
  models/_sector/nft/trades/platform_views/looksrare_trades_view.sql
  models/_sector/nft/trades/platform_views/magiceden_trades_view.sql
  models/_sector/nft/trades/platform_views/nftb_trades_view.sql
  models/_sector/nft/trades/platform_views/nftearth_trades_view.sql
  models/_sector/nft/trades/platform_views/nftrade_trades_view.sql
  models/_sector/nft/trades/platform_views/oneplanet_trades_view.sql
  models/_sector/nft/trades/platform_views/opensea_trades_view.sql
  models/_sector/nft/trades/platform_views/pancakeswap_trades_view.sql
  models/_sector/nft/trades/platform_views/quix_trades_view.sql
  models/_sector/nft/trades/platform_views/rarible_trades_view.sql
  models/_sector/nft/trades/platform_views/stealcam_trades_view.sql
  models/_sector/nft/trades/platform_views/sudoswap_trades_view.sql
  models/_sector/nft/trades/platform_views/superrare_trades_view.sql
  models/_sector/nft/trades/platform_views/tofu_trades_view.sql
  models/_sector/nft/trades/platform_views/x2y2_trades_view.sql
  models/_sector/nft/trades/platform_views/zonic_trades_view.sql
  models/_sector/nft/trades/platform_views/zora_trades_view.sql
  scripts/generate_platform_views.py
Labels: ready-for-merging, dune team, NFT

#3293 zeroex - bnb fills update
  models/zeroex/bnb/zeroex_bnb_api_fills.sql
  models/zeroex/bnb/zeroex_bnb_schema.yml
  models/zeroex/ethereum/zeroex_ethereum_api_fills.sql
  models/zeroex/ethereum/zeroex_ethereum_native_fills.sql
  models/zeroex/polygon/zeroex_polygon_native_fills.sql
  seeds/zeroex/bnb/zeroex_bnb_api_fills_sample.csv
  seeds/zeroex/ethereum/zeroex_ethereum_native_fills_sample.csv
  seeds/zeroex/polygon/zeroex_polygon_native_fills_sample.csv
Labels: ready-for-merging

#3374 Layerzero endpoint call send
  dbt_project.yml
  models/layerzero/arbitrum/layerzero_arbitrum_schema.yml
  models/layerzero/arbitrum/layerzero_arbitrum_send.sql
  models/layerzero/arbitrum/layerzero_arbitrum_sources.yml
  models/layerzero/avalanche_c/layerzero_avalanche_c_schema.yml
  models/layerzero/avalanche_c/layerzero_avalanche_c_send.sql
  models/layerzero/avalanche_c/layerzero_avalanche_c_sources.yml
  models/layerzero/bnb/layerzero_bnb_schema.yml
  models/layerzero/bnb/layerzero_bnb_send.sql
  models/layerzero/bnb/layerzero_bnb_sources.yml
  models/layerzero/ethereum/layerzero_ethereum_schema.yml
  models/layerzero/ethereum/layerzero_ethereum_send.sql
  models/layerzero/ethereum/layerzero_ethereum_sources.yml
  models/layerzero/fantom/layerzero_fantom_schema.yml
  models/layerzero/fantom/layerzero_fantom_send.sql
  models/layerzero/fantom/layerzero_fantom_sources.yml
  models/layerzero/gnosis/layerzero_gnosis_schema.yml
  models/layerzero/gnosis/layerzero_gnosis_send.sql
  models/layerzero/gnosis/layerzero_gnosis_sources.yml
  models/layerzero/layerzero_chain_list.sql
  models/layerzero/layerzero_chain_list_schema.yml
  models/layerzero/layerzero_send.sql
  models/layerzero/layerzero_send_schema.yml
  models/layerzero/optimism/layerzero_optimism_schema.yml
  models/layerzero/optimism/layerzero_optimism_send.sql
  models/layerzero/optimism/layerzero_optimism_sources.yml
  models/layerzero/polygon/layerzero_polygon_schema.yml
  models/layerzero/polygon/layerzero_polygon_send.sql
  models/layerzero/polygon/layerzero_polygon_sources.yml
  seeds/layerzero/arbitrum/layerzero_arbitrum_send_samples.csv
  seeds/layerzero/avalanche_c/layerzero_avalanche_c_send_samples.csv
  seeds/layerzero/bnb/layerzero_bnb_send_samples.csv
  seeds/layerzero/ethereum/layerzero_ethereum_send_samples.csv
  seeds/layerzero/fantom/layerzero_fantom_send_samples.csv
  seeds/layerzero/gnosis/layerzero_gnosis_send_samples.csv
  seeds/layerzero/optimism/layerzero_optimism_send_samples.csv
  seeds/layerzero/polygon/layerzero_polygon_send_samples.csv
Labels: ready-for-merging

#3424 NFT enrichment fixes
  macros/models/_sector/nft/enrich_trades.sql
Labels: dune team, hotfix, NFT

#3427 Balancer arbitrum gauges label hotfix
  models/labels/addresses/__single_category_labels__/balancer_v2/labels_balancer_v2_gauges_arbitrum.sql
Labels: ready-for-review, hotfix, labels

#3428 Remove undefined Optimism NFT bridge mapping tests
  models/tokens/optimism/tokens_optimism_schema.yml
Labels: hotfix

#3425 (Quick) Fix to DAOs models
  models/aave/ethereum/aave_ethereum_proposals.sql
  models/aave/ethereum/aave_ethereum_votes.sql
  models/compound/ethereum/compound_v2_ethereum_proposals.sql
  models/compound/ethereum/compound_v2_ethereum_votes.sql
  models/dydx/ethereum/dydx_ethereum_proposals.sql
  models/dydx/ethereum/dydx_ethereum_votes.sql
  models/ens/ens_ethereum_proposals.sql
  models/ens/ens_ethereum_votes.sql
  models/gitcoin/ethereum/gitcoin_ethereum_proposals.sql
  models/gitcoin/ethereum/gitcoin_ethereum_votes.sql
  models/uniswap/ethereum/uniswap_v3_ethereum_proposals.sql
  models/uniswap/ethereum/uniswap_v3_ethereum_votes.sql
Labels: bug, dune team

#3422 [ERC20] [Easy] Add new & missing tokens
  models/tokens/ethereum/tokens_ethereum_erc20.sql
Labels: ready-for-merging

#3426 Clean up AAVE sub-models from data explorer
  models/aave/ethereum/aave_ethereum_supply.sql
  models/aave/ethereum/aave_v1_ethereum_borrow.sql
  models/aave/ethereum/aave_v1_ethereum_flashloans.sql
  models/aave/ethereum/aave_v1_ethereum_supply.sql
  models/aave/ethereum/aave_v2_ethereum_borrow.sql
  models/aave/ethereum/aave_v2_ethereum_flashloans.sql
  models/aave/ethereum/aave_v2_ethereum_interest_rates.sql
  models/aave/ethereum/aave_v2_ethereum_supply.sql
  models/aave/ethereum/aave_v3_ethereum_flashloans.sql
Labels: dune team

#3417 Rework README.md
  README.md
Labels: dune team

#3433 Revert "add DODOFeeProxy on op & arb & polygon (#3398)"
  models/dodo/arbitrum/dodo_aggregator_arbitrum_trades.sql
  models/dodo/arbitrum/dodo_arbitrum_sources.yml
  models/dodo/bnb/dodo_aggregator_bnb_trades.sql
  models/dodo/ethereum/dodo_aggregator_ethereum_trades.sql
  models/dodo/optimism/dodo_aggregator_optimism_trades.sql
  models/dodo/optimism/dodo_optimism_sources.yml
  models/dodo/polygon/dodo_aggregator_polygon_trades.sql
  models/dodo/polygon/dodo_polygon_sources.yml
  seeds/dex/trades/dex_trades_seed.csv
Labels: dune team, hotfix
