Repository duneanalytics/spellbook, pull requests merged in 2023-11, with the labels that each got.

#4724 contracts mappings: add tag to exclude in prod
  models/contracts/chains/contracts_base_contract_creator_project_mapping.sql
  models/contracts/chains/contracts_ethereum_contract_creator_project_mapping.sql
  models/contracts/contracts_contract_mapping.sql
Labels: ready-for-merging, hotfix

#4713 Update tokens_arbitrum_erc20.sql
  models/tokens/arbitrum/tokens_arbitrum_erc20.sql
Labels: easy, ready-for-merging

#4709 [CoW Protocol] Add Copium Capital solver
  models/cow_protocol/ethereum/cow_protocol_ethereum_solvers.sql
Labels: easy, ready-for-merging

#4708 Add new TUSD token to tokens_bnb_bep20.sql
  models/tokens/bnb/tokens_bnb_bep20.sql
Labels: easy, ready-for-merging

#4712 Pull zkSync into `tokens_erc20` spell
  models/tokens/tokens_erc20.sql
Labels: easy, ready-for-merging

#4707 zeroex - ethereum native swaps - maker/taker token update [FOR REVIEW]
  models/zeroex/ethereum/zeroex_ethereum_native_fills.sql
  seeds/zeroex/ethereum/zeroex_ethereum_native_fills_sample.csv
Labels: ready-for-merging

#4705 Rework `dex.sandwiches` so it's a lot more accurate
  macros/models/_sector/dex/dex_sandwiches.sql
  models/dex/chains/dex_schema.yml
  models/dex/dex_sandwiches.sql
  models/dex/dex_schema.yml
Labels: ready-for-merging, dex

#4700 update tigris new contracts - ready for review - easy
  models/tigris/arbitrum/events/tigris_arbitrum_events_add_margin.sql
  models/tigris/arbitrum/events/tigris_arbitrum_events_close_position.sql
  models/tigris/arbitrum/events/tigris_arbitrum_events_contracts_positions.sql
  models/tigris/arbitrum/events/tigris_arbitrum_events_fees_distributed.sql
  models/tigris/arbitrum/events/tigris_arbitrum_events_limit_cancel.sql
  models/tigris/arbitrum/events/tigris_arbitrum_events_limit_order.sql
  models/tigris/arbitrum/events/tigris_arbitrum_events_liquidate_position.sql
  models/tigris/arbitrum/events/tigris_arbitrum_events_modify_margin.sql
  models/tigris/arbitrum/events/tigris_arbitrum_events_open_position.sql
  models/tigris/arbitrum/events/tigris_arbitrum_events_options_close_position.sql
  models/tigris/arbitrum/events/tigris_arbitrum_events_options_fees_distributed.sql
  models/tigris/arbitrum/events/tigris_arbitrum_events_options_limit_cancel.sql
  models/tigris/arbitrum/events/tigris_arbitrum_events_options_limit_order.sql
  models/tigris/arbitrum/events/tigris_arbitrum_events_options_open_position.sql
  models/tigris/arbitrum/events/tigris_arbitrum_events_sources.yml
  models/tigris/arbitrum/tigris_arbitrum_options_trades.sql
  models/tigris/arbitrum/tigris_arbitrum_perpetual_trades.sql
  models/tigris/arbitrum/tigris_arbitrum_trades.sql
  models/tigris/polygon/events/tigris_polygon_events_add_margin.sql
  models/tigris/polygon/events/tigris_polygon_events_close_position.sql
  models/tigris/polygon/events/tigris_polygon_events_contracts_positions.sql
  models/tigris/polygon/events/tigris_polygon_events_fees_distributed.sql
  models/tigris/polygon/events/tigris_polygon_events_limit_cancel.sql
  models/tigris/polygon/events/tigris_polygon_events_limit_order.sql
  models/tigris/polygon/events/tigris_polygon_events_liquidate_position.sql
  models/tigris/polygon/events/tigris_polygon_events_modify_margin.sql
  models/tigris/polygon/events/tigris_polygon_events_open_position.sql
  models/tigris/polygon/events/tigris_polygon_events_options_close_position.sql
  models/tigris/polygon/events/tigris_polygon_events_options_fees_distributed.sql
  models/tigris/polygon/events/tigris_polygon_events_options_limit_cancel.sql
  models/tigris/polygon/events/tigris_polygon_events_options_limit_order.sql
  models/tigris/polygon/events/tigris_polygon_events_options_open_position.sql
  models/tigris/polygon/events/tigris_polygon_events_sources.yml
  models/tigris/polygon/tigris_polygon_options_trades.sql
  models/tigris/polygon/tigris_polygon_perpetual_trades.sql
  models/tigris/polygon/tigris_polygon_trades.sql
  models/tigris/tigris_trades_pnl.sql
  seeds/perpetual/trades/perpetual_trades_seed.csv
Labels: easy, ready-for-merging

#4692 chore: add more arbitrum token prices
  models/prices/arbitrum/prices_arbitrum_tokens.sql
Labels: easy, ready-for-merging

#4680 zeroex - fix bnb sushi direct [FOR REVIEW]
  models/zeroex/bnb/zeroex_bnb_api_fills.sql
  seeds/zeroex/bnb/zeroex_bnb_api_fills_sample.csv
Labels: ready-for-merging

#4553 Add zkSync to `addresses_events`
  models/addresses_events/addresses_events_first_activity.sql
  models/addresses_events/addresses_events_first_funded_by.sql
  models/addresses_events/addresses_events_schema.yml
  models/addresses_events/zksync/addresses_events_zksync_first_activity.sql
  models/addresses_events/zksync/addresses_events_zksync_first_funded_by.sql
  models/addresses_events/zksync/addresses_events_zksync_schema.yml
  seeds/addresses_events/first_activity_seed.csv
  seeds/addresses_events/first_funded_by_seed.csv
Labels: ready-for-merging

#4716 Add $BEAM (Beam) Token To prices model
  models/prices/ethereum/prices_ethereum_tokens.sql
Labels: ready-for-merging

#4719 Add PROPC token
  models/prices/ethereum/prices_ethereum_tokens.sql
Labels: ready-for-merging

#4613 Update tokens_optimism_erc20_curated.sql fix token decimals
  models/tokens/optimism/tokens_optimism_erc20_curated.sql
Labels: ready-for-merging

#4733 Fix bad pricing again
  models/prices/ethereum/prices_ethereum_tokens.sql
Labels: ready-for-merging

#4714 add tokens to price list
  models/prices/arbitrum/prices_arbitrum_tokens.sql
  models/prices/bnb/prices_bnb_tokens.sql
  models/prices/polygon/prices_polygon_tokens.sql
Labels: ready-for-merging

#4587 Attempting to add Glacier CL implementation to dex.trades
  models/glacier/avalanche_c/glacier_avalanche_c_schema.yml
  models/glacier/avalanche_c/glacier_avalanche_c_sources.yml
  models/glacier/avalanche_c/glacier_avalanche_c_trades.sql
  models/glacier/avalanche_c/glacier_v2_avalanche_c_trades.sql
  models/glacier/avalanche_c/glacier_v3_avalanche_c_trades.sql
  seeds/dex/trades/dex_trades_seed.csv
Labels: ready-for-merging, dex

#4739 Lowercase Aave & Balancer flashloans project names
  models/aave/ethereum/aave_v1_ethereum_flashloans.sql
  models/aave/ethereum/aave_v2_ethereum_flashloans.sql
  models/aave/ethereum/aave_v3_ethereum_flashloans.sql
  models/aave/fantom/aave_v3_fantom_flashloans.sql
  models/balancer/arbitrum/balancer_v2_arbitrum_flashloans.sql
  models/dex/dex_info.sql
Labels: easy, ready-for-review, dex

#4738 add bridge addresses
  models/addresses/ethereum/addresses_ethereum_bridges.sql
Labels: easy, ready-for-merging

#4734 OP Distribution Address Updates
  models/addresses/optimism/addresses_optimism_grants_funding.sql
  models/op/token_distributions/optimism/op_token_distributions_optimism_other_distributions_claims.sql
  models/op/token_distributions/optimism/op_token_distributions_optimism_project_wallets.sql
Labels: ready-for-merging

#4689 add Zora on zora to the referral rewards sector
  macros/models/_sector/referral/enrich_referral_rewards.sql
  macros/models/_sector/referral/platforms/rabbithole_referral_rewards.sql
  macros/models/_sector/referral/platforms/zora_referral_rewards.sql
  models/_sector/referral/rewards/platforms/_schema.yml
  models/_sector/referral/rewards/platforms/_sources.yml
  models/_sector/referral/rewards/platforms/zora_zora_rewards.sql
  models/_sector/referral/rewards/referral_staging_rewards.sql
Labels: easy, ready-for-merging

#4746 rename Zora in evms.info
  models/evms/evms_info.sql
Labels: ready-for-merging

#4750 add eth bridge addresses & labels
  models/addresses/ethereum/addresses_ethereum_bridges.sql
  models/labels/addresses/bridge/identifiers/labels_bridges_ethereum.sql
Labels: easy, ready-for-merging

#4533 SPE-200 restructuring dex.trades with a macro approach
  macros/models/_sector/dex/enrich_dex_trades.sql
  macros/models/_sector/dex/uniswap_compatible_trades.sql
  models/_sector/dex/trades/_schema.yml
  models/_sector/dex/trades/arbitrum/_schema.yml
  models/_sector/dex/trades/arbitrum/_sources.yml
  models/_sector/dex/trades/arbitrum/dex_arbitrum_base_trades.sql
  models/_sector/dex/trades/arbitrum/platforms/uniswap_v3_arbitrum_base_trades.sql
  models/_sector/dex/trades/base/_schema.yml
  models/_sector/dex/trades/base/_sources.yml
  models/_sector/dex/trades/base/dex_base_base_trades.sql
  models/_sector/dex/trades/base/platforms/uniswap_v3_base_base_trades.sql
  models/_sector/dex/trades/bnb/_schema.yml
  models/_sector/dex/trades/bnb/_sources.yml
  models/_sector/dex/trades/bnb/dex_bnb_base_trades.sql
  models/_sector/dex/trades/bnb/platforms/uniswap_v3_bnb_base_trades.sql
  models/_sector/dex/trades/celo/_schema.yml
  models/_sector/dex/trades/celo/_sources.yml
  models/_sector/dex/trades/celo/dex_celo_base_trades.sql
  models/_sector/dex/trades/celo/platforms/uniswap_v3_celo_base_trades.sql
  models/_sector/dex/trades/dex_base_trades.sql
  models/_sector/dex/trades/dex_trades_beta.sql
  models/_sector/dex/trades/ethereum/_schema.yml
  models/_sector/dex/trades/ethereum/_sources.yml
  models/_sector/dex/trades/ethereum/dex_ethereum_base_trades.sql
  models/_sector/dex/trades/ethereum/platforms/defiswap_ethereum_base_trades.sql
  models/_sector/dex/trades/ethereum/platforms/uniswap_v1_ethereum_base_trades.sql
  models/_sector/dex/trades/ethereum/platforms/uniswap_v2_ethereum_base_trades.sql
  models/_sector/dex/trades/ethereum/platforms/uniswap_v3_ethereum_base_trades.sql
  models/_sector/dex/trades/optimism/_schema.yml
  models/_sector/dex/trades/optimism/_sources.yml
  models/_sector/dex/trades/optimism/dex_optimism_base_trades.sql
  models/_sector/dex/trades/optimism/platforms/uniswap_v3_optimism_base_trades.sql
  models/_sector/dex/trades/polygon/_schema.yml
  models/_sector/dex/trades/polygon/_sources.yml
  models/_sector/dex/trades/polygon/dex_polygon_base_trades.sql
  models/_sector/dex/trades/polygon/platforms/uniswap_v3_polygon_base_trades.sql
  seeds/_sector/dex/_schema.yml
  seeds/_sector/dex/defiswap_ethereum_base_trades_seed.csv
  seeds/_sector/dex/uniswap_ethereum_base_trades_seed.csv
  seeds/dex/aggregator/dex_aggregator_seed.csv
Labels: WIP, dex

#4757 SPE-224: expand existing `add_tx_from_and_to` and make generic
  macros/models/_sector/add_tx_columns.sql
  macros/models/_sector/referral/platforms/soundxyz_referral_rewards.sql
  models/_sector/dex/trades/arbitrum/dex_arbitrum_base_trades.sql
  models/_sector/dex/trades/base/dex_base_base_trades.sql
  models/_sector/dex/trades/bnb/dex_bnb_base_trades.sql
  models/_sector/dex/trades/celo/dex_celo_base_trades.sql
  models/_sector/dex/trades/ethereum/dex_ethereum_base_trades.sql
  models/_sector/dex/trades/optimism/dex_optimism_base_trades.sql
  models/_sector/dex/trades/polygon/dex_polygon_base_trades.sql
Labels: enhancement, ready-for-merging, dune team

#4754 Add tos
  models/prices/ethereum/prices_ethereum_tokens.sql
Labels: ready-for-merging

#4740 Merge `equalizer` & `equalizer_exchange` into `equalizer`
  dbt_project.yml
  models/dex/dex_info.sql
  models/dex/dex_pools.sql
  models/dex/dex_schema.yml
  models/dex/dex_trades.sql
  models/equalizer/bnb/equalizer_bnb_flashloans.sql
  models/equalizer/bnb/equalizer_bnb_schema.yml
  models/equalizer/equalizer_flashloans.sql
  models/equalizer/equalizer_schema.yml
  models/equalizer/ethereum/equalizer_ethereum_flashloans.sql
  models/equalizer/ethereum/equalizer_ethereum_schema.yml
  models/equalizer/fantom/equalizer_fantom_pools.sql
  models/equalizer/fantom/equalizer_fantom_schema.yml
  models/equalizer/fantom/equalizer_fantom_sources.yml
  models/equalizer/fantom/equalizer_fantom_trades.sql
  models/equalizer/optimism/equalizer_optimism_flashloans.sql
  models/equalizer/optimism/equalizer_optimism_schema.yml
  models/equalizer/polygon/equalizer_polygon_flashloans.sql
  models/equalizer/polygon/equalizer_polygon_schema.yml
  seeds/dex/trades/dex_trades_seed.csv
Labels: ready-for-merging, dex

#4755 Add Zora to all `evms` tables
  models/evms/evm_smart_account_method_ids.sql
  models/evms/evms_blocks.sql
  models/evms/evms_contracts.sql
  models/evms/evms_creation_traces.sql
  models/evms/evms_erc1155_approvalsforall.sql
  models/evms/evms_erc1155_transfersbatch.sql
  models/evms/evms_erc1155_transferssingle.sql
  models/evms/evms_erc20_approvals.sql
  models/evms/evms_erc20_transfers.sql
  models/evms/evms_erc721_approvals.sql
  models/evms/evms_erc721_approvalsforall.sql
  models/evms/evms_erc721_transfers.sql
  models/evms/evms_info.sql
  models/evms/evms_logs.sql
  models/evms/evms_logs_decoded.sql
  models/evms/evms_non_app_method_ids.sql
  models/evms/evms_schema.yml
  models/evms/evms_traces.sql
  models/evms/evms_traces_decoded.sql
  models/evms/evms_transactions.sql
Labels: ready-for-merging

#4756 add ethereum dex router addresses
  models/addresses/ethereum/addresses_ethereum_dex.sql
Labels: ready-for-merging

#4590 Add zksync data to safes
  models/safe/safe_safes_all.sql
  models/safe/zksync/safe_zksync_eth_transfers.sql
  models/safe/zksync/safe_zksync_safes.sql
  models/safe/zksync/safe_zksync_schema.yml
  models/safe/zksync/safe_zksync_singletons.sql
  models/safe/zksync/safe_zksync_sources.yml
Labels: ready-for-merging

#4778 solana staking spell: only select necessary columns, unique keys fix
  models/staking/solana/staking_solana_stake_actions.sql
Labels: hotfix

#4776 [EASY] Add missing tokens
  models/tokens/ethereum/tokens_ethereum_erc20.sql
Labels: ready-for-merging

#4717 Add trades model of avalanche_c of Uniswap
  models/_sector/dex/trades/avalanche_c/_schema.yml
  models/_sector/dex/trades/avalanche_c/_sources.yml
  models/_sector/dex/trades/avalanche_c/dex_avalanche_c_base_trades.sql
  models/_sector/dex/trades/avalanche_c/platforms/uniswap_v3_avalanche_c_base_trades.sql
  models/_sector/dex/trades/dex_base_trades.sql
  models/uniswap/avalanche_c/uniswap_avalanche_c_schema.yml
  models/uniswap/avalanche_c/uniswap_avalanche_c_source.yml
  models/uniswap/avalanche_c/uniswap_avalanche_c_trades.sql
  models/uniswap/avalanche_c/uniswap_v3_avalanche_c_trades.sql
  models/uniswap/uniswap_trades.sql
  seeds/dex/trades/dex_trades_seed.csv
Labels: ready-for-merging, dex

#4763 Oneinch updates 4
  macros/models/_project/oneinch/oneinch_ar_calls_transfers_macro.sql
  macros/models/_project/oneinch/oneinch_lop_macro.sql
  models/dex/dex_trades.sql
  models/oneinch/arbitrum/oneinch_arbitrum_ar_calls_transfers.sql
  models/oneinch/arbitrum/oneinch_arbitrum_schema.yml
  models/oneinch/avalanche_c/oneinch_avalanche_c_ar_calls_transfers.sql
  models/oneinch/avalanche_c/oneinch_avalanche_c_schema.yml
  models/oneinch/base/oneinch_base_ar_calls_transfers.sql
  models/oneinch/base/oneinch_base_schema.yml
  models/oneinch/bnb/oneinch_bnb_ar_calls_transfers.sql
  models/oneinch/bnb/oneinch_bnb_schema.yml
  models/oneinch/ethereum/oneinch_ethereum_ar_calls_transfers.sql
  models/oneinch/ethereum/oneinch_ethereum_schema.yml
  models/oneinch/fantom/oneinch_fantom_ar_calls_transfers.sql
  models/oneinch/fantom/oneinch_fantom_schema.yml
  models/oneinch/gnosis/oneinch_gnosis_ar_calls_transfers.sql
  models/oneinch/gnosis/oneinch_gnosis_schema.yml
  models/oneinch/oneinch_ar_calls.sql
  models/oneinch/oneinch_ar_calls_transfers_amounts.sql
  models/oneinch/oneinch_lop.sql
  models/oneinch/oneinch_lop_own_trades.sql
  models/oneinch/oneinch_schema.yml
  models/oneinch/optimism/oneinch_optimism_ar_calls_transfers.sql
  models/oneinch/optimism/oneinch_optimism_schema.yml
  models/oneinch/polygon/oneinch_polygon_ar_calls_transfers.sql
  models/oneinch/polygon/oneinch_polygon_schema.yml
  models/oneinch/zksync/oneinch_zksync_ar_calls_transfers.sql
  models/oneinch/zksync/oneinch_zksync_schema.yml
  seeds/dex/trades/dex_trades_seed.csv
Labels: ready-for-merging

#4767 Add zora to nft.transfers
  models/_sector/nft/transfers/_schema.yml
  models/_sector/nft/transfers/chains/nft_zora_transfers.sql
  models/_sector/nft/transfers/nft_transfers.sql
Labels: ready-for-merging, NFT

#4752 Add tokenlon_trades
  models/dex/dex_aggregator_trades.sql
  models/tokenlon/ethereum/tokenlon_ethereum_schema.yml
  models/tokenlon/ethereum/tokenlon_ethereum_trades.sql
  models/tokenlon/ethereum/tokenlon_v5_ethereum_amm_v1_trades.sql
  models/tokenlon/ethereum/tokenlon_v5_ethereum_amm_v2_trades.sql
  models/tokenlon/ethereum/tokenlon_v5_ethereum_pmm_v5_trades.sql
  models/tokenlon/ethereum/tokenlon_v5_ethereum_rfq_v1_trades.sql
  models/tokenlon/tokenlon_trades.sql
  models/tokenlon/tokenlon_trades_schema.yml
  seeds/dex/aggregator/dex_aggregator_seed.csv
Labels: ready-for-merging, dex

#4781 Incremental token accounts (try again)
  models/raydium/raydium_v3_trades.sql
  models/raydium/raydium_v4_trades.sql
  models/solana_utils/solana_utils_token_accounts.sql
Labels: ready-for-merging

#4770 [easy] add zora_zora_rewards to referral sector
  models/_sector/referral/rewards/referral_staging_rewards.sql
Labels: ready-for-merging

#4413 Celo Mento Protocol trades
  models/_sector/dex/trades/celo/_schema.yml
  models/_sector/dex/trades/celo/_sources.yml
  models/_sector/dex/trades/celo/dex_celo_base_trades.sql
  models/_sector/dex/trades/celo/platforms/mento_v1_celo_base_trades.sql
  models/_sector/dex/trades/celo/platforms/mento_v2_celo_base_trades.sql
  models/dex/dex_info.sql
  models/dex/dex_pools.sql
  models/mento/celo/mento_celo_pools.sql
  models/mento/celo/mento_celo_schema.yml
  models/mento/celo/mento_celo_sources.yml
  models/mento/celo/mento_v1_celo_pools.sql
  models/mento/celo/mento_v2_celo_pools.sql
  seeds/_sector/dex/_schema.yml
  seeds/_sector/dex/mento_celo_base_trades_seed.csv
  seeds/_sector/dex/uniswap_celo_base_trades_seed.csv
  seeds/dex/trades/dex_trades_seed.csv
Labels: ready-for-merging, dex

#4782 oneinch: hotfix performance issue
  models/oneinch/oneinch_calls.sql
Labels: ready-for-merging

#4640 Token balances ethereum
  macros/models/_sector/tokens/balances_base.sql
  macros/models/_sector/tokens/balances_enrich.sql
  models/_sector/tokens/ethereum/_schema.yml
  models/_sector/tokens/ethereum/tokens_ethereum_balances.sql
  models/_sector/tokens/ethereum/tokens_ethereum_base_balances.sql
  models/_sector/tokens/ethereum/tokens_ethereum_base_balances_erc20.sql
  models/_sector/tokens/ethereum/tokens_ethereum_base_balances_native.sql
  models/_sector/tokens/ethereum/tokens_ethereum_base_transfers.sql
  models/_sector/tokens/ethereum/tokens_ethereum_transfers.sql
  models/tokens/ethereum/tokens_ethereum_schema.yml
Labels: dune team, balances

#4768 Add zora to `addresses_events.first_funded_by`
  models/addresses_events/addresses_events_first_activity.sql
  models/addresses_events/addresses_events_first_funded_by.sql
  models/addresses_events/zora/addresses_events_zora_first_activity.sql
  models/addresses_events/zora/addresses_events_zora_first_funded_by.sql
  models/addresses_events/zora/addresses_events_zora_schema.yml
  seeds/addresses_events/first_activity_seed.csv
  seeds/addresses_events/first_funded_by_seed.csv
Labels: ready-for-merging

#4726 Init `bpt_supply`
  models/balancer/arbitrum/balancer_arbitrum_schema.yml
  models/balancer/arbitrum/balancer_arbitrum_sources.yml
  models/balancer/arbitrum/balancer_v2_arbitrum_bpt_supply.sql
  models/balancer/avalanche_c/balancer_avalanche_c_schema.yml
  models/balancer/avalanche_c/balancer_avalanche_c_sources.yml
  models/balancer/avalanche_c/balancer_v2_avalanche_c_bpt_supply.sql
  models/balancer/balancer_bpt_prices.sql
  models/balancer/balancer_bpt_supply.sql
  models/balancer/balancer_schema.yml
  models/balancer/balancer_trades.sql
  models/balancer/balancer_transfers_bpt.sql
  models/balancer/base/balancer_base_schema.yml
  models/balancer/base/balancer_base_sources.yml
  models/balancer/base/balancer_v2_base_bpt_supply.sql
  models/balancer/ethereum/balancer_ethereum_schema.yml
  models/balancer/ethereum/balancer_ethereum_sources.yml
  models/balancer/ethereum/balancer_v2_ethereum_bpt_prices.sql
  models/balancer/ethereum/balancer_v2_ethereum_bpt_supply.sql
  models/balancer/gnosis/balancer_gnosis_schema.yml
  models/balancer/gnosis/balancer_gnosis_sources.yml
  models/balancer/gnosis/balancer_v2_gnosis_bpt_supply.sql
  models/balancer/optimism/balancer_optimism_schema.yml
  models/balancer/optimism/balancer_optimism_sources.yml
  models/balancer/optimism/balancer_v2_optimism_bpt_supply.sql
  models/balancer/polygon/balancer_polygon_schema.yml
  models/balancer/polygon/balancer_polygon_sources.yml
  models/balancer/polygon/balancer_v2_polygon_bpt_supply.sql
Labels: ready-for-merging

#4789 fix columns in app data cow
  models/cow_protocol/ethereum/cow_protocol_ethereum_app_data.sql
Labels: ready-for-merging

#4787 wsteth, aero prices on base
  models/prices/base/prices_base_tokens.sql
Labels: easy, ready-for-merging

#4711 Changes to balancer_v1 spells
  models/balancer/arbitrum/balancer_arbitrum_schema.yml
  models/balancer/arbitrum/balancer_v2_arbitrum_liquidity.sql
  models/balancer/avalanche_c/balancer_avalanche_c_schema.yml
  models/balancer/avalanche_c/balancer_v2_avalanche_c_liquidity.sql
  models/balancer/balancer_liquidity.sql
  models/balancer/balancer_schema.yml
  models/balancer/base/balancer_base_schema.yml
  models/balancer/base/balancer_v2_base_liquidity.sql
  models/balancer/ethereum/balancer_ethereum_schema.yml
  models/balancer/ethereum/balancer_ethereum_sources.yml
  models/balancer/ethereum/balancer_v1_ethereum_liquidity.sql
  models/balancer/ethereum/balancer_v1_ethereum_pools_tokens_weights.sql
  models/balancer/ethereum/balancer_v1_ethereum_trades.sql
  models/balancer/ethereum/balancer_v2_ethereum_liquidity.sql
  models/balancer/gnosis/balancer_gnosis_schema.yml
  models/balancer/gnosis/balancer_v2_gnosis_liquidity.sql
  models/balancer/optimism/balancer_optimism_schema.yml
  models/balancer/optimism/balancer_v2_optimism_liquidity.sql
  models/balancer/polygon/balancer_polygon_schema.yml
  models/balancer/polygon/balancer_v2_polygon_liquidity.sql
  seeds/dex/trades/dex_trades_seed.csv
Labels: ready-for-merging

#4817 fix dbt compile warnings
  models/_sector/dex/trades/arbitrum/_schema.yml
  models/_sector/dex/trades/avalanche_c/_schema.yml
  models/_sector/dex/trades/base/_schema.yml
  models/_sector/dex/trades/bnb/_schema.yml
  models/_sector/dex/trades/celo/_schema.yml
  models/_sector/nft/trades/old/platforms/quix_optimism_sources.yml
  models/base_sources/ethereum_base_sources.yml
  models/gitcoin/ethereum/gitcoin_ethereum_sources.yml
Labels: hotfix

#4818 oneinch: add call_remains to calls_transfers 2/3 (bnb)
  models/oneinch/arbitrum/oneinch_arbitrum_schema.yml
  models/oneinch/bnb/oneinch_bnb_calls_transfers.sql
  models/oneinch/bnb/oneinch_bnb_schema.yml
Labels: ready-for-merging

#4812 ENS source.yml updated, ens_registrations, ens_node_names updated
  models/ens/ens_ethereum_sources.yml
  models/ens/ens_node_names.sql
  models/ens/ens_view_registrations.sql
  seeds/ens/_schema.yml
  seeds/ens/ens_view_expirations_postgres.csv
  seeds/ens/ens_view_registrations_postgres.csv
  seeds/ens/ens_view_registries_postgres.csv
  seeds/ens/ens_view_renewals_postgres.csv
  tests/ens/ens_view_expirations_test.sql
  tests/ens/ens_view_registrations_test.sql
  tests/ens/ens_view_registries_test.sql
  tests/ens/ens_view_renewals_test.sql
Labels: ready-for-merging

#4821 Revert "ENS source.yml updated, ens_registrations, ens_node_names upd…
  models/ens/ens_ethereum_sources.yml
  models/ens/ens_node_names.sql
  models/ens/ens_view_registrations.sql
  seeds/ens/_schema.yml
  seeds/ens/ens_view_expirations_postgres.csv
  seeds/ens/ens_view_registrations_postgres.csv
  seeds/ens/ens_view_registries_postgres.csv
  seeds/ens/ens_view_renewals_postgres.csv
  tests/ens/ens_view_expirations_test.sql
  tests/ens/ens_view_registrations_test.sql
  tests/ens/ens_view_registries_test.sql
  tests/ens/ens_view_renewals_test.sql
Labels: hotfix

#4820 oneinch: add call_remains to calls_transfers 3/3 (eth)
  models/oneinch/ethereum/oneinch_ethereum_calls_transfers.sql
  models/oneinch/oneinch_calls.sql
  models/oneinch/oneinch_calls_transfers_amounts.sql
  models/oneinch/oneinch_schema.yml
Labels: ready-for-merging

#4802 add meteora dex and fix tensor cnft
  models/_sector/nft/trades/solana/platforms/tensorswap_v2_solana_trades.sql
  models/dex/solana/dex_solana_trades.sql
  models/meteora/solana/_schema.yml
  models/meteora/solana/_sources.yml
  models/meteora/solana/meteora_v1_solana_trades.sql
  seeds/_sector/nft/solana/tensorswap_v2_solana_trades_seed.csv
Labels: ready-for-merging

#4816 [EASY]Add new join condition to correct `nft.mints` value
  models/_sector/nft/mints/native/nft_optimism_native_mints.sql
Labels: ready-for-merging

#4793 add dex/agg routers - bnb
  models/dex/bnb/_schema.yml
  models/dex/bnb/dex_bnb_addresses.sql
Labels: ready-for-merging

#4791 add dex/agg routers - polygon
  models/dex/polygon/_schema.yml
  models/dex/polygon/dex_polygon_addresses.sql
Labels: ready-for-merging

#4790 add dex/agg routers - Arbitrum [FOR REVIEW]
  models/dex/arbitrum/_schema.yml
  models/dex/arbitrum/dex_arbitrum_addresses.sql
Labels: ready-for-merging

#4784 Add dex/agg routers on Optimism [FOR REVIEW]
  models/dex/optimism/_schema.yml
  models/dex/optimism/dex_optimism_addresses.sql
Labels: ready-for-merging

#4771 Celo dexs - add to `trades_beta`
  models/_sector/dex/trades/celo/_schema.yml
  models/_sector/dex/trades/celo/_sources.yml
  models/_sector/dex/trades/celo/dex_celo_base_trades.sql
  models/_sector/dex/trades/celo/platforms/curvefi_celo_base_trades.sql
  models/_sector/dex/trades/celo/platforms/sushiswap_celo_base_trades.sql
  models/_sector/dex/trades/celo/platforms/ubeswap_celo_base_trades.sql
  models/curvefi/celo/curvefi_celo_sources.yml
  models/sushiswap/celo/sushiswap_celo_sources.yml
  models/ubeswap/celo/ubeswap_celo_sources.yml
  seeds/_sector/dex/_schema.yml
  seeds/_sector/dex/curve_avalanche_c_base_trades_seed.csv
  seeds/_sector/dex/curve_celo_base_trades_seed.csv
  seeds/_sector/dex/curve_ethereum_base_trades_seed.csv
  seeds/_sector/dex/curve_fantom_base_trades_seed.csv
  seeds/_sector/dex/curve_optimism_base_trades_seed.csv
  seeds/_sector/dex/curvefi_avalanche_c_base_trades_seed.csv
  seeds/_sector/dex/curvefi_celo_base_trades_seed.csv
  seeds/_sector/dex/curvefi_ethereum_base_trades_seed.csv
  seeds/_sector/dex/curvefi_fantom_base_trades_seed.csv
  seeds/_sector/dex/curvefi_optimism_base_trades_seed.csv
  seeds/_sector/dex/sushiswap_celo_base_trades_seed.csv
  seeds/_sector/dex/ubeswap_celo_base_trades_seed.csv
Labels: ready-for-merging

#4688 Add zkSync Era to `gas.fees`
  models/gas/gas_fees.sql
  models/gas/zksync/gas_zksync_fees.sql
  models/gas/zksync/gas_zksync_schema.yml
Labels: ready-for-merging

#4801 lido liquidity spell on base
  models/lido/lido_liquidity.sql
  models/lido/liquidity/base/lido_liquidity_base_aerodrome_pools.sql
  models/lido/liquidity/base/lido_liquidity_base_kyberswap_pools.sql
  models/lido/liquidity/base/lido_liquidity_base_schema.yml
  models/lido/liquidity/base/lido_liquidity_base_sources.yml
Labels: ready-for-merging

#4805 Add zkSync Era to `chain_info.chain_ids`
  models/chain_info/chain_info_chain_ids.sql
Labels: ready-for-merging

#4773 Create spellbook for latest bitcoin balance
  models/balances/bitcoin/balances_bitcoin_sataoshi_latest_day.sql
  models/balances/bitcoin/balances_bitcoin_satoshi_day.sql
  models/balances/bitcoin/balances_bitcoin_schema.yml
Labels: ready-for-merging

#4840 fix compile warnings: files name and schema file fixes
  models/_sector/lending/borrow/celo/_schema.yml
  models/balances/bitcoin/balances_bitcoin_satoshi_latest_day.sql
Labels: hotfix

#4765 SPE-231 Table rename for incremental full refreshes
  macros/dune/incremental.sql
  models/_sector/dex/trades/dex_trades_beta.sql
  models/integration_test/integration_test.yml
  tests/integration_test/test_test.sql
Labels: in review, dune team, hotfix

#4843 dex addresses
  models/dex/arbitrum/_schema.yml
  models/dex/base/_schema.yml
  models/dex/base/dex_base_addresses.sql
  models/dex/bnb/_schema.yml
  models/dex/dex_addresses.sql
  models/dex/dex_schema.yml
  models/dex/ethereum/_schema.yml
  models/dex/ethereum/dex_ethereum_addresses.sql
  models/dex/optimism/_schema.yml
  models/dex/polygon/_schema.yml
Labels: ready-for-merging

#4833 [easy] L1 Submitter Address Adds
  models/addresses/ethereum/addresses_ethereum_l2_batch_submitters.sql
Labels: ready-for-merging

#4814 Add CEX addresses
  models/cex/ethereum/cex_ethereum_addresses.sql
  models/cex/ethereum/cex_ethereum_schema.yml
Labels: ready-for-review, ready-for-merging

#4798 Add Zora to Tokens Tables
  models/tokens/tokens_erc20.sql
  models/tokens/tokens_native.sql
  models/tokens/tokens_nft.sql
  models/tokens/zora/tokens_zora_erc20.sql
  models/tokens/zora/tokens_zora_nft.sql
  models/tokens/zora/tokens_zora_nft_curated.sql
  models/tokens/zora/tokens_zora_nft_standards.sql
  models/tokens/zora/tokens_zora_schema.yml
Labels: ready-for-merging

#4715 Add gyroscope in models, include E-CLPs on ethereum, polygon and optimism
  dbt_project.yml
  models/contracts/contracts_contract_creator_address_list.sql
  models/contracts/contracts_project_name_mappings.sql
  models/gyroscope/arbitrum/gyroscope_arbitrum_schema.yml
  models/gyroscope/arbitrum/gyroscope_arbitrum_sources.yml
  models/gyroscope/arbitrum/gyroscope_arbitrum_trades.sql
  models/gyroscope/ethereum/gyroscope_ethereum_schema.yml
  models/gyroscope/ethereum/gyroscope_ethereum_sources.yml
  models/gyroscope/ethereum/gyroscope_ethereum_trades.sql
  models/gyroscope/gyroscope_schema.yml
  models/gyroscope/gyroscope_trades.sql
  models/gyroscope/optimism/gyroscope_optimism_schema.yml
  models/gyroscope/optimism/gyroscope_optimism_sources.yml
  models/gyroscope/optimism/gyroscope_optimism_trades.sql
  models/gyroscope/polygon/gyroscope_polygon_schema.yml
  models/gyroscope/polygon/gyroscope_polygon_sources.yml
  models/gyroscope/polygon/gyroscope_polygon_trades.sql
  seeds/dex/trades/dex_trades_seed.csv
Labels: ready-for-merging

#4836 Add token SnBNB
  models/prices/bnb/prices_bnb_tokens.sql
  models/tokens/bnb/tokens_bnb_bep20.sql
Labels: easy, ready-for-merging

#4848 CI workflow: clean up dbt compile warnings and apply forced error
  .github/workflows/dbt_slim_ci.yml
  models/addresses/ethereum/addresses_ethereum_schema.yml
  models/base_sources/ethereum_base_sources.yml
  models/lido/accounting/ethereum/lido_accounting_ethereum_sources.yml
Labels: ready-for-review, dune team, hotfix

#4831 Add WETH price for Zora Network
  models/prices/prices_schema.yml
  models/prices/prices_tokens.sql
  models/prices/zora/prices_zora_schema.yml
  models/prices/zora/prices_zora_tokens.sql
  scripts/token_checker.py
Labels: ready-for-merging

#4849 downstream spells from contract mappings: fix column name(s)
  models/worldcoin/optimism/worldcoin_optimism_accounts.sql
Labels: hotfix

#4668 Revamp NFT to new sector spell design structure
  .github/workflows/dbt_slim_ci.yml
  macros/models/_sector/nft/add_nft_tx_data.sql
  macros/models/_sector/nft/enrich_nft_trades.sql
  macros/models/_sector/nft/enrich_trades.sql
  macros/models/_sector/nft/platforms/element_v1_base_trades.sql
  macros/models/_sector/nft/port_to_old_schema.sql
  models/_sector/nft/aggregators/chains/nft_ethereum_aggregators_markers.sql
  models/_sector/nft/trades/compatibility_views/nft_events.sql
  models/_sector/nft/trades/compatibility_views/nft_fees.sql
  models/_sector/nft/trades/ethereum/nft_ethereum_base_trades.sql
  models/_sector/nft/trades/ethereum/platforms/archipelago_ethereum_base_trades.sql
  models/_sector/nft/trades/ethereum/platforms/blur_ethereum_base_trades.sql
  models/_sector/nft/trades/ethereum/platforms/blur_seaport_ethereum_base_trades.sql
  models/_sector/nft/trades/ethereum/platforms/blur_v2_ethereum_base_trades.sql
  models/_sector/nft/trades/ethereum/platforms/collectionswap_ethereum_base_trades.sql
  models/_sector/nft/trades/ethereum/platforms/cryptopunks_ethereum_base_trades.sql
  models/_sector/nft/trades/ethereum/platforms/element_ethereum_base_trades.sql
  models/_sector/nft/trades/ethereum/platforms/foundation_ethereum_base_trades.sql
  models/_sector/nft/trades/ethereum/platforms/looksrare_seaport_ethereum_base_trades.sql
  models/_sector/nft/trades/ethereum/platforms/looksrare_v1_ethereum_base_trades.sql
  models/_sector/nft/trades/ethereum/platforms/looksrare_v2_ethereum_base_trades.sql
  models/_sector/nft/trades/ethereum/platforms/sudoswap_ethereum_base_trades.sql
  models/_sector/nft/trades/ethereum/platforms/superrare_ethereum_base_trades.sql
  models/_sector/nft/trades/ethereum/platforms/x2y2_ethereum_base_trades.sql
  models/_sector/nft/trades/ethereum/platforms/zora_v1_ethereum_base_trades.sql
  models/_sector/nft/trades/ethereum/platforms/zora_v2_ethereum_base_trades.sql
  models/_sector/nft/trades/ethereum/platforms/zora_v3_ethereum_base_trades.sql
  models/_sector/nft/trades/nft_base_trades.sql
  models/_sector/nft/trades/nft_ethereum_trades_beta.sql
  models/_sector/nft/trades/nft_ethereum_trades_beta_ported.sql
  models/_sector/nft/trades/nft_events.sql
  models/_sector/nft/trades/nft_trades.sql
  models/_sector/nft/trades/nft_trades_beta.sql
  models/_sector/nft/trades/old/nft_old_base_trades.sql
  models/_sector/nft/trades/old/platforms/_schema.yml
  models/_sector/nft/trades/old/platforms/liquidifty_bnb_events.sql
  models/_sector/nft/trades/old/platforms/liquidifty_ethereum_events.sql
  models/_sector/nft/trades/schema.yml
  models/_sector/nft/trades/views/nft_burns.sql
  models/_sector/nft/trades/views/nft_fees.sql
  models/_sector/nft/trades/views/nft_trades.sql
  models/cryptopunks/ethereum/cryptopunks_ethereum_current_bids.sql
  models/cryptopunks/ethereum/cryptopunks_ethereum_current_listings.sql
  models/cryptopunks/ethereum/cryptopunks_ethereum_floor_price_over_time.sql
  models/cryptopunks/ethereum/cryptopunks_ethereum_listings_over_time.sql
  tests/_sector/nft/check_backport_columns.sql
  tests/_sector/nft/check_nft_migrations_ethereum.sql
Labels: ready-for-merging, NFT

#4852 Fix nft.trades prices
  macros/models/_sector/nft/enrich_nft_trades.sql
Labels: hotfix, NFT

#4769 Added woofi optimism dex
  models/_sector/dex/trades/optimism/_schema.yml
  models/_sector/dex/trades/optimism/dex_optimism_base_trades.sql
  models/_sector/dex/trades/optimism/platforms/woofi_optimism_base_trades.sql
  models/dex/dex_trades.sql
  models/openocean/optimism/openocean_optimism_trades.sql
  models/woofi/optimism/woofi_optimism_schema.yml
  models/woofi/optimism/woofi_optimism_sources.yml
  models/woofi/optimism/woofi_optimism_trades.sql
  seeds/_sector/dex/_schema.yml
  seeds/_sector/dex/woofi_optimism_base_trades_seed.csv
  seeds/dex/trades/dex_trades_seed.csv
  tests/dex/dex_trades_assert_freshness.sql
Labels: ready-for-merging

#4844 Add combined spells to safes
  models/safe/arbitrum/safe_arbitrum_eth_transfers.sql
  models/safe/arbitrum/safe_arbitrum_schema.yml
  models/safe/avalanche_c/safe_avalanche_c_avax_transfers.sql
  models/safe/avalanche_c/safe_avalanche_c_schema.yml
  models/safe/base/safe_base_eth_transfers.sql
  models/safe/base/safe_base_schema.yml
  models/safe/bnb/safe_bnb_bnb_transfers.sql
  models/safe/bnb/safe_bnb_schema.yml
  models/safe/celo/safe_celo_celo_transfers.sql
  models/safe/celo/safe_celo_schema.yml
  models/safe/ethereum/safe_ethereum_eth_transfers.sql
  models/safe/ethereum/safe_ethereum_schema.yml
  models/safe/gnosis/safe_gnosis_safes.sql
  models/safe/gnosis/safe_gnosis_schema.yml
  models/safe/gnosis/safe_gnosis_xdai_transfers.sql
  models/safe/goerli/safe_goerli_eth_transfers.sql
  models/safe/goerli/safe_goerli_schema.yml
  models/safe/optimism/safe_optimism_eth_transfers.sql
  models/safe/optimism/safe_optimism_schema.yml
  models/safe/polygon/safe_polygon_matic_transfers.sql
  models/safe/polygon/safe_polygon_schema.yml
  models/safe/safe_native_transfers_all.sql
  models/safe/safe_schema.yml
  models/safe/safe_transactions_all.sql
  models/safe/zksync/safe_zksync_eth_transfers.sql
  models/safe/zksync/safe_zksync_schema.yml
Labels: question, in review

#4810 Polygon, Arbitrum, Optimism bridges
  models/bridges/arbitrum/_schema.yml
  models/bridges/arbitrum/bridges_arbitrum_addresses.sql
  models/bridges/optimism/_schema.yml
  models/bridges/optimism/bridges_optimism_addresses.sql
  models/bridges/polygon/_schema.yml
  models/bridges/polygon/bridges_polygon_addresses.sql
  models/labels/addresses/bridge/identifiers/labels_bridges_arbitrum.sql
  models/labels/addresses/bridge/identifiers/labels_bridges_optimism.sql
  models/labels/addresses/bridge/identifiers/labels_bridges_polygon.sql
  models/labels/addresses/bridge/labels_bridges.sql
  models/labels/addresses/bridge/labels_bridges_schema.yml
Labels: ready-for-merging

#4850 add goosefx to solana dex
  models/dex/solana/dex_solana_trades.sql
  models/goosefx/solana/_schema.yml
  models/goosefx/solana/_sources.yml
  models/goosefx/solana/goosefx_ssl_v2_solana_trades.sql
Labels: dex

#4837 Add aerodrome to `dex.trades_beta`
  macros/models/_sector/dex/uniswap_compatible_trades.sql
  models/_sector/dex/trades/base/_schema.yml
  models/_sector/dex/trades/base/_sources.yml
  models/_sector/dex/trades/base/dex_base_base_trades.sql
  models/_sector/dex/trades/base/platforms/aerodrome_base_base_trades.sql
  models/aerodrome/base/aerodrome_base_sources.yml
  seeds/_sector/dex/aerodrome_base_base_trades_seed.csv
Labels: ready-for-merging, dex

#4874 Drop stale prices
  models/prices/arbitrum/prices_arbitrum_tokens.sql
  models/prices/avalanche_c/prices_avalanche_c_tokens.sql
  models/prices/bnb/prices_bnb_tokens.sql
  models/prices/ethereum/prices_ethereum_tokens.sql
  models/prices/fantom/prices_fantom_tokens.sql
  models/prices/polygon/prices_polygon_tokens.sql
Labels: ready-for-merging

#4804 SPE-53 1inch: AR macro & AR calls (1/2)
  macros/models/_project/oneinch/AR/oneinch_ar_handle_generic.sql
  macros/models/_project/oneinch/AR/oneinch_ar_handle_unoswap.sql
  macros/models/_project/oneinch/AR/oneinch_ar_macro.sql
  models/oneinch/arbitrum/oneinch_arbitrum_ar.sql
  models/oneinch/arbitrum/oneinch_arbitrum_schema.yml
  models/oneinch/arbitrum/oneinch_arbitrum_sources.yml
  models/oneinch/avalanche_c/oneinch_avalanche_c_ar.sql
  models/oneinch/avalanche_c/oneinch_avalanche_c_schema.yml
  models/oneinch/avalanche_c/oneinch_avalanche_c_sources.yml
  models/oneinch/base/oneinch_base_ar.sql
  models/oneinch/base/oneinch_base_schema.yml
  models/oneinch/base/oneinch_base_sources.yml
  models/oneinch/bnb/oneinch_bnb_ar.sql
  models/oneinch/bnb/oneinch_bnb_schema.yml
  models/oneinch/bnb/oneinch_bnb_sources.yml
  models/oneinch/ethereum/oneinch_ethereum_ar.sql
  models/oneinch/ethereum/oneinch_ethereum_schema.yml
  models/oneinch/ethereum/oneinch_ethereum_sources.yml
  models/oneinch/fantom/oneinch_fantom_ar.sql
  models/oneinch/fantom/oneinch_fantom_schema.yml
  models/oneinch/fantom/oneinch_fantom_sources.yml
  models/oneinch/gnosis/oneinch_gnosis_ar.sql
  models/oneinch/gnosis/oneinch_gnosis_schema.yml
  models/oneinch/gnosis/oneinch_gnosis_sources.yml
  models/oneinch/oneinch_ar.sql
  models/oneinch/oneinch_schema.yml
  models/oneinch/optimism/oneinch_optimism_ar.sql
  models/oneinch/optimism/oneinch_optimism_schema.yml
  models/oneinch/optimism/oneinch_optimism_sources.yml
  models/oneinch/polygon/oneinch_polygon_ar.sql
  models/oneinch/polygon/oneinch_polygon_schema.yml
  models/oneinch/polygon/oneinch_polygon_sources.yml
Labels: ready-for-merging

#4842 Celo carbonhood trades
  models/_sector/dex/trades/celo/_schema.yml
  models/_sector/dex/trades/celo/_sources.yml
  models/_sector/dex/trades/celo/dex_celo_base_trades.sql
  models/_sector/dex/trades/celo/platforms/carbonhood_celo_base_trades.sql
  seeds/_sector/dex/_schema.yml
  seeds/_sector/dex/carbonhood_celo_base_trades_seed.csv
Labels: ready-for-merging, dex

#4864 Add airswap to `dex.trades_beta`
  macros/models/_sector/dex/airswap_compatible_trades.sql
  models/_sector/dex/trades/arbitrum/_schema.yml
  models/_sector/dex/trades/arbitrum/_sources.yml
  models/_sector/dex/trades/arbitrum/dex_arbitrum_base_trades.sql
  models/_sector/dex/trades/arbitrum/platforms/airswap_arbitrum_base_trades.sql
  models/_sector/dex/trades/avalanche_c/_schema.yml
  models/_sector/dex/trades/avalanche_c/_sources.yml
  models/_sector/dex/trades/avalanche_c/dex_avalanche_c_base_trades.sql
  models/_sector/dex/trades/avalanche_c/platforms/airswap_avalanche_c_base_trades.sql
  models/_sector/dex/trades/bnb/_schema.yml
  models/_sector/dex/trades/bnb/_sources.yml
  models/_sector/dex/trades/bnb/dex_bnb_base_trades.sql
  models/_sector/dex/trades/bnb/platforms/airswap_bnb_base_trades.sql
  models/_sector/dex/trades/ethereum/_schema.yml
  models/_sector/dex/trades/ethereum/_sources.yml
  models/_sector/dex/trades/ethereum/dex_ethereum_base_trades.sql
  models/_sector/dex/trades/ethereum/platforms/airswap_ethereum_base_trades.sql
  models/_sector/dex/trades/polygon/_schema.yml
  models/_sector/dex/trades/polygon/_sources.yml
  models/_sector/dex/trades/polygon/dex_polygon_base_trades.sql
  models/_sector/dex/trades/polygon/platforms/airswap_polygon_base_trades.sql
  models/airswap/ethereum/airswap_ethereum_sources.yml
  seeds/_sector/dex/_schema.yml
  seeds/_sector/dex/airswap_arbitrum_base_trades_seed.csv
  seeds/_sector/dex/airswap_avalanche_c_base_trades_seed.csv
  seeds/_sector/dex/airswap_bnb_base_trades_seed.csv
  seeds/_sector/dex/airswap_polygon_base_trades_seed.csv
  seeds/_sector/dex/uniswap_arbitrum_base_trades_seed.csv
  seeds/_sector/dex/uniswap_bnb_base_trades_seed.csv
Labels: ready-for-merging, dex

#4856 Make CEX address list crosschain
  models/cex/arbitrum/cex_arbitrum_addresses.sql
  models/cex/avalanche_c/cex_avalanche_c_addresses.sql
  models/cex/bnb/cex_bnb_addresses.sql
  models/cex/celo/cex_celo_addresses.sql
  models/cex/celo/cex_celo_schema.yml
  models/cex/cex_addresses.sql
  models/cex/cex_evms_addresses.sql
  models/cex/cex_schema.yml
  models/cex/ethereum/cex_ethereum_addresses.sql
  models/cex/fantom/cex_fantom_addresses.sql
  models/cex/optimism/cex_optimism_addresses.sql
  models/cex/polygon/cex_polygon_addresses.sql
  models/cex/zksync/cex_zksync_addresses.sql
  models/cex/zksync/cex_zksync_schema.yml
  models/cex/zora/cex_zora_addresses.sql
  models/cex/zora/cex_zora_schema.yml
Labels: question, in review

#4875 Cnft fix and daily balances surrogate fix
  models/_sector/nft/trades/solana/platforms/tensorswap_v2_solana_trades.sql
  models/solana_utils/solana_utils_daily_balances.sql
Labels: ready-for-merging

#4890 dex.raw_pools fix optimism legacy
  models/dex/dex_raw_pools.sql
  models/dex/dex_sources.yml
Labels: ready-for-merging

#4902 `bebop_ethereum_trades` add exclude tag in prod
  models/bebop/ethereum/bebop_ethereum_trades.sql
Labels: hotfix

#4147 Create `zora.mints` incl. Ethereum, Zora Network, Optimism, Base & Goerli
  macros/models/_sector/nft/platforms/zora_mints.sql
  models/_sector/nft/mints/platforms/_schema.yml
  models/_sector/nft/mints/platforms/_sources.yml
  models/_sector/nft/mints/platforms/zora_base_mints.sql
  models/_sector/nft/mints/platforms/zora_ethereum_mints.sql
  models/_sector/nft/mints/platforms/zora_goerli_mints.sql
  models/_sector/nft/mints/platforms/zora_mints.sql
  models/_sector/nft/mints/platforms/zora_optimism_mints.sql
  models/_sector/nft/mints/platforms/zora_zora_mints.sql
Labels: NFT

#4860 add PYTH to prices table
  models/prices/solana/prices_solana_tokens.sql
Labels: easy, ready-for-merging

#4861 Added mummy_finance optimism trades
  models/_sector/dex/trades/optimism/_schema.yml
  models/_sector/dex/trades/optimism/dex_optimism_base_trades.sql
  models/_sector/dex/trades/optimism/platforms/mummy_finance_optimism_base_trades.sql
  models/dex/dex_trades.sql
  models/mummy_finance/optimism/mummy_finance_optimism_schema.yml
  models/mummy_finance/optimism/mummy_finance_optimism_sources.yml
  models/mummy_finance/optimism/mummy_finance_optimism_trades.sql
  seeds/_sector/dex/_schema.yml
  seeds/_sector/dex/mummy_finance_optimism_base_trades_seed.csv
  seeds/dex/trades/dex_trades_seed.csv
Labels: dex
