Repository duneanalytics/spellbook, pull requests merged in 2023-06, with the labels that each got.

#3421 Rework `opensea_v3_polygon.events`
  models/opensea/polygon/opensea_v3_polygon_events.sql
  models/seaport/polygon/seaport_polygon_sources.yml
  seeds/opensea/polygon/opensea_polygon_seaport_trades_samples.csv
Labels: ready-for-merging, NFT

#3460 [Erc20] Adding 477 missing tokens to mainnet
  models/tokens/ethereum/tokens_ethereum_erc20.sql
Labels: easy, ready-for-merging

#3465 Revert "[Erc20] Adding 477 missing tokens to mainnet (#3460)"
  models/tokens/ethereum/tokens_ethereum_erc20.sql
Labels: dune team

#3324 Init opensea_arbitrum.events
  models/opensea/arbitrum/opensea_arbitrum_events.sql
  models/opensea/arbitrum/opensea_arbitrum_fees.sql
  models/opensea/arbitrum/opensea_arbitrum_schema.yml
  models/opensea/arbitrum/opensea_arbitrum_trades.sql
  models/opensea/arbitrum/opensea_v3_arbitrum_events.sql
  models/opensea/arbitrum/opensea_v4_arbitrum_events.sql
  models/seaport/arbitrum/seaport_arbitrum_sources.yml
  seeds/opensea/arbitrum/opensea_arbitrum_seaport_trades_samples.csv
Labels: ready-for-merging, NFT

#3348 add element nft trades polygon
  models/_sector/nft/trades/old/nft_events_old.sql
  models/_sector/nft/trades/old/platforms/element_polygon_events.sql
  models/_sector/nft/trades/old/platforms/element_polygon_schema.yml
  models/_sector/nft/trades/old/platforms/element_polygon_sources.yml
  tests/element/element_avalanche_c_assert_trades.sql
  tests/element/element_bnb_assert_trades.sql
  tests/element/element_polygon_assert_trades.sql
Labels: ready-for-merging, NFT

#3360 Add Flashloans to NFT Wash Filter
  models/nft/arbitrum/nft_arbitrum_schema.yml
  models/nft/arbitrum/nft_arbitrum_wash_trades.sql
  models/nft/avalanche_c/nft_avalanche_c_schema.yml
  models/nft/avalanche_c/nft_avalanche_c_wash_trades.sql
  models/nft/bnb/nft_bnb_schema.yml
  models/nft/bnb/nft_bnb_wash_trades.sql
  models/nft/ethereum/nft_ethereum_schema.yml
  models/nft/ethereum/nft_ethereum_wash_trades.sql
  models/nft/gnosis/nft_gnosis_schema.yml
  models/nft/gnosis/nft_gnosis_wash_trades.sql
  models/nft/nft_schema.yml
  models/nft/nft_wash_trades.sql
  models/nft/optimism/nft_optimism_schema.yml
  models/nft/optimism/nft_optimism_wash_trades.sql
  models/nft/polygon/nft_polygon_schema.yml
  models/nft/polygon/nft_polygon_wash_trades.sql
Labels: ready-for-merging, NFT

#3439 Update product type names
  models/nexusmutual/ethereum/nexusmutual_ethereum_product_information.sql
  models/nexusmutual/ethereum/nexusmutual_ethereum_schema.yml
  seeds/nexusmutual/ethereum/nexusmutual_ethereum_product_information_seed.csv
Labels: easy, ready-for-merging

#3441 [EASY] Adding WINR into tokens.erc20
  models/tokens/arbitrum/tokens_arbitrum_erc20.sql
Labels: easy, ready-for-merging

#3445 add spookyswap pools to dex pools - ready for review
  models/dex/dex_pools.sql
  models/spookyswap/fantom/spookyswap_fantom_pools.sql
  models/spookyswap/fantom/spookyswap_fantom_schema.yml
Labels: ready-for-merging, dex

#3449 Rubicon V2 updates
  models/rubicon/optimism/rubicon_optimism_offers.sql
  models/rubicon/optimism/rubicon_optimism_sources.yml
  models/rubicon/optimism/rubicon_optimism_trades.sql
  seeds/dex/offers/dex_offers_seed.csv
Labels: ready-for-merging

#3464 add unshETH token to prices
  models/prices/arbitrum/prices_arbitrum_tokens.sql
Labels: easy, ready-for-merging

#3469 [Erc20] Add 410 Missing Mainnet Tokens
  models/tokens/ethereum/tokens_ethereum_erc20.sql
  models/tokens/gnosis/tokens_gnosis_erc20.sql
Labels: easy, ready-for-merging

#3480 Add Reservoir v6.0.1 aggregator contracts
  models/nft/arbitrum/nft_arbitrum_aggregators.sql
  models/nft/bnb/nft_bnb_aggregators.sql
  models/nft/ethereum/nft_ethereum_aggregators_manual.sql
  models/nft/optimism/nft_optimism_aggregators.sql
  models/nft/polygon/nft_polygon_aggregators.sql
Labels: easy, NFT

#3467 Adding EUROC to avalanche_c_erc20 tokens
  models/tokens/avalanche_c/tokens_avalanche_c_erc20.sql
Labels: easy, ready-for-merging

#3446 add spiritswap_fantom_pools to dex pools - ready for review
  models/dex/dex_pools.sql
  models/spiritswap/fantom/spiritswap_fantom_pools.sql
  models/spiritswap/fantom/spiritswap_fantom_schema.yml
Labels: ready-for-merging, dex

#3470 [EASY]Add new Optimism NFTs
  models/tokens/optimism/tokens_optimism_nft_curated.sql
Labels: easy

#3461 Add ETH staking entities
  models/staking/ethereum/staking_ethereum_entities.sql
Labels: easy, ready-for-review

#3258 Frax finance
  Pipfile.lock
  dbt_project.yml
  models/frax_finance/bnb/frax_finance_bnb_bribes.sql
  models/frax_finance/bnb/frax_finance_bnb_schema.yml
  models/frax_finance/bnb/frax_finance_bnb_sources.yml
Labels: in review

#3437 Add missing data in layzerzero
  models/layerzero/arbitrum/layerzero_arbitrum_schema.yml
  models/layerzero/arbitrum/layerzero_arbitrum_send.sql
  models/layerzero/avalanche_c/layerzero_avalanche_c_schema.yml
  models/layerzero/avalanche_c/layerzero_avalanche_c_send.sql
  models/layerzero/bnb/layerzero_bnb_schema.yml
  models/layerzero/bnb/layerzero_bnb_send.sql
  models/layerzero/ethereum/layerzero_ethereum_schema.yml
  models/layerzero/ethereum/layerzero_ethereum_send.sql
  models/layerzero/fantom/layerzero_fantom_schema.yml
  models/layerzero/fantom/layerzero_fantom_send.sql
  models/layerzero/gnosis/layerzero_gnosis_schema.yml
  models/layerzero/gnosis/layerzero_gnosis_send.sql
  models/layerzero/optimism/layerzero_optimism_schema.yml
  models/layerzero/optimism/layerzero_optimism_send.sql
  models/layerzero/polygon/layerzero_polygon_schema.yml
  models/layerzero/polygon/layerzero_polygon_send.sql
  seeds/layerzero/arbitrum/layerzero_arbitrum_send_samples.csv
  seeds/layerzero/avalanche_c/layerzero_avalanche_c_send_samples.csv
  seeds/layerzero/bnb/layerzero_bnb_send_samples.csv
  seeds/layerzero/ethereum/layerzero_ethereum_send_samples.csv
  seeds/layerzero/fantom/layerzero_fantom_send_samples.csv
  seeds/layerzero/gnosis/layerzero_gnosis_send_samples.csv
  seeds/layerzero/optimism/layerzero_optimism_send_samples.csv
  seeds/layerzero/polygon/layerzero_polygon_send_samples.csv
Labels: ready-for-merging

#3489 Exclude problematic tx in Seaport V2
  models/opensea/ethereum/opensea_v4_ethereum_trades.sql
  models/seaport/ethereum/seaport_v2_ethereum_trades.sql
  seeds/opensea/ethereum/opensea_ethereum_seaport_trades_samples.csv
Labels: dune team, hotfix

#3379 zeroex - explorer cleanup
  models/zeroex/bnb/zeroex_bnb_api_fills.sql
  models/zeroex/bnb/zeroex_bnb_api_fills_deduped.sql
  models/zeroex/fantom/zeroex_fantom_api_fills.sql
  models/zeroex/fantom/zeroex_fantom_api_fills_deduped.sql
  seeds/zeroex/bnb/zeroex_bnb_api_fills_sample.csv
Labels: WIP

#3497 OpenSea (Seaport v1.5) fix - Remove duplicate transactions
  models/opensea/ethereum/opensea_v4_ethereum_trades.sql
  models/seaport/ethereum/seaport_v2_ethereum_trades.sql
  seeds/opensea/ethereum/opensea_ethereum_seaport_trades_samples.csv
Labels: ready-for-merging

#3511 exclude eth nft wash trades
  models/nft/ethereum/nft_ethereum_wash_trades.sql
Labels: dune team, hotfix

#3514 revert PRs from friday june 9th afternoon to help debug orchestration
  dbt_project.yml
  models/lido/lido_liquidity.sql
  models/lido/liquidity/arbitrum/lido_liquidity_arbitrum_camelot_pools.sql
  models/lido/liquidity/arbitrum/lido_liquidity_arbitrum_schema.yml
  models/lido/liquidity/arbitrum/lido_liquidity_arbitrum_sources.yml
  models/lido/liquidity/arbitrum/lido_liquidity_arbitrum_uniswap_v3_pools.sql
  models/lido/liquidity/ethereum/lido_liquidity_ethereum_schema.yml
  models/lido/liquidity/ethereum/lido_liquidity_ethereum_sources.yml
  models/lido/liquidity/ethereum/lido_liquidity_ethereum_uniswap_v3_pools.sql
  models/lido/liquidity/optimism/lido_liquidity_optimism_schema.yml
  models/lido/liquidity/optimism/lido_liquidity_optimism_sources.yml
  models/lido/liquidity/optimism/lido_liquidity_optimism_uniswap_v3_pools.sql
  models/time_utils/time_utils_days.sql
  models/time_utils/time_utils_minutes.sql
  models/time_utils/time_utils_schema.yml
  models/zeroex/bnb/zeroex_bnb_api_fills.sql
  models/zeroex/bnb/zeroex_bnb_api_fills_deduped.sql
  models/zeroex/fantom/zeroex_fantom_api_fills.sql
  models/zeroex/fantom/zeroex_fantom_api_fills_deduped.sql
  seeds/zeroex/bnb/zeroex_bnb_api_fills_sample.csv
Labels: dune team, hotfix

#3516 lido liquidity uniswap/camelot pools (#3451)
  models/lido/lido_liquidity.sql
  models/lido/liquidity/arbitrum/lido_liquidity_arbitrum_camelot_pools.sql
  models/lido/liquidity/arbitrum/lido_liquidity_arbitrum_schema.yml
  models/lido/liquidity/arbitrum/lido_liquidity_arbitrum_sources.yml
  models/lido/liquidity/arbitrum/lido_liquidity_arbitrum_uniswap_v3_pools.sql
  models/lido/liquidity/ethereum/lido_liquidity_ethereum_schema.yml
  models/lido/liquidity/ethereum/lido_liquidity_ethereum_sources.yml
  models/lido/liquidity/ethereum/lido_liquidity_ethereum_uniswap_v3_pools.sql
  models/lido/liquidity/optimism/lido_liquidity_optimism_schema.yml
  models/lido/liquidity/optimism/lido_liquidity_optimism_sources.yml
  models/lido/liquidity/optimism/lido_liquidity_optimism_uniswap_v3_pools.sql
Labels: dune team, hotfix

#3498 [Erc20] Add 283 Missing Tokens
  models/tokens/ethereum/tokens_ethereum_erc20.sql
Labels: easy, ready-for-merging

#3500 Materialize top layer of NFT trades
  models/_sector/nft/trades/nft_events.sql
Labels: ready-for-merging, dune team

#3486 zeroex - add native liquidity swaps to dex trades
  models/dex/dex_trades.sql
  models/zeroex/arbitrum/zeroex_arbitrum_native_fills.sql
  models/zeroex/bnb/zeroex_bnb_native_fills.sql
  models/zeroex/ethereum/zeroex_ethereum_native_fills.sql
  models/zeroex/optimism/zeroex_optimism_native_fills.sql
  models/zeroex/polygon/zeroex_polygon_native_fills.sql
  models/zeroex/zeroex_native_fills.sql
  models/zeroex/zeroex_native_trades.sql
  seeds/zeroex/arbitrum/zeroex_arbitrum_native_fills_sample.csv
  seeds/zeroex/bnb/zeroex_bnb_native_fills_sample.csv
  seeds/zeroex/ethereum/zeroex_ethereum_native_fills_sample.csv
  seeds/zeroex/polygon/zeroex_polygon_native_fills_sample.csv
  seeds/zeroex/zeroex_native_fills_sample.csv
  tests/zeroex/bnb/zeroex_bnb_native_fills_test.sql
  tests/zeroex/ethereum/zeroex_ethereum_native_fills_test.sql
  tests/zeroex/polygon/zeroex_polygon_native_fills_test.sql
Labels: ready-for-merging

#3411 Create sector `evms` for crosschain views of EVM raw tables
  dbt_project.yml
  models/base_sources/arbitrum_base_sources.yml
  models/base_sources/avalanche_c_base_sources.yml
  models/base_sources/bnb_base_sources.yml
  models/base_sources/ethereum_base_sources.yml
  models/base_sources/fantom_base_sources.yml
  models/base_sources/gnosis_base_sources.yml
  models/base_sources/goerli_base_sources.yml
  models/base_sources/optimism_base_sources.yml
  models/base_sources/polygon_base_sources.yml
  models/evms/evms_blocks.sql
  models/evms/evms_contracts.sql
  models/evms/evms_creation_traces.sql
  models/evms/evms_erc1155_approvalsforall.sql
  models/evms/evms_erc1155_transfersbatch.sql
  models/evms/evms_erc1155_transferssingle.sql
  models/evms/evms_erc20_approvals.sql
  models/evms/evms_erc20_transfers.sql
  models/evms/evms_erc721_approvals.sql
  models/evms/evms_erc721_approvalsforall.sql
  models/evms/evms_erc721_transfers.sql
  models/evms/evms_logs.sql
  models/evms/evms_logs_decoded.sql
  models/evms/evms_schema.yml
  models/evms/evms_traces.sql
  models/evms/evms_traces_decoded.sql
  models/evms/evms_transactions.sql
Labels: ready-for-merging

#3412 withdrawals lido accounting
  models/lido/accounting/ethereum/lido_accounting_ethereum_deposits.sql
  models/lido/accounting/ethereum/lido_accounting_ethereum_schema.yml
  models/lido/accounting/ethereum/lido_accounting_ethereum_sources.yml
  models/lido/accounting/ethereum/lido_accounting_ethereum_withdrawals.sql
Labels: ready-for-merging

#3070 Port `zerion.trades` to Dune v2
  dbt_project.yml
  models/zerion/arbitrum/zerion_arbitrum_schema.yml
  models/zerion/arbitrum/zerion_arbitrum_sources.yml
  models/zerion/arbitrum/zerion_arbitrum_trades.sql
  models/zerion/avalanche_c/zerion_avalanche_c_schema.yml
  models/zerion/avalanche_c/zerion_avalanche_c_sources.yml
  models/zerion/avalanche_c/zerion_avalanche_c_trades.sql
  models/zerion/bnb/zerion_bnb_schema.yml
  models/zerion/bnb/zerion_bnb_sources.yml
  models/zerion/bnb/zerion_bnb_trades.sql
  models/zerion/fantom/zerion_fantom_schema.yml
  models/zerion/fantom/zerion_fantom_sources.yml
  models/zerion/fantom/zerion_fantom_trades.sql
  models/zerion/gnosis/zerion_gnosis_schema.yml
  models/zerion/gnosis/zerion_gnosis_sources.yml
  models/zerion/gnosis/zerion_gnosis_trades.sql
  models/zerion/optimism/zerion_optimism_schema.yml
  models/zerion/optimism/zerion_optimism_sources.yml
  models/zerion/optimism/zerion_optimism_trades.sql
  models/zerion/polygon/zerion_polygon_schema.yml
  models/zerion/polygon/zerion_polygon_sources.yml
  models/zerion/polygon/zerion_polygon_trades.sql
  models/zerion/zerion_trades.sql
  models/zerion/zerion_trades_schema.yml
Labels: ready-for-merging

#3517 add back time utils (#3455)
  dbt_project.yml
  models/time_utils/time_utils_days.sql
  models/time_utils/time_utils_minutes.sql
  models/time_utils/time_utils_schema.yml
Labels: dune team, hotfix

#3384 MEV Sandwich Trades `dex.sandwiches`
  dbt_project.yml
  models/dex/arbitrum/dex_arbitrum_sandwiches.sql
  models/dex/arbitrum/dex_arbitrum_schema.yml
  models/dex/avalanche_c/dex_avalanche_c_sandwiches.sql
  models/dex/avalanche_c/dex_avalanche_c_schema.yml
  models/dex/bnb/dex_bnb_sandwiches.sql
  models/dex/bnb/dex_bnb_schema.yml
  models/dex/dex_sandwiches.sql
  models/dex/dex_schema.yml
  models/dex/ethereum/dex_ethereum_sandwiches.sql
  models/dex/ethereum/dex_ethereum_schema.yml
  models/dex/fantom/dex_fantom_sandwiches.sql
  models/dex/fantom/dex_fantom_schema.yml
  models/dex/gnosis/dex_gnosis_sandwiches.sql
  models/dex/gnosis/dex_gnosis_schema.yml
  models/dex/optimism/dex_optimism_sandwiches.sql
  models/dex/optimism/dex_optimism_schema.yml
  models/dex/polygon/dex_polygon_sandwiches.sql
  models/dex/polygon/dex_polygon_schema.yml
Labels: ready-for-merging, dex

#3520 Revert "time utils (#3455) (#3517)"
  dbt_project.yml
  models/time_utils/time_utils_days.sql
  models/time_utils/time_utils_minutes.sql
  models/time_utils/time_utils_schema.yml
Labels: dune team, hotfix

#3525 zeroex - explorer cleanup (#3379)
  models/zeroex/bnb/zeroex_bnb_api_fills.sql
  models/zeroex/bnb/zeroex_bnb_api_fills_deduped.sql
  models/zeroex/fantom/zeroex_fantom_api_fills.sql
  models/zeroex/fantom/zeroex_fantom_api_fills_deduped.sql
  seeds/zeroex/bnb/zeroex_bnb_api_fills_sample.csv
Labels: dune team, hotfix

#3502 [EASY] Add Balancer Pool Fees Spell to Gnosis Chain
  models/balancer/balancer_bpt_prices.sql
  models/balancer/gnosis/balancer_gnosis_schema.yml
  models/balancer/gnosis/balancer_v2_gnosis_pools_fees.sql
Labels: ready-for-merging

#3506 [OP] Add Extra Self-Destruct Indicator
  models/contracts/optimism/contracts_optimism_schema.yml
  models/contracts/optimism/contracts_optimism_self_destruct_contracts.sql
Labels: ready-for-merging

#3519 [EASY] OP Static Updates June 2023 #2
  models/contracts/optimism/contracts_optimism_contract_creator_address_list.sql
  models/contracts/optimism/contracts_optimism_project_name_mappings.sql
  models/tokens/optimism/tokens_optimism_erc20_curated.sql
Labels: ready-for-merging

#3512 deduplicate nft and dex based on row_number()
  dbt_project.yml
  macros/models/_sector/nft/enrich_trades.sql
  models/_sector/nft/trades/old/nft_events_old.sql
  models/dex/dex_trades.sql
Labels: ready-for-merging, dune team, hotfix

#3515 Consolidate Uniswap V3 Factory contract names
  models/uniswap/arbitrum/uniswap_arbitrum_pools.sql
  models/uniswap/arbitrum/uniswap_arbitrum_sources.yml
  models/uniswap/arbitrum/uniswap_v3_arbitrum_flashloans.sql
  models/uniswap/arbitrum/uniswap_v3_arbitrum_trades.sql
  models/uniswap/bnb/uniswap_bnb_sources.yml
  models/uniswap/bnb/uniswap_v3_bnb_flashloans.sql
  models/uniswap/bnb/uniswap_v3_bnb_trades.sql
  models/uniswap/polygon/uniswap_polygon_pools.sql
  models/uniswap/polygon/uniswap_polygon_sources.yml
  models/uniswap/polygon/uniswap_v3_polygon_flashloans.sql
  models/uniswap/polygon/uniswap_v3_polygon_trades.sql
  models/zeroex/polygon/zeroex_polygon_api_fills.sql
Labels: ready-for-merging

#3527 Revert "Consolidate Uniswap V3 Factory contract names (#3515)"
  models/uniswap/arbitrum/uniswap_arbitrum_pools.sql
  models/uniswap/arbitrum/uniswap_arbitrum_sources.yml
  models/uniswap/arbitrum/uniswap_v3_arbitrum_flashloans.sql
  models/uniswap/arbitrum/uniswap_v3_arbitrum_trades.sql
  models/uniswap/bnb/uniswap_bnb_sources.yml
  models/uniswap/bnb/uniswap_v3_bnb_flashloans.sql
  models/uniswap/bnb/uniswap_v3_bnb_trades.sql
  models/uniswap/polygon/uniswap_polygon_pools.sql
  models/uniswap/polygon/uniswap_polygon_sources.yml
  models/uniswap/polygon/uniswap_v3_polygon_flashloans.sql
  models/uniswap/polygon/uniswap_v3_polygon_trades.sql
  models/zeroex/polygon/zeroex_polygon_api_fills.sql
Labels: dune team, hotfix

#3432 Rename chain_ids > chain_info_chain_ids hotfix
  models/bridge/bridge_flows.sql
  models/bridge/optimism/optimism_standard_bridge_flows.sql
  models/chain_info/chain_info_chain_ids.sql
  models/hop_protocol/optimism/hop_protocol_optimism_flows.sql
Labels: ready-for-merging, hotfix

#3454 Freeze dbt-databricks to 1.4.1
  Pipfile
  Pipfile.lock
Labels: ready-for-merging, dune team

#3457 `gas_ethereum.fees_traces`
  models/gas/ethereum/gas_ethereum_fees_traces.sql
  models/gas/ethereum/gas_ethereum_schema.yml
Labels: ready-for-merging

#3495 `gas_optimism.fees_traces`
  models/gas/optimism/gas_optimism_fees_traces.sql
  models/gas/optimism/gas_optimism_schema.yml
Labels: ready-for-merging

#3494 `gas_arbitrum.fees_traces`
  models/gas/arbitrum/gas_arbitrum_fees_schema.yml
  models/gas/arbitrum/gas_arbitrum_fees_traces.sql
Labels: ready-for-merging

#3496 `gas_polygon.fees_traces`
  dbt_project.yml
  models/gas/polygon/gas_polygon_fees_traces.sql
  models/gas/polygon/gas_polygon_schema.yml
Labels: ready-for-merging

#3543 Equalizer flash loans
  dbt_project.yml
  models/dex/dex_flashloans.sql
  models/equalizer/bnb/equalizer_bnb_flashloans.sql
  models/equalizer/bnb/equalizer_bnb_schema.yml
  models/equalizer/bnb/equalizer_bnb_sources.yml
  models/equalizer/equalizer_flashloans.sql
  models/equalizer/equalizer_schema.yml
  models/equalizer/ethereum/equalizer_ethereum_flashloans.sql
  models/equalizer/ethereum/equalizer_ethereum_schema.yml
  models/equalizer/ethereum/equalizer_ethereum_sources.yml
  models/equalizer/optimism/equalizer_optimism_flashloans.sql
  models/equalizer/optimism/equalizer_optimism_schema.yml
  models/equalizer/optimism/equalizer_optimism_sources.yml
  models/equalizer/polygon/equalizer_polygon_flashloans.sql
  models/equalizer/polygon/equalizer_polygon_schema.yml
  models/equalizer/polygon/equalizer_polygon_sources.yml
Labels: ready-for-merging, dex

#3541 Fiat DAO flash loans
  dbt_project.yml
  models/dex/dex_flashloans.sql
  models/fiat_dao/ethereum/fiat_dao_ethereum_flashloans.sql
  models/fiat_dao/ethereum/fiat_dao_ethereum_schema.yml
  models/fiat_dao/ethereum/fiat_dao_ethereum_sources.yml
Labels: ready-for-merging, dex

#3540 lido liquidity: curve wsteth pools on l2
  models/lido/lido_liquidity.sql
  models/lido/liquidity/arbitrum/lido_liquidity_arbitrum_curve_pools.sql
  models/lido/liquidity/arbitrum/lido_liquidity_arbitrum_schema.yml
  models/lido/liquidity/arbitrum/lido_liquidity_arbitrum_sources.yml
  models/lido/liquidity/optimism/lido_liquidity_optimism_curve_pools.sql
  models/lido/liquidity/optimism/lido_liquidity_optimism_schema.yml
  models/lido/liquidity/optimism/lido_liquidity_optimism_sources.yml
Labels: ready-for-merging

#3539 Update ole token
  models/tokens/arbitrum/tokens_arbitrum_erc20.sql
  models/tokens/ethereum/tokens_ethereum_erc20.sql
Labels: ready-for-merging

#3538 Synapse flash loans
  dbt_project.yml
  models/dex/dex_flashloans.sql
  models/synapse/arbitrum/synapse_arbitrum_flashloans.sql
  models/synapse/arbitrum/synapse_arbitrum_schema.yml
  models/synapse/arbitrum/synapse_arbitrum_sources.yml
  models/synapse/avalanche_c/synapse_avalanche_c_flashloans.sql
  models/synapse/avalanche_c/synapse_avalanche_c_schema.yml
  models/synapse/avalanche_c/synapse_avalanche_c_sources.yml
  models/synapse/bnb/synapse_bnb_flashloans.sql
  models/synapse/bnb/synapse_bnb_schema.yml
  models/synapse/bnb/synapse_bnb_sources.yml
  models/synapse/ethereum/synapse_ethereum_flashloans.sql
  models/synapse/ethereum/synapse_ethereum_schema.yml
  models/synapse/ethereum/synapse_ethereum_sources.yml
  models/synapse/fantom/synapse_fantom_flashloans.sql
  models/synapse/fantom/synapse_fantom_schema.yml
  models/synapse/fantom/synapse_fantom_sources.yml
  models/synapse/optimism/synapse_optimism_flashloans.sql
  models/synapse/optimism/synapse_optimism_schema.yml
  models/synapse/optimism/synapse_optimism_sources.yml
  models/synapse/polygon/synapse_polygon_flashloans.sql
  models/synapse/polygon/synapse_polygon_schema.yml
  models/synapse/polygon/synapse_polygon_sources.yml
  models/synapse/synapse_flashloans.sql
  models/synapse/synapse_schema.yml
Labels: ready-for-merging, dex

#3536 Maker flash loans
  models/dex/dex_flashloans.sql
  models/maker/ethereum/maker_ethereum_flashloans.sql
  models/maker/ethereum/maker_ethereum_schema.yml
  models/maker/ethereum/maker_ethereum_sources.yml
Labels: ready-for-merging, dex

#3533 Euler flashloans
  dbt_project.yml
  models/dex/dex_flashloans.sql
  models/euler/ethereum/euler_ethereum_flashloans.sql
  models/euler/ethereum/euler_ethereum_schema.yml
  models/euler/ethereum/euler_ethereum_sources.yml
Labels: ready-for-merging, dex

#3531 [Easy] OP Static Updates Again
  models/contracts/optimism/contracts_optimism_contract_creator_address_list.sql
  models/contracts/optimism/contracts_optimism_project_name_mappings.sql
  models/op/token_distributions/optimism/op_token_distributions_optimism_project_wallets.sql
  models/tokens/optimism/tokens_optimism_erc20_curated.sql
  models/tokens/optimism/tokens_optimism_nft_curated.sql
Labels: easy, ready-for-merging

#3556 gas fees_traces: update incremental interval
  models/gas/arbitrum/gas_arbitrum_fees_traces.sql
  models/gas/ethereum/gas_ethereum_fees_traces.sql
  models/gas/optimism/gas_optimism_fees_traces.sql
  models/gas/polygon/gas_polygon_fees_traces.sql
Labels: dune team, hotfix

#3555 Re-add `nft_ethereum.wash_trades` to prod
  models/nft/ethereum/nft_ethereum_wash_trades.sql
Labels: ready-for-merging, NFT

#3549 Create `gas_gnosis.fees_traces`
  dbt_project.yml
  models/gas/gnosis/gas_gnosis_fees_traces.sql
  models/gas/gnosis/gas_gnosis_schema.yml
Labels: ready-for-merging

#3546 Create `gas_bnb.fees_traces`
  models/gas/bnb/gas_bnb_fees_traces.sql
  models/gas/bnb/gas_bnb_schema.yml
Labels: ready-for-merging

#3547 Create `gas_avalanche_c.fees_traces`
  models/gas/avalanche_c/gas_avalanche_c_fees_traces.sql
  models/gas/avalanche_c/gas_avalanche_c_schema.yml
Labels: ready-for-merging

#3548 Create `gas_fantom.fees_traces`
  dbt_project.yml
  models/gas/fantom/gas_fantom_fees_traces.sql
  models/gas/fantom/gas_fantom_schema.yml
Labels: ready-for-merging

#3560 revert `gas_blockchain.fees_traces`
  dbt_project.yml
  models/gas/arbitrum/gas_arbitrum_fees_traces.sql
  models/gas/avalanche_c/gas_avalanche_c_fees_traces.sql
  models/gas/avalanche_c/gas_avalanche_c_schema.yml
  models/gas/bnb/gas_bnb_fees_traces.sql
  models/gas/bnb/gas_bnb_schema.yml
  models/gas/ethereum/gas_ethereum_fees_traces.sql
  models/gas/fantom/gas_fantom_fees_traces.sql
  models/gas/fantom/gas_fantom_schema.yml
  models/gas/gnosis/gas_gnosis_fees_traces.sql
  models/gas/gnosis/gas_gnosis_schema.yml
  models/gas/optimism/gas_optimism_fees_traces.sql
  models/gas/polygon/gas_polygon_fees_traces.sql
Labels: dune team, hotfix

#3562 update incremental interval on `fees_traces` (#3556)
  models/gas/arbitrum/gas_arbitrum_fees_traces.sql
  models/gas/ethereum/gas_ethereum_fees_traces.sql
  models/gas/optimism/gas_optimism_fees_traces.sql
  models/gas/polygon/gas_polygon_fees_traces.sql
Labels: dune team, hotfix

#3554 [Erc20] Add 177 Missing Tokens
  models/tokens/ethereum/tokens_ethereum_erc20.sql
Labels: ready-for-merging

#3535 Add xchange dex trades objects for ethereum
  dbt_project.yml
  models/tokens/ethereum/tokens_ethereum_erc20.sql
  models/xchange/ethereum/xchange_ethereum_schema.yml
  models/xchange/ethereum/xchange_ethereum_sources.yml
  models/xchange/ethereum/xchange_ethereum_trades.sql
  seeds/dex/trades/dex_trades_seed.csv
  seeds/xchange/ethereum/xchange_ethereum_native_trades_seed.csv
  seeds/xchange/ethereum/xchange_ethereum_trades_seed.csv
  seeds/xchange/xchange_trades_seed.csv
  tests/xchange/ethereum/check_xchange_ethereum_trades_seed.sql
Labels: ready-for-merging, dex

#3571 remove old tests for seaport after reorg
  tests/seaport/seaport_ethereum_assert_samples.sql
  tests/seaport/seaport_ethereum_transfers_assert_samples.sql
Labels: dune team, hotfix

#3567 Fix table structures and misinterpretation on `opensea_v3_ethereum`
  models/opensea/ethereum/opensea_ethereum_events.sql
  models/opensea/ethereum/opensea_ethereum_schema.yml
  models/opensea/ethereum/opensea_v3_ethereum_events.sql
  models/opensea/ethereum/opensea_v3_ethereum_trades.sql
  models/opensea/ethereum/opensea_v4_ethereum_events.sql
  models/opensea/ethereum/opensea_v4_ethereum_trades.sql
  seeds/opensea/ethereum/opensea_ethereum_seaport_trades_samples.csv
Labels: ready-for-merging, NFT

#3574 Fix `opensea_v3_polygon.events` to include OS trades
  models/opensea/polygon/opensea_v3_polygon_events.sql
  seeds/opensea/polygon/opensea_polygon_seaport_trades_samples.csv
Labels: ready-for-merging, NFT

#3557 add tigris trading v2.3 contracts
  models/tigris/arbitrum/events/tigris_arbitrum_events_sources.yml
  models/tigris/arbitrum/events/tigris_v2_arbitrum_events_add_margin.sql
  models/tigris/arbitrum/events/tigris_v2_arbitrum_events_close_position.sql
  models/tigris/arbitrum/events/tigris_v2_arbitrum_events_limit_order.sql
  models/tigris/arbitrum/events/tigris_v2_arbitrum_events_liquidate_position.sql
  models/tigris/arbitrum/events/tigris_v2_arbitrum_events_modify_margin.sql
  models/tigris/arbitrum/events/tigris_v2_arbitrum_events_open_position.sql
  models/tigris/polygon/events/tigris_polygon_events_sources.yml
  models/tigris/polygon/events/tigris_v2_polygon_events_add_margin.sql
  models/tigris/polygon/events/tigris_v2_polygon_events_close_position.sql
  models/tigris/polygon/events/tigris_v2_polygon_events_limit_order.sql
  models/tigris/polygon/events/tigris_v2_polygon_events_liquidate_position.sql
  models/tigris/polygon/events/tigris_v2_polygon_events_modify_margin.sql
  models/tigris/polygon/events/tigris_v2_polygon_events_open_position.sql
Labels: ready-for-merging

#3563 Create `gas_avalanche_c.fees_traces` (#3547)
  models/gas/avalanche_c/gas_avalanche_c_fees_traces.sql
  models/gas/avalanche_c/gas_avalanche_c_schema.yml
Labels: ready-for-merging, dune team, hotfix

#3564 Create `gas_fantom.fees_traces` (#3548)
  dbt_project.yml
  models/gas/fantom/gas_fantom_fees_traces.sql
  models/gas/fantom/gas_fantom_schema.yml
Labels: ready-for-merging, dune team, hotfix

#3565 Create `gas_gnosis.fees_traces` (#3549)
  models/gas/gnosis/gas_gnosis_fees_traces.sql
  models/gas/gnosis/gas_gnosis_schema.yml
Labels: ready-for-merging, dune team, hotfix

#3397 Hashflow cross chain trades
  models/hashflow/avalanche_c/hashflow_avalanche_c_crosschain_trades.sql
  models/hashflow/avalanche_c/hashflow_avalanche_c_schema.yml
  models/hashflow/avalanche_c/hashflow_avalanche_c_sources.yml
  models/hashflow/bnb/hashflow_bnb_crosschain_trades.sql
  models/hashflow/bnb/hashflow_bnb_schema.yml
  models/hashflow/bnb/hashflow_bnb_sources.yml
  models/hashflow/ethereum/hashflow_ethereum_crosschain_trades.sql
  models/hashflow/ethereum/hashflow_ethereum_schema.yml
  models/hashflow/ethereum/hashflow_ethereum_sources.yml
  models/hashflow/hashflow_crosschain_trades.sql
  models/hashflow/hashflow_trades_schema.yml
Labels: ready-for-merging, dex

#3585 exclude `dex.sandwiches` due to duplicate failures
  models/dex/dex_sandwiches.sql
Labels: dune team, hotfix

#3594 Wash trading blend fix
  models/nft/ethereum/nft_ethereum_wash_trades.sql
Labels: ready-for-review, NFT

#3599 T-30221 fix luna pricing bug
  models/prices/ethereum/prices_ethereum_tokens.sql
Labels: dune team, hotfix

#3603 Critical Fix for Balancer Trades
  models/balancer/arbitrum/balancer_v2_arbitrum_trades.sql
  models/balancer/ethereum/balancer_v2_ethereum_trades.sql
  models/balancer/gnosis/balancer_v2_gnosis_trades.sql
  models/balancer/optimism/balancer_v2_optimism_trades.sql
  models/balancer/polygon/balancer_v2_polygon_trades.sql
Labels: ready-for-merging

#3617 lido hotfix: fix the spacing between source and alias name
  models/lido/liquidity/polygon/lido_liquidity_polygon_balancer_pools.sql
Labels: dune team, hotfix

#3589 Safes in Celo: transactions, transfers, singletons and Safes
  models/base_sources/celo_base_sources.yml
  models/safe/celo/safe_celo_celo_transfers.sql
  models/safe/celo/safe_celo_safes.sql
  models/safe/celo/safe_celo_schema.yml
  models/safe/celo/safe_celo_singletons.sql
  models/safe/celo/safe_celo_sources.yml
  models/safe/celo/safe_celo_transactions.sql
  models/safe/safe_safes_all.sql
  models/safe/safe_schema.yml
Labels: ready-for-merging

#3621 exclude failing models on balancer trades
  models/balancer/ethereum/balancer_v2_ethereum_trades.sql
  models/balancer/polygon/balancer_v2_polygon_trades.sql
Labels: dune team, hotfix, dex

#3590 Update expose_spell and mark_as_spell macros to support Trino views
  macros/expose_spells.sql
  macros/mark_as_spell.sql
Labels: ready-for-merging
