Repository duneanalytics/spellbook, pull requests merged in 2023-12, with the labels that each got.

#4867 Add camelot to `dex.trades_beta`
  macros/models/_sector/dex/uniswap_compatible_trades.sql
  models/_sector/dex/trades/arbitrum/_schema.yml
  models/_sector/dex/trades/arbitrum/_sources.yml
  models/_sector/dex/trades/arbitrum/dex_arbitrum_base_trades.sql
  models/_sector/dex/trades/arbitrum/platforms/camelot_v2_arbitrum_base_trades.sql
  models/_sector/dex/trades/arbitrum/platforms/camelot_v3_arbitrum_base_trades.sql
  models/camelot/arbitrum/camelot_arbitrum_schema.yml
  models/camelot/arbitrum/camelot_arbitrum_sources.yml
  models/camelot/arbitrum/camelot_arbitrum_trades.sql
  models/camelot/arbitrum/camelot_v2_arbitrum_trades.sql
  seeds/_sector/dex/camelot_arbitrum_base_trades_seed.csv
Labels: ready-for-merging, dex

#4870 [EASY] Add missing mainnet tokens
  models/tokens/ethereum/tokens_ethereum_erc20.sql
Labels: easy, ready-for-merging

#4868 Add carbon_defi to `dex.trades_beta`
  models/_sector/dex/trades/ethereum/_schema.yml
  models/_sector/dex/trades/ethereum/_sources.yml
  models/_sector/dex/trades/ethereum/dex_ethereum_base_trades.sql
  models/_sector/dex/trades/ethereum/platforms/carbon_defi_ethereum_base_trades.sql
  models/carbon_defi/ethereum/carbon_defi_ethereum_sources.yml
Labels: dex

#4797 Balancer Protocol Fees Spell
  macros/models/_project/balancer/balancer_protocol_fee_macro.sql
  models/balancer/arbitrum/balancer_arbitrum_schema.yml
  models/balancer/arbitrum/balancer_v2_arbitrum_protocol_fee.sql
  models/balancer/avalanche_c/balancer_avalanche_c_schema.yml
  models/balancer/avalanche_c/balancer_v2_avalanche_c_protocol_fee.sql
  models/balancer/balancer_protocol_fee.sql
  models/balancer/balancer_schema.yml
  models/balancer/base/balancer_base_schema.yml
  models/balancer/base/balancer_v2_base_protocol_fee.sql
  models/balancer/ethereum/balancer_ethereum_schema.yml
  models/balancer/ethereum/balancer_v2_ethereum_protocol_fee.sql
  models/balancer/gnosis/balancer_gnosis_schema.yml
  models/balancer/gnosis/balancer_v2_gnosis_protocol_fee.sql
  models/balancer/optimism/balancer_optimism_schema.yml
  models/balancer/optimism/balancer_v2_optimism_protocol_fee.sql
  models/balancer/polygon/balancer_polygon_schema.yml
  models/balancer/polygon/balancer_v2_polygon_protocol_fee.sql
  seeds/dex/trades/dex_trades_seed.csv
Labels: ready-for-merging

#4900 1inch: 1inch swaps view
  macros/models/_project/oneinch/oneinch_lop_macro.sql
  models/oneinch/arbitrum/oneinch_arbitrum_schema.yml
  models/oneinch/avalanche_c/oneinch_avalanche_c_schema.yml
  models/oneinch/base/oneinch_base_schema.yml
  models/oneinch/bnb/oneinch_bnb_schema.yml
  models/oneinch/ethereum/oneinch_ethereum_schema.yml
  models/oneinch/fantom/oneinch_fantom_schema.yml
  models/oneinch/gnosis/oneinch_gnosis_schema.yml
  models/oneinch/oneinch_lop.sql
  models/oneinch/oneinch_schema.yml
  models/oneinch/oneinch_swaps.sql
  models/oneinch/optimism/oneinch_optimism_schema.yml
  models/oneinch/polygon/oneinch_polygon_schema.yml
  models/oneinch/zksync/oneinch_zksync_schema.yml
Labels: ready-for-merging

#4886 [CoW Protocol] Add Rizzolver to solver competition
  models/cow_protocol/ethereum/cow_protocol_ethereum_solvers.sql
Labels: ready-for-merging

#4942 Balancer Spell Explorer Clean Up
  models/balancer/arbitrum/balancer_arbitrum_trades.sql
  models/balancer/arbitrum/balancer_v2_arbitrum_trades.sql
  models/balancer/avalanche_c/balancer_avalanche_c_trades.sql
  models/balancer/avalanche_c/balancer_v2_avalanche_c_trades.sql
  models/balancer/base/balancer_base_trades.sql
  models/balancer/base/balancer_v2_base_trades.sql
  models/balancer/ethereum/balancer_ethereum_trades.sql
  models/balancer/ethereum/balancer_v1_ethereum_trades.sql
  models/balancer/ethereum/balancer_v2_ethereum_trades.sql
  models/balancer/gnosis/balancer_gnosis_trades.sql
  models/balancer/gnosis/balancer_v2_gnosis_trades.sql
  models/balancer/optimism/balancer_optimism_trades.sql
  models/balancer/optimism/balancer_v2_optimism_trades.sql
  models/balancer/polygon/balancer_polygon_trades.sql
  models/balancer/polygon/balancer_v2_polygon_trades.sql
Labels: ready-for-merging

#4948 add GYD to tokens.erc20
  models/tokens/ethereum/tokens_ethereum_erc20.sql
  models/tokens/ethereum/tokens_ethereum_erc20_stablecoins.sql
Labels: ready-for-merging

#4947 Update prices_polygon_tokens.sql
  models/prices/polygon/prices_polygon_tokens.sql
Labels: easy, ready-for-merging

#4945 Update prices_ethereum_tokens.sql
  models/prices/ethereum/prices_ethereum_tokens.sql
Labels: easy, ready-for-merging

#4936 Create `dex_sandwiched`
  macros/models/_sector/dex/dex_sandwiched.sql
  models/dex/chains/dex_arbitrum_sandwiches.sql
  models/dex/chains/dex_schema.yml
  models/dex/chains/mev/sandwiches/dex_arbitrum_sandwiched.sql
  models/dex/chains/mev/sandwiches/dex_avalanche_c_sandwiched.sql
  models/dex/chains/mev/sandwiches/dex_base_sandwiched.sql
  models/dex/chains/mev/sandwiches/dex_bnb_sandwiched.sql
  models/dex/chains/mev/sandwiches/dex_ethereum_sandwiched.sql
  models/dex/chains/mev/sandwiches/dex_fantom_sandwiched.sql
  models/dex/chains/mev/sandwiches/dex_gnosis_sandwiched.sql
  models/dex/chains/mev/sandwiches/dex_optimism_sandwiched.sql
  models/dex/chains/mev/sandwiches/dex_polygon_sandwiched.sql
  models/dex/dex_sandwiched.sql
  models/dex/dex_schema.yml
Labels: dex

#4638 Create `dex.atomic_arbitrages`
  macros/models/_sector/dex/dex_atomic_arbitrages.sql
  models/dex/chains/dex_schema.yml
  models/dex/chains/mev/arbitrages/dex_arbitrum_atomic_arbitrages.sql
  models/dex/chains/mev/arbitrages/dex_avalanche_c_atomic_arbitrages.sql
  models/dex/chains/mev/arbitrages/dex_base_atomic_arbitrages.sql
  models/dex/chains/mev/arbitrages/dex_bnb_atomic_arbitrages.sql
  models/dex/chains/mev/arbitrages/dex_celo_atomic_arbitrages.sql
  models/dex/chains/mev/arbitrages/dex_ethereum_atomic_arbitrages.sql
  models/dex/chains/mev/arbitrages/dex_fantom_atomic_arbitrages.sql
  models/dex/chains/mev/arbitrages/dex_gnosis_atomic_arbitrages.sql
  models/dex/chains/mev/arbitrages/dex_optimism_atomic_arbitrages.sql
  models/dex/chains/mev/arbitrages/dex_polygon_atomic_arbitrages.sql
  models/dex/chains/mev/arbitrages/dex_zksync_atomic_arbitrages.sql
  models/dex/dex_atomic_arbitrages.sql
  models/dex/dex_schema.yml
Labels: dex

#4952 Contracts Fix2: Iterated Contracts Check
  macros/models/_sector/contracts/contracts_base_iterated_creators.sql
  models/_sector/contracts/ethereum/contracts_ethereum_base_iterated_creators.sql
Labels: ready-for-merging

#4913 dex.raw_pools upgrade + delete DOBE, RAM and NPXS from prices
  models/dex/dex_raw_pool_creations.sql
  models/dex/dex_raw_pool_initializations.sql
  models/dex/dex_raw_pools.sql
  models/dex/dex_schema.yml
  models/prices/ethereum/prices_ethereum_tokens.sql
Labels: ready-for-merging

#4941 Create `inscription.deploys` & `inscription.mints`
  macros/models/_sector/inscription/inscription_all.sql
  macros/models/_sector/inscription/inscription_deploys.sql
  macros/models/_sector/inscription/inscription_mints.sql
  models/_sector/inscription/_schema.yml
  models/_sector/inscription/all/_schema.yml
  models/_sector/inscription/all/inscription_arbitrum_all.sql
  models/_sector/inscription/all/inscription_avalanche_c_all.sql
  models/_sector/inscription/all/inscription_base_all.sql
  models/_sector/inscription/all/inscription_bnb_all.sql
  models/_sector/inscription/all/inscription_celo_all.sql
  models/_sector/inscription/all/inscription_ethereum_all.sql
  models/_sector/inscription/all/inscription_fantom_all.sql
  models/_sector/inscription/all/inscription_gnosis_all.sql
  models/_sector/inscription/all/inscription_optimism_all.sql
  models/_sector/inscription/all/inscription_polygon_all.sql
  models/_sector/inscription/all/inscription_zksync_all.sql
  models/_sector/inscription/all/inscription_zora_all.sql
  models/_sector/inscription/deploys/_schema.yml
  models/_sector/inscription/deploys/inscription_arbitrum_deploys.sql
  models/_sector/inscription/deploys/inscription_avalanche_c_deploys.sql
  models/_sector/inscription/deploys/inscription_base_deploys.sql
  models/_sector/inscription/deploys/inscription_bnb_deploys.sql
  models/_sector/inscription/deploys/inscription_celo_deploys.sql
  models/_sector/inscription/deploys/inscription_ethereum_deploys.sql
  models/_sector/inscription/deploys/inscription_fantom_deploys.sql
  models/_sector/inscription/deploys/inscription_gnosis_deploys.sql
  models/_sector/inscription/deploys/inscription_optimism_deploys.sql
  models/_sector/inscription/deploys/inscription_polygon_deploys.sql
  models/_sector/inscription/deploys/inscription_zksync_deploys.sql
  models/_sector/inscription/deploys/inscription_zora_deploys.sql
  models/_sector/inscription/inscription_all.sql
  models/_sector/inscription/inscription_deploys.sql
  models/_sector/inscription/inscription_mints.sql
  models/_sector/inscription/mints/_schema.yml
  models/_sector/inscription/mints/inscription_arbitrum_mints.sql
  models/_sector/inscription/mints/inscription_avalanche_c_mints.sql
  models/_sector/inscription/mints/inscription_base_mints.sql
  models/_sector/inscription/mints/inscription_bnb_mints.sql
  models/_sector/inscription/mints/inscription_celo_mints.sql
  models/_sector/inscription/mints/inscription_ethereum_mints.sql
  models/_sector/inscription/mints/inscription_fantom_mints.sql
  models/_sector/inscription/mints/inscription_gnosis_mints.sql
  models/_sector/inscription/mints/inscription_optimism_mints.sql
  models/_sector/inscription/mints/inscription_polygon_mints.sql
  models/_sector/inscription/mints/inscription_zksync_mints.sql
  models/_sector/inscription/mints/inscription_zora_mints.sql
Labels: ready-for-merging

#4859 Add Trader Joe v2.1 on Avalanche to dex.trades and dex.trades_beta
  macros/models/_sector/dex/trader_joe_compatible_trades.sql
  models/_sector/dex/trades/arbitrum/_schema.yml
  models/_sector/dex/trades/arbitrum/_sources.yml
  models/_sector/dex/trades/arbitrum/dex_arbitrum_base_trades.sql
  models/_sector/dex/trades/arbitrum/platforms/trader_joe_v2_1_arbitrum_base_trades.sql
  models/_sector/dex/trades/arbitrum/platforms/trader_joe_v2_arbitrum_base_trades.sql
  models/_sector/dex/trades/avalanche_c/_schema.yml
  models/_sector/dex/trades/avalanche_c/_sources.yml
  models/_sector/dex/trades/avalanche_c/dex_avalanche_c_base_trades.sql
  models/_sector/dex/trades/avalanche_c/platforms/trader_joe_v1_avalanche_c_base_trades.sql
  models/_sector/dex/trades/avalanche_c/platforms/trader_joe_v2_1_avalanche_c_base_trades.sql
  models/_sector/dex/trades/avalanche_c/platforms/trader_joe_v2_avalanche_c_base_trades.sql
  models/_sector/dex/trades/bnb/_schema.yml
  models/_sector/dex/trades/bnb/_sources.yml
  models/_sector/dex/trades/bnb/dex_bnb_base_trades.sql
  models/_sector/dex/trades/bnb/platforms/trader_joe_v2_1_bnb_base_trades.sql
  models/_sector/dex/trades/bnb/platforms/trader_joe_v2_bnb_base_trades.sql
  models/trader_joe/avalanche_c/trader_joe_avalanche_c_schema.yml
  models/trader_joe/avalanche_c/trader_joe_avalanche_c_sources.yml
  models/trader_joe/avalanche_c/trader_joe_avalanche_c_trades.sql
  models/trader_joe/avalanche_c/trader_joe_v2_1_avalanche_c_trades.sql
  seeds/_sector/dex/trader_joe_avalanche_c_base_trades_seed.csv
  seeds/dex/trades/dex_trades_seed.csv
Labels: ready-for-merging, dex

#4895 Added quickswap to Base trades
  models/_sector/dex/trades/polygon/_schema.yml
  models/_sector/dex/trades/polygon/_sources.yml
  models/_sector/dex/trades/polygon/dex_polygon_base_trades.sql
  models/_sector/dex/trades/polygon/platforms/quickswap_v2_polygon_base_trades.sql
  models/_sector/dex/trades/polygon/platforms/quickswap_v3_polygon_base_trades.sql
  models/quickswap/polygon/quickswap_polygon_sources.yml
Labels: ready-for-merging, dex

#4912 Contracts readme simplifications
  models/_sector/contracts/readme.md
Labels: ready-for-merging

#4878 Simplify Predeploys For OP Chains in Contracts Mapping
  models/_sector/contracts/_schema.yml
  models/_sector/contracts/contracts_predeploys.sql
  models/_sector/contracts/contracts_system_predeploys.sql
  models/_sector/contracts/optimism/_schema.yml
  models/_sector/contracts/optimism/contracts_optimism_system_predeploys.sql
Labels: ready-for-merging

#4862 add tokenlon rfqv2 trades
  models/tokenlon/ethereum/tokenlon_ethereum_schema.yml
  models/tokenlon/ethereum/tokenlon_ethereum_sources.yml
  models/tokenlon/ethereum/tokenlon_ethereum_trades.sql
  models/tokenlon/ethereum/tokenlon_v5_ethereum_rfq_v2_trades.sql
  seeds/dex/aggregator/dex_aggregator_seed.csv
Labels: ready-for-merging, dex

#4847 Add scroll and linea to rollup_economics
  models/rollup_economics/ethereum/l1_data_fees.sql
  models/rollup_economics/ethereum/l1_verification_fees.sql
Labels: ready-for-merging

#4963 add stableswap curvefi
  models/curvefi/ethereum/curvefi_ethereum_sources.yml
  models/curvefi/ethereum/curvefi_ethereum_trades.sql
  models/curvefi/ethereum/curvefi_ethereum_view_pools.sql
Labels: ready-for-merging

#4934 Add known op stack mainnets to evms.info
  models/evms/evms_info.sql
Labels: ready-for-merging

#4920 Add OP SNX - Update bridges_ethereum_addresses.sql
  models/bridges/ethereum/bridges_ethereum_addresses.sql
Labels: ready-for-merging

#4975 `zeroex_polygon_nft_fills_sample` add seed to schema file
  seeds/zeroex/polygon/_schema.yml
  seeds/zeroex/polygon/zeroex_polygon_nft_fills_sample.csv
Labels: hotfix

#4866 Add apeswap_*_base_trades
  models/_sector/dex/trades/bnb/_schema.yml
  models/_sector/dex/trades/bnb/dex_bnb_base_trades.sql
  models/_sector/dex/trades/bnb/platforms/apeswap_bnb_base_trades.sql
  models/_sector/dex/trades/ethereum/_schema.yml
  models/_sector/dex/trades/ethereum/dex_ethereum_base_trades.sql
  models/_sector/dex/trades/ethereum/platforms/apeswap_ethereum_base_trades.sql
  models/_sector/dex/trades/polygon/_schema.yml
  models/_sector/dex/trades/polygon/dex_polygon_base_trades.sql
  models/_sector/dex/trades/polygon/platforms/apeswap_polygon_base_trades.sql
  seeds/_sector/dex/_schema.yml
  seeds/_sector/dex/apeswap_ethereum_base_trades_seed.csv
Labels: ready-for-merging, dex

#4931 Add spiritswap to `dex.trades_beta`
  models/_sector/dex/trades/fantom/_schema.yml
  models/_sector/dex/trades/fantom/_sources.yml
  models/_sector/dex/trades/fantom/dex_fantom_base_trades.sql
  models/_sector/dex/trades/fantom/platforms/spiritswap_fantom_base_trades.sql
  models/spiritswap/fantom/spiritswap_fantom_sources.yml
Labels: ready-for-merging, dex

#4932 Add zipswap to `dex.trades_beta`
  models/_sector/dex/trades/optimism/_schema.yml
  models/_sector/dex/trades/optimism/_sources.yml
  models/_sector/dex/trades/optimism/dex_optimism_base_trades.sql
  models/_sector/dex/trades/optimism/platforms/zipswap_optimism_base_trades.sql
  models/zipswap/optimism/zipswap_optimism_sources.yml
Labels: ready-for-merging, dex

#4935 Reinit Likely Bot Labels OP
  models/labels/addresses/__single_category_labels__/likely_bots/labels_likely_bot_labels.sql
  models/labels/addresses/__single_category_labels__/likely_bots/op_chains/labels_op_chains_likely_bot_addresses.sql
  models/labels/addresses/__single_category_labels__/likely_bots/op_chains/labels_op_chains_likely_bot_contracts.sql
  models/labels/addresses/__single_category_labels__/likely_bots/op_chains/labels_op_chains_likely_bots_schema.yml
Labels: ready-for-merging, labels

#4887 Static Contract Metadata Updates
  models/_sector/contracts/contracts_contract_creator_address_list.sql
  models/_sector/contracts/contracts_contract_overrides.sql
  models/_sector/contracts/contracts_project_name_mappings.sql
  models/tokens/base/tokens_base_erc20.sql
  models/tokens/base/tokens_base_nft_curated.sql
  models/tokens/optimism/tokens_optimism_erc20_curated.sql
  models/tokens/optimism/tokens_optimism_nft_curated.sql
  models/tokens/zora/tokens_zora_nft_curated.sql
Labels: ready-for-merging

#4978 Upgrade check_seed_macro to support multiple values filters.
  macros/test-helpers/check_seed_macro.sql
  models/nexusmutual/ethereum/nexusmutual_ethereum_schema.yml
  seeds/dex/offers/dex_offers_seed.csv
  seeds/zeroex/fantom/zeroex_fantom_api_fills_deduped_sample.csv
  seeds/zeroex/zeroex_api_fills_deduped_sample.csv
  seeds/zeroex/zeroex_api_fills_sample.csv
Labels: ready-for-merging

#4966 Add check_base_trades_seed generic test
  models/_sector/dex/trades/arbitrum/_schema.yml
  models/_sector/dex/trades/avalanche_c/_schema.yml
  models/_sector/dex/trades/base/_schema.yml
  models/_sector/dex/trades/bnb/_schema.yml
  models/_sector/dex/trades/celo/_schema.yml
  models/_sector/dex/trades/ethereum/_schema.yml
  models/_sector/dex/trades/fantom/_schema.yml
  models/_sector/dex/trades/gnosis/_schema.yml
  models/_sector/dex/trades/optimism/_schema.yml
  models/_sector/dex/trades/polygon/_schema.yml
  tests/generic/check_dex_base_trades_seed.sql
Labels: dex

#4946 Update zkSync Era Rollup Economics for Boojum Migration
  models/rollup_economics/ethereum/l1_data_fees.sql
  models/rollup_economics/ethereum/l1_verification_fees.sql
Labels: ready-for-merging, dex

#4977 [EASY]Adding new addresses to `contract_creator_list`
  models/_sector/contracts/contracts_contract_creator_address_list.sql
Labels: ready-for-merging

#4974 Update OP Block Explorer Link
  macros/public/get_chain_explorer.sql
  macros/public/get_chain_explorer_address.sql
  macros/public/get_chain_explorer_tx_hash.sql
  models/evms/evms_info.sql
Labels: ready-for-merging

#4973 adding bridges addresses
  models/labels/addresses/bridge/identifiers/labels_bridges_ethereum.sql
Labels: easy, ready-for-merging

#4983 `labels.infrastructure` remove duplicates
  models/labels/addresses/infrastructure/labels_infrastructure.sql
Labels: hotfix

#4940 Add balancer to `dex.trades_beta`
  macros/models/_sector/dex/balancer_compatible_trades.sql
  models/_sector/dex/trades/arbitrum/_schema.yml
  models/_sector/dex/trades/arbitrum/_sources.yml
  models/_sector/dex/trades/arbitrum/dex_arbitrum_base_trades.sql
  models/_sector/dex/trades/arbitrum/platforms/balancer_v2_arbitrum_base_trades.sql
  models/_sector/dex/trades/avalanche_c/_schema.yml
  models/_sector/dex/trades/avalanche_c/_sources.yml
  models/_sector/dex/trades/avalanche_c/dex_avalanche_c_base_trades.sql
  models/_sector/dex/trades/avalanche_c/platforms/balancer_v2_avalanche_c_base_trades.sql
  models/_sector/dex/trades/base/_schema.yml
  models/_sector/dex/trades/base/_sources.yml
  models/_sector/dex/trades/base/dex_base_base_trades.sql
  models/_sector/dex/trades/base/platforms/balancer_v2_base_base_trades.sql
  models/_sector/dex/trades/dex_base_trades.sql
  models/_sector/dex/trades/dex_trades_beta.sql
  models/_sector/dex/trades/ethereum/_schema.yml
  models/_sector/dex/trades/ethereum/_sources.yml
  models/_sector/dex/trades/ethereum/dex_ethereum_base_trades.sql
  models/_sector/dex/trades/ethereum/platforms/balancer_v1_ethereum_base_trades.sql
  models/_sector/dex/trades/ethereum/platforms/balancer_v2_ethereum_base_trades.sql
  models/_sector/dex/trades/gnosis/_schema.yml
  models/_sector/dex/trades/gnosis/_sources.yml
  models/_sector/dex/trades/gnosis/dex_gnosis_base_trades.sql
  models/_sector/dex/trades/gnosis/platforms/balancer_v2_gnosis_base_trades.sql
  models/_sector/dex/trades/optimism/_schema.yml
  models/_sector/dex/trades/optimism/_sources.yml
  models/_sector/dex/trades/optimism/dex_optimism_base_trades.sql
  models/_sector/dex/trades/optimism/platforms/balancer_v2_optimism_base_trades.sql
  models/_sector/dex/trades/polygon/_schema.yml
  models/_sector/dex/trades/polygon/_sources.yml
  models/_sector/dex/trades/polygon/dex_polygon_base_trades.sql
  models/_sector/dex/trades/polygon/platforms/balancer_v2_polygon_base_trades.sql
  models/balancer/arbitrum/balancer_arbitrum_sources.yml
  models/balancer/avalanche_c/balancer_avalanche_c_sources.yml
  models/balancer/base/balancer_base_sources.yml
  models/balancer/ethereum/balancer_ethereum_sources.yml
  models/balancer/gnosis/balancer_gnosis_sources.yml
  models/balancer/optimism/balancer_optimism_sources.yml
  models/balancer/polygon/balancer_polygon_sources.yml
  seeds/_sector/dex/_schema.yml
  seeds/_sector/dex/balancer_avalanche_c_base_trades_seed.csv
  seeds/_sector/dex/balancer_base_base_trades_seed.csv
Labels: ready-for-merging, dex

#4925 Add shibaswap to `dex.trades_beta`
  models/_sector/dex/trades/ethereum/_schema.yml
  models/_sector/dex/trades/ethereum/_sources.yml
  models/_sector/dex/trades/ethereum/dex_ethereum_base_trades.sql
  models/_sector/dex/trades/ethereum/platforms/shibaswap_v1_ethereum_base_trades.sql
  models/shibaswap/ethereum/shibaswap_ethereum_sources.yml
  seeds/_sector/dex/_schema.yml
  seeds/_sector/dex/shibaswap_ethereum_base_trades_seed.csv
Labels: dex

#4984 Add Celo & zkSync to dex.[sandwiches, sandwiched]
  models/dex/chains/dex_schema.yml
  models/dex/chains/mev/sandwiches/dex_celo_sandwiched.sql
  models/dex/chains/mev/sandwiches/dex_celo_sandwiches.sql
  models/dex/chains/mev/sandwiches/dex_zksync_sandwiched.sql
  models/dex/chains/mev/sandwiches/dex_zksync_sandwiches.sql
  models/dex/dex_sandwiched.sql
  models/dex/dex_sandwiches.sql
  models/dex/dex_schema.yml
Labels: ready-for-merging, dex

#4979 1inch: LOP + AR macros updates (2/2; +ethereum&polygon)
  models/oneinch/ethereum/oneinch_ethereum_ar.sql
  models/oneinch/ethereum/oneinch_ethereum_lop.sql
  models/oneinch/oneinch_ar.sql
  models/oneinch/oneinch_lop.sql
  models/oneinch/oneinch_schema.yml
  models/oneinch/polygon/oneinch_polygon_ar.sql
  models/oneinch/polygon/oneinch_polygon_lop.sql
Labels: ready-for-merging

#4971 Fix "interval" syntax in SQL query example in Contract Mapping
  models/_sector/contracts/readme.md
Labels: easy

#4985 Contracts - Add Arbitrum One
  models/_sector/contracts/arbitrum/_schema.yml
  models/_sector/contracts/arbitrum/contracts_arbitrum_base_iterated_creators.sql
  models/_sector/contracts/arbitrum/contracts_arbitrum_base_starting_level.sql
  models/_sector/contracts/arbitrum/contracts_arbitrum_contract_mapping.sql
  models/_sector/contracts/arbitrum/contracts_arbitrum_find_self_destruct_contracts.sql
  models/_sector/contracts/contracts_contract_mapping.sql
Labels: ready-for-merging

#4962 Add Calldata to Rollup Economics L1 Data (and create function)
  macros/public/evm_get_calldata_gas_from_data.sql
  macros/public/public_macros_schema.yml
  models/rollup_economics/ethereum/l1_data_fees.sql
  models/rollup_economics/ethereum/l1_verification_fees.sql
  models/rollup_economics/ethereum/rollup_economics_ethereum_schema.yml
Labels: ready-for-merging

#4928 Add honeyswap to `dex.trades_beta`
  models/_sector/dex/trades/gnosis/_schema.yml
  models/_sector/dex/trades/gnosis/_sources.yml
  models/_sector/dex/trades/gnosis/dex_gnosis_base_trades.sql
  models/_sector/dex/trades/gnosis/platforms/honeyswap_v2_gnosis_base_trades.sql
  models/_sector/dex/trades/polygon/_schema.yml
  models/_sector/dex/trades/polygon/_sources.yml
  models/_sector/dex/trades/polygon/dex_polygon_base_trades.sql
  models/_sector/dex/trades/polygon/platforms/honeyswap_v2_polygon_base_trades.sql
  models/honeyswap/gnosis/honeyswap_gnosis_sources.yml
  seeds/_sector/dex/_schema.yml
  seeds/_sector/dex/honeyswap_gnosis_base_trades_seed.csv
  seeds/_sector/dex/honeyswap_polygon_base_trades_seed.csv
Labels: ready-for-merging, dex

#4988 Revert "Add Calldata to Rollup Economics L1 Data (and create function…
  macros/public/evm_get_calldata_gas_from_data.sql
  macros/public/public_macros_schema.yml
  models/rollup_economics/ethereum/l1_data_fees.sql
  models/rollup_economics/ethereum/l1_verification_fees.sql
  models/rollup_economics/ethereum/rollup_economics_ethereum_schema.yml
Labels: hotfix

#4990 Revert "Add honeyswap to `dex.trades_beta` (#4928)"
  models/_sector/dex/trades/gnosis/_schema.yml
  models/_sector/dex/trades/gnosis/_sources.yml
  models/_sector/dex/trades/gnosis/dex_gnosis_base_trades.sql
  models/_sector/dex/trades/gnosis/platforms/honeyswap_v2_gnosis_base_trades.sql
  models/_sector/dex/trades/polygon/_schema.yml
  models/_sector/dex/trades/polygon/_sources.yml
  models/_sector/dex/trades/polygon/dex_polygon_base_trades.sql
  models/_sector/dex/trades/polygon/platforms/honeyswap_v2_polygon_base_trades.sql
  models/honeyswap/gnosis/honeyswap_gnosis_sources.yml
  seeds/_sector/dex/_schema.yml
  seeds/_sector/dex/honeyswap_gnosis_base_trades_seed.csv
  seeds/_sector/dex/honeyswap_polygon_base_trades_seed.csv
Labels: hotfix

#4972 Add bancor to `dex.trades_beta`
  models/_sector/dex/trades/ethereum/_schema.yml
  models/_sector/dex/trades/ethereum/_sources.yml
  models/_sector/dex/trades/ethereum/dex_ethereum_base_trades.sql
  models/_sector/dex/trades/ethereum/platforms/bancor_ethereum_base_trades.sql
  models/bancor/ethereum/bancor_ethereum_sources.yml
Labels: ready-for-merging, dex

#4923 Add babyswap to `dex.trades_beta`
  models/_sector/dex/trades/bnb/_schema.yml
  models/_sector/dex/trades/bnb/_sources.yml
  models/_sector/dex/trades/bnb/dex_bnb_base_trades.sql
  models/_sector/dex/trades/bnb/platforms/babyswap_bnb_base_trades.sql
  models/babyswap/bnb/babyswap_bnb_sources.yml
Labels: ready-for-merging, dex

#4930 Add spookyswap to `dex.trades_beta`
  models/_sector/dex/trades/fantom/_schema.yml
  models/_sector/dex/trades/fantom/_sources.yml
  models/_sector/dex/trades/fantom/dex_fantom_base_trades.sql
  models/_sector/dex/trades/fantom/platforms/spookyswap_fantom_base_trades.sql
  models/spookyswap/fantom/spookyswap_fantom_source.yml
Labels: ready-for-merging, dex

#4924 Add biswap to `dex.trades_beta`
  models/_sector/dex/trades/bnb/_schema.yml
  models/_sector/dex/trades/bnb/_sources.yml
  models/_sector/dex/trades/bnb/dex_bnb_base_trades.sql
  models/_sector/dex/trades/bnb/platforms/biswap_v2_bnb_base_trades.sql
  models/_sector/dex/trades/bnb/platforms/biswap_v3_bnb_base_trades.sql
  models/biswap/bnb/biswap_bnb_sources.yml
Labels: ready-for-merging, dex

#4993 adding VELO price (Optimism)
  models/prices/optimism/prices_optimism_tokens_curated.sql
Labels: ready-for-merging

#4987 add crosschain `tokens.transfers`
  macros/models/_sector/tokens/transfers_enrich.sql
  models/_sector/tokens/_schema.yml
  models/_sector/tokens/tokens_transfers.sql
Labels: dune team

#4992 Fix three incorrect blockchain references
  models/arbswap/arbswap_trades.sql
  models/op/optimism/op_optimism_airdrop_1_claims.sql
  models/velodrome/optimism/velodrome_optimism_airdrop_claims.sql
Labels: ready-for-merging, do not merge

#4996 Add back arbitrum contract mapping & honeyswap dex
  models/_sector/contracts/arbitrum/_schema.yml
  models/_sector/contracts/arbitrum/contracts_arbitrum_base_iterated_creators.sql
  models/_sector/contracts/arbitrum/contracts_arbitrum_base_starting_level.sql
  models/_sector/contracts/arbitrum/contracts_arbitrum_contract_mapping.sql
  models/_sector/contracts/arbitrum/contracts_arbitrum_find_self_destruct_contracts.sql
  models/_sector/contracts/contracts_contract_mapping.sql
  models/_sector/dex/trades/gnosis/_schema.yml
  models/_sector/dex/trades/gnosis/_sources.yml
  models/_sector/dex/trades/gnosis/dex_gnosis_base_trades.sql
  models/_sector/dex/trades/gnosis/platforms/honeyswap_v2_gnosis_base_trades.sql
  models/_sector/dex/trades/polygon/_schema.yml
  models/_sector/dex/trades/polygon/_sources.yml
  models/_sector/dex/trades/polygon/dex_polygon_base_trades.sql
  models/_sector/dex/trades/polygon/platforms/honeyswap_v2_polygon_base_trades.sql
  models/honeyswap/gnosis/honeyswap_gnosis_sources.yml
  seeds/_sector/dex/_schema.yml
  seeds/_sector/dex/honeyswap_gnosis_base_trades_seed.csv
  seeds/_sector/dex/honeyswap_polygon_base_trades_seed.csv
Labels: ready-for-merging, hotfix

#4989 Fix Calldata / Rollup Economics Union issue
  macros/public/evm_get_calldata_gas_from_data.sql
  macros/public/public_macros_schema.yml
  models/rollup_economics/ethereum/l1_data_fees.sql
  models/rollup_economics/ethereum/l1_verification_fees.sql
  models/rollup_economics/ethereum/rollup_economics_ethereum_schema.yml
Labels: ready-for-merging

#4995 add crosschain `tokens.transfers`
  macros/models/_sector/tokens/transfers_enrich.sql
  models/_sector/tokens/_schema.yml
  models/_sector/tokens/tokens_transfers.sql
Labels: ready-for-review, dune team

#5001 fix: Broken contributing link on README
  README.md
Labels: ready-for-merging

#4922 Add fraxswap to `dex.trades_beta`
  models/_sector/dex/trades/avalanche_c/_schema.yml
  models/_sector/dex/trades/avalanche_c/_sources.yml
  models/_sector/dex/trades/avalanche_c/dex_avalanche_c_base_trades.sql
  models/_sector/dex/trades/avalanche_c/platforms/fraxswap_avalanche_c_base_trades.sql
  models/_sector/dex/trades/bnb/_schema.yml
  models/_sector/dex/trades/bnb/_sources.yml
  models/_sector/dex/trades/bnb/dex_bnb_base_trades.sql
  models/_sector/dex/trades/bnb/platforms/fraxswap_bnb_base_trades.sql
  models/_sector/dex/trades/ethereum/_schema.yml
  models/_sector/dex/trades/ethereum/_sources.yml
  models/_sector/dex/trades/ethereum/dex_ethereum_base_trades.sql
  models/_sector/dex/trades/ethereum/platforms/fraxswap_ethereum_base_trades.sql
  models/_sector/dex/trades/polygon/_schema.yml
  models/_sector/dex/trades/polygon/_sources.yml
  models/_sector/dex/trades/polygon/dex_polygon_base_trades.sql
  models/_sector/dex/trades/polygon/platforms/fraxswap_polygon_base_trades.sql
  models/fraxswap/avalanche_c/fraxswap_avalanche_c_sources.yml
  models/fraxswap/bnb/fraxswap_bnb_sources.yml
  models/fraxswap/ethereum/fraxswap_ethereum_sources.yml
  models/fraxswap/polygon/fraxswap_polygon_sources.yml
Labels: ready-for-merging, dex

#4997 Adding velo price
  models/prices/optimism/prices_optimism_tokens_curated.sql
Labels: ready-for-merging

#4929 Add mdex to `dex.trades_beta`
  models/_sector/dex/trades/bnb/_schema.yml
  models/_sector/dex/trades/bnb/_sources.yml
  models/_sector/dex/trades/bnb/dex_bnb_base_trades.sql
  models/_sector/dex/trades/bnb/platforms/mdex_bnb_base_trades.sql
  models/mdex/bnb/mdex_bnb_sources.yml
Labels: dex

#5012 Add wardenswap to `dex.trades_beta`
  models/_sector/dex/trades/optimism/_schema.yml
  models/_sector/dex/trades/optimism/_sources.yml
  models/_sector/dex/trades/optimism/dex_optimism_base_trades.sql
  models/_sector/dex/trades/optimism/platforms/wardenswap_optimism_base_trades.sql
  models/wardenswap/optimism/wardenswap_optimism_sources.yml
Labels: dex

#5013 Add wigoswap to `dex.trades_beta`
  models/_sector/dex/trades/fantom/_schema.yml
  models/_sector/dex/trades/fantom/_sources.yml
  models/_sector/dex/trades/fantom/dex_fantom_base_trades.sql
  models/_sector/dex/trades/fantom/platforms/wigoswap_fantom_base_trades.sql
  models/wigoswap/fantom/wigoswap_fantom_sources.yml
Labels: dex

#5010 Add ImmortalX to `dex.trades_beta`
  models/_sector/dex/trades/celo/_schema.yml
  models/_sector/dex/trades/celo/_sources.yml
  models/_sector/dex/trades/celo/dex_celo_base_trades.sql
  models/_sector/dex/trades/celo/platforms/immortalx_celo_base_trades.sql
  models/dex/dex_info.sql
  seeds/_sector/dex/_schema.yml
  seeds/_sector/dex/immortalx_celo_base_trades_seed.csv
Labels: dex

#5011 Add verse_dex to `dex.trades_beta`
  models/_sector/dex/trades/ethereum/_schema.yml
  models/_sector/dex/trades/ethereum/_sources.yml
  models/_sector/dex/trades/ethereum/dex_ethereum_base_trades.sql
  models/_sector/dex/trades/ethereum/platforms/verse_dex_ethereum_base_trades.sql
  models/verse_dex/ethereum/verse_dex_ethereum_sources.yml
Labels: dex

#5015 Add wombat to `dex.trades_beta`
  models/_sector/dex/trades/bnb/_schema.yml
  models/_sector/dex/trades/bnb/_sources.yml
  models/_sector/dex/trades/bnb/dex_bnb_base_trades.sql
  models/_sector/dex/trades/bnb/platforms/wombat_bnb_base_trades.sql
  models/wombat/bnb/wombat_bnb_sources.yml
Labels: dex

#5035 Add PHAR to tokens_avalanche_c_erc20.sql
  models/tokens/avalanche_c/tokens_avalanche_c_erc20.sql
Labels: ready-for-merging

#5033 Add HoldStation token - zksync
  models/prices/zksync/prices_zksync_tokens.sql
Labels: ready-for-merging

#5022 Quick update for Balancer Protocol Fee Spell
  macros/models/_project/balancer/balancer_protocol_fee_macro.sql
Labels: ready-for-merging

#5038 add NPM token
  models/tokens/arbitrum/tokens_arbitrum_erc20.sql
  models/tokens/bnb/tokens_bnb_bep20.sql
  models/tokens/ethereum/tokens_ethereum_erc20.sql
  models/tokens/polygon/tokens_polygon_erc20.sql
Labels: ready-for-merging

#5024 Add Mirror on OP and Base to the referral.rewards spell
  macros/models/_sector/referral/platforms/mirror_referral_rewards.sql
  models/_sector/referral/rewards/platforms/_schema.yml
  models/_sector/referral/rewards/platforms/_sources.yml
  models/_sector/referral/rewards/platforms/mirror_base_rewards.sql
  models/_sector/referral/rewards/platforms/mirror_optimism_rewards.sql
  models/_sector/referral/rewards/referral_staging_rewards.sql
  seeds/_sector/referral/_schema.yml
  seeds/_sector/referral/mirror_base_rewards_seed.csv
  seeds/_sector/referral/mirror_optimism_rewards_seed.csv
Labels: ready-for-merging

#5009 lido.liquidity adding new pools
  models/lido/lido_liquidity.sql
  models/lido/liquidity/ethereum/lido_liquidity_ethereum_balancer_pools.sql
  models/lido/liquidity/ethereum/lido_liquidity_ethereum_solidly_pools.sql
  models/lido/liquidity/ethereum/lido_liquidity_ethereum_sources.yml
Labels: ready-for-merging

#4960 Balancer Liquidity Update
  macros/models/_project/balancer/balancer_liquidity_macro.sql
  models/balancer/arbitrum/balancer_arbitrum_pools_tokens_weights.sql
  models/balancer/arbitrum/balancer_arbitrum_schema.yml
  models/balancer/arbitrum/balancer_v2_arbitrum_liquidity.sql
  models/balancer/arbitrum/balancer_v2_arbitrum_pools_tokens_weights.sql
  models/balancer/avalanche_c/balancer_avalanche_c_pools_tokens_weights.sql
  models/balancer/avalanche_c/balancer_avalanche_c_schema.yml
  models/balancer/avalanche_c/balancer_v2_avalanche_c_liquidity.sql
  models/balancer/avalanche_c/balancer_v2_avalanche_c_pools_tokens_weights.sql
  models/balancer/balancer_liquidity.sql
  models/balancer/balancer_pools_tokens_weights.sql
  models/balancer/balancer_schema.yml
  models/balancer/balancer_token_whitelist.sql
  models/balancer/base/balancer_base_pools_tokens_weights.sql
  models/balancer/base/balancer_base_schema.yml
  models/balancer/base/balancer_v2_base_liquidity.sql
  models/balancer/base/balancer_v2_base_pools_tokens_weights.sql
  models/balancer/ethereum/balancer_ethereum_pools_tokens_weights.sql
  models/balancer/ethereum/balancer_ethereum_schema.yml
  models/balancer/ethereum/balancer_v1_ethereum_liquidity.sql
  models/balancer/ethereum/balancer_v1_ethereum_pools_tokens_weights.sql
  models/balancer/ethereum/balancer_v2_ethereum_liquidity.sql
  models/balancer/ethereum/balancer_v2_ethereum_pools_tokens_weights.sql
  models/balancer/gnosis/balancer_gnosis_pools_tokens_weights.sql
  models/balancer/gnosis/balancer_gnosis_schema.yml
  models/balancer/gnosis/balancer_v2_gnosis_liquidity.sql
  models/balancer/gnosis/balancer_v2_gnosis_pools_tokens_weights.sql
  models/balancer/optimism/balancer_optimism_pools_tokens_weights.sql
  models/balancer/optimism/balancer_optimism_schema.yml
  models/balancer/optimism/balancer_v2_optimism_liquidity.sql
  models/balancer/optimism/balancer_v2_optimism_pools_tokens_weights.sql
  models/balancer/polygon/balancer_polygon_pools_tokens_weights.sql
  models/balancer/polygon/balancer_polygon_schema.yml
  models/balancer/polygon/balancer_v2_polygon_liquidity.sql
  models/balancer/polygon/balancer_v2_polygon_pools_tokens_weights.sql
Labels: ready-for-merging

#4907 Added firebird_finance dex
  models/dex/dex_aggregator_trades.sql
  models/firebird_finance/optimism/firebird_finance_optimism_schema.yml
  models/firebird_finance/optimism/firebird_finance_optimism_sources.yml
  models/firebird_finance/optimism/firebird_finance_optimism_trades.sql
  seeds/dex/aggregator/dex_aggregator_seed.csv
Labels: ready-for-merging, dex

#5041 fix balancer schemas
  models/balancer/arbitrum/balancer_arbitrum_pools_tokens_weights.sql
  models/balancer/avalanche_c/balancer_avalanche_c_pools_tokens_weights.sql
  models/balancer/ethereum/balancer_ethereum_pools_tokens_weights.sql
  models/balancer/gnosis/balancer_gnosis_pools_tokens_weights.sql
  models/balancer/optimism/balancer_optimism_pools_tokens_weights.sql
  models/balancer/polygon/balancer_polygon_pools_tokens_weights.sql
Labels: ready-for-merging, hotfix

#5028 1inch: lineage refactoring part 3
  macros/models/_project/oneinch/oneinch_blockchain_macro.sql
  macros/models/_project/oneinch/oneinch_call_transfers_macro.sql
  macros/models/_project/oneinch/oneinch_calls_macro.sql
  models/oneinch/_meta/oneinch_blockchains.sql
  models/oneinch/arbitrum/oneinch_arbitrum_blockchain.sql
  models/oneinch/arbitrum/oneinch_arbitrum_schema.yml
  models/oneinch/avalanche_c/oneinch_avalanche_c_blockchain.sql
  models/oneinch/base/oneinch_base_blockchain.sql
  models/oneinch/bnb/oneinch_bnb_blockchain.sql
  models/oneinch/ethereum/oneinch_ethereum_blockchain.sql
  models/oneinch/fantom/oneinch_fantom_blockchain.sql
  models/oneinch/gnosis/oneinch_gnosis_blockchain.sql
  models/oneinch/oneinch_calls.sql
  models/oneinch/oneinch_fusion_settlements.sql
  models/oneinch/oneinch_schema.yml
  models/oneinch/oneinch_swaps.sql
  models/oneinch/optimism/oneinch_optimism_blockchain.sql
  models/oneinch/polygon/oneinch_polygon_blockchain.sql
  models/oneinch/zksync/oneinch_zksync_blockchain.sql
Labels: ready-for-merging

#5060 Add FLD to tokens_avalanche_c_erc20.sql
  models/tokens/avalanche_c/tokens_avalanche_c_erc20.sql
Labels: easy, ready-for-merging

#5048 Revert adding ImmortalX to `dex.trades_beta`
  models/_sector/dex/trades/celo/_schema.yml
  models/_sector/dex/trades/celo/_sources.yml
  models/_sector/dex/trades/celo/dex_celo_base_trades.sql
  models/_sector/dex/trades/celo/platforms/immortalx_celo_base_trades.sql
  models/dex/dex_info.sql
  seeds/_sector/dex/_schema.yml
  seeds/_sector/dex/immortalx_celo_base_trades_seed.csv
Labels: dex, ready-for-final-review
