Repository duneanalytics/spellbook, pull requests merged in 2023-09, with the labels that each got.

#4169 Celo erc20 transfer aggs
  models/transfers/celo/erc20/transfers_celo_erc20.sql
  models/transfers/celo/erc20/transfers_celo_erc20_agg_day.sql
  models/transfers/celo/erc20/transfers_celo_erc20_agg_day_legacy.sql
  models/transfers/celo/erc20/transfers_celo_erc20_agg_hour.sql
  models/transfers/celo/erc20/transfers_celo_erc20_agg_hour_legacy.sql
  models/transfers/celo/erc20/transfers_celo_erc20_rolling_day.sql
  models/transfers/celo/erc20/transfers_celo_erc20_rolling_day_legacy.sql
  models/transfers/celo/erc20/transfers_celo_erc20_rolling_hour.sql
  models/transfers/celo/erc20/transfers_celo_erc20_rolling_hour_legacy.sql
  models/transfers/celo/transfers_celo_schema.yml
Labels: ready-for-merging

#4221 prod bug: fix schema file on tokemak
  models/tokemak/ethereum/tokemak_ethereum_schema.yml
Labels: dune team, hotfix

#3984 T-32183 curvefi migration
  models/curvefi/avalanche_c/curvefi_avalanche_c_schema.yml
  models/curvefi/avalanche_c/curvefi_avalanche_c_sources.yml
  models/curvefi/avalanche_c/curvefi_avalanche_c_trades.sql
  models/curvefi/curvefi_trades.sql
  models/curvefi/curvefi_trades_schema.yml
  models/curvefi/ethereum/curvefi_ethereum_pool_details.sql
  models/curvefi/ethereum/curvefi_ethereum_schema.yml
  models/curvefi/ethereum/curvefi_ethereum_sources.yml
  models/curvefi/ethereum/curvefi_ethereum_trades.sql
  models/curvefi/ethereum/curvefi_ethereum_view_pools.sql
  models/curvefi/fantom/curvefi_fantom_pool_tokens.sql
  models/curvefi/fantom/curvefi_fantom_schema.yml
  models/curvefi/fantom/curvefi_fantom_trades.sql
  models/curvefi/optimism/curvefi_optimism_gauge_mappings.sql
  models/curvefi/optimism/curvefi_optimism_pools.sql
  models/curvefi/optimism/curvefi_optimism_schema.yml
  models/curvefi/optimism/curvefi_optimism_trades.sql
  models/curvefi/readme.md
  models/dex/dex_trades_migration_beta.sql
  tests/curvefi/ethereum/curvefi_ethereum_view_pools_test.sql
Labels: dune team, dex, DuneSQL migration

#4224 fix prod: `dex_arbitrum.sandwiches` column alias in incremental read
  models/dex/arbitrum/dex_arbitrum_sandwiches_legacy.sql
Labels: dune team, hotfix

#4203 [Easy] Static OP Updates
  models/contracts/optimism/contracts_optimism_contract_creator_address_list.sql
  models/contracts/optimism/contracts_optimism_contract_overrides.sql
  models/contracts/optimism/contracts_optimism_project_name_mappings.sql
  models/tokens/optimism/tokens_optimism_erc20_curated.sql
  models/tokens/optimism/tokens_optimism_erc20_curated_legacy.sql
  models/tokens/optimism/tokens_optimism_nft_curated.sql
  models/tokens/optimism/tokens_optimism_nft_curated_legacy.sql
Labels: ready-for-merging

#4034 zeroex - base [FOR REVIEW]
  models/zeroex/base/zeroex_base_api_fills.sql
  models/zeroex/base/zeroex_base_api_fills_deduped.sql
  models/zeroex/base/zeroex_base_api_fills_legacy.sql
  models/zeroex/base/zeroex_base_api_fills_schema.yml
  models/zeroex/base/zeroex_base_sources.yml
  seeds/zeroex/base/_schema.yml
  seeds/zeroex/base/zeroex_base_api_fills_sample.csv
  tests/zeroex/base/zeroex_base_api_fills_test.sql
Labels: ready-for-merging

#4076 Dex Aggregator Migration - #4 - Bebop - ready for review
  models/bebop/arbitrum/bebop_arbitrum_schema.yml
  models/bebop/arbitrum/bebop_arbitrum_trades.sql
  models/bebop/bebop_trades.sql
  models/bebop/bebop_trades_schema.yml
  models/bebop/ethereum/bebop_ethereum_schema.yml
  models/bebop/ethereum/bebop_ethereum_trades.sql
  models/bebop/polygon/bebop_polygon_schema.yml
  models/bebop/polygon/bebop_polygon_trades.sql
  seeds/dex/aggregator/_schema.yml
  seeds/dex/aggregator/dex_aggregator_seed.csv
Labels: ready-for-merging, dex, DuneSQL migration

#4195 Balances for Bitcoin chain
  models/balances/bitcoin/balances_bitcoin_satoshi_day.sql
  models/balances/bitcoin/balances_bitcoin_satoshi_day_legacy.sql
  models/balances/bitcoin/balances_bitcoin_schema.yml
  models/base_sources/bitcoin_base_sources.yml
  models/transfers/bitcoin/transfers_bitcoin_satoshi.sql
  models/transfers/bitcoin/transfers_bitcoin_satoshi_agg_day.sql
  models/transfers/bitcoin/transfers_bitcoin_satoshi_agg_day_legacy.sql
  models/transfers/bitcoin/transfers_bitcoin_satoshi_legacy.sql
  models/transfers/bitcoin/transfers_bitcoin_satoshi_rolling_day.sql
  models/transfers/bitcoin/transfers_bitcoin_satoshi_rolling_day_legacy.sql
  models/transfers/bitcoin/transfers_bitcoin_schema.yml
Labels: ready-for-merging

#4222 [easy] Mod Contracts Token Standard Inequality
  macros/models/contracts/contract_creator_project_mapping.sql
Labels: easy, ready-for-merging

#4230 Static OP & Base Token Updates
  models/prices/base/prices_base_tokens.sql
  models/prices/optimism/prices_optimism_tokens_curated.sql
  models/tokens/base/tokens_base_erc20.sql
  models/tokens/optimism/tokens_optimism_erc20_curated.sql
  scripts/test_token_checker.py
  scripts/token_checker.py
Labels: ready-for-merging

#4186 Celo erc721/1155 transfers
  models/transfers/celo/erc1155/transfers_celo_erc1155.sql
  models/transfers/celo/erc1155/transfers_celo_erc1155_agg_day.sql
  models/transfers/celo/erc1155/transfers_celo_erc1155_agg_day_legacy.sql
  models/transfers/celo/erc1155/transfers_celo_erc1155_agg_hour.sql
  models/transfers/celo/erc1155/transfers_celo_erc1155_agg_hour_legacy.sql
  models/transfers/celo/erc1155/transfers_celo_erc1155_legacy.sql
  models/transfers/celo/erc1155/transfers_celo_erc1155_rolling_day.sql
  models/transfers/celo/erc1155/transfers_celo_erc1155_rolling_day_legacy.sql
  models/transfers/celo/erc1155/transfers_celo_erc1155_rolling_hour.sql
  models/transfers/celo/erc1155/transfers_celo_erc1155_rolling_hour_legacy.sql
  models/transfers/celo/erc1155/transfers_celo_erc1155_schema.yml
  models/transfers/celo/erc721/transfers_celo_erc721.sql
  models/transfers/celo/erc721/transfers_celo_erc721_agg_day.sql
  models/transfers/celo/erc721/transfers_celo_erc721_agg_day_legacy.sql
  models/transfers/celo/erc721/transfers_celo_erc721_agg_hour.sql
  models/transfers/celo/erc721/transfers_celo_erc721_agg_hour_legacy.sql
  models/transfers/celo/erc721/transfers_celo_erc721_legacy.sql
  models/transfers/celo/erc721/transfers_celo_erc721_rolling_day.sql
  models/transfers/celo/erc721/transfers_celo_erc721_rolling_day_legacy.sql
  models/transfers/celo/erc721/transfers_celo_erc721_rolling_hour.sql
  models/transfers/celo/erc721/transfers_celo_erc721_rolling_hour_legacy.sql
  models/transfers/celo/erc721/transfers_celo_erc721_schema.yml
Labels: ready-for-merging

#4256 Revert "Balances for Bitcoin chain (#4195)"
  models/balances/bitcoin/balances_bitcoin_satoshi_day.sql
  models/balances/bitcoin/balances_bitcoin_satoshi_day_legacy.sql
  models/balances/bitcoin/balances_bitcoin_schema.yml
  models/base_sources/bitcoin_base_sources.yml
  models/transfers/bitcoin/transfers_bitcoin_satoshi.sql
  models/transfers/bitcoin/transfers_bitcoin_satoshi_agg_day.sql
  models/transfers/bitcoin/transfers_bitcoin_satoshi_agg_day_legacy.sql
  models/transfers/bitcoin/transfers_bitcoin_satoshi_legacy.sql
  models/transfers/bitcoin/transfers_bitcoin_satoshi_rolling_day.sql
  models/transfers/bitcoin/transfers_bitcoin_satoshi_rolling_day_legacy.sql
  models/transfers/bitcoin/transfers_bitcoin_schema.yml
Labels: hotfix

#4254 [Easy] - Fix Element Polygon MATIC Price
  models/_sector/nft/trades/old/platforms/element_polygon_events_legacy.sql
Labels: ready-for-merging, NFT

#4271 re-add: Balances for Bitcoin chain (#4195)
  models/balances/bitcoin/balances_bitcoin_satoshi_day.sql
  models/balances/bitcoin/balances_bitcoin_satoshi_day_legacy.sql
  models/balances/bitcoin/balances_bitcoin_schema.yml
  models/base_sources/bitcoin_base_sources.yml
  models/transfers/bitcoin/transfers_bitcoin_satoshi.sql
  models/transfers/bitcoin/transfers_bitcoin_satoshi_agg_day.sql
  models/transfers/bitcoin/transfers_bitcoin_satoshi_agg_day_legacy.sql
  models/transfers/bitcoin/transfers_bitcoin_satoshi_legacy.sql
  models/transfers/bitcoin/transfers_bitcoin_satoshi_rolling_day.sql
  models/transfers/bitcoin/transfers_bitcoin_satoshi_rolling_day_legacy.sql
  models/transfers/bitcoin/transfers_bitcoin_schema.yml
Labels: ready-for-merging, dune team, hotfix

#4236 Dex Pools Migration - Ready for review
  models/dex/dex_pools.sql
  models/equalizer_exchange/fantom/equalizer_exchange_fantom_pools.sql
  models/spartacus_exchange/fantom/spartacus_exchange_fantom_pools.sql
  models/spiritswap/fantom/spiritswap_fantom_pools.sql
  models/spookyswap/fantom/spookyswap_fantom_pools.sql
  models/wigoswap/fantom/wigoswap_fantom_pools.sql
Labels: ready-for-merging, dex

#3959 Add an new ENS Reverse Registrar address
  models/ens/ens_reverse_latest.sql
Labels: ready-for-merging

#4275 Update maker_ethereum_accounting_legacy.sql
  models/maker/ethereum/maker_ethereum_accounting_legacy.sql
Labels: ready-for-merging

#4277 Add CyberConnect's token CYBER
  models/tokens/bnb/tokens_bnb_bep20.sql
  models/tokens/ethereum/tokens_ethereum_erc20.sql
Labels: ready-for-merging

#4255 OP Contracts - Mod Trace Creator Logic
  models/contracts/optimism/contracts_optimism_contract_mapping.sql
Labels: ready-for-merging

#4253 base: legacy trades & offers
  models/rubicon/rubicon_offers_legacy.sql
  models/rubicon/rubicon_trades_legacy.sql
Labels: ready-for-merging

#4252 Add astaria v0.5 & remove beta - Ready for review
  models/astaria/ethereum/astaria_ethereum_daily_deposits.sql
  models/astaria/ethereum/astaria_ethereum_events.sql
  models/astaria/ethereum/astaria_ethereum_lending.sql
  models/astaria/ethereum/astaria_ethereum_sources.yml
  seeds/astaria/astaria_lending_seed.csv
Labels: ready-for-merging

#4246 Make first activity.to crosschain - Ready for review
  models/addresses_events/addresses_events_first_activity.sql
  models/addresses_events/addresses_events_first_activity_legacy.sql
  models/addresses_events/addresses_events_schema.yml
  models/addresses_events/arbitrum/addresses_events_arbitrum_first_activity.sql
  models/addresses_events/arbitrum/addresses_events_arbitrum_first_activity_legacy.sql
  models/addresses_events/arbitrum/addresses_events_arbitrum_schema.yml
  models/addresses_events/avalanche_c/addresses_events_avalanche_c_first_activity.sql
  models/addresses_events/avalanche_c/addresses_events_avalanche_c_first_activity_legacy.sql
  models/addresses_events/avalanche_c/addresses_events_avalanche_c_schema.yml
  models/addresses_events/bnb/addresses_events_bnb_first_activity.sql
  models/addresses_events/bnb/addresses_events_bnb_first_activity_legacy.sql
  models/addresses_events/bnb/addresses_events_bnb_schema.yml
  models/addresses_events/ethereum/addresses_events_ethereum_first_activity.sql
  models/addresses_events/ethereum/addresses_events_ethereum_first_activity_legacy.sql
  models/addresses_events/ethereum/addresses_events_ethereum_schema.yml
  models/addresses_events/fantom/addresses_events_fantom_first_activity.sql
  models/addresses_events/fantom/addresses_events_fantom_first_activity_legacy.sql
  models/addresses_events/fantom/addresses_events_fantom_schema.yml
  models/addresses_events/gnosis/addresses_events_gnosis_first_activity.sql
  models/addresses_events/gnosis/addresses_events_gnosis_first_activity_legacy.sql
  models/addresses_events/gnosis/addresses_events_gnosis_schema.yml
  models/addresses_events/polygon/addresses_events_polygon_first_activity.sql
  models/addresses_events/polygon/addresses_events_polygon_first_activity_legacy.sql
  models/addresses_events/polygon/addresses_events_polygon_schema.yml
  seeds/addresses_events/first_activity_seed.csv
Labels: ready-for-merging

#4245 add major base token prices
  models/prices/base/prices_base_tokens.sql
  models/tokens/base/tokens_base_erc20.sql
Labels: ready-for-merging

#4226 [easy] Velodrome - Fix Version Mapping
  models/velodrome/optimism/velodrome_optimism_trades.sql
Labels: ready-for-merging

#4220 Contract Creator Address Mapping Update
  models/contracts/contracts_contract_creator_address_list.sql
Labels: ready-for-merging

#4283 Add PNDC to Tokens
  models/tokens/ethereum/tokens_ethereum_erc20.sql
  models/tokens/ethereum/tokens_ethereum_erc20_legacy.sql
Labels: ready-for-merging

#4284 Fix bug causing wrong token_bought_amount_raw
  models/shibaswap/ethereum/shibaswap_ethereum_trades.sql
Labels: ready-for-merging, hotfix

#4290 SPE-7 migrate dex offers
  models/dex/dex_offers.sql
Labels: dex, DuneSQL migration

#4225 Add Aerodrome to Base dex trades
  dbt_project.yml
  models/aerodrome/base/aerodrome_base_bribe_mappings.sql
  models/aerodrome/base/aerodrome_base_bribe_mappings_legacy.sql
  models/aerodrome/base/aerodrome_base_schema.yml
  models/aerodrome/base/aerodrome_base_sources.yml
  models/aerodrome/base/aerodrome_base_trades.sql
  models/aerodrome/base/aerodrome_base_trades_legacy.sql
  models/dex/dex_trades_migration_beta.sql
  seeds/dex/trades/dex_trades_seed.csv
Labels: ready-for-merging, dex

#4259 Polygon ERC20 & Matic balances - Ready for Review
  dbt_project.yml
  models/balances/polygon/erc20/balances_polygon_erc20_day.sql
  models/balances/polygon/erc20/balances_polygon_erc20_day_legacy.sql
  models/balances/polygon/erc20/balances_polygon_erc20_hour.sql
  models/balances/polygon/erc20/balances_polygon_erc20_hour_legacy.sql
  models/balances/polygon/erc20/balances_polygon_erc20_latest.sql
  models/balances/polygon/erc20/balances_polygon_erc20_latest_legacy.sql
  models/balances/polygon/erc20/balances_polygon_erc20_noncompliant.sql
  models/balances/polygon/erc20/balances_polygon_erc20_noncompliant_legacy.sql
  models/balances/polygon/erc20/balances_polygon_erc20_schema.yml
  models/balances/polygon/matic/balances_polygon_matic_day.sql
  models/balances/polygon/matic/balances_polygon_matic_day_legacy.sql
  models/balances/polygon/matic/balances_polygon_matic_hour.sql
  models/balances/polygon/matic/balances_polygon_matic_hour_legacy.sql
  models/balances/polygon/matic/balances_polygon_matic_latest.sql
  models/balances/polygon/matic/balances_polygon_matic_latest_legacy.sql
  models/balances/polygon/matic/balances_polygon_matic_schema.yml
  models/transfers/polygon/erc20/transfers_polygon_erc20.sql
  models/transfers/polygon/erc20/transfers_polygon_erc20_agg_day.sql
  models/transfers/polygon/erc20/transfers_polygon_erc20_agg_day_legacy.sql
  models/transfers/polygon/erc20/transfers_polygon_erc20_agg_hour.sql
  models/transfers/polygon/erc20/transfers_polygon_erc20_agg_hour_legacy.sql
  models/transfers/polygon/erc20/transfers_polygon_erc20_rolling_day.sql
  models/transfers/polygon/erc20/transfers_polygon_erc20_rolling_day_legacy.sql
  models/transfers/polygon/erc20/transfers_polygon_erc20_rolling_hour.sql
  models/transfers/polygon/erc20/transfers_polygon_erc20_rolling_hour_legacy.sql
  models/transfers/polygon/erc20/transfers_polygon_erc20_schema.yml
  models/transfers/polygon/erc20/transfers_polygon_erc20_sources.yml
  models/transfers/polygon/erc20/transfers_polygon_schema.yml
  models/transfers/polygon/matic/transfers_polygon_matic.sql
  models/transfers/polygon/matic/transfers_polygon_matic_agg_day.sql
  models/transfers/polygon/matic/transfers_polygon_matic_agg_day_legacy.sql
  models/transfers/polygon/matic/transfers_polygon_matic_agg_hour.sql
  models/transfers/polygon/matic/transfers_polygon_matic_agg_hour_legacy.sql
  models/transfers/polygon/matic/transfers_polygon_matic_legacy.sql
  models/transfers/polygon/matic/transfers_polygon_matic_rolling_day.sql
  models/transfers/polygon/matic/transfers_polygon_matic_rolling_day_legacy.sql
  models/transfers/polygon/matic/transfers_polygon_matic_rolling_hour.sql
  models/transfers/polygon/matic/transfers_polygon_matic_rolling_hour_legacy.sql
  models/transfers/polygon/matic/transfers_polygon_matic_schema.yml
  tests/balances/polygon/balances_polygon_erc20_day_assert_nonnegative.sql
  tests/balances/polygon/balances_polygon_erc20_hour_assert_nonnegative.sql
  tests/transfers/polygon/transfers_polygon_erc20_test.sql
Labels: ready-for-review

#4250 Add CEX & staking entities
  models/cex/ethereum/cex_ethereum_addresses.sql
  models/staking/ethereum/staking_ethereum_entities.sql
  models/staking/ethereum/staking_ethereum_entities_darma_capital.sql
  models/staking/ethereum/staking_ethereum_entities_darma_capital_legacy.sql
  models/staking/ethereum/staking_ethereum_schema.yml
Labels: ready-for-merging

#4316 `zeroex_polygon_native_fills` fix column order in union
  models/zeroex/polygon/zeroex_polygon_native_fills.sql
  seeds/zeroex/polygon/zeroex_polygon_native_fills_sample.csv
Labels: dune team, hotfix

#4268 More Contracts & OP Static Updates
  models/contracts/contracts_contract_creator_address_list.sql
  models/contracts/contracts_contract_overrides.sql
  models/contracts/optimism/contracts_optimism_contract_creator_address_list.sql
  models/contracts/optimism/contracts_optimism_contract_overrides.sql
  models/tokens/optimism/tokens_optimism_erc20_curated.sql
  models/tokens/optimism/tokens_optimism_nft_curated.sql
Labels: easy, ready-for-merging

#4108 Create `fungible.transfers` (grouping native and ERC20 transfers + some more info)
  macros/models/_sector/fungible/fungible_transfers.sql
  models/fungible/chains/fungible_arbitrum_transfers.sql
  models/fungible/chains/fungible_arbitrum_transfers_legacy.sql
  models/fungible/chains/fungible_avalanche_c_transfers.sql
  models/fungible/chains/fungible_avalanche_c_transfers_legacy.sql
  models/fungible/chains/fungible_base_transfers.sql
  models/fungible/chains/fungible_base_transfers_legacy.sql
  models/fungible/chains/fungible_bnb_transfers.sql
  models/fungible/chains/fungible_bnb_transfers_legacy.sql
  models/fungible/chains/fungible_ethereum_transfers.sql
  models/fungible/chains/fungible_ethereum_transfers_legacy.sql
  models/fungible/chains/fungible_fantom_transfers.sql
  models/fungible/chains/fungible_fantom_transfers_legacy.sql
  models/fungible/chains/fungible_gnosis_transfers.sql
  models/fungible/chains/fungible_gnosis_transfers_legacy.sql
  models/fungible/chains/fungible_optimism_transfers.sql
  models/fungible/chains/fungible_optimism_transfers_legacy.sql
  models/fungible/chains/fungible_polygon_transfers.sql
  models/fungible/chains/fungible_polygon_transfers_legacy.sql
  models/fungible/chains/fungible_schema.yml
  models/fungible/fungible_schema.yml
  models/fungible/fungible_transfers.sql
  models/fungible/fungible_transfers_legacy.sql
Labels: ready-for-merging

#4051 SPE-19 Aggregator Migration - #6 - OpenOcean
  models/openocean/avalanche_c/openocean_avalanche_c_schema.yml
  models/openocean/avalanche_c/openocean_avalanche_c_trades.sql
  models/openocean/avalanche_c/openocean_v2_avalanche_c_trades.sql
  models/openocean/fantom/openocean_fantom_schema.yml
  models/openocean/fantom/openocean_fantom_trades.sql
  models/openocean/fantom/openocean_v2_fantom_trades.sql
  models/openocean/openocean_trades.sql
  models/openocean/openocean_trades_schema.yml
  seeds/dex/aggregator/dex_aggregator_seed.csv
Labels: dex, DuneSQL migration

#4294 Flashloans Migration - #1 - Aave - Ready for review
  models/aave/aave_flashloans.sql
  models/aave/aave_schema.yml
  models/aave/arbitrum/aave_arbitrum_flashloans.sql
  models/aave/arbitrum/aave_arbitrum_schema.yml
  models/aave/arbitrum/aave_v3_arbitrum_flashloans.sql
  models/aave/avalanche_c/aave_avalanche_c_flashloans.sql
  models/aave/avalanche_c/aave_avalanche_c_schema.yml
  models/aave/avalanche_c/aave_v2_avalanche_c_flashloans.sql
  models/aave/avalanche_c/aave_v3_avalanche_c_flashloans.sql
  models/aave/ethereum/aave_ethereum_flashloans.sql
  models/aave/ethereum/aave_ethereum_schema.yml
  models/aave/ethereum/aave_v1_ethereum_flashloans.sql
  models/aave/ethereum/aave_v2_ethereum_flashloans.sql
  models/aave/ethereum/aave_v3_ethereum_flashloans.sql
  models/aave/fantom/aave_fantom_flashloans.sql
  models/aave/fantom/aave_fantom_schema.yml
  models/aave/fantom/aave_v3_fantom_flashloans.sql
  models/aave/optimism/aave_optimism_flashloans.sql
  models/aave/optimism/aave_optimism_schema.yml
  models/aave/optimism/aave_v3_optimism_flashloans.sql
  models/aave/polygon/aave_polygon_flashloans.sql
  models/aave/polygon/aave_polygon_schema.yml
  models/aave/polygon/aave_v2_polygon_flashloans.sql
  models/aave/polygon/aave_v3_polygon_flashloans.sql
Labels: ready-for-merging, DuneSQL migration

#4295 Flashloans Migration - #2 - Balancer - Ready for Review
  models/balancer/arbitrum/balancer_arbitrum_schema.yml
  models/balancer/arbitrum/balancer_v2_arbitrum_flashloans.sql
  models/balancer/balancer_flashloans.sql
  models/balancer/balancer_schema.yml
  models/balancer/ethereum/balancer_ethereum_schema.yml
  models/balancer/ethereum/balancer_v2_ethereum_flashloans.sql
  models/balancer/gnosis/balancer_gnosis_schema.yml
  models/balancer/gnosis/balancer_v2_gnosis_flashloans.sql
  models/balancer/optimism/balancer_optimism_schema.yml
  models/balancer/optimism/balancer_v2_optimism_flashloans.sql
  models/balancer/polygon/balancer_polygon_schema.yml
  models/balancer/polygon/balancer_v2_polygon_flashloans.sql
Labels: ready-for-merging, DuneSQL migration

#4296 Flashloans Migration - #3 - Dydx - Ready for Review
  models/dydx/ethereum/dydx_ethereum_flashloans.sql
  models/dydx/ethereum/dydx_ethereum_schema.yml
Labels: ready-for-merging, DuneSQL migration

#4297 Flashloans Migration - #4 - Uniswap - Ready For Review
  models/uniswap/arbitrum/uniswap_arbitrum_schema.yml
  models/uniswap/arbitrum/uniswap_v3_arbitrum_flashloans.sql
  models/uniswap/bnb/uniswap_bnb_schema.yml
  models/uniswap/bnb/uniswap_v3_bnb_flashloans.sql
  models/uniswap/ethereum/uniswap_ethereum_schema.yml
  models/uniswap/ethereum/uniswap_v3_ethereum_flashloans.sql
  models/uniswap/optimism/uniswap_optimism_schema.yml
  models/uniswap/optimism/uniswap_v3_optimism_flashloans.sql
  models/uniswap/polygon/uniswap_polygon_schema.yml
  models/uniswap/polygon/uniswap_v3_polygon_flashloans.sql
  models/uniswap/uniswap_flashloans.sql
  models/uniswap/uniswap_schema.yml
Labels: ready-for-merging, DuneSQL migration

#4298 Flashloans Migration - #5 - Euler - Ready for review
  models/euler/ethereum/euler_ethereum_flashloans.sql
  models/euler/ethereum/euler_ethereum_schema.yml
Labels: ready-for-merging, DuneSQL migration

#4299 Flashloans Migration - #6 - Maker - Ready for review
  models/maker/ethereum/maker_ethereum_flashloans.sql
  models/maker/ethereum/maker_ethereum_schema.yml
Labels: ready-for-merging, DuneSQL migration

#4300 Flashloans Migration - #7 - Synapse - Ready for review
  models/synapse/arbitrum/synapse_arbitrum_flashloans.sql
  models/synapse/arbitrum/synapse_arbitrum_schema.yml
  models/synapse/avalanche_c/synapse_avalanche_c_flashloans.sql
  models/synapse/avalanche_c/synapse_avalanche_c_schema.yml
  models/synapse/bnb/synapse_bnb_flashloans.sql
  models/synapse/bnb/synapse_bnb_schema.yml
  models/synapse/ethereum/synapse_ethereum_flashloans.sql
  models/synapse/ethereum/synapse_ethereum_schema.yml
  models/synapse/fantom/synapse_fantom_flashloans.sql
  models/synapse/fantom/synapse_fantom_schema.yml
  models/synapse/optimism/synapse_optimism_flashloans.sql
  models/synapse/optimism/synapse_optimism_schema.yml
  models/synapse/polygon/synapse_polygon_flashloans.sql
  models/synapse/polygon/synapse_polygon_schema.yml
  models/synapse/synapse_flashloans.sql
  models/synapse/synapse_schema.yml
Labels: ready-for-merging, DuneSQL migration

#4301 Flashloans Migration - #8 - FiatDao - Ready for review
  models/fiat_dao/ethereum/fiat_dao_ethereum_flashloans.sql
  models/fiat_dao/ethereum/fiat_dao_ethereum_schema.yml
Labels: ready-for-merging, DuneSQL migration

#4302 Flashloans Migration - #9 - Equalizer - Ready for review
  models/equalizer/bnb/equalizer_bnb_flashloans.sql
  models/equalizer/bnb/equalizer_bnb_schema.yml
  models/equalizer/equalizer_flashloans.sql
  models/equalizer/equalizer_schema.yml
  models/equalizer/ethereum/equalizer_ethereum_flashloans.sql
  models/equalizer/ethereum/equalizer_ethereum_schema.yml
  models/equalizer/optimism/equalizer_optimism_flashloans.sql
  models/equalizer/optimism/equalizer_optimism_schema.yml
  models/equalizer/polygon/equalizer_polygon_flashloans.sql
  models/equalizer/polygon/equalizer_polygon_schema.yml
Labels: ready-for-merging, DuneSQL migration

#3743 Split Blur v1 into Blur v1 & Blur seaport
  models/_sector/nft/trades/ethereum/platforms/_schema.yml
  models/_sector/nft/trades/ethereum/platforms/blur_ethereum_base_trades.sql
  models/_sector/nft/trades/ethereum/platforms/blur_seaport_ethereum_base_trades.sql
  models/_sector/nft/trades/ethereum/platforms/legacy/blur_seaport_dummy.sql
  models/_sector/nft/trades/nft_ethereum_trades_beta.sql
  seeds/_sector/nft/_schema.yml
  seeds/_sector/nft/blur_ethereum_base_trades_seed.csv
  seeds/_sector/nft/blur_seaport_ethereum_base_trades_seed.csv
  seeds/_sector/nft/blur_v2_ethereum_base_trades_seed.csv
Labels: ready-for-merging, NFT

#4326 remove cryptopunks.all_events (unnused)
  models/cryptopunks/ethereum/cryptopunks_ethereum_all_events.sql
  models/cryptopunks/ethereum/cryptopunks_ethereum_all_events_legacy.sql
  models/cryptopunks/ethereum/cryptopunks_ethereum_schema.yml
Labels: NFT, DuneSQL migration

#4328 add blockchain to beta filter in nft.events
  models/_sector/nft/trades/nft_events.sql
Labels: ready-for-merging, hotfix

#4303 SPE-6 Flashloans Migration - #10 - Main Table - Relies on prev models
  models/balancer/balancer_flashloans.sql
  models/balancer/balancer_schema.yml
  models/dex/dex_flashloans.sql
  models/dex/dex_schema.yml
  models/euler/ethereum/euler_ethereum_flashloans.sql
  models/fiat_dao/ethereum/fiat_dao_ethereum_flashloans.sql
  models/synapse/arbitrum/synapse_arbitrum_flashloans.sql
  models/synapse/avalanche_c/synapse_avalanche_c_flashloans.sql
  models/synapse/bnb/synapse_bnb_flashloans.sql
  models/synapse/ethereum/synapse_ethereum_flashloans.sql
  models/synapse/fantom/synapse_fantom_flashloans.sql
  models/synapse/optimism/synapse_optimism_flashloans.sql
  models/synapse/polygon/synapse_polygon_flashloans.sql
  models/synapse/synapse_flashloans.sql
  models/uniswap/celo/uniswap_celo_schema.yml
  models/uniswap/celo/uniswap_v3_celo_flashloans.sql
  models/uniswap/uniswap_flashloans.sql
  models/uniswap/uniswap_schema.yml
Labels: in review, DuneSQL migration

#4238 [Dunesql] Migrate DEX Incentive Mappings
  models/balancer/balancer_gauge_mappings.sql
  models/balancer/optimism/balancer_optimism_gauge_mappings.sql
  models/dex/dex_incentive_mappings.sql
Labels: easy, ready-for-final-review

#4075 zeroex - refactor eth models [FOR REVIEW]
  models/zeroex/ethereum/zeroex_ethereum_api_fills.sql
  models/zeroex/ethereum/zeroex_ethereum_api_fills_deduped.sql
  profiles.yml
  seeds/zeroex/ethereum/_schema.yml
  seeds/zeroex/ethereum/zeroex_ethereum_api_fills_sample.csv
Labels: in review, DuneSQL migration

#4325 migrate nft_linked_addresses
  models/nft/nft_linked_addresses.sql
Labels: NFT, DuneSQL migration

#4293 Remove pepepepe1 coin from prices
  models/prices/ethereum/prices_ethereum_tokens.sql
  models/prices/ethereum/prices_ethereum_tokens_legacy.sql
Labels: in review, dune team, hotfix

#4360 [Easy] Add ERC-20 missing tokens
  models/tokens/ethereum/tokens_ethereum_erc20.sql
  models/tokens/ethereum/tokens_ethereum_erc20_legacy.sql
Labels: ready-for-merging

#4371 Migrate labels with dependencies solved
  models/labels/addresses/__single_category_labels__/balancer_v1/labels_balancer_v1_pools.sql
  models/labels/addresses/__single_category_labels__/balancer_v1/labels_balancer_v1_pools_ethereum.sql
  models/labels/addresses/__single_category_labels__/balancer_v2/labels_balancer_v2_gauges.sql
  models/labels/addresses/__single_category_labels__/balancer_v2/labels_balancer_v2_gauges_arbitrum.sql
  models/labels/addresses/__single_category_labels__/balancer_v2/labels_balancer_v2_gauges_ethereum.sql
  models/labels/addresses/__single_category_labels__/balancer_v2/labels_balancer_v2_gauges_optimism.sql
  models/labels/addresses/__single_category_labels__/balancer_v2/labels_balancer_v2_gauges_polygon.sql
  models/labels/addresses/__single_category_labels__/cex_users/labels_cex_users.sql
  models/labels/addresses/__single_category_labels__/op_retropgf/labels_op_retropgf.sql
  models/labels/addresses/__single_category_labels__/project_wallets/labels_project_wallets.sql
  models/labels/addresses/__single_category_labels__/safe/labels_safe.sql
  models/labels/addresses/__single_category_labels__/safe/labels_safe_ethereum.sql
Labels: labels, DuneSQL migration

#4370 add celo to fungible transfers - ready for review
  models/fungible/chains/fungible_celo_transfers.sql
  models/fungible/chains/fungible_celo_transfers_legacy.sql
  models/fungible/chains/fungible_schema.yml
Labels: ready-for-review, balances

#4307 More CEX addresses
  models/cex/ethereum/cex_ethereum_addresses.sql
Labels: easy, ready-for-merging

#4382 Fixing solana.latest_balances, adding sns_domains and total_rewards, adding WBTC/JitoSOL
  models/solana_utils/solana_utils_daily_balances.sql
  models/solana_utils/solana_utils_daily_balances_legacy.sql
  models/solana_utils/solana_utils_latest_balances.sql
  models/solana_utils/solana_utils_schema.yml
  models/solana_utils/solana_utils_sns_domains.sql
  models/solana_utils/solana_utils_token_accounts.sql
  models/solana_utils/solana_utils_total_rewards.sql
  models/tokens/solana/tokens_solana_fungible.sql
  models/tokens/solana/tokens_solana_fungible_legacy.sql
Labels: ready-for-review

#4392 migrate nft.wash_trades view
  models/nft/nft_wash_trades.sql
  seeds/nft/nft_seeds_schema.yml
  seeds/nft/nft_wash_trades_refactor_seed.csv
  tests/nft/nft_wash_trades_refactor_test.sql
Labels: easy, NFT, DuneSQL migration

#4397 SPE-114 Migrate remaining ENS models
  models/ens/ens_ethereum_proposals.sql
  models/ens/ens_ethereum_votes.sql
  models/ens/ens_view_registries.sql
  models/ens/ens_view_renewals.sql
  seeds/ens/_schema.yml
  seeds/ens/ens_view_registries_postgres.csv
Labels: DuneSQL migration

#4404 `DODO` > `dodo` & `Bancor Network` > `bancor`, changing to lowercase for consistency across `dex.trades` entries
  models/bancor/ethereum/bancor_ethereum_trades.sql
  models/bancor/ethereum/bancor_ethereum_trades_legacy.sql
  models/dodo/arbitrum/dodo_aggregator_arbitrum_trades_legacy.sql
  models/dodo/arbitrum/dodo_pools_arbitrum_trades.sql
  models/dodo/arbitrum/dodo_pools_arbitrum_trades_legacy.sql
  models/dodo/bnb/dodo_aggregator_bnb_trades_legacy.sql
  models/dodo/bnb/dodo_pools_bnb_trades.sql
  models/dodo/bnb/dodo_pools_bnb_trades_legacy.sql
  models/dodo/ethereum/dodo_aggregator_ethereum_trades_legacy.sql
  models/dodo/ethereum/dodo_pools_ethereum_trades.sql
  models/dodo/ethereum/dodo_pools_ethereum_trades_legacy.sql
  models/dodo/optimism/dodo_aggregator_optimism_trades_legacy.sql
  models/dodo/optimism/dodo_pools_optimism_trades.sql
  models/dodo/optimism/dodo_pools_optimism_trades_legacy.sql
  models/dodo/polygon/dodo_aggregator_polygon_trades_legacy.sql
  models/dodo/polygon/dodo_pools_polygon_trades.sql
  models/dodo/polygon/dodo_pools_polygon_trades_legacy.sql
  seeds/dex/trades/dex_trades_seed.csv
  seeds/dex/trades/dex_trades_seed_legacy.csv
Labels: ready-for-review, dex

#4367 SPE-107Migrate aave supply, borrow, and interest rates
  models/aave/ethereum/aave_ethereum_borrow.sql
  models/aave/ethereum/aave_ethereum_interest_rates.sql
  models/aave/ethereum/aave_ethereum_proposals.sql
  models/aave/ethereum/aave_ethereum_supply.sql
  models/aave/ethereum/aave_ethereum_votes.sql
  models/aave/ethereum/aave_v1_ethereum_borrow.sql
  models/aave/ethereum/aave_v1_ethereum_supply.sql
  models/aave/ethereum/aave_v2_ethereum_borrow.sql
  models/aave/ethereum/aave_v2_ethereum_interest_rates.sql
  models/aave/ethereum/aave_v2_ethereum_supply.sql
  models/aave/optimism/aave_optimism_borrow.sql
  models/aave/optimism/aave_optimism_interest_rates.sql
  models/aave/optimism/aave_optimism_supply.sql
  models/aave/optimism/aave_v3_optimism_borrow.sql
  models/aave/optimism/aave_v3_optimism_interest_rates.sql
  models/aave/optimism/aave_v3_optimism_supply.sql
  tests/aave/ethereum/aave_borrow_test.sql
  tests/aave/ethereum/aave_interests_test.sql
  tests/aave/ethereum/aave_supply_test.sql
  tests/aave/optimism/aave_optimism_borrow_test.sql
  tests/aave/optimism/aave_optimism_interests_test.sql
  tests/aave/optimism/aave_optimism_supply_test.sql
Labels: ready-for-review, DuneSQL migration

#4415 fix orca aToB missing decoding
  models/orca_whirlpool/orca_whirlpool_trades.sql
Labels: ready-for-review

#4391 add GLTR token
  models/prices/polygon/prices_polygon_tokens.sql
Labels: easy, ready-for-merging

#4419 adapt equality test to handle null = null
  macros/test-helpers/check_seed_macro.sql
Labels: ready-for-review

#4421 Migrate Gitcoin
  models/gitcoin/ethereum/gitcoin_ethereum_donations.sql
  models/gitcoin/ethereum/gitcoin_ethereum_proposals.sql
  models/gitcoin/ethereum/gitcoin_ethereum_votes.sql
  models/gitcoin/gitcoin_donations.sql
  models/gitcoin/gitcoin_grant_round_dates.sql
  models/gitcoin/polygon/gitcoin_polygon_donations.sql
Labels: ready-for-review, DuneSQL migration

#4388 Update Bebop - ready for review
  models/bebop/arbitrum/bebop_arbitrum_schema.yml
  models/bebop/arbitrum/bebop_arbitrum_sources.yml
  models/bebop/arbitrum/bebop_arbitrum_trades.sql
  models/bebop/ethereum/bebop_ethereum_schema.yml
  models/bebop/ethereum/bebop_ethereum_sources.yml
  models/bebop/ethereum/bebop_ethereum_trades.sql
  models/bebop/polygon/bebop_polygon_schema.yml
  models/bebop/polygon/bebop_polygon_sources.yml
  models/bebop/polygon/bebop_polygon_trades.sql
  seeds/dex/aggregator/dex_aggregator_seed.csv
Labels: ready-for-merging, dex

#4381 cleanup + shutdown of legacy nft.approvals
  macros/models/_sector/nft/nft_approvals.sql
  models/_sector/nft/approvals/_schema.yml
  models/_sector/nft/approvals/chains/_schema.yml
  models/_sector/nft/approvals/chains/nft_arbitrum_approvals.sql
  models/_sector/nft/approvals/chains/nft_avalanche_c_approvals.sql
  models/_sector/nft/approvals/chains/nft_base_approvals.sql
  models/_sector/nft/approvals/chains/nft_bnb_approvals.sql
  models/_sector/nft/approvals/chains/nft_celo_approvals.sql
  models/_sector/nft/approvals/chains/nft_ethereum_approvals.sql
  models/_sector/nft/approvals/chains/nft_fantom_approvals.sql
  models/_sector/nft/approvals/chains/nft_gnosis_approvals.sql
  models/_sector/nft/approvals/chains/nft_goerli_approvals.sql
  models/_sector/nft/approvals/chains/nft_optimism_approvals.sql
  models/_sector/nft/approvals/chains/nft_polygon_approvals.sql
  models/_sector/nft/approvals/legacy/nft_approvals_legacy.sql
  models/_sector/nft/approvals/legacy/nft_arbitrum_approvals_legacy.sql
  models/_sector/nft/approvals/legacy/nft_avalanche_c_approvals_legacy.sql
  models/_sector/nft/approvals/legacy/nft_base_approvals_legacy.sql
  models/_sector/nft/approvals/legacy/nft_bnb_approvals_legacy.sql
  models/_sector/nft/approvals/legacy/nft_celo_approvals_legacy.sql
  models/_sector/nft/approvals/legacy/nft_fantom_approvals_legacy.sql
  models/_sector/nft/approvals/legacy/nft_gnosis_approvals_legacy.sql
  models/_sector/nft/approvals/legacy/nft_goerli_approvals_legacy.sql
  models/_sector/nft/approvals/legacy/nft_optimism_approvals_legacy.sql
  models/_sector/nft/approvals/legacy/nft_polygon_approvals_legacy.sql
  models/_sector/nft/approvals/nft_approvals.sql
  models/nft/arbitrum/nft_arbitrum_schema.yml
  models/nft/avalanche_c/nft_avalanche_c_schema.yml
  models/nft/base/nft_base_schema.yml
  models/nft/bnb/nft_bnb_schema.yml
  models/nft/celo/nft_celo_schema.yml
  models/nft/ethereum/nft_ethereum_schema.yml
  models/nft/fantom/nft_fantom_schema.yml
  models/nft/gnosis/nft_gnosis_schema.yml
  models/nft/goerli/nft_goerli_schema.yml
  models/nft/nft_schema.yml
  models/nft/optimism/nft_optimism_schema.yml
  models/nft/polygon/nft_polygon_schema.yml
Labels: ready-for-merging, NFT, DuneSQL migration

#4403 Create `dex.info`
  models/dex/dex_info.sql
  models/dex/dex_schema.yml
Labels: easy, ready-for-merging, dex

#4345 OP & BASE Static Updates
  models/contracts/contracts_contract_creator_address_list.sql
  models/contracts/optimism/contracts_optimism_contract_creator_address_list.sql
  models/contracts/optimism/contracts_optimism_contract_creator_address_list_legacy.sql
  models/tokens/base/tokens_base_erc20.sql
  models/tokens/optimism/tokens_optimism_erc20_curated.sql
  models/tokens/optimism/tokens_optimism_erc20_curated_legacy.sql
  models/tokens/optimism/tokens_optimism_nft_curated.sql
Labels: ready-for-merging

#4412 fix: update reverse_latest to new tables
  models/ens/ens_ethereum_sources.yml
  models/ens/ens_resolver_records.sql
  models/ens/ens_reverse_latest.sql
Labels: ready-for-merging

#4406 Added opx_finance optimism trades to dex_trades.sql
  dbt_project.yml
  models/dex/dex_trades.sql
  models/opx_finance/optimism/opx_finance_optimism_schema.yml
  models/opx_finance/optimism/opx_finance_optimism_sources.yml
  models/opx_finance/optimism/opx_finance_optimism_trades.sql
  models/opx_finance/optimism/opx_finance_optimism_trades_legacy.sql
  seeds/dex/trades/dex_trades_seed.csv
  tests/dex/dex_trades_assert_freshness.sql
Labels: ready-for-merging, dex

#4428 hack to refresh all seeds by using the PR body
  .github/workflows/dbt_slim_ci.yml
Labels: ready-for-merging

#4425 SPE-116 Migrate ironbank
  models/ironbank/ethereum/ironbank_ethereum_borrow.sql
  models/ironbank/ethereum/ironbank_ethereum_itokens.sql
  models/ironbank/ethereum/ironbank_ethereum_liquidation.sql
  models/ironbank/ethereum/ironbank_ethereum_mint.sql
  models/ironbank/ethereum/ironbank_ethereum_redeem.sql
  models/ironbank/ethereum/ironbank_ethereum_repay.sql
  models/ironbank/optimism/ironbank_optimism_borrow.sql
  models/ironbank/optimism/ironbank_optimism_itokens.sql
  models/ironbank/optimism/ironbank_optimism_liquidation.sql
  models/ironbank/optimism/ironbank_optimism_mint.sql
  models/ironbank/optimism/ironbank_optimism_redeem.sql
  models/ironbank/optimism/ironbank_optimism_repay.sql
Labels: ready-for-merging, DuneSQL migration

#4378 lido liquidity: pools adding
  models/lido/lido_liquidity.sql
  models/lido/liquidity/arbitrum/lido_liquidity_arbitrum_balancer_pools.sql
  models/lido/liquidity/arbitrum/lido_liquidity_arbitrum_kyberswap_v2_pools.sql
  models/lido/liquidity/arbitrum/lido_liquidity_arbitrum_sources.yml
  models/lido/liquidity/ethereum/lido_liquidity_ethereum_balancer_pools.sql
  models/lido/liquidity/ethereum/lido_liquidity_ethereum_kyberswap_v2_pools.sql
  models/lido/liquidity/ethereum/lido_liquidity_ethereum_pancakeswap_v3_pools.sql
  models/lido/liquidity/ethereum/lido_liquidity_ethereum_sources.yml
  models/lido/liquidity/optimism/lido_liquidity_optimism_kyberswap_v2_pools.sql
  models/lido/liquidity/optimism/lido_liquidity_optimism_schema.yml
  models/lido/liquidity/optimism/lido_liquidity_optimism_sources.yml
  models/lido/liquidity/optimism/lido_liquidity_optimism_velodrome_v2_pools.sql
  models/lido/liquidity/polygon/lido_liquidity_balancer_sources.yml
  models/lido/liquidity/polygon/lido_liquidity_polygon_kyberswap_v2_pools.sql
  models/lido/liquidity/polygon/lido_liquidity_polygon_schema.yml
  models/lido/liquidity/polygon/lido_liquidity_polygon_sources.yml
  models/lido/liquidity/polygon/lido_liquidity_polygon_uniswap_v3_pools.sql
Labels: ready-for-merging

#4390 lido accounting upstream spell migration
  models/lido/lido_accounting.sql
Labels: ready-for-merging

#4285 zeroex - refactor Optimism
  models/zeroex/optimism/zeroex_optimism_api_fills.sql
  models/zeroex/optimism/zeroex_optimism_api_fills_deduped.sql
  models/zeroex/optimism/zeroex_optimism_schema.yml
  seeds/zeroex/optimism/_schema.yml
  seeds/zeroex/optimism/zeroex_optimism_api_fills_deduped_sample.csv
  seeds/zeroex/optimism/zeroex_optimism_api_fills_sample.csv
  seeds/zeroex/polygon/zeroex_polygon_api_fills_sample.csv
Labels: dex

#4273 zeroex - refactor poly
  models/zeroex/polygon/zeroex_polygon_api_fills.sql
  models/zeroex/polygon/zeroex_polygon_api_fills_deduped.sql
  models/zeroex/polygon/zeroex_polygon_schema.yml
  seeds/zeroex/optimism/zeroex_optimism_api_fills_sample.csv
  seeds/zeroex/polygon/_schema.yml
  seeds/zeroex/polygon/zeroex_polygon_api_fills_deduped_sample.csv
  seeds/zeroex/polygon/zeroex_polygon_api_fills_sample.csv
Labels: dex

#4410 Migrate zeroex spells
  models/zeroex/arbitrum/zeroex_arbitrum_api_fills.sql
  models/zeroex/arbitrum/zeroex_arbitrum_api_fills_deduped.sql
  models/zeroex/arbitrum/zeroex_arbitrum_schema.yml
  models/zeroex/avalanche_c/zeroex_avalanche_c_api_fills.sql
  models/zeroex/avalanche_c/zeroex_avalanche_c_api_fills_deduped.sql
  models/zeroex/avalanche_c/zeroex_avalanche_c_schema.yml
  models/zeroex/ethereum/zeroex_ethereum_api_fills.sql
  models/zeroex/ethereum/zeroex_ethereum_api_fills_deduped.sql
  models/zeroex/ethereum/zeroex_ethereum_schema.yml
  models/zeroex/fantom/zeroex_fantom_api_fills.sql
  models/zeroex/fantom/zeroex_fantom_api_fills_deduped.sql
  models/zeroex/fantom/zeroex_fantom_schema.yml
  seeds/zeroex/arbitrum/_schema.yml
  seeds/zeroex/arbitrum/zeroex_arbitrum_api_fills_deduped_sample.csv
  seeds/zeroex/arbitrum/zeroex_arbitrum_api_fills_sample.csv
  seeds/zeroex/avalanche_c/_schema.yml
  seeds/zeroex/avalanche_c/zeroex_avalanche_c_api_fills_deduped_sample.csv
  seeds/zeroex/ethereum/zeroex_ethereum_api_fills_sample.csv
  seeds/zeroex/fantom/_schema.yml
  seeds/zeroex/fantom/zeroex_fantom_api_fills_deduped_sample.csv
Labels: dex

#4402 Create `nft.info`
  models/nft/nft_marketplaces_info.sql
  models/nft/nft_schema.yml
Labels: easy, ready-for-merging, NFT

#4432 Revert "hack to refresh all seeds by using the PR body"
  .github/workflows/dbt_slim_ci.yml
Labels: dune team

#4339 Migrate some nft ethereum spells - Ready for review
  models/nft/ethereum/nft_ethereum_collection_stats.sql
  models/nft/ethereum/nft_ethereum_schema.yml
  models/nft/ethereum/nft_ethereum_top_sales.sql
  models/nft/ethereum/nft_ethereum_wallet_pnl.sql
  tests/nft/ethereum/nft_ethereum_collection_stats_test.sql
Labels: ready-for-merging, NFT, DuneSQL migration

#4354 Migrate NFT Mints - Ready for review
  models/_sector/nft/trades/old/platforms/magiceden_solana_events.sql
  models/_sector/nft/trades/old/platforms/stealcam_arbitrum_events.sql
  models/_sector/nft/trades/old/platforms/stealcam_arbitrum_schema.yml
  models/nft/ethereum/nft_ethereum_native_mints.sql
  models/nft/ethereum/nft_ethereum_schema.yml
  models/nft/nft_mints.sql
  models/nft/nft_schema.yml
  models/nft/optimism/nft_optimism_native_mints.sql
  models/nft/optimism/nft_optimism_schema.yml
  models/opensea/ethereum/opensea_ethereum_schema.yml
  models/opensea/ethereum/opensea_v1_ethereum_events.sql
  seeds/magiceden/solana/magiceden_solana_trades_solscan.csv
  seeds/opensea/ethereum/opensea_wyvern_trades_samples.csv
  tests/nft/ethereum/nft_ethereum_native_mints_test.sql
Labels: ready-for-merging, NFT, DuneSQL migration

#4396 Enrich NFT.lending spell & introduce new columns - ready for review
  models/astaria/ethereum/astaria_ethereum_lending.sql
  models/astaria/ethereum/astaria_ethereum_schema.yml
  models/bend_dao/ethereum/bend_dao_ethereum_lending.sql
  models/bend_dao/ethereum/bend_dao_ethereum_schema.yml
  models/nft/nft_lending.sql
  models/nft/nft_schema.yml
  seeds/astaria/_schema.yml
  seeds/astaria/astaria_lending_seed.csv
  seeds/bend_dao/ethereum/_schema.yml
  seeds/bend_dao/ethereum/bend_dao_nft_lending.csv
Labels: ready-for-merging, NFT

#4435 remove lido partitions
  models/lido/accounting/ethereum/lido_accounting_ethereum_buffer_inflow.sql
  models/lido/accounting/ethereum/lido_accounting_ethereum_buffer_outflow.sql
  models/lido/accounting/ethereum/lido_accounting_ethereum_dai_referral_payment.sql
  models/lido/accounting/ethereum/lido_accounting_ethereum_deposits.sql
  models/lido/accounting/ethereum/lido_accounting_ethereum_fundraising.sql
  models/lido/accounting/ethereum/lido_accounting_ethereum_ldo_referral_payment.sql
  models/lido/accounting/ethereum/lido_accounting_ethereum_lego_expenses.sql
  models/lido/accounting/ethereum/lido_accounting_ethereum_liquidity_incentives.sql
  models/lido/accounting/ethereum/lido_accounting_ethereum_lox_incentives.sql
  models/lido/accounting/ethereum/lido_accounting_ethereum_operating_expenses.sql
  models/lido/accounting/ethereum/lido_accounting_ethereum_other_expenses.sql
  models/lido/accounting/ethereum/lido_accounting_ethereum_other_income.sql
  models/lido/accounting/ethereum/lido_accounting_ethereum_revenue.sql
  models/lido/accounting/ethereum/lido_accounting_ethereum_steth_referral_payment.sql
  models/lido/accounting/ethereum/lido_accounting_ethereum_trp_expenses.sql
  models/lido/accounting/ethereum/lido_accounting_ethereum_withdrawals.sql
  models/lido/lido_accounting.sql
  models/lido/liquidity/arbitrum/lido_liquidity_arbitrum_balancer_pools.sql
  models/lido/liquidity/arbitrum/lido_liquidity_arbitrum_camelot_pools.sql
  models/lido/liquidity/arbitrum/lido_liquidity_arbitrum_curve_pools.sql
  models/lido/liquidity/arbitrum/lido_liquidity_arbitrum_kyberswap_pools.sql
  models/lido/liquidity/arbitrum/lido_liquidity_arbitrum_kyberswap_v2_pools.sql
  models/lido/liquidity/arbitrum/lido_liquidity_arbitrum_uniswap_v3_pools.sql
  models/lido/liquidity/arbitrum/lido_liquidity_arbitrum_wombat_pools.sql
  models/lido/liquidity/ethereum/lido_liquidity_ethereum_balancer_pools.sql
  models/lido/liquidity/ethereum/lido_liquidity_ethereum_curve_steth_conc_pool.sql
  models/lido/liquidity/ethereum/lido_liquidity_ethereum_curve_steth_frxeth_pool.sql
  models/lido/liquidity/ethereum/lido_liquidity_ethereum_curve_steth_ng_pool.sql
  models/lido/liquidity/ethereum/lido_liquidity_ethereum_curve_steth_pool.sql
  models/lido/liquidity/ethereum/lido_liquidity_ethereum_curve_wsteth_reth_pool.sql
  models/lido/liquidity/ethereum/lido_liquidity_ethereum_kyberswap_pools.sql
  models/lido/liquidity/ethereum/lido_liquidity_ethereum_kyberswap_v2_pools.sql
  models/lido/liquidity/ethereum/lido_liquidity_ethereum_maverick_pools.sql
  models/lido/liquidity/ethereum/lido_liquidity_ethereum_pancakeswap_v3_pools.sql
  models/lido/liquidity/ethereum/lido_liquidity_ethereum_uniswap_v3_pools.sql
  models/lido/liquidity/optimism/lido_liquidity_optimism_balancer_pools.sql
  models/lido/liquidity/optimism/lido_liquidity_optimism_curve_pools.sql
  models/lido/liquidity/optimism/lido_liquidity_optimism_kyberswap_pools.sql
  models/lido/liquidity/optimism/lido_liquidity_optimism_kyberswap_v2_pools.sql
  models/lido/liquidity/optimism/lido_liquidity_optimism_uniswap_v3_pools.sql
  models/lido/liquidity/optimism/lido_liquidity_optimism_velodrome_pools.sql
  models/lido/liquidity/optimism/lido_liquidity_optimism_velodrome_v2_pools.sql
  models/lido/liquidity/polygon/lido_liquidity_polygon_balancer_pools.sql
  models/lido/liquidity/polygon/lido_liquidity_polygon_kyberswap_v2_pools.sql
  models/lido/liquidity/polygon/lido_liquidity_polygon_uniswap_v3_pools.sql
Labels: dune team, hotfix

#4315 SPE-4 Migrate & rework `dex.sandwiches`
  dbt_project.yml
  macros/models/_sector/dex/dex_sandwiches.sql
  models/dex/arbitrum/dex_arbitrum_sandwiches.sql
  models/dex/arbitrum/dex_arbitrum_sandwiches_legacy.sql
  models/dex/arbitrum/dex_arbitrum_schema.yml
  models/dex/avalanche_c/dex_avalanche_c_sandwiches.sql
  models/dex/avalanche_c/dex_avalanche_c_sandwiches_legacy.sql
  models/dex/avalanche_c/dex_avalanche_c_schema.yml
  models/dex/bnb/dex_bnb_sandwiches.sql
  models/dex/bnb/dex_bnb_sandwiches_legacy.sql
  models/dex/bnb/dex_bnb_schema.yml
  models/dex/chains/dex_arbitrum_sandwiches.sql
  models/dex/chains/dex_arbitrum_sandwiches_legacy.sql
  models/dex/chains/dex_avalanche_c_sandwiches.sql
  models/dex/chains/dex_avalanche_c_sandwiches_legacy.sql
  models/dex/chains/dex_base_sandwiches.sql
  models/dex/chains/dex_base_sandwiches_legacy.sql
  models/dex/chains/dex_bnb_sandwiches.sql
  models/dex/chains/dex_bnb_sandwiches_legacy.sql
  models/dex/chains/dex_ethereum_sandwiches.sql
  models/dex/chains/dex_ethereum_sandwiches_legacy.sql
  models/dex/chains/dex_fantom_sandwiches.sql
  models/dex/chains/dex_fantom_sandwiches_legacy.sql
  models/dex/chains/dex_gnosis_sandwiches.sql
  models/dex/chains/dex_gnosis_sandwiches_legacy.sql
  models/dex/chains/dex_optimism_sandwiches.sql
  models/dex/chains/dex_optimism_sandwiches_legacy.sql
  models/dex/chains/dex_polygon_sandwiches.sql
  models/dex/chains/dex_polygon_sandwiches_legacy.sql
  models/dex/chains/dex_schema.yml
  models/dex/dex_sandwiches.sql
  models/dex/dex_sandwiches_legacy.sql
  models/dex/dex_schema.yml
  models/dex/ethereum/dex_ethereum_sandwiches.sql
  models/dex/ethereum/dex_ethereum_sandwiches_legacy.sql
  models/dex/ethereum/dex_ethereum_schema.yml
  models/dex/fantom/dex_fantom_sandwiches.sql
  models/dex/fantom/dex_fantom_sandwiches_legacy.sql
  models/dex/fantom/dex_fantom_schema.yml
  models/dex/gnosis/dex_gnosis_sandwiches.sql
  models/dex/gnosis/dex_gnosis_sandwiches_legacy.sql
  models/dex/gnosis/dex_gnosis_schema.yml
  models/dex/optimism/dex_optimism_sandwiches.sql
  models/dex/optimism/dex_optimism_sandwiches_legacy.sql
  models/dex/optimism/dex_optimism_schema.yml
  models/dex/polygon/dex_polygon_sandwiches.sql
  models/dex/polygon/dex_polygon_sandwiches_legacy.sql
  models/dex/polygon/dex_polygon_schema.yml
Labels: ready-for-merging, dex

#4386 Add Mauve - ready for review
  models/dex/dex_trades.sql
  models/mauve/ethereum/mauve_ethereum_pools.sql
  models/mauve/ethereum/mauve_ethereum_pools_legacy.sql
  models/mauve/ethereum/mauve_ethereum_schema.yml
  models/mauve/ethereum/mauve_ethereum_sources.yml
  models/mauve/ethereum/mauve_ethereum_trades.sql
  models/mauve/ethereum/mauve_ethereum_trades_legacy.sql
  models/mauve/mauve_schema.yml
  models/mauve/mauve_trades.sql
  models/mauve/mauve_trades_legacy.sql
  models/tokens/ethereum/tokens_ethereum_erc20.sql
  models/tokens/ethereum/tokens_ethereum_erc20_legacy.sql
  seeds/dex/trades/dex_trades_seed.csv
  tests/dex/dex_trades_assert_freshness.sql
Labels: ready-for-merging, dex

#4314 feat: keep3r_v2 migration
  dbt_project.yml
  models/keep3r_network/ethereum/keep3r_network_ethereum_schema.yml
  models/keep3r_network/ethereum/keep3r_network_ethereum_view_job_credits_log.sql
  models/keep3r_network/ethereum/keep3r_network_ethereum_view_job_credits_log_legacy.sql
  models/keep3r_network/ethereum/keep3r_network_ethereum_view_job_liquidity_log.sql
  models/keep3r_network/ethereum/keep3r_network_ethereum_view_job_liquidity_log_legacy.sql
  models/keep3r_network/ethereum/keep3r_network_ethereum_view_job_log.sql
  models/keep3r_network/ethereum/keep3r_network_ethereum_view_job_log_legacy.sql
  models/keep3r_network/ethereum/keep3r_network_ethereum_view_job_migrations.sql
  models/keep3r_network/ethereum/keep3r_network_ethereum_view_job_migrations_legacy.sql
  models/keep3r_network/keep3r_network_job_migration.sql
  models/keep3r_network/keep3r_network_job_migration_legacy.sql
  models/keep3r_network/keep3r_network_keeper_work.sql
  models/keep3r_network/keep3r_network_keeper_work_legacy.sql
  models/keep3r_network/keep3r_network_liquidity_addition.sql
  models/keep3r_network/keep3r_network_liquidity_addition_legacy.sql
  models/keep3r_network/keep3r_network_liquidity_credits_reward.sql
  models/keep3r_network/keep3r_network_liquidity_credits_reward_legacy.sql
  models/keep3r_network/keep3r_network_liquidity_withdrawal.sql
  models/keep3r_network/keep3r_network_liquidity_withdrawal_legacy.sql
  models/keep3r_network/keep3r_network_schema.yml
  models/keep3r_network/keep3r_network_sources.yml
  models/keep3r_network/keep3r_network_token_prices.sql
  models/keep3r_network/keep3r_network_token_prices_legacy.sql
  tests/keep3r_network/ethereum/keep3r_network_view_job_log_test.sql
Labels: ready-for-merging

#4447 oniench: add bnb
  models/oneinch/bnb/oneinch_bnb_calls_transfers.sql
  models/oneinch/bnb/oneinch_bnb_calls_transfers_legacy.sql
  models/oneinch/bnb/oneinch_bnb_schema.yml
  models/oneinch/oneinch_calls.sql
  models/oneinch/oneinch_calls_transfers_amounts.sql
Labels: ready-for-merging

#4448 migrate sudoswap models
  models/sudoswap/ethereum/sudoswap_ethereum_pool_balance_agg_day.sql
  models/sudoswap/ethereum/sudoswap_ethereum_pool_creations.sql
  models/sudoswap/ethereum/sudoswap_ethereum_pool_settings_latest.sql
  models/sudoswap/ethereum/sudoswap_ethereum_pool_trades_agg_day.sql
  models/sudoswap/ethereum/sudoswap_ethereum_pool_view.sql
Labels: DuneSQL migration

#4445 Migrate `timeswap` spells
  models/timeswap/arbitrum/timeswap_arbitrum_borrow.sql
  models/timeswap/arbitrum/timeswap_arbitrum_lend.sql
  models/timeswap/arbitrum/timeswap_arbitrum_pools.sql
  models/timeswap/ethereum/timeswap_ethereum_borrow.sql
  models/timeswap/ethereum/timeswap_ethereum_lend.sql
  models/timeswap/ethereum/timeswap_ethereum_pools.sql
  models/timeswap/polygon/timeswap_polygon_borrow.sql
  models/timeswap/polygon/timeswap_polygon_lend.sql
  models/timeswap/polygon/timeswap_polygon_pools.sql
Labels: ready-for-review, DuneSQL migration

#4446 Migrate `nft_ethereum_metadata` tables
  models/nft/ethereum/metadata/nft_ethereum_metadata_art_blocks_collections.sql
  models/nft/ethereum/metadata/nft_ethereum_metadata_art_platform_collections.sql
  models/nft/ethereum/metadata/nft_ethereum_metadata_braindrops.sql
  models/nft/ethereum/metadata/nft_ethereum_metadata_bright_moments.sql
  models/nft/ethereum/metadata/nft_ethereum_metadata_chromie_squiggle.sql
  models/nft/ethereum/metadata/nft_ethereum_metadata_cryptodickbutts.sql
  models/nft/ethereum/metadata/nft_ethereum_metadata_fellowship_gallery.sql
  models/nft/ethereum/metadata/nft_ethereum_metadata_mirage_gallery_curated.sql
  models/nft/ethereum/metadata/nft_ethereum_metadata_proof_grails_i.sql
  models/nft/ethereum/metadata/nft_ethereum_metadata_proof_grails_ii.sql
  models/nft/ethereum/metadata/nft_ethereum_metadata_ringers.sql
  models/nft/ethereum/metadata/nft_ethereum_metadata_terraforms.sql
  models/nft/ethereum/metadata/nft_ethereum_metadata_verse.sql
Labels: ready-for-review, DuneSQL migration

#4439 Migrate contract_mapping spells
  models/contracts/bnb/contracts_bnb_contract_mapping.sql
  models/contracts/fantom/contracts_fantom_contract_mapping.sql
Labels: ready-for-review, DuneSQL migration

#4450 SPE-134 Migrate compound
  models/compound/ethereum/compound_v2_ethereum_borrow.sql
  models/compound/ethereum/compound_v2_ethereum_ctokens.sql
  models/compound/ethereum/compound_v2_ethereum_proposals.sql
  models/compound/ethereum/compound_v2_ethereum_supply.sql
  models/compound/ethereum/compound_v2_ethereum_votes.sql
  tests/compound/ethereum/compound_v2_borrow_test.sql
  tests/compound/ethereum/compound_v2_supply_test.sql
Labels: ready-for-review, DuneSQL migration

#4465 exclude fees traces on spark
  models/gas/arbitrum/gas_arbitrum_fees_traces_legacy.sql
  models/gas/avalanche_c/gas_avalanche_c_fees_traces_legacy.sql
  models/gas/ethereum/gas_ethereum_fees_traces_legacy.sql
  models/gas/fantom/gas_fantom_fees_traces_legacy.sql
  models/gas/gnosis/gas_gnosis_fees_traces_legacy.sql
  models/gas/optimism/gas_optimism_fees_traces_legacy.sql
  models/gas/polygon/gas_polygon_fees_traces_legacy.sql
Labels: dune team, hotfix

#4452 SPE-151 Migrate dydx
  models/dydx/ethereum/dydx_ethereum_proposals.sql
  models/dydx/ethereum/dydx_ethereum_votes.sql
Labels: ready-for-merging, DuneSQL migration

#4356 [Re-Open] Add base to contracts mapping
  macros/models/contracts/contract_creator_project_mapping.sql
  models/contracts/chains/contracts_base_contract_creator_project_mapping.sql
  models/contracts/chains/contracts_base_contract_creator_project_mapping_legacy.sql
  models/contracts/chains/contracts_base_find_self_destruct_contracts.sql
  models/contracts/chains/contracts_base_find_self_destruct_contracts_legacy.sql
  models/contracts/chains/contracts_chains_schema.yml
  models/contracts/contracts_contract_mapping.sql
  models/contracts/contracts_predeploys.sql
  models/contracts/contracts_schema.yml
  models/contracts/contracts_self_destruct_contracts.sql
  models/evms/evm_smart_account_method_ids.sql
  models/evms/evm_smart_account_method_ids_legacy.sql
  models/evms/evms_schema.yml
Labels: ready-for-merging

#4205 Labels dex persona migration
  models/labels/addresses/dex/labels_dex.sql
  models/labels/addresses/dex/persona/arbitrage_traders/ethereum/labels_arbitrage_traders_ethereum.sql
  models/labels/addresses/dex/persona/arbitrage_traders/labels_arbitrage_traders.sql
  models/labels/addresses/dex/persona/dex_aggregator_traders/labels_dex_aggregator_traders.sql
  models/labels/addresses/dex/persona/dex_pools/labels_dex_pools.sql
  models/labels/addresses/dex/persona/trader_platforms/labels_trader_platforms.sql
  models/labels/addresses/dex/usage/average_trade_values/labels_average_trade_values.sql
  models/labels/addresses/dex/usage/trader_age/labels_trader_age.sql
  models/labels/addresses/dex/usage/trader_dex_diversity/labels_trader_dex_diversity.sql
  models/labels/addresses/dex/usage/trader_frequencies/labels_trader_frequencies.sql
  models/labels/addresses/dex/usage/trader_portfolios/ethereum/labels_trader_portfolios_ethereum.sql
  models/labels/addresses/dex/usage/trader_portfolios/labels_trader_portfolios.sql
Labels: ready-for-merging, labels

#4418 Adds dex.prices to Balancer Liquidity
  models/balancer/arbitrum/balancer_v2_arbitrum_liquidity.sql
  models/balancer/avalanche_c/balancer_v2_avalanche_c_liquidity.sql
  models/balancer/base/balancer_v2_base_liquidity.sql
  models/balancer/ethereum/balancer_v1_ethereum_liquidity.sql
  models/balancer/ethereum/balancer_v2_ethereum_liquidity.sql
  models/balancer/gnosis/balancer_v2_gnosis_liquidity.sql
  models/balancer/optimism/balancer_v2_optimism_liquidity.sql
  models/balancer/polygon/balancer_v2_polygon_liquidity.sql
Labels: ready-for-merging

#4375 add tigris trades pnl - ready for review
  models/tigris/tigris_trades_pnl.sql
  models/tigris/tigris_trades_pnl_legacy.sql
  models/tigris/tigris_trades_schema.yml
Labels: ready-for-merging

#4369 Missing Balancer Flashloans spells on base and avalanche
  models/balancer/avalanche_c/balancer_avalanche_c_schema.yml
  models/balancer/avalanche_c/balancer_avalanche_c_sources.yml
  models/balancer/avalanche_c/balancer_v2_avalanche_c_flashloans.sql
  models/balancer/avalanche_c/balancer_v2_avalanche_c_flashloans_legacy.sql
  models/balancer/balancer_flashloans.sql
  models/balancer/balancer_schema.yml
  models/balancer/base/balancer_base_schema.yml
  models/balancer/base/balancer_base_sources.yml
  models/balancer/base/balancer_v2_base_flashloans.sql
  models/balancer/base/balancer_v2_base_flashloans_legacy.sql
Labels: ready-for-merging

#4368 veBAL spells migration to duneSQL
  models/balancer/ethereum/balancer_ethereum_vebal_balances_day.sql
  models/balancer/ethereum/balancer_ethereum_vebal_slopes.sql
  models/balancer/ethereum/balancer_ethereum_vebal_votes.sql
Labels: ready-for-merging

#4355 Add Celo and Base to ABI signatures
  dbt_project.yml
  models/abi/signatures.sql
  models/abi/signatures_schema.yml
  models/abi/signatures_sources.yml
Labels: ready-for-merging

#4393 Celo ubeswap
  models/dex/dex_trades.sql
  models/ubeswap/celo/ubeswap_celo_schema.yml
  models/ubeswap/celo/ubeswap_celo_sources.yml
  models/ubeswap/celo/ubeswap_celo_trades.sql
  models/ubeswap/celo/ubeswap_celo_trades_legacy.sql
  seeds/dex/trades/dex_trades_seed.csv
  tests/dex/dex_trades_assert_freshness.sql
Labels: dex

#4469 Revert "[Re-Open] Add base to contracts mapping (#4356)"
  macros/models/contracts/contract_creator_project_mapping.sql
  models/contracts/chains/contracts_base_contract_creator_project_mapping.sql
  models/contracts/chains/contracts_base_contract_creator_project_mapping_legacy.sql
  models/contracts/chains/contracts_base_find_self_destruct_contracts.sql
  models/contracts/chains/contracts_base_find_self_destruct_contracts_legacy.sql
  models/contracts/chains/contracts_chains_schema.yml
  models/contracts/contracts_contract_mapping.sql
  models/contracts/contracts_predeploys.sql
  models/contracts/contracts_schema.yml
  models/contracts/contracts_self_destruct_contracts.sql
  models/evms/evm_smart_account_method_ids.sql
  models/evms/evm_smart_account_method_ids_legacy.sql
  models/evms/evms_schema.yml
Labels: dune team, hotfix
