Repository duneanalytics/spellbook, pull requests merged in 2023-01, with the labels that each got.

#2414 [easy] Missing tokens
  models/tokens/ethereum/tokens_ethereum_erc20.sql
  models/tokens/gnosis/tokens_gnosis_erc20.sql
Labels: ready-for-merging

#2410 Adding Aave V3 assets to tokens_avalanche_c_erc20.sql and tokens_polygon_erc20.sql
  models/tokens/avalanche_c/tokens_avalanche_c_erc20.sql
  models/tokens/polygon/tokens_polygon_erc20.sql
Labels: ready-for-merging

#2255 Add Pancakeswap NFT Events
  dbt_project.yml
  models/nft/nft_events.sql
  models/nft/nft_fees.sql
  models/nft/nft_trades.sql
  models/pancakeswap/bnb/pancakeswap_bnb_nft_events.sql
  models/pancakeswap/bnb/pancakeswap_bnb_nft_fees.sql
  models/pancakeswap/bnb/pancakeswap_bnb_nft_trades.sql
  models/pancakeswap/bnb/pancakeswap_bnb_schema.yml
  models/pancakeswap/bnb/pancakeswap_bnb_sources.yml
  models/pancakeswap/pancakeswap_trades_schema.yml
  seeds/pancakeswap/bnb/pancakeswap_nft_trades_samples.csv
Labels: ready-for-merging

#2313 Fix Source Chain ID/Name Hop Optimism
  models/hop_protocol/optimism/hop_protocol_optimism_flows.sql
Labels: ready-for-review

#2157 Add BSC Dodo trades to dex.trades
  dbt_project.yml
  models/dex/dex_trades.sql
  models/dodo/bnb/dodo_bnb_schema.yml
  models/dodo/bnb/dodo_bnb_sources.yml
  models/dodo/bnb/dodo_bnb_trades.sql
  models/dodo/dodo_trades.sql
  models/dodo/dodo_trades_schema.yml
  seeds/dex/trades/dex_trades_seed.csv
  tests/generic/check_dex_seed.sql
Labels: ready-for-merging

#2401 script to find sources missing checks
  models/airswap/ethereum/airswap_ethereum_sources.yml
  models/babyswap/bnb/babyswap_bnb_sources.yml
  models/bancor/ethereum/bancor_ethereum_sources.yml
  models/base_sources/ethereum_base_sources.yml
  models/biswap/bnb/biswap_bnb_sources.yml
  models/clipper/ethereum/clipper_ethereum_sources.yml
  models/curvefi/avalanche_c/curvefi_avalanche_c_sources.yml
  models/curvefi/ethereum/curvefi_ethereum_sources.yml
  models/defiswap/ethereum/defiswap_ethereum_sources.yml
  models/dodo/ethereum/dodo_ethereum_sources.yml
  models/element/avalanche_c/element_avalanche_c_sources.yml
  models/element/bnb/element_bnb_sources.yml
  models/element/ethereum/element_ethereum_sources.yml
  models/fraxswap/avalanche_c/fraxswap_avalanche_c_sources.yml
  models/fraxswap/bnb/fraxswap_bnb_sources.yml
  models/fraxswap/ethereum/fraxswap_ethereum_sources.yml
  models/fraxswap/polygon/fraxswap_polygon_sources.yml
  models/hashflow/ethereum/hashflow_ethereum_sources.yml
  models/kyberswap/avalanche_c/kyberswap_avalanche_c_sources.yml
  models/mstable/ethereum/mstable_ethereum_sources.yml
  models/nomiswap/bnb/nomiswap_bnb_sources.yml
  models/opensea/ethereum/opensea_ethereum_sources.yml
  models/shibaswap/ethereum/shibaswap_ethereum_sources.yml
  models/sudoswap/ethereum/sudoswap_ethereum_sources.yml
  models/sushiswap/avalanche_c/sushiswap_avalanche_c_sources.yml
  models/swapr/ethereum/swapr_ethereum_sources.yml
  models/uniswap/ethereum/uniswap_ethereum_sources.yml
  models/woofi/avalanche_c/woofi_avalanche_c_sources.yml
  models/woofi/bnb/woofi_bnb_sources.yml
  models/zeroex/optimism/zeroex_api_optimism_sources.yml
  models/zora/ethereum/zora_ethereum_sources.yml
  scripts/test_token_checker.py
  scripts/validate_source_freshness_checks.py
Labels: ready-for-merging, dune team

#2425 T-22136: Missing ERC20 tokens
  models/tokens/ethereum/tokens_ethereum_erc20.sql
Labels: ready-for-merging

#2426 T-23065 - optimism transfers: update value filter for string datatype
  models/transfers/optimism/transfers_optimism_eth.sql
Labels: dune team

#2419 Seaport ethereum patch
  models/opensea/ethereum/opensea_v3_ethereum_trades.sql
  models/seaport/ethereum/seaport_ethereum_base_pairs.sql
  models/seaport/ethereum/seaport_ethereum_schema.yml
  models/seaport/ethereum/seaport_ethereum_trades.sql
  seeds/seaport/seaport_trades_seed.csv
Labels: ready-for-merging

#2424 Fix: minor typos
  models/balancer/arbitrum/balancer_arbitrum_sources.yml
  models/balancer/ethereum/balancer_ethereum_sources.yml
  models/cow_protocol/ethereum/cow_protocol_ethereum_schema.yml
  models/gas/avalanche_c/gas_avalanche_c_schema.yml
Labels: ready-for-merging

#2421 [Quick] Updates to metadata files
  models/nft/ethereum/metadata/nft_ethereum_metadata_art_blocks_collections.sql
  models/nft/ethereum/metadata/nft_ethereum_metadata_chromie_squiggle.sql
  models/nft/ethereum/metadata/nft_ethereum_metadata_fellowship_gallery.sql
Labels: ready-for-merging

#2431 use batch api calls for price checker
  scripts/check_tokens.py
  scripts/test_token_checker.py
  scripts/token_checker.py
Labels: ready-for-review

#2169 Update dodo_ethereum_trades & add dodo_bnb_trades & split them to aggregator and pools
  models/dodo/bnb/dodo_aggregator_bnb_trades.sql
  models/dodo/bnb/dodo_bnb_schema.yml
  models/dodo/bnb/dodo_bnb_sources.yml
  models/dodo/bnb/dodo_bnb_trades.sql
  models/dodo/bnb/dodo_pools_bnb_trades.sql
  models/dodo/dodo_trades.sql
  models/dodo/dodo_trades_schema.yml
  models/dodo/ethereum/dodo_aggregator_ethereum_trades.sql
  models/dodo/ethereum/dodo_ethereum_schema.yml
  models/dodo/ethereum/dodo_ethereum_sources.yml
  models/dodo/ethereum/dodo_ethereum_trades.sql
  models/dodo/ethereum/dodo_pools_ethereum_trades.sql
  seeds/dex/trades/dex_trades_seed.csv
Labels: in review

#2422 [CoW] Fix Fee USD Calculation
  models/cow_protocol/ethereum/cow_protocol_ethereum_trades.sql
  models/cow_protocol/gnosis/cow_protocol_gnosis_trades.sql
Labels: ready-for-merging

#2396 Fix failing tests
  models/cow_protocol/tx_hash_labels/stable_to_stable/ethereum/cow_protocol_tx_hash_labels_stable_to_stable_ethereum.sql
  models/dao/addresses/gnosis/dao_addresses_gnosis_aragon.sql
  models/labels/labels_all.sql
  models/labels/nft/labels_nft.sql
  models/labels/nft/labels_nft_traders_transactions.sql
  models/labels/nft/labels_nft_traders_volume_usd.sql
  models/nft/ethereum/nft_ethereum_native_mints.sql
  models/nft/nft_schema.yml
  models/nft/nft_wash_trades.sql
  tests/macros/public/get_chain_native_token_test.sql
Labels: ready-for-merging

#2437 Token checker tweaks
  scripts/test_token_checker.py
  scripts/token_checker.py
Labels: ready-for-review

#2403 Allow for local compile of incremental models.
  macros/dune/is_incremental.sql
  macros/dune/macros_schema.yml
Labels: enhancement, ready-for-review

#2056 Migrate Balancer V2 Transfers BPT view
  dbt_project.yml
  models/balancer/arbitrum/balancer_arbitrum_schema.yml
  models/balancer/arbitrum/balancer_v2_arbitrum_transfers_bpt.sql
  models/balancer/ethereum/balancer_ethereum_schema.yml
  models/balancer/ethereum/balancer_v2_ethereum_transfers_bpt.sql
  models/balancer/optimism/balancer_optimism_schema.yml
  models/balancer/optimism/balancer_v2_optimism_transfers_bpt.sql
  models/balancer/polygon/balancer_polygon_schema.yml
  models/balancer/polygon/balancer_v2_polygon_transfers_bpt.sql
  seeds/balancer/balancer_transfers_bpt_seed.csv
Labels: ready-for-merging

#2450 [EASY] Add STMATIC in prices.usd
  models/prices/prices_tokens.sql
Labels: ready-for-merging

#2382 Update prices_tokens.sql
  models/prices/prices_tokens.sql
Labels: ready-for-merging

#2456 pricing bugs on bnb
  models/prices/prices_tokens.sql
Labels: dune team

#2230 Add limit order to tigris spell - Tiny Update
  models/tigris/arbitrum/events/tigris_arbitrum_events_limit_order.sql
  models/tigris/arbitrum/events/tigris_arbitrum_events_schema.yml
  models/tigris/arbitrum/events/tigris_arbitrum_events_sources.yml
  models/tigris/arbitrum/positions/tigris_arbitrum_positions_leverage.sql
  models/tigris/arbitrum/positions/tigris_arbitrum_positions_margin.sql
  models/tigris/arbitrum/tigris_arbitrum_trades.sql
  models/tigris/polygon/events/tigris_polygon_events_limit_order.sql
  models/tigris/polygon/events/tigris_polygon_events_schema.yml
  models/tigris/polygon/events/tigris_polygon_events_sources.yml
  models/tigris/polygon/positions/tigris_polygon_positions_leverage.sql
  models/tigris/polygon/positions/tigris_polygon_positions_margin.sql
  models/tigris/polygon/tigris_polygon_trades.sql
Labels: ready-for-merging

#2260 Add ellipsis_finance bnb to dex trades
  dbt_project.yml
  models/dex/dex_trades.sql
  models/ellipsis_finance/bnb/ellipsis_finance_bnb_pool_tokens.sql
  models/ellipsis_finance/bnb/ellipsis_finance_bnb_schema.yml
  models/ellipsis_finance/bnb/ellipsis_finance_bnb_sources.yml
  models/ellipsis_finance/bnb/ellipsis_finance_bnb_trades.sql
  models/ellipsis_finance/ellipsis_finance_trades.sql
  models/ellipsis_finance/ellipsis_finance_trades_schema.yml
  seeds/dex/pools/dex_pools_seed.csv
  seeds/dex/trades/dex_trades_seed.csv
  tests/generic/check_dex_pools_seed.sql
Labels: ready-for-merging

#2443 add nft trade to nft.trades
  Pipfile.lock
  dbt_project.yml
  models/nft/nft_events.sql
  models/nft/nft_fees.sql
  models/nft/nft_trades.sql
  models/nftrade/bnb/nftrade_bnb_events.sql
  models/nftrade/bnb/nftrade_bnb_fees.sql
  models/nftrade/bnb/nftrade_bnb_schema.yml
  models/nftrade/bnb/nftrade_bnb_sources.yml
  models/nftrade/bnb/nftrade_bnb_trades.sql
  seeds/nftrade/bnb/nftrade_nft_trades_samples.csv
Labels: ready-for-merging

#2455 fix and cleanup optimism spell directory & schema naming standards
  dbt_project.yml
  models/bridge/optimism/optimism_standard_bridge_flows.sql
  models/bridge/optimism/optimism_standard_bridge_schema.yml
  models/optimism/cross_domain_messenger/ovm_optimism_cross_domain_messenger_schema.yml
  models/optimism/cross_domain_messenger/ovm_optimism_cross_domain_messenger_sources.yml
  models/optimism/ovm/ovm_optimism_schema.yml
  models/ovm/optimism/ovm_optimism_cross_domain_messenger_messages.sql
  models/ovm/optimism/ovm_optimism_l2_token_factory.sql
  models/ovm/optimism/ovm_optimism_schema.yml
  models/ovm/optimism/ovm_optimism_sources.yml
  models/ovm1/optimism/ovm1_optimism_sources.yml
Labels: ready-for-merging, dune team

#2372 [Easy] - add fantom prices & few tokens - Ready For Review
  models/prices/prices_schema.yml
  models/prices/prices_tokens.sql
  models/tokens/fantom/tokens_fantom_erc20.sql
  scripts/token_checker.py
Labels: ready-for-merging

#2006 feat(dex.trades): add apeswap
  dbt_project.yml
  models/apeswap/apeswap_trades.sql
  models/apeswap/apeswap_trades_schema.yml
  models/apeswap/bnb/apeswap_bnb_schema.yml
  models/apeswap/bnb/apeswap_bnb_sources.yml
  models/apeswap/bnb/apeswap_bnb_trades.sql
  models/apeswap/ethereum/apeswap_ethereum_schema.yml
  models/apeswap/ethereum/apeswap_ethereum_sources.yml
  models/apeswap/ethereum/apeswap_ethereum_trades.sql
  models/apeswap/polygon/apeswap_polygon_schema.yml
  models/apeswap/polygon/apeswap_polygon_sources.yml
  models/apeswap/polygon/apeswap_polygon_trades.sql
  models/dex/dex_trades.sql
  models/tokens/polygon/tokens_polygon_erc20.sql
  seeds/dex/trades/dex_trades_seed.csv
Labels: ready-for-merging

#2460 Fix duplicates caused by aggregator hash markers
  models/nft/ethereum/nft_ethereum_aggregators_markers.sql
Labels: ready-for-merging, hotfix

#2453 update Pipfile.lock
  Pipfile.lock
Labels: ready-for-review

#2469 [Easy] - reload ellipsis-finance - Ready for Review
  models/ellipsis_finance/bnb/ellipsis_finance_bnb_trades.sql
  seeds/dex/trades/dex_trades_seed.csv
Labels: ready-for-merging

#2458 [EASY] add $RIC in prices.usd
  models/prices/prices_tokens.sql
Labels: ready-for-merging

#2436 Fix OP DEX Uniswap Token Addresses
  models/uniswap/optimism/uniswap_optimism_pools.sql
  models/uniswap/optimism/uniswap_v3_optimism_trades.sql
Labels: ready-for-merging

#2483 [QuickFix] Fix type consistency in quix_optimism_events
  models/quix/optimism/quix_optimism_events.sql
  models/quix/optimism/quix_v1_optimism_events.sql
  models/quix/optimism/quix_v2_optimism_events.sql
  models/quix/optimism/quix_v3_optimism_events.sql
  models/quix/optimism/quix_v4_optimism_events.sql
  models/quix/optimism/quix_v5_optimism_events.sql
Labels: ready-for-review

#2479 Fix Balancer Post Hooks
  models/balancer/arbitrum/balancer_v2_arbitrum_bpt_prices.sql
  models/balancer/arbitrum/balancer_v2_arbitrum_pools_tokens_weights.sql
  models/balancer/ethereum/balancer_v1_ethereum_pools_tokens_weights.sql
  models/balancer/ethereum/balancer_v2_ethereum_bpt_prices.sql
  models/balancer/ethereum/balancer_v2_ethereum_pools_tokens_weights.sql
  models/balancer/optimism/balancer_v2_optimism_bpt_prices.sql
  models/balancer/optimism/balancer_v2_optimism_pools_tokens_weights.sql
  models/balancer/polygon/balancer_v2_polygon_bpt_prices.sql
  models/balancer/polygon/balancer_v2_polygon_pools_tokens_weights.sql
Labels: ready-for-merging

#2494 [quick fix] DuneSQL compatibility of nftrade spell
  models/nftrade/bnb/nftrade_bnb_events.sql
Labels: bug

#2294 zeroex polygon trades
  Pipfile
  dbt_project.yml
  models/zeroex/optimism/erc20/zeroex_api_optimism_fills.sql
  models/zeroex/optimism/erc20/zeroex_api_optimism_schema.yml
  models/zeroex/optimism/erc20/zeroex_api_optimism_sources.yml
  models/zeroex/polygon/erc20/zeroex_api_polygon_fills.sql
  models/zeroex/polygon/erc20/zeroex_api_polygon_schema.yml
  models/zeroex/polygon/erc20/zeroex_api_polygon_sources.yml
  seeds/zeroex/polygon/fills/zeroex_api_polygon_fills_sample.csv
  tests/zeroex/polygon/zeroex_api_polygon_fills_test.sql
Labels: ready-for-merging

#2388 zeroex_optimism - revise price calc logic, add token symbols
  dbt_project.yml
  models/zeroex/optimism/erc20/zeroex_api_optimism_fills.sql
  seeds/zeroex/optimism/fills/zeroex_api_optimism_fills_sample.csv
Labels: ready-for-merging

#2407 Add OP Bedrock System Transaction Addresses
  models/labels/system_addresses/labels_system_addresses.sql
  models/labels/system_addresses/readme.md
Labels: ready-for-merging

#2412 Add Ocean protocol - BNB Chain for price_token.sql
  models/prices/prices_tokens.sql
Labels: ready-for-merging

#2452 aave proposal spell status column fix
  models/aave/ethereum/aave_ethereum_proposals.sql
  models/aave/ethereum/aave_ethereum_schema.yml
Labels: ready-for-review

#2498 [Prices] Remove Bogus Token Price
  models/prices/prices_tokens.sql
Labels: ready-for-merging

#2497 [Easy] Adding 10 ERC20 tokens to mainnet.
  models/tokens/ethereum/tokens_ethereum_erc20.sql
Labels: ready-for-merging

#2496 Minor Alpha Sharks aggregation update
  models/nft/ethereum/nft_ethereum_aggregators_markers.sql
Labels: ready-for-merging

#2482 Update prices_tokens.sql
  models/prices/prices_tokens.sql
Labels: ready-for-merging

#2441 Add 0x Avalanche Trades
  dbt_project.yml
  models/zeroex/avalanche_c/erc20/zeroex_api_avalanche_c_fills.sql
  models/zeroex/avalanche_c/erc20/zeroex_api_avalanche_c_schema.yml
  models/zeroex/avalanche_c/erc20/zeroex_api_avalanche_c_sources.yml
  seeds/zeroex/avalanche_c/fills/zeroex_api_avalanche_c_fills_sample.csv
  tests/zeroex/avalanche_c/zeroex_api_avalanche_c_fills_test.sql
Labels: ready-for-merging

#2521 [bug] fix airswap model not updating on incremental runs
  models/airswap/ethereum/airswap_ethereum_trades.sql
Labels: ready-for-merging

#2448 Add 0x zeroex Fantom
  dbt_project.yml
  models/zeroex/fantom/erc20/zeroex_api_fantom_fills.sql
  models/zeroex/fantom/erc20/zeroex_api_fantom_schema.yml
  models/zeroex/fantom/erc20/zeroex_api_fantom_sources.yml
  seeds/zeroex/fantom/fills/zeroex_api_fantom_fills_sample.csv
  tests/zeroex/fantom/zeroex_api_fantom_fills_test.sql
Labels: in review

#2530 [BugFix] Batch fix incremental filters
  models/bancor/ethereum/bancor_ethereum_trades.sql
  models/iziswap/bnb/iziswap_bnb_trades.sql
  models/mstable/ethereum/mstable_ethereum_trades.sql
  models/platypus_finance/avalanche_c/platypus_finance_avalanche_c_trades.sql
  models/uniswap/ethereum/uniswap_v1_ethereum_trades.sql
  models/wombat/bnb/wombat_bnb_trades.sql
Labels: ready-for-merging, hotfix

#2507 [Quick] Update AB Metadata
  models/nft/ethereum/metadata/nft_ethereum_metadata_art_blocks_collections.sql
Labels: ready-for-merging

#2522 Update wombat_bnb_trades.sql
  models/wombat/bnb/wombat_bnb_schema.yml
  models/wombat/bnb/wombat_bnb_trades.sql
Labels: ready-for-merging, hotfix

#2506 Update prices_tokens.sql
  models/prices/prices_tokens.sql
Labels: ready-for-merging

#2485 Nexus Mutual Statically Defined product information
  models/nexusmutual/ethereum/nexusmutual_ethereum_product_information.sql
  models/nexusmutual/ethereum/nexusmutual_ethereum_schema.yml
  seeds/nexusmutual/ethereum/nexusmutual_ethereum_product_information_seed.csv
Labels: ready-for-review

#2427 T 23266 deploy on merge
  .github/workflows/dagster_deploy.yml
Labels: in review, dune team

#2420 Feat/add zeroex dex aggregator trades
  dbt_project.yml
  models/dex/aggregator/dex_aggregator_trades.sql
  models/zeroex/ethereum/erc20/zeroex_api_ethereum_schema.yml
  models/zeroex/ethereum/nft/zeroex_nft_ethereum_schema.yml
  models/zeroex/ethereum/nft/zeroex_nft_ethereum_sources.yml
  models/zeroex/ethereum/zeroex_ethereum_api_fills.sql
  models/zeroex/ethereum/zeroex_ethereum_api_fills_deduped.sql
  models/zeroex/ethereum/zeroex_ethereum_nft_fills.sql
  models/zeroex/ethereum/zeroex_ethereum_schema.yml
  models/zeroex/ethereum/zeroex_ethereum_sources.yml
  seeds/zeroex/ethereum/zeroex_ethereum_api_fills_deduped_sample.csv
  seeds/zeroex/ethereum/zeroex_ethereum_api_fills_sample.csv
  seeds/zeroex/ethereum/zeroex_ethereum_nft_fills_sample.csv
  tests/generic/ethereum/zeroex_ethereum_fills_deduped_test.sql
  tests/generic/ethereum/zeroex_ethereum_fills_test.sql
  tests/generic/ethereum/zeroex_ethereum_nft_test.sql
Labels: in review, dex

#2550 Curvefi fixes (refactoring view_pools, and adding v1 and v2 factory pool trades).
  models/curvefi/avalanche_c/curvefi_avalanche_c_trades.sql
  models/curvefi/curvefi_trades.sql
  models/curvefi/curvefi_trades_schema.yml
  models/curvefi/ethereum/curvefi_ethereum_pool_details.sql
  models/curvefi/ethereum/curvefi_ethereum_schema.yml
  models/curvefi/ethereum/curvefi_ethereum_trades.sql
  models/curvefi/ethereum/curvefi_ethereum_view_pools.sql
  models/curvefi/optimism/curvefi_optimism_trades.sql
  models/curvefi/readme.md
Labels: in review

#2562 Add more CEX addresses to addresses.cex & cex labels
  models/addresses/ethereum/addresses_ethereum_cex.sql
  models/labels/cex/labels_cex_ethereum.sql
Labels: ready-for-review

#2446 Feat/add balancer pools labels
  models/balancer/arbitrum/balancer_arbitrum_sources.yml
  models/balancer/ethereum/balancer_ethereum_schema.yml
  models/balancer/ethereum/balancer_ethereum_sources.yml
  models/balancer/ethereum/balancer_vebal_slopes.sql
  models/balancer/optimism/balancer_optimism_sources.yml
  models/balancer/polygon/balancer_polygon_sources.yml
  models/labels/balancer_v2/labels_balancer_v2_pools.sql
  models/labels/balancer_v2/labels_balancer_v2_pools_arbitrum.sql
  models/labels/balancer_v2/labels_balancer_v2_pools_ethereum.sql
  models/labels/balancer_v2/labels_balancer_v2_pools_optimism.sql
  models/labels/balancer_v2/labels_balancer_v2_pools_polygon.sql
  models/labels/balancer_v2/labels_balancer_v2_schema.yml
  models/labels/balancer_v2/labels_balancer_v2_sources.yml
  models/labels/labels_all.sql
Labels: ready-for-review, ready-for-merging

#2316 [Easy] [Labels] Implement dex trader label
  models/labels/dex_traders/ethereum/labels_dex_traders_ethereum.sql
  models/labels/dex_traders/labels_dex_traders.sql
  models/labels/dex_traders/labels_dex_traders_schema.yml
Labels: easy, v2_engine, ready-for-review

#2492 add arbswap_trades
  dbt_project.yml
  models/arbswap/arbswap_trades.sql
  models/arbswap/arbswap_trades_schema.yml
  models/arbswap/arbswap_trades_sources.yml
  models/dex/dex_trades.sql
  seeds/dex/trades/dex_trades_seed.csv
  tests/dex/dex_trades_assert_volume.sql
Labels: dex

#2493 Add gmx margin trades to perpetual trades table - Ready for review
  models/gmx/arbitrum/gmx_arbitrum_perpetual_trades.sql
  models/gmx/arbitrum/gmx_arbitrum_schema.yml
  models/gmx/arbitrum/gmx_arbitrum_sources.yml
  models/gmx/arbitrum/gmx_arbitrum_trades_sources.yml
  models/gmx/avalanche_c/gmx_avalanche_c_perpetual_trades.sql
  models/gmx/avalanche_c/gmx_avalanche_c_schema.yml
  models/gmx/avalanche_c/gmx_avalanche_c_sources.yml
  models/gmx/avalanche_c/gmx_avalanche_c_trades_sources.yml
  models/gmx/gmx_perpetual_trades.sql
  models/gmx/gmx_schema.yml
  models/perpetual/perpetual_trades.sql
  seeds/perpetual/trades/perpetual_trades_seed.csv
  tests/generic/check_perpetuals_seed.sql
Labels: dex

#2571 [CoW] Add "Barter" Solver to solver list
  models/cow_protocol/ethereum/cow_protocol_ethereum_solvers.sql
Labels: easy

#2484 Factory Creator bug in Optimism Contracts
  models/contracts/optimism/contracts_optimism_contract_mapping.sql
Labels: in review

#2541 [Quick] Add new Fellowship contracts
  models/nft/ethereum/metadata/nft_ethereum_metadata_fellowship_gallery.sql
Labels: ready-for-merging

#2543 Add AXL to prices_tokens.sql
  models/prices/prices_tokens.sql
Labels: ready-for-merging

#2549 Update prices_tokens.sql
  models/prices/prices_tokens.sql
Labels: ready-for-merging

#2585 [Easy] Adding 32 Mainnet tokens and 1 Gnosis chain
  models/tokens/ethereum/tokens_ethereum_erc20.sql
  models/tokens/gnosis/tokens_gnosis_erc20.sql
Labels: easy

#2561 Update prices_tokens.sql
  models/prices/prices_tokens.sql
Labels: ready-for-review, ready-for-merging

#2563 Update prices_tokens.sql
  models/prices/prices_tokens.sql
Labels: ready-for-merging

#2579 Fix: add missing value of amount_original and amount_raw
  models/nft/ethereum/nft_ethereum_native_mints.sql
Labels: hotfix, NFT

#2574 Add missing Blur trades
  models/blur/ethereum/blur_ethereum_events.sql
Labels: WIP, in review, NFT

#2508 add emdx to perpetual trades
  dbt_project.yml
  models/emdx/avalanche_c/emdx_avalanche_c_perpetual_trades.sql
  models/emdx/avalanche_c/emdx_avalanche_c_schema.yml
  models/emdx/avalanche_c/emdx_avalanche_c_sources.yml
  models/perpetual/perpetual_trades.sql
  seeds/perpetual/trades/perpetual_trades_seed.csv
Labels: ready-for-merging, dex

#2535 add wigoswap fantom to dex trades - Ready for Review
  dbt_project.yml
  models/dex/dex_trades.sql
  models/wigoswap/fantom/wigoswap_fantom_schema.yml
  models/wigoswap/fantom/wigoswap_fantom_sources.yml
  models/wigoswap/fantom/wigoswap_fantom_trades.sql
  seeds/dex/trades/dex_trades_seed.csv
Labels: ready-for-merging, dex

#2536 add equaliser exchange fantom to dex trades - Ready for review
  dbt_project.yml
  models/dex/dex_trades.sql
  models/equalizer_exchange/fantom/equalizer_exchange_fantom_schema.yml
  models/equalizer_exchange/fantom/equalizer_exchange_fantom_sources.yml
  models/equalizer_exchange/fantom/equalizer_exchange_fantom_trades.sql
  seeds/dex/trades/dex_trades_seed.csv
Labels: ready-for-merging, dex
