Repository duneanalytics/spellbook, pull requests merged in 2023-04, with the labels that each got.

#3135 temp fix to hide double stealer
  models/stealcam/arbitrum/stealcam_arbitrum_events.sql
Labels: ready-for-merging, dune team, hotfix

#3124 T-22455 - Show nomad_ethereum.view_bridge_transactions
  models/nomad/ethereum/nomad_ethereum_view_bridge_transactions.sql
Labels: ready-for-merging

#3123 T-22455 - Fix cryptopunks_ethereum.all_events to be DuneSQL compatible
  models/cryptopunks/ethereum/cryptopunks_ethereum_all_events.sql
Labels: ready-for-merging

#3122 T-22455 - Fix balances_ethereum.genesis_balances to be DuneSQL compatible
  models/balances/ethereum/genesis/genesis_balances.sql
Labels: ready-for-merging

#3121 T-22455 - Show balances_ethereum.erc721_latest
  models/balances/ethereum/erc721/balances_ethereum_erc721_latest.sql
Labels: ready-for-merging

#3117 T-26744 - Make transfers_ethereum token spells DuneSQL compatible
  models/transfers/ethereum/erc1155/transfers_ethereum_erc1155_rolling_day.sql
  models/transfers/ethereum/erc20/transfers_ethereum_erc20_rolling_day.sql
  models/transfers/ethereum/erc20/transfers_ethereum_erc20_rolling_hour.sql
  models/transfers/ethereum/erc721/transfers_ethereum_erc721.sql
  models/transfers/ethereum/erc721/transfers_ethereum_erc721_rolling_hour.sql
  models/transfers/ethereum/transfers_ethereum_schema.yml
Labels: ready-for-merging

#3116 T-26744 - Make transfers_bnb.bep20 spells DuneSQL compatible
  models/transfers/bnb/bep20/transfers_bnb_bep20_rolling_day.sql
  models/transfers/bnb/bep20/transfers_bnb_bep20_rolling_hour.sql
  models/transfers/bnb/transfers_bnb_schema.yml
Labels: ready-for-merging

#3115 T-26744 - Make opensea.inorganic_volume_filter_wallet_funders DuneSQL compatible
  models/opensea/inorganic_volume_filter/wallet_funders/opensea_inorganic_volume_filter_wallet_funders.sql
Labels: ready-for-merging

#3113 T-26744 - Make cow_protocol spells DuneSQL compatible
  models/cow_protocol/tx_hash_labels/bluechip_investment/cow_protocol_tx_hash_labels_bluechip_investment.sql
  models/cow_protocol/tx_hash_labels/bluechip_investment/ethereum/cow_protocol_tx_hash_labels_bluechip_investment_ethereum.sql
  models/cow_protocol/tx_hash_labels/harvest_yield/cow_protocol_tx_hash_labels_harvest_yield.sql
  models/cow_protocol/tx_hash_labels/harvest_yield/ethereum/cow_protocol_tx_hash_labels_harvest_yield_ethereum.sql
  models/cow_protocol/tx_hash_labels/offramp/cow_protocol_tx_hash_labels_offramp.sql
  models/cow_protocol/tx_hash_labels/offramp/ethereum/cow_protocol_tx_hash_labels_offramp_ethereum.sql
  models/cow_protocol/tx_hash_labels/onramp/cow_protocol_tx_hash_labels_onramp.sql
  models/cow_protocol/tx_hash_labels/onramp/ethereum/cow_protocol_tx_hash_labels_onramp_ethereum.sql
  models/cow_protocol/tx_hash_labels/stable_to_stable/cow_protocol_tx_hash_labels_stable_to_stable.sql
  models/cow_protocol/tx_hash_labels/stable_to_stable/ethereum/cow_protocol_tx_hash_labels_stable_to_stable_ethereum.sql
  models/cow_protocol/tx_hash_labels/staking_token_investment/cow_protocol_tx_hash_labels_staking_token_investment.sql
  models/cow_protocol/tx_hash_labels/staking_token_investment/ethereum/cow_protocol_tx_hash_labels_staking_token_investment_ethereum.sql
  models/cow_protocol/tx_hash_labels/treasury_management/cow_protocol_tx_hash_labels_treasury_management.sql
  models/cow_protocol/tx_hash_labels/treasury_management/ethereum/cow_protocol_tx_hash_labels_treasury_management_ethereum.sql
Labels: ready-for-merging

#3093 T-26472 materialize nft/perpetual sector
  .github/workflows/dbt_slim_ci.yml
  models/nft/nft_burns.sql
  models/nft/nft_events.sql
  models/nft/nft_fees.sql
  models/nft/nft_lending.sql
  models/nft/nft_mints.sql
  models/nft/nft_schema.yml
  models/nft/nft_trades.sql
  models/nft/nft_transfers.sql
  models/nftb/bnb/nftb_bnb_fees.sql
  models/perpetual/perpetual_schema.yml
  models/perpetual/perpetual_trades.sql
  models/perpetual_protocol/optimism/perpetual_protocol_optimism_schema.yml
  models/perpetual_protocol/optimism/perpetual_protocol_v2_optimism_perpetual_trades.sql
  models/pika/optimism/pika_optimism_schema.yml
  models/pika/optimism/pika_v1_optimism_perpetual_trades.sql
  models/pika/optimism/pika_v2_optimism_perpetual_trades.sql
  models/pika/optimism/pika_v3_optimism_perpetual_trades.sql
  models/synthetix/optimism/synthetix_optimism_schema.yml
  models/synthetix/optimism/synthetix_v1_optimism_perpetual_trades.sql
  models/synthetix/optimism/synthetix_v2_optimism_perpetual_trades.sql
Labels: ready-for-review, dune team, validate_dunesql_check

#3101 Add Pancakeswap v3 trades
  models/pancakeswap/bnb/pancakeswap_bnb_schema.yml
  models/pancakeswap/bnb/pancakeswap_bnb_sources.yml
  models/pancakeswap/bnb/pancakeswap_bnb_trades.sql
  models/pancakeswap/bnb/pancakeswap_v3_bnb_amm_trades.sql
  models/pancakeswap/ethereum/pancakeswap_ethereum_schema.yml
  models/pancakeswap/ethereum/pancakeswap_ethereum_sources.yml
  models/pancakeswap/ethereum/pancakeswap_ethereum_trades.sql
  models/pancakeswap/ethereum/pancakeswap_v3_ethereum_amm_trades.sql
  models/tokens/ethereum/tokens_ethereum_erc20.sql
  seeds/dex/trades/dex_trades_seed.csv
Labels: dex

#3104 [CoW Protocol] Implement partial fill into cow_protocol ethereum trades
  models/cow_protocol/ethereum/cow_protocol_ethereum_schema.yml
  models/cow_protocol/ethereum/cow_protocol_ethereum_trades.sql
  tests/cow_protocol/ethereum/cow_protocol_ethereum_assert_partial_fill.sql
Labels: ready-for-merging

#3106 Optimism: bridged ERC20 prices
  models/prices/optimism/prices_optimism_schema.yml
  models/prices/optimism/prices_optimism_tokens.sql
  models/prices/optimism/prices_optimism_tokens_bridged.sql
  models/prices/optimism/prices_optimism_tokens_curated.sql
Labels: dune team

#2968 Labeling CEX Tokens
  models/labels/addresses/infrastructure/identifier/cex_tokens/labels_cex_tokens.sql
  models/labels/addresses/infrastructure/identifier/cex_tokens/labels_cex_tokens_schema.yml
  models/labels/addresses/infrastructure/labels_infrastructure.sql
Labels: ready-for-merging, labels

#2878 Add contract deployers labels
  models/base_sources/arbitrum_base_sources.yml
  models/base_sources/avalanche_c_base_sources.yml
  models/base_sources/bnb_base_sources.yml
  models/base_sources/ethereum_base_sources.yml
  models/base_sources/fantom_base_sources.yml
  models/base_sources/gnosis_base_sources.yml
  models/base_sources/goerli_base_sources.yml
  models/base_sources/optimism_base_sources.yml
  models/base_sources/polygon_base_sources.yml
  models/contracts/optimism/contracts_optimism_sources.yml
  models/labels/addresses/infrastructure/labels_infrastructure.sql
  models/labels/addresses/infrastructure/persona/contract_deployers/labels_contract_deployers.sql
  models/labels/addresses/infrastructure/persona/contract_deployers/labels_contract_deployers_arbitrum.sql
  models/labels/addresses/infrastructure/persona/contract_deployers/labels_contract_deployers_avalanche_c.sql
  models/labels/addresses/infrastructure/persona/contract_deployers/labels_contract_deployers_bnb.sql
  models/labels/addresses/infrastructure/persona/contract_deployers/labels_contract_deployers_ethereum.sql
  models/labels/addresses/infrastructure/persona/contract_deployers/labels_contract_deployers_fantom.sql
  models/labels/addresses/infrastructure/persona/contract_deployers/labels_contract_deployers_gnosis.sql
  models/labels/addresses/infrastructure/persona/contract_deployers/labels_contract_deployers_goerli.sql
  models/labels/addresses/infrastructure/persona/contract_deployers/labels_contract_deployers_optimism.sql
  models/labels/addresses/infrastructure/persona/contract_deployers/labels_contract_deployers_polygon.sql
  models/labels/addresses/infrastructure/persona/contract_deployers/labels_contract_deployers_schema.yml
  models/nft/ethereum/nft_ethereum_sources.yml
Labels: labels

#2955 Label : Know your trader (KYT)
  models/labels/addresses/dex/labels_dex.sql
  models/labels/addresses/dex/persona/arbitrage_traders/ethereum/labels_arbitrage_traders_ethereum.sql
  models/labels/addresses/dex/persona/arbitrage_traders/labels_arbitrage_traders.sql
  models/labels/addresses/dex/persona/arbitrage_traders/labels_arbitrage_traders_schema.yml
  models/labels/addresses/dex/persona/dex_aggregator_traders/labels_dex_aggregator_traders.sql
  models/labels/addresses/dex/persona/dex_aggregator_traders/labels_dex_aggregator_traders_schema.yml
  models/labels/addresses/dex/persona/dex_traders/labels_dex_traders.sql
  models/labels/addresses/dex/persona/dex_traders/labels_dex_traders_schema.yml
  models/labels/addresses/dex/persona/sandwich_attackers/README.md
  models/labels/addresses/dex/persona/sandwich_attackers/ethereum/labels_sandwich_attackers_ethereum.sql
  models/labels/addresses/dex/persona/sandwich_attackers/labels_sandwich_attackers.sql
  models/labels/addresses/dex/persona/sandwich_attackers/labels_sandwich_attackers_schema.yml
  models/labels/addresses/dex/persona/smart_dex_traders/ethereum/labels_smart_dex_traders_ethereum.sql
  models/labels/addresses/dex/persona/smart_dex_traders/labels_smart_dex_traders.sql
  models/labels/addresses/dex/persona/smart_dex_traders/labels_smart_dex_traders_schema.yml
  models/labels/addresses/dex/persona/trader_platforms/labels_trader_platforms.sql
  models/labels/addresses/dex/persona/trader_platforms/labels_trader_platforms_schema.yml
  models/labels/addresses/dex/usage/trader_kyt/labels_trader_kyt.sql
  models/labels/addresses/dex/usage/trader_kyt/labels_trader_kyt_schema.yml
Labels: labels

#3046 Aave v2 daily deposit size label
  models/aave/ethereum/aave_ethereum_sources.yml
  models/labels/addresses/__single_category_labels__/aave_v2/labels_aave_v2_annual_liquidations.sql
  models/labels/addresses/__single_category_labels__/aave_v2/labels_aave_v2_annual_liquidations_schema.yml
  models/labels/addresses/__single_category_labels__/aave_v2/labels_aave_v2_daily_deposit_size.sql
  models/labels/addresses/__single_category_labels__/aave_v2/labels_aave_v2_daily_deposit_size_schema.yml
Labels: labels, ready-for-final-review

#2908 Add Integral Ethereum and Arbitrum to dex trades
  dbt_project.yml
  models/dex/dex_trades.sql
  models/integral/arbitrum/integral_arbitrum_schema.yml
  models/integral/arbitrum/integral_arbitrum_sources.yml
  models/integral/arbitrum/integral_arbitrum_trades.sql
  models/integral/ethereum/integral_ethereum_schema.yml
  models/integral/ethereum/integral_ethereum_sources.yml
  models/integral/ethereum/integral_ethereum_trades.sql
  models/integral/integral_schema.yml
  models/integral/integral_trades.sql
  models/prices/ethereum/prices_ethereum_tokens.sql
  seeds/dex/trades/dex_trades_seed.csv
Labels: dex, ready-for-final-review

#3138 revert timeout on CI test
  .github/workflows/dbt_slim_ci.yml
Labels: dune team

#3142 [Easy] Add 37 missing tokens
  models/tokens/ethereum/tokens_ethereum_erc20.sql
Labels: ready-for-merging

#3091 chore: update sharky to v5
  models/sharky/solana/sharky_solana_events.sql
Labels: ready-for-merging

#3032 Create `nft.approvals`
  models/nft/arbitrum/nft_arbitrum_approvals.sql
  models/nft/arbitrum/nft_arbitrum_schema.yml
  models/nft/avalanche_c/nft_avalanche_c_approvals.sql
  models/nft/avalanche_c/nft_avalanche_c_schema.yml
  models/nft/bnb/nft_bnb_approvals.sql
  models/nft/bnb/nft_bnb_schema.yml
  models/nft/ethereum/nft_ethereum_approvals.sql
  models/nft/ethereum/nft_ethereum_schema.yml
  models/nft/fantom/nft_fantom_approvals.sql
  models/nft/fantom/nft_fantom_schema.yml
  models/nft/gnosis/nft_gnosis_approvals.sql
  models/nft/gnosis/nft_gnosis_schema.yml
  models/nft/goerli/nft_goerli_approvals.sql
  models/nft/goerli/nft_goerli_schema.yml
  models/nft/nft_approvals.sql
  models/nft/nft_schema.yml
  models/nft/optimism/nft_optimism_approvals.sql
  models/nft/optimism/nft_optimism_schema.yml
  models/nft/polygon/nft_polygon_approvals.sql
  models/nft/polygon/nft_polygon_schema.yml
Labels: ready-for-merging, NFT

#2941 Add Likely Bot labels to OP
  models/labels/addresses/__single_category_labels__/likely_bots/labels_likely_bot_labels.sql
  models/labels/addresses/__single_category_labels__/likely_bots/labels_likely_bots_schema.yml
  models/labels/addresses/__single_category_labels__/likely_bots/optimism/labels_optimism_likely_bot_addresses.sql
  models/labels/addresses/__single_category_labels__/likely_bots/optimism/labels_optimism_likely_bot_contracts.sql
  models/labels/addresses/__single_category_labels__/likely_bots/optimism/labels_optimism_likely_bots_schema.yml
  models/labels/labels_addresses.sql
Labels: ready-for-merging, labels

#3139 Add OpenSea Optimism trades
  dbt_project.yml
  models/opensea/opensea_events.sql
  models/opensea/opensea_trades.sql
  models/opensea/optimism/opensea_optimism_events.sql
  models/opensea/optimism/opensea_optimism_schema.yml
  models/opensea/optimism/opensea_optimism_trades.sql
  models/seaport/optimism/seaport_optimism_trades.sql
Labels: ready-for-merging, NFT

#3134 Add new version of clipper.exchange on Ethereum (ClipperApproximateCa…
  models/clipper/ethereum/clipper_ethereum_schema.yml
  models/clipper/ethereum/clipper_ethereum_sources.yml
  models/clipper/ethereum/clipper_ethereum_trades.sql
  models/clipper/ethereum/clipper_v4_ethereum_trades.sql
  seeds/dex/trades/dex_trades_seed.csv
Labels: ready-for-merging, dex

#3131 add distinct accounts
  dbt_project.yml
  models/solana_utils/solana_utils_schema.yml
  models/solana_utils/solana_utils_token_accounts.sql
  models/tokens/solana/tokens_solana_fungible.sql
Labels: dune team

#3043 Modifications: OP Token Distribution
  models/addresses/optimism/addresses_optimism_grants_funding.sql
  models/op/token_distributions/optimism/op_token_distributions_optimism_all_distributions_labels.sql
  models/op/token_distributions/optimism/op_token_distributions_optimism_project_name_mapping.sql
  models/op/token_distributions/optimism/op_token_distributions_optimism_project_wallets.sql
  models/op/token_distributions/optimism/op_token_distributions_optimism_transfer_mapping.sql
  models/op/token_distributions/optimism/op_token_distributions_schema.yml
Labels: ready-for-merging

#3109 dex.offers 🦕
  models/dex/dex_offers.sql
  models/rubicon/optimism/rubicon_optimism_offers.sql
  models/rubicon/optimism/rubicon_optimism_schema.yml
  models/rubicon/optimism/rubicon_optimism_sources.yml
  models/rubicon/rubicon_offers.sql
  models/rubicon/rubicon_schema.yml
  models/rubicon/rubicon_trades_schema.yml
  seeds/dex/offers/dex_offers_seed.csv
  tests/rubicon/optimism/rubicon_optimism_offers_test.sql
Labels: ready-for-merging, dex

#3144 add token balances and sol balances daily on Solana
  models/solana_utils/solana_utils_daily_balances.sql
  models/solana_utils/solana_utils_schema.yml
Labels: ready-for-merging

#3146 try again of #3003 (curve fi fixes and add bitcoin cex)
  models/curvefi/ethereum/curvefi_ethereum_pool_details.sql
  models/curvefi/ethereum/curvefi_ethereum_sources.yml
  models/curvefi/ethereum/curvefi_ethereum_trades.sql
  models/curvefi/ethereum/curvefi_ethereum_view_pools.sql
  models/labels/addresses/institution/identifier/cex/labels_cex_bitcoin.sql
  models/labels/addresses/institution/identifier/cex/labels_cex_schema.yml
  models/prices/solana/prices_solana_tokens.sql
  models/tokens/solana/tokens_solana_fungible.sql
  tests/curvefi/ethereum/curvefi_ethereum_view_pools_test.sql
Labels: ready-for-merging

#3088 Add OP RetroPGF Attestation Decoding
  models/labels/addresses/__single_category_labels__/op_retropgf/labels_op_retropgf.sql
  models/labels/addresses/__single_category_labels__/op_retropgf/labels_op_retropgf_schema.yml
  models/labels/labels_addresses.sql
  models/op/op_token/optimism/op_token_optimism_inflation_schedule.sql
  models/op/op_token/optimism/op_token_optimism_initial_allocations.sql
  models/op/op_token/optimism/op_token_optimism_metadata.sql
  models/op/retropgf/optimism/op_retropgf_optimism_recipients.sql
  models/op/retropgf/optimism/op_retropgf_optimism_round2_recipients.sql
  models/op/retropgf/optimism/op_retropgf_optimism_round2_voters.sql
  models/op/retropgf/optimism/op_retropgf_optimism_schema.yml
  models/op/retropgf/optimism/op_retropgf_optimism_voters.sql
Labels: ready-for-merging

#2857 Opensea wyvern polygon trades
  dbt_project.yml
  models/opensea/opensea_events.sql
  models/opensea/opensea_fees.sql
  models/opensea/opensea_trades.sql
  models/opensea/polygon/opensea_polygon_events.sql
  models/opensea/polygon/opensea_polygon_fees.sql
  models/opensea/polygon/opensea_polygon_schema.yml
  models/opensea/polygon/opensea_polygon_sources.yml
  models/opensea/polygon/opensea_polygon_trades.sql
  tests/opensea/polygon/opensea_polygon_assert_events.sql
Labels: ready-for-merging, NFT

#2970 Create `dex.pools` starting with Uniswap pools
  models/dex/dex_pools.sql
  models/dex/dex_schema.yml
  models/labels/addresses/dex/labels_dex.sql
  models/labels/addresses/dex/persona/dex_pools/labels_dex_pools.sql
  models/labels/addresses/dex/persona/dex_pools/labels_dex_pools_schema.yml
  models/uniswap/arbitrum/uniswap_arbitrum_pools.sql
  models/uniswap/arbitrum/uniswap_arbitrum_schema.yml
  models/uniswap/ethereum/uniswap_ethereum_pools.sql
  models/uniswap/ethereum/uniswap_ethereum_schema.yml
  models/uniswap/polygon/uniswap_polygon_pools.sql
  models/uniswap/polygon/uniswap_polygon_schema.yml
  models/uniswap/uniswap_pools.sql
  models/uniswap/uniswap_schema.yml
Labels: in review, dex, labels

#3155 [ERC20] Add 25 Token to Ethereum Mainnet
  models/tokens/ethereum/tokens_ethereum_erc20.sql
Labels: ready-for-merging

#3118 T-26744 - Hide spells that can't be made compatible with DuneSQL
  models/balancer/ethereum/balancer_ethereum_vebal_balances_day.sql
  models/balancer/ethereum/balancer_ethereum_vebal_slopes.sql
  models/balancer/ethereum/balancer_v2_ethereum_lbps.sql
  models/balancer/polygon/balancer_v2_polygon_lbps.sql
Labels: ready-for-review

#3110 0x_api - deduped fills - zeroex & dex_agg
  models/zeroex/ethereum/zeroex_ethereum_api_fills.sql
  models/zeroex/zeroex_api_fills_deduped.sql
  models/zeroex/zeroex_schema.yml
  models/zeroex/zeroex_trades.sql
  seeds/zeroex/zeroex_api_fills_deduped_sample.csv
  seeds/zeroex/zeroex_api_fills_sample.csv
  seeds/zeroex/zeroex_trades_sample.csv
  tests/zeroex/zeroex_api_fills_deduped_test.sql
  tests/zeroex/zeroex_api_fills_test.sql
Labels: in review

#3096 Add flashloans
  models/labels/addresses/__single_category_labels__/contracts/labels_contracts.sql
  models/labels/addresses/__single_category_labels__/op_retropgf/labels_op_retropgf.sql
  models/labels/addresses/infrastructure/labels_infrastructure.sql
  models/labels/addresses/infrastructure/persona/contract_deployers/labels_contract_deployers.sql
  models/labels/addresses/infrastructure/persona/contract_deployers/labels_contract_deployers_arbitrum.sql
  models/labels/addresses/infrastructure/persona/contract_deployers/labels_contract_deployers_avalanche_c.sql
  models/labels/addresses/infrastructure/persona/contract_deployers/labels_contract_deployers_bnb.sql
  models/labels/addresses/infrastructure/persona/contract_deployers/labels_contract_deployers_ethereum.sql
  models/labels/addresses/infrastructure/persona/contract_deployers/labels_contract_deployers_fantom.sql
  models/labels/addresses/infrastructure/persona/contract_deployers/labels_contract_deployers_gnosis.sql
  models/labels/addresses/infrastructure/persona/contract_deployers/labels_contract_deployers_goerli.sql
  models/labels/addresses/infrastructure/persona/contract_deployers/labels_contract_deployers_optimism.sql
  models/labels/addresses/infrastructure/persona/contract_deployers/labels_contract_deployers_polygon.sql
  models/labels/addresses/infrastructure/persona/flashbots/labels_flashbots_ethereum.sql
  models/labels/addresses/infrastructure/persona/flashloans/labels_flashloans_ethereum.sql
  models/labels/addresses/infrastructure/persona/flashloans/labels_flashloans_schema.yml
  models/labels/addresses/infrastructure/persona/flashloans/labels_flashloans_sources.yml
  models/labels/addresses/infrastructure/persona/miners/labels_miners.sql
Labels: labels

#3164 Some new staking entities
  models/staking/ethereum/staking_ethereum_entities.sql
  models/staking/ethereum/staking_ethereum_schema.yml
Labels: ready-for-review

#3176 add 13 new erc20 tokens
  models/tokens/ethereum/tokens_ethereum_erc20.sql
Labels: ready-for-merging

#3141 add bebop trades
  dbt_project.yml
  models/bebop/arbitrum/bebop_arbitrum_schema.yml
  models/bebop/arbitrum/bebop_arbitrum_sources.yml
  models/bebop/arbitrum/bebop_arbitrum_trades.sql
  models/bebop/bebop_trades.sql
  models/bebop/bebop_trades_schema.yml
  models/bebop/ethereum/bebop_ethereum_schema.yml
  models/bebop/ethereum/bebop_ethereum_sources.yml
  models/bebop/ethereum/bebop_ethereum_trades.sql
  models/bebop/polygon/bebop_polygon_schema.yml
  models/bebop/polygon/bebop_polygon_sources.yml
  models/bebop/polygon/bebop_polygon_trades.sql
  models/dex/dex_aggregator_trades.sql
  seeds/dex/aggregator/dex_aggregator_seed.csv
Labels: ready-for-merging, dex

#2946 Smart nft trader model (ROI based) from Dune Competition & intermediate model for future labels
  models/base_sources/community_base_sources.yml
  models/labels/addresses/nft/labels_nft.sql
  models/labels/addresses/nft/labels_nft_schema.yml
  models/labels/addresses/nft/usage/smart_nft_trader/labels_nft_smart_trader_roi_eth.md
  models/labels/addresses/nft/usage/smart_nft_trader/labels_nft_smart_trader_roi_eth.sql
  models/nft/ethereum/nft_ethereum_schema.yml
  models/nft/ethereum/nft_ethereum_wallet_metrics.sql
  models/tokens/ethereum/tokens_ethereum_sources.yml
Labels: ready-for-merging, NFT, labels

#3178 add amount column to tornado cash withdrawals
  models/tornado_cash/tornado_cash_withdrawals.sql
Labels: dune team, hotfix

#3179 update prices gh action to run on blockchain files
  .github/workflows/prices_check.yml
  scripts/token_checker.py
Labels: dune team

#3180 remove dupe price
  models/prices/arbitrum/prices_arbitrum_tokens.sql
Labels: dune team, hotfix

#3181 [Prices] Remove SHIH - permanently.
  models/prices/ethereum/prices_ethereum_tokens.sql
Labels: ready-for-merging

#3150 Add onepunchswap on bnb chain
  dbt_project.yml
  models/dex/dex_trades.sql
  models/onepunchswap/bnb/onepunchswap_bnb_schema.yml
  models/onepunchswap/bnb/onepunchswap_bnb_source.yml
  models/onepunchswap/bnb/onepunchswap_bnb_trades.sql
  seeds/dex/trades/dex_trades_seed.csv
Labels: ready-for-merging, dex

#3071 Init Sushi Masterchef (Optimism)
  models/sushiswap/optimism/sushiswap_optimism_pool_incentives_config.sql
  models/sushiswap/optimism/sushiswap_optimism_pool_incentives_mappings.sql
  models/sushiswap/optimism/sushiswap_optimism_pool_incentives_rates.sql
  models/sushiswap/optimism/sushiswap_optimism_schema.yml
  models/sushiswap/optimism/sushiswap_optimism_sources.yml
Labels: ready-for-merging

#3187 [CoW] Trade Slippage for Partially Fillable Orders
  models/cow_protocol/ethereum/cow_protocol_ethereum_schema.yml
  models/cow_protocol/ethereum/cow_protocol_ethereum_trade_slippage.sql
  tests/cow_protocol/ethereum/cow_protocol_ethereum_assert_slippage.sql
Labels: ready-for-merging

#3147 Airdrop sector creation
  dbt_project.yml
  models/airdrop/README.md
  models/airdrop/airdrop_claims.sql
  models/airdrop/airdrop_schema.yml
  models/airdrop/arbitrum/airdrop_arbitrum_claims.sql
  models/airdrop/arbitrum/airdrop_arbitrum_schema.yml
  models/airdrop/avalanche_c/airdrop_avalanche_c_claims.sql
  models/airdrop/avalanche_c/airdrop_avalanche_c_schema.yml
  models/airdrop/bnb/airdrop_bnb_claims.sql
  models/airdrop/bnb/airdrop_bnb_schema.yml
  models/airdrop/ethereum/airdrop_ethereum_claims.sql
  models/airdrop/ethereum/airdrop_ethereum_schema.yml
  models/airdrop/gnosis/airdrop_gnosis_claims.sql
  models/airdrop/gnosis/airdrop_gnosis_schema.yml
  models/airdrop/optimism/airdrop_optimism_addresses_1_schema.yml
  models/airdrop/optimism/airdrop_optimism_claims.sql
  models/airdrop/optimism/airdrop_optimism_schema.yml
  models/ampleforth/ethereum/ampleforth_ethereum_airdrop_claims.sql
  models/ampleforth/ethereum/ampleforth_ethereum_schema.yml
  models/arbitrum/arbitrum/arbitrum_arbitrum_airdrop_claims.sql
  models/arbitrum/arbitrum/arbitrum_arbitrum_schema.yml
  models/arbitrum/arbitrum/arbitrum_arbitrum_sources.yml
  models/ellipsis_finance/bnb/ellipsis_finance_bnb_airdrop_claims.sql
  models/ellipsis_finance/bnb/ellipsis_finance_bnb_schema.yml
  models/ellipsis_finance/bnb/ellipsis_finance_bnb_sources.yml
  models/giveth/ethereum/giveth_gnosis_airdrop_claims.sql
  models/giveth/ethereum/giveth_gnosis_schema.yml
  models/giveth/ethereum/giveth_gnosis_sources.yml
  models/pangolin/avalanche_c/pangolin_avalanche_c_airdrop_claims.sql
  models/pangolin/avalanche_c/pangolin_avalanche_c_schema.yml
  models/pangolin/avalanche_c/pangolin_avalanche_c_sources.yml
  models/velodrome/optimism/velodrome_optimism_airdrop_claims.sql
  models/velodrome/optimism/velodrome_optimism_schema.yml
  models/velodrome/optimism/velodrome_optimism_sources.yml
Labels: ready-for-merging

#3198 Stealcam model fix
  models/stealcam/arbitrum/stealcam_arbitrum_events.sql
Labels: dune team, hotfix, NFT

#3197 add oneinch to dex aggregator
  models/dex/dex_aggregator_trades.sql
  models/oneinch/ethereum/unoswap/oneinch_unoswap_v5_ethereum_trades.sql
  models/tokens/ethereum/tokens_ethereum_erc20.sql
Labels: ready-for-merging, dune team, dex

#2987 add tigris v2 - ready for review
  models/tigris/arbitrum/events/tigris_arbitrum_events_schema.yml
  models/tigris/arbitrum/events/tigris_arbitrum_events_sources.yml
  models/tigris/arbitrum/events/tigris_v1_arbitrum_events_add_margin.sql
  models/tigris/arbitrum/events/tigris_v1_arbitrum_events_close_position.sql
  models/tigris/arbitrum/events/tigris_v1_arbitrum_events_limit_order.sql
  models/tigris/arbitrum/events/tigris_v1_arbitrum_events_liquidate_position.sql
  models/tigris/arbitrum/events/tigris_v1_arbitrum_events_modify_margin.sql
  models/tigris/arbitrum/events/tigris_v1_arbitrum_events_open_position.sql
  models/tigris/arbitrum/events/tigris_v2_arbitrum_events_add_margin.sql
  models/tigris/arbitrum/events/tigris_v2_arbitrum_events_close_position.sql
  models/tigris/arbitrum/events/tigris_v2_arbitrum_events_limit_order.sql
  models/tigris/arbitrum/events/tigris_v2_arbitrum_events_liquidate_position.sql
  models/tigris/arbitrum/events/tigris_v2_arbitrum_events_modify_margin.sql
  models/tigris/arbitrum/events/tigris_v2_arbitrum_events_open_position.sql
  models/tigris/arbitrum/positions/tigris_arbitrum_positions_schema.yml
  models/tigris/arbitrum/positions/tigris_v1_arbitrum_positions_close.sql
  models/tigris/arbitrum/positions/tigris_v1_arbitrum_positions_leverage.sql
  models/tigris/arbitrum/positions/tigris_v1_arbitrum_positions_liquidation.sql
  models/tigris/arbitrum/positions/tigris_v1_arbitrum_positions_margin.sql
  models/tigris/arbitrum/positions/tigris_v2_arbitrum_positions_close.sql
  models/tigris/arbitrum/positions/tigris_v2_arbitrum_positions_leverage.sql
  models/tigris/arbitrum/positions/tigris_v2_arbitrum_positions_liquidation.sql
  models/tigris/arbitrum/positions/tigris_v2_arbitrum_positions_margin.sql
  models/tigris/arbitrum/tigris_arbitrum_schema.yml
  models/tigris/arbitrum/tigris_arbitrum_trades.sql
  models/tigris/arbitrum/tigris_v1_arbitrum_trades.sql
  models/tigris/arbitrum/tigris_v2_arbitrum_trades.sql
  models/tigris/polygon/events/tigris_polygon_events_schema.yml
  models/tigris/polygon/events/tigris_polygon_events_sources.yml
  models/tigris/polygon/events/tigris_v1_polygon_events_add_margin.sql
  models/tigris/polygon/events/tigris_v1_polygon_events_close_position.sql
  models/tigris/polygon/events/tigris_v1_polygon_events_limit_order.sql
  models/tigris/polygon/events/tigris_v1_polygon_events_liquidate_position.sql
  models/tigris/polygon/events/tigris_v1_polygon_events_modify_margin.sql
  models/tigris/polygon/events/tigris_v1_polygon_events_open_position.sql
  models/tigris/polygon/events/tigris_v2_polygon_events_add_margin.sql
  models/tigris/polygon/events/tigris_v2_polygon_events_close_position.sql
  models/tigris/polygon/events/tigris_v2_polygon_events_limit_order.sql
  models/tigris/polygon/events/tigris_v2_polygon_events_liquidate_position.sql
  models/tigris/polygon/events/tigris_v2_polygon_events_modify_margin.sql
  models/tigris/polygon/events/tigris_v2_polygon_events_open_position.sql
  models/tigris/polygon/positions/tigris_polygon_positions_schema.yml
  models/tigris/polygon/positions/tigris_v1_polygon_positions_close.sql
  models/tigris/polygon/positions/tigris_v1_polygon_positions_leverage.sql
  models/tigris/polygon/positions/tigris_v1_polygon_positions_liquidation.sql
  models/tigris/polygon/positions/tigris_v1_polygon_positions_margin.sql
  models/tigris/polygon/positions/tigris_v2_polygon_positions_close.sql
  models/tigris/polygon/positions/tigris_v2_polygon_positions_leverage.sql
  models/tigris/polygon/positions/tigris_v2_polygon_positions_liquidation.sql
  models/tigris/polygon/positions/tigris_v2_polygon_positions_margin.sql
  models/tigris/polygon/tigris_polygon_schema.yml
  models/tigris/polygon/tigris_polygon_trades.sql
  models/tigris/polygon/tigris_v1_polygon_trades.sql
  models/tigris/polygon/tigris_v2_polygon_trades.sql
Labels: WIP

#3183 Add LooksRare v2
  models/looksrare/ethereum/looksrare_ethereum_events.sql
  models/looksrare/ethereum/looksrare_ethereum_schema.yml
  models/looksrare/ethereum/looksrare_ethereum_sources.yml
  models/looksrare/ethereum/looksrare_v1_ethereum_events.sql
  models/looksrare/ethereum/looksrare_v2_ethereum_events.sql
  seeds/looksrare/ethereum/looksrare_ethereum_seed_schema.yml
  seeds/looksrare/ethereum/looksrare_ethereum_v1_trades.csv
  seeds/looksrare/ethereum/looksrare_ethereum_v2_trades.csv
Labels: NFT

#3209 0x - updates to native token addresses, matcha flags
  models/zeroex/arbitrum/zeroex_arbitrum_api_fills.sql
  models/zeroex/avalanche_c/zeroex_avalanche_c_api_fills.sql
  models/zeroex/bnb/zeroex_bnb_api_fills.sql
  models/zeroex/ethereum/zeroex_ethereum_api_fills.sql
  models/zeroex/fantom/zeroex_fantom_api_fills.sql
  models/zeroex/optimism/zeroex_optimism_api_fills.sql
  models/zeroex/polygon/zeroex_polygon_api_fills.sql
  seeds/zeroex/bnb/zeroex_bnb_api_fills_deduped_sample.csv
  seeds/zeroex/bnb/zeroex_bnb_api_fills_sample.csv
  seeds/zeroex/zeroex_api_fills_deduped_sample.csv
  tests/zeroex/zeroex_api_fills_deduped_test.sql
Labels: ready-for-merging

#3220 Add Pepe to prices.usd
  models/prices/ethereum/prices_ethereum_tokens.sql
Labels: ready-for-merging

#3219 Correct datatype and typo on `opensea_v3_polygon`
  models/opensea/polygon/opensea_polygon_schema.yml
  models/opensea/polygon/opensea_v3_polygon_events.sql
  seeds/opensea/polygon/opensea_polygon_seaport_trades_samples.csv
Labels: ready-for-merging, NFT

#3218 [EASY] OP Fix Contract Mappings
  models/contracts/optimism/contracts_optimism_contract_creator_address_list.sql
Labels: easy, ready-for-merging

#3222 add Dew aggregator on Polygon
  models/nft/polygon/nft_polygon_aggregators.sql
Labels: ready-for-merging, NFT

#3221 [Erc20] add 79 missing tokens
  models/tokens/ethereum/tokens_ethereum_erc20.sql
Labels: ready-for-merging

#3171 adding-glacier-exchange
  dbt_project.yml
  models/dex/dex_trades.sql
  models/glacier/avalanche_c/glacier_avalanche_c_schema.yml
  models/glacier/avalanche_c/glacier_avalanche_c_sources.yml
  models/glacier/avalanche_c/glacier_avalanche_c_trades.sql
  seeds/dex/trades/dex_trades_seed.csv
Labels: ready-for-merging, dex

#3212 WIP [oneinch] add static contract addresses
  models/oneinch/oneinch_contract_addresses.sql
  models/oneinch/oneinch_schema.yml
Labels: ready-for-merging

#3231 reorg macros
  macros/public/all_evm_chains_schema.yml
  macros/public/base58_decode_schema.yml
  macros/public/bytea2numeric_schema.yml
  macros/public/bytea2numeric_v3_schema.yml
  macros/public/get_chain_explorer_schema.yml
  macros/public/get_chain_native_token_schema.yml
  macros/public/get_href_schema.yml
  macros/public/public_macros_schema.yml
  macros/test-helpers/test_helpers_schema.yml
Labels: dune team

#3233 Fix giveth blockchain (fix dbt warning)
  models/giveth/gnosis/giveth_gnosis_airdrop_claims.sql
  models/giveth/gnosis/giveth_gnosis_schema.yml
  models/giveth/gnosis/giveth_gnosis_sources.yml
Labels: ready-for-merging

#3241 Add P2P.org to Identified ETH Stakers
  models/staking/ethereum/staking_ethereum_entities.sql
Labels: ready-for-merging

#3226 Labels Clean Up
  models/labels/addresses/bridge/labels_bridges.sql
  models/labels/addresses/dao/labels_dao.sql
  models/labels/addresses/dex/labels_dex.sql
  models/labels/addresses/institution/labels_institution.sql
  models/labels/labels_addresses.sql
Labels: in review, labels

#3039 fix balancer liquidity v2
  models/balancer/arbitrum/balancer_arbitrum_schema.yml
  models/balancer/arbitrum/balancer_v2_arbitrum_liquidity.sql
  models/balancer/ethereum/balancer_ethereum_schema.yml
  models/balancer/ethereum/balancer_v2_ethereum_liquidity.sql
  models/balancer/optimism/balancer_optimism_schema.yml
  models/balancer/optimism/balancer_v2_optimism_liquidity.sql
  models/balancer/polygon/balancer_polygon_schema.yml
  models/balancer/polygon/balancer_v2_polygon_liquidity.sql
Labels: question, in review

#3208 Feature/add gauge labels
  models/labels/addresses/__single_category_labels__/balancer_v2/labels_balancer_v2_gauges.sql
  models/labels/addresses/__single_category_labels__/balancer_v2/labels_balancer_v2_gauges_arbitrum.sql
  models/labels/addresses/__single_category_labels__/balancer_v2/labels_balancer_v2_gauges_ethereum.sql
  models/labels/addresses/__single_category_labels__/balancer_v2/labels_balancer_v2_gauges_optimism.sql
  models/labels/addresses/__single_category_labels__/balancer_v2/labels_balancer_v2_gauges_polygon.sql
  models/labels/addresses/__single_category_labels__/balancer_v2/labels_balancer_v2_schema.yml
  models/labels/addresses/__single_category_labels__/balancer_v2/labels_balancer_v2_sources.yml
  models/labels/addresses/infrastructure/persona/mev/labels_mev_schema.yml
  models/labels/labels_addresses.sql
Labels: labels

#3235 add aragon app (polygon) - Ready for review
  models/aragon/polygon/aragon_polygon_app_dao_addresses.sql
  models/aragon/polygon/aragon_polygon_dao_addresses.sql
  models/aragon/polygon/aragon_polygon_schema.yml
  models/aragon/polygon/aragon_polygon_sources.yml
  seeds/dao/dao_addresses_seed.csv
Labels: in review

#3244 Add Collectionswap to nft.trades
  models/collectionswap/ethereum/_schema.yml
  models/collectionswap/ethereum/_sources.yml
  models/collectionswap/ethereum/collectionswap_ethereum_events.sql
  models/collectionswap/ethereum/collectionswap_ethereum_fees.sql
  models/collectionswap/ethereum/collectionswap_ethereum_pools.sql
  models/collectionswap/ethereum/collectionswap_ethereum_trades.sql
  models/nft/nft_events.sql
  models/nft/nft_fees.sql
  models/nft/nft_trades.sql
  seeds/collectionswap/_schema.yml
  seeds/collectionswap/collectionswap_ethereum_trades_samples.csv
Labels: NFT

#3249 zeroex - revert avax
  models/zeroex/avalanche_c/zeroex_avalanche_c_api_fills.sql
Labels: ready-for-merging

#3246 Added OATH and GRAIN tokens
  models/prices/arbitrum/prices_arbitrum_tokens.sql
  models/prices/avalanche_c/prices_avalanche_c_tokens.sql
  models/prices/bnb/prices_bnb_tokens.sql
  models/prices/ethereum/prices_ethereum_tokens.sql
  models/prices/fantom/prices_fantom_tokens.sql
  models/prices/optimism/prices_optimism_tokens_curated.sql
  models/prices/polygon/prices_polygon_tokens.sql
Labels: ready-for-merging

#3242 Add seaport v1.5 to `opensea.trades`
  models/opensea/ethereum/opensea_ethereum_schema.yml
  models/opensea/ethereum/opensea_v4_ethereum_trades.sql
  seeds/opensea/ethereum/opensea_ethereum_seaport_trades_samples.csv
  seeds/opensea/ethereum/schema.yml
Labels: ready-for-merging, NFT

#3251 [Quickfix] Fix wrong selection
  models/labels/addresses/dex/usage/trader_kyt/labels_trader_kyt.sql
Labels: hotfix
