Repository duneanalytics/spellbook, pull requests merged in 2023-08, with the labels that each got.

#3707 Solana Orca Whirlpool
  models/orca_whirlpool/orca_whirlpool_trades.sql
  models/orca_whirlpool/orca_whirlpool_trades_legacy.sql
  models/orca_whirlpool/orca_whirlpool_trades_schema.yml
  models/orca_whirlpool/orca_whirlpool_trades_sources.yml
  models/tokens/solana/tokens_solana_fungible.sql
Labels: DuneSQL migration

#3913 Add Base & WCELO to `evms.info`
  models/evms/evms_info.sql
Labels: easy, ready-for-merging

#3838 Dao migration - update#6-main tables
  models/dao/addresses/dao_addresses.sql
  models/dao/addresses/dao_addresses_legacy.sql
  models/dao/addresses/ethereum/dao_addresses_ethereum.sql
  models/dao/addresses/ethereum/dao_addresses_ethereum_daohaus.sql
  models/dao/addresses/ethereum/dao_addresses_ethereum_daohaus_legacy.sql
  models/dao/addresses/ethereum/dao_addresses_ethereum_legacy.sql
  models/dao/addresses/ethereum/dao_addresses_ethereum_schema.yml
  models/dao/addresses/ethereum/dao_addresses_ethereum_syndicate.sql
  models/dao/addresses/ethereum/dao_addresses_ethereum_syndicate_legacy.sql
  models/dao/addresses/ethereum/dao_addresses_ethereum_zodiac.sql
  models/dao/addresses/ethereum/dao_addresses_ethereum_zodiac_legacy.sql
  models/dao/addresses/gnosis/dao_addresses_gnosis.sql
  models/dao/addresses/gnosis/dao_addresses_gnosis_colony.sql
  models/dao/addresses/gnosis/dao_addresses_gnosis_colony_legacy.sql
  models/dao/addresses/gnosis/dao_addresses_gnosis_daohaus.sql
  models/dao/addresses/gnosis/dao_addresses_gnosis_daohaus_legacy.sql
  models/dao/addresses/gnosis/dao_addresses_gnosis_legacy.sql
  models/dao/addresses/gnosis/dao_addresses_gnosis_schema.yml
  models/dao/addresses/polygon/dao_addresses_polygon.sql
  models/dao/addresses/polygon/dao_addresses_polygon_legacy.sql
  models/dao/addresses/polygon/dao_addresses_polygon_schema.yml
  models/dao/addresses/polygon/dao_addresses_polygon_syndicate.sql
  models/dao/addresses/polygon/dao_addresses_polygon_syndicate_legacy.sql
  models/dao/balances/dao_balances.sql
  models/dao/transactions/dao_transactions.sql
  models/dao/transactions/dao_transactions_legacy.sql
  models/dao/transactions/ethereum/dao_transactions_ethereum_erc20.sql
  models/dao/transactions/ethereum/dao_transactions_ethereum_erc20_legacy.sql
  models/dao/transactions/ethereum/dao_transactions_ethereum_eth.sql
  models/dao/transactions/ethereum/dao_transactions_ethereum_eth_legacy.sql
  models/dao/transactions/ethereum/dao_transactions_ethereum_schema.yml
  models/dao/transactions/gnosis/dao_transactions_gnosis_erc20.sql
  models/dao/transactions/gnosis/dao_transactions_gnosis_erc20_legacy.sql
  models/dao/transactions/gnosis/dao_transactions_gnosis_eth.sql
  models/dao/transactions/gnosis/dao_transactions_gnosis_eth_legacy.sql
  models/dao/transactions/gnosis/dao_transactions_gnosis_schema.yml
  models/dao/transactions/polygon/dao_transactions_polygon_erc20.sql
  models/dao/transactions/polygon/dao_transactions_polygon_erc20_legacy.sql
  models/dao/transactions/polygon/dao_transactions_polygon_eth.sql
  models/dao/transactions/polygon/dao_transactions_polygon_eth_legacy.sql
  models/dao/transactions/polygon/dao_transactions_polygon_schema.yml
  seeds/dao/dao_addresses_seed.csv
  seeds/dao/dao_transactions_seed.csv
Labels: DuneSQL migration

#3850 Add new tokenlon v5 trades models
  dbt_project.yml
  models/tokenlon/ethereum/tokenlon_ethereum_schema.yml
  models/tokenlon/ethereum/tokenlon_ethereum_sources.yml
  models/tokenlon/ethereum/tokenlon_ethereum_trades.sql
  models/tokenlon/ethereum/tokenlon_ethereum_trades_legacy.sql
  models/tokenlon/ethereum/tokenlon_v5_ethereum_amm_v1_trades.sql
  models/tokenlon/ethereum/tokenlon_v5_ethereum_amm_v1_trades_legacy.sql
  models/tokenlon/ethereum/tokenlon_v5_ethereum_amm_v2_trades.sql
  models/tokenlon/ethereum/tokenlon_v5_ethereum_amm_v2_trades_legacy.sql
  models/tokenlon/ethereum/tokenlon_v5_ethereum_pmm_v5_trades.sql
  models/tokenlon/ethereum/tokenlon_v5_ethereum_pmm_v5_trades_legacy.sql
  models/tokenlon/ethereum/tokenlon_v5_ethereum_rfq_v1_trades.sql
  models/tokenlon/ethereum/tokenlon_v5_ethereum_rfq_v1_trades_legacy.sql
  models/tokenlon/tokenlon_trades.sql
  models/tokenlon/tokenlon_trades_legacy.sql
  models/tokenlon/tokenlon_trades_schema.yml
  seeds/dex/aggregator/dex_aggregator_seed.csv
Labels: in review, DuneSQL migration

#3792 zeroex - activate poly deduped
  models/zeroex/polygon/zeroex_polygon_api_fills_deduped_legacy.sql
  models/zeroex/zeroex_api_fills_deduped_legacy.sql
Labels: hotfix

#3878 erc4337 account_deployed polygon chain
  macros/models/_sector/erc4337/erc4337_account_deployed.sql
  models/account_abstraction/erc4337/polygon/account_abstraction_erc4337_polygon_account_deployed.sql
  models/account_abstraction/erc4337/polygon/account_abstraction_erc4337_polygon_schema.yml
  models/account_abstraction/erc4337/polygon/account_abstraction_erc4337_polygon_sources.yml
  models/account_abstraction/erc4337/polygon/account_abstraction_erc4337_polygon_v0_5_account_deployed.sql
  models/account_abstraction/erc4337/polygon/account_abstraction_erc4337_polygon_v0_6_account_deployed.sql
  seeds/account_abstraction/erc4337/_schema.yml
  seeds/account_abstraction/erc4337/account_abstraction_erc4337_account_deployed_seed.csv
Labels: ready-for-merging

#3783 Create Astaria lending spell - ready for review
  dbt_project.yml
  models/astaria/ethereum/astaria_ethereum_daily_deposits.sql
  models/astaria/ethereum/astaria_ethereum_daily_deposits_legacy.sql
  models/astaria/ethereum/astaria_ethereum_events.sql
  models/astaria/ethereum/astaria_ethereum_events_legacy.sql
  models/astaria/ethereum/astaria_ethereum_lending.sql
  models/astaria/ethereum/astaria_ethereum_lending_legacy.sql
  models/astaria/ethereum/astaria_ethereum_schema.yml
  models/astaria/ethereum/astaria_ethereum_sources.yml
  seeds/astaria/_schema.yml
  seeds/astaria/astaria_lending_seed.csv
Labels: DuneSQL migration

#3928 T-32005 Set join_distribution_type on materialized and partitioned models
  dbt_project.yml
  models/nft/chains/nft_polygon_transfers.sql
  models/orca_whirlpool/orca_whirlpool_trades.sql
Labels: dune team, DuneSQL migration

#3741 Create get_chain_explorer macros
  macros/public/get_chain_explorer_address.sql
  macros/public/get_chain_explorer_tx_hash.sql
Labels: DuneSQL migration

#3687 Pancakeswap migration
  models/pancakeswap/bnb/pancakeswap_bnb_schema.yml
  models/pancakeswap/bnb/pancakeswap_bnb_trades.sql
  models/pancakeswap/bnb/pancakeswap_bnb_trades_legacy.sql
  models/pancakeswap/bnb/pancakeswap_v2_bnb_amm_trades.sql
  models/pancakeswap/bnb/pancakeswap_v2_bnb_amm_trades_legacy.sql
  models/pancakeswap/bnb/pancakeswap_v2_bnb_mmpool_trades.sql
  models/pancakeswap/bnb/pancakeswap_v2_bnb_mmpool_trades_legacy.sql
  models/pancakeswap/bnb/pancakeswap_v2_bnb_stableswap_trades.sql
  models/pancakeswap/bnb/pancakeswap_v2_bnb_stableswap_trades_legacy.sql
  models/pancakeswap/bnb/pancakeswap_v3_bnb_amm_trades.sql
  models/pancakeswap/bnb/pancakeswap_v3_bnb_amm_trades_legacy.sql
  models/pancakeswap/ethereum/pancakeswap_ethereum_schema.yml
  models/pancakeswap/ethereum/pancakeswap_ethereum_trades.sql
  models/pancakeswap/ethereum/pancakeswap_ethereum_trades_legacy.sql
  models/pancakeswap/ethereum/pancakeswap_v2_ethereum_amm_trades.sql
  models/pancakeswap/ethereum/pancakeswap_v2_ethereum_amm_trades_legacy.sql
  models/pancakeswap/ethereum/pancakeswap_v2_ethereum_mmpool_trades.sql
  models/pancakeswap/ethereum/pancakeswap_v2_ethereum_mmpool_trades_legacy.sql
  models/pancakeswap/ethereum/pancakeswap_v3_ethereum_amm_trades.sql
  models/pancakeswap/ethereum/pancakeswap_v3_ethereum_amm_trades_legacy.sql
  models/pancakeswap/pancakeswap_trades.sql
  models/pancakeswap/pancakeswap_trades_legacy.sql
  models/pancakeswap/pancakeswap_trades_schema.yml
  seeds/dex/trades/_schema.yml
Labels: dex, DuneSQL migration

#3942 T-32045 Revert "Migrate oneinch_v1_ethereum_trades to DuneSQL (#3888)"
  models/oneinch/ethereum/oneinch_ethereum_schema.yml
  models/oneinch/ethereum/oneinch_v1_ethereum_trades.sql
  seeds/dex/aggregator/dex_aggregator_seed.csv
Labels: dune team, hotfix, DuneSQL migration

#3951 `superrare_ethereum_base_trades` exclude in prod on dupes
  models/_sector/nft/trades/ethereum/platforms/legacy/superrare_ethereum_base_trades_legacy.sql
  models/_sector/nft/trades/ethereum/platforms/superrare_ethereum_base_trades.sql
Labels: hotfix, NFT

#3950 Add incremental strategy for dao.transactions
  models/dao/transactions/dao_transactions.sql
Labels: ready-for-merging

#3949 Update macros to refer to all onboarded chains
  macros/public/get_chain_explorer.sql
  macros/public/get_chain_explorer_address.sql
  macros/public/get_chain_explorer_tx_hash.sql
Labels: ready-for-merging

#3929 oneinch: calls_transfers prod, all chains
  macros/models/_project/oneinch/oneinch_ar_calls_transfers_macro.sql
  models/abi/signatures.sql
  models/oneinch/arbitrum/oneinch_arbitrum_ar_calls_transfers.sql
  models/oneinch/arbitrum/oneinch_arbitrum_ar_calls_transfers_legacy.sql
  models/oneinch/arbitrum/oneinch_arbitrum_schema.yml
  models/oneinch/avalanche_c/oneinch_avalanche_c_ar_calls_transfers.sql
  models/oneinch/avalanche_c/oneinch_avalanche_c_ar_calls_transfers_legacy.sql
  models/oneinch/avalanche_c/oneinch_avalanche_c_schema.yml
  models/oneinch/bnb/oneinch_bnb_ar_calls_transfers.sql
  models/oneinch/bnb/oneinch_bnb_ar_calls_transfers_legacy.sql
  models/oneinch/bnb/oneinch_bnb_calls_transfers.sql
  models/oneinch/bnb/oneinch_bnb_calls_transfers_legacy.sql
  models/oneinch/ethereum/oneinch_ethereum_ar_calls_transfers.sql
  models/oneinch/ethereum/oneinch_ethereum_ar_calls_transfers_legacy.sql
  models/oneinch/ethereum/oneinch_ethereum_schema.yml
  models/oneinch/fantom/oneinch_fantom_ar_calls_transfers.sql
  models/oneinch/fantom/oneinch_fantom_ar_calls_transfers_legacy.sql
  models/oneinch/fantom/oneinch_fantom_calls_transfers.sql
  models/oneinch/fantom/oneinch_fantom_calls_transfers_legacy.sql
  models/oneinch/fantom/oneinch_fantom_schema.yml
  models/oneinch/gnosis/oneinch_gnosis_ar_calls_transfers.sql
  models/oneinch/gnosis/oneinch_gnosis_ar_calls_transfers_legacy.sql
  models/oneinch/gnosis/oneinch_gnosis_schema.yml
  models/oneinch/oneinch_ar_calls.sql
  models/oneinch/oneinch_ar_calls_legacy.sql
  models/oneinch/oneinch_ar_calls_transfers_amounts.sql
  models/oneinch/oneinch_ar_calls_transfers_amounts_legacy.sql
  models/oneinch/oneinch_contract_addresses.sql
  models/oneinch/oneinch_contract_addresses_legacy.sql
  models/oneinch/oneinch_fusion_executors.sql
  models/oneinch/oneinch_fusion_executors_legacy.sql
  models/oneinch/oneinch_protocols.sql
  models/oneinch/oneinch_protocols_legacy.sql
  models/oneinch/oneinch_schema.yml
  models/oneinch/optimism/oneinch_optimism_ar_calls_transfers.sql
  models/oneinch/optimism/oneinch_optimism_ar_calls_transfers_legacy.sql
  models/oneinch/optimism/oneinch_optimism_schema.yml
  models/oneinch/polygon/oneinch_polygon_ar_calls_transfers.sql
  models/oneinch/polygon/oneinch_polygon_ar_calls_transfers_legacy.sql
  models/oneinch/polygon/oneinch_polygon_schema.yml
Labels: ready-for-merging, DuneSQL migration

#3789 Migrate models/labels/addresses/institution/*
  models/labels/addresses/institution/identifier/cex/labels_cex.sql
  models/labels/addresses/institution/identifier/cex/labels_cex_bitcoin.sql
  models/labels/addresses/institution/identifier/funds/labels_funds.sql
  models/labels/addresses/institution/identifier/funds/labels_funds_ethereum.sql
  models/labels/addresses/institution/labels_institution.sql
Labels: DuneSQL migration

#3931 Create EVM Chains Macro
  macros/public/all_evm_chains.sql
Labels: ready-for-merging

#3810 Add Maverick and Biswap v3 on BNB chain to dex.trades (DuneSQL)
  models/biswap/bnb/biswap_bnb_schema.yml
  models/biswap/bnb/biswap_bnb_sources.yml
  models/biswap/bnb/biswap_v3_bnb_trades.sql
  models/biswap/bnb/biswap_v3_bnb_trades_legacy.sql
  models/maverick/bnb/maverick_bnb_schema.yml
  models/maverick/bnb/maverick_bnb_sources.yml
  models/maverick/bnb/maverick_v1_bnb_trades.sql
  models/maverick/bnb/maverick_v1_bnb_trades_legacy.sql
  seeds/dex/trades/dex_trades_seed.csv
Labels: dex

#3608 Modify EVMs Transactions to Handle for L2s
  macros/public/all_op_chains.sql
  models/evms/evms_transactions.sql
Labels: ready-for-merging

#3614 [dunesql] Add Galxe Questers & Quest Spell for Optimism
  dbt_project.yml
  models/coinbase_wallet_quests/optimism/coinbase_wallet_quests_optimism_distributor_addresses.sql
  models/coinbase_wallet_quests/optimism/coinbase_wallet_quests_optimism_distributor_addresses_legacy.sql
  models/coinbase_wallet_quests/optimism/coinbase_wallet_quests_optimism_rewards_transfers.sql
  models/coinbase_wallet_quests/optimism/coinbase_wallet_quests_optimism_rewards_transfers_legacy.sql
  models/galxe/optimism/galxe_optimism_nft_mints.sql
  models/galxe/optimism/galxe_optimism_nft_mints_legacy.sql
  models/galxe/optimism/optimism_quests_optimism_schema.yml
  models/labels/addresses/__single_category_labels__/quests/persona/coinbase_wallet_quests/labels_optimism_coinbase_wallet_quest_participants.sql
  models/labels/addresses/__single_category_labels__/quests/persona/coinbase_wallet_quests/labels_optimism_coinbase_wallet_quest_participants_legacy.sql
  models/labels/addresses/__single_category_labels__/quests/persona/coinbase_wallet_quests/labels_optimism_coinbase_wallet_quest_participants_schema.yml
  models/labels/addresses/__single_category_labels__/quests/persona/labels_quest_participants.sql
  models/labels/addresses/__single_category_labels__/quests/persona/labels_quest_participants_legacy.sql
  models/labels/addresses/__single_category_labels__/quests/persona/labels_quest_participants_schema.yml
  models/labels/addresses/__single_category_labels__/quests/persona/optimism_quests/labels_optimism_optimism_quest_participants.sql
  models/labels/addresses/__single_category_labels__/quests/persona/optimism_quests/labels_optimism_optimism_quest_participants_legacy.sql
  models/labels/addresses/__single_category_labels__/quests/persona/optimism_quests/labels_optimism_optimism_quest_participants_schema.yml
  models/optimism_quests/optimism/optimism_quests_optimism_nft_id_mapping.sql
  models/optimism_quests/optimism/optimism_quests_optimism_quest_completions.sql
  models/optimism_quests/optimism/optimism_quests_optimism_quest_completions_legacy.sql
  models/optimism_quests/optimism/optimism_quests_optimism_schema.yml
  models/quests/quests_completions.sql
  models/quests/quests_completions_legacy.sql
  models/quests/quests_completions_schema.yml
Labels: DuneSQL migration

#3816 zeroex - avalanche model - usdc.e txns
  models/zeroex/avalanche_c/zeroex_avalanche_c_api_fills_legacy.sql
Labels: easy

#3808 zeroex - bnb uni swaps
  models/zeroex/bnb/zeroex_bnb_api_fills_legacy.sql
Labels: easy

#3947 Update superrare trade query for use decoded table
  models/_sector/nft/trades/ethereum/platforms/_sources.yml
  models/_sector/nft/trades/ethereum/platforms/superrare_ethereum_base_trades.sql
  seeds/_sector/nft/superrare_ethereum_base_trades_seed.csv
  tests/_sector/nft/check_nft_rowcount_superrare.sql
Labels: NFT

#3700 T-31518 `prices_tokens` lineage migration
  models/prices/arbitrum/prices_arbitrum_tokens.sql
  models/prices/avalanche_c/prices_avalanche_c_tokens.sql
  models/prices/bnb/prices_bnb_tokens.sql
  models/prices/ethereum/prices_ethereum_tokens.sql
  models/prices/fantom/prices_fantom_tokens.sql
  models/prices/gnosis/prices_gnosis_tokens.sql
  models/prices/optimism/prices_optimism_tokens.sql
  models/prices/optimism/prices_optimism_tokens_bridged.sql
  models/prices/optimism/prices_optimism_tokens_curated.sql
  models/prices/polygon/prices_polygon_tokens.sql
  models/prices/prices_native_tokens.sql
  models/prices/prices_tokens.sql
  models/prices/solana/prices_solana_tokens.sql
  tests/prices/prices_tokens_adhoc_test.sql
Labels: dune team, DuneSQL migration

#3973 T-32182 Beethoven migration
  models/beethoven_x/beethoven_x_trades.sql
  models/beethoven_x/beethoven_x_trades_schema.yml
  models/beethoven_x/fantom/beethoven_x_fantom_schema.yml
  models/beethoven_x/fantom/beethoven_x_fantom_trades.sql
  models/beethoven_x/optimism/beethoven_x_optimism_schema.yml
  models/beethoven_x/optimism/beethoven_x_optimism_trades.sql
Labels: DuneSQL migration

#3972 T-32182 Migrate Bancor_ethereum_trades
  models/bancor/ethereum/bancor_ethereum_schema.yml
  models/bancor/ethereum/bancor_ethereum_trades.sql
Labels: DuneSQL migration

#3952 T-32182 Apeswap migration
  models/apeswap/apeswap_trades.sql
  models/apeswap/bnb/apeswap_bnb_schema.yml
  models/apeswap/bnb/apeswap_bnb_trades.sql
  models/apeswap/ethereum/apeswap_ethereum_schema.yml
  models/apeswap/ethereum/apeswap_ethereum_trades.sql
  models/apeswap/polygon/apeswap_polygon_schema.yml
  models/apeswap/polygon/apeswap_polygon_trades.sql
Labels: DuneSQL migration

#3979 T-32182 Migrate defiswap
  models/defiswap/ethereum/defiswap_ethereum_schema.yml
  models/defiswap/ethereum/defiswap_ethereum_trades.sql
Labels: dex, DuneSQL migration

#3965 T-32182 Arbswap migration
  models/arbswap/arbswap_trades.sql
  models/arbswap/arbswap_trades_schema.yml
Labels: ready-for-review, dex, DuneSQL migration

#3992 T-32182 Migrate GMX trades
  models/gmx/arbitrum/gmx_arbitrum_schema.yml
  models/gmx/arbitrum/gmx_arbitrum_trades.sql
  models/gmx/avalanche_c/gmx_avalanche_c_schema.yml
  models/gmx/avalanche_c/gmx_avalanche_c_trades.sql
  models/gmx/gmx_schema.yml
  models/gmx/gmx_trades.sql
Labels: dex, DuneSQL migration

#3961 Element polygon trades missing from nft.trades
  models/_sector/nft/trades/nft_events_legacy.sql
  models/_sector/nft/trades/old/platforms/element_polygon_events.sql
Labels: hotfix, NFT

#4018 Migrate aave_v2 labels
  models/labels/addresses/__single_category_labels__/aave_v2/labels_aave_v2_annual_liquidations.sql
  models/labels/addresses/__single_category_labels__/aave_v2/labels_aave_v2_daily_deposit_size.sql
Labels: easy, DuneSQL migration

#4010 T-32182 migrate quickswap
  models/quickswap/polygon/quickswap_polygon_schema.yml
  models/quickswap/polygon/quickswap_polygon_trades.sql
  models/quickswap/polygon/quickswap_v2_polygon_trades.sql
  models/quickswap/polygon/quickswap_v3_polygon_trades.sql
  models/quickswap/quickswap_trades.sql
  models/quickswap/quickswap_trades_schema.yml
Labels: dex, DuneSQL migration

#3976 T-32182 Migrate Camelot
  models/camelot/arbitrum/camelot_arbitrum_schema.yml
  models/camelot/arbitrum/camelot_arbitrum_trades.sql
  models/camelot/arbitrum/camelot_v1_arbitrum_trades.sql
  models/camelot/camelot_trades.sql
  models/camelot/camelot_trades_schema.yml
Labels: dex, DuneSQL migration

#3964 T-32182 Migrate airswap
  models/airswap/ethereum/airswap_ethereum_schema.yml
  models/airswap/ethereum/airswap_ethereum_sources.yml
  models/airswap/ethereum/airswap_ethereum_trades.sql
Labels: question, ready-for-review, dex, DuneSQL migration

#3817 fantom - add MIM on fantom to token price list [WIP]
  models/prices/fantom/prices_fantom_schema.yml
  models/prices/fantom/prices_fantom_tokens.sql
  models/prices/fantom/prices_fantom_tokens_legacy.sql
  scripts/test_token_checker.py
  scripts/token_checker.py
Labels: easy, ready-for-final-review

#3980 T-32182 Migrate dfx_ethereum_trades
  models/dfx/ethereum/dfx_ethereum_schema.yml
  models/dfx/ethereum/dfx_ethereum_trades.sql
Labels: dex, DuneSQL migration

#3990 T-32182 Fraxswap migration
  models/fraxswap/avalanche_c/fraxswap_avalanche_c_schema.yml
  models/fraxswap/avalanche_c/fraxswap_avalanche_c_trades.sql
  models/fraxswap/bnb/fraxswap_bnb_schema.yml
  models/fraxswap/bnb/fraxswap_bnb_trades.sql
  models/fraxswap/ethereum/fraxswap_ethereum_schema.yml
  models/fraxswap/ethereum/fraxswap_ethereum_trades.sql
  models/fraxswap/fraxswap_trades.sql
  models/fraxswap/fraxswap_trades_schema.yml
  models/fraxswap/polygon/fraxswap_polygon_schema.yml
  models/fraxswap/polygon/fraxswap_polygon_trades.sql
Labels: ready-for-review, dex, DuneSQL migration

#3991 T-32182 Migrate glacier
  models/glacier/avalanche_c/glacier_avalanche_c_schema.yml
  models/glacier/avalanche_c/glacier_avalanche_c_trades.sql
Labels: dex, DuneSQL migration

#3994 T-32182 Migrate iziswap
  models/iziswap/bnb/iziswap_bnb_schema.yml
  models/iziswap/bnb/iziswap_bnb_trades.sql
  tests/iziswap/bnb/iziswap_bnb_assert_samples.sql
Labels: dex, DuneSQL migration

#4035 add celo chain tokens to prices
  models/prices/celo/prices_celo_schema.yml
  models/prices/celo/prices_celo_tokens.sql
  models/prices/celo/prices_celo_tokens_legacy.sql
  models/prices/prices_tokens.sql
  scripts/check_tokens.py
  scripts/token_checker.py
Labels: ready-for-merging

#4059 add schema file for dex pool seed
  seeds/dex/pools/_schema.yml
Labels: DuneSQL migration

#4073 Create a optimized version of prices_usd_latest
  models/prices/prices_usd_latest.sql
  models/prices/prices_usd_latest_historical.sql
Labels: DuneSQL migration

#4008 T-32073 - Conditional property for join_distribution_type = PARTITIONED
  dbt_project.yml
  macros/enforce_join_distribution.sql
  macros/set_trino_session_property.sql
  models/nft/chains/nft_polygon_transfers.sql
  models/orca_whirlpool/orca_whirlpool_trades.sql
Labels: ready-for-merging, dune team, DuneSQL migration

#4055 chore: use sharky decoded tables
  dbt_project.yml
  models/base_sources/solana_base_sources.yml
  models/sharky/solana/sharky_solana_events.sql
  models/sharky/solana/sharky_solana_events_legacy.sql
  models/sharky/solana/sharky_solana_schema.yml
  models/sharky/solana/sharky_solana_sources.yml
  seeds/sharky/solana/_schema.yml
  tests/sharky/solana/sharky_solana_assert_samples.sql
Labels: ready-for-merging, DuneSQL migration

#4086 `dex.trades` on spark -- cast raw amounts to decimal
  models/dex/dex_trades_legacy.sql
Labels: hotfix, dex

#3968 Trader Joe migration and add V2.1 trades on BNB Chain
  models/trader_joe/avalanche_c/trader_joe_avalanche_c_schema.yml
  models/trader_joe/bnb/trader_joe_bnb_schema.yml
  models/trader_joe/bnb/trader_joe_bnb_sources.yml
  models/trader_joe/bnb/trader_joe_bnb_trades.sql
  models/trader_joe/bnb/trader_joe_v2_1_bnb_trades.sql
  models/trader_joe/bnb/trader_joe_v2_1_bnb_trades_legacy.sql
  models/trader_joe/trader_joe_schema.yml
  seeds/dex/trades/dex_trades_seed.csv
Labels: ready-for-merging, dex, DuneSQL migration

#3975 Biswap and Maverick migration
  dbt_project.yml
  models/biswap/bnb/biswap_bnb_schema.yml
  models/biswap/bnb/biswap_bnb_trades.sql
  models/biswap/bnb/biswap_bnb_trades_legacy.sql
  models/biswap/bnb/biswap_v2_bnb_trades.sql
  models/biswap/bnb/biswap_v2_bnb_trades_legacy.sql
  models/maverick/bnb/maverick_bnb_schema.yml
  models/maverick/ethereum/maverick_ethereum_schema.yml
  models/maverick/ethereum/maverick_v1_ethereum_trades_legacy.sql
  models/maverick/maverick_schema.yml
  models/maverick/maverick_trades.sql
  models/maverick/maverick_trades_legacy.sql
  seeds/dex/trades/dex_trades_seed_legacy.csv
Labels: dex, DuneSQL migration

#3986 [EASY]Adding new contract creators
  models/contracts/optimism/contracts_optimism_contract_creator_address_list.sql
Labels: easy

#3814 Migrate solana nft models
  models/_sector/nft/trades/old/platforms/magiceden_solana_events.sql
  models/opensea/solana/opensea_solana_events.sql
  seeds/magiceden/solana/magiceden_solana_trades_solscan.csv
  seeds/magiceden/solana/schema.yml
  seeds/opensea/solana/opensea_solana_trades_solscan.csv
  seeds/opensea/solana/schema.yml
  tests/magiceden/solana/magiceden_solana_assert_samples.sql
  tests/opensea/solana/opensea_solana_assert_samples.sql
Labels: dune team, NFT, DuneSQL migration

#4011 Perpetuals Migration - #1 - Migrate tests & seed - Ready for review
  models/perpetual_protocol/optimism/perpetual_protocol_optimism_schema.yml
  models/pika/optimism/pika_optimism_schema.yml
  models/synthetix/optimism/synthetix_optimism_schema.yml
  seeds/perpetual/trades/_schema.yml
  seeds/perpetual/trades/perpetual_trades_seed_legacy.csv
  tests/generic/check_perpetuals_seed_legacy.sql
  tests/generic/perpetual_trades_market_address_legacy.sql
Labels: dex

#3958 add steth balances to dao balances spell - ready for review
  models/dao/balances/dao_balances.sql
  models/dao/balances/dao_balances_schema.yml
  models/dao/balances/dao_balances_steth.sql
  models/dao/balances/dao_balances_steth_legacy.sql
Labels: ready-for-merging

#3941 Migrate nft lending - rEADY FOR Review
  models/astaria/ethereum/astaria_ethereum_events.sql
  models/astaria/ethereum/astaria_ethereum_lending.sql
  models/astaria/ethereum/astaria_ethereum_lending_legacy.sql
  models/bend_dao/ethereum/bend_dao_ethereum_lending.sql
  models/bend_dao/ethereum/bend_dao_ethereum_lending_legacy.sql
  models/bend_dao/ethereum/bend_dao_ethereum_schema.yml
  models/nft/nft_lending.sql
  models/nft/nft_lending_legacy.sql
  models/nft/nft_schema.yml
  seeds/astaria/astaria_lending_seed.csv
  seeds/bend_dao/ethereum/_schema.yml
Labels: ready-for-merging

#4103 `layerzero` exclude failing models
  models/layerzero/avalanche_c/layerzero_avalanche_c_send_legacy.sql
  models/layerzero/polygon/layerzero_polygon_send_legacy.sql
Labels: hotfix

#4028 T-32182 migrate wombat
  models/wombat/bnb/wombat_bnb_schema.yml
  models/wombat/bnb/wombat_bnb_trades.sql
  tests/wombat/bnb/wombat_bnb_assert_samples.sql
Labels: ready-for-review, dex, DuneSQL migration

#4026 T-32182 Migrate wigoswap
  models/wigoswap/fantom/wigoswap_fantom_schema.yml
  models/wigoswap/fantom/wigoswap_fantom_trades.sql
Labels: ready-for-review, dex, DuneSQL migration

#4019 Thena migration
  models/thena/bnb/thena_bnb_schema.yml
  models/thena/bnb/thena_bnb_trades.sql
  models/thena/bnb/thena_fusion_bnb_trades.sql
  models/thena/bnb/thena_v1_bnb_trades.sql
  models/thena/thena_trades.sql
  models/thena/thena_trades_schema.yml
Labels: ready-for-merging, dex, DuneSQL migration

#4015 T-32182 Migrate spiritswap
  models/spiritswap/fantom/spiritswap_fantom_schema.yml
  models/spiritswap/fantom/spiritswap_fantom_trades.sql
Labels: ready-for-merging, dex, DuneSQL migration

#3978 T-32182 Migrate Clipper Trades
  models/clipper/arbitrum/clipper_arbitrum_schema.yml
  models/clipper/arbitrum/clipper_arbitrum_trades.sql
  models/clipper/arbitrum/clipper_coves_v1_arbitrum_trades.sql
  models/clipper/arbitrum/clipper_v1_arbitrum_trades.sql
  models/clipper/clipper_trades.sql
  models/clipper/clipper_trades_schema.yml
  models/clipper/ethereum/clipper_ethereum_schema.yml
  models/clipper/ethereum/clipper_ethereum_trades.sql
  models/clipper/ethereum/clipper_v1_ethereum_trades.sql
  models/clipper/ethereum/clipper_v2_ethereum_trades.sql
  models/clipper/ethereum/clipper_v3_ethereum_trades.sql
  models/clipper/ethereum/clipper_v4_ethereum_trades.sql
  models/clipper/optimism/clipper_coves_v1_optimism_trades.sql
  models/clipper/optimism/clipper_optimism_schema.yml
  models/clipper/optimism/clipper_optimism_trades.sql
  models/clipper/optimism/clipper_v1_optimism_trades.sql
  models/clipper/optimism/clipper_v2_optimism_trades.sql
  models/clipper/polygon/clipper_coves_v1_polygon_trades.sql
  models/clipper/polygon/clipper_polygon_schema.yml
  models/clipper/polygon/clipper_polygon_trades.sql
  models/clipper/polygon/clipper_v1_polygon_trades.sql
  models/clipper/polygon/clipper_v2_polygon_trades.sql
Labels: ready-for-merging, dex, DuneSQL migration

#4012 T-32182 Migrate rubicon trade
  models/rubicon/arbitrum/rubicon_arbitrum_schema.yml
  models/rubicon/arbitrum/rubicon_arbitrum_trades.sql
  models/rubicon/arbitrum/rubicon_arbitrum_trades_legacy.sql
  models/rubicon/optimism/rubicon_optimism_schema.yml
  models/rubicon/optimism/rubicon_optimism_trades.sql
  models/rubicon/rubicon_schema.yml
  models/rubicon/rubicon_trades.sql
Labels: ready-for-merging, dex, DuneSQL migration

#4014 T-32182 Migrate spartacus exchange
  models/spartacus_exchange/fantom/spartacus_exchange_fantom_schema.yml
  models/spartacus_exchange/fantom/spartacus_exchange_fantom_trades.sql
Labels: ready-for-merging, dex, DuneSQL migration

#4013 T-32182 Migrate shibaswap
  models/shibaswap/ethereum/shibaswap_ethereum_schema.yml
  models/shibaswap/ethereum/shibaswap_ethereum_trades.sql
Labels: ready-for-merging, dex, DuneSQL migration

#4006 T-32182 Migrate nomiswap
  models/nomiswap/bnb/nomiswap_bnb_schema.yml
  models/nomiswap/bnb/nomiswap_bnb_trades.sql
Labels: ready-for-merging, dex, DuneSQL migration

#4017 T-32184 Migrate kyberswap [WIP]
  models/kyberswap/arbitrum/kyberswap_arbitrum_schema.yml
  models/kyberswap/arbitrum/kyberswap_arbitrum_trades.sql
  models/kyberswap/avalanche_c/kyberswap_avalanche_c_schema.yml
  models/kyberswap/avalanche_c/kyberswap_avalanche_c_trades.sql
  models/kyberswap/ethereum/kyberswap_ethereum_schema.yml
  models/kyberswap/ethereum/kyberswap_ethereum_trades.sql
  models/kyberswap/kyberswap_trades.sql
  models/kyberswap/kyberswap_trades_schema.yml
  models/kyberswap/optimism/kyberswap_optimism_schema.yml
  models/kyberswap/optimism/kyberswap_optimism_trades.sql
Labels: ready-for-merging, dex, DuneSQL migration

#4031 Perpetuals Migration - #2 - Migrate GMX - Ready for review
  models/gmx/arbitrum/gmx_arbitrum_perpetual_trades.sql
  models/gmx/arbitrum/gmx_arbitrum_schema.yml
  models/gmx/avalanche_c/gmx_avalanche_c_perpetual_trades.sql
  models/gmx/avalanche_c/gmx_avalanche_c_schema.yml
  models/gmx/gmx_perpetual_trades.sql
  models/gmx/gmx_schema.yml
  seeds/perpetual/trades/perpetual_trades_seed.csv
Labels: DuneSQL migration

#4029 T-32182 Migrate zeroex trades
  models/zeroex/arbitrum/zeroex_arbitrum_native_fills.sql
  models/zeroex/arbitrum/zeroex_arbitrum_schema.yml
  models/zeroex/avalanche_c/zeroex_avalanche_c_schema.yml
  models/zeroex/bnb/zeroex_bnb_native_fills.sql
  models/zeroex/bnb/zeroex_bnb_schema.yml
  models/zeroex/ethereum/zeroex_ethereum_native_fills.sql
  models/zeroex/ethereum/zeroex_ethereum_schema.yml
  models/zeroex/fantom/zeroex_fantom_schema.yml
  models/zeroex/optimism/zeroex_optimism_native_fills.sql
  models/zeroex/optimism/zeroex_optimism_schema.yml
  models/zeroex/polygon/zeroex_polygon_native_fills.sql
  models/zeroex/polygon/zeroex_polygon_schema.yml
  models/zeroex/zeroex_native_fills.sql
  models/zeroex/zeroex_native_trades.sql
  models/zeroex/zeroex_schema.yml
  seeds/zeroex/_schema.yml
  seeds/zeroex/arbitrum/zeroex_arbitrum_api_fills_sample.csv
Labels: dex, ready-for-final-review, DuneSQL migration

#4049 Perpetuals Migration #8 - Migrate main table
  models/emdx/avalanche_c/emdx_avalanche_c_perpetual_trades.sql
  models/gmx/arbitrum/gmx_arbitrum_perpetual_trades.sql
  models/gmx/avalanche_c/gmx_avalanche_c_perpetual_trades.sql
  models/gmx/gmx_perpetual_trades.sql
  models/hubble_exchange/avalanche_c/hubble_exchange_avalanche_c_perpetual_trades.sql
  models/perpetual/perpetual_schema.yml
  models/perpetual/perpetual_trades.sql
  models/perpetual/perpetual_trades_legacy.sql
  models/perpetual_protocol/optimism/perpetual_protocol_optimism_perpetual_trades.sql
  models/perpetual_protocol/optimism/perpetual_protocol_v2_optimism_perpetual_trades.sql
  models/perpetual_protocol/perpetual_protocol_perpetual_trades.sql
  models/pika/optimism/pika_optimism_perpetual_trades.sql
  models/pika/optimism/pika_v1_optimism_perpetual_trades.sql
  models/pika/optimism/pika_v2_optimism_perpetual_trades.sql
  models/pika/optimism/pika_v3_optimism_perpetual_trades.sql
  models/pika/pika_perpetual_trades.sql
  models/synthetix/optimism/synthetix_optimism_perpetual_trades.sql
  models/synthetix/optimism/synthetix_v1_optimism_perpetual_trades.sql
  models/synthetix/optimism/synthetix_v2_optimism_perpetual_trades.sql
  models/synthetix/synthetix_perpetual_trades.sql
  seeds/perpetual/trades/perpetual_trades_seed.csv
Labels: DuneSQL migration

#4111 Revert "Perpetuals Migration #8 - Migrate main table (#4049)"
  models/emdx/avalanche_c/emdx_avalanche_c_perpetual_trades.sql
  models/gmx/arbitrum/gmx_arbitrum_perpetual_trades.sql
  models/gmx/avalanche_c/gmx_avalanche_c_perpetual_trades.sql
  models/gmx/gmx_perpetual_trades.sql
  models/hubble_exchange/avalanche_c/hubble_exchange_avalanche_c_perpetual_trades.sql
  models/perpetual/perpetual_schema.yml
  models/perpetual/perpetual_trades.sql
  models/perpetual/perpetual_trades_legacy.sql
  models/perpetual_protocol/optimism/perpetual_protocol_optimism_perpetual_trades.sql
  models/perpetual_protocol/optimism/perpetual_protocol_v2_optimism_perpetual_trades.sql
  models/perpetual_protocol/perpetual_protocol_perpetual_trades.sql
  models/pika/optimism/pika_optimism_perpetual_trades.sql
  models/pika/optimism/pika_v1_optimism_perpetual_trades.sql
  models/pika/optimism/pika_v2_optimism_perpetual_trades.sql
  models/pika/optimism/pika_v3_optimism_perpetual_trades.sql
  models/pika/pika_perpetual_trades.sql
  models/synthetix/optimism/synthetix_optimism_perpetual_trades.sql
  models/synthetix/optimism/synthetix_v1_optimism_perpetual_trades.sql
  models/synthetix/optimism/synthetix_v2_optimism_perpetual_trades.sql
  models/synthetix/synthetix_perpetual_trades.sql
  seeds/perpetual/trades/perpetual_trades_seed.csv
Labels: hotfix

#4115 balancer: fix expose spell macro
  models/balancer/ethereum/balancer_ethereum_balances.sql
Labels: hotfix

#4112 Revert "Revert "Perpetuals Migration #8 - Migrate main table (#4049)""
  models/emdx/avalanche_c/emdx_avalanche_c_perpetual_trades.sql
  models/gmx/arbitrum/gmx_arbitrum_perpetual_trades.sql
  models/gmx/avalanche_c/gmx_avalanche_c_perpetual_trades.sql
  models/gmx/gmx_perpetual_trades.sql
  models/hubble_exchange/avalanche_c/hubble_exchange_avalanche_c_perpetual_trades.sql
  models/perpetual/perpetual_schema.yml
  models/perpetual/perpetual_trades.sql
  models/perpetual/perpetual_trades_legacy.sql
  models/perpetual_protocol/optimism/perpetual_protocol_optimism_perpetual_trades.sql
  models/perpetual_protocol/optimism/perpetual_protocol_v2_optimism_perpetual_trades.sql
  models/perpetual_protocol/perpetual_protocol_perpetual_trades.sql
  models/pika/optimism/pika_optimism_perpetual_trades.sql
  models/pika/optimism/pika_v1_optimism_perpetual_trades.sql
  models/pika/optimism/pika_v2_optimism_perpetual_trades.sql
  models/pika/optimism/pika_v3_optimism_perpetual_trades.sql
  models/pika/pika_perpetual_trades.sql
  models/synthetix/optimism/synthetix_optimism_perpetual_trades.sql
  models/synthetix/optimism/synthetix_v1_optimism_perpetual_trades.sql
  models/synthetix/optimism/synthetix_v2_optimism_perpetual_trades.sql
  models/synthetix/synthetix_perpetual_trades.sql
  seeds/perpetual/trades/perpetual_trades_seed.csv
Labels: DuneSQL migration

#4116 Base ERC20s
  models/tokens/base/tokens_base_erc20.sql
  models/tokens/base/tokens_base_schema.yml
Labels: easy, ready-for-merging

#3919 lido liquidity test incremental model
  models/lido/lido_liquidity.sql
  models/lido/liquidity/arbitrum/lido_liquidity_arbitrum_balancer_pools.sql
  models/lido/liquidity/arbitrum/lido_liquidity_arbitrum_camelot_pools.sql
  models/lido/liquidity/arbitrum/lido_liquidity_arbitrum_curve_pools.sql
  models/lido/liquidity/arbitrum/lido_liquidity_arbitrum_kyberswap_pools.sql
  models/lido/liquidity/arbitrum/lido_liquidity_arbitrum_schema.yml
  models/lido/liquidity/arbitrum/lido_liquidity_arbitrum_uniswap_v3_pools.sql
  models/lido/liquidity/arbitrum/lido_liquidity_arbitrum_wombat_pools.sql
  models/lido/liquidity/ethereum/lido_liquidity_ethereum_balancer_pools.sql
  models/lido/liquidity/ethereum/lido_liquidity_ethereum_curve_steth_conc_pool.sql
  models/lido/liquidity/ethereum/lido_liquidity_ethereum_curve_steth_frxeth_pool.sql
  models/lido/liquidity/ethereum/lido_liquidity_ethereum_curve_steth_ng_pool.sql
  models/lido/liquidity/ethereum/lido_liquidity_ethereum_curve_steth_pool.sql
  models/lido/liquidity/ethereum/lido_liquidity_ethereum_curve_wsteth_reth_pool.sql
  models/lido/liquidity/ethereum/lido_liquidity_ethereum_kyberswap_pools.sql
  models/lido/liquidity/ethereum/lido_liquidity_ethereum_maverick_pools.sql
  models/lido/liquidity/ethereum/lido_liquidity_ethereum_schema.yml
  models/lido/liquidity/ethereum/lido_liquidity_ethereum_uniswap_v3_pools.sql
  models/lido/liquidity/optimism/lido_liquidity_optimism_balancer_pools.sql
  models/lido/liquidity/optimism/lido_liquidity_optimism_curve_pools.sql
  models/lido/liquidity/optimism/lido_liquidity_optimism_kyberswap_pools.sql
  models/lido/liquidity/optimism/lido_liquidity_optimism_schema.yml
  models/lido/liquidity/optimism/lido_liquidity_optimism_uniswap_v3_pools.sql
  models/lido/liquidity/optimism/lido_liquidity_optimism_velodrome_pools.sql
  models/lido/liquidity/polygon/lido_liquidity_polygon_balancer_pools.sql
  models/lido/liquidity/polygon/lido_liquidity_polygon_schema.yml
Labels: ready-for-merging

#4117 evms.info additions
  models/evms/evms_info.sql
  models/evms/evms_schema.yml
Labels: easy, ready-for-merging

#4120 T-32596 Migrate Zipswap
  models/zipswap/optimism/zipswap_optimism_schema.yml
  models/zipswap/optimism/zipswap_optimism_trades.sql
  models/zipswap/zipswap_trades.sql
  models/zipswap/zipswap_trades_schema.yml
Labels: ready-for-merging, dex, DuneSQL migration

#4121 T-32592 Migrate Hashflow BNB and AVAX
  models/hashflow/avalanche_c/hashflow_avalanche_c_schema.yml
  models/hashflow/avalanche_c/hashflow_avalanche_c_trades.sql
  models/hashflow/bnb/hashflow_bnb_schema.yml
  models/hashflow/bnb/hashflow_bnb_trades.sql
  models/hashflow/ethereum/hashflow_ethereum_raw_trades.sql
  models/hashflow/ethereum/hashflow_ethereum_trades.sql
  models/hashflow/ethereum/hashflow_ethereum_trades_legacy.sql
  models/hashflow/hashflow_trades.sql
  models/hashflow/hashflow_trades_legacy.sql
  models/hashflow/hashflow_trades_schema.yml
Labels: dex, DuneSQL migration

#4098 Add ETH staking entities
  models/staking/ethereum/staking_ethereum_entities.sql
Labels: easy, ready-for-review

#3922 new polygon arbitrum bnb tokens
  models/tokens/arbitrum/tokens_arbitrum_erc20.sql
  models/tokens/bnb/tokens_bnb_bep20.sql
  models/tokens/polygon/tokens_polygon_erc20.sql
Labels: easy, ready-for-merging

#3932 Update prices_ethereum_tokens.sql
  models/prices/ethereum/prices_ethereum_tokens.sql
Labels: easy, ready-for-merging

#3969 [ENS] Add last set name record view
  models/ens/ens_ethereum_schema.yml
  models/ens/ens_set_name_latest.sql
  models/ens/ens_set_name_latest_legacy.sql
Labels: ready-for-merging

#4036 Base - add token prices
  models/prices/base/prices_base_schema.yml
  models/prices/base/prices_base_tokens.sql
  models/prices/base/prices_base_tokens_legacy.sql
  models/prices/prices_schema.yml
  models/prices/prices_tokens.sql
Labels: easy, ready-for-merging

#3864 [easy] OP Static Updates
  models/addresses/ethereum/addresses_ethereum_l2_batch_submitters.sql
  models/contracts/optimism/contracts_optimism_contract_creator_address_list.sql
  models/contracts/optimism/contracts_optimism_contract_creator_address_list_legacy.sql
  models/contracts/optimism/contracts_optimism_contract_mapping.sql
  models/contracts/optimism/contracts_optimism_contract_mapping_legacy.sql
  models/contracts/optimism/contracts_optimism_deterministic_contract_creators.sql
  models/contracts/optimism/contracts_optimism_deterministic_contract_creators_legacy.sql
  models/tokens/optimism/tokens_optimism_erc20_curated.sql
  models/tokens/optimism/tokens_optimism_erc20_curated_legacy.sql
  models/tokens/optimism/tokens_optimism_nft_curated.sql
  models/tokens/optimism/tokens_optimism_nft_curated_legacy.sql
Labels: ready-for-merging

#4135 add 756 erc20 tokens on Base And add Base chain to tokens_erc20s
  models/tokens/base/tokens_base_erc20.sql
  models/tokens/tokens_erc20.sql
  models/tokens/tokens_schema.yml
Labels: ready-for-merging

#4054 Dex Aggregator Migration - #1 - Lifi
  models/lifi/fantom/lifi_fantom_schema.yml
  models/lifi/fantom/lifi_fantom_trades.sql
  models/lifi/fantom/lifi_fantom_trades_legacy.sql
  models/lifi/fantom/lifi_v2_fantom_trades.sql
  models/lifi/lifi_trades.sql
  models/lifi/lifi_trades_schema.yml
  seeds/dex/aggregator/_schema.yml
  seeds/dex/aggregator/dex_aggregator_seed.csv
Labels: ready-for-merging, dex, DuneSQL migration

#4131 Update Rollup Economics
  models/rollup_economics/ethereum/l2_revenue.sql
Labels: easy, ready-for-merging

#4144 'dex_polygon_sandwiches` exclude failing model
  models/dex/polygon/dex_polygon_sandwiches_legacy.sql
Labels: hotfix, dex

#4072 NFT transfers refactor
  macros/models/_sector/nft/nft_transfers.sql
  models/nft/chains/nft_arbitrum_transfers.sql
  models/nft/chains/nft_avalanche_c_transfers.sql
  models/nft/chains/nft_base_transfers.sql
  models/nft/chains/nft_bnb_transfers.sql
  models/nft/chains/nft_ethereum_transfers.sql
  models/nft/chains/nft_fantom_transfers.sql
  models/nft/chains/nft_gnosis_transfers.sql
  models/nft/chains/nft_goerli_transfers.sql
  models/nft/chains/nft_optimism_transfers.sql
  models/nft/chains/nft_polygon_transfers.sql
  models/nft/nft_schema.yml
  models/nft/nft_transfers.sql
Labels: NFT

#4159 Add correct tokens to legacy
  models/tokens/arbitrum/tokens_arbitrum_erc20_legacy.sql
Labels: ready-for-merging

#4132 [labels] Add more arbitrum cex address
  models/cex/arbitrum/cex_arbitrum_addresses.sql
Labels: easy, ready-for-merging, labels

#4140 Add crvUSD price
  models/prices/ethereum/prices_ethereum_tokens.sql
Labels: ready-for-merging

#3827 Add base safes
  dbt_project.yml
  models/base_sources/base_base_sources.yml
  models/safe/base/safe_base_eth_transfers.sql
  models/safe/base/safe_base_eth_transfers_legacy.sql
  models/safe/base/safe_base_safes.sql
  models/safe/base/safe_base_safes_legacy.sql
  models/safe/base/safe_base_schema.yml
  models/safe/base/safe_base_singletons.sql
  models/safe/base/safe_base_singletons_legacy.sql
  models/safe/base/safe_base_sources.yml
  models/safe/base/safe_base_transactions.sql
  models/safe/base/safe_base_transactions_legacy.sql
  models/safe/safe_safes_all.sql
Labels: ready-for-merging

#4155 Migrate Seaport forks to DuneSQL
  macros/models/_sector/nft/platforms/seaport_fork_trades.sql
  models/_sector/nft/trades/old/platforms/_schema.yml
  models/_sector/nft/trades/old/platforms/_sources.yml
  models/_sector/nft/trades/old/platforms/nftearth_optimism_events.sql
  models/_sector/nft/trades/old/platforms/oneplanet_polygon_events.sql
  models/_sector/nft/trades/old/platforms/quix_seaport_optimism_events.sql
  models/nftearth/optimism/nftearth_optimism_base_pairs.sql
  models/nftearth/optimism/nftearth_optimism_schema.yml
  models/oneplanet/polygon/oneplanet_polygon_base_pairs.sql
  models/oneplanet/polygon/oneplanet_polygon_schema.yml
  models/quix/optimism/quix_optimism_schema.yml
  models/quix/optimism/quix_optimism_sources.yml
  models/quix/optimism/quix_seaport_optimism_base_pairs.sql
  seeds/nftearth/optimism/nftearth_events_seed.csv
  seeds/oneplanet/polygon/oneplanet_polygon_trades_seed.csv
  seeds/quix/quix_events_seed.csv
  tests/oneplanet/polygon/oneplanet_polygon_assert_trades.sql
Labels: ready-for-merging, dune team, NFT, DuneSQL migration

#4157 Labels dao migration
  models/labels/addresses/dao/identifier/multisigs/labels_dao_multisig_ethereum.sql
  models/labels/addresses/dao/labels_dao.sql
  models/labels/addresses/dao/persona/frameworks/labels_dao_framework.sql
Labels: ready-for-merging, labels

#4141 [ETH staking] Add More ETH staking entities
  models/staking/ethereum/staking_ethereum_entities.sql
Labels: easy, ready-for-merging

#4125 Add clipper.exchange Arbitrum v2
  models/clipper/arbitrum/clipper_arbitrum_schema.yml
  models/clipper/arbitrum/clipper_arbitrum_sources.yml
  models/clipper/arbitrum/clipper_arbitrum_trades.sql
  models/clipper/arbitrum/clipper_arbitrum_trades_legacy.sql
  models/clipper/arbitrum/clipper_coves_v2_arbitrum_trades.sql
  models/clipper/arbitrum/clipper_coves_v2_arbitrum_trades_legacy.sql
  models/clipper/arbitrum/clipper_v2_arbitrum_trades.sql
  models/clipper/arbitrum/clipper_v2_arbitrum_trades_legacy.sql
  seeds/dex/trades/dex_trades_seed.csv
  seeds/dex/trades/dex_trades_seed_legacy.csv
Labels: ready-for-merging, dex

#3762 Create OP Worldcoin Safes
  dbt_project.yml
  models/labels/addresses/__single_category_labels__/worldcoin/labels_worldcoin_accounts.sql
  models/labels/addresses/__single_category_labels__/worldcoin/labels_worldcoin_accounts_schema.yml
  models/worldcoin/optimism/worldcoin_optimism_account_legacy.sql
  models/worldcoin/optimism/worldcoin_optimism_accounts.sql
  models/worldcoin/optimism/worldcoin_optimism_schema.yml
Labels: ready-for-merging

#3613 [dunesql] OP NFT: Add Sound and Generated NFT insert
  dbt_project.yml
  models/decent/optimism/decent_optimism_edition_metadata.sql
  models/decent/optimism/decent_optimism_edition_metadata_legacy.sql
  models/decent/optimism/decent_optimism_edition_metadata_schema.yml
  models/decent/optimism/decent_optimism_edition_metadata_sources.yml
  models/mirror/optimism/mirror_optimism_edition_metadata.sql
  models/mirror/optimism/mirror_optimism_edition_metadata_legacy.sql
  models/mirror/optimism/mirror_optimism_edition_metadata_schema.yml
  models/mirror/optimism/mirror_optimism_edition_metadata_sources.yml
  models/sound_xyz/optimism/sound_xyz_optimism_edition_metadata.sql
  models/sound_xyz/optimism/sound_xyz_optimism_edition_metadata_legacy.sql
  models/sound_xyz/optimism/sound_xyz_optimism_edition_metadata_schema.yml
  models/sound_xyz/optimism/sound_xyz_optimism_edition_metadata_sources.yml
  models/tokens/optimism/tokens_optimism_nft.sql
  models/tokens/optimism/tokens_optimism_nft_generated.sql
  models/tokens/optimism/tokens_optimism_nft_generated_legacy.sql
  models/tokens/optimism/tokens_optimism_schema.yml
  models/zora/optimism/zora_optimism_edition_metadata.sql
  models/zora/optimism/zora_optimism_edition_metadata_legacy.sql
  models/zora/optimism/zora_optimism_edition_metadata_schema.yml
  models/zora/optimism/zora_optimism_edition_metadata_sources.yml
Labels: ready-for-merging, DuneSQL migration

#4152 (feat) Add PNDC for eth price tracking
  models/prices/ethereum/prices_ethereum_tokens.sql
Labels: ready-for-merging

#4126 Add more chains to `evms.info` (& legacy file)
  models/evms/evms_info.sql
  models/evms/evms_info_legacy.sql
Labels: easy, ready-for-merging

#4060 adds celo to transfers
  dbt_project.yml
  models/transfers/celo/erc20/transfers_celo_erc20.sql
  models/transfers/celo/erc20/transfers_celo_erc20_legacy.sql
  models/transfers/celo/transfers_celo_celo.sql
  models/transfers/celo/transfers_celo_celo_legacy.sql
  models/transfers/celo/transfers_celo_schema.yml
  tests/transfers/celo/transfers_celo_erc20_test.sql
Labels: ready-for-merging

#3889 OP Predeploy Updates
  models/contracts/optimism/contracts_optimism_predeploys.sql
  models/contracts/optimism/contracts_optimism_predeploys_legacy.sql
  models/contracts/optimism/contracts_optimism_schema.yml
  models/contracts/optimism/contracts_optimism_system_predeploys.sql
  models/contracts/optimism/contracts_optimism_system_predeploys_legacy.sql
Labels: ready-for-merging

#3844 timeswap: adds Stafi(rETH)/WETH Arbitrum pool
  models/timeswap/arbitrum/timeswap_arbitrum_pools_legacy.sql
Labels: easy, ready-for-merging

#4130 Migrate Optimism Bridge Flows - Ready for review
  models/bridge/optimism/optimism_standard_bridge_flows.sql
  models/bridge/optimism/optimism_standard_bridge_schema.yml
  models/chain_info/chain_info_chain_ids.sql
  models/ovm/optimism/ovm_optimism_cross_domain_messenger_messages.sql
  models/ovm/optimism/ovm_optimism_schema.yml
Labels: in review, DuneSQL migration

#4165 Migrate synthetix for dex.trades
  models/dex/dex_trades_migration_beta.sql
  models/synthetix/optimism/synthetix_optimism_schema.yml
  models/synthetix/optimism/synthetix_optimism_spot_trades.sql
  models/synthetix/synthetix_schema.yml
  models/synthetix/synthetix_spot_trades.sql
  seeds/dex/trades/dex_trades_seed.csv
Labels: ready-for-review

#4185 `tigris` exclude failing lineage spells
  models/tigris/arbitrum/events/tigris_arbitrum_events_options_fees_distributed.sql
  models/tigris/arbitrum/tigris_arbitrum_options_trades.sql
  models/tigris/tigris_options_trades.sql
Labels: hotfix

#4001 fix blur v2 royalty logic
  models/_sector/nft/trades/ethereum/platforms/blur_v2_ethereum_base_trades.sql
  seeds/_sector/nft/blur_v2_ethereum_base_trades_seed.csv
Labels: ready-for-merging, NFT

#4160 celo support & more Arbitrum ERC20 tokens
  dbt_project.yml
  models/tokens/arbitrum/tokens_arbitrum_erc20.sql
  models/tokens/celo/tokens_celo_erc20.sql
  models/tokens/celo/tokens_celo_erc20_legacy.sql
  models/tokens/celo/tokens_celo_schema.yml
  models/tokens/tokens_erc20.sql
Labels: in review

#4188 Add tag to remove spell
  .github/workflows/dbt_slim_ci.yml
  models/account_abstraction/erc4337/account_abstraction_erc4337_userops_legacy.sql
Labels: dune team, DuneSQL migration

#4202 T-32593 `dodo.trades` add block_month, add to dex trades beta
  models/dex/dex_trades_migration_beta.sql
  models/dodo/dodo_trades.sql
Labels: ready-for-merging, dune team, dex, DuneSQL migration

#4192 Restructure ETH staking sector files
  models/staking/ethereum/staking_ethereum_entities.sql
  models/staking/ethereum/staking_ethereum_entities_addresses.sql
  models/staking/ethereum/staking_ethereum_entities_addresses_legacy.sql
  models/staking/ethereum/staking_ethereum_entities_binance.sql
  models/staking/ethereum/staking_ethereum_entities_binance_legacy.sql
  models/staking/ethereum/staking_ethereum_entities_coinbase.sql
  models/staking/ethereum/staking_ethereum_entities_coinbase_legacy.sql
  models/staking/ethereum/staking_ethereum_entities_contracts.sql
  models/staking/ethereum/staking_ethereum_entities_contracts_legacy.sql
  models/staking/ethereum/staking_ethereum_schema.yml
Labels: ready-for-merging

#4191 DAO Balances, fix ETH Base Price - Easy - Ready for review
  models/dao/balances/dao_balances.sql
Labels: ready-for-merging

#4181 generic column type check
  macros/test-helpers/check_column_types_macro.sql
  models/_sector/nft/trades/ethereum/platforms/_schema.yml
  tests/generic/check_column_types.sql
Labels: ready-for-merging, dune team

#4167 Add bridged op to summary - Ready for review
  models/addresses_summary/addresses_summary_op_mainnet.sql
  models/addresses_summary/addresses_summary_schema.yml
Labels: ready-for-merging

#4056 [Dunesql] Migrate OP Bots Logic
  models/labels/addresses/__single_category_labels__/likely_bots/labels_likely_bot_labels.sql
  models/labels/addresses/__single_category_labels__/likely_bots/labels_likely_bot_labels_legacy.sql
  models/labels/addresses/__single_category_labels__/likely_bots/optimism/labels_optimism_likely_bot_addresses.sql
  models/labels/addresses/__single_category_labels__/likely_bots/optimism/labels_optimism_likely_bot_contracts.sql
Labels: ready-for-merging

#4057 Add Base to HFT Bots Logic
  models/labels/addresses/__single_category_labels__/likely_bots/labels_likely_bot_labels.sql
  models/labels/addresses/__single_category_labels__/likely_bots/labels_likely_bot_labels_legacy.sql
  models/labels/addresses/__single_category_labels__/likely_bots/op_chains/labels_op_chains_likely_bot_addresses.sql
  models/labels/addresses/__single_category_labels__/likely_bots/op_chains/labels_op_chains_likely_bot_addresses_legacy.sql
  models/labels/addresses/__single_category_labels__/likely_bots/op_chains/labels_op_chains_likely_bot_contracts.sql
  models/labels/addresses/__single_category_labels__/likely_bots/op_chains/labels_op_chains_likely_bot_contracts_legacy.sql
  models/labels/addresses/__single_category_labels__/likely_bots/op_chains/labels_op_chains_likely_bots_schema.yml
Labels: ready-for-merging

#4179 OP RPGF Migration and Grants Funding Migration
  models/addresses/optimism/addresses_optimism_grants_funding.sql
  models/op/retropgf/optimism/op_retropgf_optimism_recipients.sql
  models/op/retropgf/optimism/op_retropgf_optimism_round2_recipients.sql
  models/op/retropgf/optimism/op_retropgf_optimism_round2_voters.sql
  models/op/retropgf/optimism/op_retropgf_optimism_voters.sql
  models/op/token_distributions/optimism/op_token_distributions_optimism_all_distributions_labels.sql
  models/op/token_distributions/optimism/op_token_distributions_optimism_foundation_wallet_approvals.sql
  models/op/token_distributions/optimism/op_token_distributions_optimism_other_distributions_claims.sql
  models/op/token_distributions/optimism/op_token_distributions_optimism_other_tags.sql
  models/op/token_distributions/optimism/op_token_distributions_optimism_project_wallets.sql
  models/op/token_distributions/optimism/op_token_distributions_optimism_transfer_mapping.sql
  models/optimism_attestationstation/optimism/optimism_attestationstation_optimism_events.sql
Labels: ready-for-merging, DuneSQL migration

#3770 Add DirectRouter to Paraswap.trade
  models/paraswap/arbitrum/paraswap_arbitrum_schema.yml
  models/paraswap/arbitrum/paraswap_arbitrum_trades.sql
  models/paraswap/arbitrum/paraswap_v5_arbitrum_trades.sql
  models/paraswap/avalanche_c/paraswap_avalanche_c_schema.yml
  models/paraswap/avalanche_c/paraswap_avalanche_c_trades.sql
  models/paraswap/avalanche_c/paraswap_v5_avalanche_c_trades.sql
  models/paraswap/bnb/paraswap_bnb_schema.yml
  models/paraswap/bnb/paraswap_bnb_trades.sql
  models/paraswap/bnb/paraswap_v4_bnb_trades.sql
  models/paraswap/bnb/paraswap_v5_bnb_trades.sql
  models/paraswap/ethereum/paraswap_ethereum_schema.yml
  models/paraswap/ethereum/paraswap_ethereum_trades.sql
  models/paraswap/ethereum/paraswap_v4_ethereum_trades.sql
  models/paraswap/ethereum/paraswap_v5_ethereum_trades.sql
  models/paraswap/fantom/paraswap_fantom_schema.yml
  models/paraswap/fantom/paraswap_fantom_trades.sql
  models/paraswap/fantom/paraswap_v5_fantom_trades.sql
  models/paraswap/optimism/paraswap_optimism_schema.yml
  models/paraswap/optimism/paraswap_optimism_trades.sql
  models/paraswap/optimism/paraswap_v5_optimism_trades.sql
  models/paraswap/paraswap_trades.sql
  models/paraswap/polygon/paraswap_polygon_schema.yml
  models/paraswap/polygon/paraswap_polygon_trades.sql
  models/paraswap/polygon/paraswap_v4_polygon_trades.sql
  models/paraswap/polygon/paraswap_v5_polygon_trades.sql
  seeds/dex/aggregator/dex_aggregator_seed.csv
Labels: ready-for-merging

#4204 Looksrare seaport (rerevert)
  models/_sector/nft/trades/ethereum/platforms/_schema.yml
  models/_sector/nft/trades/ethereum/platforms/legacy/looksrare_seaport_ethereum_base_trades_legacy.sql
  models/_sector/nft/trades/ethereum/platforms/looksrare_seaport_ethereum_base_trades.sql
  models/_sector/nft/trades/nft_ethereum_trades_beta.sql
  models/looksrare/ethereum/looksrare_ethereum_schema.yml
  seeds/_sector/nft/_schema.yml
  seeds/_sector/nft/looksrare_seaport_ethereum_base_trades_seed.csv
Labels: NFT

#3701 Add Velodrome V2 to DEXs
  models/velodrome/optimism/velodrome_optimism_bribe_mappings.sql
  models/velodrome/optimism/velodrome_optimism_bribe_mappings_legacy.sql
  models/velodrome/optimism/velodrome_optimism_schema.yml
  models/velodrome/optimism/velodrome_optimism_sources.yml
  models/velodrome/optimism/velodrome_optimism_trades.sql
  models/velodrome/optimism/velodrome_optimism_trades_legacy.sql
Labels: dex, DuneSQL migration

#4211 Add more known CEX addresses
  models/cex/avalanche_c/cex_avalanche_c_addresses.sql
  models/cex/ethereum/cex_ethereum_addresses.sql
Labels: easy

#4212 Tag more ETH Stakers
  models/staking/ethereum/staking_ethereum_entities_addresses.sql
Labels: easy

#4178 Oneinch trades migration - All Models - Ready for review
  models/oneinch/ethereum/clipper/oneinch_clipper_ethereum_trades.sql
  models/oneinch/ethereum/limit_order_protocol/oneinch_limit_order_protocol_embedded_rfq_ethereum_trades.sql
  models/oneinch/ethereum/limit_order_protocol/oneinch_limit_order_protocol_rfq_v1_ethereum_trades.sql
  models/oneinch/ethereum/limit_order_protocol/oneinch_limit_order_protocol_rfq_v2_ethereum_trades.sql
  models/oneinch/ethereum/limit_order_protocol/oneinch_limit_order_protocol_rfq_v3_ethereum_trades.sql
  models/oneinch/ethereum/limit_order_protocol/oneinch_limit_order_protocol_v1_ethereum_trades.sql
  models/oneinch/ethereum/limit_order_protocol/oneinch_limit_order_protocol_v2_ethereum_trades.sql
  models/oneinch/ethereum/limit_order_protocol/oneinch_limit_order_protocol_v3_ethereum_trades.sql
  models/oneinch/ethereum/oneinch_ethereum_schema.yml
  models/oneinch/ethereum/oneinch_ethereum_trades.sql
  models/oneinch/ethereum/oneinch_v1_ethereum_trades.sql
  models/oneinch/ethereum/oneinch_v2_ethereum_trades.sql
  models/oneinch/ethereum/oneinch_v3_ethereum_trades.sql
  models/oneinch/ethereum/oneinch_v4_ethereum_trades.sql
  models/oneinch/ethereum/oneinch_v5_ethereum_trades.sql
  models/oneinch/ethereum/oneproto/oneinch_oneproto_ethereum_trades.sql
  models/oneinch/ethereum/onesplit/oneinch_onesplit_ethereum_trades.sql
  models/oneinch/ethereum/uniswap/oneinch_uniswap_v3_ethereum_trades.sql
  models/oneinch/ethereum/unoswap/oneinch_unoswap_v3_ethereum_trades.sql
  models/oneinch/ethereum/unoswap/oneinch_unoswap_v4_ethereum_trades.sql
  models/oneinch/ethereum/unoswap/oneinch_unoswap_v5_ethereum_trades.sql
  models/oneinch/ethereum/zeroex/oneinch_zeroex_ethereum_trades.sql
  seeds/dex/aggregator/dex_aggregator_seed.csv
Labels: dex, DuneSQL migration

#4213 Various fixes to `seaport.traces` & `seaport.tagging`
  models/seaport/arbitrum/seaport_arbitrum_tagging.sql
  models/seaport/avalanche_c/seaport_avalanche_c_tagging.sql
  models/seaport/base/seaport_base_tagging.sql
  models/seaport/bnb/seaport_bnb_tagging.sql
  models/seaport/chains/seaport_arbitrum_traces.sql
  models/seaport/chains/seaport_avalanche_c_traces.sql
  models/seaport/chains/seaport_base_traces.sql
  models/seaport/chains/seaport_bnb_traces.sql
  models/seaport/chains/seaport_ethereum_traces.sql
  models/seaport/chains/seaport_optimism_traces.sql
  models/seaport/chains/seaport_polygon_traces.sql
  models/seaport/optimism/seaport_optimism_tagging.sql
  models/seaport/polygon/seaport_polygon_tagging.sql
  models/seaport/seaport_tagging.sql
  models/seaport/seaport_traces.sql
Labels: NFT
