Repository duneanalytics/spellbook, pull requests merged in 2024-01, with the labels that each got.

#5063 Added FLD to prices_avalanche_c_tokens.sql
  models/prices/avalanche_c/prices_avalanche_c_tokens.sql
Labels: easy

#5076 Adding KIMBO and COQ to tokens_avalanche_c_erc20.sql
  models/tokens/avalanche_c/tokens_avalanche_c_erc20.sql
Labels: easy, ready-for-merging

#5081 Add spartacus_exchange to `dex.trades_beta`
  models/_sector/dex/trades/fantom/_schema.yml
  models/_sector/dex/trades/fantom/_sources.yml
  models/_sector/dex/trades/fantom/dex_fantom_base_trades.sql
  models/_sector/dex/trades/fantom/platforms/spartacus_exchange_fantom_base_trades.sql
  models/spartacus_exchange/fantom/spartacus_exchange_fantom_sources.yml
Labels: ready-for-merging, dex

#5077 Add nomiswap to `dex.trades_beta`
  models/_sector/dex/trades/bnb/_schema.yml
  models/_sector/dex/trades/bnb/_sources.yml
  models/_sector/dex/trades/bnb/dex_bnb_base_trades.sql
  models/_sector/dex/trades/bnb/platforms/nomiswap_bnb_base_trades.sql
  models/nomiswap/bnb/nomiswap_bnb_sources.yml
Labels: ready-for-merging, dex

#5065 fix tokenlon amount in usd
  models/tokenlon/ethereum/tokenlon_v5_ethereum_amm_v1_trades.sql
  models/tokenlon/ethereum/tokenlon_v5_ethereum_amm_v2_trades.sql
  models/tokenlon/ethereum/tokenlon_v5_ethereum_pmm_v5_trades.sql
  models/tokenlon/ethereum/tokenlon_v5_ethereum_rfq_v1_trades.sql
  models/tokenlon/ethereum/tokenlon_v5_ethereum_rfq_v2_trades.sql
Labels: ready-for-merging, dex

#5058 Add iziswap to `dex.trades_beta`
  models/_sector/dex/trades/bnb/_schema.yml
  models/_sector/dex/trades/bnb/_sources.yml
  models/_sector/dex/trades/bnb/dex_bnb_base_trades.sql
  models/_sector/dex/trades/bnb/platforms/iziswap_bnb_base_trades.sql
  models/iziswap/bnb/iziswap_bnb_sources.yml
Labels: ready-for-merging, dex

#5057 Add integral to `dex.trades_beta`
  models/_sector/dex/trades/arbitrum/_schema.yml
  models/_sector/dex/trades/arbitrum/_sources.yml
  models/_sector/dex/trades/arbitrum/dex_arbitrum_base_trades.sql
  models/_sector/dex/trades/arbitrum/platforms/integral_arbitrum_base_trades.sql
  models/_sector/dex/trades/ethereum/_schema.yml
  models/_sector/dex/trades/ethereum/_sources.yml
  models/_sector/dex/trades/ethereum/dex_ethereum_base_trades.sql
  models/_sector/dex/trades/ethereum/platforms/integral_ethereum_base_trades.sql
  models/integral/arbitrum/integral_arbitrum_sources.yml
  models/integral/ethereum/integral_ethereum_sources.yml
Labels: ready-for-merging, dex

#5056 Add gmx to `dex.trades_beta`
  macros/models/_sector/dex/generic_spot_compatible_trades.sql
  models/_sector/dex/trades/arbitrum/_schema.yml
  models/_sector/dex/trades/arbitrum/_sources.yml
  models/_sector/dex/trades/arbitrum/dex_arbitrum_base_trades.sql
  models/_sector/dex/trades/arbitrum/platforms/gmx_arbitrum_base_trades.sql
  models/_sector/dex/trades/avalanche_c/_schema.yml
  models/_sector/dex/trades/avalanche_c/_sources.yml
  models/_sector/dex/trades/avalanche_c/dex_avalanche_c_base_trades.sql
  models/_sector/dex/trades/avalanche_c/platforms/gmx_avalanche_c_base_trades.sql
  models/gmx/arbitrum/gmx_arbitrum_sources.yml
  models/gmx/avalanche_c/gmx_avalanche_c_sources.yml
Labels: ready-for-merging, dex

#5053 Add glacier to `dex.trades_beta`
  models/_sector/dex/trades/avalanche_c/_schema.yml
  models/_sector/dex/trades/avalanche_c/_sources.yml
  models/_sector/dex/trades/avalanche_c/dex_avalanche_c_base_trades.sql
  models/_sector/dex/trades/avalanche_c/platforms/glacier_v2_avalanche_c_base_trades.sql
  models/_sector/dex/trades/avalanche_c/platforms/glacier_v3_avalanche_c_base_trades.sql
  models/glacier/avalanche_c/glacier_avalanche_c_sources.yml
Labels: ready-for-merging, dex

#5052 Add equalizer to `dex.trades_beta`
  models/_sector/dex/trades/fantom/_schema.yml
  models/_sector/dex/trades/fantom/_sources.yml
  models/_sector/dex/trades/fantom/dex_fantom_base_trades.sql
  models/_sector/dex/trades/fantom/platforms/equalizer_fantom_base_trades.sql
  models/equalizer/fantom/equalizer_fantom_sources.yml
Labels: ready-for-merging, dex

#5049 Add dodo to `dex.trades_beta`
  macros/models/_sector/dex/dodo_compatible_trades.sql
  models/_sector/dex/trades/arbitrum/_schema.yml
  models/_sector/dex/trades/arbitrum/_sources.yml
  models/_sector/dex/trades/arbitrum/dex_arbitrum_base_trades.sql
  models/_sector/dex/trades/arbitrum/platforms/dodo_arbitrum_base_trades.sql
  models/_sector/dex/trades/base/_schema.yml
  models/_sector/dex/trades/base/_sources.yml
  models/_sector/dex/trades/base/dex_base_base_trades.sql
  models/_sector/dex/trades/base/platforms/dodo_base_base_trades.sql
  models/_sector/dex/trades/bnb/_schema.yml
  models/_sector/dex/trades/bnb/_sources.yml
  models/_sector/dex/trades/bnb/dex_bnb_base_trades.sql
  models/_sector/dex/trades/bnb/platforms/dodo_bnb_base_trades.sql
  models/_sector/dex/trades/ethereum/_schema.yml
  models/_sector/dex/trades/ethereum/_sources.yml
  models/_sector/dex/trades/ethereum/dex_ethereum_base_trades.sql
  models/_sector/dex/trades/ethereum/platforms/dodo_ethereum_base_trades.sql
  models/_sector/dex/trades/optimism/_schema.yml
  models/_sector/dex/trades/optimism/_sources.yml
  models/_sector/dex/trades/optimism/dex_optimism_base_trades.sql
  models/_sector/dex/trades/optimism/platforms/dodo_optimism_base_trades.sql
  models/_sector/dex/trades/polygon/_schema.yml
  models/_sector/dex/trades/polygon/_sources.yml
  models/_sector/dex/trades/polygon/dex_polygon_base_trades.sql
  models/_sector/dex/trades/polygon/platforms/dodo_polygon_base_trades.sql
  models/dodo/arbitrum/dodo_arbitrum_sources.yml
  models/dodo/base/dodo_base_sources.yml
  models/dodo/bnb/dodo_bnb_sources.yml
  models/dodo/ethereum/dodo_ethereum_sources.yml
  models/dodo/optimism/dodo_optimism_sources.yml
  models/dodo/polygon/dodo_polygon_sources.yml
Labels: ready-for-merging, dex

#5044 Add dfx to `dex.trades_beta`
  models/_sector/dex/trades/ethereum/_schema.yml
  models/_sector/dex/trades/ethereum/_sources.yml
  models/_sector/dex/trades/ethereum/dex_ethereum_base_trades.sql
  models/_sector/dex/trades/ethereum/platforms/dfx_ethereum_base_trades.sql
  models/dfx/ethereum/dfx_ethereum_sources.yml
Labels: ready-for-merging, dex

#5073 Add mauve to `dex.trades_beta`
  models/_sector/dex/trades/ethereum/_schema.yml
  models/_sector/dex/trades/ethereum/_sources.yml
  models/_sector/dex/trades/ethereum/dex_ethereum_base_trades.sql
  models/_sector/dex/trades/ethereum/platforms/mauve_ethereum_base_trades.sql
  models/mauve/ethereum/mauve_ethereum_sources.yml
Labels: ready-for-merging

#5086 Add swapr to `dex.trades_beta`
  models/_sector/dex/trades/ethereum/_schema.yml
  models/_sector/dex/trades/ethereum/_sources.yml
  models/_sector/dex/trades/ethereum/dex_ethereum_base_trades.sql
  models/_sector/dex/trades/ethereum/platforms/swapr_ethereum_base_trades.sql
  models/swapr/ethereum/swapr_ethereum_sources.yml
Labels: ready-for-merging

#5084 Fix blockchains property for Balancer spells
  models/balancer/arbitrum/balancer_v2_arbitrum_liquidity.sql
  models/balancer/avalanche_c/balancer_v2_avalanche_c_liquidity.sql
  models/balancer/base/balancer_v2_base_liquidity.sql
  models/balancer/ethereum/balancer_v2_ethereum_liquidity.sql
  models/balancer/gnosis/balancer_v2_gnosis_liquidity.sql
  models/balancer/optimism/balancer_v2_optimism_liquidity.sql
  models/balancer/polygon/balancer_v2_polygon_liquidity.sql
Labels: ready-for-merging

#5036 polygon NFT trades refactor
  macros/models/_sector/nft/platforms/tofu_v1_base_trades.sql
  models/_sector/nft/trades/chains/old/nft_old_base_trades.sql
  models/_sector/nft/trades/chains/old/platforms/_schema.yml
  models/_sector/nft/trades/chains/old/platforms/_sources.yml
  models/_sector/nft/trades/chains/old/platforms/aavegotchi_polygon_events.sql
  models/_sector/nft/trades/chains/old/platforms/decentraland_polygon_events.sql
  models/_sector/nft/trades/chains/old/platforms/decentraland_polygon_schema.yml
  models/_sector/nft/trades/chains/old/platforms/decentraland_polygon_sources.yml
  models/_sector/nft/trades/chains/old/platforms/element_polygon_events.sql
  models/_sector/nft/trades/chains/old/platforms/element_polygon_schema.yml
  models/_sector/nft/trades/chains/old/platforms/element_polygon_sources.yml
  models/_sector/nft/trades/chains/old/platforms/fractal_polygon_events.sql
  models/_sector/nft/trades/chains/old/platforms/fractal_polygon_schema.yml
  models/_sector/nft/trades/chains/old/platforms/fractal_polygon_sources.yml
  models/_sector/nft/trades/chains/old/platforms/magiceden_polygon_schema.yml
  models/_sector/nft/trades/chains/old/platforms/rarible_polygon_schema.yml
  models/_sector/nft/trades/chains/old/platforms/rarible_polygon_sources.yml
  models/_sector/nft/trades/chains/old/platforms/tofu_polygon_schema.yml
  models/_sector/nft/trades/chains/old/platforms/tofu_polygon_sources.yml
  models/_sector/nft/trades/chains/polygon/nft_polygon_base_trades.sql
  models/_sector/nft/trades/chains/polygon/platforms/_schema.yml
  models/_sector/nft/trades/chains/polygon/platforms/_sources.yml
  models/_sector/nft/trades/chains/polygon/platforms/aavegotchi_polygon_base_trades.sql
  models/_sector/nft/trades/chains/polygon/platforms/aurem_polygon_base_trades.sql
  models/_sector/nft/trades/chains/polygon/platforms/decentraland_polygon_base_trades.sql
  models/_sector/nft/trades/chains/polygon/platforms/dew_polygon_base_trades.sql
  models/_sector/nft/trades/chains/polygon/platforms/element_polygon_base_trades.sql
  models/_sector/nft/trades/chains/polygon/platforms/fractal_polygon_base_trades.sql
  models/_sector/nft/trades/chains/polygon/platforms/magiceden_polygon_base_trades.sql
  models/_sector/nft/trades/chains/polygon/platforms/rarible_polygon_base_trades.sql
  models/_sector/nft/trades/chains/polygon/platforms/tofu_polygon_base_trades.sql
Labels: ready-for-merging, NFT

#5087 bug fix: amount in usd default value
  models/tokenlon/ethereum/tokenlon_v5_ethereum_amm_v2_trades.sql
Labels: ready-for-merging, dex

#5075 Add mstable to `dex.trades_beta`
  models/_sector/dex/trades/ethereum/_schema.yml
  models/_sector/dex/trades/ethereum/_sources.yml
  models/_sector/dex/trades/ethereum/dex_ethereum_base_trades.sql
  models/_sector/dex/trades/ethereum/platforms/mstable_ethereum_base_trades.sql
  models/mstable/ethereum/mstable_ethereum_sources.yml
Labels: ready-for-merging, dex

#5043 Add clipper to `dex.trades_beta`
  macros/models/_sector/dex/clipper_compatible_trades.sql
  models/_sector/dex/trades/arbitrum/_schema.yml
  models/_sector/dex/trades/arbitrum/_sources.yml
  models/_sector/dex/trades/arbitrum/dex_arbitrum_base_trades.sql
  models/_sector/dex/trades/arbitrum/platforms/clipper_arbitrum_base_trades.sql
  models/_sector/dex/trades/ethereum/_schema.yml
  models/_sector/dex/trades/ethereum/_sources.yml
  models/_sector/dex/trades/ethereum/dex_ethereum_base_trades.sql
  models/_sector/dex/trades/ethereum/platforms/clipper_ethereum_base_trades.sql
  models/_sector/dex/trades/optimism/_schema.yml
  models/_sector/dex/trades/optimism/_sources.yml
  models/_sector/dex/trades/optimism/dex_optimism_base_trades.sql
  models/_sector/dex/trades/optimism/platforms/clipper_optimism_base_trades.sql
  models/_sector/dex/trades/polygon/_schema.yml
  models/_sector/dex/trades/polygon/_sources.yml
  models/_sector/dex/trades/polygon/dex_polygon_base_trades.sql
  models/_sector/dex/trades/polygon/platforms/clipper_polygon_base_trades.sql
  models/clipper/arbitrum/clipper_arbitrum_sources.yml
  models/clipper/ethereum/clipper_ethereum_sources.yml
  models/clipper/optimism/clipper_optimism_sources.yml
  models/clipper/polygon/clipper_polygon_sources.yml
Labels: ready-for-merging, dex

#5040 Added Optimism Unidex Dex
  models/_sector/dex/trades/optimism/_schema.yml
  models/dex/dex_aggregator_trades.sql
  models/unidex/optimism/unidex_optimism_schema.yml
  models/unidex/optimism/unidex_optimism_sources.yml
  models/unidex/optimism/unidex_optimism_trades.sql
  seeds/dex/aggregator/dex_aggregator_seed.csv
Labels: ready-for-merging, dex

#5069 Add Celo to contracts
  models/_sector/contracts/celo/_schema.yml
  models/_sector/contracts/celo/contracts_celo_base_iterated_creators.sql
  models/_sector/contracts/celo/contracts_celo_base_starting_level.sql
  models/_sector/contracts/celo/contracts_celo_contract_mapping.sql
  models/_sector/contracts/celo/contracts_celo_find_self_destruct_contracts.sql
Labels: ready-for-merging

#5050 1inch: lineage refactoring part 4
  macros/models/_project/oneinch/AR/oneinch_ar_handle_generic.sql
  macros/models/_project/oneinch/AR/oneinch_ar_handle_unoswap.sql
  macros/models/_project/oneinch/AR/oneinch_ar_macro.sql
  macros/models/_project/oneinch/oneinch_calls_transfers_macro.sql
  models/oneinch/_meta/oneinch_blockchains.sql
  models/oneinch/_meta/oneinch_exchange_contracts.sql
  models/oneinch/_meta/oneinch_fusion_accounts.sql
  models/oneinch/_meta/oneinch_fusion_executors.sql
  models/oneinch/_meta/oneinch_fusion_farms.sql
  models/oneinch/_meta/oneinch_fusion_resolvers.sql
  models/oneinch/arbitrum/oneinch_arbitrum_calls_transfers.sql
  models/oneinch/arbitrum/oneinch_arbitrum_schema.yml
  models/oneinch/avalanche_c/oneinch_avalanche_c_calls_transfers.sql
  models/oneinch/avalanche_c/oneinch_avalanche_c_schema.yml
  models/oneinch/base/oneinch_base_calls_transfers.sql
  models/oneinch/base/oneinch_base_schema.yml
  models/oneinch/bnb/oneinch_bnb_calls_transfers.sql
  models/oneinch/bnb/oneinch_bnb_schema.yml
  models/oneinch/ethereum/oneinch_ethereum_calls_transfers.sql
  models/oneinch/ethereum/oneinch_ethereum_schema.yml
  models/oneinch/ethereum/oneinch_ethereum_sources.yml
  models/oneinch/fantom/oneinch_fantom_calls_transfers.sql
  models/oneinch/fantom/oneinch_fantom_schema.yml
  models/oneinch/gnosis/oneinch_gnosis_calls_transfers.sql
  models/oneinch/gnosis/oneinch_gnosis_schema.yml
  models/oneinch/oneinch_ar.sql
  models/oneinch/oneinch_ar_trades.sql
  models/oneinch/oneinch_call_transfers.sql
  models/oneinch/oneinch_calls_transfers_amounts.sql
  models/oneinch/oneinch_contract_addresses.sql
  models/oneinch/oneinch_fusion_executors.sql
  models/oneinch/oneinch_fusion_settlements.sql
  models/oneinch/oneinch_lop.sql
  models/oneinch/oneinch_lop_own_trades.sql
  models/oneinch/oneinch_methods.sql
  models/oneinch/oneinch_protocols.sql
  models/oneinch/oneinch_schema.yml
  models/oneinch/oneinch_swaps.sql
  models/oneinch/optimism/oneinch_optimism_calls_transfers.sql
  models/oneinch/optimism/oneinch_optimism_schema.yml
  models/oneinch/polygon/oneinch_polygon_calls_transfers.sql
  models/oneinch/polygon/oneinch_polygon_schema.yml
  models/oneinch/zksync/oneinch_zksync_calls_transfers.sql
  models/oneinch/zksync/oneinch_zksync_schema.yml
Labels: in review

#5100 add back 1inch: lineage refactoring part 4 (#5050)
  macros/models/_project/oneinch/AR/oneinch_ar_handle_generic.sql
  macros/models/_project/oneinch/AR/oneinch_ar_handle_unoswap.sql
  macros/models/_project/oneinch/AR/oneinch_ar_macro.sql
  macros/models/_project/oneinch/oneinch_calls_transfers_macro.sql
  models/oneinch/_meta/oneinch_blockchains.sql
  models/oneinch/_meta/oneinch_exchange_contracts.sql
  models/oneinch/_meta/oneinch_fusion_accounts.sql
  models/oneinch/_meta/oneinch_fusion_executors.sql
  models/oneinch/_meta/oneinch_fusion_farms.sql
  models/oneinch/_meta/oneinch_fusion_resolvers.sql
  models/oneinch/arbitrum/oneinch_arbitrum_calls_transfers.sql
  models/oneinch/arbitrum/oneinch_arbitrum_schema.yml
  models/oneinch/avalanche_c/oneinch_avalanche_c_calls_transfers.sql
  models/oneinch/avalanche_c/oneinch_avalanche_c_schema.yml
  models/oneinch/base/oneinch_base_calls_transfers.sql
  models/oneinch/base/oneinch_base_schema.yml
  models/oneinch/bnb/oneinch_bnb_calls_transfers.sql
  models/oneinch/bnb/oneinch_bnb_schema.yml
  models/oneinch/ethereum/oneinch_ethereum_calls_transfers.sql
  models/oneinch/ethereum/oneinch_ethereum_schema.yml
  models/oneinch/ethereum/oneinch_ethereum_sources.yml
  models/oneinch/fantom/oneinch_fantom_calls_transfers.sql
  models/oneinch/fantom/oneinch_fantom_schema.yml
  models/oneinch/gnosis/oneinch_gnosis_calls_transfers.sql
  models/oneinch/gnosis/oneinch_gnosis_schema.yml
  models/oneinch/oneinch_ar.sql
  models/oneinch/oneinch_ar_trades.sql
  models/oneinch/oneinch_call_transfers.sql
  models/oneinch/oneinch_calls_transfers_amounts.sql
  models/oneinch/oneinch_contract_addresses.sql
  models/oneinch/oneinch_fusion_executors.sql
  models/oneinch/oneinch_fusion_settlements.sql
  models/oneinch/oneinch_lop.sql
  models/oneinch/oneinch_lop_own_trades.sql
  models/oneinch/oneinch_methods.sql
  models/oneinch/oneinch_protocols.sql
  models/oneinch/oneinch_schema.yml
  models/oneinch/oneinch_swaps.sql
  models/oneinch/optimism/oneinch_optimism_calls_transfers.sql
  models/oneinch/optimism/oneinch_optimism_schema.yml
  models/oneinch/polygon/oneinch_polygon_calls_transfers.sql
  models/oneinch/polygon/oneinch_polygon_schema.yml
  models/oneinch/zksync/oneinch_zksync_calls_transfers.sql
  models/oneinch/zksync/oneinch_zksync_schema.yml
Labels: hotfix

#5059 [Ready-for-review] dex.trades: added new Bebop router(BebopJAM)
  models/bebop/arbitrum/bebop_arbitrum_schema.yml
  models/bebop/arbitrum/bebop_arbitrum_sources.yml
  models/bebop/arbitrum/bebop_arbitrum_trades.sql
  models/bebop/arbitrum/bebop_jam_arbitrum_trades.sql
  models/bebop/arbitrum/bebop_rfq_arbitrum_trades.sql
  models/bebop/ethereum/bebop_ethereum_schema.yml
  models/bebop/ethereum/bebop_ethereum_sources.yml
  models/bebop/ethereum/bebop_ethereum_trades.sql
  models/bebop/ethereum/bebop_jam_ethereum_trades.sql
  models/bebop/ethereum/bebop_rfq_ethereum_trades.sql
  models/bebop/polygon/bebop_jam_polygon_trades.sql
  models/bebop/polygon/bebop_polygon_schema.yml
  models/bebop/polygon/bebop_polygon_sources.yml
  models/bebop/polygon/bebop_polygon_trades.sql
  models/bebop/polygon/bebop_rfq_polygon_trades.sql
  seeds/dex/aggregator/dex_aggregator_seed.csv
Labels: ready-for-merging, dex

#5062 Add kyberswap to `dex.trades_beta`
  macros/models/_sector/dex/kyberswap_compatible_trades.sql
  models/_sector/dex/trades/arbitrum/_schema.yml
  models/_sector/dex/trades/arbitrum/_sources.yml
  models/_sector/dex/trades/arbitrum/dex_arbitrum_base_trades.sql
  models/_sector/dex/trades/arbitrum/platforms/kyberswap_arbitrum_base_trades.sql
  models/_sector/dex/trades/avalanche_c/_schema.yml
  models/_sector/dex/trades/avalanche_c/_sources.yml
  models/_sector/dex/trades/avalanche_c/dex_avalanche_c_base_trades.sql
  models/_sector/dex/trades/avalanche_c/platforms/kyberswap_avalanche_c_base_trades.sql
  models/_sector/dex/trades/bnb/_schema.yml
  models/_sector/dex/trades/bnb/_sources.yml
  models/_sector/dex/trades/bnb/dex_bnb_base_trades.sql
  models/_sector/dex/trades/bnb/platforms/kyberswap_bnb_base_trades.sql
  models/_sector/dex/trades/ethereum/_schema.yml
  models/_sector/dex/trades/ethereum/_sources.yml
  models/_sector/dex/trades/ethereum/dex_ethereum_base_trades.sql
  models/_sector/dex/trades/ethereum/platforms/kyberswap_ethereum_base_trades.sql
  models/_sector/dex/trades/optimism/_schema.yml
  models/_sector/dex/trades/optimism/_sources.yml
  models/_sector/dex/trades/optimism/dex_optimism_base_trades.sql
  models/_sector/dex/trades/optimism/platforms/kyberswap_optimism_base_trades.sql
  models/_sector/dex/trades/polygon/_schema.yml
  models/_sector/dex/trades/polygon/_sources.yml
  models/_sector/dex/trades/polygon/dex_polygon_base_trades.sql
  models/_sector/dex/trades/polygon/platforms/kyberswap_polygon_base_trades.sql
  models/kyberswap/arbitrum/kyberswap_arbitrum_sources.yml
  models/kyberswap/avalanche_c/kyberswap_avalanche_c_sources.yml
  models/kyberswap/bnb/kyberswap_bnb_sources.yml
  models/kyberswap/ethereum/kyberswap_ethereum_sources.yml
  models/kyberswap/optimism/kyberswap_optimism_sources.yml
  models/kyberswap/polygon/kyberswap_polygon_sources.yml
  seeds/_sector/dex/_schema.yml
  seeds/_sector/dex/kyberswap_avalanche_c_base_trades_seed.csv
  seeds/_sector/dex/kyberswap_bnb_base_trades_seed.csv
  seeds/_sector/dex/kyberswap_ethereum_base_trades_seed.csv
  seeds/_sector/dex/kyberswap_optimism_base_trades_seed.csv
  seeds/_sector/dex/kyberswap_polygon_base_trades_seed.csv
Labels: ready-for-merging, dex

#5064 Celo ImmortalX - add to `perpetual_trades`
  models/dex/dex_info.sql
  models/immortalx/celo/immortalx_celo_perpetual_trades.sql
  models/immortalx/celo/immortalx_celo_schema.yml
  models/immortalx/celo/immortalx_celo_sources.yml
  models/immortalx/immortalx_perpetual_trades.sql
  models/immortalx/immortalx_schema.yml
  models/perpetual/perpetual_trades.sql
  seeds/perpetual/trades/perpetual_trades_seed.csv
Labels: ready-for-merging

#5097 Add paragraph.xyz to the referral.rewards spell
  macros/models/_sector/referral/platforms/paragraph_referral_rewards.sql
  models/_sector/referral/rewards/platforms/_schema.yml
  models/_sector/referral/rewards/platforms/_sources.yml
  models/_sector/referral/rewards/platforms/paragraph_base_rewards.sql
  models/_sector/referral/rewards/platforms/paragraph_optimism_rewards.sql
  models/_sector/referral/rewards/platforms/paragraph_polygon_rewards.sql
  models/_sector/referral/rewards/platforms/paragraph_zora_rewards.sql
  models/_sector/referral/rewards/referral_staging_rewards.sql
  seeds/_sector/referral/_schema.yml
  seeds/_sector/referral/paragraph_base_rewards_seed.csv
  seeds/_sector/referral/paragraph_optimism_rewards_seed.csv
  seeds/_sector/referral/paragraph_polygon_rewards_seed.csv
  seeds/_sector/referral/paragraph_zora_rewards_seed.csv
Labels: ready-for-merging

#4879 Arbitrum base trades
  macros/models/_sector/nft/platforms/tofu_v1_base_trades.sql
  models/_sector/nft/mints/nft_mints.sql
  models/_sector/nft/trades/chains/_schema.yml
  models/_sector/nft/trades/chains/arbitrum/nft_arbitrum_base_trades.sql
  models/_sector/nft/trades/chains/arbitrum/platforms/_schema.yml
  models/_sector/nft/trades/chains/arbitrum/platforms/_sources.yml
  models/_sector/nft/trades/chains/arbitrum/platforms/stealcam_arbitrum_base_trades.sql
  models/_sector/nft/trades/chains/arbitrum/platforms/tofu_arbitrum_base_trades.sql
  models/_sector/nft/trades/chains/arbitrum/platforms/trove_v1_arbitrum_base_trades.sql
  models/_sector/nft/trades/chains/arbitrum/platforms/trove_v2_arbitrum_base_trades.sql
  models/_sector/nft/trades/chains/ethereum/platforms/_schema.yml
  models/_sector/nft/trades/chains/ethereum/platforms/_sources.yml
  models/_sector/nft/trades/chains/ethereum/platforms/liquidifty_ethereum_base_trades.sql
  models/_sector/nft/trades/chains/ethereum/platforms/trove_ethereum_base_trades.sql
  models/_sector/nft/trades/chains/old/nft_old_base_trades.sql
  models/_sector/nft/trades/chains/old/platforms/liquidifty_ethereum_schema.yml
  models/_sector/nft/trades/chains/old/platforms/liquidifty_ethereum_sources.yml
  models/_sector/nft/trades/chains/old/platforms/stealcam_arbitrum_events.sql
  models/_sector/nft/trades/chains/old/platforms/stealcam_arbitrum_schema.yml
  models/_sector/nft/trades/chains/old/platforms/stealcam_arbitrum_sources.yml
  models/_sector/nft/trades/chains/old/platforms/tofu_arbitrum_schema.yml
  models/_sector/nft/trades/chains/old/platforms/tofu_arbitrum_sources.yml
  models/_sector/nft/trades/chains/old/platforms/trove_ethereum_events.sql
  models/_sector/nft/trades/chains/old/platforms/trove_schema.yml
  models/_sector/nft/trades/chains/old/platforms/trove_sources.yml
  models/_sector/nft/trades/chains/old/platforms/trove_v1_arbitrum_events.sql
  models/_sector/nft/trades/chains/old/platforms/trove_v2_arbitrum_events.sql
Labels: ready-for-merging, NFT

#5039 Adds child gauges to balancer gauge labels
  models/labels/addresses/__single_category_labels__/balancer_v2/labels_balancer_v2_gauges.sql
  models/labels/addresses/__single_category_labels__/balancer_v2/labels_balancer_v2_gauges_arbitrum.sql
  models/labels/addresses/__single_category_labels__/balancer_v2/labels_balancer_v2_gauges_avalanche_c.sql
  models/labels/addresses/__single_category_labels__/balancer_v2/labels_balancer_v2_gauges_base.sql
  models/labels/addresses/__single_category_labels__/balancer_v2/labels_balancer_v2_gauges_gnosis.sql
  models/labels/addresses/__single_category_labels__/balancer_v2/labels_balancer_v2_gauges_optimism.sql
  models/labels/addresses/__single_category_labels__/balancer_v2/labels_balancer_v2_gauges_polygon.sql
  models/labels/addresses/__single_category_labels__/balancer_v2/labels_balancer_v2_schema.yml
  models/labels/addresses/__single_category_labels__/balancer_v2/labels_balancer_v2_sources.yml
Labels: ready-for-merging

#5029 Balancer `dex.trades_beta` exposed views
  models/balancer/arbitrum/balancer_arbitrum_schema.yml
  models/balancer/arbitrum/balancer_v2_arbitrum_trades_beta.sql
  models/balancer/avalanche_c/balancer_avalanche_c_schema.yml
  models/balancer/avalanche_c/balancer_v2_avalanche_c_trades_beta.sql
  models/balancer/base/balancer_base_schema.yml
  models/balancer/base/balancer_v2_base_trades_beta.sql
  models/balancer/ethereum/balancer_ethereum_schema.yml
  models/balancer/ethereum/balancer_v2_ethereum_trades_beta.sql
  models/balancer/gnosis/balancer_gnosis_schema.yml
  models/balancer/gnosis/balancer_v2_gnosis_trades_beta.sql
  models/balancer/optimism/balancer_optimism_schema.yml
  models/balancer/optimism/balancer_v2_optimism_trades_beta.sql
  models/balancer/polygon/balancer_polygon_schema.yml
  models/balancer/polygon/balancer_v2_polygon_trades_beta.sql
Labels: ready-for-merging, dex

#5112 Add velodrome to `dex.trades_beta`
  models/_sector/dex/trades/optimism/_schema.yml
  models/_sector/dex/trades/optimism/_sources.yml
  models/_sector/dex/trades/optimism/dex_optimism_base_trades.sql
  models/_sector/dex/trades/optimism/platforms/velodrome_optimism_base_trades.sql
  models/velodrome/optimism/velodrome_optimism_sources.yml
Labels: dex, ready-for-final-review

#5131 `mummy_finance_optimism` fix to handle denormalized decoded tables
  models/mummy_finance/optimism/mummy_finance_optimism_perpetual_trades.sql
  models/mummy_finance/optimism/mummy_finance_v1_optimism_perpetual_trades.sql
  models/perpetual/perpetual_trades.sql
Labels: dune team, hotfix

#5124 Prices update for balancer liquidity macro
  macros/models/_project/balancer/balancer_liquidity_macro.sql
Labels: ready-for-merging

#5119 Create `cex.info`
  models/cex/cex_info.sql
  models/cex/cex_schema.yml
Labels: ready-for-merging

#5104 Add missing chain info to referral.rewards spell
  models/_sector/referral/rewards/_schema.yml
  models/_sector/referral/rewards/referral_rewards.sql
Labels: ready-for-merging

#5093 Add CEX addresses
  models/cex/cex_evms_addresses.sql
Labels: ready-for-merging, labels

#5067 Added Unidex to perpetual_trades
  models/perpetual/perpetual_trades.sql
  models/unidex/optimism/unidex_optimism_perpetual_trades.sql
  models/unidex/optimism/unidex_optimism_schema.yml
  models/unidex/optimism/unidex_optimism_sources.yml
  models/unidex/optimism/unidex_v1_optimism_perpetual_trades.sql
  models/unidex/optimism/unidex_v2_optimism_perpetual_trades.sql
  models/unidex/optimism/unidex_v3_optimism_perpetual_trades.sql
  models/unidex/unidex_perpetual_trades.sql
  models/unidex/unidex_schema.yml
  seeds/perpetual/trades/perpetual_trades_seed.csv
Labels: ready-for-merging

#5046 [Contracts] Materialize Chain-Level Tables
  models/_sector/contracts/arbitrum/contracts_arbitrum_contract_mapping.sql
  models/_sector/contracts/base/contracts_base_contract_mapping.sql
  models/_sector/contracts/celo/contracts_celo_contract_mapping.sql
  models/_sector/contracts/contracts_contract_mapping.sql
  models/_sector/contracts/ethereum/contracts_ethereum_contract_mapping.sql
  models/_sector/contracts/optimism/contracts_optimism_contract_mapping.sql
  models/_sector/contracts/zora/contracts_zora_contract_mapping.sql
Labels: ready-for-merging

#5030 Add Gyro ECLPs labels to balancer pool labels
  models/labels/addresses/__single_category_labels__/balancer_v2/labels_balancer_v2_pools_arbitrum.sql
  models/labels/addresses/__single_category_labels__/balancer_v2/labels_balancer_v2_pools_ethereum.sql
  models/labels/addresses/__single_category_labels__/balancer_v2/labels_balancer_v2_pools_optimism.sql
  models/labels/addresses/__single_category_labels__/balancer_v2/labels_balancer_v2_pools_polygon.sql
  models/labels/addresses/__single_category_labels__/balancer_v2/labels_balancer_v2_sources.yml
Labels: ready-for-merging

#5135 optimism perp trades: fix for denmoralized decoded tables
  models/nex/nex_optimism_perpetual_trades.sql
  models/opx_finance/optimism/opx_finance_optimism_perpetual_trades.sql
  models/opx_finance/optimism/opx_finance_v1_optimism_perpetual_trades.sql
  models/perpetual/perpetual_trades.sql
Labels: dune team, hotfix

#5054 Add drop market trades to Foundation
  models/_sector/nft/trades/chains/ethereum/platforms/_schema.yml
  models/_sector/nft/trades/chains/ethereum/platforms/_sources.yml
  models/_sector/nft/trades/chains/ethereum/platforms/foundation_ethereum_base_trades.sql
Labels: ready-for-merging, NFT

#5106 Add opx_finance to `dex.trades_beta`
  models/_sector/dex/trades/optimism/_schema.yml
  models/_sector/dex/trades/optimism/_sources.yml
  models/_sector/dex/trades/optimism/dex_optimism_base_trades.sql
  models/_sector/dex/trades/optimism/platforms/opx_finance_optimism_base_trades.sql
  models/opx_finance/optimism/opx_finance_optimism_sources.yml
Labels: ready-for-merging, dex

#5072 Add Celo to `account_abstraction_erc4337`
  models/account_abstraction/erc4337/account_abstraction_erc4337_account_deployed.sql
  models/account_abstraction/erc4337/account_abstraction_erc4337_schema.yml
  models/account_abstraction/erc4337/account_abstraction_erc4337_userops.sql
  models/account_abstraction/erc4337/celo/account_abstraction_erc4337_celo_account_deployed.sql
  models/account_abstraction/erc4337/celo/account_abstraction_erc4337_celo_schema.yml
  models/account_abstraction/erc4337/celo/account_abstraction_erc4337_celo_sources.yml
  models/account_abstraction/erc4337/celo/account_abstraction_erc4337_celo_userops.sql
  models/account_abstraction/erc4337/celo/account_abstraction_erc4337_celo_v0_6_account_deployed.sql
  models/account_abstraction/erc4337/celo/account_abstraction_erc4337_celo_v0_6_userops_basics.sql
  seeds/account_abstraction/erc4337/account_abstraction_erc4337_account_deployed_seed.csv
  seeds/account_abstraction/erc4337/account_abstraction_erc4337_userops_seed.csv
Labels: ready-for-merging

#5079 Added Vela Exchange to perpetual_trades
  models/perpetual/perpetual_trades.sql
  models/vela_exchange/base/vela_exchange_base_perpetual_trades.sql
  models/vela_exchange/base/vela_exchange_base_schema.yml
  models/vela_exchange/base/vela_exchange_base_sources.yml
  models/vela_exchange/vela_exchange_perpetual_trades.sql
  models/vela_exchange/vela_exchange_schema.yml
  seeds/perpetual/trades/perpetual_trades_seed.csv
Labels: ready-for-merging

#5088 OP Static Metadata Adds
  models/_sector/contracts/contracts_contract_creator_address_list.sql
  models/_sector/contracts/contracts_contract_overrides.sql
  models/_sector/contracts/contracts_deterministic_contract_creators.sql
  models/_sector/contracts/contracts_system_predeploys.sql
Labels: ready-for-merging

#5099 add loopring to rollup_economics, corrected imx + starkware proofs
  models/rollup_economics/ethereum/l1_data_fees.sql
  models/rollup_economics/ethereum/l1_verification_fees.sql
Labels: ready-for-merging

#5101 Balances view for raw data
  macros/models/_sector/tokens/balances_base.sql
  macros/models/_sector/tokens/balances_enrich.sql
  macros/models/_sector/tokens/balances_sources.yml
  models/_sector/tokens/ethereum/_schema.yml
  models/_sector/tokens/ethereum/tokens_ethereum_balances.sql
  models/_sector/tokens/ethereum/tokens_ethereum_base_balances.sql
  models/_sector/tokens/ethereum/tokens_ethereum_base_balances_erc20.sql
  models/_sector/tokens/ethereum/tokens_ethereum_base_balances_native.sql
Labels: dune team

#5138 `fxdx_optimism`: fix column pulls to handle for denormalized decoded tables
  models/fxdx/optimism/fxdx_v2_optimism_perpetual_trades.sql
Labels: dune team, hotfix

#5026 [Contracts] Rename deployer_address to trace_deployer_address
  macros/models/_sector/contracts/contracts_base_iterated_creators.sql
  macros/models/_sector/contracts/contracts_contract_mapping.sql
  models/_sector/contracts/_schema.yml
  models/_sector/contracts/arbitrum/_schema.yml
  models/_sector/contracts/base/_schema.yml
  models/_sector/contracts/ethereum/_schema.yml
  models/_sector/contracts/optimism/_schema.yml
  models/_sector/contracts/zora/_schema.yml
Labels: ready-for-merging

#4986 Contracts - Test Incremental Initial Build & Add Polygon PoS
  macros/incremental_days_forward_predicate.sql
  macros/models/_sector/contracts/contracts_base_iterated_creators.sql
  macros/models/_sector/contracts/contracts_base_starting_level.sql
  macros/models/_sector/contracts/find_self_destruct_contracts.sql
  models/_sector/contracts/contracts_contract_mapping.sql
  models/_sector/contracts/polygon/_schema.yml
  models/_sector/contracts/polygon/contracts_polygon_base_iterated_creators.sql
  models/_sector/contracts/polygon/contracts_polygon_base_starting_level.sql
  models/_sector/contracts/polygon/contracts_polygon_contract_mapping.sql
  models/_sector/contracts/polygon/contracts_polygon_find_self_destruct_contracts.sql
Labels: ready-for-merging

#5066 creates beethoven x fantom liquidity spell
  models/balancer/balancer_token_whitelist.sql
  models/beethoven_x/fantom/beethoven_x_fantom_liquidity.sql
  models/beethoven_x/fantom/beethoven_x_fantom_pools_tokens_weights.sql
  models/beethoven_x/fantom/beethoven_x_fantom_schema.yml
  models/beethoven_x/fantom/beethoven_x_fantom_sources.yml
  models/labels/addresses/__single_category_labels__/balancer_v2/labels_balancer_v2_gauges_ethereum.sql
  models/labels/addresses/__single_category_labels__/beethoven_x/labels_beethoven_x_pools_fantom.sql
  models/labels/addresses/__single_category_labels__/beethoven_x/labels_beethoven_x_schema.yml
  models/labels/addresses/__single_category_labels__/beethoven_x/labels_beethoven_x_sources.yml
Labels: ready-for-merging

#5134 Optimism NFT base trades
  models/_sector/nft/trades/chains/old/nft_old_base_trades.sql
  models/_sector/nft/trades/chains/old/platforms/quix_optimism_schema.yml
  models/_sector/nft/trades/chains/old/platforms/quix_optimism_sources.yml
  models/_sector/nft/trades/chains/old/platforms/quix_v1_optimism_events.sql
  models/_sector/nft/trades/chains/old/platforms/quix_v4_optimism_events.sql
  models/_sector/nft/trades/chains/old/platforms/tofu_optimism_schema.yml
  models/_sector/nft/trades/chains/old/platforms/tofu_optimism_sources.yml
  models/_sector/nft/trades/chains/old/platforms/zonic_optimism_schema.yml
  models/_sector/nft/trades/chains/old/platforms/zonic_optimism_sources.yml
  models/_sector/nft/trades/chains/optimism/nft_optimism_base_trades.sql
  models/_sector/nft/trades/chains/optimism/platforms/_schema.yml
  models/_sector/nft/trades/chains/optimism/platforms/_sources.yml
  models/_sector/nft/trades/chains/optimism/platforms/quix_v1_optimism_base_trades.sql
  models/_sector/nft/trades/chains/optimism/platforms/quix_v2_optimism_base_trades.sql
  models/_sector/nft/trades/chains/optimism/platforms/quix_v3_optimism_base_trades.sql
  models/_sector/nft/trades/chains/optimism/platforms/quix_v4_optimism_base_trades.sql
  models/_sector/nft/trades/chains/optimism/platforms/quix_v5_optimism_base_trades.sql
  models/_sector/nft/trades/chains/optimism/platforms/tofu_optimism_base_trades.sql
  models/_sector/nft/trades/chains/optimism/platforms/zonic_optimism_base_trades.sql
Labels: NFT

#5103 Added BaseSwap and Scale dex to dex.trades
  models/_sector/dex/trades/base/_schema.yml
  models/_sector/dex/trades/base/_sources.yml
  models/_sector/dex/trades/base/dex_base_base_trades.sql
  models/_sector/dex/trades/base/platforms/baseswap_base_base_trades.sql
  models/_sector/dex/trades/base/platforms/scale_base_base_trades.sql
  seeds/_sector/dex/_schema.yml
  seeds/_sector/dex/baseswap_base_base_trades_seed.csv
  seeds/_sector/dex/scale_base_base_trades_seed.csv
Labels: dex

#5132 Add more chains
  macros/models/_sector/tokens/balances_sources.yml
  models/_sector/tokens/arbitrum/_schema.yml
  models/_sector/tokens/arbitrum/tokens_arbitrum_balances.sql
  models/_sector/tokens/balances_sources.yml
  models/_sector/tokens/base/_schema.yml
  models/_sector/tokens/base/tokens_base_balances.sql
  models/_sector/tokens/bnb/_schema.yml
  models/_sector/tokens/bnb/tokens_bnb_balances.sql
  models/_sector/tokens/optimism/_schema.yml
  models/_sector/tokens/optimism/tokens_optimism_balances.sql
  models/_sector/tokens/polygon/_schema.yml
  models/_sector/tokens/polygon/tokens_polygon_balances.sql
Labels: dune team, dependencies, balances

#5147 Added circle USDC to tokens_polygon_erc20.sql
  models/tokens/polygon/tokens_polygon_erc20.sql
Labels: easy, ready-for-merging

#5140 Adding neadPHAR, xPHAR, FRAX, BINGO, DWC, and KRBY to tokens_avalanch…
  models/tokens/avalanche_c/tokens_avalanche_c_erc20.sql
Labels: easy, ready-for-final-review

#5133 Add rubicon to `dex.trades_beta`
  models/_sector/dex/trades/arbitrum/_schema.yml
  models/_sector/dex/trades/arbitrum/dex_arbitrum_base_trades.sql
  models/_sector/dex/trades/arbitrum/platforms/rubicon_arbitrum_base_trades.sql
  models/_sector/dex/trades/base/_schema.yml
  models/_sector/dex/trades/base/dex_base_base_trades.sql
  models/_sector/dex/trades/base/platforms/rubicon_base_base_trades.sql
  models/_sector/dex/trades/optimism/_schema.yml
  models/_sector/dex/trades/optimism/dex_optimism_base_trades.sql
  models/_sector/dex/trades/optimism/platforms/rubicon_optimism_base_trades.sql
  seeds/_sector/dex/_schema.yml
  seeds/_sector/dex/rubicon_base_base_trades_seed.csv
  seeds/_sector/dex/rubicon_optimism_base_trades_seed.csv
Labels: dex, ready-for-final-review

#5158 Contract Updates - Remove 'Drop Table' and Simplify Min Block Time
  macros/models/_sector/contracts/contracts_base_iterated_creators.sql
  macros/models/_sector/contracts/contracts_base_starting_level.sql
  models/_sector/contracts/arbitrum/contracts_arbitrum_contract_mapping.sql
  models/_sector/contracts/base/contracts_base_contract_mapping.sql
  models/_sector/contracts/bnb/contracts_bnb_contract_mapping_dynamic.sql
  models/_sector/contracts/celo/contracts_celo_contract_mapping.sql
  models/_sector/contracts/contracts_system_predeploys.sql
  models/_sector/contracts/ethereum/contracts_ethereum_contract_mapping.sql
  models/_sector/contracts/optimism/contracts_optimism_contract_mapping.sql
  models/_sector/contracts/polygon/contracts_polygon_contract_mapping.sql
  models/_sector/contracts/zora/contracts_zora_contract_mapping.sql
Labels: ready-for-merging

#5047 Add beethoven_x to `dex.trades_beta`
  dbt_project.yml
  models/_sector/dex/trades/fantom/_schema.yml
  models/_sector/dex/trades/fantom/dex_fantom_base_trades.sql
  models/_sector/dex/trades/fantom/platforms/beethoven_x_fantom_base_trades.sql
  models/beethoven_x/fantom/beethoven_x_fantom_pools_fees.sql
  models/beethoven_x/fantom/beethoven_x_fantom_schema.yml
  models/beethoven_x/fantom/beethoven_x_fantom_sources.yml
  models/beethoven_x/fantom/beethoven_x_fantom_trades.sql
  models/beethoven_x/optimism/beethoven_x_optimism_schema.yml
  models/beethoven_x/optimism/beethoven_x_optimism_sources.yml
  models/beethoven_x/optimism/beethoven_x_optimism_trades.sql
  seeds/_sector/dex/beethoven_x_fantom_base_trades_seed.csv
Labels: ready-for-merging, dex

#5157 1inch: `fusion_accounts` fix
  models/oneinch/_meta/oneinch_fusion_accounts.sql
Labels: ready-for-merging

#5171 1inch: hot fix to swaps spellbook
  models/oneinch/oneinch_swaps.sql
Labels: ready-for-merging

#5165 Update prices_ethereum_tokens.sql
  models/prices/ethereum/prices_ethereum_tokens.sql
Labels: ready-for-merging

#5164 Add BNB System Addresses & Handle for OP Chains
  models/_sector/contracts/contracts_system_predeploys.sql
  models/labels/addresses/infrastructure/identifier/system_addresses/labels_system_addresses.sql
Labels: ready-for-merging

#5136 Update prices_ethereum_tokens.sql
  models/prices/ethereum/prices_ethereum_tokens.sql
Labels: ready-for-merging

#5166 Update dex info
  models/_sector/dex/trades/bnb/dex_bnb_base_trades.sql
  models/_sector/dex/trades/bnb/platforms/thena_bnb_base_trades.sql
  models/_sector/dex/trades/dex_base_trades.sql
  models/_sector/dex/trades/dex_trades_beta.sql
  models/dex/dex_info.sql
Labels: hotfix, dex

#5176 Add token id to balances
  macros/models/_sector/tokens/balances_enrich.sql
Labels: ready-for-merging

#5156 Added arbitrum for yield_yak (including to dex aggregator)
  models/dex/dex_aggregator_trades.sql
  models/yield_yak/arbitrum/yield_yak_arbitrum_schema.yml
  models/yield_yak/arbitrum/yield_yak_arbitrum_sources.yml
  models/yield_yak/arbitrum/yield_yak_arbitrum_trades.sql
  models/yield_yak/yield_yak_trades.sql
  models/yield_yak/yield_yak_trades_schema.yml
  seeds/dex/aggregator/dex_aggregator_seed.csv
Labels: ready-for-merging, dex

#5027 SPE-206 Init readme.md in models/_sector/dex/
  models/_sector/dex/readme.md
Labels: dex

#5139 Add curvefi to `dex.trades_beta`
  models/_sector/dex/trades/avalanche_c/_schema.yml
  models/_sector/dex/trades/avalanche_c/_sources.yml
  models/_sector/dex/trades/avalanche_c/dex_avalanche_c_base_trades.sql
  models/_sector/dex/trades/avalanche_c/platforms/curvefi_avalanche_c_base_trades.sql
  models/_sector/dex/trades/ethereum/_schema.yml
  models/_sector/dex/trades/ethereum/dex_ethereum_base_trades.sql
  models/_sector/dex/trades/ethereum/platforms/curvefi_ethereum_base_trades.sql
  models/_sector/dex/trades/fantom/_schema.yml
  models/_sector/dex/trades/fantom/_sources.yml
  models/_sector/dex/trades/fantom/dex_fantom_base_trades.sql
  models/_sector/dex/trades/fantom/platforms/curvefi_fantom_base_trades.sql
  models/_sector/dex/trades/optimism/_schema.yml
  models/_sector/dex/trades/optimism/_sources.yml
  models/_sector/dex/trades/optimism/dex_optimism_base_trades.sql
  models/_sector/dex/trades/optimism/platforms/curvefi_optimism_base_trades.sql
  models/curvefi/avalanche_c/curvefi_avalanche_c_sources.yml
  models/curvefi/fantom/curvefi_fantom_sources.yml
  models/curvefi/optimism/curvefi_optimism_sources.yml
  seeds/_sector/dex/curvefi_ethereum_base_trades_seed.csv
Labels: dex

#5144 Add fraxswap, chronos, zyberswap and solidlizard dex to dex.trades
  models/_sector/dex/trades/arbitrum/_schema.yml
  models/_sector/dex/trades/arbitrum/_sources.yml
  models/_sector/dex/trades/arbitrum/dex_arbitrum_base_trades.sql
  models/_sector/dex/trades/arbitrum/platforms/chronos_arbitrum_base_trades.sql
  models/_sector/dex/trades/arbitrum/platforms/fraxswap_arbitrum_base_trades.sql
  models/_sector/dex/trades/arbitrum/platforms/solidlizard_arbitrum_base_trades.sql
  models/_sector/dex/trades/arbitrum/platforms/zyberswap_arbitrum_base_trades.sql
  models/dex/dex_info.sql
  seeds/_sector/dex/_schema.yml
  seeds/_sector/dex/chronos_arbitrum_base_trades_seed.csv
  seeds/_sector/dex/fraxswap_arbitrum_base_trades_seed.csv
  seeds/_sector/dex/solidlizard_arbitrum_base_trades_seed.csv
  seeds/_sector/dex/zyberswap_arbitrum_base_trades_seed.csv
Labels: dex

#5179 Add missing version in labels_beethoven_x_sources.yml
  models/labels/addresses/__single_category_labels__/beethoven_x/labels_beethoven_x_sources.yml
Labels: hotfix

#5071 Fix cowswap name & add Solana DEXs to dex.info
  models/cow_protocol/cow_protocol_batches.sql
  models/cow_protocol/cow_protocol_trades.sql
  models/dex/dex_info.sql
  models/dex/dex_schema.yml
Labels: dex

#5185 Adding DEUS to tokens_arbitrum_erc20.sql
  models/tokens/arbitrum/tokens_arbitrum_erc20.sql
Labels: ready-for-merging

#5108 Update 4x `dex.trades_beta` spells to use `generic_spot_compatible_trades` macro
  macros/models/_sector/dex/generic_spot_compatible_trades.sql
  models/_sector/dex/trades/celo/platforms/carbonhood_celo_base_trades.sql
  models/_sector/dex/trades/celo/platforms/mento_v2_celo_base_trades.sql
  models/_sector/dex/trades/optimism/platforms/mummy_finance_optimism_base_trades.sql
  models/_sector/dex/trades/optimism/platforms/sushiswap_v1_optimism_base_trades.sql
  models/mummy_finance/optimism/mummy_finance_optimism_schema.yml
  models/mummy_finance/optimism/mummy_finance_optimism_trades.sql
  seeds/_sector/dex/mummy_finance_optimism_base_trades_seed.csv
Labels: ready-for-merging, dex

#5189 feat: prices - added O3 Swap Token
  models/prices/arbitrum/prices_arbitrum_tokens.sql
Labels: ready-for-merging

#4899 Add compound to `lending.borrow`
  macros/models/_sector/lending/lending_compound_compatible_borrow.sql
  macros/models/_sector/lending/lending_enrich_borrow.sql
  models/_sector/lending/borrow/arbitrum/_schema.yml
  models/_sector/lending/borrow/arbitrum/_sources.yml
  models/_sector/lending/borrow/arbitrum/lending_arbitrum_base_borrow.sql
  models/_sector/lending/borrow/arbitrum/platforms/compound_v3_arbitrum_base_borrow.sql
  models/_sector/lending/borrow/base/_schema.yml
  models/_sector/lending/borrow/base/_sources.yml
  models/_sector/lending/borrow/base/lending_base_base_borrow.sql
  models/_sector/lending/borrow/base/platforms/compound_v3_base_base_borrow.sql
  models/_sector/lending/borrow/celo/platforms/exposed/_schema.yml
  models/_sector/lending/borrow/ethereum/_schema.yml
  models/_sector/lending/borrow/ethereum/_sources.yml
  models/_sector/lending/borrow/ethereum/lending_ethereum_base_borrow.sql
  models/_sector/lending/borrow/ethereum/platforms/compound_v2_ethereum_base_borrow.sql
  models/_sector/lending/borrow/ethereum/platforms/compound_v3_ethereum_base_borrow.sql
  models/_sector/lending/borrow/ethereum/platforms/exposed/_schema.yml
  models/_sector/lending/borrow/lending_borrow.sql
  models/_sector/lending/borrow/optimism/platforms/exposed/_schema.yml
  models/_sector/lending/borrow/polygon/_schema.yml
  models/_sector/lending/borrow/polygon/_sources.yml
  models/_sector/lending/borrow/polygon/lending_polygon_base_borrow.sql
  models/_sector/lending/borrow/polygon/platforms/compound_v3_polygon_base_borrow.sql
  models/aave/ethereum/aave_ethereum_borrow.sql
  models/aave/ethereum/aave_ethereum_schema.yml
  models/aave/optimism/aave_optimism_borrow.sql
  models/aave/optimism/aave_optimism_schema.yml
  models/compound/arbitrum/compound_v3_arbitrum_ctokens.sql
  models/compound/base/compound_v3_base_ctokens.sql
  models/compound/ethereum/compound_ethereum_borrow.sql
  models/compound/ethereum/compound_ethereum_schema.yml
  models/compound/ethereum/compound_ethereum_sources.yml
  models/compound/ethereum/compound_v2_ethereum_borrow.sql
  models/compound/ethereum/compound_v3_ethereum_ctokens.sql
  models/compound/polygon/compound_v3_polygon_ctokens.sql
  models/moola/celo/moola_celo_borrow.sql
  models/moola/celo/moola_celo_schema.yml
  seeds/_sector/lending/_schema.yml
  seeds/_sector/lending/compound_arbitrum_base_borrow_seed.csv
  seeds/_sector/lending/compound_base_base_borrow_seed.csv
  seeds/_sector/lending/compound_ethereum_base_borrow_seed.csv
  seeds/_sector/lending/compound_polygon_base_borrow_seed.csv
  tests/compound/ethereum/compound_borrow_test.sql
Labels: ready-for-merging

#5187 adding new avalanche c chain tokens to tokens.erc20
  models/tokens/avalanche_c/tokens_avalanche_c_erc20.sql
Labels: ready-for-merging

#5129 Update dexs to use `generic_spot_v2_compatible_trades` macro
  macros/models/_sector/dex/generic_spot_compatible_trades.sql
  models/_sector/dex/trades/avalanche_c/_schema.yml
  models/_sector/dex/trades/avalanche_c/_sources.yml
  models/_sector/dex/trades/avalanche_c/dex_avalanche_c_base_trades.sql
  models/_sector/dex/trades/avalanche_c/platforms/woofi_avalanche_c_base_trades.sql
  models/_sector/dex/trades/bnb/_schema.yml
  models/_sector/dex/trades/bnb/_sources.yml
  models/_sector/dex/trades/bnb/dex_bnb_base_trades.sql
  models/_sector/dex/trades/bnb/platforms/wombat_bnb_base_trades.sql
  models/_sector/dex/trades/bnb/platforms/woofi_bnb_base_trades.sql
  models/_sector/dex/trades/optimism/platforms/woofi_optimism_base_trades.sql
  models/woofi/avalanche_c/woofi_avalanche_c_sources.yml
  models/woofi/avalanche_c/woofi_avalanche_c_trades.sql
  models/woofi/bnb/woofi_bnb_sources.yml
  models/woofi/bnb/woofi_bnb_trades.sql
  models/woofi/optimism/woofi_optimism_trades.sql
  seeds/_sector/dex/woofi_avalanche_c_base_trades_seed.csv
  seeds/_sector/dex/woofi_bnb_base_trades_seed.csv
  seeds/_sector/dex/woofi_optimism_base_trades_seed.csv
  seeds/dex/trades/dex_trades_seed.csv
Labels: ready-for-merging, dex

#5068 Attempting to Add Pharaoh exchange (avalanche_c) to dex.trades
  models/_sector/dex/trades/avalanche_c/_schema.yml
  models/_sector/dex/trades/avalanche_c/_sources.yml
  models/_sector/dex/trades/avalanche_c/dex_avalanche_c_base_trades.sql
  models/_sector/dex/trades/avalanche_c/platforms/pharaoh_avalanche_c_base_trades.sql
  models/pharaoh/pharaoh_avalanche_c_schema.yml
  models/pharaoh/pharaoh_avalanche_c_trades.sql
  seeds/_sector/dex/_schema.yml
  seeds/_sector/dex/pharaoh_avalanche_c_base_trades_seed.csv
  seeds/dex/trades/dex_trades_seed.csv
Labels: dex, ready-for-final-review

#5180 Add zkSync to Contracts Mapping
  macros/models/_sector/contracts/contracts_base_starting_level.sql
  models/_sector/contracts/contracts_contract_mapping.sql
  models/_sector/contracts/zksync/_schema.yml
  models/_sector/contracts/zksync/_sources.yml
  models/_sector/contracts/zksync/contracts_zksync_base_iterated_creators.sql
  models/_sector/contracts/zksync/contracts_zksync_base_starting_level.sql
  models/_sector/contracts/zksync/contracts_zksync_contract_mapping.sql
  models/_sector/contracts/zksync/contracts_zksync_find_self_destruct_contracts.sql
Labels: ready-for-merging

#5170 Added odos trades & contract creator address for the base
  models/_sector/contracts/contracts_contract_creator_address_list.sql
  models/dex/dex_aggregator_trades.sql
  models/dex/dex_info.sql
  models/odos/optimism/odos_optimism_schema.yml
  models/odos/optimism/odos_optimism_sources.yml
  models/odos/optimism/odos_optimism_trades.sql
  seeds/dex/aggregator/dex_aggregator_seed.csv
Labels: dex

#5198 transfers: fix typo bug for native symbol
  macros/models/_sector/tokens/transfers_enrich.sql
Labels: do not merge

#5202 [CoW Protocol] Add Furucombo solver addresses
  models/cow_protocol/ethereum/cow_protocol_ethereum_solvers.sql
Labels: ready-for-merging

#5154 Update Tigris Arbitrum ETH Trades - Ready for review
  models/tigris/arbitrum/events/tigris_arbitrum_events_add_margin.sql
  models/tigris/arbitrum/events/tigris_arbitrum_events_close_position.sql
  models/tigris/arbitrum/events/tigris_arbitrum_events_fees_distributed.sql
  models/tigris/arbitrum/events/tigris_arbitrum_events_limit_cancel.sql
  models/tigris/arbitrum/events/tigris_arbitrum_events_limit_order.sql
  models/tigris/arbitrum/events/tigris_arbitrum_events_liquidate_position.sql
  models/tigris/arbitrum/events/tigris_arbitrum_events_modify_margin.sql
  models/tigris/arbitrum/events/tigris_arbitrum_events_open_position.sql
  models/tigris/arbitrum/tigris_arbitrum_perpetual_trades.sql
  models/tigris/arbitrum/tigris_arbitrum_schema.yml
  models/tigris/arbitrum/tigris_arbitrum_trades.sql
  models/tigris/tigris_perpetual_trades.sql
  models/tigris/tigris_trades.sql
  models/tokens/arbitrum/tokens_arbitrum_erc20.sql
Labels: ready-for-merging

#5150 Update referral.rewards spell to Include paragraph mints without a referrer
  macros/models/_sector/referral/platforms/paragraph_referral_rewards.sql
  models/_sector/referral/rewards/platforms/_sources.yml
  models/_sector/referral/rewards/platforms/paragraph_base_rewards.sql
  models/_sector/referral/rewards/platforms/paragraph_optimism_rewards.sql
  models/_sector/referral/rewards/platforms/paragraph_polygon_rewards.sql
  models/_sector/referral/rewards/platforms/paragraph_zora_rewards.sql
  seeds/_sector/referral/paragraph_base_rewards_seed.csv
  seeds/_sector/referral/paragraph_optimism_rewards_seed.csv
  seeds/_sector/referral/paragraph_polygon_rewards_seed.csv
  seeds/_sector/referral/paragraph_zora_rewards_seed.csv
Labels: ready-for-merging

#5200 magiceden fix usdc
  models/_sector/nft/trades/chains/solana/platforms/magiceden_v2_solana_trades.sql
Labels: ready-for-merging

#5211 Add zkSync to `tokens_native`
  models/tokens/tokens_native.sql
Labels: ready-for-merging

#5205 Added creator addresses for protocols on Base
  models/_sector/contracts/contracts_contract_creator_address_list.sql
Labels: ready-for-merging

#5215 Next set of ten contract creator addresses on Base
  models/_sector/contracts/contracts_contract_creator_address_list.sql
Labels: ready-for-merging

#5217 Tigris pnl quick fix
  models/tigris/tigris_trades_pnl.sql
Labels: ready-for-merging

#5208 New Stakers Update
  models/staking/ethereum/entities/entity_specific/staking_ethereum_entities_binance.sql
  models/staking/ethereum/entities/entity_specific/staking_ethereum_entities_bitcoin_suisse.sql
  models/staking/ethereum/entities/entity_specific/staking_ethereum_entities_chorusone.sql
  models/staking/ethereum/entities/entity_specific/staking_ethereum_entities_coinbase.sql
  models/staking/ethereum/entities/entity_specific/staking_ethereum_entities_darma_capital.sql
  models/staking/ethereum/entities/entity_specific/staking_ethereum_entities_entity_specific_source.yml
  models/staking/ethereum/entities/entity_specific/staking_ethereum_entities_stakewise_v3.sql
  models/staking/ethereum/entities/staking_ethereum_entities_batch_contracts_pubkey.sql
  models/staking/ethereum/entities/staking_ethereum_entities_batch_contracts_tx_from.sql
  models/staking/ethereum/entities/staking_ethereum_entities_depositor_addresses.sql
  models/staking/ethereum/entities/staking_ethereum_entities_schema.yml
  models/staking/ethereum/staking_ethereum_deposits.sql
  models/staking/ethereum/staking_ethereum_entities.sql
  models/staking/ethereum/staking_ethereum_flows.sql
  models/staking/ethereum/staking_ethereum_info.sql
  models/staking/ethereum/staking_ethereum_schema.yml
Labels: ready-for-merging

#5167 1inch: updates-13
  macros/models/_project/oneinch/AR/oneinch_ar_macro.sql
  macros/models/_project/oneinch/oneinch_blockchain_macro.sql
  macros/models/_project/oneinch/oneinch_calls_macro.sql
  macros/models/_project/oneinch/oneinch_lop_macro.sql
  macros/models/_project/oneinch/oneinch_parsed_transfers_from_calls_macro.sql
  models/oneinch/arbitrum/oneinch_arbitrum_schema.yml
  models/oneinch/avalanche_c/oneinch_avalanche_c_schema.yml
  models/oneinch/base/oneinch_base_schema.yml
  models/oneinch/bnb/oneinch_bnb_schema.yml
  models/oneinch/ethereum/oneinch_ethereum_schema.yml
  models/oneinch/fantom/oneinch_fantom_schema.yml
  models/oneinch/gnosis/oneinch_gnosis_schema.yml
  models/oneinch/oneinch_schema.yml
  models/oneinch/oneinch_swaps.sql
  models/oneinch/optimism/oneinch_optimism_schema.yml
  models/oneinch/polygon/oneinch_polygon_schema.yml
  models/oneinch/zksync/oneinch_zksync_schema.yml
Labels: ready-for-merging

#5219 fix: update schemas
  models/keep3r_network/keep3r_network_keeper_work.sql
Labels: ready-for-merging

#5174 [ready for review] Changes to Balancer BPT supply spell
  macros/models/_project/balancer/balancer_bpt_supply_macro.sql
  macros/models/_project/balancer/balancer_transfers_bpt_macro.sql
  models/balancer/arbitrum/balancer_arbitrum_schema.yml
  models/balancer/arbitrum/balancer_v2_arbitrum_bpt_supply.sql
  models/balancer/arbitrum/balancer_v2_arbitrum_transfers_bpt.sql
  models/balancer/avalanche_c/balancer_avalanche_c_schema.yml
  models/balancer/avalanche_c/balancer_v2_avalanche_c_bpt_supply.sql
  models/balancer/avalanche_c/balancer_v2_avalanche_c_transfers_bpt.sql
  models/balancer/balancer_bpt_supply.sql
  models/balancer/balancer_schema.yml
  models/balancer/balancer_transfers_bpt.sql
  models/balancer/base/balancer_base_schema.yml
  models/balancer/base/balancer_v2_base_bpt_supply.sql
  models/balancer/base/balancer_v2_base_transfers_bpt.sql
  models/balancer/ethereum/balancer_ethereum_schema.yml
  models/balancer/ethereum/balancer_v2_ethereum_bpt_supply.sql
  models/balancer/ethereum/balancer_v2_ethereum_transfers_bpt.sql
  models/balancer/gnosis/balancer_gnosis_schema.yml
  models/balancer/gnosis/balancer_v2_gnosis_bpt_supply.sql
  models/balancer/gnosis/balancer_v2_gnosis_transfers_bpt.sql
  models/balancer/optimism/balancer_optimism_schema.yml
  models/balancer/optimism/balancer_v2_optimism_bpt_supply.sql
  models/balancer/optimism/balancer_v2_optimism_transfers_bpt.sql
  models/balancer/polygon/balancer_polygon_schema.yml
  models/balancer/polygon/balancer_v2_polygon_bpt_supply.sql
  models/balancer/polygon/balancer_v2_polygon_transfers_bpt.sql
Labels: ready-for-merging

#5212 Fix token standard in `transfers_base`
  macros/models/_sector/tokens/transfers_base.sql
  models/_sector/tokens/ethereum/tokens_ethereum_base_transfers.sql
Labels: ready-for-merging

#5233 update & enhance `tokens_<blockchain>.base_transfers` spells
  macros/models/_sector/tokens/transfers_base.sql
  macros/models/_sector/tokens/transfers_base_wrapped_token.sql
  models/_sector/tokens/arbitrum/tokens_arbitrum_base_transfers.sql
  models/_sector/tokens/avalanche_c/tokens_avalanche_c_base_transfers.sql
  models/_sector/tokens/base/tokens_base_base_transfers.sql
  models/_sector/tokens/bnb/tokens_bnb_base_transfers.sql
  models/_sector/tokens/celo/tokens_celo_base_transfers.sql
  models/_sector/tokens/ethereum/tokens_ethereum_base_transfers.sql
  models/_sector/tokens/fantom/tokens_fantom_base_transfers.sql
  models/_sector/tokens/gnosis/tokens_gnosis_base_transfers.sql
  models/_sector/tokens/optimism/tokens_optimism_base_transfers.sql
  models/_sector/tokens/polygon/tokens_polygon_base_transfers.sql
  models/_sector/tokens/zksync/tokens_zksync_base_transfers.sql
  models/_sector/tokens/zora/tokens_zora_base_transfers.sql
Labels: enhancement, dune team

#5228 Add spark protocol to lending
  models/_sector/lending/borrow/ethereum/_schema.yml
  models/_sector/lending/borrow/ethereum/_sources.yml
  models/_sector/lending/borrow/ethereum/lending_ethereum_base_borrow.sql
  models/_sector/lending/borrow/ethereum/platforms/spark_ethereum_base_borrow.sql
  models/_sector/lending/flashloans/ethereum/_schema.yml
  models/_sector/lending/flashloans/ethereum/_sources.yml
  models/_sector/lending/flashloans/ethereum/lending_ethereum_base_flashloans.sql
  models/_sector/lending/flashloans/ethereum/platforms/spark_ethereum_base_flashloans.sql
  models/_sector/lending/supply/ethereum/_schema.yml
  models/_sector/lending/supply/ethereum/_sources.yml
  models/_sector/lending/supply/ethereum/lending_ethereum_base_supply.sql
  models/_sector/lending/supply/ethereum/platforms/spark_ethereum_base_supply.sql
  seeds/_sector/lending/_schema.yml
  seeds/_sector/lending/spark_ethereum_base_borrow_seed.csv
  seeds/_sector/lending/spark_ethereum_base_flashloans_seed.csv
  seeds/_sector/lending/spark_ethereum_base_supply_seed.csv
Labels: ready-for-merging

#5227 Add agave to lending
  models/_sector/lending/borrow/gnosis/_schema.yml
  models/_sector/lending/borrow/gnosis/_sources.yml
  models/_sector/lending/borrow/gnosis/lending_gnosis_base_borrow.sql
  models/_sector/lending/borrow/gnosis/platforms/agave_gnosis_base_borrow.sql
  models/_sector/lending/borrow/lending_base_borrow.sql
  models/_sector/lending/flashloans/gnosis/_schema.yml
  models/_sector/lending/flashloans/gnosis/_sources.yml
  models/_sector/lending/flashloans/gnosis/lending_gnosis_base_flashloans.sql
  models/_sector/lending/flashloans/gnosis/platforms/agave_gnosis_base_flashloans.sql
  models/_sector/lending/flashloans/lending_base_flashloans.sql
  models/_sector/lending/supply/gnosis/_schema.yml
  models/_sector/lending/supply/gnosis/_sources.yml
  models/_sector/lending/supply/gnosis/lending_gnosis_base_supply.sql
  models/_sector/lending/supply/gnosis/platforms/agave_gnosis_base_supply.sql
  models/_sector/lending/supply/lending_base_supply.sql
  seeds/_sector/lending/_schema.yml
  seeds/_sector/lending/agave_gnosis_base_borrow_seed.csv
  seeds/_sector/lending/agave_gnosis_base_flashloans_seed.csv
  seeds/_sector/lending/agave_gnosis_base_supply_seed.csv
Labels: ready-for-merging

#5226 add mantle and fix timestamp issues
  models/rollup_economics/ethereum/l1_data_fees.sql
  models/rollup_economics/ethereum/l1_verification_fees.sql
  models/rollup_economics/ethereum/rollup_economics_ethereum_schema.yml
Labels: ready-for-merging

#5222 Add SUB to prices_bnb_tokens.sql
  models/prices/bnb/prices_bnb_tokens.sql
Labels: easy, ready-for-merging

#5137 Added chainhop optimism dexes
  models/_sector/dex/trades/optimism/_schema.yml
  models/_sector/dex/trades/optimism/_sources.yml
  models/_sector/dex/trades/optimism/dex_optimism_base_trades.sql
  models/_sector/dex/trades/optimism/platforms/chainhop_optimism_base_trades.sql
  models/dex/dex_info.sql
  seeds/_sector/dex/_schema.yml
  seeds/_sector/dex/chainhop_optimism_base_trades_seed.csv
Labels: ready-for-merging, dex

#5182 Added woofi , kyberswap and velocimeter dexes on base
  models/_sector/dex/trades/base/_schema.yml
  models/_sector/dex/trades/base/_sources.yml
  models/_sector/dex/trades/base/dex_base_base_trades.sql
  models/_sector/dex/trades/base/platforms/kyberswap_base_base_trades.sql
  models/_sector/dex/trades/base/platforms/velocimeter_v2_base_base_trades.sql
  models/_sector/dex/trades/base/platforms/woofi_base_base_trades.sql
  models/dex/dex_info.sql
  seeds/_sector/dex/_schema.yml
  seeds/_sector/dex/kyberswap_base_base_trades_seed.csv
  seeds/_sector/dex/velocimeter_v2_base_base_trades_seed.csv
  seeds/_sector/dex/woofi_base_base_trades_seed.csv
Labels: ready-for-merging, dex

#5193 Add zkSync native bridge flows
  models/bridge/zksync/bridge_zksync_native_flows.sql
  models/bridge/zksync/bridge_zksync_native_flows_schema.yml
  models/bridge/zksync/bridge_zksync_native_flows_sources.yml
Labels: ready-for-merging

#5177 Added Apeswap, OasisSwap, Swaap_v2, Woofi, Smardex to dex.trades
  models/_sector/dex/trades/arbitrum/_schema.yml
  models/_sector/dex/trades/arbitrum/_sources.yml
  models/_sector/dex/trades/arbitrum/dex_arbitrum_base_trades.sql
  models/_sector/dex/trades/arbitrum/platforms/apeswap_arbitrum_base_trades.sql
  models/_sector/dex/trades/arbitrum/platforms/oasisswap_arbitrum_base_trades.sql
  models/_sector/dex/trades/arbitrum/platforms/smardex_arbitrum_base_trades.sql
  models/_sector/dex/trades/arbitrum/platforms/swaap_v2_arbitrum_base_trades.sql
  models/_sector/dex/trades/arbitrum/platforms/woofi_arbitrum_base_trades.sql
  models/dex/dex_info.sql
  seeds/_sector/dex/_schema.yml
  seeds/_sector/dex/apeswap_arbitrum_base_trades_seed.csv
  seeds/_sector/dex/oasisswap_arbitrum_base_trades_seed.csv
  seeds/_sector/dex/smardex_arbitrum_base_trades_seed.csv
  seeds/_sector/dex/swaap_v2_arbitrum_base_trades_seed.csv
  seeds/_sector/dex/woofi_arbitrum_base_trades_seed.csv
Labels: ready-for-merging, dex

#5232 Update prices_avalanche_c_tokens.sql
  models/prices/avalanche_c/prices_avalanche_c_tokens.sql
Labels: ready-for-merging

#5247 Zksync native bridge flows
  models/bridge/zksync/bridge_zksync_native_flows.sql
Labels: ready-for-merging

#5251 Fix apeswap.trades blockchains
  models/apeswap/apeswap_trades.sql
Labels: easy, ready-for-merging

#5250 Add Nether Finance Perpetual on Base
  models/nether_fi/base/nether_fi_base_perpetual_trades.sql
  models/nether_fi/base/nether_fi_base_schema.yml
  models/nether_fi/base/nether_fi_base_source.yml
  models/perpetual/perpetual_trades.sql
  seeds/perpetual/trades/perpetual_trades_seed.csv
Labels: ready-for-merging

#5248 prepare new `docs` directory
  README.md
  docs/ci_test/ci_test_overview.md
  docs/general/best_practices.md
  docs/general/faq_and_common_issues.md
  docs/general/repo_navigation.md
  docs/general/sector_spell_design.md
  docs/macros/macro_overview.md
  docs/models/model_config_block.md
  docs/models/model_overview.md
  docs/seeds/seed_overview.md
  docs/tests/test_overview.md
  pull_request_template.md
Labels: dune team

#5263 fix the PR template
  pull_request_template.md
Labels: dune team, hotfix

#5266 add PORK token to tokens_ethereum_erc20
  tokens/models/tokens/ethereum/tokens_ethereum_erc20.sql
Labels: ready-for-merging

#5265 add Fjord Foundry LBP project token to tokens.erc20
  tokens/models/tokens/arbitrum/tokens_arbitrum_erc20.sql
  tokens/models/tokens/avalanche_c/tokens_avalanche_c_erc20.sql
  tokens/models/tokens/ethereum/tokens_ethereum_erc20.sql
  tokens/models/tokens/polygon/tokens_polygon_erc20.sql
Labels: ready-for-merging
