Repository duneanalytics/spellbook, pull requests merged in 2024-06, with the labels that each got.

#5895 1inch: project orders macro & scaling project swaps macro
  macros/models/_project/oneinch/_meta/oneinch_blockchain_macro.sql
  macros/models/_project/oneinch/_meta/oneinch_exposed_blockchains_list.sql
  macros/models/_project/oneinch/_meta/oneinch_mapped_contracts_macro.sql
  macros/models/_project/oneinch/_meta/oneinch_mapped_methods.sql
  macros/models/_project/oneinch/oneinch_project_orders_macro.sql
  macros/models/_project/oneinch/oneinch_project_swaps_macro.sql
  models/oneinch/_meta/oneinch_exchange_contracts.sql
  models/oneinch/_meta/oneinch_mapped_contracts.sql
  models/oneinch/_meta/oneinch_mapped_methods.sql
  models/oneinch/arbitrum/_meta/oneinch_arbitrum_mapped_contracts.sql
  models/oneinch/arbitrum/_meta/oneinch_arbitrum_mapped_methods.sql
  models/oneinch/arbitrum/oneinch_arbitrum_project_orders.sql
  models/oneinch/avalanche_c/_meta/oneinch_avalanche_c_mapped_contracts.sql
  models/oneinch/avalanche_c/_meta/oneinch_avalanche_c_mapped_methods.sql
  models/oneinch/avalanche_c/oneinch_avalanche_c_project_orders.sql
  models/oneinch/base/_meta/oneinch_base_mapped_contracts.sql
  models/oneinch/base/_meta/oneinch_base_mapped_methods.sql
  models/oneinch/base/oneinch_base_project_orders.sql
  models/oneinch/bnb/_meta/oneinch_bnb_mapped_contracts.sql
  models/oneinch/bnb/_meta/oneinch_bnb_mapped_methods.sql
  models/oneinch/bnb/oneinch_bnb_project_orders.sql
  models/oneinch/ethereum/_meta/oneinch_ethereum_mapped_contracts.sql
  models/oneinch/ethereum/_meta/oneinch_ethereum_mapped_methods.sql
  models/oneinch/ethereum/oneinch_ethereum_project_orders.sql
  models/oneinch/fantom/_meta/oneinch_fantom_mapped_contracts.sql
  models/oneinch/fantom/_meta/oneinch_fantom_mapped_methods.sql
  models/oneinch/fantom/oneinch_fantom_project_orders.sql
  models/oneinch/gnosis/_meta/oneinch_gnosis_mapped_contracts.sql
  models/oneinch/gnosis/_meta/oneinch_gnosis_mapped_methods.sql
  models/oneinch/gnosis/oneinch_gnosis_project_orders.sql
  models/oneinch/oneinch_project_orders.sql
  models/oneinch/oneinch_project_swaps.sql
  models/oneinch/oneinch_schema.yml
  models/oneinch/optimism/_meta/oneinch_optimism_mapped_contracts.sql
  models/oneinch/optimism/_meta/oneinch_optimism_mapped_methods.sql
  models/oneinch/optimism/oneinch_optimism_project_orders.sql
  models/oneinch/polygon/_meta/oneinch_polygon_mapped_contracts.sql
  models/oneinch/polygon/_meta/oneinch_polygon_mapped_methods.sql
  models/oneinch/polygon/oneinch_polygon_project_orders.sql
  models/oneinch/zksync/_meta/oneinch_zksync_mapped_contracts.sql
  models/oneinch/zksync/_meta/oneinch_zksync_mapped_methods.sql
  models/oneinch/zksync/oneinch_zksync_project_orders.sql
Labels: ready-for-merging

#6053 Add missing tokens on tokens.erc20 and prices.usd
  models/prices/arbitrum/prices_arbitrum_tokens.sql
  tokens/models/tokens/gnosis/tokens_gnosis_erc20.sql
Labels: ready-for-merging

#6048 Added a few strategies to Yield Yak models
  macros/models/_project/yield_yak/yield_yak_strategies.sql
  sources/yield_yak/arbitrum/yield_yak_arbitrum_sources.yml
  sources/yield_yak/avalanche_c/yield_yak_avalanche_c_sources.yml
Labels: easy, ready-for-merging

#6045 0x - update taker [base]
  models/zeroex/base/zeroex_base_api_fills.sql
Labels: ready-for-merging

#6042 EAS schemas - bug fix
  macros/models/_sector/attestation/eas.sql
  models/_sector/attestation/eas/optimism/eas_optimism_schemas.sql
Labels: ready-for-merging

#6040 Update tokens_ethereum_erc20.sql
  tokens/models/tokens/ethereum/tokens_ethereum_erc20.sql
Labels: ready-for-merging

#6038 Adding Arbitrum Chain to CoW Protocol
  models/cow_protocol/arbitrum/cow_protocol_arbitrum_schema.yml
  models/cow_protocol/arbitrum/cow_protocol_arbitrum_trades.sql
  models/cow_protocol/cow_protocol_trades.sql
  sources/cow_protocol/arbitrum/cow_protocol_arbitrum_sources.yml
Labels: ready-for-merging

#6028 add ECLPs on base to balancer pool labels
  models/labels/addresses/__single_category_labels__/balancer_v2/labels_balancer_v2_pools_base.sql
  sources/labels/addresses/__single_category_labels__/balancer_v2/labels_balancer_v2_sources.yml
Labels: ready-for-merging

#6013 Add prod_exclude tags to uniswap_*_trades
  models/uniswap/arbitrum/uniswap_arbitrum_trades.sql
  models/uniswap/arbitrum/uniswap_v3_arbitrum_trades.sql
  models/uniswap/avalanche_c/uniswap_avalanche_c_trades.sql
  models/uniswap/avalanche_c/uniswap_v3_avalanche_c_trades.sql
  models/uniswap/base/uniswap_base_trades.sql
  models/uniswap/base/uniswap_v3_base_trades.sql
  models/uniswap/bnb/uniswap_bnb_trades.sql
  models/uniswap/bnb/uniswap_v3_bnb_trades.sql
  models/uniswap/celo/uniswap_celo_trades.sql
  models/uniswap/celo/uniswap_v3_celo_trades.sql
  models/uniswap/ethereum/uniswap_ethereum_trades.sql
  models/uniswap/ethereum/uniswap_v1_ethereum_trades.sql
  models/uniswap/ethereum/uniswap_v2_ethereum_trades.sql
  models/uniswap/ethereum/uniswap_v3_ethereum_trades.sql
  models/uniswap/optimism/uniswap_optimism_trades.sql
  models/uniswap/optimism/uniswap_v3_optimism_trades.sql
  models/uniswap/polygon/uniswap_polygon_trades.sql
  models/uniswap/polygon/uniswap_v3_polygon_trades.sql
Labels: ready-for-merging, dex

#5983 Add Nuri Scroll to dex.trades
  models/_sector/dex/trades/scroll/_schema.yml
  models/_sector/dex/trades/scroll/dex_scroll_base_trades.sql
  models/_sector/dex/trades/scroll/platforms/nuri_scroll_base_trades.sql
  models/dex/dex_info.sql
  seeds/_sector/dex/_schema.yml
  seeds/_sector/dex/nuri_scroll_base_trades_seed.csv
  sources/_sector/dex/trades/scroll/_sources.yml
Labels: ready-for-merging, dex

#5981 create `gas.prices`
  macros/models/_sector/gas/gas_prices.sql
  models/_sector/gas/prices/_schema.yml
  models/_sector/gas/prices/chains/_schema.yml
  models/_sector/gas/prices/chains/gas_arbitrum_prices.sql
  models/_sector/gas/prices/chains/gas_avalanche_c_prices.sql
  models/_sector/gas/prices/chains/gas_base_prices.sql
  models/_sector/gas/prices/chains/gas_bnb_prices.sql
  models/_sector/gas/prices/chains/gas_celo_prices.sql
  models/_sector/gas/prices/chains/gas_ethereum_prices.sql
  models/_sector/gas/prices/chains/gas_fantom_prices.sql
  models/_sector/gas/prices/chains/gas_gnosis_prices.sql
  models/_sector/gas/prices/chains/gas_goerli_prices.sql
  models/_sector/gas/prices/chains/gas_linea_prices.sql
  models/_sector/gas/prices/chains/gas_optimism_prices.sql
  models/_sector/gas/prices/chains/gas_polygon_prices.sql
  models/_sector/gas/prices/chains/gas_scroll_prices.sql
  models/_sector/gas/prices/chains/gas_zkevm_prices.sql
  models/_sector/gas/prices/chains/gas_zksync_prices.sql
  models/_sector/gas/prices/chains/gas_zora_prices.sql
  models/_sector/gas/prices/gas_prices.sql
Labels: ready-for-merging

#5977 lido accounting updates
  models/lido/accounting/ethereum/lido_accounting_ethereum_other_expenses.sql
  models/lido/accounting/ethereum/lido_accounting_ethereum_other_income.sql
  models/lido/accounting/ethereum/lido_accounting_ethereum_revenue.sql
  models/lido/accounting/ethereum/lido_accounting_ethereum_steth_referral_payment.sql
  models/lido/accounting/ethereum/lido_accounting_ethereum_trp_expenses.sql
Labels: ready-for-merging

#5991 Create tokens_linea.transfers
  models/_sector/tokens/linea/_schema.yml
  models/_sector/tokens/linea/tokens_linea_base_transfers.sql
  models/_sector/tokens/linea/tokens_linea_transfers.sql
  models/_sector/tokens/tokens_transfers.sql
Labels: ready-for-merging

#5992 create tokens_zkevm_transfers
  models/_sector/tokens/tokens_transfers.sql
  models/_sector/tokens/zkevm/_schema.yml
  models/_sector/tokens/zkevm/tokens_zkevm_base_transfers.sql
  models/_sector/tokens/zkevm/tokens_zkevm_transfers.sql
Labels: ready-for-merging

#6057 Added new tokens to Arbitrum tokens model
  models/prices/arbitrum/prices_arbitrum_tokens.sql
  tokens/models/tokens/arbitrum/tokens_arbitrum_erc20.sql
Labels: ready-for-merging

#6056 1inch: hot fix underflow
  models/oneinch/oneinch_project_orders.sql
Labels: ready-for-merging

#5980 Nexus Mutual - capital pool
  models/nexusmutual/ethereum/capital_pool/_schema.yml
  models/nexusmutual/ethereum/capital_pool/nexusmutual_ethereum_capital_pool_eth_daily_transaction_summary.sql
  models/nexusmutual/ethereum/capital_pool/nexusmutual_ethereum_capital_pool_latest.sql
  models/nexusmutual/ethereum/capital_pool/nexusmutual_ethereum_capital_pool_mcr.sql
  models/nexusmutual/ethereum/capital_pool/nexusmutual_ethereum_capital_pool_totals.sql
  models/nexusmutual/ethereum/capital_pool/nexusmutual_ethereum_capital_pool_transfers.sql
  models/nexusmutual/ethereum/nexusmutual_ethereum_schema.yml
  sources/_sector/lending/supply/ethereum/_sources.yml
  sources/_subprojects/daily_spellbook/chainlink_sources.yml
  sources/nexusmutual/ethereum/nexusmutual_ethereum_sources.yml
Labels: ready-for-merging

#5764 feat: setup ALM trades + feed Arrakis data
  macros/models/_sector/add_pool_price_usd.sql
  macros/models/_sector/alm/arrakis_compatible_trades.sql
  models/_sector/alm/README.md
  models/_sector/alm/_schema.yml
  models/_sector/alm/alm_trades.sql
  models/_sector/alm/ethereum/_schema.yml
  models/_sector/alm/ethereum/alm_ethereum_trades.sql
  models/_sector/alm/ethereum/platforms/arrakis_finance_ethereum_trades.sql
  sources/_sector/alm/ethereum/_sources.yml
  sources/arrakis/ethereum/arrakis_ethereum_sources.yml
Labels: ready-for-merging, dex

#5964 Beethovenx/weightedv2 and composable stable
  models/beethoven_x/fantom/beethoven_x_fantom_pools_tokens_weights.sql
  models/labels/addresses/__single_category_labels__/beethoven_x/labels_beethoven_x_pools_fantom.sql
  models/labels/addresses/__single_category_labels__/beethoven_x/labels_beethoven_x_schema.yml
  sources/beethoven_x/fantom/beethoven_x_fantom_sources.yml
Labels: ready-for-merging

#5961 Init protocol fees spell for beethoven_x on fantom
  models/beethoven_x/fantom/beethoven_x_fantom_bpt_prices.sql
  models/beethoven_x/fantom/beethoven_x_fantom_bpt_supply.sql
  models/beethoven_x/fantom/beethoven_x_fantom_liquidity.sql
  models/beethoven_x/fantom/beethoven_x_fantom_protocol_fee.sql
  models/beethoven_x/fantom/beethoven_x_fantom_schema.yml
  models/beethoven_x/fantom/beethoven_x_fantom_transfers_bpt.sql
Labels: ready-for-merging

#5993 lending additions ext
  macros/models/_sector/lending/lending_enrich_borrow.sql
  macros/models/_sector/lending/lending_enrich_supply.sql
  models/_sector/lending/borrow/_schema.yml
  models/aave/ethereum/aave_ethereum_borrow.sql
  models/aave/ethereum/aave_ethereum_schema.yml
  models/aave/ethereum/aave_ethereum_supply.sql
  models/aave/optimism/aave_optimism_borrow.sql
  models/aave/optimism/aave_optimism_schema.yml
  models/aave/optimism/aave_optimism_supply.sql
  models/compound/ethereum/compound_ethereum_borrow.sql
  models/compound/ethereum/compound_ethereum_schema.yml
  models/compound/ethereum/compound_ethereum_supply.sql
Labels: ready-for-merging

#6039 Clean up NFT incoming lineage
  macros/models/_sector/nft/platforms/sudoswap_v2_base_trades.sql
  macros/models/_sector/nft/platforms/zonic_base_trades.sql
  models/_sector/nft/trades/chains/arbitrum/platforms/_schema.yml
  models/_sector/nft/trades/chains/arbitrum/platforms/sudoswap_v2_arbitrum__pools.sql
  models/_sector/nft/trades/chains/base/platforms/_schema.yml
  models/_sector/nft/trades/chains/base/platforms/magiceden_base_base_trades.sql
  models/_sector/nft/trades/chains/base/platforms/sudoswap_v2_base__pools.sql
  models/_sector/nft/trades/chains/ethereum/platforms/_schema.yml
  models/_sector/nft/trades/chains/ethereum/platforms/collectionswap_ethereum__pools.sql
  models/_sector/nft/trades/chains/ethereum/platforms/collectionswap_ethereum_base_trades.sql
  models/_sector/nft/trades/chains/ethereum/platforms/sudoswap_v2_ethereum__pools.sql
  models/_sector/nft/trades/chains/optimism/platforms/quix_v1_optimism_base_trades.sql
  models/_sector/nft/trades/chains/optimism/platforms/quix_v2_optimism_base_trades.sql
  models/_sector/nft/trades/chains/optimism/platforms/quix_v3_optimism_base_trades.sql
  models/_sector/nft/trades/chains/optimism/platforms/quix_v4_optimism_base_trades.sql
  models/_sector/nft/trades/chains/optimism/platforms/quix_v5_optimism_base_trades.sql
  models/_sector/nft/trades/nft_base_trades.sql
  models/collectionswap/ethereum/_schema.yml
  models/sudoswap/arbitrum/sudoswap_arbitrum_schema.yml
  models/sudoswap/base/sudoswap_base_schema.yml
  models/sudoswap/ethereum/sudoswap_ethereum_schema.yml
Labels: ready-for-merging, dune team, NFT

#6023 partition NFT spells by blockchain
  models/_sector/nft/mints/nft_mints.sql
  models/_sector/nft/transfers/nft_transfers.sql
Labels: ready-for-merging, dune team, NFT

#6000 Seaport refactor to base trades schema
  macros/models/_sector/nft/platforms/seaport_v3_trades.sql
  macros/models/_sector/nft/platforms/seaport_v4_trades.sql
  models/_sector/nft/trades/chains/arbitrum/nft_arbitrum_base_trades.sql
  models/_sector/nft/trades/chains/arbitrum/platforms/_schema.yml
  models/_sector/nft/trades/chains/arbitrum/platforms/opensea_v3_arbitrum_base_trades.sql
  models/_sector/nft/trades/chains/arbitrum/platforms/opensea_v4_arbitrum_base_trades.sql
  models/_sector/nft/trades/chains/avalanche_c/nft_avalanche_c_base_trades.sql
  models/_sector/nft/trades/chains/avalanche_c/platforms/_schema.yml
  models/_sector/nft/trades/chains/avalanche_c/platforms/opensea_v3_avalanche_c_base_trades.sql
  models/_sector/nft/trades/chains/avalanche_c/platforms/opensea_v4_avalanche_c_base_trades.sql
  models/_sector/nft/trades/chains/base/nft_base_base_trades.sql
  models/_sector/nft/trades/chains/base/platforms/_schema.yml
  models/_sector/nft/trades/chains/base/platforms/opensea_v4_base_base_trades.sql
  models/_sector/nft/trades/chains/ethereum/nft_ethereum_base_trades.sql
  models/_sector/nft/trades/chains/ethereum/platforms/_schema.yml
  models/_sector/nft/trades/chains/ethereum/platforms/opensea_v3_ethereum_base_trades.sql
  models/_sector/nft/trades/chains/ethereum/platforms/opensea_v4_ethereum_base_trades.sql
  models/_sector/nft/trades/chains/old/nft_old_base_trades.sql
  models/_sector/nft/trades/chains/old/platforms/opensea_arbitrum_schema.yml
  models/_sector/nft/trades/chains/old/platforms/opensea_avalanche_c_schema.yml
  models/_sector/nft/trades/chains/old/platforms/opensea_base_schema.yml
  models/_sector/nft/trades/chains/old/platforms/opensea_ethereum_schema.yml
  models/_sector/nft/trades/chains/old/platforms/opensea_optimism_schema.yml
  models/_sector/nft/trades/chains/old/platforms/opensea_polygon_schema.yml
  models/_sector/nft/trades/chains/old/platforms/opensea_zora_schema.yml
  models/_sector/nft/trades/chains/optimism/nft_optimism_base_trades.sql
  models/_sector/nft/trades/chains/optimism/platforms/_schema.yml
  models/_sector/nft/trades/chains/optimism/platforms/opensea_v3_optimism_base_trades.sql
  models/_sector/nft/trades/chains/optimism/platforms/opensea_v4_optimism_base_trades.sql
  models/_sector/nft/trades/chains/polygon/nft_polygon_base_trades.sql
  models/_sector/nft/trades/chains/polygon/platforms/_schema.yml
  models/_sector/nft/trades/chains/polygon/platforms/opensea_v3_polygon_base_trades.sql
  models/_sector/nft/trades/chains/polygon/platforms/opensea_v4_polygon_base_trades.sql
  models/_sector/nft/trades/chains/zora/nft_zora_base_trades.sql
  models/_sector/nft/trades/chains/zora/platforms/_schema.yml
  models/_sector/nft/trades/chains/zora/platforms/opensea_v4_zora_base_trades.sql
  seeds/opensea/arbitrum/opensea_arbitrum_seaport_trades_samples.csv
  seeds/opensea/arbitrum/schema.yml
  seeds/opensea/avalanche_c/opensea_avalanche_c_seaport_trades_samples.csv
  seeds/opensea/avalanche_c/schema.yml
  seeds/opensea/ethereum/opensea_ethereum_seaport_trades_samples.csv
  seeds/opensea/ethereum/schema.yml
  seeds/opensea/opensea_seaport_trades_samples.csv
  seeds/opensea/optimism/opensea_optimism_seaport_trades_samples.csv
  seeds/opensea/optimism/schema.yml
  seeds/opensea/polygon/opensea_polygon_seaport_trades_samples.csv
  seeds/opensea/polygon/schema.yml
  seeds/opensea/schema.yml
  seeds/opensea/zora/opensea_zora_seaport_trades_samples.csv
Labels: ready-for-merging, dune team, NFT

#5979 chore: review solana trades setup
  models/_sector/nft/trades/chains/old/nft_old_base_trades.sql
  models/_sector/nft/trades/chains/solana/nft_solana_base_trades.sql
  models/_sector/nft/trades/chains/solana/nft_solana_old_trades.sql
  models/_sector/nft/trades/chains/solana/nft_solana_trades.sql
  models/_sector/nft/trades/chains/solana/nft_solana_trades_schema.yml
  models/_sector/nft/trades/chains/solana/old/_schema.yml
  models/_sector/nft/trades/chains/solana/old/magiceden_solana_schema.yml
  models/_sector/nft/trades/chains/solana/old/opensea_solana_schema.yml
Labels: ready-for-merging, dune team, NFT

#6046 Transfers incremental predicate
  dbt_project.yml
  macros/models/_sector/transfers/erc20/transfers_erc20.sql
  macros/models/_sector/transfers/erc20/transfers_erc20_agg_day.sql
  macros/models/_sector/transfers/erc20/transfers_erc20_agg_hour.sql
  models/transfers/arbitrum/erc20/transfers_arbitrum_erc20.sql
  models/transfers/arbitrum/erc20/transfers_arbitrum_erc20_agg_day.sql
  models/transfers/arbitrum/erc20/transfers_arbitrum_erc20_agg_hour.sql
  models/transfers/base/erc20/transfers_base_erc20.sql
  models/transfers/base/transfers_base_eth.sql
  models/transfers/bitcoin/transfers_bitcoin_satoshi.sql
  models/transfers/bitcoin/transfers_bitcoin_satoshi_agg_day.sql
  models/transfers/bnb/bep20/transfers_bnb_bep20.sql
  models/transfers/bnb/bep20/transfers_bnb_bep20_agg_day.sql
  models/transfers/bnb/bep20/transfers_bnb_bep20_agg_hour.sql
  models/transfers/bnb/bnb/transfers_bnb_bnb.sql
  models/transfers/bnb/bnb/transfers_bnb_bnb_agg_day.sql
  models/transfers/bnb/bnb/transfers_bnb_bnb_agg_hour.sql
  models/transfers/celo/erc1155/transfers_celo_erc1155.sql
  models/transfers/celo/erc1155/transfers_celo_erc1155_agg_day.sql
  models/transfers/celo/erc1155/transfers_celo_erc1155_agg_hour.sql
  models/transfers/celo/erc20/transfers_celo_erc20.sql
  models/transfers/celo/erc20/transfers_celo_erc20_agg_day.sql
  models/transfers/celo/erc20/transfers_celo_erc20_agg_hour.sql
  models/transfers/celo/erc20/transfers_celo_erc20_rolling_day.sql
  models/transfers/celo/erc20/transfers_celo_erc20_rolling_hour.sql
  models/transfers/celo/erc721/transfers_celo_erc721.sql
  models/transfers/celo/erc721/transfers_celo_erc721_agg_day.sql
  models/transfers/celo/erc721/transfers_celo_erc721_agg_hour.sql
  models/transfers/celo/transfers_celo_celo.sql
  models/transfers/ethereum/transfers_ethereum_eth.sql
  models/transfers/fantom/erc20/transfers_fantom_erc20.sql
  models/transfers/fantom/erc20/transfers_fantom_schema.yml
  models/transfers/optimism/transfers_optimism_eth.sql
  models/transfers/polygon/erc20/transfers_polygon_erc20.sql
  models/transfers/polygon/erc20/transfers_polygon_erc20_agg_day.sql
  models/transfers/polygon/erc20/transfers_polygon_erc20_agg_hour.sql
  models/transfers/polygon/matic/transfers_polygon_matic.sql
  models/transfers/polygon/matic/transfers_polygon_matic_agg_day.sql
  models/transfers/polygon/matic/transfers_polygon_matic_agg_hour.sql
  tests/transfers/fantom/transfers_fantom_erc20_test.sql
Labels: ready-for-merging

#6066 Incremental predicate various models
  models/gas/arbitrum/gas_arbitrum_fees.sql
  models/gas/arbitrum/gas_arbitrum_fees_traces.sql
  models/gas/avalanche_c/gas_avalanche_c_fees.sql
  models/gas/avalanche_c/gas_avalanche_c_fees_traces.sql
  models/gas/base/gas_base_fees.sql
  models/gas/bnb/gas_bnb_fees.sql
  models/gas/ethereum/gas_ethereum_fees.sql
  models/gas/ethereum/gas_ethereum_fees_traces.sql
  models/gas/fantom/gas_fantom_fees_traces.sql
  models/gas/gnosis/gas_gnosis_fees_traces.sql
  models/gas/optimism/gas_optimism_fees.sql
  models/gas/optimism/gas_optimism_fees_traces.sql
  models/gas/polygon/gas_polygon_fees_traces.sql
  models/gas/scroll/gas_scroll_fees.sql
  models/gas/zksync/gas_zksync_fees.sql
  models/gas/zora/gas_zora_fees.sql
  models/gitcoin/ethereum/gitcoin_ethereum_donations.sql
  models/gitcoin/polygon/gitcoin_polygon_donations.sql
  models/staking/ethereum/staking_ethereum_deposits.sql
Labels: ready-for-merging

#6062 Add incremental predicates strategy to oneinch
  models/oneinch/arbitrum/oneinch_arbitrum_ar.sql
  models/oneinch/arbitrum/oneinch_arbitrum_call_transfers.sql
  models/oneinch/arbitrum/oneinch_arbitrum_lop.sql
  models/oneinch/arbitrum/oneinch_arbitrum_project_orders.sql
  models/oneinch/arbitrum/oneinch_arbitrum_project_swaps.sql
  models/oneinch/avalanche_c/oneinch_avalanche_c_ar.sql
  models/oneinch/avalanche_c/oneinch_avalanche_c_call_transfers.sql
  models/oneinch/avalanche_c/oneinch_avalanche_c_lop.sql
  models/oneinch/avalanche_c/oneinch_avalanche_c_project_orders.sql
  models/oneinch/avalanche_c/oneinch_avalanche_c_project_swaps.sql
  models/oneinch/base/oneinch_base_ar.sql
  models/oneinch/base/oneinch_base_call_transfers.sql
  models/oneinch/base/oneinch_base_lop.sql
  models/oneinch/base/oneinch_base_project_orders.sql
  models/oneinch/base/oneinch_base_project_swaps.sql
  models/oneinch/bnb/oneinch_bnb_ar.sql
  models/oneinch/bnb/oneinch_bnb_call_transfers.sql
  models/oneinch/bnb/oneinch_bnb_lop.sql
  models/oneinch/bnb/oneinch_bnb_project_orders.sql
  models/oneinch/bnb/oneinch_bnb_project_swaps.sql
  models/oneinch/ethereum/oneinch_ethereum_airdrop_claims.sql
  models/oneinch/ethereum/oneinch_ethereum_ar.sql
  models/oneinch/ethereum/oneinch_ethereum_call_transfers.sql
  models/oneinch/ethereum/oneinch_ethereum_lop.sql
  models/oneinch/ethereum/oneinch_ethereum_project_orders.sql
  models/oneinch/ethereum/oneinch_ethereum_project_swaps.sql
  models/oneinch/fantom/oneinch_fantom_ar.sql
  models/oneinch/fantom/oneinch_fantom_call_transfers.sql
  models/oneinch/fantom/oneinch_fantom_lop.sql
  models/oneinch/fantom/oneinch_fantom_project_orders.sql
  models/oneinch/fantom/oneinch_fantom_project_swaps.sql
  models/oneinch/gnosis/oneinch_gnosis_ar.sql
  models/oneinch/gnosis/oneinch_gnosis_call_transfers.sql
  models/oneinch/gnosis/oneinch_gnosis_lop.sql
  models/oneinch/gnosis/oneinch_gnosis_project_orders.sql
  models/oneinch/gnosis/oneinch_gnosis_project_swaps.sql
  models/oneinch/oneinch_swaps.sql
  models/oneinch/optimism/oneinch_optimism_ar.sql
  models/oneinch/optimism/oneinch_optimism_call_transfers.sql
  models/oneinch/optimism/oneinch_optimism_lop.sql
  models/oneinch/optimism/oneinch_optimism_project_orders.sql
  models/oneinch/optimism/oneinch_optimism_project_swaps.sql
  models/oneinch/polygon/oneinch_polygon_ar.sql
  models/oneinch/polygon/oneinch_polygon_call_transfers.sql
  models/oneinch/polygon/oneinch_polygon_lop.sql
  models/oneinch/polygon/oneinch_polygon_project_orders.sql
  models/oneinch/polygon/oneinch_polygon_project_swaps.sql
  models/oneinch/zksync/oneinch_zksync_ar.sql
  models/oneinch/zksync/oneinch_zksync_call_transfers.sql
  models/oneinch/zksync/oneinch_zksync_lop.sql
  models/oneinch/zksync/oneinch_zksync_project_orders.sql
  models/oneinch/zksync/oneinch_zksync_project_swaps.sql
Labels: ready-for-merging

#6060 Use incremental predicates in cow_protocol
  models/cow_protocol/arbitrum/cow_protocol_arbitrum_trades.sql
  models/cow_protocol/ethereum/cow_protocol_ethereum_batches.sql
  models/cow_protocol/ethereum/cow_protocol_ethereum_eth_flow_orders.sql
  models/cow_protocol/ethereum/cow_protocol_ethereum_trades.sql
  models/cow_protocol/gnosis/cow_protocol_gnosis_batches.sql
  models/cow_protocol/gnosis/cow_protocol_gnosis_trades.sql
Labels: ready-for-merging

#6069 Add missing incremental predicates to zeroex
  models/zeroex/arbitrum/zeroex_arbitrum_api_fills.sql
  models/zeroex/ethereum/zeroex_ethereum_api_fills.sql
  models/zeroex/polygon/zeroex_polygon_native_fills.sql
Labels: ready-for-merging

#6071 [EASY] Dedupe Optimism delegates model
  models/op/governance/optimism/op_governance_optimism_delegates.sql
Labels: ready-for-merging

#6055 Move address_optimism, optimism_attestationstation and op
  daily_spellbook/models/addresses/optimism/addresses_optimism_fee_vaults.sql
  daily_spellbook/models/addresses/optimism/addresses_optimism_grants_funding.sql
  daily_spellbook/models/addresses/optimism/addresses_optimism_schema.yml
  daily_spellbook/models/op/governance/optimism/op_governance_optimism_delegates.sql
  daily_spellbook/models/op/governance/optimism/op_governance_optimism_delegates_addresses.sql
  daily_spellbook/models/op/governance/optimism/op_governance_optimism_delegators.sql
  daily_spellbook/models/op/governance/optimism/op_governance_optimism_schema.yml
  daily_spellbook/models/op/governance/optimism/op_governance_optimism_voting_power.sql
  daily_spellbook/models/op/op_chains/op_chains_optimism_chain_list.sql
  daily_spellbook/models/op/op_chains/op_chains_optimism_schema.yml
  daily_spellbook/models/op/op_token/optimism/op_token_optimism_inflation_schedule.sql
  daily_spellbook/models/op/op_token/optimism/op_token_optimism_initial_allocations.sql
  daily_spellbook/models/op/op_token/optimism/op_token_optimism_metadata.sql
  daily_spellbook/models/op/op_token/optimism/op_token_optimism_schema.yml
  daily_spellbook/models/op/optimism/op_optimism_airdrop_1_claims.sql
  daily_spellbook/models/op/optimism/op_optimism_schema.yml
  daily_spellbook/models/op/readme.md
  daily_spellbook/models/op/retropgf/optimism/op_retropgf_optimism_recipients.sql
  daily_spellbook/models/op/retropgf/optimism/op_retropgf_optimism_round2_recipients.sql
  daily_spellbook/models/op/retropgf/optimism/op_retropgf_optimism_round2_voters.sql
  daily_spellbook/models/op/retropgf/optimism/op_retropgf_optimism_schema.yml
  daily_spellbook/models/op/retropgf/optimism/op_retropgf_optimism_voters.sql
  daily_spellbook/models/op/token_distributions/optimism/op_token_distributions_optimism_all_distributions_labels.sql
  daily_spellbook/models/op/token_distributions/optimism/op_token_distributions_optimism_foundation_wallet_approvals.sql
  daily_spellbook/models/op/token_distributions/optimism/op_token_distributions_optimism_other_distributions_claims.sql
  daily_spellbook/models/op/token_distributions/optimism/op_token_distributions_optimism_other_tags.sql
  daily_spellbook/models/op/token_distributions/optimism/op_token_distributions_optimism_project_name_mapping.sql
  daily_spellbook/models/op/token_distributions/optimism/op_token_distributions_optimism_project_wallets.sql
  daily_spellbook/models/op/token_distributions/optimism/op_token_distributions_optimism_transfer_mapping.sql
  daily_spellbook/models/op/token_distributions/optimism/op_token_distributions_schema.yml
  daily_spellbook/models/optimism/optimism_attestationstation_optimism_events.sql
  daily_spellbook/models/optimism/optimism_attestationstation_optimism_schema.yml
  dbt_project.yml
  models/airdrop/optimism/airdrop_optimism_claims.sql
  models/labels/addresses/__single_category_labels__/op_retropgf/labels_op_retropgf.sql
  models/labels/addresses/__single_category_labels__/project_wallets/labels_project_wallets.sql
  models/labels/addresses/infrastructure/identifier/l2_fee_vaults/labels_l2_fee_vaults.sql
  sources/_subprojects/spellbook/_sources.yml
Labels: WIP, in review

#6088 add mantle and bl base sources
  sources/_base_sources/blast_base_sources.yml
  sources/_base_sources/mantle_base_sources.yml
Labels: ready-for-merging

#6076 0x - update taker [base]
  models/zeroex/base/zeroex_base_api_fills.sql
Labels: ready-for-merging

#5919 add new tokens to price list [ethereum]
  models/prices/ethereum/prices_ethereum_tokens.sql
Labels: ready-for-merging

#5918 add new tokens to price list [base]
  models/prices/base/prices_base_tokens.sql
Labels: ready-for-merging

#6086 Zeroex native_fills performance improvements
  models/zeroex/arbitrum/zeroex_arbitrum_native_fills.sql
  models/zeroex/bnb/zeroex_bnb_native_fills.sql
  models/zeroex/ethereum/zeroex_ethereum_native_fills.sql
  models/zeroex/optimism/zeroex_optimism_native_fills.sql
  models/zeroex/polygon/zeroex_polygon_native_fills.sql
Labels: ready-for-merging

#5996 Add stakers
  models/staking/ethereum/entities/staking_ethereum_entities_batch_contracts_tx_from.sql
Labels: easy, ready-for-merging

#6089 Zeroex api fills performance
  models/zeroex/bnb/zeroex_bnb_api_fills.sql
  models/zeroex/polygon/zeroex_polygon_api_fills.sql
Labels: ready-for-merging

#6070 add jupiter aggregator swaps
  models/jupiter/solana/jupiter_solana_aggregator_swaps.sql
  models/jupiter/solana/jupiter_solana_perp_events_schema.yml
  models/jupiter/solana/jupiter_solana_schema.yml
Labels: ready-for-merging

#6024 Yield Yak swap and adapter swap tables
  macros/models/_project/yield_yak/yield_yak_yak_adapter_swaps.sql
  macros/models/_project/yield_yak/yield_yak_yak_swaps.sql
  models/yield_yak/arbitrum/yield_yak_arbitrum_schema.yml
  models/yield_yak/arbitrum/yield_yak_arbitrum_yak_adapter_swaps.sql
  models/yield_yak/arbitrum/yield_yak_arbitrum_yak_swaps.sql
  models/yield_yak/avalanche_c/yield_yak_avalanche_c_schema.yml
  models/yield_yak/avalanche_c/yield_yak_avalanche_c_yak_adapter_swaps.sql
  models/yield_yak/avalanche_c/yield_yak_avalanche_c_yak_swaps.sql
  models/yield_yak/yield_yak_balances.sql
  models/yield_yak/yield_yak_deposits.sql
  models/yield_yak/yield_yak_reinvests.sql
  models/yield_yak/yield_yak_schema.yml
  models/yield_yak/yield_yak_user_yrt_balances.sql
  models/yield_yak/yield_yak_withdraws.sql
  models/yield_yak/yield_yak_yak_adapter_swaps.sql
  models/yield_yak/yield_yak_yak_swaps.sql
Labels: ready-for-merging

#6081 Adding strategies and tokens
  macros/models/_project/yield_yak/yield_yak_strategies.sql
  sources/yield_yak/avalanche_c/yield_yak_avalanche_c_sources.yml
  tokens/models/tokens/arbitrum/tokens_arbitrum_erc20.sql
  tokens/models/tokens/avalanche_c/tokens_avalanche_c_erc20.sql
Labels: easy, ready-for-merging

#6085 Chainlink performance improvements
  daily_spellbook/models/chainlink/arbitrum/chainlink_arbitrum_ocr_reward_evt_transfer_daily.sql
  daily_spellbook/models/chainlink/arbitrum/chainlink_arbitrum_vrf_request_fulfilled_daily.sql
  daily_spellbook/models/chainlink/avalanche_c/chainlink_avalanche_c_ocr_reward_evt_transfer_daily.sql
  daily_spellbook/models/chainlink/avalanche_c/chainlink_avalanche_c_vrf_request_fulfilled_daily.sql
  daily_spellbook/models/chainlink/bnb/chainlink_bnb_ocr_reward_evt_transfer_daily.sql
  daily_spellbook/models/chainlink/bnb/chainlink_bnb_vrf_request_fulfilled_daily.sql
  daily_spellbook/models/chainlink/ethereum/chainlink_ethereum_ocr_reward_evt_transfer_daily.sql
  daily_spellbook/models/chainlink/ethereum/chainlink_ethereum_vrf_request_fulfilled_daily.sql
  daily_spellbook/models/chainlink/fantom/chainlink_fantom_ocr_reward_evt_transfer_daily.sql
  daily_spellbook/models/chainlink/fantom/chainlink_fantom_vrf_request_fulfilled_daily.sql
  daily_spellbook/models/chainlink/gnosis/chainlink_gnosis_ocr_reward_evt_transfer_daily.sql
  daily_spellbook/models/chainlink/optimism/chainlink_optimism_ocr_reward_evt_transfer_daily.sql
  daily_spellbook/models/chainlink/polygon/chainlink_polygon_ocr_reward_evt_transfer_daily.sql
  daily_spellbook/models/chainlink/polygon/chainlink_polygon_vrf_request_fulfilled_daily.sql
Labels: ready-for-merging

#6092 jupiter solana: fix incremental column
  models/jupiter/solana/jupiter_solana_aggregator_swaps.sql
Labels: hotfix

#6031 Create croscchain `cex.flows`
  models/_sector/cex/flows/_schema.yml
  models/_sector/cex/flows/cex_flows.sql
  models/_sector/cex/flows/chains/_schema.yml
  models/_sector/cex/flows/chains/cex_arbitrum_flows.sql
  models/_sector/cex/flows/chains/cex_avalanche_c_flows.sql
  models/_sector/cex/flows/chains/cex_base_flows.sql
  models/_sector/cex/flows/chains/cex_bnb_flows.sql
  models/_sector/cex/flows/chains/cex_celo_flows.sql
  models/_sector/cex/flows/chains/cex_ethereum_flows.sql
  models/_sector/cex/flows/chains/cex_gnosis_flows.sql
  models/_sector/cex/flows/chains/cex_optimism_flows.sql
  models/_sector/cex/flows/chains/cex_polygon_flows.sql
  models/_sector/cex/flows/chains/cex_scroll_flows.sql
  models/_sector/cex/flows/chains/cex_zksync_flows.sql
  models/_sector/cex/flows/chains/cex_zora_flows.sql
Labels: ready-for-merging

#5990 Add chains to `cex_{chain}.flows`
  models/_sector/cex/flows/_schema.yml
  models/_sector/cex/flows/cex_flows.sql
  models/_sector/cex/flows/chains/_schema.yml
  models/_sector/cex/flows/chains/cex_fantom_flows.sql
  models/_sector/cex/flows/chains/cex_linea_flows.sql
  models/_sector/cex/flows/chains/cex_zkevm_flows.sql
Labels: ready-for-merging

#6084 Add incremental predicates on cow
  models/cow_protocol/ethereum/cow_protocol_ethereum_batches.sql
  models/cow_protocol/gnosis/cow_protocol_gnosis_batches.sql
Labels: in review

#6050 add token2022 into token transfers and fungible spells
  models/tokens/solana/tokens_solana.sources.yml
  models/tokens/solana/tokens_solana_fungible.sql
  models/tokens/solana/tokens_solana_schema.yml
  models/tokens/solana/tokens_solana_transfers.sql
Labels: ready-for-merging

#6047 More stakers
  models/staking/ethereum/entities/staking_ethereum_entities_depositor_addresses.sql
  models/staking/ethereum/entities/staking_ethereum_entities_schema.yml
  models/staking/ethereum/staking_ethereum_info.sql
  models/staking/ethereum/staking_ethereum_schema.yml
Labels: ready-for-merging

#6097 Don't materialize rolling celo transfers
  models/transfers/celo/erc20/transfers_celo_erc20_rolling_day.sql
  models/transfers/celo/erc20/transfers_celo_erc20_rolling_hour.sql
Labels: in review

#6107 add back changes for solana token 2022
  models/tokens/solana/tokens_solana_schema.yml
  models/tokens/solana/tokens_solana_spl_transfers.sql
  models/tokens/solana/tokens_solana_spl_transfers_call_transfer.sql
  models/tokens/solana/tokens_solana_token22_spl_transfers.sql
  models/tokens/solana/tokens_solana_transfers.sql
Labels: ready-for-merging, blocked, dune team

#6132 prices ethereum: fix decimal on nmt
  models/prices/ethereum/prices_ethereum_tokens.sql
Labels: hotfix

#6125 Add SLIZ token
  models/prices/arbitrum/prices_arbitrum_tokens.sql
Labels: easy, ready-for-merging

#6119 add missing tokens to tokens.erc20
  tokens/models/tokens/ethereum/tokens_ethereum_erc20.sql
  tokens/models/tokens/polygon/tokens_polygon_erc20.sql
Labels: easy, ready-for-merging

#6109 Add TAIKO ERC-20 token to Ethereum mainnet
  tokens/models/tokens/ethereum/tokens_ethereum_erc20.sql
Labels: easy, ready-for-merging

#6096 New strategies for Yield Yak
  macros/models/_project/yield_yak/yield_yak_strategies.sql
  sources/yield_yak/arbitrum/yield_yak_arbitrum_sources.yml
  tokens/models/tokens/arbitrum/tokens_arbitrum_erc20.sql
Labels: easy, ready-for-merging

#6106 add POWER and ZERO token metadata
  tokens/models/tokens/ethereum/tokens_ethereum_erc20.sql
Labels: easy, ready-for-final-review

#6129 CHORE: add BET to base token list
  models/prices/base/prices_base_tokens.sql
Labels: ready-for-merging

#6068 Update trusted_tokens
  models/prices/prices_trusted_tokens.sql
Labels: ready-for-merging

#6112 Add mantle prices feed
  models/prices/mantle/prices_mantle_schema.yml
  models/prices/mantle/prices_mantle_tokens.sql
  models/prices/prices_tokens.sql
  scripts/token_checker.py
Labels: ready-for-merging

#6115 Add Solidly V3 to dex.trades
  models/_sector/dex/trades/arbitrum/_schema.yml
  models/_sector/dex/trades/arbitrum/dex_arbitrum_base_trades.sql
  models/_sector/dex/trades/arbitrum/platforms/solidly_v3_arbitrum_base_trades.sql
  models/_sector/dex/trades/base/_schema.yml
  models/_sector/dex/trades/base/dex_base_base_trades.sql
  models/_sector/dex/trades/ethereum/_schema.yml
  models/_sector/dex/trades/ethereum/dex_ethereum_base_trades.sql
  models/_sector/dex/trades/ethereum/platforms/solidly_v3_ethereum_base_trades.sql
  models/_sector/dex/trades/fantom/_schema.yml
  models/_sector/dex/trades/fantom/dex_fantom_base_trades.sql
  models/_sector/dex/trades/fantom/platforms/solidly_v3_fantom_base_trades.sql
  seeds/_sector/dex/_schema.yml
  seeds/_sector/dex/solidly_v3_arbitrum_base_trades_seed.csv
  seeds/_sector/dex/solidly_v3_base_base_trades_seed.csv
  seeds/_sector/dex/solidly_v3_ethereum_base_trades_seed.csv
  seeds/_sector/dex/solidly_v3_fantom_base_trades_seed.csv
  sources/_sector/dex/trades/arbitrum/_sources.yml
  sources/_sector/dex/trades/ethereum/_sources.yml
  sources/_sector/dex/trades/fantom/_sources.yml
  sources/_sector/dex/trades/optimism/_sources.yml
Labels: dex

#6117 Add icecreamswap on Scroll v2 to dex.trades
  models/_sector/dex/trades/scroll/_schema.yml
  models/_sector/dex/trades/scroll/dex_scroll_base_trades.sql
  models/_sector/dex/trades/scroll/platforms/icecreamswap_v2_scroll_base_trades.sql
  models/dex/dex_info.sql
  seeds/_sector/dex/_schema.yml
  seeds/_sector/dex/icecreamswap_v2_scroll_base_trades_seed.csv
  sources/_sector/dex/trades/scroll/_sources.yml
Labels: dex

#6135 Update prices_arbitrum_tokens with osETH
  models/prices/arbitrum/prices_arbitrum_tokens.sql
Labels: easy, ready-for-merging

#6111 Add iZiSwap on Scroll to dex.trades
  models/_sector/dex/trades/scroll/_schema.yml
  models/_sector/dex/trades/scroll/dex_scroll_base_trades.sql
  models/_sector/dex/trades/scroll/platforms/iziswap_scroll_base_trades.sql
  seeds/_sector/dex/_schema.yml
  seeds/_sector/dex/iziswap_scroll_base_trades_seed.csv
  sources/_sector/dex/trades/scroll/_sources.yml
Labels: dex, ready-for-final-review

#6102 Add Pancakeswap Linea Dex Trades
  models/_sector/dex/trades/linea/_schema.yml
  models/_sector/dex/trades/linea/dex_linea_base_trades.sql
  models/_sector/dex/trades/linea/platforms/pancakeswap_v2_linea_base_trades.sql
  models/_sector/dex/trades/linea/platforms/pancakeswap_v3_linea_base_trades.sql
  seeds/_sector/dex/_schema.yml
  seeds/_sector/dex/pancakeswap_linea_base_trades_seed.csv
  sources/_sector/dex/trades/linea/_sources.yml
Labels: dex, ready-for-final-review

#6091 Blur & Fantasy trades
  models/_sector/nft/trades/chains/blast/nft_blast_base_trades.sql
  models/_sector/nft/trades/chains/blast/platforms/_schema.yml
  models/_sector/nft/trades/chains/blast/platforms/blur_blast_base_trades.sql
  models/_sector/nft/trades/chains/blast/platforms/fantasy_blast_base_trades.sql
  models/_sector/nft/trades/nft_base_trades.sql
  models/_sector/nft/trades/nft_trades.sql
  models/_sector/nft/trades/platform_views/_schema.yml
  models/_sector/nft/trades/platform_views/fantasy_trades_view.sql
  models/_sector/nft/trades/schema.yml
  sources/_sector/nft/trades/blast_sources.yml
Labels: ready-for-merging, NFT

#6064 1inch: project orders materialize
  models/oneinch/oneinch_project_orders.sql
Labels: ready-for-merging

#6099 Nexus Mutual - capital pool tweaks
  models/nexusmutual/ethereum/capital_pool/_schema.yml
  models/nexusmutual/ethereum/capital_pool/nexusmutual_ethereum_capital_pool_latest.sql
  models/nexusmutual/ethereum/capital_pool/nexusmutual_ethereum_capital_pool_totals.sql
Labels: ready-for-merging

#6095 chore(magnum): add new bot fee address
  models/_sector/dex/bot_trades/solana/platforms/magnum_solana_bot_trades.sql
Labels: easy, ready-for-merging

#6138 Add pool_address and child_gauge_address to balancer gauge labels
  models/labels/addresses/__single_category_labels__/balancer_v2/labels_balancer_v2_gauges.sql
  models/labels/addresses/__single_category_labels__/balancer_v2/labels_balancer_v2_gauges_arbitrum.sql
  models/labels/addresses/__single_category_labels__/balancer_v2/labels_balancer_v2_gauges_avalanche_c.sql
  models/labels/addresses/__single_category_labels__/balancer_v2/labels_balancer_v2_gauges_base.sql
  models/labels/addresses/__single_category_labels__/balancer_v2/labels_balancer_v2_gauges_ethereum.sql
  models/labels/addresses/__single_category_labels__/balancer_v2/labels_balancer_v2_gauges_gnosis.sql
  models/labels/addresses/__single_category_labels__/balancer_v2/labels_balancer_v2_gauges_optimism.sql
  models/labels/addresses/__single_category_labels__/balancer_v2/labels_balancer_v2_gauges_polygon.sql
  models/labels/addresses/__single_category_labels__/balancer_v2/labels_balancer_v2_gauges_zkevm.sql
  models/labels/addresses/__single_category_labels__/balancer_v2/labels_balancer_v2_schema.yml
  sources/labels/addresses/__single_category_labels__/balancer_v2/labels_balancer_v2_sources.yml
Labels: ready-for-merging

#6049 more cex addresses
  models/cex/cex_evms_addresses.sql
  models/cex/tron/cex_tron_addresses.sql
Labels: easy, ready-for-review

#6144 Small mantle changes
  macros/public/all_evm_chains.sql
  macros/public/get_chain_explorer.sql
  macros/public/get_chain_explorer_address.sql
  macros/public/get_chain_explorer_tx_hash.sql
  tokens/models/tokens/mantle/tokens_mantle_erc20.sql
  tokens/models/tokens/tokens_native.sql
  tokens/models/tokens/tokens_schema.yml
Labels: easy, ready-for-merging

#6168 simplify `dbt compile` step in CI pipeline
  .github/workflows/dbt_run.yml
Labels: ready-for-review, dune team

#6199 Make NFT models incremental
  nft/models/_sector/aggregators/chains/nft_ethereum_aggregators_gem.sql
  nft/models/_sector/aggregators/chains/nft_ethereum_aggregators_manual.sql
  nft/models/_sector/aggregators/chains/nft_ethereum_aggregators_markers.sql
  nft/models/_sector/trades/chains/ethereum/platforms/opensea_v1_ethereum_base_trades.sql
Labels: ready-for-merging, dune team, NFT

#6190 [easy] Add USDB & WETH Prices on Blast - Ready for review
  models/prices/blast/prices_blast_schema.yml
  models/prices/blast/prices_blast_tokens.sql
  models/prices/prices_schema.yml
  models/prices/prices_tokens.sql
  scripts/token_checker.py
Labels: ready-for-merging

#6173 [EASY] chore: add DOUGH price feed
  models/prices/ethereum/prices_ethereum_tokens.sql
Labels: easy, ready-for-merging

#6185 Aerodrome Base Slipstream trades - Ready for review
  dex/models/trades/base/_schema.yml
  dex/models/trades/base/platforms/aerodrome_base_base_trades.sql
  dex/seeds/trades/aerodrome_base_base_trades_seed.csv
Labels: ready-for-merging, dex

#6177 Add Uniswap Blast (V2 & V3) - Ready for review
  dex/models/trades/_schema.yml
  dex/models/trades/blast/_schema.yml
  dex/models/trades/blast/dex_blast_base_trades.sql
  dex/models/trades/blast/platforms/uniswap_v2_blast_base_trades.sql
  dex/models/trades/blast/platforms/uniswap_v3_blast_base_trades.sql
  dex/models/trades/dex_base_trades.sql
  dex/seeds/trades/_schema.yml
  dex/seeds/trades/uniswap_blast_base_trades_seed.csv
  sources/_sector/dex/trades/blast/_sources.yml
Labels: ready-for-merging, dex

#6166 Add horizondex on linea to dex.trades
  dex/models/trades/linea/_schema.yml
  dex/models/trades/linea/dex_linea_base_trades.sql
  dex/models/trades/linea/platforms/horizondex_linea_base_trades.sql
  dex/seeds/trades/_schema.yml
  dex/seeds/trades/horizondex_linea_base_trades_seed.csv
  sources/_sector/dex/trades/linea/_sources.yml
Labels: ready-for-merging, dex

#6143 Add gridex on polygon to dex.trades
  dex/models/trades/polygon/_schema.yml
  dex/models/trades/polygon/dex_polygon_base_trades.sql
  dex/models/trades/polygon/platforms/gridex_polygon_base_trades.sql
  dex/seeds/trades/_schema.yml
  dex/seeds/trades/gridex_polygon_base_trades_seed.csv
  sources/_sector/dex/trades/polygon/_sources.yml
Labels: ready-for-merging, dex

#6128 Add smardex on polygon to dex.trades
  dex/models/trades/polygon/_schema.yml
  dex/models/trades/polygon/dex_polygon_base_trades.sql
  dex/models/trades/polygon/platforms/smardex_polygon_base_trades.sql
  dex/seeds/trades/_schema.yml
  dex/seeds/trades/smardex_polygon_base_trades_seed.csv
  sources/_sector/dex/trades/polygon/_sources.yml
Labels: ready-for-merging, dex

#6184 Add superchief NFT Trades - Ready for Review
  nft/models/_sector/trades/chains/avalanche_c/nft_avalanche_c_base_trades.sql
  nft/models/_sector/trades/chains/avalanche_c/platforms/_schema.yml
  nft/models/_sector/trades/chains/avalanche_c/platforms/superchief_avalanche_c_base_trades.sql
  nft/seeds/trades/base_trades/_schema.yml
  nft/seeds/trades/base_trades/superchief_avalanche_c_base_trades_seed.csv
  sources/_sector/nft/trades/avalanche_c_sources.yml
Labels: ready-for-merging, NFT

#6182 Add Salvor Avalanche NFT Trades - Ready for review
  nft/models/_sector/trades/chains/avalanche_c/nft_avalanche_c_base_trades.sql
  nft/models/_sector/trades/chains/avalanche_c/platforms/_schema.yml
  nft/models/_sector/trades/chains/avalanche_c/platforms/chikn_avalanche_c_base_trades.sql
  nft/models/_sector/trades/chains/avalanche_c/platforms/salvor_avalanche_c_base_trades.sql
  nft/seeds/trades/base_trades/_schema.yml
  nft/seeds/trades/base_trades/salvor_avalanche_c_base_trades_seed.csv
  sources/_sector/nft/trades/avalanche_c_sources.yml
Labels: ready-for-merging, NFT

#6188 fix and extend blob submitter mapping
  models/blobs/ethereum/blobs_submitters.sql
Labels: ready-for-merging

#6171 Nexus Mutual - capital pool Aave refactor
  models/nexusmutual/ethereum/capital_pool/nexusmutual_ethereum_capital_pool_totals.sql
Labels: ready-for-merging

#6167 incremental predicate update for lido liquidity
  models/lido/liquidity/arbitrum/lido_liquidity_arbitrum_balancer_pools.sql
  models/lido/liquidity/arbitrum/lido_liquidity_arbitrum_camelot_pools.sql
  models/lido/liquidity/arbitrum/lido_liquidity_arbitrum_curve_pools.sql
  models/lido/liquidity/arbitrum/lido_liquidity_arbitrum_kyberswap_pools.sql
  models/lido/liquidity/arbitrum/lido_liquidity_arbitrum_kyberswap_v2_pools.sql
  models/lido/liquidity/arbitrum/lido_liquidity_arbitrum_ramses_pools.sql
  models/lido/liquidity/arbitrum/lido_liquidity_arbitrum_uniswap_v3_pools.sql
  models/lido/liquidity/arbitrum/lido_liquidity_arbitrum_wombat_pools.sql
  models/lido/liquidity/base/lido_liquidity_base_aerodrome_cl_pools.sql
  models/lido/liquidity/base/lido_liquidity_base_aerodrome_pools.sql
  models/lido/liquidity/base/lido_liquidity_base_kyberswap_pools.sql
  models/lido/liquidity/base/lido_liquidity_base_uniswap_v3_pools.sql
  models/lido/liquidity/ethereum/lido_liquidity_ethereum_balancer_pools.sql
  models/lido/liquidity/ethereum/lido_liquidity_ethereum_curve_steth_conc_pool.sql
  models/lido/liquidity/ethereum/lido_liquidity_ethereum_curve_steth_frxeth_pool.sql
  models/lido/liquidity/ethereum/lido_liquidity_ethereum_curve_steth_ng_pool.sql
  models/lido/liquidity/ethereum/lido_liquidity_ethereum_curve_steth_pool.sql
  models/lido/liquidity/ethereum/lido_liquidity_ethereum_curve_wsteth_reth_pool.sql
  models/lido/liquidity/ethereum/lido_liquidity_ethereum_kyberswap_pools.sql
  models/lido/liquidity/ethereum/lido_liquidity_ethereum_kyberswap_v2_pools.sql
  models/lido/liquidity/ethereum/lido_liquidity_ethereum_maverick_pools.sql
  models/lido/liquidity/ethereum/lido_liquidity_ethereum_pancakeswap_v3_pools.sql
  models/lido/liquidity/ethereum/lido_liquidity_ethereum_solidly_pools.sql
  models/lido/liquidity/ethereum/lido_liquidity_ethereum_uniswap_v2_pools.sql
  models/lido/liquidity/ethereum/lido_liquidity_ethereum_uniswap_v3_pools.sql
  models/lido/liquidity/linea/lido_liquidity_linea_syncswap_pools.sql
  models/lido/liquidity/optimism/lido_liquidity_optimism_balancer_pools.sql
  models/lido/liquidity/optimism/lido_liquidity_optimism_curve_pools.sql
  models/lido/liquidity/optimism/lido_liquidity_optimism_kyberswap_pools.sql
  models/lido/liquidity/optimism/lido_liquidity_optimism_kyberswap_v2_pools.sql
  models/lido/liquidity/optimism/lido_liquidity_optimism_uniswap_v3_pools.sql
  models/lido/liquidity/optimism/lido_liquidity_optimism_velodrome_cl_pools.sql
  models/lido/liquidity/optimism/lido_liquidity_optimism_velodrome_pools.sql
  models/lido/liquidity/optimism/lido_liquidity_optimism_velodrome_v2_pools.sql
  models/lido/liquidity/polygon/lido_liquidity_polygon_balancer_pools.sql
  models/lido/liquidity/polygon/lido_liquidity_polygon_kyberswap_v2_pools.sql
  models/lido/liquidity/polygon/lido_liquidity_polygon_uniswap_v3_pools.sql
  models/lido/liquidity/scroll/lido_liquidity_scroll_syncswap_pools.sql
  models/lido/liquidity/scroll/lido_liquidity_scroll_zebra_pools.sql
  models/lido/liquidity/zksync/lido_liquidity_zksync_maverick_pools.sql
  models/lido/liquidity/zksync/lido_liquidity_zksync_syncswap_pools.sql
  models/lido/liquidity/zksync/lido_liquidity_zksync_syncswap_v2_pools.sql
Labels: ready-for-merging

#6159 Add Linea, Blast, Mantle & zkEVM to evms tables
  models/evms/evms_blocks.sql
  models/evms/evms_contracts.sql
  models/evms/evms_creation_traces.sql
  models/evms/evms_erc1155_approvalsforall.sql
  models/evms/evms_erc1155_transfersbatch.sql
  models/evms/evms_erc1155_transferssingle.sql
  models/evms/evms_erc20_approvals.sql
  models/evms/evms_erc20_transfers.sql
  models/evms/evms_erc721_approvals.sql
  models/evms/evms_erc721_approvalsforall.sql
  models/evms/evms_erc721_transfers.sql
  models/evms/evms_logs.sql
  models/evms/evms_logs_decoded.sql
  models/evms/evms_schema.yml
  models/evms/evms_traces.sql
  models/evms/evms_traces_decoded.sql
  models/evms/evms_transactions.sql
Labels: easy, ready-for-merging

#6152 Create addresses_events for mantle
  daily_spellbook/models/addresses_events/mantle/addresses_events_mantle_first_activity.sql
  daily_spellbook/models/addresses_events/mantle/addresses_events_mantle_first_funded_by.sql
  daily_spellbook/models/addresses_events/mantle/addresses_events_mantle_schema.yml
Labels: easy, ready-for-merging

#6151 Create addresses_events tables for blast
  daily_spellbook/models/addresses_events/blast/addresses_events_blast_first_activity.sql
  daily_spellbook/models/addresses_events/blast/addresses_events_blast_first_funded_by.sql
  daily_spellbook/models/addresses_events/blast/addresses_events_blast_schema.yml
Labels: easy, ready-for-merging

#6080 Add solana dex price hrs
  models/dex/solana/dex_solana_price_hour.sql
  models/dex/solana/dex_solana_schema.yml
Labels: ready-for-merging, dex

#6137 Add GIV token to ethereum prices
  models/prices/ethereum/prices_ethereum_tokens.sql
Labels: ready-for-merging

#6200 Add Uniswap V3 Linea Dex Trades
  dex/models/trades/linea/_schema.yml
  dex/models/trades/linea/dex_linea_base_trades.sql
  dex/models/trades/linea/platforms/uniswap_v3_linea_base_trades.sql
  dex/seeds/trades/_schema.yml
  dex/seeds/trades/uniswap_linea_base_trades_seed.csv
  sources/_sector/dex/trades/linea/_sources.yml
Labels: ready-for-merging

#6172 Add Elkfinance on Avax c-chain to dex.trades
  dex/models/trades/avalanche_c/_schema.yml
  dex/models/trades/avalanche_c/dex_avalanche_c_base_trades.sql
  dex/models/trades/avalanche_c/platforms/elk_finance_avalanche_c_base_trades.sql
  dex/seeds/trades/_schema.yml
  dex/seeds/trades/elk_finance_avalanche_c_base_trades_seed.csv
  sources/_sector/dex/trades/avalanche_c/_sources.yml
Labels: ready-for-merging, dex

#6193 Add Thruster Dex Trades Blast - Ready for review
  dex/models/dex_info.sql
  dex/models/trades/blast/_schema.yml
  dex/models/trades/blast/dex_blast_base_trades.sql
  dex/models/trades/blast/platforms/thruster_blast_base_trades.sql
  dex/seeds/trades/_schema.yml
  dex/seeds/trades/thruster_blast_base_trades_seed.csv
  sources/_sector/dex/trades/blast/_sources.yml
Labels: ready-for-merging, dex

#6110 add account_type column to token_accounts solana
  solana/models/solana_utils/solana_utils_schema.yml
  solana/models/solana_utils/solana_utils_token_accounts.sql
Labels: ready-for-merging, blocked

#6202 move NFT solana models
  nft/models/_sector/trades/chains/solana/nft_solana_base_trades.sql
  solana/models/_sector/nft/nft_solana_old_trades.sql
  solana/models/_sector/nft/nft_solana_trades.sql
  solana/models/_sector/nft/nft_solana_trades_schema.yml
  solana/models/_sector/nft/old/_schema.yml
  solana/models/_sector/nft/old/magiceden_solana_events.sql
  solana/models/_sector/nft/old/opensea_solana_events.sql
  solana/models/_sector/nft/platforms/_schema.yml
  solana/models/_sector/nft/platforms/magiceden_mmm_solana_trades.sql
  solana/models/_sector/nft/platforms/magiceden_v2_solana_trades.sql
  solana/models/_sector/nft/platforms/magiceden_v3_solana_trades.sql
  solana/models/_sector/nft/platforms/tensorswap_v1_solana_trades.sql
  solana/models/_sector/nft/platforms/tensorswap_v2_solana_trades.sql
  solana/package-lock.yml
  solana/seeds/nft_solana_trades/_schema.yml
  solana/seeds/nft_solana_trades/magiceden_mmm_solana_trades_seed.csv
  solana/seeds/nft_solana_trades/magiceden_solana_trades_solscan.csv
  solana/seeds/nft_solana_trades/magiceden_v2_solana_trades_seed.csv
  solana/seeds/nft_solana_trades/magiceden_v3_solana_trades_seed.csv
  solana/seeds/nft_solana_trades/tensorswap_v1_solana_trades_seed.csv
  solana/seeds/nft_solana_trades/tensorswap_v2_solana_trades_seed.csv
  solana/seeds/opensea/opensea_solana_trades_solscan.csv
  solana/seeds/opensea/schema.yml
  solana/tests/magiceden/solana/magiceden_solana_assert_samples.sql
  solana/tests/opensea/solana/opensea_solana_assert_samples.sql
Labels: ready-for-review, dune team

#6208 1inch-U26-2: release project_calls from 2023
  macros/models/_project/oneinch/oneinch_project_calls_macro.sql
Labels: ready-for-merging

#6203 Zeroex performance
  dex/models/_projects/zeroex/bnb/zeroex_bnb_api_fills.sql
  dex/models/_projects/zeroex/bnb/zeroex_bnb_api_fills_uni_v2_pair_creation.sql
  dex/models/_projects/zeroex/ethereum/zeroex_ethereum_native_fills.sql
Labels: in review

#6198 interim integration of paraswap v6.2: replace old v6.1 for now
  dex/models/_projects/paraswap/arbitrum/paraswap_v6_arbitrum_trades_decoded.sql
  dex/models/_projects/paraswap/avalanche_c/paraswap_v6_avalanche_c_trades_decoded.sql
  dex/models/_projects/paraswap/base/paraswap_v6_base_trades_decoded.sql
  dex/models/_projects/paraswap/bnb/paraswap_v6_bnb_trades_decoded.sql
  dex/models/_projects/paraswap/ethereum/paraswap_v6_ethereum_trades_decoded.sql
  dex/models/_projects/paraswap/fantom/paraswap_v6_fantom_trades_decoded.sql
  dex/models/_projects/paraswap/optimism/paraswap_v6_optimism_trades_decoded.sql
  dex/models/_projects/paraswap/polygon/paraswap_v6_polygon_trades_decoded.sql
  macros/models/_project/paraswap/v6/paraswap_v6_trades_master.sql
  sources/paraswap/arbitrum/paraswap_arbitrum_sources.yml
  sources/paraswap/avalanche_c/paraswap_avalanche_c_sources.yml
  sources/paraswap/base/paraswap_base_sources.yml
  sources/paraswap/bnb/paraswap_bnb_sources.yml
  sources/paraswap/ethereum/paraswap_ethereum_sources.yml
  sources/paraswap/fantom/paraswap_fantom_sources.yml
  sources/paraswap/optimism/paraswap_optimism_sources.yml
  sources/paraswap/polygon/paraswap_polygon_sources.yml
Labels: in review

#6226 solana bot_trades improvement
  solana/models/_sector/dex/bot_trades/solana/_schema.yml
  solana/models/_sector/dex/bot_trades/solana/platforms/consortium_key_solana_bot_trades.sql
  solana/models/_sector/dex/bot_trades/solana/platforms/consortium_key_solana_bot_users.sql
  solana/models/_sector/dex/bot_trades/solana/platforms/soul_sniper_solana_bot_trades.sql
  solana/models/_sector/dex/bot_trades/solana/platforms/soul_sniper_solana_bot_users.sql
Labels: ready-for-merging

#6189 fix(bonkbot): only include unique fee payment tx's to prevent dupes
  solana/models/_sector/dex/bot_trades/solana/platforms/bonkbot_solana_bot_trades.sql
Labels: ready-for-merging

#6148 Create `nft_blast.wash_trades`
  nft/models/_sector/wash_trades/_schema.yml
  nft/models/_sector/wash_trades/chains/nft_blast_wash_trades.sql
  nft/models/_sector/wash_trades/nft_wash_trades.sql
  sources/_subprojects/spellbook/_sources.yml
Labels: ready-for-merging, NFT

#6255 Add YOLO on Blast to prices.usd
  models/prices/blast/prices_blast_tokens.sql
Labels: easy, ready-for-merging

#6254 Adding ZRO token to Arbitrum for tokens.erc20
  tokens/models/tokens/arbitrum/tokens_arbitrum_erc20.sql
Labels: easy, ready-for-merging

#6251 Blur on Blast Fix
  models/prices/blast/prices_blast_tokens.sql
  nft/models/_sector/trades/chains/blast/platforms/blur_blast_base_trades.sql
Labels: easy, ready-for-merging, NFT

#6252 Fix Fantasy trades
  nft/models/_sector/trades/chains/blast/platforms/fantasy_blast_base_trades.sql
Labels: easy, ready-for-merging, NFT

#6239 Adding stablejacks aUSD to tokens_avalanche_c_erc20.sql
  tokens/models/tokens/avalanche_c/tokens_avalanche_c_erc20.sql
Labels: easy, ready-for-merging

#6232 Adding RUSH to tokens_avalanche_c_erc20.sql
  tokens/models/tokens/avalanche_c/tokens_avalanche_c_erc20.sql
Labels: easy, ready-for-merging

#6231 Add IO, LISTA and ZRO token
  models/prices/bnb/prices_bnb_tokens.sql
  models/prices/ethereum/prices_ethereum_tokens.sql
  models/prices/solana/prices_solana_tokens.sql
Labels: easy, ready-for-merging

#6220 Update addresses_ethereum_mev.sql
  models/addresses/ethereum/addresses_ethereum_mev.sql
Labels: easy, ready-for-merging

#6217 add missing tokens to tokens_erc20
  tokens/models/tokens/arbitrum/tokens_arbitrum_erc20.sql
  tokens/models/tokens/ethereum/tokens_ethereum_erc20.sql
  tokens/models/tokens/gnosis/tokens_gnosis_erc20.sql
  tokens/models/tokens/polygon/tokens_polygon_erc20.sql
Labels: easy, ready-for-merging

#6214 Update tokens_native.sql
  tokens/models/tokens/tokens_native.sql
Labels: easy, ready-for-merging

#6213 Update prices_native_tokens.sql
  models/prices/prices_native_tokens.sql
Labels: easy, ready-for-merging

#6228 Fix Bebop infinity values
  dex/models/_projects/bebop/arbitrum/bebop_blend_arbitrum_trades.sql
  dex/models/_projects/bebop/base/bebop_blend_base_trades.sql
  dex/models/_projects/bebop/ethereum/bebop_blend_ethereum_trades.sql
  dex/models/_projects/bebop/ethereum/bebop_ethereum_trades.sql
  dex/models/_projects/bebop/polygon/bebop_blend_polygon_trades.sql
Labels: ready-for-merging

#5791 Add Paintswap on Fantom to nft.trades
  nft/models/_sector/trades/chains/_schema.yml
  nft/models/_sector/trades/chains/fantom/nft_fantom_base_trades.sql
  nft/models/_sector/trades/chains/fantom/platforms/_schema.yml
  nft/models/_sector/trades/chains/fantom/platforms/paintswap_fantom_base_trades.sql
  nft/models/_sector/trades/nft_base_trades.sql
  nft/models/_sector/trades/schema.yml
  sources/_sector/nft/trades/fantom_sources.yml
Labels: ready-for-merging, NFT

#6238 1inch-U29: hot fixes for project_swaps flow
  macros/models/_project/oneinch/project/oneinch_project_swaps_macro.sql
Labels: ready-for-merging

#6142 Nexus Mutual - products & covers
  models/nexusmutual/ethereum/covers/_schema.yml
  models/nexusmutual/ethereum/covers/nexusmutual_ethereum_covers_v1.sql
  models/nexusmutual/ethereum/covers/nexusmutual_ethereum_covers_v2.sql
  models/nexusmutual/ethereum/covers/nexusmutual_ethereum_product_information.sql
  models/nexusmutual/ethereum/covers/nexusmutual_ethereum_product_types_v2.sql
  models/nexusmutual/ethereum/covers/nexusmutual_ethereum_products_v1.sql
  models/nexusmutual/ethereum/covers/nexusmutual_ethereum_products_v2.sql
  models/nexusmutual/ethereum/covers/nexusmutual_ethereum_quotation_trades.sql
  models/nexusmutual/ethereum/nexusmutual_ethereum_product_information.sql
  models/nexusmutual/ethereum/nexusmutual_ethereum_schema.yml
  models/nexusmutual/ethereum/staking/_schema.yml
  models/nexusmutual/ethereum/staking/nexusmutual_ethereum_staking_events.sql
  sources/nexusmutual/ethereum/nexusmutual_ethereum_sources.yml
Labels: ready-for-merging

#6262 Fix price tokens and set up tests
  models/prices/prices_schema.yml
  models/prices/prices_tokens.sql
  tests/generic/not_zero_address.sql
Labels: dune team, hotfix

#6079 fixing raydium block slot (merge after transfers PR)
  solana/models/_sector/dex/raydium/raydium_v3_trades.sql
  solana/models/_sector/dex/raydium/raydium_v4_trades.sql
  solana/models/_sector/dex/raydium/schema.yml
Labels: ready-for-merging, solana

#6093 fixing phoenix dex trades (merge after transfers PR)
  solana/models/_sector/dex/phoenix/phoenix_v1_trades.sql
  solana/models/_sector/dex/phoenix/schema.yml
  solana/seeds/phoenix_solana/_schema.yml
  solana/seeds/phoenix_solana/phoenix_solana_market_metadata.csv
Labels: ready-for-merging, solana

#6244 Lifinity migrate
  solana/models/_sector/dex/lifinity/lifinity_v1_trades.sql
  solana/models/_sector/dex/lifinity/lifinity_v2_trades.sql
  solana/models/_sector/dex/lifinity/schema.yml
Labels: ready-for-merging, solana

#6270 Fix prices.usd
  models/prices/prices_tokens.sql
Labels: ready-for-merging

#6267 Fix for balancer.bpt_prices
  macros/models/_project/balancer/balancer_bpt_prices_macro.sql
Labels: ready-for-merging

#6245 Solana dex trades: enrichment + base trades setup
  macros/generic-tests/check_column_types_macro.sql
  solana/models/_sector/dex/dex_solana_base_trades.sql
  solana/models/_sector/dex/dex_solana_schema.yml
  solana/models/_sector/dex/dex_solana_trades.sql
Labels: ready-for-merging, solana

#6218 add missing factory to curve pools
  dex/models/_projects/curvefi/ethereum/_schema.yml
  dex/models/_projects/curvefi/ethereum/curvefi_ethereum_view_pools.sql
  sources/curvefi/ethereum/curvefi_ethereum_sources.yml
Labels: ready-for-merging

#6192 zeroex - model updates on gasless txns - ethereum
  dex/models/_projects/zeroex/ethereum/zeroex_ethereum_api_fills.sql
  dex/seeds/_project/zeroex/ethereum/zeroex_ethereum_api_fills_sample.csv
Labels: ready-for-merging

#6253 Add OpenSea Blast trades
  nft/models/_sector/trades/chains/blast/nft_blast_base_trades.sql
  nft/models/_sector/trades/chains/blast/platforms/_schema.yml
  nft/models/_sector/trades/chains/blast/platforms/opensea_v4_blast_base_trades.sql
  sources/seaport/blast/seaport_blast_sources.yml
Labels: easy, NFT

#6260 Add Fantasy, eesee & Chikn to `nft.marketplaces_info`
  nft/models/nft_metrics/nft_marketplaces_info.sql
Labels: easy, ready-for-merging, NFT

#6272 create `nft_fantom.wash_trades`
  nft/models/_sector/wash_trades/_schema.yml
  nft/models/_sector/wash_trades/chains/nft_fantom_wash_trades.sql
  nft/models/_sector/wash_trades/nft_wash_trades.sql
  sources/_subprojects/spellbook/_sources.yml
Labels: easy, ready-for-merging, NFT

#6264 Add Element's aggregator on missing chains
  nft/models/_sector/aggregators/_schema.yml
  nft/models/_sector/aggregators/chains/nft_arbitrum_aggregators.sql
  nft/models/_sector/aggregators/chains/nft_avalanche_c_aggregators.sql
  nft/models/_sector/aggregators/chains/nft_base_aggregators.sql
  nft/models/_sector/aggregators/chains/nft_blast_aggregators.sql
  nft/models/_sector/aggregators/chains/nft_bnb_aggregators.sql
  nft/models/_sector/aggregators/chains/nft_linea_aggregators.sql
  nft/models/_sector/aggregators/chains/nft_mantle_aggregators.sql
  nft/models/_sector/aggregators/chains/nft_optimism_aggregators.sql
  nft/models/_sector/aggregators/chains/nft_polygon_aggregators.sql
  nft/models/_sector/aggregators/chains/nft_scroll_aggregators.sql
  nft/models/_sector/aggregators/chains/nft_zksync_aggregators.sql
  nft/models/_sector/aggregators/nft_aggregators.sql
Labels: ready-for-merging, NFT

#6240 Add SLIZ token
  models/prices/arbitrum/prices_arbitrum_tokens.sql
Labels: easy, ready-for-merging

#6237 adding m-btc and solvBTC prices in prices_linea_tokens.sql
  models/prices/linea/prices_linea_tokens.sql
  scripts/token_checker.py
Labels: easy, ready-for-merging

#6225 Add QUARTZ token to prices.usd table
  models/prices/ethereum/prices_ethereum_tokens.sql
Labels: easy, ready-for-merging

#6261 fix referral duplicates
  models/_sector/referral/rewards/referral_rewards.sql
Labels: ready-for-merging

#6212 evms.info updates
  models/evms/evms_info.sql
  models/evms/evms_schema.yml
Labels: easy, ready-for-merging
