Repository duneanalytics/spellbook, pull requests merged in 2024-11, with the labels that each got.

#7087 exclude failing boost model
  dbt_subprojects/daily_spellbook/models/boost/boost_deployed.sql
Labels: ready-for-merging, hotfix, dbt: daily

#7085 metrics: add solana to tx metrics
  dbt_subprojects/daily_spellbook/models/_metrics/transactions/metrics_transactions_daily.sql
Labels: ready-for-merging, dune team, dbt: daily

#7088 make index models views
  dbt_subprojects/daily_spellbook/models/_metrics/dune_index/metrics_dune_index_daily.sql
  dbt_subprojects/daily_spellbook/models/_metrics/fees/metrics_fees_index_daily.sql
  dbt_subprojects/daily_spellbook/models/_metrics/transactions/metrics_transactions_index_daily.sql
  dbt_subprojects/daily_spellbook/models/_metrics/transfers/metrics_transfers_index_daily.sql
Labels: ready-for-merging, dune team, dbt: daily

#7100 change dune index baseline to 2018
  dbt_subprojects/daily_spellbook/models/_metrics/fees/metrics_fees_index_daily.sql
  dbt_subprojects/daily_spellbook/models/_metrics/transactions/metrics_transactions_index_daily.sql
  dbt_subprojects/daily_spellbook/models/_metrics/transfers/metrics_transfers_index_daily.sql
Labels: ready-for-review, dune team

#7070 remove goerli from evms models
  dbt_subprojects/daily_spellbook/models/evms/evms_blocks.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_contracts.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_creation_traces.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_erc1155_approvalsforall.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_erc1155_transfersbatch.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_erc1155_transferssingle.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_erc20_approvals.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_erc20_transfers.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_erc721_approvals.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_erc721_approvalsforall.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_erc721_transfers.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_logs.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_logs_decoded.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_schema.yml
  dbt_subprojects/daily_spellbook/models/evms/evms_traces.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_traces_decoded.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_transactions.sql
Labels: easy, ready-for-merging, dbt: daily

#7101 fix: sol transfer model merge strategy
  dbt_subprojects/solana/macros/_sector/transfers/solana_sol_transfers_macro.sql
Labels: ready-for-review, dbt: solana

#7095 Update test table schema example
  README.md
Labels: easy, ready-for-merging

#7104 Update transfer metrics aggregation to daily
  dbt_subprojects/daily_spellbook/models/_metrics/transactions/metrics_transactions_daily.sql
  dbt_subprojects/daily_spellbook/models/_metrics/transfers/_schema.yml
  dbt_subprojects/daily_spellbook/models/_metrics/transfers/metrics_net_solana_transfers_daily.sql
  dbt_subprojects/daily_spellbook/models/_metrics/transfers/metrics_net_transfers_daily.sql
  dbt_subprojects/daily_spellbook/models/_metrics/transfers/metrics_transfers_daily.sql
Labels: ready-for-merging, dune team, dbt: daily

#7098 add stataAvaUSDC and GYD on AVAX to tokens.erc20
  dbt_subprojects/daily_spellbook/models/gyroscope/gyroscope_gyro_tokens.sql
  dbt_subprojects/tokens/models/tokens/avalanche_c/tokens_avalanche_c_erc20.sql
Labels: easy, ready-for-merging

#7099 Add ALB token to base price tokens
  dbt_subprojects/tokens/models/prices/base/prices_base_tokens.sql
Labels: ready-for-merging, dbt: tokens

#7102 DUX-692 View for `prices.minute` and `prices.solana_hour/day/minute`
  dbt_subprojects/tokens/models/prices/_schema.yml
  dbt_subprojects/tokens/models/prices/prices_minute.sql
  dbt_subprojects/tokens/models/prices/prices_solana_day.sql
  dbt_subprojects/tokens/models/prices/prices_solana_hour.sql
  sources/_datasets/prices/_sources.yml
Labels: ready-for-merging, dune team, dbt: tokens

#7097 Create safe_arbitrum_balances
  dbt_subprojects/hourly_spellbook/models/_project/safe/arbitrum/safe_arbitrum_balances.sql
  dbt_subprojects/hourly_spellbook/models/_project/safe/arbitrum/safe_arbitrum_schema.yml
Labels: ready-for-merging

#7103 CoW Protocol - Update solver addresses
  dbt_subprojects/hourly_spellbook/models/_project/cow_protocol/arbitrum/cow_protocol_arbitrum_solvers.sql
  dbt_subprojects/hourly_spellbook/models/_project/cow_protocol/ethereum/cow_protocol_ethereum_solvers.sql
Labels: ready-for-merging, dbt: hourly

#7082 tag morph blobs
  dbt_subprojects/hourly_spellbook/models/_sector/blobs/ethereum/blobs_submitters.sql
Labels: easy, ready-for-merging, dbt: hourly

#7096 Add Hyperjump trades
  dbt_subprojects/dex/models/dex_info.sql
  dbt_subprojects/dex/models/trades/bnb/_schema.yml
  dbt_subprojects/dex/models/trades/bnb/dex_bnb_base_trades.sql
  dbt_subprojects/dex/models/trades/bnb/platforms/hyperjump_bnb_base_trades.sql
  dbt_subprojects/dex/seeds/trades/_schema.yml
  dbt_subprojects/dex/seeds/trades/hyperjump_bnb_base_trades_seed.csv
  sources/_sector/dex/trades/bnb/_sources.yml
Labels: ready-for-merging, dbt: dex

#7038 add optimism velodrome v2 concentrated liquidity pool
  dbt_subprojects/dex/models/trades/optimism/platforms/velodrome_optimism_base_trades.sql
  dbt_subprojects/dex/seeds/trades/velodrome_optimism_base_trades_seed.csv
Labels: ready-for-merging, dbt: dex

#7094 fix: token22 mint address
  dbt_subprojects/solana/macros/_sector/transfers/solana_token22_spl_transfers_macro.sql
Labels: ready-for-merging, dbt: solana

#7108 Tag more blob submitters
  dbt_subprojects/hourly_spellbook/models/_sector/blobs/ethereum/blobs_submitters.sql
Labels: ready-for-merging, dbt: hourly

#7111 update index multiplier to 10
  dbt_subprojects/daily_spellbook/models/_metrics/dune_index/metrics_dune_index_daily.sql
  dbt_subprojects/daily_spellbook/models/_metrics/fees/metrics_fees_index_daily.sql
  dbt_subprojects/daily_spellbook/models/_metrics/transactions/metrics_transactions_index_daily.sql
  dbt_subprojects/daily_spellbook/models/_metrics/transfers/metrics_transfers_index_daily.sql
Labels: ready-for-merging, dune team, dbt: daily

#7105 metrics: add btc to all spells
  dbt_subprojects/daily_spellbook/models/_metrics/fees/metrics_gas_fees_daily.sql
  dbt_subprojects/daily_spellbook/models/_metrics/transactions/metrics_transactions_daily.sql
  dbt_subprojects/daily_spellbook/models/_metrics/transfers/_schema.yml
  dbt_subprojects/daily_spellbook/models/_metrics/transfers/metrics_net_bitcoin_transfers_daily.sql
  dbt_subprojects/daily_spellbook/models/_metrics/transfers/metrics_transfers_daily.sql
  sources/_subprojects_outputs/tokens/transfers.yml
Labels: ready-for-review, dune team, dbt: daily

#7114 Optimize zeroex_ethereum_native_fills
  dbt_subprojects/dex/models/_projects/zeroex/ethereum/zeroex_ethereum_native_fills.sql
Labels: ready-for-merging, dbt: dex

#7122 feat: Add wrap action to native sol transfers
  dbt_subprojects/solana/macros/_sector/transfers/solana_sol_transfers_macro.sql
Labels: ready-for-merging, dbt: solana

#7119 Fix solana dex.trades issue
  dbt_subprojects/solana/models/_sector/dex/dex_solana_base_trades.sql
  dbt_subprojects/solana/models/_sector/dex/raydium/raydium_v3_base_trades.sql
  dbt_subprojects/solana/models/_sector/dex/raydium/raydium_v4_base_trades.sql
  dbt_subprojects/solana/models/_sector/transfers/backfills/sol_transfers/tokens_solana_sol_transfers_current.sql
Labels: ready-for-merging, dbt: solana

#7123 metrics: filter out wrap actions in solana transfers
  dbt_subprojects/daily_spellbook/models/_metrics/transfers/metrics_net_solana_transfers_daily.sql
Labels: ready-for-merging, dbt: daily

#7124 metrics: update transaction source to only pull tx with transfers
  dbt_subprojects/daily_spellbook/models/_metrics/transactions/metrics_transactions_daily.sql
Labels: in review, dbt: daily

#7112 add bloom bot
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/_schema.yml
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/platforms/bloom_solana_bot_trades.sql
  dbt_subprojects/solana/seeds/bloom/bloom_solana_trades_seed.csv
Labels: ready-for-merging, dbt: solana

#7083 fix: make bonkbot spellbook entries unique again
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/platforms/bonkbot_solana_bot_trades.sql
Labels: ready-for-merging, dbt: solana

#7041 add falcon trading bot
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/_schema.yml
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/dex_solana_bot_trades.sql
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/platforms/falcon_solana_bot_trades.sql
  dbt_subprojects/solana/seeds/falcon/falcon_solana_trades_seed.csv
Labels: ready-for-merging, dbt: solana

#7069 add pinkpunk
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/_schema.yml
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/dex_solana_bot_trades.sql
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/platforms/pinkpunk_solana_bot_trades.sql
  dbt_subprojects/solana/seeds/pinkpunk/pinkpunk_solana_trades_seed.csv
Labels: ready-for-merging, blocked, dbt: solana

#7143 deduplicate king_of_destiny
  dbt_subprojects/nft/models/_sector/trades/chains/nova/platforms/king_of_destiny_nova_base_trades.sql
Labels: hotfix

#7146 kyberswap aggregator: filter out troubled rows
  dbt_subprojects/dex/models/_projects/kyberswap/arbitrum/kyberswap_aggregator_arbitrum_trades.sql
  dbt_subprojects/dex/models/_projects/kyberswap/base/kyberswap_aggregator_base_trades.sql
  dbt_subprojects/dex/models/_projects/kyberswap/polygon/kyberswap_aggregator_polygon_trades.sql
Labels: hotfix, dbt: dex

#7140 Add Ronin Safes
  dbt_subprojects/hourly_spellbook/models/_project/safe/ronin/safe_ronin_eth_transfers.sql
  dbt_subprojects/hourly_spellbook/models/_project/safe/ronin/safe_ronin_safes.sql
  dbt_subprojects/hourly_spellbook/models/_project/safe/ronin/safe_ronin_schema.yml
  dbt_subprojects/hourly_spellbook/models/_project/safe/ronin/safe_ronin_singletons.sql
  dbt_subprojects/hourly_spellbook/models/_project/safe/ronin/safe_ronin_transactions.sql
  sources/safe/ronin/safe_ronin_sources.yml
Labels: ready-for-merging, dbt: hourly

#7106 Add back missing swaps for orca_whirlpool.trades
  dbt_subprojects/solana/models/_sector/dex/orca_whirlpool/orca_whirlpool_base_trades.sql
  dbt_subprojects/solana/models/_sector/dex/orca_whirlpool/orca_whirlpool_v2_base_trades.sql
Labels: ready-for-merging, dbt: solana

#7145 chore: add new fee wallet for banana gun solana [EASY]
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/platforms/banana_gun_solana_bot_trades.sql
Labels: ready-for-merging, dbt: solana

#7134 solana stablecoin balances
  dbt_subprojects/solana/models/tokens/solana/_schema.yml
  dbt_subprojects/solana/models/tokens/solana/tokens_solana_stablecoins.sql
Labels: ready-for-merging, dbt: solana

#7132 Update prices_ronin_tokens.sql
  dbt_subprojects/tokens/models/prices/ronin/prices_ronin_tokens.sql
Labels: ready-for-merging, dbt: tokens

#7147 add bob tokens
  dbt_subprojects/tokens/models/tokens/bob/tokens_bob_erc20.sql
  dbt_subprojects/tokens/models/tokens/bob/tokens_bob_erc20_stablecoins.sql
  dbt_subprojects/tokens/models/tokens/bob/tokens_bob_schema.yml
Labels: ready-for-merging, dbt: tokens

#7148 Update prices_ethereum_tokens.sql
  dbt_subprojects/tokens/models/prices/ethereum/prices_ethereum_tokens.sql
Labels: ready-for-merging, dbt: tokens

#7150 Update tokens_ethereum_erc20.sql
  dbt_subprojects/tokens/models/tokens/ethereum/tokens_ethereum_erc20.sql
Labels: ready-for-merging, dbt: tokens

#7151 Update prices_ethereum_tokens.sql
  dbt_subprojects/tokens/models/prices/ethereum/prices_ethereum_tokens.sql
Labels: ready-for-merging, dbt: tokens

#7149 Update prices_bnb_tokens.sql
  dbt_subprojects/tokens/models/prices/bnb/prices_bnb_tokens.sql
Labels: ready-for-merging, dbt: tokens

#7133 Create Ronin Transfers
  dbt_subprojects/tokens/models/transfers_and_balances/ronin/_schema.yml
  dbt_subprojects/tokens/models/transfers_and_balances/ronin/tokens_ronin_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/ronin/tokens_ronin_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/tokens_transfers.sql
Labels: ready-for-merging, dbt: tokens

#7138 [Easy] Update metadata files for new mints
  dbt_subprojects/nft/models/nft_metrics/ethereum/metadata/nft_ethereum_metadata_xcopy_collections.sql
Labels: easy, ready-for-merging, dbt: nft

#7141 1inch-U47: project.* lineage updates
  dbt_subprojects/daily_spellbook/macros/project/oneinch/_meta/oneinch_mapped_contracts_macro.sql
  dbt_subprojects/daily_spellbook/macros/project/oneinch/project/oneinch_project_calls_macro.sql
Labels: ready-for-merging, dbt: daily

#7142 Update token checker
  scripts/check_tokens.py
  scripts/token_checker.py
Labels: ready-for-merging

#7153 0x native fills: fix column order
  dbt_subprojects/dex/models/_projects/zeroex/arbitrum/zeroex_arbitrum_native_fills.sql
  dbt_subprojects/dex/models/_projects/zeroex/zeroex_native_fills.sql
Labels: hotfix, dbt: dex

#7158 add bob tokens to tokens_erc20
  dbt_subprojects/tokens/models/tokens/tokens_erc20.sql
Labels: ready-for-merging, dbt: tokens

#7160 1inch-U49: preparing zksync
  dbt_subprojects/dex/macros/models/_project/oneinch/_meta/oneinch_blockchain_macro.sql
Labels: ready-for-merging, dbt: dex

#7152 Added quickswap( zkevm)to dex trades
  .gitignore
  dbt_subprojects/dex/models/sandwiches/_schema.yml
  dbt_subprojects/dex/models/trades/zkevm/_schema.yml
  dbt_subprojects/dex/models/trades/zkevm/dex_zkevm_base_trades.sql
  dbt_subprojects/dex/models/trades/zkevm/platforms/quickswap_v3_zkevm_base_trades.sql
  sources/_sector/dex/trades/zkevm/_sources.yml
Labels: ready-for-merging, dbt: dex

#7159 1inch-U48: updates for project.* linage
  dbt_subprojects/daily_spellbook/macros/project/oneinch/_meta/oneinch_mapped_contracts_macro.sql
  dbt_subprojects/daily_spellbook/macros/project/oneinch/project/oneinch_project_calls_macro.sql
  dbt_subprojects/daily_spellbook/macros/project/oneinch/project/oneinch_project_orders_macro.sql
  dbt_subprojects/daily_spellbook/macros/project/oneinch/project/oneinch_project_swaps_macro.sql
  dbt_subprojects/daily_spellbook/models/_projects/oneinch/arbitrum/project/oneinch_arbitrum_project_swaps.sql
  dbt_subprojects/daily_spellbook/models/_projects/oneinch/avalanche_c/project/oneinch_avalanche_c_project_swaps.sql
  dbt_subprojects/daily_spellbook/models/_projects/oneinch/base/project/oneinch_base_project_swaps.sql
  dbt_subprojects/daily_spellbook/models/_projects/oneinch/bnb/project/oneinch_bnb_project_swaps.sql
  dbt_subprojects/daily_spellbook/models/_projects/oneinch/ethereum/project/oneinch_ethereum_project_swaps.sql
  dbt_subprojects/daily_spellbook/models/_projects/oneinch/fantom/project/oneinch_fantom_project_swaps.sql
  dbt_subprojects/daily_spellbook/models/_projects/oneinch/gnosis/project/oneinch_gnosis_project_swaps.sql
  dbt_subprojects/daily_spellbook/models/_projects/oneinch/oneinch_project_swaps.sql
  dbt_subprojects/daily_spellbook/models/_projects/oneinch/optimism/project/oneinch_optimism_project_swaps.sql
  dbt_subprojects/daily_spellbook/models/_projects/oneinch/polygon/project/oneinch_polygon_project_swaps.sql
  dbt_subprojects/daily_spellbook/models/_projects/oneinch/zksync/project/oneinch_zksync_project_swaps.sql
Labels: ready-for-merging, dbt: daily

#7176 fix evms info
  dbt_subprojects/daily_spellbook/models/evms/evms_info.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_schema.yml
Labels: hotfix, dbt: daily

#7171 Add sei to dex.atomic_arbitrages and sandwiches
  dbt_subprojects/dex/models/arbitrages/_schema.yml
  dbt_subprojects/dex/models/arbitrages/dex_atomic_arbitrages.sql
  dbt_subprojects/dex/models/arbitrages/sei/dex_sei_atomic_arbitrages.sql
  dbt_subprojects/dex/models/sandwiches/_schema.yml
  dbt_subprojects/dex/models/sandwiches/dex_sandwiched.sql
  dbt_subprojects/dex/models/sandwiches/dex_sandwiches.sql
  dbt_subprojects/dex/models/sandwiches/sei/dex_sei_sandwiched.sql
  dbt_subprojects/dex/models/sandwiches/sei/dex_sei_sandwiches.sql
Labels: ready-for-merging, dbt: dex

#7178 zereox - update zid selection in macro_v2
  dbt_subprojects/dex/macros/models/_project/zeroex/zeroex_v2.sql
Labels: ready-for-merging, dbt: dex

#7161 zeroex - macro for v1 fills
  dbt_subprojects/dex/macros/models/_project/zeroex/zeroex_v1_api_fills.sql
  dbt_subprojects/dex/models/_projects/zeroex/base/zeroex_base_api_fills.sql
  dbt_subprojects/dex/models/_projects/zeroex/ethereum/zeroex_ethereum_api_fills.sql
  dbt_subprojects/dex/models/_projects/zeroex/ethereum/zeroex_ethereum_schema.yml
Labels: ready-for-merging, dbt: dex

#7167 add zeroex_v2_mode trades
  dbt_subprojects/dex/models/_projects/zeroex/mode/zeroex_mode_schema.yml
  dbt_subprojects/dex/models/_projects/zeroex/mode/zeroex_v2_mode_trades.sql
  dbt_subprojects/dex/models/_projects/zeroex/zeroex_api_fills_deduped.sql
  dbt_subprojects/dex/models/_projects/zeroex/zeroex_schema.yml
  dbt_subprojects/dex/seeds/_project/zeroex/mode/_schema.yml
  dbt_subprojects/dex/seeds/_project/zeroex/mode/zeroex_v2_mode_trades_sample.csv
Labels: ready-for-merging, dbt: dex

#7156 zeroex - macro for deduped fills
  dbt_subprojects/dex/macros/models/_project/zeroex/zeroex_v1_deduped_trades.sql
  dbt_subprojects/dex/models/_projects/zeroex/base/zeroex_base_api_fills_deduped.sql
  dbt_subprojects/dex/models/_projects/zeroex/base/zeroex_base_schema.yml
  dbt_subprojects/dex/models/_projects/zeroex/base/zeroex_v1_base_deduped_trades.sql
  dbt_subprojects/dex/models/_projects/zeroex/ethereum/zeroex_ethereum_schema.yml
  dbt_subprojects/dex/models/_projects/zeroex/ethereum/zeroex_v1_ethereum_deduped_trades.sql
  dbt_subprojects/dex/models/_projects/zeroex/zeroex_api_fills_deduped.sql
Labels: ready-for-merging, dbt: dex

#7177 autosniper bot
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/_schema.yml
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/dex_solana_bot_trades.sql
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/platforms/autosnipe_solana_bot_trades.sql
  dbt_subprojects/solana/seeds/autosnipe/autosnipe_solana_trades_seed.csv
Labels: ready-for-merging, dbt: solana

#7186 revert 0x enhancements: v1 fills and deduped
  dbt_subprojects/dex/macros/models/_project/zeroex/zeroex_v1_api_fills.sql
  dbt_subprojects/dex/models/_projects/zeroex/base/zeroex_base_api_fills.sql
  dbt_subprojects/dex/models/_projects/zeroex/base/zeroex_base_api_fills_deduped.sql
  dbt_subprojects/dex/models/_projects/zeroex/base/zeroex_base_schema.yml
  dbt_subprojects/dex/models/_projects/zeroex/base/zeroex_v1_base_deduped_trades.sql
  dbt_subprojects/dex/models/_projects/zeroex/ethereum/zeroex_ethereum_api_fills.sql
  dbt_subprojects/dex/models/_projects/zeroex/ethereum/zeroex_ethereum_api_fills_deduped.sql
  dbt_subprojects/dex/models/_projects/zeroex/ethereum/zeroex_ethereum_schema.yml
  dbt_subprojects/dex/models/_projects/zeroex/ethereum/zeroex_v1_ethereum_deduped_trades.sql
  dbt_subprojects/dex/models/_projects/zeroex/zeroex_api_fills_deduped.sql
Labels: hotfix, dbt: dex

#7189 Revert 0x changes: downstream is broken
  dbt_subprojects/dex/macros/models/_project/zeroex/zeroex_v2.sql
  dbt_subprojects/dex/models/_projects/zeroex/arbitrum/zeroex_arbitrum_schema.yml
  dbt_subprojects/dex/models/_projects/zeroex/arbitrum/zeroex_arbitrum_settler_trades.sql
  dbt_subprojects/dex/models/_projects/zeroex/arbitrum/zeroex_v2_arbitrum_trades.sql
  dbt_subprojects/dex/models/_projects/zeroex/avalanche_c/zeroex_avalanche_c_schema.yml
  dbt_subprojects/dex/models/_projects/zeroex/avalanche_c/zeroex_avalanche_c_settler_trades.sql
  dbt_subprojects/dex/models/_projects/zeroex/avalanche_c/zeroex_v2_avalanche_c_trades.sql
  dbt_subprojects/dex/models/_projects/zeroex/base/zeroex_v2_base_trades.sql
  dbt_subprojects/dex/models/_projects/zeroex/blast/zeroex_blast_schema.yml
  dbt_subprojects/dex/models/_projects/zeroex/blast/zeroex_blast_settler_trades.sql
  dbt_subprojects/dex/models/_projects/zeroex/blast/zeroex_v2_blast_trades.sql
  dbt_subprojects/dex/models/_projects/zeroex/ethereum/zeroex_v2_ethereum_trades.sql
  dbt_subprojects/dex/models/_projects/zeroex/mantle/zeroex_mantle_schema.yml
  dbt_subprojects/dex/models/_projects/zeroex/mantle/zeroex_mantle_settler_trades.sql
  dbt_subprojects/dex/models/_projects/zeroex/mantle/zeroex_v2_mantle_trades.sql
  dbt_subprojects/dex/models/_projects/zeroex/mode/zeroex_mode_schema.yml
  dbt_subprojects/dex/models/_projects/zeroex/mode/zeroex_v2_mode_trades.sql
  dbt_subprojects/dex/models/_projects/zeroex/polygon/zeroex_v2_polygon_trades.sql
  dbt_subprojects/dex/models/_projects/zeroex/zeroex_api_fills_deduped.sql
  dbt_subprojects/dex/models/_projects/zeroex/zeroex_schema.yml
  dbt_subprojects/dex/seeds/_project/zeroex/mode/_schema.yml
  dbt_subprojects/dex/seeds/_project/zeroex/mode/zeroex_v2_mode_trades_sample.csv
Labels: hotfix, dbt: dex

#7196 zeroex - exclude nft spells
  dbt_subprojects/dex/models/_projects/zeroex/ethereum/zeroex_ethereum_nft_fills.sql
Labels: ready-for-merging, dbt: dex

#7191 adding more rwa tokens and schema update
  dbt_subprojects/daily_spellbook/models/_sector/rwa/arbitrum/rwa_arbitrum_schema.yml
  dbt_subprojects/daily_spellbook/models/_sector/rwa/arbitrum/rwa_arbitrum_tokens.sql
Labels: ready-for-merging, dbt: daily

#7193 enable excluded boost model
  dbt_subprojects/daily_spellbook/models/boost/boost_deployed.sql
Labels: ready-for-merging, dune team, hotfix, dbt: daily

#7179 [swell] - add base (not the chain) swell rsweth withdrawals tables
  dbt_subprojects/daily_spellbook/models/swell/rsweth/ethereum/swell_rsweth_ethereum_schema.yml
  dbt_subprojects/daily_spellbook/models/swell/rsweth/ethereum/swell_rsweth_ethereum_withdrawals.sql
  dbt_subprojects/daily_spellbook/seeds/swell/rsweth/ethereum/schema.yml
  dbt_subprojects/daily_spellbook/seeds/swell/rsweth/ethereum/swell_rsweth_ethereum_withdrawals_seed.csv
  sources/swell/rsweth/ethereum/swell_rsweth_ethereum_sources.yml
Labels: ready-for-merging, dbt: daily

#7202 feat: add bitfoot solana bot trades spellbook
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/_schema.yml
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/dex_solana_bot_trades.sql
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/platforms/bitfoot_solana_bot_trades.sql
  dbt_subprojects/solana/seeds/bitfoot/bitfoot_solana_trades_seed.csv
Labels: ready-for-merging, dbt: solana

#7199 Update autosnipe_solana_bot_trades.sql
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/platforms/autosnipe_solana_bot_trades.sql
Labels: ready-for-merging, dbt: solana

#7180 feat: add banana gun evm bot trades spellbook
  dbt_subprojects/dex/models/bot_trades/_schema.yml
  dbt_subprojects/dex/models/bot_trades/banana_gun/base/banana_gun_base_bot_trades.sql
  dbt_subprojects/dex/models/bot_trades/banana_gun/ethereum/banana_gun_ethereum_bot_trades.sql
  dbt_subprojects/dex/models/bot_trades/dex_evm_bot_trades.sql
  dbt_subprojects/dex/seeds/bot_trades/banana_gun/banana_gun_base_trades_seed.csv
  dbt_subprojects/dex/seeds/bot_trades/banana_gun/banana_gun_ethereum_trades_seed.csv
  dbt_subprojects/dex/seeds/bot_trades/banana_gun/schema.yml
  dbt_subprojects/dex/tests/generic/check_bot_trades_seed.sql
Labels: ready-for-merging, dbt: dex

#7181 Feat pepeboost evm trades spellbook
  dbt_subprojects/dex/models/bot_trades/_schema.yml
  dbt_subprojects/dex/models/bot_trades/pepeboost/ethereum/pepeboost_ethereum_bot_trades.sql
  dbt_subprojects/dex/seeds/bot_trades/pepeboost/pepeboost_ethereum_trades_seed.csv
  dbt_subprojects/dex/seeds/bot_trades/pepeboost/schema.yml
Labels: ready-for-merging, dbt: dex

#7185 [CoW Protocol] Add new addresses for Fractal and Quasilabs
  dbt_subprojects/hourly_spellbook/models/_project/cow_protocol/ethereum/cow_protocol_ethereum_solvers.sql
Labels: easy, ready-for-merging, dbt: hourly

#7200 add MORPHO and legacyMORPHO tokens to base and ethereum tokens.erc20
  dbt_subprojects/tokens/models/tokens/base/tokens_base_erc20.sql
  dbt_subprojects/tokens/models/tokens/ethereum/tokens_ethereum_erc20.sql
Labels: ready-for-merging, dbt: tokens

#7190 Lido accounting CSM/stonks update
  dbt_subprojects/hourly_spellbook/models/_project/lido/accounting/ethereum/lido_accounting_ethereum_other_expenses.sql
  dbt_subprojects/hourly_spellbook/models/_project/lido/accounting/ethereum/lido_accounting_ethereum_other_income.sql
  dbt_subprojects/hourly_spellbook/models/_project/lido/accounting/ethereum/lido_accounting_ethereum_revenue.sql
Labels: ready-for-review, dbt: hourly

#7206 exclude sanctum
  dbt_subprojects/solana/models/_sector/dex/dex_solana_base_trades.sql
  dbt_subprojects/solana/models/_sector/dex/sanctum_router/sanctum_router_base_trades.sql
Labels: hotfix, dbt: solana
