Repository duneanalytics/spellbook, pull requests merged in 2024-09, with the labels that each got.

#6646 Add RCH token on the Ethereum blockchain to prices.usd
  dbt_subprojects/tokens/models/prices/ethereum/prices_ethereum_tokens.sql
Labels: easy, ready-for-merging

#6648 add sei token transfers
  dbt_subprojects/tokens/models/transfers_and_balances/sei/_schema.yml
  dbt_subprojects/tokens/models/transfers_and_balances/sei/tokens_sei_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/sei/tokens_sei_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/tokens_transfers.sql
Labels: ready-for-merging, dune team

#6649 Fix nft wallet metrics overflow error
  dbt_subprojects/nft/models/nft_metrics/ethereum/nft_ethereum_wallet_metrics.sql
Labels: ready-for-merging, dune team, hotfix

#6636 add the to_address into this spell
  dbt_subprojects/hourly_spellbook/models/_sector/blobs/ethereum/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/blobs/ethereum/ethereum_blob_submissions.sql
Labels: ready-for-merging

#6643 tag more blob posters
  dbt_subprojects/hourly_spellbook/models/_sector/blobs/ethereum/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/blobs/ethereum/blobs_submitters.sql
Labels: ready-for-merging

#6656 bebop jam on base chain: exclude failing model
  dbt_subprojects/dex/models/_projects/bebop/base/bebop_jam_base_trades.sql
Labels: hotfix, dex

#6635 add linea/mantle/bnb/scroll chains to swaap-v2 DEX
  dbt_subprojects/dex/models/trades/bnb/_schema.yml
  dbt_subprojects/dex/models/trades/bnb/dex_bnb_base_trades.sql
  dbt_subprojects/dex/models/trades/bnb/platforms/swaap_v2_bnb_base_trades.sql
  dbt_subprojects/dex/models/trades/linea/_schema.yml
  dbt_subprojects/dex/models/trades/linea/dex_linea_base_trades.sql
  dbt_subprojects/dex/models/trades/linea/platforms/swaap_v2_linea_base_trades.sql
  dbt_subprojects/dex/models/trades/mantle/_schema.yml
  dbt_subprojects/dex/models/trades/mantle/dex_mantle_base_trades.sql
  dbt_subprojects/dex/models/trades/mantle/platforms/swaap_v2_mantle_base_trades.sql
  dbt_subprojects/dex/models/trades/scroll/_schema.yml
  dbt_subprojects/dex/models/trades/scroll/dex_scroll_base_trades.sql
  dbt_subprojects/dex/models/trades/scroll/platforms/swaap_v2_scroll_base_trades.sql
  dbt_subprojects/dex/seeds/trades/_schema.yml
  dbt_subprojects/dex/seeds/trades/swaap_bnb_base_trades_seed.csv
  dbt_subprojects/dex/seeds/trades/swaap_linea_base_trades_seed.csv
  dbt_subprojects/dex/seeds/trades/swaap_mantle_base_trades_seed.csv
  dbt_subprojects/dex/seeds/trades/swaap_scroll_base_trades_seed.csv
  sources/_sector/dex/trades/bnb/_sources.yml
  sources/_sector/dex/trades/linea/_sources.yml
  sources/_sector/dex/trades/mantle/_sources.yml
  sources/_sector/dex/trades/scroll/_sources.yml
Labels: ready-for-merging

#6658 zeroex - update maker token value selection
  dbt_subprojects/dex/models/_projects/zeroex/arbitrum/zeroex_arbitrum_settler_trades.sql
  dbt_subprojects/dex/models/_projects/zeroex/avalanche_c/zeroex_avalanche_c_settler_trades.sql
  dbt_subprojects/dex/models/_projects/zeroex/bnb/zeroex_bnb_settler_trades.sql
  dbt_subprojects/dex/models/_projects/zeroex/ethereum/zeroex_ethereum_settler_trades.sql
  dbt_subprojects/dex/models/_projects/zeroex/optimism/zeroex_optimism_settler_trades.sql
  dbt_subprojects/dex/models/_projects/zeroex/polygon/zeroex_polygon_settler_trades.sql
Labels: ready-for-merging

#6605 Apply macro to safe spells (part2)
  dbt_subprojects/hourly_spellbook/macros/project/safe/safe_transactions.sql
  dbt_subprojects/hourly_spellbook/models/_project/safe/arbitrum/safe_arbitrum_transactions.sql
  dbt_subprojects/hourly_spellbook/models/_project/safe/avalanche_c/safe_avalanche_c_transactions.sql
  dbt_subprojects/hourly_spellbook/models/_project/safe/base/safe_base_transactions.sql
  dbt_subprojects/hourly_spellbook/models/_project/safe/blast/safe_blast_transactions.sql
  dbt_subprojects/hourly_spellbook/models/_project/safe/bnb/safe_bnb_transactions.sql
  dbt_subprojects/hourly_spellbook/models/_project/safe/celo/safe_celo_transactions.sql
  dbt_subprojects/hourly_spellbook/models/_project/safe/ethereum/safe_ethereum_transactions.sql
  dbt_subprojects/hourly_spellbook/models/_project/safe/fantom/safe_fantom_transactions.sql
  dbt_subprojects/hourly_spellbook/models/_project/safe/goerli/safe_goerli_transactions.sql
  dbt_subprojects/hourly_spellbook/models/_project/safe/linea/safe_linea_transactions.sql
  dbt_subprojects/hourly_spellbook/models/_project/safe/optimism/safe_optimism_transactions.sql
  dbt_subprojects/hourly_spellbook/models/_project/safe/polygon/safe_polygon_transactions.sql
  dbt_subprojects/hourly_spellbook/models/_project/safe/scroll/safe_scroll_transactions.sql
  dbt_subprojects/hourly_spellbook/models/_project/safe/zkevm/safe_zkevm_transactions.sql
  dbt_subprojects/hourly_spellbook/models/_project/safe/zksync/safe_zksync_transactions.sql
Labels: ready-for-merging

#6323 Add CEX addresses
  dbt_subprojects/hourly_spellbook/models/_sector/cex/addresses/chains/cex_evms_addresses.sql
  dbt_subprojects/hourly_spellbook/models/_sector/cex/cex_info.sql
Labels: ready-for-merging

#6655 lido accounting update
  dbt_subprojects/hourly_spellbook/models/_project/lido/lido_accounting.sql
Labels: ready-for-merging

#6651 Update balancer_cowswap_amm_ethereum_liquidity.sql
  dbt_macros/shared/balancer/balancer_liquidity_macro.sql
  dbt_subprojects/hourly_spellbook/models/_project/balancer/liquidity/ethereum/balancer_v1_ethereum_liquidity.sql
  dbt_subprojects/hourly_spellbook/models/_project/balancer_cowswap_amm/ethereum/balancer_cowswap_amm_ethereum_liquidity.sql
  dbt_subprojects/hourly_spellbook/models/_project/balancer_cowswap_amm/gnosis/balancer_cowswap_amm_gnosis_liquidity.sql
Labels: ready-for-merging

#6652 Update Scroll Rollup Economics
  dbt_subprojects/hourly_spellbook/models/_sector/rollup_economics/ethereum/l1_data_fees/chains/rollup_economics_linea_l1_data_fees.sql
  dbt_subprojects/hourly_spellbook/models/_sector/rollup_economics/ethereum/l1_data_fees/chains/rollup_economics_scroll_l1_data_fees.sql
  dbt_subprojects/hourly_spellbook/models/_sector/rollup_economics/ethereum/l1_data_fees/chains/rollup_economics_zksync_l1_data_fees.sql
  dbt_subprojects/hourly_spellbook/models/_sector/rollup_economics/ethereum/l1_verification_fees/chains/rollup_economics_linea_l1_verification_fees.sql
  dbt_subprojects/hourly_spellbook/models/_sector/rollup_economics/ethereum/l1_verification_fees/chains/rollup_economics_scroll_l1_verification_fees.sql
  dbt_subprojects/hourly_spellbook/models/_sector/rollup_economics/ethereum/l1_verification_fees/chains/rollup_economics_zksync_l1_verification_fees.sql
Labels: ready-for-merging

#6660 add chains to contract labels spell
  dbt_subprojects/daily_spellbook/models/_sector/labels/addresses/__single_category_labels__/contracts/labels_contracts.sql
  dbt_subprojects/daily_spellbook/models/_sector/labels/addresses/__single_category_labels__/contracts/labels_contracts_schema.yml
Labels: ready-for-merging

#6654 test optimized solana magiceden model
  dbt_subprojects/solana/models/_sector/nft/platforms/magiceden_mmm_solana_trades.sql
Labels: ready-for-merging, solana

#6641 Add Arb Nova & Linea to EAS (#2)
  dbt_subprojects/daily_spellbook/models/_sector/attestation/eas/_schema.yml
  dbt_subprojects/daily_spellbook/models/_sector/attestation/eas/eas_attestation_details.sql
  dbt_subprojects/daily_spellbook/models/_sector/attestation/eas/eas_attestations.sql
  dbt_subprojects/daily_spellbook/models/_sector/attestation/eas/eas_schema_details.sql
  dbt_subprojects/daily_spellbook/models/_sector/attestation/eas/eas_schemas.sql
Labels: easy, ready-for-merging

#6639 add mev addresses
  dbt_subprojects/daily_spellbook/models/addresses/ethereum/addresses_ethereum_mev.sql
  dbt_subprojects/daily_spellbook/models/addresses/ethereum/addresses_ethereum_schema.yml
Labels: easy, ready-for-merging

#6667 add back: Apply macro to safe spells (part2) (#6605)
  dbt_subprojects/hourly_spellbook/macros/project/safe/safe_transactions.sql
  dbt_subprojects/hourly_spellbook/models/_project/safe/arbitrum/safe_arbitrum_transactions.sql
  dbt_subprojects/hourly_spellbook/models/_project/safe/avalanche_c/safe_avalanche_c_transactions.sql
  dbt_subprojects/hourly_spellbook/models/_project/safe/base/safe_base_transactions.sql
  dbt_subprojects/hourly_spellbook/models/_project/safe/blast/safe_blast_transactions.sql
  dbt_subprojects/hourly_spellbook/models/_project/safe/bnb/safe_bnb_transactions.sql
  dbt_subprojects/hourly_spellbook/models/_project/safe/celo/safe_celo_transactions.sql
  dbt_subprojects/hourly_spellbook/models/_project/safe/ethereum/safe_ethereum_transactions.sql
  dbt_subprojects/hourly_spellbook/models/_project/safe/fantom/safe_fantom_transactions.sql
  dbt_subprojects/hourly_spellbook/models/_project/safe/goerli/safe_goerli_transactions.sql
  dbt_subprojects/hourly_spellbook/models/_project/safe/linea/safe_linea_transactions.sql
  dbt_subprojects/hourly_spellbook/models/_project/safe/optimism/safe_optimism_transactions.sql
  dbt_subprojects/hourly_spellbook/models/_project/safe/polygon/safe_polygon_transactions.sql
  dbt_subprojects/hourly_spellbook/models/_project/safe/scroll/safe_scroll_transactions.sql
  dbt_subprojects/hourly_spellbook/models/_project/safe/zkevm/safe_zkevm_transactions.sql
  dbt_subprojects/hourly_spellbook/models/_project/safe/zksync/safe_zksync_transactions.sql
Labels: ready-for-merging

#6678 `dex.prices_beta` initial build
  dbt_subprojects/dex/models/prices/_schema.yml
  dbt_subprojects/dex/models/prices/dex_prices_beta.sql
Labels: ready-for-merging, dune team

#6608 Arbitrum RWA user balances
  dbt_subprojects/tokens/macros/balances/balances_incremental_subset_daily.sql
  dbt_subprojects/tokens/models/rwa/arbitrum/rwa_arbitrum_balances.sql
  dbt_subprojects/tokens/models/rwa/arbitrum/rwa_arbitrum_dex_balances.sql
  dbt_subprojects/tokens/models/rwa/arbitrum/rwa_arbitrum_dex_pools.sql
  dbt_subprojects/tokens/models/rwa/arbitrum/rwa_arbitrum_schema.yml
  dbt_subprojects/tokens/models/rwa/arbitrum/rwa_arbitrum_tokens.sql
Labels: ready-for-merging

#6671 Rollup Econ - Add Calldata Gas Used
  dbt_subprojects/hourly_spellbook/models/_sector/rollup_economics/ethereum/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/rollup_economics/ethereum/rollup_economics_ethereum_l1_fees.sql
Labels: ready-for-merging

#6683 scroll chain: exclude failing models due to incident on decoded tables
  dbt_subprojects/dex/models/trades/scroll/platforms/iziswap_scroll_base_trades.sql
  dbt_subprojects/dex/models/trades/scroll/platforms/maverick_v2_scroll_base_trades.sql
  dbt_subprojects/dex/models/trades/scroll/platforms/nuri_scroll_base_trades.sql
  dbt_subprojects/dex/models/trades/scroll/platforms/sushiswap_v2_scroll_base_trades.sql
  dbt_subprojects/hourly_spellbook/models/_sector/lending/supply/scroll/platforms/aave_v3_scroll_base_supply.sql
  dbt_subprojects/hourly_spellbook/models/_sector/lending/supply/scroll/platforms/layer_bank_scroll_base_supply.sql
  dbt_subprojects/nft/models/_sector/transfers/chains/nft_scroll_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/scroll/tokens_scroll_base_transfers.sql
Labels: hotfix

#6685 Revert "exclude failing models (#6683)"
  dbt_subprojects/dex/models/trades/scroll/platforms/iziswap_scroll_base_trades.sql
  dbt_subprojects/dex/models/trades/scroll/platforms/maverick_v2_scroll_base_trades.sql
  dbt_subprojects/dex/models/trades/scroll/platforms/nuri_scroll_base_trades.sql
  dbt_subprojects/dex/models/trades/scroll/platforms/sushiswap_v2_scroll_base_trades.sql
  dbt_subprojects/hourly_spellbook/models/_sector/lending/supply/scroll/platforms/aave_v3_scroll_base_supply.sql
  dbt_subprojects/hourly_spellbook/models/_sector/lending/supply/scroll/platforms/layer_bank_scroll_base_supply.sql
  dbt_subprojects/nft/models/_sector/transfers/chains/nft_scroll_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/scroll/tokens_scroll_base_transfers.sql
Labels: hotfix

#6689 Fix broken links in readme.md
  dbt_subprojects/dex/models/trades/readme.md
Labels: ready-for-review

#6691 dex prices beta: remove hard coded time and introduce volume filter
  dbt_subprojects/dex/models/prices/dex_prices_beta.sql
Labels: in review

#6698 sushiswap arbitrum trades fix
  dbt_subprojects/dex/models/trades/arbitrum/platforms/sushiswap_v2_arbitrum_base_trades.sql
  sources/_sector/dex/trades/arbitrum/_sources.yml
Labels: hotfix

#6613 Add clipper.exchange to zkEVM
  dbt_subprojects/dex/models/_projects/clipper/clipper_trades.sql
  dbt_subprojects/dex/models/trades/zkevm/_schema.yml
  dbt_subprojects/dex/models/trades/zkevm/dex_zkevm_base_trades.sql
  dbt_subprojects/dex/models/trades/zkevm/platforms/clipper_zkevm_base_trades.sql
  dbt_subprojects/dex/seeds/trades/_schema.yml
  dbt_subprojects/dex/seeds/trades/clipper_zkevm_base_trades_seed.csv
  sources/_sector/dex/trades/zkevm/_sources.yml
  sources/_sector/dex/trades/zksync/_sources.yml
Labels: dex, ready-for-final-review

#6701 Polygon migration: from `MATIC` to `POL`
  dbt_subprojects/daily_spellbook/models/chain_info/chain_info_chain_ids.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_info.sql
  dbt_subprojects/tokens/models/prices/prices_native_tokens.sql
Labels: ready-for-review, dune team

#6672 Create `fantasy.events`
  dbt_subprojects/daily_spellbook/models/_projects/fantasy/_schema.yml
  dbt_subprojects/daily_spellbook/models/_projects/fantasy/fantasy_events.sql
  sources/_subprojects_outputs/nft/_sources.yml
  sources/_subprojects_outputs/tokens/transfers.yml
  sources/fantasy/blast/fantasy_blast_sources.yml
Labels: ready-for-review

#6707 `ethereum_blobs` exclude from prod
  dbt_subprojects/hourly_spellbook/models/_sector/blobs/ethereum/ethereum_blobs.sql
Labels: hotfix

#6719 add missing tokens to tokens.erc20
  dbt_subprojects/tokens/models/tokens/arbitrum/tokens_arbitrum_erc20.sql
  dbt_subprojects/tokens/models/tokens/base/tokens_base_erc20.sql
Labels: ready-for-merging

#6718 Update prices_ethereum_tokens.sql
  dbt_subprojects/tokens/models/prices/ethereum/prices_ethereum_tokens.sql
Labels: ready-for-merging

#6715 Update prices_zksync_tokens.sql
  dbt_subprojects/tokens/models/prices/zksync/prices_zksync_tokens.sql
Labels: ready-for-merging

#6694 add tokens
  dbt_subprojects/tokens/models/prices/base/prices_base_tokens.sql
  dbt_subprojects/tokens/models/prices/bnb/prices_bnb_tokens.sql
  dbt_subprojects/tokens/models/prices/ethereum/prices_ethereum_tokens.sql
Labels: easy, ready-for-merging

#6716 Add new chainlink weETH aggregator address
  dbt_subprojects/daily_spellbook/models/chainlink/ethereum/chainlink_ethereum_price_feeds_oracle_addresses.sql
Labels: ready-for-merging

#6662 Update Ethereum/Optimism/Polygon Safe Balance V2
  dbt_subprojects/hourly_spellbook/models/_project/safe/ethereum/safe_ethereum_balances.sql
  dbt_subprojects/hourly_spellbook/models/_project/safe/optimism/safe_optimism_balances.sql
  dbt_subprojects/hourly_spellbook/models/_project/safe/polygon/safe_polygon_balances.sql
Labels: ready-for-merging

#6665 feat: add mevX solana bot trades spellbook
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/_schema.yml
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/dex_solana_bot_trades.sql
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/platforms/mev_x_solana_bot_trades.sql
  dbt_subprojects/solana/seeds/mev_x/mev_x_solana_trades_seed.csv
Labels: ready-for-merging, solana

#6653 Introduce dex_aggregator_base_trades
  dbt_subprojects/dex/macros/models/enrich_dex_aggregator_trades.sql
  dbt_subprojects/dex/models/_projects/lifi/_schema.yml
  dbt_subprojects/dex/models/_projects/lifi/fantom/_schema.yml
  dbt_subprojects/dex/models/_projects/lifi/fantom/lifi_fantom_base_trades.sql
  dbt_subprojects/dex/models/_projects/lifi/fantom/lifi_v2_fantom_trades.sql
  dbt_subprojects/dex/models/_projects/lifi/lifi_base_trades.sql
  dbt_subprojects/dex/models/_projects/lifi/lifi_trades.sql
  dbt_subprojects/dex/models/_projects/lifi/optimism/_schema.yml
  dbt_subprojects/dex/models/_projects/lifi/optimism/lifi_optimism_base_trades.sql
  dbt_subprojects/dex/models/_projects/lifi/optimism/lifi_v2_optimism_trades.sql
  dbt_subprojects/dex/models/aggregator_trades/_schema.yml
  dbt_subprojects/dex/models/aggregator_trades/dex_aggregator_base_trades.sql
  dbt_subprojects/dex/models/aggregator_trades/dex_aggregator_trades.sql
Labels: ready-for-merging, dex

#6675 add erc1155FillAmount on Element models
  dbt_subprojects/nft/macros/platforms/element_v1_base_trades.sql
Labels: ready-for-merging, hotfix, NFT

#6711 [Easy] `fantasy.events` updates
  dbt_subprojects/daily_spellbook/models/_projects/fantasy/_schema.yml
  dbt_subprojects/daily_spellbook/models/_projects/fantasy/fantasy_events.sql
Labels: easy

#6725 move RWA balances to daily subproject
  dbt_macros/shared/balances_incremental_subset_daily.sql
  dbt_subprojects/daily_spellbook/models/_sector/rwa/arbitrum/rwa_arbitrum_balances.sql
  dbt_subprojects/daily_spellbook/models/_sector/rwa/arbitrum/rwa_arbitrum_dex_balances.sql
  dbt_subprojects/daily_spellbook/models/_sector/rwa/arbitrum/rwa_arbitrum_dex_pools.sql
  dbt_subprojects/daily_spellbook/models/_sector/rwa/arbitrum/rwa_arbitrum_schema.yml
  dbt_subprojects/daily_spellbook/models/_sector/rwa/arbitrum/rwa_arbitrum_tokens.sql
  sources/_subprojects_outputs/tokens/balances.yml
Labels: ready-for-merging, dune team

#6745 Update prices_ethereum_tokens.sql
  dbt_subprojects/tokens/models/prices/ethereum/prices_ethereum_tokens.sql
Labels: ready-for-merging

#6743 Add BAG on Blast to prices.usd
  dbt_subprojects/tokens/models/prices/blast/prices_blast_tokens.sql
Labels: ready-for-merging

#6741 Update prices_zkevm_tokens.sql
  dbt_subprojects/tokens/models/prices/zkevm/prices_zkevm_tokens.sql
Labels: ready-for-merging

#6739 Update prices_solana_tokens.sql
  dbt_subprojects/tokens/models/prices/solana/prices_solana_tokens.sql
Labels: ready-for-merging

#6737 Update prices_base_tokens.sql
  dbt_subprojects/tokens/models/prices/base/prices_base_tokens.sql
Labels: ready-for-merging

#6736 Update prices_ethereum_tokens.sql
  dbt_subprojects/tokens/models/prices/ethereum/prices_ethereum_tokens.sql
Labels: ready-for-merging

#6730 add base tokens
  dbt_subprojects/tokens/models/tokens/base/tokens_base_erc20.sql
  dbt_subprojects/tokens/models/tokens/base/tokens_base_schema.yml
Labels: ready-for-merging

#6728 add tokens & symbols
  dbt_subprojects/tokens/models/tokens/arbitrum/tokens_arbitrum_erc20.sql
  dbt_subprojects/tokens/models/tokens/arbitrum/tokens_arbitrum_schema.yml
  dbt_subprojects/tokens/models/tokens/bnb/tokens_bnb_bep20.sql
  dbt_subprojects/tokens/models/tokens/bnb/tokens_bnb_schema.yml
  dbt_subprojects/tokens/models/tokens/ethereum/tokens_ethereum_erc20.sql
  dbt_subprojects/tokens/models/tokens/ethereum/tokens_ethereum_schema.yml
  dbt_subprojects/tokens/models/tokens/optimism/tokens_optimism_erc20_curated.sql
  dbt_subprojects/tokens/models/tokens/optimism/tokens_optimism_schema.yml
  dbt_subprojects/tokens/models/tokens/polygon/tokens_polygon_erc20.sql
  dbt_subprojects/tokens/models/tokens/scroll/tokens_scroll_erc20.sql
  dbt_subprojects/tokens/models/tokens/scroll/tokens_scroll_schema.yml
Labels: ready-for-merging

#6722 add linea tokens
  dbt_subprojects/tokens/models/tokens/_schema.yml
  dbt_subprojects/tokens/models/tokens/linea/tokens_linea_erc20.sql
  dbt_subprojects/tokens/models/tokens/linea/tokens_linea_schema.yml
  dbt_subprojects/tokens/models/tokens/tokens_erc20.sql
Labels: ready-for-merging

#6622 Add upload script
  .gitignore
  scripts/collect_manifests.py
  scripts/upload-spell-metadata/readme.md
  scripts/upload-spell-metadata/upload-to-dune.py
Labels: ready-for-merging, dune team

#6721 add beethoven x and jelly swap to pools_metrics_daily
  dbt_subprojects/daily_spellbook/models/beethoven_x/fantom/beethoven_x_fantom_pools_metrics_daily.sql
  dbt_subprojects/daily_spellbook/models/beethoven_x/fantom/beethoven_x_fantom_schema.yml
  dbt_subprojects/daily_spellbook/models/jelly_swap/sei/jelly_swap_sei_pools_metrics_daily.sql
  dbt_subprojects/daily_spellbook/models/jelly_swap/sei/jelly_swap_sei_schema.yml
  sources/_subprojects_outputs/dex/_sources.yml
  sources/_subprojects_outputs/hourly_spellbook/_sources.yml
Labels: ready-for-merging

#6706 add new mev addresses
  dbt_subprojects/daily_spellbook/models/addresses/ethereum/addresses_ethereum_mev.sql
Labels: ready-for-merging

#6717 Add ether.fi to lending sector
  dbt_subprojects/hourly_spellbook/models/_sector/lending/borrow/ethereum/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/lending/borrow/ethereum/lending_ethereum_base_borrow.sql
  dbt_subprojects/hourly_spellbook/models/_sector/lending/borrow/ethereum/platforms/aave_etherfi_v3_ethereum_base_borrow.sql
  dbt_subprojects/hourly_spellbook/models/_sector/lending/flashloans/ethereum/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/lending/flashloans/ethereum/lending_ethereum_base_flashloans.sql
  dbt_subprojects/hourly_spellbook/models/_sector/lending/flashloans/ethereum/platforms/aave_etherfi_v3_ethereum_base_flashloans.sql
  dbt_subprojects/hourly_spellbook/models/_sector/lending/supply/ethereum/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/lending/supply/ethereum/lending_ethereum_base_supply.sql
  dbt_subprojects/hourly_spellbook/models/_sector/lending/supply/ethereum/platforms/aave_etherfi_v3_ethereum_base_supply.sql
  dbt_subprojects/hourly_spellbook/seeds/_sector/lending/_schema.yml
  dbt_subprojects/hourly_spellbook/seeds/_sector/lending/aave_etherfi_ethereum_base_borrow_seed.csv
  dbt_subprojects/hourly_spellbook/seeds/_sector/lending/aave_etherfi_ethereum_base_flashloans_seed.csv
  dbt_subprojects/hourly_spellbook/seeds/_sector/lending/aave_etherfi_ethereum_base_supply_seed.csv
  sources/_sector/lending/borrow/ethereum/_sources.yml
  sources/_sector/lending/flashloans/ethereum/_sources.yml
  sources/_sector/lending/supply/ethereum/_sources.yml
Labels: ready-for-merging

#6615 Tag new ETH Stakers
  dbt_subprojects/hourly_spellbook/models/_sector/staking/ethereum/entities/staking_ethereum_entities_contracts.sql
  dbt_subprojects/hourly_spellbook/models/_sector/staking/ethereum/entities/staking_ethereum_entities_depositor_addresses.sql
Labels: ready-for-merging

#6702 [Quick & easy] Update 1 metadata file for new mint
  dbt_subprojects/nft/models/nft_metrics/ethereum/metadata/nft_ethereum_metadata_xcopy_collections.sql
Labels: easy, ready-for-merging

#6744 Fix copypasta error in labels_balancer_v2_pools_polygon.sql
  dbt_subprojects/dex/models/_projects/balancer/labels/polygon/labels_balancer_v2_pools_polygon.sql
Labels: ready-for-merging

#6738 Add PancakeSwap Stableswap on Ethereum to Dex Trades
  dbt_subprojects/dex/models/trades/ethereum/platforms/pancakeswap_v2_ethereum_base_trades.sql
  dbt_subprojects/dex/seeds/trades/pancakeswap_ethereum_base_trades_seed.csv
  sources/_sector/dex/trades/ethereum/_sources.yml
Labels: ready-for-merging

#6684 zeroex - add linea [new model]
  dbt_subprojects/dex/models/_projects/zeroex/linea/zeroex_linea_schema.yml
  dbt_subprojects/dex/models/_projects/zeroex/linea/zeroex_linea_settler_trades.sql
  dbt_subprojects/dex/seeds/_project/zeroex/linea/_schema.yml
  dbt_subprojects/dex/seeds/_project/zeroex/linea/zeroex_linea_settler_trades_sample.csv
Labels: ready-for-merging

#6659 zeroex settler - revise model [base]
  dbt_subprojects/dex/models/_projects/zeroex/base/zeroex_base_settler_trades.sql
Labels: ready-for-merging

#6682 zeroex - add scroll model
  dbt_subprojects/dex/models/_projects/zeroex/scroll/zeroex_scroll_schema.yml
  dbt_subprojects/dex/models/_projects/zeroex/scroll/zeroex_scroll_settler_trades.sql
  dbt_subprojects/dex/models/_projects/zeroex/zeroex_api_fills_deduped.sql
  dbt_subprojects/dex/models/_projects/zeroex/zeroex_schema.yml
  dbt_subprojects/dex/seeds/_project/zeroex/scroll/_schema.yml
  dbt_subprojects/dex/seeds/_project/zeroex/scroll/zeroex_scroll_settler_trades_sample.csv
  dbt_subprojects/dex/seeds/_project/zeroex/zeroex_api_fills_sample.csv
Labels: ready-for-merging

#6679 zeroex settler - new model
  dbt_subprojects/dex/models/_projects/zeroex/arbitrum/zeroex_arbitrum_settler_trades.sql
  dbt_subprojects/dex/models/_projects/zeroex/avalanche_c/zeroex_avalanche_c_settler_trades.sql
  dbt_subprojects/dex/models/_projects/zeroex/bnb/zeroex_bnb_settler_trades.sql
  dbt_subprojects/dex/models/_projects/zeroex/ethereum/zeroex_ethereum_settler_trades.sql
  dbt_subprojects/dex/models/_projects/zeroex/optimism/zeroex_optimism_settler_trades.sql
  dbt_subprojects/dex/models/_projects/zeroex/polygon/zeroex_polygon_settler_trades.sql
Labels: ready-for-merging

#6746 Tag more blobbers
  dbt_subprojects/hourly_spellbook/models/_sector/blobs/ethereum/blobs_submitters.sql
Labels: easy

#6726 `dex.trades`: add HOT-AMM support
  dbt_subprojects/dex/macros/models/_project/valantis_compatible_trades.sql
  dbt_subprojects/dex/models/dex_info.sql
  dbt_subprojects/dex/models/trades/arbitrum/_schema.yml
  dbt_subprojects/dex/models/trades/arbitrum/dex_arbitrum_base_trades.sql
  dbt_subprojects/dex/models/trades/arbitrum/platforms/valantis_hot_arbitrum_base_trades.sql
  dbt_subprojects/dex/models/trades/ethereum/_schema.yml
  dbt_subprojects/dex/models/trades/ethereum/dex_ethereum_base_trades.sql
  dbt_subprojects/dex/models/trades/ethereum/platforms/valantis_hot_ethereum_base_trades.sql
  dbt_subprojects/dex/package-lock.yml
  models/README.md
  sources/_sector/dex/trades/arbitrum/_sources.yml
  sources/_sector/dex/trades/ethereum/_sources.yml
Labels: ready-for-merging, dex

#6760 Update prices_ethereum_tokens.sql
  dbt_subprojects/tokens/models/prices/bnb/prices_bnb_tokens.sql
  dbt_subprojects/tokens/models/prices/ethereum/prices_ethereum_tokens.sql
Labels: ready-for-merging

#6762 Add ZETA to prices.usd
  dbt_subprojects/tokens/models/prices/bnb/prices_bnb_tokens.sql
  dbt_subprojects/tokens/models/prices/ethereum/prices_ethereum_tokens.sql
Labels: ready-for-merging

#6780 Update prices_bnb_tokens.sql
  dbt_subprojects/tokens/models/prices/bnb/prices_bnb_tokens.sql
Labels: ready-for-merging

#6772 add blast & mantle nft transfers
  dbt_subprojects/nft/models/_sector/transfers/_schema.yml
  dbt_subprojects/nft/models/_sector/transfers/chains/nft_blast_transfers.sql
  dbt_subprojects/nft/models/_sector/transfers/chains/nft_mantle_transfers.sql
Labels: ready-for-merging

#6771 1inch-U41: fixes & redesign
  dbt_subprojects/dex/macros/models/_project/oneinch/CC/oneinch_escrow_cfg_factories_macro.sql
  dbt_subprojects/dex/macros/models/_project/oneinch/CC/oneinch_escrow_dst_creations_macro.sql
  dbt_subprojects/dex/macros/models/_project/oneinch/LOP/oneinch_lop_macro.sql
  dbt_subprojects/dex/models/_projects/oneinch/oneinch_escrow_dst_creations.sql
  dbt_subprojects/dex/models/_projects/oneinch/oneinch_swaps.sql
  sources/oneinch/arbitrum/oneinch_arbitrum_sources.yml
  sources/oneinch/avalanche_c/oneinch_avalanche_c_sources.yml
  sources/oneinch/base/oneinch_base_sources.yml
  sources/oneinch/bnb/oneinch_bnb_sources.yml
  sources/oneinch/ethereum/oneinch_ethereum_sources.yml
  sources/oneinch/gnosis/oneinch_gnosis_sources.yml
  sources/oneinch/optimism/oneinch_optimism_sources.yml
  sources/oneinch/polygon/oneinch_polygon_sources.yml
Labels: ready-for-merging

#6779 1inch-U42: added columns to project_orders linage
  dbt_subprojects/daily_spellbook/macros/project/oneinch/project/oneinch_project_orders_macro.sql
  dbt_subprojects/daily_spellbook/macros/project/oneinch/project/oneinch_project_orders_raw_logs_macro.sql
Labels: ready-for-merging

#6787 docs: fix broken link
  docs/general/sector_spell_design.md
  docs/macros/macro_overview.md
Labels: easy, ready-for-merging

#6777 Safe mantle models
  dbt_subprojects/hourly_spellbook/models/_project/safe/mantle/safe_mantle_mnt_transfers.sql
  dbt_subprojects/hourly_spellbook/models/_project/safe/mantle/safe_mantle_safes.sql
  dbt_subprojects/hourly_spellbook/models/_project/safe/mantle/safe_mantle_schema.yml
  dbt_subprojects/hourly_spellbook/models/_project/safe/mantle/safe_mantle_singletons.sql
  dbt_subprojects/hourly_spellbook/models/_project/safe/mantle/safe_mantle_transactions.sql
  dbt_subprojects/hourly_spellbook/models/_project/safe/safe_native_transfers_all.sql
  dbt_subprojects/hourly_spellbook/models/_project/safe/safe_safes_all.sql
  dbt_subprojects/hourly_spellbook/models/_project/safe/safe_schema.yml
  dbt_subprojects/hourly_spellbook/models/_project/safe/safe_transactions_all.sql
  sources/safe/mantle/safe_mantle_sources.yml
Labels: ready-for-final-review

#6801 fix epochs
  dbt_subprojects/solana/models/_sector/staking/solana/staking_solana_validator_stake_account_epochs_raw.sql
Labels: ready-for-merging

#6784 add mantle & blast nft transfers to cross-chain spell
  dbt_subprojects/nft/models/_sector/transfers/_schema.yml
  dbt_subprojects/nft/models/_sector/transfers/nft_transfers.sql
Labels: ready-for-merging

#6833 Upgrade OrderCreated and OrderUpdated Event Models (GMX)
  dbt_subprojects/daily_spellbook/models/_projects/gmx/event/arbitrum/gmx_v2_arbitrum_event_schema.yml
  dbt_subprojects/daily_spellbook/models/_projects/gmx/event/arbitrum/gmx_v2_arbitrum_order_created.sql
  dbt_subprojects/daily_spellbook/models/_projects/gmx/event/arbitrum/gmx_v2_arbitrum_order_updated.sql
  dbt_subprojects/daily_spellbook/models/_projects/gmx/event/avalanche_c/gmx_v2_avalanche_c_event_schema.yml
  dbt_subprojects/daily_spellbook/models/_projects/gmx/event/avalanche_c/gmx_v2_avalanche_c_order_created.sql
  dbt_subprojects/daily_spellbook/models/_projects/gmx/event/avalanche_c/gmx_v2_avalanche_c_order_updated.sql
  dbt_subprojects/daily_spellbook/models/_projects/gmx/event/gmx_v2_event_schema.yml
  dbt_subprojects/daily_spellbook/models/_projects/gmx/event/gmx_v2_order_created.sql
  dbt_subprojects/daily_spellbook/models/_projects/gmx/event/gmx_v2_order_updated.sql
Labels: ready-for-merging

#6821 Nexus Mutual - staking updates (#3)
  dbt_subprojects/daily_spellbook/models/nexusmutual/ethereum/staking/_schema.yml
  dbt_subprojects/daily_spellbook/models/nexusmutual/ethereum/staking/nexusmutual_ethereum_base_staking_pools.sql
  dbt_subprojects/daily_spellbook/models/nexusmutual/ethereum/staking/nexusmutual_ethereum_staking_deposit_extensions.sql
  dbt_subprojects/daily_spellbook/models/nexusmutual/ethereum/staking/nexusmutual_ethereum_staking_pools.sql
Labels: ready-for-merging

#6793 1inch-U43: added columns to project_orders linage (last step)
  dbt_subprojects/daily_spellbook/models/_projects/oneinch/oneinch_project_orders.sql
Labels: ready-for-merging

#6823 1inch-U44: updates for fusion_executors
  dbt_subprojects/dex/models/_projects/oneinch/_meta/oneinch_blockchains.sql
  dbt_subprojects/dex/models/_projects/oneinch/_meta/oneinch_fusion_executors.sql
  dbt_subprojects/dex/models/_projects/oneinch/_schema.yml
  sources/oneinch/ethereum/oneinch_ethereum_sources.yml
Labels: ready-for-merging

#6820 dex raw pools: add fee column
  dbt_subprojects/dex/models/pools/_schema.yml
  dbt_subprojects/dex/models/pools/dex_raw_pool_creations.sql
Labels: ready-for-merging

#6786 zeroex - add blast trades
  dbt_subprojects/dex/models/_projects/zeroex/blast/zeroex_blast_schema.yml
  dbt_subprojects/dex/models/_projects/zeroex/blast/zeroex_blast_settler_trades.sql
  dbt_subprojects/dex/models/_projects/zeroex/zeroex_api_fills_deduped.sql
  dbt_subprojects/dex/models/_projects/zeroex/zeroex_schema.yml
  dbt_subprojects/dex/seeds/_project/zeroex/blast/_schema.yml
  dbt_subprojects/dex/seeds/_project/zeroex/blast/zeroex_blast_settler_trades_sample.csv
Labels: ready-for-merging, dex

#6811 adding token2022 support for orca swaps
  dbt_subprojects/solana/models/_sector/dex/dex_solana_base_trades.sql
  dbt_subprojects/solana/models/_sector/dex/orca_whirlpool/orca_whirlpool_schema.yml
  dbt_subprojects/solana/models/_sector/dex/orca_whirlpool/orca_whirlpool_v2_base_trades.sql
  sources/orca_whirlpool/orca_whirlpool_trades_sources.yml
Labels: ready-for-merging, solana

#6840 add stables - gho, dyad
  dbt_subprojects/tokens/models/tokens/ethereum/tokens_ethereum_erc20_stablecoins.sql
Labels: ready-for-merging

#6842 Enable maverick v2 on zksync
  dbt_subprojects/dex/models/trades/zksync/platforms/maverick_v2_zksync_base_trades.sql
Labels: ready-for-merging

#6816 Add firebird_finance_optimism_base_trades
  dbt_subprojects/dex/models/_projects/firebird_finance/optimism/_schema.yml
  dbt_subprojects/dex/models/_projects/firebird_finance/optimism/firebird_finance_optimism_base_trades.sql
  dbt_subprojects/dex/models/_projects/firebird_finance/optimism/firebird_finance_optimism_trades.sql
  dbt_subprojects/dex/models/aggregator_trades/dex_aggregator_base_trades.sql
  dbt_subprojects/dex/models/aggregator_trades/dex_aggregator_trades.sql
Labels: ready-for-merging

#6835 add jubot
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/_schema.yml
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/platforms/jupbot_solana_bot_trades.sql
  dbt_subprojects/solana/seeds/jupbot/jupbot_solana_trades_seed.csv
Labels: ready-for-merging

#6854 dao spells: exclude due to dupes failing prod
  dbt_subprojects/daily_spellbook/models/dao/balances/dao_balances.sql
  dbt_subprojects/daily_spellbook/models/dao/balances/dao_balances_steth.sql
  dbt_subprojects/daily_spellbook/models/dao/transactions/ethereum/dao_transactions_ethereum_erc20.sql
  dbt_subprojects/daily_spellbook/models/dao/transactions/ethereum/dao_transactions_ethereum_eth.sql
Labels: hotfix

#6844 add stabble to jupiter_solana_aggregator
  dbt_subprojects/solana/models/jupiter/jupiter_solana_aggregator_swaps.sql
Labels: ready-for-merging, dex, solana
