Repository duneanalytics/spellbook, pull requests merged in 2024-10, with the labels that each got.

#6825 Tag more stakers
  dbt_subprojects/hourly_spellbook/models/_sector/staking/ethereum/entities/staking_ethereum_entities_depositor_addresses.sql
Labels: easy, ready-for-merging

#6847 `dex.prices_beta`: filter for trusted token per swap
  dbt_subprojects/dex/models/prices/_schema.yml
  dbt_subprojects/dex/models/prices/dex_prices_block.sql
Labels: ready-for-review, dune team

#6815 Lido liquidity updates
  dbt_subprojects/hourly_spellbook/models/_project/lido/liquidity/arbitrum/lido_liquidity_arbitrum_balancer_pools.sql
  dbt_subprojects/hourly_spellbook/models/_project/lido/liquidity/arbitrum/lido_liquidity_arbitrum_pancakeswap_v3_pools.sql
  dbt_subprojects/hourly_spellbook/models/_project/lido/liquidity/base/lido_liquidity_base_maverick_pools.sql
  dbt_subprojects/hourly_spellbook/models/_project/lido/liquidity/base/lido_liquidity_base_pancakeswap_v3_pools.sql
  dbt_subprojects/hourly_spellbook/models/_project/lido/liquidity/bnb/lido_liquidity_bnb_pancakeswap_v3_pools.sql
  dbt_subprojects/hourly_spellbook/models/_project/lido/liquidity/bnb/lido_liquidity_bnb_schema.yml
  dbt_subprojects/hourly_spellbook/models/_project/lido/liquidity/bnb/lido_liquidity_bnb_thena_pools.sql
  dbt_subprojects/hourly_spellbook/models/_project/lido/liquidity/ethereum/lido_liquidity_ethereum_balancer_pools.sql
  dbt_subprojects/hourly_spellbook/models/_project/lido/liquidity/ethereum/lido_liquidity_ethereum_curve_wsteth_pufeth_pool.sql
  dbt_subprojects/hourly_spellbook/models/_project/lido/liquidity/linea/lido_liquidity_linea_lynex_pools.sql
  dbt_subprojects/hourly_spellbook/models/_project/lido/liquidity/scroll/lido_liquidity_scroll_maverick_pools.sql
  dbt_subprojects/hourly_spellbook/models/_project/lido/liquidity/scroll/lido_liquidity_scroll_nuri_pools.sql
  dbt_subprojects/hourly_spellbook/models/_project/lido/liquidity/zksync/lido_liquidity_zksync_pancakeswap_v3_pools.sql
  sources/lido/liquidity/arbitrum/lido_liquidity_arbitrum_sources.yml
  sources/lido/liquidity/base/lido_liquidity_base_sources.yml
  sources/lido/liquidity/bnb/lido_liquidity_bnb_sources.yml
  sources/lido/liquidity/ethereum/lido_liquidity_ethereum_sources.yml
  sources/lido/liquidity/linea/lido_liquidity_linea_sources.yml
  sources/lido/liquidity/scroll/lido_liquidity_scroll_sources.yml
  sources/lido/liquidity/zksync/lido_liquidity_zksync_sources.yml
Labels: ready-for-merging

#6864 Add Ethereum Stakers
  dbt_subprojects/hourly_spellbook/models/_sector/staking/ethereum/entities/staking_ethereum_entities_depositor_addresses.sql
  dbt_subprojects/hourly_spellbook/models/_sector/staking/ethereum/staking_ethereum_info.sql
Labels: ready-for-merging

#6869 lido upstream liquidity updates
  dbt_subprojects/hourly_spellbook/models/_project/lido/lido_liquidity.sql
  dbt_subprojects/hourly_spellbook/models/_project/lido/liquidity/bnb/lido_liquidity_bnb_thena_pools.sql
  dbt_subprojects/hourly_spellbook/models/_project/lido/liquidity/linea/lido_liquidity_linea_lynex_pools.sql
  dbt_subprojects/hourly_spellbook/models/_project/lido/liquidity/scroll/lido_liquidity_scroll_nuri_pools.sql
Labels: ready-for-merging

#6839 Naming polygon zkevm in rollup economics
  dbt_subprojects/hourly_spellbook/models/_sector/rollup_economics/ethereum/l1_data_fees/chains/rollup_economics_zkevm_l1_data_fees.sql
  dbt_subprojects/hourly_spellbook/models/_sector/rollup_economics/ethereum/l1_verification_fees/chains/rollup_economics_zkevm_l1_verification_fees.sql
Labels: ready-for-merging

#6857 fix proxy contract address in taker on arb, poly
  dbt_subprojects/dex/models/_projects/zeroex/arbitrum/zeroex_arbitrum_api_fills.sql
  dbt_subprojects/dex/models/_projects/zeroex/arbitrum/zeroex_arbitrum_native_fills.sql
  dbt_subprojects/dex/models/_projects/zeroex/polygon/zeroex_polygon_api_fills.sql
  dbt_subprojects/dex/models/_projects/zeroex/polygon/zeroex_polygon_native_fills.sql
  dbt_subprojects/dex/seeds/_project/zeroex/polygon/zeroex_polygon_native_fills_sample.csv
Labels: ready-for-merging, dex

#6875 Revert "Stablecoin balances evms (#6826)"
  dbt_subprojects/daily_spellbook/models/_sector/stablecoins/avalance_c/stablecoins_avalanche_c_balances.sql
  dbt_subprojects/daily_spellbook/models/_sector/stablecoins/avalance_c/stablecoins_avalanche_c_schema.yml
  dbt_subprojects/daily_spellbook/models/_sector/stablecoins/base/stablecoins_base_balances.sql
  dbt_subprojects/daily_spellbook/models/_sector/stablecoins/base/stablecoins_base_schema.yml
  dbt_subprojects/daily_spellbook/models/_sector/stablecoins/ethereum/stablecoins_ethereum_balances.sql
  dbt_subprojects/daily_spellbook/models/_sector/stablecoins/ethereum/stablecoins_ethereum_schema.yml
  dbt_subprojects/daily_spellbook/models/_sector/stablecoins/linea/stablecoins_linea_balances.sql
  dbt_subprojects/daily_spellbook/models/_sector/stablecoins/linea/stablecoins_linea_schema.yml
  dbt_subprojects/daily_spellbook/models/_sector/stablecoins/polygon/stablecoins_polygon_balances.sql
  dbt_subprojects/daily_spellbook/models/_sector/stablecoins/polygon/stablecoins_polygon_schema.yml
  dbt_subprojects/daily_spellbook/models/_sector/stablecoins/scroll/stablecoins_scroll_balances.sql
  dbt_subprojects/daily_spellbook/models/_sector/stablecoins/scroll/stablecoins_scroll_schema.yml
  dbt_subprojects/tokens/models/tokens/arbitrum/tokens_arbitrum_erc20_stablecoins.sql
  dbt_subprojects/tokens/models/tokens/base/tokens_base_erc20_stablecoins.sql
  dbt_subprojects/tokens/models/tokens/blast/tokens_blast_erc20_stablecoins.sql
  sources/_subprojects_outputs/tokens/_sources.yml
  sources/_subprojects_outputs/tokens/balances.yml
Labels: hotfix

#6874 initial build: fees metrics
  dbt_subprojects/hourly_spellbook/models/_metrics/fees/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_metrics/fees/metrics_gas_fees_daily.sql
  dbt_subprojects/hourly_spellbook/models/_metrics/fees/metrics_gas_fees_stats.sql
  dbt_subprojects/hourly_spellbook/package-lock.yml
Labels: dune team

#6890 initiate tx metric spells
  dbt_subprojects/hourly_spellbook/models/_metrics/transactions/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_metrics/transactions/metrics_transactions_daily.sql
  dbt_subprojects/hourly_spellbook/models/_metrics/transactions/metrics_transactions_stats.sql
Labels: ready-for-merging, dune team

#6901 Update prices_solana_tokens.sql
  dbt_subprojects/tokens/models/prices/solana/prices_solana_tokens.sql
Labels: ready-for-merging

#6900 Add missing tokens to tokens.erc20
  dbt_subprojects/tokens/models/tokens/ethereum/tokens_ethereum_erc20.sql
  dbt_subprojects/tokens/models/tokens/gnosis/tokens_gnosis_erc20.sql
Labels: easy, ready-for-merging

#6895 docs: README
  README.md
Labels: ready-for-merging

#6883 Update dex.trades on Blast with dackieswap v2
  dbt_subprojects/dex/models/trades/blast/_schema.yml
  dbt_subprojects/dex/models/trades/blast/dex_blast_base_trades.sql
  dbt_subprojects/dex/models/trades/blast/platforms/dackieswap_v2_blast_base_trades.sql
  dbt_subprojects/dex/seeds/trades/_schema.yml
  dbt_subprojects/dex/seeds/trades/dackieswap_v2_blast_base_trades_seed.csv
  sources/_sector/dex/trades/blast/_sources.yml
Labels: ready-for-merging, dex

#6882 Add leetswap to dex.trades on Scroll
  dbt_subprojects/dex/models/trades/scroll/_schema.yml
  dbt_subprojects/dex/models/trades/scroll/dex_scroll_base_trades.sql
  dbt_subprojects/dex/models/trades/scroll/platforms/leetswap_scroll_base_trades.sql
  dbt_subprojects/dex/seeds/trades/_schema.yml
  dbt_subprojects/dex/seeds/trades/leetswap_scroll_base_trades_seed.csv
  sources/_sector/dex/trades/scroll/_sources.yml
Labels: ready-for-merging, dex

#6855 Add clipper.exchange to mantle dex trades
  dbt_subprojects/dex/models/_projects/clipper/clipper_trades.sql
  dbt_subprojects/dex/models/trades/mantle/_schema.yml
  dbt_subprojects/dex/models/trades/mantle/dex_mantle_base_trades.sql
  dbt_subprojects/dex/models/trades/mantle/platforms/clipper_mantle_base_trades.sql
  dbt_subprojects/dex/seeds/trades/_schema.yml
  dbt_subprojects/dex/seeds/trades/clipper_mantle_base_trades_seed.csv
  sources/_sector/dex/trades/mantle/_sources.yml
Labels: ready-for-merging, dex

#6910 initiate prices usd trusted tokens
  dbt_subprojects/tokens/models/prices/_schema.yml
  dbt_subprojects/tokens/models/prices/prices_usd_trusted_tokens.sql
  sources/prices/prices_sources.yml
Labels: dune team

#6907 DUX-699 remove old spark code from nft.transfers macro
  dbt_subprojects/daily_spellbook/macros/sector/fungible/fungible_transfers.sql
  dbt_subprojects/nft/macros/nft_transfers.sql
Labels: dune team

#6917 1inch-U46: changed point of view in oneinch.lop_own_trades for dex.trades
  dbt_subprojects/dex/models/_projects/oneinch/oneinch_lop_own_trades.sql
Labels: ready-for-merging, dex

#6914 Add Uniswap v3 on Mantle network
  dbt_subprojects/dex/models/trades/mantle/_schema.yml
  dbt_subprojects/dex/models/trades/mantle/dex_mantle_base_trades.sql
  dbt_subprojects/dex/models/trades/mantle/platforms/uniswap_v3_mantle_base_trades.sql
  dbt_subprojects/dex/seeds/trades/_schema.yml
  dbt_subprojects/dex/seeds/trades/uniswap_mantle_base_trades_seed.csv
  sources/_sector/dex/trades/mantle/_sources.yml
Labels: ready-for-merging, dex

#6911 Add Spacefi dex on scroll to dex.trades
  dbt_subprojects/dex/models/trades/scroll/_schema.yml
  dbt_subprojects/dex/models/trades/scroll/dex_scroll_base_trades.sql
  dbt_subprojects/dex/models/trades/scroll/platforms/spacefi_scroll_base_trades.sql
  dbt_subprojects/dex/seeds/trades/_schema.yml
  dbt_subprojects/dex/seeds/trades/spacefi_scroll_base_trades_seed.csv
  sources/_sector/dex/trades/scroll/_sources.yml
Labels: ready-for-merging, dex

#6905 Add Spartadex to dex.trades on ARB
  dbt_subprojects/dex/models/dex_info.sql
  dbt_subprojects/dex/models/trades/arbitrum/_schema.yml
  dbt_subprojects/dex/models/trades/arbitrum/dex_arbitrum_base_trades.sql
  dbt_subprojects/dex/models/trades/arbitrum/platforms/spartadex_arbitrum_base_trades.sql
  dbt_subprojects/dex/seeds/trades/_schema.yml
  dbt_subprojects/dex/seeds/trades/spartadex_arbitrum_base_trades_seed.csv
  sources/_sector/dex/trades/arbitrum/_sources.yml
Labels: ready-for-merging, dex

#6888 add zereoex mantle trades
  dbt_subprojects/dex/models/_projects/zeroex/mantle/zeroex_mantle_schema.yml
  dbt_subprojects/dex/models/_projects/zeroex/mantle/zeroex_mantle_settler_trades.sql
  dbt_subprojects/dex/models/_projects/zeroex/zeroex_api_fills_deduped.sql
  dbt_subprojects/dex/models/_projects/zeroex/zeroex_schema.yml
  dbt_subprojects/dex/models/_projects/zeroex/zeroex_trades.sql
  dbt_subprojects/dex/seeds/_project/zeroex/mantle/_schema.yml
  dbt_subprojects/dex/seeds/_project/zeroex/mantle/zeroex_mantle_settler_trades_sample.csv
Labels: ready-for-merging, dex

#6916 DUX-712: add support for xDAI native price feed (as alternative for XDAI)
  dbt_subprojects/tokens/models/prices/prices_native_tokens.sql
Labels: ready-for-merging

#6886 Stablecoin Balances - ethereum
  dbt_subprojects/daily_spellbook/models/_sector/stablecoins/ethereum/stablecoins_ethereum_balances.sql
  dbt_subprojects/daily_spellbook/models/_sector/stablecoins/ethereum/stablecoins_ethereum_schema.yml
  dbt_subprojects/tokens/models/tokens/arbitrum/tokens_arbitrum_erc20_stablecoins.sql
  dbt_subprojects/tokens/models/tokens/base/tokens_base_erc20_stablecoins.sql
  dbt_subprojects/tokens/models/tokens/blast/tokens_blast_erc20_stablecoins.sql
  sources/_subprojects_outputs/tokens/_sources.yml
  sources/_subprojects_outputs/tokens/balances.yml
Labels: ready-for-final-review

#6921 add spx6900 to prices_ethereum_tokens
  dbt_subprojects/tokens/models/prices/ethereum/prices_ethereum_tokens.sql
Labels: ready-for-merging

#6902 add tokens to price lists
  dbt_subprojects/tokens/models/prices/arbitrum/prices_arbitrum_tokens.sql
  dbt_subprojects/tokens/models/prices/base/prices_base_tokens.sql
  dbt_subprojects/tokens/models/prices/bnb/prices_bnb_tokens.sql
  dbt_subprojects/tokens/models/prices/ethereum/prices_ethereum_tokens.sql
  dbt_subprojects/tokens/models/prices/polygon/prices_polygon_tokens.sql
Labels: ready-for-final-review

#6899 Update staking_solana_validator_stake_account_epochs_raw.sql
  dbt_subprojects/solana/models/_sector/staking/solana/staking_solana_validator_stake_account_epochs_raw.sql
Labels: ready-for-merging, solana

#6928 Add tropicalswap to dex trades
  dbt_subprojects/dex/models/dex_info.sql
  dbt_subprojects/dex/models/trades/mantle/_schema.yml
  dbt_subprojects/dex/models/trades/mantle/dex_mantle_base_trades.sql
  dbt_subprojects/dex/models/trades/mantle/platforms/tropicalswap_mantle_base_trades.sql
  dbt_subprojects/dex/seeds/trades/_schema.yml
  dbt_subprojects/dex/seeds/tropicalswap_mantle_base_trades_seed.csv
  sources/_sector/dex/trades/mantle/_sources.yml
Labels: ready-for-merging, dex

#6919 Add sushiswapv2 (zkEVM) trades
  dbt_subprojects/dex/models/trades/zkevm/_schema.yml
  dbt_subprojects/dex/models/trades/zkevm/dex_zkevm_base_trades.sql
  dbt_subprojects/dex/models/trades/zkevm/platforms/sushiswap_v2_zkevm_base_trades.sql
  dbt_subprojects/dex/seeds/trades/_schema.yml
  dbt_subprojects/dex/seeds/trades/sushiswap_zkevm_base_trades_seed.csv
  sources/_sector/dex/trades/zkevm/_sources.yml
Labels: ready-for-merging, dex

#6931 Add Solana block leaders utils
  dbt_subprojects/solana/models/solana_utils/_schema.yml
  dbt_subprojects/solana/models/solana_utils/solana_utils_block_leaders.sql
  sources/_base_sources/other/solana_base_sources.yml
Labels: solana

#6924 initiate index metrics spells
  dbt_subprojects/hourly_spellbook/models/_metrics/dune_index/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_metrics/dune_index/metrics_dune_index_daily.sql
  dbt_subprojects/hourly_spellbook/models/_metrics/dune_index/metrics_dune_index_stats.sql
  dbt_subprojects/hourly_spellbook/models/_metrics/fees/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_metrics/fees/metrics_fees_index_daily.sql
  dbt_subprojects/hourly_spellbook/models/_metrics/transactions/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_metrics/transactions/metrics_transactions_index_daily.sql
  dbt_subprojects/hourly_spellbook/models/_metrics/transfers/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_metrics/transfers/metrics_transfers_index_daily.sql
Labels: dune team

#6934 Add dackieswap v3 to dex trades on Blast
  dbt_subprojects/dex/models/trades/blast/_schema.yml
  dbt_subprojects/dex/models/trades/blast/dex_blast_base_trades.sql
  dbt_subprojects/dex/models/trades/blast/platforms/dackieswap_v3_blast_base_trades.sql
  dbt_subprojects/dex/seeds/trades/_schema.yml
  dbt_subprojects/dex/seeds/trades/dackieswap_v3_blast_base_trades_seed.csv
  sources/_sector/dex/trades/blast/_sources.yml
Labels: ready-for-merging, dex

#6936 feat: track cbBTC token on Ethereum
  dbt_subprojects/tokens/models/prices/ethereum/prices_ethereum_tokens.sql
Labels: easy, ready-for-merging

#6891 add tokens transfers for `goerli` and `sepolia`
  dbt_subprojects/tokens/models/transfers_and_balances/_schema.yml
  dbt_subprojects/tokens/models/transfers_and_balances/goerli/_schema.yml
  dbt_subprojects/tokens/models/transfers_and_balances/goerli/tokens_goerli_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/goerli/tokens_goerli_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/sepolia/_schema.yml
  dbt_subprojects/tokens/models/transfers_and_balances/sepolia/tokens_sepolia_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/sepolia/tokens_sepolia_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/tokens_transfers.sql
  sources/_base_sources/evm/sepolia_base_sources.yml
  sources/_base_sources/evm/sepolia_docs_block.md
  sources/_subprojects_outputs/tokens/transfers.yml
Labels: easy, ready-for-merging

#6927 Add MOODENG and SPX6900 token price
  dbt_subprojects/tokens/models/prices/solana/prices_solana_tokens.sql
Labels: ready-for-merging

#6308 Create `addresses.info`
  dbt_subprojects/daily_spellbook/macros/sector/addresses/addresses_info.sql
  dbt_subprojects/daily_spellbook/models/_sector/addresses/_schema.yml
  dbt_subprojects/daily_spellbook/models/_sector/addresses/addresses_info.sql
  dbt_subprojects/daily_spellbook/models/_sector/addresses/chains/_schema.yml
  dbt_subprojects/daily_spellbook/models/_sector/addresses/chains/addresses_arbitrum_info.sql
  dbt_subprojects/daily_spellbook/models/_sector/addresses/chains/addresses_avalanche_c_info.sql
  dbt_subprojects/daily_spellbook/models/_sector/addresses/chains/addresses_base_info.sql
  dbt_subprojects/daily_spellbook/models/_sector/addresses/chains/addresses_blast_info.sql
  dbt_subprojects/daily_spellbook/models/_sector/addresses/chains/addresses_bnb_info.sql
  dbt_subprojects/daily_spellbook/models/_sector/addresses/chains/addresses_celo_info.sql
  dbt_subprojects/daily_spellbook/models/_sector/addresses/chains/addresses_ethereum_info.sql
  dbt_subprojects/daily_spellbook/models/_sector/addresses/chains/addresses_fantom_info.sql
  dbt_subprojects/daily_spellbook/models/_sector/addresses/chains/addresses_gnosis_info.sql
  dbt_subprojects/daily_spellbook/models/_sector/addresses/chains/addresses_linea_info.sql
  dbt_subprojects/daily_spellbook/models/_sector/addresses/chains/addresses_optimism_info.sql
  dbt_subprojects/daily_spellbook/models/_sector/addresses/chains/addresses_polygon_info.sql
  dbt_subprojects/daily_spellbook/models/_sector/addresses/chains/addresses_scroll_info.sql
  dbt_subprojects/daily_spellbook/models/_sector/addresses/chains/addresses_zkevm_info.sql
  dbt_subprojects/daily_spellbook/models/_sector/addresses/chains/addresses_zksync_info.sql
  dbt_subprojects/daily_spellbook/models/_sector/addresses/chains/addresses_zora_info.sql
  sources/_subprojects_outputs/hourly_spellbook/_sources.yml
  sources/_subprojects_outputs/spellbook/_sources.yml
Labels: ready-for-merging

#6938 Init worldchain
  dbt_subprojects/daily_spellbook/models/evms/evms_info.sql
  dbt_subprojects/tokens/models/prices/_schema.yml
  dbt_subprojects/tokens/models/prices/prices_native_tokens.sql
  dbt_subprojects/tokens/models/prices/prices_tokens.sql
  dbt_subprojects/tokens/models/prices/prices_trusted_tokens.sql
  dbt_subprojects/tokens/models/prices/worldchain/_schema.yml
  dbt_subprojects/tokens/models/prices/worldchain/prices_worldchain_tokens.sql
  dbt_subprojects/tokens/models/tokens/_schema.yml
  dbt_subprojects/tokens/models/tokens/tokens_erc20.sql
  dbt_subprojects/tokens/models/tokens/worldchain/_schema.yml
  dbt_subprojects/tokens/models/tokens/worldchain/tokens_worldchain_erc20.sql
  sources/_base_sources/evm/worldchain_base_sources.yml
  sources/_base_sources/evm/worldchain_docs_block.md
Labels: ready-for-merging

#6940 Add uniswap worldchain trades
  dbt_subprojects/dex/models/trades/dex_base_trades.sql
  dbt_subprojects/dex/models/trades/worldchain/_schema.yml
  dbt_subprojects/dex/models/trades/worldchain/dex_worldchain_base_trades.sql
  dbt_subprojects/dex/models/trades/worldchain/platforms/uniswap_v3_worldchain_base_trades.sql
  dbt_subprojects/dex/seeds/trades/_schema.yml
  dbt_subprojects/dex/seeds/trades/tropicalswap_mantle_base_trades_seed.csv
  dbt_subprojects/dex/seeds/trades/uniswap_worldchain_base_trades_seed.csv
  sources/_sector/dex/trades/worldchain/_sources.yml
Labels: ready-for-merging, dex

#6941 Sushiswapv2 blast dex
  dbt_subprojects/dex/models/trades/blast/_schema.yml
  dbt_subprojects/dex/models/trades/blast/dex_blast_base_trades.sql
  dbt_subprojects/dex/models/trades/blast/platforms/sushiswap_v2_blast_base_trades.sql
  dbt_subprojects/dex/seeds/trades/_schema.yml
  dbt_subprojects/dex/seeds/trades/sushiswap_blast_base_trades_seed.csv
  sources/_sector/dex/trades/blast/_sources.yml
Labels: ready-for-merging, dex

#6950 `tokens.erc20` manually map correct SEI network id value
  dbt_subprojects/tokens/models/tokens/tokens_erc20.sql
Labels: dune team, hotfix

#6870 Add worldchain safes
  dbt_subprojects/hourly_spellbook/models/_project/safe/safe_native_transfers_all.sql
  dbt_subprojects/hourly_spellbook/models/_project/safe/safe_safes_all.sql
  dbt_subprojects/hourly_spellbook/models/_project/safe/safe_schema.yml
  dbt_subprojects/hourly_spellbook/models/_project/safe/safe_transactions_all.sql
  dbt_subprojects/hourly_spellbook/models/_project/safe/worldchain/safe_worldchain_eth_transfers.sql
  dbt_subprojects/hourly_spellbook/models/_project/safe/worldchain/safe_worldchain_safes.sql
  dbt_subprojects/hourly_spellbook/models/_project/safe/worldchain/safe_worldchain_schema.yml
  dbt_subprojects/hourly_spellbook/models/_project/safe/worldchain/safe_worldchain_singletons.sql
  dbt_subprojects/hourly_spellbook/models/_project/safe/worldchain/safe_worldchain_transactions.sql
  sources/safe/worldchain/safe_worldchain_sources.yml
Labels: ready-for-merging

#6945 Enable more chains for `addresses.info` - Part 1
  dbt_subprojects/daily_spellbook/models/_sector/addresses/chains/addresses_arbitrum_info.sql
  dbt_subprojects/daily_spellbook/models/_sector/addresses/chains/addresses_avalanche_c_info.sql
  dbt_subprojects/daily_spellbook/models/_sector/addresses/chains/addresses_fantom_info.sql
  dbt_subprojects/daily_spellbook/models/_sector/addresses/chains/addresses_optimism_info.sql
Labels: easy, ready-for-merging

#6947 Enable more chains for `addresses.info` - Part 2
  dbt_subprojects/daily_spellbook/models/_sector/addresses/chains/addresses_base_info.sql
  dbt_subprojects/daily_spellbook/models/_sector/addresses/chains/addresses_polygon_info.sql
  dbt_subprojects/daily_spellbook/models/_sector/addresses/chains/addresses_zksync_info.sql
Labels: easy, ready-for-merging

#6948 Enable more chains for `addresses.info` - Part 3
  dbt_subprojects/daily_spellbook/models/_sector/addresses/chains/addresses_bnb_info.sql
  dbt_subprojects/daily_spellbook/models/_sector/addresses/chains/addresses_ethereum_info.sql
Labels: easy, ready-for-merging

#6862 Added alchemy smart account addresses balances
  dbt_subprojects/daily_spellbook/models/alchemy/alchemy_smart_account_addresses.sql
  dbt_subprojects/daily_spellbook/models/alchemy/alchemy_smart_account_addresses_schema.yml
  dbt_subprojects/daily_spellbook/models/alchemy/ethereum/alchemy_ethereum_balances.sql
  dbt_subprojects/daily_spellbook/models/alchemy/ethereum/alchemy_ethereum_schema.yml
  sources/_subprojects_outputs/hourly_spellbook/_sources.yml
Labels: ready-for-review

#6873 chore: add new maestro fee wallet [EASY]
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/platforms/maestro_solana_bot_trades.sql
Labels: ready-for-merging, solana

#6952 Add worldchain into evms_info, add two more trusted tokens
  dbt_subprojects/daily_spellbook/models/evms/evms_info.sql
  dbt_subprojects/tokens/models/prices/prices_trusted_tokens.sql
  dbt_subprojects/tokens/models/prices/worldchain/prices_worldchain_tokens.sql
  dbt_subprojects/tokens/models/tokens/worldchain/tokens_worldchain_erc20.sql
Labels: ready-for-merging

#6929 Refactor evms.contracts
  dbt_subprojects/daily_spellbook/models/evms/evms_contracts.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_schema.yml
Labels: ready-for-merging

#6959 Add Dfyn Network to dex.trades
  dbt_subprojects/dex/models/dex_info.sql
  dbt_subprojects/dex/models/trades/polygon/_schema.yml
  dbt_subprojects/dex/models/trades/polygon/dex_polygon_base_trades.sql
  dbt_subprojects/dex/models/trades/polygon/platforms/dfyn_polygon_base_trades.sql
  dbt_subprojects/dex/seeds/trades/_schema.yml
  dbt_subprojects/dex/seeds/trades/dfyn_polygon_base_trades_seed.csv
  sources/_sector/dex/trades/polygon/_sources.yml
Labels: ready-for-merging, dex

#6958 zeroex - update allowance holder addresses
  dbt_subprojects/dex/models/_projects/zeroex/arbitrum/zeroex_arbitrum_settler_trades.sql
  dbt_subprojects/dex/models/_projects/zeroex/avalanche_c/zeroex_avalanche_c_settler_trades.sql
  dbt_subprojects/dex/models/_projects/zeroex/base/zeroex_base_settler_trades.sql
  dbt_subprojects/dex/models/_projects/zeroex/blast/zeroex_blast_settler_trades.sql
  dbt_subprojects/dex/models/_projects/zeroex/bnb/zeroex_bnb_settler_trades.sql
  dbt_subprojects/dex/models/_projects/zeroex/ethereum/zeroex_ethereum_settler_trades.sql
  dbt_subprojects/dex/models/_projects/zeroex/linea/zeroex_linea_settler_trades.sql
  dbt_subprojects/dex/models/_projects/zeroex/optimism/zeroex_optimism_settler_trades.sql
  dbt_subprojects/dex/models/_projects/zeroex/polygon/zeroex_polygon_settler_trades.sql
  dbt_subprojects/dex/models/_projects/zeroex/scroll/zeroex_scroll_settler_trades.sql
Labels: ready-for-merging, dex

#6896 Refactor yield_yak and unidex aggregator trades
  dbt_subprojects/dex/macros/models/_project/yield_yak_base_trades.sql
  dbt_subprojects/dex/macros/models/_project/yield_yak_trades.sql
  dbt_subprojects/dex/models/_projects/unidex/optimism/_schema.yml
  dbt_subprojects/dex/models/_projects/unidex/optimism/unidex_optimism_base_trades.sql
  dbt_subprojects/dex/models/_projects/unidex/optimism/unidex_optimism_trades.sql
  dbt_subprojects/dex/models/_projects/yield_yak/_schema.yml
  dbt_subprojects/dex/models/_projects/yield_yak/arbitrum/_schema.yml
  dbt_subprojects/dex/models/_projects/yield_yak/arbitrum/yield_yak_arbitrum_base_trades.sql
  dbt_subprojects/dex/models/_projects/yield_yak/avalanche_c/_schema.yml
  dbt_subprojects/dex/models/_projects/yield_yak/avalanche_c/yield_yak_avalanche_c_base_trades.sql
  dbt_subprojects/dex/models/_projects/yield_yak/mantle/_schema.yml
  dbt_subprojects/dex/models/_projects/yield_yak/mantle/yield_yak_mantle_base_trades.sql
  dbt_subprojects/dex/models/_projects/yield_yak/yield_yak_base_trades.sql
  dbt_subprojects/dex/models/_projects/yield_yak/yield_yak_trades.sql
  dbt_subprojects/dex/models/aggregator_trades/dex_aggregator_base_trades.sql
  dbt_subprojects/dex/models/aggregator_trades/dex_aggregator_trades.sql
Labels: ready-for-merging, dex

#6949 Upgrade GMX Event Models
  dbt_subprojects/daily_spellbook/models/_projects/gmx/event/arbitrum/gmx_v2_arbitrum_event_schema.yml
  dbt_subprojects/daily_spellbook/models/_projects/gmx/event/arbitrum/gmx_v2_arbitrum_order_created.sql
  dbt_subprojects/daily_spellbook/models/_projects/gmx/event/arbitrum/gmx_v2_arbitrum_order_updated.sql
  dbt_subprojects/daily_spellbook/models/_projects/gmx/event/arbitrum/gmx_v2_arbitrum_position_fees_collected.sql
  dbt_subprojects/daily_spellbook/models/_projects/gmx/event/arbitrum/gmx_v2_arbitrum_position_fees_info.sql
  dbt_subprojects/daily_spellbook/models/_projects/gmx/event/avalanche_c/gmx_v2_avalanche_c_event_schema.yml
  dbt_subprojects/daily_spellbook/models/_projects/gmx/event/avalanche_c/gmx_v2_avalanche_c_order_created.sql
  dbt_subprojects/daily_spellbook/models/_projects/gmx/event/avalanche_c/gmx_v2_avalanche_c_order_updated.sql
  dbt_subprojects/daily_spellbook/models/_projects/gmx/event/avalanche_c/gmx_v2_avalanche_c_position_fees_collected.sql
  dbt_subprojects/daily_spellbook/models/_projects/gmx/event/avalanche_c/gmx_v2_avalanche_c_position_fees_info.sql
  dbt_subprojects/daily_spellbook/models/_projects/gmx/event/gmx_v2_event_schema.yml
  dbt_subprojects/daily_spellbook/models/_projects/gmx/event/gmx_v2_order_created.sql
  dbt_subprojects/daily_spellbook/models/_projects/gmx/event/gmx_v2_order_frozen.sql
  dbt_subprojects/daily_spellbook/models/_projects/gmx/event/gmx_v2_order_updated.sql
  dbt_subprojects/daily_spellbook/models/_projects/gmx/event/gmx_v2_position_fees_collected.sql
  dbt_subprojects/daily_spellbook/models/_projects/gmx/event/gmx_v2_position_fees_info.sql
Labels: ready-for-merging

#6942 Added mantle to safe transactions
  dbt_subprojects/hourly_spellbook/models/_project/safe/safe_transactions_all.sql
Labels: ready-for-merging

#6937 Fix Bebop error
  dbt_subprojects/dex/models/_projects/bebop/arbitrum/bebop_jam_arbitrum_trades.sql
  dbt_subprojects/dex/models/_projects/bebop/base/bebop_jam_base_trades.sql
  dbt_subprojects/dex/models/_projects/bebop/bnb/bebop_jam_bnb_trades.sql
  dbt_subprojects/dex/models/_projects/bebop/ethereum/bebop_jam_ethereum_trades.sql
  dbt_subprojects/dex/models/_projects/bebop/optimism/bebop_jam_optimism_trades.sql
  dbt_subprojects/dex/models/_projects/bebop/polygon/bebop_jam_polygon_trades.sql
  dbt_subprojects/dex/models/_projects/bebop/scroll/bebop_jam_scroll_trades.sql
  dbt_subprojects/dex/models/_projects/bebop/zksync/bebop_jam_zksync_trades.sql
Labels: ready-for-merging, dex

#6832 Add Sei to nft_transfers
  dbt_subprojects/nft/models/_sector/transfers/_schema.yml
  dbt_subprojects/nft/models/_sector/transfers/chains/nft_sei_transfers.sql
  dbt_subprojects/nft/models/_sector/transfers/nft_transfers.sql
  sources/_sector/nft/_sources.yml
Labels: ready-for-merging, NFT

#6966 Nexus Mutual - staking updates (#4)
  dbt_subprojects/daily_spellbook/models/nexusmutual/ethereum/staking/nexusmutual_ethereum_base_staking_pools.sql
  dbt_subprojects/daily_spellbook/models/nexusmutual/ethereum/staking/nexusmutual_ethereum_staking_events.sql
  dbt_subprojects/daily_spellbook/models/nexusmutual/ethereum/staking/nexusmutual_ethereum_staking_pools.sql
Labels: ready-for-merging

#6964 Nexus Mutual - fix lido oracle feed
  dbt_subprojects/daily_spellbook/models/nexusmutual/ethereum/capital_pool/nexusmutual_ethereum_capital_pool_totals.sql
  dbt_subprojects/daily_spellbook/models/nexusmutual/ethereum/capital_pool/nexusmutual_ethereum_capital_pool_transfers.sql
Labels: ready-for-merging

#6850 feat: add ape store spellbook
  dbt_subprojects/daily_spellbook/models/ape_store/ape_store_schema.yml
  dbt_subprojects/daily_spellbook/models/ape_store/ape_store_trades.sql
  dbt_subprojects/daily_spellbook/models/ape_store/base/ape_store_base_deployments.sql
  dbt_subprojects/daily_spellbook/models/ape_store/base/ape_store_base_schema.yml
  dbt_subprojects/daily_spellbook/models/ape_store/base/ape_store_base_trades.sql
  dbt_subprojects/daily_spellbook/models/ape_store/ethereum/ape_store_ethereum_deployments.sql
  dbt_subprojects/daily_spellbook/models/ape_store/ethereum/ape_store_ethereum_schema.yml
  dbt_subprojects/daily_spellbook/models/ape_store/ethereum/ape_store_ethereum_trades.sql
  sources/ape_store/base/ape_store_base_sources.yml
  sources/ape_store/ethereum/ape_store_ethereum_sources.yml
Labels: ready-for-merging

#6968 enhance transfer metrics to group by owner key when available
  dbt_subprojects/daily_spellbook/models/_metrics/transfers/metrics_transfers_daily.sql
Labels: ready-for-merging, dune team

#6965 Tag Fuel Blob poster
  dbt_subprojects/hourly_spellbook/models/_sector/blobs/ethereum/blobs_submitters.sql
Labels: easy, ready-for-merging

#6954 Avalanche Stablecoin Balance
  dbt_subprojects/daily_spellbook/models/_sector/stablecoins/avalance_c/stablecoins_avalanche_c_balances.sql
  dbt_subprojects/daily_spellbook/models/_sector/stablecoins/avalance_c/stablecoins_avalanche_c_schema.yml
Labels: ready-for-merging, balances

#6868 Edit safe_ethereum_balances.sql with a new model
  dbt_subprojects/hourly_spellbook/models/_project/safe/ethereum/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_project/safe/ethereum/safe_ethereum_balances.sql
Labels: ready-for-merging, balances

#6926 Add Solana gas fees model
  dbt_subprojects/hourly_spellbook/models/_sector/gas/fees/gas_fees.sql
  dbt_subprojects/hourly_spellbook/models/_sector/gas/fees/solana/gas_solana_fees.sql
  dbt_subprojects/hourly_spellbook/models/_sector/gas/fees/solana/gas_solana_schema.yml
  sources/_base_sources/other/solana_base_sources.yml
  sources/_base_sources/other/solana_docs_block.md
Labels: ready-for-merging, solana

#6973 Add SCF token price
  dbt_subprojects/tokens/models/prices/ethereum/prices_ethereum_tokens.sql
  dbt_subprojects/tokens/models/prices/solana/prices_solana_tokens.sql
Labels: ready-for-merging

#6972 add wncg on bnb
  dbt_subprojects/tokens/models/prices/bnb/prices_bnb_tokens.sql
Labels: ready-for-merging

#6978 Add Tron prices tokens
  dbt_subprojects/tokens/models/prices/_schema.yml
  dbt_subprojects/tokens/models/prices/prices_tokens.sql
  dbt_subprojects/tokens/models/prices/tron/_schema.yml
  dbt_subprojects/tokens/models/prices/tron/prices_tron_tokens.sql
Labels: ready-for-merging, dune team

#6975 Nexus Mutual - deprecate old spells & convert v1 views to static tables
  dbt_subprojects/daily_spellbook/models/nexusmutual/ethereum/capital_pool/_schema.yml
  dbt_subprojects/daily_spellbook/models/nexusmutual/ethereum/capital_pool/nexusmutual_ethereum_capital_pool_eth_daily_transaction_summary.sql
  dbt_subprojects/daily_spellbook/models/nexusmutual/ethereum/claims/nexusmutual_ethereum_claims_v1.sql
  dbt_subprojects/daily_spellbook/models/nexusmutual/ethereum/claims/nexusmutual_ethereum_claims_v2.sql
  dbt_subprojects/daily_spellbook/models/nexusmutual/ethereum/covers/_schema.yml
  dbt_subprojects/daily_spellbook/models/nexusmutual/ethereum/covers/nexusmutual_ethereum_covers_v1.sql
  dbt_subprojects/daily_spellbook/models/nexusmutual/ethereum/covers/nexusmutual_ethereum_product_information.sql
Labels: ready-for-merging

#6971 Enable `addresses_events_zksync.first_funded_by` in prod
  dbt_subprojects/hourly_spellbook/models/_sector/addresses_events/addresses_events_first_funded_by.sql
  dbt_subprojects/hourly_spellbook/models/_sector/addresses_events/addresses_events_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/addresses_events/zksync/addresses_events_zksync_first_funded_by.sql
Labels: easy, ready-for-merging

#6892 add first_funded_by for `sei`, `sepolia`, `goerli` and `mantle`
  dbt_subprojects/hourly_spellbook/models/_sector/addresses_events/addresses_events_first_activity.sql
  dbt_subprojects/hourly_spellbook/models/_sector/addresses_events/addresses_events_first_funded_by.sql
  dbt_subprojects/hourly_spellbook/models/_sector/addresses_events/addresses_events_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/addresses_events/goerli/addresses_events_goerli_first_activity.sql
  dbt_subprojects/hourly_spellbook/models/_sector/addresses_events/goerli/addresses_events_goerli_first_funded_by.sql
  dbt_subprojects/hourly_spellbook/models/_sector/addresses_events/goerli/addresses_events_goerli_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/addresses_events/mantle/addresses_events_mantle_first_activity.sql
  dbt_subprojects/hourly_spellbook/models/_sector/addresses_events/mantle/addresses_events_mantle_first_funded_by.sql
  dbt_subprojects/hourly_spellbook/models/_sector/addresses_events/mantle/addresses_events_mantle_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/addresses_events/sei/addresses_events_sei_first_activity.sql
  dbt_subprojects/hourly_spellbook/models/_sector/addresses_events/sei/addresses_events_sei_first_funded_by.sql
  dbt_subprojects/hourly_spellbook/models/_sector/addresses_events/sei/addresses_events_sei_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/addresses_events/sepolia/addresses_events_sepolia_first_activity.sql
  dbt_subprojects/hourly_spellbook/models/_sector/addresses_events/sepolia/addresses_events_sepolia_first_funded_by.sql
  dbt_subprojects/hourly_spellbook/models/_sector/addresses_events/sepolia/addresses_events_sepolia_schema.yml
  sources/_subprojects_outputs/spellbook/_sources.yml
Labels: easy, ready-for-merging

#6893 add cex addresses
  dbt_subprojects/hourly_spellbook/models/_sector/cex/addresses/cex_addresses.sql
  dbt_subprojects/hourly_spellbook/models/_sector/cex/addresses/cex_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/cex/addresses/chains/bitcoin/cex_bitcoin_addresses.sql
  dbt_subprojects/hourly_spellbook/models/_sector/cex/addresses/chains/cex_evms_addresses.sql
  dbt_subprojects/hourly_spellbook/models/_sector/cex/addresses/chains/mantle/cex_mantle_addresses.sql
  dbt_subprojects/hourly_spellbook/models/_sector/cex/addresses/chains/mantle/cex_mantle_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/cex/addresses/chains/sei/cex_sei_addresses.sql
  dbt_subprojects/hourly_spellbook/models/_sector/cex/addresses/chains/sei/cex_sei_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/cex/addresses/chains/worldchain/cex_worldchain_addresses.sql
  dbt_subprojects/hourly_spellbook/models/_sector/cex/addresses/chains/worldchain/cex_worldchain_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/cex/cex_info.sql
Labels: ready-for-merging

#6976 Improve `cex.flows`
  dbt_subprojects/hourly_spellbook/macros/sector/cex/cex_flows.sql
Labels: easy, ready-for-merging

#6967 Fix small typo in balancer_cowswap_amm_ethereum_trades.sql
  dbt_subprojects/dex/models/_projects/balancer_cowswap_amm/arbitrum/balancer_cowswap_amm_arbitrum_trades.sql
  dbt_subprojects/dex/models/_projects/balancer_cowswap_amm/ethereum/balancer_cowswap_amm_ethereum_trades.sql
  dbt_subprojects/dex/models/_projects/balancer_cowswap_amm/gnosis/balancer_cowswap_amm_gnosis_trades.sql
Labels: ready-for-merging, dex

#6974 Add Yoshiexchange to dex.trades
  dbt_subprojects/dex/models/dex_info.sql
  dbt_subprojects/dex/models/trades/fantom/_schema.yml
  dbt_subprojects/dex/models/trades/fantom/dex_fantom_base_trades.sql
  dbt_subprojects/dex/models/trades/fantom/platforms/yoshiexchange_fantom_base_trades.sql
  dbt_subprojects/dex/seeds/trades/_schema.yml
  dbt_subprojects/dex/seeds/trades/yoshiexchange_fantom_base_trades_seed.csv
  sources/_sector/dex/trades/fantom/_sources.yml
Labels: ready-for-merging, dex

#6963 Add Leetswap trades to dex.trades on Polygon zkEVM
  dbt_subprojects/dex/models/trades/zkevm/_schema.yml
  dbt_subprojects/dex/models/trades/zkevm/dex_zkevm_base_trades.sql
  dbt_subprojects/dex/models/trades/zkevm/platforms/leetswap_zkevm_base_trades.sql
  dbt_subprojects/dex/seeds/trades/_schema.yml
  dbt_subprojects/dex/seeds/trades/leetswap_zkevm_base_trades_seed.csv
  sources/_sector/dex/trades/zkevm/_sources.yml
Labels: ready-for-merging, dex

#6981 Update dex.trades on blast with DYORSwap
  dbt_subprojects/dex/models/dex_info.sql
  dbt_subprojects/dex/models/trades/blast/_schema.yml
  dbt_subprojects/dex/models/trades/blast/dex_blast_base_trades.sql
  dbt_subprojects/dex/models/trades/blast/platforms/dyorswap_blast_base_trades.sql
  dbt_subprojects/dex/seeds/trades/_schema.yml
  dbt_subprojects/dex/seeds/trades/dyorswap_blast_base_trades_seed.csv
  sources/_sector/dex/trades/blast/_sources.yml
Labels: dex, ready-for-final-review

#6969 break out net transfers, use as source downstream in metrics
  dbt_subprojects/daily_spellbook/models/_metrics/transactions/metrics_transactions_daily.sql
  dbt_subprojects/daily_spellbook/models/_metrics/transfers/_schema.yml
  dbt_subprojects/daily_spellbook/models/_metrics/transfers/metrics_net_transfers.sql
  dbt_subprojects/daily_spellbook/models/_metrics/transfers/metrics_transfers_daily.sql
  sources/_subprojects_outputs/daily_spellbook/_sources.yml
Labels: ready-for-merging, dune team

#6982 re-enable solana fees
  dbt_subprojects/hourly_spellbook/models/_sector/gas/fees/solana/gas_solana_fees.sql
Labels: ready-for-merging, dune team

#6984 Revert "re-enable solana fees (#6982)"
  dbt_subprojects/hourly_spellbook/models/_sector/gas/fees/solana/gas_solana_fees.sql
Labels: hotfix

#6985 round two: re-add solana fees
  dbt_subprojects/hourly_spellbook/models/_sector/gas/fees/solana/gas_solana_fees.sql
Labels: ready-for-final-review, solana

#6863 DUX-659 prices: create prices day & hour views
  dbt_subprojects/tokens/models/prices/_schema.yml
  dbt_subprojects/tokens/models/prices/prices_day.sql
  dbt_subprojects/tokens/models/prices/prices_hour.sql
  dbt_subprojects/tokens/package-lock.yml
  sources/_datasets/prices/_sources.yml
Labels: dune team

#6989 net transfers: fix net transfer amount filter
  dbt_subprojects/daily_spellbook/models/_metrics/transactions/metrics_transactions_daily.sql
  dbt_subprojects/daily_spellbook/models/_metrics/transfers/metrics_net_transfers.sql
  dbt_subprojects/daily_spellbook/models/_metrics/transfers/metrics_transfers_daily.sql
Labels: dune team, hotfix

#7006 metrics stats: keep percents as raw decimal
  dbt_subprojects/daily_spellbook/models/_metrics/dune_index/metrics_dune_index_stats.sql
  dbt_subprojects/daily_spellbook/models/_metrics/fees/metrics_gas_fees_stats.sql
  dbt_subprojects/daily_spellbook/models/_metrics/transactions/metrics_transactions_stats.sql
  dbt_subprojects/daily_spellbook/models/_metrics/transfers/metrics_transfers_stats.sql
Labels: dune team, dbt: daily

#7005 pipenv lock
  Pipfile.lock
Labels: ready-for-merging, dune team

#6995 add tron info
  dbt_subprojects/daily_spellbook/models/evms/evms_info.sql
Labels: ready-for-merging, dbt: daily

#6961 Enable `addresses.info`
  dbt_subprojects/daily_spellbook/models/_sector/addresses/addresses_info.sql
Labels: ready-for-merging, dbt: daily

#6980 Base Stable Balances
  dbt_subprojects/daily_spellbook/models/_sector/stablecoins/base/stablecoins_base_balances.sql
  dbt_subprojects/daily_spellbook/models/_sector/stablecoins/base/stablecoins_base_schema.yml
Labels: ready-for-merging, balances, dbt: daily

#6994 Nexus Mutual - staking updates (#5)
  dbt_subprojects/daily_spellbook/models/nexusmutual/ethereum/staking/_schema.yml
  dbt_subprojects/daily_spellbook/models/nexusmutual/ethereum/staking/nexusmutual_ethereum_base_staking_pools.sql
  dbt_subprojects/daily_spellbook/models/nexusmutual/ethereum/staking/nexusmutual_ethereum_staking_pools.sql
  dbt_subprojects/daily_spellbook/models/nexusmutual/ethereum/staking/nexusmutual_ethereum_staking_rewards.sql
  sources/nexusmutual/ethereum/nexusmutual_ethereum_sources.yml
Labels: ready-for-merging, dbt: daily

#6988 Nexus Mutual - add cbBTC as capital pool and cover asset
  dbt_subprojects/daily_spellbook/models/nexusmutual/ethereum/capital_pool/_schema.yml
  dbt_subprojects/daily_spellbook/models/nexusmutual/ethereum/capital_pool/nexusmutual_ethereum_capital_pool_latest.sql
  dbt_subprojects/daily_spellbook/models/nexusmutual/ethereum/capital_pool/nexusmutual_ethereum_capital_pool_prices.sql
  dbt_subprojects/daily_spellbook/models/nexusmutual/ethereum/capital_pool/nexusmutual_ethereum_capital_pool_totals.sql
  dbt_subprojects/daily_spellbook/models/nexusmutual/ethereum/capital_pool/nexusmutual_ethereum_capital_pool_transfers.sql
  dbt_subprojects/daily_spellbook/models/nexusmutual/ethereum/claims/_schema.yml
  dbt_subprojects/daily_spellbook/models/nexusmutual/ethereum/claims/nexusmutual_ethereum_claims_paid.sql
  dbt_subprojects/daily_spellbook/models/nexusmutual/ethereum/claims/nexusmutual_ethereum_claims_v2.sql
  dbt_subprojects/daily_spellbook/models/nexusmutual/ethereum/covers/_schema.yml
  dbt_subprojects/daily_spellbook/models/nexusmutual/ethereum/covers/nexusmutual_ethereum_active_covers.sql
  dbt_subprojects/daily_spellbook/models/nexusmutual/ethereum/covers/nexusmutual_ethereum_cover_owners_agg.sql
  dbt_subprojects/daily_spellbook/models/nexusmutual/ethereum/covers/nexusmutual_ethereum_covers_daily_agg.sql
  dbt_subprojects/daily_spellbook/models/nexusmutual/ethereum/covers/nexusmutual_ethereum_covers_v2.sql
Labels: ready-for-merging, dbt: daily

#6997 CI upgrade: list modified downstream
  .github/workflows/dbt_run.yml
  scripts/list_modified_downstream.sh
Labels: ready-for-merging, dune team

#6930 Celo gas fees
  dbt_subprojects/hourly_spellbook/macros/sector/gas/fees/gas_fees.sql
  dbt_subprojects/hourly_spellbook/models/_sector/gas/fees/celo/gas_celo_fees.sql
  dbt_subprojects/hourly_spellbook/models/_sector/gas/fees/gas_fees.sql
Labels: ready-for-merging, dune team, dbt: hourly

#6983 Fix worlcoin safes
  dbt_subprojects/hourly_spellbook/models/_project/safe/worldchain/safe_worldchain_safes.sql
Labels: ready-for-merging, dbt: hourly

#6990 Tag linea's second blob posting address
  dbt_subprojects/hourly_spellbook/models/_sector/blobs/ethereum/blobs_submitters.sql
Labels: ready-for-merging, dbt: hourly

#6999 Split Solana fees
  dbt_subprojects/hourly_spellbook/models/_sector/gas/fees/solana/gas_solana_fees.sql
  dbt_subprojects/hourly_spellbook/models/_sector/gas/fees/solana/gas_solana_tx_fees.sql
  dbt_subprojects/hourly_spellbook/models/_sector/gas/fees/solana/solana_compute_limit.sql
  dbt_subprojects/hourly_spellbook/models/_sector/gas/fees/solana/solana_compute_unit_price.sql
  dbt_subprojects/hourly_spellbook/models/_sector/gas/fees/solana/solana_vote_fees.sql
Labels: dune team, ready-for-final-review, dbt: solana

#7017 remove 30 day limit on solana fees
  dbt_subprojects/hourly_spellbook/models/_sector/gas/fees/solana/gas_solana_tx_fees.sql
  dbt_subprojects/hourly_spellbook/models/_sector/gas/fees/solana/solana_compute_limit.sql
  dbt_subprojects/hourly_spellbook/models/_sector/gas/fees/solana/solana_compute_unit_price.sql
  dbt_subprojects/hourly_spellbook/models/_sector/gas/fees/solana/solana_vote_fees.sql
Labels: dune team, hotfix, dbt: hourly

#7018 do all hourly partitioning on solana fees
  dbt_subprojects/hourly_spellbook/models/_sector/gas/fees/solana/solana_compute_limit.sql
  dbt_subprojects/hourly_spellbook/models/_sector/gas/fees/solana/solana_compute_unit_price.sql
Labels: dune team, hotfix, dbt: hourly

#7019 exclude all solana fee models
  dbt_subprojects/hourly_spellbook/models/_sector/gas/fees/solana/gas_solana_tx_fees.sql
  dbt_subprojects/hourly_spellbook/models/_sector/gas/fees/solana/solana_compute_limit.sql
  dbt_subprojects/hourly_spellbook/models/_sector/gas/fees/solana/solana_compute_unit_price.sql
  dbt_subprojects/hourly_spellbook/models/_sector/gas/fees/solana/solana_vote_fees.sql
Labels: dune team, hotfix, dbt: hourly

#7024 enable solana_compute_limit model
  dbt_subprojects/hourly_spellbook/models/_sector/gas/fees/solana/solana_compute_limit.sql
Labels: dune team, dbt: hourly

#7025 enable gas_solana_tx_fees
  dbt_subprojects/hourly_spellbook/models/_sector/gas/fees/solana/gas_solana_tx_fees.sql
Labels: dune team, dbt: hourly

#7021 metrics: update baseline date for index
  dbt_subprojects/daily_spellbook/models/_metrics/fees/metrics_fees_index_daily.sql
  dbt_subprojects/daily_spellbook/models/_metrics/transactions/metrics_transactions_index_daily.sql
  dbt_subprojects/daily_spellbook/models/_metrics/transfers/metrics_transfers_index_daily.sql
Labels: ready-for-merging, dune team, dbt: daily

#7004 Add missing Eigenlayer collateral assets to ERC20 token list
  dbt_subprojects/tokens/models/tokens/ethereum/tokens_ethereum_erc20.sql
Labels: ready-for-merging, dbt: tokens

#6992 Add MACHI, pUSDB-WETH LP and YES to tokens
  dbt_subprojects/tokens/models/tokens/blast/tokens_blast_erc20.sql
Labels: ready-for-merging, dbt: tokens

#6727 Add xchange v2 ethereum trades
  dbt_subprojects/dex/models/trades/ethereum/_schema.yml
  dbt_subprojects/dex/models/trades/ethereum/dex_ethereum_base_trades.sql
  dbt_subprojects/dex/models/trades/ethereum/platforms/xchange_v2_ethereum_base_trades.sql
  dbt_subprojects/dex/seeds/trades/xchange_ethereum_base_trades_seed.csv
  sources/_sector/dex/trades/ethereum/_sources.yml
Labels: ready-for-merging, dbt: dex

#7000 Add icecreamswap v2 trades on Blast to dex trades
  dbt_subprojects/dex/models/trades/blast/_schema.yml
  dbt_subprojects/dex/models/trades/blast/dex_blast_base_trades.sql
  dbt_subprojects/dex/models/trades/blast/platforms/icecreamswap_v2_blast_base_trades.sql
  dbt_subprojects/dex/seeds/trades/_schema.yml
  dbt_subprojects/dex/seeds/trades/icecreamswap_v2_blast_base_trades_seed.csv
  sources/_sector/dex/trades/blast/_sources.yml
Labels: ready-for-merging, dbt: dex

#7023 need to make this table also refresh fully not incremental
  dbt_subprojects/solana/models/_sector/staking/solana/staking_solana_validator_stake_account_epochs.sql
Labels: ready-for-merging, dbt: solana

#6987 Add punkswap dex trades
  dbt_subprojects/dex/models/dex_info.sql
  dbt_subprojects/dex/models/trades/scroll/_schema.yml
  dbt_subprojects/dex/models/trades/scroll/dex_scroll_base_trades.sql
  dbt_subprojects/dex/models/trades/scroll/platforms/punkswap_scroll_base_trades.sql
  dbt_subprojects/dex/seeds/trades/_schema.yml
  dbt_subprojects/dex/seeds/trades/punkswap_scroll_base_trades_seed.csv
  sources/_sector/dex/trades/scroll/_sources.yml
Labels: ready-for-merging, dbt: dex

#7016 Add ORO token address to worldchain
  dbt_subprojects/tokens/models/tokens/worldchain/tokens_worldchain_erc20.sql
Labels: easy, ready-for-merging

#6957 initiate kaia in spellbook
  dbt_subprojects/daily_spellbook/models/evms/evms_info.sql
  dbt_subprojects/tokens/models/prices/_schema.yml
  dbt_subprojects/tokens/models/prices/kaia/_schema.yml
  dbt_subprojects/tokens/models/prices/kaia/prices_kaia_tokens.sql
  dbt_subprojects/tokens/models/prices/prices_native_tokens.sql
  dbt_subprojects/tokens/models/prices/prices_tokens.sql
  dbt_subprojects/tokens/models/prices/prices_trusted_tokens.sql
  dbt_subprojects/tokens/models/tokens/_schema.yml
  dbt_subprojects/tokens/models/tokens/kaia/_schema.yml
  dbt_subprojects/tokens/models/tokens/kaia/tokens_kaia_erc20.sql
  dbt_subprojects/tokens/models/tokens/tokens_erc20.sql
  sources/_base_sources/evm/kaia_base_sources.yml
  sources/_base_sources/evm/kaia_docs_block.md
Labels: ready-for-merging, dune team, dbt: daily, dbt: tokens

#7031 Add GOAT and LUNA by Virtuals token price
  dbt_subprojects/tokens/models/prices/solana/prices_solana_tokens.sql
Labels: ready-for-merging, dbt: tokens

#7028 Update prices_scroll_tokens.sql
  dbt_subprojects/tokens/models/prices/scroll/prices_scroll_tokens.sql
Labels: ready-for-merging, dbt: tokens

#7026 Bump polygon balances version to `0002`
  sources/_sector/tokens/balances_sources.yml
Labels: ready-for-merging, dune team, dbt: tokens

#7036 `safe_optimism_balances` exlcude failing model
  dbt_subprojects/hourly_spellbook/models/_project/safe/optimism/safe_optimism_balances.sql
Labels: hotfix, dbt: hourly

#7035 upstream solana gas fees spells: move to solana subproject
  dbt_subprojects/hourly_spellbook/models/_sector/gas/fees/gas_fees.sql
  dbt_subprojects/solana/models/_sector/gas/_schema.yml
  dbt_subprojects/solana/models/_sector/gas/gas_solana_compute_limit.sql
  dbt_subprojects/solana/models/_sector/gas/gas_solana_compute_unit_price.sql
  dbt_subprojects/solana/models/_sector/gas/gas_solana_fees.sql
  dbt_subprojects/solana/models/_sector/gas/gas_solana_tx_fees.sql
  dbt_subprojects/solana/models/_sector/gas/gas_solana_vote_fees.sql
  sources/_subprojects_outputs/solana/_sources.yml
Labels: ready-for-merging, dune team, dbt: solana, dbt: hourly

#6630 Mass decoding non dynamic
  dbt_subprojects/dex/macros/models/_decoding/evm_event_decoding_base.sql
  dbt_subprojects/dex/macros/models/_decoding/uniswap_v2/uniswap_v2_factory_event_decoding.sql
  dbt_subprojects/dex/macros/models/_decoding/uniswap_v2/uniswap_v2_pool_event_decoding.sql
  dbt_subprojects/dex/macros/models/_decoding/uniswap_v2/uniswap_v2_trades.sql
  dbt_subprojects/dex/macros/models/_decoding/uniswap_v3/uniswap_v3_factory_event_decoding.sql
  dbt_subprojects/dex/macros/models/_decoding/uniswap_v3/uniswap_v3_pool_event_decoding.sql
  dbt_subprojects/dex/macros/models/_decoding/uniswap_v3/uniswap_v3_trades.sql
  dbt_subprojects/dex/macros/models/log_decoded_enrich_dex_trades.sql
  dbt_subprojects/dex/models/automated_trades/_schema.yml
  dbt_subprojects/dex/models/automated_trades/arbitrum/projects/_schema.yml
  dbt_subprojects/dex/models/automated_trades/arbitrum/projects/dex_arbitrum_automated_base_trades.sql
  dbt_subprojects/dex/models/automated_trades/arbitrum/projects/uniswap/uniswap_v2_arbitrum_automated_base_trades.sql
  dbt_subprojects/dex/models/automated_trades/arbitrum/projects/uniswap/uniswap_v2_arbitrum_decoded_factory_evt.sql
  dbt_subprojects/dex/models/automated_trades/arbitrum/projects/uniswap/uniswap_v2_arbitrum_decoded_pool_evt_swap.sql
  dbt_subprojects/dex/models/automated_trades/arbitrum/projects/uniswap/uniswap_v3_arbitrum_automated_base_trades.sql
  dbt_subprojects/dex/models/automated_trades/arbitrum/projects/uniswap/uniswap_v3_arbitrum_decoded_factory_evt.sql
  dbt_subprojects/dex/models/automated_trades/arbitrum/projects/uniswap/uniswap_v3_arbitrum_decoded_pool_evt_swap.sql
  dbt_subprojects/dex/models/automated_trades/dex_automated_base_trades.sql
  dbt_subprojects/dex/models/automated_trades/dex_automated_trades.sql
  dbt_subprojects/dex/models/automated_trades/ethereum/projects/_schema.yml
  dbt_subprojects/dex/models/automated_trades/ethereum/projects/dex_ethereum_automated_base_trades.sql
  dbt_subprojects/dex/models/automated_trades/ethereum/projects/uniswap/uniswap_v2_ethereum_automated_base_trades.sql
  dbt_subprojects/dex/models/automated_trades/ethereum/projects/uniswap/uniswap_v2_ethereum_decoded_factory_evt.sql
  dbt_subprojects/dex/models/automated_trades/ethereum/projects/uniswap/uniswap_v2_ethereum_decoded_pool_evt_swap.sql
  dbt_subprojects/dex/models/automated_trades/ethereum/projects/uniswap/uniswap_v3_ethereum_automated_base_trades.sql
  dbt_subprojects/dex/models/automated_trades/ethereum/projects/uniswap/uniswap_v3_ethereum_decoded_factory_evt.sql
  dbt_subprojects/dex/models/automated_trades/ethereum/projects/uniswap/uniswap_v3_ethereum_decoded_pool_evt_swap.sql
  dbt_subprojects/dex/models/automated_trades/log_decoded_dex_docs_block.md
  sources/_subprojects_outputs/daily_spellbook/_sources.yml
Labels: ready-for-merging, dune team, dbt: dex

#7033 DUX-683 update DE metadata for new prices
  dbt_subprojects/dex/models/prices/_schema.yml
  dbt_subprojects/dex/models/prices/dex_prices_block.sql
  dbt_subprojects/tokens/models/prices/_schema.yml
Labels: ready-for-merging, dune team, dbt: dex, dbt: tokens

#7042 enable failing optimism safe balances model
  dbt_subprojects/hourly_spellbook/models/_project/safe/optimism/safe_optimism_balances.sql
Labels: dune team, hotfix

#7013 Edit Safe Polygon Balances
  dbt_subprojects/hourly_spellbook/models/_project/safe/optimism/safe_optimism_balances.sql
  dbt_subprojects/hourly_spellbook/models/_project/safe/polygon/safe_polygon_balances.sql
  dbt_subprojects/hourly_spellbook/models/_project/safe/polygon/safe_polygon_schema.yml
Labels: ready-for-merging, balances, dbt: hourly

#7044 new simplified PR template
  .github/pull_request_template.md
Labels: ready-for-merging, dune team

#7051 bug fix - Update prices_optimism_tokens_curated.sql
  dbt_subprojects/tokens/models/prices/optimism/prices_optimism_tokens_curated.sql
Labels: ready-for-merging, dbt: tokens

#7043 Add missing tokens to tokens.erc20
  dbt_subprojects/tokens/models/tokens/gnosis/tokens_gnosis_erc20.sql
  dbt_subprojects/tokens/models/tokens/polygon/tokens_polygon_erc20.sql
Labels: ready-for-merging, dbt: tokens

#7056 update kaia tokens
  dbt_subprojects/tokens/models/prices/kaia/prices_kaia_tokens.sql
  dbt_subprojects/tokens/models/prices/prices_trusted_tokens.sql
  dbt_subprojects/tokens/models/tokens/kaia/tokens_kaia_erc20.sql
Labels: ready-for-merging, dune team, dbt: tokens

#7055 build dragonswap on kaia
  dbt_subprojects/dex/models/trades/_schema.yml
  dbt_subprojects/dex/models/trades/dex_base_trades.sql
  dbt_subprojects/dex/models/trades/dex_trades.sql
  dbt_subprojects/dex/models/trades/kaia/_schema.yml
  dbt_subprojects/dex/models/trades/kaia/dex_kaia_base_trades.sql
  dbt_subprojects/dex/models/trades/kaia/platforms/dragon_swap_v2_kaia_base_trades.sql
  dbt_subprojects/dex/models/trades/kaia/platforms/dragon_swap_v3_kaia_base_trades.sql
  dbt_subprojects/dex/seeds/trades/_schema.yml
  dbt_subprojects/dex/seeds/trades/dragon_swap_kaia_base_trades_seed.csv
  sources/_sector/dex/trades/kaia/_sources.yml
Labels: ready-for-merging, dune team, dbt: dex

#7010 Add yaka sei trade
  dbt_subprojects/dex/models/dex_info.sql
  dbt_subprojects/dex/models/trades/sei/_schema.yml
  dbt_subprojects/dex/models/trades/sei/dex_sei_base_trades.sql
  dbt_subprojects/dex/models/trades/sei/platforms/yaka_sei_base_trades.sql
  dbt_subprojects/dex/seeds/trades/_schema.yml
  dbt_subprojects/dex/seeds/trades/yaka_sei_base_trades_seed.csv
  sources/_sector/dex/trades/sei/_sources.yml
Labels: ready-for-merging, dbt: dex

#6575 Add Polymarket
  dbt_subprojects/daily_spellbook/models/_projects/polymarket/polygon/_schema.yml
  dbt_subprojects/daily_spellbook/models/_projects/polymarket/polygon/polymarket_polygon_base_ctf_tokens.sql
  dbt_subprojects/daily_spellbook/models/_projects/polymarket/polygon/polymarket_polygon_base_market_conditions.sql
  dbt_subprojects/daily_spellbook/models/_projects/polymarket/polygon/polymarket_polygon_market_details.sql
  dbt_subprojects/daily_spellbook/models/_projects/polymarket/polygon/polymarket_polygon_market_outcomes.sql
  dbt_subprojects/daily_spellbook/models/_projects/polymarket/polygon/polymarket_polygon_market_prices_daily.sql
  dbt_subprojects/daily_spellbook/models/_projects/polymarket/polygon/polymarket_polygon_market_prices_hourly.sql
  dbt_subprojects/daily_spellbook/models/_projects/polymarket/polygon/polymarket_polygon_market_prices_latest.sql
  dbt_subprojects/daily_spellbook/models/_projects/polymarket/polygon/polymarket_polygon_market_trades.sql
  dbt_subprojects/daily_spellbook/models/_projects/polymarket/polygon/polymarket_polygon_market_trades_raw.sql
  dbt_subprojects/daily_spellbook/models/_projects/polymarket/polygon/polymarket_polygon_markets.sql
  dbt_subprojects/daily_spellbook/models/_projects/polymarket/polygon/polymarket_polygon_positions.sql
  dbt_subprojects/daily_spellbook/models/_projects/polymarket/polygon/polymarket_polygon_positions_raw.sql
  dbt_subprojects/daily_spellbook/models/_projects/polymarket/polygon/polymarket_polygon_users.sql
  dbt_subprojects/daily_spellbook/models/_projects/polymarket/polygon/polymarket_polygon_users_capital_actions.sql
  dbt_subprojects/daily_spellbook/models/_projects/polymarket/polygon/polymarket_polygon_users_magic_wallet_proxies.sql
  dbt_subprojects/daily_spellbook/models/_projects/polymarket/polygon/polymarket_polygon_users_safe_proxies.sql
  sources/polymarket/polygon/_sources.yml
Labels: dune team, dbt: daily

#7057 bonkbot solana: failing on duplicates
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/platforms/bonkbot_solana_bot_trades.sql
Labels: hotfix, dbt: solana

#7034 feat: creating macros to be able to split out backfill runs
  dbt_subprojects/solana/macros/_sector/gas/solana_tx_fees_macro.sql
  dbt_subprojects/solana/macros/_sector/gas/solana_vote_fees_macro.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/readme.md
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/tx_fees/gas_solana_tx_fees_2020_q4.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/tx_fees/gas_solana_tx_fees_2021_q1.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/tx_fees/gas_solana_tx_fees_2021_q2.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/tx_fees/gas_solana_tx_fees_2021_q3.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/tx_fees/gas_solana_tx_fees_2021_q4.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/tx_fees/gas_solana_tx_fees_2022_q1.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/tx_fees/gas_solana_tx_fees_2022_q2.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/tx_fees/gas_solana_tx_fees_2022_q3.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/tx_fees/gas_solana_tx_fees_2022_q4.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/tx_fees/gas_solana_tx_fees_2023_q1.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/tx_fees/gas_solana_tx_fees_2023_q2.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/tx_fees/gas_solana_tx_fees_2023_q3.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/tx_fees/gas_solana_tx_fees_2023_q4.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/tx_fees/gas_solana_tx_fees_2024_q1.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/tx_fees/gas_solana_tx_fees_2024_q2.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/tx_fees/gas_solana_tx_fees_2024_q3.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/tx_fees/gas_solana_tx_fees_current.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/vote_fees/gas_solana_vote_fees_2020_q4.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/vote_fees/gas_solana_vote_fees_2021_q1.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/vote_fees/gas_solana_vote_fees_2021_q2.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/vote_fees/gas_solana_vote_fees_2021_q3.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/vote_fees/gas_solana_vote_fees_2021_q4.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/vote_fees/gas_solana_vote_fees_2022_q1.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/vote_fees/gas_solana_vote_fees_2022_q2.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/vote_fees/gas_solana_vote_fees_2022_q3.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/vote_fees/gas_solana_vote_fees_2022_q4.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/vote_fees/gas_solana_vote_fees_2023_q1.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/vote_fees/gas_solana_vote_fees_2023_q2.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/vote_fees/gas_solana_vote_fees_2023_q3.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/vote_fees/gas_solana_vote_fees_2023_q4.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/vote_fees/gas_solana_vote_fees_2024_q1.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/vote_fees/gas_solana_vote_fees_2024_q2.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/vote_fees/gas_solana_vote_fees_2024_q3.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/vote_fees/gas_solana_vote_fees_current.sql
  dbt_subprojects/solana/models/_sector/gas/gas_solana_fees.sql
  dbt_subprojects/solana/models/_sector/gas/gas_solana_tx_fees.sql
  dbt_subprojects/solana/models/_sector/gas/gas_solana_vote_fees.sql
Labels: ready-for-merging, dune team, dbt: solana

#7061 solana gas fees: fix current model end date
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/tx_fees/gas_solana_tx_fees_current.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/vote_fees/gas_solana_vote_fees_current.sql
Labels: hotfix, dbt: solana

#7064 Revert solana fees
  dbt_subprojects/solana/macros/_sector/gas/solana_tx_fees_macro.sql
  dbt_subprojects/solana/macros/_sector/gas/solana_vote_fees_macro.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/readme.md
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/tx_fees/gas_solana_tx_fees_2020_q4.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/tx_fees/gas_solana_tx_fees_2021_q1.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/tx_fees/gas_solana_tx_fees_2021_q2.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/tx_fees/gas_solana_tx_fees_2021_q3.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/tx_fees/gas_solana_tx_fees_2021_q4.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/tx_fees/gas_solana_tx_fees_2022_q1.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/tx_fees/gas_solana_tx_fees_2022_q2.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/tx_fees/gas_solana_tx_fees_2022_q3.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/tx_fees/gas_solana_tx_fees_2022_q4.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/tx_fees/gas_solana_tx_fees_2023_q1.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/tx_fees/gas_solana_tx_fees_2023_q2.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/tx_fees/gas_solana_tx_fees_2023_q3.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/tx_fees/gas_solana_tx_fees_2023_q4.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/tx_fees/gas_solana_tx_fees_2024_q1.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/tx_fees/gas_solana_tx_fees_2024_q2.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/tx_fees/gas_solana_tx_fees_2024_q3.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/tx_fees/gas_solana_tx_fees_current.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/vote_fees/gas_solana_vote_fees_2020_q4.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/vote_fees/gas_solana_vote_fees_2021_q1.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/vote_fees/gas_solana_vote_fees_2021_q2.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/vote_fees/gas_solana_vote_fees_2021_q3.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/vote_fees/gas_solana_vote_fees_2021_q4.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/vote_fees/gas_solana_vote_fees_2022_q1.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/vote_fees/gas_solana_vote_fees_2022_q2.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/vote_fees/gas_solana_vote_fees_2022_q3.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/vote_fees/gas_solana_vote_fees_2022_q4.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/vote_fees/gas_solana_vote_fees_2023_q1.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/vote_fees/gas_solana_vote_fees_2023_q2.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/vote_fees/gas_solana_vote_fees_2023_q3.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/vote_fees/gas_solana_vote_fees_2023_q4.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/vote_fees/gas_solana_vote_fees_2024_q1.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/vote_fees/gas_solana_vote_fees_2024_q2.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/vote_fees/gas_solana_vote_fees_2024_q3.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/vote_fees/gas_solana_vote_fees_current.sql
  dbt_subprojects/solana/models/_sector/gas/gas_solana_fees.sql
  dbt_subprojects/solana/models/_sector/gas/gas_solana_tx_fees.sql
  dbt_subprojects/solana/models/_sector/gas/gas_solana_vote_fees.sql
Labels: hotfix, dbt: solana

#7065 fix: temporarily exclude polymarket daily prices model from data explorer
  dbt_subprojects/daily_spellbook/models/_projects/polymarket/polygon/polymarket_polygon_market_prices_daily.sql
Labels: ready-for-merging, dbt: daily

#7067 Giving Solana fees another go
  dbt_subprojects/solana/macros/_sector/gas/solana_tx_fees_macro.sql
  dbt_subprojects/solana/macros/_sector/gas/solana_vote_fees_macro.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/readme.md
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/tx_fees/gas_solana_tx_fees_2020_q4.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/tx_fees/gas_solana_tx_fees_2021_q1.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/tx_fees/gas_solana_tx_fees_2021_q2.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/tx_fees/gas_solana_tx_fees_2021_q3.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/tx_fees/gas_solana_tx_fees_2021_q4.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/tx_fees/gas_solana_tx_fees_2022_q1.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/tx_fees/gas_solana_tx_fees_2022_q2.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/tx_fees/gas_solana_tx_fees_2022_q3.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/tx_fees/gas_solana_tx_fees_2022_q4.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/tx_fees/gas_solana_tx_fees_2023_q1.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/tx_fees/gas_solana_tx_fees_2023_q2.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/tx_fees/gas_solana_tx_fees_2023_q3.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/tx_fees/gas_solana_tx_fees_2023_q4.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/tx_fees/gas_solana_tx_fees_2024_q1.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/tx_fees/gas_solana_tx_fees_2024_q2.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/tx_fees/gas_solana_tx_fees_2024_q3.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/tx_fees/gas_solana_tx_fees_current.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/vote_fees/gas_solana_vote_fees_2020_q4.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/vote_fees/gas_solana_vote_fees_2021_q1.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/vote_fees/gas_solana_vote_fees_2021_q2.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/vote_fees/gas_solana_vote_fees_2021_q3.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/vote_fees/gas_solana_vote_fees_2021_q4.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/vote_fees/gas_solana_vote_fees_2022_q1.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/vote_fees/gas_solana_vote_fees_2022_q2.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/vote_fees/gas_solana_vote_fees_2022_q3.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/vote_fees/gas_solana_vote_fees_2022_q4.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/vote_fees/gas_solana_vote_fees_2023_q1.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/vote_fees/gas_solana_vote_fees_2023_q2.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/vote_fees/gas_solana_vote_fees_2023_q3.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/vote_fees/gas_solana_vote_fees_2023_q4.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/vote_fees/gas_solana_vote_fees_2024_q1.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/vote_fees/gas_solana_vote_fees_2024_q2.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/vote_fees/gas_solana_vote_fees_2024_q3.sql
  dbt_subprojects/solana/models/_sector/gas/gas_backfills/vote_fees/gas_solana_vote_fees_current.sql
  dbt_subprojects/solana/models/_sector/gas/gas_solana_fees.sql
  dbt_subprojects/solana/models/_sector/gas/gas_solana_tx_fees.sql
  dbt_subprojects/solana/models/_sector/gas/gas_solana_vote_fees.sql
Labels: dune team, dbt: solana

#6996 add tron transfers
  dbt_subprojects/tokens/models/tokens/tokens_erc20.sql
  dbt_subprojects/tokens/models/tokens/tron/_schema.yml
  dbt_subprojects/tokens/models/tokens/tron/tokens_tron_erc20.sql
  dbt_subprojects/tokens/models/transfers_and_balances/tokens_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/tron/_schema.yml
  dbt_subprojects/tokens/models/transfers_and_balances/tron/tokens_tron_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/tron/tokens_tron_transfers.sql
  sources/_base_sources/other/tron_base_sources.yml
  sources/_base_sources/other/tron_docs_block.md
Labels: ready-for-merging, dune team, dbt: tokens

#7072 add solana to gas fees
  dbt_subprojects/hourly_spellbook/models/_sector/gas/fees/gas_fees.sql
Labels: dune team, dbt: hourly

#7059 Tron fees
  dbt_subprojects/hourly_spellbook/models/_sector/gas/fees/gas_fees.sql
  dbt_subprojects/hourly_spellbook/models/_sector/gas/fees/tron/gas_tron_fees.sql
  dbt_subprojects/hourly_spellbook/models/_sector/gas/fees/tron/gas_tron_schema.yml
Labels: ready-for-merging, dune team, dbt: hourly

#7073 Tron fee correction model
  dbt_subprojects/daily_spellbook/models/_metrics/fees/metrics_gas_fees_daily.sql
  dbt_subprojects/daily_spellbook/models/_metrics/fees/tron/_schema.yml
  dbt_subprojects/daily_spellbook/models/_metrics/fees/tron/tron_fee_correction.sql
Labels: ready-for-merging, dune team, dbt: daily

#7068 metrics: Tron transactions
  dbt_subprojects/daily_spellbook/models/_metrics/transactions/metrics_transactions_daily.sql
Labels: ready-for-review, dune team, dbt: daily

#7027 Polygon Stablecoin Balances
  dbt_subprojects/daily_spellbook/models/_sector/stablecoins/polygon/stablecoins_polygon_balances.sql
  dbt_subprojects/daily_spellbook/models/_sector/stablecoins/polygon/stablecoins_polygon_schema.yml
Labels: ready-for-merging, balances, dbt: daily

#7071 add solana to metrics fees
  dbt_subprojects/daily_spellbook/models/_metrics/fees/_schema.yml
  dbt_subprojects/daily_spellbook/models/_metrics/fees/metrics_gas_fees_daily.sql
  sources/_subprojects_outputs/solana/_sources.yml
Labels: ready-for-merging, dune team, dbt: daily

#7079 add test models to explore dbt cloud options
  dbt_subprojects/hourly_spellbook/models/_project/dbt_cloud_test/dbt_cloud_test_error_model.sql
  dbt_subprojects/hourly_spellbook/models/_project/dbt_cloud_test/dbt_cloud_test_good_model.sql
  dbt_subprojects/hourly_spellbook/models/_project/dbt_cloud_test/dbt_cloud_test_skipped_model.sql
Labels: dune team

#7084 `tokens_solana.transfers` use timestamp for hour truncation
  dbt_subprojects/solana/models/_sector/transfers/tokens_solana_transfers.sql
Labels: dbt: solana

#7063 add symbols
  dbt_subprojects/tokens/models/tokens/avalanche_c/tokens_avalanche_c_erc20.sql
  dbt_subprojects/tokens/models/tokens/base/tokens_base_erc20.sql
  dbt_subprojects/tokens/models/tokens/bnb/tokens_bnb_bep20.sql
  dbt_subprojects/tokens/models/tokens/ethereum/tokens_ethereum_erc20.sql
  dbt_subprojects/tokens/models/tokens/scroll/tokens_scroll_erc20.sql
Labels: dbt: tokens

#7076 metrics: initiate solana transfers
  dbt_subprojects/daily_spellbook/models/_metrics/transfers/_schema.yml
  dbt_subprojects/daily_spellbook/models/_metrics/transfers/metrics_net_solana_transfers.sql
  dbt_subprojects/daily_spellbook/models/_metrics/transfers/metrics_transfers_daily.sql
  sources/_subprojects_outputs/solana/_sources.yml
Labels: ready-for-merging, dbt: daily

#7037 Solana block prices
  dbt_subprojects/solana/models/_sector/dex/prices/dex_prices_block_solana.sql
Labels: WIP, dune team, dbt: solana
