Repository duneanalytics/spellbook, pull requests merged in 2024-04, with the labels that each got.

#5728 add tokens to price list - arbitrum
  models/prices/arbitrum/prices_arbitrum_tokens.sql
Labels: easy, ready-for-merging

#5729 add tokens to price list - bnb
  models/prices/bnb/prices_bnb_tokens.sql
Labels: easy, ready-for-merging

#5730 add tokens to price list - fantom
  models/prices/fantom/prices_fantom_tokens.sql
Labels: easy, ready-for-merging

#5722 Add FRXETH to prices.usd
  models/prices/ethereum/prices_ethereum_tokens.sql
Labels: easy, ready-for-merging

#5720 Update prices_ethereum_tokens.sql
  models/prices/ethereum/prices_ethereum_tokens.sql
Labels: easy, ready-for-merging

#5725 add tokens to price list - polygon
  models/prices/polygon/prices_polygon_tokens.sql
Labels: question, in review

#5733 [CoW Protocol] Add the new Odos solver
  models/cow_protocol/ethereum/cow_protocol_ethereum_solvers.sql
Labels: easy, ready-for-merging

#5736 Fix version in _schema.yml
  models/_sector/depin/_schema.yml
Labels: ready-for-review, hotfix

#5716 More CEX addresses
  models/cex/cex_evms_addresses.sql
  models/cex/cex_info.sql
Labels: ready-for-merging

#5734 Add NFT marketplaces info
  models/nft/nft_marketplaces_info.sql
Labels: ready-for-merging, NFT

#5746 Fix local compile
  models/_sector/depin/depin_revenue.sql
Labels: hotfix

#5743 `nft_trades` royalty fix for zk_markets
  models/_sector/nft/trades/chains/zksync/platforms/zk_markets_zksync_base_trades.sql
Labels: ready-for-merging, hotfix, NFT

#5748 Tigris fix plus incremental update - ready for review
  models/tigris/arbitrum/events/tigris_arbitrum_events_add_margin.sql
  models/tigris/arbitrum/events/tigris_arbitrum_events_close_position.sql
  models/tigris/arbitrum/events/tigris_arbitrum_events_fees_distributed.sql
  models/tigris/arbitrum/events/tigris_arbitrum_events_limit_cancel.sql
  models/tigris/arbitrum/events/tigris_arbitrum_events_limit_order.sql
  models/tigris/arbitrum/events/tigris_arbitrum_events_liquidate_position.sql
  models/tigris/arbitrum/events/tigris_arbitrum_events_modify_margin.sql
  models/tigris/arbitrum/events/tigris_arbitrum_events_open_position.sql
  models/tigris/arbitrum/events/tigris_arbitrum_events_options_close_position.sql
  models/tigris/arbitrum/events/tigris_arbitrum_events_options_fees_distributed.sql
  models/tigris/arbitrum/events/tigris_arbitrum_events_options_limit_cancel.sql
  models/tigris/arbitrum/events/tigris_arbitrum_events_options_limit_order.sql
  models/tigris/arbitrum/events/tigris_arbitrum_events_options_open_position.sql
  models/tigris/arbitrum/tigris_arbitrum_options_trades.sql
  models/tigris/arbitrum/tigris_arbitrum_perpetual_trades.sql
  models/tigris/arbitrum/tigris_arbitrum_trades.sql
  models/tigris/polygon/events/tigris_polygon_events_add_margin.sql
  models/tigris/polygon/events/tigris_polygon_events_close_position.sql
  models/tigris/polygon/events/tigris_polygon_events_contracts_positions.sql
  models/tigris/polygon/events/tigris_polygon_events_fees_distributed.sql
  models/tigris/polygon/events/tigris_polygon_events_limit_cancel.sql
  models/tigris/polygon/events/tigris_polygon_events_limit_order.sql
  models/tigris/polygon/events/tigris_polygon_events_liquidate_position.sql
  models/tigris/polygon/events/tigris_polygon_events_modify_margin.sql
  models/tigris/polygon/events/tigris_polygon_events_open_position.sql
  models/tigris/polygon/events/tigris_polygon_events_options_close_position.sql
  models/tigris/polygon/events/tigris_polygon_events_options_fees_distributed.sql
  models/tigris/polygon/events/tigris_polygon_events_options_limit_cancel.sql
  models/tigris/polygon/events/tigris_polygon_events_options_limit_order.sql
  models/tigris/polygon/events/tigris_polygon_events_options_open_position.sql
  models/tigris/polygon/tigris_polygon_options_trades.sql
  models/tigris/polygon/tigris_polygon_perpetual_trades.sql
  models/tigris/polygon/tigris_polygon_trades.sql
  models/tigris/tigris_trades_pnl.sql
Labels: ready-for-merging

#5739 Add Syncswap V2 to dex.trades on zkSync
  models/_sector/dex/trades/zksync/_schema.yml
  models/_sector/dex/trades/zksync/dex_zksync_base_trades.sql
  models/_sector/dex/trades/zksync/platforms/syncswap_v1_zksync_base_trades.sql
  models/_sector/dex/trades/zksync/platforms/syncswap_v2_zksync_base_trades.sql
  seeds/_sector/dex/syncswap_zksync_base_trades_seed.csv
  sources/_sector/dex/trades/zksync/_sources.yml
Labels: ready-for-merging, dex

#5724 add zora uniswap v2 into dex.trades
  models/_sector/dex/trades/dex_base_trades.sql
  models/_sector/dex/trades/zora/_schema.yml
  models/_sector/dex/trades/zora/dex_zora_base_trades.sql
  models/_sector/dex/trades/zora/platforms/uniswap_v2_zora_base_trades.sql
  seeds/_sector/dex/_schema.yml
  seeds/_sector/dex/uniswap_zora_base_trades_seed.csv
  sources/_sector/dex/trades/zora/_sources.yml
  sources/uniswap/zora/uniswap_zora_sources.yml
  tokens/models/tokens/tokens_native.sql
Labels: ready-for-merging, dex

#5723 Added auragi swap dex to dex.trades
  models/_sector/dex/trades/arbitrum/_schema.yml
  models/_sector/dex/trades/arbitrum/dex_arbitrum_base_trades.sql
  models/_sector/dex/trades/arbitrum/platforms/auragi_arbitrum_base_trades.sql
  models/dex/dex_info.sql
  seeds/_sector/dex/_schema.yml
  seeds/_sector/dex/auragi_arbitrum_base_trades_seed.csv
  sources/_sector/dex/trades/arbitrum/_sources.yml
Labels: ready-for-merging, dex

#5718 Adding Odos Ethereum and Base trades
  models/dex/dex_aggregator_trades.sql
  models/odos/base/odos_v2_base_trades.sql
  models/odos/ethereum/odos_v2_ethereum_trades.sql
  models/odos/odos_trades.sql
  models/odos/optimism/odos_v1_optimism_trades.sql
  models/odos/optimism/odos_v2_optimism_trades.sql
Labels: ready-for-merging, dex

#5708 Add Velocore to `dex.trades` on zkSync Era
  models/_sector/dex/trades/zksync/_schema.yml
  models/_sector/dex/trades/zksync/dex_zksync_base_trades.sql
  models/_sector/dex/trades/zksync/platforms/velocore_v0_zksync_base_trades.sql
  models/_sector/dex/trades/zksync/platforms/velocore_v1_zksync_base_trades.sql
  models/_sector/dex/trades/zksync/platforms/velocore_v2_zksync_base_trades.sql
  models/dex/dex_info.sql
  seeds/_sector/dex/_schema.yml
  seeds/_sector/dex/velocore_zksync_base_trades_seed.csv
  sources/_sector/dex/trades/zksync/_sources.yml
Labels: ready-for-merging, dex

#5632 Create `addresses_events_bitcoin.first_funded_by`
  models/addresses_events/bitcoin/addresses_events_bitcoin_first_funded_by.sql
  models/addresses_events/bitcoin/addresses_events_bitcoin_schema.yml
  seeds/addresses_events/_schema.yml
  seeds/addresses_events/first_funded_by_seed_bitcoin.csv
Labels: ready-for-merging

#5752 Update prices_ethereum_tokens.sql
  models/prices/ethereum/prices_ethereum_tokens.sql
Labels: ready-for-merging

#5750 uniswap v3 pools on mainnet
  models/lido/liquidity/ethereum/lido_liquidity_ethereum_uniswap_v3_pools.sql
Labels: ready-for-merging

#5749 Add Celo to EAS
  models/_sector/attestation/eas/_schema.yml
  models/_sector/attestation/eas/celo/_schema.yml
  models/_sector/attestation/eas/celo/eas_celo_attestation_details.sql
  models/_sector/attestation/eas/celo/eas_celo_attestations.sql
  models/_sector/attestation/eas/celo/eas_celo_schema_details.sql
  models/_sector/attestation/eas/celo/eas_celo_schemas.sql
  models/_sector/attestation/eas/eas_attestation_details.sql
  models/_sector/attestation/eas/eas_attestations.sql
  models/_sector/attestation/eas/eas_schema_details.sql
  models/_sector/attestation/eas/eas_schemas.sql
  sources/_sector/attestation/eas/celo/_sources.yml
Labels: ready-for-merging

#5740 zeroex - ethereum model
  models/zeroex/ethereum/zeroex_ethereum_api_fills.sql
Labels: ready-for-merging

#5710 Add check_bot_trades_seed tests
  models/banana_gun/solana/banana_gun_solana_schema.yml
  models/bonkbot/solana/bonkbot_solana_schema.yml
  models/maestro/solana/maestro_solana_schema.yml
  models/magnum/solana/magnum_solana_schema.yml
  models/pepe_boost/solana/pepe_boost_solana_schema.yml
  models/readyswap/solana/readyswap_solana_schema.yml
  models/shuriken/solana/shuriken_solana_schema.yml
  models/sol_trading_bot/solana/sol_trading_bot_solana_schema.yml
  models/trojan/solana/trojan_solana_schema.yml
  tests/generic/check_bot_trades_seed.sql
Labels: ready-for-merging, dex

#5709 [READY FOR REVIEW] round of improvements to balancer spells
  macros/models/_project/balancer/balancer_protocol_fee_macro.sql
  models/balancer/arbitrum/balancer_v2_arbitrum_protocol_fee.sql
  models/balancer/avalanche_c/balancer_v2_avalanche_c_protocol_fee.sql
  models/balancer/balancer_token_whitelist.sql
  models/balancer/base/balancer_v2_base_protocol_fee.sql
  models/balancer/ethereum/balancer_v2_ethereum_protocol_fee.sql
  models/balancer/gnosis/balancer_v2_gnosis_protocol_fee.sql
  models/balancer/optimism/balancer_v2_optimism_protocol_fee.sql
  models/balancer/polygon/balancer_v2_polygon_protocol_fee.sql
  models/labels/addresses/__single_category_labels__/balancer_v2/labels_balancer_v2_pools_arbitrum.sql
  models/labels/addresses/__single_category_labels__/balancer_v2/labels_balancer_v2_pools_optimism.sql
  sources/labels/addresses/__single_category_labels__/balancer_v2/labels_balancer_v2_sources.yml
Labels: ready-for-merging

#5742 Add Chikn NFT Trades Avalanche_c - Ready for review
  models/_sector/nft/trades/chains/avalanche_c/nft_avalanche_c_base_trades.sql
  models/_sector/nft/trades/chains/avalanche_c/platforms/_schema.yml
  models/_sector/nft/trades/chains/avalanche_c/platforms/chikn_avalanche_c_base_trades.sql
  seeds/_sector/nft/_schema.yml
  seeds/_sector/nft/chikn_avalanche_c_base_trades_seed.csv
  sources/_sector/nft/trades/avalanche_c_sources.yml
Labels: ready-for-merging, NFT

#5721 Add Pancakeswap Stableswap on Arbitrum on dex.trades
  models/_sector/depin/polygon/platforms/_schema.yml
  models/_sector/dex/trades/arbitrum/_schema.yml
  models/_sector/dex/trades/arbitrum/platforms/pancakeswap_v2_arbitrum_base_trades.sql
  models/pancakeswap/arbitrum/pancakeswap_arbitrum_schema.yml
  seeds/_sector/dex/pancakeswap_arbitrum_base_trades_seed.csv
  sources/_sector/dex/trades/arbitrum/_sources.yml
Labels: ready-for-merging, dex

#5761 chore: add new banana gun + sol trading bot fee wallets [easy]
  models/banana_gun/solana/banana_gun_solana_bot_trades.sql
  models/sol_trading_bot/solana/sol_trading_bot_solana_bot_trades.sql
Labels: easy, ready-for-final-review

#5766 Add ETH stakers
  models/staking/ethereum/entities/staking_ethereum_entities_depositor_addresses.sql
  models/staking/ethereum/staking_ethereum_info.sql
Labels: ready-for-review

#5774 [EASY] add token to tokens.erc20
  tokens/models/tokens/ethereum/tokens_ethereum_erc20.sql
Labels: ready-for-merging

#5772 [CoW Protocol] Add Fractal solver
  models/cow_protocol/ethereum/cow_protocol_ethereum_solvers.sql
Labels: easy, ready-for-merging

#5771 Update prices_ethereum_tokens.sql
  models/prices/ethereum/prices_ethereum_tokens.sql
  models/prices/prices_native_tokens.sql
  models/prices/solana/prices_solana_tokens.sql
Labels: easy, ready-for-merging

#5765 Add NFT marketplaces metadata
  models/nft/nft_marketplaces_info.sql
Labels: easy, ready-for-merging

#5757 Fix OVM1 SCC Batcher Distinction
  models/addresses/ethereum/addresses_ethereum_l2_batch_submitters.sql
Labels: easy, ready-for-merging

#5756 Add more chains & update `evms.info`
  models/evms/evms_info.sql
Labels: ready-for-merging

#5780 addresses_events for Base & Scroll
  models/addresses_events/addresses_events_first_activity.sql
  models/addresses_events/addresses_events_first_funded_by.sql
  models/addresses_events/addresses_events_schema.yml
  models/addresses_events/base/addresses_events_base_first_activity.sql
  models/addresses_events/base/addresses_events_base_first_funded_by.sql
  models/addresses_events/base/addresses_events_base_schema.yml
  models/addresses_events/scroll/addresses_events_scroll_first_activity.sql
  models/addresses_events/scroll/addresses_events_scroll_first_funded_by.sql
  models/addresses_events/scroll/addresses_events_scroll_schema.yml
Labels: easy

#5779 NFT wash for base, scroll and zora
  models/_sector/nft/wash_trades/_schema.yml
  models/_sector/nft/wash_trades/chains/nft_base_wash_trades.sql
  models/_sector/nft/wash_trades/chains/nft_scroll_wash_trades.sql
  models/_sector/nft/wash_trades/chains/nft_zora_wash_trades.sql
  models/_sector/nft/wash_trades/nft_wash_trades.sql
Labels: NFT

#5778 add missing tokens to tokens.erc20
  models/gyroscope/gyroscope_gyro_tokens.sql
  tokens/models/tokens/arbitrum/tokens_arbitrum_erc20.sql
  tokens/models/tokens/base/tokens_base_erc20.sql
  tokens/models/tokens/ethereum/tokens_ethereum_erc20.sql
  tokens/models/tokens/optimism/tokens_optimism_erc20_curated.sql
  tokens/models/tokens/polygon/tokens_polygon_erc20.sql
Labels: easy, ready-for-merging

#5788 Add AlienSwap metadata
  models/nft/nft_marketplaces_info.sql
Labels: easy, ready-for-merging, NFT

#5763 Finalize dex_solana_bot_trades
  models/_sector/dex/bot_trades/solana/_schema.yml
  models/_sector/dex/bot_trades/solana/dex_solana_bot_trades.sql
  models/_sector/dex/bot_trades/solana/platforms/banana_gun_solana_bot_trades.sql
  models/_sector/dex/bot_trades/solana/platforms/bonkbot_solana_bot_trades.sql
  models/_sector/dex/bot_trades/solana/platforms/maestro_solana_bot_trades.sql
  models/_sector/dex/bot_trades/solana/platforms/magnum_solana_bot_trades.sql
  models/_sector/dex/bot_trades/solana/platforms/pepe_boost_solana_bot_trades.sql
  models/_sector/dex/bot_trades/solana/platforms/readyswap_solana_bot_trades.sql
  models/_sector/dex/bot_trades/solana/platforms/shuriken_solana_bot_trades.sql
  models/_sector/dex/bot_trades/solana/platforms/sol_trading_bot_solana_bot_trades.sql
  models/_sector/dex/bot_trades/solana/platforms/trojan_solana_bot_trades.sql
  models/banana_gun/solana/banana_gun_solana_schema.yml
  models/bonkbot/solana/bonkbot_solana_schema.yml
  models/dex/solana/dex_solana_schema.yml
  models/dex/solana/dex_solana_trades.sql
  models/maestro/solana/maestro_solana_schema.yml
  models/magnum/solana/magnum_solana_schema.yml
  models/pepe_boost/solana/pepe_boost_solana_schema.yml
  models/readyswap/solana/readyswap_solana_schema.yml
  models/shuriken/solana/shuriken_solana_schema.yml
  models/sol_trading_bot/solana/sol_trading_bot_solana_schema.yml
  models/trojan/solana/trojan_solana_schema.yml
Labels: ready-for-merging

#5793 Updatedof the number of decimals for GROK
  models/prices/ethereum/prices_ethereum_tokens.sql
  models/prices/gnosis/prices_gnosis_tokens.sql
Labels: easy, ready-for-merging

#5808 Base sources for Linea and zkEVM
  sources/_base_sources/linea_base_sources.yml
  sources/_base_sources/zkevm_base_sources.yml
Labels: ready-for-review

#5813 magiceden on polygon: remove troubled tx causing dupes
  models/_sector/nft/trades/chains/polygon/platforms/magiceden_polygon_base_trades.sql
Labels: hotfix, NFT

#5814 MEV Spells for Scroll & Zora
  models/dex/chains/dex_schema.yml
  models/dex/chains/mev/arbitrages/dex_scroll_atomic_arbitrages.sql
  models/dex/chains/mev/arbitrages/dex_zora_atomic_arbitrages.sql
  models/dex/chains/mev/sandwiches/dex_scroll_sandwiched.sql
  models/dex/chains/mev/sandwiches/dex_scroll_sandwiches.sql
  models/dex/chains/mev/sandwiches/dex_zora_sandwiched.sql
  models/dex/chains/mev/sandwiches/dex_zora_sandwiches.sql
  models/dex/dex_atomic_arbitrages.sql
  models/dex/dex_sandwiched.sql
  models/dex/dex_sandwiches.sql
  models/dex/dex_schema.yml
Labels: ready-for-merging

#5812 Linea & zkEVM inscriptions
  models/_sector/inscription/_schema.yml
  models/_sector/inscription/all/_schema.yml
  models/_sector/inscription/all/inscription_linea_all.sql
  models/_sector/inscription/all/inscription_zkevm_all.sql
  models/_sector/inscription/deploys/_schema.yml
  models/_sector/inscription/deploys/inscription_linea_deploys.sql
  models/_sector/inscription/deploys/inscription_zkevm_deploys.sql
  models/_sector/inscription/inscription_all.sql
  models/_sector/inscription/inscription_deploys.sql
  models/_sector/inscription/inscription_mints.sql
  models/_sector/inscription/mints/_schema.yml
  models/_sector/inscription/mints/inscription_linea_mints.sql
  models/_sector/inscription/mints/inscription_zkevm_mints.sql
Labels: ready-for-merging

#5810 Added Starknet UpdateStateKzgDA method call
  models/rollup_economics/ethereum/l1_data_fees.sql
Labels: ready-for-merging

#5807 First address events Polygon zkEVM & Linea
  models/addresses_events/addresses_events_first_activity.sql
  models/addresses_events/addresses_events_first_funded_by.sql
  models/addresses_events/addresses_events_schema.yml
  models/addresses_events/linea/addresses_events_linea_first_activity.sql
  models/addresses_events/linea/addresses_events_linea_first_funded_by.sql
  models/addresses_events/linea/addresses_events_linea_schema.yml
  models/addresses_events/zkevm/addresses_events_zkevm_first_activity.sql
  models/addresses_events/zkevm/addresses_events_zkevm_first_funded_by.sql
  models/addresses_events/zkevm/addresses_events_zkevm_schema.yml
Labels: ready-for-merging

#5803 Update prices_native_tokens.sql
  models/prices/prices_native_tokens.sql
Labels: easy, ready-for-merging

#5794 added 4 tokens : OLAS, sDAI, stETH and EURe - on gnosis chain
  models/prices/gnosis/prices_gnosis_tokens.sql
Labels: easy, ready-for-merging

#5816 Fix magiceden duplicates
  models/_sector/nft/trades/chains/polygon/platforms/magiceden_polygon_base_trades.sql
Labels: ready-for-merging, dune team, hotfix

#5800 Missing Tokens: Add 631 Moar
  tokens/models/tokens/ethereum/tokens_ethereum_erc20.sql
Labels: ready-for-merging

#5815 Add Pancakeswap trades on Polygon zkEVM to dex.trades
  models/_sector/dex/trades/zkevm/_schema.yml
  models/_sector/dex/trades/zkevm/dex_zkevm_base_trades.sql
  models/_sector/dex/trades/zkevm/platforms/pancakeswap_v2_zkevm_base_trades.sql
  models/_sector/dex/trades/zkevm/platforms/pancakeswap_v3_zkevm_base_trades.sql
  seeds/_sector/dex/_schema.yml
  seeds/_sector/dex/pancakeswap_zkevm_base_trades_seed.csv
  sources/_sector/dex/trades/zkevm/_sources.yml
Labels: dex

#5802 Add CEX addresses for EVM chains, Bitcoin, Solana, Aptos, Cardano, Algorand, EOS, Cosmos, Elrond, Polkadot, Ripple, Tron, Zilliqa & Litecoin
  models/cex/algorand/cex_algorand_addresses.sql
  models/cex/algorand/cex_algorand_schema.yml
  models/cex/aptos/cex_aptos_addresses.sql
  models/cex/aptos/cex_aptos_schema.yml
  models/cex/bitcoin/cex_bitcoin_addresses.sql
  models/cex/cardano/cex_cardano_addresses.sql
  models/cex/cardano/cex_cardano_schema.yml
  models/cex/cex_evms_addresses.sql
  models/cex/cosmos/cex_cosmos_addresses.sql
  models/cex/cosmos/cex_cosmos_schema.yml
  models/cex/elrond/cex_elrond_addresses.sql
  models/cex/elrond/cex_elrond_schema.yml
  models/cex/eos/cex_eos_addresses.sql
  models/cex/eos/cex_eos_schema.yml
  models/cex/injective/cex_injective_addresses.sql
  models/cex/injective/cex_injective_schema.yml
  models/cex/litecoin/cex_litecoin_addresses.sql
  models/cex/litecoin/cex_litecoin_schema.yml
  models/cex/polkadot/cex_polkadot_addresses.sql
  models/cex/polkadot/cex_polkadot_schema.yml
  models/cex/ripple/cex_ripple_addresses.sql
  models/cex/ripple/cex_ripple_schema.yml
  models/cex/solana/cex_solana_addresses.sql
  models/cex/solana/cex_solana_schema.yml
  models/cex/tron/cex_tron_addresses.sql
  models/cex/tron/cex_tron_schema.yml
  models/cex/zilliqa/cex_zilliqa_addresses.sql
  models/cex/zilliqa/cex_zilliqa_schema.yml
Labels: ready-for-merging

#5799 Nexus Mutual staking - base models
  models/nexusmutual/ethereum/nexusmutual_ethereum_schema.yml
  models/nexusmutual/ethereum/staking/nexusmutual_ethereum_staking_deposit_extensions.sql
  models/nexusmutual/ethereum/staking/nexusmutual_ethereum_staking_events.sql
  models/nexusmutual/ethereum/staking/nexusmutual_ethereum_staking_pools.sql
  sources/nexusmutual/ethereum/nexusmutual_ethereum_sources.yml
Labels: ready-for-merging

#5759 add in burned event
  models/chainlink/arbitrum/chainlink_arbitrum_ccip_send_requested.sql
  models/chainlink/arbitrum/chainlink_arbitrum_ccip_tokens_locked_logs.sql
  models/chainlink/arbitrum/chainlink_arbitrum_ccip_tokens_transferred_logs.sql
  models/chainlink/arbitrum/chainlink_arbitrum_schema.yml
  models/chainlink/avalanche_c/chainlink_avalanche_c_ccip_send_requested.sql
  models/chainlink/avalanche_c/chainlink_avalanche_c_ccip_tokens_locked_logs.sql
  models/chainlink/avalanche_c/chainlink_avalanche_c_ccip_tokens_transferred_logs.sql
  models/chainlink/avalanche_c/chainlink_avalanche_c_schema.yml
  models/chainlink/base/chainlink_base_ccip_send_requested.sql
  models/chainlink/base/chainlink_base_ccip_tokens_locked_logs.sql
  models/chainlink/base/chainlink_base_ccip_tokens_transferred_logs.sql
  models/chainlink/base/chainlink_base_schema.yml
  models/chainlink/bnb/chainlink_bnb_ccip_send_requested.sql
  models/chainlink/bnb/chainlink_bnb_ccip_tokens_locked_logs.sql
  models/chainlink/bnb/chainlink_bnb_ccip_tokens_transferred_logs.sql
  models/chainlink/bnb/chainlink_bnb_schema.yml
  models/chainlink/chainlink_ccip_send_requested.sql
  models/chainlink/chainlink_ccip_tokens_transferred_logs.sql
  models/chainlink/chainlink_schema.yml
  models/chainlink/ethereum/chainlink_ethereum_ccip_send_requested.sql
  models/chainlink/ethereum/chainlink_ethereum_ccip_tokens_locked_logs.sql
  models/chainlink/ethereum/chainlink_ethereum_ccip_tokens_transferred_logs.sql
  models/chainlink/ethereum/chainlink_ethereum_schema.yml
  models/chainlink/optimism/chainlink_optimism_ccip_send_requested.sql
  models/chainlink/optimism/chainlink_optimism_ccip_tokens_locked_logs.sql
  models/chainlink/optimism/chainlink_optimism_ccip_tokens_transferred_logs.sql
  models/chainlink/optimism/chainlink_optimism_schema.yml
  models/chainlink/polygon/chainlink_polygon_ccip_send_requested.sql
  models/chainlink/polygon/chainlink_polygon_ccip_tokens_locked_logs.sql
  models/chainlink/polygon/chainlink_polygon_ccip_tokens_transferred_logs.sql
  models/chainlink/polygon/chainlink_polygon_schema.yml
Labels: ready-for-merging

#5822 Added SAFE token to ethereum price feed
  models/prices/ethereum/prices_ethereum_tokens.sql
Labels: ready-for-merging

#5819 Add zkevm to dex_base_trades.sql
  models/_sector/dex/trades/dex_base_trades.sql
Labels: easy, ready-for-merging

#5826 fantom prices: remove bad price feed
  models/prices/fantom/prices_fantom_tokens.sql
Labels: dune team, hotfix

#5827 `op_token_distributions_optimism_transfer_mapping` exclude due to engine error
  models/op/token_distributions/optimism/op_token_distributions_optimism_transfer_mapping.sql
Labels: hotfix

#5837 chore: fix typos and link broken
  models/airdrop/README.md
  models/op/readme.md
Labels: easy, ready-for-merging

#5838 [CoW Protocol] Add new Gnosis Chain solvers
  models/cow_protocol/gnosis/cow_protocol_gnosis_solvers.sql
Labels: easy, ready-for-merging

#5840 Add Linea to `dex.trades`
  models/_sector/dex/trades/_schema.yml
  models/_sector/dex/trades/dex_base_trades.sql
  models/_sector/dex/trades/linea/_schema.yml
  models/_sector/dex/trades/linea/dex_linea_base_trades.sql
  models/_sector/dex/trades/linea/platforms/echodex_linea_base_trades.sql
  models/_sector/dex/trades/linea/platforms/lynex_linea_base_trades.sql
  models/_sector/dex/trades/linea/platforms/nile_linea_base_trades.sql
  models/_sector/dex/trades/linea/platforms/secta_linea_base_trades.sql
  models/_sector/dex/trades/linea/platforms/sushiswap_v2_linea_base_trades.sql
  models/dex/dex_info.sql
  seeds/_sector/dex/_schema.yml
  seeds/_sector/dex/echodex_linea_base_trades_seed.csv
  seeds/_sector/dex/lynex_linea_base_trades_seed.csv
  seeds/_sector/dex/nile_linea_base_trades_seed.csv
  seeds/_sector/dex/secta_linea_base_trades_seed.csv
  seeds/_sector/dex/sushiswap_linea_base_trades_seed.csv
  sources/_sector/dex/trades/linea/_sources.yml
Labels: ready-for-merging, dex

#5850 Add missing tokens to prices.usd
  models/prices/arbitrum/prices_arbitrum_tokens.sql
  models/prices/gnosis/prices_gnosis_tokens.sql
  models/prices/optimism/prices_optimism_tokens_curated.sql
Labels: ready-for-merging

#5851 Update prices_native_tokens.sql
  models/prices/prices_native_tokens.sql
Labels: ready-for-merging

#5852 [base] add tokens to price list
  models/prices/base/prices_base_tokens.sql
Labels: easy

#5854 Add jitoSOL on ARB to tokens.erc20 and prices.usd
  models/prices/arbitrum/prices_arbitrum_tokens.sql
  tokens/models/tokens/arbitrum/tokens_arbitrum_erc20.sql
Labels: easy, ready-for-merging

#5654 Add Joepegs avalanche NFT trades - Ready for review
  models/_sector/nft/trades/chains/avalanche_c/nft_avalanche_c_base_trades.sql
  models/_sector/nft/trades/chains/avalanche_c/platforms/_schema.yml
  models/_sector/nft/trades/chains/avalanche_c/platforms/joepegs_avalanche_c_base_trades.sql
  seeds/_sector/nft/_schema.yml
  seeds/_sector/nft/joepegs_avalanche_c_base_trades_seed.csv
  sources/_sector/nft/trades/avalanche_c_sources.yml
Labels: ready-for-merging, NFT

#5745 Add Opensea Avalanche Trades - Ready for review
  models/_sector/nft/trades/chains/old/nft_old_base_trades.sql
  models/opensea/avalanche_c/opensea_avalanche_c_events.sql
  models/opensea/avalanche_c/opensea_avalanche_c_schema.yml
  models/opensea/avalanche_c/opensea_v3_avalanche_c_events.sql
  models/opensea/avalanche_c/opensea_v4_avalanche_c_events.sql
  seeds/opensea/avalanche_c/opensea_avalanche_c_seaport_trades_samples.csv
  seeds/opensea/avalanche_c/schema.yml
  sources/seaport/avalanche_c/seaport_avalanche_c_sources.yml
Labels: ready-for-merging, NFT

#5853 fix aggregators in nft.trades
  macros/models/_sector/nft/enrich_nft_trades.sql
Labels: ready-for-merging, dune team, NFT
