Repository duneanalytics/spellbook, pull requests merged in 2024-03, with the labels that each got.

#5464 balances upgrade + daily aggregation with forward fill
  macros/models/_sector/tokens/balances_daily.sql
  macros/models/_sector/tokens/balances_daily_agg.sql
  macros/models/_sector/tokens/balances_enrich.sql
  macros/models/_sector/tokens/balances_fix_schema.sql
  models/_sector/tokens/arbitrum/tokens_arbitrum_balances.sql
  models/_sector/tokens/base/_schema.yml
  models/_sector/tokens/base/tokens_base_balances.sql
  models/_sector/tokens/base/tokens_base_balances_daily.sql
  models/_sector/tokens/bnb/tokens_bnb_balances.sql
  models/_sector/tokens/ethereum/_schema.yml
  models/_sector/tokens/ethereum/tokens_ethereum_balances.sql
  models/_sector/tokens/ethereum/tokens_ethereum_balances_daily.sql
  models/_sector/tokens/ethereum/tokens_ethereum_balances_daily_agg.sql
  models/_sector/tokens/ethereum/tokens_ethereum_balances_daily_agg_base.sql
  models/_sector/tokens/ethereum/tokens_ethereum_base_balances_daily.sql
  models/_sector/tokens/optimism/_schema.yml
  models/_sector/tokens/optimism/tokens_optimism_balances.sql
  models/_sector/tokens/optimism/tokens_optimism_balances_daily.sql
  models/_sector/tokens/optimism/tokens_optimism_base_balances_daily.sql
  models/_sector/tokens/polygon/tokens_polygon_balances.sql
Labels: ready-for-review, dune team

#5488 Source identifiers for balances source
  models/_sector/tokens/arbitrum/tokens_arbitrum_balances.sql
  models/_sector/tokens/base/tokens_base_balances.sql
  models/_sector/tokens/bnb/tokens_bnb_balances.sql
  models/_sector/tokens/ethereum/tokens_ethereum_balances.sql
  models/_sector/tokens/ethereum/tokens_ethereum_balances_daily_agg_base.sql
  models/_sector/tokens/optimism/tokens_optimism_balances.sql
  models/_sector/tokens/polygon/tokens_polygon_balances.sql
  sources/_sector/tokens/balances_sources.yml
Labels: ready-for-review, dune team

#5492 dup tx in opensea_v4_polygon_events.sql
  models/opensea/polygon/opensea_v4_polygon_events.sql
Labels: hotfix

#5482 Add Kyberswap Base to Aggregator Trades - Ready for review
  models/kyberswap/base/kyberswap_aggregator_base_trades.sql
  models/kyberswap/base/kyberswap_base_schema.yml
  models/kyberswap/kyberswap_aggregator_trades.sql
  models/kyberswap/kyberswap_trades_schema.yml
  seeds/dex/aggregator/dex_aggregator_seed.csv
  sources/kyberswap/base/kyberswap_base_sources.yml
Labels: dex

#5480 Added voltswap to dex.trades
  models/_sector/dex/trades/base/_schema.yml
  models/_sector/dex/trades/base/platforms/voltswap_base_base_trades.sql
  models/dex/dex_info.sql
  seeds/_sector/dex/_schema.yml
  seeds/_sector/dex/voltswap_base_base_trades_seed.csv
  sources/_sector/dex/trades/base/_sources.yml
Labels: ready-for-merging, dex

#5478 Added energon dex to dex.trades
  models/_sector/dex/trades/base/_schema.yml
  models/_sector/dex/trades/base/platforms/energon_base_base_trades.sql
  models/dex/dex_info.sql
  seeds/_sector/dex/_schema.yml
  seeds/_sector/dex/energon_base_base_trades_seed.csv
  sources/_sector/dex/trades/base/_sources.yml
Labels: ready-for-merging, dex

#5477 Added solidly to dex.trades
  models/_sector/dex/trades/base/_schema.yml
  models/_sector/dex/trades/base/platforms/solidly_v3_base_base_trades.sql
  seeds/_sector/dex/_schema.yml
  seeds/_sector/dex/solidly_base_base_trades_seed.csv
  sources/_sector/dex/trades/base/_sources.yml
Labels: ready-for-merging, dex

#5474 ADDED SYNTHSWAP (BASE) TO DEX.TRADES
  models/_sector/dex/trades/base/_schema.yml
  models/_sector/dex/trades/base/platforms/synthswap_base_base_trades.sql
  models/dex/dex_info.sql
  seeds/_sector/dex/_schema.yml
  seeds/_sector/dex/synthswap_base_base_trades_seed.csv
  sources/_sector/dex/trades/base/_sources.yml
Labels: ready-for-merging, dex

#5469 Fix Magic Eden Ethereum & Polygon fees
  models/_sector/nft/trades/chains/ethereum/platforms/magiceden_ethereum_base_trades.sql
  models/_sector/nft/trades/chains/polygon/platforms/magiceden_v2_polygon_base_trades.sql
  models/nft/nft_marketplaces_info.sql
Labels: ready-for-merging, NFT

#5453 add: fabric subscription protocol
  macros/models/_sector/referral/platforms/fabric_referral_rewards.sql
  models/_sector/referral/rewards/platforms/_schema.yml
  models/_sector/referral/rewards/platforms/fabric_base_rewards.sql
  models/_sector/referral/rewards/platforms/fabric_ethereum_rewards.sql
  models/_sector/referral/rewards/platforms/fabric_optimism_rewards.sql
  models/_sector/referral/rewards/platforms/fabric_zora_rewards.sql
  seeds/_sector/referral/_schema.yml
  sources/_sector/referral/rewards/platforms/_sources.yml
Labels: ready-for-merging

#5502 Add missing tokens on tokens_erc20
  tokens/models/tokens/arbitrum/tokens_arbitrum_erc20.sql
  tokens/models/tokens/gnosis/tokens_gnosis_erc20.sql
Labels: easy, ready-for-merging

#5505 Scroll avalanche balances
  models/_sector/tokens/avalanche_c/_schema.yml
  models/_sector/tokens/avalanche_c/tokens_avalanche_c_balances.sql
  models/_sector/tokens/avalanche_c/tokens_avalanche_c_balances_daily.sql
  models/_sector/tokens/avalanche_c/tokens_avalanche_c_balances_daily_agg.sql
  models/_sector/tokens/avalanche_c/tokens_avalanche_c_balances_daily_agg_base.sql
  models/_sector/tokens/scroll/_schema.yml
  models/_sector/tokens/scroll/tokens_scroll_balances.sql
  models/_sector/tokens/scroll/tokens_scroll_balances_daily.sql
  models/_sector/tokens/scroll/tokens_scroll_balances_daily_agg.sql
  models/_sector/tokens/scroll/tokens_scroll_balances_daily_agg_base.sql
  sources/_sector/tokens/balances_sources.yml
Labels: ready-for-review, dune team, balances

#5458 Add Kreatorland and Element to `nft_zksync_base_trades`
  models/_sector/nft/trades/chains/zksync/nft_zksync_base_trades.sql
  models/_sector/nft/trades/chains/zksync/platforms/_schema.yml
  models/_sector/nft/trades/chains/zksync/platforms/element_zksync_base_trades.sql
  models/_sector/nft/trades/chains/zksync/platforms/kreatorland_zksync_base_trades.sql
  sources/_sector/nft/trades/zksync_sources.yml
Labels: ready-for-merging, NFT

#5516 add: fabric on referral staging
  models/_sector/referral/rewards/referral_staging_rewards.sql
Labels: ready-for-merging

#5500 Add Element Arbitrum to NFT Trades - Ready for review
  models/_sector/nft/trades/chains/arbitrum/nft_arbitrum_base_trades.sql
  models/_sector/nft/trades/chains/arbitrum/platforms/_schema.yml
  models/_sector/nft/trades/chains/arbitrum/platforms/element_arbitrum_base_trades.sql
  seeds/_sector/nft/_schema.yml
  seeds/_sector/nft/element_arbitrum_base_trades_seed.csv
  sources/_sector/nft/trades/arbitrum_sources.yml
Labels: ready-for-merging, NFT

#5551 Update pull_request_template.md
  pull_request_template.md
Labels: ready-for-merging

#5468 Zonic `nft.trades` fix
  macros/models/_sector/nft/platforms/zonic_base_trades.sql
  models/_sector/nft/trades/chains/base/platforms/zonic_base_base_trades.sql
  models/_sector/nft/trades/chains/zksync/platforms/zonic_zksync_base_trades.sql
Labels: ready-for-merging, NFT

#5526 Add missing tokens to prices and tokens.erc20
  models/prices/arbitrum/prices_arbitrum_tokens.sql
  models/prices/polygon/prices_polygon_tokens.sql
  tokens/models/tokens/ethereum/tokens_ethereum_erc20.sql
  tokens/models/tokens/gnosis/tokens_gnosis_erc20.sql
  tokens/models/tokens/optimism/tokens_optimism_erc20_curated.sql
  tokens/models/tokens/polygon/tokens_polygon_erc20.sql
Labels: easy, ready-for-merging

#5538 add new tokens to prices - arb, bnb, ftm, op [READY]
  models/prices/arbitrum/prices_arbitrum_schema.yml
  models/prices/arbitrum/prices_arbitrum_tokens.sql
  models/prices/bnb/prices_bnb_schema.yml
  models/prices/bnb/prices_bnb_tokens.sql
  models/prices/fantom/prices_fantom_tokens.sql
  models/prices/optimism/prices_optimism_schema.yml
  models/prices/optimism/prices_optimism_tokens_curated.sql
Labels: easy, ready-for-merging

#5535 Add uniswapv3 on ZkSync to dex.trades
  models/_sector/dex/trades/zksync/_schema.yml
  models/_sector/dex/trades/zksync/dex_zksync_base_trades.sql
  models/_sector/dex/trades/zksync/platforms/uniswap_v3_zksync_base_trades.sql
  seeds/_sector/dex/_schema.yml
  seeds/_sector/dex/uniswap_zksync_base_trades_seed.csv
  sources/_sector/dex/trades/zksync/_sources.yml
Labels: ready-for-merging, dex

#5499 Add Wombat Exchange DEX & Vela Exchange Perp
  models/_sector/dex/trades/arbitrum/_schema.yml
  models/_sector/dex/trades/arbitrum/dex_arbitrum_base_trades.sql
  models/_sector/dex/trades/arbitrum/platforms/wombat_exchange_arbitrum_base_trades.sql
  models/vela_exchange/arbitrum/vela_exchange_arbitrum_perpetual_trades.sql
  models/vela_exchange/arbitrum/vela_exchange_arbitrum_schema.yml
  seeds/_sector/dex/_schema.yml
  seeds/_sector/dex/wombat_exchange_arbitrum_base_trades_seed.csv
  seeds/perpetual/trades/perpetual_trades_seed.csv
  sources/_sector/dex/trades/arbitrum/_sources.yml
  sources/vela_exchange/arbitrum/vela_exchange_arbitrum_sources.yml
Labels: dex

#5408 Add Pancakeswap V2 for zkSync dex.trades_beta
  models/_sector/dex/trades/zksync/_schema.yml
  models/_sector/dex/trades/zksync/dex_zksync_base_trades.sql
  models/_sector/dex/trades/zksync/platforms/pancakeswap_v2_zksync_base_trades.sql
  seeds/_sector/dex/_schema.yml
  seeds/_sector/dex/pancakeswap_zksync_base_trades_seed.csv
  sources/_sector/dex/trades/zksync/_sources.yml
Labels: ready-for-final-review

#5527 Add BPT decimals to balancer.liquidity
  macros/models/_project/balancer/balancer_liquidity_macro.sql
Labels: easy, ready-for-final-review

#5553 Add L1 fees for scroll on evms.transactions
  models/evms/evms_transactions.sql
Labels: ready-for-review

#5555 Adds new tokens to tokens.erc20
  tokens/models/tokens/arbitrum/tokens_arbitrum_erc20.sql
  tokens/models/tokens/base/tokens_base_erc20.sql
  tokens/models/tokens/ethereum/tokens_ethereum_erc20.sql
  tokens/models/tokens/gnosis/tokens_gnosis_erc20.sql
  tokens/models/tokens/polygon/tokens_polygon_erc20.sql
Labels: ready-for-merging

#5565 add tokens to Fantom price list
  models/prices/fantom/prices_fantom_tokens.sql
Labels: easy, ready-for-merging

#5563 add tokens to bnb prices list
  models/prices/bnb/prices_bnb_tokens.sql
Labels: easy, ready-for-merging

#5562 add tokens to ethereum price list
  models/prices/ethereum/prices_ethereum_tokens.sql
Labels: easy, ready-for-merging

#5559 Element ex macro update | `nft.trades` | `EASY`
  macros/models/_sector/nft/platforms/element_v1_base_trades.sql
  models/_sector/nft/trades/chains/zksync/platforms/_schema.yml
Labels: ready-for-merging, NFT

#5558 add new polygon tokens to price list [READY]
  models/prices/polygon/prices_polygon_tokens.sql
Labels: easy, ready-for-merging

#5566 fix: update tusd address
  models/prices/bnb/prices_bnb_tokens.sql
Labels: ready-for-final-review

#5557 zeroex - polygon - add usdc to priority token conversion list [READY]
  models/zeroex/polygon/zeroex_polygon_api_fills.sql
Labels: dex, ready-for-final-review

#5556 [EASY] Add missing tokens
  tokens/models/tokens/ethereum/tokens_ethereum_erc20.sql
Labels: ready-for-merging

#5573 adding MEOW to erc20 tokens (avalanche_c)
  tokens/models/tokens/avalanche_c/tokens_avalanche_c_erc20.sql
Labels: ready-for-merging

#5574 Update to Balancer Protocol Fees Spell
  macros/models/_project/balancer/balancer_protocol_fee_macro.sql
Labels: ready-for-merging

#5550 Added Base v_07 of new entrypoint for ERC-4337
  models/account_abstraction/erc4337/base/account_abstraction_erc4337_base_account_deployed.sql
  models/account_abstraction/erc4337/base/account_abstraction_erc4337_base_userops.sql
  models/account_abstraction/erc4337/base/account_abstraction_erc4337_base_v0_7_account_deployed.sql
  models/account_abstraction/erc4337/base/account_abstraction_erc4337_base_v0_7_userops_basics.sql
Labels: ready-for-merging

#5507 Add Garden Finance's $SEED and Ethereans $OS to prices
  models/prices/ethereum/prices_ethereum_tokens.sql
Labels: ready-for-merging

#5583 zereox - base- update token price priority list
  models/zeroex/base/zeroex_base_api_fills.sql
Labels: ready-for-merging

#5582 add base tokens to price list
  models/prices/base/prices_base_tokens.sql
Labels: ready-for-merging

#5581 Add Basepaint rewards to the referrals.rewards spell
  models/_sector/referral/rewards/platforms/_schema.yml
  models/_sector/referral/rewards/platforms/basepaint_base_rewards.sql
  models/_sector/referral/rewards/referral_staging_rewards.sql
  seeds/_sector/referral/_schema.yml
  seeds/_sector/referral/basepaint_base_rewards_seed.csv
  sources/_sector/referral/rewards/platforms/_sources.yml
Labels: ready-for-merging

#5580 zereox - avalanche - update token price priority list
  models/zeroex/avalanche_c/zeroex_avalanche_c_api_fills.sql
Labels: ready-for-merging

#5579 add new tokens to price list - avalanche
  models/prices/avalanche_c/prices_avalanche_c_tokens.sql
Labels: ready-for-merging

#5577 add tokens to price list - celo
  models/prices/celo/prices_celo_tokens.sql
Labels: ready-for-merging

#5576 zeroex - fantom - update priority token price list
  models/zeroex/fantom/zeroex_fantom_api_fills.sql
Labels: ready-for-merging

#5490 Add prices daily
  models/prices/prices_schema.yml
  models/prices/prices_usd_daily.sql
Labels: ready-for-merging

#5475 Add zkMarkets to `nft.trades` for zkSync Era
  models/_sector/nft/trades/chains/zksync/nft_zksync_base_trades.sql
  models/_sector/nft/trades/chains/zksync/platforms/_schema.yml
  models/_sector/nft/trades/chains/zksync/platforms/zk_markets_zksync_base_trades.sql
  seeds/_sector/nft/_schema.yml
  seeds/_sector/nft/zk_markets_zksync_base_trades_seed.csv
  sources/_sector/nft/trades/zksync_sources.yml
Labels: ready-for-merging, NFT

#5533 fix: multiple small bugs on the keep3r_network queries
  dbt_project.yml
  models/keep3r_network/keep3r_network_job_migration.sql
  models/keep3r_network/keep3r_network_keeper_work.sql
  models/keep3r_network/keep3r_network_liquidity_addition.sql
  models/keep3r_network/keep3r_network_liquidity_credits_reward.sql
  models/keep3r_network/keep3r_network_liquidity_withdrawal.sql
  models/keep3r_network/keep3r_network_token_prices.sql
  sources/keep3r_network/keep3r_network_sources.yml
Labels: ready-for-final-review

#5476 ADDED BASO FINANCE (BASE) TO DEX.TRADES
  models/_sector/dex/trades/base/_schema.yml
  models/_sector/dex/trades/base/platforms/baso_finance_base_base_trades.sql
  models/_sector/dex/trades/zksync/platforms/syncswap_zksync_base_trades.sql
  models/dex/dex_info.sql
  seeds/_sector/dex/_schema.yml
  seeds/_sector/dex/baso_finance_base_base_trades_seed.csv
  seeds/_sector/dex/syncswap_zksync_base_trades_seed.csv
  sources/_sector/dex/trades/base/_sources.yml
Labels: dex, ready-for-final-review

#5503 1inch: updates 17
  macros/models/_project/oneinch/AR/oneinch_ar_handle_generic.sql
  macros/models/_project/oneinch/AR/oneinch_ar_handle_unoswap.sql
  macros/models/_project/oneinch/AR/oneinch_ar_macro.sql
  macros/models/_project/oneinch/oneinch_parsed_transfers_from_calls_macro.sql
  models/dex/dex_raw_pool_creations.sql
  models/dex/dex_raw_pool_initializations.sql
  models/dex/dex_raw_pools.sql
  models/dex/dex_schema.yml
  models/oneinch/arbitrum/oneinch_arbitrum_call_transfers.sql
  models/oneinch/arbitrum/oneinch_arbitrum_schema.yml
  models/oneinch/avalanche_c/oneinch_avalanche_c_call_transfers.sql
  models/oneinch/avalanche_c/oneinch_avalanche_c_schema.yml
  models/oneinch/base/oneinch_base_call_transfers.sql
  models/oneinch/base/oneinch_base_schema.yml
  models/oneinch/bnb/oneinch_bnb_call_transfers.sql
  models/oneinch/bnb/oneinch_bnb_schema.yml
  models/oneinch/ethereum/oneinch_ethereum_call_transfers.sql
  models/oneinch/ethereum/oneinch_ethereum_schema.yml
  models/oneinch/fantom/oneinch_fantom_call_transfers.sql
  models/oneinch/fantom/oneinch_fantom_schema.yml
  models/oneinch/gnosis/oneinch_gnosis_call_transfers.sql
  models/oneinch/gnosis/oneinch_gnosis_schema.yml
  models/oneinch/oneinch_call_transfers.sql
  models/oneinch/oneinch_parsed_transfers_from_calls.sql
  models/oneinch/oneinch_schema.yml
  models/oneinch/oneinch_swaps.sql
  models/oneinch/optimism/oneinch_optimism_call_transfers.sql
  models/oneinch/optimism/oneinch_optimism_schema.yml
  models/oneinch/polygon/oneinch_polygon_call_transfers.sql
  models/oneinch/polygon/oneinch_polygon_schema.yml
  models/oneinch/zksync/oneinch_zksync_call_transfers.sql
  models/oneinch/zksync/oneinch_zksync_schema.yml
Labels: ready-for-merging

#5590 add back "1inch: updates 17 (#5503)"
  macros/models/_project/oneinch/AR/oneinch_ar_handle_generic.sql
  macros/models/_project/oneinch/AR/oneinch_ar_handle_unoswap.sql
  macros/models/_project/oneinch/AR/oneinch_ar_macro.sql
  macros/models/_project/oneinch/oneinch_parsed_transfers_from_calls_macro.sql
  models/dex/dex_raw_pool_creations.sql
  models/dex/dex_raw_pool_initializations.sql
  models/dex/dex_raw_pools.sql
  models/dex/dex_schema.yml
  models/oneinch/arbitrum/oneinch_arbitrum_call_transfers.sql
  models/oneinch/arbitrum/oneinch_arbitrum_schema.yml
  models/oneinch/avalanche_c/oneinch_avalanche_c_call_transfers.sql
  models/oneinch/avalanche_c/oneinch_avalanche_c_schema.yml
  models/oneinch/base/oneinch_base_call_transfers.sql
  models/oneinch/base/oneinch_base_schema.yml
  models/oneinch/bnb/oneinch_bnb_call_transfers.sql
  models/oneinch/bnb/oneinch_bnb_schema.yml
  models/oneinch/ethereum/oneinch_ethereum_call_transfers.sql
  models/oneinch/ethereum/oneinch_ethereum_schema.yml
  models/oneinch/fantom/oneinch_fantom_call_transfers.sql
  models/oneinch/fantom/oneinch_fantom_schema.yml
  models/oneinch/gnosis/oneinch_gnosis_call_transfers.sql
  models/oneinch/gnosis/oneinch_gnosis_schema.yml
  models/oneinch/oneinch_call_transfers.sql
  models/oneinch/oneinch_parsed_transfers_from_calls.sql
  models/oneinch/oneinch_schema.yml
  models/oneinch/oneinch_swaps.sql
  models/oneinch/optimism/oneinch_optimism_call_transfers.sql
  models/oneinch/optimism/oneinch_optimism_schema.yml
  models/oneinch/polygon/oneinch_polygon_call_transfers.sql
  models/oneinch/polygon/oneinch_polygon_schema.yml
  models/oneinch/zksync/oneinch_zksync_call_transfers.sql
  models/oneinch/zksync/oneinch_zksync_schema.yml
Labels: ready-for-merging

#5587 Add Mute to `dex.trades` for zkSync Era
  models/_sector/dex/trades/zksync/_schema.yml
  models/_sector/dex/trades/zksync/dex_zksync_base_trades.sql
  models/_sector/dex/trades/zksync/platforms/mute_zksync_base_trades.sql
  models/dex/dex_info.sql
  seeds/_sector/dex/_schema.yml
  seeds/_sector/dex/mute_zksync_base_trades_seed.csv
  sources/_sector/dex/trades/zksync/_sources.yml
Labels: dex, ready-for-final-review

#5483 Added baseswap(basex) to dex.trades
  models/_sector/dex/trades/base/_schema.yml
  models/_sector/dex/trades/base/platforms/baseswap_basex_base_base_trades.sql
  seeds/_sector/dex/_schema.yml
  seeds/_sector/dex/baseswap_basex_base_base_trades_seed.csv
  sources/_sector/dex/trades/base/_sources.yml
Labels: ready-for-merging, dex

#5599 Remove duped record in dex.info
  models/_sector/dex/trades/dex_trades_beta.sql
  models/dex/dex_info.sql
Labels: ready-for-merging

#5604 clean up `sources/` directory and prepare for scale
  sources/_base_sources/arbitrum_base_sources.yml
  sources/_base_sources/avalanche_c_base_sources.yml
  sources/_base_sources/base_base_sources.yml
  sources/_base_sources/bitcoin_base_sources.yml
  sources/_base_sources/bnb_base_sources.yml
  sources/_base_sources/celo_base_sources.yml
  sources/_base_sources/community_base_sources.yml
  sources/_base_sources/dune_upload_sources.yml
  sources/_base_sources/ethereum_base_sources.yml
  sources/_base_sources/fantom_base_sources.yml
  sources/_base_sources/gnosis_base_sources.yml
  sources/_base_sources/goerli_base_sources.yml
  sources/_base_sources/optimism_base_sources.yml
  sources/_base_sources/polygon_base_sources.yml
  sources/_base_sources/scroll_base_sources.yml
  sources/_base_sources/solana_base_sources.yml
  sources/_base_sources/zksync_base_sources.yml
  sources/_base_sources/zora_base_sources.yml
  sources/_datasets/reservoir/ethereum/_sources.yml
  sources/_subprojects/tokens/_sources.yml
Labels: dune team

#5603 prep source macro for dune catalog uploads
  macros/dune/source.sql
Labels: ready-for-merging, dune team

#5611 `layerzero_base` fix source name
  models/layerzero/base/layerzero_base_send.sql
  sources/layerzero/base/layerzero_base_sources.yml
Labels: hotfix

#5613 add missing tokens
  models/prices/arbitrum/prices_arbitrum_tokens.sql
  models/prices/avalanche_c/prices_avalanche_c_tokens.sql
  models/prices/bnb/prices_bnb_tokens.sql
  models/prices/ethereum/prices_ethereum_tokens.sql
  models/prices/fantom/prices_fantom_tokens.sql
Labels: easy, ready-for-merging

#5612 [EASY] update ethereum.token_erc20
  tokens/models/tokens/ethereum/tokens_ethereum_erc20.sql
Labels: easy, ready-for-merging

#5610 adding bifi-beefy to ethereum prices
  models/prices/ethereum/prices_ethereum_tokens.sql
Labels: easy, ready-for-merging

#5607 `check_dex_info_relationship` macro
  models/_sector/dex/trades/arbitrum/_schema.yml
  models/_sector/dex/trades/avalanche_c/_schema.yml
  models/_sector/dex/trades/base/_schema.yml
  models/_sector/dex/trades/bnb/_schema.yml
  models/_sector/dex/trades/celo/_schema.yml
  models/_sector/dex/trades/ethereum/_schema.yml
  models/_sector/dex/trades/fantom/_schema.yml
  models/_sector/dex/trades/gnosis/_schema.yml
  models/_sector/dex/trades/optimism/_schema.yml
  models/_sector/dex/trades/polygon/_schema.yml
  models/_sector/dex/trades/scroll/_schema.yml
  models/_sector/dex/trades/zksync/_schema.yml
  tests/generic/check_dex_info_relationship.sql
Labels: dex

#5501 SPE-345 finalize and migrate dex.trades to new structure
  models/_sector/dex/trades/_schema.yml
  models/_sector/dex/trades/dex_trades.sql
  models/balancer/arbitrum/balancer_v2_arbitrum_trades_beta.sql
  models/balancer/avalanche_c/balancer_v2_avalanche_c_trades_beta.sql
  models/balancer/base/balancer_v2_base_trades_beta.sql
  models/balancer/ethereum/balancer_v2_ethereum_trades_beta.sql
  models/balancer/gnosis/balancer_v2_gnosis_trades_beta.sql
  models/balancer/optimism/balancer_v2_optimism_trades_beta.sql
  models/balancer/polygon/balancer_v2_polygon_trades_beta.sql
  models/dex/dex_schema.yml
  models/dex/dex_trades_legacy.sql
Labels: ready-for-merging, dex

#5618 Bnb balances
  models/_sector/tokens/bnb/_schema.yml
  models/_sector/tokens/bnb/tokens_bnb_balances_daily.sql
  models/_sector/tokens/bnb/tokens_bnb_balances_daily_agg.sql
  models/_sector/tokens/bnb/tokens_bnb_balances_daily_agg_base.sql
  sources/_sector/tokens/balances_sources.yml
Labels: dune team, balances

#5597 Paraswap v6
  macros/models/_project/paraswap/v6/paraswap_v6_balancer_v2_method.sql
  macros/models/_project/paraswap/v6/paraswap_v6_trades_master.sql
  macros/models/_project/paraswap/v6/paraswap_v6_uniswaplike_method.sql
  models/paraswap/arbitrum/paraswap_arbitrum_schema.yml
  models/paraswap/arbitrum/paraswap_arbitrum_trades.sql
  models/paraswap/arbitrum/paraswap_v6_arbitrum_trades.sql
  models/paraswap/arbitrum/paraswap_v6_arbitrum_trades_decoded.sql
  models/paraswap/avalanche_c/paraswap_avalanche_c_schema.yml
  models/paraswap/avalanche_c/paraswap_avalanche_c_trades.sql
  models/paraswap/avalanche_c/paraswap_v6_avalanche_c_trades.sql
  models/paraswap/avalanche_c/paraswap_v6_avalanche_c_trades_decoded.sql
  models/paraswap/base/paraswap_base_schema.yml
  models/paraswap/base/paraswap_base_trades.sql
  models/paraswap/base/paraswap_v6_base_trades.sql
  models/paraswap/base/paraswap_v6_base_trades_decoded.sql
  models/paraswap/bnb/paraswap_bnb_schema.yml
  models/paraswap/bnb/paraswap_bnb_trades.sql
  models/paraswap/bnb/paraswap_v6_bnb_trades.sql
  models/paraswap/bnb/paraswap_v6_bnb_trades_decoded.sql
  models/paraswap/ethereum/paraswap_ethereum_schema.yml
  models/paraswap/ethereum/paraswap_ethereum_trades.sql
  models/paraswap/ethereum/paraswap_v6_ethereum_trades.sql
  models/paraswap/ethereum/paraswap_v6_ethereum_trades_decoded.sql
  models/paraswap/fantom/paraswap_fantom_schema.yml
  models/paraswap/fantom/paraswap_fantom_trades.sql
  models/paraswap/fantom/paraswap_v6_fantom_trades.sql
  models/paraswap/fantom/paraswap_v6_fantom_trades_decoded.sql
  models/paraswap/optimism/paraswap_optimism_schema.yml
  models/paraswap/optimism/paraswap_optimism_trades.sql
  models/paraswap/optimism/paraswap_v6_optimism_trades.sql
  models/paraswap/optimism/paraswap_v6_optimism_trades_decoded.sql
  models/paraswap/polygon/paraswap_polygon_schema.yml
  models/paraswap/polygon/paraswap_polygon_trades.sql
  models/paraswap/polygon/paraswap_v6_polygon_trades.sql
  models/paraswap/polygon/paraswap_v6_polygon_trades_decoded.sql
  sources/paraswap/arbitrum/paraswap_arbitrum_sources.yml
  sources/paraswap/avalanche_c/paraswap_avalanche_c_sources.yml
  sources/paraswap/base/paraswap_base_sources.yml
  sources/paraswap/bnb/paraswap_bnb_sources.yml
  sources/paraswap/ethereum/paraswap_ethereum_sources.yml
  sources/paraswap/fantom/paraswap_fantom_sources.yml
  sources/paraswap/optimism/paraswap_optimism_sources.yml
  sources/paraswap/polygon/paraswap_polygon_sources.yml
Labels: ready-for-merging, dex

#5519 Sudoswap v2
  macros/models/_sector/nft/platforms/sudoswap_v2_base_trades.sql
  models/_sector/nft/trades/chains/arbitrum/nft_arbitrum_base_trades.sql
  models/_sector/nft/trades/chains/arbitrum/platforms/_schema.yml
  models/_sector/nft/trades/chains/arbitrum/platforms/sudoswap_v2_arbitrum_base_trades.sql
  models/_sector/nft/trades/chains/base/nft_base_base_trades.sql
  models/_sector/nft/trades/chains/base/platforms/_schema.yml
  models/_sector/nft/trades/chains/base/platforms/sudoswap_v2_base_base_trades.sql
  models/_sector/nft/trades/chains/ethereum/nft_ethereum_base_trades.sql
  models/_sector/nft/trades/chains/ethereum/platforms/_schema.yml
  models/_sector/nft/trades/chains/ethereum/platforms/sudoswap_v2_ethereum_base_trades.sql
  models/sudoswap/arbitrum/sudoswap_arbitrum_schema.yml
  models/sudoswap/arbitrum/sudoswap_v2_arbitrum_pool_creations.sql
  models/sudoswap/base/sudoswap_base_schema.yml
  models/sudoswap/base/sudoswap_v2_base_pool_creations.sql
  models/sudoswap/ethereum/sudoswap_ethereum_schema.yml
  models/sudoswap/ethereum/sudoswap_v2_ethereum_pool_creations.sql
  seeds/_sector/nft/_schema.yml
  seeds/_sector/nft/sudoswap_v2_arbitrum_base_trades_seed.csv
  seeds/_sector/nft/sudoswap_v2_base_base_trades_seed.csv
  seeds/_sector/nft/sudoswap_v2_ethereum_base_trades_seed.csv
  sources/_sector/nft/trades/arbitrum_sources.yml
  sources/_sector/nft/trades/base_sources.yml
  sources/_sector/nft/trades/ethereum_sources.yml
Labels: ready-for-merging, NFT

#5598 Add Agora V6 in OP Governance
  models/governance/optimism/governance_optimism_agora_proposals.sql
  models/governance/optimism/governance_optimism_proposal_votes.sql
  models/governance/optimism/governance_optimism_proposals.sql
  models/governance/optimism/governance_optimism_schema.yml
  models/governance/optimism/governance_optimism_snapshot_proposals.sql
  sources/governance/optimism/governance_optimism_sources.yml
Labels: ready-for-merging

#5622 paraswap optimism: update version number in cross-version spell
  models/paraswap/optimism/paraswap_optimism_trades.sql
Labels: hotfix

#5617 Add coinpaprika tokens
  models/prices/base/prices_base_tokens.sql
  models/prices/fantom/prices_fantom_tokens.sql
Labels: ready-for-merging

#5616 Fix for balancer.protocol_fee
  macros/models/_project/balancer/balancer_protocol_fee_macro.sql
Labels: ready-for-merging

#5161 add cex addresses
  models/cex/cex_evms_addresses.sql
  models/cex/cex_info.sql
  models/cex/cex_schema.yml
Labels: ready-for-review

#5588 Add cex.addresses for Base, Scroll & Gnosis
  models/cex/base/cex_base_addresses.sql
  models/cex/base/cex_base_schema.yml
  models/cex/gnosis/cex_gnosis_addresses.sql
  models/cex/gnosis/cex_gnosis_schema.yml
  models/cex/scroll/cex_scroll_addresses.sql
  models/cex/scroll/cex_scroll_schema.yml
Labels: ready-for-review

#5545 Contracts - Add Top-Level Contract Address
  macros/models/_sector/contracts/contracts_base_iterated_creators.sql
  macros/models/_sector/contracts/contracts_base_starting_level.sql
  macros/models/_sector/contracts/contracts_contract_mapping.sql
  models/_sector/contracts/_schema.yml
  models/_sector/contracts/arbitrum/_schema.yml
  models/_sector/contracts/avalanche_c/_schema.yml
  models/_sector/contracts/base/_schema.yml
  models/_sector/contracts/bnb/_schema.yml
  models/_sector/contracts/celo/_schema.yml
  models/_sector/contracts/ethereum/_schema.yml
  models/_sector/contracts/fantom/_schema.yml
  models/_sector/contracts/gnosis/_schema.yml
  models/_sector/contracts/goerli/_schema.yml
  models/_sector/contracts/optimism/_schema.yml
  models/_sector/contracts/polygon/_schema.yml
  models/_sector/contracts/zksync/_schema.yml
  models/_sector/contracts/zora/_schema.yml
Labels: ready-for-merging

#5623 Add more ERC-20 tokens for zkSync
  tokens/models/tokens/zksync/tokens_zksync_erc20.sql
Labels: easy, ready-for-merging

#5624 add ETH price feed to enrich_nft_trades for base and arbitrum
  macros/models/_sector/nft/enrich_nft_trades.sql
Labels: ready-for-merging, NFT

#5625 Rename balancer_v2_*_trades_beta to *_trades and resolve conflicts
  models/balancer/arbitrum/balancer_arbitrum_schema.yml
  models/balancer/arbitrum/balancer_arbitrum_trades.sql
  models/balancer/arbitrum/balancer_v2_arbitrum_trades.sql
  models/balancer/arbitrum/balancer_v2_arbitrum_trades_beta.sql
  models/balancer/arbitrum/balancer_v2_arbitrum_trades_legacy.sql
  models/balancer/avalanche_c/balancer_avalanche_c_schema.yml
  models/balancer/avalanche_c/balancer_avalanche_c_trades.sql
  models/balancer/avalanche_c/balancer_v2_avalanche_c_trades.sql
  models/balancer/avalanche_c/balancer_v2_avalanche_c_trades_beta.sql
  models/balancer/avalanche_c/balancer_v2_avalanche_c_trades_legacy.sql
  models/balancer/balancer_trades.sql
  models/balancer/base/balancer_base_schema.yml
  models/balancer/base/balancer_base_trades.sql
  models/balancer/base/balancer_v2_base_trades.sql
  models/balancer/base/balancer_v2_base_trades_beta.sql
  models/balancer/base/balancer_v2_base_trades_legacy.sql
  models/balancer/ethereum/balancer_ethereum_schema.yml
  models/balancer/ethereum/balancer_ethereum_trades.sql
  models/balancer/ethereum/balancer_v2_ethereum_trades.sql
  models/balancer/ethereum/balancer_v2_ethereum_trades_beta.sql
  models/balancer/ethereum/balancer_v2_ethereum_trades_legacy.sql
  models/balancer/gnosis/balancer_gnosis_schema.yml
  models/balancer/gnosis/balancer_gnosis_trades.sql
  models/balancer/gnosis/balancer_v2_gnosis_trades.sql
  models/balancer/gnosis/balancer_v2_gnosis_trades_beta.sql
  models/balancer/gnosis/balancer_v2_gnosis_trades_legacy.sql
  models/balancer/optimism/balancer_optimism_schema.yml
  models/balancer/optimism/balancer_optimism_trades.sql
  models/balancer/optimism/balancer_v2_optimism_trades.sql
  models/balancer/optimism/balancer_v2_optimism_trades_beta.sql
  models/balancer/optimism/balancer_v2_optimism_trades_legacy.sql
  models/balancer/polygon/balancer_polygon_schema.yml
  models/balancer/polygon/balancer_polygon_trades.sql
  models/balancer/polygon/balancer_v2_polygon_trades.sql
  models/balancer/polygon/balancer_v2_polygon_trades_beta.sql
  models/balancer/polygon/balancer_v2_polygon_trades_legacy.sql
Labels: ready-for-merging

#5595 SPE-350 introduce automated source for `tokens.erc20` & revamp the entire lineage
  sources/_datasets/definedfi/_sources.yml
  sources/_subprojects/evms/_sources.yml
  tokens/models/tokens/arbitrum/tokens_arbitrum_erc20.sql
  tokens/models/tokens/avalanche_c/tokens_avalanche_c_erc20.sql
  tokens/models/tokens/base/tokens_base_erc20.sql
  tokens/models/tokens/bnb/tokens_bnb_bep20.sql
  tokens/models/tokens/celo/tokens_celo_erc20.sql
  tokens/models/tokens/ethereum/tokens_ethereum_erc20.sql
  tokens/models/tokens/fantom/tokens_fantom_erc20.sql
  tokens/models/tokens/gnosis/tokens_gnosis_erc20.sql
  tokens/models/tokens/goerli/tokens_goerli_erc20.sql
  tokens/models/tokens/optimism/tokens_optimism_erc20_curated.sql
  tokens/models/tokens/polygon/tokens_polygon_erc20.sql
  tokens/models/tokens/scroll/tokens_scroll_erc20.sql
  tokens/models/tokens/tokens_erc20.sql
  tokens/models/tokens/zksync/tokens_zksync_erc20.sql
  tokens/models/tokens/zora/tokens_zora_erc20.sql
  tokens/package-lock.yml
Labels: ready-for-merging, dune team

#5313 Added boost_deployed, boost_claimed and boost_completors model
  models/boost/arbitrum/boost_arbitrum_claimed.sql
  models/boost/arbitrum/boost_arbitrum_deployed.sql
  models/boost/arbitrum/boost_arbitrum_schema.yml
  models/boost/base/boost_base_claimed.sql
  models/boost/base/boost_base_deployed.sql
  models/boost/base/boost_base_schema.yml
  models/boost/boost_claimed.sql
  models/boost/boost_claimed_legacy.sql
  models/boost/boost_completors.sql
  models/boost/boost_deployed.sql
  models/boost/boost_schema.yml
  models/boost/ethereum/boost_ethereum_claimed.sql
  models/boost/ethereum/boost_ethereum_deployed.sql
  models/boost/ethereum/boost_ethereum_schema.yml
  models/boost/optimism/boost_optimism_claimed.sql
  models/boost/optimism/boost_optimism_deployed.sql
  models/boost/optimism/boost_optimism_schema.yml
  models/boost/polygon/boost_polygon_claimed.sql
  models/boost/polygon/boost_polygon_deployed.sql
  models/boost/polygon/boost_polygon_schema.yml
  sources/boost/boost_arbitrum_sources.yml
  sources/boost/boost_base_sources.yml
  sources/boost/boost_ethereum_sources.yml
  sources/boost/boost_optimism_sources.yml
  sources/boost/boost_polygon_sources.yml
Labels: ready-for-merging

#5634 fix `tokens.erc20` cleaner approach to dupes, add test
  tokens/models/tokens/tokens_erc20.sql
  tokens/models/tokens/tokens_schema.yml
Labels: hotfix

#5239 Labelling more stakers
  models/staking/ethereum/entities/entity_specific/staking_ethereum_entities_chorusone.sql
  models/staking/ethereum/entities/entity_specific/staking_ethereum_entities_coinbase.sql
  models/staking/ethereum/entities/staking_ethereum_entities_batch_contracts_tx_from.sql
  models/staking/ethereum/entities/staking_ethereum_entities_depositor_addresses.sql
  models/staking/ethereum/entities/staking_ethereum_entities_schema.yml
  models/staking/ethereum/staking_ethereum_deposits.sql
  models/staking/ethereum/staking_ethereum_entities.sql
  models/staking/ethereum/staking_ethereum_flows.sql
  models/staking/ethereum/staking_ethereum_info.sql
  models/staking/ethereum/staking_ethereum_schema.yml
Labels: ready-for-merging

#5645 deduplicate opensea_v4_ethereum
  models/opensea/ethereum/opensea_v4_ethereum_events.sql
Labels: dune team, hotfix, ready-for-final-review

#5646 clean up opensea bugs and standardize for short-term
  macros/models/_sector/nft/platforms/seaport_v3_trades.sql
  models/opensea/polygon/opensea_v3_polygon_events.sql
  models/opensea/polygon/opensea_v4_polygon_events.sql
Labels: hotfix, NFT

#5656 chore: fix typos
  models/airdrop/README.md
  models/labels/op_address_archetype_labels_description.md
  models/op/readme.md
Labels: easy, ready-for-merging

#5659 add TUNA price to erc20 price
  models/prices/ethereum/prices_ethereum_tokens.sql
Labels: ready-for-merging

#5660 Add new Arbitrum batch submitter transactions to rollup economics
  models/rollup_economics/ethereum/l1_data_fees.sql
Labels: ready-for-merging

#5668 Add missing tokens
  models/gyroscope/gyroscope_gyro_tokens.sql
  tokens/models/tokens/base/tokens_base_erc20.sql
  tokens/models/tokens/optimism/tokens_optimism_erc20_curated.sql
  tokens/models/tokens/polygon/tokens_polygon_erc20.sql
Labels: easy, ready-for-merging

#5661 fix: make bonkbot spellbook seed blockchain column lowercase
  seeds/bonkbot/bonkbot_solana_trades_seed.csv
Labels: easy, ready-for-merging, hotfix

#5667 Balances update spell type in expose
  models/_sector/tokens/arbitrum/tokens_arbitrum_balances.sql
  models/_sector/tokens/arbitrum/tokens_arbitrum_balances_daily.sql
  models/_sector/tokens/avalanche_c/tokens_avalanche_c_balances.sql
  models/_sector/tokens/avalanche_c/tokens_avalanche_c_balances_daily.sql
  models/_sector/tokens/base/tokens_base_balances.sql
  models/_sector/tokens/base/tokens_base_balances_daily.sql
  models/_sector/tokens/bnb/tokens_bnb_balances.sql
  models/_sector/tokens/bnb/tokens_bnb_balances_daily.sql
  models/_sector/tokens/ethereum/tokens_ethereum_balances.sql
  models/_sector/tokens/ethereum/tokens_ethereum_balances_daily.sql
  models/_sector/tokens/optimism/tokens_optimism_balances.sql
  models/_sector/tokens/optimism/tokens_optimism_balances_daily.sql
  models/_sector/tokens/polygon/tokens_polygon_balances.sql
  models/_sector/tokens/polygon/tokens_polygon_balances_daily.sql
  models/_sector/tokens/scroll/tokens_scroll_balances.sql
  models/_sector/tokens/scroll/tokens_scroll_balances_daily.sql
Labels: ready-for-merging

#5670 add Xave's FX pools to balancer spells
  macros/models/_project/balancer/balancer_bpt_supply_macro.sql
  models/labels/addresses/__single_category_labels__/balancer_v2/labels_balancer_v2_pools_avalanche_c.sql
  models/labels/addresses/__single_category_labels__/balancer_v2/labels_balancer_v2_pools_ethereum.sql
  models/labels/addresses/__single_category_labels__/balancer_v2/labels_balancer_v2_pools_polygon.sql
  sources/labels/addresses/__single_category_labels__/balancer_v2/labels_balancer_v2_sources.yml
Labels: ready-for-merging

#5584 Add DePin Revenue Table (+`GEODNET` as first entry)
  models/_sector/depin/_schema.yml
  models/_sector/depin/depin_revenue.sql
  models/_sector/depin/polygon/platforms/_schema.yml
  models/_sector/depin/polygon/platforms/geodnet_polygon_revenue.sql
Labels: ready-for-merging

#5639 Tagging more ETH stakers
  models/staking/ethereum/entities/staking_ethereum_entities_depositor_addresses.sql
  models/staking/ethereum/staking_ethereum_info.sql
Labels: ready-for-review

#5672 Add seaport v1.6
  macros/models/_sector/nft/platforms/seaport_v4_fork_trades.sql
  macros/models/_sector/nft/platforms/seaport_v4_trades.sql
  models/opensea/ethereum/opensea_v4_ethereum_events.sql
  seeds/opensea/ethereum/opensea_ethereum_seaport_trades_samples.csv
Labels: NFT

#5614 feat: add banana gun trades spellbook
  models/banana_gun/solana/banana_gun_solana_bot_trades.sql
  models/banana_gun/solana/banana_gun_solana_schema.yml
  models/dex/solana/dex_solana_bot_trades.sql
  seeds/banana_gun/banana_gun_solana_trades_seed.csv
Labels: ready-for-merging

#5615 feat: add trojan trades spellbook
  models/dex/solana/dex_solana_bot_trades.sql
  models/trojan/solana/trojan_solana_bot_trades.sql
  models/trojan/solana/trojan_solana_schema.yml
  seeds/trojan/trojan_solana_trades_seed.csv
Labels: ready-for-merging

#5665 feat: add readyswap solana trades spellbook
  models/readyswap/solana/readyswap_solana_bot_trades.sql
  models/readyswap/solana/readyswap_solana_schema.yml
  seeds/readyswap/readyswap_solana_trades_seed.csv
Labels: ready-for-merging

#5664 feat: add magnum solana trades spellbook
  models/magnum/solana/magnum_solana_bot_trades.sql
  models/magnum/solana/magnum_solana_schema.yml
  seeds/magnum/magnum_solana_trades_seed.csv
Labels: ready-for-merging

#5663 feat: add shuriken solana trades spellbook
  models/shuriken/solana/shuriken_solana_bot_trades.sql
  models/shuriken/solana/shuriken_solana_schema.yml
  seeds/shuriken/shuriken_solana_trades_seed.csv
Labels: ready-for-merging

#5662 feat: add maestro solana trades spellbook
  models/maestro/solana/maestro_solana_bot_trades.sql
  models/maestro/solana/maestro_solana_schema.yml
  seeds/maestro/maestro_solana_trades_seed.csv
Labels: ready-for-merging

#5658 feat: add pepe boost solana trades spellbook
  models/pepe_boost/solana/pepe_boost_solana_bot_trades.sql
  models/pepe_boost/solana/pepe_boost_solana_schema.yml
  seeds/pepe_boost/pepe_boost_solana_trades_seed.csv
Labels: ready-for-merging

#5657 feat: add sol trading bot solana trades spellbook
  models/sol_trading_bot/solana/sol_trading_bot_solana_bot_trades.sql
  models/sol_trading_bot/solana/sol_trading_bot_solana_schema.yml
  seeds/sol_trading_bot/sol_trading_bot_solana_trades_seed.csv
Labels: ready-for-merging

#5677 add seaport on base
  models/_sector/nft/trades/chains/old/nft_old_base_trades.sql
  models/opensea/base/opensea_base_events.sql
  models/opensea/base/opensea_base_schema.yml
  models/opensea/base/opensea_v4_base_events.sql
  sources/seaport/base/seaport_base_sources.yml
Labels: ready-for-merging, NFT

#5675 Create `addresses_events_solana.first_funded_by`
  models/addresses_events/solana/addresses_events_solana_first_funded_by.sql
  models/addresses_events/solana/addresses_events_solana_schema.yml
  seeds/addresses_events/_schema.yml
  seeds/addresses_events/first_funded_by_seed_solana.csv
Labels: ready-for-merging

#5683 Add SpaceFi V1 dex.trades for zkSync
  models/_sector/dex/trades/zksync/_schema.yml
  models/_sector/dex/trades/zksync/dex_zksync_base_trades.sql
  models/_sector/dex/trades/zksync/platforms/spacefi_v1_zksync_base_trades.sql
  models/dex/dex_info.sql
  seeds/_sector/dex/_schema.yml
  seeds/_sector/dex/spacefi_zksync_base_trades_seed.csv
  sources/_sector/dex/trades/zksync/_sources.yml
Labels: dex

#5682 Add Pancakeswap V3 dex.trades to zkSync
  models/_sector/dex/trades/zksync/_schema.yml
  models/_sector/dex/trades/zksync/dex_zksync_base_trades.sql
  models/_sector/dex/trades/zksync/platforms/pancakeswap_v3_zksync_base_trades.sql
  seeds/_sector/dex/pancakeswap_zksync_base_trades_seed.csv
  sources/_sector/dex/trades/zksync/_sources.yml
Labels: dex

#5684 Updates to Balancer spells
  macros/models/_project/balancer/balancer_protocol_fee_macro.sql
  models/balancer/balancer_bpt_prices.sql
  models/balancer/balancer_liquidity.sql
  models/balancer/balancer_protocol_fee.sql
  models/balancer/balancer_schema.yml
  models/balancer/balancer_single_recipient_gauges.sql
  models/balancer/ethereum/balancer_v1_ethereum_liquidity.sql
  models/balancer/gnosis/balancer_v2_gnosis_protocol_fee.sql
  models/labels/addresses/__single_category_labels__/balancer_v2/labels_balancer_v2_gauges_ethereum.sql
  models/labels/addresses/__single_category_labels__/balancer_v2/labels_balancer_v2_schema.yml
Labels: ready-for-merging

#5698 Cleanup seaport decoded tables
  macros/models/_sector/nft/platforms/seaport_v3_trades.sql
  models/opensea/optimism/opensea_v3_optimism_events.sql
  models/seaport/optimism/seaport_optimism_base_pairs.sql
  sources/seaport/optimism/seaport_optimism_sources.yml
Labels: ready-for-merging, dune team, NFT

#5699 add abi_id field to evms.contracts
  models/evms/evms_contracts.sql
Labels: ready-for-merging, dune team

#5700 Add GemSwap to dex.trades for zkSync
  models/_sector/dex/trades/zksync/_schema.yml
  models/_sector/dex/trades/zksync/dex_zksync_base_trades.sql
  models/_sector/dex/trades/zksync/platforms/gemswap_zksync_base_trades.sql
  models/dex/dex_info.sql
  seeds/_sector/dex/_schema.yml
  seeds/_sector/dex/gemswap_zksync_base_trades_seed.csv
  sources/_sector/dex/trades/zksync/_sources.yml
Labels: dex, ready-for-final-review

#5690 Add zkSwap Finance to dex.trades for zkSync
  models/_sector/dex/trades/zksync/_schema.yml
  models/_sector/dex/trades/zksync/dex_zksync_base_trades.sql
  models/_sector/dex/trades/zksync/platforms/zkswap_finance_zksync_base_trades.sql
  models/dex/dex_info.sql
  seeds/_sector/dex/_schema.yml
  seeds/_sector/dex/zkswap_finance_zksync_base_trades_seed.csv
  sources/_sector/dex/trades/zksync/_sources.yml
Labels: dex, ready-for-final-review

#5691 Add Wagmi to dex.trades for zkSync
  models/_sector/dex/trades/zksync/_schema.yml
  models/_sector/dex/trades/zksync/dex_zksync_base_trades.sql
  models/_sector/dex/trades/zksync/platforms/wagmi_v1_zksync_base_trades.sql
  models/dex/dex_info.sql
  seeds/_sector/dex/_schema.yml
  seeds/_sector/dex/wagmi_zksync_base_trades_seed.csv
  sources/_sector/dex/trades/zksync/_sources.yml
Labels: dex, ready-for-final-review

#5692 Add eZKalibur to dex.trades for zkSync
  models/_sector/dex/trades/zksync/_schema.yml
  models/_sector/dex/trades/zksync/dex_zksync_base_trades.sql
  models/_sector/dex/trades/zksync/platforms/ezkalibur_v2_zksync_base_trades.sql
  models/dex/dex_info.sql
  seeds/_sector/dex/_schema.yml
  seeds/_sector/dex/ezkalibur_zksync_base_trades_seed.csv
  sources/_sector/dex/trades/zksync/_sources.yml
Labels: dex, ready-for-final-review

#5697 Add Zonic to `nft_trades` for Arbitrum & Zora
  models/_sector/nft/trades/chains/arbitrum/nft_arbitrum_base_trades.sql
  models/_sector/nft/trades/chains/arbitrum/platforms/_schema.yml
  models/_sector/nft/trades/chains/arbitrum/platforms/zonic_arbitrum_base_trades.sql
  models/_sector/nft/trades/chains/zora/nft_zora_base_trades.sql
  models/_sector/nft/trades/chains/zora/platforms/_schema.yml
  models/_sector/nft/trades/chains/zora/platforms/zonic_zora_base_trades.sql
  seeds/_sector/nft/_schema.yml
  seeds/_sector/nft/zonic_arbitrum_base_trades_seed.csv
  seeds/_sector/nft/zonic_zora_base_trades_seed.csv
  sources/_sector/nft/trades/arbitrum_sources.yml
  sources/_sector/nft/trades/zora_sources.yml
Labels: NFT

#5693 Add DerpDEX to dex.trades for zkSync
  models/_sector/dex/trades/zksync/_schema.yml
  models/_sector/dex/trades/zksync/dex_zksync_base_trades.sql
  models/_sector/dex/trades/zksync/platforms/derpdex_v1_zksync_base_trades.sql
  models/dex/dex_info.sql
  seeds/_sector/dex/_schema.yml
  seeds/_sector/dex/derpdex_zksync_base_trades_seed.csv
  sources/_sector/dex/trades/zksync/_sources.yml
Labels: ready-for-review, dex

#5701 Add iziswap on zksync to `dex.trades`
  models/_sector/dex/trades/zksync/_schema.yml
  models/_sector/dex/trades/zksync/dex_zksync_base_trades.sql
  models/_sector/dex/trades/zksync/platforms/iziswap_v1_zksync_base_trades.sql
  models/_sector/dex/trades/zksync/platforms/iziswap_v2_zksync_base_trades.sql
  seeds/_sector/dex/_schema.yml
  seeds/_sector/dex/iziswap_zksync_base_trades_seed.csv
  sources/_sector/dex/trades/zksync/_sources.yml
Labels: ready-for-merging, dex
