Repository duneanalytics/spellbook, pull requests merged in 2024-05, with the labels that each got.

#5856 Polygon ZkEVM prices
  models/prices/prices_schema.yml
  models/prices/prices_tokens.sql
  models/prices/zkevm/prices_zkevm_schema.yml
  models/prices/zkevm/prices_zkevm_tokens.sql
Labels: ready-for-merging

#5829 prices on linea
  models/prices/linea/prices_linea_schema.yml
  models/prices/linea/prices_linea_tokens.sql
  models/prices/prices_schema.yml
  models/prices/prices_tokens.sql
Labels: ready-for-merging

#5859 add new tokens to price list - Ethereum
  models/prices/ethereum/prices_ethereum_tokens.sql
Labels: ready-for-merging

#5847 add uniswap v3 zora
  models/_sector/dex/trades/zora/_schema.yml
  models/_sector/dex/trades/zora/dex_zora_base_trades.sql
  models/_sector/dex/trades/zora/platforms/uniswap_v3_zora_base_trades.sql
  seeds/_sector/dex/uniswap_zora_base_trades_seed.csv
  sources/_sector/dex/trades/zora/_sources.yml
Labels: ready-for-merging, dex

#5858 initiate prices readme
  models/prices/README.md
Labels: dune team

#5818 1inch: project swaps & some linage updates & cleaning
  macros/models/_project/oneinch/oneinch_project_swaps_macro.sql
  models/oneinch/_meta/oneinch_mapped_contracts.sql
  models/oneinch/_meta/oneinch_mapped_methods.sql
  models/oneinch/arbitrum/oneinch_arbitrum_project_swaps.sql
  models/oneinch/avalanche_c/oneinch_avalanche_c_project_swaps.sql
  models/oneinch/base/oneinch_base_project_swaps.sql
  models/oneinch/bnb/oneinch_bnb_project_swaps.sql
  models/oneinch/ethereum/oneinch_ethereum_project_swaps.sql
  models/oneinch/fantom/oneinch_fantom_project_swaps.sql
  models/oneinch/gnosis/oneinch_gnosis_project_swaps.sql
  models/oneinch/optimism/oneinch_optimism_project_swaps.sql
  models/oneinch/polygon/oneinch_polygon_project_swaps.sql
  models/oneinch/zksync/oneinch_zksync_project_swaps.sql
Labels: ready-for-merging

#5869 Added YAK token to prices on avalanche_c
  models/prices/avalanche_c/prices_avalanche_c_tokens.sql
Labels: ready-for-merging

#5867 Add zkevm to tokens.erc20
  tokens/models/tokens/arbitrum/tokens_arbitrum_erc20.sql
  tokens/models/tokens/base/tokens_base_erc20.sql
  tokens/models/tokens/ethereum/tokens_ethereum_erc20.sql
  tokens/models/tokens/gnosis/tokens_gnosis_erc20.sql
  tokens/models/tokens/polygon/tokens_polygon_erc20.sql
  tokens/models/tokens/tokens_erc20.sql
  tokens/models/tokens/zkevm/tokens_zkevm_erc20.sql
  tokens/models/tokens/zkevm/tokens_zkevm_schema.yml
Labels: ready-for-merging

#5865 Add ETH stakers
  models/staking/ethereum/entities/entity_specific/staking_ethereum_entities_bitcoin_suisse.sql
  models/staking/ethereum/entities/staking_ethereum_entities_depositor_addresses.sql
Labels: easy, ready-for-merging

#5685 Omen models. First attempt.
  models/omen/gnosis/omen_gnosis_liquidity.sql
  models/omen/gnosis/omen_gnosis_schema.yml
  models/omen/gnosis/omen_gnosis_trades.sql
  sources/omen/gnosis/omen_gnosis_sources.yml
Labels: WIP, in review

#5845 add tokens transferred spell
  macros/models/_project/chainlink/chainlink_ccip_macro.sql
  models/chainlink/arbitrum/chainlink_arbitrum_ccip_tokens_transferred.sql
  models/chainlink/arbitrum/chainlink_arbitrum_schema.yml
  models/chainlink/avalanche_c/chainlink_avalanche_c_ccip_tokens_transferred.sql
  models/chainlink/avalanche_c/chainlink_avalanche_c_schema.yml
  models/chainlink/base/chainlink_base_ccip_tokens_transferred.sql
  models/chainlink/base/chainlink_base_schema.yml
  models/chainlink/bnb/chainlink_bnb_ccip_tokens_transferred.sql
  models/chainlink/bnb/chainlink_bnb_schema.yml
  models/chainlink/chainlink_ccip_tokens_transferred.sql
  models/chainlink/chainlink_schema.yml
  models/chainlink/ethereum/chainlink_ethereum_ccip_tokens_transferred.sql
  models/chainlink/ethereum/chainlink_ethereum_schema.yml
  models/chainlink/optimism/chainlink_optimism_ccip_tokens_transferred.sql
  models/chainlink/optimism/chainlink_optimism_schema.yml
  models/chainlink/polygon/chainlink_polygon_ccip_tokens_transferred.sql
  models/chainlink/polygon/chainlink_polygon_schema.yml
Labels: ready-for-merging

#5861 Add chains to `cex.addresses`
  models/cex/cex_addresses.sql
  models/cex/cex_schema.yml
Labels: ready-for-merging

#5873 op tokens metadata: fix broken col names
  tokens/models/tokens/optimism/tokens_optimism_erc20_bridged_mapping.sql
Labels: hotfix

#5876 Add sUSDe (eth) and WEETH(base) to prices.usd
  models/prices/base/prices_base_tokens.sql
  models/prices/ethereum/prices_ethereum_tokens.sql
Labels: ready-for-merging

#5846 feat: add camelot pair fee rates spellbook
  models/camelot/arbitrum/camelot_arbitrum_pair_fee_rates.sql
  models/camelot/arbitrum/camelot_arbitrum_schema.yml
  sources/camelot/arbitrum/camelot_arbitrum_sources.yml
Labels: ready-for-merging

#5863 Add solana orca price
  models/orca_whirlpool/orca_whirlpool_token_prices.sql
  models/orca_whirlpool/orca_whirlpool_token_prices_schema.yml
Labels: ready-for-merging

#5874 Add fields in rollup_economics
  models/rollup_economics/ethereum/l1_verification_fees.sql
Labels: ready-for-merging

#5872 Quick fix for balancer.bpt_supply
  macros/models/_project/balancer/balancer_bpt_supply_macro.sql
Labels: ready-for-merging

#5868 Add SPARTA on Arbitrum, DEAL on Ethereum and POPCAT on Solana
  models/prices/arbitrum/prices_arbitrum_tokens.sql
  models/prices/ethereum/prices_ethereum_tokens.sql
  models/prices/solana/prices_solana_tokens.sql
Labels: ready-for-merging

#5884 Add orca price in hour
  models/orca_whirlpool/orca_whirlpool_token_prices_hour.sql
  models/orca_whirlpool/orca_whirlpool_token_prices_schema_hour.yml
Labels: ready-for-merging

#5886 add pool_type and pool_symbol to balancer.trades models
  macros/models/_sector/dex/balancer_compatible_trades.sql
  models/balancer/arbitrum/balancer_arbitrum_schema.yml
  models/balancer/arbitrum/balancer_arbitrum_trades.sql
  models/balancer/arbitrum/balancer_v2_arbitrum_trades.sql
  models/balancer/avalanche_c/balancer_avalanche_c_schema.yml
  models/balancer/avalanche_c/balancer_avalanche_c_trades.sql
  models/balancer/avalanche_c/balancer_v2_avalanche_c_trades.sql
  models/balancer/balancer_schema.yml
  models/balancer/balancer_trades.sql
  models/balancer/base/balancer_base_schema.yml
  models/balancer/base/balancer_base_trades.sql
  models/balancer/base/balancer_v2_base_trades.sql
  models/balancer/ethereum/balancer_ethereum_schema.yml
  models/balancer/ethereum/balancer_ethereum_trades.sql
  models/balancer/ethereum/balancer_v1_ethereum_trades.sql
  models/balancer/ethereum/balancer_v2_ethereum_trades.sql
  models/balancer/gnosis/balancer_gnosis_schema.yml
  models/balancer/gnosis/balancer_gnosis_trades.sql
  models/balancer/gnosis/balancer_v2_gnosis_trades.sql
  models/balancer/optimism/balancer_optimism_schema.yml
  models/balancer/optimism/balancer_optimism_trades.sql
  models/balancer/optimism/balancer_v2_optimism_trades.sql
  models/balancer/polygon/balancer_polygon_schema.yml
  models/balancer/polygon/balancer_polygon_trades.sql
  models/balancer/polygon/balancer_v2_polygon_trades.sql
  models/balancer/zkevm/balancer_v2_zkevm_trades.sql
  models/balancer/zkevm/balancer_zkevm_schema.yml
  models/balancer/zkevm/balancer_zkevm_trades.sql
Labels: ready-for-merging

#5888 Update balancer_token_whitelist
  models/balancer/balancer_token_whitelist.sql
Labels: ready-for-merging

#5889 orca_whirlpool: fix table alias, consolidate schema files
  models/orca_whirlpool/orca_whirlpool_schema.yml
  models/orca_whirlpool/orca_whirlpool_token_prices_hour.sql
  models/orca_whirlpool/orca_whirlpool_token_prices_schema.yml
  models/orca_whirlpool/orca_whirlpool_token_prices_schema_hour.yml
Labels: hotfix

#5855 debug opensea_base
  macros/models/_sector/nft/platforms/seaport_v4_trades.sql
  models/_sector/nft/trades/chains/old/platforms/opensea_v4_base_events.sql
  seeds/opensea/ethereum/opensea_ethereum_seaport_trades_samples.csv
Labels: ready-for-merging, hotfix, NFT

#5887 Add missing tokens to prices.usd
  models/prices/arbitrum/prices_arbitrum_tokens.sql
  models/prices/ethereum/prices_ethereum_tokens.sql
  models/prices/gnosis/prices_gnosis_tokens.sql
  models/prices/zkevm/prices_zkevm_tokens.sql
Labels: WIP

#5901 polygon zkevm: Add back missing tables
  models/_sector/dex/trades/zkevm/platforms/balancer_v2_zkevm_base_trades.sql
  models/_sector/dex/trades/zkevm/platforms/pancakeswap_v3_zkevm_base_trades.sql
  models/balancer/zkevm/balancer_v2_zkevm_flashloans.sql
  models/balancer/zkevm/balancer_v2_zkevm_pools_fees.sql
  models/balancer/zkevm/balancer_v2_zkevm_pools_tokens_weights.sql
  models/balancer/zkevm/balancer_v2_zkevm_transfers_bpt.sql
Labels: hotfix

#5836 Add is_creator_token to nft.trades, nft.mints
  macros/models/limitbreak/creator_tokens/creator_tokens_inspect_contracts.sql
  models/_sector/nft/mints/nft_mints.sql
  models/limitbreak/creator_tokens/chains/arbitrum/limitbreak_arbitrum_creator_tokens.sql
  models/limitbreak/creator_tokens/chains/avalanche_c/limitbreak_avalanche_c_creator_tokens.sql
  models/limitbreak/creator_tokens/chains/base/limitbreak_base_creator_tokens.sql
  models/limitbreak/creator_tokens/chains/bnb/limitbreak_bnb_creator_tokens.sql
  models/limitbreak/creator_tokens/chains/ethereum/limitbreak_ethereum_creator_tokens.sql
  models/limitbreak/creator_tokens/chains/optimism/limitbreak_optimism_creator_tokens.sql
  models/limitbreak/creator_tokens/chains/polygon/limitbreak_polygon_creator_tokens.sql
  models/limitbreak/creator_tokens/limitbreak_creator_tokens.sql
  models/limitbreak/creator_tokens/schema.yml
Labels: ready-for-merging, NFT

#5902 1inch arbitrum AR: exclude troubled tx
  models/oneinch/arbitrum/oneinch_arbitrum_ar.sql
Labels: hotfix

#5908 eas optimism: exclude troubled rows
  models/_sector/attestation/eas/optimism/eas_optimism_schemas.sql
Labels: hotfix

#5903 1inch AR dup hotfix
  macros/models/_project/oneinch/AR/oneinch_ar_macro.sql
  models/oneinch/arbitrum/oneinch_arbitrum_ar.sql
Labels: ready-for-merging

#5907 1inch: implemented logic for new settlement to LOP linage
  macros/models/_project/oneinch/oneinch_blockchain_macro.sql
  macros/models/_project/oneinch/oneinch_calls_macro.sql
  macros/models/_project/oneinch/oneinch_lop_macro.sql
Labels: ready-for-merging

#5913 lynex linea: exclude due to incorrect decoded source
  models/_sector/dex/trades/linea/platforms/lynex_linea_base_trades.sql
Labels: hotfix

#5904 Add ankrETH on OPT to prices.usd
  models/prices/optimism/prices_optimism_tokens_curated.sql
Labels: easy, ready-for-merging

#5911 [Easy] - Chains Update #1 - Update Get Chain Explorer lInks of new chains
  macros/public/get_chain_explorer.sql
  macros/public/get_chain_explorer_address.sql
  macros/public/get_chain_explorer_tx_hash.sql
Labels: easy, ready-for-merging

#5905 Add linea and polygon revenue to rollup economics
  models/rollup_economics/ethereum/l2_revenue.sql
Labels: ready-for-merging

#5917 Add missing tokens to tokens.erc20
  tokens/models/tokens/avalanche_c/tokens_avalanche_c_erc20.sql
  tokens/models/tokens/base/tokens_base_erc20.sql
  tokens/models/tokens/ethereum/tokens_ethereum_erc20.sql
Labels: ready-for-merging

#5915 Add eth staking entities stader
  models/staking/ethereum/entities/staking_ethereum_entities_contracts.sql
  models/staking/ethereum/entities/staking_ethereum_entities_depositor_addresses.sql
Labels: easy, ready-for-merging

#5882 Add more CEX addresses
  models/cex/bitcoin/cex_bitcoin_addresses.sql
  models/cex/cex_evms_addresses.sql
  models/cex/tron/cex_tron_addresses.sql
Labels: ready-for-merging

#5921 Labels fix: ignore transfers above 1 trillion
  models/_sector/labels/labels_counterparty_activity_daily.sql
  models/_sector/labels/labels_transfer_summary.sql
  models/_sector/labels/labels_transfer_summary_daily.sql
Labels: ready-for-merging, dune team, hotfix

#5870 Add Magic Eden on Base
  models/_sector/nft/trades/chains/base/nft_base_base_trades.sql
  models/_sector/nft/trades/chains/base/platforms/_schema.yml
  models/_sector/nft/trades/chains/base/platforms/magiceden_base_base_trades.sql
  sources/_sector/nft/trades/base_sources.yml
Labels: ready-for-merging, NFT

#5896 Create daily pool metrics spell
  models/_sector/dex/pools/_schema.yml
  models/_sector/dex/pools/dex_pools_metrics_daily.sql
  models/balancer/balancer_pools_metrics_daily.sql
  models/balancer/balancer_schema.yml
  models/dex/dex_schema.yml
Labels: ready-for-merging, dex

#5935 Add RivusDAO token to prices_ethereum_tokens.sql
  models/prices/ethereum/prices_ethereum_tokens.sql
Labels: easy, ready-for-merging

#5928 Add SPEC token on Base
  tokens/models/tokens/base/tokens_base_erc20.sql
Labels: easy, ready-for-merging

#5927 Element NFT Marketplace — Add Tracking for Fees
  macros/models/_sector/nft/platforms/element_v1_base_trades.sql
  seeds/_sector/nft/element_arbitrum_base_trades_seed.csv
  seeds/_sector/nft/element_base_base_trades_seed.csv
  seeds/_sector/nft/element_ethereum_base_trades_seed.csv
  seeds/_sector/nft/element_optimism_base_trades_seed.csv
Labels: ready-for-merging, NFT

#5937 Schema version hotfix
  models/limitbreak/creator_tokens/schema.yml
Labels: easy, ready-for-merging, hotfix

#5949 orca spells: cast partition as date
  models/orca_whirlpool/orca_whirlpool_token_prices.sql
  models/orca_whirlpool/orca_whirlpool_token_prices_hour.sql
Labels: hotfix

#5946 add missing tokens
  models/gyroscope/gyroscope_gyro_tokens.sql
  models/prices/arbitrum/prices_arbitrum_tokens.sql
  models/prices/base/prices_base_tokens.sql
  tokens/models/tokens/arbitrum/tokens_arbitrum_erc20.sql
  tokens/models/tokens/base/tokens_base_erc20.sql
  tokens/models/tokens/gnosis/tokens_gnosis_erc20.sql
Labels: ready-for-merging

#5943 Fix Mantle fees for rollup economics
  models/rollup_economics/ethereum/l1_data_fees.sql
Labels: ready-for-final-review

#5929 Update Fee data for Mintsquare NFT marketplace
  models/_sector/nft/trades/chains/zksync/platforms/mint_square_zksync_base_trades.sql
Labels: ready-for-merging, NFT

#5938 Add YAK token to prices for Arbitrum
  models/prices/arbitrum/prices_arbitrum_tokens.sql
Labels: easy, ready-for-merging

#5893 Addition of SafeProxyFactory_v_1_4_1_evt_ProxyCreation to sources and models on Base
  models/safe/base/safe_base_singletons.sql
  sources/safe/base/safe_base_sources.yml
Labels: ready-for-final-review

#5944 Update prices_ethereum_tokens.sql
  models/prices/ethereum/prices_ethereum_tokens.sql
Labels: ready-for-final-review

#5608 add blobs starter query spellbook
  models/blobs/ethereum/_schema.yml
  models/blobs/ethereum/blobs_submitters.sql
  models/blobs/ethereum/ethereum_blob_submissions.sql
  models/blobs/ethereum/ethereum_blobs.sql
  sources/_base_sources/beacon_base_sources.yml
  sources/_base_sources/ethereum_base_sources.yml
  sources/_datasets/resident_wizards/_sources.yml
Labels: ready-for-merging

#5945 NFT cleanup: Element
  macros/models/_sector/nft/platforms/element_v1_base_trades.sql
  models/_sector/nft/trades/chains/avalanche_c/nft_avalanche_c_base_trades.sql
  models/_sector/nft/trades/chains/avalanche_c/platforms/_schema.yml
  models/_sector/nft/trades/chains/avalanche_c/platforms/element_avalanche_c_base_trades.sql
  models/_sector/nft/trades/chains/linea/platforms/element_linea_base_trades.sql
  models/_sector/nft/trades/chains/old/nft_old_base_trades.sql
  models/_sector/nft/trades/chains/old/platforms/_schema.yml
  models/_sector/nft/trades/chains/old/platforms/element_avalanche_c_events.sql
  models/_sector/nft/trades/chains/polygon/platforms/element_polygon_base_trades.sql
  models/_sector/nft/trades/chains/scroll/platforms/element_scroll_base_trades.sql
Labels: NFT

#5947 CI partial parse (1/2)
  .github/workflows/commit_manifest.yml
Labels: dune team

#5879 Add clipper.exchange on Base
  models/_sector/dex/trades/base/_schema.yml
  models/_sector/dex/trades/base/dex_base_base_trades.sql
  models/_sector/dex/trades/base/platforms/clipper_base_base_trades.sql
  models/clipper/ethereum/clipper_ethereum_schema.yml
  seeds/_sector/dex/_schema.yml
  seeds/_sector/dex/clipper_base_base_trades_seed.csv
  sources/_sector/dex/trades/base/_sources.yml
Labels: ready-for-merging, dex

#5922 Add Syncswap on Scroll to dex.trades
  models/_sector/dex/trades/scroll/_schema.yml
  models/_sector/dex/trades/scroll/dex_scroll_base_trades.sql
  models/_sector/dex/trades/scroll/platforms/syncswap_v1_scroll_base_trades.sql
  seeds/_sector/dex/_schema.yml
  seeds/_sector/dex/syncswap_scroll_base_trades_seed.csv
  sources/_sector/dex/trades/scroll/_sources.yml
Labels: ready-for-merging, dex

#5936 Create `rebase.events`
  models/_sector/rebase_events/_schema.yml
  models/_sector/rebase_events/ethereum/_schema.yml
  models/_sector/rebase_events/ethereum/rebase_ethereum_events.sql
  models/_sector/rebase_events/ethereum/tokens/_schema.yml
  models/_sector/rebase_events/ethereum/tokens/rebase_ethereum_steth_events.sql
  models/_sector/rebase_events/rebase_events.sql
  sources/lido/accounting/ethereum/lido_accounting_ethereum_sources.yml
Labels: ready-for-merging

#5953 Add THORSwap token to prices_ethereum_tokens.sql
  models/prices/ethereum/prices_ethereum_tokens.sql
Labels: easy, ready-for-merging

#5959 Revert "CI partial parse (1/2)"
  .github/workflows/commit_manifest.yml
Labels: ready-for-review, dune team

#5968 Add v1.4.1 to Polygon
  models/safe/polygon/safe_polygon_singletons.sql
  sources/safe/polygon/safe_polygon_sources.yml
Labels: easy, ready-for-merging

#5955 NFT cleanup: Opensea v1
  models/_sector/nft/mints/nft_mints.sql
  models/_sector/nft/trades/chains/ethereum/nft_ethereum_base_trades.sql
  models/_sector/nft/trades/chains/ethereum/platforms/_schema.yml
  models/_sector/nft/trades/chains/ethereum/platforms/opensea_v1_ethereum_base_trades.sql
  models/_sector/nft/trades/chains/old/nft_old_base_trades.sql
  models/_sector/nft/trades/chains/old/platforms/opensea_ethereum_schema.yml
  seeds/opensea/ethereum/opensea_wyvern_trades_samples.csv
  seeds/opensea/ethereum/schema.yml
Labels: ready-for-merging, dune team, NFT

#5956 [CoW Protocol] Add Tsolver addresses
  models/cow_protocol/ethereum/cow_protocol_ethereum_solvers.sql
Labels: ready-for-merging

#5970 flashloans: fix downstream contract address field
  models/aave/aave_flashloans.sql
  models/aave/arbitrum/aave_arbitrum_flashloans.sql
  models/aave/avalanche_c/aave_avalanche_c_flashloans.sql
  models/aave/base/aave_base_flashloans.sql
  models/aave/ethereum/aave_ethereum_flashloans.sql
  models/aave/fantom/aave_fantom_flashloans.sql
  models/aave/optimism/aave_optimism_flashloans.sql
  models/aave/polygon/aave_polygon_flashloans.sql
  models/moola/celo/moola_celo_flashloans.sql
Labels: hotfix

#5972 flashloans: keep downstream field name the same
  models/aave/aave_flashloans.sql
  models/aave/arbitrum/aave_arbitrum_flashloans.sql
  models/aave/avalanche_c/aave_avalanche_c_flashloans.sql
  models/aave/base/aave_base_flashloans.sql
  models/aave/ethereum/aave_ethereum_flashloans.sql
  models/aave/fantom/aave_fantom_flashloans.sql
  models/aave/optimism/aave_optimism_flashloans.sql
  models/aave/polygon/aave_polygon_flashloans.sql
  models/moola/celo/moola_celo_flashloans.sql
Labels: hotfix

#5880 Added Consortium Key Trades for Solana
  models/_sector/dex/bot_trades/solana/_schema.yml
  models/_sector/dex/bot_trades/solana/dex_solana_bot_trades.sql
  models/_sector/dex/bot_trades/solana/platforms/consortium_key_solana_bot_trades.sql
  seeds/consortium_key/consortium_key_solana_trades_seed.csv
Labels: ready-for-merging

#6010 Update prices_avalanche_c_tokens with BAL
  models/prices/avalanche_c/prices_avalanche_c_tokens.sql
Labels: easy, ready-for-merging

#6006 Update prices_optimism_tokens_curated.sql
  models/prices/optimism/prices_optimism_tokens_curated.sql
Labels: easy, ready-for-merging

#5998 Add blob fees to Rollup Economics
  models/blobs/ethereum/blobs_submitters.sql
  models/rollup_economics/ethereum/l1_blob_fees.sql
  models/rollup_economics/ethereum/l1_fees.sql
  models/rollup_economics/ethereum/rollup_economics_ethereum_schema.yml
Labels: ready-for-merging

#5994 chore: add more solana token prices
  models/prices/solana/prices_solana_tokens.sql
Labels: easy, ready-for-merging

#5989 more cex evm addresses
  models/cex/bitcoin/cex_bitcoin_addresses.sql
  models/cex/cex_evms_addresses.sql
Labels: easy, ready-for-merging

#5976 Update prices_fantom_tokens.sql
  models/prices/fantom/prices_fantom_tokens.sql
Labels: easy, ready-for-merging

#5973 Add zora to the boost deployed spell
  models/boost/boost_deployed.sql
Labels: easy, ready-for-merging

#6001 Update tokens.erc20
  tokens/models/tokens/arbitrum/tokens_arbitrum_erc20.sql
  tokens/models/tokens/gnosis/tokens_gnosis_erc20.sql
  tokens/models/tokens/polygon/tokens_polygon_erc20.sql
Labels: ready-for-final-review

#5999 Added Fuse erc20 tokens
  tokens/models/tokens/fuse/tokens_fuse_erc20.sql
  tokens/models/tokens/fuse/tokens_fuse_schema.yml
  tokens/models/tokens/tokens_erc20.sql
Labels: easy, ready-for-final-review

#6022 paraswap: bugfix wrong address formatting in v6.1
  macros/models/_project/paraswap/v6/paraswap_v6_balancer_v2_method.sql
Labels: ready-for-merging

#5988 Add OD to tokens_arbitrum_erc20.sql
  tokens/models/tokens/arbitrum/tokens_arbitrum_erc20.sql
Labels: easy, ready-for-merging

#5978 Opensea v2 polygon refactor
  models/_sector/nft/trades/chains/old/nft_old_base_trades.sql
  models/_sector/nft/trades/chains/old/platforms/opensea_polygon_schema.yml
  models/_sector/nft/trades/chains/polygon/nft_polygon_base_trades.sql
  models/_sector/nft/trades/chains/polygon/platforms/_schema.yml
  models/_sector/nft/trades/chains/polygon/platforms/opensea_v2_polygon_base_trades.sql
  seeds/opensea/polygon/opensea_polygon_zeroex_trades_samples.csv
  seeds/opensea/polygon/schema.yml
Labels: ready-for-merging, dune team, NFT

#6019 CUR-430 move & update PR template
  .github/pull_request_template.md
  docs/general/best_practices.md
  pull_request_template.md
Labels: ready-for-merging, dune team

#6026 [easy] move solana old models
  models/_sector/nft/trades/chains/solana/old/magiceden_solana_events.sql
  models/_sector/nft/trades/chains/solana/old/magiceden_solana_schema.yml
  models/_sector/nft/trades/chains/solana/old/opensea_solana_events.sql
  models/_sector/nft/trades/chains/solana/old/opensea_solana_schema.yml
Labels: ready-for-merging, dune team, NFT

#6032 eas optimism: attempt to avoid duplicates
  models/_sector/attestation/eas/optimism/eas_optimism_schemas.sql
Labels: hotfix
