Repository duneanalytics/spellbook, pull requests merged in 2024-07, with the labels that each got.

#6286 1inch: move macros folder to /dex
  dex/macros/models/_project/oneinch/AR/oneinch_ar_cfg_contracts_macro.sql
  dex/macros/models/_project/oneinch/AR/oneinch_ar_handle_generic.sql
  dex/macros/models/_project/oneinch/AR/oneinch_ar_handle_unoswap.sql
  dex/macros/models/_project/oneinch/AR/oneinch_ar_macro.sql
  dex/macros/models/_project/oneinch/AR/oneinch_ar_raw_traces_macro.sql
  dex/macros/models/_project/oneinch/LOP/oneinch_lop_cfg_contracts_macro.sql
  dex/macros/models/_project/oneinch/LOP/oneinch_lop_raw_traces_macro.sql
  dex/macros/models/_project/oneinch/_meta/oneinch_blockchain_macro.sql
  dex/macros/models/_project/oneinch/_meta/oneinch_exposed_blockchains_list.sql
  dex/macros/models/_project/oneinch/_meta/oneinch_mapped_contracts_macro.sql
  dex/macros/models/_project/oneinch/_meta/oneinch_mapped_methods.sql
  dex/macros/models/_project/oneinch/oneinch_call_transfers_macro.sql
  dex/macros/models/_project/oneinch/oneinch_calls_macro.sql
  dex/macros/models/_project/oneinch/oneinch_lop_macro.sql
  dex/macros/models/_project/oneinch/oneinch_parsed_transfers_from_calls_macro.sql
  dex/macros/models/_project/oneinch/project/cfg/oneinch_project_orders_cfg_events_macro.sql
  dex/macros/models/_project/oneinch/project/cfg/oneinch_project_orders_cfg_methods_macro.sql
  dex/macros/models/_project/oneinch/project/oneinch_project_calls_macro.sql
  dex/macros/models/_project/oneinch/project/oneinch_project_orders_macro.sql
  dex/macros/models/_project/oneinch/project/oneinch_project_orders_raw_logs_macro.sql
  dex/macros/models/_project/oneinch/project/oneinch_project_orders_raw_traces_macro.sql
  dex/macros/models/_project/oneinch/project/oneinch_project_swaps_macro.sql
Labels: dex, ready-for-final-review

#6283 Add new token prices for Scroll
  models/prices/scroll/prices_scroll_tokens.sql
  scripts/token_checker.py
Labels: easy, ready-for-merging

#6278 Add missing token arbi & base
  tokens/models/tokens/arbitrum/tokens_arbitrum_erc20.sql
  tokens/models/tokens/base/tokens_base_erc20.sql
Labels: easy, ready-for-merging

#6303 Create `tokens_mantle.transfers`
  models/_sector/tokens/mantle/_schema.yml
  models/_sector/tokens/mantle/tokens_mantle_base_transfers.sql
  models/_sector/tokens/mantle/tokens_mantle_transfers.sql
  models/_sector/tokens/tokens_transfers.sql
Labels: ready-for-review

#6302 Create `tokens_blast.transfers`
  models/_sector/tokens/blast/_schema.yml
  models/_sector/tokens/blast/tokens_blast_base_transfers.sql
  models/_sector/tokens/blast/tokens_blast_transfers.sql
  models/_sector/tokens/tokens_transfers.sql
Labels: ready-for-review

#6305 Add price of wcomai
  models/prices/ethereum/prices_ethereum_tokens.sql
Labels: easy, ready-for-merging

#6304 Adding PRIME token to Avalanche
  tokens/models/tokens/avalanche_c/tokens_avalanche_c_erc20.sql
Labels: easy, ready-for-merging

#6301 [CoW Protocol] Add and update solver names
  models/cow_protocol/ethereum/cow_protocol_ethereum_solvers.sql
Labels: easy, ready-for-merging

#6293 add missing tokens to tokens.erc20 and prices.usd
  models/_project/balancer/support/balancer_token_whitelist.sql
  models/prices/arbitrum/prices_arbitrum_tokens.sql
  models/prices/gnosis/prices_gnosis_tokens.sql
  models/prices/optimism/prices_optimism_tokens_curated.sql
  models/prices/polygon/prices_polygon_tokens.sql
  models/prices/zkevm/prices_zkevm_tokens.sql
  scripts/token_checker.py
  tokens/models/tokens/arbitrum/tokens_arbitrum_erc20.sql
  tokens/models/tokens/ethereum/tokens_ethereum_erc20.sql
Labels: easy, ready-for-merging

#6289 feat: add BLAST L2 governance token
  models/prices/blast/prices_blast_tokens.sql
Labels: easy, ready-for-merging

#6246 init tokens_sepolia_erc20
  tokens/models/tokens/sepolia/tokens_sepolia_erc20.sql
  tokens/models/tokens/sepolia/tokens_sepolia_schema.yml
  tokens/models/tokens/tokens_erc20.sql
  tokens/models/tokens/tokens_schema.yml
Labels: easy, ready-for-merging

#5715 Airdrop sector updates
  models/airdrop/airdrop_info.sql
  models/airdrop/ethereum/airdrop_ethereum_claims.sql
  models/etherfi/ethereum/etherfi_ethereum_airdrop_claims.sql
  models/etherfi/ethereum/etherfi_ethereum_schema.yml
  sources/etherfi/ethereum/etherfi_ethereum_sources.yml
Labels: ready-for-review

#6310 add trusted solana prices
  models/prices/prices_trusted_tokens.sql
Labels: ready-for-review, dune team

#6296 Lifinity base trades and compatibility view
  solana/models/_sector/dex/dex_solana_base_trades.sql
  solana/models/_sector/dex/lifinity/lifinity_v1_base_trades.sql
  solana/models/_sector/dex/lifinity/lifinity_v1_trades.sql
  solana/models/_sector/dex/lifinity/lifinity_v2_base_trades.sql
  solana/models/_sector/dex/lifinity/lifinity_v2_trades.sql
  solana/models/_sector/dex/lifinity/schema.yml
Labels: ready-for-review, solana

#6280 Update Orca
  solana/models/_sector/dex/dex_solana_base_trades.sql
  solana/models/_sector/dex/orca_whirlpool/orca_whirlpool_base_trades.sql
  solana/models/_sector/dex/orca_whirlpool/orca_whirlpool_schema.yml
  solana/models/_sector/dex/orca_whirlpool/orca_whirlpool_token_prices.sql
  solana/models/_sector/dex/orca_whirlpool/orca_whirlpool_token_prices_hour.sql
  solana/models/_sector/dex/orca_whirlpool/orca_whirlpool_trades.sql
Labels: ready-for-review, solana

#6281 Phoenix dex fix
  solana/models/_sector/dex/dex_solana_base_trades.sql
  solana/models/_sector/dex/phoenix/phoenix_v1_base_trades.sql
  solana/models/_sector/dex/phoenix/phoenix_v1_trades.sql
  solana/models/_sector/dex/phoenix/schema.yml
Labels: ready-for-merging, solana

#6275 feat: add tirador solana bot trades
  solana/models/_sector/dex/bot_trades/solana/_schema.yml
  solana/models/_sector/dex/bot_trades/solana/dex_solana_bot_trades.sql
  solana/models/_sector/dex/bot_trades/solana/platforms/tirador_solana_bot_trades.sql
  solana/seeds/tirador/tirador_solana_trades_seed.csv
Labels: ready-for-merging, solana

#6311 Solana DEX: add trusted token price logic
  solana/models/_sector/dex/dex_solana_trades.sql
Labels: ready-for-review, solana

#6295 clean up raydium columns + add compatibility view
  solana/models/_sector/dex/dex_solana_base_trades.sql
  solana/models/_sector/dex/raydium/raydium_v3_base_trades.sql
  solana/models/_sector/dex/raydium/raydium_v3_trades.sql
  solana/models/_sector/dex/raydium/raydium_v4_base_trades.sql
  solana/models/_sector/dex/raydium/raydium_v4_trades.sql
  solana/models/_sector/dex/raydium/schema.yml
Labels: ready-for-review, solana

#6298 pump.fun base trades and compatibility view
  solana/models/_sector/dex/dex_solana_base_trades.sql
  solana/models/_sector/dex/pumpdotfun/solana/pumpdotfun_solana_base_trades.sql
  solana/models/_sector/dex/pumpdotfun/solana/pumpdotfun_solana_trades.sql
  solana/models/_sector/dex/pumpdotfun/solana/schema.yml
Labels: ready-for-review, solana

#6276 feat: add unibot solana bot trades spellbook
  solana/models/_sector/dex/bot_trades/solana/_schema.yml
  solana/models/_sector/dex/bot_trades/solana/platforms/unibot_solana_bot_trades.sql
  solana/seeds/unibot/unibot_solana_trades_seed.csv
Labels: ready-for-merging, solana

#6288 feat(solana trading bots): add "bot" column to all trading bot spellbooks
  solana/models/_sector/dex/bot_trades/solana/_schema.yml
  solana/models/_sector/dex/bot_trades/solana/dex_solana_bot_trades.sql
  solana/models/_sector/dex/bot_trades/solana/platforms/banana_gun_solana_bot_trades.sql
  solana/models/_sector/dex/bot_trades/solana/platforms/bonkbot_solana_bot_trades.sql
  solana/models/_sector/dex/bot_trades/solana/platforms/consortium_key_solana_bot_trades.sql
  solana/models/_sector/dex/bot_trades/solana/platforms/looter_solana_bot_trades.sql
  solana/models/_sector/dex/bot_trades/solana/platforms/maestro_solana_bot_trades.sql
  solana/models/_sector/dex/bot_trades/solana/platforms/magnum_solana_bot_trades.sql
  solana/models/_sector/dex/bot_trades/solana/platforms/pepe_boost_solana_bot_trades.sql
  solana/models/_sector/dex/bot_trades/solana/platforms/readyswap_solana_bot_trades.sql
  solana/models/_sector/dex/bot_trades/solana/platforms/shuriken_solana_bot_trades.sql
  solana/models/_sector/dex/bot_trades/solana/platforms/sol_gun_solana_bot_trades.sql
  solana/models/_sector/dex/bot_trades/solana/platforms/sol_trading_bot_solana_bot_trades.sql
  solana/models/_sector/dex/bot_trades/solana/platforms/soul_sniper_solana_bot_trades.sql
  solana/models/_sector/dex/bot_trades/solana/platforms/tirador_solana_bot_trades.sql
  solana/models/_sector/dex/bot_trades/solana/platforms/trojan_solana_bot_trades.sql
  solana/models/_sector/dex/bot_trades/solana/platforms/unibot_solana_bot_trades.sql
  solana/models/_sector/dex/bot_trades/solana/platforms/wifbot_solana_bot_trades.sql
  solana/seeds/banana_gun/banana_gun_solana_trades_seed.csv
  solana/seeds/banana_gun/readyswap/readyswap_solana_trades_seed.csv
  solana/seeds/bonkbot/bonkbot_solana_trades_seed.csv
  solana/seeds/consortium_key/consortium_key_solana_trades_seed.csv
  solana/seeds/looter/looter_solana_trades_seed.csv
  solana/seeds/maestro/maestro_solana_trades_seed.csv
  solana/seeds/magnum/magnum_solana_trades_seed.csv
  solana/seeds/pepe_boost/pepe_boost_solana_trades_seed.csv
  solana/seeds/readyswap/readyswap_solana_trades_seed.csv
  solana/seeds/shuriken/shuriken_solana_trades_seed.csv
  solana/seeds/sol_gun/sol_gun_solana_trades_seed.csv
  solana/seeds/sol_trading_bot/sol_trading_bot_solana_trades_seed.csv
  solana/seeds/soulbot/soul_sniper_solana_trades_seed.csv
  solana/seeds/trojan/trojan_solana_trades_seed.csv
  solana/seeds/wifbot/wifbot_solana_trades_seed.csv
Labels: blocked, solana

#6241 add aura on base to prices.usd
  models/prices/base/prices_base_tokens.sql
Labels: easy, ready-for-merging

#6307 Add fenix_blast_base_trades
  dex/models/dex_info.sql
  dex/models/trades/blast/_schema.yml
  dex/models/trades/blast/dex_blast_base_trades.sql
  dex/models/trades/blast/platforms/fenix_blast_base_trades.sql
  sources/_sector/dex/trades/blast/_sources.yml
Labels: dex

#6350 Raho1 scroll prices update 1
  models/prices/scroll/prices_scroll_tokens.sql
Labels: easy, ready-for-merging

#6349 Added wbeth
  models/prices/ethereum/prices_ethereum_tokens.sql
Labels: easy, ready-for-merging

#6345 Add SX ZRO token prices
  models/prices/arbitrum/prices_arbitrum_tokens.sql
Labels: easy, ready-for-merging

#6326 Additional chainlink ethereum price feeds oracle addresses
  daily_spellbook/models/chainlink/ethereum/chainlink_ethereum_price_feeds_oracle_addresses.sql
Labels: easy, ready-for-merging

#6322 [CoW Protocol] Add Fractal Solver on Gnosis Chain
  models/cow_protocol/gnosis/cow_protocol_gnosis_solvers.sql
Labels: easy, ready-for-merging

#6356 move account abstraction macros, add distinct fix on userops basics spells
  daily_spellbook/macros/models/sector/account_abstraction/erc4337_account_deployed.sql
  daily_spellbook/macros/models/sector/account_abstraction/erc4337_userops_basics.sql
  daily_spellbook/macros/models/sector/account_abstraction/erc4337_userops_enrichments.sql
Labels: hotfix

#6352 1inch: fix prod excluded tables
  daily_spellbook/models/_projects/oneinch/_meta/oneinch_mapped_contracts.sql
  daily_spellbook/models/_projects/oneinch/_meta/oneinch_mapped_methods.sql
Labels: ready-for-merging

#6015 Add Degen & Mode base sources
  sources/_base_sources/degen_base_sources.yml
  sources/_base_sources/mode_base_sources.yml
Labels: ready-for-merging

#6357 Linea balances tables
  models/_sector/tokens/linea/_schema.yml
  models/_sector/tokens/linea/tokens_linea_balances.sql
  models/_sector/tokens/linea/tokens_linea_balances_daily.sql
  models/_sector/tokens/linea/tokens_linea_balances_daily_agg.sql
  models/_sector/tokens/linea/tokens_linea_balances_daily_agg_base.sql
  sources/_sector/tokens/balances_sources.yml
Labels: ready-for-merging

#6346 Lido accounting stonks update
  models/lido/accounting/ethereum/lido_accounting_ethereum_other_expenses.sql
Labels: ready-for-merging

#6333 Create `lending.info`
  models/_sector/lending/_schema.yml
  models/_sector/lending/lending_info.sql
Labels: easy, ready-for-merging

#6358 add morpho blue to lending sector
  models/_sector/lending/borrow/_schema.yml
  models/_sector/lending/borrow/ethereum/_schema.yml
  models/_sector/lending/borrow/ethereum/lending_ethereum_base_borrow.sql
  models/_sector/lending/borrow/ethereum/platforms/morpho_ethereum_base_borrow.sql
  models/_sector/lending/borrow/lending_borrow.sql
  models/_sector/lending/supply/ethereum/_schema.yml
  sources/_sector/lending/borrow/ethereum/_sources.yml
Labels: ready-for-merging

#6360 add morpho supply
  models/_sector/lending/supply/_schema.yml
  models/_sector/lending/supply/ethereum/_schema.yml
  models/_sector/lending/supply/ethereum/lending_ethereum_base_supply.sql
  models/_sector/lending/supply/ethereum/platforms/morpho_ethereum_base_supply.sql
  models/_sector/lending/supply/lending_supply.sql
  sources/_sector/lending/supply/ethereum/_sources.yml
Labels: ready-for-merging

#6359 add morpho flashloans
  models/_sector/lending/flashloans/_schema.yml
  models/_sector/lending/flashloans/ethereum/_schema.yml
  models/_sector/lending/flashloans/ethereum/lending_ethereum_base_flashloans.sql
  models/_sector/lending/flashloans/ethereum/platforms/morpho_ethereum_base_flashloans.sql
  sources/_sector/lending/flashloans/ethereum/_sources.yml
Labels: ready-for-review

#6297 move jupiter out of dex directory
  solana/models/jupiter/jupiter_solana_aggregator_swaps.sql
  solana/models/jupiter/jupiter_solana_perp_events.sql
  solana/models/jupiter/jupiter_solana_schema.yml
Labels: ready-for-merging, solana

#6294 Add blasterswap_blast_base_trades
  dex/models/dex_info.sql
  dex/models/trades/blast/_schema.yml
  dex/models/trades/blast/dex_blast_base_trades.sql
  dex/models/trades/blast/platforms/blasterswap_blast_base_trades.sql
  dex/seeds/trades/_schema.yml
  dex/seeds/trades/blasterswap_blast_base_trades_seed.csv
  sources/_sector/dex/trades/blast/_sources.yml
Labels: ready-for-merging, dex

#6256 zeroex - update eth native taker
  dex/models/_projects/zeroex/ethereum/zeroex_ethereum_native_fills.sql
Labels: easy, ready-for-merging

#6353 Change lending sector's `usd_amount` to `amount_usd`
  macros/models/_sector/lending/lending_enrich_borrow.sql
  macros/models/_sector/lending/lending_enrich_flashloans.sql
  macros/models/_sector/lending/lending_enrich_supply.sql
Labels: ready-for-merging

#6327 nft.wash_trades small migration
  nft/macros/nft_wash_trades.sql
  sources/_subprojects/spellbook/_sources.yml
Labels: ready-for-merging, NFT

#6363 fix compile errors from morpho
  models/_sector/lending/borrow/ethereum/platforms/morpho_ethereum_base_borrow.sql
  sources/_sector/lending/supply/ethereum/_sources.yml
Labels: hotfix

#6373 compound v3: exclude due to missing decoded sources
  models/_sector/lending/borrow/arbitrum/platforms/compound_v3_arbitrum_base_borrow.sql
  models/_sector/lending/borrow/base/platforms/compound_v3_base_base_borrow.sql
  models/_sector/lending/borrow/ethereum/platforms/compound_v3_ethereum_base_borrow.sql
  models/_sector/lending/supply/arbitrum/platforms/compound_v3_arbitrum_base_supply.sql
  models/_sector/lending/supply/base/platforms/compound_v3_base_base_supply.sql
  models/_sector/lending/supply/ethereum/platforms/compound_v3_ethereum_base_supply.sql
Labels: hotfix

#6380 Adding ggAVAX and sAVAX to tokens_avalanche_c_erc20.sql
  tokens/models/tokens/avalanche_c/tokens_avalanche_c_erc20.sql
Labels: ready-for-merging

#6379 added opul token prices to bnb and arbitrum
  models/prices/arbitrum/prices_arbitrum_tokens.sql
  models/prices/bnb/prices_bnb_tokens.sql
  models/prices/ethereum/prices_ethereum_tokens.sql
Labels: easy, ready-for-merging

#6370 Add $SOLID and $ZRO to tokens.erc20
  tokens/models/tokens/arbitrum/tokens_arbitrum_erc20.sql
  tokens/models/tokens/base/tokens_base_erc20.sql
  tokens/models/tokens/fantom/tokens_fantom_erc20.sql
Labels: ready-for-merging

#6369 Add missing tokens to tokens.erc20 and prices.usd
  dex/models/trades/ethereum/platforms/curvefi_ethereum_base_trades.sql
  dex/models/trades/optimism/platforms/curvefi_optimism_base_trades.sql
  models/prices/arbitrum/prices_arbitrum_tokens.sql
  sources/curvefi/ethereum/curvefi_ethereum_sources.yml
  sources/curvefi/optimism/curvefi_optimism_sources.yml
  tokens/models/tokens/arbitrum/tokens_arbitrum_erc20.sql
  tokens/models/tokens/ethereum/tokens_ethereum_erc20.sql
  tokens/models/tokens/ethereum/tokens_ethereum_erc20_stablecoins.sql
Labels: ready-for-merging

#6367 Added some new tokens to tokens.erc20 for avalanche
  tokens/models/tokens/avalanche_c/tokens_avalanche_c_erc20.sql
Labels: ready-for-merging

#6366 lending.info add missing protocols
  models/_sector/lending/lending_info.sql
Labels: ready-for-merging

#6381 compound v3 - fix sources
  models/_sector/lending/borrow/arbitrum/platforms/compound_v3_arbitrum_base_borrow.sql
  models/_sector/lending/borrow/base/platforms/compound_v3_base_base_borrow.sql
  models/_sector/lending/borrow/ethereum/platforms/compound_v3_ethereum_base_borrow.sql
  models/_sector/lending/supply/arbitrum/platforms/compound_v3_arbitrum_base_supply.sql
  models/_sector/lending/supply/base/platforms/compound_v3_base_base_supply.sql
  models/_sector/lending/supply/ethereum/platforms/compound_v3_ethereum_base_supply.sql
  sources/_sector/lending/borrow/arbitrum/_sources.yml
  sources/_sector/lending/borrow/base/_sources.yml
  sources/_sector/lending/borrow/ethereum/_sources.yml
  sources/_sector/lending/supply/arbitrum/_sources.yml
  sources/_sector/lending/supply/base/_sources.yml
  sources/_sector/lending/supply/ethereum/_sources.yml
Labels: ready-for-merging

#6324 use balancer_compatible_liquidity_macro for beethoven x on fantom
  macros/models/_project/balancer/balancer_liquidity_macro.sql
  models/beethoven_x/fantom/beethoven_x_fantom_liquidity.sql
Labels: ready-for-merging

#6371 Blobs: tag based rollups & add tags
  models/blobs/ethereum/_schema.yml
  models/blobs/ethereum/blobs_based_submitters.sql
  models/blobs/ethereum/blobs_submitters.sql
  models/blobs/ethereum/ethereum_blob_submissions.sql
  models/blobs/ethereum/ethereum_blobs.sql
  sources/_sector/blobs/_sources.yml
Labels: ready-for-merging

#6375 fix pyusd manual
  solana/models/tokens/solana/tokens_solana_fungible.sql
Labels: question, in review, solana

#6273 Update claim fee logic on boost.claimed
  models/boost/boost_claimed.sql
  models/boost/optimism/boost_optimism_deployed.sql
Labels: in review

#6374 DUX-528 sei: add base sources and prices
  models/evms/evms_info.sql
  models/prices/prices_native_tokens.sql
  models/prices/prices_schema.yml
  models/prices/prices_tokens.sql
  models/prices/prices_trusted_tokens.sql
  models/prices/sei/_schema.yml
  models/prices/sei/prices_sei_tokens.sql
  sources/_base_sources/sei_base_sources.yml
  tokens/models/tokens/sei/_schema.yml
  tokens/models/tokens/sei/tokens_sei_erc20.sql
  tokens/models/tokens/tokens_erc20.sql
  tokens/models/tokens/tokens_schema.yml
Labels: dune team

#6383 add Starknet native token STRK
  models/prices/prices_native_tokens.sql
Labels: easy, ready-for-merging

#6377 feat: track both v6.1 and v6.2 paraswap volume
  dex/macros/models/_project/paraswap/v6/paraswap_v6_balancer_v2_method.sql
  dex/macros/models/_project/paraswap/v6/paraswap_v6_trades_master.sql
  dex/macros/models/_project/paraswap/v6/paraswap_v6_uniswaplike_method.sql
  dex/models/_projects/paraswap/arbitrum/paraswap_v6_arbitrum_trades_decoded.sql
  dex/models/_projects/paraswap/avalanche_c/paraswap_v6_avalanche_c_trades_decoded.sql
  dex/models/_projects/paraswap/base/paraswap_v6_base_trades_decoded.sql
  dex/models/_projects/paraswap/bnb/paraswap_v6_bnb_trades_decoded.sql
  dex/models/_projects/paraswap/ethereum/paraswap_v6_ethereum_trades_decoded.sql
  dex/models/_projects/paraswap/fantom/paraswap_v6_fantom_trades_decoded.sql
  dex/models/_projects/paraswap/optimism/paraswap_v6_optimism_trades_decoded.sql
  dex/models/_projects/paraswap/polygon/paraswap_v6_polygon_trades_decoded.sql
  sources/paraswap/arbitrum/paraswap_arbitrum_sources.yml
  sources/paraswap/avalanche_c/paraswap_avalanche_c_sources.yml
  sources/paraswap/base/paraswap_base_sources.yml
  sources/paraswap/bnb/paraswap_bnb_sources.yml
  sources/paraswap/ethereum/paraswap_ethereum_sources.yml
  sources/paraswap/fantom/paraswap_fantom_sources.yml
  sources/paraswap/optimism/paraswap_optimism_sources.yml
  sources/paraswap/polygon/paraswap_polygon_sources.yml
Labels: ready-for-merging, dex

#6412 Add new tokens to Ethereum price list
  models/prices/ethereum/prices_ethereum_tokens.sql
Labels: ready-for-merging

#6411 add new tokens to Base price list
  models/prices/base/prices_base_tokens.sql
Labels: ready-for-merging

#6404 Add missing token to tokens.erc20
  tokens/models/tokens/arbitrum/tokens_arbitrum_erc20.sql
Labels: ready-for-merging

#6400 Add missing token to tokens.erc20
  tokens/models/tokens/ethereum/tokens_ethereum_erc20.sql
Labels: ready-for-merging

#6398 Add beefy missing tokens
  models/prices/arbitrum/prices_arbitrum_tokens.sql
  models/prices/base/prices_base_tokens.sql
  models/prices/linea/prices_linea_tokens.sql
  models/prices/optimism/prices_optimism_tokens_curated.sql
  models/prices/polygon/prices_polygon_tokens.sql
Labels: ready-for-merging

#6430 fix peipei decimals
  models/prices/ethereum/prices_ethereum_tokens.sql
Labels: easy, ready-for-merging

#6419 Added new token to Avalanche
  tokens/models/tokens/avalanche_c/tokens_avalanche_c_erc20.sql
Labels: easy, ready-for-merging

#6390 Solana Tokens Added
  models/prices/solana/prices_solana_tokens.sql
Labels: easy, ready-for-merging

#6410 "Add LEVER and HIFI tokens to prices_ethereum_tokens.sql".
  models/prices/ethereum/prices_ethereum_tokens.sql
Labels: ready-for-merging

#6409 "Add KDA token to prices_native_tokens.sql".
  models/prices/prices_native_tokens.sql
Labels: ready-for-merging

#6387 Update TON to prices_native_tokens.sql
  models/prices/prices_native_tokens.sql
Labels: easy, ready-for-merging

#6386 add token granularity to label spells
  daily_spellbook/models/_sector/labels/_schema.yml
  daily_spellbook/models/_sector/labels/labels_counterparty_activity_daily.sql
  daily_spellbook/models/_sector/labels/labels_transfer_summary.sql
  daily_spellbook/models/_sector/labels/labels_transfer_summary_daily.sql
  daily_spellbook/package-lock.yml
Labels: ready-for-merging, dune team

#6415 Add more tokens for ZKsync
  tokens/models/tokens/zksync/tokens_zksync_erc20.sql
  tokens/models/tokens/zksync/tokens_zksync_nft_curated.sql
Labels: ready-for-merging

#6418 [READY FOR REVIEW] Add JellySwap Spells
  dex/models/_projects/jelly_swap/_schema.yml
  dex/models/_projects/jelly_swap/jelly_swap_sei_pools_fees.sql
  dex/models/_projects/jelly_swap/jelly_swap_trades.sql
  dex/models/dex_info.sql
  dex/models/trades/_schema.yml
  dex/models/trades/dex_base_trades.sql
  dex/models/trades/sei/_schema.yml
  dex/models/trades/sei/dex_sei_base_trades.sql
  dex/models/trades/sei/platforms/jelly_swap_sei_base_trades.sql
  dex/seeds/trades/_schema.yml
  dex/seeds/trades/jelly_swap_sei_base_trades_seed.csv
  macros/models/_project/balancer/balancer_liquidity_macro.sql
  macros/models/_project/balancer/balancer_protocol_fee_macro.sql
  models/_sector/labels/addresses/__single_category_labels__/jelly_swap/labels_beethoven_x_schema.yml
  models/_sector/labels/addresses/__single_category_labels__/jelly_swap/labels_jelly_swap_pools_sei.sql
  models/jelly_swap/sei/jelly_swap_sei_bpt_prices.sql
  models/jelly_swap/sei/jelly_swap_sei_bpt_supply.sql
  models/jelly_swap/sei/jelly_swap_sei_bpt_supply_changes.sql
  models/jelly_swap/sei/jelly_swap_sei_bpt_supply_changes_daily.sql
  models/jelly_swap/sei/jelly_swap_sei_liquidity.sql
  models/jelly_swap/sei/jelly_swap_sei_pools_tokens_weights.sql
  models/jelly_swap/sei/jelly_swap_sei_protocol_fee.sql
  models/jelly_swap/sei/jelly_swap_sei_schema.yml
  models/jelly_swap/sei/jelly_swap_sei_token_balance_changes.sql
  models/jelly_swap/sei/jelly_swap_sei_token_balance_changes_daily.sql
  models/jelly_swap/sei/jelly_swap_sei_transfers_bpt.sql
  sources/_subprojects/daily_spellbook/_sources.yml
  sources/jelly_swap/sei/jelly_swap_sei_sources.yml
Labels: ready-for-merging, dex

#6436 solana fees history: filter out dupes
  solana/models/tokens/solana/tokens_solana_fees_history.sql
Labels: hotfix

#6439 dbt subprojects: fix compile errors
  dbt_subprojects/daily_spellbook/models/_sector/labels/addresses/__single_category_labels__/jelly_swap/labels_beethoven_x_schema.yml
  dbt_subprojects/daily_spellbook/models/_sector/labels/addresses/__single_category_labels__/jelly_swap/labels_jelly_swap_pools_sei.sql
  dbt_subprojects/daily_spellbook/models/jelly_swap/sei/jelly_swap_sei_bpt_prices.sql
  dbt_subprojects/daily_spellbook/models/jelly_swap/sei/jelly_swap_sei_bpt_supply.sql
  dbt_subprojects/daily_spellbook/models/jelly_swap/sei/jelly_swap_sei_bpt_supply_changes.sql
  dbt_subprojects/daily_spellbook/models/jelly_swap/sei/jelly_swap_sei_bpt_supply_changes_daily.sql
  dbt_subprojects/daily_spellbook/models/jelly_swap/sei/jelly_swap_sei_liquidity.sql
  dbt_subprojects/daily_spellbook/models/jelly_swap/sei/jelly_swap_sei_pools_tokens_weights.sql
  dbt_subprojects/daily_spellbook/models/jelly_swap/sei/jelly_swap_sei_protocol_fee.sql
  dbt_subprojects/daily_spellbook/models/jelly_swap/sei/jelly_swap_sei_schema.yml
  dbt_subprojects/daily_spellbook/models/jelly_swap/sei/jelly_swap_sei_token_balance_changes.sql
  dbt_subprojects/daily_spellbook/models/jelly_swap/sei/jelly_swap_sei_token_balance_changes_daily.sql
  dbt_subprojects/daily_spellbook/models/jelly_swap/sei/jelly_swap_sei_transfers_bpt.sql
  dbt_subprojects/dex/models/_projects/jelly_swap/_schema.yml
  dbt_subprojects/dex/models/_projects/jelly_swap/jelly_swap_sei_pools_fees.sql
  dbt_subprojects/dex/models/_projects/jelly_swap/jelly_swap_trades.sql
  dbt_subprojects/dex/models/trades/sei/_schema.yml
  dbt_subprojects/dex/models/trades/sei/dex_sei_base_trades.sql
  dbt_subprojects/dex/models/trades/sei/platforms/jelly_swap_sei_base_trades.sql
Labels: hotfix

#6384 [Ready For Review] init Balancer CoWSwap AMM spells
  dbt_subprojects/daily_spellbook/models/_projects/balancer_cowswap_amm/_schema.yml
  dbt_subprojects/daily_spellbook/models/_projects/balancer_cowswap_amm/balancer_cowswap_amm_balances.sql
  dbt_subprojects/daily_spellbook/models/_projects/balancer_cowswap_amm/balancer_cowswap_amm_liquidity.sql
  dbt_subprojects/daily_spellbook/models/_projects/balancer_cowswap_amm/balancer_cowswap_amm_trades.sql
  dbt_subprojects/daily_spellbook/models/_projects/balancer_cowswap_amm/ethereum/_schema.yml
  dbt_subprojects/daily_spellbook/models/_projects/balancer_cowswap_amm/ethereum/balancer_cowswap_amm_ethereum_balances.sql
  dbt_subprojects/daily_spellbook/models/_projects/balancer_cowswap_amm/ethereum/balancer_cowswap_amm_ethereum_liquidity.sql
  dbt_subprojects/daily_spellbook/models/_projects/balancer_cowswap_amm/ethereum/balancer_cowswap_amm_ethereum_trades.sql
  dbt_subprojects/daily_spellbook/models/_projects/balancer_cowswap_amm/ethereum/labels_balancer_cowswap_amm_pools_ethereum.sql
  dbt_subprojects/daily_spellbook/models/_projects/balancer_cowswap_amm/labels_balancer_cowswap_amm_pools.sql
  sources/_subprojects_outputs/daily_spellbook/_sources.yml
  sources/_subprojects_outputs/dex/_sources.yml
  sources/balancer_cowswap_amm/ethereum/_sources.yml
Labels: in review

#6454 maverick v2 zksync: update source name, exclude prod
  dbt_subprojects/dex/models/trades/zksync/platforms/maverick_v2_zksync_base_trades.sql
Labels: hotfix, dex

#6437 Update prices_zksync_tokens.sql
  dbt_subprojects/tokens/models/prices/zksync/prices_zksync_tokens.sql
Labels: easy, ready-for-merging

#6442 Add new tokens to Base price list
  dbt_subprojects/tokens/models/prices/base/prices_base_tokens.sql
Labels: easy, ready-for-merging

#6445 Add new tokens to Ethereum token price model
  dbt_subprojects/tokens/models/prices/ethereum/prices_ethereum_tokens.sql
Labels: easy, ready-for-merging

#6453 add missing tokens to prices.usd
  dbt_subprojects/tokens/models/prices/ethereum/prices_ethereum_tokens.sql
  dbt_subprojects/tokens/models/prices/gnosis/prices_gnosis_tokens.sql
  dbt_subprojects/tokens/models/prices/optimism/prices_optimism_tokens_curated.sql
Labels: easy, ready-for-merging

#6443 Memecoins solana
  dbt_subprojects/tokens/models/prices/solana/prices_solana_tokens.sql
Labels: easy, ready-for-merging

#6438 Nexus Mutual - covers & staking (small tweaks)
  dbt_subprojects/daily_spellbook/models/nexusmutual/ethereum/covers/nexusmutual_ethereum_covers_daily_agg.sql
  dbt_subprojects/daily_spellbook/models/nexusmutual/ethereum/staking/nexusmutual_ethereum_staking_events.sql
Labels: easy, ready-for-merging

#6414 1inch-U33: fixes & configs update
  dbt_subprojects/daily_spellbook/macros/models/_project/oneinch/_meta/oneinch_mapped_contracts_macro.sql
  dbt_subprojects/daily_spellbook/macros/models/_project/oneinch/_meta/oneinch_mapped_methods.sql
  dbt_subprojects/daily_spellbook/macros/models/_project/oneinch/project/cfg/oneinch_project_orders_cfg_events_macro.sql
  dbt_subprojects/daily_spellbook/macros/models/_project/oneinch/project/cfg/oneinch_project_orders_cfg_methods_macro.sql
  dbt_subprojects/daily_spellbook/macros/models/_project/oneinch/project/oneinch_project_orders_macro.sql
  dbt_subprojects/daily_spellbook/models/_projects/oneinch/_meta/oneinch_mapped_methods.sql
  dbt_subprojects/daily_spellbook/models/_projects/oneinch/arbitrum/_meta/oneinch_arbitrum_mapped_methods.sql
  dbt_subprojects/daily_spellbook/models/_projects/oneinch/avalanche_c/_meta/oneinch_avalanche_c_mapped_methods.sql
  dbt_subprojects/daily_spellbook/models/_projects/oneinch/base/_meta/oneinch_base_mapped_methods.sql
  dbt_subprojects/daily_spellbook/models/_projects/oneinch/bnb/_meta/oneinch_bnb_mapped_methods.sql
  dbt_subprojects/daily_spellbook/models/_projects/oneinch/ethereum/_meta/oneinch_ethereum_mapped_methods.sql
  dbt_subprojects/daily_spellbook/models/_projects/oneinch/fantom/_meta/oneinch_fantom_mapped_methods.sql
  dbt_subprojects/daily_spellbook/models/_projects/oneinch/gnosis/_meta/oneinch_gnosis_mapped_methods.sql
  dbt_subprojects/daily_spellbook/models/_projects/oneinch/optimism/_meta/oneinch_optimism_mapped_methods.sql
  dbt_subprojects/daily_spellbook/models/_projects/oneinch/polygon/_meta/oneinch_polygon_mapped_methods.sql
  dbt_subprojects/daily_spellbook/models/_projects/oneinch/zksync/_meta/oneinch_zksync_mapped_methods.sql
  dbt_subprojects/dex/models/_projects/oneinch/_meta/oneinch_fusion_resolvers.sql
Labels: ready-for-merging

#6385 Added new tokens to Linea and Lynex fusion dex to be added to dex trades
  dbt_subprojects/dex/models/trades/linea/_schema.yml
  dbt_subprojects/dex/models/trades/linea/dex_linea_base_trades.sql
  dbt_subprojects/dex/models/trades/linea/platforms/lynex_fusion_linea_base_trades.sql
  dbt_subprojects/dex/seeds/trades/lynex_linea_base_trades_seed.csv
  dbt_subprojects/tokens/models/prices/linea/prices_linea_tokens.sql
  sources/_sector/dex/trades/linea/_sources.yml
Labels: ready-for-merging, dex

#6444 Add ZeroEx settler trades on Arbitrum
  dbt_subprojects/dex/models/_projects/zeroex/arbitrum/zeroex_arbitrum_api_fills_deduped.sql
  dbt_subprojects/dex/models/_projects/zeroex/arbitrum/zeroex_arbitrum_schema.yml
  dbt_subprojects/dex/models/_projects/zeroex/arbitrum/zeroex_arbitrum_settler_trades.sql
  dbt_subprojects/dex/models/_projects/zeroex/zeroex_api_fills_deduped.sql
  dbt_subprojects/dex/seeds/_project/zeroex/arbitrum/_schema.yml
  dbt_subprojects/dex/seeds/_project/zeroex/arbitrum/zeroex_arbitrum_settler_trades_sample.csv
Labels: ready-for-merging

#6432 [FOR REVIEW] Add ZeroEx Settler trades on Avalanche
  dbt_subprojects/dex/models/_projects/zeroex/avalanche_c/zeroex_avalanche_c_api_fills_deduped.sql
  dbt_subprojects/dex/models/_projects/zeroex/avalanche_c/zeroex_avalanche_c_schema.yml
  dbt_subprojects/dex/models/_projects/zeroex/avalanche_c/zeroex_avalanche_c_settler_trades.sql
  dbt_subprojects/dex/models/_projects/zeroex/zeroex_api_fills_deduped.sql
  dbt_subprojects/dex/seeds/_project/zeroex/avalanche_c/_schema.yml
  dbt_subprojects/dex/seeds/_project/zeroex/avalanche_c/zeroex_avalanche_c_settler_trades_sample.csv
Labels: ready-for-merging, dex

#6431 [FOR REVIEW] Add ZeroEx Settler trades on BNB
  dbt_subprojects/dex/models/_projects/zeroex/bnb/zeroex_bnb_api_fills_deduped.sql
  dbt_subprojects/dex/models/_projects/zeroex/bnb/zeroex_bnb_schema.yml
  dbt_subprojects/dex/models/_projects/zeroex/bnb/zeroex_bnb_settler_trades.sql
  dbt_subprojects/dex/models/_projects/zeroex/zeroex_api_fills_deduped.sql
  dbt_subprojects/dex/seeds/_project/zeroex/bnb/_schema.yml
  dbt_subprojects/dex/seeds/_project/zeroex/bnb/zeroex_bnb_settler_trades_sample.csv
Labels: ready-for-merging, dex

#6427 Add ZeroEx Settler trades on Optimism
  dbt_subprojects/dex/models/_projects/zeroex/optimism/zeroex_optimism_api_fills_deduped.sql
  dbt_subprojects/dex/models/_projects/zeroex/optimism/zeroex_optimism_schema.yml
  dbt_subprojects/dex/models/_projects/zeroex/optimism/zeroex_optimism_settler_trades.sql
  dbt_subprojects/dex/models/_projects/zeroex/zeroex_api_fills_deduped.sql
  dbt_subprojects/dex/seeds/_project/zeroex/optimism/_schema.yml
  dbt_subprojects/dex/seeds/_project/zeroex/optimism/zeroex_optimism_settler_trades_sample.csv
Labels: ready-for-merging, dex

#6424 [FOR REVIEW] Add ZeroEx settler trades on Polygon
  dbt_subprojects/dex/models/_projects/zeroex/polygon/zeroex_polygon_api_fills_deduped.sql
  dbt_subprojects/dex/models/_projects/zeroex/polygon/zeroex_polygon_schema.yml
  dbt_subprojects/dex/models/_projects/zeroex/polygon/zeroex_polygon_settler_trades.sql
  dbt_subprojects/dex/models/_projects/zeroex/zeroex_api_fills_deduped.sql
  dbt_subprojects/dex/seeds/_project/zeroex/polygon/_schema.yml
  dbt_subprojects/dex/seeds/_project/zeroex/polygon/zeroex_polygon_settler_trades_sample.csv
Labels: ready-for-merging, dex

#6413 [FOR REVIEW] Add ZeroEx Settler trades on Base
  dbt_subprojects/dex/models/_projects/zeroex/base/zeroex_base_api_fills_deduped.sql
  dbt_subprojects/dex/models/_projects/zeroex/base/zeroex_base_schema.yml
  dbt_subprojects/dex/models/_projects/zeroex/base/zeroex_base_settler_trades.sql
  dbt_subprojects/dex/models/_projects/zeroex/zeroex_api_fills_deduped.sql
  dbt_subprojects/dex/seeds/_project/zeroex/base/_schema.yml
  dbt_subprojects/dex/seeds/_project/zeroex/base/zeroex_base_settler_trades_sample.csv
Labels: ready-for-merging, dex

#6405 [FOR REVIEW] Add zeroex settler txns on ethereum
  dbt_subprojects/dex/models/_projects/zeroex/ethereum/zeroex_ethereum_api_fills_deduped.sql
  dbt_subprojects/dex/models/_projects/zeroex/ethereum/zeroex_ethereum_schema.yml
  dbt_subprojects/dex/models/_projects/zeroex/ethereum/zeroex_ethereum_settler_trades.sql
  dbt_subprojects/dex/models/_projects/zeroex/zeroex_api_fills_deduped.sql
  dbt_subprojects/dex/models/_projects/zeroex/zeroex_trades.sql
  dbt_subprojects/dex/seeds/_project/zeroex/ethereum/_schema.yml
  dbt_subprojects/dex/seeds/_project/zeroex/ethereum/zeroex_ethereum_settler_trades_sample.csv
Labels: ready-for-merging, dex

#6461 attempt to fix 0x lineage: list out columns in views
  dbt_subprojects/dex/models/_projects/zeroex/zeroex_api_fills_deduped.sql
  dbt_subprojects/dex/models/_projects/zeroex/zeroex_trades.sql
  dbt_subprojects/dex/models/aggregator_trades/dex_aggregator_trades.sql
Labels: hotfix, dex

#6462 Revert 0x settler trades spells
  dbt_subprojects/dex/models/_projects/zeroex/arbitrum/zeroex_arbitrum_api_fills_deduped.sql
  dbt_subprojects/dex/models/_projects/zeroex/arbitrum/zeroex_arbitrum_schema.yml
  dbt_subprojects/dex/models/_projects/zeroex/arbitrum/zeroex_arbitrum_settler_trades.sql
  dbt_subprojects/dex/models/_projects/zeroex/avalanche_c/zeroex_avalanche_c_api_fills_deduped.sql
  dbt_subprojects/dex/models/_projects/zeroex/avalanche_c/zeroex_avalanche_c_schema.yml
  dbt_subprojects/dex/models/_projects/zeroex/avalanche_c/zeroex_avalanche_c_settler_trades.sql
  dbt_subprojects/dex/models/_projects/zeroex/base/zeroex_base_api_fills_deduped.sql
  dbt_subprojects/dex/models/_projects/zeroex/base/zeroex_base_api_fills_schema.yml
  dbt_subprojects/dex/models/_projects/zeroex/base/zeroex_base_settler_trades.sql
  dbt_subprojects/dex/models/_projects/zeroex/bnb/zeroex_bnb_api_fills_deduped.sql
  dbt_subprojects/dex/models/_projects/zeroex/bnb/zeroex_bnb_schema.yml
  dbt_subprojects/dex/models/_projects/zeroex/bnb/zeroex_bnb_settler_trades.sql
  dbt_subprojects/dex/models/_projects/zeroex/ethereum/zeroex_ethereum_api_fills_deduped.sql
  dbt_subprojects/dex/models/_projects/zeroex/ethereum/zeroex_ethereum_schema.yml
  dbt_subprojects/dex/models/_projects/zeroex/ethereum/zeroex_ethereum_settler_trades.sql
  dbt_subprojects/dex/models/_projects/zeroex/optimism/zeroex_optimism_api_fills_deduped.sql
  dbt_subprojects/dex/models/_projects/zeroex/optimism/zeroex_optimism_schema.yml
  dbt_subprojects/dex/models/_projects/zeroex/optimism/zeroex_optimism_settler_trades.sql
  dbt_subprojects/dex/models/_projects/zeroex/polygon/zeroex_polygon_api_fills_deduped.sql
  dbt_subprojects/dex/models/_projects/zeroex/polygon/zeroex_polygon_schema.yml
  dbt_subprojects/dex/models/_projects/zeroex/polygon/zeroex_polygon_settler_trades.sql
  dbt_subprojects/dex/models/_projects/zeroex/zeroex_api_fills_deduped.sql
  dbt_subprojects/dex/models/_projects/zeroex/zeroex_trades.sql
  dbt_subprojects/dex/models/aggregator_trades/dex_aggregator_trades.sql
  dbt_subprojects/dex/seeds/_project/zeroex/arbitrum/_schema.yml
  dbt_subprojects/dex/seeds/_project/zeroex/arbitrum/zeroex_arbitrum_settler_trades_sample.csv
  dbt_subprojects/dex/seeds/_project/zeroex/avalanche_c/_schema.yml
  dbt_subprojects/dex/seeds/_project/zeroex/avalanche_c/zeroex_avalanche_c_settler_trades_sample.csv
  dbt_subprojects/dex/seeds/_project/zeroex/base/_schema.yml
  dbt_subprojects/dex/seeds/_project/zeroex/base/zeroex_base_settler_trades_sample.csv
  dbt_subprojects/dex/seeds/_project/zeroex/bnb/_schema.yml
  dbt_subprojects/dex/seeds/_project/zeroex/bnb/zeroex_bnb_settler_trades_sample.csv
  dbt_subprojects/dex/seeds/_project/zeroex/ethereum/_schema.yml
  dbt_subprojects/dex/seeds/_project/zeroex/ethereum/zeroex_ethereum_settler_trades_sample.csv
  dbt_subprojects/dex/seeds/_project/zeroex/optimism/_schema.yml
  dbt_subprojects/dex/seeds/_project/zeroex/optimism/zeroex_optimism_settler_trades_sample.csv
  dbt_subprojects/dex/seeds/_project/zeroex/polygon/_schema.yml
  dbt_subprojects/dex/seeds/_project/zeroex/polygon/zeroex_polygon_settler_trades_sample.csv
Labels: hotfix
