Repository duneanalytics/spellbook, pull requests merged in 2024-12, with the labels that each got.

#7228 add Ronin to gas fees
  dbt_subprojects/hourly_spellbook/models/_sector/gas/fees/gas_fees.sql
  dbt_subprojects/hourly_spellbook/models/_sector/gas/fees/ronin/gas_ronin_fees.sql
  dbt_subprojects/hourly_spellbook/models/_sector/gas/fees/ronin/gas_ronin_schema.yml
  dbt_subprojects/hourly_spellbook/seeds/_sector/gas/evm_gas_fees.csv
Labels: dune team, dbt: hourly

#7226 Add akronswap dex to trades
  dbt_subprojects/dex/models/dex_info.sql
  dbt_subprojects/dex/models/trades/base/_schema.yml
  dbt_subprojects/dex/models/trades/base/dex_base_base_trades.sql
  dbt_subprojects/dex/models/trades/base/platforms/akronswap_base_base_trades.sql
  dbt_subprojects/dex/seeds/trades/_schema.yml
  dbt_subprojects/dex/seeds/trades/akronswap_base_base_trades_seed.csv
  sources/_sector/dex/trades/base/_sources.yml
Labels: ready-for-merging, dbt: dex

#7219 Add flashliquidity dex to trades
  dbt_subprojects/dex/models/dex_info.sql
  dbt_subprojects/dex/models/trades/base/_schema.yml
  dbt_subprojects/dex/models/trades/base/dex_base_base_trades.sql
  dbt_subprojects/dex/models/trades/base/platforms/flashliquidity_base_base_trades.sql
  dbt_subprojects/dex/seeds/trades/_schema.yml
  dbt_subprojects/dex/seeds/trades/flashliquidity_base_base_trades_seed.csv
  sources/_sector/dex/trades/base/_sources.yml
Labels: ready-for-merging, dbt: dex

#7212 add zkswap_finance_v3 to trades
  dbt_subprojects/dex/models/trades/zksync/_schema.yml
  dbt_subprojects/dex/models/trades/zksync/dex_zksync_base_trades.sql
  dbt_subprojects/dex/models/trades/zksync/platforms/zkswap_finance_v3_zksync_base_trades.sql
  dbt_subprojects/dex/seeds/trades/zkswap_finance_zksync_base_trades_seed.csv
  sources/_sector/dex/trades/zksync/_sources.yml
Labels: ready-for-merging, dbt: dex

#7225 Update prices_base_tokens.sql
  dbt_subprojects/tokens/models/prices/base/prices_base_tokens.sql
Labels: ready-for-merging, dbt: tokens

#7220 add missing tokens to prices.usd and tokens.erc20
  dbt_subprojects/tokens/models/prices/base/prices_base_tokens.sql
  dbt_subprojects/tokens/models/prices/optimism/prices_optimism_tokens_curated.sql
  dbt_subprojects/tokens/models/tokens/base/tokens_base_erc20.sql
  dbt_subprojects/tokens/models/tokens/ethereum/tokens_ethereum_erc20.sql
  dbt_subprojects/tokens/models/tokens/optimism/tokens_optimism_erc20_curated.sql
Labels: ready-for-merging, dbt: tokens

#7211 Add Clark to tokens and prices for base
  dbt_subprojects/tokens/models/prices/base/prices_base_tokens.sql
  dbt_subprojects/tokens/models/tokens/base/tokens_base_erc20.sql
Labels: ready-for-merging, dbt: tokens

#7209 Init boba chain
  dbt_subprojects/daily_spellbook/models/evms/evms_info.sql
  dbt_subprojects/tokens/models/prices/boba/_schema.yml
  dbt_subprojects/tokens/models/prices/boba/prices_boba_tokens.sql
  dbt_subprojects/tokens/models/prices/prices_native_tokens.sql
  dbt_subprojects/tokens/models/prices/prices_tokens.sql
  dbt_subprojects/tokens/models/prices/prices_trusted_tokens.sql
  dbt_subprojects/tokens/models/tokens/_schema.yml
  dbt_subprojects/tokens/models/tokens/boba/_schema.yml
  dbt_subprojects/tokens/models/tokens/boba/tokens_boba_erc20.sql
  dbt_subprojects/tokens/models/tokens/tokens_erc20.sql
  scripts/token_checker.py
  sources/_base_sources/evm/boba_base_sources.yml
  sources/_base_sources/evm/boba_docs_block.md
Labels: ready-for-merging, dbt: daily, dbt: tokens

#7184 1inch-U51: fixes to project.* lineage
  dbt_subprojects/daily_spellbook/macros/project/oneinch/_meta/oneinch_project_swaps_exposed_blockchains_list.sql
  dbt_subprojects/daily_spellbook/macros/project/oneinch/project/cfg/oneinch_project_orders_cfg_methods_macro.sql
  dbt_subprojects/daily_spellbook/macros/project/oneinch/project/oneinch_project_swaps_macro.sql
  dbt_subprojects/daily_spellbook/models/_projects/oneinch/arbitrum/project/oneinch_arbitrum_project_swaps.sql
  dbt_subprojects/daily_spellbook/models/_projects/oneinch/avalanche_c/project/oneinch_avalanche_c_project_swaps.sql
  dbt_subprojects/daily_spellbook/models/_projects/oneinch/base/project/oneinch_base_project_swaps.sql
  dbt_subprojects/daily_spellbook/models/_projects/oneinch/bnb/project/oneinch_bnb_project_swaps.sql
  dbt_subprojects/daily_spellbook/models/_projects/oneinch/ethereum/project/oneinch_ethereum_project_swaps.sql
  dbt_subprojects/daily_spellbook/models/_projects/oneinch/fantom/project/oneinch_fantom_project_swaps.sql
  dbt_subprojects/daily_spellbook/models/_projects/oneinch/gnosis/project/oneinch_gnosis_project_swaps.sql
  dbt_subprojects/daily_spellbook/models/_projects/oneinch/optimism/project/oneinch_optimism_project_swaps.sql
  dbt_subprojects/daily_spellbook/models/_projects/oneinch/polygon/project/oneinch_polygon_project_swaps.sql
  dbt_subprojects/daily_spellbook/models/_projects/oneinch/zksync/project/oneinch_zksync_project_swaps.sql
Labels: ready-for-merging, dbt: daily

#6909 chore: add new chainswap deployer to spellbook
  dbt_subprojects/daily_spellbook/models/chainswap/arbitrum/chain_swap_arbitrum_trades.sql
  dbt_subprojects/daily_spellbook/models/chainswap/avalanche_c/chain_swap_avalanche_c_trades.sql
  dbt_subprojects/daily_spellbook/models/chainswap/base/chain_swap_base_trades.sql
  dbt_subprojects/daily_spellbook/models/chainswap/bnb/chain_swap_bnb_trades.sql
  dbt_subprojects/daily_spellbook/models/chainswap/chain_swap_schema.yml
  dbt_subprojects/daily_spellbook/models/chainswap/ethereum/chain_swap_ethereum_trades.sql
  dbt_subprojects/daily_spellbook/models/chainswap/optimism/chain_swap_optimism_trades.sql
  dbt_subprojects/daily_spellbook/models/chainswap/polygon/chain_swap_polygon_trades.sql
Labels: ready-for-merging, dbt: daily

#7227 add Ronin to metrics
  dbt_subprojects/daily_spellbook/models/_metrics/fees/chains/evm/_schema.yml
  dbt_subprojects/daily_spellbook/models/_metrics/fees/chains/evm/metrics_ronin_gas_fees_daily.sql
  dbt_subprojects/daily_spellbook/models/_metrics/fees/metrics_gas_fees_daily.sql
  dbt_subprojects/daily_spellbook/models/_metrics/transactions/chains/evm/_schema.yml
  dbt_subprojects/daily_spellbook/models/_metrics/transactions/chains/evm/metrics_ronin_transactions_daily.sql
  dbt_subprojects/daily_spellbook/models/_metrics/transactions/metrics_transactions_daily.sql
  dbt_subprojects/daily_spellbook/models/_metrics/transfers/chains/evm/_schema.yml
  dbt_subprojects/daily_spellbook/models/_metrics/transfers/chains/evm/metrics_ronin_transfers_daily.sql
  dbt_subprojects/daily_spellbook/models/_metrics/transfers/metrics_transfers_daily.sql
Labels: ready-for-merging, dune team, dbt: daily

#7205 Fix multiple hyperlinks in README
  README.md
Labels: ready-for-merging

#7232 chainswap fix: remove cast to varchar
  dbt_subprojects/daily_spellbook/models/chainswap/avalanche_c/chain_swap_avalanche_c_trades.sql
Labels: hotfix, dbt: daily

#7214 feat: add flokibot evm bot trades spellbook
  dbt_subprojects/dex/models/bot_trades/_schema.yml
  dbt_subprojects/dex/models/bot_trades/dex_evm_bot_trades.sql
  dbt_subprojects/dex/models/bot_trades/flokibot/base/flokibot_base_bot_trades.sql
  dbt_subprojects/dex/models/bot_trades/flokibot/bnb/flokibot_bnb_bot_trades.sql
  dbt_subprojects/dex/models/bot_trades/flokibot/ethereum/flokibot_ethereum_bot_trades.sql
  dbt_subprojects/dex/seeds/bot_trades/flokibot/flokibot_base_trades_seed.csv
  dbt_subprojects/dex/seeds/bot_trades/flokibot/flokibot_bnb_trades_seed.csv
  dbt_subprojects/dex/seeds/bot_trades/flokibot/flokibot_ethereum_trades_seed.csv
  dbt_subprojects/dex/seeds/bot_trades/flokibot/schema.yml
  sources/openocean/bnb/openocean_bnb_sources.yml
Labels: ready-for-merging, dbt: dex

#7216 feat: add readyswap evm bot trades
  dbt_subprojects/dex/models/bot_trades/_schema.yml
  dbt_subprojects/dex/models/bot_trades/dex_evm_bot_trades.sql
  dbt_subprojects/dex/models/bot_trades/readyswap/ethereum/readyswap_ethereum_bot_trades.sql
  dbt_subprojects/dex/seeds/bot_trades/readyswap/readyswap_ethereum_trades_seed.csv
  dbt_subprojects/dex/seeds/bot_trades/readyswap/schema.yml
Labels: ready-for-merging, dbt: dex

#7233 Revert "zereox - v2 macro replacements 2 (#7168)"
  dbt_subprojects/dex/macros/models/_project/zeroex/zeroex_v2.sql
  dbt_subprojects/dex/models/_projects/zeroex/arbitrum/zeroex_arbitrum_schema.yml
  dbt_subprojects/dex/models/_projects/zeroex/arbitrum/zeroex_arbitrum_settler_trades.sql
  dbt_subprojects/dex/models/_projects/zeroex/arbitrum/zeroex_v2_arbitrum_trades.sql
  dbt_subprojects/dex/models/_projects/zeroex/avalanche_c/zeroex_avalanche_c_schema.yml
  dbt_subprojects/dex/models/_projects/zeroex/avalanche_c/zeroex_avalanche_c_settler_trades.sql
  dbt_subprojects/dex/models/_projects/zeroex/avalanche_c/zeroex_v2_avalanche_c_trades.sql
  dbt_subprojects/dex/models/_projects/zeroex/base/zeroex_v2_base_trades.sql
  dbt_subprojects/dex/models/_projects/zeroex/blast/zeroex_blast_schema.yml
  dbt_subprojects/dex/models/_projects/zeroex/blast/zeroex_blast_settler_trades.sql
  dbt_subprojects/dex/models/_projects/zeroex/blast/zeroex_v2_blast_trades.sql
  dbt_subprojects/dex/models/_projects/zeroex/bnb/zeroex_bnb_schema.yml
  dbt_subprojects/dex/models/_projects/zeroex/bnb/zeroex_bnb_settler_trades.sql
  dbt_subprojects/dex/models/_projects/zeroex/bnb/zeroex_v2_bnb_trades.sql
  dbt_subprojects/dex/models/_projects/zeroex/ethereum/zeroex_v2_ethereum_trades.sql
  dbt_subprojects/dex/models/_projects/zeroex/linea/zeroex_linea_schema.yml
  dbt_subprojects/dex/models/_projects/zeroex/linea/zeroex_linea_settler_trades.sql
  dbt_subprojects/dex/models/_projects/zeroex/linea/zeroex_v2_linea_trades.sql
  dbt_subprojects/dex/models/_projects/zeroex/mantle/zeroex_mantle_schema.yml
  dbt_subprojects/dex/models/_projects/zeroex/mantle/zeroex_mantle_settler_trades.sql
  dbt_subprojects/dex/models/_projects/zeroex/mantle/zeroex_v2_mantle_trades.sql
  dbt_subprojects/dex/models/_projects/zeroex/mode/zeroex_mode_schema.yml
  dbt_subprojects/dex/models/_projects/zeroex/mode/zeroex_v2_mode_trades.sql
  dbt_subprojects/dex/models/_projects/zeroex/optimism/zeroex_optimism_schema.yml
  dbt_subprojects/dex/models/_projects/zeroex/optimism/zeroex_optimism_settler_trades.sql
  dbt_subprojects/dex/models/_projects/zeroex/optimism/zeroex_v2_optimism_trades.sql
  dbt_subprojects/dex/models/_projects/zeroex/polygon/zeroex_v2_polygon_trades.sql
  dbt_subprojects/dex/models/_projects/zeroex/scroll/zeroex_scroll_schema.yml
  dbt_subprojects/dex/models/_projects/zeroex/scroll/zeroex_scroll_settler_trades.sql
  dbt_subprojects/dex/models/_projects/zeroex/scroll/zeroex_v2_scroll_trades.sql
  dbt_subprojects/dex/models/_projects/zeroex/zeroex_api_fills_deduped.sql
  dbt_subprojects/dex/models/_projects/zeroex/zeroex_trades.sql
  dbt_subprojects/dex/seeds/_project/zeroex/blast/zeroex_blast_settler_trades_sample.csv
  dbt_subprojects/dex/seeds/_project/zeroex/linea/zeroex_linea_settler_trades_sample.csv
  dbt_subprojects/dex/seeds/_project/zeroex/mode/_schema.yml
  dbt_subprojects/dex/seeds/_project/zeroex/mode/zeroex_mode_settler_trades_sample.csv
Labels: hotfix, dbt: dex

#7222 Init flare chain
  dbt_subprojects/daily_spellbook/models/chain_info/chain_info_chain_ids.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_info.sql
  dbt_subprojects/tokens/models/prices/flare/_schema.yml
  dbt_subprojects/tokens/models/prices/flare/prices_flare_tokens.sql
  dbt_subprojects/tokens/models/prices/prices_tokens.sql
  dbt_subprojects/tokens/models/prices/prices_trusted_tokens.sql
  dbt_subprojects/tokens/models/tokens/_schema.yml
  dbt_subprojects/tokens/models/tokens/flare/_schema.yml
  dbt_subprojects/tokens/models/tokens/flare/tokens_flare_erc20.sql
  dbt_subprojects/tokens/models/tokens/tokens_erc20.sql
  sources/_base_sources/evm/flare_base_sources.yml
  sources/_base_sources/evm/flare_docs_block.md
Labels: dbt: daily, dbt: tokens

#7195 Upgrade Event Models for GMX v2 Project
  dbt_subprojects/daily_spellbook/models/_projects/gmx/event/arbitrum/gmx_v2_arbitrum_event_schema.yml
  dbt_subprojects/daily_spellbook/models/_projects/gmx/event/arbitrum/gmx_v2_arbitrum_order_created.sql
  dbt_subprojects/daily_spellbook/models/_projects/gmx/event/arbitrum/gmx_v2_arbitrum_order_updated.sql
  dbt_subprojects/daily_spellbook/models/_projects/gmx/event/arbitrum/gmx_v2_arbitrum_position_fees_collected.sql
  dbt_subprojects/daily_spellbook/models/_projects/gmx/event/arbitrum/gmx_v2_arbitrum_position_fees_info.sql
  dbt_subprojects/daily_spellbook/models/_projects/gmx/event/avalanche_c/gmx_v2_avalanche_c_event_schema.yml
  dbt_subprojects/daily_spellbook/models/_projects/gmx/event/avalanche_c/gmx_v2_avalanche_c_order_created.sql
  dbt_subprojects/daily_spellbook/models/_projects/gmx/event/avalanche_c/gmx_v2_avalanche_c_order_updated.sql
  dbt_subprojects/daily_spellbook/models/_projects/gmx/event/avalanche_c/gmx_v2_avalanche_c_position_fees_collected.sql
  dbt_subprojects/daily_spellbook/models/_projects/gmx/event/avalanche_c/gmx_v2_avalanche_c_position_fees_info.sql
  dbt_subprojects/daily_spellbook/models/_projects/gmx/event/gmx_v2_event_schema.yml
  dbt_subprojects/daily_spellbook/models/_projects/gmx/event/gmx_v2_order_created.sql
  dbt_subprojects/daily_spellbook/models/_projects/gmx/event/gmx_v2_order_updated.sql
  dbt_subprojects/daily_spellbook/models/_projects/gmx/event/gmx_v2_position_fees_collected.sql
  dbt_subprojects/daily_spellbook/models/_projects/gmx/event/gmx_v2_position_fees_info.sql
Labels: ready-for-merging, dbt: daily

#7221 Added Stablebase for Base
  dbt_subprojects/dex/models/dex_info.sql
  dbt_subprojects/dex/models/trades/base/_schema.yml
  dbt_subprojects/dex/models/trades/base/dex_base_base_trades.sql
  dbt_subprojects/dex/models/trades/base/platforms/stablebase_base_base_trades.sql
  dbt_subprojects/dex/seeds/trades/_schema.yml
  dbt_subprojects/dex/seeds/trades/stablebase_base_base_trades_seed.csv
  sources/_sector/dex/trades/base/_sources.yml
Labels: ready-for-merging, dbt: dex

#7241 Add Ronin to evms tables
  dbt_subprojects/daily_spellbook/models/evms/evms_blocks.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_contracts.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_creation_traces.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_erc1155_approvalsforall.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_erc1155_transfersbatch.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_erc1155_transferssingle.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_erc20_approvals.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_erc20_transfers.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_erc721_approvals.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_erc721_approvalsforall.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_erc721_transfers.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_logs.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_logs_decoded.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_non_app_method_ids.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_schema.yml
  dbt_subprojects/daily_spellbook/models/evms/evms_traces.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_traces_decoded.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_transactions.sql
Labels: ready-for-merging, dbt: daily

#7236 [CoW Protocol] (Easy) Unify solver names across chains
  dbt_subprojects/hourly_spellbook/models/_project/cow_protocol/arbitrum/cow_protocol_arbitrum_solvers.sql
  dbt_subprojects/hourly_spellbook/models/_project/cow_protocol/gnosis/cow_protocol_gnosis_solvers.sql
Labels: ready-for-merging, dbt: hourly

#7204 Added infusion dex on base chain
  dbt_subprojects/dex/models/dex_info.sql
  dbt_subprojects/dex/models/trades/base/_schema.yml
  dbt_subprojects/dex/models/trades/base/dex_base_base_trades.sql
  dbt_subprojects/dex/models/trades/base/platforms/infusion_base_base_trades.sql
  dbt_subprojects/dex/seeds/trades/_schema.yml
  dbt_subprojects/dex/seeds/trades/infusion_base_base_trades_seed.csv
  sources/_sector/dex/trades/base/_sources.yml
Labels: ready-for-merging, dbt: dex

#7244 Add transfers into boba sources
  sources/_base_sources/evm/boba_base_sources.yml
  sources/_base_sources/evm/boba_docs_block.md
Labels: ready-for-merging

#7237 1inch-U52: hot fixes to project.* lineage
  dbt_subprojects/daily_spellbook/macros/project/oneinch/project/oneinch_project_swaps_macro.sql
Labels: ready-for-merging, dbt: daily

#7252 Init viction chain
  dbt_subprojects/daily_spellbook/models/evms/evms_info.sql
  dbt_subprojects/tokens/models/prices/prices_tokens.sql
  dbt_subprojects/tokens/models/prices/prices_trusted_tokens.sql
  dbt_subprojects/tokens/models/prices/viction/_schema.yml
  dbt_subprojects/tokens/models/prices/viction/prices_viction_tokens.sql
  dbt_subprojects/tokens/models/tokens/_schema.yml
  dbt_subprojects/tokens/models/tokens/tokens_erc20.sql
  dbt_subprojects/tokens/models/tokens/viction/_schema.yml
  dbt_subprojects/tokens/models/tokens/viction/tokens_viction_erc20.sql
  sources/_base_sources/evm/viction_base_sources.yml
  sources/_base_sources/evm/viction_docs_block.md
Labels: ready-for-review

#7270 Update tokens_viction_erc20.sql
  dbt_subprojects/tokens/models/tokens/viction/tokens_viction_erc20.sql
Labels: ready-for-merging, dbt: tokens

#7267 Add SHRUB, SBR, MSTR, SIGMA, FWOG, LESTER, & HAPPY token price
  dbt_subprojects/tokens/models/prices/ethereum/prices_ethereum_tokens.sql
  dbt_subprojects/tokens/models/prices/solana/prices_solana_tokens.sql
Labels: easy, ready-for-merging

#7269 chore: add new chainswap deployers across all chains
  dbt_subprojects/daily_spellbook/models/chainswap/arbitrum/chain_swap_arbitrum_trades.sql
  dbt_subprojects/daily_spellbook/models/chainswap/avalanche_c/chain_swap_avalanche_c_trades.sql
  dbt_subprojects/daily_spellbook/models/chainswap/base/chain_swap_base_trades.sql
  dbt_subprojects/daily_spellbook/models/chainswap/bnb/chain_swap_bnb_trades.sql
  dbt_subprojects/daily_spellbook/models/chainswap/ethereum/chain_swap_ethereum_trades.sql
  dbt_subprojects/daily_spellbook/models/chainswap/optimism/chain_swap_optimism_trades.sql
  dbt_subprojects/daily_spellbook/models/chainswap/polygon/chain_swap_polygon_trades.sql
Labels: ready-for-merging, dbt: daily

#7263 Nexus Mutual - Capital Pool rETH/ETH fix
  dbt_subprojects/daily_spellbook/models/nexusmutual/ethereum/capital_pool/nexusmutual_ethereum_capital_pool_totals.sql
  sources/rocketpool/ethereum/rocketpool_ethereum_sources.yml
Labels: ready-for-merging, dbt: daily

#7172 Bridges of LI.FI across chains, the contract is LiFiDiamond_v2
  dbt_subprojects/daily_spellbook/macros/project/lifi/lifi_extract_bridge_data_macro.sql
  dbt_subprojects/daily_spellbook/models/_projects/lifi/arbitrum/lifi_arbitrum_transfers.sql
  dbt_subprojects/daily_spellbook/models/_projects/lifi/avalanche_c/lifi_avalanche_c_transfers.sql
  dbt_subprojects/daily_spellbook/models/_projects/lifi/bnb/lifi_bnb_transfers.sql
  dbt_subprojects/daily_spellbook/models/_projects/lifi/ethereum/lifi_ethereum_transfers.sql
  dbt_subprojects/daily_spellbook/models/_projects/lifi/fantom/lifi_fantom_transfers.sql
  dbt_subprojects/daily_spellbook/models/_projects/lifi/gnosis/lifi_gnosis_transfers.sql
  dbt_subprojects/daily_spellbook/models/_projects/lifi/lifi_transfers.sql
  dbt_subprojects/daily_spellbook/models/_projects/lifi/schema.yml
  dbt_subprojects/daily_spellbook/models/_projects/lifi/zksync/lifi_zksync_transfers.sql
  sources/lifi/sources.yml
Labels: ready-for-merging, dbt: daily

#7264 Nexus Mutual - Covers v2 : add cover ipfs data column
  dbt_subprojects/daily_spellbook/models/nexusmutual/ethereum/covers/_schema.yml
  dbt_subprojects/daily_spellbook/models/nexusmutual/ethereum/covers/nexusmutual_ethereum_covers_v2.sql
Labels: ready-for-merging, dbt: daily

#7250 Add Safe Balances for Scroll
  dbt_subprojects/hourly_spellbook/models/_project/safe/scroll/safe_scroll_balances.sql
  dbt_subprojects/hourly_spellbook/models/_project/safe/scroll/safe_scroll_schema.yml
Labels: ready-for-merging, dbt: hourly

#7249 Create safe_linea_balances.sql
  dbt_subprojects/hourly_spellbook/models/_project/safe/linea/safe_linea_balances.sql
  dbt_subprojects/hourly_spellbook/models/_project/safe/linea/safe_linea_schema.yml
Labels: ready-for-merging, dbt: hourly

#7248 Create safe_avalanche_c_balances.sql
  dbt_subprojects/hourly_spellbook/models/_project/safe/avalanche_c/safe_avalanche_c_balances.sql
  dbt_subprojects/hourly_spellbook/models/_project/safe/avalanche_c/safe_avalanche_c_schema.yml
Labels: ready-for-merging, dbt: hourly

#7268 Edit safe_linea_safes.sql: activity_start_date
  dbt_subprojects/hourly_spellbook/models/_project/safe/linea/safe_linea_safes.sql
Labels: ready-for-merging, dbt: hourly

#7256 1inch-U53: fix to project lineage
  dbt_subprojects/daily_spellbook/macros/project/oneinch/_meta/oneinch_mapped_contracts_macro.sql
Labels: ready-for-merging, dbt: daily

#7281 update ronin token metadata
  dbt_subprojects/tokens/models/prices/ronin/prices_ronin_tokens.sql
  dbt_subprojects/tokens/models/tokens/ronin/tokens_ronin_erc20.sql
Labels: dbt: tokens

#7288 adding new swell ercs - rSWELL, earnETH, earnBTC
  dbt_subprojects/tokens/models/tokens/ethereum/tokens_ethereum_erc20.sql
Labels: ready-for-merging, dbt: tokens

#7266 Lifinity v2 transfers fix
  dbt_subprojects/solana/models/_sector/dex/lifinity/lifinity_v2_base_trades.sql
Labels: ready-for-merging, dbt: solana

#7278 Add Taiko and PandaSea blobs
  dbt_subprojects/hourly_spellbook/models/_sector/blobs/ethereum/blobs_based_submitters.sql
  dbt_subprojects/hourly_spellbook/models/_sector/blobs/ethereum/blobs_submitters.sql
  sources/_sector/blobs/_sources.yml
Labels: easy, ready-for-merging, dbt: hourly

#7289 Update dex.trades with Elkfinance
  dbt_subprojects/dex/models/trades/gnosis/_schema.yml
  dbt_subprojects/dex/models/trades/gnosis/dex_gnosis_base_trades.sql
  dbt_subprojects/dex/models/trades/gnosis/platforms/elk_finance_gnosis_base_trades.sql
  dbt_subprojects/dex/seeds/trades/_schema.yml
  dbt_subprojects/dex/seeds/trades/elk_finance_gnosis_base_trades_seed.csv
  sources/_sector/dex/trades/gnosis/_sources.yml
Labels: ready-for-merging, dbt: dex

#7287 Add Jetswap on polygon to dex.trades
  dbt_subprojects/dex/models/dex_info.sql
  dbt_subprojects/dex/models/trades/polygon/_schema.yml
  dbt_subprojects/dex/models/trades/polygon/dex_polygon_base_trades.sql
  dbt_subprojects/dex/models/trades/polygon/platforms/jetswap_polygon_base_trades.sql
  dbt_subprojects/dex/seeds/trades/_schema.yml
  dbt_subprojects/dex/seeds/trades/jetswap_polygon_base_trades_seed.csv
  sources/_sector/dex/trades/polygon/_sources.yml
Labels: ready-for-merging, dbt: dex

#7280 DUX-798 ronin: initiate katana dex
  dbt_subprojects/dex/models/dex_info.sql
  dbt_subprojects/dex/models/trades/_schema.yml
  dbt_subprojects/dex/models/trades/dex_base_trades.sql
  dbt_subprojects/dex/models/trades/dex_trades.sql
  dbt_subprojects/dex/models/trades/ronin/_schema.yml
  dbt_subprojects/dex/models/trades/ronin/dex_ronin_base_trades.sql
  dbt_subprojects/dex/models/trades/ronin/platforms/katana_ronin_base_trades.sql
  dbt_subprojects/dex/seeds/trades/_schema.yml
  dbt_subprojects/dex/seeds/trades/katana_ronin_base_trades_seed.csv
  sources/_sector/dex/trades/ronin/_sources.yml
Labels: ready-for-merging, dbt: dex

#7253 [cowprotocol] Fix trades, batches and solver models
  dbt_subprojects/dex/models/_projects/cow_protocol/arbitrum/cow_protocol_arbitrum_trades.sql
  dbt_subprojects/dex/models/_projects/cow_protocol/gnosis/cow_protocol_gnosis_trades.sql
  dbt_subprojects/hourly_spellbook/models/_project/cow_protocol/arbitrum/cow_protocol_arbitrum_batches.sql
  dbt_subprojects/hourly_spellbook/models/_project/cow_protocol/arbitrum/cow_protocol_arbitrum_solvers.sql
  dbt_subprojects/hourly_spellbook/models/_project/cow_protocol/ethereum/cow_protocol_ethereum_batches.sql
  dbt_subprojects/hourly_spellbook/models/_project/cow_protocol/ethereum/cow_protocol_ethereum_solvers.sql
  dbt_subprojects/hourly_spellbook/models/_project/cow_protocol/gnosis/cow_protocol_gnosis_batches.sql
  sources/cow_protocol/arbitrum/cow_protocol_arbitrum_sources.yml
  sources/cow_protocol/gnosis/cow_protocol_gnosis_sources.yml
Labels: ready-for-merging, dbt: dex, dbt: hourly

#7298 Added a few tokens
  dbt_subprojects/tokens/models/tokens/arbitrum/tokens_arbitrum_erc20.sql
  dbt_subprojects/tokens/models/tokens/ethereum/tokens_ethereum_erc20.sql
Labels: ready-for-merging, dbt: tokens

#7296 Add USDL and USR to prices.usd
  dbt_subprojects/tokens/models/prices/ethereum/prices_ethereum_tokens.sql
Labels: ready-for-merging, dbt: tokens

#7299 ETH staking: add invalid pubkeys
  dbt_subprojects/hourly_spellbook/models/_sector/staking/ethereum/staking_ethereum_flows.sql
Labels: easy, ready-for-merging

#7285 feat: add prophetbots solana bot trades spellbook
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/_schema.yml
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/dex_solana_bot_trades.sql
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/platforms/prophetbots_solana_bot_trades.sql
  dbt_subprojects/solana/seeds/prophetbots/prophetbots_solana_trades_seed.csv
Labels: ready-for-merging, dbt: solana

#7315 Add Levinswap to dex.trades
  dbt_subprojects/dex/models/dex_info.sql
  dbt_subprojects/dex/models/trades/gnosis/_schema.yml
  dbt_subprojects/dex/models/trades/gnosis/dex_gnosis_base_trades.sql
  dbt_subprojects/dex/models/trades/gnosis/platforms/levinswap_gnosis_base_trades.sql
  dbt_subprojects/dex/seeds/trades/_schema.yml
  dbt_subprojects/dex/seeds/trades/levinswap_gnosis_base_trades_seed.csv
  sources/_sector/dex/trades/gnosis/_sources.yml
Labels: ready-for-merging, dbt: dex

#7301 add erc4626 token pricing to balancer.trades
  dbt_subprojects/dex/models/_projects/balancer/trades/ethereum/balancer_v3_ethereum_trades.sql
  dbt_subprojects/dex/models/_projects/balancer/trades/gnosis/balancer_v3_gnosis_trades.sql
  sources/_subprojects_outputs/spellbook/_sources.yml
Labels: ready-for-merging, dbt: dex

#7295 Cowprotocol/add base
  dbt_subprojects/dex/models/_projects/cow_protocol/_schema.yml
  dbt_subprojects/dex/models/_projects/cow_protocol/base/cow_protocol_base_trades.sql
  dbt_subprojects/dex/models/_projects/cow_protocol/cow_protocol_trades.sql
  sources/_subprojects_outputs/dex/_sources.yml
  sources/cow_protocol/base/cow_protocol_base_sources.yml
Labels: ready-for-merging, dbt: dex

#7313 Changed activity_start_date for Ronin Safes
  dbt_subprojects/hourly_spellbook/models/_project/safe/ronin/safe_ronin_safes.sql
Labels: ready-for-merging, dbt: hourly

#7303 fix next_change field on balancer_v3_erc4626_token_prices
  dbt_subprojects/hourly_spellbook/models/_project/balancer/erc4626_tokens/ethereum/balancer_v3_ethereum_erc4626_token_mapping.sql
  dbt_subprojects/hourly_spellbook/models/_project/balancer/erc4626_tokens/ethereum/balancer_v3_ethereum_erc4626_token_prices.sql
  dbt_subprojects/hourly_spellbook/models/_project/balancer/erc4626_tokens/gnosis/balancer_v3_gnosis_erc4626_token_mapping.sql
  dbt_subprojects/hourly_spellbook/models/_project/balancer/erc4626_tokens/gnosis/balancer_v3_gnosis_erc4626_token_prices.sql
Labels: ready-for-merging, dbt: hourly

#7300 add blobbers
  dbt_subprojects/hourly_spellbook/models/_sector/blobs/ethereum/blobs_submitters.sql
Labels: easy, ready-for-merging, dbt: hourly

#7304 update balancer.token_whitelist
  dbt_subprojects/hourly_spellbook/models/_project/balancer/support/balancer_token_whitelist.sql
Labels: ready-for-merging, dbt: hourly

#7306 Update tokens_ethereum_erc20.sql
  dbt_subprojects/tokens/models/tokens/ethereum/tokens_ethereum_erc20.sql
Labels: easy, ready-for-merging, dbt: tokens

#7255 Bridges of Bungee = {contract: SocketGateway, event: SocketBridge}
  dbt_subprojects/daily_spellbook/macros/project/bungee/bungee_SocketBridge_macro.sql
  dbt_subprojects/daily_spellbook/models/_projects/bungee/arbitrum/bungee_arbitrum_bridges.sql
  dbt_subprojects/daily_spellbook/models/_projects/bungee/avalanche_c/bungee_avalanche_c_bridges.sql
  dbt_subprojects/daily_spellbook/models/_projects/bungee/base/bungee_base_bridges.sql
  dbt_subprojects/daily_spellbook/models/_projects/bungee/blast/bungee_blast_bridges.sql
  dbt_subprojects/daily_spellbook/models/_projects/bungee/bnb/bungee_bnb_bridges.sql
  dbt_subprojects/daily_spellbook/models/_projects/bungee/bungee_bridges.sql
  dbt_subprojects/daily_spellbook/models/_projects/bungee/ethereum/bungee_ethereum_bridges.sql
  dbt_subprojects/daily_spellbook/models/_projects/bungee/fantom/bungee_fantom_bridges.sql
  dbt_subprojects/daily_spellbook/models/_projects/bungee/gnosis/bungee_gnosis_bridges.sql
  dbt_subprojects/daily_spellbook/models/_projects/bungee/linea/bungee_linea_bridges.sql
  dbt_subprojects/daily_spellbook/models/_projects/bungee/mantle/bungee_mantle_bridges.sql
  dbt_subprojects/daily_spellbook/models/_projects/bungee/optimism/bungee_optimism_bridges.sql
  dbt_subprojects/daily_spellbook/models/_projects/bungee/polygon/bungee_polygon_bridges.sql
  dbt_subprojects/daily_spellbook/models/_projects/bungee/schema.yml
  dbt_subprojects/daily_spellbook/models/_projects/bungee/scroll/bungee_scroll_bridges.sql
  dbt_subprojects/daily_spellbook/models/_projects/bungee/zkevm/bungee_zkevm_bridges.sql
  dbt_subprojects/daily_spellbook/models/_projects/bungee/zksync/bungee_zksync_bridges.sql
  sources/bungee/sources.yml
Labels: ready-for-merging, dbt: daily

#7136 Create NFT Ronin Transfers
  dbt_subprojects/nft/models/_sector/transfers/_schema.yml
  dbt_subprojects/nft/models/_sector/transfers/chains/nft_ronin_transfers.sql
  dbt_subprojects/nft/models/_sector/transfers/nft_transfers.sql
Labels: ready-for-merging, dbt: nft

#7323 Add apeiron token to ronin erc20
  dbt_subprojects/tokens/models/tokens/ronin/tokens_ronin_erc20.sql
Labels: ready-for-merging, dbt: tokens

#7330 1inch: project lineage, extend cow on base
  dbt_subprojects/daily_spellbook/macros/project/oneinch/_meta/oneinch_mapped_contracts_macro.sql
Labels: ready-for-merging, dbt: daily

#7325 Continue work of PR #7255, add amount_usd to the main model
  dbt_subprojects/daily_spellbook/models/_projects/bungee/bungee_bridges.sql
Labels: ready-for-merging, dbt: daily

#7290 Balance improvements
  dbt_macros/shared/balances_incremental_subset_daily.sql
  dbt_subprojects/daily_spellbook/models/_projects/safe/balances/_schema.yml
  dbt_subprojects/daily_spellbook/models/_projects/safe/balances/safe_arbitrum_balances.sql
  dbt_subprojects/daily_spellbook/models/_projects/safe/balances/safe_avalanche_c_balances.sql
  dbt_subprojects/daily_spellbook/models/_projects/safe/balances/safe_base_balances.sql
  dbt_subprojects/daily_spellbook/models/_projects/safe/balances/safe_ethereum_balances.sql
  dbt_subprojects/daily_spellbook/models/_projects/safe/balances/safe_linea_balances.sql
  dbt_subprojects/daily_spellbook/models/_projects/safe/balances/safe_optimism_balances.sql
  dbt_subprojects/daily_spellbook/models/_projects/safe/balances/safe_polygon_balances.sql
  dbt_subprojects/daily_spellbook/models/_projects/safe/balances/safe_scroll_balances.sql
  dbt_subprojects/hourly_spellbook/models/_project/safe/arbitrum/safe_arbitrum_schema.yml
  dbt_subprojects/hourly_spellbook/models/_project/safe/avalanche_c/safe_avalanche_c_schema.yml
  dbt_subprojects/hourly_spellbook/models/_project/safe/base/safe_base_schema.yml
  dbt_subprojects/hourly_spellbook/models/_project/safe/ethereum/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_project/safe/linea/safe_linea_schema.yml
  dbt_subprojects/hourly_spellbook/models/_project/safe/optimism/safe_optimism_schema.yml
  dbt_subprojects/hourly_spellbook/models/_project/safe/polygon/safe_polygon_schema.yml
  dbt_subprojects/hourly_spellbook/models/_project/safe/scroll/safe_scroll_schema.yml
  sources/_subprojects_outputs/hourly_spellbook/_sources.yml
Labels: ready-for-merging, dune team, dbt: hourly, dbt: daily

#7331 Update _schema for balancer models
  dbt_subprojects/hourly_spellbook/models/_project/balancer/erc4626_tokens/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_project/balancer/erc4626_tokens/balancer_v3_erc4626_token_prices.sql
  dbt_subprojects/hourly_spellbook/models/_project/balancer/erc4626_tokens/ethereum/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_project/balancer/erc4626_tokens/ethereum/balancer_v3_ethereum_erc4626_token_prices.sql
  dbt_subprojects/hourly_spellbook/models/_project/balancer/erc4626_tokens/gnosis/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_project/balancer/erc4626_tokens/gnosis/balancer_v3_gnosis_erc4626_token_prices.sql
Labels: ready-for-merging, dbt: hourly

#7321 Auto labels and draft
  .github/labeler.yml
  .github/workflows/pr_automation.yml
  dbt_subprojects/dex/README.md
  dbt_subprojects/hourly_spellbook/README.md
  dbt_subprojects/nft/README.md
  dbt_subprojects/solana/README.md
  dbt_subprojects/tokens/README.md
Labels: ready-for-merging, dbt: dex, dbt: nft, dbt: solana, dbt: hourly, dbt: tokens

#7246 [branch repeat] [swell] adding daily balances table of core swell assets
  dbt_macros/shared/balances_incremental_subset_daily.sql
  dbt_subprojects/daily_spellbook/models/swell/balances/ethereum/swell_balances_ethereum_core_assets.sql
  dbt_subprojects/daily_spellbook/models/swell/balances/ethereum/swell_balances_ethereum_schema.yml
  dbt_subprojects/daily_spellbook/seeds/swell/balances/ethereum/schema.yml
  dbt_subprojects/daily_spellbook/seeds/swell/balances/ethereum/swell_balances_ethereum_core_assets_seed.csv
Labels: ready-for-merging, balances, dbt: daily

#7339 update tokens_ethereum_erc20
  dbt_subprojects/tokens/models/tokens/arbitrum/tokens_arbitrum_erc20.sql
  dbt_subprojects/tokens/models/tokens/ethereum/tokens_ethereum_erc20.sql
Labels: ready-for-merging, dbt: tokens

#7312 feat: add wstETH to trusted tokens
  dbt_subprojects/tokens/models/prices/_schema.yml
  dbt_subprojects/tokens/models/prices/prices_trusted_tokens.sql
Labels: ready-for-merging, dbt: tokens

#7291 [fluid] adding fluid to dex.trades
  dbt_subprojects/dex/models/_projects/fluid/ethereum/fluid_v1_ethereum_pools.sql
  dbt_subprojects/dex/models/_projects/fluid/ethereum/schema.yml
  dbt_subprojects/dex/models/dex_info.sql
  dbt_subprojects/dex/models/trades/ethereum/_schema.yml
  dbt_subprojects/dex/models/trades/ethereum/dex_ethereum_base_trades.sql
  dbt_subprojects/dex/models/trades/ethereum/platforms/fluid_v1_ethereum_base_trades.sql
  dbt_subprojects/dex/seeds/trades/_schema.yml
  dbt_subprojects/dex/seeds/trades/fluid_ethereum_base_trades_seed.csv
  sources/_sector/dex/trades/ethereum/_sources.yml
Labels: ready-for-merging, dbt: dex

#7335 fix: flokibot spellbook missing trades
  dbt_subprojects/dex/models/bot_trades/flokibot/ethereum/flokibot_ethereum_bot_trades.sql
  sources/openocean/ethereum/openocean_ethereum_sources.yml
Labels: ready-for-merging, dbt: dex

#7333 [CoW Protocol] Update Furucombo solver name on gc and arbitrum
  dbt_subprojects/hourly_spellbook/models/_project/cow_protocol/arbitrum/cow_protocol_arbitrum_solvers.sql
  dbt_subprojects/hourly_spellbook/models/_project/cow_protocol/gnosis/cow_protocol_gnosis_solvers.sql
Labels: ready-for-merging, dbt: hourly

#7337 add sanji
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/_schema.yml
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/dex_solana_bot_trades.sql
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/platforms/sanji_solana_bot_trades.sql
  dbt_subprojects/solana/seeds/sanji/sanji_solana_trades_seed.csv
Labels: ready-for-merging, dbt: solana

#7336 Update prices_avalanche_c_tokens.sql
  dbt_subprojects/tokens/models/prices/avalanche_c/prices_avalanche_c_tokens.sql
Labels: ready-for-merging, dbt: tokens

#7352 Fix for kyberswap aggregator: ignore 1 specific token
  dbt_subprojects/dex/models/_projects/kyberswap/avalanche_c/kyberswap_aggregator_avalanche_c_trades.sql
Labels: ready-for-review, dune team, hotfix, dbt: dex, ready-for-final-review

#7345 Add Sovrun to ethereum tokens
  dbt_subprojects/tokens/models/prices/ethereum/prices_ethereum_tokens.sql
Labels: ready-for-merging, dbt: tokens

#7347 Add COW Token on Base
  dbt_subprojects/tokens/models/tokens/base/tokens_base_erc20.sql
Labels: ready-for-merging, dbt: tokens

#7349 Update prices_base_tokens.sql
  dbt_subprojects/tokens/models/prices/base/prices_base_tokens.sql
Labels: ready-for-merging, dbt: tokens

#7356 Update tokens_ethereum_erc20.sql
  dbt_subprojects/tokens/models/tokens/ethereum/tokens_ethereum_erc20.sql
Labels: ready-for-merging, dbt: tokens

#7342 DUX-770 Init ton chain
  sources/_base_sources/other/ton_base_sources.yml
Labels: ready-for-merging

#7360 Fix bugs in sources
  sources/_base_sources/evm/nova_base_sources.yml
  sources/_base_sources/other/ton_base_sources.yml
Labels: ready-for-review, hotfix

#7351 [CoW Protocol] Add new addresses for Portus
  dbt_subprojects/hourly_spellbook/models/_project/cow_protocol/arbitrum/cow_protocol_arbitrum_solvers.sql
  dbt_subprojects/hourly_spellbook/models/_project/cow_protocol/base/cow_protocol_base_solvers.sql
  dbt_subprojects/hourly_spellbook/models/_project/cow_protocol/ethereum/cow_protocol_ethereum_solvers.sql
  dbt_subprojects/hourly_spellbook/models/_project/cow_protocol/gnosis/cow_protocol_gnosis_solvers.sql
Labels: ready-for-merging, dbt: hourly

#7346 [CoW Protocol] Add Addresses for Laita, ApeOut 1Inch, and Project Blanc
  dbt_subprojects/hourly_spellbook/models/_project/cow_protocol/arbitrum/cow_protocol_arbitrum_solvers.sql
  dbt_subprojects/hourly_spellbook/models/_project/cow_protocol/base/cow_protocol_base_solvers.sql
  dbt_subprojects/hourly_spellbook/models/_project/cow_protocol/ethereum/cow_protocol_ethereum_solvers.sql
Labels: ready-for-merging, dbt: hourly

#7343 chore: add additional aggregator fee wallets for flokibot
  dbt_subprojects/dex/models/bot_trades/flokibot/base/flokibot_base_bot_trades.sql
  dbt_subprojects/dex/models/bot_trades/flokibot/bnb/flokibot_bnb_bot_trades.sql
  dbt_subprojects/dex/models/bot_trades/flokibot/ethereum/flokibot_ethereum_bot_trades.sql
Labels: ready-for-merging, dbt: dex

#7282 Saddle Finance DEX on Optimism Chain
  dbt_subprojects/dex/models/dex_info.sql
  dbt_subprojects/dex/models/trades/optimism/_schema.yml
  dbt_subprojects/dex/models/trades/optimism/dex_optimism_base_trades.sql
  dbt_subprojects/dex/models/trades/optimism/platforms/saddle_finance_optimism_base_trades.sql
  dbt_subprojects/dex/seeds/trades/_schema.yml
  dbt_subprojects/dex/seeds/trades/saddle_finance_optimism_base_trades_seed.csv
  sources/_sector/dex/trades/optimism/_sources.yml
Labels: ready-for-merging, dbt: dex

#7350 enrich balancer_v3 trades on dex.trades
  dbt_subprojects/dex/macros/models/enrich_balancer_v3_dex_trades.sql
  dbt_subprojects/dex/models/trades/_schema.yml
  dbt_subprojects/dex/models/trades/dex_trades.sql
Labels: ready-for-merging, dbt: dex

#7309 add balancer v3 pools to labels_addresses
  dbt_subprojects/daily_spellbook/models/_sector/labels/labels_addresses.sql
Labels: ready-for-merging, dbt: daily

#7363 Remove timestamp filters in dex.trades enrichment
  dbt_subprojects/dex/models/trades/dex_trades.sql
Labels: ready-for-review, dbt: dex

#7372 Fix Kyber aggregator trade outlier
  dbt_subprojects/dex/models/_projects/kyberswap/arbitrum/kyberswap_aggregator_arbitrum_trades.sql
Labels: ready-for-review, dune team, hotfix, dbt: dex

#7373 new pipfile.lock
  Pipfile.lock
Labels: ready-for-review, dune team, hotfix

#7374 Update pipfile lock
  Pipfile.lock
Labels: WIP

#7393 DUX-821 upgrade dbt-trino to 1.9.0
  Pipfile
  Pipfile.lock
Labels: ready-for-review

#7213 New Yield Yak strategies
  dbt_subprojects/daily_spellbook/macros/project/yield_yak/yield_yak_strategies.sql
  dbt_subprojects/daily_spellbook/macros/project/yield_yak/yield_yak_user_yrt_balances.sql
  sources/yield_yak/avalanche_c/yield_yak_avalanche_c_sources.yml
Labels: ready-for-merging, dbt: daily

#7381 broken link
  dbt_subprojects/daily_spellbook/models/_sector/alm/README.md
Labels: ready-for-merging, dbt: daily

#7364 create labels and sources for beets on sonic
  dbt_subprojects/daily_spellbook/models/_sector/labels/addresses/__single_category_labels__/beets/labels_beets_pools_sonic.sql
  dbt_subprojects/daily_spellbook/models/_sector/labels/addresses/__single_category_labels__/beets/labels_beets_schema.yml
  sources/beets/sonic/beets_sonic_sources.yml
Labels: ready-for-merging, dbt: daily

#7388 Adding WOOFY, RIPPED, AURA to erc20s
  dbt_subprojects/tokens/models/tokens/avalanche_c/tokens_avalanche_c_erc20.sql
Labels: ready-for-merging, dbt: tokens

#7387 Added 1155 Voidcaller to nft curated
  dbt_subprojects/tokens/models/tokens/avalanche_c/tokens_avalanche_c_nft_curated.sql
Labels: ready-for-merging, dbt: tokens

#7384 Add PENGU token price
  dbt_subprojects/tokens/models/prices/solana/prices_solana_tokens.sql
Labels: ready-for-merging, dbt: tokens

#7382 Correct SQL Operator and Typographical Issues
  CONTRIBUTING.md
Labels: ready-for-merging

#7380 Docs: Fix Broken Links in Seeds and Tests
  docs/seeds/seed_overview.md
  docs/tests/test_overview.md
Labels: ready-for-merging

#7370 Sonic Tokens
  dbt_subprojects/tokens/models/tokens/_schema.yml
  dbt_subprojects/tokens/models/tokens/sonic/tokens_sonic_erc20.sql
  dbt_subprojects/tokens/models/tokens/sonic/tokens_sonic_schema.yml
  dbt_subprojects/tokens/models/tokens/tokens_erc20.sql
Labels: ready-for-merging, dbt: tokens

#7368 update tokens.erc20
  dbt_subprojects/tokens/models/prices/arbitrum/prices_arbitrum_tokens.sql
  dbt_subprojects/tokens/models/tokens/arbitrum/tokens_arbitrum_erc20.sql
  dbt_subprojects/tokens/models/tokens/ethereum/tokens_ethereum_erc20.sql
Labels: ready-for-merging, dbt: tokens

#7322 Ethereum RWA Balances
  dbt_subprojects/tokens/models/tokens/ethereum/tokens_ethereum_rwa.sql
  dbt_subprojects/tokens/models/tokens/ethereum/tokens_ethereum_schema.yml
  sources/_subprojects_outputs/tokens/_sources.yml
Labels: ready-for-merging, dbt: tokens

#7396 add waEthUSDe to tokens.erc20 and erc4626 token mapping
  dbt_subprojects/hourly_spellbook/models/_project/balancer/erc4626_tokens/ethereum/balancer_v3_ethereum_erc4626_token_mapping.sql
  dbt_subprojects/tokens/models/tokens/ethereum/tokens_ethereum_erc20.sql
Labels: ready-for-merging, dbt: hourly, dbt: tokens

#7355 Add Mavis Market to nft.trades
  dbt_subprojects/nft/models/_sector/trades/chains/ronin/nft_ronin_base_trades.sql
  dbt_subprojects/nft/models/_sector/trades/chains/ronin/platforms/_schema.yml
  dbt_subprojects/nft/models/_sector/trades/chains/ronin/platforms/mavis_ronin_base_trades.sql
  dbt_subprojects/nft/models/_sector/trades/nft_base_trades.sql
  dbt_subprojects/nft/models/_sector/trades/nft_trades.sql
  sources/_sector/nft/_sources.yml
  sources/_sector/nft/trades/ronin_sources.yml
Labels: ready-for-merging, dbt: nft

#7354 feat: add katana v3 dex ronin
  dbt_subprojects/dex/models/trades/ronin/_schema.yml
  dbt_subprojects/dex/models/trades/ronin/dex_ronin_base_trades.sql
  dbt_subprojects/dex/models/trades/ronin/platforms/katana_v2_ronin_base_trades.sql
  dbt_subprojects/dex/models/trades/ronin/platforms/katana_v3_ronin_base_trades.sql
  dbt_subprojects/dex/seeds/trades/_schema.yml
  dbt_subprojects/dex/seeds/trades/katana_ronin_base_trades_seed.csv
  sources/_sector/dex/trades/ronin/_sources.yml
Labels: ready-for-merging, dbt: dex

#7358 Added Bridgers dex on optimism chain
  dbt_subprojects/dex/models/dex_info.sql
  dbt_subprojects/dex/models/trades/optimism/_schema.yml
  dbt_subprojects/dex/models/trades/optimism/dex_optimism_base_trades.sql
  dbt_subprojects/dex/models/trades/optimism/platforms/bridgers_optimism_base_trades.sql
  dbt_subprojects/dex/seeds/trades/_schema.yml
  dbt_subprojects/dex/seeds/trades/bridgers_optimism_base_trades_seed.csv
  sources/_sector/dex/trades/optimism/_sources.yml
Labels: ready-for-merging, dbt: dex

#7359 feat: expose paraswap v6 decoded trades
  dbt_subprojects/dex/models/_projects/paraswap/arbitrum/paraswap_v6_arbitrum_trades_decoded.sql
  dbt_subprojects/dex/models/_projects/paraswap/avalanche_c/paraswap_v6_avalanche_c_trades_decoded.sql
  dbt_subprojects/dex/models/_projects/paraswap/base/paraswap_v6_base_trades_decoded.sql
  dbt_subprojects/dex/models/_projects/paraswap/bnb/paraswap_v6_bnb_trades_decoded.sql
  dbt_subprojects/dex/models/_projects/paraswap/ethereum/paraswap_v6_ethereum_trades_decoded.sql
  dbt_subprojects/dex/models/_projects/paraswap/fantom/paraswap_v6_fantom_trades_decoded.sql
  dbt_subprojects/dex/models/_projects/paraswap/optimism/paraswap_v6_optimism_trades_decoded.sql
  dbt_subprojects/dex/models/_projects/paraswap/polygon/paraswap_v6_polygon_trades_decoded.sql
Labels: ready-for-merging, dbt: dex

#7365 Aave v2/v3 `lending.supply` macro fix - add WrappedTokenGateway lookup
  dbt_subprojects/hourly_spellbook/macros/sector/lending/lending_aave_compatible_supply.sql
  dbt_subprojects/hourly_spellbook/models/_sector/lending/supply/ethereum/platforms/aave_lido_v3_ethereum_base_supply.sql
  sources/_sector/lending/supply/arbitrum/_sources.yml
  sources/_sector/lending/supply/avalanche_c/_sources.yml
  sources/_sector/lending/supply/base/_sources.yml
  sources/_sector/lending/supply/bnb/_sources.yml
  sources/_sector/lending/supply/ethereum/_sources.yml
  sources/_sector/lending/supply/fantom/_sources.yml
  sources/_sector/lending/supply/gnosis/_sources.yml
  sources/_sector/lending/supply/optimism/_sources.yml
  sources/_sector/lending/supply/polygon/_sources.yml
  sources/_sector/lending/supply/scroll/_sources.yml
Labels: ready-for-merging, dbt: hourly

#7366 Add Aave v3 to lending sector for zkSync
  dbt_subprojects/hourly_spellbook/models/_sector/lending/borrow/zksync/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/lending/borrow/zksync/lending_zksync_base_borrow.sql
  dbt_subprojects/hourly_spellbook/models/_sector/lending/borrow/zksync/platforms/aave_v3_zksync_base_borrow.sql
  dbt_subprojects/hourly_spellbook/models/_sector/lending/flashloans/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/lending/flashloans/zksync/lending_zksync_base_flashloans.sql
  dbt_subprojects/hourly_spellbook/models/_sector/lending/flashloans/zksync/platforms/aave_v3_zksync_base_flashloans.sql
  dbt_subprojects/hourly_spellbook/models/_sector/lending/supply/zksync/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/lending/supply/zksync/lending_zksync_base_supply.sql
  dbt_subprojects/hourly_spellbook/models/_sector/lending/supply/zksync/platforms/aave_v3_zksync_base_supply.sql
  dbt_subprojects/hourly_spellbook/seeds/_sector/lending/_schema.yml
  dbt_subprojects/hourly_spellbook/seeds/_sector/lending/aave_zksync_base_borrow_seed.csv
  dbt_subprojects/hourly_spellbook/seeds/_sector/lending/aave_zksync_base_flashloans_seed.csv
  dbt_subprojects/hourly_spellbook/seeds/_sector/lending/aave_zksync_base_supply_seed.csv
  sources/_sector/lending/borrow/zksync/_sources.yml
  sources/_sector/lending/flashloans/zksync/_sources.yml
  sources/_sector/lending/supply/zksync/_sources.yml
Labels: ready-for-merging, dbt: hourly

#7378 [CoW Protocol] Add new address for Enso
  dbt_subprojects/hourly_spellbook/models/_project/cow_protocol/arbitrum/cow_protocol_arbitrum_solvers.sql
Labels: ready-for-merging, dbt: hourly
