Repository duneanalytics/spellbook, pull requests merged in 2024-02, with the labels that each got.

#5272 Update dex readme with architecture overview
  models/_sector/dex/readme.md
Labels: ready-for-merging

#5273 Adding frxETH to prices_arbitrum_tokens.sql
  models/prices/arbitrum/prices_arbitrum_tokens.sql
Labels: ready-for-merging

#5270 add Catalog's Garden Finance SEED project token to tokens.erc20
  tokens/models/tokens/ethereum/tokens_ethereum_erc20.sql
Labels: ready-for-merging

#5283 Added missing tokens
  tokens/models/tokens/ethereum/tokens_ethereum_erc20.sql
Labels: ready-for-merging

#5275 Adding contract creator addresses on Base
  models/_sector/contracts/contracts_contract_creator_address_list.sql
Labels: easy, ready-for-final-review

#5282 Added gridex dex to dex.trades
  models/_sector/dex/trades/arbitrum/_schema.yml
  models/_sector/dex/trades/arbitrum/dex_arbitrum_base_trades.sql
  models/_sector/dex/trades/arbitrum/platforms/gridex_arbitrum_base_trades.sql
  models/dex/dex_info.sql
  seeds/_sector/dex/_schema.yml
  seeds/_sector/dex/gridex_arbitrum_base_trades_seed.csv
  sources/_sector/dex/trades/arbitrum/_sources.yml
Labels: dex, ready-for-final-review

#5274 Add moonwell to lending
  models/_sector/lending/borrow/base/_schema.yml
  models/_sector/lending/borrow/base/lending_base_base_borrow.sql
  models/_sector/lending/borrow/base/platforms/moonwell_base_base_borrow.sql
  models/_sector/lending/supply/base/_schema.yml
  models/_sector/lending/supply/base/lending_base_base_supply.sql
  models/_sector/lending/supply/base/platforms/moonwell_base_base_supply.sql
  models/moonwell/base/moonwell_base_ctokens.sql
  seeds/_sector/lending/_schema.yml
  seeds/_sector/lending/moonwell_base_base_borrow_seed.csv
  seeds/_sector/lending/moonwell_base_base_supply_seed.csv
  sources/_sector/lending/borrow/base/_sources.yml
  sources/_sector/lending/supply/base/_sources.yml
Labels: ready-for-merging

#5280 Add hashflow_*.base_trades into dex.trades_beta
  models/_sector/dex/trades/avalanche_c/_schema.yml
  models/_sector/dex/trades/avalanche_c/dex_avalanche_c_base_trades.sql
  models/_sector/dex/trades/avalanche_c/platforms/hashflow_avalanche_c_base_trades.sql
  models/_sector/dex/trades/bnb/_schema.yml
  models/_sector/dex/trades/bnb/dex_bnb_base_trades.sql
  models/_sector/dex/trades/bnb/platforms/hashflow_bnb_base_trades.sql
Labels: ready-for-review, dex

#5279 Add zigzag_arbitrum_base_trades into dex.trades_beta
  models/_sector/dex/trades/arbitrum/_schema.yml
  models/_sector/dex/trades/arbitrum/dex_arbitrum_base_trades.sql
  models/_sector/dex/trades/arbitrum/platforms/zigzag_arbitrum_base_trades.sql
Labels: ready-for-review, dex

#5267 Added odos_v2 optimism dex
  models/odos/optimism/odos_optimism_schema.yml
  models/odos/optimism/odos_optimism_trades.sql
  models/odos/optimism/odos_v1_optimism_trades.sql
  models/odos/optimism/odos_v2_optimism_trades.sql
  seeds/dex/aggregator/dex_aggregator_seed.csv
  sources/odos/optimism/odos_optimism_sources.yml
Labels: WIP, dex

#5271 handle unique decimal logic for curve in `dex.trades_beta`
  macros/models/_sector/dex/enrich_curve_dex_trades.sql
  macros/models/_sector/dex/enrich_dex_trades.sql
  models/_sector/dex/trades/dex_trades_beta.sql
  models/_sector/dex/trades/ethereum/platforms/curvefi_ethereum_base_trades.sql
  models/_sector/dex/trades/optimism/platforms/curvefi_optimism_base_trades.sql
Labels: hotfix, dex

#5302 Fix schema version error
  models/ajna/optimism/ajna_optimism_schema.yml
  models/nether_fi/base/nether_fi_base_schema.yml
  sources/nether_fi/base/nether_fi_base_source.yml
Labels: easy, ready-for-review, hotfix

#5294 Add OptimismPortal Bridge Label
  models/labels/addresses/bridge/identifiers/labels_bridges_ethereum.sql
Labels: easy, ready-for-merging

#5298 Add PANDORA tokens_ethereum_erc20.sql
  tokens/models/tokens/ethereum/tokens_ethereum_erc20.sql
Labels: easy, ready-for-merging

#5287 Add sonne_finance to lending
  models/_sector/lending/borrow/base/_schema.yml
  models/_sector/lending/borrow/base/lending_base_base_borrow.sql
  models/_sector/lending/borrow/base/platforms/sonne_finance_base_base_borrow.sql
  models/_sector/lending/borrow/optimism/_schema.yml
  models/_sector/lending/borrow/optimism/lending_optimism_base_borrow.sql
  models/_sector/lending/borrow/optimism/platforms/sonne_finance_optimism_base_borrow.sql
  models/_sector/lending/supply/base/_schema.yml
  models/_sector/lending/supply/base/lending_base_base_supply.sql
  models/_sector/lending/supply/base/platforms/sonne_finance_base_base_supply.sql
  models/_sector/lending/supply/optimism/_schema.yml
  models/_sector/lending/supply/optimism/lending_optimism_base_supply.sql
  models/_sector/lending/supply/optimism/platforms/sonne_finance_optimism_base_supply.sql
  models/sonne_finance/base/sonne_finance_base_ctokens.sql
  models/sonne_finance/optimism/sonne_finance_optimism_ctokens.sql
  seeds/_sector/lending/_schema.yml
  seeds/_sector/lending/sonne_finance_base_base_borrow_seed.csv
  seeds/_sector/lending/sonne_finance_base_base_supply_seed.csv
  seeds/_sector/lending/sonne_finance_optimism_base_borrow_seed.csv
  seeds/_sector/lending/sonne_finance_optimism_base_supply_seed.csv
  sources/_sector/lending/borrow/base/_sources.yml
  sources/_sector/lending/borrow/optimism/_sources.yml
  sources/_sector/lending/supply/base/_sources.yml
  sources/_sector/lending/supply/optimism/_sources.yml
Labels: ready-for-final-review

#5329 Add missing LST and LRT prices
  models/prices/arbitrum/prices_arbitrum_tokens.sql
  models/prices/ethereum/prices_ethereum_tokens.sql
  models/prices/polygon/prices_polygon_tokens.sql
Labels: easy, ready-for-merging

#5325 Added derpdex dex to dex.trades
  models/_sector/dex/trades/base/_schema.yml
  models/_sector/dex/trades/base/dex_base_base_trades.sql
  models/_sector/dex/trades/base/platforms/derpdex_base_base_trades.sql
  models/dex/dex_info.sql
  seeds/_sector/dex/_schema.yml
  seeds/_sector/dex/derpdex_base_base_trades_seed.csv
  sources/_sector/dex/trades/base/_sources.yml
Labels: ready-for-merging, dex

#5314 Update balancer_bpt_supply.sql
  models/balancer/balancer_bpt_supply.sql
Labels: easy, ready-for-merging

#5307 Feature/chainlink gas calculation update
  models/chainlink/arbitrum/chainlink_arbitrum_ccip_gas_daily.sql
  models/chainlink/arbitrum/chainlink_arbitrum_fm_gas_daily.sql
  models/chainlink/arbitrum/chainlink_arbitrum_ocr_gas_daily.sql
  models/chainlink/arbitrum/chainlink_arbitrum_vrf_gas_daily.sql
  models/chainlink/avalanche_c/chainlink_avalanche_c_automation_gas_daily.sql
  models/chainlink/avalanche_c/chainlink_avalanche_c_ccip_gas_daily.sql
  models/chainlink/avalanche_c/chainlink_avalanche_c_fm_gas_daily.sql
  models/chainlink/avalanche_c/chainlink_avalanche_c_ocr_gas_daily.sql
  models/chainlink/avalanche_c/chainlink_avalanche_c_vrf_gas_daily.sql
  models/chainlink/base/chainlink_base_ccip_gas_daily.sql
  models/chainlink/bnb/chainlink_bnb_automation_gas_daily.sql
  models/chainlink/bnb/chainlink_bnb_ccip_gas_daily.sql
  models/chainlink/bnb/chainlink_bnb_fm_gas_daily.sql
  models/chainlink/bnb/chainlink_bnb_ocr_gas_daily.sql
  models/chainlink/bnb/chainlink_bnb_vrf_gas_daily.sql
  models/chainlink/ethereum/chainlink_ethereum_automation_gas_daily.sql
  models/chainlink/ethereum/chainlink_ethereum_ccip_gas_daily.sql
  models/chainlink/ethereum/chainlink_ethereum_fm_gas_daily.sql
  models/chainlink/ethereum/chainlink_ethereum_ocr_gas_daily.sql
  models/chainlink/ethereum/chainlink_ethereum_vrf_gas_daily.sql
  models/chainlink/fantom/chainlink_fantom_automation_gas_daily.sql
  models/chainlink/fantom/chainlink_fantom_fm_gas_daily.sql
  models/chainlink/fantom/chainlink_fantom_ocr_gas_daily.sql
  models/chainlink/fantom/chainlink_fantom_vrf_gas_daily.sql
  models/chainlink/gnosis/chainlink_gnosis_fm_gas_daily.sql
  models/chainlink/gnosis/chainlink_gnosis_ocr_gas_daily.sql
  models/chainlink/optimism/chainlink_optimism_ccip_gas_daily.sql
  models/chainlink/optimism/chainlink_optimism_ccip_transmitted_fulfilled.sql
  models/chainlink/optimism/chainlink_optimism_ccip_transmitted_reverted.sql
  models/chainlink/optimism/chainlink_optimism_fm_fulfilled_transactions.sql
  models/chainlink/optimism/chainlink_optimism_fm_gas_daily.sql
  models/chainlink/optimism/chainlink_optimism_fm_reverted_transactions.sql
  models/chainlink/optimism/chainlink_optimism_ocr_fulfilled_transactions.sql
  models/chainlink/optimism/chainlink_optimism_ocr_gas_daily.sql
  models/chainlink/optimism/chainlink_optimism_ocr_reverted_transactions.sql
  models/chainlink/polygon/chainlink_polygon_automation_gas_daily.sql
  models/chainlink/polygon/chainlink_polygon_ccip_gas_daily.sql
  models/chainlink/polygon/chainlink_polygon_fm_gas_daily.sql
  models/chainlink/polygon/chainlink_polygon_ocr_gas_daily.sql
  models/chainlink/polygon/chainlink_polygon_vrf_gas_daily.sql
Labels: ready-for-merging

#5333 add bebop schemas
  models/bebop/arbitrum/bebop_arbitrum_trades.sql
  models/bebop/bebop_trades.sql
  models/bebop/bnb/bebop_bnb_trades.sql
  models/bebop/ethereum/bebop_ethereum_trades.sql
  models/bebop/polygon/bebop_polygon_trades.sql
Labels: hotfix

#5295 update prices.usd with LRT token and USDC
  models/prices/ethereum/prices_ethereum_tokens.sql
  models/prices/polygon/prices_polygon_tokens.sql
Labels: easy, ready-for-merging

#5290 Balances daily
  macros/models/_sector/tokens/balances_daily.sql
  macros/models/_sector/tokens/balances_enrich.sql
  models/_sector/tokens/base/_schema.yml
  models/_sector/tokens/base/tokens_base_balances_daily.sql
  models/_sector/tokens/base/tokens_base_base_balances_daily.sql
  models/_sector/tokens/ethereum/_schema.yml
  models/_sector/tokens/ethereum/tokens_ethereum_balances_daily.sql
  models/_sector/tokens/ethereum/tokens_ethereum_base_balances_daily.sql
  models/_sector/tokens/optimism/_schema.yml
  models/_sector/tokens/optimism/tokens_optimism_balances_daily.sql
  models/_sector/tokens/optimism/tokens_optimism_base_balances_daily.sql
Labels: ready-for-merging

#5303 Finalizing dex.trades_beta
  macros/models/_sector/dex/enrich_curve_dex_trades.sql
  models/_sector/dex/trades/dex_trades_beta.sql
  models/dex/dex_info.sql
  models/oneinch/oneinch_lop_own_trades.sql
  models/oneinch/oneinch_schema.yml
  models/zeroex/zeroex_native_trades.sql
  models/zeroex/zeroex_schema.yml
Labels: dex

#5318 Added plantbaseswap dex to dex.trades
  models/_sector/dex/trades/base/_schema.yml
  models/_sector/dex/trades/base/dex_base_base_trades.sql
  models/_sector/dex/trades/base/platforms/plantbaseswap_base_base_trades.sql
  models/dex/dex_info.sql
  seeds/_sector/dex/_schema.yml
  seeds/_sector/dex/plantbaseswap_base_base_trades_seed.csv
  sources/_sector/dex/trades/base/_sources.yml
Labels: ready-for-merging, blocked, dex

#5334 Added torus dex to dex.trades
  models/_sector/dex/trades/base/_schema.yml
  models/_sector/dex/trades/base/dex_base_base_trades.sql
  models/_sector/dex/trades/base/platforms/torus_base_base_trades.sql
  models/dex/dex_info.sql
  seeds/_sector/dex/_schema.yml
  seeds/_sector/dex/torus_base_base_trades_seed.csv
  sources/_sector/dex/trades/base/_sources.yml
Labels: dex

#5343 Add Scroll base sources
  sources/base_sources/scroll_base_sources.yml
Labels: easy

#5345 Fix odos source
  sources/odos/optimism/odos_optimism_sources.yml
Labels: easy, hotfix

#5258 Add EAS
  macros/models/_sector/attestation/eas.sql
  models/_sector/attestation/eas/_schema.yml
  models/_sector/attestation/eas/arbitrum/_schema.yml
  models/_sector/attestation/eas/arbitrum/eas_arbitrum_attestation_details.sql
  models/_sector/attestation/eas/arbitrum/eas_arbitrum_attestations.sql
  models/_sector/attestation/eas/arbitrum/eas_arbitrum_schema_details.sql
  models/_sector/attestation/eas/arbitrum/eas_arbitrum_schemas.sql
  models/_sector/attestation/eas/base/_schema.yml
  models/_sector/attestation/eas/base/eas_base_attestation_details.sql
  models/_sector/attestation/eas/base/eas_base_attestations.sql
  models/_sector/attestation/eas/base/eas_base_schema_details.sql
  models/_sector/attestation/eas/base/eas_base_schemas.sql
  models/_sector/attestation/eas/eas_attestation_details.sql
  models/_sector/attestation/eas/eas_attestations.sql
  models/_sector/attestation/eas/eas_schema_details.sql
  models/_sector/attestation/eas/eas_schemas.sql
  models/_sector/attestation/eas/ethereum/_schema.yml
  models/_sector/attestation/eas/ethereum/eas_ethereum_attestation_details.sql
  models/_sector/attestation/eas/ethereum/eas_ethereum_attestations.sql
  models/_sector/attestation/eas/ethereum/eas_ethereum_schema_details.sql
  models/_sector/attestation/eas/ethereum/eas_ethereum_schemas.sql
  models/_sector/attestation/eas/optimism/_schema.yml
  models/_sector/attestation/eas/optimism/eas_optimism_attestation_details.sql
  models/_sector/attestation/eas/optimism/eas_optimism_attestations.sql
  models/_sector/attestation/eas/optimism/eas_optimism_schema_details.sql
  models/_sector/attestation/eas/optimism/eas_optimism_schemas.sql
  models/_sector/attestation/eas/polygon/_schema.yml
  models/_sector/attestation/eas/polygon/eas_polygon_attestation_details.sql
  models/_sector/attestation/eas/polygon/eas_polygon_attestations.sql
  models/_sector/attestation/eas/polygon/eas_polygon_schema_details.sql
  models/_sector/attestation/eas/polygon/eas_polygon_schemas.sql
  sources/_sector/attestation/eas/arbitrum/_sources.yml
  sources/_sector/attestation/eas/base/_sources.yml
  sources/_sector/attestation/eas/ethererum/_sources.yml
  sources/_sector/attestation/eas/optimism/_sources.yml
  sources/_sector/attestation/eas/polygon/_sources.yml
  sources/labels/addresses/__single_category_labels__/op_attestationstation/labels_op_attestationstation_sources.yml
  sources/labels/addresses/__single_category_labels__/op_governance/labels_op_governance_sources.yml
Labels: ready-for-merging

#5293 Rollup Econ - Handle for Multiple OP Versions
  models/addresses/ethereum/addresses_ethereum_l2_batch_submitters.sql
  models/addresses/ethereum/addresses_ethereum_optimism_batchinbox_combinations.sql
  models/addresses/ethereum/addresses_ethereum_optimism_outputoracle_combinations.sql
  models/addresses/ethereum/addresses_ethereum_schema.yml
  models/rollup_economics/ethereum/l1_data_fees.sql
Labels: ready-for-merging

#5309 Rollup Econ - Add Scroll Revenue
  models/rollup_economics/ethereum/l2_revenue.sql
Labels: ready-for-merging

#5339 Added gridex dex to dex.trades
  models/_sector/dex/trades/optimism/_schema.yml
  models/_sector/dex/trades/optimism/dex_optimism_base_trades.sql
  models/_sector/dex/trades/optimism/platforms/gridex_optimism_base_trades.sql
  seeds/_sector/dex/_schema.yml
  seeds/_sector/dex/gridex_optimism_base_trades_seed.csv
  sources/_sector/dex/trades/optimism/_sources.yml
Labels: dex

#5351 rabbithole > boost schema
  models/_sector/referral/rewards/platforms/rabbithole_arbitrum_rewards.sql
  models/_sector/referral/rewards/platforms/rabbithole_base_rewards.sql
  models/_sector/referral/rewards/platforms/rabbithole_optimism_rewards.sql
  models/_sector/referral/rewards/platforms/rabbithole_polygon_rewards.sql
  sources/_sector/referral/rewards/platforms/_sources.yml
Labels: hotfix

#5319 add horizondex on base
  models/_sector/dex/trades/base/_schema.yml
  models/_sector/dex/trades/base/dex_base_base_trades.sql
  models/_sector/dex/trades/base/platforms/horizondex_base_base_trades.sql
  models/_sector/dex/trades/dex_base_trades.sql
  models/_sector/dex/trades/dex_trades_beta.sql
  models/dex/dex_info.sql
  seeds/_sector/dex/_schema.yml
  seeds/_sector/dex/horizondex_base_base_trades_seed.csv
  sources/_sector/dex/trades/base/_sources.yml
Labels: dex

#5324 Update prices_base_tokens.sql
  models/prices/base/prices_base_tokens.sql
Labels: easy, ready-for-merging

#5348 Added sharkswap dex to dex.trades
  models/_sector/dex/trades/base/_schema.yml
  models/_sector/dex/trades/base/dex_base_base_trades.sql
  models/_sector/dex/trades/base/platforms/sharkswap_base_base_trades.sql
  models/dex/dex_info.sql
  seeds/_sector/dex/_schema.yml
  seeds/_sector/dex/sharkswap_base_base_trades_seed.csv
  sources/_sector/dex/trades/base/_sources.yml
Labels: dex

#5352 check_lending_base_seed macros
  models/_sector/lending/borrow/arbitrum/_schema.yml
  models/_sector/lending/borrow/avalanche_c/_schema.yml
  models/_sector/lending/borrow/base/_schema.yml
  models/_sector/lending/borrow/bnb/_schema.yml
  models/_sector/lending/borrow/celo/_schema.yml
  models/_sector/lending/borrow/ethereum/_schema.yml
  models/_sector/lending/borrow/fantom/_schema.yml
  models/_sector/lending/borrow/gnosis/_schema.yml
  models/_sector/lending/borrow/optimism/_schema.yml
  models/_sector/lending/borrow/polygon/_schema.yml
  models/_sector/lending/borrow/zksync/_schema.yml
  models/_sector/lending/flashloans/arbitrum/_schema.yml
  models/_sector/lending/flashloans/avalanche_c/_schema.yml
  models/_sector/lending/flashloans/base/_schema.yml
  models/_sector/lending/flashloans/bnb/_schema.yml
  models/_sector/lending/flashloans/celo/_schema.yml
  models/_sector/lending/flashloans/ethereum/_schema.yml
  models/_sector/lending/flashloans/fantom/_schema.yml
  models/_sector/lending/flashloans/gnosis/_schema.yml
  models/_sector/lending/flashloans/optimism/_schema.yml
  models/_sector/lending/flashloans/polygon/_schema.yml
  models/_sector/lending/flashloans/zksync/_schema.yml
  models/_sector/lending/supply/arbitrum/_schema.yml
  models/_sector/lending/supply/avalanche_c/_schema.yml
  models/_sector/lending/supply/base/_schema.yml
  models/_sector/lending/supply/bnb/_schema.yml
  models/_sector/lending/supply/celo/_schema.yml
  models/_sector/lending/supply/ethereum/_schema.yml
  models/_sector/lending/supply/fantom/_schema.yml
  models/_sector/lending/supply/gnosis/_schema.yml
  models/_sector/lending/supply/optimism/_schema.yml
  models/_sector/lending/supply/polygon/_schema.yml
  models/_sector/lending/supply/zksync/_schema.yml
  tests/generic/check_lending_base_borrow_seed.sql
  tests/generic/check_lending_base_flashloans_seed.sql
  tests/generic/check_lending_base_supply_seed.sql
Labels: ready-for-final-review

#5306 BPT prices update
  macros/models/_project/balancer/balancer_bpt_prices_macro.sql
  macros/models/_project/balancer/balancer_liquidity_macro.sql
  macros/models/_project/balancer/balancer_protocol_fee_macro.sql
  models/balancer/arbitrum/balancer_arbitrum_schema.yml
  models/balancer/arbitrum/balancer_v2_arbitrum_bpt_prices.sql
  models/balancer/arbitrum/balancer_v2_arbitrum_trades.sql
  models/balancer/arbitrum/balancer_v2_arbitrum_trades_beta.sql
  models/balancer/avalanche_c/balancer_avalanche_c_schema.yml
  models/balancer/avalanche_c/balancer_v2_avalanche_c_bpt_prices.sql
  models/balancer/avalanche_c/balancer_v2_avalanche_c_trades.sql
  models/balancer/avalanche_c/balancer_v2_avalanche_c_trades_beta.sql
  models/balancer/balancer_bpt_prices.sql
  models/balancer/balancer_schema.yml
  models/balancer/base/balancer_base_schema.yml
  models/balancer/base/balancer_v2_base_bpt_prices.sql
  models/balancer/base/balancer_v2_base_trades.sql
  models/balancer/base/balancer_v2_base_trades_beta.sql
  models/balancer/ethereum/balancer_ethereum_schema.yml
  models/balancer/ethereum/balancer_v2_ethereum_bpt_prices.sql
  models/balancer/ethereum/balancer_v2_ethereum_trades.sql
  models/balancer/ethereum/balancer_v2_ethereum_trades_beta.sql
  models/balancer/gnosis/balancer_gnosis_schema.yml
  models/balancer/gnosis/balancer_v2_gnosis_bpt_prices.sql
  models/balancer/gnosis/balancer_v2_gnosis_trades.sql
  models/balancer/gnosis/balancer_v2_gnosis_trades_beta.sql
  models/balancer/optimism/balancer_optimism_schema.yml
  models/balancer/optimism/balancer_v2_optimism_bpt_prices.sql
  models/balancer/optimism/balancer_v2_optimism_trades.sql
  models/balancer/optimism/balancer_v2_optimism_trades_beta.sql
  models/balancer/polygon/balancer_polygon_schema.yml
  models/balancer/polygon/balancer_v2_polygon_bpt_prices.sql
  models/balancer/polygon/balancer_v2_polygon_trades.sql
  models/balancer/polygon/balancer_v2_polygon_trades_beta.sql
Labels: ready-for-merging

#5365 [EASY] add SHU token_erc20
  tokens/models/tokens/ethereum/tokens_ethereum_erc20.sql
Labels: easy, ready-for-merging

#5372 Adding creator_contract_address of protocols to Base
  models/_sector/contracts/contracts_contract_creator_address_list.sql
Labels: ready-for-merging

#5357 [solana] add magic eden mmm trades
  models/_sector/nft/trades/chains/solana/nft_solana_trades.sql
  models/_sector/nft/trades/chains/solana/platforms/_schema.yml
  models/_sector/nft/trades/chains/solana/platforms/magiceden_mmm_solana_trades.sql
  seeds/_sector/nft/solana/_schema.yml
  seeds/_sector/nft/solana/magiceden_mmm_solana_trades_seed.csv
  sources/_sector/nft/trades/chains/solana/platforms/_sources.yml
Labels: ready-for-merging, NFT

#5378 Add Scroll dexs to trades_beta
  models/_sector/dex/trades/_schema.yml
  models/_sector/dex/trades/dex_base_trades.sql
  models/_sector/dex/trades/scroll/_schema.yml
  models/_sector/dex/trades/scroll/dex_scroll_base_trades.sql
  models/_sector/dex/trades/scroll/platforms/scrollswap_scroll_base_trades.sql
  models/_sector/dex/trades/scroll/platforms/sushiswap_v2_scroll_base_trades.sql
  models/_sector/dex/trades/scroll/platforms/uniswap_v3_scroll_base_trades.sql
  models/_sector/dex/trades/scroll/platforms/zebra_scroll_base_trades.sql
  models/dex/dex_info.sql
  seeds/_sector/dex/_schema.yml
  seeds/_sector/dex/scrollswap_scroll_base_trades_seed.csv
  seeds/_sector/dex/sushiswap_scroll_base_trades_seed.csv
  seeds/_sector/dex/uniswap_scroll_base_trades_seed.csv
  seeds/_sector/dex/zebra_scroll_base_trades_seed.csv
  sources/_sector/dex/trades/scroll/_sources.yml
Labels: dex

#5388 Uniswap V2 Trades (Arbitrum, Polygon, Optimism, Base, BNB & Avalanche) - Ready for review
  models/_sector/dex/trades/arbitrum/_schema.yml
  models/_sector/dex/trades/arbitrum/dex_arbitrum_base_trades.sql
  models/_sector/dex/trades/arbitrum/platforms/uniswap_v2_arbitrum_base_trades.sql
  models/_sector/dex/trades/arbitrum/platforms/uniswap_v3_arbitrum_base_trades.sql
  models/_sector/dex/trades/avalanche_c/_schema.yml
  models/_sector/dex/trades/avalanche_c/dex_avalanche_c_base_trades.sql
  models/_sector/dex/trades/avalanche_c/platforms/uniswap_v2_avalanche_c_base_trades.sql
  models/_sector/dex/trades/avalanche_c/platforms/uniswap_v3_avalanche_c_base_trades.sql
  models/_sector/dex/trades/base/_schema.yml
  models/_sector/dex/trades/base/dex_base_base_trades.sql
  models/_sector/dex/trades/base/platforms/uniswap_v2_base_base_trades.sql
  models/_sector/dex/trades/base/platforms/uniswap_v3_base_base_trades.sql
  models/_sector/dex/trades/bnb/_schema.yml
  models/_sector/dex/trades/bnb/dex_bnb_base_trades.sql
  models/_sector/dex/trades/bnb/platforms/uniswap_v2_bnb_base_trades.sql
  models/_sector/dex/trades/bnb/platforms/uniswap_v3_bnb_base_trades.sql
  models/_sector/dex/trades/optimism/_schema.yml
  models/_sector/dex/trades/optimism/dex_optimism_base_trades.sql
  models/_sector/dex/trades/optimism/platforms/uniswap_v2_optimism_base_trades.sql
  models/_sector/dex/trades/optimism/platforms/uniswap_v3_optimism_base_trades.sql
  models/_sector/dex/trades/polygon/_schema.yml
  models/_sector/dex/trades/polygon/dex_polygon_base_trades.sql
  models/_sector/dex/trades/polygon/platforms/uniswap_v2_polygon_base_trades.sql
  models/_sector/dex/trades/polygon/platforms/uniswap_v3_polygon_base_trades.sql
  seeds/_sector/dex/uniswap_arbitrum_base_trades_seed.csv
  seeds/_sector/dex/uniswap_avalanche_c_base_trades_seed.csv
  seeds/_sector/dex/uniswap_base_base_trades_seed.csv
  seeds/_sector/dex/uniswap_bnb_base_trades_seed.csv
  seeds/_sector/dex/uniswap_optimism_base_trades_seed.csv
  seeds/_sector/dex/uniswap_polygon_base_trades_seed.csv
  sources/uniswap/arbitrum/uniswap_arbitrum_sources.yml
  sources/uniswap/avalanche_c/uniswap_avalanche_c_sources.yml
  sources/uniswap/base/uniswap_base_sources.yml
  sources/uniswap/bnb/uniswap_bnb_sources.yml
  sources/uniswap/optimism/uniswap_optimism_sources.yml
  sources/uniswap/polygon/uniswap_polygon_sources.yml
Labels: ready-for-merging

#5385 Added sterling finance and sharkyswap dex to dex.trades
  models/_sector/dex/trades/arbitrum/_schema.yml
  models/_sector/dex/trades/arbitrum/dex_arbitrum_base_trades.sql
  models/_sector/dex/trades/arbitrum/platforms/sharkyswap_arbitrum_base_trades.sql
  models/_sector/dex/trades/arbitrum/platforms/sterling_finance_arbitrum_base_trades.sql
  models/dex/dex_info.sql
  seeds/_sector/dex/_schema.yml
  seeds/_sector/dex/sharkyswap_arbitrum_base_trades_seed.csv
  seeds/_sector/dex/sterling_finance_arbitrum_base_trades_seed.csv
  sources/_sector/dex/trades/arbitrum/_sources.yml
Labels: ready-for-merging, dex

#5367 chore: use relative links
  CONTRIBUTING.md
  README.md
  docs/ci_test/ci_test_overview.md
  docs/general/sector_spell_design.md
  docs/macros/macro_overview.md
  docs/models/model_config_block.md
  docs/models/model_overview.md
  docs/seeds/seed_overview.md
  docs/tests/test_overview.md
  models/_sector/contracts/readme.md
  models/_sector/dex/readme.md
  models/labels/addresses/readme.md
  pull_request_template.md
Labels: ready-for-merging

#5375 [solana] add magiceden v3 trade
  models/_sector/nft/trades/chains/solana/nft_solana_trades.sql
  models/_sector/nft/trades/chains/solana/platforms/_schema.yml
  models/_sector/nft/trades/chains/solana/platforms/magiceden_v3_solana_trades.sql
  seeds/_sector/nft/solana/_schema.yml
  seeds/_sector/nft/solana/magiceden_v3_solana_trades_seed.csv
  sources/_sector/nft/trades/solana_sources.yml
Labels: ready-for-merging, NFT

#5406 bug fix: `amount_usd` for native transfers
  macros/models/_sector/tokens/transfers_enrich.sql
Labels: bug, ready-for-merging, dune team

#5409 Update safe_bnb_safes.sql
  models/safe/bnb/safe_bnb_safes.sql
Labels: easy, ready-for-merging

#5366 Added Throne_exchange_v2 and Throne_exchange_v3 dexes to dex.trades
  models/_sector/dex/trades/base/_schema.yml
  models/_sector/dex/trades/base/dex_base_base_trades.sql
  models/_sector/dex/trades/base/platforms/throne_exchange_v2_base_base_trades.sql
  models/_sector/dex/trades/base/platforms/throne_exchange_v3_base_base_trades.sql
  models/dex/dex_info.sql
  seeds/_sector/dex/_schema.yml
  seeds/_sector/dex/throne_exchange_v2_base_base_trades_seed.csv
  seeds/_sector/dex/throne_exchange_v3_base_base_trades_seed.csv
  sources/_sector/dex/trades/base/_sources.yml
Labels: ready-for-merging, dex

#5401 Add Tevaera to `nft.trades` on zkSync Era
  models/_sector/nft/trades/chains/zksync/nft_zksync_base_trades.sql
  models/_sector/nft/trades/chains/zksync/platforms/_schema.yml
  models/_sector/nft/trades/chains/zksync/platforms/tevaera_zksync_base_trades.sql
  models/_sector/nft/trades/nft_base_trades.sql
  seeds/_sector/nft/_schema.yml
  seeds/_sector/nft/tevaera_zksync_base_trades_seed.csv
  sources/_sector/nft/trades/chains/zksync/platforms/_sources.yml
Labels: ready-for-merging, NFT

#5396 Updated OdosRouterV2 source table/name (odos_v2)
  models/_sector/dex/trades/avalanche_c/dex_avalanche_c_base_trades.sql
  models/_sector/dex/trades/avalanche_c/platforms/pharaoh_avalanche_c_base_trades.sql
  models/pharaoh/pharaoh_avalanche_c_trades.sql
  sources/_sector/dex/trades/avalanche_c/_sources.yml
Labels: ready-for-merging, dex

#5397 Adding KIMBO, WOLF, FOX, GEC and RPG to tokens_avalanche_c_erc20.sql
  tokens/models/tokens/avalanche_c/tokens_avalanche_c_erc20.sql
Labels: easy, ready-for-merging

#5383 Adds versioning to Balancer spells
  macros/models/_project/balancer/balancer_bpt_prices_macro.sql
  macros/models/_project/balancer/balancer_bpt_supply_macro.sql
  macros/models/_project/balancer/balancer_liquidity_macro.sql
  macros/models/_project/balancer/balancer_protocol_fee_macro.sql
  macros/models/_project/balancer/balancer_transfers_bpt_macro.sql
  models/balancer/arbitrum/balancer_arbitrum_pools_tokens_weights.sql
  models/balancer/arbitrum/balancer_arbitrum_schema.yml
  models/balancer/arbitrum/balancer_v2_arbitrum_bpt_prices.sql
  models/balancer/arbitrum/balancer_v2_arbitrum_liquidity.sql
  models/balancer/arbitrum/balancer_v2_arbitrum_pools_fees.sql
  models/balancer/arbitrum/balancer_v2_arbitrum_pools_tokens_weights.sql
  models/balancer/arbitrum/balancer_v2_arbitrum_transfers_bpt.sql
  models/balancer/avalanche_c/balancer_avalanche_c_pools_tokens_weights.sql
  models/balancer/avalanche_c/balancer_avalanche_c_schema.yml
  models/balancer/avalanche_c/balancer_v2_avalanche_c_bpt_prices.sql
  models/balancer/avalanche_c/balancer_v2_avalanche_c_liquidity.sql
  models/balancer/avalanche_c/balancer_v2_avalanche_c_pools_fees.sql
  models/balancer/avalanche_c/balancer_v2_avalanche_c_pools_tokens_weights.sql
  models/balancer/avalanche_c/balancer_v2_avalanche_c_transfers_bpt.sql
  models/balancer/balancer_pools_fees.sql
  models/balancer/balancer_pools_tokens_weights.sql
  models/balancer/balancer_schema.yml
  models/balancer/balancer_transfers_bpt.sql
  models/balancer/base/balancer_base_pools_tokens_weights.sql
  models/balancer/base/balancer_base_schema.yml
  models/balancer/base/balancer_v2_base_bpt_prices.sql
  models/balancer/base/balancer_v2_base_liquidity.sql
  models/balancer/base/balancer_v2_base_pools_fees.sql
  models/balancer/base/balancer_v2_base_pools_tokens_weights.sql
  models/balancer/base/balancer_v2_base_transfers_bpt.sql
  models/balancer/ethereum/balancer_ethereum_pools_tokens_weights.sql
  models/balancer/ethereum/balancer_ethereum_schema.yml
  models/balancer/ethereum/balancer_v1_ethereum_pools_tokens_weights.sql
  models/balancer/ethereum/balancer_v2_ethereum_bpt_prices.sql
  models/balancer/ethereum/balancer_v2_ethereum_liquidity.sql
  models/balancer/ethereum/balancer_v2_ethereum_pools_fees.sql
  models/balancer/ethereum/balancer_v2_ethereum_pools_tokens_weights.sql
  models/balancer/ethereum/balancer_v2_ethereum_transfers_bpt.sql
  models/balancer/gnosis/balancer_gnosis_pools_tokens_weights.sql
  models/balancer/gnosis/balancer_gnosis_schema.yml
  models/balancer/gnosis/balancer_v2_gnosis_bpt_prices.sql
  models/balancer/gnosis/balancer_v2_gnosis_liquidity.sql
  models/balancer/gnosis/balancer_v2_gnosis_pools_fees.sql
  models/balancer/gnosis/balancer_v2_gnosis_pools_tokens_weights.sql
  models/balancer/gnosis/balancer_v2_gnosis_transfers_bpt.sql
  models/balancer/optimism/balancer_optimism_pools_tokens_weights.sql
  models/balancer/optimism/balancer_optimism_schema.yml
  models/balancer/optimism/balancer_v2_optimism_bpt_prices.sql
  models/balancer/optimism/balancer_v2_optimism_liquidity.sql
  models/balancer/optimism/balancer_v2_optimism_pools_fees.sql
  models/balancer/optimism/balancer_v2_optimism_pools_tokens_weights.sql
  models/balancer/optimism/balancer_v2_optimism_transfers_bpt.sql
  models/balancer/polygon/balancer_polygon_pools_tokens_weights.sql
  models/balancer/polygon/balancer_polygon_schema.yml
  models/balancer/polygon/balancer_v2_polygon_bpt_prices.sql
  models/balancer/polygon/balancer_v2_polygon_liquidity.sql
  models/balancer/polygon/balancer_v2_polygon_pools_fees.sql
  models/balancer/polygon/balancer_v2_polygon_pools_tokens_weights.sql
  models/balancer/polygon/balancer_v2_polygon_transfers_bpt.sql
Labels: ready-for-merging

#5384 Add v1.4.1 singletons
  models/safe/arbitrum/safe_arbitrum_safes.sql
  models/safe/base/safe_base_safes.sql
  models/safe/bnb/safe_bnb_safes.sql
  models/safe/celo/safe_celo_safes.sql
  models/safe/ethereum/safe_ethereum_safes.sql
  models/safe/gnosis/safe_gnosis_safes.sql
  models/safe/goerli/safe_goerli_safes.sql
  models/safe/optimism/safe_optimism_safes.sql
  models/safe/polygon/safe_polygon_safes.sql
  tests/safe/goerli/safe_goerli_safes_test.sql
Labels: in review, blocked

#5437 [EASY] add LST LRT price
  models/prices/ethereum/prices_ethereum_tokens.sql
Labels: ready-for-merging

#5433 Openocean Base to Dex Trades and create Openocean Macro - Ready for review
  macros/models/_sector/dex/openocean_compatible_trades.sql
  models/_sector/dex/trades/base/_schema.yml
  models/_sector/dex/trades/base/dex_base_base_trades.sql
  models/_sector/dex/trades/base/platforms/openocean_base_base_trades.sql
  seeds/_sector/dex/_schema.yml
  seeds/_sector/dex/openocean_base_base_trades_seed.csv
  sources/_sector/dex/trades/base/_sources.yml
Labels: ready-for-merging, dex

#5432 Add Fraxswap Optimism to dex trades - Ready for review
  models/_sector/dex/trades/optimism/_schema.yml
  models/_sector/dex/trades/optimism/dex_optimism_base_trades.sql
  models/_sector/dex/trades/optimism/platforms/fraxswap_optimism_base_trades.sql
  seeds/_sector/dex/_schema.yml
  seeds/_sector/dex/fraxswap_optimism_base_trades_seed.csv
  sources/_sector/dex/trades/optimism/_sources.yml
Labels: ready-for-merging, dex

#5413 Add Element Optimism NFT Trades - Ready for Review
  models/_sector/nft/trades/chains/optimism/nft_optimism_base_trades.sql
  models/_sector/nft/trades/chains/optimism/platforms/_schema.yml
  models/_sector/nft/trades/chains/optimism/platforms/element_optimism_base_trades.sql
  seeds/_sector/nft/_schema.yml
  seeds/_sector/nft/element_optimism_base_trades_seed.csv
  sources/_sector/nft/trades/optimism_sources.yml
Labels: ready-for-merging, NFT

#5443 `opensea_polygon_events` filter out bad tx
  models/opensea/polygon/opensea_v4_polygon_events.sql
Labels: hotfix, NFT

#5444 add prod_exclude tag
  models/_sector/attestation/eas/optimism/eas_optimism_attestations.sql
Labels: hotfix

#5442 Add Magic Eden NFT's new trades on Ethereum & Polygon
  models/_sector/nft/trades/chains/ethereum/nft_ethereum_base_trades.sql
  models/_sector/nft/trades/chains/ethereum/platforms/_schema.yml
  models/_sector/nft/trades/chains/ethereum/platforms/magiceden_ethereum_base_trades.sql
  models/_sector/nft/trades/chains/polygon/nft_polygon_base_trades.sql
  models/_sector/nft/trades/chains/polygon/platforms/_schema.yml
  models/_sector/nft/trades/chains/polygon/platforms/magiceden_v2_polygon_base_trades.sql
  sources/_sector/nft/trades/ethereum_sources.yml
  sources/_sector/nft/trades/polygon_sources.yml
Labels: ready-for-merging, NFT

#5441 Add zkync to NFT wash trade model
  models/_sector/nft/wash_trades/_schema.yml
  models/_sector/nft/wash_trades/chains/nft_zksync_wash_trades.sql
  models/_sector/nft/wash_trades/nft_wash_trades.sql
Labels: ready-for-merging, NFT

#5439 Add Tofu to `nft.trades` on Celo
  models/_sector/nft/trades/chains/celo/nft_celo_base_trades.sql
  models/_sector/nft/trades/chains/celo/platforms/_schema.yml
  models/_sector/nft/trades/chains/celo/platforms/tofu_celo_base_trades.sql
  models/_sector/nft/trades/nft_base_trades.sql
  sources/_sector/nft/trades/celo_sources.yml
Labels: ready-for-merging, NFT

#5412 Add Element Base NFT Trades - Ready for Review
  models/_sector/nft/trades/chains/base/nft_base_base_trades.sql
  models/_sector/nft/trades/chains/base/platforms/_schema.yml
  models/_sector/nft/trades/chains/base/platforms/element_base_base_trades.sql
  seeds/_sector/nft/_schema.yml
  seeds/_sector/nft/element_base_base_trades_seed.csv
  sources/_sector/nft/trades/base_sources.yml
Labels: ready-for-merging, NFT

#5404 Fix odos_v2_optimism_trades.sql
  models/odos/optimism/odos_v2_optimism_trades.sql
Labels: ready-for-merging, dex

#5446 Add rocketswap to dex.trades
  models/_sector/dex/trades/base/_schema.yml
  models/_sector/dex/trades/base/dex_base_base_trades.sql
  models/_sector/dex/trades/base/platforms/rocketswap_base_base_trades.sql
  models/dex/dex_info.sql
  seeds/_sector/dex/_schema.yml
  seeds/_sector/dex/rocketswap_base_base_trades_seed.csv
  sources/_sector/dex/trades/base/_sources.yml
Labels: dex

#5429 Add Wombat Exchange (Base) - Ready for review
  models/_sector/dex/trades/base/_schema.yml
  models/_sector/dex/trades/base/dex_base_base_trades.sql
  models/_sector/dex/trades/base/platforms/wombat_exchange_base_base_trades.sql
  seeds/_sector/dex/_schema.yml
  seeds/_sector/dex/wombat_exchange_base_base_trades_seed.csv
  sources/_sector/dex/trades/base/_sources.yml
Labels: ready-for-merging, dex

#5411 Add Zonic to `nft.trades` on zkSync Era
  macros/models/_sector/nft/platforms/zonic_base_trades.sql
  models/_sector/nft/trades/chains/optimism/platforms/_schema.yml
  models/_sector/nft/trades/chains/optimism/platforms/zonic_optimism_base_trades.sql
  models/_sector/nft/trades/chains/scroll/platforms/_schema.yml
  models/_sector/nft/trades/chains/scroll/platforms/zonic_scroll_base_trades.sql
  models/_sector/nft/trades/chains/zksync/nft_zksync_base_trades.sql
  models/_sector/nft/trades/chains/zksync/platforms/_schema.yml
  models/_sector/nft/trades/chains/zksync/platforms/zonic_zksync_base_trades.sql
  models/transfers/zksync/transfers_zksync_eth.sql
  models/transfers/zksync/transfers_zksync_schema.yml
  seeds/_sector/nft/_schema.yml
  seeds/_sector/nft/zonic_zksync_base_trades_seed.csv
  sources/_sector/nft/trades/zksync_sources.yml
Labels: ready-for-merging, NFT

#5451 Revert "Revert "Add Zonic to `nft.trades` on zkSync Era (#5411)""
  macros/models/_sector/nft/platforms/zonic_base_trades.sql
  models/_sector/nft/trades/chains/optimism/platforms/_schema.yml
  models/_sector/nft/trades/chains/optimism/platforms/zonic_optimism_base_trades.sql
  models/_sector/nft/trades/chains/scroll/platforms/_schema.yml
  models/_sector/nft/trades/chains/scroll/platforms/zonic_scroll_base_trades.sql
  models/_sector/nft/trades/chains/zksync/nft_zksync_base_trades.sql
  models/_sector/nft/trades/chains/zksync/platforms/_schema.yml
  models/_sector/nft/trades/chains/zksync/platforms/zonic_zksync_base_trades.sql
  models/_sector/tokens/scroll/_schema.yml
  models/_sector/tokens/scroll/tokens_scroll_base_transfers.sql
  models/_sector/tokens/scroll/tokens_scroll_transfers.sql
  models/transfers/scroll/transfers_scroll_eth.sql
  models/transfers/scroll/transfers_scroll_schema.yml
  seeds/_sector/nft/_schema.yml
  seeds/_sector/nft/zonic_zksync_base_trades_seed.csv
  sources/_sector/nft/trades/zksync_sources.yml
Labels: NFT

#5398 chore: support sharky 6.3.0 IDL for compressed NFTs on spell
  models/sharky/solana/sharky_solana_events.sql
  sources/sharky/solana/sharky_solana_sources.yml
Labels: ready-for-merging

#5330 Create `cex_ethereum.flows`
  models/cex/ethereum/cex_ethereum_flows.sql
  models/cex/ethereum/cex_ethereum_schema.yml
Labels: ready-for-merging

#5466 Add missing LSTs to tokens.erc20
  tokens/models/tokens/arbitrum/tokens_arbitrum_erc20.sql
  tokens/models/tokens/base/tokens_base_erc20.sql
  tokens/models/tokens/ethereum/tokens_ethereum_erc20.sql
  tokens/models/tokens/polygon/tokens_polygon_erc20.sql
Labels: ready-for-merging

#5465 Changes to balancer.liquidity and balancer.protocol_fee
  macros/models/_project/balancer/balancer_liquidity_macro.sql
  macros/models/_project/balancer/balancer_protocol_fee_macro.sql
Labels: ready-for-merging

#5452 Added soswap dex to dex.trades
  models/_sector/dex/trades/base/_schema.yml
  models/_sector/dex/trades/base/dex_base_base_trades.sql
  models/_sector/dex/trades/base/platforms/soswap_base_base_trades.sql
  models/dex/dex_info.sql
  seeds/_sector/dex/_schema.yml
  seeds/_sector/dex/soswap_base_base_trades_seed.csv
  sources/_sector/dex/trades/base/_sources.yml
Labels: ready-for-merging, dex

#5448 ADDED GRIDEX TO BASE
  models/_sector/dex/trades/base/_schema.yml
  models/_sector/dex/trades/base/platforms/gridex_base_base_trades.sql
  seeds/_sector/dex/_schema.yml
  seeds/_sector/dex/gridex_base_base_trades_seed.csv
  sources/_sector/dex/trades/base/_sources.yml
Labels: ready-for-merging, dex

#5455 add swapbased to dex.trades
  models/_sector/dex/trades/base/_schema.yml
  models/_sector/dex/trades/base/dex_base_base_trades.sql
  models/_sector/dex/trades/base/platforms/swapbased_base_base_trades.sql
  models/dex/dex_info.sql
  seeds/_sector/dex/_schema.yml
  seeds/_sector/dex/swapbased_base_base_trades_seed.csv
  sources/_sector/dex/trades/base/_sources.yml
Labels: ready-for-merging, dex

#5461 add yup token to `prices_ethereum_tokens.sql`
  models/prices/ethereum/prices_ethereum_tokens.sql
Labels: easy, ready-for-merging

#5459 Add zkSync to tokens.nft
  models/tokens/tokens_nft.sql
  models/tokens/tokens_schema.yml
Labels: ready-for-merging, NFT

#5438 Add Aave v3 to lending on Gnosis & BNB
  models/_sector/lending/borrow/bnb/_schema.yml
  models/_sector/lending/borrow/bnb/lending_bnb_base_borrow.sql
  models/_sector/lending/borrow/bnb/platforms/aave_v3_bnb_base_borrow.sql
  models/_sector/lending/borrow/gnosis/_schema.yml
  models/_sector/lending/borrow/gnosis/lending_gnosis_base_borrow.sql
  models/_sector/lending/borrow/gnosis/platforms/aave_v3_gnosis_base_borrow.sql
  models/_sector/lending/flashloans/bnb/_schema.yml
  models/_sector/lending/flashloans/bnb/lending_bnb_base_flashloans.sql
  models/_sector/lending/flashloans/bnb/platforms/aave_v3_bnb_base_flashloans.sql
  models/_sector/lending/flashloans/gnosis/_schema.yml
  models/_sector/lending/flashloans/gnosis/lending_gnosis_base_flashloans.sql
  models/_sector/lending/flashloans/gnosis/platforms/aave_v3_gnosis_base_flashloans.sql
  models/_sector/lending/supply/bnb/_schema.yml
  models/_sector/lending/supply/bnb/lending_bnb_base_supply.sql
  models/_sector/lending/supply/bnb/platforms/aave_v3_bnb_base_supply.sql
  models/_sector/lending/supply/gnosis/_schema.yml
  models/_sector/lending/supply/gnosis/lending_gnosis_base_supply.sql
  models/_sector/lending/supply/gnosis/platforms/aave_v3_gnosis_base_supply.sql
  seeds/_sector/lending/_schema.yml
  seeds/_sector/lending/aave_bnb_base_borrow_seed.csv
  seeds/_sector/lending/aave_bnb_base_flashloans_seed.csv
  seeds/_sector/lending/aave_bnb_base_supply_seed.csv
  seeds/_sector/lending/aave_gnosis_base_borrow_seed.csv
  seeds/_sector/lending/aave_gnosis_base_flashloans_seed.csv
  seeds/_sector/lending/aave_gnosis_base_supply_seed.csv
  sources/_sector/lending/borrow/bnb/_sources.yml
  sources/_sector/lending/borrow/gnosis/_sources.yml
  sources/_sector/lending/flashloans/bnb/_sources.yml
  sources/_sector/lending/flashloans/gnosis/_sources.yml
  sources/_sector/lending/supply/bnb/_sources.yml
  sources/_sector/lending/supply/gnosis/_sources.yml
Labels: ready-for-final-review

#5173 1inch: AggregationRouterV6 to 1inch spellbooks linage
  macros/models/_project/oneinch/AR/oneinch_ar_handle_unoswap.sql
  macros/models/_project/oneinch/AR/oneinch_ar_macro.sql
  macros/models/_project/oneinch/oneinch_blockchain_macro.sql
  macros/models/_project/oneinch/oneinch_calls_macro.sql
  macros/models/_project/oneinch/oneinch_lop_macro.sql
  models/dex/dex_raw_pool_creations.sql
  models/dex/dex_schema.yml
  models/oneinch/_meta/oneinch_exchange_contracts.sql
  models/oneinch/arbitrum/oneinch_arbitrum_schema.yml
  models/oneinch/avalanche_c/oneinch_avalanche_c_schema.yml
  models/oneinch/base/oneinch_base_schema.yml
  models/oneinch/bnb/oneinch_bnb_schema.yml
  models/oneinch/ethereum/oneinch_ethereum_schema.yml
  models/oneinch/fantom/oneinch_fantom_schema.yml
  models/oneinch/gnosis/oneinch_gnosis_schema.yml
  models/oneinch/oneinch_schema.yml
  models/oneinch/oneinch_swaps.sql
  models/oneinch/optimism/oneinch_optimism_schema.yml
  models/oneinch/polygon/oneinch_polygon_schema.yml
  models/oneinch/zksync/oneinch_zksync_schema.yml
  sources/oneinch/arbitrum/oneinch_arbitrum_sources.yml
  sources/oneinch/avalanche_c/oneinch_avalanche_c_sources.yml
  sources/oneinch/base/oneinch_base_sources.yml
  sources/oneinch/bnb/oneinch_bnb_sources.yml
  sources/oneinch/ethereum/oneinch_ethereum_sources.yml
  sources/oneinch/fantom/oneinch_fantom_sources.yml
  sources/oneinch/gnosis/oneinch_gnosis_sources.yml
  sources/oneinch/optimism/oneinch_optimism_sources.yml
  sources/oneinch/polygon/oneinch_polygon_sources.yml
  sources/oneinch/zksync/oneinch_zksync_sources.yml
Labels: ready-for-merging
