Repository duneanalytics/spellbook, pull requests merged in 2024-08, with the labels that each got.

#6395 Lido accounting stonks update
  dbt_subprojects/hourly_spellbook/models/_project/lido/accounting/ethereum/lido_accounting_ethereum_other_income.sql
Labels: ready-for-merging

#6408 Refactor l2_revenue from `rollup_economics`
  dbt_subprojects/hourly_spellbook/models/_sector/rollup_economics/ethereum/l2_revenue.sql
  sources/_subprojects_outputs/daily_spellbook/_sources.yml
  sources/_subprojects_outputs/hourly_spellbook/_sources.yml
Labels: ready-for-merging

#6441 Update Ethereum `gas.fees` for EIP4844
  dbt_subprojects/daily_spellbook/models/_sector/gas/fees/ethereum/gas_ethereum_fees.sql
  sources/_subprojects_outputs/daily_spellbook/_sources.yml
Labels: ready-for-merging

#6452 Nexus Mutual - capital pool re-run
  dbt_subprojects/daily_spellbook/models/nexusmutual/ethereum/capital_pool/nexusmutual_ethereum_capital_pool_totals.sql
  dbt_subprojects/daily_spellbook/models/nexusmutual/ethereum/capital_pool/nexusmutual_ethereum_capital_pool_transfers.sql
Labels: ready-for-merging

#6471 Add M token metadata
  dbt_subprojects/tokens/models/tokens/ethereum/tokens_ethereum_erc20.sql
  dbt_subprojects/tokens/models/tokens/ethereum/tokens_ethereum_erc20_stablecoins.sql
Labels: ready-for-merging

#6467 Adding coins to ethereum and mantle prices.usd
  dbt_subprojects/tokens/models/prices/ethereum/prices_ethereum_tokens.sql
  dbt_subprojects/tokens/models/prices/mantle/prices_mantle_tokens.sql
Labels: ready-for-merging

#6476 Add xei, oku and dragonswap trades
  dbt_subprojects/dex/models/dex_info.sql
  dbt_subprojects/dex/models/trades/sei/_schema.yml
  dbt_subprojects/dex/models/trades/sei/dex_sei_base_trades.sql
  dbt_subprojects/dex/models/trades/sei/platforms/dragon_swap_sei_base_trades.sql
  dbt_subprojects/dex/models/trades/sei/platforms/oku_sei_base_trades.sql
  dbt_subprojects/dex/models/trades/sei/platforms/xei_finance_sei_base_trades.sql
  dbt_subprojects/dex/seeds/trades/_schema.yml
  dbt_subprojects/dex/seeds/trades/dragon_swap_sei_base_trades_seed.csv
  dbt_subprojects/dex/seeds/trades/oku_sei_base_trades_seed.csv
  dbt_subprojects/dex/seeds/trades/xei_finance_sei_base_trades_seed.csv
  sources/_sector/dex/trades/sei/_sources.yml
  sources/jelly_swap/sei/jelly_swap_sei_sources.yml
Labels: ready-for-merging, dex

#6469 Bright Moments collection list updates
  dbt_subprojects/nft/models/nft_metrics/ethereum/metadata/nft_ethereum_metadata_bright_moments.sql
Labels: ready-for-merging

#6455 Fix zksync nft token columns
  dbt_subprojects/tokens/models/tokens/zksync/tokens_zksync_nft_curated.sql
Labels: ready-for-merging, NFT

#6478 [CoW Protocol] Add new solver address on mainnet
  dbt_subprojects/hourly_spellbook/models/_project/cow_protocol/ethereum/cow_protocol_ethereum_solvers.sql
Labels: ready-for-merging

#6392 Create Safe on Ethereum Balances
  dbt_subprojects/hourly_spellbook/models/_project/safe/ethereum/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_project/safe/ethereum/safe_ethereum_balances.sql
  sources/_subprojects_outputs/tokens/balances.yml
Labels: ready-for-merging

#6378 Nexus Mutual - claims
  dbt_subprojects/daily_spellbook/models/nexusmutual/ethereum/claims/_schema.yml
  dbt_subprojects/daily_spellbook/models/nexusmutual/ethereum/claims/nexusmutual_ethereum_claims_paid.sql
  dbt_subprojects/daily_spellbook/models/nexusmutual/ethereum/claims/nexusmutual_ethereum_claims_v1.sql
  dbt_subprojects/daily_spellbook/models/nexusmutual/ethereum/claims/nexusmutual_ethereum_claims_v2.sql
  sources/nexusmutual/ethereum/nexusmutual_ethereum_sources.yml
Labels: ready-for-merging

#6362 add compound v1 lending borrows
  dbt_subprojects/hourly_spellbook/models/_sector/lending/borrow/ethereum/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/lending/borrow/ethereum/lending_ethereum_base_borrow.sql
  dbt_subprojects/hourly_spellbook/models/_sector/lending/borrow/ethereum/platforms/compound_v1_ethereum_base_borrow.sql
  sources/_sector/lending/borrow/ethereum/_sources.yml
Labels: ready-for-merging

#6487 Fix Ethereum `gas.fees`
  dbt_subprojects/daily_spellbook/models/_sector/gas/fees/ethereum/gas_ethereum_fees.sql
Labels: ready-for-merging

#6420 add paraswap v6.2 methods: swapOnAugustusRFQTryBatchFill, swapExactAm…
  dbt_subprojects/dex/macros/models/_project/paraswap/v6/paraswap_v6_balancer_v2_method.sql
  dbt_subprojects/dex/macros/models/_project/paraswap/v6/paraswap_v6_maker_psm_method.sql
  dbt_subprojects/dex/macros/models/_project/paraswap/v6/paraswap_v6_rfq_method.sql
  dbt_subprojects/dex/macros/models/_project/paraswap/v6/paraswap_v6_trades_master.sql
  dbt_subprojects/dex/macros/models/_project/paraswap/v6/paraswap_v6_uniswaplike_method.sql
  dbt_subprojects/dex/models/_projects/paraswap/arbitrum/_schema.yml
  dbt_subprojects/dex/models/_projects/paraswap/arbitrum/paraswap_v6_arbitrum_trades.sql
  dbt_subprojects/dex/models/_projects/paraswap/arbitrum/paraswap_v6_arbitrum_trades_decoded.sql
  dbt_subprojects/dex/models/_projects/paraswap/avalanche_c/_schema.yml
  dbt_subprojects/dex/models/_projects/paraswap/avalanche_c/paraswap_v6_avalanche_c_trades.sql
  dbt_subprojects/dex/models/_projects/paraswap/avalanche_c/paraswap_v6_avalanche_c_trades_decoded.sql
  dbt_subprojects/dex/models/_projects/paraswap/base/_schema.yml
  dbt_subprojects/dex/models/_projects/paraswap/base/paraswap_v6_base_trades.sql
  dbt_subprojects/dex/models/_projects/paraswap/base/paraswap_v6_base_trades_decoded.sql
  dbt_subprojects/dex/models/_projects/paraswap/bnb/_schema.yml
  dbt_subprojects/dex/models/_projects/paraswap/bnb/paraswap_v6_bnb_trades.sql
  dbt_subprojects/dex/models/_projects/paraswap/bnb/paraswap_v6_bnb_trades_decoded.sql
  dbt_subprojects/dex/models/_projects/paraswap/ethereum/_schema.yml
  dbt_subprojects/dex/models/_projects/paraswap/ethereum/paraswap_v6_ethereum_trades.sql
  dbt_subprojects/dex/models/_projects/paraswap/ethereum/paraswap_v6_ethereum_trades_decoded.sql
  dbt_subprojects/dex/models/_projects/paraswap/fantom/_schema.yml
  dbt_subprojects/dex/models/_projects/paraswap/fantom/paraswap_v6_fantom_trades.sql
  dbt_subprojects/dex/models/_projects/paraswap/fantom/paraswap_v6_fantom_trades_decoded.sql
  dbt_subprojects/dex/models/_projects/paraswap/optimism/_schema.yml
  dbt_subprojects/dex/models/_projects/paraswap/optimism/paraswap_v6_optimism_trades.sql
  dbt_subprojects/dex/models/_projects/paraswap/optimism/paraswap_v6_optimism_trades_decoded.sql
  dbt_subprojects/dex/models/_projects/paraswap/polygon/_schema.yml
  dbt_subprojects/dex/models/_projects/paraswap/polygon/paraswap_v6_polygon_trades.sql
  dbt_subprojects/dex/models/_projects/paraswap/polygon/paraswap_v6_polygon_trades_decoded.sql
  sources/paraswap/arbitrum/paraswap_arbitrum_sources.yml
  sources/paraswap/avalanche_c/paraswap_avalanche_c_sources.yml
  sources/paraswap/base/paraswap_base_sources.yml
  sources/paraswap/bnb/paraswap_bnb_sources.yml
  sources/paraswap/ethereum/paraswap_ethereum_sources.yml
  sources/paraswap/fantom/paraswap_fantom_sources.yml
  sources/paraswap/optimism/paraswap_optimism_sources.yml
  sources/paraswap/polygon/paraswap_polygon_sources.yml
Labels: ready-for-merging, dex

#6483 Add new table to paraswap Base trades
  dbt_subprojects/dex/models/_projects/paraswap/base/paraswap_v5_base_trades.sql
  sources/paraswap/base/paraswap_base_sources.yml
Labels: ready-for-merging, dex

#6504 Revert "add paraswap v6.2 methods: swapOnAugustusRFQTryBatchFill, swa…
  dbt_subprojects/dex/macros/models/_project/paraswap/v6/paraswap_v6_balancer_v2_method.sql
  dbt_subprojects/dex/macros/models/_project/paraswap/v6/paraswap_v6_maker_psm_method.sql
  dbt_subprojects/dex/macros/models/_project/paraswap/v6/paraswap_v6_rfq_method.sql
  dbt_subprojects/dex/macros/models/_project/paraswap/v6/paraswap_v6_trades_master.sql
  dbt_subprojects/dex/macros/models/_project/paraswap/v6/paraswap_v6_uniswaplike_method.sql
  dbt_subprojects/dex/models/_projects/paraswap/arbitrum/_schema.yml
  dbt_subprojects/dex/models/_projects/paraswap/arbitrum/paraswap_v6_arbitrum_trades.sql
  dbt_subprojects/dex/models/_projects/paraswap/arbitrum/paraswap_v6_arbitrum_trades_decoded.sql
  dbt_subprojects/dex/models/_projects/paraswap/avalanche_c/_schema.yml
  dbt_subprojects/dex/models/_projects/paraswap/avalanche_c/paraswap_v6_avalanche_c_trades.sql
  dbt_subprojects/dex/models/_projects/paraswap/avalanche_c/paraswap_v6_avalanche_c_trades_decoded.sql
  dbt_subprojects/dex/models/_projects/paraswap/base/_schema.yml
  dbt_subprojects/dex/models/_projects/paraswap/base/paraswap_v6_base_trades.sql
  dbt_subprojects/dex/models/_projects/paraswap/base/paraswap_v6_base_trades_decoded.sql
  dbt_subprojects/dex/models/_projects/paraswap/bnb/_schema.yml
  dbt_subprojects/dex/models/_projects/paraswap/bnb/paraswap_v6_bnb_trades.sql
  dbt_subprojects/dex/models/_projects/paraswap/bnb/paraswap_v6_bnb_trades_decoded.sql
  dbt_subprojects/dex/models/_projects/paraswap/ethereum/_schema.yml
  dbt_subprojects/dex/models/_projects/paraswap/ethereum/paraswap_v6_ethereum_trades.sql
  dbt_subprojects/dex/models/_projects/paraswap/ethereum/paraswap_v6_ethereum_trades_decoded.sql
  dbt_subprojects/dex/models/_projects/paraswap/fantom/_schema.yml
  dbt_subprojects/dex/models/_projects/paraswap/fantom/paraswap_v6_fantom_trades.sql
  dbt_subprojects/dex/models/_projects/paraswap/fantom/paraswap_v6_fantom_trades_decoded.sql
  dbt_subprojects/dex/models/_projects/paraswap/optimism/_schema.yml
  dbt_subprojects/dex/models/_projects/paraswap/optimism/paraswap_v6_optimism_trades.sql
  dbt_subprojects/dex/models/_projects/paraswap/optimism/paraswap_v6_optimism_trades_decoded.sql
  dbt_subprojects/dex/models/_projects/paraswap/polygon/_schema.yml
  dbt_subprojects/dex/models/_projects/paraswap/polygon/paraswap_v6_polygon_trades.sql
  dbt_subprojects/dex/models/_projects/paraswap/polygon/paraswap_v6_polygon_trades_decoded.sql
  sources/paraswap/arbitrum/paraswap_arbitrum_sources.yml
  sources/paraswap/avalanche_c/paraswap_avalanche_c_sources.yml
  sources/paraswap/base/paraswap_base_sources.yml
  sources/paraswap/bnb/paraswap_bnb_sources.yml
  sources/paraswap/ethereum/paraswap_ethereum_sources.yml
  sources/paraswap/fantom/paraswap_fantom_sources.yml
  sources/paraswap/optimism/paraswap_optimism_sources.yml
  sources/paraswap/polygon/paraswap_polygon_sources.yml
Labels: hotfix

#6509 add gas mantle models
  dbt_subprojects/daily_spellbook/models/_sector/gas/fees/_schema.yml
  dbt_subprojects/daily_spellbook/models/_sector/gas/fees/gas_fees.sql
  dbt_subprojects/daily_spellbook/models/_sector/gas/fees/mantle/_schema.yml
  dbt_subprojects/daily_spellbook/models/_sector/gas/fees/mantle/gas_mantle_fees.sql
Labels: ready-for-merging

#6512 Fix bug in gas_ethereum.fees
  dbt_subprojects/daily_spellbook/models/_sector/gas/fees/ethereum/gas_ethereum_fees.sql
Labels: ready-for-merging, dune team, hotfix

#6514 Added CROWD token
  dbt_subprojects/tokens/models/prices/polygon/prices_polygon_tokens.sql
Labels: ready-for-merging

#6513 [quick] Metadata updates - Art Blocks
  dbt_subprojects/nft/models/nft_metrics/ethereum/metadata/nft_ethereum_metadata_art_blocks_collections.sql
  dbt_subprojects/nft/models/nft_metrics/ethereum/metadata/nft_ethereum_metadata_bright_moments.sql
Labels: ready-for-merging

#6507 add tokens to price & tokens list on Base
  dbt_subprojects/tokens/models/prices/base/prices_base_tokens.sql
  dbt_subprojects/tokens/models/tokens/base/tokens_base_erc20.sql
Labels: easy, ready-for-merging

#6503 add missing token to tokens.erc20
  dbt_subprojects/tokens/models/tokens/ethereum/tokens_ethereum_erc20.sql
Labels: easy, ready-for-merging

#6505 ZeroEx - add tag to deduped trades model
  dbt_subprojects/dex/models/_projects/zeroex/arbitrum/zeroex_arbitrum_settler_trades.sql
  dbt_subprojects/dex/models/_projects/zeroex/avalanche_c/zeroex_avalanche_c_settler_trades.sql
  dbt_subprojects/dex/models/_projects/zeroex/base/zeroex_base_settler_trades.sql
  dbt_subprojects/dex/models/_projects/zeroex/bnb/zeroex_bnb_settler_trades.sql
  dbt_subprojects/dex/models/_projects/zeroex/ethereum/zeroex_ethereum_settler_trades.sql
  dbt_subprojects/dex/models/_projects/zeroex/optimism/zeroex_optimism_settler_trades.sql
  dbt_subprojects/dex/models/_projects/zeroex/polygon/zeroex_polygon_settler_trades.sql
  dbt_subprojects/dex/models/_projects/zeroex/zeroex_api_fills_deduped.sql
Labels: ready-for-merging

#6496 Solana staking improvements
  dbt_subprojects/solana/models/_sector/staking/solana/_schema.yml
  dbt_subprojects/solana/models/_sector/staking/solana/staking_solana_schema.yml
  dbt_subprojects/solana/models/_sector/staking/solana/staking_solana_stake_account_delegations.sql
  dbt_subprojects/solana/models/_sector/staking/solana/staking_solana_validator_stake_account_epochs.sql
  dbt_subprojects/solana/models/_sector/staking/solana/staking_solana_validator_stake_account_epochs_raw.sql
  dbt_subprojects/solana/models/solana_utils/_schema.yml
  dbt_subprojects/solana/models/solana_utils/solana_utils_epochs.sql
  sources/_base_sources/solana_base_sources.yml
  sources/staking/solana/staking_solana_sources.yml
Labels: ready-for-merging

#6517 `gas.fees`: remove mantle for now
  dbt_subprojects/daily_spellbook/models/_sector/gas/fees/gas_fees.sql
  dbt_subprojects/daily_spellbook/models/_sector/gas/fees/mantle/gas_mantle_fees.sql
Labels: hotfix

#6518 make epochs table instead of incremental
  dbt_subprojects/solana/models/solana_utils/solana_utils_epochs.sql
Labels: ready-for-review

#6519 limit old magiceden model
  dbt_subprojects/solana/models/_sector/nft/old/magiceden_solana_events.sql
Labels: ready-for-merging, hotfix, NFT, solana

#6516 add new tokens to price list
  dbt_subprojects/tokens/models/prices/base/prices_base_tokens.sql
Labels: easy, ready-for-merging

#6515 Add Mode & Sei to EVMS Spells
  dbt_subprojects/daily_spellbook/models/evms/evms_blocks.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_contracts.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_creation_traces.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_erc1155_approvalsforall.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_erc1155_transfersbatch.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_erc1155_transferssingle.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_erc20_approvals.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_erc20_transfers.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_erc721_approvals.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_erc721_approvalsforall.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_erc721_transfers.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_logs.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_logs_decoded.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_schema.yml
  dbt_subprojects/daily_spellbook/models/evms/evms_traces.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_traces_decoded.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_transactions.sql
Labels: ready-for-merging

#6456 Add zksync to airdrops sector
  dbt_subprojects/daily_spellbook/models/_sector/airdrops/airdrop_claims.sql
  dbt_subprojects/daily_spellbook/models/_sector/airdrops/airdrop_info.sql
  dbt_subprojects/daily_spellbook/models/_sector/airdrops/airdrop_schema.yml
  dbt_subprojects/daily_spellbook/models/_sector/airdrops/zksync/_schema.yml
  dbt_subprojects/daily_spellbook/models/_sector/airdrops/zksync/airdrop_zksync_claims.sql
  dbt_subprojects/daily_spellbook/models/_sector/airdrops/zksync/projects/_schema.yml
  dbt_subprojects/daily_spellbook/models/_sector/airdrops/zksync/projects/zksync_zksync_airdrop_claims.sql
  sources/zksync/zksync_zksync_sources.yml
Labels: ready-for-merging

#6524 ZeroEx - Add "type" to new model
  dbt_subprojects/dex/models/_projects/zeroex/zeroex_api_fills_deduped.sql
Labels: ready-for-merging

#6520 Add fusionx mantle trades
  dbt_subprojects/dex/models/dex_info.sql
  dbt_subprojects/dex/models/trades/mantle/_schema.yml
  dbt_subprojects/dex/models/trades/mantle/dex_mantle_base_trades.sql
  dbt_subprojects/dex/models/trades/mantle/platforms/fusionx_mantle_base_trades.sql
  dbt_subprojects/dex/seeds/trades/_schema.yml
  dbt_subprojects/dex/seeds/trades/fusionx_mantle_base_trades_seed.csv
  sources/_sector/dex/trades/mantle/_sources.yml
Labels: ready-for-merging, dex

#6510 restore reverted paraswap methods
  dbt_subprojects/dex/macros/models/_project/paraswap/v6/paraswap_v6_maker_psm_method.sql
  dbt_subprojects/dex/macros/models/_project/paraswap/v6/paraswap_v6_rfq_method.sql
  dbt_subprojects/dex/macros/models/_project/paraswap/v6/paraswap_v6_trades_master.sql
  dbt_subprojects/dex/macros/models/_project/paraswap/v6/paraswap_v6_uniswaplike_method.sql
  dbt_subprojects/dex/models/_projects/paraswap/arbitrum/_schema.yml
  dbt_subprojects/dex/models/_projects/paraswap/arbitrum/paraswap_v6_arbitrum_trades.sql
  dbt_subprojects/dex/models/_projects/paraswap/arbitrum/paraswap_v6_arbitrum_trades_decoded.sql
  dbt_subprojects/dex/models/_projects/paraswap/avalanche_c/_schema.yml
  dbt_subprojects/dex/models/_projects/paraswap/avalanche_c/paraswap_v6_avalanche_c_trades.sql
  dbt_subprojects/dex/models/_projects/paraswap/avalanche_c/paraswap_v6_avalanche_c_trades_decoded.sql
  dbt_subprojects/dex/models/_projects/paraswap/base/_schema.yml
  dbt_subprojects/dex/models/_projects/paraswap/base/paraswap_v6_base_trades.sql
  dbt_subprojects/dex/models/_projects/paraswap/base/paraswap_v6_base_trades_decoded.sql
  dbt_subprojects/dex/models/_projects/paraswap/bnb/_schema.yml
  dbt_subprojects/dex/models/_projects/paraswap/bnb/paraswap_v6_bnb_trades.sql
  dbt_subprojects/dex/models/_projects/paraswap/bnb/paraswap_v6_bnb_trades_decoded.sql
  dbt_subprojects/dex/models/_projects/paraswap/ethereum/_schema.yml
  dbt_subprojects/dex/models/_projects/paraswap/ethereum/paraswap_v6_ethereum_trades.sql
  dbt_subprojects/dex/models/_projects/paraswap/ethereum/paraswap_v6_ethereum_trades_decoded.sql
  dbt_subprojects/dex/models/_projects/paraswap/fantom/_schema.yml
  dbt_subprojects/dex/models/_projects/paraswap/fantom/paraswap_v6_fantom_trades.sql
  dbt_subprojects/dex/models/_projects/paraswap/fantom/paraswap_v6_fantom_trades_decoded.sql
  dbt_subprojects/dex/models/_projects/paraswap/optimism/_schema.yml
  dbt_subprojects/dex/models/_projects/paraswap/optimism/paraswap_v6_optimism_trades.sql
  dbt_subprojects/dex/models/_projects/paraswap/optimism/paraswap_v6_optimism_trades_decoded.sql
  dbt_subprojects/dex/models/_projects/paraswap/polygon/_schema.yml
  dbt_subprojects/dex/models/_projects/paraswap/polygon/paraswap_v6_polygon_trades.sql
  dbt_subprojects/dex/models/_projects/paraswap/polygon/paraswap_v6_polygon_trades_decoded.sql
  sources/paraswap/arbitrum/paraswap_arbitrum_sources.yml
  sources/paraswap/avalanche_c/paraswap_avalanche_c_sources.yml
  sources/paraswap/base/paraswap_base_sources.yml
  sources/paraswap/bnb/paraswap_bnb_sources.yml
  sources/paraswap/ethereum/paraswap_ethereum_sources.yml
  sources/paraswap/fantom/paraswap_fantom_sources.yml
  sources/paraswap/optimism/paraswap_optimism_sources.yml
  sources/paraswap/polygon/paraswap_polygon_sources.yml
Labels: ready-for-merging, dex

#6492 Add blob submitters
  dbt_subprojects/hourly_spellbook/models/_sector/blobs/ethereum/blobs_submitters.sql
Labels: easy, ready-for-merging

#6447 `lending.supply` - add repay with atokens evt
  dbt_subprojects/hourly_spellbook/macros/sector/lending/lending_aave_compatible_supply.sql
  dbt_subprojects/hourly_spellbook/models/_sector/lending/supply/avalanche_c/lending_avalanche_c_base_supply.sql
  dbt_subprojects/hourly_spellbook/models/_sector/lending/supply/lending_base_supply.sql
  dbt_subprojects/hourly_spellbook/models/_sector/lending/supply/lending_supply.sql
Labels: ready-for-merging

#6391 Add Safe spells for scroll
  dbt_subprojects/hourly_spellbook/models/_project/safe/safe_native_transfers_all.sql
  dbt_subprojects/hourly_spellbook/models/_project/safe/safe_safes_all.sql
  dbt_subprojects/hourly_spellbook/models/_project/safe/safe_schema.yml
  dbt_subprojects/hourly_spellbook/models/_project/safe/safe_transactions_all.sql
  dbt_subprojects/hourly_spellbook/models/_project/safe/scroll/safe_scroll_eth_transfers.sql
  dbt_subprojects/hourly_spellbook/models/_project/safe/scroll/safe_scroll_safes.sql
  dbt_subprojects/hourly_spellbook/models/_project/safe/scroll/safe_scroll_schema.yml
  dbt_subprojects/hourly_spellbook/models/_project/safe/scroll/safe_scroll_singletons.sql
  dbt_subprojects/hourly_spellbook/models/_project/safe/scroll/safe_scroll_transactions.sql
  sources/safe/scroll/safe_scroll_sources.yml
Labels: ready-for-merging

#6521 Nexus Mutual - update products
  dbt_subprojects/daily_spellbook/models/nexusmutual/ethereum/covers/nexusmutual_ethereum_covers_v2.sql
  dbt_subprojects/daily_spellbook/models/nexusmutual/ethereum/covers/nexusmutual_ethereum_product_types_v2.sql
  dbt_subprojects/daily_spellbook/models/nexusmutual/ethereum/covers/nexusmutual_ethereum_products_v2.sql
  sources/nexusmutual/ethereum/nexusmutual_ethereum_sources.yml
Labels: ready-for-merging

#6493 Add Aave v3 Lido market to lending sector
  dbt_subprojects/hourly_spellbook/models/_sector/lending/borrow/ethereum/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/lending/borrow/ethereum/lending_ethereum_base_borrow.sql
  dbt_subprojects/hourly_spellbook/models/_sector/lending/borrow/ethereum/platforms/aave_lido_v3_ethereum_base_borrow.sql
  dbt_subprojects/hourly_spellbook/models/_sector/lending/flashloans/ethereum/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/lending/flashloans/ethereum/lending_ethereum_base_flashloans.sql
  dbt_subprojects/hourly_spellbook/models/_sector/lending/flashloans/ethereum/platforms/aave_lido_v3_ethereum_base_flashloans.sql
  dbt_subprojects/hourly_spellbook/models/_sector/lending/supply/ethereum/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/lending/supply/ethereum/lending_ethereum_base_supply.sql
  dbt_subprojects/hourly_spellbook/models/_sector/lending/supply/ethereum/platforms/aave_lido_v3_ethereum_base_supply.sql
  dbt_subprojects/hourly_spellbook/seeds/_sector/lending/_schema.yml
  dbt_subprojects/hourly_spellbook/seeds/_sector/lending/aave_lido_ethereum_base_borrow_seed.csv
  dbt_subprojects/hourly_spellbook/seeds/_sector/lending/aave_lido_ethereum_base_flashloans_seed.csv
  dbt_subprojects/hourly_spellbook/seeds/_sector/lending/aave_lido_ethereum_base_supply_seed.csv
  sources/_sector/lending/borrow/ethereum/_sources.yml
  sources/_sector/lending/flashloans/ethereum/_sources.yml
  sources/_sector/lending/supply/ethereum/_sources.yml
Labels: ready-for-merging

#6533 Init dex_nova_base_trades
  dbt_subprojects/dex/models/dex_info.sql
  dbt_subprojects/dex/models/trades/nova/_schema.yml
  dbt_subprojects/dex/models/trades/nova/dex_nova_base_trades.sql
  dbt_subprojects/dex/models/trades/nova/platforms/rcpswap_nova_base_trades.sql
  dbt_subprojects/dex/models/trades/nova/platforms/sushiswap_nova_base_trades.sql
  dbt_subprojects/dex/seeds/trades/_schema.yml
  dbt_subprojects/dex/seeds/trades/rcpswap_nova_base_trades_seed.csv
  dbt_subprojects/dex/seeds/trades/sushiswap_nova_base_trades_seed.csv
  sources/_sector/dex/trades/nova/_sources.yml
Labels: ready-for-merging, dex

#6530 ZeroEx - settler trades - remove incremental filter for settler addresses
  dbt_subprojects/dex/models/_projects/zeroex/arbitrum/zeroex_arbitrum_settler_trades.sql
  dbt_subprojects/dex/models/_projects/zeroex/avalanche_c/zeroex_avalanche_c_settler_trades.sql
  dbt_subprojects/dex/models/_projects/zeroex/base/zeroex_base_settler_trades.sql
  dbt_subprojects/dex/models/_projects/zeroex/bnb/zeroex_bnb_settler_trades.sql
  dbt_subprojects/dex/models/_projects/zeroex/ethereum/zeroex_ethereum_settler_trades.sql
  dbt_subprojects/dex/models/_projects/zeroex/optimism/zeroex_optimism_settler_trades.sql
  dbt_subprojects/dex/models/_projects/zeroex/polygon/zeroex_polygon_settler_trades.sql
Labels: ready-for-merging

#6535 add nova to `dex.trades`
  dbt_subprojects/dex/models/trades/dex_base_trades.sql
  dbt_subprojects/dex/models/trades/dex_trades.sql
Labels: dex

#6532 blockchain metrics: renames + cross chain evm model
  dbt_subprojects/hourly_spellbook/macros/blockchain_transaction_metrics.sql
  dbt_subprojects/hourly_spellbook/models/_sector/blockchain_metrics/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/blockchain_metrics/arbitrum/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/blockchain_metrics/arbitrum/arbitrum_transaction_metrics.sql
  dbt_subprojects/hourly_spellbook/models/_sector/blockchain_metrics/avalanche_c/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/blockchain_metrics/avalanche_c/avalanche_c_transaction_metrics.sql
  dbt_subprojects/hourly_spellbook/models/_sector/blockchain_metrics/base/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/blockchain_metrics/base/base_transaction_metrics.sql
  dbt_subprojects/hourly_spellbook/models/_sector/blockchain_metrics/blast/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/blockchain_metrics/blast/blast_transaction_metrics.sql
  dbt_subprojects/hourly_spellbook/models/_sector/blockchain_metrics/bnb/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/blockchain_metrics/bnb/bnb_transaction_metrics.sql
  dbt_subprojects/hourly_spellbook/models/_sector/blockchain_metrics/celo/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/blockchain_metrics/celo/celo_transaction_metrics.sql
  dbt_subprojects/hourly_spellbook/models/_sector/blockchain_metrics/ethereum/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/blockchain_metrics/ethereum/ethereum_transaction_metrics.sql
  dbt_subprojects/hourly_spellbook/models/_sector/blockchain_metrics/evms_transaction_metrics.sql
  dbt_subprojects/hourly_spellbook/models/_sector/blockchain_metrics/fantom/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/blockchain_metrics/fantom/fantom_transaction_metrics.sql
  dbt_subprojects/hourly_spellbook/models/_sector/blockchain_metrics/gnosis/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/blockchain_metrics/gnosis/gnosis_transaction_metrics.sql
  dbt_subprojects/hourly_spellbook/models/_sector/blockchain_metrics/linea/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/blockchain_metrics/linea/linea_transaction_metrics.sql
  dbt_subprojects/hourly_spellbook/models/_sector/blockchain_metrics/mantle/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/blockchain_metrics/mantle/mantle_transaction_metrics.sql
  dbt_subprojects/hourly_spellbook/models/_sector/blockchain_metrics/optimism/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/blockchain_metrics/optimism/optimism_transaction_metrics.sql
  dbt_subprojects/hourly_spellbook/models/_sector/blockchain_metrics/polygon/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/blockchain_metrics/polygon/polygon_transaction_metrics.sql
  dbt_subprojects/hourly_spellbook/models/_sector/blockchain_metrics/scroll/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/blockchain_metrics/scroll/scroll_transaction_metrics.sql
  dbt_subprojects/hourly_spellbook/models/_sector/blockchain_metrics/sei/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/blockchain_metrics/sei/sei_transaction_metrics.sql
  dbt_subprojects/hourly_spellbook/models/_sector/blockchain_metrics/zkevm/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/blockchain_metrics/zkevm/zkevm_transaction_metrics.sql
  dbt_subprojects/hourly_spellbook/models/_sector/blockchain_metrics/zksync/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/blockchain_metrics/zksync/zksync_transaction_metrics.sql
  dbt_subprojects/hourly_spellbook/models/_sector/blockchain_metrics/zora/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/blockchain_metrics/zora/zora_transaction_metrics.sql
Labels: ready-for-merging, dune team

#6531 Update cow_protocol_ethereum_app_data.sql
  dbt_subprojects/hourly_spellbook/models/_project/cow_protocol/ethereum/cow_protocol_ethereum_app_data.sql
Labels: ready-for-merging

#6498 Add Safe Optimism Balances
  dbt_subprojects/hourly_spellbook/models/_project/safe/optimism/safe_optimism_balances.sql
  dbt_subprojects/hourly_spellbook/models/_project/safe/optimism/safe_optimism_schema.yml
  sources/_subprojects_outputs/tokens/balances.yml
Labels: ready-for-merging

#6480 Gnosis transfers v2
  dbt_subprojects/tokens/macros/transfers/transfers_base.sql
  dbt_subprojects/tokens/models/transfers_and_balances/gnosis/_schema.yml
  dbt_subprojects/tokens/models/transfers_and_balances/gnosis/tokens_gnosis_base_full_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/gnosis/tokens_gnosis_base_non_standard_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/gnosis/tokens_gnosis_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/gnosis/tokens_gnosis_base_without_suicide_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/gnosis/tokens_gnosis_suicide_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/gnosis/tokens_gnosis_transfers.sql
  sources/transfers/gnosis/transfers_gnosis_erc20_sources.yml
Labels: ready-for-merging

#6477 DUX-540 A simple threshold fix for transfers
  dbt_subprojects/tokens/macros/transfers/transfers_enrich.sql
Labels: ready-for-merging, hotfix

#6459 fix double count bug transfers for `zksync`, update native contract address on other chains
  dbt_subprojects/tokens/macros/transfers/transfers_base.sql
  dbt_subprojects/tokens/models/transfers_and_balances/arbitrum/tokens_arbitrum_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/ethereum/tokens_ethereum_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/linea/tokens_linea_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/scroll/tokens_scroll_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/zkevm/tokens_zkevm_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/zksync/tokens_zksync_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/zksync/tokens_zksync_transfers.sql
Labels: ready-for-merging

#6325 Dex trades uint256
  dbt_subprojects/dex/models/trades/dex_base_trades.sql
Labels: ready-for-merging, dex

#6528 Add agni_mantle_base_trades
  dbt_subprojects/dex/models/dex_info.sql
  dbt_subprojects/dex/models/trades/mantle/_schema.yml
  dbt_subprojects/dex/models/trades/mantle/dex_mantle_base_trades.sql
  dbt_subprojects/dex/models/trades/mantle/platforms/agni_mantle_base_trades.sql
  dbt_subprojects/dex/seeds/trades/_schema.yml
  dbt_subprojects/dex/seeds/trades/agni_mantle_base_trades_seed.csv
Labels: ready-for-merging, dex

#6538 zeroex - settler trade update
  dbt_subprojects/dex/models/_projects/zeroex/arbitrum/zeroex_arbitrum_settler_trades.sql
  dbt_subprojects/dex/models/_projects/zeroex/avalanche_c/zeroex_avalanche_c_settler_trades.sql
  dbt_subprojects/dex/models/_projects/zeroex/base/zeroex_base_settler_trades.sql
  dbt_subprojects/dex/models/_projects/zeroex/bnb/zeroex_bnb_settler_trades.sql
  dbt_subprojects/dex/models/_projects/zeroex/ethereum/zeroex_ethereum_settler_trades.sql
  dbt_subprojects/dex/models/_projects/zeroex/optimism/zeroex_optimism_settler_trades.sql
  dbt_subprojects/dex/models/_projects/zeroex/polygon/zeroex_polygon_settler_trades.sql
Labels: ready-for-merging

#6545 Revert transfers merges from today
  dbt_subprojects/tokens/macros/transfers/transfers_base.sql
  dbt_subprojects/tokens/macros/transfers/transfers_base_wrapped_token.sql
  dbt_subprojects/tokens/macros/transfers/transfers_enrich.sql
  dbt_subprojects/tokens/models/transfers_and_balances/arbitrum/tokens_arbitrum_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/arbitrum/tokens_arbitrum_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/avalanche_c/tokens_avalanche_c_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/avalanche_c/tokens_avalanche_c_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/base/tokens_base_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/base/tokens_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/blast/tokens_blast_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/blast/tokens_blast_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/bnb/tokens_bnb_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/bnb/tokens_bnb_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/celo/tokens_celo_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/celo/tokens_celo_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/ethereum/tokens_ethereum_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/ethereum/tokens_ethereum_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/fantom/tokens_fantom_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/fantom/tokens_fantom_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/gnosis/_schema.yml
  dbt_subprojects/tokens/models/transfers_and_balances/gnosis/tokens_gnosis_base_full_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/gnosis/tokens_gnosis_base_non_standard_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/gnosis/tokens_gnosis_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/gnosis/tokens_gnosis_base_without_suicide_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/gnosis/tokens_gnosis_suicide_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/gnosis/tokens_gnosis_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/linea/tokens_linea_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/linea/tokens_linea_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/mantle/tokens_mantle_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/mantle/tokens_mantle_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/optimism/tokens_optimism_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/optimism/tokens_optimism_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/polygon/tokens_polygon_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/polygon/tokens_polygon_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/scroll/tokens_scroll_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/scroll/tokens_scroll_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/zkevm/tokens_zkevm_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/zkevm/tokens_zkevm_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/zksync/tokens_zksync_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/zksync/tokens_zksync_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/zora/tokens_zora_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/zora/tokens_zora_transfers.sql
  sources/transfers/gnosis/transfers_gnosis_erc20_sources.yml
Labels: hotfix

#6539 Add block_time and block_slot to solana_utils balances
  dbt_subprojects/solana/models/solana_utils/solana_utils_daily_balances.sql
  dbt_subprojects/solana/models/solana_utils/solana_utils_latest_balances.sql
Labels: ready-for-merging

#6541 Remove price for old GALA token
  dbt_subprojects/tokens/models/prices/ethereum/prices_ethereum_tokens.sql
Labels: ready-for-merging

#6555 Add tokens to CELO
  dbt_subprojects/tokens/models/prices/celo/prices_celo_tokens.sql
Labels: easy, ready-for-merging

#6553 Added SPIRIT token
  dbt_subprojects/tokens/models/prices/fantom/prices_fantom_tokens.sql
Labels: easy, ready-for-merging

#6558 fix tokens.transfers union
  dbt_subprojects/tokens/models/transfers_and_balances/tokens_transfers.sql
Labels: dune team, hotfix

#6557 fix curve duplicate pools
  dbt_subprojects/dex/models/_projects/curvefi/ethereum/curvefi_ethereum_view_pools.sql
Labels: dune team, hotfix

#6542 Nexus Mutual - add new chainlink oracle address
  dbt_subprojects/daily_spellbook/models/chainlink/ethereum/chainlink_ethereum_price_feeds_oracle_addresses.sql
  dbt_subprojects/daily_spellbook/models/nexusmutual/ethereum/capital_pool/nexusmutual_ethereum_capital_pool_totals.sql
  dbt_subprojects/daily_spellbook/models/nexusmutual/ethereum/capital_pool/nexusmutual_ethereum_capital_pool_transfers.sql
Labels: ready-for-merging

#6548 reconcille Seaport forks macros
  dbt_subprojects/nft/macros/platforms/seaport_v3_fork_trades.sql
  dbt_subprojects/nft/macros/platforms/seaport_v3_trades.sql
  dbt_subprojects/nft/macros/platforms/seaport_v4_fork_trades.sql
  dbt_subprojects/nft/macros/platforms/seaport_v4_trades.sql
  dbt_subprojects/nft/models/_sector/trades/MIGRATION.md
  dbt_subprojects/nft/models/_sector/trades/chains/old/nft_old_base_trades.sql
  dbt_subprojects/nft/models/_sector/trades/chains/old/platforms/_schema.yml
  dbt_subprojects/nft/models/_sector/trades/chains/old/platforms/quix_optimism_schema.yml
  dbt_subprojects/nft/models/_sector/trades/chains/optimism/nft_optimism_base_trades.sql
  dbt_subprojects/nft/models/_sector/trades/chains/optimism/platforms/_schema.yml
  dbt_subprojects/nft/models/_sector/trades/chains/optimism/platforms/nftearth_optimism_base_trades.sql
  dbt_subprojects/nft/models/_sector/trades/chains/optimism/platforms/quix_seaport_optimism_base_trades.sql
  dbt_subprojects/nft/models/_sector/trades/chains/polygon/nft_polygon_base_trades.sql
  dbt_subprojects/nft/models/_sector/trades/chains/polygon/platforms/_schema.yml
  dbt_subprojects/nft/models/_sector/trades/chains/polygon/platforms/mooar_polygon_base_trades.sql
  dbt_subprojects/nft/models/_sector/trades/chains/polygon/platforms/oneplanet_polygon_base_trades.sql
  dbt_subprojects/nft/models/_sector/trades/nft_base_trades.sql
Labels: ready-for-merging, dune team, NFT

#6559 Arbitrum Nova nft.trades
  dbt_subprojects/nft/models/_sector/trades/chains/nova/nft_nova_base_trades.sql
  dbt_subprojects/nft/models/_sector/trades/chains/nova/platforms/_schema.yml
  dbt_subprojects/nft/models/_sector/trades/chains/nova/platforms/king_of_destiny_nova_base_trades.sql
  dbt_subprojects/nft/models/_sector/trades/chains/nova/platforms/opensea_v3_nova_base_trades.sql
  dbt_subprojects/nft/models/_sector/trades/chains/nova/platforms/opensea_v4_nova_base_trades.sql
  dbt_subprojects/nft/models/_sector/trades/nft_base_trades.sql
  dbt_subprojects/nft/models/_sector/trades/schema.yml
  sources/king_of_destiny/king_of_destiny_nova_sources.yml
  sources/seaport/seaport_arbitrum_sources.yml
  sources/seaport/seaport_avalanche_c_sources.yml
  sources/seaport/seaport_base_sources.yml
  sources/seaport/seaport_blast_sources.yml
  sources/seaport/seaport_bnb_sources.yml
  sources/seaport/seaport_ethereum_sources.yml
  sources/seaport/seaport_nova_sources.yml
  sources/seaport/seaport_optimism_sources.yml
  sources/seaport/seaport_polygon_sources.yml
  sources/seaport/seaport_zora_sources.yml
Labels: ready-for-merging, NFT

#6343 Meteora and GooseFX changes
  dbt_subprojects/solana/models/_sector/dex/_schema.yml
  dbt_subprojects/solana/models/_sector/dex/dex_solana_base_trades.sql
  dbt_subprojects/solana/models/_sector/dex/dex_solana_trades.sql
  dbt_subprojects/solana/models/_sector/dex/goosefx/_schema.yml
  dbt_subprojects/solana/models/_sector/dex/goosefx/goosefx_ssl_v2_solana_base_trades.sql
  dbt_subprojects/solana/models/_sector/dex/goosefx/goosefx_ssl_v2_solana_trades.sql
  dbt_subprojects/solana/models/_sector/dex/meteora/_schema.yml
  dbt_subprojects/solana/models/_sector/dex/meteora/meteora_v1_solana_base_trades.sql
  dbt_subprojects/solana/models/_sector/dex/meteora/meteora_v1_solana_trades.sql
  dbt_subprojects/solana/models/_sector/dex/meteora/meteora_v2_solana_base_trades.sql
  dbt_subprojects/solana/models/_sector/dex/meteora/meteora_v2_solana_trades.sql
Labels: ready-for-merging, solana

#6567 Add base blockchain to xchange trades
  dbt_subprojects/dex/models/_projects/xchange/xchange_trades.sql
  dbt_subprojects/dex/models/trades/base/_schema.yml
  dbt_subprojects/dex/models/trades/base/dex_base_base_trades.sql
  dbt_subprojects/dex/models/trades/base/platforms/xchange_base_base_trades.sql
  dbt_subprojects/dex/seeds/trades/_schema.yml
  dbt_subprojects/dex/seeds/trades/xchange_base_base_trades_seed.csv
  sources/_sector/dex/trades/base/_sources.yml
Labels: ready-for-merging, dex

#6560 add balancer_cowswap_amm spells to balancer models
  dbt_subprojects/dex/models/_projects/balancer/trades/ethereum/balancer_ethereum_trades.sql
  dbt_subprojects/dex/models/_projects/balancer/trades/gnosis/balancer_gnosis_trades.sql
  dbt_subprojects/dex/models/_projects/balancer_cowswap_amm/_schema.yml
  dbt_subprojects/dex/models/_projects/balancer_cowswap_amm/balancer_cowswap_amm_balances.sql
  dbt_subprojects/dex/models/_projects/balancer_cowswap_amm/balancer_cowswap_amm_liquidity.sql
  dbt_subprojects/dex/models/_projects/balancer_cowswap_amm/balancer_cowswap_amm_trades.sql
  dbt_subprojects/dex/models/_projects/balancer_cowswap_amm/ethereum/_schema.yml
  dbt_subprojects/dex/models/_projects/balancer_cowswap_amm/ethereum/balancer_cowswap_amm_ethereum_balances.sql
  dbt_subprojects/dex/models/_projects/balancer_cowswap_amm/ethereum/balancer_cowswap_amm_ethereum_liquidity.sql
  dbt_subprojects/dex/models/_projects/balancer_cowswap_amm/ethereum/balancer_cowswap_amm_ethereum_trades.sql
  dbt_subprojects/dex/models/_projects/balancer_cowswap_amm/ethereum/labels_balancer_cowswap_amm_pools_ethereum.sql
  dbt_subprojects/dex/models/_projects/balancer_cowswap_amm/gnosis/_schema.yml
  dbt_subprojects/dex/models/_projects/balancer_cowswap_amm/gnosis/balancer_cowswap_amm_gnosis_balances.sql
  dbt_subprojects/dex/models/_projects/balancer_cowswap_amm/gnosis/balancer_cowswap_amm_gnosis_liquidity.sql
  dbt_subprojects/dex/models/_projects/balancer_cowswap_amm/gnosis/balancer_cowswap_amm_gnosis_trades.sql
  dbt_subprojects/dex/models/_projects/balancer_cowswap_amm/gnosis/labels_balancer_cowswap_amm_pools_gnosis.sql
  dbt_subprojects/dex/models/_projects/balancer_cowswap_amm/labels_balancer_cowswap_amm_pools.sql
  sources/_subprojects_outputs/dex/_sources.yml
Labels: dex

#6576 New Metadata Spells
  dbt_subprojects/nft/models/nft_metrics/ethereum/metadata/nft_ethereum_metadata_schema.yml
  dbt_subprojects/nft/models/nft_metrics/ethereum/metadata/nft_ethereum_metadata_xcopy_collections.sql
  dbt_subprojects/nft/models/nft_metrics/ethereum/metadata/nft_ethereum_metadata_xcopy_full_list.sql
  dbt_subprojects/nft/models/nft_metrics/ethereum/metadata/nft_ethereum_metadata_xcopy_nonsequential_tokens.sql
Labels: ready-for-merging

#6590 DUX-620 cleanup and fix data explorer entries
  dbt_subprojects/nft/models/nft_metrics/ethereum/metadata/nft_ethereum_metadata_xcopy_collections.sql
  dbt_subprojects/nft/models/nft_metrics/ethereum/metadata/nft_ethereum_metadata_xcopy_nonsequential_tokens.sql
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/dex_solana_bot_trades.sql
  dbt_subprojects/solana/models/_sector/dex/dex_solana_base_trades.sql
  dbt_subprojects/solana/models/_sector/dex/dex_solana_price_hour.sql
  dbt_subprojects/solana/models/_sector/dex/dex_solana_trades.sql
  dbt_subprojects/solana/models/_sector/dex/phoenix/phoenix_v1_base_trades.sql
  dbt_subprojects/solana/models/_sector/dex/phoenix/phoenix_v1_trades.sql
  dbt_subprojects/solana/models/tokens/solana/_schema.yml
  dbt_subprojects/solana/models/tokens/solana/_sources.yml
  dbt_subprojects/solana/models/tokens/solana/tokens_solana.sources.yml
  dbt_subprojects/solana/models/tokens/solana/tokens_solana_fees_history.sql
  dbt_subprojects/solana/models/tokens/solana/tokens_solana_fungible.sql
  dbt_subprojects/solana/models/tokens/solana/tokens_solana_nft.sql
  dbt_subprojects/solana/models/tokens/solana/tokens_solana_transfers.sql
Labels: ready-for-merging, hotfix

#6583 Integrating balancer_cowswap_amm spells into balancer, round 2
  dbt_subprojects/dex/models/_projects/balancer_cowswap_amm/_schema.yml
  dbt_subprojects/dex/models/_projects/balancer_cowswap_amm/ethereum/_schema.yml
  dbt_subprojects/dex/models/_projects/balancer_cowswap_amm/gnosis/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_project/balancer/liquidity/balancer_liquidity.sql
  dbt_subprojects/hourly_spellbook/models/_project/balancer_cowswap_amm/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_project/balancer_cowswap_amm/balancer_cowswap_amm_balances.sql
  dbt_subprojects/hourly_spellbook/models/_project/balancer_cowswap_amm/balancer_cowswap_amm_liquidity.sql
  dbt_subprojects/hourly_spellbook/models/_project/balancer_cowswap_amm/ethereum/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_project/balancer_cowswap_amm/ethereum/balancer_cowswap_amm_ethereum_balances.sql
  dbt_subprojects/hourly_spellbook/models/_project/balancer_cowswap_amm/ethereum/balancer_cowswap_amm_ethereum_liquidity.sql
  dbt_subprojects/hourly_spellbook/models/_project/balancer_cowswap_amm/gnosis/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_project/balancer_cowswap_amm/gnosis/balancer_cowswap_amm_gnosis_balances.sql
  dbt_subprojects/hourly_spellbook/models/_project/balancer_cowswap_amm/gnosis/balancer_cowswap_amm_gnosis_liquidity.sql
Labels: ready-for-merging

#6547 Add Polygon Safe TVL Balances spell
  dbt_subprojects/hourly_spellbook/models/_project/safe/polygon/safe_polygon_balances.sql
  dbt_subprojects/hourly_spellbook/models/_project/safe/polygon/safe_polygon_schema.yml
  sources/_subprojects_outputs/tokens/balances.yml
Labels: ready-for-merging

#6580 add blast & mantle to multichain first_funded_by spell
  dbt_subprojects/daily_spellbook/models/addresses_events/addresses_events_first_funded_by.sql
Labels: ready-for-merging

#6591 fix curve view on top of `dex.trades` and standardize naming standard in lineage
  dbt_subprojects/dex/models/_projects/curvefi/curve_trades.sql
  dbt_subprojects/dex/models/_projects/curvefi/ethereum/_schema.yml
  dbt_subprojects/dex/models/_projects/curvefi/ethereum/curve_ethereum_pool_details.sql
  dbt_subprojects/dex/models/_projects/curvefi/ethereum/curve_ethereum_view_pools.sql
  dbt_subprojects/dex/models/_projects/curvefi/optimism/_schema.yml
  dbt_subprojects/dex/models/_projects/curvefi/optimism/curve_optimism_pools.sql
  dbt_subprojects/dex/models/_projects/dex_trades_views_schema.yml
  dbt_subprojects/dex/models/trades/dex_trades.sql
  dbt_subprojects/dex/models/trades/ethereum/_schema.yml
  dbt_subprojects/dex/models/trades/ethereum/dex_ethereum_base_trades.sql
  dbt_subprojects/dex/models/trades/ethereum/platforms/curve_ethereum_base_trades.sql
  dbt_subprojects/dex/models/trades/optimism/_schema.yml
  dbt_subprojects/dex/models/trades/optimism/dex_optimism_base_trades.sql
  dbt_subprojects/dex/models/trades/optimism/platforms/curve_optimism_base_trades.sql
Labels: ready-for-merging, hotfix

#6598 fix col description find replace accident
  sources/_base_sources/evm/arbitrum_base_sources.yml
  sources/_base_sources/evm/avalanche_c_base_sources.yml
  sources/_base_sources/evm/blast_base_sources.yml
  sources/_base_sources/evm/bnb_base_sources.yml
  sources/_base_sources/evm/bob_base_sources.yml
  sources/_base_sources/evm/celo_base_sources.yml
  sources/_base_sources/evm/degen_base_sources.yml
  sources/_base_sources/evm/ethereum_base_sources.yml
  sources/_base_sources/evm/fantom_base_sources.yml
  sources/_base_sources/evm/gnosis_base_sources.yml
  sources/_base_sources/evm/goerli_base_sources.yml
  sources/_base_sources/evm/linea_base_sources.yml
  sources/_base_sources/evm/mantle_base_sources.yml
  sources/_base_sources/evm/mode_base_sources.yml
  sources/_base_sources/evm/optimism_base_sources.yml
  sources/_base_sources/evm/polygon_base_sources.yml
  sources/_base_sources/evm/scroll_base_sources.yml
  sources/_base_sources/evm/sei_base_sources.yml
  sources/_base_sources/evm/zkevm_base_sources.yml
  sources/_base_sources/evm/zksync_base_sources.yml
  sources/_base_sources/evm/zora_base_sources.yml
Labels: documentation, easy

#6595 Add more docs slugs
  dbt_subprojects/daily_spellbook/models/_sector/labels/_schema.yml
  dbt_subprojects/dex/models/aggregator_trades/_schema.yml
  dbt_subprojects/dex/models/sandwiches/_schema.yml
  dbt_subprojects/dex/models/trades/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/prices/prices_schema.yml
  dbt_subprojects/nft/models/_sector/mints/_schema.yml
  dbt_subprojects/nft/models/_sector/trades/schema.yml
  dbt_subprojects/nft/models/_sector/wash_trades/_schema.yml
  dbt_subprojects/solana/models/_sector/dex/_schema.yml
  dbt_subprojects/solana/models/jupiter/jupiter_solana_schema.yml
  dbt_subprojects/tokens/models/transfers_and_balances/tokens_schema.yml
  sources/_datasets/labels/_sources.yml
  sources/prices/prices_sources.yml
Labels: easy, ready-for-merging

#6611 `tokens.transfers` update model schema to models, not sources
  dbt_subprojects/tokens/models/transfers_and_balances/_schema.yml
  dbt_subprojects/tokens/models/transfers_and_balances/tokens_schema.yml
Labels: hotfix

#6612 jupiter partition column: cast as date
  dbt_subprojects/solana/models/jupiter/jupiter_solana_aggregator_swaps.sql
Labels: ready-for-merging, hotfix

#6619 dodo bnb: exclude from prod due to dupes
  dbt_subprojects/dex/models/trades/bnb/platforms/dodo_bnb_base_trades.sql
Labels: hotfix, dex

#6604 Fix typo update README.md
  README.md
Labels: ready-for-merging

#6617 add missing tokens to tokens.erc20
  dbt_subprojects/tokens/models/tokens/arbitrum/tokens_arbitrum_erc20.sql
  dbt_subprojects/tokens/models/tokens/ethereum/tokens_ethereum_erc20.sql
  dbt_subprojects/tokens/models/tokens/optimism/tokens_optimism_erc20_curated.sql
Labels: ready-for-merging

#6602 Updating prices.usd with Covalent new token CXT
  dbt_subprojects/tokens/models/prices/ethereum/prices_ethereum_tokens.sql
Labels: easy, ready-for-merging

#6614 add base tokens to price list
  dbt_subprojects/tokens/models/prices/base/prices_base_tokens.sql
Labels: easy, ready-for-merging

#6623 Update ZKsync Era `rollup.economics` for v24 (shared bridge) upgrade
  dbt_subprojects/hourly_spellbook/models/_sector/rollup_economics/ethereum/l1_data_fees/chains/rollup_economics_zksync_l1_data_fees.sql
  dbt_subprojects/hourly_spellbook/models/_sector/rollup_economics/ethereum/l1_verification_fees/chains/rollup_economics_zksync_l1_verification_fees.sql
Labels: easy, ready-for-merging

#6495 Patch to compound v3 borrows
  dbt_subprojects/daily_spellbook/dbt_project.yml
  dbt_subprojects/daily_spellbook/models/rocifi/polygon/_schema.yml
  dbt_subprojects/daily_spellbook/models/rocifi/polygon/rocifi_polygon_test_addresses.sql
  dbt_subprojects/hourly_spellbook/macros/sector/lending/lending_compound_compatible_borrow.sql
  dbt_subprojects/hourly_spellbook/macros/sector/lending/lending_compound_compatible_supply.sql
  dbt_subprojects/hourly_spellbook/models/_sector/lending/borrow/arbitrum/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/lending/borrow/base/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/lending/borrow/base/platforms/compound_v3_base_base_borrow.sql
  dbt_subprojects/hourly_spellbook/models/_sector/lending/borrow/ethereum/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/lending/borrow/ethereum/platforms/compound_v3_ethereum_base_borrow.sql
  dbt_subprojects/hourly_spellbook/models/_sector/lending/borrow/polygon/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/lending/ctokens/compound_v3_arbitrum_ctokens.sql
  dbt_subprojects/hourly_spellbook/models/_sector/lending/ctokens/compound_v3_base_ctokens.sql
  dbt_subprojects/hourly_spellbook/models/_sector/lending/ctokens/compound_v3_ethereum_ctokens.sql
  dbt_subprojects/hourly_spellbook/models/_sector/lending/ctokens/compound_v3_polygon_ctokens.sql
  dbt_subprojects/hourly_spellbook/models/_sector/lending/supply/arbitrum/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/lending/supply/base/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/lending/supply/base/platforms/compound_v3_base_base_supply.sql
  dbt_subprojects/hourly_spellbook/models/_sector/lending/supply/ethereum/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/lending/supply/ethereum/platforms/compound_v3_ethereum_base_supply.sql
  dbt_subprojects/hourly_spellbook/models/_sector/lending/supply/polygon/_schema.yml
  dbt_subprojects/hourly_spellbook/seeds/_sector/lending/compound_arbitrum_base_borrow_seed.csv
  dbt_subprojects/hourly_spellbook/seeds/_sector/lending/compound_arbitrum_base_supply_seed.csv
  dbt_subprojects/hourly_spellbook/seeds/_sector/lending/compound_base_base_borrow_seed.csv
  dbt_subprojects/hourly_spellbook/seeds/_sector/lending/compound_base_base_supply_seed.csv
  dbt_subprojects/hourly_spellbook/seeds/_sector/lending/compound_ethereum_base_borrow_seed.csv
  dbt_subprojects/hourly_spellbook/seeds/_sector/lending/compound_ethereum_base_supply_seed.csv
  dbt_subprojects/hourly_spellbook/seeds/_sector/lending/compound_polygon_base_borrow_seed.csv
  dbt_subprojects/hourly_spellbook/seeds/_sector/lending/compound_polygon_base_supply_seed.csv
  sources/_sector/lending/borrow/base/_sources.yml
  sources/_sector/lending/borrow/ethereum/_sources.yml
  sources/_sector/lending/supply/base/_sources.yml
  sources/_sector/lending/supply/ethereum/_sources.yml
Labels: ready-for-merging

#6549 Apply macro to safe spells (part1)
  dbt_subprojects/hourly_spellbook/macros/project/safe_native_transfers.sql
  dbt_subprojects/hourly_spellbook/models/_project/safe/arbitrum/safe_arbitrum_eth_transfers.sql
  dbt_subprojects/hourly_spellbook/models/_project/safe/avalanche_c/safe_avalanche_c_avax_transfers.sql
  dbt_subprojects/hourly_spellbook/models/_project/safe/base/safe_base_eth_transfers.sql
  dbt_subprojects/hourly_spellbook/models/_project/safe/blast/safe_blast_eth_transfers.sql
  dbt_subprojects/hourly_spellbook/models/_project/safe/bnb/safe_bnb_bnb_transfers.sql
  dbt_subprojects/hourly_spellbook/models/_project/safe/celo/safe_celo_celo_transfers.sql
  dbt_subprojects/hourly_spellbook/models/_project/safe/ethereum/safe_ethereum_eth_transfers.sql
  dbt_subprojects/hourly_spellbook/models/_project/safe/gnosis/safe_gnosis_xdai_transfers.sql
  dbt_subprojects/hourly_spellbook/models/_project/safe/goerli/safe_goerli_eth_transfers.sql
  dbt_subprojects/hourly_spellbook/models/_project/safe/linea/safe_linea_eth_transfers.sql
  dbt_subprojects/hourly_spellbook/models/_project/safe/optimism/safe_optimism_eth_transfers.sql
  dbt_subprojects/hourly_spellbook/models/_project/safe/polygon/safe_polygon_matic_transfers.sql
  dbt_subprojects/hourly_spellbook/models/_project/safe/scroll/safe_scroll_eth_transfers.sql
  dbt_subprojects/hourly_spellbook/models/_project/safe/zkevm/safe_zkevm_matic_transfers.sql
  dbt_subprojects/hourly_spellbook/models/_project/safe/zksync/safe_zksync_eth_transfers.sql
Labels: ready-for-merging

#6607 Add more chains to `abi_signatures`
  dbt_subprojects/hourly_spellbook/models/_sector/abi/abi_signatures.sql
  sources/abi/signatures_sources.yml
Labels: easy, ready-for-merging

#6616 add missing column in tirador_solana_bot_trades to fix dex_solana_bot_trades
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/platforms/tirador_solana_bot_trades.sql
Labels: ready-for-merging, hotfix, solana

#6196 Create `dex_solana.sandwiches` & `dex_solana.sandwiched`
  dbt_subprojects/solana/models/_sector/dex/sandwiches/solana/_schema.yml
  dbt_subprojects/solana/models/_sector/dex/sandwiches/solana/dex_solana_sandwiched.sql
  dbt_subprojects/solana/models/_sector/dex/sandwiches/solana/dex_solana_sandwiches.sql
Labels: ready-for-merging, solana

#6627 Make aave_flashloans and dex_flashloans views.
  dbt_subprojects/daily_spellbook/models/aave/aave_flashloans.sql
  dbt_subprojects/daily_spellbook/models/aave/arbitrum/aave_arbitrum_flashloans.sql
  dbt_subprojects/daily_spellbook/models/aave/avalanche_c/aave_avalanche_c_flashloans.sql
  dbt_subprojects/daily_spellbook/models/aave/base/aave_base_flashloans.sql
  dbt_subprojects/daily_spellbook/models/aave/ethereum/aave_ethereum_flashloans.sql
  dbt_subprojects/daily_spellbook/models/aave/fantom/aave_fantom_flashloans.sql
  dbt_subprojects/daily_spellbook/models/aave/optimism/aave_optimism_flashloans.sql
  dbt_subprojects/daily_spellbook/models/aave/polygon/aave_polygon_flashloans.sql
  dbt_subprojects/daily_spellbook/models/dex/dex_flashloans.sql
  dbt_subprojects/hourly_spellbook/models/_sector/lending/flashloans/lending_base_flashloans.sql
  dbt_subprojects/hourly_spellbook/models/_sector/lending/flashloans/lending_flashloans.sql
Labels: ready-for-merging

#6621 GMX v2 Event Parsing
  dbt_subprojects/daily_spellbook/models/_projects/gmx/event/arbitrum/gmx_v2_arbitrum_event_schema.yml
  dbt_subprojects/daily_spellbook/models/_projects/gmx/event/arbitrum/gmx_v2_arbitrum_order_created.sql
  dbt_subprojects/daily_spellbook/models/_projects/gmx/tokens/arbitrum/gmx_v2_arbitrum_collateral_tokens_data.sql
  dbt_subprojects/daily_spellbook/models/_projects/gmx/tokens/arbitrum/gmx_v2_arbitrum_erc20.sql
  dbt_subprojects/daily_spellbook/models/_projects/gmx/tokens/arbitrum/gmx_v2_arbitrum_tokens_schema.yml
  dbt_subprojects/tokens/models/tokens/arbitrum/tokens_arbitrum_erc20.sql
  sources/gmx/arbitrum/gmx_arbitrum_sources.yml
Labels: ready-for-merging

#6618 Add Trader Joe V2.2 to Dex Trades
  dbt_subprojects/dex/models/trades/arbitrum/_schema.yml
  dbt_subprojects/dex/models/trades/arbitrum/dex_arbitrum_base_trades.sql
  dbt_subprojects/dex/models/trades/arbitrum/platforms/trader_joe_v2_2_arbitrum_base_trades.sql
  dbt_subprojects/dex/models/trades/avalanche_c/_schema.yml
  dbt_subprojects/dex/models/trades/avalanche_c/dex_avalanche_c_base_trades.sql
  dbt_subprojects/dex/models/trades/avalanche_c/platforms/trader_joe_v2_2_avalanche_c_base_trades.sql
  dbt_subprojects/dex/seeds/trades/trader_joe_arbitrum_base_trades_seed.csv
  dbt_subprojects/dex/seeds/trades/trader_joe_avalanche_c_base_trades_seed.csv
  sources/_sector/dex/trades/arbitrum/_sources.yml
  sources/_sector/dex/trades/avalanche_c/_sources.yml
Labels: ready-for-merging, dex

#6631 Duplicates dodo dex
  dbt_subprojects/dex/macros/models/_project/dodo_compatible_trades.sql
  dbt_subprojects/dex/models/trades/arbitrum/platforms/dodo_arbitrum_base_trades.sql
  dbt_subprojects/dex/models/trades/base/platforms/dodo_base_base_trades.sql
  dbt_subprojects/dex/models/trades/bnb/platforms/dodo_bnb_base_trades.sql
  dbt_subprojects/dex/models/trades/ethereum/platforms/dodo_ethereum_base_trades.sql
  dbt_subprojects/dex/models/trades/optimism/platforms/dodo_optimism_base_trades.sql
  dbt_subprojects/dex/models/trades/polygon/platforms/dodo_polygon_base_trades.sql
Labels: ready-for-merging, hotfix, dex

#6628 Arbitrum Event Parsing for GMX v2 Project
  dbt_subprojects/daily_spellbook/models/_projects/gmx/event/arbitrum/gmx_v2_arbitrum_event_schema.yml
  dbt_subprojects/daily_spellbook/models/_projects/gmx/event/arbitrum/gmx_v2_arbitrum_market_created.sql
  dbt_subprojects/daily_spellbook/models/_projects/gmx/event/arbitrum/gmx_v2_arbitrum_order_cancelled.sql
  dbt_subprojects/daily_spellbook/models/_projects/gmx/event/arbitrum/gmx_v2_arbitrum_order_executed.sql
  dbt_subprojects/daily_spellbook/models/_projects/gmx/event/arbitrum/gmx_v2_arbitrum_position_decrease.sql
  dbt_subprojects/daily_spellbook/models/_projects/gmx/event/arbitrum/gmx_v2_arbitrum_position_fees_collected.sql
  dbt_subprojects/daily_spellbook/models/_projects/gmx/event/arbitrum/gmx_v2_arbitrum_position_fees_info.sql
  dbt_subprojects/daily_spellbook/models/_projects/gmx/event/arbitrum/gmx_v2_arbitrum_position_increase.sql
  dbt_subprojects/daily_spellbook/models/_projects/gmx/tokens/arbitrum/gmx_v2_arbitrum_markets_data.sql
Labels: ready-for-merging

#6609 Add Arb Nova & Linea to EAS
  dbt_subprojects/daily_spellbook/models/_sector/attestation/eas/linea/_schema.yml
  dbt_subprojects/daily_spellbook/models/_sector/attestation/eas/linea/eas_linea_attestation_details.sql
  dbt_subprojects/daily_spellbook/models/_sector/attestation/eas/linea/eas_linea_attestations.sql
  dbt_subprojects/daily_spellbook/models/_sector/attestation/eas/linea/eas_linea_schema_details.sql
  dbt_subprojects/daily_spellbook/models/_sector/attestation/eas/linea/eas_linea_schemas.sql
  dbt_subprojects/daily_spellbook/models/_sector/attestation/eas/nova/_schema.yml
  dbt_subprojects/daily_spellbook/models/_sector/attestation/eas/nova/eas_nova_attestation_details.sql
  dbt_subprojects/daily_spellbook/models/_sector/attestation/eas/nova/eas_nova_attestations.sql
  dbt_subprojects/daily_spellbook/models/_sector/attestation/eas/nova/eas_nova_schema_details.sql
  dbt_subprojects/daily_spellbook/models/_sector/attestation/eas/nova/eas_nova_schemas.sql
  sources/_sector/attestation/eas/linea/_sources.yml
  sources/_sector/attestation/eas/nova/_sources.yml
Labels: ready-for-merging

#6556 `dex.trades`: update project name to remove spaces
  dbt_subprojects/dex/models/_projects/oneinch/oneinch_lop_own_trades.sql
  dbt_subprojects/dex/models/_projects/zeroex/zeroex_native_trades.sql
Labels: ready-for-merging, dex

#6620 1inch-U39: updates & optimizations for project_swap lineage
  dbt_subprojects/daily_spellbook/macros/project/oneinch/project/oneinch_project_ptfc_macro.sql
  dbt_subprojects/daily_spellbook/macros/project/oneinch/project/oneinch_project_swaps_macro.sql
  sources/oneinch/arbitrum/oneinch_arbitrum_sources.yml
  sources/oneinch/avalanche_c/oneinch_avalanche_c_sources.yml
  sources/oneinch/base/oneinch_base_sources.yml
  sources/oneinch/bnb/oneinch_bnb_sources.yml
  sources/oneinch/ethereum/oneinch_ethereum_sources.yml
  sources/oneinch/fantom/oneinch_fantom_sources.yml
  sources/oneinch/gnosis/oneinch_gnosis_sources.yml
  sources/oneinch/optimism/oneinch_optimism_sources.yml
  sources/oneinch/polygon/oneinch_polygon_sources.yml
  sources/oneinch/zksync/oneinch_zksync_sources.yml
Labels: ready-for-merging

#6634 update downstream project names for changes to dex
  dbt_subprojects/dex/models/dex_info.sql
  dbt_subprojects/dex/seeds/trades/oneinch_arbitrum_base_trades_seed.csv
  dbt_subprojects/dex/seeds/trades/oneinch_avalanche_c_base_trades_seed.csv
  dbt_subprojects/dex/seeds/trades/oneinch_base_base_trades_seed.csv
  dbt_subprojects/dex/seeds/trades/oneinch_bnb_base_trades_seed.csv
  dbt_subprojects/dex/seeds/trades/oneinch_ethereum_base_trades_seed.csv
  dbt_subprojects/dex/seeds/trades/oneinch_fantom_base_trades_seed.csv
  dbt_subprojects/dex/seeds/trades/oneinch_gnosis_base_trades_seed.csv
  dbt_subprojects/dex/seeds/trades/oneinch_optimism_base_trades_seed.csv
  dbt_subprojects/dex/seeds/trades/oneinch_polygon_base_trades_seed.csv
  dbt_subprojects/dex/seeds/trades/oneinch_zksync_base_trades_seed.csv
Labels: hotfix, dex
