Repository duneanalytics/spellbook, pull requests merged in 2025-03, with the labels that each got.

#7780 add new model - eigenlayer share to underlying token exchange rate
  dbt_subprojects/daily_spellbook/models/_projects/eigenlayer/_schema.yml
  dbt_subprojects/daily_spellbook/models/_projects/eigenlayer/ethereum/eigenlayer_ethereum_underlying_token_exchange_rate.sql
  dbt_subprojects/daily_spellbook/models/_projects/eigenlayer/ethereum/eigenlayer_ethereum_underlying_token_exchange_rate_latest.sql
  sources/eigenlayer/eigenlayer_ethereum_sources.yml
Labels: ready-for-merging, dbt: daily

#7778 Nexus Mutual - swap orders
  dbt_subprojects/daily_spellbook/models/nexusmutual/ethereum/capital_pool/_schema.yml
  dbt_subprojects/daily_spellbook/models/nexusmutual/ethereum/capital_pool/nexusmutual_ethereum_swap_order_closed.sql
  dbt_subprojects/daily_spellbook/models/nexusmutual/ethereum/capital_pool/nexusmutual_ethereum_swap_order_placed.sql
  sources/nexusmutual/ethereum/nexusmutual_ethereum_sources.yml
Labels: ready-for-merging, dbt: daily

#7779 removed columns
  dbt_subprojects/tokens/macros/transfers/net_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/tokens_net_transfers_daily.sql
  dbt_subprojects/tokens/models/transfers_and_balances/tokens_net_transfers_daily_asset.sql
Labels: ready-for-merging, dbt: tokens

#7769 Added SWPx token
  dbt_subprojects/tokens/models/prices/sonic/prices_sonic_tokens.sql
Labels: ready-for-merging, dbt: tokens

#7764 feat(tokens): Added tokens to Scroll list
  dbt_subprojects/tokens/models/tokens/scroll/tokens_scroll_erc20.sql
Labels: ready-for-merging, dbt: tokens

#7762 add model - eigenlayer native restaking
  dbt_subprojects/daily_spellbook/models/_projects/eigenlayer/_schema.yml
  dbt_subprojects/daily_spellbook/models/_projects/eigenlayer/ethereum/eigenlayer_ethereum_pod_shares_updated_enriched.sql
  dbt_subprojects/daily_spellbook/models/_projects/eigenlayer/ethereum/eigenlayer_ethereum_strategy_shares_inflow_by_day.sql
  dbt_subprojects/daily_spellbook/models/_projects/eigenlayer/ethereum/eigenlayer_ethereum_strategy_shares_netflow_by_day.sql
  dbt_subprojects/daily_spellbook/models/_projects/eigenlayer/ethereum/eigenlayer_ethereum_strategy_shares_outflow_by_day.sql
  sources/eigenlayer/eigenlayer_ethereum_sources.yml
Labels: ready-for-merging, dbt: daily

#7782 fix POL token symbol in metadata
  dbt_subprojects/tokens/models/prices/polygon/prices_polygon_tokens.sql
  dbt_subprojects/tokens/models/tokens/polygon/tokens_polygon_erc20.sql
  dbt_subprojects/tokens/models/tokens/tokens_erc20.sql
Labels: ready-for-review, dbt: tokens

#7773 Add USDM price one ethereum to prices.usd
  dbt_subprojects/tokens/models/prices/ethereum/prices_ethereum_tokens.sql
Labels: ready-for-merging, dbt: tokens

#7763 DUX-963 fix polygon native token address in tokens transfers
  dbt_subprojects/tokens/macros/transfers/transfers_base.sql
  dbt_subprojects/tokens/models/transfers_and_balances/polygon/tokens_polygon_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/polygon/tokens_polygon_net_transfers_daily_asset.sql
Labels: ready-for-merging, dbt: tokens

#7794 add LBP labels to balancer_v3 pools
  dbt_subprojects/dex/models/_projects/balancer/labels/arbitrum/labels_balancer_v3_pools_arbitrum.sql
  dbt_subprojects/dex/models/_projects/balancer/labels/base/labels_balancer_v3_pools_base.sql
  dbt_subprojects/dex/models/_projects/balancer/labels/ethereum/labels_balancer_v3_pools_ethereum.sql
  dbt_subprojects/dex/models/_projects/balancer/labels/gnosis/labels_balancer_v3_pools_gnosis.sql
  sources/balancer/arbitrum/balancer_arbitrum_sources.yml
  sources/balancer/base/balancer_base_sources.yml
  sources/balancer/ethereum/balancer_ethereum_sources.yml
  sources/balancer/gnosis/balancer_gnosis_sources.yml
Labels: ready-for-merging, dbt: dex

#7788 Nft transfers for kaia and worldchain
  dbt_subprojects/nft/models/_sector/transfers/_schema.yml
  dbt_subprojects/nft/models/_sector/transfers/chains/nft_kaia_transfers.sql
  dbt_subprojects/nft/models/_sector/transfers/chains/nft_worldchain_transfers.sql
  dbt_subprojects/nft/models/_sector/transfers/nft_transfers.sql
Labels: ready-for-merging, dbt: nft

#7781 add new model - eigenlayer strategy and token metadata
  dbt_subprojects/daily_spellbook/models/_projects/eigenlayer/_schema.yml
  dbt_subprojects/daily_spellbook/models/_projects/eigenlayer/ethereum/eigenlayer_ethereum_strategy_and_token_metadata_latest.sql
Labels: ready-for-merging, dbt: daily

#7791 improve protocol swap fee mapping for proper liquidity calculations on balancer v3
  dbt_macros/shared/balancer/balancer_bpt_prices_macro.sql
  dbt_macros/shared/balancer/balancer_liquidity_macro.sql
  dbt_macros/shared/balancer/balancer_token_balance_changes_macro.sql
  dbt_subprojects/hourly_spellbook/models/_project/balancer/liquidity/base/balancer_v3_base_liquidity.sql
  sources/balancer/arbitrum/balancer_arbitrum_sources.yml
  sources/balancer/base/balancer_base_sources.yml
  sources/balancer/ethereum/balancer_ethereum_sources.yml
  sources/balancer/gnosis/balancer_gnosis_sources.yml
  sources/beets/sonic/beets_sonic_sources.yml
Labels: ready-for-merging, dbt: hourly

#7793 Revert "seaport v3 nova: exclude due to source schema change (#7751)"
  dbt_subprojects/nft/models/_sector/trades/chains/nova/platforms/opensea_v3_nova_base_trades.sql
Labels: ready-for-merging, dbt: nft

#7795 [easy] add tokens into sonic prices/tokens table
  dbt_subprojects/tokens/models/prices/sonic/prices_sonic_tokens.sql
  dbt_subprojects/tokens/models/tokens/sonic/tokens_sonic_erc20.sql
Labels: ready-for-merging, dbt: tokens

#7783 DUX-992 Fix balance latest unique key per model
  dbt_subprojects/tokens/macros/balances/balances_latest.sql
  dbt_subprojects/tokens/models/transfers_and_balances/arbitrum/_schema.yml
  dbt_subprojects/tokens/models/transfers_and_balances/arbitrum/tokens_arbitrum_balances_latest.sql
  dbt_subprojects/tokens/models/transfers_and_balances/avalanche_c/_schema.yml
  dbt_subprojects/tokens/models/transfers_and_balances/avalanche_c/tokens_avalanche_c_balances_latest.sql
  dbt_subprojects/tokens/models/transfers_and_balances/base/_schema.yml
  dbt_subprojects/tokens/models/transfers_and_balances/base/tokens_base_balances_latest.sql
  dbt_subprojects/tokens/models/transfers_and_balances/bnb/_schema.yml
  dbt_subprojects/tokens/models/transfers_and_balances/bnb/tokens_bnb_balances_latest.sql
  dbt_subprojects/tokens/models/transfers_and_balances/ethereum/_schema.yml
  dbt_subprojects/tokens/models/transfers_and_balances/ethereum/tokens_ethereum_balances_latest.sql
  dbt_subprojects/tokens/models/transfers_and_balances/linea/_schema.yml
  dbt_subprojects/tokens/models/transfers_and_balances/linea/tokens_linea_balances_latest.sql
  dbt_subprojects/tokens/models/transfers_and_balances/optimism/_schema.yml
  dbt_subprojects/tokens/models/transfers_and_balances/optimism/tokens_optimism_balances_latest.sql
  dbt_subprojects/tokens/models/transfers_and_balances/polygon/_schema.yml
  dbt_subprojects/tokens/models/transfers_and_balances/polygon/tokens_polygon_balances_latest.sql
  dbt_subprojects/tokens/models/transfers_and_balances/scroll/_schema.yml
  dbt_subprojects/tokens/models/transfers_and_balances/scroll/tokens_scroll_balances_latest.sql
Labels: ready-for-merging, hotfix, dbt: tokens

#7796 add verified Linea tokens
  dbt_subprojects/tokens/models/tokens/linea/tokens_linea_erc20.sql
Labels: ready-for-review, dbt: tokens

#7803 balances latest: exclude from prod until performance is fixed
  dbt_subprojects/tokens/models/transfers_and_balances/arbitrum/tokens_arbitrum_balances_latest.sql
  dbt_subprojects/tokens/models/transfers_and_balances/avalanche_c/tokens_avalanche_c_balances_latest.sql
  dbt_subprojects/tokens/models/transfers_and_balances/base/tokens_base_balances_latest.sql
  dbt_subprojects/tokens/models/transfers_and_balances/bnb/tokens_bnb_balances_latest.sql
  dbt_subprojects/tokens/models/transfers_and_balances/ethereum/tokens_ethereum_balances_latest.sql
  dbt_subprojects/tokens/models/transfers_and_balances/linea/tokens_linea_balances_latest.sql
  dbt_subprojects/tokens/models/transfers_and_balances/optimism/tokens_optimism_balances_latest.sql
  dbt_subprojects/tokens/models/transfers_and_balances/polygon/tokens_polygon_balances_latest.sql
  dbt_subprojects/tokens/models/transfers_and_balances/scroll/tokens_scroll_balances_latest.sql
Labels: ready-for-review, hotfix, dbt: tokens

#7815 exclude addresses_events_optimism_first_path.sql
  dbt_subprojects/hourly_spellbook/models/_sector/addresses_events/optimism/addresses_events_optimism_first_path.sql
Labels: ready-for-review, hotfix, dbt: hourly

#7767 Vacuum all tables
  dbt_macros/dune/mark_as_spell.sql
Labels: ready-for-merging

#7819 mark as spell macro: fix syntax for vacuum
  dbt_macros/dune/mark_as_spell.sql
Labels: WIP, hotfix

#7818 Update prices_ethereum_tokens.sql
  dbt_subprojects/tokens/models/prices/ethereum/prices_ethereum_tokens.sql
Labels: ready-for-merging, dbt: tokens

#7807 add new erc4626
  dbt_subprojects/hourly_spellbook/models/_project/balancer/erc4626_tokens/sonic/balancer_v3_sonic_erc4626_token_mapping.sql
  dbt_subprojects/tokens/models/tokens/sonic/tokens_sonic_erc20.sql
Labels: ready-for-merging, dbt: hourly, dbt: tokens

#7805 add missing tokens to tokens.erc20
  dbt_subprojects/tokens/models/tokens/arbitrum/tokens_arbitrum_erc20.sql
  dbt_subprojects/tokens/models/tokens/base/tokens_base_erc20.sql
  dbt_subprojects/tokens/models/tokens/gnosis/tokens_gnosis_erc20.sql
Labels: ready-for-merging, dbt: tokens

#7720 DUX-888 bitcoin net transfers and net transfers per asset
  dbt_subprojects/tokens/models/transfers_and_balances/bitcoin/_schema.yml
  dbt_subprojects/tokens/models/transfers_and_balances/bitcoin/balances_bitcoin_schema.yml
  dbt_subprojects/tokens/models/transfers_and_balances/bitcoin/tokens_bitcoin_net_transfers_daily.sql
  dbt_subprojects/tokens/models/transfers_and_balances/bitcoin/tokens_bitcoin_net_transfers_daily_asset.sql
  dbt_subprojects/tokens/models/transfers_and_balances/bitcoin/transfers_bitcoin_schema.yml
Labels: ready-for-merging, dbt: tokens

#7816 eigenlayer rewards: left join avs metadata
  dbt_subprojects/daily_spellbook/models/_projects/eigenlayer/ethereum/eigenlayer_ethereum_avs_paid_rewards.sql
Labels: ready-for-merging, dbt: daily

#7798 add unique key constraints to eigenlayer models
  dbt_subprojects/daily_spellbook/models/_projects/eigenlayer/ethereum/eigenlayer_ethereum_avs_metadata_uri_latest.sql
  dbt_subprojects/daily_spellbook/models/_projects/eigenlayer/ethereum/eigenlayer_ethereum_avs_operator_registration_status_latest.sql
  dbt_subprojects/daily_spellbook/models/_projects/eigenlayer/ethereum/eigenlayer_ethereum_avs_paid_rewards.sql
  dbt_subprojects/daily_spellbook/models/_projects/eigenlayer/ethereum/eigenlayer_ethereum_operator_metadata_uri_latest.sql
  dbt_subprojects/daily_spellbook/models/_projects/eigenlayer/ethereum/eigenlayer_ethereum_operator_shares_change_by_day.sql
  dbt_subprojects/daily_spellbook/models/_projects/eigenlayer/ethereum/eigenlayer_ethereum_operator_shares_cumulative_by_day.sql
  dbt_subprojects/daily_spellbook/models/_projects/eigenlayer/ethereum/eigenlayer_ethereum_programmatic_incentive_by_day.sql
  dbt_subprojects/daily_spellbook/models/_projects/eigenlayer/ethereum/eigenlayer_ethereum_rewards_v1_by_day.sql
  dbt_subprojects/daily_spellbook/models/_projects/eigenlayer/ethereum/eigenlayer_ethereum_strategy_shares_inflow_by_day.sql
  dbt_subprojects/daily_spellbook/models/_projects/eigenlayer/ethereum/eigenlayer_ethereum_strategy_shares_netflow_by_day.sql
  dbt_subprojects/daily_spellbook/models/_projects/eigenlayer/ethereum/eigenlayer_ethereum_strategy_shares_outflow_by_day.sql
  dbt_subprojects/daily_spellbook/models/_projects/eigenlayer/ethereum/eigenlayer_ethereum_underlying_token_exchange_rate_latest.sql
  dbt_subprojects/daily_spellbook/models/_projects/eigenlayer/ethereum/eigenlayer_ethereum_whitelisted_strategy_latest.sql
Labels: ready-for-merging, dbt: daily

#7790 Add ton.accounts view with aggregated info about each TON account
  dbt_subprojects/daily_spellbook/models/ton/ton.yml
  dbt_subprojects/daily_spellbook/models/ton/ton_accounts.sql
  dbt_subprojects/daily_spellbook/seeds/ton/_schema.yml
  dbt_subprojects/daily_spellbook/seeds/ton/ton_interfaces_by_code_hash_seed.csv
Labels: ready-for-merging, dbt: daily

#7749 fix(gas): removed `incremental_predicate`, add 6 months gas usage column
  dbt_subprojects/daily_spellbook/models/_sector/gas/prices/cross_chain/gas_usage_by_address.sql
  dbt_subprojects/daily_spellbook/models/_sector/gas/prices/cross_chain/gas_usage_by_address_schema.yml
Labels: ready-for-merging, dbt: daily

#7811 init balancer v3 LBPs macro and spells
  dbt_macros/shared/balancer/balancer_lbps_macro.sql
  dbt_subprojects/hourly_spellbook/models/_project/balancer/pools/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_project/balancer/pools/arbitrum/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_project/balancer/pools/arbitrum/balancer_v3_arbitrum_lbps.sql
  dbt_subprojects/hourly_spellbook/models/_project/balancer/pools/balancer_v3_lbps.sql
  dbt_subprojects/hourly_spellbook/models/_project/balancer/pools/base/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_project/balancer/pools/base/balancer_v3_base_lbps.sql
  dbt_subprojects/hourly_spellbook/models/_project/balancer/pools/ethereum/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_project/balancer/pools/ethereum/balancer_v3_ethereum_lbps.sql
  dbt_subprojects/hourly_spellbook/models/_project/balancer/pools/gnosis/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_project/balancer/pools/gnosis/balancer_v3_gnosis_lbps.sql
  sources/balancer/arbitrum/balancer_arbitrum_sources.yml
  sources/balancer/base/balancer_base_sources.yml
  sources/balancer/ethereum/balancer_ethereum_sources.yml
  sources/balancer/gnosis/balancer_gnosis_sources.yml
Labels: ready-for-merging, dbt: hourly

#7804 Improve balancer V3 pool labels
  dbt_subprojects/dex/models/_projects/balancer/labels/arbitrum/labels_balancer_v3_pools_arbitrum.sql
  dbt_subprojects/dex/models/_projects/balancer/labels/base/labels_balancer_v3_pools_base.sql
  dbt_subprojects/dex/models/_projects/balancer/labels/ethereum/labels_balancer_v3_pools_ethereum.sql
  dbt_subprojects/dex/models/_projects/balancer/labels/gnosis/labels_balancer_v3_pools_gnosis.sql
  sources/balancer/arbitrum/balancer_arbitrum_sources.yml
  sources/balancer/base/balancer_base_sources.yml
Labels: ready-for-merging, dbt: dex

#7761 zeroex - v2 update
  dbt_subprojects/dex/macros/models/_project/zeroex/zeroex_v2.sql
  dbt_subprojects/dex/models/_projects/zeroex/berachain/zeroex_v2_berachain_trades.sql
Labels: ready-for-merging, dbt: dex

#7656 Init apechain dexes
  dbt_subprojects/dex/models/trades/apechain/_schema.yml
  dbt_subprojects/dex/models/trades/apechain/dex_apechain_base_trades.sql
  dbt_subprojects/dex/models/trades/apechain/platforms/camelot_apechain_base_trades.sql
  dbt_subprojects/dex/seeds/trades/_schema.yml
  dbt_subprojects/dex/seeds/trades/camelot_apechain_base_trades_seed.csv
  sources/_sector/dex/trades/apechain/_sources.yml
Labels: ready-for-merging, dbt: dex

#7789 1inch-U60: sketching new lineage
  dbt_subprojects/solana/macros/_project/oneinch/oneinch_cfg_macro.sql
  dbt_subprojects/solana/macros/_project/oneinch/oneinch_fusion_transfers_macro.sql
  dbt_subprojects/solana/models/oneinch/oneinch_solana_fusion_calls.sql
  dbt_subprojects/solana/models/oneinch/oneinch_solana_transfers.sql
Labels: ready-for-merging, dbt: solana

#7821 Revert "Add ton.accounts view with aggregated info about each TON acc…
  dbt_subprojects/daily_spellbook/models/ton/ton.yml
  dbt_subprojects/daily_spellbook/models/ton/ton_accounts.sql
  dbt_subprojects/daily_spellbook/seeds/ton/_schema.yml
  dbt_subprojects/daily_spellbook/seeds/ton/ton_interfaces_by_code_hash_seed.csv
Labels: ready-for-review, hotfix, dbt: daily

#7822 remove bad price feed FLOOF on solana
  dbt_subprojects/tokens/models/prices/solana/prices_solana_tokens.sql
Labels: bug, ready-for-review, hotfix, dbt: tokens

#7828 Added prices list `HONEY` bera token
  dbt_subprojects/tokens/models/prices/berachain/prices_berachain_tokens.sql
  dbt_subprojects/tokens/models/prices/prices_trusted_tokens.sql
Labels: ready-for-merging, dbt: tokens

#7826 DUX-1011/remove prices.day from spellbook
  dbt_subprojects/tokens/models/prices/_schema.yml
  dbt_subprojects/tokens/models/prices/prices_day.sql
Labels: ready-for-merging, dbt: tokens

#7792 Add erc20 tokens
  dbt_subprojects/tokens/models/tokens/base/tokens_base_erc20.sql
  dbt_subprojects/tokens/models/tokens/ethereum/tokens_ethereum_erc20.sql
  dbt_subprojects/tokens/models/tokens/ethereum/tokens_ethereum_rwa.sql
  dbt_subprojects/tokens/models/tokens/tokens_erc20.sql
Labels: ready-for-merging, dbt: tokens

#7827 Nexus Mutual - fix eth amounts on `claims_paid`
  dbt_subprojects/daily_spellbook/models/nexusmutual/ethereum/claims/nexusmutual_ethereum_claims_paid.sql
Labels: ready-for-merging, dbt: daily

#7825 Add ton.accounts view with aggregated info about each TON account
  dbt_subprojects/daily_spellbook/models/ton/ton.yml
  dbt_subprojects/daily_spellbook/models/ton/ton_accounts.sql
Labels: ready-for-merging, dbt: daily

#7797 add ETH LST and EIGEN to strategy_and_token_metadata
  dbt_subprojects/daily_spellbook/models/_projects/eigenlayer/_schema.yml
  dbt_subprojects/daily_spellbook/models/_projects/eigenlayer/ethereum/eigenlayer_ethereum_strategy_and_token_metadata_latest.sql
  dbt_subprojects/daily_spellbook/models/_projects/eigenlayer/ethereum/eigenlayer_ethereum_strategy_category.sql
Labels: ready-for-merging, dbt: daily

#7809 add Perena
  dbt_subprojects/solana/models/jupiter/jupiter_solana_aggregator_swaps.sql
Labels: ready-for-merging, dbt: solana

#7800 DUX-889 Solana net transfers
  dbt_subprojects/solana/models/_sector/transfers/_schema.yml
  dbt_subprojects/solana/models/_sector/transfers/tokens_solana_net_transfers_daily.sql
  dbt_subprojects/solana/models/_sector/transfers/tokens_solana_net_transfers_daily_asset.sql
Labels: ready-for-merging, dbt: solana

#7836 feat(tokens): Added token to Scroll list
  dbt_subprojects/tokens/models/tokens/scroll/tokens_scroll_erc20.sql
Labels: ready-for-merging, dbt: tokens

#7817 feat(tokens): Added tokens to the Abstract tokens list:
  dbt_subprojects/tokens/models/tokens/abstract/tokens_abstract_erc20.sql
Labels: ready-for-merging, dbt: tokens

#7833 add ETH LST and EIGEN to strategy_and_token_metadata_latest
  dbt_subprojects/daily_spellbook/models/_projects/eigenlayer/ethereum/eigenlayer_ethereum_strategy_and_token_metadata_latest.sql
Labels: ready-for-merging, dbt: daily

#7632 Add Berachain Safe Spells
  dbt_subprojects/hourly_spellbook/models/_project/safe/berachain/safe_berachain_bera_transfers.sql
  dbt_subprojects/hourly_spellbook/models/_project/safe/berachain/safe_berachain_safes.sql
  dbt_subprojects/hourly_spellbook/models/_project/safe/berachain/safe_berachain_schema.yml
  dbt_subprojects/hourly_spellbook/models/_project/safe/berachain/safe_berachain_singletons.sql
  dbt_subprojects/hourly_spellbook/models/_project/safe/berachain/safe_berachain_transactions.sql
  dbt_subprojects/hourly_spellbook/models/_project/safe/safe_safes_all.sql
  dbt_subprojects/hourly_spellbook/tests/_project/safe/safe_safes_all_test.sql
  sources/safe/berachain/safe_berachain_sources.yml
Labels: ready-for-merging, dbt: hourly

#7842 fix balancer liquidity macro
  dbt_macros/shared/balancer/balancer_bpt_prices_macro.sql
  dbt_macros/shared/balancer/balancer_liquidity_macro.sql
  dbt_macros/shared/balancer/balancer_token_balance_changes_macro.sql
  dbt_subprojects/hourly_spellbook/models/_project/balancer/liquidity/ethereum/balancer_v3_ethereum_liquidity.sql
Labels: ready-for-merging, dbt: hourly

#7832 first_funded_by Nova and Ronin
  dbt_subprojects/hourly_spellbook/models/_sector/addresses_events/addresses_events_first_activity.sql
  dbt_subprojects/hourly_spellbook/models/_sector/addresses_events/addresses_events_first_funded_by.sql
  dbt_subprojects/hourly_spellbook/models/_sector/addresses_events/nova/addresses_events_nova_first_activity.sql
  dbt_subprojects/hourly_spellbook/models/_sector/addresses_events/nova/addresses_events_nova_first_funded_by.sql
  dbt_subprojects/hourly_spellbook/models/_sector/addresses_events/nova/addresses_events_nova_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/addresses_events/ronin/addresses_events_ronin_first_activity.sql
  dbt_subprojects/hourly_spellbook/models/_sector/addresses_events/ronin/addresses_events_ronin_first_funded_by.sql
  dbt_subprojects/hourly_spellbook/models/_sector/addresses_events/ronin/addresses_events_ronin_schema.yml
  sources/_subprojects_outputs/tokens/transfers.yml
Labels: ready-for-merging, dbt: hourly

#7723 Add ecosystem column to evms.info
  dbt_subprojects/daily_spellbook/models/evms/evms_info.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_schema.yml
Labels: ready-for-merging, dbt: daily

#7846 DUX-1000 create ovm1 as spells, use refs downstream
  dbt_subprojects/daily_spellbook/models/contracts/contracts_predeploys.sql
  dbt_subprojects/daily_spellbook/models/optimism/ovm1_optimism_contracts.sql
  dbt_subprojects/daily_spellbook/models/optimism/ovm1_synthetix_genesis_contracts.sql
  dbt_subprojects/hourly_spellbook/models/_sector/addresses_events/optimism/addresses_events_optimism_first_path.sql
Labels: ready-for-review, hotfix, dbt: hourly, dbt: daily

#7849 refresh magiceden_solana.events
  dbt_subprojects/solana/models/_sector/nft/old/magiceden_solana_events.sql
Labels: ready-for-review, dbt: solana

#7852 patch ens_view_registrations
  dbt_subprojects/hourly_spellbook/models/_project/ens/ens_view_registrations.sql
Labels: ready-for-review, hotfix, dbt: hourly

#7857 solana metrics update
  dbt_subprojects/daily_spellbook/models/_metrics/transfers/_schema.yml
  dbt_subprojects/daily_spellbook/models/_metrics/transfers/chains/solana/metrics_solana_transfers_daily.sql
  dbt_subprojects/daily_spellbook/models/_metrics/transfers/chains/solana/metrics_solana_transfers_daily_asset.sql
  sources/_subprojects_outputs/tokens/transfers.yml
Labels: ready-for-merging, dbt: daily

#7853 Update btc metrics
  dbt_subprojects/daily_spellbook/models/_metrics/transfers/_schema.yml
  dbt_subprojects/daily_spellbook/models/_metrics/transfers/chains/bitcoin/metrics_bitcoin_transfers_daily.sql
  dbt_subprojects/daily_spellbook/models/_metrics/transfers/chains/bitcoin/metrics_bitcoin_transfers_daily_asset.sql
  sources/_subprojects_outputs/tokens/transfers.yml
Labels: ready-for-merging, dbt: daily

#7845 fix fantasy events
  dbt_subprojects/daily_spellbook/models/_projects/fantasy/fantasy_events.sql
  sources/fantasy/blast/fantasy_blast_sources.yml
Labels: ready-for-merging, dbt: daily

#7839 nft wash for ronin, nova and linea
  dbt_subprojects/nft/models/_sector/wash_trades/_schema.yml
  dbt_subprojects/nft/models/_sector/wash_trades/chains/nft_linea_wash_trades.sql
  dbt_subprojects/nft/models/_sector/wash_trades/chains/nft_nova_wash_trades.sql
  dbt_subprojects/nft/models/_sector/wash_trades/chains/nft_ronin_wash_trades.sql
  dbt_subprojects/nft/models/_sector/wash_trades/nft_wash_trades.sql
  sources/_subprojects_outputs/spellbook/_sources.yml
Labels: ready-for-merging, dbt: nft

#7503 automated dex trades beta
  dbt_subprojects/dex/macros/models/_decoding/evm_event_decoding_base.sql
  dbt_subprojects/dex/macros/models/_decoding/uniswap_exposed_blockchains_list.sql
  dbt_subprojects/dex/macros/models/_decoding/uniswap_v2/uniswap_v2_factory_event_decoding.sql
  dbt_subprojects/dex/macros/models/_decoding/uniswap_v2/uniswap_v2_forks_trades.sql
  dbt_subprojects/dex/macros/models/_decoding/uniswap_v2/uniswap_v2_pool_event_decoding.sql
  dbt_subprojects/dex/macros/models/_decoding/uniswap_v2/uniswap_v2_trades.sql
  dbt_subprojects/dex/macros/models/_decoding/uniswap_v3/uniswap_v3_factory_event_decoding.sql
  dbt_subprojects/dex/macros/models/_decoding/uniswap_v3/uniswap_v3_forks_trades.sql
  dbt_subprojects/dex/macros/models/_decoding/uniswap_v3/uniswap_v3_pool_event_decoding.sql
  dbt_subprojects/dex/macros/models/_decoding/uniswap_v3/uniswap_v3_trades.sql
  dbt_subprojects/dex/macros/models/enrich_dex_automated_trades.sql
  dbt_subprojects/dex/models/automated_trades/_schema.yml
  dbt_subprojects/dex/models/automated_trades/arbitrum/projects/_schema.yml
  dbt_subprojects/dex/models/automated_trades/arbitrum/projects/dex_arbitrum_automated_base_trades.sql
  dbt_subprojects/dex/models/automated_trades/arbitrum/projects/uniswap/uniswap_v2_arbitrum_automated_base_trades.sql
  dbt_subprojects/dex/models/automated_trades/arbitrum/projects/uniswap/uniswap_v2_arbitrum_decoded_factory_evt.sql
  dbt_subprojects/dex/models/automated_trades/arbitrum/projects/uniswap/uniswap_v2_arbitrum_decoded_pool_evt_swap.sql
  dbt_subprojects/dex/models/automated_trades/arbitrum/projects/uniswap/uniswap_v3_arbitrum_automated_base_trades.sql
  dbt_subprojects/dex/models/automated_trades/arbitrum/projects/uniswap/uniswap_v3_arbitrum_decoded_factory_evt.sql
  dbt_subprojects/dex/models/automated_trades/arbitrum/projects/uniswap/uniswap_v3_arbitrum_decoded_pool_evt_swap.sql
  dbt_subprojects/dex/models/automated_trades/dex_automated_base_trades.sql
  dbt_subprojects/dex/models/automated_trades/dex_automated_trades.sql
  dbt_subprojects/dex/models/automated_trades/dex_automated_trades_unmapped.sql
  dbt_subprojects/dex/models/automated_trades/dex_mapping.sql
  dbt_subprojects/dex/models/automated_trades/ethereum/projects/_schema.yml
  dbt_subprojects/dex/models/automated_trades/ethereum/projects/dex_ethereum_automated_base_trades.sql
  dbt_subprojects/dex/models/automated_trades/ethereum/projects/uniswap/uniswap_v2_ethereum_automated_base_trades.sql
  dbt_subprojects/dex/models/automated_trades/ethereum/projects/uniswap/uniswap_v2_ethereum_decoded_factory_evt.sql
  dbt_subprojects/dex/models/automated_trades/ethereum/projects/uniswap/uniswap_v2_ethereum_decoded_pool_evt_swap.sql
  dbt_subprojects/dex/models/automated_trades/ethereum/projects/uniswap/uniswap_v3_ethereum_automated_base_trades.sql
  dbt_subprojects/dex/models/automated_trades/ethereum/projects/uniswap/uniswap_v3_ethereum_decoded_factory_evt.sql
  dbt_subprojects/dex/models/automated_trades/ethereum/projects/uniswap/uniswap_v3_ethereum_decoded_pool_evt_swap.sql
  dbt_subprojects/dex/models/automated_trades/projects/uniswap_forks/new_chains/uniswap_v2_forks_new_chains_decoded_factory_events.sql
  dbt_subprojects/dex/models/automated_trades/projects/uniswap_forks/new_chains/uniswap_v2_forks_new_chains_decoded_swap_events.sql
  dbt_subprojects/dex/models/automated_trades/projects/uniswap_forks/new_chains/uniswap_v3_forks_new_chains_decoded_factory_events.sql
  dbt_subprojects/dex/models/automated_trades/projects/uniswap_forks/new_chains/uniswap_v3_forks_new_chains_decoded_swap_events.sql
  dbt_subprojects/dex/models/automated_trades/projects/uniswap_forks/old_chains/uniswap_v2_forks_old_chains_decoded_factory_events.sql
  dbt_subprojects/dex/models/automated_trades/projects/uniswap_forks/old_chains/uniswap_v2_forks_old_chains_decoded_swap_events.sql
  dbt_subprojects/dex/models/automated_trades/projects/uniswap_forks/old_chains/uniswap_v3_forks_old_chains_decoded_factory_events.sql
  dbt_subprojects/dex/models/automated_trades/projects/uniswap_forks/old_chains/uniswap_v3_forks_old_chains_decoded_swap_events.sql
  dbt_subprojects/dex/models/automated_trades/projects/uniswap_forks/uniswap_v2_forks_automated_base_trades.sql
  dbt_subprojects/dex/models/automated_trades/projects/uniswap_forks/uniswap_v3_forks_automated_base_trades.sql
  sources/_base_sources/evm/berachain_base_sources.yml
  sources/_base_sources/evm/berachain_docs_block.md
  sources/_base_sources/evm/sophon_base_sources.yml
  sources/_base_sources/evm/sophon_docs_block.md
  sources/_base_sources/evm/unichain_base_sources.yml
  sources/_base_sources/evm/unichain_docs_block.md
  sources/_sector/tokens/balances_sources.yml
Labels: ready-for-merging, dbt: dex

#7862 dex automated trades: enhance performance on final tables
  dbt_subprojects/dex/macros/models/enrich_dex_automated_trades.sql
  dbt_subprojects/dex/models/automated_trades/dex_automated_trades.sql
  dbt_subprojects/dex/models/automated_trades/dex_automated_trades_unmapped.sql
Labels: ready-for-review, hotfix, dbt: dex

#7865 DUX-1019: repoint view for dune.blockchains
  dbt_subprojects/hourly_spellbook/models/_sector/dune/dune_blockchains.sql
  sources/_datasets/dune/sources.yml
Labels: ready-for-review, dbt: hourly

#7859 DUX-1027 daily asset metrics transfers
  dbt_subprojects/daily_spellbook/models/_metrics/transfers/_schema.yml
  dbt_subprojects/daily_spellbook/models/_metrics/transfers/chains/bitcoin/metrics_bitcoin_transfers_daily_asset.sql
  dbt_subprojects/daily_spellbook/models/_metrics/transfers/chains/solana/metrics_solana_transfers_daily_asset.sql
  dbt_subprojects/daily_spellbook/models/_metrics/transfers/metrics_transfers_daily_asset.sql
Labels: ready-for-merging, dbt: daily

#7866 add missing tokens
  dbt_subprojects/tokens/models/prices/arbitrum/prices_arbitrum_tokens.sql
  dbt_subprojects/tokens/models/tokens/arbitrum/tokens_arbitrum_erc20.sql
  dbt_subprojects/tokens/models/tokens/base/tokens_base_erc20.sql
  dbt_subprojects/tokens/models/tokens/gnosis/tokens_gnosis_erc20.sql
Labels: ready-for-merging, dbt: tokens

#7861 DUX-1017 Prices view deprecation
  dbt_subprojects/tokens/models/prices/_schema.yml
  dbt_subprojects/tokens/models/prices/prices_hour.sql
  dbt_subprojects/tokens/models/prices/prices_minute.sql
  dbt_subprojects/tokens/models/prices/prices_solana_day.sql
  dbt_subprojects/tokens/models/prices/prices_solana_hour.sql
  dbt_subprojects/tokens/models/prices/prices_solana_minute.sql
  dbt_subprojects/tokens/models/prices/prices_trusted_tokens.sql
  dbt_subprojects/tokens/models/prices/prices_usd_trusted_tokens.sql
  sources/_subprojects_outputs/tokens/_sources.yml
Labels: ready-for-merging, dbt: tokens

#7870 Add shape erc20 tokens with more than 1000 transfers
  dbt_subprojects/tokens/models/tokens/shape/tokens_shape_erc20.sql
Labels: ready-for-review, dbt: tokens

#7871 DUX-1030 automated dex trades: enhance project level base trades
  dbt_subprojects/dex/macros/models/_decoding/uniswap_v2/uniswap_v2_forks_trades.sql
  dbt_subprojects/dex/macros/models/_decoding/uniswap_v3/uniswap_v3_forks_trades.sql
  dbt_subprojects/dex/models/automated_trades/_schema.yml
  dbt_subprojects/dex/models/automated_trades/_staging/evms_latest_creation_trace.sql
  dbt_subprojects/dex/models/automated_trades/projects/uniswap_forks/uniswap_v2_forks_automated_base_trades.sql
  dbt_subprojects/dex/models/automated_trades/projects/uniswap_forks/uniswap_v3_forks_automated_base_trades.sql
Labels: ready-for-review, hotfix, dbt: dex

#7877 DUX-1030 staging creation traces: make incremental
  dbt_subprojects/dex/models/automated_trades/_schema.yml
  dbt_subprojects/dex/models/automated_trades/_staging/evms_latest_creation_trace.sql
Labels: ready-for-merging, hotfix, dbt: dex

#7831 Optimize zeroex_v2
  dbt_subprojects/dex/macros/models/_project/zeroex/zeroex_settler_addresses.sql
  dbt_subprojects/dex/macros/models/_project/zeroex/zeroex_settler_txs_cte.sql
  dbt_subprojects/dex/macros/models/_project/zeroex/zeroex_v2.sql
  dbt_subprojects/dex/models/_projects/zeroex/arbitrum/zeroex_arbitrum_schema.yml
  dbt_subprojects/dex/models/_projects/zeroex/arbitrum/zeroex_arbitrum_settler_addresses.sql
  dbt_subprojects/dex/models/_projects/zeroex/avalanche_c/zeroex_avalanche_c_schema.yml
  dbt_subprojects/dex/models/_projects/zeroex/avalanche_c/zeroex_avalanche_c_settler_addresses.sql
  dbt_subprojects/dex/models/_projects/zeroex/base/zeroex_base_schema.yml
  dbt_subprojects/dex/models/_projects/zeroex/base/zeroex_base_settler_addresses.sql
  dbt_subprojects/dex/models/_projects/zeroex/berachain/zeroex_berachain_schema.yml
  dbt_subprojects/dex/models/_projects/zeroex/berachain/zeroex_berachain_settler_addresses.sql
  dbt_subprojects/dex/models/_projects/zeroex/blast/zeroex_blast_schema.yml
  dbt_subprojects/dex/models/_projects/zeroex/blast/zeroex_blast_settler_addresses.sql
  dbt_subprojects/dex/models/_projects/zeroex/bnb/zeroex_bnb_schema.yml
  dbt_subprojects/dex/models/_projects/zeroex/bnb/zeroex_bnb_settler_addresses.sql
  dbt_subprojects/dex/models/_projects/zeroex/celo/zeroex_celo_schema.yml
  dbt_subprojects/dex/models/_projects/zeroex/celo/zeroex_celo_settler_addresses.sql
  dbt_subprojects/dex/models/_projects/zeroex/ethereum/zeroex_ethereum_schema.yml
  dbt_subprojects/dex/models/_projects/zeroex/ethereum/zeroex_ethereum_settler_addresses.sql
  dbt_subprojects/dex/models/_projects/zeroex/fantom/zeroex_fantom_schema.yml
  dbt_subprojects/dex/models/_projects/zeroex/fantom/zeroex_fantom_settler_addresses.sql
  dbt_subprojects/dex/models/_projects/zeroex/linea/zeroex_linea_schema.yml
  dbt_subprojects/dex/models/_projects/zeroex/linea/zeroex_linea_settler_addresses.sql
  dbt_subprojects/dex/models/_projects/zeroex/mantle/zeroex_mantle_schema.yml
  dbt_subprojects/dex/models/_projects/zeroex/mantle/zeroex_mantle_settler_addresses.sql
  dbt_subprojects/dex/models/_projects/zeroex/mode/zeroex_mode_schema.yml
  dbt_subprojects/dex/models/_projects/zeroex/mode/zeroex_mode_settler_addresses.sql
  dbt_subprojects/dex/models/_projects/zeroex/optimism/zeroex_optimism_schema.yml
  dbt_subprojects/dex/models/_projects/zeroex/optimism/zeroex_optimism_settler_addresses.sql
  dbt_subprojects/dex/models/_projects/zeroex/polygon/zeroex_polygon_schema.yml
  dbt_subprojects/dex/models/_projects/zeroex/polygon/zeroex_polygon_settler_addresses.sql
  dbt_subprojects/dex/models/_projects/zeroex/scroll/zeroex_scroll_schema.yml
  dbt_subprojects/dex/models/_projects/zeroex/scroll/zeroex_scroll_settler_addresses.sql
  dbt_subprojects/dex/models/_projects/zeroex/unichain/zeroex_unichain_schema.yml
  dbt_subprojects/dex/models/_projects/zeroex/unichain/zeroex_unichain_settler_addresses.sql
  dbt_subprojects/dex/models/_projects/zeroex/worldchain/zeroex_worldchain_schema.yml
  dbt_subprojects/dex/models/_projects/zeroex/worldchain/zeroex_worldchain_settler_addresses.sql
Labels: ready-for-merging, dbt: dex

#7886 Fix partition timestamps
  .github/workflows/daily_spellbook.yml
  .github/workflows/dex.yml
  .github/workflows/hourly_spellbook.yml
  .github/workflows/nft.yml
  .github/workflows/solana.yml
  .github/workflows/tokens.yml
  dbt_macros/shared/balances_incremental_subset_daily.sql
  dbt_subprojects/daily_spellbook/models/_projects/polymarket/polygon/polymarket_polygon_positions_raw.sql
  dbt_subprojects/daily_spellbook/models/chainswap/arbitrum/chain_swap_arbitrum_trades.sql
  dbt_subprojects/daily_spellbook/models/chainswap/avalanche_c/chain_swap_avalanche_c_trades.sql
  dbt_subprojects/daily_spellbook/models/chainswap/base/chain_swap_base_trades.sql
  dbt_subprojects/daily_spellbook/models/chainswap/bnb/chain_swap_bnb_trades.sql
  dbt_subprojects/daily_spellbook/models/chainswap/ethereum/chain_swap_ethereum_trades.sql
  dbt_subprojects/daily_spellbook/models/chainswap/optimism/chain_swap_optimism_trades.sql
  dbt_subprojects/daily_spellbook/models/chainswap/polygon/chain_swap_polygon_trades.sql
  dbt_subprojects/dex/macros/models/_project/zeroex/zeroex_v2.sql
  dbt_subprojects/dex/models/bot_trades/flokibot/base/flokibot_base_bot_trades.sql
  dbt_subprojects/dex/models/bot_trades/flokibot/bnb/flokibot_bnb_bot_trades.sql
  dbt_subprojects/dex/models/bot_trades/flokibot/ethereum/flokibot_ethereum_bot_trades.sql
  dbt_subprojects/dex/models/bot_trades/pepeboost/ethereum/pepeboost_ethereum_bot_trades.sql
Labels: ready-for-merging, hotfix, dbt: dex, dbt: daily

#7887 DUX-894 Init shape dex
  dbt_subprojects/dex/models/dex_info.sql
  dbt_subprojects/dex/models/trades/dex_base_trades.sql
  dbt_subprojects/dex/models/trades/shape/_schema.yml
  dbt_subprojects/dex/models/trades/shape/dex_shape_base_trades.sql
  dbt_subprojects/dex/models/trades/shape/platforms/reservoir_swap_shape_base_trades.sql
  dbt_subprojects/dex/seeds/trades/_schema.yml
  dbt_subprojects/dex/seeds/trades/reservoir_swap_shape_base_trades_seed.csv
  sources/_sector/dex/trades/shape/_sources.yml
Labels: ready-for-merging, dbt: dex

#7875 add ECLP pools to balancer v3 pool labels
  dbt_subprojects/daily_spellbook/models/_sector/labels/addresses/__single_category_labels__/beets/labels_beets_pools_sonic.sql
  dbt_subprojects/dex/models/_projects/balancer/labels/arbitrum/labels_balancer_v3_pools_arbitrum.sql
  dbt_subprojects/dex/models/_projects/balancer/labels/base/labels_balancer_v3_pools_base.sql
  dbt_subprojects/dex/models/_projects/balancer/labels/ethereum/labels_balancer_v3_pools_ethereum.sql
  dbt_subprojects/dex/models/_projects/balancer/labels/gnosis/labels_balancer_v3_pools_gnosis.sql
  sources/balancer/arbitrum/balancer_arbitrum_sources.yml
  sources/balancer/base/balancer_base_sources.yml
  sources/balancer/ethereum/balancer_ethereum_sources.yml
  sources/balancer/gnosis/balancer_gnosis_sources.yml
  sources/beets/sonic/beets_sonic_sources.yml
Labels: ready-for-merging, dbt: dex, dbt: daily

#7892 [easy] add erc20 tokens in sonic tokens table
  dbt_subprojects/tokens/models/tokens/sonic/tokens_sonic_erc20.sql
Labels: ready-for-merging, dbt: tokens

#7874 Adding new Yield Yak strategy to models
  dbt_subprojects/daily_spellbook/macros/project/yield_yak/yield_yak_strategies.sql
  sources/yield_yak/avalanche_c/yield_yak_avalanche_c_sources.yml
Labels: ready-for-merging, dbt: daily

#7867 also account for tokens sent from the vault for flashloan fees
  dbt_macros/shared/balancer/balancer_protocol_fee_macro.sql
  dbt_subprojects/daily_spellbook/models/beets/sonic/beets_protocol_fee.sql
  dbt_subprojects/daily_spellbook/models/beets/sonic/beets_schema.yml
  sources/beethoven_x/fantom/beethoven_x_fantom_sources.yml
Labels: ready-for-merging, dbt: daily

#7876 Metadata update
  dbt_subprojects/nft/models/nft_metrics/ethereum/metadata/nft_ethereum_metadata_xcopy_collections.sql
Labels: ready-for-merging, dbt: nft

#7888 fix: contributors in post hook
  dbt_subprojects/daily_spellbook/models/_sector/gas/prices/cross_chain/gas_usage_by_address.sql
  dbt_subprojects/daily_spellbook/models/_sector/gas/prices/cross_chain/gas_usage_by_address_schema.yml
Labels: ready-for-merging, dbt: daily

#7883 Lending Aave v3 for Celo
  dbt_subprojects/hourly_spellbook/models/_sector/lending/borrow/celo/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/lending/borrow/celo/lending_celo_base_borrow.sql
  dbt_subprojects/hourly_spellbook/models/_sector/lending/borrow/celo/platforms/aave_v3_celo_base_borrow.sql
  dbt_subprojects/hourly_spellbook/models/_sector/lending/flashloans/celo/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/lending/flashloans/celo/lending_celo_base_flashloans.sql
  dbt_subprojects/hourly_spellbook/models/_sector/lending/flashloans/celo/platforms/aave_v3_celo_base_flashloans.sql
  dbt_subprojects/hourly_spellbook/models/_sector/lending/supply/celo/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/lending/supply/celo/lending_celo_base_supply.sql
  dbt_subprojects/hourly_spellbook/models/_sector/lending/supply/celo/platforms/aave_v3_celo_base_supply.sql
  dbt_subprojects/hourly_spellbook/seeds/_sector/lending/_schema.yml
  dbt_subprojects/hourly_spellbook/seeds/_sector/lending/aave_celo_base_borrow_seed.csv
  dbt_subprojects/hourly_spellbook/seeds/_sector/lending/aave_celo_base_flashloans_seed.csv
  dbt_subprojects/hourly_spellbook/seeds/_sector/lending/aave_celo_base_supply_seed.csv
  sources/_sector/lending/borrow/celo/_sources.yml
  sources/_sector/lending/flashloans/celo/_sources.yml
  sources/_sector/lending/supply/celo/_sources.yml
Labels: ready-for-merging, dbt: hourly

#7894 curve ethereum: fix duplicates in pools view
  dbt_subprojects/dex/models/_projects/curvefi/ethereum/curve_ethereum_view_pools.sql
Labels: ready-for-review, hotfix, dbt: dex

#7898 fix first funded by
  dbt_subprojects/hourly_spellbook/macros/sector/addresses_events/addresses_events_first_funded_by.sql
Labels: ready-for-merging, hotfix, dbt: hourly

#7908 Remove excluded balances_latest models
  dbt_subprojects/tokens/models/transfers_and_balances/arbitrum/_schema.yml
  dbt_subprojects/tokens/models/transfers_and_balances/arbitrum/tokens_arbitrum_balances_latest.sql
  dbt_subprojects/tokens/models/transfers_and_balances/avalanche_c/_schema.yml
  dbt_subprojects/tokens/models/transfers_and_balances/avalanche_c/tokens_avalanche_c_balances_latest.sql
  dbt_subprojects/tokens/models/transfers_and_balances/base/_schema.yml
  dbt_subprojects/tokens/models/transfers_and_balances/base/tokens_base_balances_latest.sql
  dbt_subprojects/tokens/models/transfers_and_balances/bnb/_schema.yml
  dbt_subprojects/tokens/models/transfers_and_balances/bnb/tokens_bnb_balances_latest.sql
  dbt_subprojects/tokens/models/transfers_and_balances/ethereum/_schema.yml
  dbt_subprojects/tokens/models/transfers_and_balances/ethereum/tokens_ethereum_balances_latest.sql
  dbt_subprojects/tokens/models/transfers_and_balances/linea/_schema.yml
  dbt_subprojects/tokens/models/transfers_and_balances/linea/tokens_linea_balances_latest.sql
  dbt_subprojects/tokens/models/transfers_and_balances/optimism/_schema.yml
  dbt_subprojects/tokens/models/transfers_and_balances/optimism/tokens_optimism_balances_latest.sql
  dbt_subprojects/tokens/models/transfers_and_balances/polygon/_schema.yml
  dbt_subprojects/tokens/models/transfers_and_balances/polygon/tokens_polygon_balances_latest.sql
  dbt_subprojects/tokens/models/transfers_and_balances/scroll/_schema.yml
  dbt_subprojects/tokens/models/transfers_and_balances/scroll/tokens_scroll_balances_latest.sql
Labels: ready-for-review, dbt: tokens

#7878 DEX coverage for Gnosis Chain
  dbt_subprojects/dex/models/trades/gnosis/_schema.yml
  dbt_subprojects/dex/models/trades/gnosis/dex_gnosis_base_trades.sql
  dbt_subprojects/dex/models/trades/gnosis/platforms/swapr_gnosis_base_trades.sql
  dbt_subprojects/dex/models/trades/gnosis/platforms/uniswap_v3_gnosis_base_trades.sql
  sources/_sector/dex/trades/gnosis/_sources.yml
Labels: ready-for-merging, dbt: dex

#7925 chore: add LOCK token to prices
  dbt_subprojects/tokens/models/prices/ethereum/prices_ethereum_tokens.sql
Labels: ready-for-merging, dbt: tokens

#7915 Added ZRC token
  dbt_subprojects/tokens/models/prices/ethereum/prices_ethereum_tokens.sql
Labels: ready-for-merging, dbt: tokens

#7906 Celo update coinpaprika prices setup
  dbt_subprojects/tokens/models/prices/celo/prices_celo_tokens.sql
Labels: ready-for-merging, dbt: tokens

#7899 Remove prices.minute
  dbt_subprojects/tokens/models/prices/_schema.yml
  dbt_subprojects/tokens/models/prices/prices_minute.sql
Labels: ready-for-merging, dbt: tokens

#7914 Add carbon_defi on celo
  dbt_subprojects/dex/models/_projects/carbon_defi/carbon_defi_trades.sql
  dbt_subprojects/dex/models/trades/celo/_schema.yml
  dbt_subprojects/dex/models/trades/celo/dex_celo_base_trades.sql
  dbt_subprojects/dex/models/trades/celo/platforms/carbon_defi_celo_base_trades.sql
  dbt_subprojects/dex/seeds/trades/_schema.yml
  dbt_subprojects/dex/seeds/trades/carbon_defi_celo_base_trades_seed.csv
  sources/_sector/dex/trades/celo/_sources.yml
Labels: ready-for-merging, dbt: dex

#7922 eth staking - tag new rocket pool contract
  dbt_subprojects/hourly_spellbook/models/_sector/staking/ethereum/entities/staking_ethereum_entities_contracts.sql
Labels: ready-for-merging, dbt: hourly

#7919 Update COW Protocol ETH-flow orders mainnet contract addresses
  dbt_subprojects/hourly_spellbook/models/_project/cow_protocol/ethereum/cow_protocol_ethereum_eth_flow_orders.sql
Labels: ready-for-merging, dbt: hourly

#7916 [CoW Protocol] Add Laita, Copium, and Sector
  dbt_subprojects/hourly_spellbook/models/_project/cow_protocol/arbitrum/cow_protocol_arbitrum_schema.yml
  dbt_subprojects/hourly_spellbook/models/_project/cow_protocol/arbitrum/cow_protocol_arbitrum_solvers.sql
  dbt_subprojects/hourly_spellbook/models/_project/cow_protocol/base/cow_protocol_base_solvers.sql
  dbt_subprojects/hourly_spellbook/models/_project/cow_protocol/gnosis/cow_protocol_gnosis_solvers.sql
Labels: ready-for-merging, dbt: hourly

#7911 Add COW protocol ETH-flow orders table on gnosis
  dbt_subprojects/hourly_spellbook/models/_project/cow_protocol/gnosis/cow_protocol_gnosis_eth_flow_orders.sql
  dbt_subprojects/hourly_spellbook/models/_project/cow_protocol/gnosis/cow_protocol_gnosis_schema.yml
Labels: ready-for-merging, dbt: hourly

#7907 Celo gas fees - fee currency wrapper map
  dbt_subprojects/hourly_spellbook/models/_sector/gas/fees/celo/gas_celo_fees.sql
  dbt_subprojects/hourly_spellbook/models/_sector/gas/fees/celo/gas_celo_schema.yml
Labels: ready-for-merging, dbt: hourly

#7904 `gas.fees` -- add more EVM chains
  dbt_subprojects/hourly_spellbook/models/_sector/gas/fees/abstract/gas_abstract_fees.sql
  dbt_subprojects/hourly_spellbook/models/_sector/gas/fees/abstract/gas_abstract_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/gas/fees/apechain/gas_apechain_fees.sql
  dbt_subprojects/hourly_spellbook/models/_sector/gas/fees/apechain/gas_apechain_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/gas/fees/gas_fees.sql
  dbt_subprojects/hourly_spellbook/seeds/_sector/gas/evm_gas_fees.csv
Labels: ready-for-merging, dbt: hourly

#7903 Add COW protocol ETH-flow orders table on arbitrum
  dbt_subprojects/hourly_spellbook/models/_project/cow_protocol/arbitrum/cow_protocol_arbitrum_eth_flow_orders.sql
  dbt_subprojects/hourly_spellbook/models/_project/cow_protocol/arbitrum/cow_protocol_arbitrum_schema.yml
Labels: ready-for-merging, dbt: hourly

#7868 TON BagOfCells parsing framework + EVAA parser
  dbt_subprojects/daily_spellbook/macros/project/evaa/evaa_ton_pools.sql
  dbt_subprojects/daily_spellbook/macros/project/ton/README.md
  dbt_subprojects/daily_spellbook/macros/project/ton/ton_begin_parse.sql
  dbt_subprojects/daily_spellbook/macros/project/ton/ton_begin_parse_impl.sql
  dbt_subprojects/daily_spellbook/macros/project/ton/ton_boc_state_type.sql
  dbt_subprojects/daily_spellbook/macros/project/ton/ton_from_boc.sql
  dbt_subprojects/daily_spellbook/macros/project/ton/ton_get_ref_cell.sql
  dbt_subprojects/daily_spellbook/macros/project/ton/ton_load_address.sql
  dbt_subprojects/daily_spellbook/macros/project/ton/ton_load_address_impl.sql
  dbt_subprojects/daily_spellbook/macros/project/ton/ton_load_int.sql
  dbt_subprojects/daily_spellbook/macros/project/ton/ton_load_int_impl.sql
  dbt_subprojects/daily_spellbook/macros/project/ton/ton_load_ref.sql
  dbt_subprojects/daily_spellbook/macros/project/ton/ton_load_ref_impl.sql
  dbt_subprojects/daily_spellbook/macros/project/ton/ton_load_uint.sql
  dbt_subprojects/daily_spellbook/macros/project/ton/ton_load_uint_impl.sql
  dbt_subprojects/daily_spellbook/macros/project/ton/ton_load_uint_large_impl.sql
  dbt_subprojects/daily_spellbook/macros/project/ton/ton_preload_int.sql
  dbt_subprojects/daily_spellbook/macros/project/ton/ton_preload_uint.sql
  dbt_subprojects/daily_spellbook/macros/project/ton/ton_preload_uint_large.sql
  dbt_subprojects/daily_spellbook/macros/project/ton/ton_restart_parse.sql
  dbt_subprojects/daily_spellbook/macros/project/ton/ton_restart_parse_impl.sql
  dbt_subprojects/daily_spellbook/macros/project/ton/ton_skip_bits.sql
  dbt_subprojects/daily_spellbook/macros/project/ton/ton_skip_bits_impl.sql
  dbt_subprojects/daily_spellbook/macros/project/ton/ton_skip_refs.sql
  dbt_subprojects/daily_spellbook/macros/project/ton/ton_skip_refs_impl.sql
  dbt_subprojects/daily_spellbook/models/evaa/ton/evaa_ton_assets.sql
  dbt_subprojects/daily_spellbook/models/evaa/ton/evaa_ton_liquidate.sql
  dbt_subprojects/daily_spellbook/models/evaa/ton/evaa_ton_schema.yml
  dbt_subprojects/daily_spellbook/models/evaa/ton/evaa_ton_supply.sql
  dbt_subprojects/daily_spellbook/models/evaa/ton/evaa_ton_withdraw.sql
  dbt_subprojects/daily_spellbook/tests/evaa/evaa_ton_assets_exist.sql
  dbt_subprojects/daily_spellbook/tests/evaa/evaa_ton_events_known_assets.sql
  dbt_subprojects/daily_spellbook/tests/ton/ton_boc_parser_load_address.sql
  dbt_subprojects/daily_spellbook/tests/ton/ton_boc_parser_load_int.sql
  dbt_subprojects/daily_spellbook/tests/ton/ton_boc_parser_load_ref.sql
  dbt_subprojects/daily_spellbook/tests/ton/ton_boc_parser_load_uint.sql
  dbt_subprojects/daily_spellbook/tests/ton/ton_load_uint_full_octets.sql
  dbt_subprojects/daily_spellbook/tests/ton/ton_simple_boc_parser.sql
Labels: ready-for-merging, dbt: daily

#7814 improve polymarket pricing model
  dbt_subprojects/daily_spellbook/models/_projects/polymarket/polygon/polymarket_polygon_market_prices_daily.sql
  dbt_subprojects/daily_spellbook/models/_projects/polymarket/polygon/polymarket_polygon_market_prices_hourly.sql
Labels: ready-for-merging, dbt: daily

#7673 remove next_update col and refresh all balances
  dbt_macros/shared/balances_incremental_subset_daily.sql
  dbt_subprojects/daily_spellbook/models/_sector/stablecoins/ethereum/stablecoins_ethereum_balances.sql
  dbt_subprojects/daily_spellbook/models/swell/balances/ethereum/swell_balances_ethereum_core_assets.sql
  dbt_subprojects/daily_spellbook/models/swell/balances/ethereum/swell_balances_ethereum_schema.yml
Labels: ready-for-merging, dbt: daily

#7923 DUX-1018 Deprecate some more price models
  dbt_subprojects/dex/models/prices/dex_prices.sql
  dbt_subprojects/dex/models/prices/dex_prices_block.sql
  dbt_subprojects/dex/models/prices/dex_prices_latest.sql
  sources/_subprojects_outputs/sqlmesh/_sources.yml
  sources/prices/prices_sources.yml
Labels: ready-for-merging, dbt: dex

#7933 Revert "feat: fee currency wrapper map (#7907)"
  dbt_subprojects/hourly_spellbook/models/_sector/gas/fees/celo/gas_celo_fees.sql
  dbt_subprojects/hourly_spellbook/models/_sector/gas/fees/celo/gas_celo_schema.yml
Labels: ready-for-review, dbt: hourly

#7938 Remove prices block solana
  dbt_subprojects/solana/models/_sector/dex/prices/dex_prices_block_solana.sql
  dbt_subprojects/solana/models/_sector/dex/prices/schema.yml
Labels: ready-for-merging, dbt: solana

#7937 lido liquidity: balancer v2 pools adding
  dbt_subprojects/hourly_spellbook/models/_project/lido/liquidity/arbitrum/lido_liquidity_arbitrum_balancer_pools.sql
  dbt_subprojects/hourly_spellbook/models/_project/lido/liquidity/ethereum/lido_liquidity_ethereum_balancer_pools.sql
  dbt_subprojects/hourly_spellbook/models/_project/lido/liquidity/optimism/lido_liquidity_optimism_balancer_pools.sql
Labels: ready-for-merging, dbt: hourly

#7926 Add Spark Protocol on Gnosis
  dbt_subprojects/hourly_spellbook/models/_sector/lending/borrow/gnosis/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/lending/borrow/gnosis/lending_gnosis_base_borrow.sql
  dbt_subprojects/hourly_spellbook/models/_sector/lending/borrow/gnosis/platforms/spark_gnosis_base_borrow.sql
  dbt_subprojects/hourly_spellbook/models/_sector/lending/flashloans/gnosis/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/lending/flashloans/gnosis/lending_gnosis_base_flashloans.sql
  dbt_subprojects/hourly_spellbook/models/_sector/lending/flashloans/gnosis/platforms/spark_gnosis_base_flashloans.sql
  dbt_subprojects/hourly_spellbook/models/_sector/lending/supply/gnosis/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/lending/supply/gnosis/lending_gnosis_base_supply.sql
  dbt_subprojects/hourly_spellbook/models/_sector/lending/supply/gnosis/platforms/spark_gnosis_base_supply.sql
  sources/_sector/lending/borrow/gnosis/_sources.yml
  sources/_sector/lending/flashloans/gnosis/_sources.yml
  sources/_sector/lending/supply/gnosis/_sources.yml
Labels: ready-for-merging, dbt: hourly

#7921 Add sophon gas fees
  dbt_subprojects/hourly_spellbook/models/_sector/gas/fees/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/gas/fees/gas_fees.sql
  dbt_subprojects/hourly_spellbook/models/_sector/gas/fees/sophon/gas_sophon_fees.sql
  dbt_subprojects/hourly_spellbook/models/_sector/gas/fees/sophon/gas_sophon_schema.yml
  dbt_subprojects/hourly_spellbook/seeds/_sector/gas/evm_gas_fees.csv
Labels: ready-for-merging, dbt: hourly

#7932 1inch-U61: fixed src/dst allocations
  dbt_subprojects/dex/models/_projects/oneinch/oneinch_swaps.sql
Labels: ready-for-merging, dbt: dex

#7929 1inch-U60: updated mapped contracts
  dbt_subprojects/daily_spellbook/macros/project/oneinch/_meta/oneinch_mapped_contracts_macro.sql
  dbt_subprojects/daily_spellbook/macros/project/oneinch/project/oneinch_project_swaps_macro.sql
Labels: ready-for-merging, dbt: daily

#7927 ton net transfers daily
  dbt_subprojects/daily_spellbook/models/_metrics/transfers/chains/ton/metrics_ton_transfers_daily.sql
  dbt_subprojects/daily_spellbook/models/ton/tokens_ton_net_transfers_daily.sql
  dbt_subprojects/daily_spellbook/models/ton/ton.yml
  sources/_subprojects_outputs/tokens/transfers.yml
Labels: ready-for-merging, dbt: daily

#7802 DUX-939 added new evm chains
  dbt_subprojects/tokens/models/transfers_and_balances/abstract/_schema.yml
  dbt_subprojects/tokens/models/transfers_and_balances/abstract/tokens_abstract_net_transfers_daily.sql
  dbt_subprojects/tokens/models/transfers_and_balances/abstract/tokens_abstract_net_transfers_daily_asset.sql
  dbt_subprojects/tokens/models/transfers_and_balances/apechain/_schema.yml
  dbt_subprojects/tokens/models/transfers_and_balances/apechain/tokens_apechain_net_transfers_daily.sql
  dbt_subprojects/tokens/models/transfers_and_balances/apechain/tokens_apechain_net_transfers_daily_asset.sql
  dbt_subprojects/tokens/models/transfers_and_balances/berachain/_schema.yml
  dbt_subprojects/tokens/models/transfers_and_balances/berachain/tokens_berachain_net_transfers_daily.sql
  dbt_subprojects/tokens/models/transfers_and_balances/berachain/tokens_berachain_net_transfers_daily_asset.sql
  dbt_subprojects/tokens/models/transfers_and_balances/boba/_schema.yml
  dbt_subprojects/tokens/models/transfers_and_balances/boba/tokens_boba_net_transfers_daily.sql
  dbt_subprojects/tokens/models/transfers_and_balances/boba/tokens_boba_net_transfers_daily_asset.sql
  dbt_subprojects/tokens/models/transfers_and_balances/celo/_schema.yml
  dbt_subprojects/tokens/models/transfers_and_balances/corn/_schema.yml
  dbt_subprojects/tokens/models/transfers_and_balances/corn/tokens_corn_net_transfers_daily.sql
  dbt_subprojects/tokens/models/transfers_and_balances/corn/tokens_corn_net_transfers_daily_asset.sql
  dbt_subprojects/tokens/models/transfers_and_balances/flare/_schema.yml
  dbt_subprojects/tokens/models/transfers_and_balances/flare/tokens_flare_net_transfers_daily.sql
  dbt_subprojects/tokens/models/transfers_and_balances/flare/tokens_flare_net_transfers_daily_asset.sql
  dbt_subprojects/tokens/models/transfers_and_balances/ink/_schema.yml
  dbt_subprojects/tokens/models/transfers_and_balances/ink/tokens_ink_net_transfers_daily.sql
  dbt_subprojects/tokens/models/transfers_and_balances/ink/tokens_ink_net_transfers_daily_asset.sql
  dbt_subprojects/tokens/models/transfers_and_balances/kaia/_schema.yml
  dbt_subprojects/tokens/models/transfers_and_balances/kaia/tokens_kaia_net_transfers_daily.sql
  dbt_subprojects/tokens/models/transfers_and_balances/kaia/tokens_kaia_net_transfers_daily_asset.sql
  dbt_subprojects/tokens/models/transfers_and_balances/nova/_schema.yml
  dbt_subprojects/tokens/models/transfers_and_balances/nova/tokens_nova_net_transfers_daily.sql
  dbt_subprojects/tokens/models/transfers_and_balances/nova/tokens_nova_net_transfers_daily_asset.sql
  dbt_subprojects/tokens/models/transfers_and_balances/sonic/_schema.yml
  dbt_subprojects/tokens/models/transfers_and_balances/sonic/tokens_sonic_net_transfers_daily.sql
  dbt_subprojects/tokens/models/transfers_and_balances/sonic/tokens_sonic_net_transfers_daily_asset.sql
  dbt_subprojects/tokens/models/transfers_and_balances/sophon/_schema.yml
  dbt_subprojects/tokens/models/transfers_and_balances/sophon/tokens_sophon_net_transfers_daily.sql
  dbt_subprojects/tokens/models/transfers_and_balances/sophon/tokens_sophon_net_transfers_daily_asset.sql
  dbt_subprojects/tokens/models/transfers_and_balances/tokens_net_transfers_daily.sql
  dbt_subprojects/tokens/models/transfers_and_balances/tokens_net_transfers_daily_asset.sql
  dbt_subprojects/tokens/models/transfers_and_balances/viction/_schema.yml
  dbt_subprojects/tokens/models/transfers_and_balances/viction/tokens_viction_net_transfers_daily.sql
  dbt_subprojects/tokens/models/transfers_and_balances/viction/tokens_viction_net_transfers_daily_asset.sql
  dbt_subprojects/tokens/models/transfers_and_balances/worldchain/_schema.yml
  dbt_subprojects/tokens/models/transfers_and_balances/worldchain/tokens_worldchain_net_transfers_daily.sql
  dbt_subprojects/tokens/models/transfers_and_balances/worldchain/tokens_worldchain_net_transfers_daily_asset.sql
Labels: ready-for-merging, dbt: tokens

#7936 Celo gas fees - fee currency wrapper map (v2)
  dbt_subprojects/hourly_spellbook/models/_sector/gas/fees/celo/gas_celo_fees.sql
  dbt_subprojects/hourly_spellbook/models/_sector/gas/fees/celo/gas_celo_schema.yml
Labels: ready-for-merging, dbt: hourly

#7940 New token added to avalanche that was not picked up automatically
  dbt_subprojects/tokens/models/tokens/avalanche_c/tokens_avalanche_c_erc20.sql
Labels: ready-for-merging, dbt: tokens

#7944 add tokens to price lists
  dbt_subprojects/tokens/models/prices/arbitrum/prices_arbitrum_tokens.sql
  dbt_subprojects/tokens/models/prices/avalanche_c/prices_avalanche_c_tokens.sql
  dbt_subprojects/tokens/models/prices/base/prices_base_tokens.sql
  dbt_subprojects/tokens/models/prices/berachain/_schema.yml
  dbt_subprojects/tokens/models/prices/berachain/prices_berachain_tokens.sql
  dbt_subprojects/tokens/models/prices/blast/prices_blast_schema.yml
  dbt_subprojects/tokens/models/prices/blast/prices_blast_tokens.sql
  dbt_subprojects/tokens/models/prices/bnb/prices_bnb_tokens.sql
  dbt_subprojects/tokens/models/prices/ethereum/prices_ethereum_tokens.sql
  dbt_subprojects/tokens/models/prices/mantle/prices_mantle_schema.yml
  dbt_subprojects/tokens/models/prices/mantle/prices_mantle_tokens.sql
  dbt_subprojects/tokens/models/tokens/arbitrum/tokens_arbitrum_erc20.sql
Labels: ready-for-merging, dbt: tokens

#7947 Added new token in tokens/models/prices/solana/prices_solana_tokens.sql
  dbt_subprojects/tokens/models/prices/solana/prices_solana_tokens.sql
Labels: ready-for-merging, dbt: tokens

#7920 Add and update Gnosis DEX models and aggregation
  dbt_subprojects/dex/models/_projects/elk_finance/_schema.yml
  dbt_subprojects/dex/models/_projects/elk_finance/elk_finance_pools.sql
  dbt_subprojects/dex/models/_projects/elk_finance/gnosis/elk_finance_gnosis_pools.sql
  dbt_subprojects/dex/models/_projects/honeyswap/_schema.yml
  dbt_subprojects/dex/models/_projects/honeyswap/gnosis/honeyswap_gnosis_pools.sql
  dbt_subprojects/dex/models/_projects/honeyswap/honeyswap_pools.sql
  dbt_subprojects/dex/models/_projects/levinswap/_schema.yml
  dbt_subprojects/dex/models/_projects/levinswap/gnosis/levinswap_gnosis_pools.sql
  dbt_subprojects/dex/models/_projects/levinswap/levinswap_pools.sql
  dbt_subprojects/dex/models/_projects/sushiswap/_schema.yml
  dbt_subprojects/dex/models/_projects/sushiswap/gnosis/sushiswap_gnosis_pools.sql
  dbt_subprojects/dex/models/_projects/sushiswap/sushiswap_pools.sql
  dbt_subprojects/dex/models/_projects/swapr/_schema.yml
  dbt_subprojects/dex/models/_projects/swapr/gnosis/swapr_gnosis_pools.sql
  dbt_subprojects/dex/models/_projects/swapr/swapr_pools.sql
  dbt_subprojects/dex/models/_projects/uniswap/_schema.yml
  dbt_subprojects/dex/models/_projects/uniswap/gnosis/uniswap_gnosis_pools.sql
  dbt_subprojects/dex/models/_projects/uniswap/uniswap_pools.sql
  dbt_subprojects/dex/models/pools/_schema.yml
  dbt_subprojects/dex/models/pools/dex_pools.sql
  sources/_sector/dex/trades/gnosis/_sources.yml
Labels: ready-for-merging, dbt: dex

#7941 Add Inkyswap to dex.trades
  dbt_subprojects/dex/models/dex_info.sql
  dbt_subprojects/dex/models/trades/ink/_schema.yml
  dbt_subprojects/dex/models/trades/ink/dex_ink_base_trades.sql
  dbt_subprojects/dex/models/trades/ink/platforms/inkyswap_ink_base_trades.sql
  dbt_subprojects/dex/seeds/trades/_schema.yml
  dbt_subprojects/dex/seeds/trades/inkyswap_ink_base_trades_seed.csv
  sources/_sector/dex/trades/ink/_sources.yml
Labels: ready-for-merging, dbt: dex

#7946 1inch-U62: fixed unoswaprouter processing
  dbt_subprojects/dex/macros/models/_project/oneinch/AR/oneinch_ar_cfg_contracts_macro.sql
  dbt_subprojects/dex/macros/models/_project/oneinch/AR/oneinch_ar_handle_unoswap.sql
Labels: ready-for-merging, dbt: dex

#7950 new tokens in `prices_sonic_tokens.sql`
  dbt_subprojects/tokens/models/prices/sonic/prices_sonic_tokens.sql
Labels: ready-for-review, dbt: tokens
