Repository duneanalytics/spellbook, pull requests merged in 2025-06, with the labels that each got.

#8298 Add new native addresses
  dbt_subprojects/tokens/models/prices/prices_native_tokens.sql
Labels: ready-for-review, dbt: tokens

#8297 added prices.day with dune blockchains
  dbt_subprojects/hourly_spellbook/models/_sector/prices/prices_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/prices/prices_usd_native.sql
  dbt_subprojects/hourly_spellbook/models/_sector/prices/prices_usd_with_native.sql
Labels: ready-for-merging, dbt: hourly

#8301 abstract pricing: remove native token
  dbt_subprojects/tokens/models/prices/abstract/prices_abstract_tokens.sql
Labels: ready-for-review, dbt: tokens

#8296 add token readme
  dbt_subprojects/tokens/models/tokens/readme.md
Labels: ready-for-review, dbt: tokens

#8241 Update prices_bnb_tokens.sql
  dbt_subprojects/tokens/models/prices/bnb/prices_bnb_tokens.sql
Labels: ready-for-merging, dbt: tokens, prio:useful, func:add_prices

#8315 Update tokens_v1_erc20.sql
  dbt_subprojects/tokens/models/tokens/tokens_v1_erc20.sql
Labels: ready-for-review, hotfix, dbt: tokens

#8309 1inch-U66: project lineage updates
  dbt_subprojects/daily_spellbook/macros/project/oneinch/_meta/oneinch_mapped_contracts_macro.sql
Labels: ready-for-merging, dbt: daily

#8268 Update factorial_ton_pools.sql
  dbt_subprojects/daily_spellbook/macros/project/factorial/factorial_ton_pools.sql
Labels: ready-for-merging, dbt: daily, prio:commercial

#8263 update wrapped sonic address in evms.info
  dbt_subprojects/daily_spellbook/models/evms/evms_info.sql
Labels: ready-for-merging, dbt: daily, prio:useful

#8270 Added some new erc20 tokens
  dbt_subprojects/tokens/models/tokens/arbitrum/tokens_arbitrum_erc20.sql
  dbt_subprojects/tokens/models/tokens/avalanche_c/tokens_avalanche_c_erc20.sql
Labels: ready-for-merging, dbt: tokens, prio:useful

#8264 Add list of NEAR specific tokens with token metadata
  dbt_subprojects/tokens/models/tokens/near/_schema.yml
  dbt_subprojects/tokens/models/tokens/near/tokens_near.sql
Labels: ready-for-merging, dbt: tokens, prio:commercial

#8224 add near cex addresses
  dbt_subprojects/hourly_spellbook/models/_sector/cex/addresses/cex_addresses.sql
  dbt_subprojects/hourly_spellbook/models/_sector/cex/addresses/chains/near/cex_near_addresses.sql
  dbt_subprojects/hourly_spellbook/models/_sector/cex/addresses/chains/near/cex_near_schema.yml
Labels: ready-for-merging, dbt: hourly

#8317 CUR2-222 removed safemoon from bnb tokens prices
  dbt_subprojects/tokens/models/prices/bnb/prices_bnb_tokens.sql
Labels: ready-for-merging, dbt: tokens

#8235 Add tapio dex trades in sonic and base chains
  dbt_subprojects/dex/macros/models/_project/tapio_compatible_trades.sql
  dbt_subprojects/dex/models/_projects/dex_trades_views_schema.yml
  dbt_subprojects/dex/models/_projects/tapio/tapio_trades.sql
  dbt_subprojects/dex/models/dex_info.sql
  dbt_subprojects/dex/models/trades/base/_schema.yml
  dbt_subprojects/dex/models/trades/base/dex_base_base_trades.sql
  dbt_subprojects/dex/models/trades/base/platforms/tapio_base_base_trades.sql
  dbt_subprojects/dex/models/trades/sonic/_schema.yml
  dbt_subprojects/dex/models/trades/sonic/dex_sonic_base_trades.sql
  dbt_subprojects/dex/models/trades/sonic/platforms/tapio_sonic_base_trades.sql
  dbt_subprojects/dex/seeds/trades/_schema.yml
  dbt_subprojects/dex/seeds/trades/tapio_base_base_trades_seed.csv
  dbt_subprojects/dex/seeds/trades/tapio_sonic_base_trades_seed.csv
  sources/_sector/dex/trades/base/_sources.yml
  sources/_sector/dex/trades/sonic/_sources.yml
Labels: ready-for-merging, dbt: dex, prio:useful, func:add_dex

#8330 Deprecate labels_hackers_ethereum Model
  dbt_subprojects/daily_spellbook/models/_sector/labels/addresses/__single_category_labels__/hackers/labels_hackers_ethereum.sql
  dbt_subprojects/daily_spellbook/models/_sector/labels/addresses/__single_category_labels__/hackers/labels_hackers_schema.yml
  dbt_subprojects/daily_spellbook/models/_sector/labels/labels_addresses.sql
Labels: ready-for-review, dbt: daily

#8328 Added ZEUS/WEN new tokens
  dbt_subprojects/tokens/models/prices/solana/prices_solana_tokens.sql
Labels: ready-for-merging, dbt: tokens

#8346 remove viction from gas.fees
  dbt_subprojects/hourly_spellbook/models/_sector/gas/fees/gas_fees.sql
  dbt_subprojects/hourly_spellbook/models/_sector/gas/fees/viction/gas_viction_fees.sql
Labels: ready-for-merging, dbt: hourly

#8347 add zora token on base
  dbt_subprojects/tokens/models/prices/base/prices_base_tokens.sql
Labels: ready-for-review, dbt: tokens

#8226 Add near bridge addresses to labels
  dbt_subprojects/daily_spellbook/models/_sector/labels/addresses/bridge/identifiers/labels_bridges_near.sql
  dbt_subprojects/daily_spellbook/models/_sector/labels/addresses/bridge/identifiers/labels_bridges_near_native.sql
  dbt_subprojects/daily_spellbook/models/_sector/labels/addresses/bridge/labels_bridges.sql
  dbt_subprojects/daily_spellbook/models/_sector/labels/addresses/bridge/labels_bridges_schema.yml
Labels: ready-for-merging, dbt: daily, prio:commercial

#8327 Mindgames DEX added for Arbitrum Chain
  dbt_subprojects/dex/models/dex_info.sql
  dbt_subprojects/dex/models/trades/arbitrum/_schema.yml
  dbt_subprojects/dex/models/trades/arbitrum/dex_arbitrum_base_trades.sql
  dbt_subprojects/dex/models/trades/arbitrum/platforms/mindgames_arbitrum_base_trades.sql
  dbt_subprojects/dex/seeds/trades/_schema.yml
  dbt_subprojects/dex/seeds/trades/mindgames_arbitrum_base_trades_seed.csv
  sources/_sector/dex/trades/arbitrum/_sources.yml
Labels: ready-for-merging, dbt: dex

#8308 Bebop: exclude null trades
  dbt_subprojects/dex/models/_projects/bebop/arbitrum/bebop_blend_arbitrum_trades.sql
  dbt_subprojects/dex/models/_projects/bebop/base/bebop_blend_base_trades.sql
  dbt_subprojects/dex/models/_projects/bebop/ethereum/bebop_blend_ethereum_trades.sql
  dbt_subprojects/dex/models/_projects/bebop/ethereum/bebop_ethereum_trades.sql
  dbt_subprojects/dex/models/_projects/bebop/polygon/bebop_blend_polygon_trades.sql
Labels: ready-for-merging, dbt: dex, prio:useful

#8019 feat: add abstractswap dex spellbook
  dbt_subprojects/dex/models/dex_info.sql
  dbt_subprojects/dex/models/trades/abstract/_schema.yml
  dbt_subprojects/dex/models/trades/abstract/dex_abstract_base_trades.sql
  dbt_subprojects/dex/models/trades/abstract/platforms/abstractswap_v2_abstract_base_trades.sql
  dbt_subprojects/dex/models/trades/abstract/platforms/abstractswap_v3_abstract_base_trades.sql
  dbt_subprojects/dex/models/trades/dex_base_trades.sql
  dbt_subprojects/dex/seeds/trades/_schema.yml
  dbt_subprojects/dex/seeds/trades/abstractswap_v2_abstract_base_trades_seed.csv
  dbt_subprojects/dex/seeds/trades/abstractswap_v3_abstract_base_trades_seed.csv
  sources/_sector/dex/trades/abstract/_sources.yml
Labels: ready-for-merging, dbt: dex

#8345 update chain onboarding readme
  docs/general/chain_onboarding_process.md
Labels: ready-for-merging, dune team

#8299 [CoW Protocol] Add new solvers to mainnet, Arbitrum, and Base
  dbt_subprojects/hourly_spellbook/models/_project/cow_protocol/arbitrum/cow_protocol_arbitrum_solvers.sql
  dbt_subprojects/hourly_spellbook/models/_project/cow_protocol/base/cow_protocol_base_solvers.sql
  dbt_subprojects/hourly_spellbook/models/_project/cow_protocol/ethereum/cow_protocol_ethereum_solvers.sql
Labels: ready-for-merging, dbt: hourly

#8320 Akronswap Protocol DEX Trades added for Arbitrum Chain
  dbt_subprojects/dex/models/trades/arbitrum/_schema.yml
  dbt_subprojects/dex/models/trades/arbitrum/dex_arbitrum_base_trades.sql
  dbt_subprojects/dex/models/trades/arbitrum/platforms/akronswap_arbitrum_base_trades.sql
  dbt_subprojects/dex/seeds/trades/_schema.yml
  dbt_subprojects/dex/seeds/trades/akronswap_arbitrum_base_trades_seed.csv
  sources/_sector/dex/trades/arbitrum/_sources.yml
Labels: ready-for-merging, dbt: dex

#8335 add cex addresses
  dbt_subprojects/hourly_spellbook/models/_sector/cex/addresses/chains/bitcoin/cex_bitcoin_addresses.sql
  dbt_subprojects/hourly_spellbook/models/_sector/cex/addresses/chains/cex_evms_addresses.sql
  dbt_subprojects/hourly_spellbook/models/_sector/cex/addresses/chains/tron/cex_tron_addresses.sql
Labels: ready-for-merging, dbt: hourly

#8285 adding new erc4626
  dbt_subprojects/hourly_spellbook/models/_project/balancer/erc4626_tokens/sonic/balancer_v3_sonic_erc4626_token_mapping.sql
Labels: ready-for-merging, dbt: hourly, prio:useful

#8260 lending markets - forward fill on hourly models (attempt #2)
  dbt_subprojects/hourly_spellbook/macros/sector/lending/lending_aave_compatible_market.sql
Labels: ready-for-merging, dbt: hourly

#8326 [FLUID] - Add Fluid trades spells to dex.trades
  dbt_subprojects/dex/models/trades/arbitrum/_schema.yml
  dbt_subprojects/dex/models/trades/arbitrum/dex_arbitrum_base_trades.sql
  dbt_subprojects/dex/models/trades/arbitrum/platforms/fluid_v1_arbitrum_base_trades.sql
  dbt_subprojects/dex/models/trades/base/_schema.yml
  dbt_subprojects/dex/models/trades/base/dex_base_base_trades.sql
  dbt_subprojects/dex/models/trades/base/platforms/fluid_v1_base_base_trades.sql
  dbt_subprojects/dex/models/trades/polygon/_schema.yml
  dbt_subprojects/dex/models/trades/polygon/dex_polygon_base_trades.sql
  dbt_subprojects/dex/models/trades/polygon/platforms/fluid_v1_polygon_base_trades.sql
  dbt_subprojects/dex/seeds/trades/_schema.yml
  dbt_subprojects/dex/seeds/trades/fluid_arbitrum_base_trades_seed.csv
  dbt_subprojects/dex/seeds/trades/fluid_base_base_trades_seed.csv
  dbt_subprojects/dex/seeds/trades/fluid_polygon_base_trades_seed.csv
  sources/_sector/dex/trades/arbitrum/_sources.yml
  sources/_sector/dex/trades/base/_sources.yml
  sources/_sector/dex/trades/polygon/_sources.yml
Labels: ready-for-merging, dbt: dex

#8286 adapt beets.trades to balancer.trades
  dbt_subprojects/dex/models/_projects/beets/_schema.yml
  dbt_subprojects/dex/models/_projects/beets/beets_trades.sql
  dbt_subprojects/dex/models/_projects/beets/beets_v2_sonic_trades.sql
  dbt_subprojects/dex/models/_projects/beets/beets_v3_sonic_trades.sql
  dbt_subprojects/dex/models/trades/sonic/_schema.yml
  dbt_subprojects/dex/models/trades/sonic/dex_sonic_base_trades.sql
  dbt_subprojects/dex/models/trades/sonic/platforms/beets_sonic_base_trades.sql
  dbt_subprojects/dex/models/trades/sonic/platforms/beets_v2_sonic_base_trades.sql
  dbt_subprojects/dex/models/trades/sonic/platforms/beets_v3_sonic_base_trades.sql
  sources/_subprojects_outputs/spellbook/_sources.yml
Labels: ready-for-merging, dbt: dex, prio:useful

#8323 1inch-U67: updates to project.* lineage
  dbt_subprojects/daily_spellbook/macros/project/oneinch/_meta/oneinch_project_swaps_exposed_blockchains_list.sql
  dbt_subprojects/daily_spellbook/macros/project/oneinch/project/oneinch_project_calls_macro.sql
  dbt_subprojects/daily_spellbook/models/_projects/oneinch/sonic/_meta/oneinch_sonic_mapped_contracts.sql
  dbt_subprojects/daily_spellbook/models/_projects/oneinch/sonic/project/oneinch_sonic_project_calls.sql
  dbt_subprojects/daily_spellbook/models/_projects/oneinch/sonic/project/oneinch_sonic_project_orders.sql
  dbt_subprojects/daily_spellbook/models/_projects/oneinch/sonic/project/oneinch_sonic_project_orders_raw_logs.sql
  dbt_subprojects/daily_spellbook/models/_projects/oneinch/sonic/project/oneinch_sonic_project_orders_raw_traces.sql
  dbt_subprojects/daily_spellbook/models/_projects/oneinch/sonic/project/oneinch_sonic_project_swaps.sql
  dbt_subprojects/daily_spellbook/models/_projects/oneinch/unichain/_meta/oneinch_unichain_mapped_contracts.sql
  dbt_subprojects/daily_spellbook/models/_projects/oneinch/unichain/project/oneinch_unichain_project_calls.sql
  dbt_subprojects/daily_spellbook/models/_projects/oneinch/unichain/project/oneinch_unichain_project_orders.sql
  dbt_subprojects/daily_spellbook/models/_projects/oneinch/unichain/project/oneinch_unichain_project_orders_raw_logs.sql
  dbt_subprojects/daily_spellbook/models/_projects/oneinch/unichain/project/oneinch_unichain_project_orders_raw_traces.sql
  dbt_subprojects/daily_spellbook/models/_projects/oneinch/unichain/project/oneinch_unichain_project_swaps.sql
Labels: ready-for-merging, dbt: daily

#8377 add stability
  dbt_subprojects/hourly_spellbook/models/_project/balancer/erc4626_tokens/sonic/balancer_v3_sonic_erc4626_token_mapping.sql
Labels: ready-for-merging, dbt: hourly

#8394 towards CUR2-267. Hide pancakeswap duplicates
  dbt_subprojects/dex/models/trades/ethereum/platforms/pancakeswap_v2_ethereum_base_trades.sql
  dbt_subprojects/dex/seeds/trades/pancakeswap_ethereum_base_trades_seed.csv
Labels: ready-for-review, hotfix, dbt: dex

#8380 1inch-U68: Solana Lineage V1
  dbt_subprojects/solana/macros/_project/oneinch/oneinch_cfg_macro.sql
  dbt_subprojects/solana/macros/_project/oneinch/oneinch_fusion_transfers_macro.sql
  dbt_subprojects/solana/macros/_project/oneinch/oneinch_order_hash_macro.sql
  dbt_subprojects/solana/models/oneinch/oneinch_solana_fusion_calls.sql
  dbt_subprojects/solana/models/oneinch/oneinch_solana_fusion_created_orders.sql
  dbt_subprojects/solana/models/oneinch/oneinch_solana_swaps.sql
  sources/oneinch/solana/oneinch_solana_sources.yml
Labels: ready-for-merging, dbt: solana

#8374 CUR2-251 Stabble update to remove inflated prices
  dbt_subprojects/solana/models/_sector/dex/dex_solana_base_trades.sql
  dbt_subprojects/solana/models/_sector/dex/stabble/stabble_solana_base_trades.sql
Labels: ready-for-merging, dbt: solana

#8338 CUR2-235 removed inner instruction index join condition
  dbt_subprojects/solana/models/_sector/dex/pumpswap/pumpswap_solana_base_trades.sql
Labels: ready-for-merging, dbt: solana

#8382 add Magic Eden token in prices solana
  dbt_subprojects/tokens/models/prices/solana/prices_solana_tokens.sql
Labels: ready-for-merging, dbt: tokens

#8383 Add new Ethereum EntryPoint v0.7, v0.8 contracts
  dbt_subprojects/hourly_spellbook/models/_sector/account_abstraction/erc4337/ethereum/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/account_abstraction/erc4337/ethereum/account_abstraction_erc4337_ethereum_account_deployed.sql
  dbt_subprojects/hourly_spellbook/models/_sector/account_abstraction/erc4337/ethereum/account_abstraction_erc4337_ethereum_userops.sql
  dbt_subprojects/hourly_spellbook/models/_sector/account_abstraction/erc4337/ethereum/account_abstraction_erc4337_ethereum_v0_7_account_deployed.sql
  dbt_subprojects/hourly_spellbook/models/_sector/account_abstraction/erc4337/ethereum/account_abstraction_erc4337_ethereum_v0_7_userops_basics.sql
  dbt_subprojects/hourly_spellbook/models/_sector/account_abstraction/erc4337/ethereum/account_abstraction_erc4337_ethereum_v0_8_account_deployed.sql
  dbt_subprojects/hourly_spellbook/models/_sector/account_abstraction/erc4337/ethereum/account_abstraction_erc4337_ethereum_v0_8_userops_basics.sql
  sources/account_abstraction/erc4337/ethereum/account_abstraction_erc4337_ethereum_sources.yml
Labels: ready-for-merging, dbt: hourly

#5986 Create `cex.deposit_addresses`
  dbt_subprojects/hourly_spellbook/macros/sector/cex/cex_deposit_addresses.sql
  dbt_subprojects/hourly_spellbook/models/_sector/cex/deposit_addresses/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/cex/deposit_addresses/cex_deposit_addresses.sql
  dbt_subprojects/hourly_spellbook/models/_sector/cex/deposit_addresses/chains/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/cex/deposit_addresses/chains/cex_arbitrum_deposit_addresses.sql
  dbt_subprojects/hourly_spellbook/models/_sector/cex/deposit_addresses/chains/cex_avalanche_c_deposit_addresses.sql
  dbt_subprojects/hourly_spellbook/models/_sector/cex/deposit_addresses/chains/cex_base_deposit_addresses.sql
  dbt_subprojects/hourly_spellbook/models/_sector/cex/deposit_addresses/chains/cex_bnb_deposit_addresses.sql
  dbt_subprojects/hourly_spellbook/models/_sector/cex/deposit_addresses/chains/cex_celo_deposit_addresses.sql
  dbt_subprojects/hourly_spellbook/models/_sector/cex/deposit_addresses/chains/cex_ethereum_deposit_addresses.sql
  dbt_subprojects/hourly_spellbook/models/_sector/cex/deposit_addresses/chains/cex_gnosis_deposit_addresses.sql
  dbt_subprojects/hourly_spellbook/models/_sector/cex/deposit_addresses/chains/cex_optimism_deposit_addresses.sql
  dbt_subprojects/hourly_spellbook/models/_sector/cex/deposit_addresses/chains/cex_polygon_deposit_addresses.sql
  dbt_subprojects/hourly_spellbook/models/_sector/cex/deposit_addresses/chains/cex_scroll_deposit_addresses.sql
  dbt_subprojects/hourly_spellbook/models/_sector/cex/deposit_addresses/chains/cex_zora_deposit_addresses.sql
  sources/_subprojects_outputs/hourly_spellbook/_sources.yml
Labels: dbt: hourly

#8412 add back beets.trades
  dbt_subprojects/dex/models/_projects/beets/_schema.yml
  dbt_subprojects/dex/models/_projects/beets/beets_trades.sql
  dbt_subprojects/dex/models/trades/sonic/platforms/beets_v3_sonic_base_trades.sql
Labels: ready-for-review, dbt: dex

#8418 Exclude more solana models: phantom lineage, oneinch swaps
  dbt_subprojects/solana/models/_sector/dex/phantom_swapper/phantom_swapper_solana_fee_payments_usd.sql
  dbt_subprojects/solana/models/_sector/dex/phantom_swapper/phantom_swapper_solana_fee_token_prices.sql
  dbt_subprojects/solana/models/_sector/dex/phantom_swapper/phantom_swapper_solana_trades.sql
  dbt_subprojects/solana/models/oneinch/oneinch_solana_swaps.sql
Labels: ready-for-review, dbt: solana

#8430 remove coalesce(9) decimals from solana dex.trades
  dbt_subprojects/solana/models/_sector/dex/dex_solana_trades.sql
Labels: ready-for-review, dbt: solana

#8431 Fix Phantom Swapper duplicates error
  dbt_subprojects/solana/models/_sector/dex/phantom_swapper/phantom_swapper_solana_fee_payments_raw.sql
  dbt_subprojects/solana/models/_sector/dex/phantom_swapper/phantom_swapper_solana_fee_payments_usd.sql
  dbt_subprojects/solana/models/_sector/dex/phantom_swapper/phantom_swapper_solana_fee_token_prices.sql
  dbt_subprojects/solana/models/_sector/dex/phantom_swapper/phantom_swapper_solana_trades.sql
Labels: ready-for-merging, dbt: solana

#8409 add cex addresses
  dbt_subprojects/hourly_spellbook/models/_sector/cex/addresses/chains/cex_evms_addresses.sql
Labels: ready-for-merging, dbt: hourly

#8387 [easy] include new prices for Sonic
  dbt_subprojects/tokens/models/prices/sonic/prices_sonic_tokens.sql
Labels: ready-for-merging, dbt: tokens

#8429 Add bbSOL to Solana prices
  dbt_subprojects/tokens/models/prices/solana/prices_solana_tokens.sql
Labels: ready-for-review, ready-for-merging, dbt: tokens
