Repository duneanalytics/spellbook, pull requests merged in 2025-05, with the labels that each got.

#8062 Add pcs opbnb v2 to dex trades
  dbt_subprojects/dex/models/trades/opbnb/_schema.yml
  dbt_subprojects/dex/models/trades/opbnb/dex_opbnb_base_trades.sql
  dbt_subprojects/dex/models/trades/opbnb/platforms/pancakeswap_v2_opbnb_base_trades.sql
  dbt_subprojects/dex/seeds/trades/pancakeswap_opbnb_base_trades_seed.csv
  sources/_sector/dex/trades/opbnb/_sources.yml
Labels: ready-for-merging, dbt: dex

#8106 add unichain to dex_sandwhiches, dex_sandwhiched, dex_atomic_arbitrages
  dbt_subprojects/dex/models/arbitrages/_schema.yml
  dbt_subprojects/dex/models/arbitrages/dex_atomic_arbitrages.sql
  dbt_subprojects/dex/models/arbitrages/unichain/dex_unichain_atomic_arbitrages.sql
  dbt_subprojects/dex/models/sandwiches/_schema.yml
  dbt_subprojects/dex/models/sandwiches/dex_sandwiched.sql
  dbt_subprojects/dex/models/sandwiches/dex_sandwiches.sql
  dbt_subprojects/dex/models/sandwiches/unichain/dex_unichain_sandwiched.sql
  dbt_subprojects/dex/models/sandwiches/unichain/dex_unichain_sandwiches.sql
Labels: ready-for-merging, dbt: dex

#8110 add diamond proxy contract and new Method IDs for ZKsync
  dbt_subprojects/hourly_spellbook/models/_sector/rollup_economics/ethereum/l1_data_fees/chains/rollup_economics_scroll_l1_data_fees.sql
  dbt_subprojects/hourly_spellbook/models/_sector/rollup_economics/ethereum/l1_data_fees/chains/rollup_economics_zksync_l1_data_fees.sql
  dbt_subprojects/hourly_spellbook/models/_sector/rollup_economics/ethereum/l1_verification_fees/chains/rollup_economics_scroll_l1_verification_fees.sql
  dbt_subprojects/hourly_spellbook/models/_sector/rollup_economics/ethereum/l1_verification_fees/chains/rollup_economics_zksync_l1_verification_fees.sql
Labels: ready-for-merging, dbt: hourly

#8112 Update prices_ethereum_tokens.sql
  dbt_subprojects/tokens/models/prices/ethereum/prices_ethereum_tokens.sql
Labels: ready-for-merging, dbt: tokens

#8119 feat: Add Lens Protocol EVM models and sources (Part 1)
  dbt_subprojects/daily_spellbook/models/evms/evms_blocks.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_contracts.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_creation_traces.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_erc1155_approvalsforall.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_erc1155_transfersbatch.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_erc1155_transferssingle.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_erc20_approvals.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_erc20_transfers.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_erc721_approvals.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_erc721_approvalsforall.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_erc721_transfers.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_info.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_logs.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_logs_decoded.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_traces.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_traces_decoded.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_transactions.sql
  sources/_base_sources/evm/lens_base_sources.yml
  sources/_base_sources/evm/lens_docs_block.md
  sources/uniswap/lens/uniswap_v3_lens_sources.yml
Labels: ready-for-merging, dbt: daily

#8125 Add unichain to evms.{} tables, and fixing a bunch of unichain base spellbook initialization
  dbt_subprojects/daily_spellbook/models/evms/evm_smart_account_method_ids.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_blocks.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_contracts.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_erc1155_approvalsforall.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_erc1155_transfersbatch.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_erc1155_transferssingle.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_erc20_approvals.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_erc20_transfers.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_erc721_approvals.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_erc721_approvalsforall.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_erc721_transfers.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_logs.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_logs_decoded.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_non_app_method_ids.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_traces.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_traces_decoded.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_transactions.sql
  sources/_base_sources/evm/unichain_base_sources.yml
Labels: ready-for-merging, dbt: daily

#8120 feat: Add Lens token pricing models (Part 2)
  dbt_subprojects/tokens/models/prices/lens/_schema.yml
  dbt_subprojects/tokens/models/prices/lens/prices_lens_tokens.sql
  dbt_subprojects/tokens/models/prices/prices_native_tokens.sql
  dbt_subprojects/tokens/models/prices/prices_tokens.sql
  dbt_subprojects/tokens/models/tokens/lens/_schema.yml
  dbt_subprojects/tokens/models/tokens/lens/tokens_lens_erc20.sql
  dbt_subprojects/tokens/models/tokens/tokens_erc20.sql
Labels: ready-for-merging, dbt: tokens

#8101 Pyth Entropy Request table
  dbt_subprojects/daily_spellbook/macros/project/pyth/pyth_entropy_request.sql
  dbt_subprojects/daily_spellbook/models/pyth/abstract/pyth_abstract_schema.yml
  dbt_subprojects/daily_spellbook/models/pyth/abstract/pyth_entropy_abstract_request.sql
  dbt_subprojects/daily_spellbook/models/pyth/apechain/pyth_apechain_schema.yml
  dbt_subprojects/daily_spellbook/models/pyth/apechain/pyth_entropy_apechain_request.sql
  dbt_subprojects/daily_spellbook/models/pyth/arbitrum/pyth_arbitrum_schema.yml
  dbt_subprojects/daily_spellbook/models/pyth/arbitrum/pyth_entropy_arbitrum_request.sql
  dbt_subprojects/daily_spellbook/models/pyth/b3/pyth_b3_schema.yml
  dbt_subprojects/daily_spellbook/models/pyth/b3/pyth_entropy_b3_request.sql
  dbt_subprojects/daily_spellbook/models/pyth/base/pyth_base_schema.yml
  dbt_subprojects/daily_spellbook/models/pyth/base/pyth_entropy_base_request.sql
  dbt_subprojects/daily_spellbook/models/pyth/berachain/pyth_berachain_schema.yml
  dbt_subprojects/daily_spellbook/models/pyth/berachain/pyth_entropy_berachain_request.sql
  dbt_subprojects/daily_spellbook/models/pyth/blast/pyth_blast_schema.yml
  dbt_subprojects/daily_spellbook/models/pyth/blast/pyth_entropy_blast_request.sql
  dbt_subprojects/daily_spellbook/models/pyth/kaia/pyth_entropy_kaia_request.sql
  dbt_subprojects/daily_spellbook/models/pyth/kaia/pyth_kaia_schema.yml
  dbt_subprojects/daily_spellbook/models/pyth/mode/pyth_entropy_mode_request.sql
  dbt_subprojects/daily_spellbook/models/pyth/mode/pyth_mode_schema.yml
  dbt_subprojects/daily_spellbook/models/pyth/optimism/pyth_entropy_optimism_request.sql
  dbt_subprojects/daily_spellbook/models/pyth/optimism/pyth_optimism_schema.yml
  dbt_subprojects/daily_spellbook/models/pyth/pyth_entropy_request.sql
  dbt_subprojects/daily_spellbook/models/pyth/pyth_schema.yml
  dbt_subprojects/daily_spellbook/models/pyth/sei/pyth_entropy_sei_request.sql
  dbt_subprojects/daily_spellbook/models/pyth/sei/pyth_sei_schema.yml
  dbt_subprojects/daily_spellbook/models/pyth/sonic/pyth_entropy_sonic_request.sql
  dbt_subprojects/daily_spellbook/models/pyth/sonic/pyth_sonic_schema.yml
Labels: ready-for-merging, dbt: daily

#8138 Celo G$ reserve trades
  dbt_subprojects/dex/models/dex_info.sql
  dbt_subprojects/dex/models/trades/celo/_schema.yml
  dbt_subprojects/dex/models/trades/celo/dex_celo_base_trades.sql
  dbt_subprojects/dex/models/trades/celo/platforms/gooddollar_reserve_celo_base_trades.sql
  dbt_subprojects/dex/seeds/trades/_schema.yml
  dbt_subprojects/dex/seeds/trades/gooddollar_reserve_celo_base_trades_seed.csv
  sources/gooddollar/celo/_sources.yml
Labels: ready-for-merging, dbt: dex

#8127 Add Uniswap v3 to dex.trades (Sonic blockchain)
  dbt_subprojects/dex/models/trades/sonic/_schema.yml
  dbt_subprojects/dex/models/trades/sonic/dex_sonic_base_trades.sql
  dbt_subprojects/dex/models/trades/sonic/platforms/uniswap_v3_sonic_base_trades.sql
  dbt_subprojects/dex/seeds/trades/_schema.yml
  dbt_subprojects/dex/seeds/trades/uniswap_sonic_base_trades_seed.csv
  sources/_sector/dex/trades/sonic/_sources.yml
Labels: ready-for-merging, dbt: dex

#8126 Add new validator and batcher contracts for zksync
  dbt_subprojects/hourly_spellbook/models/_sector/rollup_economics/ethereum/l1_data_fees/chains/rollup_economics_zksync_l1_data_fees.sql
  dbt_subprojects/hourly_spellbook/models/_sector/rollup_economics/ethereum/l1_verification_fees/chains/rollup_economics_zksync_l1_verification_fees.sql
Labels: ready-for-merging, dbt: hourly

#8128 docs: Add comprehensive guide for onboarding new blockchains
  docs/general/chain_onboarding_process.md
Labels: ready-for-merging

#8129 add .cursor* to gitignore
  .gitignore
Labels: ready-for-merging

#8143 CUR2-155 feat: add pumpswap dex models
  dbt_subprojects/solana/models/_sector/dex/dex_solana_base_trades.sql
  dbt_subprojects/solana/models/_sector/dex/dex_solana_trades.sql
  dbt_subprojects/solana/models/_sector/dex/pumpswap/_schema.yml
  dbt_subprojects/solana/models/_sector/dex/pumpswap/pumpswap_solana_base_trades.sql
  dbt_subprojects/solana/models/_sources.yml
Labels: ready-for-merging, dbt: solana

#8145 source file: remove duplicate tables key
  sources/boost/boost_base_sources.yml
Labels: ready-for-review

#8033 CUR2-9 added block_date to solana dex trades
  dbt_subprojects/solana/models/_sector/dex/dex_solana_trades.sql
Labels: ready-for-merging, dbt: solana

#7963 Solana jupiter swaps
  dbt_subprojects/solana/models/jupiter/jupiter_solana_aggregator_swaps.sql
Labels: ready-for-merging, dune team, dbt: solana

#7856 fix solana phoenix trades and fees
  dbt_subprojects/solana/models/_sector/dex/dex_solana_base_trades.sql
  dbt_subprojects/solana/models/_sector/dex/dex_solana_trades.sql
  dbt_subprojects/solana/models/_sector/dex/phoenix/phoenix_v1_base_trades.sql
Labels: ready-for-merging, dbt: solana

#7854 add filter to only consider official whirlpool config
  dbt_subprojects/solana/models/_sector/dex/orca_whirlpool/orca_whirlpool_base_trades.sql
Labels: ready-for-merging, dune team, dbt: solana

#8157 Fix solana dex downstream: views refresh with new column, bot trades to read as source
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/platforms/alpha_dex_solana_bot_trades.sql
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/platforms/autosnipe_solana_bot_trades.sql
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/platforms/banana_gun_solana_bot_trades.sql
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/platforms/bitfoot_solana_bot_trades.sql
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/platforms/bloom_solana_bot_trades.sql
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/platforms/bonkbot/bonkbot_solana_bot_trades.sql
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/platforms/consortium_key_solana_bot_trades.sql
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/platforms/cswap_solana_bot_trades.sql
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/platforms/falcon_solana_bot_trades.sql
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/platforms/jupbot_solana_bot_trades.sql
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/platforms/looter_solana_bot_trades.sql
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/platforms/maestro_solana_bot_trades.sql
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/platforms/magnum_solana_bot_trades.sql
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/platforms/mev_x_solana_bot_trades.sql
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/platforms/nova_solana_bot_trades.sql
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/platforms/padre_solana_bot_trades.sql
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/platforms/pepe_boost_solana_bot_trades.sql
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/platforms/pinkpunk_solana_bot_trades.sql
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/platforms/prophetbots_solana_bot_trades.sql
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/platforms/readyswap_solana_bot_trades.sql
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/platforms/sanji_solana_bot_trades.sql
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/platforms/shuriken_solana_bot_trades.sql
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/platforms/sol_gun_solana_bot_trades.sql
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/platforms/sol_trading_bot_solana_bot_trades.sql
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/platforms/soul_sniper_solana_bot_trades.sql
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/platforms/tirador_solana_bot_trades.sql
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/platforms/tradewiz_solana_bot_trades.sql
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/platforms/trojan_solana_bot_trades.sql
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/platforms/unibot_solana_bot_trades.sql
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/platforms/wifbot_solana_bot_trades.sql
  dbt_subprojects/solana/models/_sector/dex/dex_solana_price_hour.sql
  dbt_subprojects/solana/models/_sector/dex/goosefx/goosefx_ssl_v2_solana_trades.sql
  dbt_subprojects/solana/models/_sector/dex/lifinity/lifinity_v1_trades.sql
  dbt_subprojects/solana/models/_sector/dex/lifinity/lifinity_v2_trades.sql
  dbt_subprojects/solana/models/_sector/dex/meteora/meteora_v1_solana_trades.sql
  dbt_subprojects/solana/models/_sector/dex/meteora/meteora_v2_solana_trades.sql
  dbt_subprojects/solana/models/_sector/dex/orca_whirlpool/orca_whirlpool_token_prices.sql
  dbt_subprojects/solana/models/_sector/dex/orca_whirlpool/orca_whirlpool_token_prices_hour.sql
  dbt_subprojects/solana/models/_sector/dex/orca_whirlpool/orca_whirlpool_trades.sql
  dbt_subprojects/solana/models/_sector/dex/phoenix/phoenix_v1_trades.sql
  dbt_subprojects/solana/models/_sector/dex/pumpdotfun/solana/pumpdotfun_solana_trades.sql
  dbt_subprojects/solana/models/_sector/dex/pumpswap/pumpswap_solana_trades.sql
  dbt_subprojects/solana/models/_sector/dex/raydium/raydium_v3_trades.sql
  dbt_subprojects/solana/models/_sector/dex/raydium/raydium_v4_trades.sql
  dbt_subprojects/solana/models/_sector/dex/raydium/raydium_v5_trades.sql
  dbt_subprojects/solana/models/_sector/dex/sanctum_router/sanctum_router_trades.sql
  dbt_subprojects/solana/models/_sector/dex/sandwiches/solana/dex_solana_sandwiched.sql
  dbt_subprojects/solana/models/_sector/dex/sandwiches/solana/dex_solana_sandwiches.sql
  sources/_subprojects_outputs/solana/_sources.yml
Labels: ready-for-review, dbt: solana

#8165 Adds ValidatorTimelock contract
  dbt_subprojects/hourly_spellbook/models/_sector/rollup_economics/ethereum/l1_data_fees/chains/rollup_economics_zksync_l1_data_fees.sql
  dbt_subprojects/hourly_spellbook/models/_sector/rollup_economics/ethereum/l1_verification_fees/chains/rollup_economics_zksync_l1_verification_fees.sql
Labels: ready-for-merging, dbt: hourly

#8151 Add TON latest balances table
  dbt_subprojects/daily_spellbook/models/ton/ton.yml
  dbt_subprojects/daily_spellbook/models/ton/ton_latest_balances.sql
  sources/_base_sources/other/ton_base_sources.yml
Labels: ready-for-merging, dbt: daily

#8147 space in the wrong place :(
  dbt_subprojects/daily_spellbook/macros/project/pyth/pyth_entropy_request.sql
Labels: ready-for-merging, dbt: daily

#8183 fix compile on tokens
  dbt_subprojects/tokens/models/transfers_and_balances/lens/tokens_lens_base_transfers.sql
Labels: ready-for-review, dbt: tokens

#8184 fix new evms schema models
  dbt_subprojects/daily_spellbook/macros/helpers/evms_blockchains_list.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_schema.yml
  dbt_subprojects/daily_spellbook/models/evms/evms_tables/evms_erc1155_transfersbatch.sql
Labels: ready-for-review, dbt: daily

#8185 bebop ethereum blend: exclude troubled models
  dbt_subprojects/dex/models/_projects/bebop/ethereum/bebop_blend_ethereum_trades.sql
  dbt_subprojects/dex/models/_projects/bebop/ethereum/bebop_ethereum_trades.sql
Labels: ready-for-review, dbt: dex

#8190 replace tokens_solana.fungible and solana_utils.token_address_mapping as source
  dbt_subprojects/solana/macros/_sector/transfers/solana_spl_transfers_call_transfer_macro.sql
  dbt_subprojects/solana/macros/_sector/transfers/solana_spl_transfers_macro.sql
  dbt_subprojects/solana/macros/_sector/transfers/solana_token22_spl_transfers_macro.sql
  dbt_subprojects/solana/models/_sector/dex/dex_solana_price_hour.sql
  dbt_subprojects/solana/models/_sector/dex/dex_solana_trades.sql
  dbt_subprojects/solana/models/_sector/dex/orca_whirlpool/orca_whirlpool_token_prices.sql
  dbt_subprojects/solana/models/_sector/dex/orca_whirlpool/orca_whirlpool_token_prices_hour.sql
  dbt_subprojects/solana/models/_sector/dex/pumpdotfun/solana/pumpdotfun_solana_base_trades.sql
  dbt_subprojects/solana/models/jupiter/jupiter_solana_aggregator_swaps.sql
  dbt_subprojects/solana/models/solana_utils/solana_utils_token_address_mapping.sql
  dbt_subprojects/solana/models/tokens/solana/_schema.yml
  dbt_subprojects/solana/models/tokens/solana/tokens_solana_fungible.sql
  sources/_subprojects_outputs/sqlmesh/_sources.yml
Labels: ready-for-review, dbt: solana

#8196 add new tokens to prices_solana_tokens.sql
  dbt_subprojects/tokens/models/prices/solana/prices_solana_tokens.sql
Labels: ready-for-merging, dbt: tokens

#8194 Added doodles_token
  dbt_subprojects/tokens/models/prices/solana/prices_solana_tokens.sql
Labels: ready-for-merging, dbt: tokens

#8168 Add stablecoin USD1 (World Liberty Financial)
  dbt_subprojects/tokens/models/prices/bnb/prices_bnb_tokens.sql
  dbt_subprojects/tokens/models/prices/ethereum/prices_ethereum_tokens.sql
  dbt_subprojects/tokens/models/tokens/bnb/tokens_bnb_erc20_stablecoins.sql
  dbt_subprojects/tokens/models/tokens/ethereum/tokens_ethereum_erc20_stablecoins.sql
Labels: ready-for-merging, dbt: tokens

#8191 Lido.accounting updates
  dbt_subprojects/hourly_spellbook/models/_project/lido/accounting/ethereum/lido_accounting_ethereum_lego_expenses.sql
  dbt_subprojects/hourly_spellbook/models/_project/lido/accounting/ethereum/lido_accounting_ethereum_liquidity_incentives.sql
  dbt_subprojects/hourly_spellbook/models/_project/lido/accounting/ethereum/lido_accounting_ethereum_operating_expenses.sql
  dbt_subprojects/hourly_spellbook/models/_project/lido/accounting/ethereum/lido_accounting_ethereum_other_expenses.sql
  dbt_subprojects/hourly_spellbook/models/_project/lido/accounting/ethereum/lido_accounting_ethereum_other_income.sql
Labels: ready-for-merging, dbt: hourly

#8188 [CoW Protocol] Add multiple solver names
  dbt_subprojects/hourly_spellbook/models/_project/cow_protocol/arbitrum/cow_protocol_arbitrum_solvers.sql
  dbt_subprojects/hourly_spellbook/models/_project/cow_protocol/base/cow_protocol_base_solvers.sql
  dbt_subprojects/hourly_spellbook/models/_project/cow_protocol/gnosis/cow_protocol_gnosis_solvers.sql
Labels: ready-for-merging, dbt: hourly

#8177 ETH staking pectra fix
  dbt_subprojects/hourly_spellbook/models/_sector/staking/ethereum/staking_ethereum_deposits.sql
  dbt_subprojects/hourly_spellbook/models/_sector/staking/ethereum/staking_ethereum_flows.sql
Labels: ready-for-merging, dbt: hourly

#8175 tag blobbers
  dbt_subprojects/hourly_spellbook/models/_sector/blobs/ethereum/blobs_submitters.sql
Labels: ready-for-merging, dbt: hourly

#8123 add cex addresses
  dbt_subprojects/hourly_spellbook/models/_sector/cex/addresses/chains/cex_evms_addresses.sql
Labels: ready-for-merging, dbt: hourly

#8172 Adding tesseract spells
  dbt_subprojects/daily_spellbook/macros/project/tesseract/tesseract_cell_initiated.sql
  dbt_subprojects/daily_spellbook/macros/project/tesseract/tesseract_cell_routed.sql
  dbt_subprojects/daily_spellbook/macros/project/tesseract/tesseract_cell_types.sql
  dbt_subprojects/daily_spellbook/macros/project/tesseract/tesseract_icm_blockchains.sql
  dbt_subprojects/daily_spellbook/macros/project/tesseract/tesseract_ictt_contracts.sql
  dbt_subprojects/daily_spellbook/macros/project/tesseract/tesseract_ictt_events.sql
  dbt_subprojects/daily_spellbook/macros/project/tesseract/tesseract_ictt_pairs.sql
  dbt_subprojects/daily_spellbook/macros/project/tesseract/tesseract_ictt_volume_events.sql
  dbt_subprojects/daily_spellbook/models/_projects/tesseract/avalanche_c/tesseract_avalanche_c_cell_initiated.sql
  dbt_subprojects/daily_spellbook/models/_projects/tesseract/avalanche_c/tesseract_avalanche_c_cell_routed.sql
  dbt_subprojects/daily_spellbook/models/_projects/tesseract/avalanche_c/tesseract_avalanche_c_icm_blockchains.sql
  dbt_subprojects/daily_spellbook/models/_projects/tesseract/avalanche_c/tesseract_avalanche_c_ictt_contracts.sql
  dbt_subprojects/daily_spellbook/models/_projects/tesseract/avalanche_c/tesseract_avalanche_c_ictt_evt_callfailed.sql
  dbt_subprojects/daily_spellbook/models/_projects/tesseract/avalanche_c/tesseract_avalanche_c_ictt_evt_callsucceeded.sql
  dbt_subprojects/daily_spellbook/models/_projects/tesseract/avalanche_c/tesseract_avalanche_c_ictt_evt_tokensandcallrouted.sql
  dbt_subprojects/daily_spellbook/models/_projects/tesseract/avalanche_c/tesseract_avalanche_c_ictt_evt_tokensandcallsent.sql
  dbt_subprojects/daily_spellbook/models/_projects/tesseract/avalanche_c/tesseract_avalanche_c_ictt_evt_tokensrouted.sql
  dbt_subprojects/daily_spellbook/models/_projects/tesseract/avalanche_c/tesseract_avalanche_c_ictt_evt_tokenssent.sql
  dbt_subprojects/daily_spellbook/models/_projects/tesseract/avalanche_c/tesseract_avalanche_c_ictt_evt_tokenswithdrawn.sql
  dbt_subprojects/daily_spellbook/models/_projects/tesseract/avalanche_c/tesseract_avalanche_c_ictt_pairs.sql
  dbt_subprojects/daily_spellbook/models/_projects/tesseract/avalanche_c/tesseract_avalanche_c_ictt_volume_events.sql
  dbt_subprojects/daily_spellbook/models/_projects/tesseract/avalanche_c/tesseract_avalanche_c_schema.yml
  dbt_subprojects/daily_spellbook/models/_projects/tesseract/tesseract_cell_initiated.sql
  dbt_subprojects/daily_spellbook/models/_projects/tesseract/tesseract_cell_routed.sql
  dbt_subprojects/daily_spellbook/models/_projects/tesseract/tesseract_icm_blockchains.sql
  dbt_subprojects/daily_spellbook/models/_projects/tesseract/tesseract_ictt_contracts.sql
  dbt_subprojects/daily_spellbook/models/_projects/tesseract/tesseract_ictt_evt_callfailed.sql
  dbt_subprojects/daily_spellbook/models/_projects/tesseract/tesseract_ictt_evt_callsucceeded.sql
  dbt_subprojects/daily_spellbook/models/_projects/tesseract/tesseract_ictt_evt_tokensandcallrouted.sql
  dbt_subprojects/daily_spellbook/models/_projects/tesseract/tesseract_ictt_evt_tokensandcallsent.sql
  dbt_subprojects/daily_spellbook/models/_projects/tesseract/tesseract_ictt_evt_tokensrouted.sql
  dbt_subprojects/daily_spellbook/models/_projects/tesseract/tesseract_ictt_evt_tokenssent.sql
  dbt_subprojects/daily_spellbook/models/_projects/tesseract/tesseract_ictt_evt_tokenswithdrawn.sql
  dbt_subprojects/daily_spellbook/models/_projects/tesseract/tesseract_ictt_pairs.sql
  dbt_subprojects/daily_spellbook/models/_projects/tesseract/tesseract_ictt_volume_events.sql
  dbt_subprojects/daily_spellbook/models/_projects/tesseract/tesseract_schema.yml
  sources/tesseract/avalanche_c/tesseract_avalanche_c_sources.yml
Labels: ready-for-merging, dbt: daily

#8152 create ethereum.upgrades
  dbt_subprojects/daily_spellbook/models/ethereum/ethereum_network_upgrades.sql
  dbt_subprojects/daily_spellbook/models/ethereum/ethereum_schema.yml
Labels: ready-for-merging, dbt: daily

#8169 Add Velodrome v3 on ink dex trades (Top 1 DEX on ink)
  dbt_subprojects/dex/models/trades/ink/_schema.yml
  dbt_subprojects/dex/models/trades/ink/dex_ink_base_trades.sql
  dbt_subprojects/dex/models/trades/ink/platforms/velodrome_v3_ink_base_trades.sql
  dbt_subprojects/dex/seeds/trades/_schema.yml
  dbt_subprojects/dex/seeds/trades/velodrome_ink_base_trades_seed.csv
  sources/_sector/dex/trades/ink/_sources.yml
Labels: ready-for-merging, dbt: dex

#8052 Add Phantom Swapper Trades
  dbt_subprojects/solana/models/_sector/dex/phantom_swapper/phantom_swapper_solana_fee_addresses.sql
  dbt_subprojects/solana/models/_sector/dex/phantom_swapper/phantom_swapper_solana_fee_payments_raw.sql
  dbt_subprojects/solana/models/_sector/dex/phantom_swapper/phantom_swapper_solana_fee_payments_usd.sql
  dbt_subprojects/solana/models/_sector/dex/phantom_swapper/phantom_swapper_solana_fee_token_prices.sql
  dbt_subprojects/solana/models/_sector/dex/phantom_swapper/phantom_swapper_solana_trades.sql
  dbt_subprojects/solana/models/_sector/dex/phantom_swapper/schema.yml
Labels: ready-for-merging, dbt: solana

#8210 tokens_v1.erc20
  dbt_subprojects/tokens/models/tokens/_schema.yml
  dbt_subprojects/tokens/models/tokens/tokens_erc20.sql
  dbt_subprojects/tokens/models/tokens/tokens_v1_erc20.sql
Labels: ready-for-review, dbt: tokens

#8207 Update blobs_submitters.sql
  dbt_subprojects/hourly_spellbook/models/_sector/blobs/ethereum/blobs_submitters.sql
Labels: ready-for-merging, dbt: hourly

#8204 Lido.accounting updates
  dbt_subprojects/hourly_spellbook/models/_project/lido/accounting/ethereum/lido_accounting_ethereum_lego_expenses.sql
  dbt_subprojects/hourly_spellbook/models/_project/lido/accounting/ethereum/lido_accounting_ethereum_liquidity_incentives.sql
  dbt_subprojects/hourly_spellbook/models/_project/lido/accounting/ethereum/lido_accounting_ethereum_operating_expenses.sql
  dbt_subprojects/hourly_spellbook/models/_project/lido/accounting/ethereum/lido_accounting_ethereum_other_expenses.sql
  dbt_subprojects/hourly_spellbook/models/_project/lido/accounting/ethereum/lido_accounting_ethereum_other_income.sql
Labels: ready-for-merging, dbt: hourly

#8213 Feat/magiceden apechain
  dbt_subprojects/nft/models/_sector/trades/chains/_schema.yml
  dbt_subprojects/nft/models/_sector/trades/chains/apechain/nft_apechain_base_trades.sql
  dbt_subprojects/nft/models/_sector/trades/chains/apechain/platforms/_schema.yml
  dbt_subprojects/nft/models/_sector/trades/chains/apechain/platforms/magiceden_apechain_base_trades.sql
  dbt_subprojects/nft/models/_sector/trades/nft_base_trades.sql
  dbt_subprojects/nft/models/_sector/trades/nft_trades.sql
  dbt_subprojects/nft/models/_sector/trades/schema.yml
  sources/seaport/seaport_apechain_sources.yml
Labels: ready-for-merging, dbt: nft

#8220 feat: add delta v1 to dex
  dbt_subprojects/dex/macros/models/_project/paraswap/delta/map_internal_to_dex.sql
  dbt_subprojects/dex/macros/models/_project/paraswap/delta/v1/master.sql
  dbt_subprojects/dex/macros/models/_project/paraswap/delta/v1/safe_settle_batch_swap.sql
  dbt_subprojects/dex/macros/models/_project/paraswap/delta/v1/settle_swap.sql
  dbt_subprojects/dex/macros/models/_project/paraswap/delta/v2/master.sql
  dbt_subprojects/dex/macros/to_wrapped_native_token.sql
  dbt_subprojects/dex/models/_projects/paraswap/ethereum/_schema.yml
  dbt_subprojects/dex/models/_projects/paraswap/ethereum/paraswap_delta_v1_ethereum_trades.sql
  dbt_subprojects/dex/models/_projects/paraswap/ethereum/paraswap_ethereum_trades.sql
Labels: ready-for-merging, dbt: dex

#8223 plume onboarding PR1
  dbt_subprojects/daily_spellbook/macros/helpers/evms_blockchains_list.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_info.sql
  dbt_subprojects/tokens/models/prices/plume/prices_plume_schema.yml
  dbt_subprojects/tokens/models/prices/plume/prices_plume_tokens.sql
  dbt_subprojects/tokens/models/prices/prices_native_tokens.sql
  dbt_subprojects/tokens/models/prices/prices_tokens.sql
  dbt_subprojects/tokens/models/tokens/plume/tokens_plume_erc20.sql
  dbt_subprojects/tokens/models/tokens/plume/tokens_plume_schema.yml
  dbt_subprojects/tokens/models/tokens/tokens_erc20.sql
  dbt_subprojects/tokens/models/tokens/tokens_v1_erc20.sql
  scripts/generate_evm_docs.py
  scripts/generate_evm_sources.py
  sources/_base_sources/evm/plume_base_sources.yml
  sources/_base_sources/evm/plume_docs_block.md
Labels: ready-for-merging, dbt: daily, dbt: tokens

#8225 Integrate new tokens.erc20 source
  dbt_subprojects/dex/macros/models/enrich_balancer_v3_dex_trades.sql
  dbt_subprojects/dex/macros/models/enrich_curve_dex_trades.sql
  dbt_subprojects/dex/macros/models/enrich_dex_aggregator_trades.sql
  dbt_subprojects/dex/macros/models/enrich_dex_liq_with_prices.sql
  dbt_subprojects/dex/macros/models/enrich_dex_trades.sql
  dbt_subprojects/tokens/models/prices/ethereum/prices_ethereum_tokens.sql
  dbt_subprojects/tokens/models/tokens/_schema.yml
  dbt_subprojects/tokens/models/tokens/tokens_erc20.sql
  dbt_subprojects/tokens/models/tokens/tokens_native.sql
  sources/_subprojects_outputs/sqlmesh/_sources.yml
Labels: ready-for-review, dbt: dex, dbt: tokens

#8232 Fix synthetix symbol join
  dbt_subprojects/dex/models/trades/optimism/platforms/synthetix_optimism_base_trades.sql
  dbt_subprojects/dex/seeds/trades/synthetix_optimism_base_trades_seed.csv
  sources/synthetix/optimism/synthetix_optimism_sources.yml
Labels: ready-for-review, dbt: dex

#8233 reduce balancer supply macro complexity (due to max stage limit)
  dbt_macros/shared/balancer/balancer_bpt_supply_macro.sql
  dbt_subprojects/daily_spellbook/models/beethoven_x/fantom/beethoven_x_fantom_bpt_supply.sql
  dbt_subprojects/daily_spellbook/models/beets/sonic/beets_bpt_supply.sql
  dbt_subprojects/daily_spellbook/models/jelly_swap/sei/jelly_swap_sei_bpt_supply.sql
  dbt_subprojects/hourly_spellbook/models/_project/balancer/bpt/arbitrum/balancer_v2_arbitrum_bpt_supply.sql
  dbt_subprojects/hourly_spellbook/models/_project/balancer/bpt/arbitrum/balancer_v3_arbitrum_bpt_supply.sql
  dbt_subprojects/hourly_spellbook/models/_project/balancer/bpt/avalanche_c/balancer_v2_avalanche_c_bpt_supply.sql
  dbt_subprojects/hourly_spellbook/models/_project/balancer/bpt/base/balancer_v2_base_bpt_supply.sql
  dbt_subprojects/hourly_spellbook/models/_project/balancer/bpt/base/balancer_v3_base_bpt_supply.sql
  dbt_subprojects/hourly_spellbook/models/_project/balancer/bpt/ethereum/balancer_v2_ethereum_bpt_supply.sql
  dbt_subprojects/hourly_spellbook/models/_project/balancer/bpt/ethereum/balancer_v3_ethereum_bpt_supply.sql
  dbt_subprojects/hourly_spellbook/models/_project/balancer/bpt/gnosis/balancer_v2_gnosis_bpt_supply.sql
  dbt_subprojects/hourly_spellbook/models/_project/balancer/bpt/gnosis/balancer_v3_gnosis_bpt_supply.sql
  dbt_subprojects/hourly_spellbook/models/_project/balancer/bpt/optimism/balancer_v2_optimism_bpt_supply.sql
  dbt_subprojects/hourly_spellbook/models/_project/balancer/bpt/polygon/balancer_v2_polygon_bpt_supply.sql
  dbt_subprojects/hourly_spellbook/models/_project/balancer/bpt/zkevm/balancer_v2_zkevm_bpt_supply.sql
  sources/_subprojects_outputs/daily_spellbook/_sources.yml
Labels: WIP, dbt: hourly, dbt: daily

#8238 revert view tokens.native
  dbt_subprojects/daily_spellbook/models/evms/evms_info.sql
  dbt_subprojects/tokens/models/tokens/tokens_native.sql
Labels: ready-for-review, dbt: daily, dbt: tokens

#8227 raydium: alternative fix for removing token filters
  dbt_subprojects/solana/models/_sector/dex/raydium/raydium_v4_base_trades.sql
  dbt_subprojects/solana/models/_sector/dex/raydium/raydium_v5_base_trades.sql
Labels: ready-for-merging, dbt: solana

#8171 CUR2-163 raydium launchlab
  dbt_subprojects/solana/models/_sector/dex/dex_solana_base_trades.sql
  dbt_subprojects/solana/models/_sector/dex/dex_solana_trades.sql
  dbt_subprojects/solana/models/_sector/dex/raydium/schema.yml
  dbt_subprojects/solana/models/_sector/dex/raydium_launchlab/_schema.yml
  dbt_subprojects/solana/models/_sector/dex/raydium_launchlab/raydium_launchlab_v1_base_trades.sql
  dbt_subprojects/solana/models/_sector/dex/raydium_launchlab/raydium_launchlab_v1_trades.sql
  dbt_subprojects/solana/models/_sources.yml
Labels: ready-for-merging, dbt: solana

#8228 Feature/relay token bridge transfers
  dbt_subprojects/daily_spellbook/models/relay/relay_token_transfers.sql
  dbt_subprojects/daily_spellbook/models/relay/schema.yml
  sources/_subprojects_outputs/daily_spellbook/_sources.yml
Labels: ready-for-merging, dbt: daily

#8214 Nexus Mutual - staking spells refactor
  dbt_subprojects/daily_spellbook/models/nexusmutual/ethereum/staking/_schema.yml
  dbt_subprojects/daily_spellbook/models/nexusmutual/ethereum/staking/base/nexusmutual_ethereum_base_active_stake_daily.sql
  dbt_subprojects/daily_spellbook/models/nexusmutual/ethereum/staking/base/nexusmutual_ethereum_base_deposit_updates_daily.sql
  dbt_subprojects/daily_spellbook/models/nexusmutual/ethereum/staking/base/nexusmutual_ethereum_base_staked_per_pool.sql
  dbt_subprojects/daily_spellbook/models/nexusmutual/ethereum/staking/base/nexusmutual_ethereum_base_staked_per_token.sql
  dbt_subprojects/daily_spellbook/models/nexusmutual/ethereum/staking/base/nexusmutual_ethereum_base_staking_deposit_extensions.sql
  dbt_subprojects/daily_spellbook/models/nexusmutual/ethereum/staking/base/nexusmutual_ethereum_base_staking_deposit_ordered.sql
  dbt_subprojects/daily_spellbook/models/nexusmutual/ethereum/staking/base/nexusmutual_ethereum_base_staking_pools.sql
  dbt_subprojects/daily_spellbook/models/nexusmutual/ethereum/staking/nexusmutual_ethereum_staked_per_pool.sql
  dbt_subprojects/daily_spellbook/models/nexusmutual/ethereum/staking/nexusmutual_ethereum_staked_per_token.sql
  dbt_subprojects/daily_spellbook/models/nexusmutual/ethereum/staking/nexusmutual_ethereum_staking_events.sql
  dbt_subprojects/daily_spellbook/models/nexusmutual/ethereum/staking/nexusmutual_ethereum_staking_pools_list.sql
  dbt_subprojects/daily_spellbook/models/nexusmutual/ethereum/staking/nexusmutual_ethereum_staking_rewards.sql
  sources/nexusmutual/ethereum/nexusmutual_ethereum_sources.yml
Labels: ready-for-merging, dbt: daily

#8242 Revert "raydium: alternative fix for removing token filters (#8227)"
  dbt_subprojects/solana/models/_sector/dex/raydium/raydium_v4_base_trades.sql
  dbt_subprojects/solana/models/_sector/dex/raydium/raydium_v5_base_trades.sql
Labels: ready-for-review, dbt: solana

#8240 update native token address in evm transfers
  dbt_subprojects/tokens/macros/transfers/transfers_base.sql
  dbt_subprojects/tokens/models/transfers_and_balances/abstract/tokens_abstract_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/apechain/tokens_apechain_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/arbitrum/tokens_arbitrum_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/avalanche_c/tokens_avalanche_c_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/b3/tokens_b3_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/base/tokens_base_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/berachain/tokens_berachain_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/blast/tokens_blast_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/bnb/tokens_bnb_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/bob/tokens_bob_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/boba/tokens_boba_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/celo/tokens_celo_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/corn/tokens_corn_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/degen/tokens_degen_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/ethereum/tokens_ethereum_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/fantom/tokens_fantom_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/flare/tokens_flare_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/gnosis/tokens_gnosis_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/goerli/tokens_goerli_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/ink/tokens_ink_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/kaia/tokens_kaia_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/lens/tokens_lens_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/linea/tokens_linea_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/mantle/tokens_mantle_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/nova/tokens_nova_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/opbnb/tokens_opbnb_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/optimism/tokens_optimism_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/polygon/tokens_polygon_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/ronin/tokens_ronin_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/scroll/tokens_scroll_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/sei/tokens_sei_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/sepolia/tokens_sepolia_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/shape/tokens_shape_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/sonic/tokens_sonic_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/sophon/tokens_sophon_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/unichain/tokens_unichain_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/viction/tokens_viction_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/worldchain/tokens_worldchain_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/zkevm/tokens_zkevm_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/zksync/tokens_zksync_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/zora/tokens_zora_base_transfers.sql
  sources/_subprojects_outputs/hourly_spellbook/_sources.yml
Labels: ready-for-review, dbt: tokens

#8239 plume onboarding pr2
  dbt_subprojects/hourly_spellbook/models/_sector/gas/fees/gas_fees.sql
  dbt_subprojects/hourly_spellbook/models/_sector/gas/fees/plume/gas_plume_fees.sql
  dbt_subprojects/hourly_spellbook/models/_sector/gas/fees/plume/gas_plume_schema.yml
  dbt_subprojects/hourly_spellbook/seeds/_sector/gas/evm_gas_fees.csv
  dbt_subprojects/tokens/models/transfers_and_balances/plume/_schema.yml
  dbt_subprojects/tokens/models/transfers_and_balances/plume/tokens_plume_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/plume/tokens_plume_net_transfers_daily.sql
  dbt_subprojects/tokens/models/transfers_and_balances/plume/tokens_plume_net_transfers_daily_asset.sql
  dbt_subprojects/tokens/models/transfers_and_balances/plume/tokens_plume_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/tokens_transfers.sql
Labels: ready-for-merging, dbt: hourly, dbt: tokens

#8247 tokens erc20: set as full table
  dbt_subprojects/tokens/models/tokens/tokens_erc20.sql
Labels: ready-for-review, dbt: tokens

#8205 Ronin tama trades
  dbt_subprojects/dex/models/dex_info.sql
  dbt_subprojects/dex/models/trades/ronin/_schema.yml
  dbt_subprojects/dex/models/trades/ronin/dex_ronin_base_trades.sql
  dbt_subprojects/dex/models/trades/ronin/platforms/tamadotmeme_v1_ronin_base_trades.sql
  dbt_subprojects/dex/seeds/trades/_schema.yml
  dbt_subprojects/dex/seeds/trades/tamadotmeme_ronin_base_trades_seed.csv
  sources/_sector/dex/trades/ronin/_sources.yml
Labels: ready-for-merging, dbt: dex

#8250 fix new multichain sushi decoded views
  dbt_subprojects/daily_spellbook/models/sushiswap/optimism/sushiswap_optimism_pool_incentives_mappings.sql
  dbt_subprojects/daily_spellbook/models/sushiswap/optimism/sushiswap_optimism_pool_incentives_rates.sql
  sources/sushiswap/multichain/sushiswap_optimism_sources.yml
Labels: ready-for-review, dbt: daily

#8253 Revert "Ronin tama trades (#8205)"
  dbt_subprojects/dex/models/dex_info.sql
  dbt_subprojects/dex/models/trades/ronin/_schema.yml
  dbt_subprojects/dex/models/trades/ronin/dex_ronin_base_trades.sql
  dbt_subprojects/dex/models/trades/ronin/platforms/tamadotmeme_v1_ronin_base_trades.sql
  dbt_subprojects/dex/seeds/trades/_schema.yml
  dbt_subprojects/dex/seeds/trades/tamadotmeme_ronin_base_trades_seed.csv
  sources/_sector/dex/trades/ronin/_sources.yml
Labels: WIP, dbt: dex

#8282 fix balancer decoded source on optimism
  dbt_subprojects/dex/models/_projects/balancer/labels/optimism/labels_balancer_v2_pools_optimism.sql
Labels: ready-for-review, dbt: dex

#8283 drop tokens.erc20
  dbt_subprojects/tokens/models/tokens/tokens_erc20.sql
  dbt_subprojects/tokens/tests/generic/test_prices_tokens_against_erc20.sql
Labels: ready-for-review, dbt: tokens

#8288 viction temp fix
  dbt_subprojects/hourly_spellbook/models/_sector/gas/fees/viction/gas_viction_fees.sql
Labels: ready-for-merging, dbt: hourly
