Repository duneanalytics/spellbook, pull requests merged in 2025-01, with the labels that each got.

#7404 Added hourly interest for Aave on Base
  dbt_subprojects/daily_spellbook/models/aave/base/aave_base_interest_rates.sql
  dbt_subprojects/daily_spellbook/models/aave/base/aave_base_schema.yml
  dbt_subprojects/daily_spellbook/models/aave/base/aave_v3_base_interest_rates.sql
  dbt_subprojects/daily_spellbook/tests/aave/base/aave_base_interests_test.sql
  sources/aave/base/aave_base_sources.yml
Labels: ready-for-merging, dbt: daily

#7341 DUX-762 Init sonic chain
  dbt_subprojects/daily_spellbook/models/evms/evms_info.sql
  dbt_subprojects/tokens/models/prices/prices_tokens.sql
  dbt_subprojects/tokens/models/prices/prices_trusted_tokens.sql
  dbt_subprojects/tokens/models/prices/sonic/_schema.yml
  dbt_subprojects/tokens/models/prices/sonic/prices_sonic_tokens.sql
  dbt_subprojects/tokens/models/tokens/sonic/tokens_sonic_erc20.sql
  sources/_base_sources/evm/sonic_base_sources.yml
  sources/_base_sources/evm/sonic_docs_block.md
Labels: ready-for-merging, dbt: daily, dbt: tokens

#7400 Fix stablebase and saddle_finance id mapping
  dbt_subprojects/dex/models/trades/base/_schema.yml
  dbt_subprojects/dex/models/trades/base/platforms/stablebase_base_base_trades.sql
  dbt_subprojects/dex/models/trades/optimism/_schema.yml
  dbt_subprojects/dex/models/trades/optimism/platforms/saddle_finance_optimism_base_trades.sql
  dbt_subprojects/dex/seeds/trades/saddle_finance_optimism_base_trades_seed.csv
  dbt_subprojects/dex/seeds/trades/stablebase_base_base_trades_seed.csv
Labels: ready-for-merging, hotfix, dbt: dex

#7383 Add PancakeSwapX on Ethereum to Dex Trades
  dbt_subprojects/dex/models/trades/ethereum/_schema.yml
  dbt_subprojects/dex/models/trades/ethereum/platforms/pancakeswap_v2_ethereum_base_trades.sql
  dbt_subprojects/dex/seeds/trades/pancakeswap_ethereum_base_trades_seed.csv
  sources/_sector/dex/trades/ethereum/_sources.yml
Labels: ready-for-merging, dbt: dex

#7398 [CoW Protocol] Add Barter Base addresses
  dbt_subprojects/hourly_spellbook/models/_project/cow_protocol/base/cow_protocol_base_solvers.sql
Labels: ready-for-merging, dbt: hourly

#7302 add cex addresses
  dbt_subprojects/hourly_spellbook/models/_sector/cex/addresses/chains/bitcoin/cex_bitcoin_addresses.sql
  dbt_subprojects/hourly_spellbook/models/_sector/cex/addresses/chains/cex_evms_addresses.sql
Labels: ready-for-merging, dbt: hourly

#7389 added vePHAR to nfts curated
  dbt_subprojects/tokens/models/tokens/avalanche_c/tokens_avalanche_c_nft_curated.sql
Labels: ready-for-merging, dbt: tokens

#7385 Quick fix - metadata file
  dbt_subprojects/nft/models/nft_metrics/ethereum/metadata/nft_ethereum_metadata_xcopy_collections.sql
Labels: ready-for-merging, dbt: nft

#7413 store test failures in tokens subproject
  dbt_subprojects/tokens/dbt_project.yml
Labels: ready-for-review, dbt: tokens

#7415 saddle finance optimism: exclude troubled model
  dbt_subprojects/dex/models/trades/optimism/dex_optimism_base_trades.sql
  dbt_subprojects/dex/models/trades/optimism/platforms/saddle_finance_optimism_base_trades.sql
Labels: ready-for-review, hotfix, dbt: dex

#7417 Moreee blobbers
  dbt_subprojects/hourly_spellbook/models/_sector/blobs/ethereum/blobs_submitters.sql
Labels: easy, ready-for-merging, dbt: hourly

#7411 Ethereum RWA Balances
  dbt_subprojects/daily_spellbook/models/_sector/rwa/ethereum/rwa_ethereum_balances.sql
  dbt_subprojects/daily_spellbook/models/_sector/rwa/ethereum/rwa_ethereum_schema.yml
  dbt_subprojects/tokens/models/tokens/ethereum/tokens_ethereum_rwa.sql
Labels: ready-for-merging, dbt: daily, dbt: tokens

#7394 Initiate corn in spellbook
  dbt_subprojects/daily_spellbook/models/evms/evms_info.sql
  dbt_subprojects/tokens/models/prices/corn/_schema.yml
  dbt_subprojects/tokens/models/prices/corn/prices_corn_tokens.sql
  dbt_subprojects/tokens/models/prices/prices_tokens.sql
  dbt_subprojects/tokens/models/prices/prices_trusted_tokens.sql
  dbt_subprojects/tokens/models/tokens/corn/schema.yml
  dbt_subprojects/tokens/models/tokens/corn/tokens_corn_erc20.sql
  dbt_subprojects/tokens/models/tokens/tokens_erc20.sql
  sources/_base_sources/evm/corn_base_sources.yml
  sources/_base_sources/evm/corn_docs_block.md
Labels: ready-for-merging, dbt: daily, dbt: tokens

#7414 update tokens_sonic_erc20
  dbt_subprojects/tokens/models/prices/prices_trusted_tokens.sql
  dbt_subprojects/tokens/models/prices/sonic/prices_sonic_tokens.sql
  dbt_subprojects/tokens/models/tokens/sonic/tokens_sonic_erc20.sql
Labels: ready-for-merging, dbt: tokens

#7432 remove bad price feed (GM) on mainnet
  dbt_subprojects/tokens/models/prices/ethereum/prices_ethereum_tokens.sql
Labels: ready-for-review, dbt: tokens

#7442 Added Sonic tokens
  dbt_subprojects/tokens/models/tokens/sonic/tokens_sonic_erc20.sql
Labels: ready-for-merging, dbt: tokens

#7395 I added the Spectra token price
  dbt_subprojects/tokens/models/prices/ethereum/prices_ethereum_tokens.sql
Labels: ready-for-merging, dbt: tokens

#7440 Add IceCreamSwap trades on Boba network
  dbt_subprojects/dex/models/dex_info.sql
  dbt_subprojects/dex/models/trades/_schema.yml
  dbt_subprojects/dex/models/trades/boba/_schema.yml
  dbt_subprojects/dex/models/trades/boba/dex_boba_base_trades.sql
  dbt_subprojects/dex/models/trades/boba/platforms/icecreamswap_boba_base_trades.sql
  dbt_subprojects/dex/models/trades/dex_base_trades.sql
  dbt_subprojects/dex/models/trades/dex_trades.sql
  dbt_subprojects/dex/seeds/trades/_schema.yml
  dbt_subprojects/dex/seeds/trades/icecreamswap_boba_base_trades_seed.csv
  sources/_sector/dex/trades/boba/_sources.yml
Labels: ready-for-merging, dbt: dex

#7428 Add pancakeswapx on arbitrum to dex trades
  dbt_subprojects/dex/models/trades/arbitrum/_schema.yml
  dbt_subprojects/dex/models/trades/arbitrum/platforms/pancakeswap_v2_arbitrum_base_trades.sql
  dbt_subprojects/dex/seeds/trades/pancakeswap_arbitrum_base_trades_seed.csv
  sources/_sector/dex/trades/arbitrum/_sources.yml
Labels: ready-for-merging, dbt: dex

#7399 DUX-828 init beets dex models
  dbt_subprojects/dex/models/_projects/beets/_schema.yml
  dbt_subprojects/dex/models/_projects/beets/beethoven_x_v2_sonic_pools_fees.sql
  dbt_subprojects/dex/models/_projects/beets/beethoven_x_v3_sonic_pools_fees.sql
  dbt_subprojects/dex/models/_projects/beets/beets_pools_fees.sql
  dbt_subprojects/dex/models/_projects/beets/beets_trades.sql
  dbt_subprojects/dex/models/dex_info.sql
  dbt_subprojects/dex/models/trades/_schema.yml
  dbt_subprojects/dex/models/trades/dex_base_trades.sql
  dbt_subprojects/dex/models/trades/dex_trades.sql
  dbt_subprojects/dex/models/trades/sonic/_schema.yml
  dbt_subprojects/dex/models/trades/sonic/dex_sonic_base_trades.sql
  dbt_subprojects/dex/models/trades/sonic/platforms/beets_sonic_base_trades.sql
  dbt_subprojects/dex/seeds/trades/_schema.yml
  dbt_subprojects/dex/seeds/trades/beets_sonic_base_trades_seed.csv
Labels: ready-for-merging, dbt: dex

#7449 Revert "Add pancakeswapx on arbitrum to dex trades (#7428)"
  dbt_subprojects/dex/models/trades/arbitrum/_schema.yml
  dbt_subprojects/dex/models/trades/arbitrum/platforms/pancakeswap_v2_arbitrum_base_trades.sql
  dbt_subprojects/dex/seeds/trades/pancakeswap_arbitrum_base_trades_seed.csv
  sources/_sector/dex/trades/arbitrum/_sources.yml
Labels: ready-for-review, hotfix, dbt: dex

#7452 Add $USUAL to tokens.erc20
  dbt_subprojects/tokens/models/tokens/ethereum/tokens_ethereum_erc20.sql
Labels: ready-for-review, dbt: tokens

#7424 fantasy fix
  dbt_subprojects/daily_spellbook/models/_projects/fantasy/fantasy_events.sql
Labels: ready-for-merging, dbt: daily

#7456 exclude failing model
  dbt_subprojects/dex/models/_projects/bebop/arbitrum/bebop_rfq_arbitrum_trades.sql
Labels: ready-for-review, dune team, hotfix, dbt: dex

#7448 Fix typos in blockchain documentation
  sources/_base_sources/evm/polygon_base_sources.yml
  sources/_base_sources/evm/ronin_docs_block.md
Labels: ready-for-merging

#7457 improve balancer gauge mapping
  dbt_subprojects/daily_spellbook/models/_sector/labels/addresses/__single_category_labels__/balancer/labels_balancer_gauges_arbitrum.sql
  dbt_subprojects/daily_spellbook/models/_sector/labels/addresses/__single_category_labels__/balancer/labels_balancer_gauges_avalanche_c.sql
  dbt_subprojects/daily_spellbook/models/_sector/labels/addresses/__single_category_labels__/balancer/labels_balancer_gauges_base.sql
  dbt_subprojects/daily_spellbook/models/_sector/labels/addresses/__single_category_labels__/balancer/labels_balancer_gauges_ethereum.sql
  dbt_subprojects/daily_spellbook/models/_sector/labels/addresses/__single_category_labels__/balancer/labels_balancer_gauges_gnosis.sql
  dbt_subprojects/daily_spellbook/models/_sector/labels/addresses/__single_category_labels__/balancer/labels_balancer_gauges_optimism.sql
  dbt_subprojects/daily_spellbook/models/_sector/labels/addresses/__single_category_labels__/balancer/labels_balancer_gauges_polygon.sql
  dbt_subprojects/daily_spellbook/models/_sector/labels/addresses/__single_category_labels__/balancer/labels_balancer_gauges_zkevm.sql
  sources/labels/addresses/__single_category_labels__/balancer/labels_balancer_sources.yml
Labels: ready-for-merging, dbt: daily

#7438 Add 2 New Events (GMX V2)
  dbt_subprojects/daily_spellbook/models/_projects/gmx/event/arbitrum/gmx_v2_arbitrum_event_schema.yml
  dbt_subprojects/daily_spellbook/models/_projects/gmx/event/arbitrum/gmx_v2_arbitrum_position_fees_collected.sql
  dbt_subprojects/daily_spellbook/models/_projects/gmx/event/arbitrum/gmx_v2_arbitrum_position_fees_info.sql
  dbt_subprojects/daily_spellbook/models/_projects/gmx/event/arbitrum/gmx_v2_arbitrum_position_impact_pool_distributed.sql
  dbt_subprojects/daily_spellbook/models/_projects/gmx/event/arbitrum/gmx_v2_arbitrum_swap_fees_collected.sql
  dbt_subprojects/daily_spellbook/models/_projects/gmx/event/avalanche_c/gmx_v2_avalanche_c_event_schema.yml
  dbt_subprojects/daily_spellbook/models/_projects/gmx/event/avalanche_c/gmx_v2_avalanche_c_position_fees_collected.sql
  dbt_subprojects/daily_spellbook/models/_projects/gmx/event/avalanche_c/gmx_v2_avalanche_c_position_fees_info.sql
  dbt_subprojects/daily_spellbook/models/_projects/gmx/event/avalanche_c/gmx_v2_avalanche_c_position_impact_pool_distributed.sql
  dbt_subprojects/daily_spellbook/models/_projects/gmx/event/avalanche_c/gmx_v2_avalanche_c_swap_fees_collected.sql
  dbt_subprojects/daily_spellbook/models/_projects/gmx/event/gmx_v2_event_schema.yml
  dbt_subprojects/daily_spellbook/models/_projects/gmx/event/gmx_v2_position_impact_pool_distributed.sql
  dbt_subprojects/daily_spellbook/models/_projects/gmx/event/gmx_v2_swap_fees_collected.sql
Labels: ready-for-merging, dbt: daily

#7447 Raho1 linea patch 2 1
  dbt_subprojects/hourly_spellbook/models/_sector/rollup_economics/ethereum/l1_data_fees/chains/rollup_economics_linea_l1_data_fees.sql
  dbt_subprojects/hourly_spellbook/models/_sector/rollup_economics/ethereum/l1_verification_fees/chains/rollup_economics_linea_l1_verification_fees.sql
Labels: ready-for-merging, dbt: hourly

#7446 add sonic to balancer_token_whitelist
  dbt_subprojects/hourly_spellbook/models/_project/balancer/support/balancer_token_whitelist.sql
  sources/_subprojects_outputs/spellbook/_sources.yml
Labels: easy, ready-for-merging, dbt: hourly

#7445 [CoW Protocol] Add Rizzolver and GlueX
  dbt_subprojects/hourly_spellbook/models/_project/cow_protocol/arbitrum/cow_protocol_arbitrum_solvers.sql
  dbt_subprojects/hourly_spellbook/models/_project/cow_protocol/base/cow_protocol_base_solvers.sql
  dbt_subprojects/hourly_spellbook/models/_project/cow_protocol/gnosis/cow_protocol_gnosis_solvers.sql
Labels: ready-for-merging, dbt: hourly

#7455 add missing tokens
  dbt_subprojects/hourly_spellbook/models/_project/balancer/erc4626_tokens/ethereum/balancer_v3_ethereum_erc4626_token_mapping.sql
  dbt_subprojects/tokens/models/tokens/ethereum/tokens_ethereum_erc20.sql
Labels: ready-for-merging, dbt: hourly, dbt: tokens

#7454 [easy] add zksync tokens in prices.usd
  dbt_subprojects/tokens/models/prices/zksync/prices_zksync_tokens.sql
Labels: ready-for-merging, dbt: tokens

#7443 BebopJam new contract address
  dbt_subprojects/dex/models/_projects/bebop/arbitrum/bebop_jam_arbitrum_trades.sql
  dbt_subprojects/dex/models/_projects/bebop/base/bebop_jam_base_trades.sql
  dbt_subprojects/dex/models/_projects/bebop/bnb/bebop_jam_bnb_trades.sql
  dbt_subprojects/dex/models/_projects/bebop/ethereum/bebop_jam_ethereum_trades.sql
  dbt_subprojects/dex/models/_projects/bebop/optimism/bebop_jam_optimism_trades.sql
  dbt_subprojects/dex/models/_projects/bebop/polygon/bebop_jam_polygon_trades.sql
  dbt_subprojects/dex/models/_projects/bebop/scroll/bebop_jam_scroll_trades.sql
  dbt_subprojects/dex/models/_projects/bebop/zksync/bebop_jam_zksync_trades.sql
  dbt_subprojects/dex/seeds/aggregator_trades/dex_aggregator_seed.csv
  sources/bebop/arbitrum/bebop_arbitrum_sources.yml
  sources/bebop/base/bebop_base_sources.yml
  sources/bebop/bnb/bebop_bnb_sources.yml
  sources/bebop/ethereum/bebop_ethereum_sources.yml
  sources/bebop/optimism/bebop_optimism_sources.yml
  sources/bebop/polygon/bebop_polygon_sources.yml
  sources/bebop/scroll/bebop_scroll_sources.yml
  sources/bebop/zksync/bebop_zksync_sources.yml
Labels: ready-for-merging, dbt: dex

#7461 flokibot bnb: exclude slow model
  dbt_subprojects/dex/models/bot_trades/flokibot/bnb/flokibot_bnb_bot_trades.sql
Labels: ready-for-merging, dbt: dex

#7430 Init beets daily spells
  dbt_macros/shared/balancer/balancer_bpt_prices_macro.sql
  dbt_macros/shared/balancer/balancer_liquidity_macro.sql
  dbt_macros/shared/balancer/balancer_protocol_fee_macro.sql
  dbt_macros/shared/balancer/balancer_token_balance_changes_daily_agg_macro.sql
  dbt_subprojects/daily_spellbook/models/beets/sonic/beets_bpt_prices.sql
  dbt_subprojects/daily_spellbook/models/beets/sonic/beets_bpt_supply.sql
  dbt_subprojects/daily_spellbook/models/beets/sonic/beets_bpt_supply_changes.sql
  dbt_subprojects/daily_spellbook/models/beets/sonic/beets_bpt_supply_changes_daily.sql
  dbt_subprojects/daily_spellbook/models/beets/sonic/beets_liquidity.sql
  dbt_subprojects/daily_spellbook/models/beets/sonic/beets_pools_metrics_daily.sql
  dbt_subprojects/daily_spellbook/models/beets/sonic/beets_pools_tokens_weights.sql
  dbt_subprojects/daily_spellbook/models/beets/sonic/beets_protocol_fee.sql
  dbt_subprojects/daily_spellbook/models/beets/sonic/beets_schema.yml
  dbt_subprojects/daily_spellbook/models/beets/sonic/beets_token_balance_changes.sql
  dbt_subprojects/daily_spellbook/models/beets/sonic/beets_token_balance_changes_daily.sql
  dbt_subprojects/daily_spellbook/models/beets/sonic/beets_transfers_bpt.sql
  sources/_subprojects_outputs/daily_spellbook/_sources.yml
  sources/_subprojects_outputs/dex/_sources.yml
  sources/_subprojects_outputs/hourly_spellbook/_sources.yml
Labels: ready-for-merging, dbt: daily

#7458 Init corn dex
  dbt_subprojects/dex/models/trades/_schema.yml
  dbt_subprojects/dex/models/trades/corn/_schema.yml
  dbt_subprojects/dex/models/trades/corn/dex_corn_base_trades.sql
  dbt_subprojects/dex/models/trades/corn/platforms/camelot_v2_corn_base_trades.sql
  dbt_subprojects/dex/models/trades/corn/platforms/camelot_v3_corn_base_trades.sql
  dbt_subprojects/dex/models/trades/corn/platforms/camelot_yak_corn_base_trades.sql
  dbt_subprojects/dex/models/trades/corn/platforms/oku_corn_base_trades.sql
  dbt_subprojects/dex/models/trades/dex_base_trades.sql
  dbt_subprojects/dex/seeds/trades/_schema.yml
  dbt_subprojects/dex/seeds/trades/camelot_corn_base_trades_seed.csv
  dbt_subprojects/dex/seeds/trades/oku_corn_base_trades_seed.csv
  sources/_sector/dex/trades/corn/_sources.yml
Labels: ready-for-merging, dbt: dex

#7462 Fix bebop bug
  dbt_subprojects/dex/models/_projects/bebop/arbitrum/bebop_rfq_arbitrum_trades.sql
  dbt_subprojects/dex/models/_projects/bebop/ethereum/bebop_rfq_ethereum_trades.sql
  dbt_subprojects/dex/models/_projects/bebop/optimism/bebop_rfq_optimism_trades.sql
  dbt_subprojects/dex/models/_projects/bebop/polygon/bebop_rfq_polygon_trades.sql
Labels: ready-for-merging, dbt: dex

#7459 1inch-U54: added escrow factory address to zkSync
  dbt_subprojects/dex/macros/models/_project/oneinch/_meta/oneinch_blockchain_macro.sql
Labels: ready-for-merging, dbt: dex

#7234 Only keep validators with an assigned index in `staking_ethereum.flows`
  dbt_subprojects/hourly_spellbook/models/_sector/staking/ethereum/staking_ethereum_flows.sql
Labels: ready-for-merging, dbt: hourly

#7436 Add CEX addresses
  dbt_subprojects/hourly_spellbook/models/_sector/cex/addresses/chains/cex_evms_addresses.sql
Labels: ready-for-merging, dbt: hourly

#7473 Update prices_ethereum_tokens.sql: Add WAGMI token price
  dbt_subprojects/tokens/models/prices/ethereum/prices_ethereum_tokens.sql
Labels: ready-for-merging, dbt: tokens

#7471 Add addresses for the Enso and OKX solvers
  dbt_subprojects/hourly_spellbook/models/_project/cow_protocol/arbitrum/cow_protocol_arbitrum_solvers.sql
  dbt_subprojects/hourly_spellbook/models/_project/cow_protocol/base/cow_protocol_base_solvers.sql
  dbt_subprojects/hourly_spellbook/models/_project/cow_protocol/ethereum/cow_protocol_ethereum_solvers.sql
Labels: ready-for-merging, dbt: hourly

#7470 Delete duped icecream swap
  dbt_subprojects/dex/models/dex_info.sql
Labels: ready-for-merging, dbt: dex

#7467 update balancer_v3_compatible_trades
  dbt_subprojects/dex/macros/models/_project/balancer_compatible_trades.sql
  dbt_subprojects/dex/seeds/trades/balancer_ethereum_base_trades_seed.csv
  dbt_subprojects/dex/seeds/trades/balancer_gnosis_base_trades_seed.csv
Labels: ready-for-merging, dbt: dex

#7466 Update balancer_protocol_fee_macro and schemas to reflect new fee split
  dbt_macros/shared/balancer/balancer_protocol_fee_macro.sql
  dbt_subprojects/daily_spellbook/models/beethoven_x/fantom/beethoven_x_fantom_schema.yml
  dbt_subprojects/daily_spellbook/models/beets/sonic/beets_schema.yml
  dbt_subprojects/daily_spellbook/models/jelly_swap/sei/jelly_swap_sei_schema.yml
  dbt_subprojects/hourly_spellbook/models/_project/balancer/protocol_fee/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_project/balancer/protocol_fee/arbitrum/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_project/balancer/protocol_fee/avalanche_c/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_project/balancer/protocol_fee/base/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_project/balancer/protocol_fee/ethereum/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_project/balancer/protocol_fee/gnosis/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_project/balancer/protocol_fee/optimism/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_project/balancer/protocol_fee/polygon/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_project/balancer/protocol_fee/zkevm/_schema.yml
Labels: ready-for-merging, dbt: hourly, dbt: daily

#7474 1inch: U59 fix
  dbt_subprojects/dex/macros/models/_project/oneinch/CC/oneinch_escrow_cfg_factories_macro.sql
  sources/_sector/dex/trades/ronin/_sources.yml
  sources/oneinch/zksync/oneinch_zksync_sources.yml
Labels: ready-for-merging, dbt: dex

#7479 balancer protocol fees: fix column name, propogate downstream
  dbt_macros/shared/balancer/balancer_protocol_fee_macro.sql
  dbt_subprojects/hourly_spellbook/models/_project/balancer/protocol_fee/balancer_protocol_fee.sql
Labels: hotfix, dbt: hourly

#7478 Revert PR 7467
  dbt_subprojects/dex/macros/models/_project/balancer_compatible_trades.sql
  dbt_subprojects/dex/seeds/trades/balancer_ethereum_base_trades_seed.csv
  dbt_subprojects/dex/seeds/trades/balancer_gnosis_base_trades_seed.csv
Labels: ready-for-merging, dbt: dex

#7475 [easy] add erc20 tokens in tokens_sonic_erc20.sql
  dbt_subprojects/tokens/models/tokens/sonic/tokens_sonic_erc20.sql
Labels: dbt: tokens

#7485 add missing tokens to prices.usd
  dbt_subprojects/tokens/models/prices/ethereum/prices_ethereum_tokens.sql
  dbt_subprojects/tokens/models/prices/gnosis/prices_gnosis_tokens.sql
Labels: ready-for-merging, dbt: tokens

#7484 Add GGP in token price Avalanche C Chain
  dbt_subprojects/tokens/models/prices/avalanche_c/prices_avalanche_c_tokens.sql
Labels: ready-for-merging, dbt: tokens

#7488 add gyroECLP pools on Sonic
  dbt_subprojects/daily_spellbook/models/_sector/labels/addresses/__single_category_labels__/beets/labels_beets_pools_sonic.sql
  sources/labels/addresses/__single_category_labels__/balancer/labels_balancer_sources.yml
Labels: ready-for-merging, dbt: daily

#7480 remove outlier from dex_prices on balancer macros
  dbt_macros/shared/balancer/balancer_liquidity_macro.sql
  dbt_macros/shared/balancer/balancer_protocol_fee_macro.sql
  dbt_macros/shared/balancer/balancer_token_balance_changes_daily_agg_macro.sql
  dbt_subprojects/daily_spellbook/models/beets/sonic/beets_liquidity.sql
Labels: ready-for-merging, dbt: daily

#7434 optimism: uniswap pools balances
  dbt_subprojects/daily_spellbook/models/_sector/dex/pools/optimism/uniswap/_schema.yml
  dbt_subprojects/daily_spellbook/models/_sector/dex/pools/optimism/uniswap/uniswap_pools_optimism_balances.sql
  sources/_sector/dex/trades/optimism/_sources.yml
Labels: ready-for-merging, dbt: daily

#7469 Initiate ink chain
  dbt_subprojects/daily_spellbook/models/evms/evms_info.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_schema.yml
  dbt_subprojects/tokens/models/prices/_schema.yml
  dbt_subprojects/tokens/models/prices/ink/_schema.yml
  dbt_subprojects/tokens/models/prices/ink/prices_ink_tokens.sql
  dbt_subprojects/tokens/models/prices/prices_tokens.sql
  dbt_subprojects/tokens/models/prices/prices_trusted_tokens.sql
  dbt_subprojects/tokens/models/tokens/_schema.yml
  dbt_subprojects/tokens/models/tokens/ink/_schema.yml
  dbt_subprojects/tokens/models/tokens/ink/tokens_ink_erc20.sql
  dbt_subprojects/tokens/models/tokens/tokens_erc20.sql
  sources/_base_sources/evm/ink_base_sources.yml
  sources/_base_sources/evm/ink_docs_block.md
Labels: ready-for-merging, dbt: daily, dbt: tokens

#7483 fix: add missing amms for jupiter tracking
  dbt_subprojects/solana/models/jupiter/jupiter_solana_aggregator_swaps.sql
Labels: ready-for-merging, dbt: solana

#7505 Add MORPHO to prices
  dbt_subprojects/tokens/models/prices/ethereum/prices_ethereum_tokens.sql
Labels: ready-for-merging, dbt: tokens

#7501 GFI token
  dbt_subprojects/tokens/models/prices/polygon/prices_polygon_tokens.sql
Labels: ready-for-merging, dbt: tokens

#7499 add missing tokens to tokens.erc20
  dbt_subprojects/hourly_spellbook/models/_project/balancer/erc4626_tokens/ethereum/balancer_v3_ethereum_erc4626_token_mapping.sql
  dbt_subprojects/tokens/models/tokens/arbitrum/tokens_arbitrum_erc20.sql
  dbt_subprojects/tokens/models/tokens/ethereum/tokens_ethereum_erc20.sql
Labels: ready-for-merging, dbt: hourly, dbt: tokens

#7496 add padre bot
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/_schema.yml
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/platforms/padre_solana_bot_trades.sql
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/platforms/padre_solana_bot_users.sql
  dbt_subprojects/solana/seeds/padre/padre_solana_trades_seed.csv
Labels: ready-for-merging, dbt: solana

#7491 JOJO Exchange on BASE
  dbt_subprojects/dex/models/dex_info.sql
  dbt_subprojects/dex/models/trades/base/_schema.yml
  dbt_subprojects/dex/models/trades/base/dex_base_base_trades.sql
  dbt_subprojects/dex/models/trades/base/platforms/jojo_base_base_trades.sql
  dbt_subprojects/dex/seeds/trades/_schema.yml
  dbt_subprojects/dex/seeds/trades/jojo_base_base_trades_seed.csv
  sources/_sector/dex/trades/base/_sources.yml
Labels: ready-for-merging, dbt: dex

#7465 Add pcsx on arb to dex trades
  dbt_subprojects/dex/models/trades/arbitrum/_schema.yml
  dbt_subprojects/dex/models/trades/arbitrum/platforms/pancakeswap_v2_arbitrum_base_trades.sql
  dbt_subprojects/dex/seeds/trades/pancakeswap_arbitrum_base_trades_seed.csv
  sources/_sector/dex/trades/arbitrum/_sources.yml
Labels: ready-for-merging, dbt: dex

#7487 1inch-U55: fix to lop partial fills
  dbt_subprojects/dex/macros/models/_project/oneinch/LOP/oneinch_lop_macro.sql
Labels: ready-for-merging, dbt: dex

#7508 Nexus Mutual - update contract address
  dbt_subprojects/daily_spellbook/models/nexusmutual/ethereum/covers/nexusmutual_ethereum_covers_v2.sql
  dbt_subprojects/daily_spellbook/models/nexusmutual/ethereum/staking/nexusmutual_ethereum_base_staking_pools.sql
Labels: ready-for-merging, dbt: daily

#7513 Add trump and melania coin
  dbt_subprojects/tokens/models/prices/solana/prices_solana_tokens.sql
Labels: ready-for-merging, dbt: tokens

#7506 [easy] add tokens in tokens_zksync_erc20.sql and prices table
  dbt_subprojects/tokens/models/prices/zksync/prices_zksync_tokens.sql
  dbt_subprojects/tokens/models/tokens/zksync/tokens_zksync_erc20.sql
Labels: ready-for-merging, dbt: tokens

#7431 Expose Ronin in token transfers spell
  dbt_subprojects/tokens/models/transfers_and_balances/tokens_transfers.sql
Labels: ready-for-merging, dbt: tokens

#7489 update enrich_balancer_v3_dex_trades
  dbt_subprojects/dex/macros/models/enrich_balancer_v3_dex_trades.sql
Labels: ready-for-merging, dbt: dex

#7419 chore: address upate
  dbt_subprojects/daily_spellbook/models/addresses/optimism/addresses_optimism_grants_funding.sql
Labels: ready-for-merging, dbt: daily

#7518 feat: add chain specific logic for zksync shared bridge
  dbt_subprojects/hourly_spellbook/models/_sector/rollup_economics/ethereum/l1_data_fees/chains/rollup_economics_zksync_l1_data_fees.sql
  dbt_subprojects/hourly_spellbook/models/_sector/rollup_economics/ethereum/l1_verification_fees/chains/rollup_economics_zksync_l1_verification_fees.sql
Labels: ready-for-merging, dbt: hourly

#7391 DUX-823 Prices v2 rework
  dbt_subprojects/tokens/models/prices_v2/_schema.yml
  dbt_subprojects/tokens/models/prices_v2/minute_inputs/prices_v2_coinpaprika_minute.sql
  dbt_subprojects/tokens/models/prices_v2/minute_inputs/prices_v2_dex_filter.sql
  dbt_subprojects/tokens/models/prices_v2/minute_inputs/prices_v2_dex_minute.sql
  dbt_subprojects/tokens/models/prices_v2/minute_inputs/prices_v2_dex_minute_raw.sql
  dbt_subprojects/tokens/models/prices_v2/prices_v2_day.sql
  dbt_subprojects/tokens/models/prices_v2/prices_v2_latest.sql
  dbt_subprojects/tokens/models/prices_v2/sparse_prices/prices_v2_day_sparse.sql
  dbt_subprojects/tokens/models/prices_v2/sparse_prices/prices_v2_hour_sparse.sql
  dbt_subprojects/tokens/models/prices_v2/sparse_prices/prices_v2_minute_sparse.sql
Labels: in review, dune team, dbt: tokens

#7526 Add blob posters
  dbt_subprojects/hourly_spellbook/models/_sector/blobs/ethereum/blobs_submitters.sql
Labels: easy, ready-for-merging, dbt: hourly

#7523 Add addresses for ApeOut 1inch, Helixbox, and Elfomo
  dbt_subprojects/hourly_spellbook/models/_project/cow_protocol/arbitrum/cow_protocol_arbitrum_solvers.sql
  dbt_subprojects/hourly_spellbook/models/_project/cow_protocol/ethereum/cow_protocol_ethereum_solvers.sql
Labels: ready-for-merging, dbt: hourly

#7511 Update Event Models for GMX v2
  dbt_subprojects/hourly_spellbook/models/_project/gmx/event/arbitrum/gmx_v2_arbitrum_event_schema.yml
  dbt_subprojects/hourly_spellbook/models/_project/gmx/event/arbitrum/gmx_v2_arbitrum_withdrawal_created.sql
  dbt_subprojects/hourly_spellbook/models/_project/gmx/event/avalanche_c/gmx_v2_avalanche_c_event_schema.yml
  dbt_subprojects/hourly_spellbook/models/_project/gmx/event/avalanche_c/gmx_v2_avalanche_c_withdrawal_created.sql
  dbt_subprojects/hourly_spellbook/models/_project/gmx/event/gmx_v2_event_schema.yml
  dbt_subprojects/hourly_spellbook/models/_project/gmx/event/gmx_v2_withdrawal_created.sql
  dbt_subprojects/hourly_spellbook/models/_project/gmx/tokens/arbitrum/gmx_v2_arbitrum_erc20.sql
  dbt_subprojects/hourly_spellbook/models/_project/gmx/tokens/avalanche_c/gmx_v2_avalanche_c_erc20.sql
  sources/_datasets/dune/sources.yml
Labels: ready-for-merging, dbt: hourly

#7524 Nexus Mutual - Capital Pool re-run
  dbt_subprojects/daily_spellbook/models/nexusmutual/ethereum/capital_pool/nexusmutual_ethereum_capital_pool_totals.sql
  dbt_subprojects/daily_spellbook/models/nexusmutual/ethereum/capital_pool/nexusmutual_ethereum_capital_pool_transfers.sql
Labels: ready-for-merging, dbt: daily

#7522 add LBTC on base to tokens.erc20 and prices.usd
  dbt_subprojects/tokens/models/prices/base/prices_base_tokens.sql
  dbt_subprojects/tokens/models/tokens/base/tokens_base_erc20.sql
Labels: ready-for-merging, dbt: tokens

#7521 Added new STABLE token on Arbitrum
  dbt_subprojects/tokens/models/tokens/arbitrum/tokens_arbitrum_erc20.sql
Labels: ready-for-merging, dbt: tokens

#7463 dex test refactor
  dbt_subprojects/dex/models/trades/arbitrum/_schema.yml
  dbt_subprojects/dex/models/trades/avalanche_c/_schema.yml
  dbt_subprojects/dex/models/trades/base/_schema.yml
  dbt_subprojects/dex/models/trades/blast/_schema.yml
  dbt_subprojects/dex/models/trades/bnb/_schema.yml
  dbt_subprojects/dex/models/trades/boba/_schema.yml
  dbt_subprojects/dex/models/trades/celo/_schema.yml
  dbt_subprojects/dex/models/trades/ethereum/_schema.yml
  dbt_subprojects/dex/models/trades/fantom/_schema.yml
  dbt_subprojects/dex/models/trades/flare/_schema.yml
  dbt_subprojects/dex/models/trades/gnosis/_schema.yml
  dbt_subprojects/dex/models/trades/kaia/_schema.yml
  dbt_subprojects/dex/models/trades/linea/_schema.yml
  dbt_subprojects/dex/models/trades/mantle/_schema.yml
  dbt_subprojects/dex/models/trades/nova/_schema.yml
  dbt_subprojects/dex/models/trades/optimism/_schema.yml
  dbt_subprojects/dex/models/trades/polygon/_schema.yml
  dbt_subprojects/dex/models/trades/ronin/_schema.yml
  dbt_subprojects/dex/models/trades/scroll/_schema.yml
  dbt_subprojects/dex/models/trades/sei/_schema.yml
  dbt_subprojects/dex/models/trades/sonic/_schema.yml
  dbt_subprojects/dex/models/trades/worldchain/_schema.yml
  dbt_subprojects/dex/models/trades/zkevm/_schema.yml
  dbt_subprojects/dex/models/trades/zksync/_schema.yml
  dbt_subprojects/dex/models/trades/zora/_schema.yml
  dbt_subprojects/dex/tests/generic/test_reasonable_usd_amount.sql
Labels: ready-for-merging, dbt: dex

#7515 Added Equalizer Exchange to Dex Trades
  dbt_subprojects/dex/models/trades/sonic/_schema.yml
  dbt_subprojects/dex/models/trades/sonic/dex_sonic_base_trades.sql
  dbt_subprojects/dex/models/trades/sonic/platforms/equalizer_sonic_base_trades.sql
  dbt_subprojects/dex/seeds/trades/_schema.yml
  dbt_subprojects/dex/seeds/trades/equalizer_sonic_base_trades_seed.csv
  sources/equalizer_exchange/equalizer_exchange_sonic_sources.yml
Labels: ready-for-merging, dbt: dex

#7509 OTSea DEX on Base
  dbt_subprojects/dex/models/dex_info.sql
  dbt_subprojects/dex/models/trades/base/_schema.yml
  dbt_subprojects/dex/models/trades/base/dex_base_base_trades.sql
  dbt_subprojects/dex/models/trades/base/platforms/otsea_base_base_trades.sql
  dbt_subprojects/dex/seeds/trades/_schema.yml
  dbt_subprojects/dex/seeds/trades/otsea_base_base_trades_seed.csv
  dbt_subprojects/hourly_spellbook/seeds/_sector/perpetual/trades/perpetual_trades_seed.csv
  sources/_sector/dex/trades/base/_sources.yml
  sources/pika/optimism/pika_optimism_sources.yml
Labels: ready-for-merging, dbt: dex

#7533 Prices V2: make trusted tokens source instead of ref
  dbt_subprojects/tokens/models/prices_v2/minute_inputs/prices_v2_coinpaprika_minute.sql
  dbt_subprojects/tokens/models/prices_v2/minute_inputs/prices_v2_dex_minute_raw.sql
Labels: ready-for-review, dune team, hotfix, dbt: tokens

#7543 adding uni v4 to dex.trades
  dbt_subprojects/dex/macros/models/_project/uniswap_compatible_trades.sql
  dbt_subprojects/dex/models/trades/arbitrum/_schema.yml
  dbt_subprojects/dex/models/trades/arbitrum/dex_arbitrum_base_trades.sql
  dbt_subprojects/dex/models/trades/arbitrum/platforms/uniswap_v4_arbitrum_base_trades.sql
  dbt_subprojects/dex/models/trades/avalanche_c/_schema.yml
  dbt_subprojects/dex/models/trades/avalanche_c/dex_avalanche_c_base_trades.sql
  dbt_subprojects/dex/models/trades/avalanche_c/platforms/uniswap_v4_avalanche_c_base_trades.sql
  dbt_subprojects/dex/models/trades/base/_schema.yml
  dbt_subprojects/dex/models/trades/base/dex_base_base_trades.sql
  dbt_subprojects/dex/models/trades/base/platforms/uniswap_v4_base_base_trades.sql
  dbt_subprojects/dex/models/trades/blast/_schema.yml
  dbt_subprojects/dex/models/trades/blast/dex_blast_base_trades.sql
  dbt_subprojects/dex/models/trades/blast/platforms/uniswap_v4_blast_base_trades.sql
  dbt_subprojects/dex/models/trades/bnb/_schema.yml
  dbt_subprojects/dex/models/trades/bnb/dex_bnb_base_trades.sql
  dbt_subprojects/dex/models/trades/bnb/platforms/uniswap_v4_bnb_base_trades.sql
  dbt_subprojects/dex/models/trades/ethereum/_schema.yml
  dbt_subprojects/dex/models/trades/ethereum/dex_ethereum_base_trades.sql
  dbt_subprojects/dex/models/trades/ethereum/platforms/uniswap_v4_ethereum_base_trades.sql
  dbt_subprojects/dex/models/trades/optimism/_schema.yml
  dbt_subprojects/dex/models/trades/optimism/dex_optimism_base_trades.sql
  dbt_subprojects/dex/models/trades/optimism/platforms/uniswap_v4_optimism_base_trades.sql
  dbt_subprojects/dex/models/trades/polygon/_schema.yml
  dbt_subprojects/dex/models/trades/polygon/dex_polygon_base_trades.sql
  dbt_subprojects/dex/models/trades/polygon/platforms/uniswap_v4_polygon_base_trades.sql
  dbt_subprojects/dex/models/trades/worldchain/_schema.yml
  dbt_subprojects/dex/models/trades/worldchain/dex_worldchain_base_trades.sql
  dbt_subprojects/dex/models/trades/worldchain/platforms/uniswap_v4_worldchain_base_trades.sql
  dbt_subprojects/dex/models/trades/zora/_schema.yml
  dbt_subprojects/dex/models/trades/zora/dex_zora_base_trades.sql
  dbt_subprojects/dex/models/trades/zora/platforms/uniswap_v4_zora_base_trades.sql
  dbt_subprojects/dex/seeds/trades/uniswap_arbitrum_base_trades_seed.csv
  dbt_subprojects/dex/seeds/trades/uniswap_avalanche_c_base_trades_seed.csv
  dbt_subprojects/dex/seeds/trades/uniswap_base_base_trades_seed.csv
  dbt_subprojects/dex/seeds/trades/uniswap_blast_base_trades_seed.csv
  dbt_subprojects/dex/seeds/trades/uniswap_bnb_base_trades_seed.csv
  dbt_subprojects/dex/seeds/trades/uniswap_ethereum_base_trades_seed.csv
  dbt_subprojects/dex/seeds/trades/uniswap_optimism_base_trades_seed.csv
  dbt_subprojects/dex/seeds/trades/uniswap_polygon_base_trades_seed.csv
  dbt_subprojects/dex/seeds/trades/uniswap_worldchain_base_trades_seed.csv
  sources/_sector/dex/trades/arbitrum/_sources.yml
  sources/_sector/dex/trades/avalanche_c/_sources.yml
  sources/_sector/dex/trades/base/_sources.yml
  sources/_sector/dex/trades/blast/_sources.yml
  sources/_sector/dex/trades/bnb/_sources.yml
  sources/_sector/dex/trades/ethereum/_sources.yml
  sources/_sector/dex/trades/optimism/_sources.yml
  sources/_sector/dex/trades/polygon/_sources.yml
  sources/_sector/dex/trades/worldchain/_sources.yml
  sources/_sector/dex/trades/zora/_sources.yml
Labels: dbt: dex

#7529 Silver Sonic Integration
  dbt_subprojects/dex/models/dex_info.sql
  dbt_subprojects/dex/models/trades/sonic/_schema.yml
  dbt_subprojects/dex/models/trades/sonic/dex_sonic_base_trades.sql
  dbt_subprojects/dex/models/trades/sonic/platforms/silverswap_sonic_base_trades.sql
  dbt_subprojects/dex/seeds/trades/_schema.yml
  dbt_subprojects/dex/seeds/trades/silverswap_sonic_base_trades_seed.csv
  sources/_sector/dex/trades/sonic/_sources.yml
Labels: ready-for-merging, dbt: dex

#7348 Add Timeswap dex to trades
  dbt_subprojects/dex/models/dex_info.sql
  dbt_subprojects/dex/models/trades/optimism/_schema.yml
  dbt_subprojects/dex/models/trades/optimism/dex_optimism_base_trades.sql
  dbt_subprojects/dex/models/trades/optimism/platforms/timeswap_v2_optimism_base_trades.sql
  dbt_subprojects/dex/seeds/trades/_schema.yml
  dbt_subprojects/dex/seeds/trades/timeswap_v2_optimism_base_trades_seed.csv
  sources/_sector/dex/trades/optimism/_sources.yml
Labels: ready-for-merging, dbt: dex

#7546 update amount usd macro to include native prices
  dbt_subprojects/dex/macros/add_amount_usd.sql
  sources/_subprojects_outputs/hourly_spellbook/_sources.yml
Labels: dbt: dex

#7540 quick fix for dex prices and erc4626 token prices on balancer macros
  dbt_macros/shared/balancer/balancer_bpt_prices_macro.sql
  dbt_macros/shared/balancer/balancer_liquidity_macro.sql
  dbt_macros/shared/balancer/balancer_protocol_fee_macro.sql
  dbt_macros/shared/balancer/balancer_token_balance_changes_daily_agg_macro.sql
  dbt_subprojects/hourly_spellbook/models/_project/balancer/liquidity/avalanche_c/balancer_v2_avalanche_c_liquidity.sql
  dbt_subprojects/hourly_spellbook/models/_project/balancer/protocol_fee/avalanche_c/balancer_v2_avalanche_c_protocol_fee.sql
Labels: ready-for-merging, dbt: hourly

#7535 lido.accounting updates
  dbt_subprojects/hourly_spellbook/models/_project/lido/accounting/ethereum/lido_accounting_ethereum_buffer_inflow.sql
  dbt_subprojects/hourly_spellbook/models/_project/lido/accounting/ethereum/lido_accounting_ethereum_buffer_outflow.sql
  dbt_subprojects/hourly_spellbook/models/_project/lido/accounting/ethereum/lido_accounting_ethereum_dai_referral_payment.sql
  dbt_subprojects/hourly_spellbook/models/_project/lido/accounting/ethereum/lido_accounting_ethereum_deposits.sql
  dbt_subprojects/hourly_spellbook/models/_project/lido/accounting/ethereum/lido_accounting_ethereum_fundraising.sql
  dbt_subprojects/hourly_spellbook/models/_project/lido/accounting/ethereum/lido_accounting_ethereum_ldo_referral_payment.sql
  dbt_subprojects/hourly_spellbook/models/_project/lido/accounting/ethereum/lido_accounting_ethereum_lego_expenses.sql
  dbt_subprojects/hourly_spellbook/models/_project/lido/accounting/ethereum/lido_accounting_ethereum_liquidity_incentives.sql
  dbt_subprojects/hourly_spellbook/models/_project/lido/accounting/ethereum/lido_accounting_ethereum_lox_incentives.sql
  dbt_subprojects/hourly_spellbook/models/_project/lido/accounting/ethereum/lido_accounting_ethereum_operating_expenses.sql
  dbt_subprojects/hourly_spellbook/models/_project/lido/accounting/ethereum/lido_accounting_ethereum_other_expenses.sql
  dbt_subprojects/hourly_spellbook/models/_project/lido/accounting/ethereum/lido_accounting_ethereum_other_income.sql
  dbt_subprojects/hourly_spellbook/models/_project/lido/accounting/ethereum/lido_accounting_ethereum_revenue.sql
  dbt_subprojects/hourly_spellbook/models/_project/lido/accounting/ethereum/lido_accounting_ethereum_steth_referral_payment.sql
  dbt_subprojects/hourly_spellbook/models/_project/lido/accounting/ethereum/lido_accounting_ethereum_trp_expenses.sql
  dbt_subprojects/hourly_spellbook/models/_project/lido/accounting/ethereum/lido_accounting_ethereum_withdrawals.sql
Labels: ready-for-merging, dbt: hourly

#7531 feat(tokens): Add popular ERC20 tokens to Ethereum tokens list
  dbt_subprojects/tokens/models/tokens/ethereum/tokens_ethereum_erc20.sql
Labels: ready-for-merging, dbt: tokens

#7536 automate erc4626 token mapping for balancer_v3 on ethereum
  dbt_subprojects/hourly_spellbook/models/_project/balancer/erc4626_tokens/ethereum/balancer_v3_ethereum_erc4626_token_mapping.sql
  dbt_subprojects/tokens/models/tokens/ethereum/tokens_ethereum_erc20.sql
  sources/aave/ethereum/aave_ethereum_sources.yml
  sources/morpho/ethereum/morpho_ethereum_sources.yml
Labels: ready-for-merging, dbt: hourly, dbt: tokens

#7530 fix: update addresses for Immunefi and Trail of Bits grants in Season 4
  dbt_subprojects/daily_spellbook/models/addresses/optimism/addresses_optimism_grants_funding.sql
Labels: ready-for-merging, dbt: daily

#7551 fixing worldchain's native token
  dbt_subprojects/daily_spellbook/models/evms/evms_info.sql
Labels: ready-for-merging, dbt: daily

#7568 Nexus Mutual - account for SwapOperator contract in Capital Pool
  dbt_subprojects/daily_spellbook/models/nexusmutual/ethereum/capital_pool/nexusmutual_ethereum_capital_pool_totals.sql
  dbt_subprojects/daily_spellbook/models/nexusmutual/ethereum/capital_pool/nexusmutual_ethereum_capital_pool_transfers.sql
Labels: ready-for-merging, dbt: daily

#7567 [CoW Protocol] Remove duplicate entries for Laita solver
  dbt_subprojects/hourly_spellbook/models/_project/cow_protocol/arbitrum/cow_protocol_arbitrum_solvers.sql
Labels: ready-for-merging, dbt: hourly

#7566 automate erc4626 mapping on gnosis and add more tokens on sonic
  dbt_subprojects/hourly_spellbook/models/_project/balancer/erc4626_tokens/gnosis/balancer_v3_gnosis_erc4626_token_mapping.sql
  dbt_subprojects/hourly_spellbook/models/_project/balancer/erc4626_tokens/sonic/balancer_v3_sonic_erc4626_token_mapping.sql
  dbt_subprojects/tokens/models/tokens/sonic/tokens_sonic_erc20.sql
  sources/aave/gnosis/aave_gnosis_sources.yml
Labels: ready-for-merging, dbt: hourly, dbt: tokens

#7561 Adding Token for Arbitum Nova
  dbt_subprojects/tokens/models/tokens/nova/tokens_nova_erc20.sql
Labels: ready-for-merging, dbt: tokens

#7553 add UNIBOT token price to Ethereum
  dbt_subprojects/tokens/models/prices/ethereum/prices_ethereum_tokens.sql
Labels: ready-for-merging, dbt: tokens

#7547 Update prices_solana_tokens.sql
  dbt_subprojects/tokens/models/prices/solana/prices_solana_tokens.sql
Labels: ready-for-merging, dbt: tokens

#7570 Update Blast ERC20 tokens: fix decimals, remove duplicate, add new tokens
  dbt_subprojects/tokens/models/tokens/blast/tokens_blast_erc20.sql
Labels: ready-for-review, dbt: tokens

#7571 Update v4's "maker" (token seller) to be the virtual pool id
  dbt_subprojects/dex/macros/models/_project/uniswap_compatible_trades.sql
Labels: ready-for-merging, dbt: dex

#7581 Add BRUSH to Sonic ERC20 tokens
  dbt_subprojects/tokens/models/tokens/sonic/tokens_sonic_erc20.sql
Labels: ready-for-merging, dbt: tokens

#7550 refactor: list $VEIL
  dbt_subprojects/tokens/models/prices/base/prices_base_tokens.sql
Labels: ready-for-merging, dbt: tokens

#7493 Initiate abstract chain
  dbt_subprojects/daily_spellbook/models/evms/evms_info.sql
  dbt_subprojects/tokens/models/prices/abstract/_schema.yml
  dbt_subprojects/tokens/models/prices/abstract/prices_abstract_tokens.sql
  dbt_subprojects/tokens/models/prices/prices_tokens.sql
  dbt_subprojects/tokens/models/prices/prices_trusted_tokens.sql
  dbt_subprojects/tokens/models/tokens/_schema.yml
  dbt_subprojects/tokens/models/tokens/abstract/_schema.yml
  dbt_subprojects/tokens/models/tokens/abstract/tokens_abstract_erc20.sql
  dbt_subprojects/tokens/models/tokens/tokens_erc20.sql
  sources/_base_sources/evm/abstract_base_sources.yml
  sources/_base_sources/evm/abstract_docs_block.md
Labels: ready-for-merging, dbt: daily, dbt: tokens

#7583 Update Event Models for GMX v2 Project
  dbt_subprojects/hourly_spellbook/models/_project/gmx/event/arbitrum/gmx_v2_arbitrum_event_schema.yml
  dbt_subprojects/hourly_spellbook/models/_project/gmx/event/arbitrum/gmx_v2_arbitrum_order_created.sql
  dbt_subprojects/hourly_spellbook/models/_project/gmx/event/arbitrum/gmx_v2_arbitrum_position_decrease.sql
  dbt_subprojects/hourly_spellbook/models/_project/gmx/event/arbitrum/gmx_v2_arbitrum_position_increase.sql
  dbt_subprojects/hourly_spellbook/models/_project/gmx/event/avalanche_c/gmx_v2_avalanche_c_event_schema.yml
  dbt_subprojects/hourly_spellbook/models/_project/gmx/event/avalanche_c/gmx_v2_avalanche_c_order_created.sql
  dbt_subprojects/hourly_spellbook/models/_project/gmx/event/avalanche_c/gmx_v2_avalanche_c_position_decrease.sql
  dbt_subprojects/hourly_spellbook/models/_project/gmx/event/avalanche_c/gmx_v2_avalanche_c_position_increase.sql
  dbt_subprojects/hourly_spellbook/models/_project/gmx/event/gmx_v2_event_schema.yml
  dbt_subprojects/hourly_spellbook/models/_project/gmx/event/gmx_v2_position_decrease.sql
Labels: ready-for-merging, dbt: hourly

#7585 Add labels for balancer v3 pools on arbitrum and base
  dbt_subprojects/dex/models/_projects/balancer/labels/_schema.yml
  dbt_subprojects/dex/models/_projects/balancer/labels/arbitrum/labels_balancer_v3_pools_arbitrum.sql
  dbt_subprojects/dex/models/_projects/balancer/labels/base/labels_balancer_v3_pools_base.sql
  dbt_subprojects/dex/models/_projects/balancer/labels/labels_balancer_v3_pools.sql
  sources/balancer/arbitrum/balancer_arbitrum_sources.yml
  sources/balancer/base/balancer_base_sources.yml
Labels: ready-for-merging, dbt: dex

#7587 add uni v2, v3, v4 to ink
  dbt_subprojects/dex/models/trades/dex_base_trades.sql
  dbt_subprojects/dex/models/trades/ink/_schema.yml
  dbt_subprojects/dex/models/trades/ink/dex_ink_base_trades.sql
  dbt_subprojects/dex/models/trades/ink/platforms/uniswap_v2_ink_base_trades.sql
  dbt_subprojects/dex/models/trades/ink/platforms/uniswap_v3_ink_base_trades.sql
  dbt_subprojects/dex/models/trades/ink/platforms/uniswap_v4_ink_base_trades.sql
  dbt_subprojects/dex/seeds/trades/_schema.yml
  dbt_subprojects/dex/seeds/trades/uniswap_ink_base_trades_seed.csv
  sources/_sector/dex/trades/ink/_sources.yml
Labels: ready-for-merging, dbt: dex

#7589 init dex spells for balancer v3 on arbitrum and base
  dbt_subprojects/dex/models/_projects/balancer/pools/_schema.yml
  dbt_subprojects/dex/models/_projects/balancer/pools/arbitrum/balancer_v3_arbitrum_pools_fees.sql
  dbt_subprojects/dex/models/_projects/balancer/pools/balancer_pools_fees.sql
  dbt_subprojects/dex/models/_projects/balancer/pools/base/balancer_v3_base_pools_fees.sql
  dbt_subprojects/dex/models/_projects/balancer/trades/arbitrum/_schema.yml
  dbt_subprojects/dex/models/_projects/balancer/trades/arbitrum/balancer_arbitrum_trades.sql
  dbt_subprojects/dex/models/_projects/balancer/trades/arbitrum/balancer_v3_arbitrum_trades.sql
  dbt_subprojects/dex/models/_projects/balancer/trades/base/_schema.yml
  dbt_subprojects/dex/models/_projects/balancer/trades/base/balancer_base_trades.sql
  dbt_subprojects/dex/models/_projects/balancer/trades/base/balancer_v3_base_trades.sql
  dbt_subprojects/dex/models/trades/arbitrum/_schema.yml
  dbt_subprojects/dex/models/trades/arbitrum/dex_arbitrum_base_trades.sql
  dbt_subprojects/dex/models/trades/arbitrum/platforms/balancer_v3_arbitrum_base_trades.sql
  dbt_subprojects/dex/models/trades/base/_schema.yml
  dbt_subprojects/dex/models/trades/base/dex_base_base_trades.sql
  dbt_subprojects/dex/models/trades/base/platforms/balancer_v3_base_base_trades.sql
  dbt_subprojects/dex/seeds/trades/balancer_arbitrum_base_trades_seed.csv
  dbt_subprojects/dex/seeds/trades/balancer_base_base_trades_seed.csv
  sources/_subprojects_outputs/dex/_sources.yml
Labels: ready-for-merging, dbt: dex

#7427 Pika Protocol v4 added for optimism
  dbt_subprojects/hourly_spellbook/models/_sector/perpetual/projects/pika/optimism/pika_optimism_perpetual_trades.sql
  dbt_subprojects/hourly_spellbook/models/_sector/perpetual/projects/pika/optimism/pika_optimism_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/perpetual/projects/pika/optimism/pika_v4_optimism_perpetual_trades.sql
  dbt_subprojects/hourly_spellbook/seeds/_sector/perpetual/trades/perpetual_trades_seed.csv
  sources/pika/optimism/pika_optimism_sources.yml
Labels: ready-for-merging, dbt: hourly

#7437 Gains Network Perpetual for Base
  dbt_subprojects/hourly_spellbook/models/_sector/perpetual/projects/gains_network/gains_network_perpetual_trades.sql
  dbt_subprojects/hourly_spellbook/models/_sector/perpetual/projects/gains_network/gains_network_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/perpetual/projects/gains_network/gains_network_v1_base_perpetual_trades.sql
  dbt_subprojects/hourly_spellbook/seeds/_sector/perpetual/trades/perpetual_trades_seed.csv
  sources/gains_network/gains_network_base_sources.yml
Labels: ready-for-merging, dbt: hourly

#7610 Add flETH token with temporary WETH price
  dbt_subprojects/tokens/models/prices/base/prices_base_tokens.sql
Labels: WIP, dbt: tokens
