Repository duneanalytics/spellbook, pull requests merged in 2025-08, with the labels that each got.

#8613 hide some prices models
  dbt_subprojects/hourly_spellbook/models/_sector/prices/prices_usd_daily.sql
  dbt_subprojects/hourly_spellbook/models/_sector/prices/prices_usd_forward_fill.sql
  dbt_subprojects/hourly_spellbook/models/_sector/prices/prices_usd_latest.sql
  dbt_subprojects/tokens/models/prices/prices_tokens.sql
Labels: ready-for-merging, dbt: hourly, dbt: tokens

#8596 add Fragmetric in prices_solana_tokens.sql
  dbt_subprojects/tokens/models/prices/solana/prices_solana_tokens.sql
Labels: ready-for-review, dbt: tokens

#8597 Add DFDVX token to Solana prices
  dbt_subprojects/tokens/models/prices/solana/prices_solana_tokens.sql
Labels: ready-for-review, dbt: tokens

#8627 update to tokens TAC
  dbt_subprojects/tokens/models/prices/tac/prices_tac_tokens.sql
Labels: ready-for-review, dbt: tokens

#8605 1inch-U78: added entry logic for calls
  dbt_subprojects/daily_spellbook/macros/project/oneinch/project/oneinch_project_swaps_macro.sql
Labels: ready-for-merging, dbt: daily

#8598 1inch-U77: updates to project_orders
  dbt_subprojects/daily_spellbook/macros/project/oneinch/project/cfg/oneinch_project_orders_cfg_events_macro.sql
  dbt_subprojects/daily_spellbook/macros/project/oneinch/project/cfg/oneinch_project_orders_cfg_methods_macro.sql
  dbt_subprojects/daily_spellbook/macros/project/oneinch/project/oneinch_project_orders_macro.sql
Labels: ready-for-merging, dbt: daily

#8634 1inch project lineage: exclude bnb from project swaps
  dbt_subprojects/daily_spellbook/models/_projects/oneinch/bnb/project/oneinch_bnb_project_swaps.sql
  dbt_subprojects/daily_spellbook/models/_projects/oneinch/oneinch_project_swaps.sql
Labels: ready-for-review, hotfix, dbt: daily

#8378 CUR2-256 migrate `gas.fees` to new prices pipeline
  dbt_macros/shared/native_token_prices.sql
  dbt_subprojects/hourly_spellbook/macros/sector/gas/arbitrum_orbit_stack_gas_fees.sql
  dbt_subprojects/hourly_spellbook/macros/sector/gas/evm_l1_gas_fees.sql
  dbt_subprojects/hourly_spellbook/macros/sector/gas/op_stack_gas_fees.sql
  dbt_subprojects/hourly_spellbook/models/_sector/gas/fees/abstract/gas_abstract_fees.sql
  dbt_subprojects/hourly_spellbook/models/_sector/gas/fees/apechain/gas_apechain_fees.sql
  dbt_subprojects/hourly_spellbook/models/_sector/gas/fees/arbitrum/gas_arbitrum_fees.sql
  dbt_subprojects/hourly_spellbook/models/_sector/gas/fees/avalanche_c/gas_avalanche_c_fees.sql
  dbt_subprojects/hourly_spellbook/models/_sector/gas/fees/base/gas_base_fees.sql
  dbt_subprojects/hourly_spellbook/models/_sector/gas/fees/bnb/gas_bnb_fees.sql
  dbt_subprojects/hourly_spellbook/models/_sector/gas/fees/celo/gas_celo_fees.sql
  dbt_subprojects/hourly_spellbook/models/_sector/gas/fees/ethereum/gas_ethereum_fees.sql
  dbt_subprojects/hourly_spellbook/models/_sector/gas/fees/fantom/gas_fantom_fees.sql
  dbt_subprojects/hourly_spellbook/models/_sector/gas/fees/gnosis/gas_gnosis_fees.sql
  dbt_subprojects/hourly_spellbook/models/_sector/gas/fees/lens/gas_lens_fees.sql
  dbt_subprojects/hourly_spellbook/models/_sector/gas/fees/linea/gas_linea_fees.sql
  dbt_subprojects/hourly_spellbook/models/_sector/gas/fees/mantle/gas_mantle_fees.sql
  dbt_subprojects/hourly_spellbook/models/_sector/gas/fees/nova/gas_nova_fees.sql
  dbt_subprojects/hourly_spellbook/models/_sector/gas/fees/optimism/gas_optimism_fees.sql
  dbt_subprojects/hourly_spellbook/models/_sector/gas/fees/plume/gas_plume_fees.sql
  dbt_subprojects/hourly_spellbook/models/_sector/gas/fees/polygon/gas_polygon_fees.sql
  dbt_subprojects/hourly_spellbook/models/_sector/gas/fees/ronin/gas_ronin_fees.sql
  dbt_subprojects/hourly_spellbook/models/_sector/gas/fees/scroll/gas_scroll_fees.sql
  dbt_subprojects/hourly_spellbook/models/_sector/gas/fees/sophon/gas_sophon_fees.sql
  dbt_subprojects/hourly_spellbook/models/_sector/gas/fees/zksync/gas_zksync_fees.sql
  dbt_subprojects/hourly_spellbook/models/_sector/gas/fees/zora/gas_zora_fees.sql
Labels: ready-for-merging, dune team, dbt: hourly

#8648 CUR2-443 `tokens.transfers`: update `amount_usd` logic to avoid inflated pricing
  dbt_subprojects/tokens/macros/transfers/transfers_enrich.sql
Labels: ready-for-review, dbt: tokens

#8604 Aptos Fungible Asset tables
  dbt_subprojects/daily_spellbook/models/aptos/aptos_fungible_asset_activities.sql
  dbt_subprojects/daily_spellbook/models/aptos/aptos_fungible_asset_balances.sql
  dbt_subprojects/daily_spellbook/models/aptos/aptos_fungible_asset_metadata.sql
  dbt_subprojects/daily_spellbook/models/aptos/aptos_fungible_asset_metadata_current.sql
  dbt_subprojects/daily_spellbook/models/aptos/aptos_fungible_asset_migration.sql
  dbt_subprojects/daily_spellbook/models/aptos/aptos_schema.yml
  sources/_base_sources/other/aptos_base_sources.yml
  sources/_base_sources/other/aptos_docs_block.md
Labels: ready-for-merging, dbt: daily

#8666 bridges: exclude failing model on dupes
  dbt_subprojects/hourly_spellbook/models/_sector/bridges/flows/evms/bridges_evms_deposits.sql
Labels: ready-for-review, dbt: hourly

#8670 Revert "CUR2-449 Solfi Fix"
  dbt_subprojects/solana/models/_sector/dex/solfi/solfi_solana_base_trades.sql
Labels: ready-for-review, dbt: solana

#8479 Elk Finance DEX Trades added on Arbitrum Chain
  dbt_subprojects/dex/models/trades/arbitrum/_schema.yml
  dbt_subprojects/dex/models/trades/arbitrum/dex_arbitrum_base_trades.sql
  dbt_subprojects/dex/models/trades/arbitrum/platforms/elk_finance_arbitrum_base_trades.sql
  dbt_subprojects/dex/seeds/trades/_schema.yml
  dbt_subprojects/dex/seeds/trades/elk_finance_arbitrum_base_trades_seed.csv
  sources/_sector/dex/trades/arbitrum/_sources.yml
Labels: ready-for-merging, dbt: dex

#8672 [easy] add pair symbols & expose eulerswap spells
  dbt_subprojects/dex/macros/models/_project/eulerswap_compatible_pools.sql
  dbt_subprojects/dex/macros/models/_project/eulerswap_compatible_trades.sql
  dbt_subprojects/dex/models/_projects/eulerswap/_schema.yml
  dbt_subprojects/dex/models/_projects/eulerswap/eulerswap_pools.sql
  dbt_subprojects/dex/models/_projects/eulerswap/eulerswap_trades.sql
Labels: ready-for-merging, dbt: dex

#8669 CUR2-470 feat: add TOWNS token to Base and Ethereum price indices
  dbt_subprojects/tokens/models/prices/base/prices_base_tokens.sql
  dbt_subprojects/tokens/models/prices/ethereum/prices_ethereum_tokens.sql
Labels: ready-for-review, dbt: tokens

#8686 CUR2-323 flow foundational metadata
  dbt_subprojects/daily_spellbook/macros/helpers/evms_blockchains_list.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_info.sql
  dbt_subprojects/tokens/models/prices/flow/_schema.yml
  dbt_subprojects/tokens/models/prices/flow/prices_flow_tokens.sql
  dbt_subprojects/tokens/models/prices/prices_native_tokens.sql
  dbt_subprojects/tokens/models/prices/prices_tokens.sql
  sources/_base_sources/evm/flow_base_sources.yml
  sources/_base_sources/evm/flow_docs_block.md
Labels: ready-for-merging, dbt: daily, dbt: tokens

#8636 fix decimals for wrappers and add new ones
  dbt_subprojects/hourly_spellbook/models/_project/balancer/erc4626_tokens/sonic/balancer_v3_sonic_erc4626_token_mapping.sql
Labels: ready-for-review, dbt: hourly

#8697 Update contract address symbol to ZOOMER
  dbt_subprojects/tokens/models/prices/ethereum/prices_ethereum_tokens.sql
Labels: ready-for-review, dbt: tokens

#8695 feat(tokens): Add AURA token to Solana tokens list
  dbt_subprojects/tokens/models/prices/solana/prices_solana_tokens.sql
Labels: ready-for-review, dbt: tokens

#8678 Added SUN Tron tokens lists
  dbt_subprojects/tokens/models/prices/tron/prices_tron_tokens.sql
  dbt_subprojects/tokens/models/tokens/tron/tokens_tron_erc20.sql
Labels: ready-for-review, dbt: tokens

#8629 Update prices_katana_tokens.sql
  dbt_subprojects/tokens/models/prices/katana/prices_katana_tokens.sql
Labels: ready-for-review, dbt: tokens
