Repository duneanalytics/spellbook, pull requests merged in 2025-07, with the labels that each got.

#8391 [CoW Protocol] First part of Polygon integration
  dbt_subprojects/dex/models/_projects/cow_protocol/_schema.yml
  dbt_subprojects/dex/models/_projects/cow_protocol/cow_protocol_trades.sql
  dbt_subprojects/dex/models/_projects/cow_protocol/polygon/cow_protocol_polygon_trades.sql
  sources/_subprojects_outputs/dex/_sources.yml
  sources/cow_protocol/polygon/cow_protocol_polygon_sources.yml
Labels: dbt: dex

#8413 Adapt-readme
  docs/general/chain_onboarding_process.md
Labels: ready-for-review

#8432 Katana pr3
  dbt_subprojects/dex/models/trades/dex_base_trades.sql
  dbt_subprojects/dex/models/trades/katana/_schema.yml
  dbt_subprojects/dex/models/trades/katana/dex_katana_base_trades.sql
  dbt_subprojects/dex/models/trades/katana/platforms/sushiswap_v1_katana_base_trades.sql
  dbt_subprojects/dex/models/trades/katana/platforms/sushiswap_v2_katana_base_trades.sql
  dbt_subprojects/dex/seeds/trades/_schema.yml
  dbt_subprojects/dex/seeds/trades/sushiswap_katana_base_trades_seed.csv
  sources/_sector/dex/trades/katana/_sources.yml
Labels: ready-for-merging, dbt: dex

#8407 add more silo vaults
  dbt_subprojects/hourly_spellbook/models/_project/balancer/erc4626_tokens/sonic/balancer_v3_sonic_erc4626_token_mapping.sql
Labels: ready-for-merging, dbt: hourly

#8396 [CoW Protocol] Second part of Polygon integration
  dbt_subprojects/hourly_spellbook/models/_project/cow_protocol/cow_protocol_batches.sql
  dbt_subprojects/hourly_spellbook/models/_project/cow_protocol/polygon/cow_protocol_polygon_batches.sql
  dbt_subprojects/hourly_spellbook/models/_project/cow_protocol/polygon/cow_protocol_polygon_eth_flow_orders.sql
  dbt_subprojects/hourly_spellbook/models/_project/cow_protocol/polygon/cow_protocol_polygon_schema.yml
  dbt_subprojects/hourly_spellbook/models/_project/cow_protocol/polygon/cow_protocol_polygon_solvers.sql
Labels: ready-for-merging, dbt: hourly

#8277 Aave v3 scaled supply
  dbt_subprojects/hourly_spellbook/macros/sector/lending/lending_aave_compatible_supply.sql
  dbt_subprojects/hourly_spellbook/models/_sector/lending/supply_scaled/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/lending/supply_scaled/avalanche_c/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/lending/supply_scaled/avalanche_c/lending_avalanche_c_base_supply_scaled.sql
  dbt_subprojects/hourly_spellbook/models/_sector/lending/supply_scaled/avalanche_c/platforms/aave_v3_avalanche_c_base_supply_scaled.sql
  dbt_subprojects/hourly_spellbook/models/_sector/lending/supply_scaled/bnb/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/lending/supply_scaled/bnb/lending_bnb_base_supply_scaled.sql
  dbt_subprojects/hourly_spellbook/models/_sector/lending/supply_scaled/bnb/platforms/aave_v3_bnb_base_supply_scaled.sql
  dbt_subprojects/hourly_spellbook/models/_sector/lending/supply_scaled/celo/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/lending/supply_scaled/celo/lending_celo_base_supply_scaled.sql
  dbt_subprojects/hourly_spellbook/models/_sector/lending/supply_scaled/celo/platforms/aave_v3_celo_base_supply_scaled.sql
  dbt_subprojects/hourly_spellbook/models/_sector/lending/supply_scaled/ethereum/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/lending/supply_scaled/ethereum/lending_ethereum_base_supply_scaled.sql
  dbt_subprojects/hourly_spellbook/models/_sector/lending/supply_scaled/ethereum/platforms/aave_v3_ethereum_base_supply_scaled.sql
  dbt_subprojects/hourly_spellbook/models/_sector/lending/supply_scaled/fantom/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/lending/supply_scaled/fantom/lending_fantom_base_supply_scaled.sql
  dbt_subprojects/hourly_spellbook/models/_sector/lending/supply_scaled/fantom/platforms/aave_v3_fantom_base_supply_scaled.sql
  dbt_subprojects/hourly_spellbook/models/_sector/lending/supply_scaled/gnosis/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/lending/supply_scaled/gnosis/lending_gnosis_base_supply_scaled.sql
  dbt_subprojects/hourly_spellbook/models/_sector/lending/supply_scaled/gnosis/platforms/aave_v3_gnosis_base_supply_scaled.sql
  dbt_subprojects/hourly_spellbook/models/_sector/lending/supply_scaled/lending_supply_scaled.sql
  dbt_subprojects/hourly_spellbook/models/_sector/lending/supply_scaled/linea/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/lending/supply_scaled/linea/lending_linea_base_supply_scaled.sql
  dbt_subprojects/hourly_spellbook/models/_sector/lending/supply_scaled/linea/platforms/aave_v3_linea_base_supply_scaled.sql
  dbt_subprojects/hourly_spellbook/models/_sector/lending/supply_scaled/sonic/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/lending/supply_scaled/sonic/lending_sonic_base_supply_scaled.sql
  dbt_subprojects/hourly_spellbook/models/_sector/lending/supply_scaled/sonic/platforms/aave_v3_sonic_base_supply_scaled.sql
  dbt_subprojects/hourly_spellbook/models/_sector/lending/supply_scaled/zksync/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/lending/supply_scaled/zksync/lending_zksync_base_supply_scaled.sql
  dbt_subprojects/hourly_spellbook/models/_sector/lending/supply_scaled/zksync/platforms/aave_v3_zksync_base_supply_scaled.sql
Labels: ready-for-merging, dbt: hourly

#8408 1inch-U70: updating mapped contracts
  dbt_subprojects/daily_spellbook/macros/project/oneinch/_meta/oneinch_mapped_contracts_macro.sql
Labels: ready-for-merging, dbt: daily

#8455 add chains to cex sector
  dbt_subprojects/hourly_spellbook/models/_sector/cex/addresses/cex_addresses.sql
  dbt_subprojects/hourly_spellbook/models/_sector/cex/addresses/cex_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/cex/addresses/chains/berachain/cex_berachain_addresses.sql
  dbt_subprojects/hourly_spellbook/models/_sector/cex/addresses/chains/berachain/cex_berachain_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/cex/addresses/chains/ink/cex_ink_addresses.sql
  dbt_subprojects/hourly_spellbook/models/_sector/cex/addresses/chains/ink/cex_ink_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/cex/addresses/chains/katana/cex_katana_addresses.sql
  dbt_subprojects/hourly_spellbook/models/_sector/cex/addresses/chains/katana/cex_katana_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/cex/addresses/chains/nova/cex_nova_addresses.sql
  dbt_subprojects/hourly_spellbook/models/_sector/cex/addresses/chains/nova/cex_nova_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/cex/addresses/chains/opbnb/cex_opbnb_addresses.sql
  dbt_subprojects/hourly_spellbook/models/_sector/cex/addresses/chains/opbnb/cex_opbnb_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/cex/addresses/chains/unichain/cex_unichain_addresses.sql
  dbt_subprojects/hourly_spellbook/models/_sector/cex/addresses/chains/unichain/cex_unichain_schema.yml
  sources/_subprojects_outputs/tokens/transfers.yml
Labels: ready-for-merging, dbt: hourly

#8444 [CoW Protocol] Add new solvers
  dbt_subprojects/hourly_spellbook/models/_project/cow_protocol/arbitrum/cow_protocol_arbitrum_solvers.sql
  dbt_subprojects/hourly_spellbook/models/_project/cow_protocol/avalanche_c/cow_protocol_avalanche_c_solvers.sql
  dbt_subprojects/hourly_spellbook/models/_project/cow_protocol/base/cow_protocol_base_solvers.sql
  dbt_subprojects/hourly_spellbook/models/_project/cow_protocol/ethereum/cow_protocol_ethereum_solvers.sql
  dbt_subprojects/hourly_spellbook/models/_project/cow_protocol/gnosis/cow_protocol_gnosis_solvers.sql
Labels: ready-for-merging, dbt: hourly

#8419 add YeiSwap to dex.trades
  dbt_subprojects/dex/models/dex_info.sql
  dbt_subprojects/dex/models/trades/sei/_schema.yml
  dbt_subprojects/dex/models/trades/sei/dex_sei_base_trades.sql
  dbt_subprojects/dex/models/trades/sei/platforms/yei_swap_sei_base_trades.sql
  dbt_subprojects/dex/seeds/trades/_schema.yml
  dbt_subprojects/dex/seeds/trades/yei_swap_sei_base_trades_seed.csv
  sources/_sector/dex/trades/sei/_sources.yml
Labels: ready-for-merging, dbt: dex

#8467 Move Curve decimal correction logic from dex.trades to curve specific models
  dbt_subprojects/dex/macros/models/enrich_curve_dex_trades.sql
  dbt_subprojects/dex/models/trades/dex_trades.sql
  dbt_subprojects/dex/models/trades/ethereum/platforms/curve_ethereum_base_trades.sql
  dbt_subprojects/dex/models/trades/fantom/platforms/curvefi_fantom_base_trades.sql
  dbt_subprojects/dex/models/trades/optimism/platforms/curve_optimism_base_trades.sql
  dbt_subprojects/dex/tests/generic/test_reasonable_usd_amount.sql
Labels: ready-for-review, dbt: dex

#8470 smol fix to incremental table
  dbt_subprojects/dex/models/_projects/uniswap/uniswap_tvl_daily.sql
Labels: ready-for-merging, dbt: dex

#8460 tag stakers
  dbt_subprojects/hourly_spellbook/models/_sector/staking/ethereum/entities/entity_specific/staking_ethereum_entities_bitcoin_suisse.sql
  dbt_subprojects/hourly_spellbook/models/_sector/staking/ethereum/entities/staking_ethereum_entities_depositor_addresses.sql
Labels: ready-for-merging, dbt: hourly

#8452 fix: pumpswap missing join condition
  dbt_subprojects/solana/models/_sector/dex/dex_solana_base_trades.sql
  dbt_subprojects/solana/models/_sector/dex/pumpswap/pumpswap_solana_base_trades.sql
Labels: ready-for-merging, dbt: solana

#8401 CUR2-225 adding xrpl to dune index
  dbt_subprojects/daily_spellbook/models/_metrics/fees/chains/xrpl/_schema.yml
  dbt_subprojects/daily_spellbook/models/_metrics/fees/chains/xrpl/metrics_xrpl_gas_fees_daily.sql
  dbt_subprojects/daily_spellbook/models/_metrics/fees/metrics_gas_fees_daily.sql
  dbt_subprojects/daily_spellbook/models/_metrics/transactions/chains/xrpl/_schema.yml
  dbt_subprojects/daily_spellbook/models/_metrics/transactions/chains/xrpl/metrics_xrpl_transactions_daily.sql
  dbt_subprojects/daily_spellbook/models/_metrics/transactions/metrics_transactions_daily.sql
  dbt_subprojects/daily_spellbook/models/_metrics/transfers/chains/xrpl/metrics_xrpl_transfers_daily.sql
  dbt_subprojects/daily_spellbook/models/_metrics/transfers/metrics_transfers_daily.sql
  dbt_subprojects/daily_spellbook/models/xrpl/gas_xrpl_fees.sql
  dbt_subprojects/daily_spellbook/models/xrpl/transfers/tokens_xrpl_amm_deposits_transfers.sql
  dbt_subprojects/daily_spellbook/models/xrpl/transfers/tokens_xrpl_amm_withdraws_transfers.sql
  dbt_subprojects/daily_spellbook/models/xrpl/transfers/tokens_xrpl_check_cash_transfers.sql
  dbt_subprojects/daily_spellbook/models/xrpl/transfers/tokens_xrpl_currency_mapping.sql
  dbt_subprojects/daily_spellbook/models/xrpl/transfers/tokens_xrpl_escrow_finish_transfers.sql
  dbt_subprojects/daily_spellbook/models/xrpl/transfers/tokens_xrpl_net_transfers_daily.sql
  dbt_subprojects/daily_spellbook/models/xrpl/transfers/tokens_xrpl_payment_channel_claims_transfers.sql
  dbt_subprojects/daily_spellbook/models/xrpl/transfers/tokens_xrpl_payments_transfers.sql
  dbt_subprojects/daily_spellbook/models/xrpl/transfers/tokens_xrpl_transfers.sql
  sources/_base_sources/other/xrpl_base_sources.yml
Labels: ready-for-merging, dbt: daily

#8474 yeiswap on sei: exclude failing model
  dbt_subprojects/dex/models/trades/sei/platforms/yei_swap_sei_base_trades.sql
Labels: ready-for-review, dbt: dex

#8457 Seth100kim patch 1
  dbt_subprojects/daily_spellbook/macros/project/affluent/affluent_ton_pools.sql
Labels: ready-for-merging, dbt: daily

#8471 CUR2-261 taiko pr1
  dbt_subprojects/daily_spellbook/macros/helpers/evms_blockchains_list.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_info.sql
  dbt_subprojects/tokens/models/prices/prices_tokens.sql
  dbt_subprojects/tokens/models/prices/taiko/prices_taiko_schema.yml
  dbt_subprojects/tokens/models/prices/taiko/prices_taiko_tokens.sql
  scripts/token_checker.py
  sources/_base_sources/evm/taiko_base_sources.yml
  sources/_base_sources/evm/taiko_docs_block.md
Labels: ready-for-merging, dbt: daily, dbt: tokens

#8472 CUR2-297 superseed pr1
  dbt_subprojects/daily_spellbook/macros/helpers/evms_blockchains_list.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_info.sql
  dbt_subprojects/tokens/models/prices/prices_tokens.sql
  dbt_subprojects/tokens/models/prices/superseed/_schema.yml
  dbt_subprojects/tokens/models/prices/superseed/prices_superseed_tokens.sql
  scripts/token_checker.py
  sources/_base_sources/evm/superseed_base_sources.yml
  sources/_base_sources/evm/superseed_docs_block.md
Labels: ready-for-merging, dbt: daily, dbt: tokens

#8487 Add PUMP to prices table
  dbt_subprojects/tokens/models/prices/solana/prices_solana_tokens.sql
Labels: ready-for-merging, dbt: tokens

#8485 aptos cex addresses
  dbt_subprojects/hourly_spellbook/models/_sector/cex/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/cex/addresses/cex_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/cex/addresses/chains/aptos/cex_aptos_addresses.sql
  dbt_subprojects/hourly_spellbook/models/_sector/cex/cex_info.sql
Labels: ready-for-merging, dbt: hourly

#8469 Revert "Revert "updating mapped contracts (#8408)""
  dbt_subprojects/daily_spellbook/macros/project/oneinch/_meta/oneinch_mapped_contracts_macro.sql
  dbt_subprojects/daily_spellbook/models/_projects/oneinch/fantom/project/oneinch_fantom_project_orders.sql
Labels: ready-for-merging, dbt: daily

#8484 CUR2-298 superseed pr2
  dbt_subprojects/hourly_spellbook/models/_sector/gas/fees/gas_fees.sql
  dbt_subprojects/hourly_spellbook/models/_sector/gas/fees/superseed/gas_superseed_fees.sql
  dbt_subprojects/hourly_spellbook/models/_sector/gas/fees/superseed/gas_superseed_schema.yml
  dbt_subprojects/hourly_spellbook/seeds/_sector/gas/evm_gas_fees.csv
  dbt_subprojects/tokens/models/transfers_and_balances/superseed/_schema.yml
  dbt_subprojects/tokens/models/transfers_and_balances/superseed/tokens_superseed_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/superseed/tokens_superseed_net_transfers_daily.sql
  dbt_subprojects/tokens/models/transfers_and_balances/superseed/tokens_superseed_net_transfers_daily_asset.sql
  dbt_subprojects/tokens/models/transfers_and_balances/superseed/tokens_superseed_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/tokens_net_transfers_daily.sql
  dbt_subprojects/tokens/models/transfers_and_balances/tokens_net_transfers_daily_asset.sql
  dbt_subprojects/tokens/models/transfers_and_balances/tokens_transfers.sql
Labels: ready-for-merging, dbt: hourly, dbt: tokens

#8505 Update tokens_solana_sol_transfers.sql
  dbt_subprojects/solana/models/_sector/transfers/tokens_solana_sol_transfers.sql
Labels: ready-for-review, dbt: solana

#8498 add berachain and katana to addresses_events
  dbt_subprojects/hourly_spellbook/models/_sector/addresses_events/addresses_events_first_activity.sql
  dbt_subprojects/hourly_spellbook/models/_sector/addresses_events/addresses_events_first_funded_by.sql
  dbt_subprojects/hourly_spellbook/models/_sector/addresses_events/addresses_events_first_token_received.sql
  dbt_subprojects/hourly_spellbook/models/_sector/addresses_events/addresses_events_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/addresses_events/berachain/addresses_events_berachain_first_activity.sql
  dbt_subprojects/hourly_spellbook/models/_sector/addresses_events/berachain/addresses_events_berachain_first_funded_by.sql
  dbt_subprojects/hourly_spellbook/models/_sector/addresses_events/berachain/addresses_events_berachain_first_token_received.sql
  dbt_subprojects/hourly_spellbook/models/_sector/addresses_events/berachain/addresses_events_berachain_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/addresses_events/katana/addresses_events_katana_first_activity.sql
  dbt_subprojects/hourly_spellbook/models/_sector/addresses_events/katana/addresses_events_katana_first_funded_by.sql
  dbt_subprojects/hourly_spellbook/models/_sector/addresses_events/katana/addresses_events_katana_first_token_received.sql
  dbt_subprojects/hourly_spellbook/models/_sector/addresses_events/katana/addresses_events_katana_schema.yml
Labels: ready-for-merging, dbt: hourly

#6051 remake bridges.flows
  dbt_subprojects/hourly_spellbook/macros/sector/bridges/cctp_v1_deposits.sql
  dbt_subprojects/hourly_spellbook/macros/sector/bridges/cctp_v1_withdrawals.sql
  dbt_subprojects/hourly_spellbook/models/_sector/bridges/bridges_info.sql
  dbt_subprojects/hourly_spellbook/models/_sector/bridges/flows/bridges_crosschain_deposits.sql
  dbt_subprojects/hourly_spellbook/models/_sector/bridges/flows/bridges_crosschain_flows.sql
  dbt_subprojects/hourly_spellbook/models/_sector/bridges/flows/bridges_crosschain_withdrawals.sql
  dbt_subprojects/hourly_spellbook/models/_sector/bridges/flows/chains/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/bridges/flows/chains/base/bridges_base_deposits.sql
  dbt_subprojects/hourly_spellbook/models/_sector/bridges/flows/chains/base/bridges_base_withdrawals.sql
  dbt_subprojects/hourly_spellbook/models/_sector/bridges/flows/chains/base/platforms/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/bridges/flows/chains/base/platforms/bridges_base_cctp_v1_deposits.sql
  dbt_subprojects/hourly_spellbook/models/_sector/bridges/flows/chains/base/platforms/bridges_base_cctp_v1_withdrawals.sql
  dbt_subprojects/hourly_spellbook/models/_sector/bridges/flows/chains/ethereum/bridges_ethereum_deposits.sql
  dbt_subprojects/hourly_spellbook/models/_sector/bridges/flows/chains/ethereum/bridges_ethereum_withdrawals.sql
  dbt_subprojects/hourly_spellbook/models/_sector/bridges/flows/chains/ethereum/platforms/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/bridges/flows/chains/ethereum/platforms/bridges_ethereum_cctp_v1_deposits.sql
  dbt_subprojects/hourly_spellbook/models/_sector/bridges/flows/chains/ethereum/platforms/bridges_ethereum_cctp_v1_withdrawals.sql
  dbt_subprojects/hourly_spellbook/models/_sector/bridges/flows/evms/bridges_evms_deposits.sql
  dbt_subprojects/hourly_spellbook/models/_sector/bridges/flows/evms/bridges_evms_flows.sql
  dbt_subprojects/hourly_spellbook/models/_sector/bridges/flows/evms/bridges_evms_withdrawals.sql
  dbt_subprojects/hourly_spellbook/models/_sector/bridges/flows/evms/schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/bridges/flows/schema.yml
  sources/_sector/bridge/_sources.yml
Labels: ready-for-merging, dbt: hourly

#8528 update to prices in taiko
  dbt_subprojects/tokens/models/prices/taiko/prices_taiko_tokens.sql
Labels: WIP, dbt: tokens

#8518 Update cow_protocol_polygon_trades.sql
  dbt_subprojects/dex/models/_projects/cow_protocol/polygon/cow_protocol_polygon_trades.sql
Labels: ready-for-merging, dbt: dex

#8514 Quick fix Dex.trades: Fix fluid dex native addresses (Base & Arbitrum)
  dbt_subprojects/dex/models/trades/arbitrum/platforms/fluid_v1_arbitrum_base_trades.sql
  dbt_subprojects/dex/models/trades/base/platforms/fluid_v1_base_base_trades.sql
  dbt_subprojects/dex/seeds/trades/fluid_arbitrum_base_trades_seed.csv
  dbt_subprojects/dex/seeds/trades/fluid_base_base_trades_seed.csv
Labels: ready-for-merging, dbt: dex

#8530 temp: revert DEX changes due to dbt cloud bug
  dbt_subprojects/dex/macros/models/_project/native_compatible_trades.sql
  dbt_subprojects/dex/models/_projects/cow_protocol/polygon/cow_protocol_polygon_trades.sql
  dbt_subprojects/dex/models/_projects/paraswap/base/paraswap_base_trades.sql
  dbt_subprojects/dex/models/dex_info.sql
  dbt_subprojects/dex/models/trades/arbitrum/_schema.yml
  dbt_subprojects/dex/models/trades/arbitrum/dex_arbitrum_base_trades.sql
  dbt_subprojects/dex/models/trades/arbitrum/platforms/fluid_v1_arbitrum_base_trades.sql
  dbt_subprojects/dex/models/trades/arbitrum/platforms/native_arbitrum_base_trades.sql
  dbt_subprojects/dex/models/trades/base/_schema.yml
  dbt_subprojects/dex/models/trades/base/dex_base_base_trades.sql
  dbt_subprojects/dex/models/trades/base/platforms/fluid_v1_base_base_trades.sql
  dbt_subprojects/dex/models/trades/base/platforms/native_base_base_trades.sql
  dbt_subprojects/dex/models/trades/bnb/_schema.yml
  dbt_subprojects/dex/models/trades/bnb/dex_bnb_base_trades.sql
  dbt_subprojects/dex/models/trades/bnb/platforms/native_bnb_base_trades.sql
  dbt_subprojects/dex/models/trades/ethereum/_schema.yml
  dbt_subprojects/dex/models/trades/ethereum/dex_ethereum_base_trades.sql
  dbt_subprojects/dex/models/trades/ethereum/platforms/native_ethereum_base_trades.sql
  dbt_subprojects/dex/seeds/trades/_schema.yml
  dbt_subprojects/dex/seeds/trades/fluid_arbitrum_base_trades_seed.csv
  dbt_subprojects/dex/seeds/trades/fluid_base_base_trades_seed.csv
  dbt_subprojects/dex/seeds/trades/native_arbitrum_base_trades_seed.csv
  dbt_subprojects/dex/seeds/trades/native_base_base_trades_seed.csv
  dbt_subprojects/dex/seeds/trades/native_bnb_base_trades_seed.csv
  dbt_subprojects/dex/seeds/trades/native_ethereum_base_trades_seed.csv
  sources/_sector/dex/trades/arbitrum/_sources.yml
  sources/_sector/dex/trades/base/_sources.yml
  sources/_sector/dex/trades/bnb/_sources.yml
  sources/_sector/dex/trades/ethereum/_sources.yml
Labels: ready-for-review, dbt: dex

#8531 Revert "temp: revert DEX changes due to dbt cloud bug (#8530)"
  dbt_subprojects/dex/macros/models/_project/native_compatible_trades.sql
  dbt_subprojects/dex/models/_projects/cow_protocol/polygon/cow_protocol_polygon_trades.sql
  dbt_subprojects/dex/models/_projects/paraswap/base/paraswap_base_trades.sql
  dbt_subprojects/dex/models/dex_info.sql
  dbt_subprojects/dex/models/trades/arbitrum/_schema.yml
  dbt_subprojects/dex/models/trades/arbitrum/dex_arbitrum_base_trades.sql
  dbt_subprojects/dex/models/trades/arbitrum/platforms/fluid_v1_arbitrum_base_trades.sql
  dbt_subprojects/dex/models/trades/arbitrum/platforms/native_arbitrum_base_trades.sql
  dbt_subprojects/dex/models/trades/base/_schema.yml
  dbt_subprojects/dex/models/trades/base/dex_base_base_trades.sql
  dbt_subprojects/dex/models/trades/base/platforms/fluid_v1_base_base_trades.sql
  dbt_subprojects/dex/models/trades/base/platforms/native_base_base_trades.sql
  dbt_subprojects/dex/models/trades/bnb/_schema.yml
  dbt_subprojects/dex/models/trades/bnb/dex_bnb_base_trades.sql
  dbt_subprojects/dex/models/trades/bnb/platforms/native_bnb_base_trades.sql
  dbt_subprojects/dex/models/trades/ethereum/_schema.yml
  dbt_subprojects/dex/models/trades/ethereum/dex_ethereum_base_trades.sql
  dbt_subprojects/dex/models/trades/ethereum/platforms/native_ethereum_base_trades.sql
  dbt_subprojects/dex/seeds/trades/_schema.yml
  dbt_subprojects/dex/seeds/trades/fluid_arbitrum_base_trades_seed.csv
  dbt_subprojects/dex/seeds/trades/fluid_base_base_trades_seed.csv
  dbt_subprojects/dex/seeds/trades/native_arbitrum_base_trades_seed.csv
  dbt_subprojects/dex/seeds/trades/native_base_base_trades_seed.csv
  dbt_subprojects/dex/seeds/trades/native_bnb_base_trades_seed.csv
  dbt_subprojects/dex/seeds/trades/native_ethereum_base_trades_seed.csv
  sources/_sector/dex/trades/arbitrum/_sources.yml
  sources/_sector/dex/trades/base/_sources.yml
  sources/_sector/dex/trades/bnb/_sources.yml
  sources/_sector/dex/trades/ethereum/_sources.yml
Labels: ready-for-review, dbt: dex

#8547 CUR2-358 initiate legacy token mapping for prices
  dbt_subprojects/tokens/models/prices/prices_tokens_legacy.sql
Labels: ready-for-review, dbt: tokens

#8502 CUR2-263 taiko to base trades
  dbt_subprojects/dex/models/dex_info.sql
  dbt_subprojects/dex/models/trades/dex_base_trades.sql
  dbt_subprojects/dex/models/trades/dex_trades.sql
  dbt_subprojects/dex/models/trades/taiko/_schema.yml
  dbt_subprojects/dex/models/trades/taiko/dex_taiko_base_trades.sql
  dbt_subprojects/dex/models/trades/taiko/platforms/izumi_finance_taiko_base_trades.sql
  dbt_subprojects/dex/models/trades/taiko/platforms/oku_v3_taiko_base_trades.sql
  dbt_subprojects/dex/models/trades/taiko/platforms/unagi_v3_taiko_base_trades.sql
  dbt_subprojects/dex/seeds/trades/_schema.yml
  dbt_subprojects/dex/seeds/trades/izumi_finance_taiko_base_trades_seed.csv
  dbt_subprojects/dex/seeds/trades/oku_taiko_base_trades_seed.csv
  dbt_subprojects/dex/seeds/trades/unagi_v3_taiko_base_trades_seed.csv
  sources/_sector/dex/trades/taiko/_sources.yml
Labels: ready-for-merging, dbt: dex

#8548 exclude `stabble` from `dex_solana.trades` due to duplicates
  dbt_subprojects/solana/models/_sector/dex/stabble/stabble_solana_base_trades.sql
Labels: ready-for-review, dbt: solana

#8557 Fix Plume Chain ID
  dbt_subprojects/daily_spellbook/models/evms/evms_info.sql
Labels: ready-for-merging, dbt: daily

#8545 Added a couple of new strategies to our existing spellbook models
  dbt_subprojects/daily_spellbook/macros/project/yield_yak/yield_yak_strategies.sql
  sources/yield_yak/avalanche_c/yield_yak_avalanche_c_sources.yml
Labels: ready-for-merging, dbt: daily

#8512 add ronin market
  dbt_subprojects/nft/models/nft_metrics/nft_marketplaces_info.sql
Labels: ready-for-merging, dbt: nft

#8554 [CoW Protocol] Add Helixbox, MX Trading, and Trusted Volumes
  dbt_subprojects/hourly_spellbook/models/_project/cow_protocol/arbitrum/cow_protocol_arbitrum_solvers.sql
  dbt_subprojects/hourly_spellbook/models/_project/cow_protocol/gnosis/cow_protocol_gnosis_solvers.sql
Labels: ready-for-merging, dbt: hourly

#8552 add celer bridge
  dbt_subprojects/hourly_spellbook/macros/sector/bridges/cctp_v1_deposits.sql
  dbt_subprojects/hourly_spellbook/macros/sector/bridges/celer_v1_deposits.sql
  dbt_subprojects/hourly_spellbook/macros/sector/bridges/celer_v1_withdrawals.sql
  dbt_subprojects/hourly_spellbook/models/_sector/bridges/flows/chains/base/bridges_base_deposits.sql
  dbt_subprojects/hourly_spellbook/models/_sector/bridges/flows/chains/base/bridges_base_withdrawals.sql
  dbt_subprojects/hourly_spellbook/models/_sector/bridges/flows/chains/base/platforms/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/bridges/flows/chains/base/platforms/bridges_base_celer_v1_deposits.sql
  dbt_subprojects/hourly_spellbook/models/_sector/bridges/flows/chains/base/platforms/bridges_base_celer_v1_withdrawals.sql
  dbt_subprojects/hourly_spellbook/models/_sector/bridges/flows/chains/ethereum/bridges_ethereum_deposits.sql
  dbt_subprojects/hourly_spellbook/models/_sector/bridges/flows/chains/ethereum/bridges_ethereum_withdrawals.sql
  dbt_subprojects/hourly_spellbook/models/_sector/bridges/flows/chains/ethereum/platforms/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/bridges/flows/chains/ethereum/platforms/bridges_ethereum_celer_v1_deposits.sql
  dbt_subprojects/hourly_spellbook/models/_sector/bridges/flows/chains/ethereum/platforms/bridges_ethereum_celer_v1_withdrawals.sql
  sources/_sector/bridge/celer/_sources.yml
Labels: ready-for-merging, dbt: hourly

#8560 mev atomic arbs by block_number instead of block_time
  dbt_subprojects/dex/macros/models/dex_atomic_arbitrages.sql
Labels: ready-for-merging, dbt: dex

#8574 Cursor: Add self to CLA assistant allowlist
  .github/workflows/cla.yml
Labels: WIP

#8562 CUR2-278 hemi dex trades
  dbt_subprojects/dex/models/trades/dex_base_trades.sql
  dbt_subprojects/dex/models/trades/dex_trades.sql
  dbt_subprojects/dex/models/trades/hemi/_schema.yml
  dbt_subprojects/dex/models/trades/hemi/dex_hemi_base_trades.sql
  dbt_subprojects/dex/models/trades/hemi/platforms/izumi_finance_hemi_base_trades.sql
  dbt_subprojects/dex/models/trades/hemi/platforms/oku_v3_hemi_base_trades.sql
  dbt_subprojects/dex/models/trades/hemi/platforms/sushiswap_v2_hemi_base_trades.sql
  dbt_subprojects/dex/models/trades/hemi/platforms/sushiswap_v3_hemi_base_trades.sql
  dbt_subprojects/dex/seeds/trades/_schema.yml
  dbt_subprojects/dex/seeds/trades/izumi_finance_hemi_base_trades_seed.csv
  dbt_subprojects/dex/seeds/trades/oku_hemi_base_trades_seed.csv
  dbt_subprojects/dex/seeds/trades/sushiswap_hemi_base_trades_seed.csv
  sources/_sector/dex/trades/hemi/_sources.yml
Labels: dbt: dex

#8556 EKUBO Dex on Ethereum
  dbt_subprojects/dex/models/dex_info.sql
  dbt_subprojects/dex/models/trades/ethereum/_schema.yml
  dbt_subprojects/dex/models/trades/ethereum/dex_ethereum_base_trades.sql
  dbt_subprojects/dex/models/trades/ethereum/platforms/ekubo_v1_ethereum_base_trades.sql
  dbt_subprojects/dex/seeds/trades/_schema.yml
  dbt_subprojects/dex/seeds/trades/ekubo_v1_ethereum_base_trades_seed.csv
  sources/_sector/dex/trades/ethereum/_sources.yml
Labels: ready-for-merging, dbt: dex

#8571 CUR2-201 TAC gas fees and token transfers
  dbt_subprojects/hourly_spellbook/models/_sector/gas/fees/gas_fees.sql
  dbt_subprojects/hourly_spellbook/models/_sector/gas/fees/tac/gas_tac_fees.sql
  dbt_subprojects/hourly_spellbook/models/_sector/gas/fees/tac/gas_tac_schema.yml
  dbt_subprojects/hourly_spellbook/seeds/_sector/gas/evm_gas_fees.csv
  dbt_subprojects/tokens/models/transfers_and_balances/tac/_schema.yml
  dbt_subprojects/tokens/models/transfers_and_balances/tac/tokens_tac_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/tac/tokens_tac_net_transfers_daily.sql
  dbt_subprojects/tokens/models/transfers_and_balances/tac/tokens_tac_net_transfers_daily_asset.sql
  dbt_subprojects/tokens/models/transfers_and_balances/tac/tokens_tac_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/tokens_net_transfers_daily.sql
  dbt_subprojects/tokens/models/transfers_and_balances/tokens_net_transfers_daily_asset.sql
Labels: ready-for-merging, dbt: hourly, dbt: tokens

#8576 Revert dex schema breaking PRs
  dbt_subprojects/dex/models/dex_info.sql
  dbt_subprojects/dex/models/trades/dex_base_trades.sql
  dbt_subprojects/dex/models/trades/dex_trades.sql
  dbt_subprojects/dex/models/trades/ethereum/_schema.yml
  dbt_subprojects/dex/models/trades/ethereum/dex_ethereum_base_trades.sql
  dbt_subprojects/dex/models/trades/ethereum/platforms/ekubo_v1_ethereum_base_trades.sql
  dbt_subprojects/dex/models/trades/hemi/_schema.yml
  dbt_subprojects/dex/models/trades/hemi/dex_hemi_base_trades.sql
  dbt_subprojects/dex/models/trades/hemi/platforms/izumi_finance_hemi_base_trades.sql
  dbt_subprojects/dex/models/trades/hemi/platforms/oku_v3_hemi_base_trades.sql
  dbt_subprojects/dex/models/trades/hemi/platforms/sushiswap_v2_hemi_base_trades.sql
  dbt_subprojects/dex/models/trades/hemi/platforms/sushiswap_v3_hemi_base_trades.sql
  dbt_subprojects/dex/seeds/trades/_schema.yml
  dbt_subprojects/dex/seeds/trades/ekubo_v1_ethereum_base_trades_seed.csv
  dbt_subprojects/dex/seeds/trades/izumi_finance_hemi_base_trades_seed.csv
  dbt_subprojects/dex/seeds/trades/oku_hemi_base_trades_seed.csv
  dbt_subprojects/dex/seeds/trades/sushiswap_hemi_base_trades_seed.csv
  sources/_sector/dex/trades/ethereum/_sources.yml
  sources/_sector/dex/trades/hemi/_sources.yml
Labels: ready-for-review, dbt: dex

#8577 add tests for column types in the dex.trades lineage
  dbt_macros/generic-tests/check_column_types_macro.sql
  dbt_subprojects/dex/models/trades/_schema.yml
  dbt_subprojects/dex/models/trades/abstract/_schema.yml
  dbt_subprojects/dex/models/trades/apechain/_schema.yml
  dbt_subprojects/dex/models/trades/arbitrum/_schema.yml
  dbt_subprojects/dex/models/trades/avalanche_c/_schema.yml
  dbt_subprojects/dex/models/trades/base/_schema.yml
  dbt_subprojects/dex/models/trades/berachain/_schema.yml
  dbt_subprojects/dex/models/trades/blast/_schema.yml
  dbt_subprojects/dex/models/trades/bnb/_schema.yml
  dbt_subprojects/dex/models/trades/boba/_schema.yml
  dbt_subprojects/dex/models/trades/celo/_schema.yml
  dbt_subprojects/dex/models/trades/corn/_schema.yml
  dbt_subprojects/dex/models/trades/ethereum/_schema.yml
  dbt_subprojects/dex/models/trades/fantom/_schema.yml
  dbt_subprojects/dex/models/trades/flare/_schema.yml
  dbt_subprojects/dex/models/trades/gnosis/_schema.yml
  dbt_subprojects/dex/models/trades/ink/_schema.yml
  dbt_subprojects/dex/models/trades/kaia/_schema.yml
  dbt_subprojects/dex/models/trades/katana/_schema.yml
  dbt_subprojects/dex/models/trades/linea/_schema.yml
  dbt_subprojects/dex/models/trades/mantle/_schema.yml
  dbt_subprojects/dex/models/trades/nova/_schema.yml
  dbt_subprojects/dex/models/trades/opbnb/_schema.yml
  dbt_subprojects/dex/models/trades/optimism/_schema.yml
  dbt_subprojects/dex/models/trades/plume/_schema.yml
  dbt_subprojects/dex/models/trades/polygon/_schema.yml
  dbt_subprojects/dex/models/trades/ronin/_schema.yml
  dbt_subprojects/dex/models/trades/scroll/_schema.yml
  dbt_subprojects/dex/models/trades/sei/_schema.yml
  dbt_subprojects/dex/models/trades/shape/_schema.yml
  dbt_subprojects/dex/models/trades/sonic/_schema.yml
  dbt_subprojects/dex/models/trades/sophon/_schema.yml
  dbt_subprojects/dex/models/trades/superseed/_schema.yml
  dbt_subprojects/dex/models/trades/taiko/_schema.yml
  dbt_subprojects/dex/models/trades/unichain/_schema.yml
  dbt_subprojects/dex/models/trades/worldchain/_schema.yml
  dbt_subprojects/dex/models/trades/zkevm/_schema.yml
  dbt_subprojects/dex/models/trades/zksync/_schema.yml
  dbt_subprojects/dex/models/trades/zora/_schema.yml
Labels: ready-for-review, dbt: dex

#8586 CUR2-66 init hide spell macro to remove from data explorer, hide balances tables
  dbt_macros/dune/config_trino_properties.sql
  dbt_subprojects/tokens/models/transfers_and_balances/arbitrum/tokens_arbitrum_balances.sql
  dbt_subprojects/tokens/models/transfers_and_balances/arbitrum/tokens_arbitrum_balances_daily.sql
  dbt_subprojects/tokens/models/transfers_and_balances/avalanche_c/tokens_avalanche_c_balances.sql
  dbt_subprojects/tokens/models/transfers_and_balances/avalanche_c/tokens_avalanche_c_balances_daily.sql
  dbt_subprojects/tokens/models/transfers_and_balances/base/tokens_base_balances.sql
  dbt_subprojects/tokens/models/transfers_and_balances/base/tokens_base_balances_daily.sql
  dbt_subprojects/tokens/models/transfers_and_balances/bitcoin/balances_bitcoin_satoshi_day.sql
  dbt_subprojects/tokens/models/transfers_and_balances/bitcoin/balances_bitcoin_satoshi_latest_day.sql
  dbt_subprojects/tokens/models/transfers_and_balances/bnb/tokens_bnb_balances.sql
  dbt_subprojects/tokens/models/transfers_and_balances/ethereum/tokens_ethereum_balances.sql
  dbt_subprojects/tokens/models/transfers_and_balances/ethereum/tokens_ethereum_balances_daily.sql
  dbt_subprojects/tokens/models/transfers_and_balances/kaia/tokens_kaia_balances.sql
  dbt_subprojects/tokens/models/transfers_and_balances/kaia/tokens_kaia_balances_daily.sql
  dbt_subprojects/tokens/models/transfers_and_balances/linea/tokens_linea_balances.sql
  dbt_subprojects/tokens/models/transfers_and_balances/linea/tokens_linea_balances_daily.sql
  dbt_subprojects/tokens/models/transfers_and_balances/optimism/tokens_optimism_balances.sql
  dbt_subprojects/tokens/models/transfers_and_balances/optimism/tokens_optimism_balances_daily.sql
  dbt_subprojects/tokens/models/transfers_and_balances/polygon/tokens_polygon_balances.sql
  dbt_subprojects/tokens/models/transfers_and_balances/polygon/tokens_polygon_balances_daily.sql
  dbt_subprojects/tokens/models/transfers_and_balances/scroll/tokens_scroll_balances.sql
  dbt_subprojects/tokens/models/transfers_and_balances/scroll/tokens_scroll_balances_daily.sql
  dbt_subprojects/tokens/models/transfers_and_balances/worldchain/tokens_worldchain_balances.sql
  dbt_subprojects/tokens/models/transfers_and_balances/worldchain/tokens_worldchain_balances_daily.sql
Labels: ready-for-merging, dbt: tokens
