Repository duneanalytics/spellbook, pull requests merged in 2025-09, with the labels that each got.

#8703 (dex.trades) ignore inflated uniswap V4 transaction
  dbt_subprojects/dex/models/trades/ethereum/dex_ethereum_base_trades.sql
Labels: ready-for-review, dbt: dex

#8692 CUR2-409 Remove duplicate uniswap v2 ink integration
  dbt_subprojects/dex/models/trades/ink/_schema.yml
  dbt_subprojects/dex/models/trades/ink/dex_ink_base_trades.sql
  dbt_subprojects/dex/models/trades/ink/platforms/uniswap_v2_ink_base_trades.sql
Labels: ready-for-merging, dbt: dex

#8593 [CoW Protocol] First part of Lens integration
  dbt_subprojects/dex/models/_projects/cow_protocol/_schema.yml
  dbt_subprojects/dex/models/_projects/cow_protocol/cow_protocol_trades.sql
  dbt_subprojects/dex/models/_projects/cow_protocol/lens/cow_protocol_lens_trades.sql
  sources/_subprojects_outputs/dex/_sources.yml
  sources/cow_protocol/lens/cow_protocol_lens_sources.yml
Labels: ready-for-merging, dbt: dex

#8677 CUR2-484 Add apechain, berachain, and abstract as chains to monitor for creato…
  dbt_subprojects/daily_spellbook/macros/project/limitbreak/creator_tokens/creator_tokens_inspect_contracts_zkevm.sql
  dbt_subprojects/daily_spellbook/models/limitbreak/creator_tokens/chains/abstract/limitbreak_abstract_creator_tokens.sql
  dbt_subprojects/daily_spellbook/models/limitbreak/creator_tokens/chains/abstract/limitbreak_abstract_zkevm_creator_tokens.sql
  dbt_subprojects/daily_spellbook/models/limitbreak/creator_tokens/chains/apechain/limitbreak_apechain_creator_tokens.sql
  dbt_subprojects/daily_spellbook/models/limitbreak/creator_tokens/chains/berachain/limitbreak_berachain_creator_tokens.sql
  dbt_subprojects/daily_spellbook/models/limitbreak/creator_tokens/limitbreak_creator_tokens.sql
  dbt_subprojects/daily_spellbook/models/limitbreak/creator_tokens/schema.yml
Labels: ready-for-merging, dbt: daily

#8713 Revert "CUR2-474 Solfi fix again"
  dbt_subprojects/solana/models/_sector/dex/dex_solana_base_trades.sql
  dbt_subprojects/solana/models/_sector/dex/solfi/solfi_solana_base_trades.sql
Labels: ready-for-review, dbt: solana

#8668 fix bridge duplicates
  dbt_subprojects/hourly_spellbook/models/_sector/bridges/flows/evms/bridges_evms_deposits.sql
  dbt_subprojects/hourly_spellbook/models/_sector/bridges/flows/evms/bridges_evms_flows.sql
  dbt_subprojects/hourly_spellbook/models/_sector/bridges/flows/evms/schema.yml
Labels: ready-for-merging, dbt: hourly

#8610 Add carbondefi to TAC
  dbt_subprojects/dex/models/_projects/carbon_defi/carbon_defi_trades.sql
  dbt_subprojects/dex/models/trades/_schema.yml
  dbt_subprojects/dex/models/trades/dex_base_trades.sql
  dbt_subprojects/dex/models/trades/tac/_schema.yml
  dbt_subprojects/dex/models/trades/tac/dex_tac_base_trades.sql
  dbt_subprojects/dex/models/trades/tac/platforms/carbon_defi_tac_base_trades.sql
  dbt_subprojects/dex/seeds/trades/_schema.yml
  dbt_subprojects/dex/seeds/trades/carbon_defi_tac_base_trades_seed.csv
  sources/_sector/dex/trades/tac/_sources.yml
Labels: ready-for-merging, dbt: dex

#8747 [CoW Protocol] Add ethflow trades for Lens
  dbt_subprojects/dex/models/_projects/cow_protocol/lens/cow_protocol_lens_trades.sql
  sources/cow_protocol/lens/cow_protocol_lens_sources.yml
Labels: ready-for-merging, dbt: dex

#8712 expose aptos fungible asset tables
  dbt_subprojects/daily_spellbook/models/aptos/aptos_fungible_asset_activities.sql
  dbt_subprojects/daily_spellbook/models/aptos/aptos_fungible_asset_balances.sql
Labels: ready-for-merging, dbt: daily

#8706 Fix duplicate issue in aptos_fungible_asset_metadata
  dbt_subprojects/daily_spellbook/models/aptos/aptos_fungible_asset_metadata.sql
  dbt_subprojects/daily_spellbook/models/aptos/aptos_fungible_asset_migration.sql
Labels: ready-for-merging, dbt: daily

#8617 [CoW Protocol] Second part of Lens integration
  dbt_subprojects/hourly_spellbook/models/_project/cow_protocol/cow_protocol_batches.sql
  dbt_subprojects/hourly_spellbook/models/_project/cow_protocol/lens/cow_protocol_lens_batches.sql
  dbt_subprojects/hourly_spellbook/models/_project/cow_protocol/lens/cow_protocol_lens_schema.yml
  dbt_subprojects/hourly_spellbook/models/_project/cow_protocol/lens/cow_protocol_lens_solvers.sql
Labels: ready-for-merging, dbt: hourly

#8753 Fix token.transfers blockchain metadata
  dbt_subprojects/tokens/models/transfers_and_balances/tokens_transfers.sql
Labels: ready-for-review, dbt: tokens

#8756 CUR2-570 updated sui price tokens
  dbt_subprojects/tokens/models/prices/sui/prices_sui_tokens.sql
Labels: ready-for-review, dbt: tokens

#8710 Add Tradoor events decoding
  dbt_subprojects/daily_spellbook/models/tradoor/ton/tradoor_ton_perp_order.sql
  dbt_subprojects/daily_spellbook/models/tradoor/ton/tradoor_ton_perp_position_change.sql
  dbt_subprojects/daily_spellbook/models/tradoor/ton/tradoor_ton_schema.yml
Labels: ready-for-merging, dbt: daily

#8708 Add TLP (Tradoor LP) prices
  dbt_subprojects/daily_spellbook/models/ton/ton_jetton_price_daily.sql
Labels: ready-for-merging, dbt: daily

#8765 Remove manifest_<git_sha> push
  .github/workflows/commit_manifest.yml
Labels: ready-for-review

#8761 CUR2-524 update `tokens.transfers` to use hourly price from coinpaprika API feed
  dbt_subprojects/tokens/macros/transfers/transfers_enrich.sql
  dbt_subprojects/tokens/models/transfers_and_balances/tokens_transfers.sql
  sources/_subprojects_outputs/sqlmesh/_sources.yml
Labels: ready-for-review, dbt: tokens

#8770 `nft.trades`: exclude rarible polygon due to dupes
  dbt_subprojects/nft/models/_sector/trades/chains/polygon/nft_polygon_base_trades.sql
  dbt_subprojects/nft/models/_sector/trades/chains/polygon/platforms/rarible_polygon_base_trades.sql
Labels: ready-for-review, dbt: nft

#8785 Fix source for dex.prices
  dbt_subprojects/dex/models/prices/dex_prices.sql
  dbt_subprojects/dex/models/prices/dex_prices_block.sql
  sources/_subprojects_outputs/sqlmesh/_sources.yml
Labels: WIP, ready-for-review, dbt: dex

#8768 CUR2-380 Gas fees tokens transfers hyperevm
  dbt_subprojects/hourly_spellbook/models/_sector/gas/fees/gas_fees.sql
  dbt_subprojects/hourly_spellbook/models/_sector/gas/fees/hyperevm/gas_hyperevm_fees.sql
  dbt_subprojects/hourly_spellbook/models/_sector/gas/fees/hyperevm/gas_hyperevm_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/gas/fees/peaq/gas_peaq_fees.sql
  dbt_subprojects/hourly_spellbook/models/_sector/gas/fees/peaq/gas_peaq_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/gas/fees/somnia/gas_somnia_fees.sql
  dbt_subprojects/hourly_spellbook/models/_sector/gas/fees/somnia/gas_somnia_schema.yml
  dbt_subprojects/hourly_spellbook/seeds/_sector/gas/evm_gas_fees.csv
  dbt_subprojects/tokens/models/transfers_and_balances/hyperevm/_schema.yml
  dbt_subprojects/tokens/models/transfers_and_balances/hyperevm/tokens_hyperevm_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/hyperevm/tokens_hyperevm_net_transfers_daily.sql
  dbt_subprojects/tokens/models/transfers_and_balances/hyperevm/tokens_hyperevm_net_transfers_daily_asset.sql
  dbt_subprojects/tokens/models/transfers_and_balances/hyperevm/tokens_hyperevm_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/peaq/_schema.yml
  dbt_subprojects/tokens/models/transfers_and_balances/peaq/tokens_peaq_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/peaq/tokens_peaq_net_transfers_daily.sql
  dbt_subprojects/tokens/models/transfers_and_balances/peaq/tokens_peaq_net_transfers_daily_asset.sql
  dbt_subprojects/tokens/models/transfers_and_balances/peaq/tokens_peaq_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/somnia/_schema.yml
  dbt_subprojects/tokens/models/transfers_and_balances/somnia/tokens_somnia_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/somnia/tokens_somnia_net_transfers_daily.sql
  dbt_subprojects/tokens/models/transfers_and_balances/somnia/tokens_somnia_net_transfers_daily_asset.sql
  dbt_subprojects/tokens/models/transfers_and_balances/somnia/tokens_somnia_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/tokens_net_transfers_daily_asset.sql
  dbt_subprojects/tokens/models/transfers_and_balances/tokens_transfers.sql
Labels: ready-for-merging, dbt: hourly, dbt: tokens

#8664 CUR2-581 Add etherex v2/v3 to dex.trades on linea
  dbt_subprojects/dex/models/dex_info.sql
  dbt_subprojects/dex/models/trades/linea/_schema.yml
  dbt_subprojects/dex/models/trades/linea/dex_linea_base_trades.sql
  dbt_subprojects/dex/models/trades/linea/platforms/etherex_v2_linea_base_trades.sql
  dbt_subprojects/dex/models/trades/linea/platforms/etherex_v3_linea_base_trades.sql
  dbt_subprojects/dex/seeds/trades/_schema.yml
  dbt_subprojects/dex/seeds/trades/etherex_linea_base_trades_seed.csv
  sources/_sector/dex/trades/linea/_sources.yml
Labels: ready-for-merging, dbt: dex

#8775 Hyperevm, Flow chains dex trades
  dbt_subprojects/dex/models/dex_info.sql
  dbt_subprojects/dex/models/trades/dex_base_trades.sql
  dbt_subprojects/dex/models/trades/flow/_schema.yml
  dbt_subprojects/dex/models/trades/flow/dex_flow_base_trades.sql
  dbt_subprojects/dex/models/trades/flow/platforms/izumi_finance_v3_flow_base_trades.sql
  dbt_subprojects/dex/models/trades/hyperevm/_schema.yml
  dbt_subprojects/dex/models/trades/hyperevm/dex_hyperevm_base_trades.sql
  dbt_subprojects/dex/models/trades/hyperevm/platforms/hybra_v3_hyperevm_base_trades.sql
  dbt_subprojects/dex/models/trades/hyperevm/platforms/hyperswap_v2_hyperevm_base_trades.sql
  dbt_subprojects/dex/models/trades/hyperevm/platforms/hyperswap_v3_hyperevm_base_trades.sql
  dbt_subprojects/dex/models/trades/hyperevm/platforms/prjx_v3_hyperevm_base_trades.sql
  dbt_subprojects/dex/seeds/trades/_schema.yml
  dbt_subprojects/dex/seeds/trades/hybra_hyperevm_base_trades_seed.csv
  dbt_subprojects/dex/seeds/trades/hyperswap_hyperevm_base_trades_seed.csv
  dbt_subprojects/dex/seeds/trades/izumi_finance_flow_base_trades_seed.csv
  dbt_subprojects/dex/seeds/trades/prjx_hyperevm_base_trades_seed.csv
  sources/_sector/dex/trades/flow/_sources.yml
  sources/_sector/dex/trades/hyperevm/_sources.yml
Labels: ready-for-merging, dbt: dex

#8784 CUR2-605 Sui tvl
  dbt_subprojects/daily_spellbook/models/sui/tvl/dex/pool_details/sui_tvl_dex_pools_cetus_pool_detail.sql
  dbt_subprojects/daily_spellbook/models/sui/tvl/dex/sui_tvl_dex_pools_bluefin_bronze.sql
  dbt_subprojects/daily_spellbook/models/sui/tvl/dex/sui_tvl_dex_pools_cetus_bronze.sql
  dbt_subprojects/daily_spellbook/models/sui/tvl/dex/sui_tvl_dex_pools_gold.sql
  dbt_subprojects/daily_spellbook/models/sui/tvl/dex/sui_tvl_dex_pools_momentum_bronze.sql
  dbt_subprojects/daily_spellbook/models/sui/tvl/dex/sui_tvl_dex_pools_silver.sql
  dbt_subprojects/daily_spellbook/models/sui/tvl/lending/sui_tvl_lending_pools_alphalend_bronze.sql
  dbt_subprojects/daily_spellbook/models/sui/tvl/lending/sui_tvl_lending_pools_bronze.sql
  dbt_subprojects/daily_spellbook/models/sui/tvl/lending/sui_tvl_lending_pools_bucket_bronze.sql
  dbt_subprojects/daily_spellbook/models/sui/tvl/lending/sui_tvl_lending_pools_gold.sql
  dbt_subprojects/daily_spellbook/models/sui/tvl/lending/sui_tvl_lending_pools_navi_bronze.sql
  dbt_subprojects/daily_spellbook/models/sui/tvl/lending/sui_tvl_lending_pools_scallop_bronze.sql
  dbt_subprojects/daily_spellbook/models/sui/tvl/lending/sui_tvl_lending_pools_silver.sql
  dbt_subprojects/daily_spellbook/models/sui/tvl/lending/sui_tvl_lending_pools_suilend_bronze.sql
  dbt_subprojects/daily_spellbook/models/sui/tvl/sui_tvl_btc_ecosystem.sql
  dbt_subprojects/daily_spellbook/models/sui/tvl/supply/sui_tvl_btc_tokens_detail.sql
  dbt_subprojects/daily_spellbook/models/sui/tvl/supply/sui_tvl_supply_bronze.sql
  dbt_subprojects/daily_spellbook/models/sui/tvl/supply/sui_tvl_supply_gold.sql
  dbt_subprojects/daily_spellbook/models/sui/tvl/supply/sui_tvl_supply_silver.sql
Labels: ready-for-review, ready-for-merging, dbt: daily

#8497 add check deposit address was recently funded
  dbt_subprojects/hourly_spellbook/macros/sector/cex/cex_deposit_addresses.sql
  dbt_subprojects/hourly_spellbook/models/_sector/addresses_events/addresses_events_first_activity.sql
  dbt_subprojects/hourly_spellbook/models/_sector/addresses_events/addresses_events_first_funded_by.sql
  dbt_subprojects/hourly_spellbook/models/_sector/addresses_events/addresses_events_first_token_received.sql
  dbt_subprojects/hourly_spellbook/models/_sector/addresses_events/addresses_events_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/addresses_events/ink/addresses_events_ink_first_activity.sql
  dbt_subprojects/hourly_spellbook/models/_sector/addresses_events/ink/addresses_events_ink_first_funded_by.sql
  dbt_subprojects/hourly_spellbook/models/_sector/addresses_events/ink/addresses_events_ink_first_token_received.sql
  dbt_subprojects/hourly_spellbook/models/_sector/addresses_events/ink/addresses_events_ink_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/addresses_events/opbnb/addresses_events_opbnb_first_activity.sql
  dbt_subprojects/hourly_spellbook/models/_sector/addresses_events/opbnb/addresses_events_opbnb_first_funded_by.sql
  dbt_subprojects/hourly_spellbook/models/_sector/addresses_events/opbnb/addresses_events_opbnb_first_token_received.sql
  dbt_subprojects/hourly_spellbook/models/_sector/addresses_events/opbnb/addresses_events_opbnb_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/addresses_events/unichain/addresses_events_unichain_first_activity.sql
  dbt_subprojects/hourly_spellbook/models/_sector/addresses_events/unichain/addresses_events_unichain_first_funded_by.sql
  dbt_subprojects/hourly_spellbook/models/_sector/addresses_events/unichain/addresses_events_unichain_first_token_received.sql
  dbt_subprojects/hourly_spellbook/models/_sector/addresses_events/unichain/addresses_events_unichain_schema.yml
  sources/_subprojects_outputs/spellbook/_sources.yml
Labels: ready-for-merging, dbt: hourly

#8565 add across v2 and v3 to bridges.flows
  dbt_subprojects/hourly_spellbook/macros/sector/bridges/across_v2_deposits.sql
  dbt_subprojects/hourly_spellbook/macros/sector/bridges/across_v2_withdrawals.sql
  dbt_subprojects/hourly_spellbook/macros/sector/bridges/across_v3_deposits.sql
  dbt_subprojects/hourly_spellbook/macros/sector/bridges/across_v3_withdrawals.sql
  dbt_subprojects/hourly_spellbook/models/_sector/bridges/flows/chains/base/bridges_base_deposits.sql
  dbt_subprojects/hourly_spellbook/models/_sector/bridges/flows/chains/base/bridges_base_withdrawals.sql
  dbt_subprojects/hourly_spellbook/models/_sector/bridges/flows/chains/base/platforms/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/bridges/flows/chains/base/platforms/bridges_base_across_v2_deposits.sql
  dbt_subprojects/hourly_spellbook/models/_sector/bridges/flows/chains/base/platforms/bridges_base_across_v2_withdrawals.sql
  dbt_subprojects/hourly_spellbook/models/_sector/bridges/flows/chains/base/platforms/bridges_base_across_v3_deposits.sql
  dbt_subprojects/hourly_spellbook/models/_sector/bridges/flows/chains/base/platforms/bridges_base_across_v3_withdrawals.sql
  dbt_subprojects/hourly_spellbook/models/_sector/bridges/flows/chains/ethereum/bridges_ethereum_deposits.sql
  dbt_subprojects/hourly_spellbook/models/_sector/bridges/flows/chains/ethereum/bridges_ethereum_withdrawals.sql
  dbt_subprojects/hourly_spellbook/models/_sector/bridges/flows/chains/ethereum/platforms/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/bridges/flows/chains/ethereum/platforms/bridges_ethereum_across_v2_deposits.sql
  dbt_subprojects/hourly_spellbook/models/_sector/bridges/flows/chains/ethereum/platforms/bridges_ethereum_across_v2_withdrawals.sql
  dbt_subprojects/hourly_spellbook/models/_sector/bridges/flows/chains/ethereum/platforms/bridges_ethereum_across_v3_deposits.sql
  dbt_subprojects/hourly_spellbook/models/_sector/bridges/flows/chains/ethereum/platforms/bridges_ethereum_across_v3_withdrawals.sql
  sources/_sector/bridges/across/_sources.yml
  sources/_sector/bridges/cctp/_sources.yml
Labels: ready-for-merging, dbt: hourly

#8569 add celer bridge on base and ethereum
  dbt_subprojects/hourly_spellbook/macros/sector/bridges/cctp_v1_deposits.sql
  dbt_subprojects/hourly_spellbook/macros/sector/bridges/celer_v1_deposits.sql
  dbt_subprojects/hourly_spellbook/macros/sector/bridges/celer_v1_withdrawals.sql
  dbt_subprojects/hourly_spellbook/models/_sector/bridges/flows/chains/base/bridges_base_deposits.sql
  dbt_subprojects/hourly_spellbook/models/_sector/bridges/flows/chains/base/bridges_base_withdrawals.sql
  dbt_subprojects/hourly_spellbook/models/_sector/bridges/flows/chains/base/platforms/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/bridges/flows/chains/base/platforms/bridges_base_celer_v1_deposits.sql
  dbt_subprojects/hourly_spellbook/models/_sector/bridges/flows/chains/base/platforms/bridges_base_celer_v1_withdrawals.sql
  dbt_subprojects/hourly_spellbook/models/_sector/bridges/flows/chains/ethereum/bridges_ethereum_deposits.sql
  dbt_subprojects/hourly_spellbook/models/_sector/bridges/flows/chains/ethereum/bridges_ethereum_withdrawals.sql
  dbt_subprojects/hourly_spellbook/models/_sector/bridges/flows/chains/ethereum/platforms/_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/bridges/flows/chains/ethereum/platforms/bridges_ethereum_celer_v1_deposits.sql
  dbt_subprojects/hourly_spellbook/models/_sector/bridges/flows/chains/ethereum/platforms/bridges_ethereum_celer_v1_withdrawals.sql
  dbt_subprojects/hourly_spellbook/models/_sector/bridges/flows/evms/bridges_evms_deposits.sql
  dbt_subprojects/hourly_spellbook/models/_sector/bridges/flows/evms/bridges_evms_flows.sql
  dbt_subprojects/hourly_spellbook/models/_sector/bridges/flows/evms/bridges_evms_withdrawals.sql
  dbt_subprojects/hourly_spellbook/models/_sector/bridges/flows/evms/schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/bridges/flows/schema.yml
  sources/_sector/bridge/celer/_sources.yml
Labels: ready-for-merging, dbt: hourly

#8799 fix schema
  dbt_subprojects/hourly_spellbook/models/_sector/bridges/flows/chains/base/platforms/_schema.yml
Labels: ready-for-review, dbt: hourly

#8802 Fix bridge withdrawals
  dbt_subprojects/hourly_spellbook/models/_sector/bridges/flows/evms/bridges_evms_withdrawals.sql
Labels: WIP, dbt: hourly

#8792 CUR2-345 plasma foundational metadata
  dbt_subprojects/daily_spellbook/macros/helpers/evms_blockchains_list.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_info.sql
  dbt_subprojects/tokens/models/prices/plasma/_schema.yml
  dbt_subprojects/tokens/models/prices/plasma/prices_plasma_tokens.sql
  dbt_subprojects/tokens/models/prices/prices_native_tokens.sql
  dbt_subprojects/tokens/models/prices/prices_tokens.sql
  sources/_base_sources/evm/plasma_base_sources.yml
  sources/_base_sources/evm/plasma_docs_block.md
Labels: ready-for-review, dbt: daily, dbt: tokens

#8780 Add SuperoETHb Price on Base
  dbt_subprojects/tokens/models/prices/base/prices_base_tokens.sql
Labels: ready-for-merging, dbt: tokens

#8698 Add YZY prices solana
  dbt_subprojects/tokens/models/prices/solana/prices_solana_tokens.sql
Labels: ready-for-merging, dbt: tokens

#8733 Added `LINEA` token in prices_linea_tokens.sql
  dbt_subprojects/tokens/models/prices/linea/prices_linea_tokens.sql
Labels: ready-for-merging, dbt: tokens

#8790 Add Plasma XPL to prices.usd table
  dbt_subprojects/tokens/models/prices/bnb/prices_bnb_tokens.sql
Labels: ready-for-merging, dbt: tokens

#8769 Angstrom Trades (and Fees) Table
  dbt_subprojects/dex/macros/models/_project/angstrom/angstrom_all_trades.sql
  dbt_subprojects/dex/macros/models/_project/angstrom/angstrom_bundle_fee_events.sql
  dbt_subprojects/dex/macros/models/_project/angstrom/angstrom_bundle_orders.sql
  dbt_subprojects/dex/macros/models/_project/angstrom/angstrom_composable_trades.sql
  dbt_subprojects/dex/macros/models/_project/angstrom/angstrom_downstream_trades.sql
  dbt_subprojects/dex/macros/models/_project/angstrom/bundle_orders/angstrom_bundle_tob_fees_donated.sql
  dbt_subprojects/dex/macros/models/_project/angstrom/bundle_orders/angstrom_bundle_tob_order_volume.sql
  dbt_subprojects/dex/macros/models/_project/angstrom/bundle_orders/angstrom_bundle_user_order_fill_amount.sql
  dbt_subprojects/dex/macros/models/_project/angstrom/bundle_orders/angstrom_bundle_user_order_volume.sql
  dbt_subprojects/dex/macros/models/_project/angstrom/composable_trades/protocol_fee_calc.sql
  dbt_subprojects/dex/macros/models/_project/angstrom/composable_trades/univ4.sql
  dbt_subprojects/dex/macros/models/_project/angstrom/decoding/angstrom_bundle_decoding_pool_updates.sql
  dbt_subprojects/dex/macros/models/_project/angstrom/orders/angstrom_bundle_user_order_fill_amount.sql
  dbt_subprojects/dex/macros/models/_project/angstrom/utils/angstrom_pool_info.sql
  dbt_subprojects/dex/macros/models/_project/uniswap_compatible_trades.sql
  dbt_subprojects/dex/models/_projects/angstrom/_schema.yml
  dbt_subprojects/dex/models/_projects/angstrom/angstrom_trades.sql
  dbt_subprojects/dex/models/_projects/angstrom/ethereum/_schema.yml
  dbt_subprojects/dex/models/_projects/angstrom/ethereum/angstrom_ethereum_trades.sql
  dbt_subprojects/dex/models/trades/dex_trades.sql
  dbt_subprojects/dex/models/trades/ethereum/dex_ethereum_base_trades.sql
  dbt_subprojects/dex/models/trades/ethereum/platforms/angstrom_ethereum_base_trades.sql
  dbt_subprojects/dex/seeds/trades/_schema.yml
  dbt_subprojects/dex/seeds/trades/angstrom_ethereum_base_trades_seed.csv
Labels: ready-for-merging, dbt: dex

#8728 Ekubo Dex Liquidity
  dbt_subprojects/dex/macros/models/_project/ekubo_compatible_liquidity.sql
  dbt_subprojects/dex/macros/models/_project/ekubo_compatible_pools.sql
  dbt_subprojects/dex/models/_projects/ekubo/_schema.yml
  dbt_subprojects/dex/models/_projects/ekubo/ekubo_base_liquidity_events.sql
  dbt_subprojects/dex/models/_projects/ekubo/ekubo_daily_agg_liquidity_events.sql
  dbt_subprojects/dex/models/_projects/ekubo/ekubo_liquidity_events.sql
  dbt_subprojects/dex/models/_projects/ekubo/ekubo_pools.sql
  dbt_subprojects/dex/models/_projects/ekubo/ekubo_tvl_daily.sql
  dbt_subprojects/dex/models/_projects/ekubo/ethereum/_schema.yml
  dbt_subprojects/dex/models/_projects/ekubo/ethereum/ekubo_ethereum_base_liquidity_events.sql
  dbt_subprojects/dex/models/_projects/ekubo/ethereum/ekubo_ethereum_pools.sql
  sources/_sector/dex/liquidity/ethereum/_sources.yml
Labels: ready-for-review, dbt: dex

#8811 test run sui lending
  dbt_subprojects/daily_spellbook/models/sui/tvl/lending/sui_tvl_lending_pools_suilend_bronze.sql
Labels: ready-for-review, dbt: daily

#8813 sui update silver lending with correct decimal
  dbt_subprojects/daily_spellbook/models/sui/tvl/lending/sui_tvl_lending_pools_silver.sql
Labels: ready-for-review, dbt: daily

#8816 `dex_solana.trades`: remove warning, force error on amount_usd test
  dbt_subprojects/solana/models/_sector/dex/_schema.yml
Labels: ready-for-review, dbt: solana

#8794 CUR2-346 plasma gas fees and token transfers
  dbt_subprojects/hourly_spellbook/models/_sector/gas/fees/gas_fees.sql
  dbt_subprojects/hourly_spellbook/models/_sector/gas/fees/plasma/gas_plasma_fees.sql
  dbt_subprojects/hourly_spellbook/models/_sector/gas/fees/plasma/gas_plasma_schema.yml
  dbt_subprojects/hourly_spellbook/seeds/_sector/gas/evm_gas_fees.csv
  dbt_subprojects/tokens/models/transfers_and_balances/plasma/_schema.yml
  dbt_subprojects/tokens/models/transfers_and_balances/plasma/tokens_plasma_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/plasma/tokens_plasma_net_transfers_daily.sql
  dbt_subprojects/tokens/models/transfers_and_balances/plasma/tokens_plasma_net_transfers_daily_asset.sql
  dbt_subprojects/tokens/models/transfers_and_balances/plasma/tokens_plasma_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/tokens_net_transfers_daily.sql
  dbt_subprojects/tokens/models/transfers_and_balances/tokens_net_transfers_daily_asset.sql
  dbt_subprojects/tokens/models/transfers_and_balances/tokens_transfers.sql
Labels: ready-for-merging, dbt: hourly, dbt: tokens

#8773 add borrow balances to fluid liquidity
  dbt_subprojects/dex/models/_projects/fluid/_schema.yml
  dbt_subprojects/dex/models/_projects/fluid/fluid_base_tvl_daily.sql
  dbt_subprojects/dex/models/_projects/fluid/fluid_daily_agg_liquidity_events.sql
  dbt_subprojects/dex/models/_projects/fluid/fluid_tvl_daily.sql
Labels: ready-for-merging, dbt: dex

#8789 exclude native models from dex trades
  dbt_subprojects/dex/models/trades/base/dex_base_base_trades.sql
  dbt_subprojects/dex/models/trades/bnb/dex_bnb_base_trades.sql
  dbt_subprojects/dex/models/trades/dex_base_trades.sql
  dbt_subprojects/dex/models/trades/dex_trades.sql
  dbt_subprojects/dex/models/trades/ethereum/dex_ethereum_base_trades.sql
Labels: ready-for-merging, dbt: dex

#8812 CUR2-347 plasma dex trades
  dbt_subprojects/dex/models/trades/dex_base_trades.sql
  dbt_subprojects/dex/models/trades/dex_trades.sql
  dbt_subprojects/dex/models/trades/plasma/_schema.yml
  dbt_subprojects/dex/models/trades/plasma/dex_plasma_base_trades.sql
  dbt_subprojects/dex/models/trades/plasma/platforms/fluid_v1_plasma_base_trades.sql
  dbt_subprojects/dex/models/trades/plasma/platforms/uniswap_v3_plasma_base_trades.sql
  dbt_subprojects/dex/seeds/trades/_schema.yml
  dbt_subprojects/dex/seeds/trades/fluid_v1_plasma_base_trades_seed.csv
  dbt_subprojects/dex/seeds/trades/uniswap_v3_plasma_base_trades_seed.csv
  sources/_sector/dex/trades/plasma/_sources.yml
Labels: ready-for-review, dbt: dex
