Repository duneanalytics/spellbook, pull requests merged in 2025-10, with the labels that each got.

#8825 CUR2-662 [temp] exclude outlier tx in `cow_protocol_base_trades`
  dbt_subprojects/dex/models/_projects/cow_protocol/base/cow_protocol_base_trades.sql
Labels: ready-for-merging, hotfix, dbt: dex

#8760 Update prices_native_tokens.sql
  dbt_subprojects/tokens/models/prices/prices_native_tokens.sql
Labels: ready-for-merging, dbt: tokens

#8732 Add carbon defi vortex
  dbt_subprojects/dex/macros/models/_project/carbon_defi_compatible_trades.sql
  dbt_subprojects/dex/models/trades/celo/platforms/carbon_defi_celo_base_trades.sql
  dbt_subprojects/dex/models/trades/ethereum/platforms/carbon_defi_ethereum_base_trades.sql
  dbt_subprojects/dex/models/trades/sei/platforms/carbon_defi_sei_base_trades.sql
  dbt_subprojects/dex/seeds/trades/carbon_defi_celo_base_trades_seed.csv
  dbt_subprojects/dex/seeds/trades/carbon_defi_ethereum_base_trades_seed.csv
  dbt_subprojects/dex/seeds/trades/carbon_defi_sei_base_trades_seed.csv
  sources/_sector/dex/trades/celo/_sources.yml
  sources/_sector/dex/trades/ethereum/_sources.yml
  sources/_sector/dex/trades/sei/_sources.yml
Labels: ready-for-merging, dbt: dex

#8829 CUR2-571 Alienbase
  dbt_subprojects/dex/models/trades/base/_schema.yml
  dbt_subprojects/dex/models/trades/base/dex_base_base_trades.sql
  dbt_subprojects/dex/models/trades/base/platforms/alienbase_v3_base_base_trades.sql
  dbt_subprojects/dex/seeds/trades/alienbase_base_base_trades_seed.csv
  sources/_sector/dex/trades/base/_sources.yml
Labels: ready-for-merging, dbt: dex

#8839 `prices_native_tokens`: default contract address if not available
  dbt_subprojects/tokens/models/prices/prices_native_tokens.sql
Labels: ready-for-review, dbt: tokens

#8827 add merchant moe v22
  dbt_subprojects/dex/models/trades/mantle/dex_mantle_base_trades.sql
  dbt_subprojects/dex/models/trades/mantle/platforms/merchant_moe_v22_mantle_base_trades.sql
  sources/_sector/dex/trades/mantle/_sources.yml
Labels: ready-for-merging, dbt: dex

#8841 Revert "exclude native models from dex trades "
  dbt_subprojects/dex/models/trades/base/dex_base_base_trades.sql
  dbt_subprojects/dex/models/trades/bnb/dex_bnb_base_trades.sql
  dbt_subprojects/dex/models/trades/dex_base_trades.sql
  dbt_subprojects/dex/models/trades/ethereum/dex_ethereum_base_trades.sql
Labels: ready-for-merging, dbt: dex

#8853 CUR2-742 thorchain tokens
  dbt_subprojects/tokens/models/prices/prices_tokens.sql
  dbt_subprojects/tokens/models/prices/prices_tokens_legacy.sql
  dbt_subprojects/tokens/models/prices/thorchain/_schema.yml
  dbt_subprojects/tokens/models/prices/thorchain/prices_thorchain_tokens.sql
Labels: ready-for-review, dbt: tokens
