Repository duneanalytics/spellbook, pull requests merged in 2025-02, with the labels that each got.

#7614 add VVV price to Base
  dbt_subprojects/tokens/models/prices/base/prices_base_tokens.sql
Labels: ready-for-review, dbt: tokens

#7616 add COW price on Arb
  dbt_subprojects/tokens/models/prices/arbitrum/prices_arbitrum_tokens.sql
Labels: ready-for-review, dbt: tokens

#7617 add missing tokens
  dbt_subprojects/tokens/models/tokens/arbitrum/tokens_arbitrum_erc20.sql
  dbt_subprojects/tokens/models/tokens/base/tokens_base_erc20.sql
  dbt_subprojects/tokens/models/tokens/ethereum/tokens_ethereum_erc20.sql
Labels: ready-for-merging, dbt: tokens

#7602 Solana Prices
  dbt_subprojects/tokens/models/prices/solana/prices_solana_tokens.sql
Labels: ready-for-merging, dbt: tokens

#7601 Sonic Prices
  dbt_subprojects/tokens/models/prices/sonic/prices_sonic_tokens.sql
Labels: ready-for-merging, dbt: tokens

#7600 Added Sonic Tokens
  dbt_subprojects/tokens/models/tokens/sonic/tokens_sonic_erc20.sql
Labels: ready-for-merging, dbt: tokens

#7595 improvement for balancer erc4626 tokens
  dbt_subprojects/hourly_spellbook/models/_project/balancer/erc4626_tokens/ethereum/balancer_v3_ethereum_erc4626_token_mapping.sql
  dbt_subprojects/hourly_spellbook/models/_project/balancer/erc4626_tokens/ethereum/balancer_v3_ethereum_erc4626_token_prices.sql
  dbt_subprojects/hourly_spellbook/models/_project/balancer/erc4626_tokens/gnosis/balancer_v3_gnosis_erc4626_token_prices.sql
  dbt_subprojects/hourly_spellbook/models/_project/balancer/erc4626_tokens/sonic/balancer_v3_sonic_erc4626_token_prices.sql
Labels: ready-for-merging, dbt: hourly

#7615 add blobbers
  dbt_subprojects/hourly_spellbook/models/_sector/blobs/ethereum/blobs_submitters.sql
Labels: easy, ready-for-merging, dbt: hourly

#7582 Dip Exchange on Base
  dbt_subprojects/hourly_spellbook/models/_sector/perpetual/projects/dip_exchange/dip_exchange_base_perpetual_trades.sql
  dbt_subprojects/hourly_spellbook/models/_sector/perpetual/projects/dip_exchange/dip_exchange_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/perpetual/projects/dip_exchange/dip_exchange_v1_base_perpetual_trades.sql
  dbt_subprojects/hourly_spellbook/seeds/_sector/perpetual/trades/perpetual_trades_seed.csv
  sources/dip_exchange/dip_exchange_base_sources.yml
Labels: ready-for-merging, dbt: hourly

#7588 optimism: uniswap,velodrome, curve, solidly,openxswap pools dexes balances
  dbt_subprojects/daily_spellbook/models/_sector/dex/pools/optimism/_schema.yml
  dbt_subprojects/daily_spellbook/models/_sector/dex/pools/optimism/dex_pools_optimism_balances.sql
  dbt_subprojects/daily_spellbook/models/_sector/dex/pools/optimism/uniswap/uniswap_pools_optimism_balances.sql
  sources/_sector/dex/trades/optimism/_sources.yml
Labels: ready-for-merging, dbt: daily

#7629 Fix for solana token_accounts
  dbt_subprojects/solana/models/solana_utils/solana_utils_token_accounts.sql
Labels: ready-for-review, dbt: solana

#7633 Add SCRVUSD token on the Ethereum blockchain to prices.usd
  dbt_subprojects/tokens/models/prices/ethereum/prices_ethereum_tokens.sql
Labels: ready-for-merging, dbt: tokens

#7620 Add SHADOW Price on Sonic Chain
  dbt_subprojects/tokens/models/prices/sonic/prices_sonic_tokens.sql
Labels: ready-for-merging, dbt: tokens

#7631 Init berachain
  dbt_subprojects/daily_spellbook/models/evms/evms_info.sql
  dbt_subprojects/tokens/models/prices/berachain/_schema.yml
  dbt_subprojects/tokens/models/prices/berachain/prices_berachain_tokens.sql
  dbt_subprojects/tokens/models/prices/prices_tokens.sql
  dbt_subprojects/tokens/models/prices/prices_trusted_tokens.sql
  dbt_subprojects/tokens/models/tokens/berachain/_schema.yml
  dbt_subprojects/tokens/models/tokens/berachain/tokens_berachain_erc20.sql
  dbt_subprojects/tokens/models/tokens/tokens_erc20.sql
  sources/_base_sources/evm/berachain_base_sources.yml
  sources/_base_sources/evm/berachain_docs_block.md
Labels: ready-for-review, dbt: daily, dbt: tokens

#7642 Init unichain
  dbt_subprojects/daily_spellbook/models/evms/evms_info.sql
  dbt_subprojects/tokens/models/prices/prices_tokens.sql
  dbt_subprojects/tokens/models/prices/prices_trusted_tokens.sql
  dbt_subprojects/tokens/models/prices/unichain/prices_unichain_schema.yml
  dbt_subprojects/tokens/models/prices/unichain/prices_unichain_tokens.sql
  dbt_subprojects/tokens/models/tokens/tokens_erc20.sql
  dbt_subprojects/tokens/models/tokens/unichain/tokens_unichain_erc20.sql
  dbt_subprojects/tokens/models/tokens/unichain/tokens_unichain_schema.yml
  sources/_base_sources/evm/unichain_base_sources.yml
  sources/_base_sources/evm/unichain_docs_block.md
Labels: ready-for-review, dbt: daily, dbt: tokens

#7637 Added new token to avalanche erc20 model
  dbt_subprojects/tokens/models/tokens/avalanche_c/tokens_avalanche_c_erc20.sql
Labels: ready-for-merging, dbt: tokens

#7646 Add B3 token Price on Base
  dbt_subprojects/tokens/models/prices/base/prices_base_tokens.sql
Labels: ready-for-review, dbt: tokens

#7640 [easy] Update tokens_sonic_erc20.sql
  dbt_subprojects/tokens/models/tokens/sonic/tokens_sonic_erc20.sql
Labels: ready-for-merging, dbt: tokens

#7651 feat: add unichain
  dbt_subprojects/dex/models/dex_info.sql
  dbt_subprojects/dex/models/trades/dex_base_trades.sql
  dbt_subprojects/dex/models/trades/dex_trades.sql
  dbt_subprojects/dex/models/trades/unichain/_schema.yml
  dbt_subprojects/dex/models/trades/unichain/dex_unichain_base_trades.sql
  dbt_subprojects/dex/models/trades/unichain/platforms/dyorswap_unichain_base_trades.sql
  dbt_subprojects/dex/models/trades/unichain/platforms/unichainswap_unichain_base_trades.sql
  dbt_subprojects/dex/models/trades/unichain/platforms/uniswap_v2_unichain_base_trades.sql
  dbt_subprojects/dex/models/trades/unichain/platforms/uniswap_v3_unichain_base_trades.sql
  dbt_subprojects/dex/models/trades/unichain/platforms/uniswap_v4_unichain_base_trades.sql
  dbt_subprojects/dex/seeds/trades/_schema.yml
  dbt_subprojects/dex/seeds/trades/dyorswap_unichain_base_trades_seed.csv
  dbt_subprojects/dex/seeds/trades/unichainswap_unichain_base_trades_seed.csv
  dbt_subprojects/dex/seeds/trades/uniswap_unichain_base_trades_seed.csv
  sources/_base_sources/evm/unichain_base_sources.yml
  sources/_base_sources/evm/unichain_docs_block.md
  sources/dyorswap/unichain/dyorswap_unichain_sources.yml
  sources/unichainswap/unichain/unichainswap_unichain_sources.yml
  sources/uniswap/unichain/uniswap_unichain_sources.yml
Labels: dbt: dex, ready-for-final-review

#7644 Uniswap V4 dex liquidity (ethereum)
  dbt_subprojects/dex/macros/models/_project/uniswap_compatible_liquidity.sql
  dbt_subprojects/dex/macros/models/enrich_dex_liq_with_prices.sql
  dbt_subprojects/dex/models/liquidity/_schema.yml
  dbt_subprojects/dex/models/liquidity/dex_base_liquidity.sql
  dbt_subprojects/dex/models/liquidity/dex_liquidity.sql
  dbt_subprojects/dex/models/liquidity/ethereum/_schema.yml
  dbt_subprojects/dex/models/liquidity/ethereum/dex_ethereum_base_liquidity.sql
  dbt_subprojects/dex/models/liquidity/ethereum/platforms/uniswap_v4_ethereum_base_liquidity.sql
  dbt_subprojects/dex/seeds/liquidity/_schema.yml
  dbt_subprojects/dex/seeds/liquidity/uniswap_ethereum_base_liquidity_seed.csv
  dbt_subprojects/dex/tests/generic/check_dex_base_liquidity_seed.sql
  sources/_sector/dex/liquidity/ethereum/_sources.yml
Labels: dbt: dex, ready-for-final-review

#7655 Debug aerodrome missing trades
  dbt_subprojects/dex/models/trades/base/platforms/aerodrome_base_base_trades.sql
Labels: ready-for-review, dbt: dex

#7647 Init berachain dex
  dbt_subprojects/dex/models/dex_info.sql
  dbt_subprojects/dex/models/trades/_schema.yml
  dbt_subprojects/dex/models/trades/berachain/_schema.yml
  dbt_subprojects/dex/models/trades/berachain/dex_berachain_base_trades.sql
  dbt_subprojects/dex/models/trades/berachain/platforms/kodiak_v3_berachain_base_trades.sql
  dbt_subprojects/dex/models/trades/dex_base_trades.sql
  dbt_subprojects/dex/seeds/trades/_schema.yml
  dbt_subprojects/dex/seeds/trades/kodiak_berachain_base_trades_seed.csv
  sources/_sector/dex/trades/berachain/_sources.yml
Labels: ready-for-review, dbt: dex

#7657 Fix dex_berachain_base_trades.sql
  dbt_subprojects/dex/models/trades/berachain/dex_berachain_base_trades.sql
Labels: ready-for-review, hotfix, dbt: dex

#7653 Nexus Mutual - products fix
  dbt_subprojects/daily_spellbook/models/nexusmutual/ethereum/covers/nexusmutual_ethereum_product_types_v2.sql
  dbt_subprojects/daily_spellbook/models/nexusmutual/ethereum/covers/nexusmutual_ethereum_products_v2.sql
Labels: ready-for-merging, dbt: daily

#7652 EAS: add zkSync
  dbt_subprojects/daily_spellbook/models/_sector/attestation/eas/_schema.yml
  dbt_subprojects/daily_spellbook/models/_sector/attestation/eas/eas_attestation_details.sql
  dbt_subprojects/daily_spellbook/models/_sector/attestation/eas/eas_attestations.sql
  dbt_subprojects/daily_spellbook/models/_sector/attestation/eas/eas_schema_details.sql
  dbt_subprojects/daily_spellbook/models/_sector/attestation/eas/eas_schemas.sql
  dbt_subprojects/daily_spellbook/models/_sector/attestation/eas/zksync/_schema.yml
  dbt_subprojects/daily_spellbook/models/_sector/attestation/eas/zksync/eas_zksync_attestation_details.sql
  dbt_subprojects/daily_spellbook/models/_sector/attestation/eas/zksync/eas_zksync_attestations.sql
  dbt_subprojects/daily_spellbook/models/_sector/attestation/eas/zksync/eas_zksync_schema_details.sql
  dbt_subprojects/daily_spellbook/models/_sector/attestation/eas/zksync/eas_zksync_schemas.sql
  sources/_sector/attestation/eas/zksync/_sources.yml
Labels: ready-for-merging, dbt: daily

#7660 add missing tokens
  dbt_subprojects/hourly_spellbook/models/_project/balancer/erc4626_tokens/sonic/balancer_v3_sonic_erc4626_token_mapping.sql
  dbt_subprojects/tokens/models/tokens/arbitrum/tokens_arbitrum_erc20.sql
  dbt_subprojects/tokens/models/tokens/base/tokens_base_erc20.sql
  dbt_subprojects/tokens/models/tokens/ethereum/tokens_ethereum_erc20.sql
  dbt_subprojects/tokens/models/tokens/sonic/tokens_sonic_erc20.sql
Labels: ready-for-merging, dbt: hourly, dbt: tokens

#7638 add new pool type on labels.balancer_v3_pools
  dbt_subprojects/dex/models/_projects/balancer/labels/arbitrum/labels_balancer_v3_pools_arbitrum.sql
  dbt_subprojects/dex/models/_projects/balancer/labels/base/labels_balancer_v3_pools_base.sql
  dbt_subprojects/dex/models/_projects/balancer/labels/ethereum/labels_balancer_v3_pools_ethereum.sql
  dbt_subprojects/dex/models/_projects/balancer/labels/gnosis/labels_balancer_v3_pools_gnosis.sql
  sources/balancer/arbitrum/balancer_arbitrum_sources.yml
  sources/balancer/base/balancer_base_sources.yml
  sources/balancer/ethereum/balancer_ethereum_sources.yml
  sources/balancer/gnosis/balancer_gnosis_sources.yml
Labels: ready-for-merging, dbt: dex

#7584 Adding shadow to dex.trades on sonic
  dbt_subprojects/dex/models/dex_info.sql
  dbt_subprojects/dex/models/trades/sonic/_schema.yml
  dbt_subprojects/dex/models/trades/sonic/dex_sonic_base_trades.sql
  dbt_subprojects/dex/models/trades/sonic/platforms/shadow_sonic_base_trades.sql
  dbt_subprojects/dex/seeds/trades/_schema.yml
  dbt_subprojects/dex/seeds/trades/shadow_sonic_base_trades_seed.csv
  sources/_sector/dex/trades/sonic/_sources.yml
Labels: ready-for-merging, dbt: dex

#7597 Near: v1.signer users
  dbt_subprojects/daily_spellbook/models/near/v1_signer/near_v1_signer_users.sql
  dbt_subprojects/daily_spellbook/models/near/v1_signer/schema.yml
  sources/_base_sources/other/near_base_sources.yml
  sources/_base_sources/other/near_docs.md
Labels: ready-for-merging, dbt: daily

#7641 1inch-U56: Add Linea to the main lineage
  dbt_subprojects/dex/macros/models/_project/oneinch/AR/oneinch_ar_cfg_contracts_macro.sql
  dbt_subprojects/dex/macros/models/_project/oneinch/LOP/oneinch_lop_cfg_contracts_macro.sql
  dbt_subprojects/dex/macros/models/_project/oneinch/_meta/oneinch_blockchain_macro.sql
  dbt_subprojects/dex/macros/models/_project/oneinch/_meta/oneinch_exposed_blockchains_list.sql
  dbt_subprojects/dex/models/_projects/oneinch/_meta/oneinch_blockchains.sql
  dbt_subprojects/dex/models/_projects/oneinch/_schema.yml
  dbt_subprojects/dex/models/_projects/oneinch/linea/oneinch_linea_ar.sql
  dbt_subprojects/dex/models/_projects/oneinch/linea/oneinch_linea_ar_raw_traces.sql
  dbt_subprojects/dex/models/_projects/oneinch/linea/oneinch_linea_call_transfers.sql
  dbt_subprojects/dex/models/_projects/oneinch/linea/oneinch_linea_escrow_results.sql
  dbt_subprojects/dex/models/_projects/oneinch/linea/oneinch_linea_lop.sql
  dbt_subprojects/dex/models/_projects/oneinch/linea/oneinch_linea_lop_raw_traces.sql
  dbt_subprojects/dex/models/_projects/oneinch/linea/oneinch_linea_schema.yml
  sources/oneinch/linea/oneinch_linea_sources.yml
Labels: ready-for-merging, dbt: dex

#7556 Abstract Token Transfers
  dbt_subprojects/daily_spellbook/models/evms/evms_info.sql
  dbt_subprojects/tokens/models/transfers_and_balances/abstract/_schema.yml
  dbt_subprojects/tokens/models/transfers_and_balances/abstract/tokens_abstract_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/abstract/tokens_abstract_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/tokens_transfers.sql
Labels: ready-for-merging, dbt: daily, dbt: tokens

#7668 sonic erc20: remove dupe
  dbt_subprojects/tokens/models/tokens/sonic/tokens_sonic_erc20.sql
Labels: bug, ready-for-review, dbt: tokens

#7548 Polynomial Protocol on optimism
  dbt_subprojects/hourly_spellbook/models/_sector/perpetual/projects/polynomial_protocol/polynomial_protocol_optimism_perpetual_trades.sql
  dbt_subprojects/hourly_spellbook/models/_sector/perpetual/projects/polynomial_protocol/polynomial_protocol_v1_optimism_perpetual_trades.sql
  dbt_subprojects/hourly_spellbook/models/_sector/perpetual/projects/polynomial_protocol/polynomial_schema.yml
  dbt_subprojects/hourly_spellbook/seeds/_sector/perpetual/trades/perpetual_trades_seed.csv
  sources/polynomial_protocol/polynomial_protocol_optimism_sources.yml
Labels: ready-for-merging, dbt: hourly

#7669 Add PUFFER token for Ethereum mainnet
  dbt_subprojects/tokens/models/prices/ethereum/prices_ethereum_tokens.sql
Labels: ready-for-merging, dbt: tokens

#7618 Latest balances EVM models
  dbt_subprojects/tokens/macros/balances/balances_latest.sql
  dbt_subprojects/tokens/models/transfers_and_balances/ethereum/_schema.yml
  dbt_subprojects/tokens/models/transfers_and_balances/ethereum/tokens_ethereum_balances_latest.sql
Labels: ready-for-merging, balances, dbt: tokens

#7677 balancer arbitrum: labels view reading bad decoded table column and failing prod
  dbt_subprojects/dex/models/_projects/balancer/labels/arbitrum/labels_balancer_v2_pools_arbitrum.sql
Labels: ready-for-review, hotfix, dbt: dex

#7678 prices: add usdc on zora
  dbt_subprojects/tokens/models/prices/prices_trusted_tokens.sql
  dbt_subprojects/tokens/models/prices/zora/prices_zora_tokens.sql
Labels: ready-for-review, dbt: tokens

#7679 update main tokens for berachain
  dbt_subprojects/tokens/models/prices/berachain/prices_berachain_tokens.sql
  dbt_subprojects/tokens/models/prices/prices_native_tokens.sql
  dbt_subprojects/tokens/models/prices/prices_trusted_tokens.sql
  dbt_subprojects/tokens/models/tokens/berachain/tokens_berachain_erc20.sql
Labels: ready-for-review, dbt: tokens

#7680 add native token for apechain
  dbt_subprojects/tokens/models/prices/prices_native_tokens.sql
Labels: ready-for-review, dbt: tokens

#7681 prices_v2: exclude minute sparse on dupe failure
  dbt_subprojects/tokens/models/prices_v2/sparse_prices/prices_v2_minute_sparse.sql
Labels: ready-for-review, hotfix, dbt: tokens

#7688 polygon net transfers per asset: update native token address
  dbt_subprojects/tokens/models/transfers_and_balances/polygon/tokens_polygon_net_transfers_daily_asset.sql
Labels: ready-for-review, hotfix, dbt: tokens

#7687 Fix PUFFER ERC-20 token for Ethereum mainnet
  dbt_subprojects/tokens/models/tokens/ethereum/tokens_ethereum_erc20.sql
Labels: ready-for-merging, dbt: tokens

#7686 feat(tokens): Add Solayer (LAYER) token to Solana tokens list
  dbt_subprojects/tokens/models/prices/solana/prices_solana_tokens.sql
Labels: ready-for-merging, dbt: tokens

#7672 Adding price Morpho and Talent on base network
  dbt_subprojects/tokens/models/prices/base/prices_base_tokens.sql
Labels: ready-for-merging, dbt: tokens

#7690 add zora erc20 metadata
  dbt_subprojects/tokens/models/tokens/zora/tokens_zora_erc20.sql
Labels: ready-for-merging, dbt: tokens

#7692 flETH on base: update price feed
  dbt_subprojects/tokens/models/prices/base/prices_base_tokens.sql
Labels: ready-for-review, dbt: tokens

#7663 feat(gas): Add cross-chain gas usage by address aggregation
  dbt_subprojects/daily_spellbook/models/_sector/gas/prices/cross_chain/gas_usage_by_address.sql
  dbt_subprojects/daily_spellbook/models/_sector/gas/prices/cross_chain/gas_usage_by_address_schema.yml
Labels: ready-for-merging, dbt: daily

#7621 DUX-922 Add queries for TON Dune Index metrics
  dbt_subprojects/daily_spellbook/models/_metrics/fees/chains/ton/_schema.yml
  dbt_subprojects/daily_spellbook/models/_metrics/fees/chains/ton/metrics_ton_gas_fees_daily.sql
  dbt_subprojects/daily_spellbook/models/_metrics/fees/metrics_gas_fees_daily.sql
  dbt_subprojects/daily_spellbook/models/_metrics/transactions/chains/ton/_schema.yml
  dbt_subprojects/daily_spellbook/models/_metrics/transactions/chains/ton/metrics_ton_transactions_daily.sql
  dbt_subprojects/daily_spellbook/models/_metrics/transactions/metrics_transactions_daily.sql
  dbt_subprojects/daily_spellbook/models/_metrics/transfers/_schema.yml
  dbt_subprojects/daily_spellbook/models/_metrics/transfers/chains/ton/metrics_ton_transfers_daily.sql
  dbt_subprojects/daily_spellbook/models/_metrics/transfers/metrics_transfers_daily.sql
  dbt_subprojects/daily_spellbook/models/ton/ton.yml
  dbt_subprojects/daily_spellbook/models/ton/ton_jetton_price_daily.sql
  dbt_subprojects/daily_spellbook/tests/ton/ton_daily_prices_test.sql
Labels: ready-for-merging, dbt: daily

#7701 Build utility timeseries for days, hours and minutes
  dbt_subprojects/daily_spellbook/models/_sector/utils/_schema.yml
  dbt_subprojects/daily_spellbook/models/_sector/utils/utils_days.sql
  dbt_subprojects/daily_spellbook/models/_sector/utils/utils_days_table.sql
  dbt_subprojects/daily_spellbook/models/_sector/utils/utils_hours.sql
  dbt_subprojects/daily_spellbook/models/_sector/utils/utils_hours_table.sql
  dbt_subprojects/daily_spellbook/models/_sector/utils/utils_minutes.sql
  dbt_subprojects/daily_spellbook/models/_sector/utils/utils_minutes_table.sql
Labels: ready-for-merging, dune team, dbt: daily

#7696 Fix TON transfers query for the Dune Index + rename prices table
  dbt_subprojects/daily_spellbook/models/_metrics/transfers/chains/ton/metrics_ton_transfers_daily.sql
  dbt_subprojects/daily_spellbook/models/ton/ton_jetton_price_daily.sql
Labels: ready-for-merging, dbt: daily

#7675 DUX-845 Init apechain
  dbt_subprojects/daily_spellbook/models/evms/evms_info.sql
  dbt_subprojects/tokens/models/prices/apechain/_schema.yml
  dbt_subprojects/tokens/models/prices/apechain/prices_apechain_tokens.sql
  dbt_subprojects/tokens/models/prices/prices_tokens.sql
  dbt_subprojects/tokens/models/prices/prices_trusted_tokens.sql
  dbt_subprojects/tokens/models/tokens/apechain/_schema.yml
  dbt_subprojects/tokens/models/tokens/apechain/tokens_apechain_erc20.sql
  dbt_subprojects/tokens/models/tokens/tokens_erc20.sql
  sources/_base_sources/evm/apechain_base_sources.yml
  sources/_base_sources/evm/apechain_docs_block.md
Labels: ready-for-merging, dbt: daily, dbt: tokens

#7541 DUX-839 Initiate sophon chain
  dbt_subprojects/daily_spellbook/models/evms/evms_info.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_schema.yml
  dbt_subprojects/tokens/models/prices/prices_tokens.sql
  dbt_subprojects/tokens/models/prices/prices_trusted_tokens.sql
  dbt_subprojects/tokens/models/prices/sophon/_schema.yml
  dbt_subprojects/tokens/models/prices/sophon/prices_sophon_tokens.sql
  dbt_subprojects/tokens/models/tokens/_schema.yml
  dbt_subprojects/tokens/models/tokens/sophon/_schema.yml
  dbt_subprojects/tokens/models/tokens/sophon/tokens_sophon_erc20.sql
  dbt_subprojects/tokens/models/tokens/tokens_erc20.sql
  sources/_base_sources/evm/sophon_base_sources.yml
  sources/_base_sources/evm/sophon_docs_block.md
Labels: ready-for-merging, dbt: daily, dbt: tokens

#7700 [CoW Protocol] Add addresses for the Elfomo solver on Base
  dbt_subprojects/hourly_spellbook/models/_project/cow_protocol/base/cow_protocol_base_schema.yml
  dbt_subprojects/hourly_spellbook/models/_project/cow_protocol/base/cow_protocol_base_solvers.sql
Labels: ready-for-merging, dbt: hourly

#7691 Quick fix for balancer_transfers_bpt_macro
  dbt_macros/shared/balancer/balancer_transfers_bpt_macro.sql
Labels: ready-for-merging

#7697 ethereum blobs: dummy change to force refresh because underlying table was backfilled
  dbt_subprojects/hourly_spellbook/models/_sector/blobs/ethereum/ethereum_blob_submissions.sql
  dbt_subprojects/hourly_spellbook/models/_sector/blobs/ethereum/ethereum_blobs.sql
Labels: ready-for-merging, dbt: hourly

#7695 [Easy] add berachain tokens & prices
  dbt_subprojects/tokens/models/prices/berachain/prices_berachain_tokens.sql
  dbt_subprojects/tokens/models/tokens/berachain/tokens_berachain_erc20.sql
Labels: ready-for-merging, dbt: tokens

#7683 Uniswap V4 Dex Liquidity
  dbt_subprojects/dex/macros/models/_project/uniswap_compatible_liquidity.sql
  dbt_subprojects/dex/models/liquidity/_schema.yml
  dbt_subprojects/dex/models/liquidity/arbitrum/_schema.yml
  dbt_subprojects/dex/models/liquidity/arbitrum/dex_arbitrum_base_liquidity.sql
  dbt_subprojects/dex/models/liquidity/arbitrum/platforms/uniswap_v4_arbitrum_base_liquidity.sql
  dbt_subprojects/dex/models/liquidity/base/_schema.yml
  dbt_subprojects/dex/models/liquidity/base/dex_base_base_liquidity.sql
  dbt_subprojects/dex/models/liquidity/base/platforms/uniswap_v4_base_base_liquidity.sql
  dbt_subprojects/dex/models/liquidity/blast/_schema.yml
  dbt_subprojects/dex/models/liquidity/blast/dex_blast_base_liquidity.sql
  dbt_subprojects/dex/models/liquidity/blast/platforms/uniswap_v4_blast_base_liquidity.sql
  dbt_subprojects/dex/models/liquidity/bnb/_schema.yml
  dbt_subprojects/dex/models/liquidity/bnb/dex_bnb_base_liquidity.sql
  dbt_subprojects/dex/models/liquidity/bnb/platforms/uniswap_v4_bnb_base_liquidity.sql
  dbt_subprojects/dex/models/liquidity/dex_base_liquidity.sql
  dbt_subprojects/dex/models/liquidity/optimism/_schema.yml
  dbt_subprojects/dex/models/liquidity/optimism/dex_optimism_base_liquidity.sql
  dbt_subprojects/dex/models/liquidity/optimism/platforms/uniswap_v4_optimism_base_liquidity.sql
  dbt_subprojects/dex/models/liquidity/polygon/_schema.yml
  dbt_subprojects/dex/models/liquidity/polygon/dex_polygon_base_liquidity.sql
  dbt_subprojects/dex/models/liquidity/polygon/platforms/uniswap_v4_polygon_base_liquidity.sql
  dbt_subprojects/dex/models/liquidity/zora/_schema.yml
  dbt_subprojects/dex/models/liquidity/zora/dex_zora_base_liquidity.sql
  dbt_subprojects/dex/models/liquidity/zora/platforms/uniswap_v4_zora_base_liquidity.sql
  dbt_subprojects/dex/seeds/liquidity/_schema.yml
  dbt_subprojects/dex/seeds/liquidity/uniswap_arbitrum_base_liquidity_seed.csv
  dbt_subprojects/dex/seeds/liquidity/uniswap_base_base_liquidity_seed.csv
  dbt_subprojects/dex/seeds/liquidity/uniswap_blast_base_liquidity_seed.csv
  dbt_subprojects/dex/seeds/liquidity/uniswap_bnb_base_liquidity_seed.csv
  dbt_subprojects/dex/seeds/liquidity/uniswap_optimism_base_liquidity_seed.csv
  dbt_subprojects/dex/seeds/liquidity/uniswap_polygon_base_liquidity_seed.csv
  dbt_subprojects/dex/seeds/liquidity/uniswap_zora_base_liquidity_seed.csv
  sources/_sector/dex/liquidity/arbitrum/_sources.yml
  sources/_sector/dex/liquidity/base/_sources.yml
  sources/_sector/dex/liquidity/blast/_schema.yml
  sources/_sector/dex/liquidity/bnb/_schema.yml
  sources/_sector/dex/liquidity/optimism/_schema.yml
  sources/_sector/dex/liquidity/polygon/_schema.yml
  sources/_sector/dex/liquidity/zora/_schema.yml
Labels: ready-for-merging, dbt: dex

#7661 Uniswap V4 dex liquidity
  dbt_subprojects/dex/macros/models/enrich_dex_liq_with_prices.sql
Labels: ready-for-merging, dbt: dex

#7676 [Easy] Refresh Uniswap V3 zkSync Spell
  dbt_subprojects/dex/models/trades/zksync/platforms/uniswap_v3_zksync_base_trades.sql
Labels: ready-for-merging, dbt: dex

#7693 1inch-U58: Add linea + upgrade contracts
  dbt_subprojects/daily_spellbook/macros/project/oneinch/_meta/oneinch_mapped_contracts_macro.sql
  dbt_subprojects/daily_spellbook/macros/project/oneinch/_meta/oneinch_project_swaps_exposed_blockchains_list.sql
  dbt_subprojects/daily_spellbook/models/_projects/oneinch/linea/_meta/oneinch_linea_mapped_contracts.sql
  dbt_subprojects/daily_spellbook/models/_projects/oneinch/linea/project/oneinch_linea_project_calls.sql
  dbt_subprojects/daily_spellbook/models/_projects/oneinch/linea/project/oneinch_linea_project_orders.sql
  dbt_subprojects/daily_spellbook/models/_projects/oneinch/linea/project/oneinch_linea_project_orders_raw_logs.sql
  dbt_subprojects/daily_spellbook/models/_projects/oneinch/linea/project/oneinch_linea_project_orders_raw_traces.sql
  dbt_subprojects/daily_spellbook/models/_projects/oneinch/linea/project/oneinch_linea_project_swaps.sql
Labels: ready-for-merging, dbt: daily

#7689 Using swap call for v4 dex.trades to get a holistic picture of trade volume
  dbt_subprojects/dex/macros/models/_project/uniswap_compatible_trades.sql
  dbt_subprojects/dex/models/trades/arbitrum/platforms/uniswap_v4_arbitrum_base_trades.sql
  dbt_subprojects/dex/models/trades/avalanche_c/platforms/uniswap_v4_avalanche_c_base_trades.sql
  dbt_subprojects/dex/models/trades/base/platforms/uniswap_v4_base_base_trades.sql
  dbt_subprojects/dex/models/trades/blast/platforms/uniswap_v4_blast_base_trades.sql
  dbt_subprojects/dex/models/trades/bnb/platforms/uniswap_v4_bnb_base_trades.sql
  dbt_subprojects/dex/models/trades/ethereum/platforms/uniswap_v4_ethereum_base_trades.sql
  dbt_subprojects/dex/models/trades/ink/platforms/uniswap_v4_ink_base_trades.sql
  dbt_subprojects/dex/models/trades/optimism/platforms/uniswap_v4_optimism_base_trades.sql
  dbt_subprojects/dex/models/trades/polygon/platforms/uniswap_v4_polygon_base_trades.sql
  dbt_subprojects/dex/models/trades/unichain/platforms/uniswap_v4_unichain_base_trades.sql
  dbt_subprojects/dex/models/trades/worldchain/platforms/uniswap_v4_worldchain_base_trades.sql
  dbt_subprojects/dex/models/trades/zora/platforms/uniswap_v4_zora_base_trades.sql
  dbt_subprojects/dex/seeds/trades/uniswap_arbitrum_base_trades_seed.csv
  dbt_subprojects/dex/seeds/trades/uniswap_avalanche_c_base_trades_seed.csv
  dbt_subprojects/dex/seeds/trades/uniswap_base_base_trades_seed.csv
  dbt_subprojects/dex/seeds/trades/uniswap_blast_base_trades_seed.csv
  dbt_subprojects/dex/seeds/trades/uniswap_bnb_base_trades_seed.csv
  dbt_subprojects/dex/seeds/trades/uniswap_ethereum_base_trades_seed.csv
  dbt_subprojects/dex/seeds/trades/uniswap_optimism_base_trades_seed.csv
  dbt_subprojects/dex/seeds/trades/uniswap_polygon_base_trades_seed.csv
  dbt_subprojects/dex/seeds/trades/uniswap_unichain_base_trades_seed.csv
  dbt_subprojects/dex/seeds/trades/uniswap_worldchain_base_trades_seed.csv
  dbt_subprojects/dex/seeds/trades/uniswap_zora_base_trades_seed.csv
  sources/_sector/dex/trades/arbitrum/_sources.yml
  sources/_sector/dex/trades/avalanche_c/_sources.yml
  sources/_sector/dex/trades/base/_sources.yml
  sources/_sector/dex/trades/blast/_sources.yml
  sources/_sector/dex/trades/bnb/_sources.yml
  sources/_sector/dex/trades/ethereum/_sources.yml
  sources/_sector/dex/trades/ink/_sources.yml
  sources/_sector/dex/trades/optimism/_sources.yml
  sources/_sector/dex/trades/polygon/_sources.yml
  sources/_sector/dex/trades/unichain/_sources.yml
  sources/_sector/dex/trades/worldchain/_sources.yml
  sources/_sector/dex/trades/zora/_sources.yml
Labels: ready-for-merging, dbt: dex

#7702 Revert "Using swap call for v4 dex.trades to get a holistic picture o…
  dbt_subprojects/dex/macros/models/_project/uniswap_compatible_trades.sql
  dbt_subprojects/dex/models/trades/arbitrum/platforms/uniswap_v4_arbitrum_base_trades.sql
  dbt_subprojects/dex/models/trades/avalanche_c/platforms/uniswap_v4_avalanche_c_base_trades.sql
  dbt_subprojects/dex/models/trades/base/platforms/uniswap_v4_base_base_trades.sql
  dbt_subprojects/dex/models/trades/blast/platforms/uniswap_v4_blast_base_trades.sql
  dbt_subprojects/dex/models/trades/bnb/platforms/uniswap_v4_bnb_base_trades.sql
  dbt_subprojects/dex/models/trades/ethereum/platforms/uniswap_v4_ethereum_base_trades.sql
  dbt_subprojects/dex/models/trades/ink/platforms/uniswap_v4_ink_base_trades.sql
  dbt_subprojects/dex/models/trades/optimism/platforms/uniswap_v4_optimism_base_trades.sql
  dbt_subprojects/dex/models/trades/polygon/platforms/uniswap_v4_polygon_base_trades.sql
  dbt_subprojects/dex/models/trades/unichain/platforms/uniswap_v4_unichain_base_trades.sql
  dbt_subprojects/dex/models/trades/worldchain/platforms/uniswap_v4_worldchain_base_trades.sql
  dbt_subprojects/dex/models/trades/zora/platforms/uniswap_v4_zora_base_trades.sql
  dbt_subprojects/dex/seeds/trades/uniswap_arbitrum_base_trades_seed.csv
  dbt_subprojects/dex/seeds/trades/uniswap_avalanche_c_base_trades_seed.csv
  dbt_subprojects/dex/seeds/trades/uniswap_base_base_trades_seed.csv
  dbt_subprojects/dex/seeds/trades/uniswap_blast_base_trades_seed.csv
  dbt_subprojects/dex/seeds/trades/uniswap_bnb_base_trades_seed.csv
  dbt_subprojects/dex/seeds/trades/uniswap_ethereum_base_trades_seed.csv
  dbt_subprojects/dex/seeds/trades/uniswap_optimism_base_trades_seed.csv
  dbt_subprojects/dex/seeds/trades/uniswap_polygon_base_trades_seed.csv
  dbt_subprojects/dex/seeds/trades/uniswap_unichain_base_trades_seed.csv
  dbt_subprojects/dex/seeds/trades/uniswap_worldchain_base_trades_seed.csv
  dbt_subprojects/dex/seeds/trades/uniswap_zora_base_trades_seed.csv
  sources/_sector/dex/trades/arbitrum/_sources.yml
  sources/_sector/dex/trades/avalanche_c/_sources.yml
  sources/_sector/dex/trades/base/_sources.yml
  sources/_sector/dex/trades/blast/_sources.yml
  sources/_sector/dex/trades/bnb/_sources.yml
  sources/_sector/dex/trades/ethereum/_sources.yml
  sources/_sector/dex/trades/ink/_sources.yml
  sources/_sector/dex/trades/optimism/_sources.yml
  sources/_sector/dex/trades/polygon/_sources.yml
  sources/_sector/dex/trades/unichain/_sources.yml
  sources/_sector/dex/trades/worldchain/_sources.yml
  sources/_sector/dex/trades/zora/_sources.yml
Labels: ready-for-review, hotfix, dbt: dex

#7703 add more berachain prices
  dbt_subprojects/tokens/models/prices/berachain/prices_berachain_tokens.sql
Labels: ready-for-review, dbt: tokens

#7704 cow protocol: exclude failing model
  dbt_subprojects/hourly_spellbook/models/_project/cow_protocol/tx_hash_labels/cow_protocol_tx_hash_labels_all.sql
Labels: WIP, hotfix, dbt: hourly

#7711 Fix solana bot trades ambiguous column selection
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/platforms/alpha_dex_solana_bot_trades.sql
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/platforms/autosnipe_solana_bot_trades.sql
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/platforms/banana_gun_solana_bot_trades.sql
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/platforms/bitfoot_solana_bot_trades.sql
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/platforms/bloom_solana_bot_trades.sql
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/platforms/bonkbot_solana_bot_trades.sql
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/platforms/cswap_solana_bot_trades.sql
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/platforms/falcon_solana_bot_trades.sql
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/platforms/jupbot_solana_bot_trades.sql
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/platforms/looter_solana_bot_trades.sql
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/platforms/maestro_solana_bot_trades.sql
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/platforms/magnum_solana_bot_trades.sql
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/platforms/mev_x_solana_bot_trades.sql
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/platforms/nova_solana_bot_trades.sql
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/platforms/pepe_boost_solana_bot_trades.sql
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/platforms/pinkpunk_solana_bot_trades.sql
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/platforms/prophetbots_solana_bot_trades.sql
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/platforms/readyswap_solana_bot_trades.sql
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/platforms/sanji_solana_bot_trades.sql
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/platforms/shuriken_solana_bot_trades.sql
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/platforms/sol_gun_solana_bot_trades.sql
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/platforms/sol_trading_bot_solana_bot_trades.sql
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/platforms/soul_sniper_solana_bot_trades.sql
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/platforms/tirador_solana_bot_trades.sql
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/platforms/tradewiz_solana_bot_trades.sql
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/platforms/trojan_solana_bot_trades.sql
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/platforms/unibot_solana_bot_trades.sql
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/platforms/wifbot_solana_bot_trades.sql
Labels: ready-for-review, hotfix, dbt: solana

#7717 quick improvement for balancer_v3_liquidity
  dbt_macros/shared/balancer/balancer_bpt_prices_macro.sql
  dbt_macros/shared/balancer/balancer_liquidity_macro.sql
  dbt_macros/shared/balancer/balancer_token_balance_changes_macro.sql
  dbt_subprojects/hourly_spellbook/models/_project/balancer/liquidity/base/balancer_v3_base_liquidity.sql
Labels: ready-for-merging, dbt: hourly

#7713 Add EventLog decoded data (gmx v2) into 4 event models
  dbt_subprojects/hourly_spellbook/models/_project/gmx/event/arbitrum/gmx_v2_arbitrum_deposit_cancelled.sql
  dbt_subprojects/hourly_spellbook/models/_project/gmx/event/arbitrum/gmx_v2_arbitrum_deposit_executed.sql
  dbt_subprojects/hourly_spellbook/models/_project/gmx/event/arbitrum/gmx_v2_arbitrum_withdrawal_cancelled.sql
  dbt_subprojects/hourly_spellbook/models/_project/gmx/event/arbitrum/gmx_v2_arbitrum_withdrawal_executed.sql
  dbt_subprojects/hourly_spellbook/models/_project/gmx/event/avalanche_c/gmx_v2_avalanche_c_deposit_cancelled.sql
  dbt_subprojects/hourly_spellbook/models/_project/gmx/event/avalanche_c/gmx_v2_avalanche_c_deposit_executed.sql
  dbt_subprojects/hourly_spellbook/models/_project/gmx/event/avalanche_c/gmx_v2_avalanche_c_withdrawal_cancelled.sql
  dbt_subprojects/hourly_spellbook/models/_project/gmx/event/avalanche_c/gmx_v2_avalanche_c_withdrawal_executed.sql
  dbt_subprojects/hourly_spellbook/models/_project/gmx/tokens/arbitrum/gmx_v2_arbitrum_glvs_data.sql
  dbt_subprojects/hourly_spellbook/models/_project/gmx/tokens/arbitrum/gmx_v2_arbitrum_tokens_schema.yml
  dbt_subprojects/hourly_spellbook/models/_project/gmx/tokens/avalanche_c/gmx_v2_avalanche_c_glvs_data.sql
  dbt_subprojects/hourly_spellbook/models/_project/gmx/tokens/avalanche_c/gmx_v2_avalanche_c_tokens_schema.yml
  dbt_subprojects/hourly_spellbook/models/_project/gmx/tokens/gmx_v2_glvs_data.sql
  dbt_subprojects/hourly_spellbook/models/_project/gmx/tokens/gmx_v2_tokens_schema.yml
  sources/gmx/arbitrum/gmx_arbitrum_sources.yml
  sources/gmx/avalanche_c/gmx_avalanche_c_sources.yml
Labels: ready-for-merging, dbt: hourly

#7716 add new tokens
  dbt_subprojects/hourly_spellbook/models/_project/balancer/erc4626_tokens/base/balancer_v3_base_erc4626_token_mapping.sql
  dbt_subprojects/tokens/models/tokens/arbitrum/tokens_arbitrum_erc20.sql
  dbt_subprojects/tokens/models/tokens/base/tokens_base_erc20.sql
Labels: ready-for-merging, dbt: hourly, dbt: tokens

#7714 Add core tokens in tokens_berachain_erc20.sql
  dbt_subprojects/tokens/models/tokens/berachain/tokens_berachain_erc20.sql
Labels: ready-for-merging, dbt: tokens

#7685 Update berachain dexes
  dbt_subprojects/dex/models/_projects/beraswap/_schema.yml
  dbt_subprojects/dex/models/_projects/beraswap/beraswap_berachain_pools_fees.sql
  dbt_subprojects/dex/models/_projects/burrbear/_schema.yml
  dbt_subprojects/dex/models/_projects/burrbear/burrbear_berachain_pools_fees.sql
  dbt_subprojects/dex/models/dex_info.sql
  dbt_subprojects/dex/models/trades/berachain/_schema.yml
  dbt_subprojects/dex/models/trades/berachain/dex_berachain_base_trades.sql
  dbt_subprojects/dex/models/trades/berachain/platforms/beraswap_berachain_base_trades.sql
  dbt_subprojects/dex/models/trades/berachain/platforms/burrbear_berachain_base_trades.sql
  dbt_subprojects/dex/seeds/trades/_schema.yml
  dbt_subprojects/dex/seeds/trades/beraswap_berachain_base_trades_seed.csv
  dbt_subprojects/dex/seeds/trades/burrbear_berachain_base_trades_seed.csv
  models/_sector/labels/addresses/__single_category_labels__/beraswap/labels_beraswap_pools_berachain.sql
  models/_sector/labels/addresses/__single_category_labels__/beraswap/labels_beraswap_schema.yml
  models/_sector/labels/addresses/__single_category_labels__/burrbear/labels_burrbear_pools_berachain.sql
  models/_sector/labels/addresses/__single_category_labels__/burrbear/labels_burrbear_schema.yml
  sources/_sector/dex/trades/berachain/_sources.yml
Labels: ready-for-merging, dbt: dex

#7705 attempt 2 at using swap call trace data for v4 dex.trades
  dbt_subprojects/dex/macros/models/_project/uniswap_compatible_trades.sql
  dbt_subprojects/dex/models/trades/arbitrum/dex_arbitrum_base_trades.sql
  dbt_subprojects/dex/models/trades/arbitrum/platforms/uniswap_v4_arbitrum_base_trades.sql
  dbt_subprojects/dex/models/trades/avalanche_c/dex_avalanche_c_base_trades.sql
  dbt_subprojects/dex/models/trades/avalanche_c/platforms/uniswap_v4_avalanche_c_base_trades.sql
  dbt_subprojects/dex/models/trades/base/dex_base_base_trades.sql
  dbt_subprojects/dex/models/trades/base/platforms/uniswap_v4_base_base_trades.sql
  dbt_subprojects/dex/models/trades/blast/dex_blast_base_trades.sql
  dbt_subprojects/dex/models/trades/blast/platforms/uniswap_v4_blast_base_trades.sql
  dbt_subprojects/dex/models/trades/bnb/dex_bnb_base_trades.sql
  dbt_subprojects/dex/models/trades/bnb/platforms/uniswap_v4_bnb_base_trades.sql
  dbt_subprojects/dex/models/trades/ethereum/dex_ethereum_base_trades.sql
  dbt_subprojects/dex/models/trades/ethereum/platforms/uniswap_v4_ethereum_base_trades.sql
  dbt_subprojects/dex/models/trades/ink/dex_ink_base_trades.sql
  dbt_subprojects/dex/models/trades/ink/platforms/uniswap_v4_ink_base_trades.sql
  dbt_subprojects/dex/models/trades/optimism/dex_optimism_base_trades.sql
  dbt_subprojects/dex/models/trades/optimism/platforms/uniswap_v4_optimism_base_trades.sql
  dbt_subprojects/dex/models/trades/polygon/dex_polygon_base_trades.sql
  dbt_subprojects/dex/models/trades/polygon/platforms/uniswap_v4_polygon_base_trades.sql
  dbt_subprojects/dex/models/trades/unichain/dex_unichain_base_trades.sql
  dbt_subprojects/dex/models/trades/unichain/platforms/uniswap_v4_unichain_base_trades.sql
  dbt_subprojects/dex/models/trades/worldchain/dex_worldchain_base_trades.sql
  dbt_subprojects/dex/models/trades/worldchain/platforms/uniswap_v4_worldchain_base_trades.sql
  dbt_subprojects/dex/models/trades/zora/dex_zora_base_trades.sql
  dbt_subprojects/dex/models/trades/zora/platforms/uniswap_v4_zora_base_trades.sql
  dbt_subprojects/dex/seeds/trades/uniswap_arbitrum_base_trades_seed.csv
  dbt_subprojects/dex/seeds/trades/uniswap_avalanche_c_base_trades_seed.csv
  dbt_subprojects/dex/seeds/trades/uniswap_base_base_trades_seed.csv
  dbt_subprojects/dex/seeds/trades/uniswap_blast_base_trades_seed.csv
  dbt_subprojects/dex/seeds/trades/uniswap_bnb_base_trades_seed.csv
  dbt_subprojects/dex/seeds/trades/uniswap_ethereum_base_trades_seed.csv
  dbt_subprojects/dex/seeds/trades/uniswap_optimism_base_trades_seed.csv
  dbt_subprojects/dex/seeds/trades/uniswap_polygon_base_trades_seed.csv
  dbt_subprojects/dex/seeds/trades/uniswap_unichain_base_trades_seed.csv
  dbt_subprojects/dex/seeds/trades/uniswap_worldchain_base_trades_seed.csv
  dbt_subprojects/dex/seeds/trades/uniswap_zora_base_trades_seed.csv
  sources/_sector/dex/trades/arbitrum/_sources.yml
  sources/_sector/dex/trades/avalanche_c/_sources.yml
  sources/_sector/dex/trades/base/_sources.yml
  sources/_sector/dex/trades/blast/_sources.yml
  sources/_sector/dex/trades/bnb/_sources.yml
  sources/_sector/dex/trades/ethereum/_sources.yml
  sources/_sector/dex/trades/ink/_sources.yml
  sources/_sector/dex/trades/optimism/_sources.yml
  sources/_sector/dex/trades/polygon/_sources.yml
  sources/_sector/dex/trades/unichain/_sources.yml
  sources/_sector/dex/trades/worldchain/_sources.yml
  sources/_sector/dex/trades/zora/_sources.yml
Labels: ready-for-merging, dbt: dex

#7727 Hot fix for TON transfers volume to remove outliers
  dbt_subprojects/daily_spellbook/models/_metrics/transfers/chains/ton/metrics_ton_transfers_daily.sql
  dbt_subprojects/daily_spellbook/tests/ton/ton_metrics_transfers_test.sql
Labels: ready-for-merging, dbt: daily

#7706 Add new evmchains
  dbt_subprojects/daily_spellbook/models/evms/evms_blocks.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_contracts.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_erc20_approvals.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_erc20_transfers.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_logs.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_schema.yml
  dbt_subprojects/daily_spellbook/models/evms/evms_traces.sql
  sources/_base_sources/evm/apechain_base_sources.yml
  sources/_base_sources/evm/apechain_docs_block.md
  sources/_base_sources/evm/b3_base_sources.yml
  sources/_base_sources/evm/b3_docs_block.md
  sources/_base_sources/evm/boba_base_sources.yml
  sources/_base_sources/evm/boba_docs_block.md
Labels: ready-for-merging, dbt: daily

#7622 initiate eigenlayer project, models and sources
  dbt_subprojects/daily_spellbook/models/_projects/eigenlayer/_schema.yml
  dbt_subprojects/daily_spellbook/models/_projects/eigenlayer/ethereum/eigenlayer_ethereum_avs_metadata_uri_latest.sql
  dbt_subprojects/daily_spellbook/models/_projects/eigenlayer/ethereum/eigenlayer_ethereum_avs_operator_registration_status_latest.sql
  dbt_subprojects/daily_spellbook/models/_projects/eigenlayer/ethereum/eigenlayer_ethereum_operator_metadata_uri_latest.sql
  dbt_subprojects/daily_spellbook/models/_projects/eigenlayer/ethereum/eigenlayer_ethereum_operator_shares_change_by_day.sql
  dbt_subprojects/daily_spellbook/models/_projects/eigenlayer/ethereum/eigenlayer_ethereum_operator_shares_cumulative_by_day.sql
  dbt_subprojects/daily_spellbook/models/_projects/eigenlayer/ethereum/eigenlayer_ethereum_programmatic_incentive_by_day.sql
  dbt_subprojects/daily_spellbook/models/_projects/eigenlayer/ethereum/eigenlayer_ethereum_programmatic_incentive_flattened.sql
  dbt_subprojects/daily_spellbook/models/_projects/eigenlayer/ethereum/eigenlayer_ethereum_rewards_v1_by_day.sql
  dbt_subprojects/daily_spellbook/models/_projects/eigenlayer/ethereum/eigenlayer_ethereum_rewards_v1_flattened.sql
  dbt_subprojects/daily_spellbook/models/_projects/eigenlayer/ethereum/eigenlayer_ethereum_strategy_category.sql
  dbt_subprojects/daily_spellbook/models/_projects/eigenlayer/ethereum/eigenlayer_ethereum_strategy_shares_inflow_by_day.sql
  dbt_subprojects/daily_spellbook/models/_projects/eigenlayer/ethereum/eigenlayer_ethereum_strategy_shares_netflow_by_day.sql
  dbt_subprojects/daily_spellbook/models/_projects/eigenlayer/ethereum/eigenlayer_ethereum_strategy_shares_outflow_by_day.sql
  dbt_subprojects/daily_spellbook/models/_projects/eigenlayer/ethereum/eigenlayer_ethereum_withdrawal_completed_v2_enriched.sql
  dbt_subprojects/daily_spellbook/models/_projects/eigenlayer/ethereum/eigenlayer_ethereum_withdrawal_queued_v2_flattened.sql
  sources/_subprojects_outputs/daily_spellbook/_sources.yml
  sources/eigenlayer/eigenlayer_ethereum_sources.yml
Labels: ready-for-merging, dbt: daily

#7731 use WETH for flETH again cuz flETH price dates are not complete
  dbt_subprojects/tokens/models/prices/base/prices_base_tokens.sql
Labels: ready-for-review, dbt: tokens

#7735 Update Berachain token list
  dbt_subprojects/tokens/models/tokens/berachain/tokens_berachain_erc20.sql
Labels: ready-for-merging, dbt: tokens

#7732 add more breakdowns and models of eigenlayer tvl and total value restaked
  dbt_subprojects/daily_spellbook/models/_projects/eigenlayer/_schema.yml
  dbt_subprojects/daily_spellbook/models/_projects/eigenlayer/ethereum/eigenlayer_ethereum_pod_shares_updated_enriched.sql
  dbt_subprojects/daily_spellbook/models/_projects/eigenlayer/ethereum/eigenlayer_ethereum_strategy_shares_inflow_by_day.sql
  dbt_subprojects/daily_spellbook/models/_projects/eigenlayer/ethereum/eigenlayer_ethereum_strategy_shares_netflow_by_day.sql
  dbt_subprojects/daily_spellbook/models/_projects/eigenlayer/ethereum/eigenlayer_ethereum_strategy_shares_outflow_by_day.sql
  dbt_subprojects/daily_spellbook/models/_projects/eigenlayer/ethereum/eigenlayer_ethereum_underlying_token_exchange_rate.sql
  dbt_subprojects/daily_spellbook/models/_projects/eigenlayer/ethereum/eigenlayer_ethereum_underlying_token_exchange_rate_latest.sql
  dbt_subprojects/daily_spellbook/models/_projects/eigenlayer/ethereum/eigenlayer_ethereum_whitelisted_strategy_latest.sql
  dbt_subprojects/daily_spellbook/models/_projects/eigenlayer/ethereum/eigenlayer_ethereum_withdrawal_queued_v2_flattened.sql
  sources/eigenlayer/eigenlayer_ethereum_sources.yml
Labels: ready-for-merging, dbt: daily

#7728 Fix for TON Transfer volume: add upper bound based on the token TVL
  dbt_subprojects/daily_spellbook/models/_metrics/transfers/chains/ton/metrics_ton_transfers_daily.sql
Labels: ready-for-merging, dbt: daily

#7726 Blobs Binary Network tag fix
  dbt_subprojects/hourly_spellbook/models/_sector/blobs/ethereum/blobs_submitters.sql
Labels: easy, ready-for-merging, dbt: hourly

#7722 zeroex - update onchain tag
  dbt_subprojects/dex/macros/models/_project/zeroex/zeroex_v2.sql
Labels: ready-for-merging, dbt: dex

#7737 Revert "add more breakdowns and models of eigenlayer tvl and total va…
  dbt_subprojects/daily_spellbook/models/_projects/eigenlayer/_schema.yml
  dbt_subprojects/daily_spellbook/models/_projects/eigenlayer/ethereum/eigenlayer_ethereum_pod_shares_updated_enriched.sql
  dbt_subprojects/daily_spellbook/models/_projects/eigenlayer/ethereum/eigenlayer_ethereum_strategy_shares_inflow_by_day.sql
  dbt_subprojects/daily_spellbook/models/_projects/eigenlayer/ethereum/eigenlayer_ethereum_strategy_shares_netflow_by_day.sql
  dbt_subprojects/daily_spellbook/models/_projects/eigenlayer/ethereum/eigenlayer_ethereum_strategy_shares_outflow_by_day.sql
  dbt_subprojects/daily_spellbook/models/_projects/eigenlayer/ethereum/eigenlayer_ethereum_underlying_token_exchange_rate.sql
  dbt_subprojects/daily_spellbook/models/_projects/eigenlayer/ethereum/eigenlayer_ethereum_underlying_token_exchange_rate_latest.sql
  dbt_subprojects/daily_spellbook/models/_projects/eigenlayer/ethereum/eigenlayer_ethereum_whitelisted_strategy_latest.sql
  dbt_subprojects/daily_spellbook/models/_projects/eigenlayer/ethereum/eigenlayer_ethereum_withdrawal_queued_v2_flattened.sql
  sources/eigenlayer/eigenlayer_ethereum_sources.yml
Labels: ready-for-review, hotfix, dbt: daily

#7740 daily job: fix data type incompatabilities
  dbt_subprojects/daily_spellbook/models/_sector/labels/addresses/dex/persona/arbitrage_traders/ethereum/labels_arbitrage_traders_ethereum.sql
  dbt_subprojects/daily_spellbook/models/ape_store/base/ape_store_base_trades.sql
Labels: ready-for-review, hotfix, dbt: daily

#7743 mint square zksync: fix alias config, add static tag
  dbt_subprojects/nft/models/_sector/trades/chains/zksync/platforms/mint_square_zksync_base_trades.sql
Labels: ready-for-review, hotfix, dbt: nft

#7742 cast hex varchar to varbinary in eigenlayer_ethereum_withdrawal_queued_v2_flattened
  dbt_subprojects/daily_spellbook/models/_projects/eigenlayer/ethereum/eigenlayer_ethereum_withdrawal_queued_v2_flattened.sql
Labels: ready-for-review, dbt: daily

#7752 balancer v3 arbitrum mapping: exclude on table name change
  dbt_subprojects/hourly_spellbook/models/_project/balancer/erc4626_tokens/arbitrum/balancer_v3_arbitrum_erc4626_token_mapping.sql
Labels: ready-for-review, hotfix, dbt: hourly

#7754 add EigenLayer rewards related models
  dbt_subprojects/daily_spellbook/models/_projects/eigenlayer/_schema.yml
  dbt_subprojects/daily_spellbook/models/_projects/eigenlayer/ethereum/eigenlayer_ethereum_avs_paid_rewards.sql
Labels: ready-for-merging, dbt: daily

#7736 Restructure berachain labels
  dbt_subprojects/daily_spellbook/models/_sector/labels/addresses/__single_category_labels__/beraswap/labels_beraswap_pools_berachain.sql
  dbt_subprojects/daily_spellbook/models/_sector/labels/addresses/__single_category_labels__/beraswap/labels_beraswap_schema.yml
  dbt_subprojects/daily_spellbook/models/_sector/labels/addresses/__single_category_labels__/burrbear/labels_burrbear_pools_berachain.sql
  dbt_subprojects/daily_spellbook/models/_sector/labels/addresses/__single_category_labels__/burrbear/labels_burrbear_schema.yml
  models/_sector/labels/addresses/__single_category_labels__/beraswap/labels_beraswap_pools_berachain.sql
  models/_sector/labels/addresses/__single_category_labels__/burrbear/labels_burrbear_pools_berachain.sql
  sources/_sector/dex/trades/berachain/_sources.yml
Labels: ready-for-merging, dbt: daily

#7753 [easy] add x33 in sonic prices table
  dbt_subprojects/tokens/models/prices/sonic/prices_sonic_tokens.sql
Labels: ready-for-merging, dbt: tokens

#7750 add Blast tokens
  dbt_subprojects/tokens/models/tokens/blast/tokens_blast_erc20.sql
Labels: ready-for-merging, dbt: tokens

#7745 Add international stablecoin prices
  dbt_subprojects/tokens/models/prices/base/prices_base_tokens.sql
Labels: ready-for-merging, dbt: tokens

#7694 Add latest balances models to L2s
  dbt_subprojects/tokens/models/transfers_and_balances/arbitrum/_schema.yml
  dbt_subprojects/tokens/models/transfers_and_balances/arbitrum/tokens_arbitrum_balances_latest.sql
  dbt_subprojects/tokens/models/transfers_and_balances/avalanche_c/_schema.yml
  dbt_subprojects/tokens/models/transfers_and_balances/avalanche_c/tokens_avalanche_c_balances_latest.sql
  dbt_subprojects/tokens/models/transfers_and_balances/base/_schema.yml
  dbt_subprojects/tokens/models/transfers_and_balances/base/tokens_base_balances_latest.sql
  dbt_subprojects/tokens/models/transfers_and_balances/bnb/_schema.yml
  dbt_subprojects/tokens/models/transfers_and_balances/bnb/tokens_bnb_balances_latest.sql
  dbt_subprojects/tokens/models/transfers_and_balances/ethereum/_schema.yml
  dbt_subprojects/tokens/models/transfers_and_balances/linea/_schema.yml
  dbt_subprojects/tokens/models/transfers_and_balances/linea/tokens_linea_balances_latest.sql
  dbt_subprojects/tokens/models/transfers_and_balances/optimism/_schema.yml
  dbt_subprojects/tokens/models/transfers_and_balances/optimism/tokens_optimism_balances_latest.sql
  dbt_subprojects/tokens/models/transfers_and_balances/polygon/_schema.yml
  dbt_subprojects/tokens/models/transfers_and_balances/polygon/tokens_polygon_balances_latest.sql
  dbt_subprojects/tokens/models/transfers_and_balances/scroll/_schema.yml
  dbt_subprojects/tokens/models/transfers_and_balances/scroll/tokens_scroll_balances_latest.sql
Labels: ready-for-merging, dbt: tokens

#7747 attempt 3 on v4 dex.trades - joining swap call to swap event to get router info and better fee emitted
  dbt_subprojects/dex/macros/models/_project/uniswap_compatible_trades.sql
  dbt_subprojects/dex/models/trades/arbitrum/dex_arbitrum_base_trades.sql
  dbt_subprojects/dex/models/trades/arbitrum/platforms/uniswap_v4_arbitrum_base_trades.sql
  dbt_subprojects/dex/models/trades/avalanche_c/dex_avalanche_c_base_trades.sql
  dbt_subprojects/dex/models/trades/avalanche_c/platforms/uniswap_v4_avalanche_c_base_trades.sql
  dbt_subprojects/dex/models/trades/base/dex_base_base_trades.sql
  dbt_subprojects/dex/models/trades/base/platforms/uniswap_v4_base_base_trades.sql
  dbt_subprojects/dex/models/trades/blast/dex_blast_base_trades.sql
  dbt_subprojects/dex/models/trades/blast/platforms/uniswap_v4_blast_base_trades.sql
  dbt_subprojects/dex/models/trades/bnb/dex_bnb_base_trades.sql
  dbt_subprojects/dex/models/trades/bnb/platforms/uniswap_v4_bnb_base_trades.sql
  dbt_subprojects/dex/models/trades/ethereum/dex_ethereum_base_trades.sql
  dbt_subprojects/dex/models/trades/ethereum/platforms/uniswap_v4_ethereum_base_trades.sql
  dbt_subprojects/dex/models/trades/ink/dex_ink_base_trades.sql
  dbt_subprojects/dex/models/trades/ink/platforms/uniswap_v4_ink_base_trades.sql
  dbt_subprojects/dex/models/trades/optimism/dex_optimism_base_trades.sql
  dbt_subprojects/dex/models/trades/optimism/platforms/uniswap_v4_optimism_base_trades.sql
  dbt_subprojects/dex/models/trades/polygon/dex_polygon_base_trades.sql
  dbt_subprojects/dex/models/trades/polygon/platforms/uniswap_v4_polygon_base_trades.sql
  dbt_subprojects/dex/models/trades/unichain/dex_unichain_base_trades.sql
  dbt_subprojects/dex/models/trades/unichain/platforms/uniswap_v4_unichain_base_trades.sql
  dbt_subprojects/dex/models/trades/worldchain/dex_worldchain_base_trades.sql
  dbt_subprojects/dex/models/trades/worldchain/platforms/uniswap_v4_worldchain_base_trades.sql
  dbt_subprojects/dex/models/trades/zora/dex_zora_base_trades.sql
  dbt_subprojects/dex/models/trades/zora/platforms/uniswap_v4_zora_base_trades.sql
Labels: ready-for-merging, dbt: dex

#7748 simplify eigenlayer inflow and outflow, fix number incompatibility
  dbt_subprojects/daily_spellbook/models/_projects/eigenlayer/ethereum/eigenlayer_ethereum_strategy_shares_inflow_by_day.sql
  dbt_subprojects/daily_spellbook/models/_projects/eigenlayer/ethereum/eigenlayer_ethereum_strategy_shares_netflow_by_day.sql
  dbt_subprojects/daily_spellbook/models/_projects/eigenlayer/ethereum/eigenlayer_ethereum_strategy_shares_outflow_by_day.sql
Labels: ready-for-merging, dbt: daily

#7603 Update evms transfers
  dbt_subprojects/tokens/models/transfers_and_balances/apechain/_schema.yml
  dbt_subprojects/tokens/models/transfers_and_balances/apechain/tokens_apechain_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/apechain/tokens_apechain_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/berachain/_schema.yml
  dbt_subprojects/tokens/models/transfers_and_balances/berachain/tokens_berachain_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/berachain/tokens_berachain_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/boba/_schema.yml
  dbt_subprojects/tokens/models/transfers_and_balances/boba/tokens_boba_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/boba/tokens_boba_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/corn/_schema.yml
  dbt_subprojects/tokens/models/transfers_and_balances/corn/tokens_corn_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/corn/tokens_corn_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/flare/_schema.yml
  dbt_subprojects/tokens/models/transfers_and_balances/flare/tokens_flare_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/flare/tokens_flare_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/ink/_schema.yml
  dbt_subprojects/tokens/models/transfers_and_balances/ink/tokens_ink_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/ink/tokens_ink_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/kaia/_schema.yml
  dbt_subprojects/tokens/models/transfers_and_balances/kaia/tokens_kaia_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/kaia/tokens_kaia_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/nova/_schema.yml
  dbt_subprojects/tokens/models/transfers_and_balances/nova/tokens_nova_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/nova/tokens_nova_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/sonic/_schema.yml
  dbt_subprojects/tokens/models/transfers_and_balances/sonic/tokens_sonic_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/sonic/tokens_sonic_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/sophon/_schema.yml
  dbt_subprojects/tokens/models/transfers_and_balances/sophon/tokens_sophon_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/sophon/tokens_sophon_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/tokens_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/viction/_schema.yml
  dbt_subprojects/tokens/models/transfers_and_balances/viction/tokens_viction_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/viction/tokens_viction_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/worldchain/_schema.yml
  dbt_subprojects/tokens/models/transfers_and_balances/worldchain/tokens_worldchain_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/worldchain/tokens_worldchain_transfers.sql
Labels: ready-for-merging, dbt: tokens

#7759 remove prices-v2
  dbt_subprojects/tokens/models/prices_v2/_schema.yml
  dbt_subprojects/tokens/models/prices_v2/minute_inputs/prices_v2_coinpaprika_minute.sql
  dbt_subprojects/tokens/models/prices_v2/minute_inputs/prices_v2_dex_filter.sql
  dbt_subprojects/tokens/models/prices_v2/minute_inputs/prices_v2_dex_minute.sql
  dbt_subprojects/tokens/models/prices_v2/minute_inputs/prices_v2_dex_minute_raw.sql
  dbt_subprojects/tokens/models/prices_v2/prices_v2_day.sql
  dbt_subprojects/tokens/models/prices_v2/prices_v2_latest.sql
  dbt_subprojects/tokens/models/prices_v2/sparse_prices/prices_v2_day_sparse.sql
  dbt_subprojects/tokens/models/prices_v2/sparse_prices/prices_v2_hour_sparse.sql
  dbt_subprojects/tokens/models/prices_v2/sparse_prices/prices_v2_minute_sparse.sql
Labels: ready-for-review, dbt: tokens

#7755 add new model eigenlayer latest whitelist strategy
  dbt_subprojects/daily_spellbook/models/_projects/eigenlayer/_schema.yml
  dbt_subprojects/daily_spellbook/models/_projects/eigenlayer/ethereum/eigenlayer_ethereum_whitelisted_strategy_latest.sql
  sources/eigenlayer/eigenlayer_ethereum_sources.yml
Labels: ready-for-review, dbt: daily

#7756 add new model - eigenlayer share to underlying token exchange rate
  dbt_subprojects/daily_spellbook/models/_projects/eigenlayer/_schema.yml
  dbt_subprojects/daily_spellbook/models/_projects/eigenlayer/ethereum/eigenlayer_ethereum_underlying_token_exchange_rate.sql
  dbt_subprojects/daily_spellbook/models/_projects/eigenlayer/ethereum/eigenlayer_ethereum_underlying_token_exchange_rate_latest.sql
  sources/eigenlayer/eigenlayer_ethereum_sources.yml
Labels: ready-for-merging, dbt: daily

#7758 Remove prod exclude from balancer_v3_erc4626_token_mapping
  dbt_subprojects/hourly_spellbook/models/_project/balancer/erc4626_tokens/arbitrum/balancer_v3_arbitrum_erc4626_token_mapping.sql
Labels: ready-for-merging, dbt: hourly

#7765 update net transfers to read from chain-specific sources
  dbt_subprojects/tokens/macros/transfers/net_transfers.sql
Labels: ready-for-merging, dbt: tokens
