Repository duneanalytics/spellbook, pull requests merged in 2025-04, with the labels that each got.

#7955 fix FTW decimals
  dbt_subprojects/tokens/models/prices/arbitrum/prices_arbitrum_tokens.sql
Labels: ready-for-review, hotfix, dbt: tokens

#7912 Celo GoodDollar - claims & claimers
  dbt_subprojects/daily_spellbook/models/gooddollar/celo/_schema.yml
  dbt_subprojects/daily_spellbook/models/gooddollar/celo/gooddollar_celo_ubi_claimer_streaks.sql
  dbt_subprojects/daily_spellbook/models/gooddollar/celo/gooddollar_celo_ubi_claimers_agg.sql
  dbt_subprojects/daily_spellbook/models/gooddollar/celo/gooddollar_celo_ubi_claims.sql
  dbt_subprojects/daily_spellbook/models/gooddollar/celo/gooddollar_celo_ubi_claims_daily_agg.sql
  sources/_subprojects_outputs/hourly_spellbook/_sources.yml
  sources/gooddollar/celo/_sources.yml
Labels: ready-for-merging, blocked, dbt: daily

#7958 Added new token in tokens/models/prices/solana/prices_solana_tokens.sql
  dbt_subprojects/tokens/models/prices/solana/prices_solana_tokens.sql
Labels: ready-for-merging, dbt: tokens

#7961 feat(prices): updated prices tokens lists
  dbt_subprojects/tokens/models/prices/ethereum/prices_ethereum_tokens.sql
  dbt_subprojects/tokens/models/prices/polygon/prices_polygon_tokens.sql
Labels: ready-for-merging, dbt: tokens

#7964 [easy] add pendle tokens in erc20
  dbt_subprojects/tokens/models/tokens/sonic/tokens_sonic_erc20.sql
Labels: ready-for-merging, dbt: tokens

#7962 updated and added new tokens prices list of solana
  dbt_subprojects/tokens/models/prices/solana/prices_solana_tokens.sql
Labels: ready-for-merging, dbt: tokens

#7949 Add Opensea (Ronin) to nft.trades
  dbt_subprojects/nft/models/_sector/trades/chains/ronin/nft_ronin_base_trades.sql
  dbt_subprojects/nft/models/_sector/trades/chains/ronin/platforms/_schema.yml
  dbt_subprojects/nft/models/_sector/trades/chains/ronin/platforms/opensea_v4_ronin_base_trades.sql
  sources/_sector/nft/trades/ronin_sources.yml
  sources/seaport/seaport_ronin_sources.yml
Labels: ready-for-merging, dbt: nft

#7982 jarvis network: exclude model due to duplicates
  dbt_subprojects/daily_spellbook/models/jarvis_network/polygon/jarvis_network_polygon_all_transactions.sql
Labels: ready-for-review, dbt: daily

#7977 add ink to evms.{} tables
  dbt_subprojects/daily_spellbook/models/evms/evms_blocks.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_contracts.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_creation_traces.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_erc1155_approvalsforall.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_erc1155_transfersbatch.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_erc1155_transferssingle.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_erc20_approvals.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_erc20_transfers.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_erc721_approvals.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_erc721_approvalsforall.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_erc721_transfers.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_logs.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_logs_decoded.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_schema.yml
  dbt_subprojects/daily_spellbook/models/evms/evms_traces.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_traces_decoded.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_transactions.sql
Labels: ready-for-merging, dbt: daily

#7976 Nexus Mutual - stETH adjusted oracle date fix
  dbt_subprojects/daily_spellbook/models/nexusmutual/ethereum/capital_pool/nexusmutual_ethereum_capital_pool_totals.sql
Labels: ready-for-merging, dbt: daily

#7975 Added new token in tokens/models/prices/solana/prices_solana_tokens.sql
  dbt_subprojects/tokens/models/prices/solana/prices_solana_tokens.sql
Labels: ready-for-merging, dbt: tokens

#7970 Worldchain daily balances
  dbt_subprojects/tokens/models/transfers_and_balances/worldchain/_schema.yml
  dbt_subprojects/tokens/models/transfers_and_balances/worldchain/tokens_worldchain_balances_daily.sql
  dbt_subprojects/tokens/models/transfers_and_balances/worldchain/tokens_worldchain_balances_daily_agg.sql
  dbt_subprojects/tokens/models/transfers_and_balances/worldchain/tokens_worldchain_balances_daily_agg_base.sql
Labels: ready-for-merging, dbt: tokens

#7954 add sUSDS sky.money
  dbt_subprojects/tokens/models/prices/ethereum/prices_ethereum_tokens.sql
Labels: ready-for-merging, dbt: tokens

#7965 Add Swanswap to dex.trades
  dbt_subprojects/dex/models/dex_info.sql
  dbt_subprojects/dex/models/trades/shape/_schema.yml
  dbt_subprojects/dex/models/trades/shape/dex_shape_base_trades.sql
  dbt_subprojects/dex/models/trades/shape/platforms/swanswap_shape_base_trades.sql
  dbt_subprojects/dex/seeds/trades/_schema.yml
  dbt_subprojects/dex/seeds/trades/swanswap_shape_base_trades_seed.csv
  sources/_sector/dex/trades/shape/_sources.yml
Labels: ready-for-merging, dbt: dex

#7960 Add squidswap to dex.trades
  dbt_subprojects/dex/models/dex_info.sql
  dbt_subprojects/dex/models/trades/ink/_schema.yml
  dbt_subprojects/dex/models/trades/ink/dex_ink_base_trades.sql
  dbt_subprojects/dex/models/trades/ink/platforms/squidswap_ink_base_trades.sql
  dbt_subprojects/dex/seeds/trades/_schema.yml
  dbt_subprojects/dex/seeds/trades/squidswap_ink_base_trades_seed.csv
  sources/_sector/dex/trades/ink/_sources.yml
Labels: ready-for-merging, dbt: dex

#7945 Add Dyorswap on INK to dex.trades
  dbt_subprojects/dex/models/trades/ink/_schema.yml
  dbt_subprojects/dex/models/trades/ink/dex_ink_base_trades.sql
  dbt_subprojects/dex/models/trades/ink/platforms/dyorswap_ink_base_trades.sql
  dbt_subprojects/dex/seeds/trades/_schema.yml
  dbt_subprojects/dex/seeds/trades/dyorswap_ink_base_trades_seed.csv
  sources/_sector/dex/trades/ink/_sources.yml
Labels: ready-for-merging, dbt: dex

#7972 Add shape.contracts in source
  sources/_base_sources/evm/shape_base_sources.yml
Labels: ready-for-merging

#7990 fix tokens compile
  sources/_base_sources/evm/shape_base_sources.yml
Labels: ready-for-review

#7980 1inch-U64: fusion settlement updates
  dbt_subprojects/dex/macros/models/_project/oneinch/_meta/oneinch_blockchain_macro.sql
Labels: ready-for-merging, dbt: dex

#7991 dex project: use incremental predicates
  dbt_subprojects/dex/models/_projects/balancer/labels/ethereum/labels_balancer_v1_pools_ethereum.sql
  dbt_subprojects/dex/models/_projects/balancer/pools/arbitrum/balancer_v2_arbitrum_pools_fees.sql
  dbt_subprojects/dex/models/_projects/balancer/pools/avalanche_c/balancer_v2_avalanche_c_pools_fees.sql
  dbt_subprojects/dex/models/_projects/balancer/pools/base/balancer_v2_base_pools_fees.sql
  dbt_subprojects/dex/models/_projects/balancer/pools/ethereum/balancer_v2_ethereum_pools_fees.sql
  dbt_subprojects/dex/models/_projects/balancer/pools/gnosis/balancer_v2_gnosis_pools_fees.sql
  dbt_subprojects/dex/models/_projects/balancer/pools/optimism/balancer_v2_optimism_pools_fees.sql
  dbt_subprojects/dex/models/_projects/balancer/pools/polygon/balancer_v2_polygon_pools_fees.sql
  dbt_subprojects/dex/models/_projects/balancer/pools/zkevm/balancer_v2_zkevm_pools_fees.sql
  dbt_subprojects/dex/models/_projects/balancer/trades/ethereum/balancer_v1_ethereum_trades.sql
  dbt_subprojects/dex/models/_projects/dodo/arbitrum/dodo_aggregator_arbitrum_trades.sql
  dbt_subprojects/dex/models/_projects/dodo/base/dodo_aggregator_base_trades.sql
  dbt_subprojects/dex/models/_projects/dodo/bnb/dodo_aggregator_bnb_trades.sql
  dbt_subprojects/dex/models/_projects/dodo/ethereum/dodo_aggregator_ethereum_trades.sql
  dbt_subprojects/dex/models/_projects/dodo/optimism/dodo_aggregator_optimism_trades.sql
  dbt_subprojects/dex/models/_projects/dodo/polygon/dodo_aggregator_polygon_trades.sql
  dbt_subprojects/dex/models/_projects/ellipsis_finance/ellipsis_finance_bnb_pool_tokens.sql
  dbt_subprojects/dex/models/_projects/equalizer/fantom/equalizer_fantom_pools.sql
  dbt_subprojects/dex/models/_projects/kyberswap/arbitrum/kyberswap_aggregator_arbitrum_trades.sql
  dbt_subprojects/dex/models/_projects/kyberswap/avalanche_c/kyberswap_aggregator_avalanche_c_trades.sql
  dbt_subprojects/dex/models/_projects/kyberswap/bnb/kyberswap_aggregator_bnb_trades.sql
  dbt_subprojects/dex/models/_projects/kyberswap/ethereum/kyberswap_aggregator_ethereum_trades.sql
  dbt_subprojects/dex/models/_projects/kyberswap/optimism/kyberswap_aggregator_optimism_trades.sql
  dbt_subprojects/dex/models/_projects/kyberswap/polygon/kyberswap_aggregator_polygon_trades.sql
  dbt_subprojects/dex/models/_projects/lifi/fantom/lifi_v2_fantom_trades.sql
  dbt_subprojects/dex/models/_projects/lifi/optimism/lifi_v2_optimism_trades.sql
  dbt_subprojects/dex/models/_projects/spartacus_exchange/fantom/spartacus_exchange_fantom_pools.sql
  dbt_subprojects/dex/models/_projects/spiritswap/fantom/spiritswap_fantom_pools.sql
  dbt_subprojects/dex/models/_projects/spookyswap/fantom/spookyswap_fantom_pools.sql
  dbt_subprojects/dex/models/_projects/uniswap/arbitrum/uniswap_arbitrum_pools.sql
  dbt_subprojects/dex/models/_projects/uniswap/bnb/uniswap_bnb_pools.sql
  dbt_subprojects/dex/models/_projects/uniswap/celo/uniswap_celo_pools.sql
  dbt_subprojects/dex/models/_projects/uniswap/ethereum/uniswap_ethereum_pools.sql
  dbt_subprojects/dex/models/_projects/uniswap/polygon/uniswap_polygon_pools.sql
  dbt_subprojects/dex/models/_projects/wigoswap/fantom/wigoswap_fantom_pools.sql
  dbt_subprojects/dex/models/pools/dex_pools.sql
  dbt_subprojects/dex/models/sandwiches/dex_sandwiches.sql
Labels: WIP, dbt: dex

#7939 CUR2-22 Ton net transfers asset
  dbt_subprojects/daily_spellbook/models/_metrics/transfers/_schema.yml
  dbt_subprojects/daily_spellbook/models/_metrics/transfers/chains/ton/metrics_ton_transfers_daily_asset.sql
  dbt_subprojects/daily_spellbook/models/_metrics/transfers/metrics_transfers_daily_asset.sql
  dbt_subprojects/daily_spellbook/models/ton/tokens_ton_net_transfers_daily.sql
  dbt_subprojects/daily_spellbook/models/ton/tokens_ton_net_transfers_daily_asset.sql
  dbt_subprojects/daily_spellbook/models/ton/ton.yml
  dbt_subprojects/daily_spellbook/models/ton/ton_latest_jetton_metadata.sql
Labels: ready-for-merging, dbt: daily

#7985 Upgrade ens_set_name_latest to incremental view
  dbt_subprojects/hourly_spellbook/models/_project/ens/ens_set_name_latest.sql
Labels: ready-for-merging, dbt: hourly

#7992 dex project: use incremental predicates part 2
  dbt_subprojects/dex/models/_projects/balancer/trades/ethereum/balancer_v1_ethereum_trades.sql
  dbt_subprojects/dex/models/_projects/dodo/arbitrum/dodo_aggregator_arbitrum_trades.sql
  dbt_subprojects/dex/models/_projects/dodo/base/dodo_aggregator_base_trades.sql
  dbt_subprojects/dex/models/_projects/dodo/bnb/dodo_aggregator_bnb_trades.sql
  dbt_subprojects/dex/models/_projects/dodo/dodo_aggregator_trades.sql
  dbt_subprojects/dex/models/_projects/dodo/ethereum/dodo_aggregator_ethereum_trades.sql
  dbt_subprojects/dex/models/_projects/dodo/optimism/dodo_aggregator_optimism_trades.sql
  dbt_subprojects/dex/models/_projects/dodo/polygon/dodo_aggregator_polygon_trades.sql
  dbt_subprojects/dex/models/_projects/kyberswap/arbitrum/kyberswap_aggregator_arbitrum_trades.sql
  dbt_subprojects/dex/models/_projects/kyberswap/avalanche_c/kyberswap_aggregator_avalanche_c_trades.sql
  dbt_subprojects/dex/models/_projects/kyberswap/bnb/kyberswap_aggregator_bnb_trades.sql
  dbt_subprojects/dex/models/_projects/kyberswap/ethereum/kyberswap_aggregator_ethereum_trades.sql
  dbt_subprojects/dex/models/_projects/kyberswap/optimism/kyberswap_aggregator_optimism_trades.sql
  dbt_subprojects/dex/models/_projects/kyberswap/polygon/kyberswap_aggregator_polygon_trades.sql
Labels: ready-for-review, dbt: dex

#7993 Added CFGI to prices_ethereum_tokens.sql
  dbt_subprojects/tokens/models/prices/ethereum/prices_ethereum_tokens.sql
Labels: ready-for-review, dbt: tokens

#8003 Add "ELX` to the "tokens" and "prices" lists of Ethereum
  dbt_subprojects/tokens/models/prices/ethereum/prices_ethereum_tokens.sql
  dbt_subprojects/tokens/models/tokens/ethereum/tokens_ethereum_erc20.sql
Labels: ready-for-review, dbt: tokens

#8006 [easy] add token and price for stargate's USD₮0 on worldchain
  dbt_subprojects/tokens/models/prices/worldchain/prices_worldchain_tokens.sql
  dbt_subprojects/tokens/models/tokens/worldchain/tokens_worldchain_erc20.sql
Labels: ready-for-review, dbt: tokens

#7999 Update license
  LICENSE
Labels: ready-for-review

#7998 [easy] add beefy lst in prices and erc20 mapping
  dbt_subprojects/tokens/models/prices/sonic/prices_sonic_tokens.sql
  dbt_subprojects/tokens/models/tokens/sonic/tokens_sonic_erc20.sql
Labels: ready-for-review, dbt: tokens

#7994 add more vaults
  dbt_subprojects/hourly_spellbook/models/_project/balancer/erc4626_tokens/sonic/balancer_v3_sonic_erc4626_token_mapping.sql
  dbt_subprojects/tokens/models/tokens/sonic/tokens_sonic_erc20.sql
Labels: ready-for-review, dbt: hourly, dbt: tokens

#8000 Materialize cex addresses spells
  dbt_subprojects/hourly_spellbook/macros/sector/cex/cex_evms.sql
  dbt_subprojects/hourly_spellbook/models/_sector/cex/addresses/chains/arbitrum/cex_arbitrum_addresses.sql
  dbt_subprojects/hourly_spellbook/models/_sector/cex/addresses/chains/avalanche_c/cex_avalanche_c_addresses.sql
  dbt_subprojects/hourly_spellbook/models/_sector/cex/addresses/chains/base/cex_base_addresses.sql
  dbt_subprojects/hourly_spellbook/models/_sector/cex/addresses/chains/bnb/cex_bnb_addresses.sql
  dbt_subprojects/hourly_spellbook/models/_sector/cex/addresses/chains/celo/cex_celo_addresses.sql
  dbt_subprojects/hourly_spellbook/models/_sector/cex/addresses/chains/cex_evms_addresses.sql
  dbt_subprojects/hourly_spellbook/models/_sector/cex/addresses/chains/ethereum/cex_ethereum_addresses.sql
  dbt_subprojects/hourly_spellbook/models/_sector/cex/addresses/chains/fantom/cex_fantom_addresses.sql
  dbt_subprojects/hourly_spellbook/models/_sector/cex/addresses/chains/gnosis/cex_gnosis_addresses.sql
  dbt_subprojects/hourly_spellbook/models/_sector/cex/addresses/chains/linea/cex_linea_addresses.sql
  dbt_subprojects/hourly_spellbook/models/_sector/cex/addresses/chains/mantle/cex_mantle_addresses.sql
  dbt_subprojects/hourly_spellbook/models/_sector/cex/addresses/chains/optimism/cex_optimism_addresses.sql
  dbt_subprojects/hourly_spellbook/models/_sector/cex/addresses/chains/polygon/cex_polygon_addresses.sql
  dbt_subprojects/hourly_spellbook/models/_sector/cex/addresses/chains/scroll/cex_scroll_addresses.sql
  dbt_subprojects/hourly_spellbook/models/_sector/cex/addresses/chains/sei/cex_sei_addresses.sql
  dbt_subprojects/hourly_spellbook/models/_sector/cex/addresses/chains/worldchain/cex_worldchain_addresses.sql
  dbt_subprojects/hourly_spellbook/models/_sector/cex/addresses/chains/zkevm/cex_zkevm_addresses.sql
  dbt_subprojects/hourly_spellbook/models/_sector/cex/addresses/chains/zksync/cex_zksync_addresses.sql
  dbt_subprojects/hourly_spellbook/models/_sector/cex/addresses/chains/zora/cex_zora_addresses.sql
Labels: ready-for-merging, dbt: hourly

#8010 feat: new tokens in "tokens.erc20" and "prices.tokens" Base lists
  dbt_subprojects/tokens/models/prices/base/prices_base_tokens.sql
  dbt_subprojects/tokens/models/tokens/base/tokens_base_erc20.sql
Labels: ready-for-review, dbt: tokens

#8018 fix BTT price feed on TRON
  dbt_subprojects/tokens/models/prices/tron/prices_tron_tokens.sql
Labels: ready-for-review, dbt: tokens

#7997 CUR2-7 pumpswap
  dbt_subprojects/solana/models/_sector/dex/dex_solana_base_trades.sql
  dbt_subprojects/solana/models/_sector/dex/dex_solana_trades.sql
  dbt_subprojects/solana/models/_sector/dex/pumpswap/pumpswap_solana_base_trades.sql
  dbt_subprojects/solana/models/_sector/dex/pumpswap/pumpswap_solana_pools.sql
  dbt_subprojects/solana/models/_sector/dex/pumpswap/pumpswap_solana_trades.sql
  dbt_subprojects/solana/models/_sector/dex/pumpswap/schema.yml
Labels: ready-for-merging, dbt: solana

#8009 Init opBNB chain
  dbt_subprojects/daily_spellbook/models/evms/evms_erc1155_transfersbatch.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_erc1155_transferssingle.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_erc20_transfers.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_erc721_transfers.sql
  dbt_subprojects/daily_spellbook/models/evms/evms_info.sql
  dbt_subprojects/tokens/models/prices/opbnb/prices_opbnb_schema.yml
  dbt_subprojects/tokens/models/prices/opbnb/prices_opbnb_tokens.sql
  dbt_subprojects/tokens/models/prices/prices_tokens.sql
  dbt_subprojects/tokens/models/tokens/opbnb/tokens_opbnb_erc20.sql
  dbt_subprojects/tokens/models/tokens/opbnb/tokens_opbnb_schema.yml
  dbt_subprojects/tokens/models/tokens/tokens_erc20.sql
  sources/_base_sources/evm/opbnb_base_sources.yml
  sources/_base_sources/evm/opbnb_docs_block.md
Labels: ready-for-merging, dbt: daily, dbt: tokens

#8014 Add degen prices
  dbt_subprojects/tokens/models/prices/degen/prices_degen_schema.yml
  dbt_subprojects/tokens/models/prices/degen/prices_degen_tokens.sql
  dbt_subprojects/tokens/models/prices/prices_tokens.sql
Labels: ready-for-merging, dbt: tokens

#8016 added Solana tokens to prices list
  dbt_subprojects/tokens/models/prices/solana/prices_solana_tokens.sql
Labels: ready-for-merging, dbt: tokens

#8015 Add opbnb transfers
  dbt_subprojects/tokens/models/transfers_and_balances/opbnb/_schema.yml
  dbt_subprojects/tokens/models/transfers_and_balances/opbnb/tokens_opbnb_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/opbnb/tokens_opbnb_net_transfers_daily.sql
  dbt_subprojects/tokens/models/transfers_and_balances/opbnb/tokens_opbnb_net_transfers_daily_asset.sql
  dbt_subprojects/tokens/models/transfers_and_balances/opbnb/tokens_opbnb_transfers.sql
Labels: ready-for-merging, dbt: tokens

#8004 CUR2-126 Add degen transfers
  dbt_subprojects/tokens/models/transfers_and_balances/_schema.yml
  dbt_subprojects/tokens/models/transfers_and_balances/degen/_schema.yml
  dbt_subprojects/tokens/models/transfers_and_balances/degen/tokens_degen_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/degen/tokens_degen_net_transfers_daily.sql
  dbt_subprojects/tokens/models/transfers_and_balances/degen/tokens_degen_net_transfers_daily_asset.sql
  dbt_subprojects/tokens/models/transfers_and_balances/degen/tokens_degen_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/tokens_net_transfers_daily.sql
  dbt_subprojects/tokens/models/transfers_and_balances/tokens_net_transfers_daily_asset.sql
  dbt_subprojects/tokens/models/transfers_and_balances/tokens_transfers.sql
Labels: ready-for-merging, dbt: tokens

#8021 Update tokens_berachain_erc20.sql
  dbt_subprojects/tokens/models/tokens/berachain/tokens_berachain_erc20.sql
Labels: ready-for-review, dbt: tokens

#8024 add opbnb to dex trades downstream
  dbt_subprojects/dex/models/trades/dex_base_trades.sql
Labels: ready-for-review, hotfix, dbt: dex

#8025 added WalletConnect token `WCT` in `prices_optimism_tokens_curated.sql`
  dbt_subprojects/tokens/models/prices/optimism/prices_optimism_tokens_curated.sql
Labels: ready-for-review, dbt: tokens

#8030 added USDBr token
  dbt_subprojects/tokens/models/prices/berachain/prices_berachain_tokens.sql
Labels: ready-for-merging, dbt: tokens

#8028 Nexus Mutual - capital pool transfers refactor
  dbt_subprojects/daily_spellbook/models/nexusmutual/ethereum/capital_pool/_schema.yml
  dbt_subprojects/daily_spellbook/models/nexusmutual/ethereum/capital_pool/nexusmutual_ethereum_capital_pool_transfers.sql
Labels: ready-for-merging, dbt: daily

#8026 Nexus Mutual - premium calc fix
  dbt_subprojects/daily_spellbook/models/nexusmutual/ethereum/covers/nexusmutual_ethereum_covers_v2.sql
Labels: ready-for-merging, dbt: daily

#8011 perf(bonkbot): improve bonkbot bot trades spellbook
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/_schema.yml
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/dex_solana_bot_trades.sql
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/platforms/bonkbot/bonkbot_solana_bot_trades.sql
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/platforms/bonkbot/bonkbot_solana_fee_payments_raw.sql
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/platforms/bonkbot/bonkbot_solana_fee_payments_usd.sql
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/platforms/bonkbot/bonkbot_solana_fee_token_prices.sql
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/platforms/bonkbot/schema.yml
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/platforms/bonkbot_solana_bot_trades.sql
Labels: ready-for-merging, dbt: solana

#8032 CUR2-115 RON token to read from WRON
  dbt_subprojects/nft/macros/enrich_nft_trades.sql
  dbt_subprojects/nft/models/_sector/trades/nft_trades.sql
  dbt_subprojects/nft/models/_sector/trades/nft_trades_beta.sql
Labels: ready-for-merging, dbt: nft

#8036 CUR2-135 Add 5 missing transfers
  dbt_subprojects/tokens/models/transfers_and_balances/b3/_schema.yml
  dbt_subprojects/tokens/models/transfers_and_balances/b3/tokens_b3_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/b3/tokens_b3_net_transfers_daily.sql
  dbt_subprojects/tokens/models/transfers_and_balances/b3/tokens_b3_net_transfers_daily_asset.sql
  dbt_subprojects/tokens/models/transfers_and_balances/b3/tokens_b3_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/bob/_schema.yml
  dbt_subprojects/tokens/models/transfers_and_balances/bob/tokens_bob_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/bob/tokens_bob_net_transfers_daily.sql
  dbt_subprojects/tokens/models/transfers_and_balances/bob/tokens_bob_net_transfers_daily_asset.sql
  dbt_subprojects/tokens/models/transfers_and_balances/bob/tokens_bob_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/shape/_schema.yml
  dbt_subprojects/tokens/models/transfers_and_balances/shape/tokens_shape_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/shape/tokens_shape_net_transfers_daily.sql
  dbt_subprojects/tokens/models/transfers_and_balances/shape/tokens_shape_net_transfers_daily_asset.sql
  dbt_subprojects/tokens/models/transfers_and_balances/shape/tokens_shape_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/tokens_net_transfers_daily.sql
  dbt_subprojects/tokens/models/transfers_and_balances/tokens_net_transfers_daily_asset.sql
  dbt_subprojects/tokens/models/transfers_and_balances/tokens_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/unichain/_schema.yml
  dbt_subprojects/tokens/models/transfers_and_balances/unichain/tokens_unichain_base_transfers.sql
  dbt_subprojects/tokens/models/transfers_and_balances/unichain/tokens_unichain_net_transfers_daily.sql
  dbt_subprojects/tokens/models/transfers_and_balances/unichain/tokens_unichain_net_transfers_daily_asset.sql
  dbt_subprojects/tokens/models/transfers_and_balances/unichain/tokens_unichain_transfers.sql
  sources/_base_sources/evm/b3_base_sources.yml
Labels: ready-for-merging, dbt: tokens

#8038 tokens unichain update
  dbt_subprojects/tokens/models/prices/unichain/prices_unichain_tokens.sql
  dbt_subprojects/tokens/models/tokens/unichain/tokens_unichain_erc20.sql
Labels: ready-for-merging, dbt: tokens

#8043 new euler cluster vault
  dbt_subprojects/hourly_spellbook/models/_project/balancer/erc4626_tokens/sonic/balancer_v3_sonic_erc4626_token_mapping.sql
  dbt_subprojects/tokens/models/tokens/sonic/tokens_sonic_erc20.sql
Labels: ready-for-merging, dbt: hourly, dbt: tokens

#8044 remove deprecated macro udfs
  dbt_macros/deprecated_udfs/base58_decode.sql
  dbt_macros/deprecated_udfs/bytea2numeric_v3.sql
  dbt_macros/deprecated_udfs/get_balancer_link.sql
  dbt_macros/deprecated_udfs/get_chain_explorer.sql
  dbt_macros/deprecated_udfs/get_chain_explorer_address.sql
  dbt_macros/deprecated_udfs/get_chain_explorer_tx_hash.sql
  dbt_macros/deprecated_udfs/get_chain_native_token.sql
  dbt_macros/shared/get_href.sql
  dbt_subprojects/daily_spellbook/tests/macros/public/bytea2numeric_v3_test.sql
  dbt_subprojects/daily_spellbook/tests/macros/public/get_chain_explorer_test.sql
  dbt_subprojects/daily_spellbook/tests/macros/public/get_chain_native_token_test.sql
  dbt_subprojects/daily_spellbook/tests/macros/public/get_href_test.sql
Labels: ready-for-review, dbt: daily

#8046 unichain, zkevm: add a few prices
  dbt_subprojects/tokens/models/prices/unichain/prices_unichain_tokens.sql
  dbt_subprojects/tokens/models/prices/zkevm/prices_zkevm_tokens.sql
Labels: ready-for-review, dbt: tokens

#8054 CUR2-151 Balances daily agg: Use correct unique_key and partition by day
  dbt_subprojects/tokens/models/transfers_and_balances/arbitrum/_schema.yml
  dbt_subprojects/tokens/models/transfers_and_balances/arbitrum/tokens_arbitrum_balances_daily_agg_base.sql
  dbt_subprojects/tokens/models/transfers_and_balances/avalanche_c/_schema.yml
  dbt_subprojects/tokens/models/transfers_and_balances/avalanche_c/tokens_avalanche_c_balances_daily_agg_base.sql
  dbt_subprojects/tokens/models/transfers_and_balances/base/_schema.yml
  dbt_subprojects/tokens/models/transfers_and_balances/base/tokens_base_balances_daily_agg_base.sql
  dbt_subprojects/tokens/models/transfers_and_balances/kaia/_schema.yml
  dbt_subprojects/tokens/models/transfers_and_balances/kaia/tokens_kaia_balances_daily_agg_base.sql
  dbt_subprojects/tokens/models/transfers_and_balances/linea/_schema.yml
  dbt_subprojects/tokens/models/transfers_and_balances/linea/tokens_linea_balances_daily_agg_base.sql
  dbt_subprojects/tokens/models/transfers_and_balances/optimism/_schema.yml
  dbt_subprojects/tokens/models/transfers_and_balances/optimism/tokens_optimism_balances_daily_agg_base.sql
  dbt_subprojects/tokens/models/transfers_and_balances/polygon/_schema.yml
  dbt_subprojects/tokens/models/transfers_and_balances/polygon/tokens_polygon_balances_daily_agg_base.sql
  dbt_subprojects/tokens/models/transfers_and_balances/worldchain/_schema.yml
  dbt_subprojects/tokens/models/transfers_and_balances/worldchain/tokens_worldchain_balances_daily_agg_base.sql
Labels: ready-for-merging, dbt: tokens

#8048 Update prices_solana_tokens.sql
  dbt_subprojects/tokens/models/prices/solana/prices_solana_tokens.sql
Labels: ready-for-merging, dbt: tokens

#8049 perf(bonkbot): create dedicated ctes for SOL and SPL/token2022 fee payments
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/platforms/bonkbot/bonkbot_solana_fee_payments_raw.sql
Labels: ready-for-merging, dbt: solana

#8058 Revert "perf: create dedicated cte's for SOL and SPL/token2022 fee pa…
  dbt_subprojects/solana/models/_sector/dex/bot_trades/solana/platforms/bonkbot/bonkbot_solana_fee_payments_raw.sql
Labels: ready-for-review, dbt: solana

#8067 balancer avax pools: remove troubled decoded source
  dbt_subprojects/dex/models/_projects/balancer/labels/avalanche_c/labels_balancer_v2_pools_avalanche_c.sql
Labels: ready-for-review, hotfix, dbt: dex

#8068 🔧 Patch: Add date filter to avoid broken decoding after pump.fun upgrade
  dbt_subprojects/solana/models/_sector/dex/pumpswap/pumpswap_solana_base_trades.sql
Labels: ready-for-merging, dbt: solana

#8071 Fix troubled decoded source #8067
  dbt_subprojects/dex/models/_projects/balancer/labels/avalanche_c/labels_balancer_v2_pools_avalanche_c.sql
Labels: ready-for-merging, dbt: dex

#8005 Add StormTrade tables
  dbt_subprojects/daily_spellbook/macros/project/ton/README.md
  dbt_subprojects/daily_spellbook/macros/project/ton/ton_boc_state_type.sql
  dbt_subprojects/daily_spellbook/macros/project/ton/ton_from_boc.sql
  dbt_subprojects/daily_spellbook/macros/project/ton/ton_load_address_impl.sql
  dbt_subprojects/daily_spellbook/macros/project/ton/ton_load_coins.sql
  dbt_subprojects/daily_spellbook/macros/project/ton/ton_load_coins_impl.sql
  dbt_subprojects/daily_spellbook/macros/project/ton/ton_load_maybe_ref.sql
  dbt_subprojects/daily_spellbook/macros/project/ton/ton_load_maybe_ref_impl.sql
  dbt_subprojects/daily_spellbook/macros/project/ton/ton_skip_maybe_ref.sql
  dbt_subprojects/daily_spellbook/macros/project/ton/ton_skip_maybe_ref_impl.sql
  dbt_subprojects/daily_spellbook/models/stormtrade/ton/stormtrade_ton_complete_order.sql
  dbt_subprojects/daily_spellbook/models/stormtrade/ton/stormtrade_ton_execute_order.sql
  dbt_subprojects/daily_spellbook/models/stormtrade/ton/stormtrade_ton_schema.yml
  dbt_subprojects/daily_spellbook/models/stormtrade/ton/stormtrade_ton_trade_notification.sql
  dbt_subprojects/daily_spellbook/models/stormtrade/ton/stormtrade_ton_update_position.sql
  dbt_subprojects/daily_spellbook/tests/ton/ton_boc_parser_load_address.sql
  dbt_subprojects/daily_spellbook/tests/ton/ton_boc_parser_load_coins.sql
  dbt_subprojects/daily_spellbook/tests/ton/ton_boc_parser_load_maybe_ref.sql
  dbt_subprojects/daily_spellbook/tests/ton/ton_boc_parser_load_maybe_ref_empty_address.sql
  dbt_subprojects/daily_spellbook/tests/ton/ton_boc_parser_skip_maybe_ref.sql
Labels: ready-for-merging, dbt: daily

#8059 add euler sts
  dbt_subprojects/hourly_spellbook/models/_project/balancer/erc4626_tokens/sonic/balancer_v3_sonic_erc4626_token_mapping.sql
  dbt_subprojects/tokens/models/tokens/sonic/tokens_sonic_erc20.sql
Labels: ready-for-merging, dbt: hourly, dbt: tokens

#7838 magic eden on abstract
  dbt_subprojects/nft/models/_sector/trades/chains/_schema.yml
  dbt_subprojects/nft/models/_sector/trades/chains/abstract/nft_abstract_base_trades.sql
  dbt_subprojects/nft/models/_sector/trades/chains/abstract/platforms/_schema.yml
  dbt_subprojects/nft/models/_sector/trades/chains/abstract/platforms/magiceden_abstract_base_trades.sql
  dbt_subprojects/nft/models/_sector/trades/nft_base_trades.sql
  dbt_subprojects/nft/models/_sector/trades/nft_trades.sql
  dbt_subprojects/nft/models/_sector/trades/schema.yml
  sources/seaport/seaport_abstract_sources.yml
Labels: ready-for-merging, dbt: nft

#8079 Fix column name on GyroECLPPoolFactory
  dbt_subprojects/dex/models/_projects/balancer/labels/avalanche_c/labels_balancer_v2_pools_avalanche_c.sql
Labels: ready-for-review, dbt: dex

#8077 Add NFT entities to ton.accounts and support for jetton funding transactions
  dbt_subprojects/daily_spellbook/models/ton/ton_accounts.sql
  sources/_base_sources/other/ton_base_sources.yml
Labels: ready-for-merging, dbt: daily

#8075 abstract addresses_events.first_funded_by
  dbt_subprojects/hourly_spellbook/models/_sector/addresses_events/abstract/addresses_events_abstract_first_activity.sql
  dbt_subprojects/hourly_spellbook/models/_sector/addresses_events/abstract/addresses_events_abstract_first_funded_by.sql
  dbt_subprojects/hourly_spellbook/models/_sector/addresses_events/abstract/addresses_events_abstract_schema.yml
  dbt_subprojects/hourly_spellbook/models/_sector/addresses_events/addresses_events_first_activity.sql
  dbt_subprojects/hourly_spellbook/models/_sector/addresses_events/addresses_events_first_funded_by.sql
  dbt_subprojects/hourly_spellbook/models/_sector/addresses_events/addresses_events_schema.yml
  sources/_subprojects_outputs/tokens/transfers.yml
Labels: ready-for-merging, dbt: hourly

#8045 lido.liquidity unichain
  dbt_subprojects/hourly_spellbook/models/_project/lido/liquidity/unichain/lido_liquidity_unichain_schema.yml
  dbt_subprojects/hourly_spellbook/models/_project/lido/liquidity/unichain/lido_liquidity_unichain_uniswap_v4_pools.sql
  sources/lido/liquidity/unichain/lido_liquidity_unichain_sources.yml
Labels: ready-for-merging, dbt: hourly

#8029 Add Inkswap to dex.trades
  dbt_subprojects/dex/models/dex_info.sql
  dbt_subprojects/dex/models/trades/ink/_schema.yml
  dbt_subprojects/dex/models/trades/ink/dex_ink_base_trades.sql
  dbt_subprojects/dex/models/trades/ink/platforms/inkswap_ink_base_trades.sql
  dbt_subprojects/dex/seeds/trades/_schema.yml
  dbt_subprojects/dex/seeds/trades/inkswap_ink_base_trades_seed.csv
  sources/_sector/dex/trades/ink/_sources.yml
Labels: ready-for-merging, dbt: dex

#7973 zeroex_v2 macro - add swap signature
  dbt_subprojects/dex/macros/models/_project/zeroex/zeroex_v2.sql
Labels: ready-for-merging, dbt: dex

#8089 [CoW Protocol] Add: Copium, Apollo, Wraxyn, Unizen, Piggy
  dbt_subprojects/hourly_spellbook/models/_project/cow_protocol/arbitrum/cow_protocol_arbitrum_solvers.sql
  dbt_subprojects/hourly_spellbook/models/_project/cow_protocol/base/cow_protocol_base_solvers.sql
  dbt_subprojects/hourly_spellbook/models/_project/cow_protocol/ethereum/cow_protocol_ethereum_schema.yml
  dbt_subprojects/hourly_spellbook/models/_project/cow_protocol/ethereum/cow_protocol_ethereum_solvers.sql
Labels: ready-for-merging, dbt: hourly

#8086 lido.liquidity upstream spell update
  dbt_subprojects/hourly_spellbook/models/_project/lido/lido_liquidity.sql
Labels: ready-for-merging, dbt: hourly

#8055 rocketpool minipools and node operators
  dbt_subprojects/daily_spellbook/models/rocketpool/rocketpool_minipool_balance_distribution.sql
  dbt_subprojects/daily_spellbook/models/rocketpool/rocketpool_minipool_beacon_deposit.sql
  dbt_subprojects/daily_spellbook/models/rocketpool/rocketpool_minipool_beacon_withdrawal.sql
  dbt_subprojects/daily_spellbook/models/rocketpool/rocketpool_minipool_bond_reduction.sql
  dbt_subprojects/daily_spellbook/models/rocketpool/rocketpool_minipool_created_destroyed.sql
  dbt_subprojects/daily_spellbook/models/rocketpool/rocketpool_minipool_deposit_credit.sql
  dbt_subprojects/daily_spellbook/models/rocketpool/rocketpool_minipool_deposit_standard.sql
  dbt_subprojects/daily_spellbook/models/rocketpool/rocketpool_minipool_deposit_vacant.sql
  dbt_subprojects/daily_spellbook/models/rocketpool/rocketpool_minipool_master.sql
  dbt_subprojects/daily_spellbook/models/rocketpool/rocketpool_minipool_pubkey_index.sql
  dbt_subprojects/daily_spellbook/models/rocketpool/rocketpool_minipool_queue.sql
  dbt_subprojects/daily_spellbook/models/rocketpool/rocketpool_node_master.sql
  dbt_subprojects/daily_spellbook/models/rocketpool/rocketpool_node_operators.sql
  dbt_subprojects/daily_spellbook/models/rocketpool/rocketpool_node_rpl_staking.sql
  dbt_subprojects/daily_spellbook/models/rocketpool/rocketpool_node_smoothing_pool.sql
  dbt_subprojects/daily_spellbook/models/rocketpool/rocketpool_schema.yml
  sources/_subprojects_outputs/hourly_spellbook/_sources.yml
  sources/rocketpool/ethereum/rocketpool_ethereum_sources.yml
Labels: ready-for-merging, dbt: daily

#8088 [easy] add tokens in tokens_sonic_erc20.sql
  dbt_subprojects/tokens/models/tokens/sonic/tokens_sonic_erc20.sql
Labels: ready-for-merging, dbt: tokens

#8083 Update prices_solana_tokens.sql
  dbt_subprojects/tokens/models/prices/solana/prices_solana_tokens.sql
Labels: ready-for-merging, dbt: tokens

#8064 add Sailor Finance
  dbt_subprojects/dex/models/dex_info.sql
  dbt_subprojects/dex/models/trades/sei/_schema.yml
  dbt_subprojects/dex/models/trades/sei/dex_sei_base_trades.sql
  dbt_subprojects/dex/models/trades/sei/platforms/sailor_finance_sei_base_trades.sql
  dbt_subprojects/dex/seeds/trades/_schema.yml
  dbt_subprojects/dex/seeds/trades/sailor_finance_sei_base_trades_seed.csv
  sources/_sector/dex/trades/sei/_sources.yml
Labels: ready-for-merging, dbt: dex

#8085 Add Reservoir swap on ink to dex.trades
  dbt_subprojects/dex/models/trades/ink/_schema.yml
  dbt_subprojects/dex/models/trades/ink/dex_ink_base_trades.sql
  dbt_subprojects/dex/models/trades/ink/platforms/reservoir_swap_ink_base_trades.sql
  dbt_subprojects/dex/seeds/trades/_schema.yml
  dbt_subprojects/dex/seeds/trades/reservoir_swap_ink_base_trades_seed.csv
  sources/_sector/dex/trades/ink/_sources.yml
Labels: ready-for-merging, dbt: dex

#8093 added `Sign` in price lists
  dbt_subprojects/tokens/models/prices/base/prices_base_tokens.sql
  dbt_subprojects/tokens/models/prices/bnb/prices_bnb_tokens.sql
  dbt_subprojects/tokens/models/prices/ethereum/prices_ethereum_tokens.sql
Labels: ready-for-merging, dbt: tokens

#8091 fix balancer v3 prices
  dbt_macros/shared/balancer/balancer_liquidity_macro.sql
Labels: ready-for-merging, dbt: hourly, dbt: daily

#8096 fix(dex): temp disable sei
  dbt_subprojects/dex/macros/models/_decoding/uniswap_exposed_blockchains_list.sql
Labels: ready-for-merging, dbt: dex

#8103 feat: update "prices" lists with HYPER token
  dbt_subprojects/tokens/models/prices/arbitrum/prices_arbitrum_tokens.sql
  dbt_subprojects/tokens/models/prices/base/prices_base_tokens.sql
  dbt_subprojects/tokens/models/prices/bnb/prices_bnb_tokens.sql
  dbt_subprojects/tokens/models/prices/ethereum/prices_ethereum_tokens.sql
  dbt_subprojects/tokens/models/prices/optimism/prices_optimism_tokens_curated.sql
Labels: ready-for-merging, dbt: tokens

#8099 Add new Stablecoins
  dbt_subprojects/tokens/models/tokens/ethereum/tokens_ethereum_erc20_stablecoins.sql
Labels: ready-for-merging, dbt: tokens

#7367 Add Paraswap Delta models
  dbt_subprojects/dex/macros/models/_project/paraswap/delta/v1/safe_settle_batch_swap.sql
  dbt_subprojects/dex/macros/models/_project/paraswap/delta/v1/settle_swap.sql
  dbt_subprojects/dex/macros/models/_project/paraswap/delta/v2/executor_fee_amount.sql
  dbt_subprojects/dex/macros/models/_project/paraswap/delta/v2/executor_fee_amount_usd.sql
  dbt_subprojects/dex/macros/models/_project/paraswap/delta/v2/master.sql
  dbt_subprojects/dex/macros/models/_project/paraswap/delta/v2/methods/swap_settle.sql
  dbt_subprojects/dex/macros/models/_project/paraswap/delta/v2/methods/swap_settle_batch.sql
  dbt_subprojects/dex/macros/to_wrapped_native_token.sql
  dbt_subprojects/dex/models/_projects/paraswap/base/_schema.yml
  dbt_subprojects/dex/models/_projects/paraswap/base/paraswap_delta_v2_base_trades.sql
  dbt_subprojects/dex/models/_projects/paraswap/ethereum/_schema.yml
  dbt_subprojects/dex/models/_projects/paraswap/ethereum/paraswap_delta_v1_ethereum_trades.sql
  dbt_subprojects/dex/models/_projects/paraswap/ethereum/paraswap_delta_v2_ethereum_trades.sql
  sources/paraswap/base/paraswap_base_sources.yml
  sources/paraswap/ethereum/paraswap_ethereum_sources.yml
Labels: ready-for-merging, dbt: dex

#7840 add cex addresses
  dbt_subprojects/hourly_spellbook/models/_sector/cex/addresses/chains/bitcoin/cex_bitcoin_addresses.sql
  dbt_subprojects/hourly_spellbook/models/_sector/cex/addresses/chains/cex_evms_addresses.sql
Labels: ready-for-merging, dbt: hourly
